/****** Object:  StoredProcedure [dbo].[usp_GetSchoolLeftStudentDetails]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 12 May
-- Description:	This procedure is used to collect information of student,
--				who has left the school in given academic year.
-- =============================================

-- =============================================
-- modified by:		yogesh
-- Create date: 30 Oct 2015
-- Description:	usp displayed duplicate records.
-- =============================================
-- =============================================
-- Modified:	LC_Details changed to LEFT OUTER JOIN
--				with Is_Deleted filter in ON clause.
--				Corrected swapped Standard/Division mapping
--				and #tblMaxYearwiseStudentId join.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetSchoolLeftStudentDetails]
	@School_Id INT,
	@Academic_Year_Id INT=NULL,
	@Month_Id INT = Null,
	@Standard_Id NVARCHAR(500) = ''	
AS
BEGIN
	SET NOCOUNT ON;
		
		DECLARE @AcademicYearId INT 
		SET @AcademicYearId = @Academic_Year_Id
		
	IF @AcademicYearId = 0
BEGIN
SET @AcademicYearId  = NULL
END 

DECLARE @tblStandardIds AS TABLE
	(
		StandardId INT
	)	

	IF (@Standard_Id <> '')
		BEGIN				
			INSERT INTO @tblStandardIds
			 SELECT * 
			   FROM dbo.udf_GetTableFromList(@Standard_Id)
		END
	ELSE
		BEGIN			
			INSERT INTO @tblStandardIds
				 SELECT Standard_Id 
				   FROM Standard_Master
				  WHERE Is_Deleted = 'N'
					AND School_Id = @School_Id
					AND (@AcademicYearId IS NULL OR academic_Year_Id = @AcademicYearId)
		END

		   		  
CREATE TABLE #tblMaxYearwiseStudentId
(
	YearwiseStudentId INT
)
	INSERT INTO #tblMaxYearwiseStudentId
    SELECT     MAX(dbo.YearWise_Student_Details.YearWise_Student_Id) AS YearwiseStudentId
	  FROM     dbo.YearWise_Student_Details 
INNER JOIN	   dbo.SchoolWise_Student_Master 
        ON	   dbo.YearWise_Student_Details.Student_Id = dbo.SchoolWise_Student_Master.SchoolWise_Student_Id
	 WHERE    (dbo.SchoolWise_Student_Master.Joining_Date IS NOT NULL)
	 and dbo.YearWise_Student_Details.is_deleted = 'N'
  GROUP BY    dbo.SchoolWise_Student_Master.SchoolWise_Student_Id

--SELECT * FROM #tblMaxYearwiseStudentId

CREATE TABLE #tblStudentInfo 
(
        Academic_Year NVARCHAR(11),
		Reg_No NVARCHAR(50),
		Roll_No INT,
		Name NVARCHAR(200),
		Class NVARCHAR(50),
		Admission_Date DATETIME,
		Left_Date DATETIME,
		Mobile_Number NVARCHAR(11),		
		Academic_Year_Id INT,
		Original_Standard_Id INT,
		Original_Division_Id INT,
		CancelationFormNo INT,
		FormNumber NVARCHAR(100),
		Reason_Of_Leaving NVARCHAR(300)
		
)                     
                      
DECLARE @tblSchoolwiseAcademicYears AS TABLE
(
	AcademicYearId INT,
	YearValue NVARCHAR(20),
	StartDate DateTime,
	EndDate DateTime
)
                      
DECLARE  @Academic_Year_Id1 INT,@YearValue NVARCHAR(30), @StartDate datetime, @EndDate datetime 

IF @AcademicYearId IS NULL OR @AcademicYearId = 0
	BEGIN                 
		INSERT INTO		@tblSchoolwiseAcademicYears
			 SELECT		Academic_Year_ID, 		
						StartYear + N'-' + EndYear AS YearValue,
						Start_Date,
						End_Date
			   FROM		vw_SchoolwiseAcademicYearInfo  WITH(NOLOCK)
			  WHERE     (School_Id = @School_id) 
				AND     (Is_Deleted = N'N')
		   ORDER BY		Academic_Year_ID DESC
	END   
ELSE
	BEGIN
		INSERT INTO		@tblSchoolwiseAcademicYears
			 SELECT		Academic_Year_ID, 		
						StartYear + N'-' + EndYear AS YearValue,
						Start_Date,
						End_Date
			   FROM		vw_SchoolwiseAcademicYearInfo  WITH(NOLOCK)
			  WHERE     (School_Id = @School_id) 
				AND     (Is_Deleted = N'N')
				AND     (Academic_Year_Id = @AcademicYearId)
		   ORDER BY		Academic_Year_ID DESC
	END 
	

WHILE EXISTS
(
	SELECT TOP 1 1
	FROM @tblSchoolwiseAcademicYears
)
BEGIN
SELECT TOP 1 @Academic_Year_Id1 = AcademicYearId,
             @YearValue = YearValue, 
			 @StartDate = StartDate, 
			 @EndDate = EndDate 
        FROM @tblSchoolwiseAcademicYears
	ORDER BY AcademicYearId

	IF (@Month_Id = 0 OR @Month_Id IS NULL)
		BEGIN
			IF(@School_Id = 71)	-- PPSN School Only
				BEGIN
					INSERT INTO	#tblStudentInfo
						 SELECT @YearValue AS YearValue, 
								VBSD.Enrolment_Number, 
								YSD.Roll_No, 
								VBSD.StudentName AS Name, 
								VSD.className AS Standard_Division_Name, 
								VBSD.Admission_Date, 
								VBSD.SchoolLeft_Date, 
								VBSD.Mobile_Number, 
								YSD.Academic_Year_ID, 
								VSD.Original_Standard_Id, 
								VSD.Original_Division_Id,
								VBSD.CancellationFormNo,
								SWSM.FormNumber,
								LD.Reason_Of_Leaving
						   FROM dbo.vw_BaseStudentDetails AS VBSD WITH (NOLOCK) 
					 INNER JOIN dbo.YearWise_Student_Details AS YSD WITH (NOLOCK) 
							 ON VBSD.SchoolWise_Student_Id = YSD.Student_Id 
							AND VBSD.School_Id = YSD.School_Id
					 INNER JOIN dbo.vw_standard_division AS VSD WITH (NOLOCK) 
							 ON YSD.Standard_Id = VSD.Standard_Id 
							AND YSD.Division_id = VSD.Division_Id 
							AND YSD.Academic_Year_ID = VSD.academic_year_id 
							AND YSD.School_Id = VSD.School_Id
					 INNER JOIN @tblStandardIds SS
							 ON VSD.Original_Standard_Id = SS.StandardId
					 INNER JOIN dbo.[#tblMaxYearwiseStudentId] 
							 ON [#tblMaxYearwiseStudentId].YearwiseStudentId = YSD.YearWise_Student_Id
					 INNER JOIN dbo.SchoolWise_Student_Master SWSM WITH (NOLOCK)
							 ON VBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id
							AND YSD.Student_Id = SWSM.SchoolWise_Student_Id
							AND YSD.School_Id = SWSM.School_Id
				 LEFT OUTER JOIN dbo.LC_Details LD WITH (NOLOCK)
							 ON LD.Student_Id = YSD.Student_Id
							AND LD.Is_Deleted = 'N'
						  WHERE (VBSD.Is_Deleted = 'N')
							--AND VBSD.SchoolLeft_Date BETWEEN @StartDate AND @EndDate
							AND YSD.Academic_Year_ID = @Academic_Year_Id1
							AND (VBSD.SchoolLeft_Date IS NOT NULL) 
							AND (YSD.School_Id = @School_Id) 
							AND (VBSD.SchoolLeft_Date <> '')
							AND YSD.Is_Deleted = 'N'
					   ORDER BY VSD.Original_Standard_Id, 
								VSD.Original_Division_Id, 
								VBSD.SchoolLeft_Date DESC
				END
			ELSE
				BEGIN
					INSERT INTO	#tblStudentInfo
						 SELECT @YearValue AS YearValue, 
								VBSD.Enrolment_Number, 
								YSD.Roll_No, 
								VBSD.StudentName AS Name, 
								VSD.className AS Standard_Division_Name, 
								VBSD.Admission_Date, 
								VBSD.SchoolLeft_Date, 
								VBSD.Mobile_Number, 
								YSD.Academic_Year_ID, 
								VSD.Original_Standard_Id, 
								VSD.Original_Division_Id,
								VBSD.CancellationFormNo,
								SWSM.FormNumber,
								LD.Reason_Of_Leaving
						   FROM dbo.vw_BaseStudentDetails AS VBSD WITH (NOLOCK) 
					 INNER JOIN dbo.YearWise_Student_Details AS YSD WITH (NOLOCK) 
							 ON VBSD.SchoolWise_Student_Id = YSD.Student_Id 
							AND VBSD.School_Id = YSD.School_Id
					 INNER JOIN dbo.vw_standard_division AS VSD WITH (NOLOCK) 
							 ON YSD.Standard_Id = VSD.Standard_Id 
							AND YSD.Division_id = VSD.Division_Id 
							AND YSD.Academic_Year_ID = VSD.academic_year_id 
							AND YSD.School_Id = VSD.School_Id
					 INNER JOIN dbo.[#tblMaxYearwiseStudentId] 
							 ON [#tblMaxYearwiseStudentId].YearwiseStudentId = YSD.YearWise_Student_Id
					 INNER JOIN dbo.SchoolWise_Student_Master SWSM WITH (NOLOCK)
							 ON VBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id
							AND YSD.Student_Id = SWSM.SchoolWise_Student_Id
							AND YSD.School_Id = SWSM.School_Id
					 INNER JOIN @tblStandardIds SS
							 ON VSD.Original_Standard_Id = SS.StandardId
				 LEFT OUTER JOIN dbo.LC_Details LD WITH (NOLOCK)
							 ON LD.Student_Id = YSD.Student_Id
							AND LD.Is_Deleted = 'N'
						  WHERE (VBSD.Is_Deleted = 'N')
							AND VBSD.SchoolLeft_Date BETWEEN @StartDate AND @EndDate
							AND (VBSD.SchoolLeft_Date IS NOT NULL) 
							AND (YSD.School_Id = @School_Id) 
							AND (VBSD.SchoolLeft_Date <> '')
							AND YSD.Is_Deleted = 'N'
					   ORDER BY VSD.Original_Standard_Id, 
								VSD.Original_Division_Id, 
								VBSD.SchoolLeft_Date DESC
				END
		END
    ELSE
		BEGIN
			IF(@School_Id = 71) -- PPSN School Only
				BEGIN
						INSERT INTO	#tblStudentInfo
							 SELECT @YearValue AS YearValue, 
									VBSD.Enrolment_Number, 
									YSD.Roll_No, 
									VBSD.StudentName AS Name, 
									VSD.className AS Standard_Division_Name, 
									VBSD.Admission_Date, 
									VBSD.SchoolLeft_Date, 
									VBSD.Mobile_Number, 
									YSD.Academic_Year_ID, 
									VSD.Original_Standard_Id, 
									VSD.Original_Division_Id,
									VBSD.CancellationFormNo,
									SWSM.FormNumber,
									LD.Reason_Of_Leaving
							   FROM dbo.vw_BaseStudentDetails AS VBSD WITH (NOLOCK) 
						 INNER JOIN dbo.YearWise_Student_Details AS YSD WITH (NOLOCK) 
								 ON VBSD.SchoolWise_Student_Id = YSD.Student_Id 
								AND VBSD.School_Id = YSD.School_Id
						 INNER JOIN dbo.vw_standard_division AS VSD WITH (NOLOCK) 
								 ON YSD.Standard_Id = VSD.Standard_Id 
								AND YSD.Division_id = VSD.Division_Id 
								AND YSD.Academic_Year_ID = VSD.academic_year_id 
								AND YSD.School_Id = VSD.School_Id
						 INNER JOIN dbo.[#tblMaxYearwiseStudentId] 
								 ON [#tblMaxYearwiseStudentId].YearwiseStudentId = YSD.YearWise_Student_Id
						 INNER JOIN dbo.SchoolWise_Student_Master SWSM WITH (NOLOCK)
								 ON VBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id
								AND YSD.Student_Id = SWSM.SchoolWise_Student_Id
								AND YSD.School_Id = SWSM.School_Id
						 INNER JOIN @tblStandardIds SS
								 ON VSD.Original_Standard_Id = SS.StandardId
					 LEFT OUTER JOIN dbo.LC_Details LD WITH (NOLOCK)
								 ON LD.Student_Id = YSD.Student_Id
								AND LD.Is_Deleted = 'N'
							  WHERE (VBSD.Is_Deleted = 'N')					
								AND (VBSD.SchoolLeft_Date IS NOT NULL)
								AND MONTH(VBSD.SchoolLeft_Date) = @Month_Id
								AND (YSD.School_Id = @School_Id) 
								AND (VBSD.SchoolLeft_Date <> '')
								--AND VBSD.SchoolLeft_Date BETWEEN @StartDate AND @EndDate
								AND YSD.Academic_Year_ID = @Academic_Year_Id1
								AND YSD.Is_Deleted = 'N'
						   ORDER BY VSD.Original_Standard_Id, 
									VSD.Original_Division_Id, 
									VBSD.SchoolLeft_Date DESC
				END
			ELSE
				BEGIN
					    INSERT INTO	#tblStudentInfo
							 SELECT @YearValue AS YearValue, 
									VBSD.Enrolment_Number, 
									YSD.Roll_No, 
									VBSD.StudentName AS Name, 
									VSD.className AS Standard_Division_Name, 
									VBSD.Admission_Date, 
									VBSD.SchoolLeft_Date, 
									VBSD.Mobile_Number, 
									YSD.Academic_Year_ID, 
									VSD.Original_Standard_Id, 
									VSD.Original_Division_Id,
									VBSD.CancellationFormNo,
									SWSM.FormNumber,
									LD.Reason_Of_Leaving
							   FROM dbo.vw_BaseStudentDetails AS VBSD WITH (NOLOCK) 
						 INNER JOIN dbo.YearWise_Student_Details AS YSD WITH (NOLOCK) 
								 ON VBSD.SchoolWise_Student_Id = YSD.Student_Id 
								AND VBSD.School_Id = YSD.School_Id
						 INNER JOIN dbo.vw_standard_division AS VSD WITH (NOLOCK) 
								 ON YSD.Standard_Id = VSD.Standard_Id 
								AND YSD.Division_id = VSD.Division_Id 
								AND YSD.Academic_Year_ID = VSD.academic_year_id 
								AND YSD.School_Id = VSD.School_Id
						 INNER JOIN dbo.[#tblMaxYearwiseStudentId] 
								 ON [#tblMaxYearwiseStudentId].YearwiseStudentId = YSD.YearWise_Student_Id
						 INNER JOIN dbo.SchoolWise_Student_Master SWSM WITH (NOLOCK)
								 ON VBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id
								AND YSD.Student_Id = SWSM.SchoolWise_Student_Id
								AND YSD.School_Id = SWSM.School_Id
						 INNER JOIN @tblStandardIds SS
								 ON VSD.Original_Standard_Id = SS.StandardId
					 LEFT OUTER JOIN dbo.LC_Details LD WITH (NOLOCK)
								 ON LD.Student_Id = YSD.Student_Id
								AND LD.Is_Deleted = 'N'
							  WHERE (VBSD.Is_Deleted = 'N')					
								AND (VBSD.SchoolLeft_Date IS NOT NULL)
								AND MONTH(VBSD.SchoolLeft_Date) = @Month_Id
								AND (YSD.School_Id = @School_Id) 
								AND (VBSD.SchoolLeft_Date <> '')
								AND VBSD.SchoolLeft_Date BETWEEN @StartDate AND @EndDate
								AND YSD.Is_Deleted = 'N'
						   ORDER BY VSD.Original_Standard_Id, 
									VSD.Original_Division_Id, 
									VBSD.SchoolLeft_Date DESC
				END
		END     
 
		
     DELETE FROM @tblSchoolwiseAcademicYears
	WHERE AcademicYearId = @Academic_Year_Id1	                 
END 
		SELECT ROW_NUMBER() OVER (Order by Academic_Year_Id desc,Original_Standard_Id asc,Original_Division_Id asc,Left_Date desc ) as SrNo ,Academic_Year,
				CASE WHEN Reg_No IS NULL OR LTRIM(RTRIM(Reg_No)) = '' THEN '-' ELSE Reg_No END AS Reg_No,
				Roll_No,
				Name,
				Class,
				Admission_Date,
				Left_Date,
				Mobile_Number,
				Academic_Year_Id,
				Original_Standard_Id,
				Original_Division_Id,
				CancelationFormNo,
				FormNumber,
				case when Reason_Of_Leaving is null or Reason_Of_Leaving = '' then '-' else Reason_Of_Leaving end as Reason_Of_Leaving
		FROM #tblStudentInfo

	DROP TABLE #tblStudentInfo
	DROP TABLE #tblMaxYearwiseStudentId
END
GO

--GO
--	exec "PPSH"."dbo"."usp_GetSchoolLeftStudentDetails";1 11, 15, 7, N'2 ,3 ,4'
--Go 