/****** Object:  StoredProcedure [dbo].[usp_CountInCompleteAdmissionTransaction]    Script Date: 22-12-2025 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milind	
-- Create date: 23 Nov 2009
-- =============================================


-- =============================================
-- Modified By : Sanket Bhujbal	
-- Create date : 16 Dec 2015
-- Description :  This usp is Modified for to add PaymentGatewayId filter in Join
-- =============================================
ALTER PROCEDURE [dbo].[usp_CountInCompleteAdmissionTransaction]
  @SchoolId INT
, @AcademicYrId INT
, @MobileNumber NVARCHAR(1000)
, @TransactionDate DATETIME = NULL 
, @Cnt INT OUT
 ,@IsIncomplete BIT
 ,@IsSuccessful BIT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
DECLARE @TransactionStatus CHAR(1)

	IF (@IsIncomplete = 1)
		SET @TransactionStatus = 'C'
	ELSE IF (@IsSuccessful = 1)
		SET @TransactionStatus = 'Y'
	ELSE
		SET @TransactionStatus = 'N'

	DECLARE @DateFilter NVARCHAR(200)
	SET @DateFilter= N''
	IF(@TransactionDate IS NOT NULL)
		SET @DateFilter=  N' AND DATEDIFF(DAY,NetBankingPaymentTransactions.TransactionDateTime,'''+ CAST(@TransactionDate AS NVARCHAR) +''') = 0'
	
	DECLARE @sQuery  NVARCHAR(4000)
	print @sQuery
	SET @sQuery = 
				 N' SELECT  
								NetBankingBanksDetails.RegisterdBankName,
								NetBankingPaymentTransactions.TransactionAMT, 
								NetBankingPaymentTransactions.TransactionDateTime,
								Student_Admissions.MobileNumber, 
								Salutation_Master.Salutation_Name +'' '' + Student_Admissions.First_Name
								+'' '' + Student_Admissions.Middle_Name +'' ''+ Student_Admissions.Last_Name AS FullName, 
								NetBankingPaymentTransactions.NetBankingPaymentTransactionID
					FROM        Student_Admissions INNER JOIN
							    NetBankingPaymentTransactions ON 
							    Student_Admissions.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID LEFT OUTER JOIN
							    NetBankingBanksDetails ON NetBankingPaymentTransactions.TransactionBankID = NetBankingBanksDetails.RegisteredBankID 
								AND NetBankingPaymentTransactions.GatewayId = NetBankingBanksDetails.PaymentGatewayId INNER JOIN
							    Salutation_Master ON Student_Admissions.Salutation_Id = Salutation_Master.Salutation_Id
					WHERE      (NetBankingPaymentTransactions.TransactionStatus='''+@TransactionStatus+''') 
								AND (NetBankingPaymentTransactions.Is_Deleted = 0) AND 
								Student_Admissions.School_Id = ' + CAST(@SchoolId AS NVARCHAR(3)) + @DateFilter
								+ ' AND (Student_Admissions.MobileNumber = ''' + @MobileNumber + ''' OR Student_Admissions.NetBankingPaymentTransactionID LIKE ''%'+@MobileNumber +'%'' OR Student_Admissions.Form_Number LIKE ''%'+@MobileNumber+'%'')' 
	print @sQuery

	EXECUTE sp_executesql  @sQuery
	SET @Cnt = @@ROWCOUNT
END