/****** Object:  StoredProcedure [dbo].[usp_GetPagedInCompleteAdmissionTransaction]    Script Date: 22-12-2025 12:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author :		Milind	
-- Create date : 23 Nov 2009
-- Description :  
-- =============================================


-- =============================================
-- Modified By : Sanket Bhujbal	
-- Create date : 16 Dec 2015
-- Description :  This usp is Modified for to add PaymentGatewayId filter in Join
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetPagedInCompleteAdmissionTransaction]
  @SchoolId INT
, @AcademicYrId INT
, @MobileNumber NVARCHAR(1000)
, @TransactionDate DATETIME = NULL
, @StartIndex INT 
, @EndIndex INT 
, @SortExp NVARCHAR(1000)
, @IsIncomplete BIT
 ,@IsSuccessful BIT

AS

BEGIN
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	DECLARE @TransactionStatus CHAR(1)

	IF (@IsIncomplete = 1)
		SET @TransactionStatus = 'C'
	ELSE IF (@IsSuccessful = 1)
		SET @TransactionStatus = 'Y'
	ELSE
		SET @TransactionStatus = 'N'


	DECLARE @DateFilter NVARCHAR(200)
	SET @DateFilter= N''
	IF(@TransactionDate IS NOT NULL)
		SET @DateFilter=  N' AND DATEDIFF(DAY,NetBankingPaymentTransactions.TransactionDateTime,'''+  CAST(@TransactionDate AS NVARCHAR) +''') = 0'

		
  
   
   
	 IF @SortExp = N''
    SET @SortExp = N'NetBankingPaymentTransactionID DESC'
    SET @SortExp = N' ORDER BY ' + @SortExp
	DECLARE @sQuery  NVARCHAR(4000)
	print @sQuery
	SET @sQuery =  N'SELECT RegisterdBankName,TransactionAMT,TransactionDateTime,MobileNumber,FullName,
					NetBankingPaymentTransactionID,Enrolment_Number,IsAdmission,AdmissionID,AcedemicYearId,RowNo, 0 AS StudentId, 0 AS UserId,GatewayId,BankCode,0 as FeeAmount,Form_Number,TPSLTransactionId
					FROM 
					'+
				 ' (SELECT  
								NetBankingBanksDetails.RegisterdBankName,
								NetBankingPaymentTransactions.TransactionAMT, 
								NetBankingPaymentTransactions.TransactionDateTime,
								Student_Admissions.MobileNumber, 
								Salutation_Master.Salutation_Name +'' '' + Student_Admissions.First_Name
								+'' '' + Student_Admissions.Middle_Name +'' ''+ Student_Admissions.Last_Name AS FullName, 
								NetBankingPaymentTransactions.NetBankingPaymentTransactionID,'' '' AS Enrolment_Number
								,1 AS IsAdmission
								,Student_Admissions.Student_Admission_Id AS AdmissionID
								,Student_Admissions.Acedemic_Year_Id AS AcedemicYearId
								,ISNULL(NetBankingPaymentTransactions.GatewayId,0) GatewayId
								,ISNULL(NetBankingPaymentTransactions.TransactionBankID,0) BankCode
								,Student_Admissions.Form_Number
								, ROW_NUMBER() OVER (' + @SortExp + ') as RowNo' +'
									CASE 
									WHEN NetBankingPaymentTransactions.TransactionStatus = ''C'' 
										THEN ''-''
									ELSE ISNULL(NetBankingPaymentTransactions.TPSLTransactionId, ''-'')END AS TPSLTransactionId	
					FROM       Student_Admissions WITH(NOLOCK) INNER JOIN
							   NetBankingPaymentTransactions WITH(NOLOCK) ON 
							   Student_Admissions.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID LEFT OUTER JOIN
							   NetBankingBanksDetails ON NetBankingPaymentTransactions.TransactionBankID = NetBankingBanksDetails.RegisteredBankID 
							   AND NetBankingPaymentTransactions.GatewayId = NetBankingBanksDetails.PaymentGatewayId INNER JOIN
							   Salutation_Master ON Student_Admissions.Salutation_Id = Salutation_Master.Salutation_Id
					WHERE      (NetBankingPaymentTransactions.TransactionStatus ='''+@TransactionStatus+''') 
								AND (NetBankingPaymentTransactions.Is_Deleted = 0) AND 
								Student_Admissions.School_Id = ' + CAST(@SchoolId AS NVARCHAR(3)) + @DateFilter +
								 + ' AND (Student_Admissions.MobileNumber = ''' + @MobileNumber + ''' OR Student_Admissions.NetBankingPaymentTransactionID LIKE ''%'+@MobileNumber +'%'' OR Student_Admissions.Form_Number LIKE ''%'+@MobileNumber+'%'' )' +
								  ') as A'+								
								' WHERE RowNo > ' +   CAST(@StartIndex as NVARCHAR)+ 
								' AND RowNo <= ' + CAST(@EndIndex as NVARCHAR)
                      
				  
				 
	print @sQuery
	EXECUTE sp_executesql  @sQuery
	
END