/****** Object:  StoredProcedure [dbo].[usp_GetPagedInCompleteTransaction]    Script Date: 8/25/2025 11:29:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author :		Milind	
-- Create date : 23 Nov 2009
-- Description :  
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetPagedInCompleteTransaction]
  @SchoolId INT
, @AcademicYrId INT
, @Filter NVARCHAR(1000)
, @StartIndex INT 
, @EndIndex INT 
, @SortExp NVARCHAR(MAX)
, @PaymentCategoryFeeId INT
, @IsIncomplete BIT 
,@IsSuccessful BIT = 0
AS
BEGIN
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	
	CREATE TABLE #tblNetBankingDetail 
	(		
		RegisterdBankName NVARCHAR(200),
		TransactionAMT DECIMAL(10,4),
		TransactionDateTime DATETIME,
		Enrolment_Number NVARCHAR(100),
		FullName NVARCHAR(500),
		NetBankingPaymentTransactionID INT,
		StudentId INT,
		UserId INT,
		GatewayId INT,
		BankCode NVARCHAR(20),
		TPSLTransactionId NVARCHAR(100)
	)
	
	CREATE TABLE #tblSelectedTransactionDetail 
	(
		Id INT IDENTITY(1,1),
		RegisterdBankName NVARCHAR(200),
		TransactionAMT DECIMAL(10,4),
		TransactionDateTime DATETIME,
		Enrolment_Number NVARCHAR(100),
		FullName NVARCHAR(500),
		NetBankingPaymentTransactionID INT,
		MobileNumber NVARCHAR(15),
		IsAdmission BIT,
		AdmissionID INT,
		AcedemicYearId INT,
		RowNo INT,
		StudentId INT,
		UserId INT,
		GatewayId INT,
		BankCode NVARCHAR(20),
		TPSLTransactionId NVARCHAR(100),
		FeeAmount INT,
		TotalRows INT
	)
	DECLARE @TransactionStatus CHAR(1)

	IF (@IsIncomplete = 1)
		SET @TransactionStatus = 'C'
	ELSE IF (@IsSuccessful = 1)
		SET @TransactionStatus = 'Y'
	ELSE
		SET @TransactionStatus = 'N'
  
	DECLARE @stblQuery  NVARCHAR(MAX)

IF(@PaymentCategoryFeeId = 1)
	BEGIN	
		SET @stblQuery = N' SELECT DISTINCT 
								NetBankingBanksDetails.RegisterdBankName,
								NetBankingPaymentTransactions.TransactionAMT, 
								NetBankingPaymentTransactions.TransactionDateTime,
								SchoolWise_Student_Master.Enrolment_Number, 
								Salutation_Master.Salutation_Name +'' '' + SchoolWise_Student_Master.First_Name
								+'' '' + SchoolWise_Student_Master.Middle_Name +'' ''+ SchoolWise_Student_Master.Last_Name AS FullName, 
								NetBankingPaymentTransactions.NetBankingPaymentTransactionID,
								ISNULL(SchoolWise_Student_Master.SchoolWise_Student_Id,0)SchoolWise_Student_Id,
								ISNULL(SchoolWise_Student_Master.User_Id,0) User_Id,
								ISNULL(NetBankingPaymentTransactions.GatewayId,0) GatewayId,
								ISNULL(NetBankingPaymentTransactions.TransactionBankID,0) as BankCode	,
								CASE 
									WHEN NetBankingPaymentTransactions.TransactionStatus = ''C'' 
										THEN ''-''
									ELSE ISNULL(NetBankingPaymentTransactions.TPSLTransactionId, ''-'')END AS TPSLTransactionId						
					FROM        SchoolWise_Student_Master WITH(NOLOCK) INNER JOIN
								YearWise_Student_Details WITH(NOLOCK) INNER JOIN
								Schoolwise_Student_Fee_Details WITH(NOLOCK) INNER JOIN
								NetBankingPaymentTransactions WITH(NOLOCK) ON 
								Schoolwise_Student_Fee_Details.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID LEFT OUTER JOIN
								NetBankingBanksDetails ON NetBankingPaymentTransactions.TransactionBankID = NetBankingBanksDetails.StudentFeeRegisteredBankId AND NetBankingPaymentTransactions.GatewayId = NetBankingBanksDetails.PaymentGatewayId ON 
								YearWise_Student_Details.YearWise_Student_Id = Schoolwise_Student_Fee_Details.Student_Id ON 
								SchoolWise_Student_Master.SchoolWise_Student_Id = YearWise_Student_Details.Student_Id INNER JOIN
								Salutation_Master ON SchoolWise_Student_Master.Salutation_Id = Salutation_Master.Salutation_Id
					WHERE      (NetBankingPaymentTransactions.TransactionStatus ='''+@TransactionStatus+''') 
								AND (NetBankingPaymentTransactions.Is_Deleted = 0) AND 
								YearWise_Student_Details.School_Id = ' + CAST(@SchoolId AS NVARCHAR(3))+
								' AND YearWise_Student_Details.Academic_Year_ID = ' + CAST(@AcademicYrId AS NVARCHAR(3))+
								@Filter 

	END
ELSE IF(@PaymentCategoryFeeId = 2)
	BEGIN
		SET @stblQuery = N' SELECT DISTINCT 
								NetBankingBanksDetails.RegisterdBankName,
								NetBankingPaymentTransactions.TransactionAMT, 
								NetBankingPaymentTransactions.TransactionDateTime,
								SchoolWise_Student_Master.Enrolment_Number, 
								Salutation_Master.Salutation_Name +'' '' + SchoolWise_Student_Master.First_Name
								+'' '' + SchoolWise_Student_Master.Middle_Name +'' ''+ SchoolWise_Student_Master.Last_Name AS FullName, 
								NetBankingPaymentTransactions.NetBankingPaymentTransactionID,
								ISNULL(SchoolWise_Student_Master.SchoolWise_Student_Id,0)SchoolWise_Student_Id,
								ISNULL(SchoolWise_Student_Master.User_Id,0) User_Id,
								ISNULL(NetBankingPaymentTransactions.GatewayId,0) GatewayId,
								ISNULL(NetBankingPaymentTransactions.TransactionBankID,0) as BankCode,
									CASE 
									WHEN NetBankingPaymentTransactions.TransactionStatus = ''C'' 
										THEN ''-''
									ELSE ISNULL(NetBankingPaymentTransactions.TPSLTransactionId, ''-'')END AS TPSLTransactionId									
					FROM        SchoolWise_Student_Master WITH(NOLOCK) INNER JOIN								
								Student_Caution_Money_Details WITH(NOLOCK) INNER JOIN
								NetBankingPaymentTransactions WITH(NOLOCK) ON 
								Student_Caution_Money_Details.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID LEFT OUTER JOIN
								NetBankingBanksDetails ON NetBankingPaymentTransactions.TransactionBankID = NetBankingBanksDetails.StudentFeeRegisteredBankId AND NetBankingPaymentTransactions.GatewayId = NetBankingBanksDetails.PaymentGatewayId ON 								
								SchoolWise_Student_Master.SchoolWise_Student_Id = Student_Caution_Money_Details.SchoolWise_Student_Id INNER JOIN
								Salutation_Master ON SchoolWise_Student_Master.Salutation_Id = Salutation_Master.Salutation_Id
					WHERE      (NetBankingPaymentTransactions.TransactionStatus ='''+@TransactionStatus+''') 
								AND (NetBankingPaymentTransactions.Is_Deleted = 0) AND 
								Student_Caution_Money_Details.School_Id = ' + CAST(@SchoolId AS NVARCHAR(3))+								
								@Filter 
	END
	ELSE IF(@PaymentCategoryFeeId = 3)
	BEGIN
		SET @stblQuery = N' SELECT DISTINCT 
								NetBankingBanksDetails.RegisterdBankName,
								NetBankingPaymentTransactions.TransactionAMT, 
								NetBankingPaymentTransactions.TransactionDateTime,
								SchoolWise_Student_Master.Enrolment_Number, 
								Salutation_Master.Salutation_Name +'' '' + SchoolWise_Student_Master.First_Name
								+'' '' + SchoolWise_Student_Master.Middle_Name +'' ''+ SchoolWise_Student_Master.Last_Name AS FullName, 
								NetBankingPaymentTransactions.NetBankingPaymentTransactionID,
								ISNULL(SchoolWise_Student_Master.SchoolWise_Student_Id,0)SchoolWise_Student_Id,
								ISNULL(SchoolWise_Student_Master.User_Id,0) User_Id,
								ISNULL(NetBankingPaymentTransactions.GatewayId,0) GatewayId,
								ISNULL(NetBankingPaymentTransactions.TransactionBankID,0) as BankCode,
								CASE 
									WHEN NetBankingPaymentTransactions.TransactionStatus = ''C'' 
										THEN ''-''
									ELSE ISNULL(NetBankingPaymentTransactions.TPSLTransactionId, ''-'')END AS TPSLTransactionId										
					FROM        SchoolWise_Student_Master WITH(NOLOCK) INNER JOIN								
								InternalFeeDetails WITH(NOLOCK) INNER JOIN
								NetBankingPaymentTransactions WITH(NOLOCK) ON 
								InternalFeeDetails.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID LEFT OUTER JOIN
								NetBankingBanksDetails ON NetBankingPaymentTransactions.TransactionBankID = NetBankingBanksDetails.StudentFeeRegisteredBankId AND NetBankingPaymentTransactions.GatewayId = NetBankingBanksDetails.PaymentGatewayId ON 								
								SchoolWise_Student_Master.SchoolWise_Student_Id = InternalFeeDetails.SchoolWise_Student_Id INNER JOIN
								Salutation_Master ON SchoolWise_Student_Master.Salutation_Id = Salutation_Master.Salutation_Id
					WHERE      (NetBankingPaymentTransactions.TransactionStatus  ='''+@TransactionStatus+''') 
								AND (NetBankingPaymentTransactions.Is_Deleted = 0) AND 
								InternalFeeDetails.SchoolId = ' + CAST(@SchoolId AS NVARCHAR(3))+								
								@Filter 
	END

	print(@stblQuery)
	INSERT INTO #tblNetBankingDetail
			EXEC(@stblQuery)

    IF @SortExp = N''
    SET @SortExp = N'NetBankingPaymentTransactionID DESC'
    SET @SortExp = N' ORDER BY ' + @SortExp
	
	DECLARE @sQuery  NVARCHAR(MAX)
	print @sQuery
	SET @sQuery =  N'SELECT DISTINCT RegisterdBankName,TransactionAMT,TransactionDateTime,Enrolment_Number,FullName,
					NetBankingPaymentTransactionID,MobileNumber,IsAdmission,AdmissionID,AcedemicYearId,RowNo,StudentId,UserId,GatewayId,BankCode,TPSLTransactionId,0,0
					FROM 
					'+
				 ' ( SELECT *,'''' AS MobileNumber,0 AS IsAdmission,0 AS AdmissionID,0 AS AcedemicYearId
								, ROW_NUMBER() OVER (' + @SortExp + ') as RowNo 
								FROM #tblNetBankingDetail) as A'+
								' WHERE RowNo > ' +   CAST(@StartIndex as NVARCHAR)+ 
								' AND RowNo <= ' + CAST(@EndIndex as NVARCHAR)
								+' ORDER BY RowNo '
                      
				  
	
				 
	print @sQuery	

	INSERT INTO #tblSelectedTransactionDetail
	EXECUTE sp_executesql  @sQuery
	DROP TABLE #tblNetBankingDetail
	
	DECLARE @Id INT = 1,@NetBankingTxnId INT


	
	WHILE((SELECT COUNT(1) FROM #tblSelectedTransactionDetail WHERE Id = @Id) > 0)
	BEGIN
		SELECT TOP 1 @NetBankingTxnId = NetBankingPaymentTransactionID 
		  FROM #tblSelectedTransactionDetail WHERE Id = @Id

		IF(@PaymentCategoryFeeId = 3)
			BEGIN
				UPDATE #tblSelectedTransactionDetail
					    SET FeeAmount = (
										 SELECT ISNULL(SUM(Amount),0) 
										   FROM InternalFeeDetails
										  WHERE SchoolId = @SchoolId
										    AND AcademicYearId = @AcademicYrId
											AND [Debit/Credit] = N'Credit'
											AND NetBankingPaymentTransactionID = @NetBankingTxnId
										)
				WHERE Id = @Id
			END
		ELSE	
			BEGIN	 
					 UPDATE #tblSelectedTransactionDetail
					    SET FeeAmount = (
										 SELECT ISNULL(SUM(Amount),0) 
										   FROM Schoolwise_Student_Fee_Details
										  WHERE Is_Completed = 0
										    AND School_Id = @SchoolId
										    AND Academic_Year_Id = @AcademicYrId
											AND [Debit/Credit] = N'Credit'
											AND NetBankingPaymentTransactionID = @NetBankingTxnId
										)
				WHERE Id = @Id
			  END
		
		
		SET @Id = @Id + 1
		  
	END
	
	UPDATE #tblSelectedTransactionDetail
	   SET TotalRows = (SELECT COUNT(*) 
	                      FROM #tblSelectedTransactionDetail)


	SELECT * FROM #tblSelectedTransactionDetail
	DROP TABLE #tblSelectedTransactionDetail	
	
END
GO
