/****** Object:  StoredProcedure [dbo].[usp_GetStudentPendingFeesDetailOfAllAcademics]    Script Date: 8/25/2025 11:29:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 30 Jan 2021
-- Description:	This USP is used to get pending fee details of all academic YEar for report.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentPendingFeesDetailOfAllAcademics]
	@School_Id INT,
	@Academic_Year_ID INT,
	@Standard_Id INT = NULL,
	@SchoolWise_Standard_Division_Id INT = NULL,
	@Student_Id INT = NULL,
	@Paid_Date DATETIME = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	DECLARE @tblFeePayables TABLE
	(
		PayableFor NVARCHAR(100)
	)

	insert into @tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@School_Id,@Academic_Year_ID)

	IF exists(select top 1 1 from @tblFeePayables)
	BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
	END

   	IF @Paid_Date IS NULL
		SET @Paid_Date = CONVERT(DATETIME,dbo.GetLocalDate(DEFAULT))

	IF @Student_Id IS NULL
		SET @Student_Id = 0

	IF @Standard_Id IS NULL
		SET @Standard_Id = 0

	IF @SchoolWise_Standard_Division_Id IS NULL
		SET @SchoolWise_Standard_Division_Id = 0

DECLARE @PrincipalName NVARCHAR(200) = ''

SELECT @PrincipalName = UserName
  FROM vw_AllPayrollUsers
 WHERE SchoolId = @School_Id
   AND AcademicYearId = @Academic_Year_ID
   AND Is_Deleted = 'N'
   AND DesignationId = 10
   AND Designation = 'Principal'

DECLARE @tblStudentOldAcademicData AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	AcademicYearId INT
)

INSERT INTO @tblStudentOldAcademicData
	 SELECT YWSD.YearWise_Student_Id,
	        YWSD.Academic_Year_ID
	   FROM YearWise_Student_Details YWSD WITH(NOLOCK)
 INNER JOIN (
				SELECT YWSD.Student_Id
				  FROM YearWise_Student_Details YWSD WITH(NOLOCK)
		    INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
					ON YWSD.Standard_Id = vwSD.Standard_Id
				   AND YWSD.Division_id = vwSD.Division_Id
				   AND YWSD.School_Id = vwSD.School_Id
				   AND YWSD.Academic_Year_ID = vwSD.academic_year_id
				 WHERE Is_Deleted = 'N'
				   AND YWSD.School_Id = @School_Id
				   AND (YWSD.Standard_Id = @Standard_Id OR @Standard_Id = 0)
				   AND (vwSD.SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id OR @SchoolWise_Standard_Division_Id = 0)
				   AND (YWSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
			)SS
		 ON SS.Student_Id = YWSD.Student_Id
      WHERE Is_Deleted = 'N'
	    AND YWSD.School_Id = @School_Id	    

DECLARE @tblStudentPendingFeeDetailsTemp AS TABLE
(
	Id INT IDENTITY,
	StudentId INT,
	FeeType NVARCHAR(200),
	PayableFor NVARCHAR(200),
	PendingAmount INT,	
	AcademicYearId INT,
	OriginalFeeTypeId INT,
	AcademicYear NVARCHAR(50),	
	LateFeeAmount INT,
	SchoolwiseStudentId INT
)

DECLARE @tblStudentPendingFeeDetails AS TABLE
(
	Id INT IDENTITY,
	StudentId INT,	
	PendingAmount INT,	
	AcademicYearId INT,
	AcademicYear NVARCHAR(50),
	SrNo INT,
	SchoolwiseStudentId INT,
	LateFeeAmount INT
)

INSERT INTO @tblStudentPendingFeeDetailsTemp
	 SELECT SWSFD.Student_Id,
	        SWSFD.Fee_Type,
			SWSFD.Payable_For,
			SUM(SWSFD.Amount),			
			tblStudents.AcademicYearId,
			SWFTC.Original_Fee_Type_Id,
			CONVERT(NVARCHAR(5),YEAR(SWAYM.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SWAYM.End_Date)),
			--dbo.udf_GetLateFeeAmt(SWSFD.Std_FeeType_Id, SWSLFDDD.DueDate, @Paid_Date) AS LateFeeAmount,
			CASE WHEN @AllowLateFeeAtQuarterLevel = 1 THEN 
				CASE WHEN SWSFD.Payable_For IN (select PayableFor from @tblFeePayables) THEN dbo.udf_GetLateFeeAmt(SWSFD.Std_FeeType_Id, SWSLFDDD.DueDate, @Paid_Date)
				ELSE 0 
				END 
			ELSE
				dbo.udf_GetLateFeeAmt(SWSFD.Std_FeeType_Id, SWSLFDDD.DueDate, @Paid_Date)
			END AS LateFeeAmt,
			YSD.Student_Id
	   FROM @tblStudentOldAcademicData tblStudents
 INNER JOIN Schoolwise_Student_Fee_Details SWSFD WITH(NOLOCK)
		 ON tblStudents.StudentId = SWSFD.Student_Id
		AND tblStudents.AcademicYearId = SWSFD.Academic_Year_Id
INNER JOIN yearwise_student_details YSD
		ON SWSFD.Student_Id = YSD.Yearwise_Student_Id
		and SWSFD.Academic_Year_Id = YSD.Academic_Year_Id
LEFT OUTER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
		 ON SWSFD.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
		AND SWSFD.School_Id = SWSFTM.School_Id
		AND SWSFD.Academic_Year_Id = SWSFTM.academic_Year_Id		
LEFT OUTER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		 ON SWFTC.School_Id = SWSFTM.School_Id
		AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
		AND SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
 INNER JOIN SchoolWise_Academic_Year_Master SWAYM WITH(NOLOCK)
		 ON SWAYM.Academic_Year_ID = tblStudents.AcademicYearId
		AND SWAYM.School_Id = SWSFD.School_Id
		AND SWAYM.Academic_Year_ID = SWSFD.Academic_Year_Id
LEFT OUTER JOIN SchoolWise_Standard_LateFee_DueDates_Master SWSLFDDM WITH(NOLOCK)
		 ON SWSLFDDM.SchoolWise_Standard_FeeType_Id = SWSFD.Std_FeeType_Id
		AND SWSLFDDM.School_Id = SWSFD.School_Id
		AND SWSLFDDM.Academic_Year_Id = SWSFD.Academic_Year_Id
		AND SWSLFDDM.Is_Deleted = 'N'
LEFT OUTER JOIN SchoolWise_Standard_LateFee_DueDates_Details SWSLFDDD WITH(NOLOCK)
		 ON SWSLFDDD.SchoolWise_Standard_LateFee_DueDates_Id = SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id
		AND SWSLFDDD.IntervalName = SWSFD.Payable_For
left outer join
(
	SELECT Student_Fee_Id
	FROM Schoolwise_Student_Fee_Details SWSFD WITH(NOLOCK)
INNER JOIN @tblStudentOldAcademicData tblStud
	ON SWSFD.Student_Id = tblStud.StudentId
	AND SWSFD.Academic_Year_Id = tblStud.AcademicYearId
	WHERE SWSFD.School_Id = @School_Id
	AND SWSFD.Is_Deleted = 'N'
	AND SWSFD.Is_Cheque_Bounce = 'N'
	AND SWSFD.[Debit/Credit] = 'Credit'
	AND Is_Concession_Fee = 'N'
)paid
on SWSFD.Schoolwise_Student_Fee_Id = paid.Student_Fee_Id
	  WHERE SWSFD.Is_Deleted = 'N'
	    AND Is_Cheque_Bounce = 'N'
		AND Is_Concession_Fee = 'N'
		AND SWSFD.School_Id = @School_Id
		AND [Debit/Credit] = 'Debit'		
		and paid.Student_Fee_Id is null	
		and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
		and CONVERT(DATE,SWSFD.paid_date) < CONVERT(DATE,@Paid_Date)
   GROUP BY SWSFD.Student_Id,
	        SWSFD.Fee_Type,
			SWSFD.Payable_For,
			SWAYM.Start_date,
			SWAYM.End_Date,
			tblStudents.AcademicYearId,
			SWFTC.Original_Fee_Type_Id,
			SWSFD.Std_FeeType_Id,
			SWSLFDDD.DueDate,
			YSD.Student_Id

INSERT INTO @tblStudentPendingFeeDetails
     SELECT StudentId,        
	        SUM(PendingAmount),
	        AcademicYearId,	    
	        AcademicYear,
			0,
			SchoolwiseStudentId,
			SUM(LatefeeAmount)
       FROM @tblStudentPendingFeeDetailsTemp
	  WHERE PendingAmount <> 0	  
   GROUP BY StudentId,	
		    AcademicYearId,		  
		    AcademicYear,
			SchoolwiseStudentId

UPDATE SS1
set SrNo = ss2.SrNo
FROM @tblStudentPendingFeeDetails SS1
INNER JOIN
(
	select SchoolwiseStudentId, AcademicYearId, ROW_NUMBER() OVER(PARTITION BY SchoolwiseStudentId ORDER BY AcademicYearId) AS SrNo
	from
	(
		select SchoolwiseStudentId, AcademicYearId 
		from @tblStudentPendingFeeDetails
		group by SchoolwiseStudentId, AcademicYearId
	)S
)SS2
ON SS1.SchoolwiseStudentId = SS2.SchoolwiseStudentId
AND SS1.AcademicYearId = SS2.AcademicYearId

update @tblStudentPendingFeeDetails
set PendingAmount = PendingAmount + LateFeeAmount

DECLARE @tblTotalPending AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	TotalPendingAmount INT	
)

DECLARE @tblAcademicYearDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	AcademicYearId INT
)

INSERT INTO @tblTotalPending
     SELECT Student_Id,
	        SUM(PendingAmount)			
	   FROM @tblStudentPendingFeeDetails tblPen
 INNER JOIN YearWise_Student_Details YWSD
		 ON tblPen.StudentId = YWSD.YearWise_Student_Id
   GROUP BY YWSD.Student_Id   

INSERT INTO @tblAcademicYearDetails
     SELECT YWSD.Student_Id,
	        MIN(AcademicYearId)
	   FROM @tblStudentPendingFeeDetails tblStudent
 INNER JOIN YearWise_Student_Details YWSD
		 ON tblStudent.StudentId = YWSD.YearWise_Student_Id
   GROUP BY YWSD.Student_Id

DECLARE @tblStudentCurrentClassDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	ClassName NVARCHAR(100)
)

INSERT INTO @tblStudentCurrentClassDetails
     SELECT Student_Id,
	        className
       FROM YearWise_Student_Details YWSD
 INNER JOIN vw_standard_division vwSD
		 ON YWSD.Standard_Id = vwSD.Standard_Id
	    AND YWSD.Division_id = vwSD.Division_Id
	    AND YWSD.School_Id = vwSD.School_Id
	    AND YWSD.Academic_Year_ID = vwSD.academic_year_id
      WHERE YWSD.School_Id = @School_Id
	    AND YWSD.Academic_Year_ID = @Academic_Year_ID
	    AND YWSD.Is_Deleted = 'N'
	    AND YWSD.Standard_Id = @Standard_Id
	    AND vwSD.SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id
	    AND (YWSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)

		SELECT tblPendingFee.StudentId,
			tblCurrentClass.Id as RollwiseSrNo,
			AA.Roll_No,
			Enrolment_Number,
	        --CASE WHEN PATINDEX('%'+City+'%',Address) = 0 THEN Address + ', '+City+'-'+Pincode ELSE Address +'-'+Pincode  END AS  Address,
			vwBSD.Address,
			vwBSD.City,
			vwBSD.Pincode,
			State,
			CASE WHEN PATINDEX('%'+Last_Name+'%', Parent_Name)=0 THEN  Parent_Name+ ' ' + Last_Name ELSE Parent_Name END AS Middle_Name,
			StudentName,			
			tblCurrentClass.ClassName AS className,
			PendingAmount,
			tblPendingFee.AcademicYearId,
			tblPendingFee.AcademicYear,
			STUFF( (SELECT DISTINCT
					   ', ' + T2.AcademicYear
				FROM @tblStudentPendingFeeDetails T2
				FOR XML PATH('')),1,2,'') AS AcademicYears,
			tblPendingFee.SrNo as id,
			CAST('Amount' as nvarchar(50)) as Header,
			tblTotal.TotalPendingAmount,
			@PrincipalName PrincipalName,
			'Please ignore this notice, if fees are already paid. Contact Accounts Department (Ph. : ' + SM.Phone_Number +') for any query.' AS FooterText,
			SM.School_Name,
			sm.City as SchoolCity,
			SM.Address as SchoolAddress,
			sm.Phone_Number,
			SM.FaxNumber,
			sm.website,
			sm.Email,
			null as Logo
			--sm.Logo			
	   FROM @tblStudentPendingFeeDetails tblPendingFee
 INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
		 ON tblPendingFee.StudentId = YWSD.YearWise_Student_Id
		AND tblPendingFee.AcademicYearId = YWSD.Academic_Year_ID
 INNER JOIN vw_BaseStudentDetails vwBSD WITH(NOLOCK)
		 ON YWSD.Student_Id = vwBSD.SchoolWise_Student_Id
		AND YWSD.School_Id = vwBSD.School_Id
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.Standard_Id = YWSD.Standard_Id
		AND vwSD.Division_Id = YWSD.Division_id
		AND vwSD.School_Id = YWSD.School_Id
		AND vwSD.academic_year_id = YWSD.Academic_Year_ID
 INNER JOIN @tblStudentCurrentClassDetails tblCurrentClass
		 ON vwBSD.SchoolWise_Student_Id = tblCurrentClass.StudentId
 INNER JOIN @tblTotalPending tblTotal
		 ON YWSD.Student_Id = tblTotal.StudentId
 INNER JOIN @tblAcademicYearDetails tblAcademic
		 On tblAcademic.StudentId = YWSD.Student_Id
 INNER JOIN SchoolWise_Academic_Year_Master SWAYM WITH(NOLOCK)
		 ON tblAcademic.AcademicYearId = SWAYM.Academic_Year_ID 
 INNER JOIN School_Master SM
		 ON YWSD.School_Id = SM.School_Id
 INNER JOIN (
				SELECT Roll_No,
	                   YWSD1.Student_Id,
					   Row_Number() over(order by Roll_No) as RollwiseSerialNo
				  FROM YearWise_Student_Details YWSD1
			INNER JOIN (
							SELECT YWSD2.Student_Id,
								   MAX(AcademicYearId) AS AcademicYEarId
							  FROM @tblStudentPendingFeeDetails tblStudent
						INNER JOIN YearWise_Student_Details YWSD2
								ON tblStudent.StudentId = YWSD2.YearWise_Student_Id			   
						  GROUP BY YWSD2.Student_Id
					   )QQ
					ON YWSD1.Student_Id = QQ.Student_Id
				   AND YWSD1.Academic_Year_ID = QQ.AcademicYEarId
			)AA
		 ON AA.Student_Id = YWSD.Student_Id
	  WHERE YWSD.Is_Deleted = 'N'
	    AND YWSD.School_Id = @School_Id	    

END
GO
