/****** Object:  StoredProcedure [Mobile].[usp_GetAlumniSchoolBranding]    Script Date: 16-07-2026 12:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Mobile].[usp_GetAlumniSchoolBranding]
    @SchoolId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  SchoolId,
            SchoolNameToDisplay,
            LogoFileName,
            ExternalLink
    FROM    dbo.AlumniSchoolBranding
    WHERE   SchoolId = @SchoolId;
END
