/****** Object:  StoredProcedure [dbo].[usp_GetFinalProgressReportDetailsForPP]    Script Date: 09-04-2026 09:32:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFinalProgressReportDetailsForPP]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT,
	@TermId INT,
	@Note NVARCHAR(1000) = '',
	@IsFromReportScreen BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @TermStartDate DATE,
			@TermEndDate DATE,
			@TermHeader NVARCHAR(200)
			
	select @TermStartDate = TermStartDate,
			@TermEndDate = TermEndDate
	from StudentTermwiseTestMaster
	where School_Id = @School_Id
	and Academic_Year_Id = @Academic_Year_Id
	and Is_Deleted = 0
	and SchoolwiseTermId = @TermId
	AND StandardId = @Standard_Id

	--SELECT @TermHeader = CASE WHEN @TermId = 1 THEN 'TERM I' ELSE 'TERM II' END + ' ('+ CAST(YEAR(Start_date) AS NVARCHAR(4))+' - '+CAST(YEAR(End_Date) AS NVARCHAR(4))+')'
	--FROM SchoolWise_Academic_Year_Master
	--WHERE Academic_Year_ID  =@Academic_Year_Id
	--AND School_Id = @School_Id
	--AND Is_Deleted = 'N'

	SELECT @TermHeader = CAST(YEAR(Start_date) AS NVARCHAR(4))+' - '+CAST(YEAR(End_Date) AS NVARCHAR(4))
	FROM SchoolWise_Academic_Year_Master
	WHERE Academic_Year_ID  =@Academic_Year_Id
	AND School_Id = @School_Id
	AND Is_Deleted = 'N'

	DECLARE @ShowBothTermDetails BIT = 0
	IF @School_Id = 18 AND @Academic_Year_Id >= 56
	BEGIN
		SET @ShowBothTermDetails = 1
	END

	DECLARE @ExemptedText NVARCHAR(50)
	IF @Academic_Year_Id < 55
		SET @ExemptedText = 'Exemp.'
	ELSE
		SET @ExemptedText = 'Ex'

	DECLARE @NextStandard NVARCHAR(100),
			@NextAcademicYearId INT,
			@NextStandardId INT

	select top 1  @NextAcademicYearId = Academic_Year_ID
	from SchoolWise_Academic_Year_Master
	where School_Id = @School_Id
	and Is_Deleted = 'N'
	and (Is_NewlyCreated = 'Y' OR (Is_FinalYear_Generated = 'Y' and Is_Close_Year='N'))
	order by Academic_Year_ID desc

	select @NextStandard = Standard_Name,
		   @NextStandardId = Standard_Id
	from Standard_Master
	where School_Id = @School_Id
	and academic_Year_Id = @NextAcademicYearId
	and Is_Deleted = 'N'
	and Original_Standard_Id = 
	(
		select NextOriginalStandardId
		from Standard_Master
		where School_Id = @School_Id
		and academic_Year_Id = @Academic_Year_Id
		and Is_Deleted = 'N'
		and Standard_Id = @Standard_Id
	)

	DECLARE @TblFinalResult AS TABLE
	(
		YrStudentId INT,
		Result NVARCHAR(500)
	)

	insert into @TblFinalResult
	select distinct ysd.YearWise_Student_Id,
	CASE WHEN UPPER(SSR.Result) = 'P' THEN 'PROMOTED TO STANDARD '+@NextStandard ELSE 'Fail' END
	from SchoolWise_StudentResult SSR
	inner join YearWise_Student_Details ysd
	on SSR.Student_Id = ysd.YearWise_Student_Id
	inner join vw_standard_division vsd
	on ysd.Standard_Id =  vsd.Standard_Id
	and ysd.Division_id = vsd.Division_Id
	where ysd.Academic_Year_ID = @Academic_Year_Id
	AND YSD.School_Id = @School_Id
	AND YSD.Is_Deleted = 'n'
	and SSR.Is_Deleted = 'N'
	and vsd.Standard_Id = @Standard_Id
	and vsd.SchoolWise_Standard_Division_Id = @Division_Id
	and (ysd.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)

	DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id INT,
		StudentName NVARCHAR(150),
		Enrolment_Number  NVARCHAR(100),
		DOB DATE,
		Roll_No INT,
		ClassName  NVARCHAR(150),
		PresentDays DECIMAL(10,2),
		TotalDays DECIMAL(10,2),
		Remarks NVARCHAR(500),
		ThirdLanguageSubjectId INT,
		StudentPhoto IMAGE
	)
		
	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id,
		   BSD.StudentName,
		   BSD.Enrolment_Number,
		   BSD.DOB,
		   YSD.Roll_No,
		   VSD.className,
		   ISNULL(ATT.PresentDays,0) as PresentDays,
		   ISNULL(ATT.TotalDays,0) as TotalDays,
		   CASE WHEN @Note IS NOT NULL AND @Note <> '' THEN @Note ELSE ISNULL(REMARK.RemarkDetails,'') END AS Remarks,
		   sm.Subject_Id
		  ,BSD.Photo_file_Path_Image
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_BaseStudentDetails BSD
	ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	LEFT OUTER JOIN Subject_Master SM
	ON YSD.ThirdLanguageSubjectId = SM.Original_Subject_Id
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.School_Id = @School_Id
	AND SM.Is_Deleted = 'N'
	inner join @TblFinalResult TFR
	ON YSD.YearWise_Student_Id = TFR.YrStudentId
	LEFT OUTER JOIN
	(
		SELECT SAD.Student_Id, COUNT(1) AS TotalDays, SUM(CASE WHEN Is_Present = 'Y' THEN 1 ELSE 0 END) AS PresentDays
		FROM SchoolWise_Attendance_Details SAD
		INNER JOIN vw_standard_division VSD
		ON SAD.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
		AND SAD.Academic_Year_Id = VSD.academic_year_id
		WHERE VSD.Standard_Id = @Standard_Id
		AND VSD.School_Id = @School_Id
		AND VSD.Academic_Year_ID = @Academic_Year_Id
		and vsd.SchoolWise_Standard_Division_Id = @Division_Id
		and (SAD.Student_Id = @Student_Id or @Student_Id = 0)
		AND SAD.Is_Deleted = 'N'
		--and convert(date,sad.Attendance_Date) >= @TermStartDate
		--and convert(date,sad.Attendance_Date) <= @TermEndDate
		GROUP BY SAD.Student_Id
	)ATT
	on ysd.YearWise_Student_Id = ATT.Student_Id
	LEFT OUTER JOIN
	(
		SELECT S1.YearwiseStudentId, S1.RemarkDetails
		FROM StudentwiseRemarkConfigDetails S1
		INNER JOIN TermWiseRemarksDetails S2
		ON S1.TermwiseRemarkDetailId = S2.TermWiseRemarksDetailsId
		WHERE S1.IsDeleted = 'N'
		AND S2.Is_Deleted = 'N'
		AND S2.Term_Id = 2
		AND S1.SchoolId = @School_Id
		AND S1.AcademicYearId = @Academic_Year_Id
		AND S1.StandardDivisionId = @Division_Id		
	)REMARK
	ON YSD.YearWise_Student_Id = REMARK.YearwiseStudentId
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	and vsd.SchoolWise_Standard_Division_Id = @Division_Id
	and (ysd.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
	
	declare @tblMarks AS TABLE
	(
		YearWise_Student_Id INT,
		Subject_Id INT,
		SubjectSortOrder INT, 
		Subject_Name NVARCHAR(100), 
		Schoolwise_Test_Id INT,
		TestSortOrder INT, 
		SchoolWise_Test_Name NVARCHAR(100),
		Total_Marks_Scored DECIMAL(10,2),
		Marks NVARCHAR(100),
		OutOfMarks DECIMAL(10,2),
		Is_Absent CHAR,
		AdjustedMarks DECIMAL(10,2),
		TermId INT
	)

	INSERT INTO @tblMarks
	select SSTM.Student_Id,SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, sm.Subject_Name,STM.SchoolWise_Test_Id, SSTMR.Sort_Order AS TestSortOrder, stm.SchoolWise_Test_Name,
	SSTM.Total_Marks_Scored,
	SSTM.Total_Marks_Scored,-- FOR MARKS
	CASE WHEN STSMM.OutOfMarks IS NOT NULL AND STSMM.OutOfMarks <> 0 THEN STSMM.OutOfMarks ELSE STSMM.Subject_Total_Marks END AS OutOfMarks,
	SSTM.Is_Absent,
	0,
	STM.Term_Id
	from SchoolWise_Student_Test_Marks SSTM
	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	INNER JOIN Subject_Master SM
	ON STSMM.Subject_Id = SM.Subject_Id
	INNER JOIN YearWise_Student_Details YSD
	ON SSTM.Student_Id = YSD.YearWise_Student_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON YSD.Standard_Id = SSSM.Standard_Id
	AND SM.Subject_Id = SSSM.Subject_Id
	INNER JOIN Schoolwise_Standard_Test_Master SSTMR
	ON YSD.Standard_Id = SSTMR.Standard_Id
	AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
	inner join @TblFinalResult TFR
	ON YSD.YearWise_Student_Id = TFR.YrStudentId
	INNER JOIN Schoolwise_Division_Subject_Master SDSM
	ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
	AND STSMM.Subject_Id = SDSM.Subject_Id
	WHERE SSTM.Is_Deleted = 'N'
	AND STSMM.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND SM.Is_Deleted = 'N'
	AND SSSM.Is_Deleted = 'N'
	AND SSTMR.Is_Deleted = 'N'
	AND STSMM.School_Id = @School_Id
	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	AND STSMM.Standard_Division_Id = @Division_Id
	and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
	AND YSD.Is_Deleted = 'N'
	--AND STM.Term_Id = @TermId
	AND STSMM.Grade_Or_Marks = 'M'
	AND STSMM.Is_Submitted = 'Y'
	AND SDSM.Is_Deleted = 'N'
	and SDSM.Total_Consideration = 'Y'

	update tm
	SET OutOfMarks = TM.OutOfMarks - S.TestType_Total_Marks
	from @tblMarks tm
	inner join
	(
		select sstm.Student_Id,STSMM.SchoolWise_Test_Id, sstm.Subject_Id, STSMD.TestType_Total_Marks
		from SchoolWise_Student_Test_Marks SSTM
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Master STM
		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		INNER JOIN YearWise_Student_Details YSD
		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON YSD.Standard_Id = SSSM.Standard_Id
		AND SM.Subject_Id = SSSM.Subject_Id
		INNER JOIN Schoolwise_Standard_Test_Master SSTMR
		ON YSD.Standard_Id = SSTMR.Standard_Id
		AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
		INNER JOIN SchoolWise_Test_Subject_Marks_Details STSMD
		ON 	STSMM.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
		ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
		AND STSMD.TestType_Id = SSTMD.TestType_Id
		INNER JOIN Schoolwise_Division_Subject_Master SDSM
		ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
		AND STSMM.Subject_Id = SDSM.Subject_Id
		inner join @TblFinalResult TFR
		ON YSD.YearWise_Student_Id = TFR.YrStudentId
		WHERE SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND SSTMR.Is_Deleted = 'N'
		AND STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Standard_Division_Id = @Division_Id
		and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
		AND YSD.Is_Deleted = 'N'
		AND STM.Term_Id = @TermId
		AND STSMM.Grade_Or_Marks = 'M'
		AND STSMM.Is_Submitted = 'Y'
		AND STSMD.Is_Deleted = 'N'
		AND SSTMD.Is_Deleted = 'N'
		AND SSTMD.Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SCHOOLID = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
		and SSTM.Total_Marks_Scored <> 0
		and SDSM.Is_Deleted = 'N'
		and SDSM.Total_Consideration = 'Y'
	)S
	ON TM.YearWise_Student_Id = S.Student_Id
	AND TM.Schoolwise_Test_Id = S.SchoolWise_Test_Id
	AND TM.Subject_Id = S.Subject_Id
	WHERE TM.OutOfMarks - S.TestType_Total_Marks > 0
	
	update @tblMarks
	set SubjectSortOrder = SubjectSortOrder * 10
		
	DECLARE @TblGroups AS TABLE
	(
		SubjectId INT,
		SubjectName NVARCHAR(100),
		OriginalSubjectId INT
	)
	
	INSERT INTO @TblGroups
	SELECT 8000, 'ENGLISH',1752 UNION
	SELECT 8000, 'ENGLISH',1753 UNION
	SELECT 8001, 'HCG',1755 UNION
	SELECT 8001, 'HCG',20 UNION
	SELECT 8002, 'SCIENCE',13 UNION
	SELECT 8002, 'SCIENCE',14 UNION
	SELECT 8002, 'SCIENCE',15 

				
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.SubjectId ,
		tm1.MaxSubjectSortOrder + 5 , 
		tm1.SubjectName, 
		tm2.Schoolwise_Test_Id,
		TM2.TestSortOrder , 
		tm2.SchoolWise_Test_Name,
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		TermId
	FROM
	(
			SELECT  YearWise_Student_Id ,
			   TG.SubjectId ,
			   MAX(SubjectSortOrder) AS MaxSubjectSortOrder , 
			   TG.SubjectName,
			   'N' as Is_Absent
		FROM @tblMarks TM1
		INNER JOIN Subject_Master SM
		ON TM1.Subject_Id = SM.Subject_Id
		INNER JOIN @TblGroups TG
		ON sm.Original_Subject_Id = TG.OriginalSubjectId
		AND SM.Is_Deleted = 'N'
		AND SM.academic_Year_Id = @Academic_Year_Id
		and sm.School_Id = @School_Id
		group by YearWise_Student_Id ,
			TG.SubjectId ,		
			TG.SubjectName
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,SubjectName, Schoolwise_Test_Id,TestSortOrder, SchoolWise_Test_Name,
		SUM(Total_Marks_Scored)/CASE WHEN SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) = 0 THEN 1 ELSE SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) END AS Total_Marks_Scored, 
		SUM(OutOfMarks)/count(1) AS OutOfMarks,
		TermId
		from
		(
			SELECT TM.YearWise_Student_Id,tg.SubjectName, tm.Schoolwise_Test_Id,tm.TestSortOrder,tm.SchoolWise_Test_Name,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')
				THEN Total_Marks_Scored ELSE 0 END as Total_Marks_Scored,			
			OutOfMarks,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y') THEN 1 ELSE 0 END AS ConsiderMarks,
			TermId
			FROM @tblMarks TM		
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON sm.Original_Subject_Id = TG.OriginalSubjectId
			WHERE SM.Is_Deleted = 'N'
			AND SM.academic_Year_Id = @Academic_Year_Id
			and sm.School_Id = @School_Id
		)S
		group by YearWise_Student_Id,SubjectName,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,TermId
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	and tm1.SubjectName = tm2.SubjectName

	UPDATE @tblMarks
	SET Marks = case when Is_Absent = 'N' OR (Total_Marks_Scored IS NOT NULL AND Total_Marks_Scored <> 0) then CAST(Total_Marks_Scored AS NVARCHAR(10)) else (SELECT DisplayValue FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ShortName = Is_Absent) END
	
	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent NOT IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')

	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	and Total_Marks_Scored <> 0

	UPDATE TM
	SET AdjustedMarks = ADJSTD.Marks
	FROM @tblMarks TM
	inner join Subject_Master SM
	ON TM.Subject_Id = SM.Subject_Id
	INNER JOIN @TblGroups TG
	ON SM.Original_Subject_Id = TG.OriginalSubjectId

	inner join
	(
		select TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, round((sum(Total_Marks_Scored)/sum(OutOfMarks))*SS1.ExOutOfMarks,2) as Marks
		from @TblGroups TTG
		INNER JOIN Subject_Master SM1
		ON TTG.OriginalSubjectId = SM1.Original_Subject_Id
		INNER JOIN @tblMarks TM
		ON SM1.Subject_Id = TM.Subject_Id
		LEFT OUTER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS
		ON TTG.SubjectId = SS.SubjectId	
		AND TTG.OriginalSubjectId = SS.OriginalSubjectId
		and TM.Schoolwise_Test_Id = SS.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS.YearWise_Student_Id
		INNER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS1
		ON TTG.SubjectId = SS1.SubjectId	
		and TM.Schoolwise_Test_Id = SS1.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS1.YearWise_Student_Id
		WHERE SM1.School_Id = @School_Id
		AND SM1.academic_Year_Id = @Academic_Year_Id
		AND SM1.Is_Deleted = 'N'
		AND SS.YearWise_Student_Id IS NULL
		group by SS1.ExOutOfMarks,TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id
	)ADJSTD
	ON TM.YearWise_Student_Id = ADJSTD.YearWise_Student_Id
	AND TM.Schoolwise_Test_Id = ADJSTD.Schoolwise_Test_Id
	AND TG.SubjectId = ADJSTD.SubjectId
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.Is_Deleted = 'N'
		
	update tm1
	set Is_Absent = 'E'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'E'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId
	
	update tm1
	set Is_Absent = 'J'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'J'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId

	DECLARE @tblGroupSubIds AS TABLE
	(
		Subject_Id INT
	)

	INSERT INTO @tblGroupSubIds
	SELECT Subject_Id
	FROM Subject_Master SM
	INNER JOIN @TblGroups TG
	ON sm.Original_Subject_Id = TG.OriginalSubjectId
	WHERE SM.Is_Deleted = 'N'
	AND SM.academic_Year_Id = @Academic_Year_Id
	and sm.School_Id = @School_Id

	DECLARE @tblAbsentForAllSubOfGroup AS TABLE
	(
		YearWise_Student_Id INT,
		Schoolwise_Test_Id INT,
		Subject_Id INT,
		SubjectName nvarchar(100)
	)

	INSERT INTO @tblAbsentForAllSubOfGroup
	select s.YearWise_Student_Id,Schoolwise_Test_Id, SM.Subject_Id,TGS.SubjectName
	from @TblGroups TGS
	INNER JOIN Subject_Master SM
	ON TGS.OriginalSubjectId = SM.Original_Subject_Id
	INNER JOIN
	(
		select SubjectName, COUNT(1) AS Cnt
		from @TblGroups
		group by SubjectName
	)TG
	ON TGS.SubjectName = TG.SubjectName
	inner join
	(
		select TM.YearWise_Student_Id, tg.SubjectName,SchoolWise_Test_Name,Schoolwise_Test_Id, COUNT(1) AS Cnt
		from @tblMarks tm
		INNER JOIN Subject_Master SM
		ON TM.Subject_Id = SM.Subject_Id
		inner join @TblGroups tg
		on sm.Original_Subject_Id = tg.OriginalSubjectId
		WHERE SM.academic_Year_Id = @Academic_Year_Id
		AND SM.School_Id = @School_Id
		AND SM.Is_Deleted = 'N'			
		and Is_Absent  IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
		group by TM.YearWise_Student_Id, tg.SubjectName,SchoolWise_Test_Name,Schoolwise_Test_Id
	)S
	ON TG.SubjectName = S.SubjectName
	and tg.Cnt = s.Cnt
	WHERE SM.School_Id = @School_Id
	AND SM.academic_Year_Id  =@Academic_Year_Id
	AND SM.Is_Deleted = 'N'

	UPDATE TM
	SET OutOfMarks = 0
	from @tblAbsentForAllSubOfGroup TAF
	INNER JOIN @tblMarks TM
	ON TAF.YearWise_Student_Id = TM.YearWise_Student_Id
	AND TAF.Schoolwise_Test_Id = TM.Schoolwise_Test_Id
	AND TAF.SubjectName = TM.Subject_Name
	WHERE TM.OutOfMarks <> 0
	
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.Subject_Id ,
		SubjectSortOrder , 
		Subject_Name , 
		8888,
		9999 , 
		'Total',
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		TermId
	FROM
	(
		SELECT YearWise_Student_Id ,
			   Subject_Id ,
			   SubjectSortOrder , 
			   Subject_Name,
			   --Is_Absent ,
			   'N' as Is_Absent			   
		FROM @tblMarks TM1
		group by YearWise_Student_Id ,
			Subject_Id ,
			SubjectSortOrder , 
			Subject_Name
			--Is_Absent
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,subject_id, SUM(AdjustedMarks) AS Total_Marks_Scored, SUM(OutOfMarks) AS OutOfMarks,TermId
		from
		(
			select YearWise_Student_Id,subject_id, AdjustedMarks, 
			CASE WHEN Is_Absent IN ('E','Y') and @Academic_Year_Id >= 54 AND Subject_Id IN (SELECT Subject_Id FROM @tblGroupSubIds) 
			AND NOT EXISTS(SELECT TOP 1 1 FROM @tblAbsentForAllSubOfGroup TAASG WHERE TM.YearWise_Student_Id = TAASG.YearWise_Student_Id AND TM.Schoolwise_Test_Id = TAASG.Schoolwise_Test_Id AND TM.Subject_Id = TAASG.Subject_Id)
			then OutOfMarks else 
				case when Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N') then 0 else OutOfMarks end 
			end 
			as OutOfMarks,			
			TermId
			FROM @tblMarks TM
			where SchoolWise_Test_Name <> 'Total'	
		)S
		group by YearWise_Student_Id,subject_id,TermId
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id
	
	
	UPDATE TM
	SET Total_Marks_Scored = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		Marks = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		OutOfMarks = 100
	FROM @tblMarks TM
	inner join @TblGroups tg
	on tm.Subject_Name = tg.SubjectName
	WHERE SchoolWise_Test_Name = 'Total'
	and OutOfMarks <> 100
	
	UPDATE TM
	SET Total_Marks_Scored = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		Marks = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		OutOfMarks = 100
	from @tblMarks TM
	INNER JOIN
	(
		select YearWise_Student_Id, Subject_Id
		from @tblMarks
		where Is_Absent  IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
		group by YearWise_Student_Id, Subject_Id
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id
	AND TM.Subject_Id = S.Subject_Id
	inner join
	(
		select S1.YearWise_Student_Id, sm.Subject_Id, sm.Subject_Name
		from
		(
			select TM.YearWise_Student_Id, tg.SubjectName, count(1) as SubjectCount
			from @tblMarks tm
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			WHERE SM.academic_Year_Id = @Academic_Year_Id
			AND SM.School_Id = @School_Id
			AND SM.Is_Deleted = 'N'
			and Is_Absent  IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
			group by TM.YearWise_Student_Id, tg.SubjectName
		)S1
		INNER JOIN
		(
			select SubjectName, count(1) as SubjectCount
			from @TblGroups
			group by SubjectName
		)S2
		ON S1.SubjectName = S2.SubjectName
		AND S1.SubjectCount = S2.SubjectCount
		INNER JOIN @TblGroups TG1
		ON S1.SubjectName = TG1.SubjectName
		INNER JOIN Subject_Master SM
		ON TG1.OriginalSubjectId = SM.Original_Subject_Id
		WHERE SM.School_Id = @School_Id
		AND SM.academic_Year_Id = @Academic_Year_Id
		AND SM.Is_Deleted = 'N'
	)SS
	ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
	AND TM.Subject_Id = SS.Subject_Id
	where Schoolwise_Test_Id = 8888
	and OutOfMarks <> 100

	DECLARE @TblLateJoinee AS TABLE
	(
		YearWise_Student_Id INT
	)

	INSERT INTO @TblLateJoinee
	select s1.YearWise_Student_Id
	from
	(
		select YearWise_Student_Id
		from @tblMarks
		where TermId = 2
		and Schoolwise_Test_Id = 8888
		group by YearWise_Student_Id
	)s1
	left outer join
	(
		select YearWise_Student_Id
		from @tblMarks
		where TermId = 1
		and Schoolwise_Test_Id = 8888
		AND Total_Marks_Scored > 0
		group by YearWise_Student_Id
	)s2
	on s1.YearWise_Student_Id =  s2.YearWise_Student_Id
	where s2.YearWise_Student_Id is null

	insert into @tblMarks
	select tm1.YearWise_Student_Id,Subject_Id,SubjectSortOrder,Subject_Name,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,0,0,0,'N',0,1
	from @tblMarks TM1
	INNER JOIN @TblLateJoinee tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	where tm1.TermId = 2
	and Schoolwise_Test_Id = 8888
	
	update TM
	set Marks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		AdjustedMarks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		OutOfMarks = 100
	FROM @tblMarks TM
	LEFT OUTER JOIN
	(
		select sm.Subject_Id
		from @TblGroups tg
		inner join Subject_Master sm
		on tg.OriginalSubjectId = sm.Original_Subject_Id
		where sm.School_Id = @School_Id
		and sm.academic_Year_Id = @Academic_Year_Id
		and sm.Is_Deleted = 'N'
		group by sm.Subject_Id
	)SM
	ON TM.Subject_Id = SM.Subject_Id
	where SchoolWise_Test_Name = 'Total'
	and OutOfMarks <> 100
	and OutOfMarks <> 0
	AND SM.Subject_Id IS NULL
	
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.Subject_Id ,
		SubjectSortOrder , 
		Subject_Name , 
		8888,
		10010 , 
		'Total',
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		3 as TermId
	FROM
	(
		SELECT YearWise_Student_Id ,
			   Subject_Id ,
			   SubjectSortOrder , 
			   Subject_Name,
			   --Is_Absent ,
			   'N' as Is_Absent			   
		FROM @tblMarks TM1
		group by YearWise_Student_Id ,
			Subject_Id ,
			SubjectSortOrder , 
			Subject_Name
			--Is_Absent
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,subject_id, CONVERT(DECIMAL(10,2), (SUM(Marks)/(CASE WHEN SUM(OutOfMarks) = 0 THEN 1 ELSE SUM(OutOfMarks) END))*100) AS Total_Marks_Scored, 100 AS OutOfMarks
		from
		(
			select YearWise_Student_Id,subject_id, convert(decimal(10,2), Marks) as Marks, 
			case when Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N') then 0 else OutOfMarks end as OutOfMarks			
			FROM @tblMarks TM		
			where TestSortOrder in (9998,9999)
		)S
		group by YearWise_Student_Id,subject_id
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id

	DECLARE @CatchPercentage BIT = 1

	IF @CatchPercentage = 1
	BEGIN
			DECLARE @tblStudnetPercentageDetails AS TABLE
			(
				ScStudent_Id INT,
				Percentage DECIMAL(10,2)
			)

			INSERT INTO @tblStudnetPercentageDetails
			SELECT YSD.Student_Id,ROUND((TotalMarks/OutOfMarksTotal)*100,2) AS Percentage
			FROM YearWise_Student_Details YSD
			INNER JOIN vw_BaseStudentDetails BSD
			ON YSD.Student_Id = BSD.SchoolWise_Student_Id
			INNER JOIN
			(
				SELECT SS.YearWise_Student_Id,SUM(Total_Marks_Scored) AS TotalMarks, SUM(OutOfMarks) AS OutOfMarksTotal
				from
				(
					SELECT TM.Subject_Name, TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id,
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN Subject_Master SM
					ON TM.Subject_Id = SM.Subject_Id				
					LEFT OUTER JOIN @TblGroups TG
					ON sm.Original_Subject_Id= TG.OriginalSubjectId					
					where TermId = 3
					AND TG.SubjectId IS NULL
					UNION
					SELECT TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, 
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN @TblGroups TG
					ON TM.Subject_Name = TG.SubjectName
					where TermId = 3
					--group by TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, Total_Marks_Scored, OutOfMarks
				)SS
				LEFT OUTER JOIN @tblStudentDetails TSD
				ON SS.YearWise_Student_Id = TSD.YearWise_Student_Id
				AND SS.Subject_Id = TSD.ThirdLanguageSubjectId
				WHERE TSD.YearWise_Student_Id IS NULL	
				group by SS.YearWise_Student_Id
			)S
			ON YSD.YearWise_Student_Id = S.YearWise_Student_Id
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON ROUND((TotalMarks/OutOfMarksTotal)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			WHERE MGCD.Is_Deleted = 'N'
			AND MGC.Is_Deleted = 'N'
			AND MGC.Standard_Id = @Standard_Id
			AND MGC.IsForCoCurricularSubjects = 0			
			
			-- To Save percentage details
			UPDATE SFRD
			SET Percentage = TSPD.Percentage
			FROM @tblStudnetPercentageDetails TSPD
			INNER JOIN StudentFinalResultDetails SFRD
			ON TSPD.ScStudent_Id = SFRD.SchoolwiseStudentId
			WHERE SFRD.SchoolId = @School_Id
			AND SFRD.AcademicYearId = @Academic_Year_Id
			AND SFRD.IsDeleted = 0

			INSERT INTO StudentFinalResultDetails
			SELECT TSPD.ScStudent_Id,TSPD.Percentage,@School_Id,@Academic_Year_Id,0
			FROM @tblStudnetPercentageDetails TSPD
			LEFT OUTER JOIN StudentFinalResultDetails SFRD
			ON TSPD.ScStudent_Id = SFRD.SchoolwiseStudentId
			AND SFRD.SchoolId = @School_Id
			AND SFRD.AcademicYearId = @Academic_Year_Id
			AND SFRD.IsDeleted = 0
			WHERE SFRD.SchoolwiseStudentId IS NULL
					--
	END
	
	DECLARE @SchoolReopenNote NVARCHAR(200) = '',
			@SchoolReopenDate DATE,
			@NextAcademicYear NVARCHAR(20)
	
	SELECT @SchoolReopenDate = SchoolReopeningDate,
		   @NextAcademicYear = CAST(YEAR(StartDate) AS NVARCHAR(4)) +' - '+ CAST(YEAR(EndDate) AS NVARCHAR(4))
	FROM Standardwise_Academic_Year SWAY
	INNER JOIN SchoolWise_Academic_Year_Master SAAY
	ON SWAY.Academic_Year_Id = SAAY.Academic_Year_ID
	where SWAY.Academic_Year_Id = @NextAcademicYearId
	and StandardId = @NextStandardId
	and SWAY.Is_Deleted = 0
	AND SAAY.Is_Deleted = 'N'
	
	SELECT tsd.*,tot.*,@TermHeader TermHeader, '' as StarLegend, @IsFromReportScreen IsFromReportScreen,TFR.Result,
	'School will open from '+CAST(DAY(@SchoolReopenDate) AS NVARCHAR(2)) +'th '+CAST(DATENAME(MONTH,@SchoolReopenDate)  AS NVARCHAR(20))+', '+CAST(YEAR(@SchoolReopenDate) AS NVARCHAR(4))+' for the new Academic Session '+@NextAcademicYear+'.' AS SchoolReopenNote,
	@Academic_Year_Id AS AcademicYearId
	FROM @tblStudentDetails tsd
	inner join @TblFinalResult TFR
	on tsd.YearWise_Student_Id = tfr.YrStudentId
	INNER JOIN
		(
			SELECT YearWise_Student_Id AS TotalStudId,TotalMarks,OutOfMarksTotal, ROUND((TotalMarks/OutOfMarksTotal)*100,2) AS Percentage, MGCD.Grade_Name
			FROM
			(
				SELECT SS.YearWise_Student_Id,SUM(Total_Marks_Scored) AS TotalMarks, SUM(OutOfMarks) AS OutOfMarksTotal
				from
				(
					SELECT TM.Subject_Name, TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id,
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN Subject_Master SM
					ON TM.Subject_Id = SM.Subject_Id				
					LEFT OUTER JOIN @TblGroups TG
					ON sm.Original_Subject_Id= TG.OriginalSubjectId					
					where TermId = 3
					AND TG.SubjectId IS NULL
					UNION
					SELECT TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, 
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN @TblGroups TG
					ON TM.Subject_Name = TG.SubjectName
					where TermId = 3
					--group by TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, Total_Marks_Scored, OutOfMarks
				)SS
				LEFT OUTER JOIN @tblStudentDetails TSD
				ON SS.YearWise_Student_Id = TSD.YearWise_Student_Id
				AND SS.Subject_Id = TSD.ThirdLanguageSubjectId
				WHERE TSD.YearWise_Student_Id IS NULL	
				group by SS.YearWise_Student_Id
			)S
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON ROUND((TotalMarks/OutOfMarksTotal)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			WHERE MGCD.Is_Deleted = 'N'
			AND MGC.Is_Deleted = 'N'
			AND MGC.Standard_Id = @Standard_Id
			AND MGC.IsForCoCurricularSubjects = 0
		)TOT
		ON TSD.YearWise_Student_Id = TOT.TotalStudId

		UPDATE TM
		SET Marks = '-'
		from @tblMarks TM
		inner join
		(
			select YearWise_Student_Id, Subject_Id
			from @tblMarks
			where SchoolWise_Test_Name <>  'Total'
		--	and Is_Absent in (select ShortName from Schoolwise_Exam_Status where SchoolId = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			group by YearWise_Student_Id, Subject_Id
			having sum(Total_Marks_Scored) = 0
		)ss
		ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
		AND TM.Subject_Id = SS.Subject_Id
		where SchoolWise_Test_Name =  'Total'

		UPDATE TM
		SET Marks = '-'
		FROM @tblMarks TM
		INNER JOIN @TblLateJoinee TLJ
		ON TM.YearWise_Student_Id = TLJ.YearWise_Student_Id
		WHERE TermId = 1
		AND SchoolWise_Test_Name = 'Total'
		--and Marks = 0

		update tm
		set Marks = @ExemptedText
		from @tblMarks tm
		where Marks = 'Ex'

		UPDATE TM
		SET Marks = '-'
		from @tblMarks TM
		INNER JOIN
		(
			SELECT YearWise_Student_Id 
			FROM @tblMarks
			WHERE SchoolWise_Test_Name = 'TOTAL'
			AND TermId = 1
			GROUP BY YearWise_Student_Id
			having sum(Total_Marks_Scored) = 0
		)MARKS
		ON TM.YearWise_Student_Id = MARKS.YearWise_Student_Id
		WHERE SchoolWise_Test_Name = 'TOTAL'
		AND TermId = 1
		
		UPDATE TM1
		SET Subject_Name = '<b>'+ UPPER(TM1.Subject_Name)+'</b>',
			Marks = '<b>'+ Marks+'</b>'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id				
			LEFT OUTER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			where TestSortOrder IN (9998, 9999)
			AND TG.SubjectId IS NULL
			UNION
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN @TblGroups TG
			ON TM.Subject_Name = TG.SubjectName
			where TestSortOrder IN (9998, 9999)		
		)TM2
		ON TM1.Subject_Name = TM2.Subject_Name

		update @tblMarks
		set TestSortOrder = 9998,
			SchoolWise_Test_Name = 'Term II Percentage'
		where SchoolWise_Test_Name = 'Total'
		and TermId = 2

		update @tblMarks
		set SchoolWise_Test_Name = 'Term I Percentage'
		where SchoolWise_Test_Name = 'Total'
		and TermId = 1
		
		IF @ShowBothTermDetails = 1
		BEGIN
			update @tblMarks
			set TestSortOrder = 1
			where SchoolWise_Test_Name  ='Formative Assessment I'

			update @tblMarks
			set TestSortOrder = 2
			where SchoolWise_Test_Name  ='Progressive Analysis - I'

			update @tblMarks
			set TestSortOrder = 3
			where SchoolWise_Test_Name  ='Comprehensive Content Review - I'

			update @tblMarks
			set TestSortOrder = 4
			where SchoolWise_Test_Name  ='Term I Percentage'

			update @tblMarks
			set TestSortOrder = 5
			where SchoolWise_Test_Name  ='Project'

			update @tblMarks
			set TestSortOrder = 6
			where SchoolWise_Test_Name  ='Formative Assessment II'

			update @tblMarks
			set TestSortOrder = 7
			where SchoolWise_Test_Name  ='Progressive Analysis II'

			update @tblMarks
			set TestSortOrder = 8
			where SchoolWise_Test_Name  ='Comprehensive Content Review - II'
		END

		update TM1
		SET Marks = '-'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT YearWise_Student_Id,Subject_Id
			from @tblMarks tm
			where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		AND TM1.TestSortOrder IN (9999,9998)
				
		update @tblMarks
		set SchoolWise_Test_Name = '                    '+'F. A. - II'
		where SchoolWise_Test_Name = 'Formative Assessment II'

		update @tblMarks
		set SchoolWise_Test_Name = '                    '+'P. A. - II'
		where SchoolWise_Test_Name = 'Progressive Analysis II'

		update @tblMarks
		set SchoolWise_Test_Name = '                    '+'C. C. R. - II'
		where SchoolWise_Test_Name = 'Comprehensive Content Review - II'

		update @tblMarks
		set SchoolWise_Test_Name = '                    '+'Project'
		where SchoolWise_Test_Name = 'Project'

		IF @ShowBothTermDetails = 1
		BEGIN
			update @tblMarks
			set SchoolWise_Test_Name = '                    '+'F. A. - I'
			where SchoolWise_Test_Name = 'Formative Assessment I'

			update @tblMarks
			set SchoolWise_Test_Name = '                    '+'P. A. - I'
			where SchoolWise_Test_Name = 'Progressive Analysis - I'

			update @tblMarks
			set SchoolWise_Test_Name = '                    '+'C. C. R. - I'
			where SchoolWise_Test_Name = 'Comprehensive Content Review - I'
		END

		UPDATE TM1
		SET SchoolWise_Test_Name = case when TM1.SchoolWise_Test_Name = 'Total' then 'Overall                  Percentage' else TM1.SchoolWise_Test_Name end 
		  + case when TM1.SchoolWise_Test_Name = 'Total' then'                       ' else '                              ' end+'('+CAST(CONVERT(INT,TM2.OutOfMarks) AS NVARCHAR(10))+')'
		FROM @tblMarks TM1
		inner join
		(
			SELECT YearWise_Student_Id, schoolwise_test_id, max(OutOfMarks) as OutOfMarks
			FROM @tblMarks
			GROUP BY YearWise_Student_Id, schoolwise_test_id
		)tm2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Schoolwise_Test_Id = TM2.Schoolwise_Test_Id
		
		UPDATE TM1
		SET Marks = '<b>' +TM2.Grade_Name+'</b>'
		FROM @tblMarks TM1
		INNER JOIN
		(
			select tm.YearWise_Student_Id,tm.Schoolwise_Test_Id,tm.Subject_Id, mgcd.Grade_Name, TM.TermId
			from @tblStudentDetails tsd
			inner join @tblMarks tm
			on tsd.YearWise_Student_Id = tm.YearWise_Student_Id
			and tsd.ThirdLanguageSubjectId = tm.Subject_Id
			inner join Marks_Grades_Configuration mgc
			on mgc.Standard_Id = @Standard_Id
			inner join Marks_Grades_Configuration_Details mgcd
			on mgc.Marks_Grades_Configuration_Id = mgcd.Marks_Grades_Configuration_Id
			and round((Total_Marks_Scored/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,2) between mgcd.Starting_Marks_Range and mgcd.Actual_Ending_Marks_Range
			where mgc.Is_Deleted = 'N'
			and mgcd.Is_Deleted = 'N'
			and mgc.Academic_Year_Id = @Academic_Year_Id
			and mgc.School_Id = @School_Id
			and mgc.IsForCoCurricularSubjects = 0
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		AND TM1.Schoolwise_Test_Id = TM2.Schoolwise_Test_Id
		and tm1.TermId = tm2.TermId
		LEFT OUTER JOIN @TblLateJoinee TLJ
		ON TM1.YearWise_Student_Id = TLJ.YearWise_Student_Id
		WHERE TLJ.YearWise_Student_Id IS NULL

		IF @ShowBothTermDetails = 0
		BEGIN
			DELETE  FROM @tblMarks
			where TermId = 1
			AND TestSortOrder <> 9999
		END

		SELECT --*,
		YearWise_Student_Id,
		Subject_Id,
		SubjectSortOrder,
		Subject_Name,
		Schoolwise_Test_Id,
		TestSortOrder, 
		SchoolWise_Test_Name,
		Total_Marks_Scored,
		case when @School_Id = 18 and @Academic_Year_Id <= 55 then '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' else '&nbsp;&nbsp;&nbsp;' end + case when Is_Absent = 'N' or (Total_Marks_Scored is not null and Total_Marks_Scored <> 0) then Marks when Is_Absent='E' then @ExemptedText else
		 (select DisplayValue from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and Is_Absent = ShortName) end as Marks,
		OutOfMarks,
		Is_Absent ,
		 CASE LEN(SubjectSortOrder) WHEN 1 THEN '00' WHEN 2 THEN '0' ELSE '' END+CAST(SubjectSortOrder AS NVARCHAR(10)) AS NewSubjectSortOrder,
		 TermId
		FROM @tblMarks

		select SSTM.Student_Id as YearWise_Student_Id,SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, sm.Subject_Name,STM.SchoolWise_Test_Id, SSTMR.Sort_Order AS TestSortOrder, 
		--CASE WHEN @TermId = 1 THEN 'TERM - I' ELSE 'TERM - II' END AS SchoolWise_Test_Name,		
		CASE WHEN @ShowBothTermDetails = 0  
			THEN CASE WHEN @TermId = 1 THEN 'TERM - I' ELSE 'TERM - II' END 
			ELSE CASE WHEN stm.Term_Id = 1 THEN 'TERM - I' ELSE 'TERM - II' END 
		END AS SchoolWise_Test_Name,	
		CASE WHEN SSTM.Is_Absent = 'J' THEN '-' ELSE mgcd.Grade_Name END AS Grade_Name
		from SchoolWise_Student_Test_Marks SSTM
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Master STM
		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		INNER JOIN YearWise_Student_Details YSD
		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON YSD.Standard_Id = SSSM.Standard_Id
		AND SM.Subject_Id = SSSM.Subject_Id
		INNER JOIN Schoolwise_Standard_Test_Master SSTMR
		ON YSD.Standard_Id = SSTMR.Standard_Id
		AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
		INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
		ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
		INNER JOIN Marks_Grades_Configuration MGC
		ON YSD.Standard_Id = MGC.Standard_Id
		INNER JOIN Marks_Grades_Configuration_Details MGCD
		ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		AND  (SSTM.Total_Marks_Scored/(case when STSMM.OutOfMarks is not null and STSMM.OutOfMarks <> 0 then STSMM.OutOfMarks else STSMM.Subject_Total_Marks end))*100 between mgcd.Starting_Marks_Range and mgcd.Actual_Ending_Marks_Range
		INNER JOIN Schoolwise_Division_Subject_Master SDSM
		ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
		AND STSMM.Subject_Id = SDSM.Subject_Id
		inner join @TblFinalResult TFR
		ON YSD.YearWise_Student_Id = TFR.YrStudentId
		WHERE SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND SSTMR.Is_Deleted = 'N'
		and SSTMD.Is_Deleted = 'N'
		and MGC.Is_Deleted = 'N'
		and MGCD.Is_Deleted = 'N'
		AND STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Standard_Division_Id = @Division_Id
		AND YSD.Is_Deleted = 'N'
		AND (STM.Term_Id = @TermId OR @ShowBothTermDetails = 1)
		AND STSMM.Grade_Or_Marks = 'M'
		AND STSMM.Is_Submitted = 'Y'
		AND SDSM.Is_Deleted = 'N'
		AND SDSM.Total_Consideration = 'N'
		and sm.Is_CoCurricularActivity = 1
		AND MGC.IsForCoCurricularSubjects = 1
		AND (Term_Id = @TermId OR @ShowBothTermDetails = 1)
		UNION
		select SSTM.Student_Id as YearWise_Student_Id,SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, sm.Subject_Name,STM.SchoolWise_Test_Id, SSTMR.Sort_Order AS TestSortOrder, 
		--CASE WHEN @TermId = 1 THEN 'TERM - I' ELSE 'TERM - II' END AS SchoolWise_Test_Name,	
		CASE WHEN @ShowBothTermDetails = 0  
			THEN CASE WHEN @TermId = 1 THEN 'TERM - I' ELSE 'TERM - II' END 
			ELSE CASE WHEN stm.Term_Id = 1 THEN 'TERM - I' ELSE 'TERM - II' END 
		END AS SchoolWise_Test_Name,
		CASE WHEN SSTM.Is_Absent = 'J' THEN '-' ELSE mgcd.Grade_Name END AS Grade_Name
		from SchoolWise_Student_Test_Marks SSTM
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Master STM
		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		INNER JOIN YearWise_Student_Details YSD
		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON YSD.Standard_Id = SSSM.Standard_Id
		AND SM.Subject_Id = SSSM.Subject_Id
		INNER JOIN Schoolwise_Standard_Test_Master SSTMR
		ON YSD.Standard_Id = SSTMR.Standard_Id
		AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
		INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
		ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
		LEFT OUTER JOIN Marks_Grades_Configuration MGC
		ON YSD.Standard_Id = MGC.Standard_Id
		and MGC.Is_Deleted = 'N'
		AND MGC.IsForCoCurricularSubjects = 1
		LEFT OUTER JOIN Marks_Grades_Configuration_Details MGCD
		ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		AND SSTMD.Assigned_Grade_Id = MGCD.Marks_Grades_Configuration_Detail_ID	
		and MGCD.Is_Deleted = 'N'
		INNER JOIN Schoolwise_Division_Subject_Master SDSM
		ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
		AND STSMM.Subject_Id = SDSM.Subject_Id
		inner join @TblFinalResult TFR
		ON YSD.YearWise_Student_Id = TFR.YrStudentId
		WHERE SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND SSTMR.Is_Deleted = 'N'
		and SSTMD.Is_Deleted = 'N'		
		AND STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Standard_Division_Id = @Division_Id
		AND YSD.Is_Deleted = 'N'
		AND (STM.Term_Id = @TermId OR @ShowBothTermDetails = 1)
		AND STSMM.Grade_Or_Marks = 'G'
		AND STSMM.Is_Submitted = 'Y'
		AND SDSM.Is_Deleted = 'N'
		AND SDSM.Total_Consideration = 'N'
		AND SM.Is_CoCurricularActivity = 1
END