/****** Object:  StoredProcedure [dbo].[usp_GetTeacherSubjectDetails]    Script Date: 7/3/2026 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  MILIND  
-- Create date: 24 jun 2009  
-- Description: This store procedure used to delete selected messages.  
-- =============================================  
  
ALTER PROCEDURE [dbo].[usp_GetTeacherSubjectDetails]  
@School_Id INT,  
@Academic_Year_Id INT  
AS  
BEGIN  
  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;   
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  
  

    
 ;WITH LecturesPerDivisionSubject AS (
    SELECT
        LSPSSW.Division_Subject_Id,
        LSPSSW.Max_Lectures_Per_Standard_Subject,
        ROW_NUMBER() OVER (
            PARTITION BY LSPSSW.Division_Subject_Id
            ORDER BY (SELECT NULL)
        ) AS RowNum
    FROM dbo.Lectures_Per_Standard_Subject_Week LSPSSW
    WHERE LSPSSW.School_Id = @School_Id
      AND LSPSSW.academic_year_id = @Academic_Year_Id
 )
 SELECT
    v.classSubjectName,
    v.Standard_Id,
    v.Standard_Name,
    v.TeacherShortName,
    v.Is_ClassTeacher,
    v.Subject_Name,
    v.Standard_Division_Id,
    v.Teacher_Subject_Id,
    v.Subject_Id,
    v.Teacher_Id,
    v.Standard_Name + N' - ' + CASE
        WHEN sd.DisplayNameForDivision IS NULL OR sd.DisplayNameForDivision = N''
        THEN v.Division_Name
        ELSE sd.DisplayNameForDivision
    END AS Class,
    v.Subject_Name + N' - ' + v.TeacherShortName AS Teacher_Subject,
    ISNULL(ISNULL(lp.Max_Lectures_Per_Standard_Subject, 0), 0) AS maxSubjectLecturesInWeek
 FROM dbo.vw_Get_Subject_Assigned_TeacherName v
 INNER JOIN dbo.SchoolWise_Standard_Division_Master sd
    ON v.Standard_Id = sd.Standard_Id
   AND v.Division_Id = sd.Division_Id
 LEFT JOIN LecturesPerDivisionSubject lp
    ON lp.Division_Subject_Id = v.Schoolwise_Division_Subject_Id
   AND lp.RowNum = 1
 WHERE    v.academic_year_id = @Academic_Year_Id
 ORDER BY v.Original_Standard_Id,
          v.Original_Division_Id,
          v.StandardDivision,
          v.Original_Subject_Id,
          v.classSubjectName
OPTION (RECOMPILE)





 -- get teacher subject details  
-- SELECT     dbo.vw_Get_Subject_Assigned_TeacherName.classSubjectName, dbo.vw_Get_Subject_Assigned_TeacherName.Standard_Id, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Standard_Name, dbo.vw_Get_Subject_Assigned_TeacherName.TeacherShortName, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Is_ClassTeacher, dbo.vw_Get_Subject_Assigned_TeacherName.Subject_Name, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Standard_Division_Id, dbo.vw_Get_Subject_Assigned_TeacherName.Teacher_Subject_Id, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Subject_Id, dbo.vw_Get_Subject_Assigned_TeacherName.Teacher_Id, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Standard_Name + N' - ' + CASE WHEN dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision IS NULL OR
--                      dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision = N'' THEN dbo.vw_Get_Subject_Assigned_TeacherName.Division_Name ELSE dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision
--                       END AS Class, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Subject_Name + N' - ' + dbo.vw_Get_Subject_Assigned_TeacherName.TeacherShortName AS Teacher_Subject					                        
--					  ,ISNULL((
--						select TOP 1 ISNULL(Max_Lectures_Per_Standard_Subject,0) AS Max_Lectures_Per_Standard_Subject
--						  from Lectures_Per_Standard_Subject_Week LSPSSW						  
--						  WHERE LSPSSW.School_Id = @School_Id
--						  AND LSPSSW.academic_year_id = @Academic_Year_Id
--						  AND LSPSSW.Division_Subject_Id = vw_Get_Subject_Assigned_TeacherName.Schoolwise_Division_Subject_Id
--					  ),0) AS maxSubjectLecturesInWeek
--FROM         dbo.vw_Get_Subject_Assigned_TeacherName INNER JOIN
--                      dbo.SchoolWise_Standard_Division_Master ON 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Standard_Id = dbo.SchoolWise_Standard_Division_Master.Standard_Id AND 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.Division_Id = dbo.SchoolWise_Standard_Division_Master.Division_Id
--WHERE     (dbo.vw_Get_Subject_Assigned_TeacherName.School_Id = @School_Id) AND 
--(dbo.vw_Get_Subject_Assigned_TeacherName.academic_year_id = @Academic_Year_Id)
--ORDER BY dbo.vw_Get_Subject_Assigned_TeacherName.Original_Standard_Id, dbo.vw_Get_Subject_Assigned_TeacherName.Original_Division_Id, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.StandardDivision, dbo.vw_Get_Subject_Assigned_TeacherName.Original_Subject_Id, 
--                      dbo.vw_Get_Subject_Assigned_TeacherName.classSubjectName					
   
 END