/****** Object:  StoredProcedure [dbo].[Usp_GetStudentDetailsForProgressReport]    Script Date: 17-02-2026 11:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  Vipul
-- Create date: 31 July 2012
-- Description: This stored procedure is used to get the details for the student progress report.
-- =============================================  
-- =============================================  
-- Author:  Vipul
-- Create date: 3 Aug 2012
-- Description: Perforamnce improvement.
-- =============================================  
--===================================================================================================================================
-- Updated By - Sachin
-- Update Date - 19-Feb-2016
-- Reason - This USP is updated to use third language subject id from yearwise student details table instead of calculating it.
--===================================================================================================================================
ALTER PROCEDURE [dbo].[Usp_GetStudentDetailsForProgressReport]
	-- Add the parameters for the stored procedure here  
	@School_Id INT
	, @Academic_Year_Id INT
	, @StudentId INT = NULL
	, @Standard_Id INT
	, @Division_Id INT
	, @Note NVARCHAR(3000) = NULL
	, @Term_Id INT
	, @IsFromReportScreen INT = 0
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @DivisionId INT
		

	IF @StudentId IS NULL
		SET @StudentId = 0

	IF @Note = N''
		OR @Note IS NULL
		OR @Note = N'Term1'
		SET @Note = N''
			--'___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________'
	

	----------------------------------** Get Academic year,standerd name, division name and principal name.**--------------------------------------------------------------------------------------  
	DECLARE @AcademicYear NVARCHAR(15)
		, @YearStartDate DATETIME
		, @YearEndDate DATETIME
		, @Standard_Name NVARCHAR(15)
		, @Division_Name NVARCHAR(15)
		, @TermEndDate SMALLDATETIME
		, @TermStartDate SMALLDATETIME

	DECLARE @StdStartDate DATETIME
		, @StdEndDate DATETIME

	SELECT @StdStartDate = StartDate
		, @StdEndDate = EndDate
	FROM Standardwise_Academic_Year
	WHERE (Is_Deleted = 0)
		AND (School_Id = @School_Id)
		AND (Academic_Year_ID = @Academic_Year_Id)
		AND Standardwise_Academic_Year.StandardId = @Standard_Id

	SELECT @AcademicYear = CAST(datepart(year, Start_date) AS NVARCHAR) + N'-' + CAST(datepart(year, Start_date) + 1 AS NVARCHAR)
	FROM SchoolWise_Academic_Year_Master
	WHERE (Is_Deleted = N'N')
		AND (School_Id = @School_Id)
		AND (Academic_Year_ID = @Academic_Year_Id)

	IF @StdStartDate IS NULL
	BEGIN
		SELECT @YearStartDate = Start_date
			, @YearEndDate = End_Date
		FROM SchoolWise_Academic_Year_Master
		WHERE (Is_Deleted =N'N')
			AND (School_Id = @School_Id)
			AND (Academic_Year_ID = @Academic_Year_Id)
	END
	ELSE
	BEGIN
		SELECT @YearStartDate = StartDate
			, @YearEndDate = EndDate
		FROM Standardwise_Academic_Year
		WHERE (Is_Deleted = 0)
			AND (School_Id = @School_Id)
			AND (Academic_Year_ID = @Academic_Year_Id)
			AND StandardId = @Standard_Id
	END

	SELECT @Standard_Name = SM.Standard_Name
		, @Division_Name = DM.Division_Name
	FROM SchoolWise_Standard_Division_Master SWSDM
	INNER JOIN Standard_Master SM
		ON SWSDM.Standard_Id = SM.Standard_Id
	INNER JOIN Division_Master DM
		ON SWSDM.Division_Id = DM.Division_Id
	WHERE SWSDM.SchoolWise_Standard_Division_Id = @Division_Id

	SELECT @TermStartDate = StudentTermwiseTestMaster.TermStartDate
	FROM StudentTermwiseTestMaster
	WHERE StudentTermwiseTestMaster.SchoolwiseTermId = @Term_Id
		AND StandardId = @Standard_Id
		AND Is_Deleted = 0

	SELECT @TermEndDate = StudentTermwiseTestMaster.TermEndDate
	FROM StudentTermwiseTestMaster
	WHERE StudentTermwiseTestMaster.SchoolwiseTermId = @Term_Id
		AND StandardId = @Standard_Id
		AND Is_Deleted = 0

	IF (
			@TermStartDate = N'1900-01-01 00:00:00'
			OR @TermStartDate IS NULL
			)
		SET @TermStartDate = @YearStartDate

	IF (
			@TermEndDate = N'1900-01-01 00:00:00'
			OR @TermEndDate IS NULL
			)
		SET @TermEndDate = @YearEndDate

	--------------------------------------------------------------** GetRemark Details**--------------------------------------------------------------------------------  
	--Get DivId from StdDivId  
	SELECT @DivisionId = Division_Id
	FROM SchoolWise_Standard_Division_Master
	WHERE academic_year_id = @Academic_Year_Id
		AND School_Id = @School_Id
		AND Is_Deleted = N'N'
		AND SchoolWise_Standard_Division_Id = @Division_Id

	--------------------------------------------------------------** GetRemark Details**--------------------------------------------------------------------------------  
	

	DECLARE @Term_Name NVARCHAR(50)      
	SELECT  @Term_Name=      
	  CASE WHEN TermName = N'Term-I' THEN
		  CASE WHEN @School_Id = 81 -- dsk
				THEN 'MID TERM'
			   ELSE
				N'FIRST TERM'      
		  END
		WHEN TermName = N'Term-II' 
		THEN 
			CASE WHEN @School_Id = 120 -- BFS 
			THEN 'SECOND TERM'
			ELSE N'FINAL TERM'      
			END
	  END      
	FROM SchoolwiseTermMaster      
	WHERE   SchoolId=@School_Id      
	  AND Is_Deleted=0 AND SchoolwiseTermId=@Term_Id      


	DECLARE @tblAttendaceDetails AS TABLE
	(
		StudentId INT,
		Term1Count INT,
		Term1Total INT
	)

	INSERT INTO @tblAttendaceDetails(StudentId,Term1Count,Term1Total)
	SELECT YearWise_Student_Id,0,0
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	AND YSD.Academic_Year_ID = VSD.academic_year_id
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND (YSD.YearWise_Student_Id = @StudentId OR @StudentId IS NULL OR @StudentId = 0)

	IF(@StudentId IS NOT NULL AND @StudentId <> 0)
		BEGIN
			    UPDATE TAD
				SET Term1Count = S.Term1Count,
					Term1Total = S.Term1Total
				FROM @tblAttendaceDetails TAD
				INNER JOIN
				(
						 SELECT Student_Id,
								COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) as Term1Count,
								COUNT(Is_Present) as Term1Total
						   FROM SchoolWise_Attendance_Details
						  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@TermStartDate) AND CONVERT(Date, @TermEndDate)
							AND Student_Id = @StudentId
							AND Is_Deleted = 'N'
							AND Standard_Division_Id = @Division_Id
					   GROUP BY Student_Id
				 )S
				 ON TAD.StudentId = S.Student_Id
		END
	ELSE
		BEGIN
			 UPDATE TAD
				SET Term1Count = S.Term1Count,
					Term1Total = S.Term1Total
				FROM @tblAttendaceDetails TAD
				INNER JOIN
				(			
					 SELECT Student_Id,
							COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) AS Term1Count,
							COUNT(Is_Present) AS Term1Total
					   FROM SchoolWise_Attendance_Details
					  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@TermStartDate) AND CONVERT(Date, @TermEndDate)				    
						AND Is_Deleted = 'N'
						AND Standard_Division_Id = @Division_Id
				   GROUP BY Student_Id
			     )S
				 ON TAD.StudentId = S.Student_Id
		END

		IF OBJECT_ID('tempdb..#StudentDetail') IS NULL
		BEGIN
			CREATE TABLE #StudentDetail (
				Student_Id INT
				, Roll_Num INT
				, StudentName NVARCHAR(400)
				, DOB SMALLDATETIME
				--, Attendance INT
				--, Total INT
				, TotalPresent INT
				, TotalDays INT
				, Enrolment_Number NVARCHAR(100)
				, Remarks VARCHAR(8000)
				, Class NVARCHAR(20)
				, AcademicYear NVARCHAR(100)
				, TermName NVARCHAR(50)
				, SchoolId INT				
				, City NVARCHAR(50)
				, PinCode NVARCHAR(10)
				, PhNO NVARCHAR(20)
				, FaxNo NVARCHAR(20)
				, Email NVARCHAR(50)
				, Website NVARCHAR(100)
				, PrincipalSign IMAGE
				)
		END

	
	INSERT INTO #StudentDetail
	(
		Student_Id
		, Roll_Num
		, StudentName
		, DOB 
		, TotalPresent
		, TotalDays 
		, Enrolment_Number
		, Remarks 
		, Class 
		, AcademicYear
		, SchoolId
		, City
		, PinCode
		, PhNO
		, FaxNo
		, Email
		, Website
	)
	SELECT SWSM.SchoolWise_Student_Id
		, YWSD.Roll_No
		, SM.Salutation_Name + N' ' + SWSM.First_Name + CASE 
			WHEN SWSM.Middle_Name IS NULL
				OR SWSM.Middle_Name = N''
				THEN N''
			ELSE N' ' + SWSM.Middle_Name
			END + CASE 
			WHEN SWSM.Last_Name IS NULL
				OR SWSM.Last_Name = N''
				THEN N''
			ELSE N' ' + SWSM.Last_Name
			END AS StudentName
		, CONVERT(SMALLDATETIME, SWSM.DOB) DOB
		, ISNULL(TAD.Term1Count,0)
		, ISNULL(TAD.Term1Total,0)
		, SWSM.Enrolment_Number
		, CASE WHEN @School_Id = 71 THEN ' ' ELSE CASE 
			WHEN SWRCD.RemarkDetails IS NULL
				OR SWRCD.RemarkDetails = N''
				THEN @Note
			ELSE SWRCD.RemarkDetails
			END END Remark
		, @Standard_Name +N' - '+ @Division_Name AS Class
		, @AcademicYear AS AcademicYear		
		, SCHM.School_Id		
		, SCHM.City
		, SCHM.Pincode
		, SCHM.Phone_Number
		, SCHM.FaxNumber
		, SCHM.Email
		, SCHM.WebSite		
	FROM YearWise_Student_Details YWSD
	LEFT OUTER JOIN @tblAttendaceDetails TAD
	ON YWSD.YearWise_Student_Id = TAD.StudentId
	INNER JOIN SchoolWise_Standard_Division_Master SWSDM
		ON SWSDM.Standard_Id = YWSD.Standard_Id
			AND SWSDM.Division_Id = YWSD.Division_id
	INNER JOIN SchoolWise_Student_Master SWSM
		ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
	INNER JOIN dbo.Salutation_Master SM
		ON SWSM.Salutation_Id = SM.Salutation_Id
	LEFT OUTER JOIN (
		SELECT YearwiseStudentId, RemarkDetails FROM
		StudentwiseRemarkConfigDetails SWRCD
		INNER JOIN TermWiseRemarksDetails TWRD
		ON TWRD.TermWiseRemarksDetailsId = SWRCD.TermwiseRemarkDetailId
		AND Term_Id = @Term_Id
		AND SWRCD.AcademicYearId = @Academic_Year_Id
		AND TWRD.Academic_Year_Id = @Academic_Year_Id
		)AS SWRCD
		ON SWRCD.YearwiseStudentId = YWSD.YearWise_Student_Id
	INNER JOIN School_Master SCHM
			ON SCHM.School_Id = YWSD.School_Id
			AND SCHM.Is_Deleted = 'N'
	WHERE YWSD.School_Id = @School_Id
		AND YWSD.Academic_Year_ID = @Academic_Year_Id
		AND SWSM.School_Id = @School_Id
		AND SWSM.Is_Deleted = N'N'
		AND YWSD.Is_Deleted = N'N'
		AND YWSD.Standard_Id = @Standard_Id
		AND SWSDM.SchoolWise_Standard_Division_Id = @Division_Id
		AND (YWSD.YearWise_Student_Id = @StudentId OR @StudentId IS NULL OR @StudentId = 0)
	GROUP BY SWSM.SchoolWise_Student_Id
		, YWSD.Roll_No
		, SM.Salutation_Name
		, SWSM.First_Name
		, SWSM.Middle_Name
		, SWSM.Last_Name
		, SWSM.DOB
		, SWSM.Enrolment_Number
		, SWRCD.RemarkDetails
		, TAD.Term1Count
		, TAD.Term1Total
		, SCHM.School_Id		
		, SCHM.City
		, SCHM.Pincode
		, SCHM.Phone_Number
		, SCHM.FaxNumber
		, SCHM.Email
		, SCHM.WebSite
		
		update #StudentDetail
		set PrincipalSign = (
			select SignPathImage
			from School_Master
			where School_Id = @School_Id
		)
		
DECLARE @OptionalSubjects NVARCHAR(1000) = N''

	IF @School_Id <> 18 OR
		(
			@School_Id = 18 -- PPS
			AND NOT EXISTS(
			SELECT TOP 1 1 
			FROM Standard_Master 
			WHERE School_Id = @School_Id 
			AND academic_year_id = @Academic_Year_Id 
			AND Is_Deleted = 'N' 
			AND Standard_Id = @Standard_Id
			AND Standard_Name IN ('9','10'))
		)
	BEGIN
			DECLARE @tblOptionalSubjectGroups AS TABLE
			(
				ParentGroupId INT,
				GroupName NVARCHAR(50)
			)

			DECLARE @tblOptionalSubjectsForStandard AS TABLE
			(
				SubjectId INT,
				Subject_Name NVARCHAR(50),
				SubjectGroupId INT
			)

			INSERT INTO @tblOptionalSubjectGroups
			SELECT DISTINCT Parent_Group_Id,
				   Name
			  FROM OptionalSubjects_Settings 
			 WHERE Academic_Year_Id = @Academic_Year_Id
			   AND School_Id = @School_Id
			   AND Is_Deleted = N'N'
			   AND Standard_Division_Id = @Division_Id	   
			   AND Subject_Id NOT IN
			   (
					SELECT Subject_Id
					FROM Subject_Master
					WHERE School_Id = @School_Id
					AND Academic_Year_Id = @Academic_Year_Id
					AND Is_Deleted = N'N'
					AND Original_Subject_Id IN (1760, 1761, 1762, 1763,1766,1767)
					AND School_Id = 18
			
					-- Marathi and Hindi second and third language subjects
					-- Do not remove this hardcoding.
			   )
	   
		  ORDER BY Parent_Group_Id DESC
    

			DECLARE @ParentGroupId INT
	
	
			WHILE EXISTS(
						SELECT 1
						  FROM @tblOptionalSubjectGroups
						) 
			BEGIN
	
	
			SELECT TOP 1 @ParentGroupId = ParentGroupId FROM @tblOptionalSubjectGroups
	
			INSERT INTO @tblOptionalSubjectsForStandard
				SELECT Subject_Id,
					   Name,
					   SubjectGroupId
				  FROM OptionalSubjects_Settings 
				 WHERE Academic_Year_Id = @Academic_Year_Id
				   AND School_Id = @School_Id
				   AND Is_Deleted = N'N'
				   AND Standard_Division_Id = @Division_Id
				   AND Parent_Group_Id = @ParentGroupId
	
			UPDATE @tblOptionalSubjectsForStandard 
			SET Subject_Name = Subject_Master.Subject_Name
				  FROM @tblOptionalSubjectsForStandard OptionalSubjects_Settings
			INNER JOIN Subject_Master
					ON Subject_Master.Subject_Id = OptionalSubjects_Settings.SubjectId
				   AND Subject_Master.Academic_Year_Id = @Academic_Year_Id
				   AND Subject_Master.School_Id = @School_Id
				   AND Subject_Master.Is_Deleted = N'N'
		   
			UPDATE @tblOptionalSubjectsForStandard 
			SET Subject_Name = [dbo].[Udf_GetSubjectsForSubjectGroup](@School_Id,@Academic_Year_Id,SubjectGroupId,@Division_Id)
			WHERE SubjectId = 0
				  AND SubjectGroupId <> 0
	
			DECLARE @SubjectGroups NVARCHAR(500) = N''
	
			SELECT @SubjectGroups = COALESCE(@SubjectGroups + ', ', '') + Subject_Name 
			  FROM @tblOptionalSubjectsForStandard
	   
			SELECT @OptionalSubjects += '<P>'+GroupName + N': ' + SUBSTRING(@SubjectGroups,2,LEN(@SubjectGroups))+'</P>'
			  FROM @tblOptionalSubjectGroups
			 WHERE ParentGroupId = @ParentGroupId
		 
			DELETE FROM @tblOptionalSubjectsForStandard
			SET @OptionalSubjects = @OptionalSubjects + N' '


			DELETE FROM @tblOptionalSubjectGroups
			 WHERE ParentGroupId = @ParentGroupId
			END
	END

 SELECT SD.Student_Id,
		SD.Roll_Num,
		SD.StudentName,
		SD.DOB,
		--SD.Attendance,
		--SD.Total,
		TotalPresent AS Attendance,
		TotalDays AS Total,
		SD.Enrolment_Number,
		SD.Remarks,
		SD.Class,
		SD.AcademicYear,
		@Term_Name TermName,
		dbo.GetLocalDate(DEFAULT) SchoolReopenDay,
		1 PASS,
		N'' StudentFinalResult,
		N'' DetainResult,
		N'' StandardWithGradingSystem,
		 N'Y' ShowCoCurricularSubjects,N'' StarLegend, 
		 @OptionalSubjects OptionalSubjects,
		 @Academic_Year_Id Academic_Year_Id ,
		 @Term_Id TermId,
		 @Standard_Name Standard_Name,
		 @IsFromReportScreen IsFromReportScreen,
	SchoolId	
	, SD.City
	, SD.PinCode
	, PhNO
	, FaxNo
	, Email
	, Website
	, BSD.Photo_file_Path_Image AS StudentPhoto
	, sd.PrincipalSign
FROM #StudentDetail SD
INNER JOIN vw_BaseStudentDetails BSD
ON SD.Student_Id = BSD.SchoolWise_Student_Id
END