/****** Object:  StoredProcedure [dbo].[usp_GetFeeDetailsOfStudentForOnline]    Script Date: 8/19/2026 4:01:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 19 Nov 2020
-- Description:	This usp is used to get students fee details for Online partial payment.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetFeeDetailsOfStudentForOnline]
	@StudentId INT,    
    @CurrentDate DATETIME,   
    @SchoolId INT,
    @AcademicYearId INT,	
	@DueDateDetails XML
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	DECLARE @tblFeePayables TABLE
	(
		PayableFor NVARCHAR(100)
	)

	insert into @tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@SchoolId,@AcademicYearId)

	IF exists(select top 1 1 from @tblFeePayables)
	BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
	END

IF(@StudentId IS NOT NULL)
	BEGIN
		SELECT @StudentId = YearWise_Student_Id
		  FROM YearWise_Student_Details
		 WHERE School_Id = @SchoolId
		   AND Is_Deleted = 'N'
		   AND Academic_Year_ID = @AcademicYearId
		   AND Student_Id = @StudentId
	END

DECLARE @tblDueDate AS TABLE
(
	Id INT IDENTITY(1,1),
	DueDate DATETIME
)

	INSERT INTO @tblDueDate
		 SELECT T.c.value('./@DueDate',N'DATETIME') 
		   FROM @DueDateDetails.nodes('DueDates/DueDates') T(c)



 DECLARE @AmtPaid INT,    
		 @AmtPayable INT,    		 
		 @TotalLateFee INT,    
		 @TotalConcessionAmt INT,    
		 @TotalPaidlatefee INT  
 --Declare temp. table for particular student's fee details.        
 CREATE TABLE #TemptblFeeDetails    
 (    
   Schoolwise_Student_Fee_Id INT,    
   Payable_For NVARCHAR(200),    
   Amount INT,    
   Paid_Date DATETIME,    
   Fee_Type NVARCHAR(50),    
   Amount_Paid INT,    
   Amount_Payable INT,    
   [D/C] NVARCHAR(10),    
   Receipt_Number NVARCHAR(50),    
   Serial_Number INT,    
   Is_Cheque_Bounce NVARCHAR(1),    
   Std_Fee_Type_Id INT,    
   Late_Fee_Amt INT,    
   Is_Concession NVARCHAR(1),    
   RefundFeeDetailsID INT,    
   Is_LastRefund BIT NULL,    
   TotalAmount INT,    
   Is_Arrears BIT,    
   DebitStudentFeeID INT,    
   IsTransactionCleared BIT,
   AccountHeaderId INT       
 )    
    
 -- Temporary table to exactly replicate the view - vw_Student_Debit_Details      
 CREATE TABLE #tempStudent_Debit_Details    
 (    
   Payable_For NVARCHAR(200),    
   Amount INT,    
   [Debit/Credit] NVARCHAR(10),    
   Paid_Date DATETIME,    
   Remarks NVARCHAR(MAX),    
   AdditionalRemark NVARCHAR(1000),    
   Standard_Div_Id INT,    
   School_Id INT,    
   Academic_Year_Id INT,    
   Schoolwise_Student_Fee_Id INT,    
   Fee_Type NVARCHAR(50),    
   Std_FeeType_Id INT,    
   Serial_Number INT,    
   Student_Fee_Id INT,    
   Receipt_Number NVARCHAR(50),    
   DebitLevel NVARCHAR(7),    
   Is_Cheque_Bounce CHAR(1),    
   Is_Late_Fee CHAR(1),    
   Is_Concession_Fee CHAR(1),    
   Is_Deleted CHAR(1),    
   PDC_Id INT,    
   Cheque_Number NVARCHAR(15),    
   Cheque_Passed_Date SMALLDATETIME,    
   Cheque_Date DATETIME,    
   Bank_Name NVARCHAR(100),    
   Student_Id INT,    
   Is_Arrears BIT,    
   NetBankingPaymentTransactionID INT,    
   DebitStudentFee_Id INT,
   AccountHeaderId INT    
 )    
    
 INSERT #tempStudent_Debit_Details    
 (    
  Payable_For,    
  Amount,    
  [Debit/Credit],    
  Paid_Date,    
  Remarks,    
  AdditionalRemark,
  Standard_Div_Id,    
  School_Id,    
  Academic_Year_Id,    
  Schoolwise_Student_Fee_Id,    
  Fee_Type,    
  Std_FeeType_Id,    
  Serial_Number,    
  Student_Fee_Id,    
  Receipt_Number,    
  DebitLevel,    
  Is_Cheque_Bounce,    
  Is_Late_Fee,    
  Is_Concession_Fee,    
  Is_Deleted,    
  PDC_Id,    
  Cheque_Number,    
  Cheque_Passed_Date,    
  Cheque_Date,    
  Bank_Name,    
  Student_Id,    
  Is_Arrears,    
  NetBankingPaymentTransactionID,    
  DebitStudentFee_Id ,
  AccountHeaderId   
 )    
		SELECT SSFD.Payable_For,    
			   SSFD.Amount,    
			   SSFD.[Debit/Credit],
			   SSFD.Paid_Date,    
			   SSFD.Remarks,    
			   SSFD.AdditionalRemark,
			   SSFD.Standard_Div_Id,    
			   SSFD.School_Id,    
			   SSFD.Academic_Year_Id,    
			   SSFD.Schoolwise_Student_Fee_Id,    
			   SSFD.Fee_Type,    
			   SSFD.Std_FeeType_Id,    
			   SSFD.Serial_Number,    
			   SSFD.Student_Fee_Id,    
			   SSFD.Receipt_Number,    
			   N'Student' AS DebitLevel,    
			   SSFD.Is_Cheque_Bounce,    
			   SSFD.Is_Late_Fee,    
			   SSFD.Is_Concession_Fee,    
			   SSFD.Is_Deleted,    
			   SFPDCD.PDC_Id,    
			   SSPDC.Cheque_Number,    
			   SSPDC.Cheque_Passed_Date,    
			   SSPDC.Cheque_Date,    
			   SBM.Bank_Name,    
			   SSFD.Student_Id,    
			   SSFD.Is_Arrears,    
			   SSFD.NetBankingPaymentTransactionID,    
			   SSFD.DebitStudentFee_Id,
			   SSFD.AccountHeaderId    
		   FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)      
LEFT OUTER JOIN Schoolwise_Student_PostDatedCheques SSPDC WITH(NOLOCK)      
LEFT OUTER JOIN Schoolwise_Bank_Master SBM WITH(NOLOCK)      
			 ON SSPDC.Bank_Id = SBM.Schoolwise_Bank_Id    
LEFT OUTER JOIN Student_Fee_PDC_Details SFPDCD WITH(NOLOCK)      
			 ON SSPDC.PostDated_Cheque_Id = SFPDCD.PDC_Id    
			 ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id    
	 INNER JOIN @tblDueDate tblDueDate
			 ON SSFD.Paid_Date = tblDueDate.DueDate
	  	  WHERE SSFD.Is_Deleted = N'N'    
			AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)    
			AND SSFD.Amount > =0    
			AND SSFD.Academic_Year_Id = @AcademicYearId    
			AND SSFD.Student_Id = @StudentId    
			AND SSFD.Is_Cheque_Bounce=N'N'
			AND SSFD.[Debit/Credit] = 'Debit'
			AND SSFD.Schoolwise_Student_Fee_Id NOT IN (
															SELECT Student_Fee_Id
															  FROM Schoolwise_Student_Fee_Details SWSFD1
															 WHERE Is_Deleted = 'N'
															   AND [Debit/Credit] = 'Credit'
															   AND School_Id = @SchoolId
															   AND Academic_Year_Id = @AcademicYearId
															   AND Is_Late_Fee = 'N'
															   AND Is_Concession_Fee = 'N'
												      )
			
 --Insert fee details into temp. table and also get late fee amount against given date.        
 INSERT INTO #TemptblFeeDetails    
 (    
  Schoolwise_Student_Fee_Id,    
  Payable_For,    
  Amount,    
  Paid_Date,    
  Fee_Type,    
  Amount_Paid,    
  Amount_Payable,    
  [D/C],    
  Receipt_Number,    
  Serial_Number,    
  Is_Cheque_Bounce,    
  Std_Fee_Type_Id,    
  Late_Fee_Amt,    
  Is_Concession,    
  RefundFeeDetailsID,    
  Is_LastRefund,    
  Is_Arrears,    
  DebitStudentFeeID,    
  IsTransactionCleared,
  AccountHeaderId    
 )    
    SELECT Debit.Schoolwise_Student_Fee_Id,    
		   ISNULL(B.Payable_For, Debit.Payable_For) [Payable_For],    
		   Debit.Amount,    
		   Debit.Paid_Date,    
		   ISNULL(B.Fee_Type, Debit.Fee_Type) [Fee_Type],    
		   ISNULL((SELECT Amount    
			         FROM #tempStudent_Debit_Details AS X    
			        WHERE Student_Fee_Id = Debit.Schoolwise_Student_Fee_Id    
			          AND Student_Id = @StudentId    
					UNION    
					SELECT Amount    
					  FROM #tempStudent_Debit_Details AS B    
					 WHERE Receipt_Number = Debit.Receipt_Number    
					   AND Student_Id = @StudentId    
					   AND Is_Concession_Fee = Debit.Is_Concession_Fee    
					   AND Student_Fee_Id IS NULL), 0) 
				AS Amount_Paid,    
			0 AS Amount_Payable,    
			Debit.[Debit/Credit] AS Debit,    
			ISNULL((SELECT Receipt_Number    
					  FROM #tempStudent_Debit_Details AS C    
					 WHERE Student_Fee_Id = Debit.Schoolwise_Student_Fee_Id    
					 UNION    
					SELECT Receipt_Number    
					  FROM #tempStudent_Debit_Details AS D    
					 WHERE Receipt_Number = Debit.Receipt_Number    
					   AND Is_Concession_Fee = N'N'    
					   AND Student_Fee_Id IS NULL), 0) 
				AS Receipt_Number,    
			Debit.Serial_Number,    
			Debit.Is_Cheque_Bounce,    
			CASE    
			   WHEN B.Student_Fee_Id IS NULL THEN Debit.Std_FeeType_Id    
			   ELSE B.Std_FeeType_Id    
			   END AS [Std_FeeType_Id],    
		-- dbo.UDF_GetLateFeeAmt(Debit.Std_FeeType_Id, Debit.Paid_Date, @CurrentDate) AS LateFeeAmt,    		
				CASE WHEN @AllowLateFeeAtQuarterLevel = 1 THEN 
					CASE WHEN Debit.Payable_For IN (select PayableFor from @tblFeePayables) THEN dbo.UDF_GetLateFeeAmt(Debit.Std_FeeType_Id, Debit.Paid_Date, @CurrentDate)
					ELSE 0 
					END 
				ELSE
					dbo.UDF_GetLateFeeAmt(Debit.Std_FeeType_Id, Debit.Paid_Date, @CurrentDate)
				END AS LateFeeAmt,

			 Debit.Is_Concession_Fee,    
			 0 AS Expr1,    
			 0 AS Expr2,    
			 Debit.Is_Arrears,    
			 ISNULL(Debit.DebitStudentFee_Id, 0),    
			 1,
			 Debit.AccountHeaderId    
        FROM #tempStudent_Debit_Details Debit    
LEFT OUTER JOIN #tempStudent_Debit_Details B    
		  ON Debit.Schoolwise_Student_Fee_Id = B.Student_Fee_Id    
       WHERE (Debit.Student_Fee_Id = 0 OR Debit.Student_Fee_Id IS NULL)    
         AND Debit.Student_Id = @StudentId   

-- Take total concession amount for given student excluding bounced cheque amount.        
 SELECT @TotalConcessionAmt = SUM(Amount)    
   FROM Schoolwise_Student_Fee_Details  WITH(NOLOCK)        
  WHERE Is_Concession_Fee = N'Y'    
    AND Is_Cheque_Bounce = N'N'    
    AND Is_Deleted = N'N'    
    AND [Debit/Credit] = N'Credit'    
    AND Student_Id = @StudentId    
    
 -- if total concession amount is null set to 0.        
 IF (@TotalConcessionAmt IS NULL)    
	SET @TotalConcessionAmt = 0    
    
 -- set amount payable as substracting amount paid from amount        
 UPDATE #TemptblFeeDetails    
    SET Amount_Payable = Amount - Amount_Paid    
  WHERE Amount_Paid = 0    
    
 -- if amount paid is greater than zero then set [D/C] as 'credit' and late fee amount to 0.        
 UPDATE #TemptblFeeDetails    
    SET [D/C] = N'Credit',    
     Late_Fee_Amt = 0    
  WHERE Amount_Paid >= 0  
  AND Is_Cheque_Bounce <> N'Y'    
  and Receipt_Number IS NOT NULL
  AND Receipt_Number <> 0
    
 -- Set late fee amount to 0 if studentfeeid's entry into Schoolwise_Late_Fee_Details table.        
 UPDATE #TemptblFeeDetails    
    SET Late_Fee_Amt = 0    
  WHERE Schoolwise_Student_Fee_Id IN (SELECT Student_Fee_Id    
										FROM Schoolwise_Late_Fee_Details WITH(NOLOCK)        
									   WHERE Is_Deleted = N'N'    
									     AND Late_Fee_Amt <> 0.00)    
    
 -- #03 --      
	  INSERT INTO #TemptblFeeDetails    
	  SELECT SSFD1.Schoolwise_Student_Fee_Id    
			 ,CASE    
			 WHEN SSFD1.Fee_Type <> N'Monthly' THEN SSFD1.Payable_For + N' (' + SSFD1.Fee_Type + N')'    
			 ELSE SSFD1.Payable_For    
			 END AS Payable_For    
			 ,SSFD1.Amount    
			 ,SSFD1.Paid_Date    
			 ,N'Refund' AS Fee_Type    
			 ,SSFD1.Amount AS Amount_Paid    
			 ,0 AS Amount_Payable    
			 ,SSFD1.[Debit/Credit] AS [D/C]    
			 ,ISNULL(SSFD1.Receipt_Number, 0)    
			 ,SSFD1.Serial_Number    
			 ,SSFD1.Is_Cheque_Bounce    
			 ,SSFD1.Std_FeeType_Id    
			 ,0 AS Late_Fee_Amt    
			 ,SSFD1.Is_Concession_Fee    
			 ,SSFD1.RefundFeeDetailsID    
			 ,0    
			 ,SSFD2.Amount    
			 ,SSFD1.Is_Arrears    
			 ,ISNULL(SSFD1.DebitStudentFee_Id, 0)    
			 ,1  
			 ,SSFD1.AccountHeaderId  
		FROM dbo.Schoolwise_Student_Fee_Details SSFD1 WITH(NOLOCK)      
  INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD2 WITH(NOLOCK)      
  	      ON SSFD1.Student_Fee_Id = SSFD2.Schoolwise_Student_Fee_Id    
	   WHERE SSFD1.Student_Id = @StudentId    
		 AND SSFD1.Is_Deleted = N'N'    
		 AND SSFD1.RefundFeeDetailsID IS NOT NULL    
		 AND SSFD1.RefundFeeDetailsID <> 0    
		 AND SSFD1.Is_Cheque_Bounce=N'N'
    
 -- Set IsLastRefund flag for last fee refund entry        
 UPDATE #TemptblFeeDetails    
    SET Is_LastRefund = 1    
  WHERE Schoolwise_Student_Fee_Id IN (SELECT MAX(Schoolwise_Student_Fee_Id)    
									    FROM #TemptblFeeDetails    
									   WHERE RefundFeeDetailsID IS NOT NULL    
									     AND RefundFeeDetailsID <> 0    
									GROUP BY RefundFeeDetailsID)    
    
 -- PArtial fee refund entries        
 UPDATE #TemptblFeeDetails    
    SET Payable_For = Payable_For + N' - Partial'    
  WHERE RefundFeeDetailsID IS NOT NULL    
    AND RefundFeeDetailsID <> 0    
    AND Amount <> TotalAmount    
    
 -- Update those entries which are paid by chq and not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
  WHERE TFD.[D/C] = N'Credit'    
    AND TFD.Receipt_Number IN ( SELECT SSFD.Receipt_Number    
								  FROM dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)         
							INNER JOIN dbo.Student_Fee_PDC_Details SFPDCD  WITH(NOLOCK)        
									ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id    
							INNER JOIN dbo.Schoolwise_Student_PostDatedCheques SSPDC  WITH(NOLOCK)        
									ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id    
							  	 WHERE SSFD.Student_Id = @StudentId    
								   AND SSFD.Is_Cheque_Bounce = N'N'    
								   AND SSFD.Is_Deleted = N'N'    
								   AND SFPDCD.Is_Deleted = N'N'    
								   AND SSPDC.Is_Deleted = N'N'    
								   AND SSPDC.Is_Cheque_Bounce = N'N'    
								   AND (SSPDC.Cheque_Passed_Date IS NULL OR SSPDC.Cheque_Passed_Date = N'')
							 )    
    
 -- Update those entries which are paid by cash @ bank & not yet cleared.      
	 UPDATE #TemptblFeeDetails    
		SET IsTransactionCleared = 0    
	   FROM #TemptblFeeDetails TFD    
 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)        
		 ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
	  WHERE TFD.[D/C] = N'Credit'    
		AND SSFD.Is_Directly_Deposited = N'Y'    
		AND SSFD.Is_Deleted = N'N'    
		AND TFD.Receipt_Number NOT IN (SELECT CCP.ReceiptNo    
										 FROM dbo.ClearedCashPayment CCP  WITH(NOLOCK)        
										WHERE CCP.SchoolId = @SchoolId    
										  AND CCP.Academic_Year_Id = @AcademicYearId    
										  AND CCP.Is_Deleted = 0)    
    
 -- Update those entries which are paid online & not yet cleared.      
	 UPDATE #TemptblFeeDetails    
		SET IsTransactionCleared = 0    
	   FROM #TemptblFeeDetails TFD    
 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)         
  	     ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
	  WHERE TFD.[D/C] = N'Credit'    
		AND SSFD.NetBankingPaymentTransactionID IS NOT NULL    
		AND SSFD.NetBankingPaymentTransactionID <> 0    
		AND SSFD.Is_Deleted = N'N'    
		AND TFD.Receipt_Number IN (SELECT SSFD.Receipt_Number    
		  						     FROM dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)         
							   INNER JOIN dbo.NetBankingPaymentTransactions NBPT  WITH(NOLOCK)        
									   ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID    
									WHERE SSFD.Student_Id = @StudentId    
									  AND SSFD.Is_Deleted = N'N'    
									  AND SSFD.[Debit/Credit] = N'Credit'    
									  AND NBPT.Is_Deleted = 0    
									  AND NBPT.ClearanceDate IS NULL)    
    
 -- Update those entries which are paid by card & not yet cleared.      
	 UPDATE #TemptblFeeDetails    
		SET IsTransactionCleared = 0    
	   FROM #TemptblFeeDetails TFD    
 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)        
	     ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
	  WHERE TFD.[D/C] = N'Credit'    
		AND SSFD.IsCardPayment = 1    
		AND SSFD.Is_Deleted = N'N'    
		AND TFD.Receipt_Number IN ( SELECT SSFD.Receipt_Number    
									  FROM dbo.Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)        
								INNER JOIN dbo.StudentCardPaymentDetails SCPD  WITH(NOLOCK)        
										ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id    
								 	 WHERE SSFD.Student_Id = @StudentId    
									   AND SSFD.Is_Deleted = N'N'    
									   AND SSFD.[Debit/Credit] = N'Credit'    
									   AND SCPD.Is_Deleted = 0    
									   AND SCPD.Passed_Date IS NULL)        

DECLARE @tblFeeDetailsAsPerMode AS TABLE
(
   Schoolwise_Student_Fee_Id INT,    
   Payable_For NVARCHAR(200),    
   Amount INT,    
   DueDate DATETIME,    
   Fee_Type NVARCHAR(50),       
   Amount_Payable INT,    
   [D/C] NVARCHAR(10),    
   Receipt_Number NVARCHAR(50),    
   Serial_Number  INT,       
   Std_Fee_Type_Id INT,    
   Late_Fee_Amt INT,
   OrigionalLateFeeAmount INT,
   ActualFee INT,
   AccountHeaderId INT      
)

INSERT INTO @tblFeeDetailsAsPerMode  
	 SELECT Schoolwise_Student_Fee_Id    
		   ,Payable_For    
		   ,Amount    
		   ,Paid_Date as DueDate   
		   ,Fee_Type     
		   ,Amount_Payable    
		   ,[D/C]    
		   ,Receipt_Number    
		   ,Serial_Number      
		   ,Std_Fee_Type_Id    
		   ,Late_Fee_Amt       
		   ,0
		   ,0
		   ,AccountHeaderId
	   FROM #TemptblFeeDetails AS TemptblFeeDetails    
	  WHERE Amount >= 0    
		AND [D/C]=N'Debit'    
		AND Schoolwise_Student_Fee_Id NOT IN(SELECT Schoolwise_Student_Fee_Id 
												FROM Schoolwise_Student_Fee_Details
												WHERE School_Id = @SchoolId
												 AND Academic_Year_Id = @AcademicYearId
												 AND Student_Id = @StudentId
												 AND Is_Deleted = 'N'
												 AND [Debit/Credit]='Debit'
												 AND RefundFeeDetailsID IS NOT NULL
												 AND RefundFeeDetailsID <> 0
											)
---------------------------------------------------------------------------------------------------------------------------------------------------------------

	DECLARE @RuleId INT, @IsNewStudent BIT

	SELECT @RuleId = Rule_Id, @IsNewStudent = Is_New_Student
	FROM Yearwise_Student_Details
	WHERE Academic_Year_Id = @AcademicYearId
	AND Yearwise_Student_Id = @StudentId
	AND IS_Deleted = 'N'

	SELECT DISTINCT Schoolwise_Student_Fee_Id,    
		   Payable_For,    
		   Amount,    
		   DueDate,   
		   Fee_Type,    	 
		   Amount_Payable,    
		   [D/C],    
		   Receipt_Number,     
		   ISNULL(Serial_Number,0) as Serial_Number,    	  
		   ISNULL(Std_Fee_Type_Id,0) as Std_Fee_Type_Id,    
		   Late_Fee_Amt,
		   DBO.UDF_GetTotalAmtForDefaultDebitEntryWithConcession(ISNULL(Std_Fee_Type_Id,0),@IsNewStudent, @RuleId, Amount) AS ConcessionAmount,
		   ISNULL(AccountHeaderId,0) AS AccountHeaderId
	  FROM @tblFeeDetailsAsPerMode
	ORDER BY DueDate,    
		   Schoolwise_Student_Fee_Id,    
		   Serial_Number,    
		   Fee_Type  

DROP TABLE #tempStudent_Debit_Details    
DROP TABLE #TemptblFeeDetails  

END
GO
