/****** Object:  StoredProcedure [dbo].[usp_PayStudentFeeOnline]    Script Date: 8/25/2025 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  -- ================================================================================================
-- Modified by: MILIND
-- Modified date: 21 Nov 2009 
-- Description	: 
-- ================================================================================================
ALTER PROCEDURE [dbo].[usp_PayStudentFeeOnline]
	@StudentID INT,
	@SchoolId INT,
	@AcdYrId INT,
	@LateFeeAmount INT,
	@Remarks NVARCHAR(2000),
	@LateFeeRemarks NVARCHAR(2000),
	@StudentFeeIdsXML XML,
	@SessionId NVARCHAR(400),
	@TrnsAmount DECIMAL(10, 3),
	@BankId NVARCHAR(20),
	@TransactionStatus CHAR(1),
	@GatewayId INT = NULL,
	@ConcessionAmount INT = 0,
	@IsPayFromMobile bit = 0
AS
BEGIN
	SET NOCOUNT ON;
	--SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	BEGIN TRANSACTION
	BEGIN TRY

		SAVE TRANSACTION TranCounterSave
		BEGIN TRY
			UPDATE TransactionCounter
			SET Id = Id + 1
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
				ROLLBACK TRANSACTION TranCounterSave
		END CATCH

	DECLARE @tblStudentFeeId AS TABLE
	(
		 StudentFeeId INT
	)
	
	DECLARE @tblStudentFeeIdwithAmount AS TABLE
	(
		Id INT IDENTITY(1,1),
		StudentFeeId INT,
		Amount INT
	)

	 INSERT @tblStudentFeeId
	 SELECT T.c.value('@StudentFeeId[1]', 'INT')
	   FROM @StudentFeeIdsXML.nodes('StudentFeeId/StudentFeeId') T(c)

	   SELECT TOP 1 @AcdYrId = ssfd.Academic_Year_Id,
				 @StudentID = ssfd.Student_Id
	FROM Schoolwise_Student_fee_Details SSFD
	INNER JOIN @tblStudentFeeId SF
	ON SSFD.Schoolwise_Student_Fee_Id = sf.StudentFeeId
	WHERE SSFD.Is_Deleted= 'N'
	AND SSFD.[Debit/Credit] ='debit'

IF EXISTS(SELECT TOP 1 1
				FROM SchoolSettings
			   WHERE SchoolId = @SchoolId
			     AND AcademicYearId = @AcdYrId
				 AND IsDeleted = 0
				 AND UPPER(Value) = 'TRUE'	
				 AND Name = 'EnablePartialFeePaymentForStudentLogin'	
		 ) -- Only For PPSH School
	BEGIN
		INSERT INTO @tblStudentFeeIdwithAmount
			 SELECT T.c.value('@StudentFeeId[1]', 'INT'),
					T.c.value('@Amount[1]', 'INT')
			   FROM @StudentFeeIdsXML.nodes('StudentFeeId/StudentFeeId') T(c)
	END

	DECLARE @TranscationID INT,
			@UserID INT

		SELECT @UserID = SSM.User_Id			   
		  FROM dbo.SchoolWise_Student_Master SSM  WITH(NOLOCK)
	INNER JOIN dbo.YearWise_Student_Details YSD  WITH(NOLOCK)
			ON SSM.SchoolWise_Student_Id = YSD.Student_Id
		 WHERE YSD.YearWise_Student_Id = @StudentID

	DECLARE @FinancialYearId INT,
			@DepositBankId INT

	SELECT @FinancialYearId = FYM.FinancialYearId
	  FROM Accounts.FinancialYearMaster FYM  WITH(NOLOCK)
	 WHERE FYM.IsCurrent = 1
	   AND FYM.IsDeleted = 0

	SELECT @DepositBankId = BAD.LedgerId
	  FROM Accounts.BankAccountDetails BAD  WITH(NOLOCK)
	 WHERE BAD.FinancialYearId = @FinancialYearId
	   AND BAD.SchoolId = @SchoolId
	   AND BAD.IsForOnlineTransactions = 1
	   AND BAD.IsDeleted = 0
	   
	SELECT @BankId=StudentFeeRegisteredBankId 
	  FROM NetBankingBanksDetails  WITH(NOLOCK)
	 WHERE RegisteredBankID=@BankId
	   AND Is_Deleted=0
	   AND School_Id=@SchoolId		
	   
	   DECLARE @Guid UNIQUEIDENTIFIER	 
	   SET @Guid = NEWID()

	INSERT NetBankingPaymentTransactions
	(
		PaymentITCParameter,
		TransactionStatus,
		PaymentReferenceNumber,
		TransactionAMT,
		TransactionBankID,
		DepositBankId,
		Updated_By_Id,
		Updated_Date,
		GatewayId,
		Inserted_By_Id,
		Insert_Date,
		IsPayFromMobile,
		Guid
	)
	VALUES
	(
		N'From$$StudentFee',
		@TransactionStatus,
		@SessionId,
		@TrnsAmount,
		@BankId,
		@DepositBankId,
		@UserID,
		dbo.GetLocalDate(DEFAULT),
		@GatewayId,
		@UserID,
		dbo.GetLocalDate(DEFAULT),
		@IsPayFromMobile,
		@Guid
	)
	SELECT @TranscationID = SCOPE_IDENTITY()

	--DECLARE @tblStudentFeeId AS TABLE
	--(
	--	 StudentFeeId INT
	--)

	--INSERT @tblStudentFeeId
	--SELECT T.c.value('@StudentFeeId[1]', 'INT')
	--  FROM @StudentFeeIdsXML.nodes('StudentFeeId/StudentFeeId') T(c)

	DECLARE @MAxSrNo INT,
			@ReceiptNo INT

	SELECT @MAxSrNo = MAX(ISNULL(SSFD.Serial_Number, 0)) + 1
	  FROM dbo.Schoolwise_Student_Fee_Details SSFD

	IF @SchoolId = 122	--Only For SNS School
		BEGIN
			DECLARE @SchoolwiseStudentFeeId INT,
			        @AccountHeaderIdForReceiptNo INT

				   DECLARE @FinancialYearStartDate DATETIME,
						   @FinancialYearEndDate DATETIME

					SELECT @FinancialYearStartDate = StartDate,
						   @FinancialYearEndDate = EndDate
					  FROM Accounts.FinancialYearMaster
					 WHERE IsDeleted = 0
					   AND SchoolId = @SchoolId					   
					   AND CONVERT(DATE,dbo.GetLocalDate(DEFAULT)) BETWEEN CONVERT(DATE,StartDate) AND CONVERT(DATE,EndDate)

			  SELECT TOP 1 @SchoolwiseStudentFeeId = StudentFeeId
			          FROM @tblStudentFeeId

					SELECT @AccountHeaderIdForReceiptNo = AccountHeaderId
					  FROM Schoolwise_Student_Fee_Details
					 WHERE School_Id = @SchoolId
					   AND Academic_Year_Id = @AcdYrId
					   AND Is_Deleted = 'N'
					   AND Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId

					SELECT @ReceiptNo = MAX(CONVERT(int,Receipt_Number))
					  FROM Schoolwise_Student_Fee_Details
					 WHERE Academic_Year_Id = @AcdYrId
					   AND School_Id = @SchoolId
					   AND [Debit/Credit] = 'Credit'
					   AND Is_Cheque_Bounce = 'N'		   		   
					   AND AccountHeaderId = @AccountHeaderIdForReceiptNo
					   AND CONVERT(date,@FinancialYearStartDate) <= CONVERT(date,Paid_Date)
					   AND CONVERT(date,Paid_Date) <= CONVERT(date,@FinancialYearEndDate)
					   --AND CONVERT(date,Paid_Date) >= CONVERT(date,'2017-04-01 00:00:00.000')

					IF(@AccountHeaderIdForReceiptNo <> 4 AND @AccountHeaderIdForReceiptNo <> 5)
						BEGIN
						   IF(@ReceiptNo IS NULL)
							BEGIN
								SET @ReceiptNo = 999
							END			
						END		
					ELSE	-- This block is execute when account header id is 4(PRIME EDU) & 5(EDUORBIT)
						BEGIN
	
							if(@ReceiptNo IS NULL OR @ReceiptNo = '' OR @ReceiptNo = 0)
							   SET @ReceiptNo = 999

							  -- IF (@ReceiptNo >= 4200)
									--BEGIN
									--	SELECT @ReceiptNo = MAX(CONVERT(int,Receipt_Number))
									--	  FROM Schoolwise_Student_Fee_Details
									--	 WHERE Is_Deleted = 'N'
									--	   AND School_Id = @SchoolId
									--	   AND [Debit/Credit] = 'Credit'
									--	   AND Is_Cheque_Bounce = 'N'		   		   
									--	   AND AccountHeaderId = @AccountHeaderIdForReceiptNo
									--	   AND CONVERT(date,@FinancialYearStartDate) <= CONVERT(date,Paid_Date)
									--	   AND CONVERT(date,Paid_Date) <= CONVERT(date,@FinancialYearEndDate)
									--	   AND CONVERT(INT,Receipt_Number) < 3000
									--END
							  END

					   SET @ReceiptNo = @ReceiptNo + 1
		END
	ELSE
		BEGIN
			SELECT @ReceiptNo = dbo.UDF_GetReceiptNo(@SchoolId, @AcdYrId)
		END	

	DECLARE @tblMaintemp TABLE
	(
		 Schoolwise_Student_Fee_Id INT,
		 Student_Id INT,
		 Payable_For NVARCHAR(400),
		 Standard_Div_Id INT,
		 Std_FeeType_Id INT,
		 Fee_Type NVARCHAR(200),
		 Amount INT,
		 LateFeeAmount INT,
		 AccountHeaderId INT
	)

IF EXISTS(SELECT TOP 1 1
				FROM SchoolSettings
			   WHERE SchoolId = @SchoolId
			     AND AcademicYearId = @AcdYrId
				 AND IsDeleted = 0
				 AND UPPER(Value) = 'TRUE'	
				 AND Name = 'EnablePartialFeePaymentForStudentLogin'	
		 ) -- Only For PPSH School
		BEGIN
			INSERT INTO @tblMaintemp
			     SELECT Schoolwise_Student_Fee_Id
				       ,Student_Id
				       ,Payable_For
				       ,Standard_Div_Id
				       ,Std_FeeType_Id
				       ,Fee_Type
				       ,tblAMount.Amount
				       ,CASE WHEN Std_FeeType_Id IS NOT NULL AND Std_FeeType_Id <> 0 THEN dbo.udf_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT))ELSE 0 END
				       ,ISNULL(AccountHeaderId,0)
			      FROM dbo.Schoolwise_Student_Fee_Details SSFD
			INNER JOIN @tblStudentFeeIdwithAmount tblAMount
					ON tblAMount.StudentFeeId = SSFD.Schoolwise_Student_Fee_Id
		END
	ELSE
		BEGIN
			INSERT @tblMaintemp
			SELECT Schoolwise_Student_Fee_Id
				   ,Student_Id
				   ,Payable_For
				   ,Standard_Div_Id
				   ,Std_FeeType_Id
				   ,Fee_Type
				   ,Amount
				   ,CASE
						WHEN Std_FeeType_Id IS NOT NULL
							  AND Std_FeeType_Id <> 0 THEN dbo.udf_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT))
						ELSE 0
					END
				   ,ISNULL(AccountHeaderId,0)
			  FROM dbo.Schoolwise_Student_Fee_Details SSFD
			 WHERE Schoolwise_Student_Fee_Id IN (SELECT StudentFeeId
												   FROM @tblStudentFeeId)
		END

	DECLARE @RemarksWithLateFee NVARCHAR(2000)
	DECLARE @iStudentFeeId INT

	IF (@LateFeeAmount > 0)
	BEGIN
		-- Update the
		SET @RemarksWithLateFee = @Remarks + N' (Rs. ' + CONVERT(NVARCHAR(9), @LateFeeAmount) + '/-)'

		--One debit entry is inserted for late fee.
		INSERT INTO dbo.Schoolwise_Student_Fee_Details
		(
			[Student_Id],
			[Payable_For],
			[Standard_Div_Id],
			[Fee_Type],
			[Amount],
			[Debit/Credit],
			[Paid_Date],
			[Remarks],
			[School_Id],
			[Academic_Year_Id],
			[Is_Late_Fee],
			Serial_Number,
			NetBankingPaymentTransactionID,
			Is_Completed,
			Is_Deleted,
			AccountHeaderId
		)
		SELECT TOP 1
			   Student_Id
			   ,CASE
					WHEN ISNULL(@LateFeeRemarks, '') = '' THEN Payable_For
					ELSE @LateFeeRemarks
				END
			   ,Standard_Div_Id
			   ,N'Late Fee'
			   ,@LateFeeAmount
			   ,N'Debit'
			   ,CONVERT(DATE,dbo.GetLocalDate(DEFAULT))
			   ,@LateFeeRemarks
			   ,@SchoolId
			   ,@AcdYrId
			   ,N'Y'
			   ,@MAxSrNo
			   ,@TranscationID
			   ,0
			   ,N'Y'
			   ,ISNULL(AccountHeaderId,0)
		  FROM @tblMaintemp
		 ORDER BY Schoolwise_Student_Fee_Id
		 

		DECLARE @iLateFeeId INT

		SELECT @iLateFeeId = SCOPE_IDENTITY()

		--One credit entry is inserted for above debit entry.
		INSERT INTO dbo.Schoolwise_Student_Fee_Details
		(
			[Student_Id],
			[Payable_For],
			[Standard_Div_Id],
			[Fee_Type],
			[Amount],
			[Debit/Credit],
			[Paid_Date],
			[Receipt_Number],
			[Remarks],
			[School_Id],
			[Academic_Year_Id],
			[Is_Late_Fee],
			Student_Fee_Id,
			Serial_Number,
			Is_Directly_Deposited,
			Bank_Id,
			NetBankingPaymentTransactionID,
			Is_Completed,
			Is_Deleted,
			AccountHeaderId
		)
		SELECT TOP 1
			   Student_Id
			   ,CASE
					WHEN ISNULL(@LateFeeRemarks, '') = '' THEN Payable_For
					ELSE @LateFeeRemarks
				END
			   ,Standard_Div_Id
			   ,N'Late Fee'
			   ,@LateFeeAmount
			   ,N'Credit'
			   ,CONVERT(DATE,dbo.GetLocalDate(DEFAULT))
			   ,@ReceiptNo
			   ,@LateFeeRemarks
			   ,@SchoolId
			   ,@AcdYrId
			   ,N'Y'
			   ,@iLateFeeId
			   ,@MAxSrNo
			   ,N'N'
			   ,0
			   ,@TranscationID
			   ,0
			   ,N'Y'
			   ,ISNULL(AccountHeaderId,0)
		  FROM @tblMaintemp
		 ORDER BY Schoolwise_Student_Fee_Id

		DECLARE @Cnt INT,
				@iLateFeeAmt INT,
				@ManupulatedLateFee DECIMAL

		SELECT @Cnt = COUNT(Schoolwise_Student_Fee_Id)
		  FROM @tblMaintemp
		 WHERE LateFeeAmount > 0

		IF (@Cnt > 0)
		BEGIN
			SET @ManupulatedLateFee = CONVERT(DECIMAL(10, 2), CONVERT(DECIMAL(10, 2), @LateFeeAmount) / CONVERT(DECIMAL(10, 2), @Cnt))

			DECLARE cur_ForLateFee CURSOR LOCAL FAST_FORWARD FOR
				SELECT Schoolwise_Student_Fee_Id
				  FROM @tblMaintemp
				 WHERE LateFeeAmount > 0

			OPEN cur_ForLateFee

			FETCH NEXT FROM cur_ForLateFee INTO @iStudentFeeId

			WHILE @@FETCH_STATUS = 0
			BEGIN
				INSERT INTO [dbo].[Schoolwise_Late_Fee_Details]
				(
					[Student_Fee_Id],
					[Late_Fee_Amt],
					[School_Id],
					[Academic_Year_Id],
					Is_Deleted
				)
				SELECT @iStudentFeeId
					   ,@ManupulatedLateFee
					   ,@SchoolId
					   ,@AcdYrId
					   ,N'Y'

				FETCH NEXT FROM cur_ForLateFee INTO @iStudentFeeId
			END

			CLOSE cur_ForLateFee

			DEALLOCATE cur_ForLateFee
		END
	END

	--declare cursor for given student_Fee_ids.
	
	
	
	DECLARE cur_ForFee CURSOR LOCAL FAST_FORWARD FOR
		SELECT Schoolwise_Student_Fee_Id
		  FROM @tblMaintemp

	OPEN cur_ForFee

	FETCH NEXT FROM cur_ForFee INTO @iStudentFeeId


	WHILE @@FETCH_STATUS = 0
	BEGIN
	DECLARE @AccountHeaderId INT,
			@ActualAmount INT,
			@PaidAmount INT
	        

	 SELECT @AccountHeaderId = AccountHeaderId,
	        @ActualAmount = Amount 
	   from Schoolwise_Student_Fee_Details  
	  WHERE (Schoolwise_Student_Fee_Id = @iStudentFeeId)

	  SELECT @PaidAmount = Amount
	    FROM @tblStudentFeeIdwithAmount
	   WHERE StudentFeeId = @iStudentFeeId

	DECLARE @AmountToPaid INT

	IF(@ActualAmount > @PaidAmount)
	BEGIN
		SET @AmountToPaid = @PaidAmount	
		DECLARE @NewDebitAmount INT=0

			SET @NewDebitAmount = @ActualAmount - @PaidAmount

			-- Updating Amount with the origional amount
			UPDATE Schoolwise_Student_Fee_Details
			   SET Amount = @PaidAmount
			 WHERE Schoolwise_Student_Fee_Id = @iStudentFeeId
			   AND School_Id = @SchoolId
			   AND Academic_Year_Id = @AcdYrId
			   AND Is_Deleted = N'N'
			   AND Student_Id = @StudentID
			   AND [Debit/Credit] = N'Debit'

			   -- Inserting new debit entry for remaining amount against the same fee type. 
			INSERT dbo.Schoolwise_Student_Fee_Details
			(
				Student_Id,
				Payable_For,
				Standard_Div_Id,
				Std_FeeType_Id,
				Fee_Type,
				Amount,
				[Debit/Credit],
				Paid_Date,
				Receipt_Number,
				School_Id,
				Academic_Year_Id,
				Serial_Number,
				Is_Cheque_Bounce,
				DebitStudentFee_Id,
				Insert_Date,
				Update_Date,
				IntervalStartDate,
				IntervalEndDate,
				AccountHeaderId,
				ChallanNo,
				Is_Late_Fee
			)
			SELECT Student_Id,
				   Payable_For,
				   Standard_Div_Id,
				   Std_FeeType_Id,
				   Fee_Type,
				   @NewDebitAmount,
				   N'Debit',
				   Paid_Date ,
				   NULL,
				   School_Id,
				   Academic_Year_Id,
				   @MAxSrNo,
				   N'N',
				   @iStudentFeeId,
				   dbo.GetLocalDate(DEFAULT),
				   dbo.GetLocalDate(DEFAULT),
				   IntervalStartDate,
				   IntervalEndDate,
				   @AccountHeaderId,
				   ChallanNo,
				   N'N'
			  FROM Schoolwise_Student_Fee_Details 
			 WHERE Schoolwise_Student_Fee_Id = @iStudentFeeId
			   AND Is_Deleted = N'N'
			   AND School_Id = @SchoolId
			   AND Academic_Year_Id = @AcdYrId
		END	
	ELSE		
		SET @AmountToPaid = @ActualAmount		

		INSERT INTO dbo.Schoolwise_Student_Fee_Details
		(
			[Student_Id],
			[Payable_For],
			[Standard_Div_Id],
			[Std_FeeType_Id],
			[Fee_Type],
			[Amount],
			[Debit/Credit],
			[Paid_Date],
			[Receipt_Number],
			[Remarks],
			[Student_Fee_Id],
			[School_Id],
			[Academic_Year_Id],
			Serial_Number,
			Is_Directly_Deposited,
			Bank_Id,
			NetBankingPaymentTransactionID,
			Is_Completed,
			Is_Deleted,
			Is_Late_Fee,
			IntervalStartDate,
			IntervalEndDate,
			AccountHeaderId
		)
		SELECT Student_Id
			   ,Payable_For
			   ,Standard_Div_Id
			   ,Std_FeeType_Id
			   ,Fee_Type
			   ,@AmountToPaid
			   ,N'Credit'
			   ,dbo.GetLocalDate(DEFAULT)
			   ,@ReceiptNo
			   ,CASE
					WHEN @RemarksWithLateFee IS NOT NULL THEN @RemarksWithLateFee
					ELSE @Remarks
				END
			   ,@iStudentFeeId
			   ,School_Id
			   ,Academic_Year_Id
			   ,@MAxSrNo
			   ,N'N'
			   ,0
			   ,@TranscationID
			   ,0
			   ,N'Y'
			   ,N'N'
			   ,IntervalStartDate
			   ,IntervalEndDate
			   ,@AccountHeaderId
		  FROM dbo.Schoolwise_Student_Fee_Details
		 WHERE (Schoolwise_Student_Fee_Id = @iStudentFeeId)
		 
		FETCH NEXT FROM cur_ForFee INTO @iStudentFeeId
	END

	CLOSE cur_ForFee

	DEALLOCATE cur_ForFee

	IF @ConcessionAmount IS NOT NULL AND @ConcessionAmount <> 0
	BEGIN
			INSERT INTO dbo.Schoolwise_Student_Fee_Details
			(
				[Student_Id],
				[Payable_For],
				[Standard_Div_Id],
				[Std_FeeType_Id],
				[Fee_Type],
				[Amount],
				[Debit/Credit],
				[Paid_Date],
				[Receipt_Number],
				[Remarks],
				[Student_Fee_Id],
				[School_Id],
				[Academic_Year_Id],
				Serial_Number,
				Is_Directly_Deposited,
				Bank_Id,
				NetBankingPaymentTransactionID,
				Is_Completed,
				Is_Deleted,
				IntervalStartDate,				
				IntervalEndDate,
				Is_Concession_Fee,
				Is_Late_Fee
			)
			SELECT TOP 1 Student_Id
				   ,'Concession Fee'
				   ,Standard_Div_Id
				   ,NULL
				   ,'Concession Fee'
				   ,@ConcessionAmount
				   ,N'Credit'
				   ,dbo.GetLocalDate(DEFAULT)
				   ,@ReceiptNo
				   ,CASE
						WHEN @RemarksWithLateFee IS NOT NULL THEN @RemarksWithLateFee
						ELSE @Remarks
					END
				   ,NULL
				   ,School_Id
				   ,Academic_Year_Id
				   ,@MAxSrNo
				   ,N'N'
				   ,0
				   ,@TranscationID
				   ,0
				   ,N'Y'
				   ,IntervalStartDate
				   ,IntervalEndDate
				   ,'Y'
				   ,N'N'
			 FROM dbo.Schoolwise_Student_Fee_Details
			 WHERE (NetBankingPaymentTransactionID = @TranscationID)
			 AND Student_Id = @StudentID
			 AND Academic_Year_Id = @AcdYrId
			 AND School_Id = @SchoolId			
			 AND [debit/credit] = 'Credit'
			 AND (Fee_Type = 'Tuition Fees' OR Fee_Type = 'Tuition Fee' OR Fee_Type = 'Tuition & Worksheet Fees' OR Fee_Type = 'Quarter fees')
			 
			 --UPDATE dbo.Schoolwise_Student_Fee_Details
			 --SET Remarks = Remarks + ' with  Concession Fee (Concession Fee - Rs. '+CAST(@ConcessionAmount AS NVARCHAR(10))+'/-)'
			 --WHERE (NetBankingPaymentTransactionID = @TranscationID)
			 --AND Student_Id = @StudentID
			 --AND Academic_Year_Id = @AcdYrId
			 --AND School_Id = @SchoolId			
			 --AND [debit/credit] = 'Credit'			 
	END	

	DECLARE @TotalAmount INT

	SELECT @TotalAmount = SUM(Amount)
	  FROM Schoolwise_Student_Fee_Details
	 WHERE Schoolwise_Student_Fee_Id NOT IN (SELECT Schoolwise_Student_Fee_Id
											   FROM Schoolwise_Student_Fee_Details Schoolwise_Student_Fee_Details1
											  WHERE Fee_Type = N'Sports Fee'
												AND Payable_For = N'Tennis Fee'
												AND NetBankingPaymentTransactionID = @TranscationID
												AND Is_Deleted = 'N')
	   AND NetBankingPaymentTransactionID = @TranscationID
	   AND Is_Deleted = N'N'

	   DECLARE @FeeAmount INT = 0,
				@LateFeeAmt INT = 0,
				@ConcessionAmt INT = 0,
				@FinalAmt INT
				

	   select @FeeAmount = sum(amount)
	   from Schoolwise_Student_Fee_Details
	   where Is_Deleted = 'Y'
	   and NetBankingPaymentTransactionID = @TranscationID
	   and Is_Concession_Fee = 'N'
	   and Is_Late_Fee = 'N'

	   select @LateFeeAmt = sum(amount)
	   from Schoolwise_Student_Fee_Details
	   where Is_Deleted = 'Y'
	   and NetBankingPaymentTransactionID = @TranscationID
	   and Is_Concession_Fee = 'N'
	   and Is_Late_Fee = 'Y'
	   and [Debit/Credit] ='Credit'

	   select @ConcessionAmt = sum(amount)
	   from Schoolwise_Student_Fee_Details
	   where Is_Deleted = 'Y'
	   and NetBankingPaymentTransactionID = @TranscationID
	   and Is_Concession_Fee = 'Y'
	   and Is_Late_Fee = 'N'
	   
	   SET @FinalAmt = ISNULL(@FeeAmount,0)+ISNULL(@LateFeeAmt,0)-ISNULL(@ConcessionAmt,0)

	SELECT @TranscationID as TranscationID
		   ,ISNULL(SUM(Amount), 0) AS TotalSportsAmount
		   ,@TotalAmount AS TotalSchoolAmount,
		   @FinalAmt FinalAmt,
		   @Guid Guid
	  FROM Schoolwise_Student_Fee_Details
	 WHERE Fee_Type = N'Sports Fee'
	   AND Payable_For = N'Tennis Fee'
	   AND NetBankingPaymentTransactionID = @TranscationID
	   AND Is_Deleted = N'N'
--raiserror('Test Error',16,1)
	   COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		DECLARE @ErrMsg NVARCHAR(200)
		SET @ErrMsg = ERROR_MESSAGE()
		 RAISERROR(@ErrMsg,16,1)
		ROLLBACK TRANSACTION
	END CATCH
END
GO
