/****** Object:  StoredProcedure [dbo].[usp_GetFeeExoprtDetails_ReportSNS]    Script Date: 5/27/2026 12:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFeeExoprtDetails_ReportSNS]
	-- Add the parameters for the stored procedure here
	@School_Id INT,
	@Academic_Year_Id INT,
	@Fee_Type_Id INT,
	@FromDate DATE,
	@ToDate DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblStandards AS TABLE
	(
		Fee_Type NVARCHAR(100),
		Standard_Id INT,
		AccountHeader NVARCHAR(200)
	)
		INSERT INTO @tblStandards
		 SELECT      Fee_Type, VSD.Standard_Id, AHM.AccountHeaderName + ' ('+ Fee_Type+')'
		   FROM       dbo.Schoolwise_Fee_Type_Configuration SWFTC WITH(NOLOCK)
		INNER JOIN    BankChallanDetails BCD
           ON         BCD.OriginalFeeTypeId=SWFTC.Original_Fee_Type_Id		   
       INNER JOIN     AccountHeaderMaster AHM WITH(NOLOCK)
           ON         BCD.AccountHeaderId=AHM.AccountHeaderId
		INNER JOIN vw_standard_division VSD
		ON BCD.StandardDivisionId = VSD.SchoolWise_Standard_Division_Id
		AND SWFTC.Academic_Year_Id = VSD.academic_year_id
		 WHERE        SWFTC.School_Id = @School_Id 
			AND       SWFTC.Academic_Year_Id = @Academic_Year_Id 
			AND       SWFTC.Is_Deleted = N'N'		     
			and       BCD.IsDeleted= 0
			AND       AHM.IsDeleted=0
		--	and AHM.IsForAdvanceFee = 0
			and AHM.IsForInternalFee = 0
			and AHM.AccountHeaderId = @Fee_Type_Id
			GROUP BY Fee_Type, VSD.Standard_Id, AHM.AccountHeaderName + ' ('+ Fee_Type+')'
					   
	DECLARE @FeeType NVARCHAR(100)='',
			@AccountHeader NVARCHAR(200)=''
	--SELECT @FeeType = Fee_Type
	--FROM Schoolwise_Fee_Type_Configuration
	--WHERE School_Id = @School_Id
	--AND Academic_Year_Id = @Academic_Year_Id
	--AND Is_Deleted = 'N'
	--AND Fee_Type_Id = @Fee_Type_Id

	DECLARE @tblPayableForNames AS TABLE
	(
		PayableFor NVARCHAR(100)
	)

	INSERT INTO @tblPayableForNames
	select SSADD.IntervalName
	from BankChallanDetails BCD
	INNER JOIN Schoolwise_Fee_Type_Configuration SFTC
	ON BCD.OriginalFeeTypeId = SFTC.Original_Fee_Type_Id
	INNER JOIN vw_standard_division VSD
	ON BCD.StandardDivisionId = VSD.SchoolWise_Standard_Division_Id
	AND SFTC.Academic_Year_Id = VSD.academic_year_id
	INNER JOIN Schoolwise_Standard_FeeType_Master SSFM
	ON VSD.Standard_Id = SSFM.Standard_Id
	AND SFTC.Fee_Type_Id = SSFM.Fee_Type_Id
	INNER JOIN SchoolWise_Standard_LateFee_DueDates_Master SSADM
	ON SSFM.SchoolWise_Standard_FeeType_Id = SSADM.SchoolWise_Standard_FeeType_Id	
	INNER JOIN SchoolWise_Standard_LateFee_DueDates_Details SSADD
	ON SSADM.SchoolWise_Standard_LateFee_DueDates_Id = SSADD.SchoolWise_Standard_LateFee_DueDates_Id
	WHERE SFTC.School_Id = @School_Id
	AND SFTC.Academic_Year_Id = @Academic_Year_Id
	AND SFTC.Is_Deleted = 'N'
	AND BCD.AccountHeaderId = @Fee_Type_Id
	AND SSADM.Is_Deleted = 'N'
	AND BCD.IsDeleted = 0
	AND SSFM.Is_Deleted = 'N'
	GROUP BY SSADD.IntervalName

	SELECT TOP 1 @FeeType = Fee_Type, @AccountHeader = AccountHeader
	FROM @tblStandards
	
	DECLARE @tblStudentDetails AS TABLE
	(
		SchoolLeftDate DATE,
		Yearwise_Student_Id INT,
		Original_Standard_Id INT,
		Original_Division_Id INT,
		className NVARCHAR(100),
		Enrolment_Number NVARCHAR(100),
		Roll_No INT,
		StudentName NVARCHAR(100),
		StudentPayable INT,
		PaidAmount INT,
		PaidLateFee INT,
		ConcessionAmount INT,
		RemainingAmount INT,
		RefundAmount INT,
		TotalAmount INT,
		ConcessionOnLateFeeAmount INT
	)

	INSERT INTO @tblStudentDetails
	select BSD.SchoolLeft_Date, YSD.YearWise_Student_Id, VSD.Original_Standard_Id, VSD.Original_Division_Id,VSD.className,BSD.Enrolment_Number, YSD.Roll_No, BSD.StudentName,0,0,0,0,0,0,0,0
	from YearWise_Student_Details ysd
	inner join vw_BaseStudentDetails bsd
	on ysd.Student_Id = bsd.SchoolWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	INNER JOIN @tblStandards TS
	ON VSD.Standard_Id = TS.Standard_Id
	where ysd.School_Id = @School_Id
	AND YSD.Academic_Year_ID  =@Academic_Year_Id
	AND YSD.Is_Deleted  = 'N'
	and ysd.Is_RTE_Student = 0
	
	DECLARE @TblFeeIds AS TABLE
	(
		Schoolwise_Student_Fee_Id INT
	)

	INSERT INTO @TblFeeIds
	select SSFD.Schoolwise_Student_Fee_Id
	from Schoolwise_Student_Fee_Details SSFD
	inner join @tblStudentDetails TSD
	ON SSFD.Student_Id = TSD.Yearwise_Student_Id
	WHERE SSFD.School_Id = @School_Id
	AND SSFD.Academic_Year_Id = @Academic_Year_Id
	AND SSFD.Is_Deleted = 'N'
	AND SSFD.[Debit/Credit] = 'debit'
	and ssfd.Is_Cheque_Bounce = 'N'
	AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
	AND SSFD.Fee_Type = @FeeType
	AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
	group by SSFD.Schoolwise_Student_Fee_Id


	UPDATE TSD
	SET StudentPayable = S.TotalAmount
	from @tblStudentDetails TSD
	INNER JOIN
	(
		select SSFD.Student_Id, sum(ssfd.Amount) as TotalAmount
		from Schoolwise_Student_Fee_Details SSFD
		inner join @tblStudentDetails TSD
		ON SSFD.Student_Id = TSD.Yearwise_Student_Id
		WHERE SSFD.School_Id = @School_Id
		AND SSFD.Academic_Year_Id = @Academic_Year_Id
		AND SSFD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'debit'
		and ssfd.Is_Cheque_Bounce = 'N'
		AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
		AND SSFD.Fee_Type = @FeeType
		AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
		group by SSFD.Student_Id
	)S
	ON TSD.Yearwise_Student_Id = S.Student_Id

	DELETE FROM @tblStudentDetails
	WHERE StudentPayable = 0

	DECLARE @tblStudentFeeDetails AS TABLE
	(
		Student_Id INT,
		Receipt_Number NVARCHAR(100),
		TotalAmount INT
	)

	INSERT INTO @tblStudentFeeDetails
	select SSFD.Student_Id,SSFD.Receipt_Number,sum(ssfd.Amount) as TotalAmount
	from Schoolwise_Student_Fee_Details SSFD
	inner join @tblStudentDetails TSD
	ON SSFD.Student_Id = TSD.Yearwise_Student_Id
	INNER JOIN @TblFeeIds TF
	ON SSFD.Student_Fee_Id = TF.Schoolwise_Student_Fee_Id
	WHERE SSFD.School_Id = @School_Id
	AND SSFD.Academic_Year_Id = @Academic_Year_Id
	AND SSFD.Is_Deleted = 'N'
	AND SSFD.[Debit/Credit] = 'credit'
	and ssfd.Is_Cheque_Bounce = 'N'
	AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
	AND SSFD.Fee_Type = @FeeType
--	AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
	and ssfd.Is_Concession_Fee = 'N'
	group by SSFD.Student_Id,SSFD.Receipt_Number

	update TSD
	set PaidAmount = s.TotalAmount
	from @tblStudentDetails TSD
	inner join
	(
		SELECT Student_Id, SUM(TotalAmount) as TotalAmount
		FROM @tblStudentFeeDetails
		--WHERE convert(int,Receipt_Number) > 0
		GROUP BY Student_Id
	)S
	on tsd.Yearwise_Student_Id = s.Student_Id
	
	UPDATE TSD
	SET PaidLateFee = SS.Amount
	FROM @tblStudentDetails TSD
	INNER JOIN
	(
		--select SSFD.Student_Id,SSFD.Receipt_Number,SSFD.Amount
		select SSFD.Student_Id,SUM(SSFD.Amount) AS Amount
		from @tblStudentFeeDetails TSFD
		INNER JOIN Schoolwise_Student_Fee_Details SSFD
		ON TSFD.Student_Id = SSFD.Student_Id
		AND TSFD.Receipt_Number = SSFD.Receipt_Number
		--INNER JOIN @TblFeeIds TF
		--ON SSFD.Student_Fee_Id = TF.Schoolwise_Student_Fee_Id
		WHERE SSFD.School_Id = @School_Id
		AND SSFD.Academic_Year_Id = @Academic_Year_Id
		AND SSFD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'credit'
		and ssfd.Is_Cheque_Bounce = 'N'
		AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
		--AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
		AND SSFD.Is_Late_Fee = 'Y'
		AND SSFD.Payable_For IN (SELECT PayableFor FROM @tblPayableForNames)
		GROUP BY SSFD.Student_Id
	)SS
	ON TSD.Yearwise_Student_Id = SS.Student_Id

	UPDATE TSD
	SET RefundAmount = SS.Amount
	FROM @tblStudentDetails TSD
	INNER JOIN
	(
		select SSFD.Student_Id,SUM(SSFD.Amount) AS Amount
		from @tblStudentDetails TSFD
		INNER JOIN Schoolwise_Student_Fee_Details SSFD
		ON TSFD.Yearwise_Student_Id = SSFD.Student_Id	
		WHERE SSFD.School_Id = @School_Id
		AND SSFD.Academic_Year_Id = @Academic_Year_Id
		AND SSFD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'debit'
		and ssfd.Is_Cheque_Bounce = 'N'
		AND (SSFD.RefundFeeDetailsID IS NOT NULL AND SSFD.RefundFeeDetailsID <> 0)
		--AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
		AND (SSFD.Fee_Type = @FeeType OR SSFD.AccountHeaderId = @Fee_Type_Id)
		GROUP BY SSFD.Student_Id
	)SS
	ON TSD.Yearwise_Student_Id = SS.Student_Id

	UPDATE TSD
	SET ConcessionAmount = SS.Amount
	FROM @tblStudentDetails TSD
	INNER JOIN
	(	
		select SSFD.Student_Id,SUM(SSFD.Amount) AS Amount
		from @tblStudentFeeDetails TSFD
		INNER JOIN Schoolwise_Student_Fee_Details SSFD
		ON TSFD.Student_Id = SSFD.Student_Id
		AND TSFD.Receipt_Number = SSFD.Receipt_Number
		WHERE SSFD.School_Id = @School_Id
		AND SSFD.Academic_Year_Id = @Academic_Year_Id
		AND SSFD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'credit'
		and ssfd.Is_Cheque_Bounce = 'N'
		AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
		--AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
		AND SSFD.Is_Concession_Fee = 'Y'
		GROUP BY SSFD.Student_Id
	)SS
	ON TSD.Yearwise_Student_Id = SS.Student_Id

	UPDATE TSD
	SET ConcessionOnLateFeeAmount = SS.Amount
	FROM @tblStudentDetails TSD
	INNER JOIN
	(	
		select CONC.Student_Id, ISNULL(LATE.Amount,0) AS Amount
		from
		(
			select SSFD.Student_Id,SSFD.Receipt_Number, SUM(SSFD.Amount) AS Amount
			from @tblStudentFeeDetails TSFD
			INNER JOIN Schoolwise_Student_Fee_Details SSFD
			ON TSFD.Student_Id = SSFD.Student_Id
			AND TSFD.Receipt_Number = SSFD.Receipt_Number
			WHERE SSFD.School_Id = @School_Id
			AND SSFD.Academic_Year_Id = @Academic_Year_Id
			AND SSFD.Is_Deleted = 'N'
			AND SSFD.[Debit/Credit] = 'credit'
			and ssfd.Is_Cheque_Bounce = 'N'
			AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
			--AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
			AND SSFD.Is_Concession_Fee = 'Y'		
			GROUP BY SSFD.Student_Id,SSFD.Receipt_Number
		)CONC
		INNER JOIN
		(
			select SSFD.Student_Id,SSFD.Receipt_Number, SUM(SSFD.Amount) AS Amount
			from @tblStudentFeeDetails TSFD
			INNER JOIN Schoolwise_Student_Fee_Details SSFD
			ON TSFD.Student_Id = SSFD.Student_Id
			AND TSFD.Receipt_Number = SSFD.Receipt_Number
			WHERE SSFD.School_Id = @School_Id
			AND SSFD.Academic_Year_Id = @Academic_Year_Id
			AND SSFD.Is_Deleted = 'N'
			AND SSFD.[Debit/Credit] = 'credit'
			and ssfd.Is_Cheque_Bounce = 'N'
			AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)			
			AND SSFD.Is_Late_Fee = 'Y'		
			GROUP BY SSFD.Student_Id,SSFD.Receipt_Number
		)LATE
		ON CONC.Student_Id = LATE.Student_Id
		AND CONC.Receipt_Number = LATE.Receipt_Number		
	)SS
	ON TSD.Yearwise_Student_Id = SS.Student_Id

	--UPDATE @tblStudentDetails
	--SET PaidAmount = PaidAmount - ConcessionAmount

	delete from @tblStudentFeeDetails
	where convert(int,Receipt_Number) < 0

	UPDATE TSD
	SET RemainingAmount = SS.TotalAmount
	FROM @tblStudentDetails TSD
	INNER JOIN
	(
		select SSFD.Student_Id,SSFD.Receipt_Number,sum(ssfd.Amount) as TotalAmount
		from Schoolwise_Student_Fee_Details SSFD
		inner join @tblStudentDetails TSD
		ON SSFD.Student_Id = TSD.Yearwise_Student_Id
		LEFT OUTER JOIN
		(
			select SSFD.Student_Id, SSFD.Student_Fee_Id
			from Schoolwise_Student_Fee_Details SSFD
			--inner join @tblStudentDetails TSD
			--ON SSFD.Student_Id = TSD.Yearwise_Student_Id
			WHERE SSFD.School_Id = @School_Id
			AND SSFD.Academic_Year_Id = @Academic_Year_Id
			AND SSFD.Is_Deleted = 'N'
			AND SSFD.[Debit/Credit] = 'credit'
			and ssfd.Is_Cheque_Bounce = 'N'
			AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
			AND SSFD.Fee_Type = @FeeType
			and ssfd.Student_Fee_Id is not null
			and ssfd.Student_Fee_Id <> 0
		)S
		ON SSFD.Schoolwise_Student_Fee_Id = S.Student_Fee_Id
		INNER JOIN @TblFeeIds TF
		ON SSFD.Schoolwise_Student_Fee_Id = TF.Schoolwise_Student_Fee_Id
		--AND SSFD.Student_Id = S.Student_Id
		WHERE SSFD.School_Id = @School_Id
		AND SSFD.Academic_Year_Id = @Academic_Year_Id
		AND SSFD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'debit'
		and ssfd.Is_Cheque_Bounce = 'N'
		AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
		AND SSFD.Fee_Type = @FeeType
		AND S.Student_Id IS NULL
		AND SSFD.Paid_Date BETWEEN @FromDate AND @ToDate
		group by SSFD.Student_Id,SSFD.Receipt_Number
	)SS
	ON TSD.Yearwise_Student_Id = SS.Student_Id

	UPDATE @tblStudentDetails
	SET PaidAmount = PaidAmount - (ISNULL(ConcessionAmount,0) - ISNULL(ConcessionOnLateFeeAmount,0))

	UPDATE @tblStudentDetails
	SET TotalAmount = PaidAmount  + PaidLateFee - ISNULL(RefundAmount,0) - ISNULL(ConcessionOnLateFeeAmount,0)

	--UPDATE @tblStudentDetails
	--SET TotalAmount = PaidAmount - ConcessionAmount + PaidLateFee - ISNULL(RefundAmount,0)
	
	SELECT className,Enrolment_Number,Roll_No,StudentName,StudentPayable,PaidAmount,PaidLateFee,ConcessionAmount,RemainingAmount,RefundAmount,TotalAmount,Original_Standard_Id,Original_Division_Id, @AccountHeader AS Header
	FROM @tblStudentDetails
	ORDER BY Original_Standard_Id, Original_Division_Id, Roll_No
END