/****** Object:  StoredProcedure [dbo].[usp_GetUserRolwiseEmployeeDetails]    Script Date: 8/19/2026 4:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------------------------

ALTER PROCEDURE [dbo].[usp_GetUserRolwiseEmployeeDetails] 
	@School_Id INT,
	@Academic_Year_Id INT,	
	@UserRoleId INT = NULL,
	@UserId INT = NULL
AS 
BEGIN	
	SET NOCOUNT ON;
   DECLARE @tblAllEmployee AS TABLE
		(
		 UserId INT
		,UserRoleId INT
		,DesignationId INT
		,FirstName NVARCHAR(50)
		,MiddleName NVARCHAR(50)
		,LastName NVARCHAR(50)
		,UserName NVARCHAR(4000)
		,EmployeeNo NVARCHAR(50)		
		)

    -- Insert statements for procedure here
    IF @UserRoleId = 1
	INSERT INTO @tblAllEmployee
		SELECT   DISTINCT  User_Master.User_Id,  User_Master.User_Role_Id, 
                  User_Master.DesignationId, User_Master.User_First_Name, 
                  User_Master.User_Middle_Name, User_Master.User_Last_Name,
                  Salutation_Master.Salutation_Name + N' ' + User_Master.User_First_Name + ' ' + CASE WHEN User_Master.User_Middle_Name IS NULL OR
				  User_Master.User_Middle_Name = N'' THEN N' ' ELSE N' ' + User_Master.User_Middle_Name + N'.' END + ' ' + CASE WHEN User_Master.User_Last_Name IS NULL OR
				  User_Master.User_Last_Name = N'' THEN N'' ELSE N' ' + User_Master.User_Last_Name END AS Name,
				  CASE WHEN UBD.EmployeeNo IS NULL OR UBD.EmployeeNo = '' THEN '' ELSE UBD.EmployeeNo END AS EmployeeNo
		  FROM    User_Role_Master INNER JOIN
				  Teacher_Designation_Master ON User_Role_Master.User_Role_Id = Teacher_Designation_Master.User_Role_Id INNER JOIN
				  User_Master ON User_Role_Master.User_Role_Id = User_Master.User_Role_Id AND 
				  Teacher_Designation_Master.Teacher_Designation_Id = User_Master.DesignationId INNER JOIN
				  Salutation_Master ON User_Master.Salutation_Id = Salutation_Master.Salutation_Id
				  LEFT OUTER JOIN UserBasicDetails UBD ON User_Master.User_Id = UBD.UserId AND User_Master.School_Id = UBD.SchoolId AND UBD.IsDeleted = 0

					
		WHERE     (User_Master.School_Id = @School_Id) AND (User_Master.Is_Deleted = N'N')  AND (
				User_Master.Is_Locked = N'N')
          AND Is_Admin=N'Y'
          AND Teacher_Designation_Master.Is_Deleted=N'N'
          AND (UBD.UserId IS NULL OR (UBD.UserId IS NOT NULL AND UBD.ResignationDate IS NULL))
          
    IF @UserRoleId = 2
    INSERT INTO @tblAllEmployee
		SELECT DISTINCT 
                      SchoolWise_Teacher_Master.User_Id, User_Master.User_Role_Id,SchoolWise_Teacher_Master.Designation_Id,  
                      SchoolWise_Teacher_Master.Teacher_First_Name, SchoolWise_Teacher_Master.Teacher_Middle_Name, 
                      SchoolWise_Teacher_Master.Teacher_Last_Name,Salutation_Master.Salutation_Name + N' ' + SchoolWise_Teacher_Master.Teacher_First_Name + ' ' + CASE WHEN Teacher_Middle_Name IS NULL OR
                      Teacher_Middle_Name = N'' THEN N'' ELSE N'' + Teacher_Middle_Name + N'.' END + CASE WHEN Teacher_Last_Name IS NULL OR
                      Teacher_Last_Name = N'' THEN N'' ELSE N''+ ' ' + Teacher_Last_Name END + N' ' + 
					  CASE WHEN UBD.EmployeeNo IS NULL OR UBD.EmployeeNo = '' THEN '' ELSE '('+UBD.EmployeeNo+')' END AS EmployeeNo,
					  vtd.DesignationSortOrder
			FROM SchoolWise_Teacher_Master 
				  INNER JOIN User_Master ON User_Master.User_Id = SchoolWise_Teacher_Master.User_Id INNER JOIN
				  Salutation_Master ON SchoolWise_Teacher_Master.Salutation_Id = Salutation_Master.Salutation_Id INNER JOIN
				  User_Role_Master ON  User_Master.User_Role_Id = User_Role_Master.User_Role_Id INNER JOIN
				  Teacher_Designation_Master ON SchoolWise_Teacher_Master.Designation_Id = Teacher_Designation_Master.Teacher_Designation_Id
				  AND Teacher_Designation_Master.User_Role_Id = User_Role_Master.User_Role_Id
				  LEFT OUTER JOIN UserBasicDetails UBD ON User_Master.User_Id = UBD.UserId AND User_Master.School_Id = UBD.SchoolId AND UBD.IsDeleted = 0
				  inner join vw_TeacherDesignations VTD
				  on SchoolWise_Teacher_Master.Designation_Id = vtd.Teacher_Designation_Id
			WHERE (User_Master.Is_Deleted = N'N')AND (User_Master.School_Id = @School_Id ) 
			  AND (SchoolWise_Teacher_Master.Is_Deleted = N'N') AND (User_Master.Is_Locked = N'N') 
			  AND (SchoolWise_Teacher_Master.Is_Deleted = N'N')AND (SchoolWise_Teacher_Master.School_Id = @School_Id) 
			  AND SchoolWise_Teacher_Master.academic_year_id = @Academic_Year_Id 
			   AND Teacher_Designation_Master.Is_Deleted=N'N'
			   AND (UBD.UserId IS NULL OR (UBD.UserId IS NOT NULL AND UBD.ResignationDate IS NULL))
			   order by vtd.DesignationSortOrder
	
	IF @UserRoleId = 6                    
    INSERT INTO @tblAllEmployee				
	SELECT   DISTINCT  SchoolWise_Supervisor_Master.User_Id,User_Role_Master.User_Role_Id,Teacher_Designation_Master.Teacher_Designation_Id ,
                      SchoolWise_Supervisor_Master.Supervisor_First_Name,SchoolWise_Supervisor_Master.Supervisor_Middle_Name,  SchoolWise_Supervisor_Master.Supervisor_Last_Name, 
                      Salutation_Master.Salutation_Name + N' ' + SchoolWise_Supervisor_Master.Supervisor_First_Name + ' ' + 
                      CASE WHEN SchoolWise_Supervisor_Master.Supervisor_Middle_Name IS NULL OR
                      SchoolWise_Supervisor_Master.Supervisor_Middle_Name = N'' THEN N'' ELSE N'' + SchoolWise_Supervisor_Master.Supervisor_Middle_Name + N'.' END + ' ' + 
                      CASE WHEN SchoolWise_Supervisor_Master.Supervisor_Last_Name IS NULL OR
                      SchoolWise_Supervisor_Master.Supervisor_Last_Name = N'' THEN N'' ELSE N'' + SchoolWise_Supervisor_Master.Supervisor_Last_Name END AS Name,
					  CASE WHEN UBD.EmployeeNo IS NULL OR UBD.EmployeeNo = '' THEN '' ELSE UBD.EmployeeNo END AS EmployeeNo
		FROM SchoolWise_Supervisor_Master INNER JOIN				  
				  Salutation_Master ON SchoolWise_Supervisor_Master.Salutation_Id = Salutation_Master.Salutation_Id 
				   INNER JOIN User_Master ON User_Master.User_Id = SchoolWise_Supervisor_Master.User_Id INNER JOIN
				  User_Role_Master ON  User_Master.User_Role_Id = User_Role_Master.User_Role_Id INNER JOIN
				  Teacher_Designation_Master ON SchoolWise_Supervisor_Master.Designation_Id = Teacher_Designation_Master.Teacher_Designation_Id
				  AND User_Role_Master.User_Role_Id = Teacher_Designation_Master.User_Role_Id	
				  LEFT OUTER JOIN UserBasicDetails UBD ON User_Master.User_Id = UBD.UserId AND User_Master.School_Id = UBD.SchoolId AND UBD.IsDeleted = 0			 
			  WHERE   (User_Master.Is_Deleted = N'N') AND (User_Master.School_Id = @School_Id ) 
				  AND (SchoolWise_Supervisor_Master.Is_Deleted = N'N')
				  AND (SchoolWise_Supervisor_Master.School_Id = @School_Id  )
				  AND (User_Master.Is_Locked = N'N') 
				   AND Teacher_Designation_Master.Is_Deleted=N'N'
				  AND (UBD.UserId IS NULL OR (UBD.UserId IS NOT NULL AND UBD.ResignationDate IS NULL))
				  		  
    IF @UserRoleId = 7
       INSERT INTO @tblAllEmployee
		SELECT DISTINCT 
                  OtherStaff.UserId, User_Master.User_Role_Id,
                  OtherStaff.DesignationId,
                  OtherStaff.FirstName, OtherStaff.MiddleName, OtherStaff.LastName, 
                  Salutation_Master.Salutation_Name + N' ' + OtherStaff.FirstName + ' ' + CASE WHEN OtherStaff.MiddleName IS NULL OR
				  OtherStaff.MiddleName = N'' THEN N'' ELSE N'' + OtherStaff.MiddleName + N'.' END+ ' ' + CASE WHEN OtherStaff.LastName IS NULL OR
				  OtherStaff.LastName = N'' THEN N'' ELSE N'' + OtherStaff.LastName END AS Name,
				  CASE WHEN UBD.EmployeeNo IS NULL OR UBD.EmployeeNo = '' THEN '' ELSE UBD.EmployeeNo END AS EmployeeNo
			FROM  OtherStaff INNER JOIN
				  School_Master ON OtherStaff.SchoolId = School_Master.School_Id 
				  INNER JOIN User_Master ON User_Master.User_Id	= OtherStaff.UserId INNER JOIN
				  Salutation_Master ON OtherStaff.SalutationId = Salutation_Master.Salutation_Id INNER JOIN
				  Teacher_Designation_Master ON OtherStaff.DesignationId = Teacher_Designation_Master.Teacher_Designation_Id	
				  LEFT OUTER JOIN UserBasicDetails UBD ON User_Master.User_Id = UBD.UserId AND User_Master.School_Id = UBD.SchoolId AND UBD.IsDeleted = 0					
			WHERE (User_Master.School_Id = @School_Id ) AND(User_Master.Is_Deleted = N'N') AND (User_Master.Is_Locked = N'N')
			  AND (OtherStaff.SchoolId = @School_Id ) AND (OtherStaff.Is_Deleted = N'N')
			  AND Teacher_Designation_Master.Is_Deleted=N'N'
			  AND (UBD.UserId IS NULL OR (UBD.UserId IS NOT NULL AND UBD.ResignationDate IS NULL))  
      
    IF @UserRoleId = 8                     
    INSERT INTO @tblAllEmployee                 
    SELECT  DISTINCT   tStaff.UserId, User_Master.User_Role_Id, 
                tStaff.DesignationId, tStaff.FirstName, 
                tStaff.MiddleName, tStaff.LastName,
                Salutation_Master.Salutation_Name + N' ' + tStaff.FirstName +' ' + CASE WHEN tStaff.MiddleName IS NULL OR
				tStaff.MiddleName = N'' THEN N'' ELSE N'' + tStaff.MiddleName + N'.' END + ' ' +  CASE WHEN tStaff.LastName IS NULL OR
				tStaff.LastName = N'' THEN N'' ELSE N'' + tStaff.LastName END AS Name,
				'' AS EmployeeNo
		FROM  Transport.TransportStaffMaster tStaff INNER JOIN			  
			  Salutation_Master ON tStaff.SalutationId = Salutation_Master.Salutation_Id 
			  INNER JOIN User_Master ON User_Master.User_Id = tStaff.UserId INNER JOIN
			  User_Role_Master ON  User_Master.User_Role_Id = User_Role_Master.User_Role_Id INNER JOIN
			  Teacher_Designation_Master ON tStaff.DesignationId = Teacher_Designation_Master.Teacher_Designation_Id
			  AND User_Role_Master.User_Role_Id = Teacher_Designation_Master.User_Role_Id	
			  LEFT OUTER JOIN UserBasicDetails UBD ON User_Master.User_Id = UBD.UserId AND User_Master.School_Id = UBD.SchoolId AND UBD.IsDeleted = 0
	   WHERE (User_Master.Is_Deleted	= N'N') AND (User_Master.Is_Locked = N'N')
		  AND (User_Master.School_Id = @School_Id )AND (tStaff.Is_Deleted = 0) 
		  AND tStaff.SchoolId = @School_Id AND tStaff.Academic_Year_Id=@Academic_Year_Id
		  AND Teacher_Designation_Master.Is_Deleted=N'N'
		  AND (UBD.UserId IS NULL OR (UBD.UserId IS NOT NULL AND UBD.ResignationDate IS NULL))
    
  if(@School_Id = 71) --PPSN School only
	BEGIN       
		SELECT UserId AS Value_Member,			  
			   UserName AS Display_Member
		  FROM @tblAllEmployee tblAllEmployee  
	  ORDER BY UserRoleId,DesignationId,
			   CASE WHEN EmployeeNo IS NULL OR EmployeeNo = '' THEN 'XXX' ELSE EmployeeNo END,
			   FirstName,
			   MiddleName,
			   LastName
	END
ELSE
	BEGIN
		SELECT UserId AS Value_Member,
			   UserName AS Display_Member
		  FROM @tblAllEmployee tblAllEmployee  
	  ORDER BY UserRoleId,DesignationId,
			   FirstName,
			   MiddleName,
			   LastName
	END
END
GO
