/*
   20 April 202615:36:16
   User: sa
   Server: Synergy-SVR007.rit.com\schoolSmoke
   Database: PPSH
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.ExcludeLateFeeDetails
	(
	Id int NOT NULL IDENTITY (1, 1),
	YearwiseStudentId int NOT NULL,
	FeeType nvarchar(100) NOT NULL,
	PayableFor nvarchar(100) NOT NULL,
	IsDeleted bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.ExcludeLateFeeDetails ADD CONSTRAINT
	PK_ExcludeLateFeeDetails PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ExcludeLateFeeDetails SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ExcludeLateFeeDetails', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ExcludeLateFeeDetails', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ExcludeLateFeeDetails', 'Object', 'CONTROL') as Contr_Per 