/****** Object:  StoredProcedure [dbo].[usp_GetFeeDetailsForOnlineFee]    Script Date: 8/25/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================================================
-- Modified by: MILIND
-- Modified date: 20 Nov 2009 
-- Description: 
-- =============================================================================

ALTER PROCEDURE [dbo].[usp_GetFeeDetailsForOnlineFee]
	@SchoolId INT,
	@AcdYrId INT,
	@StudentID INT,
	@DueDates XML,
	@SchoolwiseStudentFeeId INT,
	@IsCautionMoneyOnlinePayment BIT,
	@IsInternalFeeOnlinePayment BIT = 0
AS
BEGIN	
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	DECLARE @ErrorMessage NVARCHAR(500) = ''

	IF @SchoolId = 18
	BEGIN
		DECLARE @ScStudentID INT

		SELECT @ScStudentID = Student_Id
		FROM YearWise_Student_Details
		WHERE YearWise_Student_Id = @StudentID
		AND Is_Deleted = 'N'

		IF @IsCautionMoneyOnlinePayment = 0 AND @IsInternalFeeOnlinePayment = 0
		BEGIN
				declare @tblStudentIDs AS TABLE
				(
					YrStudentId INT
				)

				INSERT INTO @tblStudentIDs
				select YearWise_Student_Id
				from YearWise_Student_Details
				where Student_Id = @ScStudentID
				and Is_Deleted = 'N'
				and Academic_Year_ID < @AcdYrId

				IF EXISTS
				(
					SELECT top 1 1
					FROM Schoolwise_Student_Fee_Details SSFD
					INNER JOIN @tblStudentIDs ysd
					on ssfd.Student_Id = ysd.YrStudentId
					LEFT OUTER JOIN
					(
						SELECT Student_Fee_Id
						FROM Schoolwise_Student_Fee_Details SSFD
						INNER JOIN @tblStudentIDs ysd
						on ssfd.Student_Id = ysd.YrStudentId
						WHERE ssfd.Is_Deleted = 'N'
						AND [Debit/Credit] = 'credit'
						and ssfd.Is_Cheque_Bounce = 'N'
						and (ssfd.RefundFeeDetailsID is null or ssfd.RefundFeeDetailsID = 0 )
						and ssfd.Student_Fee_Id is not null
						and ssfd.Student_Fee_Id <> 0
					)S
					ON ssfd.Schoolwise_Student_Fee_Id = s.Student_Fee_Id
					WHERE ssfd.Is_Deleted = 'N'
					AND [Debit/Credit] = 'debit'
					and ssfd.Is_Cheque_Bounce = 'N'
					and (ssfd.RefundFeeDetailsID is null or ssfd.RefundFeeDetailsID = 0 )
					and s.Student_Fee_Id is null
					and Fee_Type <> 'Bounce Cheque Fine'
				)
				BEGIN
					SET @ErrorMessage = 'You cannot pay this fee because there exist pending fee of past academic year. Please pay pending fee.'
				END
		END
	END
	
	DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	DECLARE @tblFeePayables TABLE
	(
		PayableFor NVARCHAR(100)
	)

	insert into @tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@SchoolId,@AcdYrId)

	IF exists(select top 1 1 from @tblFeePayables)
	BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
	END

	-- Add xml details into @docHandle variable.
	DECLARE @docHandle INT 
	--EXEC sp_xml_preparedocument @docHandle OUTPUT, @DueDates
	
	DECLARE @tblDueDate AS TABLE 
	(
		DueDate DATE
	)

	DECLARE @tblInternalFeeDetailIds AS TABLE
	(
		InternalFeeDetailsId INT
	)
	
	/*INSERT INTO @tblDueDate
	SELECT * FROM 
	OPENXML(@docHandle, 'DueDates/DueDates', 1)
	WITH 
	(
	  DueDate DATETIME
	)*/
IF(@IsInternalFeeOnlinePayment = 0)
	BEGIN
		INSERT INTO @tblDueDate
		     SELECT T.c.value('./@DueDate',N'DATETIME') 
			   FROM @DueDates.nodes('DueDates/DueDates') T(c)
	END
ELSE
	BEGIN
		INSERT INTO @tblInternalFeeDetailIds
			 SELECT T.c.value('./@InternalFeeDetailsId',N'INT') 
			   FROM @DueDates.nodes('DueDates/DueDates') T(c)
	END
	
	DECLARE @tblFeeDetailsTemp AS TABLE
	(
		Schoolwise_Student_Fee_Id INT,
	    Student_Id INT,
	    Payable_For NVARCHAR(200),
	    Standard_Div_Id INT,
	    Std_FeeType_Id INT,
		Fee_Type NVARCHAR(100),
		Amount INT,
		LateFeeAmount INT,
		Paid_Date DATETIME,
		ConcessionAmount INT
	)
	
	DECLARE @IsNewStudent BIT, @RuleId INT, @StandardId INT,@StdDivId INT
	
	SELECT @IsNewStudent = Is_New_Student, @RuleId = Rule_Id, @StandardId = YSD.Standard_Id, @StdDivId = VSD.SchoolWise_Standard_Division_Id
	FROM Yearwise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YSD.School_Id = @SchoolId
	AND YSD.Academic_Year_Id = @AcdYrId
	AND Is_Deleted = 'N'
	AND Yearwise_Student_Id = @StudentID	

	IF @IsCautionMoneyOnlinePayment = 1
	BEGIN
	    INSERT INTO @tblFeeDetailsTemp
		SELECT 0 AS Schoolwise_Student_Fee_Id,
			  @StudentID,
			  'Caution money payment' AS Payable_For,
			  @StdDivId,
			  0,
			  'Caution money',
			  SCMD.Amount,
			  0,
			  DBO.GetLocalDate(DEFAULT),
			  0
		FROM Student_Caution_Money_Details SCMD
		INNER JOIN YearWise_Student_Details YSD
		ON SCMD.Schoolwise_Student_Id = YSD.Student_Id
		WHERE YSD.School_Id = @SchoolId
		AND SCMD.Is_Deleted = 0
		AND YSD.Is_Deleted = 'N'
		AND YSD.Academic_Year_ID = @AcdYrId
		AND YSD.YearWise_Student_Id = @StudentID		
	END
	ELSE IF @IsInternalFeeOnlinePayment = 1
		BEGIN
			   INSERT INTO @tblFeeDetailsTemp
					SELECT IFD.InternalFeeDetailsId,
						   IFD.Schoolwise_Student_Id,
						   IFD.Payable_For,
						   @StdDivId,
						   0,
						   IFD.Fee_Type,
						   IFD.Amount,
						   0,
						   dbo.GetLocalDate(DEFAULT),
						   0
					  FROM InternalFeeDetails IFD
				INNER JOIN YearWise_Student_Details YWSD
						ON IFD.Schoolwise_Student_Id = YWSD.Student_Id
					   AND IFD.SchoolId = YWSD.School_Id
					   AND IFD.AcademicYearId = YWSD.Academic_Year_ID					   
		   LEFT OUTER JOIN Schoolwise_Debit_Entry_Log SWDEL
						ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
					   AND IFD.SchoolId = SWDEL.School_Id
					   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
					   AND (SWDEL.IsOnlinePaymentApplicable = 1 OR IFD.IsConsiderForOnlinePayment = 1)
					 WHERE YWSD.School_Id = @SchoolId
					   AND YWSD.Academic_Year_ID = @AcdYrId
					   AND YWSD.YearWise_Student_Id = @StudentID
					   AND [Debit/Credit] = 'Debit'			   
					   AND InternalFeeDetailsId IN (
															SELECT InternalFeeDetailsId
															  FROM @tblInternalFeeDetailIds
												   )				
		END
	ELSE
	BEGIN
		IF(@SchoolwiseStudentFeeId = 0)
		BEGIN	
			INSERT INTO @tblFeeDetailsTemp
			     SELECT Schoolwise_Student_Fee_Id, 
						Student_Id, 
						Payable_For, 
						Standard_Div_Id, 
						Std_FeeType_Id,
					    Fee_Type, Amount,
						CASE  WHEN ExcludeLateFeeDetails.YearwiseStudentId IS NOT NULL 
						 THEN 0
							ELSE 
								CASE 
									WHEN Std_FeeType_Id IS NOT NULL AND Std_FeeType_Id <> 0 
									THEN  
										CASE 
											WHEN @AllowLateFeeAtQuarterLevel = 1 
											THEN 
												CASE 
													WHEN Payable_For IN (SELECT PayableFor FROM @tblFeePayables) 
														THEN dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT)) 
													ELSE 0 
												END 
											ELSE
												dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT)) 
										END
									ELSE 0 
								END
						END AS LateFeeAmount,
					    Paid_Date,
					    DBO.UDF_GetTotalAmtForDefaultDebitEntryWithConcession(Std_FeeType_Id, @IsNewStudent, @RuleId, Amount)
			       FROM Schoolwise_Student_Fee_Details SSFD
				   LEFT OUTER JOIN ExcludeLateFeeDetails ON ExcludeLateFeeDetails.YearWiseStudentId=SSFD.Student_Id
				   AND ExcludeLateFeeDetails.FeeType=SSFD.Fee_Type
				   AND ExcludeLateFeeDetails.PayableFor=SSFD.Payable_For
				   AND  ExcludeLateFeeDetails.IsDeleted=0
			      WHERE (School_Id = @SchoolId) 
				    AND (CONVERT(DATE,Paid_Date) IN (
														SELECT * 
														  FROM @tblDueDate
													 )
						 ) 
					 AND (Academic_Year_Id = @AcdYrId) 
					 AND (Student_Id = @StudentID)  
					 AND (Is_Deleted = N'N') 
					 AND ([Debit/Credit] = N'Debit') 
					 AND (Is_Cheque_Bounce = N'N') 
					 AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0) 
					 AND (Is_Concession_Fee = N'N')
					 AND Schoolwise_Student_Fee_Id NOT IN (
																SELECT Student_Fee_Id 
																  FROM Schoolwise_Student_Fee_Details AS Schoolwise_Student_Fee_Details_1 
																 WHERE (School_Id = @SchoolId) 
																   AND (Academic_Year_Id = @AcdYrId) 
																   AND (Student_Id = @StudentID)  
																   AND (Is_Deleted = N'N') 
																   AND ([Debit/Credit] = N'Credit') 
																   AND (Is_Cheque_Bounce = N'N') 
																   AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0) 
																   AND (Is_Concession_Fee = N'N') 
																   AND Student_Fee_Id IS NOT NULL
														  )
		END
		ELSE	
		BEGIN
	
			INSERT INTO @tblFeeDetailsTemp
				 SELECT Schoolwise_Student_Fee_Id, 
				        Student_Id, 
						Payable_For, 
						Standard_Div_Id, 
						Std_FeeType_Id,
					    Fee_Type, Amount,
							CASE  WHEN ExcludeLateFeeDetails.YearwiseStudentId IS NOT NULL 
						 THEN 0
							ELSE 
								CASE 
									WHEN Std_FeeType_Id IS NOT NULL AND Std_FeeType_Id <> 0 
									THEN  
										CASE 
											WHEN @AllowLateFeeAtQuarterLevel = 1 
											THEN 
												CASE 
													WHEN Payable_For IN (SELECT PayableFor FROM @tblFeePayables) 
														THEN dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT)) 
													ELSE 0 
												END 
											ELSE
												dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date, dbo.GetLocalDate(DEFAULT)) 
										END
									ELSE 0 
								END
						END AS LateFeeAmount,
					    Paid_Date,
					    DBO.UDF_GetTotalAmtForDefaultDebitEntryWithConcession(Std_FeeType_Id, @IsNewStudent, @RuleId,Amount)
			       FROM Schoolwise_Student_Fee_Details SSFD
				     LEFT OUTER JOIN ExcludeLateFeeDetails ON ExcludeLateFeeDetails.YearWiseStudentId=SSFD.Student_Id
				   AND ExcludeLateFeeDetails.FeeType=SSFD.Fee_Type
				   AND ExcludeLateFeeDetails.PayableFor=SSFD.Payable_For
				   AND  ExcludeLateFeeDetails.IsDeleted=0
			      WHERE (School_Id = @SchoolId) 
				    AND (CONVERT(DATE,Paid_Date) IN (SELECT * FROM @tblDueDate)) 
					AND (Academic_Year_Id = @AcdYrId) 
					AND (Student_Id = @StudentID)  
					AND (Is_Deleted = N'N') 
					AND ([Debit/Credit] = N'Debit') 
					AND (Is_Cheque_Bounce = N'N') 
					AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0) 
					AND (Is_Concession_Fee = N'N')
					AND (Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId)
					AND Schoolwise_Student_Fee_Id NOT IN 
														(SELECT Student_Fee_Id 
														   FROM  Schoolwise_Student_Fee_Details AS Schoolwise_Student_Fee_Details_1 
														  WHERE (School_Id = @SchoolId) 
															AND (Academic_Year_Id = @AcdYrId) 
															AND (Student_Id = @StudentID)  
															AND (Is_Deleted = N'N') 
															AND ([Debit/Credit] = N'Credit') 
															AND (Is_Cheque_Bounce = N'N') 
															AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0) 
																						   AND (Is_Concession_Fee = N'N') 
																						   AND Student_Fee_Id IS NOT NULL)
		END
    END
               
    DECLARE @TotalAmount INT,
			@Amount INT,
			@LateFeeAmt INT, 
			@ConcessionAmount INT  
    
     SELECT @Amount = SUM(Amount) 
	   FROM @tblFeeDetailsTemp
	  
    -- SELECT @LateFeeAmt = SUM(LateFeeAmount) 
	   --FROM @tblFeeDetailsTemp

	      SELECT     
             @LateFeeAmt = SUM( CASE 
            WHEN ExcludeLateFeeDetails.YearwiseStudentId IS NOT NULL THEN 0
            ELSE tblFeeDetailsTemp.LateFeeAmount END ) FROM @tblFeeDetailsTemp as tblFeeDetailsTemp
	   LEFT OUTER JOIN ExcludeLateFeeDetails ON ExcludeLateFeeDetails.YearWiseStudentId=@StudentId
	 AND ExcludeLateFeeDetails.FeeType=tblFeeDetailsTemp.Fee_Type
	 AND ExcludeLateFeeDetails.PayableFor=tblFeeDetailsTemp.Payable_For
	 AND ExcludeLateFeeDetails.IsDeleted=0
   GROUP BY Paid_Date

	
	
	 SELECT @ConcessionAmount = SUM(ConcessionAmount) 
	   FROM @tblFeeDetailsTemp
   GROUP BY Student_Id
   
	IF @ConcessionAmount = 0 OR @ConcessionAmount IS NULL
	BEGIN
	
			DECLARE @ConcAmount INT = 0
			
			SELECT @ConcAmount = ConcessionAmount
			FROM FullPaymentConcessionDetails
			WHERE CONVERT(DATE,FromDate) <= CONVERT(DATE, dbo.GetLocalDate(DEFAULT))
			AND CONVERT(DATE,ToDate) >= CONVERT(DATE, dbo.GetLocalDate(DEFAULT))
			AND SchoolId = @SchoolId
			AND AcademicYearId = @AcdYrId
			AND IsDeleted = 0
			AND StandardId = @StandardId

			IF @ConcAmount <> 0 AND @ConcAmount IS NOT NULL
			BEGIN
						DECLARE @TotalPendingAmount INT = 0
						
						SELECT    @TotalPendingAmount = SUM(Amount)
						FROM       Schoolwise_Student_Fee_Details
						WHERE      (School_Id = @SchoolId) 						
						AND (Academic_Year_Id = @AcdYrId) 
								   AND (Student_Id = @StudentID)  AND (Is_Deleted = N'N') AND 
								   ([Debit/Credit] = N'Debit') AND (Is_Cheque_Bounce = N'N') AND (RefundFeeDetailsID IS NULL OR
								   RefundFeeDetailsID = 0) AND (Is_Concession_Fee = N'N')
								   AND Schoolwise_Student_Fee_Id NOT IN 
											(SELECT Student_Fee_Id FROM  Schoolwise_Student_Fee_Details AS Schoolwise_Student_Fee_Details_1 
											 WHERE (School_Id = @SchoolId) AND (Academic_Year_Id = @AcdYrId) 
												   AND (Student_Id = @StudentID)  AND (Is_Deleted = N'N') AND 
												   ([Debit/Credit] = N'Credit') AND (Is_Cheque_Bounce = N'N') AND (RefundFeeDetailsID IS NULL OR
												   RefundFeeDetailsID = 0) AND (Is_Concession_Fee = N'N') AND Student_Fee_Id IS NOT NULL)
						IF @Amount = @TotalPendingAmount AND @Amount > @ConcAmount
							SET @ConcessionAmount = @ConcAmount
			END
			
	END

	--IF EXISTS
	--(
	--	SELECT TOP 1 1
	--	FROM SchoolSettings
	--	where IsDeleted = 0
	--	and SchoolId = @SchoolId
	--	and AcademicYearId = @AcdYrId
	--	and Name = 'IsAaryanSchool'
	--	and ltrim(rtrim(value)) = 'true'
	--)
	--BEGIN
	
	--	IF EXISTS
	--	(
	--		SELECT TOP 1 1
	--		FROM @tblFeeDetailsTemp
	--		WHERE Payable_For = '3rd Installment'
	--	)
	--	BEGIN
	--				DECLARE @Is_PrePRimary CHAR,
	--						@FeeCategoryName NVARCHAR(100),
	--						@StandardName NVARCHAR(100)

	--				select @Is_PrePRimary = SM.Is_PrePrimary,
	--						@FeeCategoryName = FC.Name,
	--						@StandardName  = SM.Standard_Name
	--				from YearWise_Student_Details ysd
	--				inner join Standard_Master SM
	--				ON YSD.Standard_Id = SM.Standard_Id
	--				INNER JOIN FeeCategories FC
	--				ON YSD.FeeCategoryDetailsId = FC.Id
	--				where YearWise_Student_Id = @StudentID
	--				and YSD.School_Id = @SchoolId
	--				and YSD.Academic_Year_ID = @AcdYrId
	--				and YSD.Is_Deleted = 'N'
	--				and SM.Is_Deleted = 'N'
	--				and FC.IsDeleted = 0

	--				IF @Is_PrePRimary = 'N'
	--				BEGIN				
	--					IF @SchoolId = 150
	--					BEGIN
	--						IF @StandardName IN ('1','2')
	--						BEGIN
	--							SET @ConcessionAmount = 4900
	--						END
	--						ELSE IF @StandardName = '3'
	--						BEGIN
	--							IF @FeeCategoryName = 'FS-1'
	--								SET @ConcessionAmount = 2300
	--							ELSE IF @FeeCategoryName = 'FS-2'
	--								SET @ConcessionAmount = 4900
	--						END
	--					END
	--					ELSE IF @SchoolId = 151
	--					BEGIN
	--						IF @StandardName IN ('1','2','3')
	--							SET @ConcessionAmount = 5600					
	--					END
	--					ELSE IF @SchoolId = 153
	--					BEGIN
	--						IF @StandardName IN ('1','2')	
	--							SET @ConcessionAmount = 4900
	--					END
	--				END
	--				ELSE
	--					SET @ConcessionAmount = 6000

	--				UPDATE @tblFeeDetailsTemp
	--				SET ConcessionAmount = @ConcessionAmount
	--				WHERE Payable_For = '3rd Installment'
	--	END
	--END
					
						
	SET @TotalAmount = @Amount + ISNULL(@LateFeeAmt,0) - ISNULL(@ConcessionAmount,0)
    
    SELECT @TotalAmount AS TotalAmount ,
	       @Amount AS Amount,
		   @LateFeeAmt AS LateFeeAmt, 
		   @ConcessionAmount AS ConcessionAmount
    	 	
    SELECT DISTINCT LateFeeAmount,
		   Paid_Date,Fee_Type 
	  FROM @tblFeeDetailsTemp
     WHERE LateFeeAmount > 0

	 DECLARE @RestrictPayment BIT = 0,
	         @RestrictStudentFeePayment BIT = 0

	 SELECT @RestrictPayment = CASE WHEN UPPER(Value) = 'TRUE' THEN 1 ELSE 0 END
	   FROM SchoolSettings
	  WHERE SchoolId = @SchoolId
	    AND AcademicYearId = @AcdYrId
	    AND Name = 'RestrictNewPaymentIfOldPaymentIsPending' 	
	   
DECLARE @tblOldStudentIds AS TABLE	  
(
	Id INT IDENTITY(1,1),
	YearwiseStudentId INT
)

DECLARE @IsspecificFee BIT = 0
IF @SchoolId = 71
BEGIN
	SET @IsspecificFee = 1
END

INSERT INTO @tblOldStudentIds
	 SELECT YearWise_Student_Id
	   FROM YearWise_Student_Details YWSD
 INNER JOIN (
				  SELECT Student_Id
					FROM YearWise_Student_Details
				   WHERE School_Id = @SchoolId
					 AND Is_Deleted = 'N'
					 AND Academic_Year_ID = @AcdYrId
					 AND YearWise_Student_Id = @StudentID
		   )SS
	    ON SS.Student_Id = YWSD.Student_Id
	 WHERE School_Id = @SchoolId
	   AND Is_Deleted = 'N'
	   AND Academic_Year_ID <> @AcdYrId

	IF EXISTS (
					SELECT TOP 1 1
					  FROM Schoolwise_Student_Fee_Details SWSFD
				INNER JOIN @tblOldStudentIds tblStudent
						ON SWSFD.Student_Id = tblStudent.YearwiseStudentId
					 WHERE [Debit/Credit] = 'Debit'
					   AND Is_Deleted = 'N'
					   AND School_Id = @SchoolId
					   AND Academic_Year_Id <> @AcdYrId
					   AND Is_Late_Fee = 'N'
					   AND Is_Cheque_Bounce = 'N'
					   AND (@IsspecificFee = 0 OR (@IsspecificFee = 1 AND Fee_Type IN ('Tuition Fee','Term Fee')))
					   AND Schoolwise_Student_Fee_Id NOT IN (
																	SELECT Student_Fee_Id
																	  FROM Schoolwise_Student_Fee_Details SWSFD1
																INNER JOIN @tblOldStudentIds tblOld
																		ON SWSFD1.Student_Id = tblOld.YearwiseStudentId
																	 WHERE [Debit/Credit] = 'Credit'
																	   AND Is_Deleted = 'N'
																	   AND School_Id = @SchoolId
																	   AND Academic_Year_Id <> @AcdYrId
																	   AND Is_Late_Fee = 'N'
																	   AND Is_Cheque_Bounce = 'N'
																	   AND (@IsspecificFee = 0 OR (@IsspecificFee = 1 AND Fee_Type IN ('Tuition Fee','Term Fee')))
															)
			  )
		BEGIN 
			IF(@RestrictPayment = 1)
				SET @RestrictStudentFeePayment = 1
			ELSE
				SET @RestrictStudentFeePayment = 0
		END

    SELECT *,
	       @RestrictStudentFeePayment RestrictStudentFeePayment 
	  FROM @tblFeeDetailsTemp

	SELECT @ErrorMessage ErrorMessage
    
END
GO
