/****** Object:  StoredProcedure [dbo].[usp_GetStudentFeeDetails]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================      
-- Author  : Anu        
-- Create date : 23 Sep 2008        
-- Description : Retrieves fee details for a student as of a particular day.      
-- ------------------------------------------------------------------------------------------------    
-- MODIFICATION LOG    
-- ## Date  Author  Description    
-- ------------------------------------------------------------------------------------------------    
-- 01 24-May-12 Vishal  Added IsTransactionCleared field in the returned result set, which is      
--      used to display uncleared transactions in a separate background color.      
-- 02 25-Jul-12 Poonam  Table variable is replaced with Temp table. Temporary table is used      
--      instead of view vw_Student_Debit_Details and accordingly changes are      
--      made throughout the procedure. schema identifier added to all tables.      
-- 03 01-Oct-12 Vishal  #5264. When such fees are refunded, whose amount is lesser than the      
--      original fee type amount (for eg, if Tution Fee is 6600, and the student      
--      is staff kid and gets 50% concession on it, then amount paid is 3300 only.      
--      Also, if the amount is reduced from the Student Payables screen for any      
--      fee type) then " - Partial" is displayed against the fee type on the      
--      Student Fees screen. (Solution: Previously, the original amount, as      
--      configured in the school configuration, was being compared with. Now,      
--      the amount for which fee was paid, is considered instead.) 
-- 04 23-Oct-12 Yogesh. Provide facility On Fees screen, add a column to show payment date for the paid fee entries    
-- 02-17-2016 Sanket Bhujbal. For after transafer of RTE student display unique record on his fees screen. 
-- 18-03-2016 Sanket Bhujbal:- This usp is modified to return correct paid date.
-- ================================================================================================      
ALTER PROCEDURE [dbo].[usp_GetStudentFeeDetails]
 @StudentId   INT,    
 @CurrentDate DATETIME,
 @ShowOnlyDebits BIT,
 @LoginUserRoleId INT = 0,
 @ReceiptNumber INT = 0
AS    
BEGIN    
 SET NOCOUNT ON;    
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED    
    
 DECLARE @StudentFeeId       INT,    
   @FeeType            NVARCHAR(50),    
   @PayableFor         NVARCHAR(200),    
   @AmtPaid            INT,    
   @AmtPayable         INT,    
   @DueDate            DATETIME,    
   @ReceiptNo          NVARCHAR(50),    
   @TotalLateFee       INT,    
   @TotalConcessionAmt INT,    
   @RefundAmt          INT,    
   @LastEntry          INT,    
   @TotalPaidlatefee   INT,
   @FileName		   NVARCHAR(200)
 --Declare temp. table for particular student's fee details.        
 CREATE TABLE #TemptblFeeDetails    
 (    
   Schoolwise_Student_Fee_Id INT,    
   Payable_For               NVARCHAR(200),    
   Amount                    INT,    
   Paid_Date                 DATETIME,
   Paid_Date1                NVARCHAR(30),    
   Fee_Type                  NVARCHAR(50),    
   Amount_Paid               INT,    
   Amount_Payable            INT,    
   [D/C]                     NVARCHAR(10),    
   Receipt_Number            NVARCHAR(50),    
   Serial_Number             INT,    
   Is_Cheque_Bounce          NVARCHAR(1),    
   Std_Fee_Type_Id           INT,    
   Late_Fee_Amt              INT,    
   Is_Concession             NVARCHAR(1),    
   RefundFeeDetailsID        INT,    
   Is_LastRefund             BIT NULL,    
   TotalAmount               INT,    
   Is_Arrears                BIT,    
   DebitStudentFeeID         INT,    
   IsTransactionCleared      BIT,
   HeaderId					 INT,
   RefundReceiptNo			 INT,
   FileName					 NVARCHAR(200)
 )    
    
 DECLARE @SchoolId       INT,    
   @AcademicYearId INT,
   @SchoolwiseStudentId INT = 0,
   @StandardId INT = 0,
   @StdDivId INT = 0
    
 SELECT @SchoolId = YSD.School_Id      
		,@AcademicYearId = YSD.Academic_Year_Id
		,@SchoolwiseStudentId = Student_Id 
		,@StandardId = YSD.Standard_Id
		,@StdDivId = VSD.SchoolWise_Standard_Division_Id
   FROM dbo.YearWise_Student_Details YSD      
   INNER JOIN vw_standard_division VSD
   ON YSD.Standard_Id = VSD.Standard_Id
   AND YSD.Division_id = VSD.Division_Id
  WHERE YSD.YearWise_Student_Id = @StudentId      


  DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	DECLARE @tblFeePayables TABLE
	(
		PayableFor NVARCHAR(100)
	)

	insert into @tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@SchoolId,@AcademicYearId)

  IF exists(select top 1 1 from @tblFeePayables)
  BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
  END

 -- Temporary table to exactly replicate the view - vw_Student_Debit_Details      
 CREATE TABLE #tempStudent_Debit_Details    
 (    
   Payable_For                    NVARCHAR(200),    
   Amount                         INT,    
   [Debit/Credit]                 NVARCHAR(10),    
   Paid_Date                      DATETIME,    
   Remarks                        NVARCHAR(2000),    
   Standard_Div_Id                INT,   
   NewStdId						  INT,
   School_Id                      INT,    
   Academic_Year_Id               INT,    
   Schoolwise_Student_Fee_Id      INT,    
   Fee_Type                       NVARCHAR(50),    
   Std_FeeType_Id                 INT,    
   Serial_Number                  INT,    
   Student_Fee_Id               INT,    
   Receipt_Number                 NVARCHAR(50),    
   DebitLevel                     NVARCHAR(7),    
   Is_Cheque_Bounce               CHAR(1),    
   Is_Late_Fee                    CHAR(1),    
   Is_Concession_Fee              CHAR(1),    
   Is_Deleted                     CHAR(1),    
   PDC_Id                         INT,    
   Cheque_Number                  NVARCHAR(15),    
   Cheque_Passed_Date             SMALLDATETIME,    
   Cheque_Date                    DATETIME,    
   Bank_Name                      NVARCHAR(100),    
   Student_Id                     INT,    
   Is_Arrears                     BIT,    
   NetBankingPaymentTransactionID INT,    
   DebitStudentFee_Id             INT,
   HeaderId						  INT
 )    

 DECLARE @IsAaryanSchool BIT

 SELECT @IsAaryanSchool = CASE WHEN UPPER(Value) = 'TRUE' THEN 1 ELSE 0 END
   FROM SchoolSettings
  WHERE SchoolId = @SchoolId
    AND IsDeleted = 0
	AND AcademicYearId = @AcademicYearId
	AND Name = 'IsAaryanSchool'

	DECLARE @HideInstalment BIT = 0

	--if @IsAaryanSchool = 1
	--BEGIN
	--	IF @SchoolId >= 150 AND @SchoolId <= 158
	--		BEGIN
	--			IF EXISTS
	--			(
	--				SELECT TOP 1 1
	--				FROM YearWise_Student_Details YSD
	--				INNER JOIN Standard_Master SM
	--				ON YSD.Standard_Id = SM.Standard_Id
	--				WHERE YSD.YearWise_Student_Id = @StudentId
	--				AND YSD.Is_Deleted = 'N'
	--				AND SM.Is_Deleted = 'N'
	--				AND SM.Is_PrePrimary = 'Y'
	--			)
	--			OR
	--			EXISTS
	--			(
	--				SELECT TOP 1 1
	--				FROM YearWise_Student_Details YSD
	--				INNER JOIN Standard_Master SM
	--				ON YSD.Standard_Id = SM.Standard_Id
	--				WHERE YSD.YearWise_Student_Id = @StudentId
	--				AND YSD.Is_Deleted = 'N'
	--				AND SM.Is_Deleted = 'N'
	--				AND SM.Standard_Name IN ('1','2','3','4')
	--			)
	--			BEGIN
	--				SET @HideInstalment = 1
	--			END
	--		END
	--END

	if(@IsAaryanSchool = 1 and @AcademicYearId = 2)
		set @HideInstalment = 1

IF(@IsAaryanSchool = 1 AND @LoginUserRoleId = 3 ) -- Aaryan SChool And Login USer is Student
	BEGIN
		INSERT #tempStudent_Debit_Details    
			 (    
			  Payable_For,    
			  Amount,    
			  [Debit/Credit],    
			  Paid_Date,  
			  Remarks,    
			  Standard_Div_Id,
			  NewStdId,
			  School_Id,    
			  Academic_Year_Id,    
			  Schoolwise_Student_Fee_Id,    
			  Fee_Type,    
			  Std_FeeType_Id,    
			  Serial_Number,    
			  Student_Fee_Id,    
			  Receipt_Number,    
			  DebitLevel,    
			  Is_Cheque_Bounce,    
			  Is_Late_Fee,    
			  Is_Concession_Fee,    
			  Is_Deleted,    
			  PDC_Id,    
			  Cheque_Number,    
			  Cheque_Passed_Date,    
			  Cheque_Date,    
			  Bank_Name,    
			  Student_Id,    
			  Is_Arrears,    
			  NetBankingPaymentTransactionID,    
			  DebitStudentFee_Id,
			  HeaderId
			 )    
		   SELECT SSFD.Payable_For    
				 ,SSFD.Amount    
				 ,SSFD.[Debit/Credit]    
				 ,SSFD.Paid_Date   
				 ,SSFD.Remarks    
				 ,SSFD.Standard_Div_Id  
				 ,YSD.Standard_Id
				 ,SSFD.School_Id    
				 ,SSFD.Academic_Year_Id    
				 ,SSFD.Schoolwise_Student_Fee_Id    
				 ,SSFD.Fee_Type    
				 ,SSFD.Std_FeeType_Id    
				 ,SSFD.Serial_Number    
				 ,SSFD.Student_Fee_Id    
				 ,SSFD.Receipt_Number    
				 ,N'Student' AS DebitLevel    
				 ,SSFD.Is_Cheque_Bounce    
				 ,SSFD.Is_Late_Fee    
				 ,SSFD.Is_Concession_Fee    
				 ,SSFD.Is_Deleted    
				 ,SFPDCD.PDC_Id    
				 ,SSPDC.Cheque_Number    
				 ,SSPDC.Cheque_Passed_Date    
				 ,SSPDC.Cheque_Date    
				 ,SBM.Bank_Name    
				 ,SSFD.Student_Id    
				 ,SSFD.Is_Arrears    
				 ,SSFD.NetBankingPaymentTransactionID    
				 ,SSFD.DebitStudentFee_Id
				 ,ISNULL(SSFD.AccountHeaderId,0)
		    FROM Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)    
 LEFT OUTER JOIN Schoolwise_Student_PostDatedCheques SSPDC WITH (NOLOCK)    
 LEFT OUTER JOIN Schoolwise_Bank_Master SBM  WITH (NOLOCK)   
			  ON SSPDC.Bank_Id = SBM.Schoolwise_Bank_Id    
 LEFT OUTER JOIN Student_Fee_PDC_Details SFPDCD  WITH (NOLOCK)   
			  ON SSPDC.PostDated_Cheque_Id = SFPDCD.PDC_Id    
			  ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id 
      INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK)
			  ON YSD.YearWise_Student_Id = SSFD.Student_Id
		   WHERE SSFD.Is_Deleted = N'N'    
			 AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)    
			 AND SSFD.Amount >= 0
			 AND SSFD.Academic_Year_Id = @AcademicYearId    
			 AND SSFD.Student_Id = @StudentId 
			 AND SSFD.Fee_Type NOT IN ('Transport Fees','GPS Fees')
	END
ELSE 
	BEGIN   
			 INSERT #tempStudent_Debit_Details    
			 (    
			  Payable_For,    
			  Amount,    
			  [Debit/Credit],    
			  Paid_Date,  
			  Remarks,    
			  Standard_Div_Id,  
			  NewStdId,
			  School_Id,    
			  Academic_Year_Id,    
			  Schoolwise_Student_Fee_Id,    
			  Fee_Type,    
			  Std_FeeType_Id,    
			  Serial_Number,    
			  Student_Fee_Id,    
			  Receipt_Number,    
			  DebitLevel,    
			  Is_Cheque_Bounce,    
			  Is_Late_Fee,    
			  Is_Concession_Fee,    
			  Is_Deleted,    
			  PDC_Id,    
			  Cheque_Number,    
			  Cheque_Passed_Date,    
			  Cheque_Date,    
			  Bank_Name,    
			  Student_Id,    
			  Is_Arrears,    
			  NetBankingPaymentTransactionID,    
			  DebitStudentFee_Id,
			  HeaderId
			 )    
				SELECT SSFD.Payable_For    
				 ,SSFD.Amount    
				 ,SSFD.[Debit/Credit]    
				 ,SSFD.Paid_Date   
				 ,SSFD.Remarks    
				 ,SSFD.Standard_Div_Id 
				 , YSD.Standard_Id
				 ,SSFD.School_Id    
				 ,SSFD.Academic_Year_Id    
				 ,SSFD.Schoolwise_Student_Fee_Id    
				 ,SSFD.Fee_Type    
				 ,SSFD.Std_FeeType_Id    
				 ,SSFD.Serial_Number    
				 ,SSFD.Student_Fee_Id    
				 ,SSFD.Receipt_Number    
				 ,N'Student' AS DebitLevel    
				 ,SSFD.Is_Cheque_Bounce    
				 ,SSFD.Is_Late_Fee    
				 ,SSFD.Is_Concession_Fee    
				 ,SSFD.Is_Deleted    
				 ,SFPDCD.PDC_Id    
				 ,SSPDC.Cheque_Number    
				 ,SSPDC.Cheque_Passed_Date    
				 ,SSPDC.Cheque_Date    
				 ,SBM.Bank_Name    
				 ,SSFD.Student_Id    
				 ,SSFD.Is_Arrears    
				 ,SSFD.NetBankingPaymentTransactionID    
				 ,SSFD.DebitStudentFee_Id
				 ,ISNULL(SSFD.AccountHeaderId,0)
				  FROM Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)    
			 LEFT OUTER JOIN Schoolwise_Student_PostDatedCheques SSPDC WITH (NOLOCK)    
				 LEFT OUTER JOIN Schoolwise_Bank_Master SBM  WITH (NOLOCK)   
					 ON SSPDC.Bank_Id = SBM.Schoolwise_Bank_Id    
				 LEFT OUTER JOIN Student_Fee_PDC_Details SFPDCD  WITH (NOLOCK)   
					 ON SSPDC.PostDated_Cheque_Id = SFPDCD.PDC_Id    
				 ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id    
			 INNER JOIN YearWise_Student_Details YSD
					ON YSD.YearWise_Student_Id = SSFD.Student_Id
				 WHERE SSFD.Is_Deleted = N'N'    
				AND (SSFD.RefundFeeDetailsID IS NULL    
				   OR SSFD.RefundFeeDetailsID = 0)    
				AND SSFD.Amount >= 0    
				AND SSFD.Academic_Year_Id = @AcademicYearId    
				AND SSFD.Student_Id = @StudentId
		END    
	PRINT 198
 --Insert fee details into temp. table and also get late fee amount against given date.        
 INSERT INTO #TemptblFeeDetails    
 (    
  Schoolwise_Student_Fee_Id,    
  Payable_For,    
  Amount,    
  Paid_Date,
  Paid_Date1,    
  Fee_Type,    
  Amount_Paid,    
  Amount_Payable,    
  [D/C],    
  Receipt_Number,    
  Serial_Number,    
  Is_Cheque_Bounce,    
  Std_Fee_Type_Id,    
  Late_Fee_Amt,    
  Is_Concession,    
  RefundFeeDetailsID,    
  Is_LastRefund,    
  Is_Arrears,    
  DebitStudentFeeID,    
  IsTransactionCleared,
  HeaderId,
  FileName
 )    
    SELECT A.Schoolwise_Student_Fee_Id    
     ,ISNULL(B.Payable_For, A.Payable_For) [Payable_For]    
     ,A.Amount    
     ,A.Paid_Date    
     ,A.Paid_Date AS Paid_Date1
     ,ISNULL(B.Fee_Type, A.Fee_Type) [Fee_Type]    
     ,ISNULL((SELECT Amount    
          FROM #tempStudent_Debit_Details AS X    
         WHERE Student_Fee_Id = A.Schoolwise_Student_Fee_Id    
        AND Student_Id = @StudentId    
        UNION    
        SELECT Amount    
          FROM #tempStudent_Debit_Details AS B    
         WHERE Receipt_Number = A.Receipt_Number    
        AND Student_Id = @StudentId    
        AND Is_Concession_Fee = A.Is_Concession_Fee    
        AND Student_Fee_Id IS NULL), 0) AS Amount_Paid    
     ,0 AS Amount_Payable    
     ,A.[Debit/Credit] AS Debit    
     ,ISNULL((SELECT Receipt_Number    
          FROM #tempStudent_Debit_Details AS C    
         WHERE Student_Fee_Id = A.Schoolwise_Student_Fee_Id    
        UNION    
        SELECT Receipt_Number    
          FROM #tempStudent_Debit_Details AS D    
         WHERE Receipt_Number = A.Receipt_Number    
        AND Is_Concession_Fee = N'N'    
        AND Student_Fee_Id IS NULL), 0) AS Receipt_Number    
     ,A.Serial_Number    
     ,A.Is_Cheque_Bounce    
     ,CASE    
       WHEN B.Student_Fee_Id IS NULL THEN A.Std_FeeType_Id    
       ELSE B.Std_FeeType_Id    
      END AS [Std_FeeType_Id]    
     --,dbo.UDF_GetLateFeeAmt(A.Std_FeeType_Id, A.Paid_Date, @CurrentDate) AS LateFeeAmt    
	 , CASE WHEN @AllowLateFeeAtQuarterLevel = 1 THEN 
			CASE WHEN A.Payable_For IN (select PayableFor from @tblFeePayables) THEN dbo.UDF_GetLateFeeAmt(A.Std_FeeType_Id, A.Paid_Date, @CurrentDate)
			ELSE 0 
			END 
		ELSE
			dbo.UDF_GetLateFeeAmt(A.Std_FeeType_Id, A.Paid_Date, @CurrentDate)			
		END AS LateFeeAmt
     ,A.Is_Concession_Fee    
     ,0 AS Expr1    
     ,0 AS Expr2    
     ,A.Is_Arrears    
     ,ISNULL(A.DebitStudentFee_Id, 0)    
     ,1
	 ,ISNULL(A.HeaderId,0) AS HeaderId
	 ,ISNULL(FileName,'') AS FileName
      FROM #tempStudent_Debit_Details A WITH (NOLOCK)    
 LEFT OUTER JOIN #tempStudent_Debit_Details B  WITH (NOLOCK)   
     ON A.Schoolwise_Student_Fee_Id = B.Student_Fee_Id
LEFT OUTER JOIN FeePaymentDocumentDetails FPDC
		  ON B.Student_Id = FPDC.StudentId
		 AND B.Receipt_Number = FPDC.ReceiptNo
		   AND FPDC.IsDeleted = 0
     WHERE (A.Student_Fee_Id = 0    
       OR A.Student_Fee_Id IS NULL)    
    AND A.Student_Id = @StudentId    
PRINT 272
  
 -- select * from #TemptblFeeDetails      
 -- Take total concession amount for given student excluding bounced cheque amount.        
 SELECT @TotalConcessionAmt = SUM(Amount)    
   FROM dbo.Schoolwise_Student_Fee_Details WITH (NOLOCK)    
  WHERE Is_Concession_Fee = N'Y'    
    AND Is_Cheque_Bounce = N'N'    
    AND Is_Deleted = N'N'    
    AND [Debit/Credit] = N'Credit'    
    AND Student_Id = @StudentId    
    
 -- if total concession amount is null set to 0.        
 IF (@TotalConcessionAmt IS NULL)    
  SET @TotalConcessionAmt = 0    
    
 -- set amount payable as substracting amount paid from amount        
 UPDATE #TemptblFeeDetails    
    SET Amount_Payable = Amount - Amount_Paid    
  WHERE Amount_Paid = 0    
    
 -- select * from #TemptblFeeDetails        
 -- if amount paid is greater than zero then set [D/C] as 'credit' and late fee amount to 0.        
 UPDATE #TemptblFeeDetails    
    SET [D/C] = N'Credit',    
     Late_Fee_Amt = 0    
  WHERE Amount_Paid > 0  
  AND Is_Cheque_Bounce <> N'Y'    
    
 
 UPDATE tblFeeDetails
	   SET Receipt_Number = S.Receipt_Number
	  FROM #TemptblFeeDetails tblFeeDetails
INNER JOIN 
(
	  SELECT Schoolwise_Student_Fee_Id,Receipt_Number
		FROM Schoolwise_Student_Fee_Details
	   WHERE Student_Id = @StudentId
		 AND Is_Deleted = 'N'
		 AND [Debit/Credit] = 'Credit'
		 AND Is_Cheque_Bounce = 'N'
		 AND Is_Concession_Fee = 'Y'
)S
ON tblFeeDetails.Schoolwise_Student_Fee_Id = S.Schoolwise_Student_Fee_Id
 
 --select * from #TemptblFeeDetails        
 -- Set late fee amount to 0 if studentfeeid's entry into Schoolwise_Late_Fee_Details table.        
 UPDATE #TemptblFeeDetails    
    SET Late_Fee_Amt = 0    
  WHERE Schoolwise_Student_Fee_Id IN (SELECT Student_Fee_Id    
             FROM Schoolwise_Late_Fee_Details    
            WHERE Is_Deleted = N'N'    
           AND Late_Fee_Amt <> 0.00)    
    
 -- select * from #TemptblFeeDetails        
 -- #03 --      
 INSERT INTO #TemptblFeeDetails    
  SELECT SSFD1.Schoolwise_Student_Fee_Id    
      ,CASE    
     WHEN SSFD1.Fee_Type <> N'Monthly' THEN SSFD1.Payable_For + N' (' + SSFD1.Fee_Type + N')'    
     ELSE SSFD1.Payable_For    
    END AS Payable_For    
      ,SSFD1.Amount    
      ,SSFD1.Paid_Date  
      ,SSFD1.Paid_Date as Paid_Date1  
      ,N'Refund' AS Fee_Type    
      ,SSFD1.Amount AS Amount_Paid    
      ,0 AS Amount_Payable    
      ,SSFD1.[Debit/Credit] AS [D/C]    
      ,ISNULL(SSFD1.Receipt_Number, 0)    
      ,SSFD1.Serial_Number    
      ,SSFD1.Is_Cheque_Bounce    
      ,SSFD1.Std_FeeType_Id    
      ,0 AS Late_Fee_Amt    
      ,SSFD1.Is_Concession_Fee    
      ,SSFD1.RefundFeeDetailsID    
      ,0    
      ,SSFD2.Amount    
      ,SSFD1.Is_Arrears    
      ,ISNULL(SSFD1.DebitStudentFee_Id, 0)    
      ,1
	  ,ISNULL(SSFD1.AccountHeaderId,0) AS AccountHeaderId
	  ,0
	  ,ISNULL(FileName,'') AS FileName
    FROM dbo.Schoolwise_Student_Fee_Details SSFD1 WITH (NOLOCK)    
 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD2 WITH (NOLOCK)    
   ON SSFD1.Student_Fee_Id = SSFD2.Schoolwise_Student_Fee_Id
LEFT OUTER JOIN FeePaymentDocumentDetails FPDC 
		  ON SSFD1.Student_Id = FPDC.StudentId
		 AND SSFD1.Receipt_Number = FPDC.ReceiptNo 
		   ANd FPDC.IsDeleted = 0
   WHERE SSFD1.Student_Id = @StudentId    
     AND SSFD1.Is_Deleted = N'N'    
     AND SSFD1.RefundFeeDetailsID IS NOT NULL    
     AND SSFD1.RefundFeeDetailsID <> 0    
    
 -- #03 --      
 --select * from #TemptblFeeDetails        
 -- Set IsLastRefund flag for last fee refund entry        
 UPDATE #TemptblFeeDetails    
    SET Is_LastRefund = 1    
  WHERE Schoolwise_Student_Fee_Id IN (SELECT MAX(Schoolwise_Student_Fee_Id)    
             FROM #TemptblFeeDetails WITH (NOLOCK)    
            WHERE RefundFeeDetailsID IS NOT NULL    
           AND RefundFeeDetailsID <> 0    
            GROUP BY RefundFeeDetailsID)    
    
 --select * from #TemptblFeeDetails        
 -- PArtial fee refund entries        
 UPDATE #TemptblFeeDetails    
    SET Payable_For = Payable_For + N' - Partial'    
  WHERE RefundFeeDetailsID IS NOT NULL    
    AND RefundFeeDetailsID <> 0    
    AND Amount <> TotalAmount    
    
 -- # 01  --      
 -- Update those entries which are paid by chq and not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
  WHERE TFD.[D/C] = N'Credit'    
    AND TFD.Receipt_Number IN (SELECT SSFD.Receipt_Number    
          FROM dbo.Schoolwise_Student_Fee_Details SSFD  WITH (NOLOCK)   
          INNER JOIN dbo.Student_Fee_PDC_Details SFPDCD WITH (NOLOCK)    
            ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id    
          INNER JOIN dbo.Schoolwise_Student_PostDatedCheques SSPDC WITH (NOLOCK)    
            ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id    
            WHERE SSFD.Student_Id = @StudentId    
           AND SSFD.Is_Cheque_Bounce = N'N'    
           AND SSFD.Is_Deleted = N'N'    
           AND SFPDCD.Is_Deleted = N'N'    
           AND SSPDC.Is_Deleted = N'N'    
           AND SSPDC.Is_Cheque_Bounce = N'N'    
           AND (SSPDC.Cheque_Passed_Date IS NULL    
              OR SSPDC.Cheque_Passed_Date = N''))    
    
 -- Update those entries which are paid by cash @ bank & not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
     INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD    
       ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
  WHERE TFD.[D/C] = N'Credit'    
    AND SSFD.Is_Directly_Deposited = N'Y'    
    AND SSFD.Is_Deleted = N'N'    
    AND TFD.Receipt_Number NOT IN (SELECT CCP.ReceiptNo    
          FROM dbo.ClearedCashPayment CCP    
            WHERE CCP.SchoolId = @SchoolId    
           AND CCP.Academic_Year_Id = @AcademicYearId    
           AND CCP.Is_Deleted = 0)    
 
 -- Update those entries which are paid online & not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
     INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD    
       ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
  WHERE TFD.[D/C] = N'Credit'    
    AND SSFD.NetBankingPaymentTransactionID IS NOT NULL    
    AND SSFD.NetBankingPaymentTransactionID <> 0    
    AND SSFD.Is_Deleted = N'N'    
    AND TFD.Receipt_Number IN (    SELECT SSFD.Receipt_Number    
          FROM dbo.Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)    
          INNER JOIN dbo.NetBankingPaymentTransactions NBPT WITH (NOLOCK)    
            ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID    
            WHERE SSFD.Student_Id = @StudentId    
           AND SSFD.Is_Deleted = N'N'    
           AND SSFD.[Debit/Credit] = N'Credit'    
           AND NBPT.Is_Deleted = 0    
           AND NBPT.ClearanceDate IS NULL)    
    
 -- Update those entries which are paid by card & not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
     INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD    
       ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
  WHERE TFD.[D/C] = N'Credit'    
    AND SSFD.IsCardPayment = 1    
    AND SSFD.Is_Deleted = N'N'    
    AND TFD.Receipt_Number IN (    SELECT SSFD.Receipt_Number    
          FROM dbo.Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)    
          INNER JOIN dbo.StudentCardPaymentDetails SCPD WITH (NOLOCK)    
            ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id    
            WHERE SSFD.Student_Id = @StudentId    
           AND SSFD.Is_Deleted = N'N'    
           AND SSFD.[Debit/Credit] = N'Credit'    
           AND SCPD.Is_Deleted = 0    
           AND SCPD.Passed_Date IS NULL)    
           
-- Update those entries which are paid by electronic payments & not yet cleared.      
 UPDATE #TemptblFeeDetails    
    SET IsTransactionCleared = 0    
   FROM #TemptblFeeDetails TFD    
     INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD    
       ON TFD.Schoolwise_Student_Fee_Id = SSFD.Student_Fee_Id    
  WHERE TFD.[D/C] = N'Credit'    
    AND SSFD.IsElectronicPayment = 1    
    AND SSFD.Is_Deleted = N'N'    
    AND TFD.Receipt_Number IN ( SELECT SSFD.Receipt_Number    
								  FROM dbo.Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)     
							INNER JOIN dbo.StudentElectronicPayments SEP WITH (NOLOCK)    
									ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolWiseStudentFeeId    
							  	 WHERE SSFD.Student_Id = @StudentId    
								   AND SSFD.Is_Deleted = N'N'    
								   AND SSFD.[Debit/Credit] = N'Credit'    
								   AND SEP.IsDeleted = 0    
								   AND SEP.ClearanceDate IS NULL)    
    
 -- # 01  --       
 --Take sum of amount paid        
 DECLARE @tblFeeDetails AS TABLE
 (
	StudentFeeId INT,
	PaidAmount INT
 )
INSERT INTO @tblFeeDetails
SELECT DISTINCT Schoolwise_Student_Fee_Id,Amount_Paid
    FROM #TemptblFeeDetails    
   WHERE Is_Cheque_Bounce = N'N'    
     AND Is_Concession = N'N'    
     AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0)  

	DECLARE @FeeApplicable INT

IF(@SchoolId = 122 AND @AcademicYearId = 6)
	BEGIN	 
			SELECT @FeeApplicable = ISNULL(SUM(tblFee.PaidAmount),0)
			  FROM @tblFeeDetails  tblFee
		INNER JOIN Schoolwise_Student_Fee_Details SWSFD
				ON tblFee.StudentFeeId = SWSFD.Student_Fee_Id
			 WHERE School_Id = @SchoolId
			   AND Is_Deleted = 'N'
			   AND Academic_Year_Id = @AcademicYearId
			   AND [Debit/Credit] = 'Credit'
			  -- AND Fee_Type NOT IN ('Excess Fees', 'Mess Fees')
	END
 
 SELECT @AmtPaid = SUM(PaidAmount) 
   FROM @tblFeeDetails  
	
	
 ---Take TotallatefeePaid-  
 SELECT @TotalPaidlatefee=SUM(Amount_Paid)  
  FROM #TemptblFeeDetails   
  WHERE Is_Cheque_Bounce = N'N'    
    AND Is_Concession = N'N'    
    AND (RefundFeeDetailsID IS NULL    
    OR RefundFeeDetailsID = 0)  
    AND #TemptblFeeDetails.Fee_Type=N'Late Fee'  
    
 --Take sum of amount payable        
 SELECT @AmtPayable = SUM(Amount_Payable)    
   FROM #TemptblFeeDetails    
  WHERE Is_Cheque_Bounce = N'N'    
    AND (RefundFeeDetailsID IS NULL    
    OR RefundFeeDetailsID = 0)    
    
 --Take sum of late fee amount         
 SELECT @TotalLateFee = SUM(Late_Fee_Amt)    
   FROM #TemptblFeeDetails    
  WHERE Is_Cheque_Bounce = N'N'    
    AND (RefundFeeDetailsID IS NULL    
    OR RefundFeeDetailsID = 0)    

------------------------------------------------------
DECLARE @tblFeeDetailsAsPerMode AS TABLE
(
   Schoolwise_Student_Fee_Id INT,    
   Payable_For NVARCHAR(200),    
   Amount INT,    
   DueDate DATETIME,    
   Fee_Type NVARCHAR(50),       
   Amount_Payable INT,    
   [D/C] NVARCHAR(10),    
   Receipt_Number NVARCHAR(50),    
   Serial_Number  INT,       
   Std_Fee_Type_Id INT,    
   Late_Fee_Amt INT,
   OrigionalLateFeeAmount INT       
)
 
 --take all records from temp. table.        
 IF(@ShowOnlyDebits=1)  
 BEGIN  
 INSERT INTO #TemptblFeeDetails VALUES(-9999,N'0',1,N'9999-12-31 23:59:59.997',N'0',0,0,N'Debit',N'0',0,N'0',0,0,N'0',0,0,0,0,0,0)  
 INSERT INTO #TemptblFeeDetails VALUES(-9998,N'0',1,N'9999-12-31 23:59:59.997',N'0',0,0,N'Debit',N'0',0,N'0',0,0,N'0',0,0,0,0,0,0)
  
 INSERT INTO @tblFeeDetailsAsPerMode  
 SELECT Schoolwise_Student_Fee_Id    
  ,Payable_For    
  ,Amount    
  ,Paid_Date as DueDate   
  ,Fee_Type     
  ,Amount_Payable    
  ,[D/C]    
  ,Receipt_Number    
  ,Serial_Number      
  ,Std_Fee_Type_Id    
  ,Late_Fee_Amt       
  ,0
   FROM #TemptblFeeDetails AS TemptblFeeDetails    
  WHERE Amount > 0    
    AND [D/C]=N'Debit'    
  
IF(@ReceiptNumber <> 0)
BEGIN

	INSERT INTO @tblFeeDetailsAsPerMode  
	SELECT TemptblFeeDetails.Schoolwise_Student_Fee_Id,    
		   TemptblFeeDetails.Payable_For,    
		   TemptblFeeDetails.Amount,    
           TemptblFeeDetails.Paid_Date as DueDate,   
           TemptblFeeDetails.Fee_Type,     
		   TemptblFeeDetails.Amount_Payable,    
		   [D/C],    
		   TemptblFeeDetails.Receipt_Number,    
		   TemptblFeeDetails.Serial_Number,    		  
		   Std_Fee_Type_Id,    
		   --Late_Fee_Amt       
		   dbo.UDF_GetLateFeeAmt(TemptblFeeDetails.Std_Fee_Type_Id, TemptblFeeDetails.Paid_Date, SSFD.Paid_Date) AS Late_Fee_Amt,
		   0
	  FROM #TemptblFeeDetails AS TemptblFeeDetails WITH (NOLOCK)    
INNER JOIN Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK) 
		ON TemptblFeeDetails.Schoolwise_Student_Fee_Id=SSFD.Student_Fee_Id
	   AND TemptblFeeDetails.Receipt_Number=SSFD.Receipt_Number
	 WHERE TemptblFeeDetails.Amount > 0    
	   AND [D/C]=N'Credit'  
	   AND TemptblFeeDetails.Receipt_Number = @ReceiptNumber
	   AND SSFD.Is_Late_Fee=N'N'
	    		
	--Take sum of amount paid        
	 SELECT @AmtPaid = SUM(Amount_Paid)    
	   FROM #TemptblFeeDetails tbl1    
 INNER JOIN @tblFeeDetailsAsPerMode tbl2  
		 ON tbl1.Schoolwise_Student_Fee_Id = tbl2.Schoolwise_Student_Fee_Id
	  WHERE Is_Cheque_Bounce = N'N'    
		AND Is_Concession = N'N'    
		AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0)    
		AND tbl2.Receipt_Number = @ReceiptNumber
	 
	 ---Take TotallatefeePaid  
	 SELECT @TotalPaidlatefee=SUM(tbl2.Late_Fee_Amt)  	 
	   FROM #TemptblFeeDetails tbl1  
 INNER JOIN @tblFeeDetailsAsPerMode tbl2
		 ON tbl1.Schoolwise_Student_Fee_Id = tbl2.Schoolwise_Student_Fee_Id 
	  WHERE tbl1.Is_Cheque_Bounce = N'N'    
		AND Is_Concession = N'N'    
		AND (tbl1.RefundFeeDetailsID IS NULL OR tbl1.RefundFeeDetailsID = 0)  
		--AND tbl1.Fee_Type='Late Fee'  
		AND tbl2.Receipt_Number = @ReceiptNumber
	    
	 --Take sum of amount payable        
	 SELECT @AmtPayable = SUM(tbl2.Amount_Payable)    
	   FROM #TemptblFeeDetails tbl1    
INNER JOIN @tblFeeDetailsAsPerMode tbl2
		 ON tbl1.Schoolwise_Student_Fee_Id = tbl2.Schoolwise_Student_Fee_Id
	  WHERE Is_Cheque_Bounce = N'N'    
		AND (RefundFeeDetailsID IS NULL OR RefundFeeDetailsID = 0)    
		AND tbl2.Receipt_Number = @ReceiptNumber
	    
	 --Take sum of late fee amount         
	 SELECT @TotalLateFee = SUM(tbl1.Late_Fee_Amt)    
	   FROM #TemptblFeeDetails tbl1    
 INNER JOIN @tblFeeDetailsAsPerMode tbl2
		 ON tbl1.Schoolwise_Student_Fee_Id = tbl2.Schoolwise_Student_Fee_Id   
	  WHERE Is_Cheque_Bounce = N'N'    
		AND (RefundFeeDetailsID IS NULL	OR RefundFeeDetailsID = 0)    
		AND tbl2.Receipt_Number = @ReceiptNumber
		
	 --Concession Amount
	SELECT @TotalConcessionAmt = SUM(tbl1.Amount)    
      FROM #TemptblFeeDetails tbl1    
INNER JOIN Schoolwise_Student_Fee_Details tbl2
     	ON tbl1.Schoolwise_Student_Fee_Id = tbl2.Schoolwise_Student_Fee_Id   
     WHERE tbl2.Is_Concession_Fee = N'Y'    
	   AND tbl2.Is_Cheque_Bounce = N'N'    
	   AND Is_Deleted = N'N'    
	   AND [Debit/Credit] = N'Credit'    
	   AND tbl2.Receipt_Number = @ReceiptNumber
 
END  
--SELECT * FROM @tblFeeDetailsAsPerMode

SELECT Schoolwise_Student_Fee_Id,    
	   Payable_For,    
	   Amount,    
	   DueDate,   
	   Fee_Type,    	 
	   Amount_Payable,    
	   [D/C],    
	   Receipt_Number,    
	   ISNULL(Serial_Number,0) as Serial_Number,    	  
	   ISNULL(Std_Fee_Type_Id,0) as Std_Fee_Type_Id,    
	   Late_Fee_Amt       
  FROM @tblFeeDetailsAsPerMode 
ORDER BY DueDate,    
	   Schoolwise_Student_Fee_Id,    
	   Serial_Number,    
	   Fee_Type       

SELECT TOP 1 ISNULL(@AmtPaid,0) as Paid ,
		   ISNULL(@TotalPaidlatefee,0) as PaidLateFee,
		   ISNULL(@AmtPayable,0) as Payble,
		   ISNULL(@TotalLateFee,0) as ApplicableLateFee,
		   ISNULL(@TotalConcessionAmt,0) as Concession,
		   (CASE WHEN Is_Directly_Deposited = N'N' THEN 0 ELSE 1 END) as IsDirectlyDeposited,
		   ISNULL(DepositBankId,0) as DepositBankId,
		   Bank_Id,
		   ISNULL(ChallanNo,0) as ChallanNo,
		   Remarks,
		   Paid_Date 
	  FROM Schoolwise_Student_Fee_Details WITH (NOLOCK) 
	 WHERE Receipt_Number = @ReceiptNumber
	   AND Is_Deleted = N'N'
 END  
 ELSE  
 BEGIN  
 
 CREATE TABLE #tblPaidStudentsFeesDetails 
 (
 ReceiptNumber INT,
 PaidDate NVARCHAR(30),
 Schoolwise_Student_Fee_Id INT
 )
 PRINT 674
 INSERT INTO #tblPaidStudentsFeesDetails
	  SELECT Receipt_Number,
	         CONVERT(NVARCHAR(30),Paid_Date,106),
			 Student_Fee_Id
        FROM Schoolwise_Student_Fee_Details 
       WHERE student_id = @StudentId 
	     AND [Debit/Credit] = 'Credit'
		 AND Is_Deleted = 'N'

    UPDATE temptbl
	   SET RefundReceiptNo = SWSRFD.ReceiptNumber
	  FROM #TemptblFeeDetails temptbl
INNER JOIN Schoolwise_Student_RefundFee_Details SWSRFD
		ON temptbl.RefundFeeDetailsID = SWSRFD.RefundFeeDetailsId
	   AND temptbl.HeaderId = SWSRFD.AccountHeaderId
	 WHERE SWSRFD.Is_Deleted = 0
	   AND SWSRFD.School_Id = @SchoolId
	   AND SWSRFD.Academic_Year_Id = @AcademicYearId
	   AND SWSRFD.StudentId = @StudentId
 	   
  SELECT DISTINCT TemptblFeeDetails.Schoolwise_Student_Fee_Id    
   ,Payable_For    
   ,Amount    
   ,Paid_Date  
   ,case when TemptblFeeDetails.Receipt_Number = 0 then '-' else #tblPaidStudentsFeesDetails.PaidDate end  as Paid_Date1  
   ,Fee_Type    
   ,Amount_Paid    
   ,Amount_Payable    
   ,[D/C]    
   ,Receipt_Number    
   ,Serial_Number    
   ,Is_Cheque_Bounce    
   ,Std_Fee_Type_Id    
   ,case when ExcludeLateFeeDetails.YearwiseStudentId is not null then 0 else Late_Fee_Amt  End  AS  Late_Fee_Amt
    ,Is_Concession    
   ,RefundFeeDetailsID    
   ,Is_LastRefund    
   ,TotalAmount    
   ,Is_Arrears    
   -- The reason for adding 'Std_Fee_Type_Id IS NOT NULL' clause is      
   -- because otherwise, it shows as a partial fee payment in the payment grid.      
   -- This happens when you pay exess fee and select a new fee type for that fee.      
   ,CASE    
  WHEN Std_Fee_Type_Id IS NOT NULL    
    AND (DebitStudentFeeID <> 0    
    OR EXISTS (SELECT Schoolwise_Student_Fee_Id    
     FROM #TemptblFeeDetails AS A    
    WHERE A.DebitStudentFeeID = TemptblFeeDetails.Schoolwise_Student_Fee_Id)) THEN 1    
  ELSE 0    
    END AS IsPartialPayemnt    
   ,IsTransactionCleared 
   ,HeaderId
   ,ISNULL(RefundReceiptNo,0) AS RefundReceiptNo
   , case when @HideInstalment = 1 and Payable_For in ('2nd Installment','3rd Installment') then 1 else 0 end as HideInstalment
   ,FileName
    FROM #TemptblFeeDetails AS TemptblFeeDetails 
    LEFT OUTER JOIN  #tblPaidStudentsFeesDetails ON  TemptblFeeDetails.Receipt_Number =  #tblPaidStudentsFeesDetails.ReceiptNumber 
	AND TemptblFeeDetails.Schoolwise_Student_Fee_Id = #tblPaidStudentsFeesDetails.Schoolwise_Student_Fee_Id
	 LEFT OUTER JOIN ExcludeLateFeeDetails ON ExcludeLateFeeDetails.YearWiseStudentId=@StudentId
	 AND ExcludeLateFeeDetails.FeeType=TemptblFeeDetails.Fee_Type
	 AND ExcludeLateFeeDetails.PayableFor=TemptblFeeDetails.Payable_For
	 AND  ExcludeLateFeeDetails.IsDeleted=0

   WHERE Amount >= 0    
   ORDER BY Paid_Date    
   ,TemptblFeeDetails.Schoolwise_Student_Fee_Id    
   ,Serial_Number    
   ,Fee_Type
 END 

 SELECT @ReceiptNo = Receipt_Number    
   FROM dbo.Schoolwise_Student_Fee_Details SSFD    
  WHERE SSFD.Schoolwise_Student_Fee_Id = (SELECT MAX(SSFD1.Schoolwise_Student_Fee_Id)    
              FROM dbo.Schoolwise_Student_Fee_Details AS SSFD1    
             WHERE SSFD1.Is_Cheque_Bounce = N'N'    
            AND SSFD1.Receipt_Number NOT IN (SELECT SSFD2.Receipt_Number    
                       FROM dbo.Schoolwise_Student_Fee_Details SSFD2    
                      WHERE SSFD2.Student_Id = @StudentId    
                     AND SSFD2.Is_Deleted = N'N'    
                     AND SSFD2.Schoolwise_Student_Fee_Id IN (SELECT SSFD3.Student_Fee_Id    
                                 FROM dbo.Schoolwise_Student_Fee_Details SSFD3    
                                WHERE SSFD3.Student_Id = @StudentId    
                                  AND SSFD3.Is_Deleted = N'N'    
                                  AND SSFD3.RefundFeeDetailsID IS NOT NULL    
                                  AND SSFD3.RefundFeeDetailsID <> 0))    
            AND SSFD1.Student_Id = @StudentId    
            AND SSFD1.Is_Deleted = N'N'    
            AND (SSFD1.NetBankingPaymentTransactionID IS NULL OR SSFD1.NetBankingPaymentTransactionID  = 0)    
            AND SSFD1.[Debit/Credit] = N'Credit')    
    
 --from above receipt number take mak of Schoolwise_Student_Fee_Id        
 SELECT MAX(Schoolwise_Student_Fee_Id)    
   FROM #TemptblFeeDetails    
  WHERE [D/C] = N'Credit'    
    AND Receipt_Number = @ReceiptNo    
    AND Is_Concession = N'N'    
    
 --Refund Amount        
 SELECT @RefundAmt = SUM(Amount)    
   FROM #TemptblFeeDetails    
  WHERE RefundFeeDetailsID <> 0    
    AND RefundFeeDetailsID IS NOT NULL    
    
   Declare @IsRTEStudent BIT,
			@StandardDivisionId INT = 0,
			@NewStdId INT
   
 select @IsRTEStudent = Is_RTE_Student  
 from YearWise_Student_Details  
 where YearWise_Student_Id = @StudentId   
 
 select top 1 @StandardDivisionId = Standard_Div_Id 
 from #tempStudent_Debit_Details

 select top 1 @NewStdId = NewStdId
 from #tempStudent_Debit_Details

 PRINT 777   

 IF(@SchoolId = 122 AND @AcademicYearId = 6)
	BEGIN
		SELECT @AmtPaid - @TotalConcessionAmt AS TotalAmtPaid    
			  ,@AmtPayable AS TotalAmtToBePaid    
			  ,@TotalLateFee AS TotalLateFee    
			  ,@TotalConcessionAmt AS TotalConcessionAmt    
			  ,ISNULL(@RefundAmt, 0) AS RefundAmt    
			  ,((@FeeApplicable - @TotalConcessionAmt) + @AmtPayable + @TotalLateFee) AS TotalApplicable   
			  ,ISNULL(@TotalPaidlatefee,0) AS PaidLatefeeAmount  
			  ,@IsRTEStudent AS IsRTEStudent
			  ,@StandardDivisionId as StandardDivisionId
			  ,@NewStdId as NewStdId
	END
ELSE
	BEGIN
		 SELECT @AmtPaid - @TotalConcessionAmt AS TotalAmtPaid    
			 ,@AmtPayable AS TotalAmtToBePaid    
			 ,@TotalLateFee AS TotalLateFee    
			 ,@TotalConcessionAmt AS TotalConcessionAmt    
			 ,ISNULL(@RefundAmt, 0) AS RefundAmt    
			 ,((@AmtPaid - @TotalConcessionAmt) + @AmtPayable + @TotalLateFee) AS TotalApplicable   
			 ,ISNULL(@TotalPaidlatefee,0) AS PaidLatefeeAmount  
			 ,@IsRTEStudent AS IsRTEStudent 
			 ,@StandardDivisionId as StandardDivisionId,
			 @NewStdId as NewStdId
	END
    
DECLARE @Description NVARCHAR(300) = ''
  SELECT @Description = SCR.Description
    FROM dbo.YearWise_Student_Details YWSD WITH (NOLOCK)    
 INNER JOIN dbo.Schoolwise_ConcessionRule SCR WITH (NOLOCK)    
   ON YWSD.Rule_Id = SCR.Rule_Id    
     AND YWSD.Academic_Year_ID = SCR.Academic_Year_Id    
     AND YWSD.School_Id = SCR.School_Id    
   WHERE YWSD.YearWise_Student_Id = @StudentId    
     AND SCR.Is_Deleted = 0    
     AND YWSD.Is_Deleted = N'N'  
	 
	IF @SchoolId = 5 AND @AcademicYearId = 4 AND @StudentId NOT IN (312, 318, 319) -- DPIS
	BEGIN
		IF EXISTS
		(
			SELECT TOP 1 1
			FROM YearWise_Student_Details
			WHERE School_Id = @SchoolId
			AND Academic_Year_ID = @AcademicYearId
			AND Is_Deleted = 'N'
			AND YearWise_Student_Id = @StudentId
			and Is_New_Student = 1
			and Student_Id NOT IN (182,183)
		)
		BEGIN
			IF @Description  = ''
				SET @Description = 'Concession of &#8377; 6000 is given on school fee &#8377; 72000.'
			ELSE
				SET @Description = @Description + '.&nbsp;&nbsp;Concession of &#8377; 6000 is given on school fee &#8377; 72000.'
		END
	END
	 SELECT @Description AS ConcessionRule
    
 EXEC [dbo].[usp_GetStudentFeeDetailsForNextAcaYear] @StudentId    

 IF EXISTS
 (
	 SELECT TOP 1 1
	 FROM Student_Caution_Money_Details SCMD
	 INNER JOIN YearWise_Student_Details YSD
	 ON SCMD.Schoolwise_Student_Id = YSD.Student_Id
	 WHERE YSD.School_Id = @SchoolId
	 AND SCMD.Is_Deleted = 0
	 AND YSD.Is_Deleted = 'N'
	 AND YSD.YearWise_Student_Id = @StudentId
	 AND Paid_By_Student = 1
	 and Payment_Mode IS NOT NULL
	 and Payment_Mode <> ''
 )
 BEGIN
	SELECT 1 as IsPaid, Student_Id AS SchoolwiseStudentId
	FROM YearWise_Student_Details
	WHERE School_Id = @SchoolId
	AND Academic_Year_ID = @AcademicYearId
	AND Is_Deleted = 'N'
	AND YearWise_Student_Id = @StudentId
 END
 ELSE	
 BEGIN
	SELECT 0 as IsPaid, Student_Id AS SchoolwiseStudentId
	FROM YearWise_Student_Details
	WHERE School_Id = @SchoolId
	AND Academic_Year_ID = @AcademicYearId
	AND Is_Deleted = 'N'
	AND YearWise_Student_Id = @StudentId
 END

DECLARE @IsOnlineInternalPaymentApplicable BIT = 0

IF EXISTS(
			SELECT TOP 1 1
			      FROM InternalFeeDetails IFD
			INNER JOIN YearWise_Student_Details YWSD
					ON IFD.Schoolwise_Student_Id = YWSD.Student_Id
				   AND IFD.SchoolId = YWSD.School_Id
				   AND IFD.AcademicYearId = YWSD.Academic_Year_ID
				 WHERE YWSD.YearWise_Student_Id = @StudentId
				   AND YWSD.School_Id = @SchoolId
				   AND YWSD.Academic_Year_ID = @AcademicYearId			
				   AND IFD.IsConsiderForOnlinePayment = 1
				   AND IFD.Is_Deleted = 0
				   AND YWSD.Is_Deleted = 'N'
		 )
	BEGIN
		SET @IsOnlineInternalPaymentApplicable = 1
	END

	SELECT @IsOnlineInternalPaymentApplicable IsOnlineInternalPaymentApplicable

	DECLARE @IsStudentLeft BIT

	IF EXISTS (
				SELECT TOP 1 1
		              FROM SchoolWise_Student_Master SWSM
				INNER JOIN YearWise_Student_Details YWSD
						ON YWSD.Student_Id = SWSM.SchoolWise_Student_Id
					   AND YWSD.School_Id = SWSM.School_Id
		             WHERE SchoolLeft_Date IS NULL
	                   and SWSM.School_Id = @SchoolId
				       and YWSD.YearWise_Student_Id = @StudentId
                       and SWSM.Is_Deleted = 'N'
					   AND Academic_Year_ID = @AcademicYearId
			  )
	 BEGIN
	    SET @IsStudentLeft = 0
	 END
 ELSE
	 BEGIN
		SET @IsStudentLeft = 1
	 END

	DECLARE @ShowMidYearPaymentOption BIT = 0
	IF @SchoolId = 122 -- SNS
	BEGIN
			IF EXISTS
			(
				SELECT TOP 1 1
				FROM YearWise_Student_Details YSD
				INNER JOIN Standard_Master SM
				ON YSD.Standard_Id = SM.Standard_Id
				WHERE YSD.Academic_Year_ID = @AcademicYearId
				AND YSD.YearWise_Student_Id = @StudentId
				AND YSD.School_Id = @SchoolId
				AND YSD.Is_Deleted = 'N'
				and sm.Is_Deleted = 'N'
				and sm.Standard_Name = 'UKG'
			)
			BEGIN			
				SET @ShowMidYearPaymentOption = 1
			END
			ELSE
			BEGIN
				SET @ShowMidYearPaymentOption = 0
			END
	END
	ELSE
	BEGIN
			SET @ShowMidYearPaymentOption = 1
	END

	DECLARE @HideOnlineCautionMoneyButton BIT = 0
	IF @SchoolId = 122 AND EXISTS
	(
		SELECT TOP 1 1
		FROM Standard_Master
		WHERE School_Id = @SchoolId
		AND academic_Year_Id = @AcademicYearId
		AND Is_Deleted = 'N'
		AND Standard_Id = @StandardId
		AND Is_PrePrimary = 'Y'
	)
	BEGIN
		SET @HideOnlineCautionMoneyButton = 1
	END
	ELSE IF EXISTS
	(
		SELECT TOP 1 1
		FROM Student_Caution_Money_Details
		WHERE Is_Deleted = 0
		AND Schoolwise_Student_Id = @SchoolwiseStudentId
		AND School_Id = @SchoolId
		AND Paid_By_Student = 1
		AND (NetBankingPaymentTransactionID IS NULL OR NetBankingPaymentTransactionID = 0)
	)
	BEGIN
		SET @HideOnlineCautionMoneyButton = 1
	END


 SELECT @IsStudentLeft IsStudentLEft, @ShowMidYearPaymentOption ShowMidYearPaymentOption, @SchoolwiseStudentId AS SchoolwiseStudentId, @StandardId AS StandardId, @StdDivId AS StdDivId,@HideOnlineCautionMoneyButton AS HideOnlineCautionMoneyButton

 DROP TABLE #tempStudent_Debit_Details    
    
 DROP TABLE #TemptblFeeDetails 
 DROP TABLE   #tblPaidStudentsFeesDetails 
END
GO

