/****** Object:  StoredProcedure [dbo].[usp_EmployeeUserRole]    Script Date: 21-04-2026 09:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yogesh
-- Create date: 25 Sep 2015
-- Description:	This usp is used to display user roles.
-- =============================================
ALTER PROCEDURE [dbo].[usp_EmployeeUserRole]
	-- Add the parameters for the stored procedure here
	@School_Id INT,
	@Academic_Year_Id INT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  *  
	FROM vw_EmployeeUserRole
	where Value_Member <> 10
END