/****** Object:  StoredProcedure [dbo].[usp_GetSalaryDetailsForReport]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 28-March-2012
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetSalaryDetailsForReport] 
	@School_Id INT,
	@Academic_Year_id INT,
	@MonthId INT,
	@Year INT,
	@StaffGroupsId INT = NULL,
	@UserId INT = NULL,
	@ShowAllDetails BIT = NULL,
	@PageSize NVARCHAR(50) = N'A4'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ExcludedStaffGroups TABLE
(
    StaffGroupsId INT
);

  INSERT INTO @ExcludedStaffGroups
  SELECT StaffGroupsId
  FROM dbo.udf_GetExcludedStaffGroups(@School_Id);

	DECLARE @SalaryDetailsxml XML
			
	DECLARE @month NVARCHAR(30)
	
	SELECT @month = Month + N' - '+ cast(@Year AS NVARCHAR(4))
	FROM MonthsOfYear
	WHERE MonthID = @MonthId
	
	
	DECLARE @tblSalaryDetails AS TABLE
	(
		[Serial No] INT,
		SortOrder INT,
		UserId INT,
		Name NVARCHAR(150),
		Designation NVARCHAR(50),
		FieldName NVARCHAR(100),
		Value NVARCHAR(100),
		IsEarningDeduction BIT,
		SectionId INT
	)
	
	
	SELECT @SalaryDetailsxml = SalaryXml
	FROM TempSalaryXml

	
	INSERT INTO @tblSalaryDetails
	SELECT
	   T.c.value('./SerialNo[1]' ,'INT') AS [Serial No]
	  ,T.c.value('./SortOrder[1]'   ,'INT') AS SortOrder
	  ,T.c.value('./UserId[1]'   ,'INT') AS UserId
	  ,T.c.value('./Name[1]'		 ,'NVARCHAR(150)') AS Name
	  ,T.c.value('./Designation[1]','NVARCHAR(50)') AS Designation
	  ,LTRIM(RTRIM(T.c.value('./FieldName[1]'	 ,'NVARCHAR(100)'))) AS FieldName
	  ,T.c.value('./Value[1]'	 ,'NVARCHAR(100)') AS Value
	  ,T.c.value('./IsEarningDeduction[1]'	 ,'BIT') AS IsEarningDeduction
	  ,0
	FROM @SalaryDetailsxml.nodes('DocumentElement/SalaryDetails') T(c)
	
	
	DELETE FROM @tblSalaryDetails
	WHERE FieldName IN
	(
		SELECT FieldName
		FROM @tblSalaryDetails
		WHERE IsEarningDeduction = 1
		GROUP BY FieldName
		HAVING SUM(CONVERT(INT,Value)) = 0
	)

	IF @School_Id = 11 -- PPSH
	BEGIN
		DELETE FROM @tblSalaryDetails
		WHERE LTRIM(RTRIM(FieldName))  = 'Employee Sign'
		
		IF @PageSize = 'Legal' AND @ShowAllDetails = 1
		BEGIN
			UPDATE SD
			SET SectionId = 1
			from @tblSalaryDetails SD
			INNER JOIN
			(
				select UserId, SortOrder
				from @tblSalaryDetails
				where FieldName = 'Total'
			)S
			ON SD.UserId = S.UserId
			AND SD.SortOrder >  S.SortOrder
		END

			IF (@StaffGroupsId IS NULL OR @StaffGroupsId = 0)
		BEGIN
			DELETE SD
			FROM @tblSalaryDetails SD
		    Inner join UsersStaffGroupsAssociation USGA
			ON SD.UserId=USGA.UserId
	        WHERE USGA.StaffGroupsId IN(SELECT StaffGroupsId FROM @ExcludedStaffGroups)
			  AND USGA.Is_Deleted = 'N'

		UPDATE NT
		   SET NT.Value = CAST(TRY_CONVERT(DECIMAL(18,2), NT.Value) -TRY_CONVERT(DECIMAL(18,2), CET.Value) AS NVARCHAR(100))
		  FROM @tblSalaryDetails NT
    INNER JOIN @tblSalaryDetails CET
		    ON NT.FieldName = CET.FieldName
	     WHERE NT.Name = 'Net Total'
		  AND  CET.Name = 'Contract Employee Total'
		  AND  ISNULL(TRY_CONVERT(DECIMAL(18,2), CET.Value), 0) <> 0

			DELETE FROM @tblSalaryDetails
	        WHERE Name = 'Contract Employee Total'
	   END
	END

	DECLARE @MaxSerialNumber INT

	SELECT @MaxSerialNumber = MAX([Serial No])
	  FROM @tblSalaryDetails
	 WHERE UserId <> -9999

	UPDATE @tblSalaryDetails
	   SET [Serial No] = @MaxSerialNumber + 1
	 WHERE Name = 'Faculty Total'

	UPDATE @tblSalaryDetails
	   SET [Serial No] = @MaxSerialNumber + 2
	 WHERE Name = 'Administrative Staff Total'

	IF @School_Id = 11
	BEGIN
		UPDATE @tblSalaryDetails
		SET [Serial No] = @MaxSerialNumber + 3
		WHERE Name = 'Consolidated Staff Total'

		UPDATE @tblSalaryDetails
		SET [Serial No] = @MaxSerialNumber + 4
		WHERE Name = 'Net Total'
	END
	ELSE
	BEGIN
		UPDATE @tblSalaryDetails
		SET [Serial No] = @MaxSerialNumber + 3
		WHERE Name = 'Net Total'
	END

   
   SELECT 
	   1 AS GroupId
	  ,tblSalaryDetails.[Serial No]
	  ,tblSalaryDetails.SortOrder
	  ,tblSalaryDetails.UserId
	  ,tblSalaryDetails.Name
	  ,UBD.EmployeeNo
	  ,tblSalaryDetails.Designation
	  ,tblSalaryDetails.FieldName
	  ,tblSalaryDetails.Value
	  ,tblSalaryDetails.IsEarningDeduction
	  ,@School_Id AS SchoolId,
		School_Name,
		Address1,
		Address2,
		City,
		Pincode,
		Phone_Number,
		FaxNumber,
		WebSite,
		Email,
		Logo,-- = '',
		@month AS MonthName,
		ISNULL(apu.UserFLName,tblSalaryDetails.Name) AS UserFLName,
		SectionId
		--CASE WHEN FieldName = 'Attendance Total' OR FieldName = 'Attendance' THEN 1 ELSE 2 END AS SectionId
  FROM  @tblSalaryDetails tblSalaryDetails
		LEFT OUTER JOIN vw_AllPayrollUsers APU
		ON tblSalaryDetails.UserId = APU.UserId
		RIGHT OUTER JOIN School_Master
		ON School_Master.School_Id = @School_Id	
		LEFT OUTER JOIN UserBasicDetails UBD
		ON APU.UserId = UBD.UserId
		AND APU.SchoolId = UBD.SchoolId
		AND tblSalaryDetails.UserId = UBD.UserId
   WHERE School_Master.School_Id = @School_Id
  ORDER BY [Serial No]

END
go

