/****** Object:  StoredProcedure [Accounts].[usp_GetFinancialYearId]    Script Date: 10-07-2026 3.40.40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Accounts].[usp_GetFinancialYearId] 
    @SchoolId INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT FinancialYearId 
    FROM [Accounts].[FinancialYearMaster]
    WHERE SchoolId = @SchoolId
          AND IsCurrent = 1
		  AND IsDeleted = 0;
END