/****** Object:  StoredProcedure [dbo].[usp_GetPagedStudentsForFee]    Script Date: 8/25/2025 11:29:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Pravin
-- Create date: 1-Mar-2013
-- Description:	This procedure returns student fee details.
-- Created For: Improving performance for StudentPayFee and StudentPayble Screen
--              Here we Seperated logic from StudentUI.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetPagedStudentsForFee]
  @prm_iSchoolId INT
, @prm_iAcademicYrId INT
, @prm_Filter NVARCHAR(1000)
, @prm_StartIndex INT 
, @prm_EndIndex INT 
, @SortExp NVARCHAR(1000)
AS
BEGIN	
	
	SET @SortExp = replace(@SortExp,'Designation_id','Name');
	SET @SortExp = replace(@SortExp,'StandardDivision','SchoolWise_Standard_Division_Id');
	DECLARE @sQuery  NVARCHAR(4000)	
	
	CREATE TABLE #tblStudents
	(
	 CancellationFormNo INT
	,Name NVARCHAR(100)							
	,Roll_No INT
	,SchoolWise_Standard_Division_Id INT
	,School_Id INT														
	,Academic_Year_ID INT
	,YearWise_Student_Id INT
	,Deactivation_Reason VARCHAR(100)
	,Enrolment_Number NVARCHAR(50)	
	,DOB DATETIME
	,User_Id INT
	,SchoolWise_Student_Id INT
	,StandardDivision NVARCHAR(50)							
	,Is_Leave NVARCHAR(2)							
	,RowNo INT
	,SchoolLeft_Date DATETIME
	,Joining_Date DATETIME			
	,PeningFeeTillDate	INT
	,TotalPeningFee INT
	,Is_RTE_Student BIT
	,Form_Number NVARCHAR(50)
	,TotalRows INT
	,IsCautionMoneyExist BIT
	)	
	
	SET @sQuery = 'SELECT	 CancellationFormNo
							,Name							
							,Roll_No
							,SchoolWise_Standard_Division_Id
							,A.School_Id														
							,Academic_Year_ID
							,YearWise_Student_Id
							,A.Deactivation_Reason
							,Enrolment_Number	
							,A.DOB					
							,A.User_Id
							,A.SchoolWise_Student_Id
							,StandardDivision							
							,Is_Leave							
							,RowNo
							,SchoolLeft_Date							
							,Joining_Date	
							,0
							,0
							,Is_RTE_Student
							,ISNULL(c.FormNumber,'''') AS FormNumber
							,TotalRows		
							,0 AS IsCautionMoneyExist							
				  FROM		(
								 SELECT	 [CancellationFormNo]
								        ,[Name]								
										,[Roll_No]
										,[SchoolWise_Standard_Division_Id]
										,SAYM.[School_Id]																				
										,SAYM.[Academic_Year_ID]
										,[Student_Id] as YearWise_Student_Id
										,Deactivation_Reason
										,[Enrolment_Number]	
										,[DOB]									
										,[User_Id]
										,[SchoolWise_Student_Id]										
										,[Standard_Division_Name] as StandardDivision 										
										,[Is_Leave]
										,SchoolLeft_Date										
										,Joining_Date
										,Is_RTE_Student																				
										,ROW_NUMBER() OVER (' + @SortExp + ') as RowNo
										, COUNT(1) OVER() AS TotalRows
										,0 AS IsCautionMoneyExist
								FROM	[dbo].[vw_GetAllStudentsForStandardDivision]
								INNER JOIN SchoolWise_Academic_Year_Master SAYM
									ON		 [dbo].[vw_GetAllStudentsForStandardDivision].Academic_Year_ID = SAYM.Academic_Year_ID
								WHERE	SAYM.[School_Id] = ' + CAST(@prm_iSchoolId AS VARCHAR(3)) + '
										
										AND SAYM.[Academic_Year_ID] = ' + CAST(@prm_iAcademicYrId AS VARCHAR(10)) + @prm_Filter + '
							) as A
							INNER JOIN User_Master b 
							ON A.User_Id = b.User_Id 
								LEFT JOIN ( SELECT DISTINCT  Schoolwise_Student_Id, FormNumber
												FROM Student_Caution_Money_Details
												WHERE Is_Deleted = 0
											) c
                                    ON A.SchoolWise_Student_Id = c.Schoolwise_Student_Id					
				  WHERE		RowNo > ' + CAST(@prm_StartIndex as NVARCHAR)+ ' AND RowNo <= ' + CAST(@prm_EndIndex as NVARCHAR)

				 
					
	--print @sQuery
--SELECT @sQuery sQuery	
	INSERT INTO #tblStudents
	EXECUTE sp_executesql  @sQuery
	
	DECLARE @TotalCnt INT=0,@RowNo INT=0,@StudId INT	
	
	SELECT @TotalCnt= COUNT(1) FROM #tblStudents
	SELECT TOP 1 @RowNo=RowNo 
	 FROM #tblStudents
	 ORDER BY RowNo

	  DECLARE @IsCautionMoneyExist BIT

   SELECT @IsCautionMoneyExist =
      CASE
        WHEN EXISTS
        (
            SELECT 1
            FROM Student_Caution_Money_Details SCMD
            INNER JOIN YearWise_Student_Details YSD
                ON SCMD.Schoolwise_Student_Id = YSD.Student_Id
            INNER JOIN #tblStudents TS
                ON TS.SchoolWise_Student_Id = YSD.Student_Id
            WHERE TS.RowNo = @RowNo
              AND YSD.Academic_Year_Id = @prm_iAcademicYrId
              AND SCMD.Is_Deleted = 0
        )
        THEN 1
        ELSE 0
     END

	UPDATE #tblStudents
	SET IsCautionMoneyExist = @IsCautionMoneyExist
	WHERE RowNo = @RowNo
	 
	-- Comment because it loops 20 times for single student too.
	-- SET @TotalCnt=@prm_EndIndex      
	
	WHILE(@RowNo<=@prm_EndIndex and @TotalCnt>0)
	BEGIN
		
		SELECT @StudId=YearWise_Student_Id 
		  FROM #tblStudents
		 WHERE RowNo = @RowNo
	
		UPDATE #tblStudents
		   SET PeningFeeTillDate=PendingFee.PendingAmt,
			   TotalPeningFee=PendingFee.TotalAmt
		  FROM #tblStudents AllStudents
	INNER JOIN UDF_GetTotalPendingFeeDetails(@prm_iSchoolId,@prm_iAcademicYrId,@StudId) as PendingFee
		    ON AllStudents.YearWise_Student_Id=PendingFee.StudentId		
		
		SET @RowNo=@RowNo+1		
		SET @TotalCnt = @TotalCnt - 1	
	END
	
	SELECT * FROM #tblStudents
	DROP TABLE #tblStudents
	
END

--GO
--	EXEC usp_GetPagedStudentsForFee  @prm_iSchoolId  = 18
--, @prm_iAcademicYrId  = 46
--, @prm_Filter =' AND (First_Name LIKE ''%Test%'' OR Middle_Name LIKE ''%Test%'' OR Last_Name LIKE ''%Test%'')'
--, @prm_StartIndex  = 0
--, @prm_EndIndex  = 20
--, @SortExp  = 'Order BY Roll_No'
--GO
GO
