/****** Object:  StoredProcedure [Transport].[usp_GetPagedStopMaster]    Script Date: 05-06-2026 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================================
-- Author:	Akshay Ghadge	
-- Create date: 27 Nov 13
-- Description:	This Procedure is used to get transport stop details.
-- ===========================================================================
ALTER PROCEDURE [Transport].[usp_GetPagedStopMaster]
  @SchoolId INT
, @AcademicYearId INT
, @StopName NVARCHAR(50)
, @StartIndex INT 
, @EndIndex INT 
, @SortExp NVARCHAR(1000)
AS
BEGIN
	
	SET NOCOUNT ON;

    DECLARE @sQuery  NVARCHAR(4000),
            @RowId INT= 0,
	        @charges  Nvarchar(500) = '',
	        @OneWayCharges Nvarchar(500)='',
	        @Cnt INT,
	        @id INT,
	        @stopid INT
    
     CREATE TABLE #tmpStopDetails  
	 (
	   stopid INT,
	   chargess NVARCHAR(500),
	   onewaychargess NVARCHAR(500)
	 )

    DECLARE @tmpRolewiseStopDetails as TABLE
    (	 
     Id INT IDENTITY(1,1),
     stopid INT,
     userrole NVARCHAR(100),
     charges INT,
     onewaycharges INT
    )

     INSERT INTO @tmpRolewiseStopDetails
     SELECT DISTINCT TS.StopId		
		    ,urm.User_Role_Name
		    ,Charges
		    ,OneWayPercentage		
       FROM [Transport].[StopMaster] TS WITH(NOLOCK)
		    left outer join RolewiseStopCharges  WITH(NOLOCK)
		    on TS.StopId = RolewiseStopCharges.StopId
		    left outer join User_Role_Master URM WITH(NOLOCK)
		    on URM.User_Role_Id = RolewiseStopCharges.RoleId
      WHERE (TS.Is_Deleted = 0) 
        AND (TS.SchoolId = @SchoolId)
        AND (TS.Academic_year_Id = @AcademicYearId)
        AND (TS.StopName LIKE '%'+@StopName + '%')
                

	 SELECT @Cnt = COUNT(DISTINCT stopid) 
	   FROM @tmpRolewiseStopDetails

 WHILE @Cnt > 0
 BEGIN	 
	 SELECT top 1 @stopid = stopid 
	   FROM @tmpRolewiseStopDetails
	   ORDER BY stopid

	 SELECT @id = COUNT(1) 
	   FROM @tmpRolewiseStopDetails 
	  WHERE stopid = @stopid		
				
			
 WHILE @id > 0
 BEGIN
     SELECT top 1 @RowId = Id 
       FROM @tmpRolewiseStopDetails
      WHERE stopid = @stopid
      ORDER BY Id
     
     IF @charges <> ''
     BEGIN 
       SELECT @charges =  @charges + ', ' 
       SELECT @OneWayCharges  =  @OneWayCharges + ', '
     END 
     
     SELECT @charges +=  (
						    SELECT userrole +'='+ cast(ISNULL(charges,0) as NVARCHAR(100))
						      FROM @tmpRolewiseStopDetails 
						     WHERE Id = @RowId
					      )	
	 
     SELECT @OneWayCharges += (
							    SELECT userrole +'='+ cast(ISNULL(onewaycharges,0) as NVARCHAR(100))
							      FROM @tmpRolewiseStopDetails 
							     WHERE Id = @RowId
						      )

       SET @id -=1       
	      
     DELETE  
       FROM @tmpRolewiseStopDetails 
      WHERE Id = @RowId 
 END      
        
     DELETE 
       FROM @tmpRolewiseStopDetails 
      WHERE stopid = @stopid
 
     INSERT INTO #tmpStopDetails
     SELECT @stopid,
            @charges,
            @OneWayCharges

        SET @charges = ''
        SET @OneWayCharges = ''
		SET @Cnt -= 1     
 END


        SET @sQuery =
		    N'SELECT  [Transport].[StopMaster].StopId,
		    [Transport].[StopMaster].StopName,
		    #tmpStopDetails.chargess as Charges,
		    #tmpStopDetails.onewaychargess as OneWayCharges			
		    FROM [Transport].[StopMaster] 			
		    inner join #tmpStopDetails '+
		    ' on #tmpStopDetails.stopid = [Transport].[StopMaster].StopId			
		    WHERE ([Transport].[StopMaster].Is_Deleted = 0)
	 	    AND ([Transport].[StopMaster].SchoolId = '+cast(@SchoolId as NVARCHAR(5))+')'+
		    'AND ([Transport].[StopMaster].Academic_year_Id = '+cast(@AcademicYearId as NVARCHAR(5))+')'+
		    'AND ([Transport].[StopMaster].StopName LIKE ''%'+ @StopName + '%'')'
		    
	print @sQuery
	  EXEC usp_getPagingResult @StartIndex,@EndIndex, @sQuery, @SortExp	
END