/****** Object:  StoredProcedure [Transport].[usp_GetTransportCapacityDetails]    Script Date: 8/25/2025 11:29:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 06 July 2023
-- Description:	This USP is used to get transport capacity details.
-- =============================================
ALTER PROCEDURE [Transport].[usp_GetTransportCapacityDetails]
@SchoolId INT,
@AcademicYearId INT
AS
BEGIN
	--DECLARE @SchoolId INT = 122,
	--	@AcademicYearId INT = 8

Declare @tblVehicleDetails as table
(
	Id iNT IDENTITY(1,1),
	RouteId INT,
	RouteNo NVARCHAR(20),
	RouteName NVARCHAR(300),
	VehicleId int,
	VehicleNumber NVARCHAR(20),
	VehicleCapacity INT,
	PickUpCount_A INT DEFAULT(0),
	PickUpCount_B INT DEFAULT(0),
	PickUpCount_C INT DEFAULT(0),
	DropCount_A INT DEFAULT(0),
	DropCount_B INT DEFAULT(0),
	DropCount_C INT DEFAULT(0)
)
insert into @tblVehicleDetails(RouteId,RouteNo, RouteName,VehicleId,VehicleNumber,VehicleCapacity)
select RM.RouteId,RM.RouteNo, RouteName, VM.VehicleId,VehicleNumber, VehicleCapacity
from Transport.RouteMaster RM
inner join Transport.RouteStopDetails RSD
on RM.RouteId = RSD.RouteId
INNER JOIN Transport.RouteShiftVehicleDetails RSVD
on RSD.RouteStopId = RSVD.RouteStopId
inner join Transport.VehicleMaster VM
on RSVD.VehicleId = VM.VehicleId
where RM.Academic_Year_Id = @AcademicYearId
and rm.SchoolId = @SchoolId
and RM.Is_Deleted = 0
and RSD.Is_Deleted = 0
and RSVD.Is_Deleted = 0
and VM.Is_Deleted = 0
AND RM.RouteNo IS NOT NULL
group by RM.RouteId,RM.RouteNo, RouteName, VM.VehicleId,VehicleNumber, VehicleCapacity
ORDER BY RouteNo

declare @tblShiftDetails as table
(
	RouteId INT,	
	VehicleId INT,
	TransportShiftId INT,
	TransportShiftName NVARCHAR(50),
	PickupCount INT,
	DropCount INT
)
insert into @tblShiftDetails
select RM.RouteId,VM.VehicleId,SM.TransportShiftId, TransportShiftName,SUM(CASE WHEN TTD.TravelerTypeId = 1 THEN 1 ELSE 0 END) AS PickupCount,
SUM(CASE WHEN TTD.TravelerTypeId = 2 THEN 1 ELSE 0 END) AS DropCount
from Transport.RouteMaster RM
inner join Transport.RouteStopDetails RSD
on RM.RouteId = RSD.RouteId
INNER JOIN Transport.RouteShiftVehicleDetails RSVD
on RSD.RouteStopId = RSVD.RouteStopId
inner join Transport.ShiftMaster SM
on RSVD.TransportShiftId = SM.TransportShiftId
 AND SM.Academic_Year_Id = @AcademicYearId
inner join Transport.RouteShiftTimingDetails RSTD
on RSD.RouteStopId = RSTD.RouteStopId
and RSVD.RouteShiftVehicleDetailsId = RSTD.RouteShiftVehicleDetailsId
inner join Transport.TravelerTransportDetails TTD
on RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
inner join Transport.VehicleMaster vm
on RSVD.VehicleId = vm.VehicleId
INNER JOIN vw_BaseStudentDetails BSD
ON TTD.UserId = BSD.User_Id
INNER JOIN YearWise_Student_Details YSD
ON BSD.SchoolWise_Student_Id = YSD.Student_Id
AND TTD.AcademicYearId = YSD.Academic_Year_ID
where SM.Academic_Year_Id = @AcademicYearId
and sm.SchoolId = @SchoolId
and RM.Is_Deleted = 0
and RSD.Is_Deleted = 0
and RSVD.Is_Deleted = 0
and SM.Is_Deleted = 0
and RSTD.Is_Deleted = 0
and TTD.Is_Deleted = 0
AND BSD.SchoolLeft_Date IS NULL
AND YSD.Is_Deleted = 'N'
group by RM.RouteId,   VM.VehicleId, SM.TransportShiftId, TransportShiftName

-- A
update TVD
set PickUpCount_A = tsd.PickupCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND ( REPLACE(TSD.TransportShiftName,' ','')  LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%A-PICKUP%'  OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-PICKUP%' )
WHERE TSD.TransportShiftName LIKE '%PICKUP%'


update TVD
set DropCount_A = tsd.DropCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND ( REPLACE(TSD.TransportShiftName,' ','')  LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%A-DROP%'  OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-DROP%'  )
	WHERE TSD.TransportShiftName LIKE '%DROP%'

-- B
update TVD
set PickUpCount_B = tsd.PickupCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND (  REPLACE(TSD.TransportShiftName,' ','')  LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%B-PICKUP%'   OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-PICKUP%'  )
	WHERE TSD.TransportShiftName LIKE '%PICKUP%'

update TVD
set DropCount_B = tsd.DropCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND ( REPLACE(TSD.TransportShiftName,' ','') LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%B-DROP%' OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-DROP%' )
	WHERE TSD.TransportShiftName LIKE '%DROP%'

-- C
update TVD
set PickUpCount_C = tsd.PickupCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND ( REPLACE(TSD.TransportShiftName,' ','')  LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%C-PICKUP%'  OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-PICKUP%' )
	WHERE TSD.TransportShiftName LIKE '%PICKUP%'

update TVD
set DropCount_C = tsd.DropCount
from @tblVehicleDetails TVD
INNER JOIN @tblShiftDetails TSD
ON TVD.RouteId = TSD.RouteId
AND TVD.VehicleId = TSD.VehicleId
AND ( REPLACE(TSD.TransportShiftName,' ','') LIKE CASE WHEN LEN(TVD.RouteNo) = 1 THEN '0' ELSE '' END  + TVD.RouteNo + '%C-DROP%' OR REPLACE(TSD.TransportShiftName,' ','') LIKE '00-DROP%' )
	WHERE TSD.TransportShiftName LIKE '%DROP%'

select *
from @tblVehicleDetails
order by Id

SELECT VehicleNumber, TravelerTypeId,JourneyCategory, Standard_Name,UserCount
FROM
(
	select vm.VehicleNumber,
	STD.Standard_Name,
	std.Original_Standard_Id,
	TTD.TravelerTypeId,
	LTRIM(RTRIM(REPLACE(REPLACE(TransportShiftName,CASE WHEN TTD.TravelerTypeId = 1 THEN '-PICKUP' ELSE '-DROP' END,''),CASE WHEN LEN(RM.RouteNo) = 1 THEN '0' ELSE '' END + RM.RouteNo,''))) AS JourneyCategory,
	COUNT(1) AS UserCount
	from Transport.RouteMaster RM
	inner join Transport.RouteStopDetails RSD
	on RM.RouteId = RSD.RouteId
	INNER JOIN Transport.RouteShiftVehicleDetails RSVD
	on RSD.RouteStopId = RSVD.RouteStopId
	inner join Transport.ShiftMaster SM
	on RSVD.TransportShiftId = SM.TransportShiftId
	inner join Transport.RouteShiftTimingDetails RSTD
	on RSD.RouteStopId = RSTD.RouteStopId
	and RSVD.RouteShiftVehicleDetailsId = RSTD.RouteShiftVehicleDetailsId
	inner join Transport.TravelerTransportDetails TTD
	on RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
	inner join Transport.VehicleMaster vm
	on RSVD.VehicleId = vm.VehicleId
	INNER JOIN vw_BaseStudentDetails BSD
	ON TTD.UserId = BSD.User_Id
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	AND TTD.AcademicYearId = YSD.Academic_Year_ID
	INNER JOIN Standard_Master STD
	ON YSD.Standard_Id = STD.Standard_Id
	where SM.Academic_Year_Id = @AcademicYearId
	and sm.SchoolId = @SchoolId
	and RM.Is_Deleted = 0
	and RSD.Is_Deleted = 0
	and RSVD.Is_Deleted = 0
	and SM.Is_Deleted = 0
	and RSTD.Is_Deleted = 0
	and TTD.Is_Deleted = 0
	AND BSD.SchoolLeft_Date IS NULL
	AND YSD.Is_Deleted = 'N'
	AND STD.Is_Deleted = 'N'
	group by TTD.TravelerTypeId, RM.RouteId,RM.RouteNo,vm.VehicleNumber, SM.TransportShiftId, TransportShiftName, STD.Standard_Name, std.Original_Standard_Id
)S
ORDER BY VehicleNumber, TravelerTypeId, JourneyCategory, Original_Standard_Id
END
GO
