/****** Object:  StoredProcedure [dbo].[usp_GetAllIncomeTaxRanges]    Script Date: 24-03-2026 16:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================  
-- Author:  Sunny  
-- Create date: 15-March-2013  
-- Description: This procedure is used to retrieve all Income tax slabs details.  
-- ==========================================================================================  
ALTER PROCEDURE [dbo].[usp_GetAllIncomeTaxRanges]
@FinancialYearId INT,
@Id INT = 0
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;     
   
   IF (@Id =0) 
   BEGIN       
	  SELECT ITR.Id,   
			 ITR.CategoryId AS CategoryId ,
			 ITSC.Name AS CategoryName,
			 ITR. FromAmount,
			 ITR.ToAmount,
			 ITR.FixedAmount,
			 ITR.Percentage,
			 1 AS IsLastEntryOfCategory
		FROM IncomeTaxRanges ITR
		INNER JOIN ITSlabCategories ITSC
		ON   ITR.CategoryId =  ITSC.Id
	   WHERE ITR.IsDeleted = 0
	   AND   ITSC.IsDeleted = 0  
	   AND   FinancialYearId = @FinancialYearId
	   ORDER BY CategoryId , ITR.SortOrder
   END 
   ELSE
	   BEGIN
	   SELECT ITR.Id,   
			 ITR.CategoryId AS CategoryId ,
			 ITSC.Name AS CategoryName,
			 ITR. FromAmount,
			 ITR.ToAmount,
			 ITR.FixedAmount,
			 ITR.Percentage ,
			 1 AS IsLastEntryOfCategory
		FROM IncomeTaxRanges ITR
		INNER JOIN ITSlabCategories ITSC
		ON   ITR.CategoryId =  ITSC.Id
	   WHERE ITR.IsDeleted = 0
	   AND   ITSC.IsDeleted = 0  
	   AND   FinancialYearId = @FinancialYearId
	   AND   ITR.Id = @Id
	   END
END