/****** Object:  StoredProcedure [dbo].[usp_InsertUserStaffGroupAsso]    Script Date: 24-03-2026 16:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  Sachin  
-- Create date: 7-July-2010  
-- Description: <Description,,>  
-- =============================================  
ALTER PROCEDURE [dbo].[usp_InsertUserStaffGroupAsso]  
 @SchoolId INT,  
 @AcademicYearId INT,  
 @InsertedById INT,   
 @UserXml XML,  
 @LeaveSeperaterDay INT  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  

 DECLARE @Msg NVARCHAR(MAX),  
      @DateErrorMsg NVARCHAR(MAX),  
      @User_Id INT,  
   @User_Name NVARCHAR(150),     
   @UsersStaffGroupsAssociationId INT,  
   @UserId INT,  
   @StaffGroupsId INT,  
   @EmployeeNo NVARCHAR(100),  
   @AccountNo NVARCHAR(20),  
   @ProvidentFundNo NVARCHAR(50),
   @UAN NVARCHAR(50),
   @PanNo NVARCHAR(20),  
   @Is_Deleted CHAR(1),  
   @DateOfJoining DATETIME,   
   @DateOfResign DATETIME, 
   @TransferDate DATETIME, 
   @DateOfPermanent DATETIME,  
   @PayScaleSettingsId INT  = 2,  
   @SalarySlipReportId INT = (  
          SELECT Report_Id  
            FROM Reports  
           WHERE Report_Display_Name = 'Salary Slip'  
             AND Is_Deleted = 'N'  
                             )  
        
    SET @Msg=''  
        
 DECLARE @tbltempUsersDuplicateMsg AS TABLE  
 (  
   UserId INT,  
   TypeOfMsg CHAR(10),  
   Number NVARCHAR(20)  
 )  
   
 CREATE TABLE #tblUsersDuplicateMsg  
 (  
   UserId INT,  
   TypeOfMsg CHAR(10),  
   Number NVARCHAR(20)  
 )  
   
 DECLARE @UserInfo AS TABLE  
 (  
  UserId INT,  
  UserName NVARCHAR(150)  
 )   
   
 DECLARE @tblUsersInSalaryDetails AS TABLE  
 (  
  UserId INT,  
  UserName NVARCHAR(150)  
 )   
   
 DECLARE @tblDateErrorsUser AS TABLE  
 (  
  UserId INT,  
  UserName NVARCHAR(150)  
 )  
    
 DECLARE @tblUserStaffGroup AS TABLE  
 (  
  UsersStaffGroupsAssociationId INT,  
  UserId INT,  
  StaffGroupsId INT,  
  SchoolId INT,  
  Academic_Year_Id INT,  
  InsertedById INT,  
  UpdatedById INT,  
  Is_Deleted CHAR(1),  
  EmployeeNo NVARCHAR(100),  
  AccountNo NVARCHAR(20),  
  ProvidentFundNo NVARCHAR(50),
 UAN NVARCHAR(50),
  PanNo NVARCHAR(20),  
  DateOfJoining DATETIME,  
  DateOfResign DATETIME,  
  UserName NVARCHAR(50),  
  DateOfPermanent DATETIME,
  TransferDate DATETIME  
 )  
   
   DECLARE @WorkingStatusId INT

 INSERT INTO @tblUserStaffGroup  
 (   
     UsersStaffGroupsAssociationId ,  
  UserId ,  
  StaffGroupsId ,  
  SchoolId ,  
  Academic_Year_Id ,  
  InsertedById ,  
  UpdatedById ,  
  Is_Deleted,  
  EmployeeNo,  
  AccountNo,  
  ProvidentFundNo,  
UAN,
  PanNo,   
  DateOfJoining,   
  DateOfResign,  
  UserName,  
  DateOfPermanent,
  TransferDate  
 )   
 SELECT T.c.value('./@UsersStaffGroupsAssociationId','INT')  
     ,T.c.value('./@UserId','INT')  
     ,T.c.value('./@StaffGroupsId','INT')  
     ,@SchoolId  
     ,@AcademicYearId  
     ,@InsertedById  
     ,@InsertedById  
     ,T.c.value('./@Is_Deleted','CHAR(1)')  
     ,T.c.value('./@EmployeeNo','NVARCHAR(100)')  
     ,T.c.value('./@AccountNo','NVARCHAR(20)')  
     ,T.c.value('./@ProvidentFundNo','NVARCHAR(50)') 
        ,T.c.value('./@UAN','NVARCHAR(50)') 
     ,T.c.value('./@PanNo','NVARCHAR(20)')  
     ,CASE T.c.value('./@DateOfJoining','DATETIME') WHEN N'' THEN NULL ELSE T.c.value('./@DateOfJoining','DATETIME')END AS DateOfJoining  
     ,CASE T.c.value('./@DateOfResign','DATETIME') WHEN N'' THEN NULL ELSE T.c.value('./@DateOfResign','DATETIME')END AS DateOfResign  
     ,T.c.value('./@UserName','NVARCHAR(100)')  
     ,CASE T.c.value('./@DateOfPermanent','DATETIME') WHEN N'' THEN NULL ELSE T.c.value('./@DateOfPermanent','DATETIME')END AS DateOfResign  
	 ,CASE T.c.value('./@TransferDate','DATETIME') WHEN N'' THEN NULL ELSE T.c.value('./@TransferDate','DATETIME')END
 FROM @UserXml.nodes('UserGroup/UserGroup') T(c)  
     
    
 INSERT @tblDateErrorsUser     
 EXEC usp_ValidateJoiningAndResigningDateOfUser @SchoolId, @AcademicYearId, @UserXml,  @DateErrorMsg OUTPUT  
   
 INSERT INTO @UserInfo   
 SELECT tblUserStaffGroup.UserId,  
     UserDetails.Name   
 FROM   @tblUserStaffGroup tblUserStaffGroup   
     INNER JOIN udf_GetAllUsersDetails(@SchoolId,@AcademicYearId) AS UserDetails   
     ON tblUserStaffGroup.UserId = UserDetails.UserId        
 WHERE  tblUserStaffGroup.Is_Deleted=N'Y'  
     
 INSERT INTO @tblUsersInSalaryDetails   
 SELECT DISTINCT UserInfo.UserId,UserName   
 FROM @UserInfo UserInfo   
     INNER JOIN SalaryDetails  
     ON UserInfo.UserId= SalaryDetails.UserId    
     WHERE  SalaryDetails.SchoolId=@SchoolId  
     AND  SalaryDetails.Is_Deleted=N'N'     
     
 DECLARE User_Cursor CURSOR LOCAL FAST_FORWARD FOR  
 SELECT UsersStaffGroupsAssociationId,UserId,StaffGroupsId,EmployeeNo,AccountNo,ProvidentFundNo,UAN,PanNo,Is_Deleted,  
     CASE DateOfJoining WHEN N'' THEN NULL ELSE DateOfJoining END AS DateOfJoining ,  
     CASE DateOfResign WHEN N'' THEN NULL ELSE DateOfResign  END AS DateOfResign,   
     CASE DateOfPermanent WHEN N'' THEN NULL ELSE DateOfPermanent  END AS DateOfPermanent,
	 CASE TransferDate WHEN N'' THEN NULL ELSE TransferDate  END AS TransferDate      
 FROM @tblUserStaffGroup  

 OPEN User_Cursor  
 FETCH NEXT FROM User_Cursor  
 INTO @UsersStaffGroupsAssociationId,@UserId,@StaffGroupsId,@EmployeeNo,@AccountNo,@ProvidentFundNo,@UAN,@PanNo,@Is_Deleted,@DateOfJoining, @DateOfResign ,@DateOfPermanent,@TransferDate    
 WHILE @@FETCH_STATUS=0  
 BEGIN  
         
  IF  EXISTS  
  (  
   SELECT TOP 1 1    
   FROM @tblUsersInSalaryDetails   
   WHERE UserId=@UserId  
  )        
  BEGIN  
   SELECT  @User_Name=UserName    
   FROM @tblUsersInSalaryDetails   
   WHERE UserId=@UserId  
     
   SET @Msg=@Msg+N', '+@User_Name  
  END        
  ELSE IF NOT EXISTS  
  (  
   SELECT TOP 1 1  
   FROM @tblDateErrorsUser   
   WHERE UserId=@UserId  
  )  
  BEGIN    
   IF @Is_Deleted = N'Y'  
   BEGIN    
     EXEC usp_DeleteUsersEarningDeductionConfiguration @SchoolId = @SchoolId, @UserId = @UserId, @InsertedById = @InsertedById     
       
     UPDATE    UsersEarningsDeductions  
     SET       Is_Deleted = N'Y',  
         UpdatedById = @InsertedById,  
         UpdateDate = dbo.GetLocalDate(DEFAULT)  
     WHERE     (SchoolId = @SchoolId)   
         AND (UserId = @UserId)      
          AND (Is_Deleted = N'N')  
         
     EXEC usp_DeleteUserLeaveYearwiseConfiguration @SchoolId = @SchoolId, @UserId = @UserId, @InsertedById = @InsertedById  
    
     UPDATE  UsersStaffGroupsAssociation  
     SET Is_Deleted = N'Y',  
      UpdateDate = dbo.GetLocalDate(DEFAULT),  
      UpdatedById = @InsertedById  
     WHERE SchoolId = @SchoolId  
      AND Is_Deleted = N'N'  
      AND UserId = @UserId  
      AND UsersStaffGroupsAssociationId = @UsersStaffGroupsAssociationId  
       
     -- To Remove Access of Salary Slip Report if user configuration is deleted  
     -- case : Delet mode       
     UPDATE  Report_User_Details  
        SET  Is_Deleted = N'Y',          
       Update_Date = dbo.GetLocalDate(DEFAULT)  
      WHERE (Report_Id = @SalarySlipReportId)   
        AND (User_Id = @UserId)         
   END  
   ELSE     
   BEGIN     
 
     INSERT INTO #tblUsersDuplicateMsg  
     EXEC usp_ValidateUserDetails @UsersStaffGroupsAssociationId,@AccountNo, @UserId, @ProvidentFundNo,@UAN, @EmployeeNo, @PanNo  
 
     IF @UsersStaffGroupsAssociationId <> 0  
     BEGIN     
       DECLARE @StGroupId INT  
       SET @StGroupId = 0  
      
       SELECT @StGroupId = UsersStaffGroupsAssociation.StaffGroupsId  
       FROM UsersStaffGroupsAssociation  
       WHERE   UsersStaffGroupsAssociation.SchoolId = @SchoolId  
         AND UsersStaffGroupsAssociationId = @UsersStaffGroupsAssociationId  
         AND Is_Deleted = N'N'  
        
       IF @StGroupId <> @StaffGroupsId         
       BEGIN   
        EXEC usp_DeleteUsersEarningDeductionConfiguration @SchoolId = @SchoolId, @UserId = @UserId, @InsertedById = @InsertedById  
          
        EXEC usp_DeleteUsersEarnDeductFormula @SchoolId = @SchoolId,@UserId = @UserId, @InsertedById = @InsertedById  
                  
        DECLARE @tblEarnDeductionIds AS TABLE  
        (  
         EarningsDeductionsId INT  
        )                 
          
        INSERT INTO @tblEarnDeductionIds(EarningsDeductionsId)  
        SELECT EarningsDeductions.EarningsDeductionsId  
        FROM StaffGroupsAndEarningsDeductionsAssociation   
          INNER JOIN EarningsDeductions  
          ON StaffGroupsAndEarningsDeductionsAssociation.EarningsDeductionsId = EarningsDeductions.EarningsDeductionsId  
          AND StaffGroupsAndEarningsDeductionsAssociation.SchoolId = EarningsDeductions.SchoolId  
        WHERE StaffGroupsAndEarningsDeductionsAssociation.SchoolId = @SchoolId   
           AND StaffGroupsAndEarningsDeductionsAssociation.StaffGroupsId = @StaffGroupsId  
           AND EarningsDeductions.HasFormula = 0  
           AND StaffGroupsAndEarningsDeductionsAssociation.Is_Deleted = N'N'  
           AND EarningsDeductions.Is_Deleted = N'N'              
        
        DECLARE @EarnDeductId INT,  
          @EDCount INT  
            
        SET @EDCount = 0  
          
        SELECT @EDCount = COUNT(1)  
        FROM @tblEarnDeductionIds  
        
        WHILE @EDCount > 0  
        BEGIN  
          
         SELECT @EarnDeductId = EarningsDeductionsId  
         FROM @tblEarnDeductionIds  
          
         INSERT INTO UsersEarningsDeductions  
         (  
          UserId,  
          EarningsDeductionsId,  
          EarningsDeductionsValue,            
          PayScaleSettingsId,  
          SchoolId,  
          Academic_Year_Id,  
          InsertedById,  
          UpdatedById            
         )           
         SELECT   
          @UserId,  
          @EarnDeductId,  
          0,  
          @PayScaleSettingsId,  
          @SchoolId,  
          @AcademicYearId,  
          @InsertedById,  
          @InsertedById  

		  IF NOT EXISTS(
							SELECT TOP 1 1
								  FROM UserwisePayscales
								 WHERE IsDeleted = 0
								   AND UserId = @UserId
					   )
				BEGIN
					DECLARE @PayScaleId INT

					SELECT @PayScaleId = MAX(PayScaleId)
					  FROM UserwisePayscales
					 WHERE IsDeleted = 0
					 
					 IF @PayScaleId IS NULL OR @PayScaleId = 0
					 BEGIN
						 SELECT @PayScaleId = PayScaleSettingsId
						 FROM PayScaleSettings
						 WHERE Is_Deleted = 'N'
						 AND CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) BETWEEN StartDate AND EndDate
					 END
					 
					  INSERT INTO [dbo].[UserwisePayscales]
					   ([UserId]
					   ,[PayScaleId]
					   ,[IsDeleted])
					  VALUES
					   (@UserId
					   ,@PayScaleId
					   ,0)					   
				END
           
         DELETE FROM @tblEarnDeductionIds  
         WHERE EarningsDeductionsId = @EarnDeductId  
           
         SELECT @EDCount = COUNT(1)  
         FROM @tblEarnDeductionIds          
        END  
       END  
         
       IF NOT EXISTS  
       (  
        SELECT TOP 1 1  
        FROM #tblUsersDuplicateMsg  
       )  
       BEGIN        
        UPDATE  UsersStaffGroupsAssociation  
        SET     StaffGroupsId = @StaffGroupsId,  
         -- EmployeeNo = @EmployeeNo,  
          AccountNo= @AccountNo,  
          ProvidentFundNo=@ProvidentFundNo,
          UAN=@UAN,           
          UpdatedById = @InsertedById,  
          UpdateDate = dbo.GetLocalDate(DEFAULT)  
        WHERE   SchoolId = @SchoolId  
          AND UsersStaffGroupsAssociationId = @UsersStaffGroupsAssociationId  
          AND Is_Deleted = N'N'  

IF NOT EXISTS(
			SELECT TOP 1 1
 		          FROM UserStaffGroupDetails
				 WHERE UserId = @UserId
				   AND IsDeleted = 0
			 )
		BEGIN		 
			INSERT INTO [dbo].[UserStaffGroupDetails]
					   ([UserId]
					   ,[StartDate]
					   ,[EndDate]
					   ,[StaffGroupId]
					   ,[IsDeleted]
					   ,[InsertedById])
				 VALUES
					   (@UserId
					   ,dbo.GetLocalDate(DEFAULT)
					   ,NULL
					   ,@StaffGroupsId
					   ,0
					   ,@InsertedById)      
		END
	ELSE
		BEGIN
			IF NOT EXISTS(
							SELECT TOP 1 1
								  FROM UserStaffGroupDetails
								 WHERE UserId = @UserId
								   AND IsDeleted = 0
								   AND StaffGroupId = @StaffGroupsId
						 )
					BEGIN
						UPDATE UserStaffGroupDetails
						   SET EndDate = dbo.GetLocalDate(DEFAULT)
						 WHERE UserId = @UserId
						   AND IsDeleted = 0
						   AND StaffGroupId <> @StaffGroupsId

				   INSERT INTO [dbo].[UserStaffGroupDetails]
							  ([UserId]
							  ,[StartDate]
							  ,[EndDate]
							  ,[StaffGroupId]
							  ,[IsDeleted]
							  ,[InsertedById])
						VALUES
							  (@UserId
							  ,dbo.GetLocalDate(DEFAULT)
							  ,NULL
							  ,@StaffGroupsId
							  ,0
							  ,@InsertedById) 
					END
		END 

		 
		  UPDATE UserBasicDetails
		  SET EmployeeNo=@EmployeeNo,
		      PanNo=@PanNo,
			  JoiningDate=@DateOfJoining,
			  PermanentDate=@DateOfPermanent,
			  ResignationDate=@DateOfResign,
		      UpdateDate=dbo.GetLocalDate(default),
		      UpdatedById=@InsertedById
		  WHERE SchoolId=@SchoolId
		    AND UserId=@UserId
		    AND IsDeleted=0



		  SELECT @WorkingStatusId = WorkingStatusId
		    FROM UserBasicDetails
		   WHERE UserId = @UserId

        EXEC usp_InsertUserBasicDetails @UserId = @UserId,@PanNo = @PanNo, @EmployeeNo=@EmployeeNo, @JoiningDate = @DateOfJoining,@PermanentDate = @DateOfPermanent,@ResignationDate = @DateOfResign,@SchoolId = @SchoolId,@InsertedById = @InsertedById,@AcademicYearId=@AcademicYearId
, @LeaveSeperaterDay = @LeaveSeperaterDay, @IsFromPayrollModule = 1, @WorkingStatusId = @WorkingStatusId, @TransferDate = @TransferDate
        
       END         
            
     END  
     ELSE  
     BEGIN  

       IF NOT EXISTS  
       (  
        SELECT TOP 1 1  
        FROM #tblUsersDuplicateMsg  
       )  
       BEGIN  
        INSERT INTO UsersStaffGroupsAssociation  
        (      
         UserId ,  
         StaffGroupsId ,  
         SchoolId ,  
         Academic_Year_Id ,  
         InsertedById ,  
         UpdatedById ,  
         Is_Deleted,  
         EmployeeNo,  
         AccountNo,  
         ProvidentFundNo, 
         UAN          
        )          
        SELECT       
         @UserId ,  
         @StaffGroupsId ,  
         @SchoolId ,  
         @AcademicYearId,  
         @InsertedById ,  
         @InsertedById ,  
         @Is_Deleted,  
         @EmployeeNo,  
         @AccountNo,  
         @ProvidentFundNo,
         @UAN 

IF NOT EXISTS(
				SELECT TOP 1 1
				      FROM UserStaffGroupDetails
					 WHERE UserId = @UserId
					   AND IsDeleted = 0
			 )
		BEGIN		 
			INSERT INTO [dbo].[UserStaffGroupDetails]
					   ([UserId]
					   ,[StartDate]
					   ,[EndDate]
					   ,[StaffGroupId]
					   ,[IsDeleted]
					   ,[InsertedById])
				 VALUES
					   (@UserId
					   ,dbo.GetLocalDate(DEFAULT)
					   ,NULL
					   ,@StaffGroupsId
					   ,0
					   ,@InsertedById)      
		END
	ELSE
		BEGIN
				IF NOT EXISTS(
							SELECT TOP 1 1
								  FROM UserStaffGroupDetails
								 WHERE UserId = @UserId
								   AND IsDeleted = 0
								   AND StaffGroupId = @StaffGroupsId
						 )
					BEGIN
						UPDATE UserStaffGroupDetails
						   SET EndDate = dbo.GetLocalDate(DEFAULT)
						 WHERE UserId = @UserId
						   AND IsDeleted = 0
						   AND StaffGroupId <> @StaffGroupsId

				   INSERT INTO [dbo].[UserStaffGroupDetails]
							  ([UserId]
							  ,[StartDate]
							  ,[EndDate]
							  ,[StaffGroupId]
							  ,[IsDeleted]
							  ,[InsertedById])
						VALUES
							  (@UserId
							  ,dbo.GetLocalDate(DEFAULT)
							  ,NULL
							  ,@StaffGroupsId
							  ,0
							  ,@InsertedById) 
					END
		END    
 

		SELECT @WorkingStatusId = WorkingStatusId
		  FROM UserBasicDetails
		 WHERE UserId = @UserId
		 --  AND IsDeleted = 0
		 		 
        EXEC usp_InsertUserBasicDetails @UserId = @UserId,@PanNo = @PanNo, @EmployeeNo=@EmployeeNo, @JoiningDate = @DateOfJoining,@PermanentDate = @DateOfPermanent,@ResignationDate = @DateOfResign,@SchoolId = @SchoolId,@InsertedById = @InsertedById, @AcademicYearId = @AcademicYearId,@LeaveSeperaterDay = @LeaveSeperaterDay,@WorkingStatusId = @WorkingStatusId, @TransferDate = @TransferDate, @IsFromPayrollModule = 1
         
        INSERT INTO UsersEarningsDeductions  
         (  
          UserId,  
          EarningsDeductionsId,  
          EarningsDeductionsValue,            
          PayScaleSettingsId,  
          SchoolId,  
          Academic_Year_Id,  
          InsertedById,  
          UpdatedById            
         )  
        SELECT   
         @UserId,  
         EarningsDeductionsId,  
         0,  
         @PayScaleSettingsId,  
         @SchoolId,  
         @AcademicYearId,  
         @InsertedById,  
         @InsertedById  
        FROM StaffGroupsAndEarningsDeductionsAssociation  
        WHERE SchoolId = @SchoolId  
        AND Is_Deleted = N'N'  
        AND StaffGroupsId = @StaffGroupsId  
        AND EarningsDeductionsId <> 0   
		
		IF NOT EXISTS(
						SELECT TOP 1 1
							  FROM UserwisePayscales
							 WHERE IsDeleted = 0
							   AND UserId = @UserId
					 )
				BEGIN
					SELECT @PayScaleId = MAX(PayScaleId)
					  FROM UserwisePayscales
					 WHERE IsDeleted = 0

					 IF @PayScaleId IS NULL OR @PayScaleId = 0
					 BEGIN
						 SELECT @PayScaleId = PayScaleSettingsId
						 FROM PayScaleSettings
						 WHERE Is_Deleted = 'N'
						 AND CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) BETWEEN StartDate AND EndDate
					 END

					INSERT INTO [dbo].[UserwisePayscales]
					   ([UserId]
					   ,[PayScaleId]
					   ,[IsDeleted])
					  VALUES
					   (@UserId
					   ,@PayScaleId
					   ,0)
				END
          
        -- To check already there is entry for Salary Slip report and according to that Add or Update table to Set Access of Salary Slip report  
        -- case : Insert mode  
        IF NOT EXISTS  
          (     
           SELECT top 1 1  
          FROM Report_User_Details WITH(NOLOCK)  
         WHERE Report_Id = @SalarySlipReportId  
           AND User_Id = @UserId
           AND Is_Deleted = 'N'  
          )     
        BEGIN     
         INSERT INTO Report_User_Details  
           ([Report_Id],  
           [User_Id],  
           [HasFullAccess],  
           [IsViewAvailable],  
           [Is_Deleted],  
           [Insert_Date],  
           [Update_Date])  
         VALUES  (@SalarySlipReportId,  
            @UserId,  
            0,  
            1,  
            'N',  
            dbo.GetLocalDate(DEFAULT),  
            dbo.GetLocalDate(DEFAULT))  
        END          
       END       
     END  
       
       
   END    
  
   INSERT INTO @tbltempUsersDuplicateMsg(UserId,TypeOfMsg,Number)  
   SELECT  UserId,  
     TypeOfMsg,  
     Number   
   FROM #tblUsersDuplicateMsg  
     
   TRUNCATE TABLE #tblUsersDuplicateMsg    
      
  END         
   
  FETCH NEXT FROM User_Cursor  
  INTO @UsersStaffGroupsAssociationId,@UserId,@StaffGroupsId,@EmployeeNo,@AccountNo,@ProvidentFundNo,@UAN,@PanNo,@Is_Deleted,@DateOfJoining,@DateOfResign,@DateOfPermanent, @TransferDate  
 END  
   
 CLOSE User_Cursor  
 DEALLOCATE User_Cursor  
  
 --Display validation message  
 DECLARE @tblMessageData AS TABLE  
 (  
  UserId INT,  
  Name Nvarchar(150),  
  TypeOfMsg CHAR(10),  
  Number Nvarchar(20),  
  User_Role Nvarchar(50)  
 )  
   
 INSERT INTO @tblMessageData  
 SELECT DISTINCT tbltempUsersDuplicateMsg.UserId,  
     UserDetails.Name,   
     TypeOfMsg,  
     Number,  
     User_Role_Master.User_Role_Name   
 FROM @tbltempUsersDuplicateMsg tbltempUsersDuplicateMsg   
   INNER JOIN udf_GetAllUsersDetails(@SchoolId,@AcademicYearId) AS UserDetails   
   ON tbltempUsersDuplicateMsg.UserId = UserDetails.UserId   
   INNER JOIN User_Master   
   ON tbltempUsersDuplicateMsg.UserId = User_Master.User_Id  
   INNER JOIN User_Role_Master   
   ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id  
   
   delete from @tblMessageData
   where Name is null

 DECLARE @Number Nvarchar(20),  
   @Name NVARCHAR(150),  
   @TypeOfMsg CHAR(10),  
   @User_Role NVARCHAR(50),  
   @AccMsg NVARCHAR(MAX),  
   @PFmsg NVARCHAR(MAX),  
   @UANmsg NVARCHAR(MAX),
   @EmpNo NVARCHAR(MAX),  
   @PanNoMess NVARCHAR(MAX),  
   @MessageCount INT = 0,  
   @MessageTypeCount INT = 0  
   
 DECLARE @tblMessage AS Table  
 (  
  TypeOfMsg NVARCHAR(10),  
  Msg NVARCHAR(MAX)  
 )  
  
 DECLARE @tblNumbers AS TABLE  
 (  
  Number NVARCHAR(20)  
 )  
   
 DECLARE @tblMessageTypes AS TABLE  
 (  
  Name NVARCHAR(150),  
  TypeOfMsg CHAR(10),  
  User_Role NVARCHAR(50)  
 )  
  
 INSERT INTO @tblNumbers  
 SELECT DISTINCT Number   
 FROM @tblMessageData   
   
 SELECT @MessageCount = COUNT(1)   
 FROM @tblNumbers  
   
 WHILE @MessageCount > 0  
 BEGIN  
   SELECT TOP 1 @Number = Number   
   FROM @tblNumbers  
     
    INSERT INTO @tblMessageTypes  
    (  
    Name,  
    TypeOfMsg,  
    User_Role  
    )  
    SELECT Name,  
     TypeOfMsg,  
     User_Role   
    FROM @tblMessageData   
    WHERE Number=@Number  
      
    SELECT @MessageTypeCount = COUNT(1)  
    FROM @tblMessageTypes  
      
    SET @AccMsg=N''  
    SET @PFmsg=N''
    SET @UANmsg =N''  
    SET @EmpNo=N''
    SET @UANMsg=N''  
    SET @PanNoMess=N''  
      
    WHILE @MessageTypeCount > 0  
    BEGIN  
      SELECT TOP 1 @Name = Name,  
          @TypeOfMsg = TypeOfMsg,  
          @User_Role = User_Role  
      FROM   @tblMessageTypes        
      
      IF @TypeOfMsg = N'Present_P'  
       SET @PFMsg = @Name + N'('+@User_Role+N') , ' + @PFMsg
      ELSE IF @TypeOfMsg = N'Present_U'  
       SET @UANMsg = @Name + N'('+@User_Role+N') , ' + @UANMsg
      ELSE IF @TypeOfMsg = N'Present_A' 
       SET @AccMsg = @Name + N'('+@User_Role+N') , ' + @AccMsg   
      ELSE IF @TypeOfMsg = N'Present_E'  
       SET @EmpNo = @Name + N'('+@User_Role+N') , ' + @EmpNo  
      ELSE IF @TypeOfMsg = N'Present_C'  
       SET @PanNoMess = @Name + N'('+@User_Role+N') , ' + @PanNoMess        
      ELSE IF @TypeOfMsg = N'A'  
       SET @AccMsg = @AccMsg + @Name+N''+N'('+@User_Role+N')'+N', '  
      ELSE IF @TypeOfMsg = N'P'  
       SET @PFMsg = @PFMsg + @Name+N''+N'('+@User_Role+N')'+N', '  
      ELSE IF @TypeOfMsg = N'U'  
       SET @UANMsg = @UANMsg + @Name+N''+N'('+@User_Role+N')'+N', ' 
      ELSE IF @TypeOfMsg = N'E'  
       SET @EmpNo = @EmpNo+@Name + N''+N'('+@User_Role+N')'+N', '  
      ELSE IF @TypeOfMsg = N'C'  
       SET @PanNoMess = @PanNoMess + @Name+N''+N'('+@User_Role+N')'+N', '  
        
      DELETE FROM @tblMessageTypes  
      WHERE Name = @Name  
        AND TypeOfMsg = @TypeOfMsg  
        AND User_Role = @User_Role  
        
      SELECT @MessageTypeCount = COUNT(1)  
      FROM @tblMessageTypes        
    END  
         
     IF @AccMsg<>N''  
     BEGIN  
      INSERT INTO @tblMessage   
      SELECT N'A',ISNULL(SUBSTRING(@AccMsg,0,(LEN(@AccMsg))),0)  
     END  
       
     IF @PFMsg<>N''  
     BEGIN  
      INSERT INTO @tblMessage   
      SELECT N'P', ISNULL(SUBSTRING(@PFMsg,0,(LEN(@PFMsg))),0)  
     END  
     
      IF @UANMsg<>N''  
     BEGIN  
      INSERT INTO @tblMessage   
      SELECT N'U', ISNULL(SUBSTRING(@UANMsg,0,(LEN(@UANMsg))),0)  
     END  
       
     IF @EmpNo<>N''  
     BEGIN  
      INSERT INTO @tblMessage   
      SELECT N'E', ISNULL(SUBSTRING(@EmpNo,0,(LEN(@EmpNo))),0)   
     END  
       
     IF @PanNoMess<>N''  
     BEGIN  
      INSERT INTO @tblMessage   
      SELECT N'C', ISNULL(SUBSTRING(@PanNoMess,0,(LEN(@PanNoMess))),0)  
     END  
      
   DELETE FROM @tblNumbers  
   WHERE Number = @Number  
     
   SELECT @MessageCount = COUNT(1)   
   FROM @tblNumbers  
        
 END  
  
 SELECT *   
 FROM @tblMessage  
   
 DECLARE @FinalMsg NVARCHAR(MAX)  
 SET @FinalMsg=N''  
   
 IF @Msg <> N''  
 BEGIN       
   SET @Msg=SUBSTRING(@Msg,3,LEN(@Msg))  
   SET @FinalMsg =N'Users-Staff Groups Association can not be removed since salary is saved for user(s):<BR />'+ @Msg  
 END   
   
 IF @FinalMsg <> N''  
 BEGIN  
  IF @DateErrorMsg <> N''  
   SET @FinalMsg=@FinalMsg+N'.<BR />' + @DateErrorMsg  
  ELSE  
   SET @FinalMsg=@FinalMsg + N'.'  
 END  
 ELSE  
  SET @FinalMsg=@DateErrorMsg  
    
 IF @FinalMsg<>N''  
  SELECT @FinalMsg as ErrorMsg
END