/****** Object:  StoredProcedure [dbo].[usp_SaveUserRejoiningDetails]    Script Date: 24-03-2026 16:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 06 Nov 2019
-- Description:	This USP is used to save user rejoining details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_SaveUserRejoiningDetails] 
	@SchoolId INT,
	@Id INT,
	@UserId INT,
	@StaffGroupId INT,
	@EmployeeNo NVARCHAR(100),
	@AccountNo NVARCHAR(50),
	@PFNo NVARCHAR(100),
	@UAN NVARCHAR(100),
	@PANNo NVARCHAR(100),
	@JoiningDate DATETIME,
	@ResignationDate DATETIME,
	@UpdatedById INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   UPDATE UserBasicDetails
      SET EmployeeNo = @EmployeeNo,
	      JoiningDate = @JoiningDate,
		  ResignationDate = @ResignationDate,
		  UpdateDate = dbo.GetLocalDate(DEFAULT),
		  UpdatedById = @UpdatedById
	WHERE SchoolId = @SchoolId
	  AND IsDeleted = 0
	  AND UserId = @UserId

   UPDATE UsersStaffGroupsAssociation
      SET AccountNo = @AccountNo,
	      ProvidentFundNo = @PFNo,
		  UAN = @UAN,
		  PanNo = @PANNo,
		  UpdateDate = dbo.GetLocalDate(DEFAULT),
		  UpdatedById = @UpdatedById
	WHERE UserId = @UserId
	  AND Is_Deleted = 'N'
	  AND SchoolId = @SchoolId
	  AND Is_Locked = 0

	IF EXISTS(
					SELECT TOP 1 1
					      FROM UserRejoiningDetails WITH(NOLOCK)
						 WHERE IsDeleted = 0
						   AND UserId = @UserId
			 )
		BEGIN		
			DECLARE @UserRejoingId INT = 0

			SELECT TOP 1 @UserRejoingId = Id
			  FROM UserRejoiningDetails WITH(NOLOCK)
			 WHERE UserId = @UserId
			   AND IsDeleted = 0
			   AND SchoolId = @SchoolId
		  ORDER BY Id DESC

			UPDATE UserRejoiningDetails
			   SET ResignationDate = @ResignationDate,
			       UpdateDate = dbo.GetLocalDate(DEFAULT),
				   UpdatedById= @UpdatedById
			 WHERE UserId = @UserId
			   AND IsDeleted = 0
			   AND Id = @UserRejoingId

			   IF(@Id = 0)
				BEGIN
				   INSERT INTO [dbo].[UserRejoiningDetails]
							   ([UserId]
							   ,[StaffGroupId]
							   ,[EmployeeNo]
							   ,[AccountNo]
							   ,[PFNo]
							   ,[UAN]
							   ,[PANNo]
							   ,[JoiningDate]	
							   ,[SchoolId]
							   ,[IsDeleted]
							   ,[InsertDate]
							   ,[InsertedById])
						 VALUES
							   (@UserId
							   ,@StaffGroupId
							   ,@EmployeeNo
							   ,@AccountNo
							   ,@PFNo
							   ,@UAN
							   ,@PANNo
							   ,@JoiningDate				   				   
							   ,@SchoolId
							   ,0
							   ,dbo.GetLocalDate(DEFAULT)
							   ,@UpdatedById)
				END
			ELSE
				BEGIN
					UPDATE UserRejoiningDetails
					   SET StaffGroupId = @StaffGroupId,
					       EmployeeNo = @EmployeeNo,
						   AccountNo = @AccountNo,
						   PFNo = @PFNo,
						   UAN = @UAN,
						   PANNo = @PANNo,
						   JoiningDate = @JoiningDate
					 WHERE Id = @Id
					   AND SchoolId = @SchoolId
					   AND UserId = @UserId
					   AND IsDeleted = 0

				END
		END
		ELSE
		BEGIN
				INSERT INTO [dbo].[UserRejoiningDetails]
							   ([UserId]
							   ,[StaffGroupId]
							   ,[EmployeeNo]
							   ,[AccountNo]
							   ,[PFNo]
							   ,[UAN]
							   ,[PANNo]
							   ,[JoiningDate]	
							   ,[SchoolId]
							   ,[IsDeleted]
							   ,[InsertDate]
							   ,[InsertedById])
						 VALUES
							   (@UserId
							   ,@StaffGroupId
							   ,@EmployeeNo
							   ,@AccountNo
							   ,@PFNo
							   ,@UAN
							   ,@PANNo
							   ,@JoiningDate				   				   
							   ,@SchoolId
							   ,0
							   ,dbo.GetLocalDate(DEFAULT)
							   ,@UpdatedById)
		END
END
