/****** Object:  UserDefinedFunction [dbo].[udf_GetUserStafGroups]    Script Date: 02-07-2026 11:09:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ====================================================================
-- Author:		Sachin Shinde
-- Create date: 29 June 2012
-- Description:	This UDF is used to return user staff group detais.
-- ====================================================================
ALTER FUNCTION [dbo].[udf_GetUserStafGroups] 
(
	@SchoolId INT,
	@MonthId INT,
	@Year INT
)
RETURNS @tblUsersStaffGroups TABLE
(
	UsersStaffGroupsAssociationId INT,
    UserId INT,
    StaffGroupsId INT,
    EmployeeNo NVARCHAR(50),
    AccountNo NVARCHAR(50),
    ProvidentFundNo NVARCHAR(50),
	PanNo NVARCHAR(50)
)
AS
BEGIN
	
	DECLARE @UserStaffGrouAssoXml AS XML
	
	SELECT @UserStaffGrouAssoXml = UsersStaffGroupXML
	FROM   SalaryDetailSettings
	WHERE  MonthId = @MonthId 
		   AND Year = @Year 
		   AND SchoolId = @SchoolId		

	IF @UserStaffGrouAssoXml IS NOT NULL
	BEGIN		
			INSERT INTO @tblUsersStaffGroups
			SELECT T.c.value('./UsersStaffGroupsAssociationId[1]','INT'),
					T.c.value('./UserId[1]','INT'),
					T.c.value('./StaffGroupsId[1]','INT'),
					T.c.value('./EmployeeNo[1]','NVARCHAR(50)'),
					T.c.value('./AccountNo[1]','NVARCHAR(50)'),
					T.c.value('./ProvidentFundNo[1]','NVARCHAR(50)'),
					T.c.value('./PanNo[1]','NVARCHAR(50)')						  
			FROM @UserStaffGrouAssoXml.nodes('UsersStaffGroup/UsersStaffGroup') T(c)
			
			
			IF @SchoolId = 18
			BEGIN

					INSERT INTO @tblUsersStaffGroups
					SELECT T.c.value('./UsersStaffGroupsAssociationId[1]','INT'),
					4791,
					T.c.value('./StaffGroupsId[1]','INT'),
					T.c.value('./EmployeeNo[1]','NVARCHAR(50)'),
					T.c.value('./AccountNo[1]','NVARCHAR(50)'),
					T.c.value('./ProvidentFundNo[1]','NVARCHAR(50)'),
					T.c.value('./PanNo[1]','NVARCHAR(50)')						
					FROM @UserStaffGrouAssoXml.nodes('UsersStaffGroup/UsersStaffGroup') T(c)    
					WHERE (T.c.value('./UserId[1]','INT')  = 4584) 
			END						
	END
	ELSE
	BEGIN
			INSERT INTO @tblUsersStaffGroups
			SELECT UsersStaffGroupsAssociationId,
				   UsersStaffGroupsAssociation.UserId,
				   StaffGroupsId,
				   ISNULL(UserBasicDetails.EmployeeNo, ''),
				   AccountNo,
				   ProvidentFundNo,
				   ISNULL(UserBasicDetails.PanNo,'')
			FROM UsersStaffGroupsAssociation
				 LEFT OUTER JOIN UserBasicDetails
				 ON UsersStaffGroupsAssociation.UserId = UserBasicDetails.UserId
			WHERE UsersStaffGroupsAssociation.SchoolId = @SchoolId 
			AND UserBasicDetails.SchoolId=@SchoolId
			AND Is_Locked = 0 
			AND Is_Deleted = 'N'
			
	END		
	
	delete from @tblUsersStaffGroups
	where StaffGroupsId = 0

	RETURN 
END