/****** Object:  StoredProcedure [dbo].[usp_UpdateCautionMoneyTransactionStatus]    Script Date: 7/1/2026 11:11:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================  
-- Created By: Pravin  
-- Create date: 28 May 2013  
-- Description: This is the common procedure used to mark the online transaction as success/failed.  
-- =============================================================================  
ALTER PROCEDURE [dbo].[usp_UpdateCautionMoneyTransactionStatus]  
@StudentID INT = 0,  
@SchoolId INT = 0,  
@AcademicYearId INT = 0,  
@PaymentITCParameter NVARCHAR(200),  
@PaymentReferenceNumber NVARCHAR(30),  
@TransactionAMT DECIMAL(10,4),  
@TransactionBankID NVARCHAR(20),  
@TPSLTransactionID NVARCHAR(30),  
@TransactionStatus CHAR(1),  
@IsNextAcademicYear BIT = 0
AS  
BEGIN   
 SET NOCOUNT ON;    
   
 DECLARE @AdmissionId INT = 0,@TransactionId INT,@PaidAmount INT = 0  
 SET @TransactionId =CONVERT(INT,@PaymentReferenceNumber)    
 -- Here we raise the error if any of checked parameter comes null or zero.  
 IF(@TransactionId IS NULL OR @TransactionId = 0 OR @TransactionBankID IS NULL)    
 BEGIN  
  DECLARE @ErrorMsg1 NVARCHAR(1000) = N'Transaction failed. Parameters : TransactionId = '+CONVERT(NVARCHAR(20),@TransactionId)+' @TransactionBankID = ' +CONVERT(NVARCHAR(20),@TransactionBankID)  
  RAISERROR(@ErrorMsg1,17,1)     
 END  
 
 BEGIN TRY
 BEGIN TRANSACTION

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TPSLTransactionID = @TPSLTransactionID
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Duplicate transaction.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TransactionStatus = 'Y'
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Transaction is already in success mode.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END

 BEGIN TRANSACTION
	BEGIN TRY

		UPDATE TransactionCounter
		SET Id = Id + 1

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
 
 IF NOT EXISTS
 (
	SELECT TOP 1 1
	FROM NetBankingBanksDetails NBBD
	INNER JOIN NetBankingPaymentTransactions NBPT
	ON NBBD.PaymentGatewayId = NBPT.GatewayId
	WHERE NBPT.NetBankingPaymentTransactionID = @TransactionID
	AND (StudentFeeRegisteredBankId = @TransactionBankID OR (@AcademicYearId IS NULL AND RegisteredBankID = @TransactionBankID))
 )
 BEGIN
	SET @TransactionBankID = -9999 -- Unknown Bank	
 END
   
	 -- Here we update the transaction with the given parameters with the response as 1.  
	 UPDATE NetBankingPaymentTransactions   
		SET TransactionAMT = @TransactionAMT,  
			TransactionBankID = @TransactionBankID,  
			PaymentITCParameter = @PaymentITCParameter,  
			TransactionStatus = @TransactionStatus,  
			TPSLTransactionID = @TPSLTransactionID ,
			Updated_Date = dbo.GetLocalDate(DEFAULT)      
	  WHERE NetBankingPaymentTransactionID = @TransactionID  
	   
	 -- If in case transaction failed then no need to following statements.   
	 IF(@TransactionStatus = N'N')  
	 BEGIN
		COMMIT TRANSACTION
		RETURN 0  
	 END

	 IF @StudentID IS NOT NULL AND @StudentID <> 0 AND @TransactionStatus = 'Y'
	 BEGIN
			 DECLARE @ReceiptNo INT

			select @ReceiptNo = MAX(Receipt_Number)
			from Student_Caution_Money_Details
			where School_Id = @SchoolId
			and Is_Deleted = 0
			and Paid_By_Student = 1

			IF @ReceiptNo IS NULL
				SET @ReceiptNo = 1001
			ELSE
				SET @ReceiptNo = @ReceiptNo + 1

			DECLARE @StudId INT,@LoginUserId INT
			SELECT @StudId = Student_Id,
				   @LoginUserId = SSM.User_Id
			FROM YearWise_Student_Details YSD
			INNER JOIN SchoolWise_Student_Master SSM
			ON YSD.Student_Id = SSM.SchoolWise_Student_Id
			WHERE YearWise_Student_Id = @StudentID
			AND YSD.Is_Deleted = 'N'
			AND YSD.School_Id = @SchoolId

			UPDATE Student_Caution_Money_Details
			SET Paid_By_Student = 1,
				Payment_Date = DBO.GetLocalDate(DEFAULT),
				Payment_Mode = 'N',
				Receipt_Number = @ReceiptNo,
				Updated_By_Id = @LoginUserId,
				Update_Date = DBO.GetLocalDate(DEFAULT),
				NetBankingPaymentTransactionID = @TransactionID
			where School_Id = @SchoolId
			and Is_Deleted = 0			
			AND Schoolwise_Student_Id = @StudId		

			SELECT @PaidAmount = Amount
			FROM Student_Caution_Money_Details
			where School_Id = @SchoolId
			and Is_Deleted = 0
			and Paid_By_Student = 1
			AND Schoolwise_Student_Id = @StudentID
	 END
	  
	  DECLARE @UserID INT  

	  SELECT @UserID = User_Master.User_Id  
		FROM User_Master WITH(NOLOCK)  
	 INNER JOIN User_Role_Master WITH(NOLOCK)  
	   ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id  
	   WHERE User_Role_Master.Is_Admin = N'Y'   
		 AND User_Master.School_Id = @SchoolId   
		 AND User_Role_Master.Is_Deleted = N'N'   
		 AND User_Master.Is_Deleted = N'N'   
		 AND User_Master.IsSuperAdmin = 0  
	       
	  SELECT @PaidAmount AS PaidAmount,@UserID AS AdminUserId  
	  		
		Declare @SenderUserId int

		  SELECT @SenderUserId=User_Id
			FROM YearWise_Student_Details YSD
			INNER JOIN SchoolWise_Student_Master SSM
			ON YSD.Student_Id = SSM.SchoolWise_Student_Id
			WHERE YearWise_Student_Id = @StudentID
			AND YSD.Is_Deleted = 'N'
			AND YSD.School_Id = @SchoolId

          EXEC Usp_SendOnlinePaymentNotification @SchoolId,@AcademicYearId,@SenderUserId,3
					       
	 
 COMMIT TRANSACTION	 
 END TRY
 BEGIN CATCH
	ROLLBACK TRANSACTION 
	
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
	RAISERROR(@ErrorMessage,16,1)

 END CATCH
 
END
--GO
--	exec usp_UpdateCautionMoneyTransactionStatus @StudentID=9736,@SchoolId=71,@AcademicYearId=6,@PaymentITCParameter=N'From$$StudentFee',@PaymentReferenceNumber=N'432',@TransactionAMT=35293.13,@TransactionBankID=N'70',@TPSLTransactionID=N'636776401758408448',@TransactionStatus='Y',@IsNextAcademicYear=0
--GO