/****** Object:  StoredProcedure [dbo].[usp_UpdateInternalFeeOnlineTransactionStatus]    Script Date: 7/1/2026 11:10:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================  
-- Created By: Dnyaneshwar Shinde  
-- Create date: 01 Mar 2019
-- Description: This is the common procedure used to mark the Internal Fee online transaction as success/failed.  
-- =============================================================================  
ALTER PROCEDURE [dbo].[usp_UpdateInternalFeeOnlineTransactionStatus]  
@StudentID INT = 0,  
@SchoolId INT = 0,  
@AcademicYearId INT = 0,  
@PaymentITCParameter NVARCHAR(200),  
@PaymentReferenceNumber NVARCHAR(30),  
@TransactionAMT DECIMAL(10,4),  
@TransactionBankID NVARCHAR(20),  
@TPSLTransactionID NVARCHAR(30),  
@TransactionStatus CHAR(1),  
@IsNextAcademicYear BIT = 0  
AS  
BEGIN   
 SET NOCOUNT ON;   
 
    BEGIN TRANSACTION
	BEGIN TRY 
   
 DECLARE @AdmissionId INT = 0,@TransactionId INT  
 SET @TransactionId =CONVERT(INT,@PaymentReferenceNumber)    
 -- Here we raise the error if any of checked parameter comes null or zero.  
 IF(@TransactionId IS NULL OR @TransactionId = 0 OR @TransactionBankID IS NULL)    
 BEGIN  
  DECLARE @ErrorMsg1 NVARCHAR(1000) = N'Transaction failed. Parameters : TransactionId = '+CONVERT(NVARCHAR(20),@TransactionId)+' @TransactionBankID = ' +CONVERT(NVARCHAR(20),@TransactionBankID)  
  RAISERROR(@ErrorMsg1,17,1)     
 END  
 
 BEGIN TRY
 BEGIN TRANSACTION

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TPSLTransactionID = @TPSLTransactionID
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Duplicate transaction.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TransactionStatus = 'Y'
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Transaction is already in success mode.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END

 BEGIN TRANSACTION
	BEGIN TRY

		UPDATE TransactionCounter
		SET Id = Id + 1

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
 
 IF NOT EXISTS
 (
	SELECT TOP 1 1
	FROM NetBankingBanksDetails NBBD
	INNER JOIN NetBankingPaymentTransactions NBPT
	ON NBBD.PaymentGatewayId = NBPT.GatewayId
	WHERE NBPT.NetBankingPaymentTransactionID = @TransactionID
	AND (StudentFeeRegisteredBankId = @TransactionBankID OR (@AcademicYearId IS NULL AND RegisteredBankID = @TransactionBankID))
 )
 BEGIN
	SET @TransactionBankID = -9999 -- Unknown Bank	
 END

	 -- Here we update the transaction with the given parameters with the response as 1.  
	 UPDATE NetBankingPaymentTransactions   
		SET TransactionAMT = @TransactionAMT,  
			TransactionBankID = @TransactionBankID,  
			PaymentITCParameter = @PaymentITCParameter,  
			TransactionStatus = @TransactionStatus,  
			TPSLTransactionID = @TPSLTransactionID ,
			Updated_Date = dbo.GetLocalDate(DEFAULT)      
	  WHERE NetBankingPaymentTransactionID = @TransactionID 

	  IF @TransactionStatus = 'Y'
	  BEGIN

	  DECLARE @RecieptNo INT   	   
	   
	  DECLARE @PaidAmount INT,@UserID INT  

	  IF(@IsNextAcademicYear = 1)
		BEGIN
			DECLARE @SchoolwiseStudentId INT

		    SELECT @SchoolwiseStudentId = Student_Id
			  FROM YearWise_Student_Details
			 WHERE School_id = @SchoolId
			   AND Is_Deleted = 'N'
			   --AND Academic_Year_Id = @AcademicYearId
			   AND YearWise_Student_Id = @StudentID
 
			UPDATE PaidInternalFeeDetailsOfNextYear
			   SET IsDeleted = 0,
			       UpdatedByID = @StudentID,
				   UpdatedDate = dbo.getlocalDate(DEFAULT)			  
			 WHERE SchoolId = @SchoolId			   
			   AND NetBankingPaymentTransactionID = @TransactionID 
			   AND IsDeleted = 1
			   AND SchoolwiseSTudentId = @SchoolwiseStudentId

			SELECT @PaidAmount = SUM(Amount)
				  ,@RecieptNo = 0
			  FROM PaidInternalFeeDetailsOfNextYear		
			 WHERE SchoolId = @SchoolId			   
			   AND NetBankingPaymentTransactionID = @TransactionID 
			   AND IsDeleted = 0
			   AND SchoolwiseSTudentId = @SchoolwiseStudentId

		END
	  ELSE
		BEGIN
			
				select TOP 1 @StudentID = YSD.YearWise_Student_Id,
					   @AcademicYearId = YSD.Academic_Year_ID
				FROM InternalFeeDetails IFD
				INNER JOIN YearWise_Student_Details YSD
				ON IFD.Schoolwise_Student_Id = YSD.Student_Id
				AND IFD.AcademicYearId = YSD.Academic_Year_ID
				WHERE NetBankingPaymentTransactionID = @TransactionID
				
			   UPDATE InternalFeeDetails   
				  SET UpdatedByID = @StudentID,		   
					  Is_Deleted = 0 
				 FROM InternalFeeDetails IFD WITH(NOLOCK)
		   INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
				   ON YWSD.Student_Id = IFD.Schoolwise_Student_Id
				  AND YWSD.School_Id = IFD.SchoolId
				  AND YWSD.Academic_Year_ID = IFD.AcademicYearId
				WHERE YWSD.YearWise_Student_Id = @StudentID   
				  AND SchoolId = @SchoolId   
				  AND AcademicYearId = @AcademicYearId   
				  AND NetBankingPaymentTransactionID = @TransactionID          
	   

			   -- Here we get the total paid amount to return the values expected from procedure.   
			   SELECT @PaidAmount = SUM(Amount)
					  ,@RecieptNo = ReceiptNo
	   			 FROM InternalFeeDetails IFD WITH(NOLOCK)
		   INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
				   ON YWSD.Student_Id = IFD.Schoolwise_Student_Id
				  AND YWSD.School_Id = IFD.SchoolId
				  AND YWSD.Academic_Year_ID = IFD.AcademicYearId 
				WHERE YWSD.YearWise_Student_Id = @StudentID   
				  AND SchoolId = @SchoolId   
				  AND AcademicYearId = @AcademicYearId   
				  AND NetBankingPaymentTransactionID = @TransactionId  		  
				  AND IFD.Is_Deleted = 0
				  AND [Debit/Credit]= N'Credit' 		  
			 GROUP BY ReceiptNo    
		END 
		
	   SELECT @UserID = User_Master.User_Id  
		 FROM User_Master WITH(NOLOCK)  
   INNER JOIN User_Role_Master WITH(NOLOCK)  
		   ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id  
	    WHERE User_Role_Master.Is_Admin = N'Y'   
		  AND User_Master.School_Id = @SchoolId   
		  AND User_Role_Master.Is_Deleted = N'N'   
		  AND User_Master.Is_Deleted = N'N'   
		  AND User_Master.IsSuperAdmin = 0  
	       
	  SELECT @PaidAmount AS PaidAmount,@UserID AS AdminUserId       
	 
	  Declare @SenderUserId int

		  SELECT @SenderUserId=User_Id
			FROM YearWise_Student_Details YSD
			INNER JOIN SchoolWise_Student_Master SSM
			ON YSD.Student_Id = SSM.SchoolWise_Student_Id
			WHERE YearWise_Student_Id = @StudentID
			AND YSD.Is_Deleted = 'N'
			AND YSD.School_Id = @SchoolId

          EXEC Usp_SendOnlinePaymentNotification @SchoolId,@AcademicYearId,@SenderUserId,2 
		  
		END

 COMMIT TRANSACTION	 
 END TRY
 BEGIN CATCH
	ROLLBACK TRANSACTION 
	
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
	RAISERROR(@ErrorMessage,16,1)

 END CATCH

--raiserror('Test Error',16,1)

  COMMIT TRANSACTION
  END TRY
  BEGIN CATCH
	PRINT ERROR_MESSAGE()
	ROLLBACK TRANSACTION
  END CATCH
 
END