/****** Object:  StoredProcedure [dbo].[usp_UpdateOnlineTransactionStatus]    Script Date: 7/1/2026 10:41:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================================  
-- Created By: Pravin  
-- Create date: 28 May 2013  
-- Description: This is the common procedure used to mark the online transaction as success/failed.  
-- =============================================================================  
ALTER PROCEDURE [dbo].[usp_UpdateOnlineTransactionStatus]  
@StudentID INT = 0,  
@SchoolId INT = 0,  
@AcademicYearId INT = 0,  
@PaymentITCParameter NVARCHAR(200),  
@PaymentReferenceNumber NVARCHAR(30),  
@TransactionAMT DECIMAL(10,4),  
@TransactionBankID NVARCHAR(20),  
@TPSLTransactionID NVARCHAR(30),  
@TransactionStatus CHAR(1),  
@IsNextAcademicYear BIT = 0,
@IsLastYearPayment BIT = 0
AS  
BEGIN   
 SET NOCOUNT ON;    
   
--BEGIN TRANSACTION
--BEGIN TRY

 DECLARE @AdmissionId INT = 0,@TransactionId INT  
 SET @TransactionId =CONVERT(INT,@PaymentReferenceNumber)    
 -- Here we raise the error if any of checked parameter comes null or zero.  
 IF(@TransactionId IS NULL OR @TransactionId = 0 OR @TransactionBankID IS NULL)    
 BEGIN  
  DECLARE @ErrorMsg1 NVARCHAR(1000) = N'Transaction failed. Parameters : TransactionId = '+CONVERT(NVARCHAR(20),@TransactionId)+' @TransactionBankID = ' +CONVERT(NVARCHAR(20),@TransactionBankID)  
  RAISERROR(@ErrorMsg1,17,1)     
 END  



 
 BEGIN TRY
 BEGIN TRANSACTION

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TPSLTransactionID = @TPSLTransactionID
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Duplicate transaction.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM NetBankingPaymentTransactions
		WHERE NetBankingPaymentTransactionID = @TransactionID
		AND TransactionStatus = 'Y'
	)
	BEGIN
		 SET @ErrorMsg1 = N'Transaction failed. Reason : Transaction is already in success mode.' 
		 RAISERROR(@ErrorMsg1,16,1)  
	END


 BEGIN TRANSACTION
	BEGIN TRY

		UPDATE TransactionCounter
		SET Id = Id + 1

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
 
 IF @IsLastYearPayment = 1
 BEGIN
		
		DECLARE @SchoolwiseStudId INT,
				@OldAcadId INT
					
		SELECT @SchoolwiseStudId = Student_Id
		FROM Yearwise_student_Details
		WHERE Academic_Year_Id = @AcademicYearId
		and School_Id =  @SchoolId
		and Yearwise_Student_Id = @StudentID

		--select TOP 1 @OldAcadId = Academic_Year_Id
		--FROM Schoolwise_Academic_year_master
		--where is_deleted = 'N'
		--AND Academic_Year_Id < @AcademicYearId
		--and school_Id = @SchoolId
		--ORDER BY Academic_Year_Id DESC

		select top 1 @StudentID = student_id,
					@OldAcadId = Academic_Year_Id
		from Schoolwise_Student_Fee_Details
		where Is_Deleted = 'Y'
		and NetBankingPaymentTransactionID = @TransactionID

		--SELECT @StudentID = Yearwise_Student_Id
		--FROM Yearwise_student_Details		
		--WHERE School_Id =  @SchoolId
		--AND Student_Id = @SchoolwiseStudId
		--and Academic_Year_Id = @OldAcadId
		--AND is_Deleted = 'N'

		SET @AcademicYearId = @OldAcadId
 END

 IF NOT EXISTS
 (
	SELECT TOP 1 1
	FROM NetBankingBanksDetails NBBD
	INNER JOIN NetBankingPaymentTransactions NBPT
	ON NBBD.PaymentGatewayId = NBPT.GatewayId
	WHERE NBPT.NetBankingPaymentTransactionID = @TransactionID
	AND (StudentFeeRegisteredBankId = @TransactionBankID OR (@AcademicYearId IS NULL AND RegisteredBankID = @TransactionBankID))
 )
 BEGIN
	SET @TransactionBankID = -9999 -- Unknown Bank	
 END

	 -- Here we update the transaction with the given parameters with the response as 1.  
	 UPDATE NetBankingPaymentTransactions   
		SET TransactionAMT = @TransactionAMT,  
			TransactionBankID = @TransactionBankID,  
			PaymentITCParameter = @PaymentITCParameter,  
			TransactionStatus = @TransactionStatus,  
			TPSLTransactionID = @TPSLTransactionID ,
			Updated_Date = dbo.GetLocalDate(DEFAULT)      
	  WHERE NetBankingPaymentTransactionID = @TransactionID  
	   
	 -- If in case transaction failed then no need to following statements.   
	 IF(@TransactionStatus = N'N')  
	 BEGIN
		COMMIT TRANSACTION
		RETURN 0  
	 END
	     
	 -- This will execute in case of completing transaction for admission.  
	 IF(@StudentID IS NULL OR @StudentID = 0)  
	 BEGIN    
	  -- Here we calulate the Admission Id associated to given transaction.  
	  IF(@TransactionId IS NOT NULL OR @TransactionId <> 0)   
	  BEGIN
		  SELECT @AdmissionId = Student_Admission_Id   
			FROM Student_Admissions WITH(NOLOCK)    		
		   WHERE NetBankingPaymentTransactionID=@TransactionId  
			 AND IsOnlineAdmission=1       
	  END
	    
	  DECLARE @RecieptNo INT   
	  SELECT @RecieptNo = [dbo].[UDF_GetReceiptNoForAdmission] (@AdmissionId)  
	    
	  -- Here we update the receipt number and student admission flag as success in Student_Admissions table.  
	  UPDATE Student_Admissions   
		 SET IsAdmitted = 1,  
			 NetBankingPaymentTransactionID = @TransactionId,  
			 Receipt_Number = @RecieptNo,
			 Update_Date = dbo.GetLocalDate(DEFAULT)  
	   WHERE Student_Admission_Id = @AdmissionId  
	       
	  -- Here we return StudentAdmissionId as a output parameter. Which will be used to bind the reciept link.  
	  SELECT @AdmissionId as AdmissionId  
	 END      
	   
	 -- This will execute in case of completing transaction for student fee.  
	 ELSE  
	 BEGIN      
	  DECLARE @PaidAmount INT,@UserID INT , @Remarks NVARCHAR(1000) = ''
	  -- If paying fee for next year then we will execute this statement.  
	  IF(@IsNextAcademicYear = 1 )  
	  BEGIN  
	   UPDATE PaidFeeDetailsOfNextYear  
		  SET Is_Deleted = 0,  
			  Updated_Date = dbo.GetLocalDate(DEFAULT),
			  Updated_By_ID = @StudentID
		WHERE NetBankingPaymentTransactionID = @TransactionID  
	  
	   SELECT @PaidAmount = SUM(Amount)  
		 FROM PaidFeeDetailsOfNextYear WITH(NOLOCK)  
		WHERE NetBankingPaymentTransactionID = @TransactionId  
		  AND Is_Deleted = 0  
	  END  
	  -- Here we update the table Schoolwise_Student_Fee_Details by NetBankingPaymentTransactionID and also update the LateFee details.  
	  ELSE  
	  BEGIN
	  
	  DECLARE @tblStudentFeeDetails AS TABLE
	  (
		  Id INT IDENTITY(1,1),
		  StudentFeeId INT,
		  StudentId INT,
		  PaidAmount INT,
		  ActualAmount INT,
		  NetBankingPaymentTransactionID INT
	  )
	  
IF EXISTS(SELECT TOP 1 1
				FROM SchoolSettings
			   WHERE SchoolId = @SchoolId
			     AND AcademicYearId = @AcademicYearId
				 AND IsDeleted = 0
				 AND UPPER(Value) = 'TRUE'	
				 AND Name = 'EnablePartialFeePaymentForStudentLogin'	
		 )  
	BEGIN
	 INSERT INTO @tblStudentFeeDetails
		  SELECT SWSFD.Student_Fee_Id,
		         SWSFD.Student_Id,
				 SWSFD.Amount AS PaidAmount,
				 SWSFD1.Amount AS ActualAmount,
				 SWSFD.NetBankingPaymentTransactionID
			FROM Schoolwise_Student_Fee_Details SWSFD WITH(NOLOCK)
	  INNER JOIN Schoolwise_Student_Fee_Details SWSFD1 WITH(NOLOCK)
			  ON SWSFD.Student_Id = SWSFD1.Student_Id
			 AND SWSFD.Student_Fee_Id = SWSFD1.Schoolwise_Student_Fee_Id
			 AND SWSFD.Academic_Year_Id = SWSFD1.Academic_Year_Id
		   WHERE SWSFD.School_Id = @SchoolId
			 AND SWSFD.Academic_Year_Id = @AcademicYearId
			 AND SWSFD.NetBankingPaymentTransactionID = @TransactionId
			 AND SWSFD.Is_Late_Fee = 'N'
			 AND SWSFD.Is_Deleted = 'Y'
			 AND SWSFD1.Is_Deleted = 'N'
			 AND SWSFD1.Is_Late_Fee = 'N'
			 AND SWSFD1.Amount <> SWSFD.Amount
	END

	   UPDATE Schoolwise_Student_Fee_Details   
		  SET Updated_By_ID = @StudentID,
		   Is_Completed = 1,  
		   Is_Deleted = N'N'  
		WHERE Student_Id = @StudentID   
		  AND School_Id = @SchoolId   
		  AND Academic_Year_Id = @AcademicYearId   
		  AND NetBankingPaymentTransactionID = @TransactionID 

 WHILE EXISTS (
					SELECT TOP 1 1
					     FROM @tblStudentFeeDetails
			  )
			BEGIN
				     DECLARE @StudentFeeId INT,
							 @StudPaidAmount INT,
							 @StudActualAmount INT,
							 @tblId INT,
							 @tblStudentId INT
				
				SELECT TOP 1 @StudentFeeId = StudentFeeId,
							 @tblStudentId = StudentId,
				             @StudPaidAmount = PaidAmount,
							 @StudActualAmount = ActualAmount,
							 @tblId = Id
				        FROM @tblStudentFeeDetails

					IF(@StudActualAmount > @StudPaidAmount)
						BEGIN
							UPDATE Schoolwise_Student_Fee_Details
							   SET Amount = @StudPaidAmount,
							       Update_Date = dbo.GetLocalDate(DEFAULT)
							 WHERE [Debit/Credit] = 'Debit'
							   AND Is_Deleted = 'N'
							   AND School_Id = @SchoolId
							   AND Academic_Year_Id = @AcademicYearId
							   AND Schoolwise_Student_Fee_Id = @StudentFeeId
							   AND Student_Id = @tblStudentId

						   DECLARE @PartialAmount INT
						       SET @PartialAmount = @StudActualAmount - @StudPaidAmount


					   INSERT INTO [dbo].[Schoolwise_Student_Fee_Details]								   
						    SELECT Student_Id,
							       Payable_For,
								   Standard_Div_Id,
								   Std_FeeType_Id,
								   Fee_Type,
								   @PartialAmount,
								   'Debit',
								   Paid_Date,
								   Receipt_Number,
								   Remarks,
								   Student_Fee_Id,
								   Serial_Number,
								   Is_Cheque_Bounce,
								   RefundFeeDetailsID,
								   NetBankingPaymentTransactionID,
								   IsReceiptConsidered,
								   Is_Completed,
								   IsCardPayment,
								   School_Id,
								   Academic_Year_Id,
								   Is_Late_Fee,
								   Is_Concession_Fee,
								   Is_Directly_Deposited,
								   Is_Arrears,
								   Bank_Id,
								   Is_Deleted,
								   Insert_Date,
								   Inserted_By_id,
								   Update_Date,
								   Updated_By_Id,
								   @StudentFeeId,
								   DepositBankId,
								   ChallanNo,
								   IntervalStartDate,
								   IntervalEndDate,
								   DummySchoolwise_Student_Fee_Id,
								   IsElectronicPayment,
								   AccountHeaderId,
								   AdditionalRemark,
								   0
							  FROM Schoolwise_Student_Fee_Details WITH(NOLOCK)
							 WHERE [Debit/Credit] = 'Debit'
							   AND Is_Deleted = 'N'
							   AND School_Id = @SchoolId
							   AND Academic_Year_Id = @AcademicYearId
							   AND Schoolwise_Student_Fee_Id = @StudentFeeId
							   AND Student_Id = @tblStudentId
						END

				 DELETE FROM @tblStudentFeeDetails 
				       WHERE Id = @tblId
					     AND StudentFeeId = @StudentFeeId
						 AND StudentId = @tblStudentId
			END
	        
	   UPDATE Schoolwise_Late_Fee_Details   
		  SET Is_Deleted = N'N',
			  Update_Date = dbo.GetLocalDate(DEFAULT),
			  Updated_By_Id = @StudentID  
		WHERE Student_Fee_Id IN   
			 (SELECT Student_Fee_Id   
				FROM Schoolwise_Student_Fee_Details WITH(NOLOCK)   
			   WHERE Student_Id = @StudentID   
				 AND School_Id = @SchoolId   
				 AND Academic_Year_Id = @AcademicYearId   
				 AND NetBankingPaymentTransactionID = @TransactionId   
				 AND Student_Fee_Id IS NOT NULL   
				 AND Student_Fee_Id <> 0  
			 )      
	  	  		
	   -- Here we get the total paid amount to return the values expected from procedure.   
	   SELECT @PaidAmount = SUM(Amount)
	          ,@RecieptNo = Receipt_Number
	   	 FROM Schoolwise_Student_Fee_Details WITH(NOLOCK) 
		WHERE Student_Id = @StudentID   
		  AND School_Id = @SchoolId   
		  AND Academic_Year_Id = @AcademicYearId   
		  AND NetBankingPaymentTransactionID = @TransactionId  
		  AND Is_Completed = 1   
		  AND Is_Deleted = N'N'   
		  AND [Debit/Credit]= N'Credit' 
		  AND Is_Concession_Fee='N'
		  GROUP BY Receipt_Number
     

	  DECLARE @ConcessionAmount INT
	  SELECT @ConcessionAmount=Amount
        FROM Schoolwise_Student_Fee_Details WITH(NOLOCK) 
		WHERE Student_Id = @StudentID   
		  AND School_Id = @SchoolId   
		  AND Academic_Year_Id = @AcademicYearId   
		  AND Is_Concession_Fee='Y'
		 AND Receipt_Number = @RecieptNo

		 
		 IF(@ConcessionAmount is NULL)
		 BEGIN
		 SET @ConcessionAmount=0
		 END

		  SET @PaidAmount= @PaidAmount - @ConcessionAmount

	   SELECT TOP 1 @Remarks = Remarks
		 FROM Schoolwise_Student_Fee_Details WITH(NOLOCK) 
		WHERE Student_Id = @StudentID   
		  AND School_Id = @SchoolId   
		  AND Academic_Year_Id = @AcademicYearId   
		  AND NetBankingPaymentTransactionID = @TransactionId  
		  AND Is_Completed = 1   
		  AND Is_Deleted = N'N'   
		  AND [Debit/Credit]= N'Credit' 
		  AND Is_Concession_Fee='N'
		  and Remarks <> ''	 
		 
	  END     
	    
	  SELECT @UserID = User_Master.User_Id  
		FROM User_Master WITH(NOLOCK)  
	 INNER JOIN User_Role_Master WITH(NOLOCK)  
	   ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id  
	   WHERE User_Role_Master.Is_Admin = N'Y'   
		 AND User_Master.School_Id = @SchoolId   
		 AND User_Role_Master.Is_Deleted = N'N'   
		 AND User_Master.Is_Deleted = N'N'   
		 AND User_Master.IsSuperAdmin = 0  
	       
	  SELECT @PaidAmount AS PaidAmount,@UserID AS AdminUserId     

			Declare @SenderUserId int

		  SELECT @SenderUserId=User_Id
			FROM YearWise_Student_Details YSD
			INNER JOIN SchoolWise_Student_Master SSM
			ON YSD.Student_Id = SSM.SchoolWise_Student_Id
			WHERE YearWise_Student_Id = @StudentID
			AND YSD.Is_Deleted = 'N'
			AND YSD.School_Id = @SchoolId

	--@PaidAmount

          EXEC Usp_SendOnlinePaymentNotification @SchoolId,@AcademicYearId,@SenderUserId,1, @Remarks
	 END  

 COMMIT TRANSACTION	 
 END TRY
 BEGIN CATCH
	ROLLBACK TRANSACTION 
	
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
	RAISERROR(@ErrorMessage,16,1)

 END CATCH

--raiserror('Test Error',16,1)

--COMMIT TRANSACTION
--END TRY
--BEGIN CATCH
--PRINT ERROR_MESSAGE()
--ROLLBACK TRANSACTION
--END CATCH 
END