/****** Object:  StoredProcedure [dbo].[usp_GetAcademicYearForStudentAssessment]    Script Date: 02-04-2026 13:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 03 Apr 2025
-- Description:	This USP is used to fill academic year drodown for student assessment screen.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAcademicYearForStudentAssessment] 
	@SchoolId INT,
	@StudentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		DECLARE @SchoolwiseStudentId INT, @OldStudentId INT, @AcademicYearId INT, @OldStandardId INT

		SELECT @SchoolwiseStudentId = Student_Id
		  FROM YearWise_Student_Details
		 WHERE YearWise_Student_Id = @StudentId
		   AND Is_Deleted = 'N'

		DECLARE @tblAcademicYearDetails AS TABLE
		(
			AcademicYearId INT,
			AcademicYear NVARCHAR(50)
		)
		INSERT INTO @tblAcademicYearDetails
		SELECT TOP 1 SAYM.Academic_Year_ID AS AcademicYearId, 
		       (CAST(YEAR(Start_date) AS NVARCHAR(4)) +N' - '+ CAST(YEAR(End_Date) AS NVARCHAR(4))) AS AcademicYear    
          FROM SchoolWise_Academic_Year_Master SAYM
	INNER JOIN YearWise_Student_Details YSD
			ON YSD.Academic_Year_ID = SAYM.Academic_Year_ID
		 WHERE SAYM.School_Id = @SchoolId 
		   AND SAYM.Is_Deleted = 'N'
		   AND YSD.Is_Deleted = 'N'		   
		   AND ysd.Student_Id = @SchoolwiseStudentId
		   AND ((@SchoolId <> 122 AND SAYM.Academic_Year_ID < 
		   (
				select Academic_Year_ID
				from SchoolWise_Academic_Year_Master
				where School_Id = @SchoolId
				and Is_Deleted = 'N'
				and Is_Current_Year = 'Y'
		   )) OR (@SchoolId = 122 AND SAYM.Academic_Year_ID < 
		   (
				select Academic_Year_ID
				from SchoolWise_Academic_Year_Master
				where School_Id = @SchoolId
				and Is_Deleted = 'N'
				and Is_Current_Year = 'Y'
		   )))
		   ORDER BY SAYM.Academic_Year_ID DESC

		SELECT @AcademicYearId = AcademicYearId
		  FROM @tblAcademicYearDetails

		SELECT @OldStudentId = YearWise_Student_Id,
			   @OldStandardId = Standard_Id
		  FROM YearWise_Student_Details
		 WHERE Academic_Year_ID = @AcademicYearId
		   AND Student_Id = @SchoolwiseStudentId
		   AND Is_Deleted = 'N'

		SELECT @OldStudentId as OldStudentId,@OldStandardId AS OldStandardId, * from @tblAcademicYearDetails group by AcademicYear, AcademicYearId
END