/****** Object:  StoredProcedure [dbo].[usp_CopyTestConfiguration]    Script Date: 04-08-2026 11:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author		: Pallavi
-- Create date	: 28-Dec-2007
-- Description	: To copy Text configuration from one subject to other subject.
-- ================================================================================================
ALTER PROCEDURE  [dbo].[usp_CopyTestConfiguration]
	@iSource_StandardDivision_Id INT, 
	@iSource_Subject_Id INT, 
	@sStandardDivisionSubjectIds XML,
	@iCurrentUserId int,
	@iAcademicYearId int,
	@STestwiseSubjectId Nvarchar(max) = ''
AS
BEGIN
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @TestConfigurationTable TABLE
	(
			Standard_Division_Id INT,
			Subject_Id int
	)
	 CREATE TABLE #tblSubMarks
    (
    TestWise_Subject_Marks_Id int
    )
    
    INSERT INTO #tblSubMarks
    SELECT Ids 
    FROM dbo.udf_GetTableFromList(@STestwiseSubjectId) 

	-- Insert all configuration Information
	INSERT INTO @TestConfigurationTable
	(
		Standard_Division_Id,
		Subject_Id
	)
	SELECT T.c.value('./@Standard_Division_Id','INT'),
		   T.c.value('./@Subject_Id','INT')
      FROM @sStandardDivisionSubjectIds.nodes('TestConfiguarations/TestConfiguaration') T(c) 

  DECLARE @tbl_Ids TABLE
	(
	   TestWise_Subject_Marks_Id int
	)

	INSERT INTO @tbl_Ids
	SELECT STSNew.TestWise_Subject_Marks_Id
    FROM #tblSubMarks ttl 
	inner join SchoolWise_Test_Subject_Marks_Master STSMM
	        on STSMM.TestWise_Subject_Marks_Id=ttl.TestWise_Subject_Marks_Id
	inner join SchoolWise_Test_Subject_Marks_Master STSNew
	on  stsmm.SchoolWise_Test_Id = STSNew.SchoolWise_Test_Id
	and stsmm.Academic_Year_Id = STSNew.Academic_Year_Id
	inner join @TestConfigurationTable tst
    on STSNew.Standard_Division_Id = tst.Standard_Division_Id
	and STSNew.Subject_Id = tst.Subject_Id
	where STSMM.Is_Deleted = 'N'
	and STSNew.Is_Deleted = 'N'
	and STSNew.Academic_Year_Id = @iAcademicYearId

	declare @RI NVARCHAR(1000)
	SET @RI = 
	(
		SELECT ','+(vsd.className+'('+stm.SchoolWise_Test_Name+'-'+sm.Subject_Name+')')
		FROM SchoolWise_Student_Test_Marks SSTM
		INNER JOIN @tbl_Ids TI
		ON SSTM.TestWise_Subject_Marks_Id = TI.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN vw_standard_division VSD
		ON STSMM.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
		AND SSTM.Academic_Year_Id = STSMM.Academic_Year_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		inner join SchoolWise_Test_Master stm
		on stsmm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
		WHERE SSTM.Academic_Year_Id = @iAcademicYearId
		AND SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		and SM.Is_Deleted = 'N'
		and stm.Is_Deleted = 'N'
		group by vsd.className,stm.SchoolWise_Test_Name,sm.Subject_Name
		FOR XML PATH('')
	)

	IF LEN(@RI) > 0
		SET @RI = SUBSTRING(@RI,2,LEN(@RI))

	IF @RI <> ''
	BEGIN
		DECLARE @MSG NVARCHAR(1000)
		set @MSG = 'You cannot modifiy exam configuration since mark assignment is done for '+@RI
		RAISERROR(@MSG,16,1)
	END
	ELSE
	BEGIN

		DECLARE @tblStandard_Ids TABLE
		(
		   Standard_id INT
		)
		INSERT INTO @tblstandard_Ids
		(
			Standard_id
		)
			SELECT DISTINCT VWSD.Standard_Id
			FROM   dbo.vw_standard_division AS VWSD
			WHERE  (SchoolWise_Standard_Division_Id 
			   IN (
				   SELECT Standard_Division_Id
					 FROM @TestConfigurationTable
				 ))
	

		DECLARE @Count INT,
				@Standard_id INT
			
		DECLARE @tblInvalidStandards TABLE
		(
			InvalidStandards NVARCHAR(50),
			IsCoCurrucular BIT
		)

		IF EXISTS(SELECT TOP 1 Standard_id FROM @tblstandard_Ids)
			BEGIN
				SELECT @Count = COUNT(Standard_id) FROM @tblstandard_Ids
			
				WHILE @Count > 0
				BEGIN
					SELECT TOP 1 @Standard_id = Standard_id FROM @tblstandard_Ids
				
					IF NOT EXISTS
					(
						SELECT  TOP 1 1 
						FROM Marks_Grades_Configuration 
						WHERE Standard_id = @Standard_id 
						AND IsForCoCurricularSubjects = 0
					)
					BEGIN
						INSERT INTO @tblInvalidStandards
						(
							InvalidStandards,
							IsCoCurrucular
						)
						SELECT  Standard_Name, 0
						FROM  dbo.Standard_master
						WHERE  Standard_Id = @Standard_id
					END
				
					IF NOT EXISTS
					(
						SELECT  TOP 1 1 
						FROM Marks_Grades_Configuration 
						WHERE Standard_id = @Standard_id 
						AND IsForCoCurricularSubjects = 1
					)
					BEGIN
						INSERT INTO @tblInvalidStandards
						(
							InvalidStandards,
							IsCoCurrucular
						)
						SELECT  Standard_Name, 1
						FROM  dbo.Standard_master
						WHERE  Standard_Id = @Standard_id
					END
				
					DELETE FROM @tblstandard_Ids
					WHERE Standard_id = @Standard_id
				
					SELECT @Count = COUNT(Standard_id) FROM @tblstandard_Ids
				END
			END	
		IF NOT EXISTS
		(
			SELECT TOP 1 1
			FROM @tblInvalidStandards
		)
		BEGIN
	-- Update result factor for each subject 
		UPDATE dbo.Schoolwise_Division_Subject_Master 
		   SET Result_Factor = (SELECT SDSM.Result_Factor
								  FROM dbo.Schoolwise_Division_Subject_Master SDSM
								 WHERE SDSM.Standard_Division_Id = @iSource_StandardDivision_Id
								   AND SDSM.Subject_Id = @iSource_Subject_Id
								   AND SDSM.Is_Deleted = 'N'
								   )
			  ,Total_Consideration = (SELECT SDSM.Total_Consideration
										FROM dbo.Schoolwise_Division_Subject_Master SDSM
									   WHERE SDSM.Standard_Division_Id = @iSource_StandardDivision_Id
										 AND SDSM.Subject_Id = @iSource_Subject_Id
										 AND SDSM.Is_Deleted = 'N'
										)
		  FROM dbo.Schoolwise_Division_Subject_Master SDSM
	INNER JOIN @TestConfigurationTable TCT
			ON SDSM.Standard_Division_Id = TCT.Standard_Division_Id
		   AND SDSM.Subject_Id = TCT.Subject_Id
		   WHERE SDSM.Is_Deleted = 'N'

		-- Delete all records from details table for the target standard-division id.
		DELETE dbo.SchoolWise_Test_Subject_Marks_Details
		  FROM dbo.SchoolWise_Test_Subject_Marks_Details
	INNER JOIN dbo.SchoolWise_Test_Subject_Marks_Master
			ON dbo.SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = dbo.SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	INNER JOIN @TestConfigurationTable TCT
			ON dbo.SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = TCT.Standard_Division_Id
		   AND dbo.SchoolWise_Test_Subject_Marks_Master.Subject_Id = TCT.Subject_Id	
	inner join @tbl_Ids TestSubId
		on SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = TestSubId.TestWise_Subject_Marks_Id

		-- Delete all records from master table for the target standard-division id.
		DELETE dbo.SchoolWise_Test_Subject_Marks_Master
		  FROM dbo.SchoolWise_Test_Subject_Marks_Master
	INNER JOIN @TestConfigurationTable TCT
			ON dbo.SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = TCT.Standard_Division_Id
		   AND dbo.SchoolWise_Test_Subject_Marks_Master.Subject_Id = TCT.Subject_Id
	inner join @tbl_Ids TestSubId
		on SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = TestSubId.TestWise_Subject_Marks_Id

		--SELECT * FROM @TestConfigurationTable
	
		-- Insert into all master.
		INSERT dbo.SchoolWise_Test_Subject_Marks_Master
		(
			School_Id,
			Academic_Year_Id,
			Standard_Division_Id,
			Subject_Id,
			SchoolWise_Test_Id,
			Grade_Or_Marks,
			Subject_Total_Marks,
			Passing_Total_Marks,
			Passing_Grade_Id,
			OutOfMarks,
			IsExamStatusApplicable,
			DisplayGrade,
			Result_Consideration,
			Inserted_By_id,
			Updated_By_Id,
			AllowDecimal
		)
		SELECT STSMM.School_Id
			  ,@iAcademicYearId
			  ,TCT.Standard_Division_Id
			  ,TCT.Subject_Id
			  ,STSMM.SchoolWise_Test_Id
			  ,STSMM.Grade_Or_Marks
			  ,STSMM.Subject_Total_Marks
			  ,STSMM.Passing_Total_Marks
			  ,[dbo].[UDF_MarksGradesConfigurationDetailID](MGCDa.Marks_Grades_Configuration_Detail_ID, TCT.Standard_Division_Id, TCT.Subject_Id)
			  ,STSMM.OutOfMarks
			  ,STSMM.IsExamStatusApplicable
			  ,STSMM.DisplayGrade
			  ,STSMM.Result_Consideration
			  ,@iCurrentUserId
			  ,@iCurrentUserId
			  ,AllowDecimal
		  FROM dbo.SchoolWise_Standard_Division_Master SSDM
	INNER JOIN dbo.Standard_Master SM
			ON SSDM.Standard_Id = SM.Standard_Id  
	INNER JOIN dbo.Schoolwise_Standard_Test_Master SSTM
			ON SSTM.Standard_Id = SM.Standard_Id  
	INNER JOIN @TestConfigurationTable TCT
			ON TCT.Standard_Division_Id = SSDM.SchoolWise_Standard_Division_Id 
	INNER JOIN dbo.SchoolWise_Test_Subject_Marks_Master STSMM
			ON SSTM.SchoolWise_Test_Id = STSMM.SchoolWise_Test_Id
	LEFT OUTER JOIN dbo.Marks_Grades_Configuration_Details MGCD
			ON STSMM.Passing_Grade_Id = MGCD.Marks_Grades_Configuration_Detail_ID
	LEFT OUTER JOIN dbo.Marks_Grades_Configuration_Details MGCDa
			ON MGCD.Original_Config_Id = MGCDa.Original_Config_Id 
		   AND MGCD.Marks_Grades_Configuration_Detail_ID = MGCDa.Marks_Grades_Configuration_Detail_ID
	LEFT OUTER JOIN dbo.Marks_Grades_Configuration MGC
			ON SM.Standard_Id = MGC.Standard_Id
		   AND SM.School_Id = MGC.School_Id
		   AND SM.academic_Year_Id = MGC.Academic_Year_Id
		   AND MGCDa.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
	INNER JOIN #tblSubMarks TBL 
			on tbl.TestWise_Subject_Marks_Id= STSMM.TestWise_Subject_Marks_Id
		 WHERE STSMM.Standard_Division_Id = @iSource_StandardDivision_Id
		   AND STSMM.Subject_Id = @iSource_Subject_Id
		   AND STSMM.Is_Deleted = N'N'
		   AND SSTM.SchoolWise_Test_Id = STSMM.SchoolWise_Test_Id
	  
		-- Insert into all detail.
		INSERT dbo.SchoolWise_Test_Subject_Marks_Details
		(
			TestWise_Subject_Marks_Id,
			TestType_Id,
			TestType_Total_Marks,
			TestType_Passing_Marks,
			OutOfMarks,
			Inserted_By_id,
			Updated_By_Id
		)
		SELECT STSMM.TestWise_Subject_Marks_Id
			  ,STSMD.TestType_Id
			  ,STSMD.TestType_Total_Marks
			  ,STSMD.TestType_Passing_Marks
			  ,STSMD.OutOfMarks
			  ,@iCurrentUserId
			  ,@iCurrentUserId
		  FROM dbo.SchoolWise_Test_Subject_Marks_Master STSMM
	INNER JOIN @TestConfigurationTable TCT
			ON STSMM.Standard_Division_Id = TCT.Standard_Division_Id
		   AND STSMM.Subject_Id = TCT.Subject_Id
	INNER JOIN dbo.SchoolWise_Test_Subject_Marks_Master STSMMa
			ON STSMM.SchoolWise_Test_Id = STSMMa.SchoolWise_Test_Id
	INNER JOIN dbo.SchoolWise_Test_Subject_Marks_Details STSMD
			ON STSMMa.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
	INNER JOIN #tblSubMarks TBL 
			on tbl.TestWise_Subject_Marks_Id= STSMD.TestWise_Subject_Marks_Id
		 WHERE STSMM.Is_Deleted = N'N'
		   AND STSMMa.Is_Deleted = N'N'
		   AND STSMD.Is_Deleted = N'N'
		   AND STSMMa.Standard_Division_Id = @iSource_StandardDivision_Id
		   AND STSMMa.Subject_Id = @iSource_Subject_Id
		   AND STSMMa.Academic_Year_Id = @iAcademicYearId	   
		END
		ELSE
	
		BEGIN 
		DECLARE @StandardNames NVARCHAR(800),
					@CoStandardNames NVARCHAR(800)
		
			SELECT  @StandardNames = COALESCE (@StandardNames + ', ', '') + InvalidStandards 
			FROM @tblInvalidStandards
			WHERE IsCoCurrucular  = 0
		
			SELECT  @CoStandardNames = COALESCE (@CoStandardNames + ', ', '') + InvalidStandards 
			FROM @tblInvalidStandards
			WHERE IsCoCurrucular  = 1

			DECLARE @sMsg NVARCHAR(1000) = ''	
			IF LTRIM(RTRIM(@StandardNames)) <> ''
				SET @sMsg = N'Please configure Percentage Grades for standards: ' +@StandardNames
		
			IF LTRIM(RTRIM(@CoStandardNames)) <> ''
			BEGIN

				IF @sMsg = ''
				BEGIN
	
					SET @sMsg = N'Please configure Co-Curricular Percentage Grades for standards: ' +@CoStandardNames
				END
				ELSE
				BEGIN
					SET @sMsg = @sMsg + '<br />' + N'Please configure Co-Curricular Percentage Grades for standards: ' +@CoStandardNames
				END

			END	
			RAISERROR(@sMsg,16,1)
		END
	END
END


--go
--declare @p3 xml
--set @p3=convert(xml,N'<TestConfiguarations><TestConfiguaration Standard_Division_Id="785" Subject_Id="1931"/><TestConfiguaration Standard_Division_Id="796" Subject_Id="1931"/><TestConfiguaration Standard_Division_Id="790" Subject_Id="1931"/></TestConfiguarations>')
--exec usp_CopyTestConfiguration @iSource_StandardDivision_Id=777,@iSource_Subject_Id=1931,@sStandardDivisionSubjectIds=@p3,@iCurrentUserId=320,@iAcademicYearId=46
--go