/****** Object:  UserDefinedFunction [Accounts].[udf_GetParticularsForInternalFeeVoucher]    Script Date: 07-07-2026 11:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================================================
-- Author		: Sachin Shinde
-- Create date	: 18-Apr2024
-- Description	: Returns fee particulars for the given student id & receipt no of internal fee.
-- ------------------------------------------------------------------------------------------------
ALTER FUNCTION [Accounts].[udf_GetParticularsForInternalFeeVoucher]
(
	@SchoolId INT,
	@FinancialYearId INT,
	@StudentId INT,
	@ReceiptNo NVARCHAR(50),
	@PaymentMode INT
)
RETURNS @VoucherParticulars TABLE
(
	LedgerId	 INT,
	IsDebit		 BIT,
	Amount		 DECIMAL(18,2),
	IsAdvanceFee BIT
)
AS
BEGIN

	DECLARE @AcademicYearId INT
	
	SELECT @AcademicYearId = AcademicYearId
	FROM InternalFeeDetails
	WHERE Is_Deleted = 0
	AND SchoolId = @SchoolId
	AND Schoolwise_Student_Id = @StudentId
	and ReceiptNo = @ReceiptNo
	and PaymentTypeId = @PaymentMode
	
	DECLARE @FinancialYearStartDate DATE,
			@FinancialYearEndDate   DATE,
			@ChequePayment INT	= 2,
			@CashPayment INT	= 1,
			@CardPayment INT = 3,
			@OnlinePayment INT = 4,			
			@ElectronicPayment INT	= 5,
			@CashInBank INT = 6,
			@JournalVoucher INT = 7
			
	SELECT @FinancialYearStartDate = FYM.StartDate
		  ,@FinancialYearEndDate   = FYM.EndDate
	  FROM Accounts.FinancialYearMaster FYM WITH(NOLOCK)
	 WHERE FYM.FinancialYearId = @FinancialYearId
	   AND FYM.IsDeleted = 0
	
	DECLARE @VoucherParticularsTemp TABLE
	(
		 Id				INT IDENTITY(1,1),
		 LedgerId		INT,
		 IsDebit		BIT,
		 Amount			DECIMAL(18, 2)		 
	)

	INSERT @VoucherParticularsTemp
	SELECT LM.Id		 
		  ,0 AS IsDebit
		  ,SUM(SUBQ.Amount)
	  FROM Accounts.LedgerMaster LM  WITH(NOLOCK)
INNER JOIN (SELECT DISTINCT
				   CASE WHEN LM.Id IS NOT NULL
						THEN LM.Id
						ELSE Accounts.udf_GetLedgerIdForNewInternalFeeType(IFD.SchoolId, IFD.AcademicYearId, @FinancialYearId, IFD.Fee_Type, IFD.Schoolwise_Student_Id, IFD.ReceiptNo)						
					END AS [LedgerId]
				  ,IFD.Amount				  
				  ,IFD.FeeDetailsID				  
			  FROM InternalFeeDetails IFD  WITH(NOLOCK)
   LEFT OUTER JOIN InternalFeeDetails IFD1  WITH(NOLOCK)
				ON IFD.FeeDetailsID = IFD1.InternalFeeDetailsId
   LEFT OUTER JOIN Schoolwise_Debit_Entry_Log SWDEL  WITH(NOLOCK)
				ON IFD1.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
			   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
			   AND IFD.SchoolId = SWDEL.School_Id
			   AND SWDEL.Is_Deleted = 'N'
			   AND SWDEL.IsInternalFee = 1
   LEFT OUTER JOIN Accounts.LedgerMaster LM  WITH(NOLOCK)
				ON SWDEL.LedgerId = ISNULL(LM.OriginalId, LM.Id)
			   AND LM.SchoolId = @SchoolId
			   AND LM.FinancialYearId = @FinancialYearId
			   AND LM.IsDeleted = 0   
			 WHERE IFD.Schoolwise_Student_Id = @StudentId
			   AND IFD.SchoolId = @SchoolId
			   AND IFD.Is_Deleted = 0
			   AND IFD.IsChequeBounced = 'N'
			   AND IFD.AcademicYearId = @AcademicYearId
			   AND IFD.ReceiptNo = @ReceiptNo) AS SUBQ
		ON LM.Id = SUBQ.LedgerId
  GROUP BY LM.Id
		  
	-- Insert entries from the @VoucherParticularsTemp table into the @VoucherParticulars table
	-- which are to be recorded directly to their respective ledgers (i.e. AdvanceFeeType = 0)
	-- The other two types are handled below.
	INSERT @VoucherParticulars
	(
		   LedgerId
		  ,IsDebit
		  ,Amount
		  ,IsAdvanceFee
	)
	SELECT VPT.LedgerId
		  ,VPT.IsDebit
		  ,SUM(VPT.Amount)
		  ,0
	  FROM @VoucherParticularsTemp VPT	 
  GROUP BY VPT.LedgerId
		  ,VPT.IsDebit

			 DECLARE @CurrentAcademicYearId INT
		
			 SET @CurrentAcademicYearId = [DBO].[udf_GetAcademicYearId](@SchoolId,@FinancialYearId)

				DECLARE @AcademicYear NVARCHAR(100)=''
				SELECT @AcademicYear = ' ('+CAST(YEAR(Start_date) AS NVARCHAR(4))+'-'+CAST(RIGHT(YEAR(End_Date),2) AS NVARCHAR(4))+')'
				FROM SchoolWise_Academic_Year_Master
				WHERE School_Id = @SchoolId
				AND Is_Deleted = 'N'
				AND Academic_Year_ID = @AcademicYearId
	
    -- Based on the Mode of Payment passed to the USP, we fetch the fee particular details. 
    -- CASH PAYMENT    
	IF @PaymentMode = @CashPayment
		BEGIN
			DECLARE @Amount DECIMAL(18,2)
		
			SELECT @Amount = SUM(Amount)
			  FROM @VoucherParticulars
			 WHERE IsDebit = 0
			   AND IsAdvanceFee = 0
		
			SELECT @Amount = @Amount - ISNULL(SUM(Amount), 0)
			  FROM @VoucherParticulars
			 WHERE IsDebit = 1
			   AND IsAdvanceFee = 0
	
			INSERT @VoucherParticulars
			(
					LedgerId
					,IsDebit
					,Amount
					,IsAdvanceFee
			)
			SELECT Accounts.udf_GetCashLedgerId(@SchoolId, @FinancialYearId, @StudentId,@ReceiptNo)
					,1
					,@Amount
					,0	
		END
	-- CHEQUE PAYMENT
    ELSE IF @PaymentMode = @ChequePayment
		BEGIN			
			IF (@SchoolId = 71 OR @SchoolId = 11)	--PPSN School Only
				BEGIN
					IF(@AcademicYearId >= @CurrentAcademicYearId)
						BEGIN
							INSERT @VoucherParticulars
							(
								   LedgerId
								  ,IsDebit
								  ,Amount
								  ,IsAdvanceFee
							)
							SELECT IFCD.DepositBankId
								  ,1
								  ,SUM(IFCD.ChequeAmount)
								  ,0
							  FROM InternalFeeDetails IFD  WITH(NOLOCK)
						INNER JOIN InternalFeePDCDetails IFPD  WITH(NOLOCK)
								ON IFD.InternalFeeDetailsId = IFPD.InternalFeeId
						INNER JOIN InternalFeeChequeDetails IFCD  WITH(NOLOCK)
								ON IFPD.PDCId = IFCD.Id
								and IFD.Schoolwise_Student_Id = IFCD.SchoolwiseStudentId
							 WHERE IFD.Schoolwise_Student_Id = @StudentId
							   AND IFD.ReceiptNo = @ReceiptNo
							   AND IFD.AcademicYearId = @AcademicYearId
							   AND IFD.Is_Deleted = 0
							   AND IFD.IsChequeBounced = 'N'
							   AND IFPD.IsDeleted = 0
							   AND IFCD.IsDeleted = 0
							   AND IFD.SchoolId = @SchoolId
						  GROUP BY IFCD.DepositBankId
						END
					ELSE
						BEGIN					
							INSERT @VoucherParticulars
							(
								   LedgerId
								  ,IsDebit
								  ,Amount
								  ,IsAdvanceFee
							)
							SELECT 
									(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = IFCD.DepositBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									),							
								  1
								  ,SUM(IFCD.ChequeAmount)
								  ,0
							  FROM InternalFeeDetails IFD  WITH(NOLOCK)
						INNER JOIN InternalFeePDCDetails IFPD  WITH(NOLOCK)
								ON IFD.InternalFeeDetailsId = IFPD.InternalFeeId
						INNER JOIN InternalFeeChequeDetails IFCD  WITH(NOLOCK)
								ON IFPD.PDCId = IFCD.Id
							   AND IFD.Schoolwise_Student_Id = IFCD.SchoolwiseStudentId
							 WHERE IFD.Schoolwise_Student_Id = @StudentId
							   AND IFD.ReceiptNo = @ReceiptNo
							   AND IFD.AcademicYearId = @AcademicYearId
							   AND IFD.Is_Deleted = 0
							   AND IFD.IsChequeBounced = 'N'
							   AND IFPD.IsDeleted = 0
							   AND IFCD.IsDeleted = 0
							   AND IFD.SchoolId = @SchoolId
						  GROUP BY IFCD.DepositBankId
						END
				END
			ELSE
				BEGIN
					INSERT @VoucherParticulars
					(
							LedgerId
							,IsDebit
							,Amount
							,IsAdvanceFee
					)
					SELECT S.DepositBankId
							  ,1
							 ,SUM(SSF.Amount)						
							  ,0
						  FROM InternalFeeDetails SSF
						  INNER JOIN
						  (
							  SELECT IFD.Schoolwise_Student_Id,IFD.ReceiptNo, IFCD.DepositBankId,IFD.AcademicYearId
								FROM InternalFeeDetails IFD  WITH(NOLOCK)
						INNER JOIN InternalFeePDCDetails IFPD  WITH(NOLOCK)
								ON IFD.InternalFeeDetailsId = IFPD.InternalFeeId
						INNER JOIN InternalFeeChequeDetails IFCD  WITH(NOLOCK)
								ON IFPD.PDCId = IFCD.Id
							   AND IFD.Schoolwise_Student_Id = IFCD.SchoolwiseStudentId
							 WHERE IFD.Schoolwise_Student_Id = @StudentId
							   AND IFD.ReceiptNo = @ReceiptNo
							   AND IFD.AcademicYearId = @AcademicYearId
							   AND IFD.Is_Deleted = 0
							   AND IFD.IsChequeBounced = 'N'
							   AND IFPD.IsDeleted = 0
							   AND IFCD.IsDeleted = 0
							   AND IFD.SchoolId = @SchoolId
							   GROUP BY IFD.Schoolwise_Student_Id,IFD.ReceiptNo, IFCD.DepositBankId,IFD.AcademicYearId
							)S
							ON SSF.Schoolwise_Student_Id = S.Schoolwise_Student_Id
							AND SSF.ReceiptNo = S.ReceiptNo
						 WHERE SSF.Schoolwise_Student_Id = @StudentId
						   AND SSF.ReceiptNo = @ReceiptNo
						   AND SSF.AcademicYearId = @AcademicYearId
						   AND SSF.Is_Deleted = 0
						   AND SSF.IsChequeBounced = 'N'
						   AND SSF.SchoolId = @SchoolId
					  GROUP BY S.DepositBankId
				END
		END
	-- ONLINE PAYMENT
	ELSE IF @PaymentMode = @OnlinePayment
		BEGIN					
			IF ((@SchoolId <> 71 and @SchoolId <> 11) or ((@SchoolId = 71 or @SchoolId = 11) and @AcademicYearId >= @CurrentAcademicYearId))	--PPSN School Only		
		BEGIN	
				INSERT @VoucherParticulars
				(
					   LedgerId
					  ,IsDebit
					  ,Amount
					  ,IsAdvanceFee
				)
				SELECT NBPT.DepositBankId
					  ,1
					  ,SUM(IFD.Amount)
					  ,0
				  FROM InternalFeeDetails IFD  WITH(NOLOCK)
			INNER JOIN NetBankingPaymentTransactions NBPT  WITH(NOLOCK)
					ON IFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				 WHERE IFD.Schoolwise_Student_Id = @StudentId
				   AND IFD.ReceiptNo = @ReceiptNo
				   AND IFD.AcademicYearId = @AcademicYearId
				   AND IFD.Is_Deleted = 0
				   AND IFD.IsChequeBounced = 'N'
				   AND IFD.SchoolId = @SchoolId
			  GROUP BY NBPT.DepositBankId
		END
		ELSE
		BEGIN
				INSERT @VoucherParticulars
				(
					   LedgerId
					  ,IsDebit
					  ,Amount
					  ,IsAdvanceFee
				)
				SELECT 
								(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = NBPT.DepositBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									)
					  ,1
					  ,SUM(IFD.Amount)
					  ,0
				  FROM InternalFeeDetails IFD  WITH(NOLOCK)
			INNER JOIN NetBankingPaymentTransactions NBPT  WITH(NOLOCK)
					ON IFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				 WHERE IFD.Schoolwise_Student_Id = @StudentId
				   AND IFD.ReceiptNo = @ReceiptNo
				   AND IFD.AcademicYearId = @AcademicYearId
				   AND IFD.Is_Deleted = 0
				   AND IFD.IsChequeBounced = 'N'
				   AND IFD.SchoolId = @SchoolId
			  GROUP BY NBPT.DepositBankId

		END
		END
		-- This condition is used to collect electronic payment particulars into voucher particuler table.
		ELSE IF @PaymentMode = @ElectronicPayment
		BEGIN		
			IF ((@SchoolId <> 71 and @SchoolId <> 11) or ((@SchoolId = 71 or @SchoolId = 11) and @AcademicYearId >= @CurrentAcademicYearId))
			BEGIN
					INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT IFEP.DepositedBankId
						  ,1
						  ,SUM(IFEP.Amount)
						  ,0
					  FROM InternalFeeDetails IFD  WITH(NOLOCK)
				INNER JOIN InternalFeeElectronicPayments IFEP  WITH(NOLOCK)
						ON IFD.InternalFeeDetailsId = IFEP.InternalFeeDetailsId
					 WHERE IFD.Schoolwise_Student_Id = @StudentId
					   AND IFD.ReceiptNo = @ReceiptNo
					   AND IFD.AcademicYearId = @AcademicYearId
					   AND IFD.Is_Deleted = 0
					   AND IFD.IsChequeBounced = 'N'
					   AND IFD.SchoolId = @SchoolId
					   AND IFEP.SchoolId= @SchoolId
					   AND IFEP.IsDeleted = 0
				  GROUP BY IFEP.DepositedBankId
		  END
		  ELSE
		  BEGIN
				INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT 
							(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = IFEP.DepositedBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									)
							--IFEP.DepositedBankId
						  ,1
						  ,SUM(IFEP.Amount)
						  ,0
					  FROM InternalFeeDetails IFD  WITH(NOLOCK)
				INNER JOIN InternalFeeElectronicPayments IFEP  WITH(NOLOCK)
						ON IFD.InternalFeeDetailsId = IFEP.InternalFeeDetailsId
					 WHERE IFD.Schoolwise_Student_Id = @StudentId
					   AND IFD.ReceiptNo = @ReceiptNo
					   AND IFD.AcademicYearId = @AcademicYearId
					   AND IFD.Is_Deleted = 0
					   AND IFD.IsChequeBounced = 'N'
					   AND IFD.SchoolId = @SchoolId
					   AND IFEP.SchoolId= @SchoolId
					   AND IFEP.IsDeleted = 0
				  GROUP BY IFEP.DepositedBankId
		  END
		END

	DELETE @VoucherParticulars
	 WHERE Amount <= 0	 
	RETURN
END