/*
   07 April 202610:24:32
   User: sa
   Server: Synergy-SVR007.rit.com\schoolSmoke
   Database: PP
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.StudentMandatoryFieldSubmitStatus
	(
	Id int NOT NULL IDENTITY (1, 1),
	YearwiseStudentId int NOT NULL,
	IsSubmit bit NOT NULL,
	SchoolId int NOT NULL,
	AcademicYearId int NOT NULL,
	InsertedById int NULL,
	InsertedDate datetime NULL,
	IsDeleted bit NOT NULL,
	UpdatedById int NULL,
	UpdatedDate datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.StudentMandatoryFieldSubmitStatus ADD CONSTRAINT
	PK_StudentMandatoryFieldSubmitStatus PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.StudentMandatoryFieldSubmitStatus SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.StudentMandatoryFieldSubmitStatus', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.StudentMandatoryFieldSubmitStatus', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.StudentMandatoryFieldSubmitStatus', 'Object', 'CONTROL') as Contr_Per 