/*
   01 April 202616:45:12
   User: sa
   Server: Synergy-SVR007.rit.com\schoolSmoke
   Database: PP
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TransportModes
	(
	Id int NOT NULL IDENTITY (1, 1),
	ModeName nvarchar(30) NOT NULL,
	IsDeleted bit NOT NULL,
	SchoolId int
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TransportModes ADD CONSTRAINT
	PK_TransportModes PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TransportModes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TransportModes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TransportModes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TransportModes', 'Object', 'CONTROL') as Contr_Per 