/****** Object:  StoredProcedure [dbo].[usp_GetDatewiseFeeDetailsReport_SNS]    Script Date: 23-02-2026 11:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 10 Oct 2016
-- Description:	This USP is USed for get The Datewise Student Fee Paid Details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDatewiseFeeDetailsReport_SNS]
	-- Add the parameters for the stored procedure here
	@School_Id INT,
	@Academic_Year_Id INT,
	@FromDate DATE = NULL,
	@ToDate Date = NULL,
	@Standard_Id NVARCHAR(500) = '',	
	@Original_Fee_Type_Id INT = 0,
	@PayableFor NVARCHAR(100) = '',
	@IncludeConcession INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	if @Original_Fee_Type_Id is null
		set @Original_Fee_Type_Id = 0

	IF @PayableFor IS NULL
		SET @PayableFor = ''

	DECLARE		
		@StandardId INT = 0,
		@DivisionId INT = 0,
		@StudentId INT = 0,
		@AcademicYearId INT,
		@AcademicYear NVARCHAR(50),
		@SchoolwiseStudentId INT = 0,
		@FeeType NVARCHAR(100) = '',
		@Division_Id INT = 0

	DECLARE @tblStandardIds AS TABLE
	(
		StandardId INT
	)	

	IF (@Standard_Id <> '')
		BEGIN				
			INSERT INTO @tblStandardIds
			 SELECT * 
			   FROM dbo.udf_GetTableFromList(@Standard_Id)
		END
	ELSE
		BEGIN			
			INSERT INTO @tblStandardIds
				 SELECT Standard_Id 
				   FROM Standard_Master
				  WHERE academic_Year_Id = @Academic_Year_Id
					AND Is_Deleted = 'N'
					AND School_Id = @School_Id			
		END

		UPDATE tblStandard
		   SET StandardId = SM.Original_Standard_Id
		  FROM @tblStandardIds tblStandard
	INNER JOIN Standard_Master SM
			ON SM.Standard_Id = tblStandard.StandardId
		 WHERE Is_Deleted = 'N'
		   AND School_Id = @School_Id
		   AND academic_Year_Id = @Academic_Year_Id
		
	CREATE TABLE #tblPayableFor
	(
		Value_Member NVARCHAR(100),
		Display_Member NVARCHAR(100)
	)
	
	IF @Original_Fee_Type_Id <> 0 AND @PayableFor = ''
	BEGIN
		INSERT INTO #tblPayableFor
		exec usp_GetFeeTypewisePayableFor @School_Id, @Academic_Year_Id, @Original_Fee_Type_Id
		
		SET @PayableFor = 'Fee Detais' -- IT is necessary to set a default value for this filed so please so not remove this line.
	END
	ELSE
	BEGIN	
		INSERT INTO #tblPayableFor
		SELECT @PayableFor, @PayableFor
	END

	SET @FeeType = ''
	IF @Original_Fee_Type_Id <> 0
	BEGIN
		SELECT @FeeType = Fee_Type
		  FROM Schoolwise_Fee_Type_Configuration WITH(NOLOCK)
		 WHERE School_Id = @School_Id
		   AND Academic_Year_Id = @Academic_Year_Id
		   AND Is_Deleted = 'N'
		   AND Original_Fee_Type_Id = @Original_Fee_Type_Id
	END

	DECLARE @tblStudentFeeDetails AS TABLE
			(
				Schoolwise_Student_Fee_Id INT,
				ClassName NVARCHAR(100),
				Roll_No INT,
				StudentName NVARCHAR(150),
				Student_Id INT,
				Fee_Type NVARCHAR(100),
				Payable_For NVARCHAR(100),
				Standard_Div_Id INT,
				Amount INT,
				PaymentDate DATE,
				PaymentType NVARCHAR(100),
				ClearanceDate DATE,
				AcademicYear NVARCHAR(20),
				AcademicYearId INT,
				OriginalStandardId INT,
				OrigialDivisionId INT,
				TransactionNo  NVARCHAR(30),
				ReceiptNo INT,
				EnrollmentNumber NVARCHAR(50),
				OriginalFeeTypeId INT,
				ChequeNo NVARCHAR(20),
				AccountHeader NVARCHAR(100),
				ChallanNo NVARCHAR(20),
				LateFeeAmount INT,
				IsConcessionEntry BIT,
				IsLateFee CHAR
			)

			DECLARE @tblFeePayments AS TABLE
			(
				Schoolwise_Student_Fee_Id INT,
				Student_Id INT,
				Student_Fee_Id INT,
				ClearanceDate DATE,
				Paid_date DATE,
				Type NVARCHAR(50),
				ChequeNo NVARCHAR(30),
				ReceiptNo INT,
				ChequeNumber NVARCHAR(20),
				ChallanNo NVARCHAR(20)
			)

		  DECLARE @tblAcademicYear AS TABLE
			(
				AcademicYearId INT,
				AcademicYear NVARCHAR(50)
			)

	INSERT INTO @tblAcademicYear
		 SELECT Academic_Year_Id, 
		        CAST(YEAR(Start_Date) AS NVARCHAR(4)) +' - ' +  CAST(YEAR(End_Date) AS NVARCHAR(4))
		   FROM Schoolwise_Academic_Year_Master WITH(NOLOCK)
		  WHERE School_Id = @School_Id
			AND IS_Deleted = 'N'
			--AND Academic_Year_Id = @Academic_Year_Id
			--AND Is_NewlyCreated = 'N'

						-- Netbanking payments
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
					       SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   NBPT.ClearanceDate, 
						   SSFD.Paid_date, 
						   'Netbanking',  
						   NBPT.TPSLTransactionID  as TransactionNo, 
						   SSFD.Receipt_Number,
						   0,
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
				INNER JOIN NetBankingPaymentTransactions NBPT WITH(NOLOCK)
					    ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
					    ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
			    INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN @tblStandardIds SS
				ON SWSDM.Original_Standard_Id = SS.StandardId
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'
					   AND NBPT.TransactionStatus = 'Y'
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   and YSD.Is_RTE_Student = 0	
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)

					-- NEFT Payments
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
					       SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   SEP.ClearanceDate, 
						   SSFD.Paid_date, 
						   'NEFT/RTGS' , 
						   SEP.TransactionNumber as TransactionNo,
						   SSFD.Receipt_Number,
						   0,
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
				INNER JOIN (
						select SSFD.student_Id, SSFD.Receipt_number, SSFD.AccountHeaderId, ssfd.Academic_Year_Id, SEP.ClearanceDate, SEP.TransactionNumber
						FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
						INNER JOIN StudentElectronicPayments SEP WITH(NOLOCK)
								ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
							   AND SSFD.Academic_Year_Id = SEP.AcademicYearId
						INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
								ON SSFD.Student_Id = YSD.Yearwise_Student_Id
							   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
						INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
								ON SWSDM.Standard_Id = YSD.Standard_Id
							   AND SWSDM.Division_Id = ysd.Division_id
						INNER JOIN @tblStandardIds SS
						ON SWSDM.Original_Standard_Id = SS.StandardId
							 WHERE SSFD.School_Id = @School_Id
							   AND SSFD.Is_Deleted = 'N'
							   AND SSFD.[Debit/Credit] = 'Credit'
							   AND SEP.IsDeleted = 0
							   AND SSFD.IsElectronicPayment = 1
							   AND SSFD.Is_Cheque_Bounce = 'N'
							   and YSD.Is_RTE_Student = 0
							   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
							   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
							   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
							   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)
				) SEP
						ON SSFD.student_Id = SEP.student_Id
						and ssfd.Receipt_number = sep.Receipt_number
						and ssfd.AccountHeaderId = sep.AccountHeaderId
					   AND SSFD.Academic_Year_Id = SEP.Academic_Year_Id
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
						ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
				INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN @tblStandardIds SS
				ON SWSDM.Original_Standard_Id = SS.StandardId
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'					 
					   AND SSFD.IsElectronicPayment = 1
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   and YSD.Is_RTE_Student = 0
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)
				
					-- Swipe card payments
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
						   SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   SCPD.Passed_Date AS ClearanceDate, 
						   SSFD.Paid_date, 'Swipe Card', 
						   SCPD.Swap_Number as TransactionNo, 
						   SSFD.Receipt_Number,
						   0,
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
				INNER JOIN (
						select SSFD.student_Id, SSFD.Receipt_number, SSFD.AccountHeaderId, ssfd.Academic_Year_Id, SCPD.Passed_Date, SCPD.Swap_Number
						FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
						INNER JOIN StudentCardPaymentDetails SCPD WITH(NOLOCK)
								ON SSFD.Schoolwise_Student_Fee_Id = SCPD.Schoolwise_Student_Fee_Id
							   AND SSFD.Student_Id = SCPD.Student_Id
							   AND SSFD.Academic_Year_Id = SCPD.Academic_Year_Id
						INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
								ON SSFD.Student_Id = YSD.Yearwise_Student_Id
							   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
						INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
								ON SWSDM.Standard_Id = YSD.Standard_Id
							   AND SWSDM.Division_Id = ysd.Division_id
						INNER JOIN @tblStandardIds SS
						ON SWSDM.Original_Standard_Id = SS.StandardId
							 WHERE SSFD.School_Id = @School_Id
							   AND SSFD.Is_Deleted = 'N'
							   AND SSFD.[Debit/Credit] = 'Credit'
							   AND SCPD.Is_Deleted = 0
							   AND SSFD.Is_Cheque_Bounce = 'N'
							   and YSD.Is_RTE_Student = 0
							   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
							   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
							   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
							   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)
				) SCPD
						ON SSFD.Receipt_number = SCPD.Receipt_number
					   AND SSFD.Student_Id = SCPD.Student_Id
					   AND SSFD.AccountHeaderId = SCPD.AccountHeaderId
					   AND SSFD.Academic_Year_Id = SCPD.Academic_Year_Id
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
					    ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
				INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN @tblStandardIds SS
				ON SWSDM.Original_Standard_Id = SS.StandardId
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'					  
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   and YSD.Is_RTE_Student = 0
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)

					-- Cheque Payments
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
						   SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   tblCheque.Cheque_Passed_Date AS ClearanceDate, 
						   SSFD.Paid_date, 
						   'Cheque', 
						   tblCheque.Cheque_Number as TransactionNo, 
						   SSFD.Receipt_Number,
						   CONVERT(NVARCHAR(20),tblCheque.Cheque_Number),
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD				
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
						ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
				INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN 
				(	
					SELECT SSFD.Student_Id,
					       SSFD.Receipt_Number,
						   SSPC.Cheque_Passed_Date,
						   SSPC.Cheque_Number
				      FROM Schoolwise_Student_Fee_Details SSFD
				INNER JOIN Schoolwise_Student_PostDatedCheques SSPC WITH(NOLOCK)
						ON SSFD.Student_Id = SSPC.Student_Id
					   AND SSFD.Academic_Year_Id = SSPC.Academic_Year_Id
				INNER JOIN Student_Fee_PDC_Details SFPD WITH(NOLOCK)
						ON SSPC.PostDated_Cheque_Id = SFPD.PDC_Id
					   AND SSFD.Schoolwise_Student_Fee_Id = SFPD.Schoolwise_Student_Fee_Id
					   AND SSFD.Academic_Year_Id = SFPD.Academic_Year_Id								
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'
					   AND SSPC.Is_Deleted = 'N'
					   AND SFPD.Is_Deleted = 'N'
					   AND SSPC.Is_Cheque_Bounce = 'N'
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)
				  GROUP BY SSFD.Student_Id,
					       SSFD.Receipt_Number,
						   SSPC.Cheque_Passed_Date,
						   SSPC.Cheque_Number
				) tblCheque
						ON SSFD.Student_Id = tblCheque.Student_Id
					   AND SSFD.Receipt_Number = tblCheque.Receipt_Number
					INNER JOIN @tblStandardIds SS
					ON SWSDM.Original_Standard_Id = SS.StandardId
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'					   
					   AND SSFD.Is_Cheque_Bounce = 'N'	
					   and YSD.Is_RTE_Student = 0
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)

					-- Directly deposited cash
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
					       SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   CCP.ClearanceDate, 
						   SSFD.Paid_date, 
						   'Directly Deposited Cash',
						   SSFD.ChallanNo As TransactionNo, 
						   SSFD.Receipt_Number,
						   '0',
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
				INNER JOIN ClearedCashPayment CCP  WITH(NOLOCK)
					    ON SSFD.Receipt_Number = CCP.ReceiptNo
					   AND SSFD.Academic_Year_Id = CCP.Academic_Year_Id
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
					    ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
				INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN @tblStandardIds SS
						ON SWSDM.Original_Standard_Id = SS.StandardId
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'
					   AND CCP.Is_Deleted = 0
					   AND SSFD.Is_Cheque_Bounce = 'N'	
					   and YSD.Is_RTE_Student = 0
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)
					-- cash
			   INSERT INTO @tblFeePayments
					SELECT SSFD.Schoolwise_Student_Fee_Id, 
					       SSFD.Student_Id, 
						   SSFD.Student_Fee_Id,
						   NULL, 
						   SSFD.Paid_date, 
						   'Cash',
						   SSFD.ChallanNo As TransactionNo, 
						   SSFD.Receipt_Number,
						   '0',
						   CASE WHEN(SSFD.ChallanNo = '' OR SSFD.ChallanNo IS NULL) 
								THEN '-' 
								ELSE SSFD.ChallanNo END
					  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)				
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
					    ON SSFD.Student_Id = YSD.Yearwise_Student_Id
					   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id
				INNER JOIN vw_standard_division SWSDM WITH(NOLOCK)
						ON SWSDM.Standard_Id = YSD.Standard_Id
					   AND SWSDM.Division_Id = ysd.Division_id
				INNER JOIN @tblStandardIds SS
						ON SWSDM.Original_Standard_Id = SS.StandardId
				LEFT OUTER JOIN @tblFeePayments TFP
					ON SSFD.Student_Id = TFP.Student_Id
					AND SSFD.Receipt_NUmber =TFP.ReceiptNo
					and ssfd.Schoolwise_Student_Fee_Id =  TFP.Schoolwise_Student_Fee_Id
					 WHERE SSFD.School_Id = @School_Id
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.[Debit/Credit] = 'Credit'
					   and TFP.Student_Id IS NULL
					  -- AND CCP.Is_Deleted = 0
					   AND SSFD.Is_Cheque_Bounce = 'N'	
					   and YSD.Is_RTE_Student = 0
					   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
					   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
					   AND CONVERT(date, SSFD.Paid_Date) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,SSFD.Paid_Date) <= CONVERT(DATE,@ToDate)

			--SELECT @AcademicYear = CAST(YEAR(Start_Date) AS NVARCHAR(4)) +' - ' +  CAST(YEAR(End_Date) AS NVARCHAR(4))
			--  FROM SchoolWise_Academic_Year_Master
			-- WHERE Academic_Year_ID = @Academic_Year_Id
			--   AND Is_Deleted = 'N'			   

							INSERT INTO @tblStudentFeeDetails
									(
										Schoolwise_Student_Fee_Id,
										ClassName ,
										Roll_No ,
										StudentName ,
										Student_Id ,
										Fee_Type ,
										Payable_For ,
										Standard_Div_Id ,
										Amount,
										AcademicYear,
										AcademicYearId,
										OriginalStandardId,
										OrigialDivisionId,
										EnrollmentNumber,
										OriginalFeeTypeId,
										ChequeNo,
										AccountHeader,
										ChallanNo,
										LateFeeAmount,
										IsLateFee
									)	
									SELECT ssfd.Schoolwise_Student_Fee_Id, 
										   VSD.ClassName, 
										   YSD.Roll_No,
										   VBS.StudentName, 
										   SSFD.Student_Id, 
										   SSFD.Fee_Type, 
										   SSFD.Payable_For, 
										   SSFD.Standard_Div_Id, 
										   SSFD.Amount, 
										   TA.AcademicYear,
										   --@AcademicYear, 
										   --@Academic_Year_Id,
										   ssfd.Academic_Year_Id,
										   VSD.Original_Standard_Id, 
										   VSD.Original_Division_Id, 
										   vbs.Enrolment_Number,
										   @Original_Fee_Type_Id,
										   '0',
										   CASE WHEN (@FeeType = '') THEN '-' 
										        ELSE AHM.AccountHeaderName END,
										   '-',
										   0,
										   SSFD.Is_Late_Fee
									  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
								INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
										ON SSFD.Student_Id = YSD.Yearwise_Student_Id									   
								INNER JOIN vw_Standard_Division VSD WITH(NOLOCK)
										ON YSD.Standard_Id = VSD.Standard_Id
									   AND YSD.Division_Id = VSD.Division_Id
								INNER JOIN vw_BaseStudentDetails VBS WITH(NOLOCK)
										ON YSD.Student_Id = VBS.Schoolwise_Student_Id
							    INNER JOIN AccountHeaderMaster AHM
										ON AHM.AccountHeaderId = SSFD.AccountHeaderId
									   AND AHM.SchoolId = SSFD.School_Id		
								INNER JOIN @tblStandardIds SS
										ON VSD.Original_Standard_Id = SS.StandardId		
								 INNER JOIN @tblFeePayments S
									  ON SSFD.Schoolwise_Student_Fee_Id = S.Student_Fee_Id
									 AND SSFD.Student_Id = S.Student_Id		
								INNER JOIN @tblAcademicYear TA
										ON SSFD.Academic_Year_Id = TA.AcademicYearId
									 WHERE SSFD.School_Id = @School_Id									   
									   AND SSFD.Is_Deleted = 'N'
									   AND SSFD.[Debit/Credit] = 'Debit'
									   and YSD.Is_RTE_Student = 0
									   AND (SSFD.Fee_Type = @FeeType OR @FeeType = '')
									   AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
									   AND SSFD.Is_Cheque_Bounce = 'N'									   
								  ORDER BY VSD.Original_Standard_Id, 
										   VSD.Original_Division_Id, 
										   YSD.Roll_No

								  UPDATE SFD
									 SET PaymentDate = S.Paid_date,
										 PaymentType = S.Type,
										 ClearanceDate = S.ClearanceDate,
										 TransactionNo = S.ChequeNo,
										 ReceiptNo = S.ReceiptNo,
										 ChequeNo = CONVERT(NVARCHAR(20), S.ChequeNumber),
										 ChallanNo = S.ChallanNo
									FROM @tblStudentFeeDetails SFD
							  INNER JOIN @tblFeePayments S
									  ON SFD.Schoolwise_Student_Fee_Id = S.Student_Fee_Id
									 AND SFD.Student_Id = S.Student_Id
				
								  UPDATE SFD
									 SET LateFeeAmount = S.Amount
									FROM @tblStudentFeeDetails SFD
							  INNER JOIN 
										 (
											SELECT SSFD.Schoolwise_Student_Fee_Id, 
												   SSFD.Student_Id, 
												   SSFD.Student_Fee_Id,
												   SSFD.Paid_date AS ClearanceDate, 
												   SSFD.Paid_date, 
												   'Cash' AS Type, 
												   SSFD.Receipt_Number, 
												   ssfd.Amount,
												   SSFD.ChallanNo,
 												   CASE WHEN PATINDEX('%,%',SSFD.Payable_For) > 0 THEN SUBSTRING(SSFD.Payable_For,1,PATINDEX('%,%',SSFD.Payable_For)-1) ELSE SSFD.Payable_For END AS Payable_For
											  FROM Schoolwise_Student_Fee_Details SSFD
										INNER JOIN Yearwise_Student_Details YSD
												ON SSFD.Student_Id = YSD.Yearwise_Student_Id										
										INNER JOIN vw_Standard_Division vwSD
												ON vwSD.Standard_Id = YSD.Standard_Id
											   AND vwSD.Division_Id = YSD.Division_id
										INNER JOIN @tblStandardIds SS
												ON vwSD.Original_Standard_Id = SS.StandardId
								   LEFT OUTER JOIN
												(
														SELECT Schoolwise_Student_Fee_Id
														  FROM @tblFeePayments
													  GROUP BY Schoolwise_Student_Fee_Id
												)TFP
												 ON SSFD.Schoolwise_Student_Fee_Id = TFP.Schoolwise_Student_Fee_Id
											  WHERE SSFD.School_Id = @School_Id										
												AND SSFD.Is_Deleted = 'N'
												AND SSFD.[Debit/Credit] = 'Credit'
												AND SSFD.Is_Cheque_Bounce = 'N'	
												and YSD.Is_RTE_Student = 0
												--AND (SSFD.Payable_For IN (SELECT Display_Member FROM #tblPayableFor) OR @PayableFor = '')
												--AND TFP.Schoolwise_Student_Fee_Id IS NULL
												AND SSFD.Is_Late_Fee = 'Y'
										)S
									 ON SFD.ReceiptNo = S.Receipt_Number
								    AND SFD.Student_Id = S.Student_Id									
								    AND SFD.Payable_For = S.Payable_For


									--UPDATE SFD
									--SET LateFeeAmount = S.Amount
									--FROM @tblStudentFeeDetails SFD
									--INNER JOIN 
									--(
									--	 select student_id,payable_for,receiptNo,SUM(Amount) AS Amount
									--	 from @tblStudentFeeDetails
									--	 where islatefee = 'Y'
									--	 GROUP BY student_id,payable_for,receiptNo
									-- )S
									--  ON 
									--  SFD.ReceiptNo = S.receiptNo
									--  AND SFD.Student_Id = S.Student_Id								   
									--  AND SFD.Payable_For = S.Payable_For

								   DELETE from @tblStudentFeeDetails
								   where islatefee = 'Y'

		IF(@IncludeConcession = 0)
			BEGIN
				SELECT Schoolwise_Student_Fee_Id,
			       ClassName,
				   Roll_No,
				   StudentName,
				   TPA.Student_Id,
				   TPA.Fee_Type,
				   TPA.Payable_For,
				   Standard_Div_Id,
				   tpa.Amount,
				   PaymentDate,
				   PaymentType,
				   ClearanceDate,
				   AcademicYear,
				   AcademicYearId,
				   OriginalStandardId,
				   OrigialDivisionId,
				   TransactionNo,
				   CASE WHEN ReceiptNo < 0 THEN 0
				        ELSE ReceiptNo
						END AS ReceiptNo,
				   EnrollmentNumber,
				   OriginalFeeTypeId,
				   ChequeNo,
				   AccountHeader,
				   CASE WHEN ChallanNo IS NULL OR ChallanNo = '' THEN '-' ELSE ChallanNo END AS ChallanNo,
				   LateFeeAmount,
				   TPA.Amount + LateFeeAmount AS TotalAmount 
				FROM @tblStudentFeeDetails TPA
				LEFT OUTER JOIN
				(
						  SELECT YWSD.Standard_Id, 
								 ssfd.Student_Id, 
								 Fee_Type, 
								 Payable_For,
								 Amount,
								 SSFD.Receipt_Number,
								 SSFD.Academic_Year_Id
							FROM Schoolwise_Student_Fee_Details SSFD
					  INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
							  ON SSFD.Student_Id = YWSD.YearWise_Student_Id
					INNER JOIN vw_Standard_Division VSD
								ON YWSD.Standard_Id = vsd.Standard_Id
								and YWSD.Division_Id = vsd.Division_Id
							INNER JOIN @tblStandardIds SS
									ON VSD.Original_Standard_Id = SS.StandardId
					  INNER JOIN
							(
								SELECT SWSFD.Student_Id,
									   SWSFD.Receipt_Number,
									   SWSFD.Academic_Year_Id
								  FROM Schoolwise_Student_Fee_Details SWSFD WITH(NOLOCK)
							INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
									ON SWSFD.Student_Id = YWSD.YearWise_Student_Id	
							INNER JOIN vw_Standard_Division VSD
								ON YWSD.Standard_Id = vsd.Standard_Id
								and YWSD.Division_Id = vsd.Division_Id
							INNER JOIN @tblStandardIds SS
									ON VSD.Original_Standard_Id = SS.StandardId					
								 WHERE 
								 --SWSFD.Academic_Year_Id = @Academic_Year_Id
								   --AND 
								   SWSFD.School_Id = @School_Id
								   AND SWSFD.[Debit/Credit] = 'Credit'
								   AND SWSFD.Is_Deleted = 'N'
								   --AND YWSD.Academic_Year_ID = @Academic_Year_Id
								   AND YWSD.School_Id = @School_Id
								   AND YWSD.Is_Deleted = 'N'	
								   AND SWSFD.Is_Concession_Fee = 'Y'		
								   AND  CONVERT(date, Paid_Date) >= CONVERT(date,@FromDate)
								   AND CONVERT(DATE,Paid_Date) <= CONVERT(DATE,@ToDate)						  
							)S
							 ON SSFD.Student_Id = S.Student_Id
							AND ssfd.Receipt_Number = S.Receipt_Number				 
							AND SSFD.Academic_Year_Id = S.Academic_Year_Id
						  WHERE --SSFD.Academic_Year_Id = @Academic_Year_Id
							--AND 
							SSFD.Is_Deleted = 'N'
							AND SSFD.School_Id = @School_Id
							and Is_Concession_Fee = 'N'
				)TFC
				ON TPA.Student_Id = TFC.Student_Id
				AND TPA.Fee_Type = TFC.Fee_Type
				AND TPA.Payable_For = TFC.Payable_For
				AND TPA.Amount = TFC.Amount			
				AND TPA.ReceiptNo = TFC.Receipt_Number
				AND TPA.AcademicYearId = TFC.Academic_Year_Id
			  WHERE CONVERT(date, PaymentDate) >= CONVERT(date,@FromDate)
			   AND CONVERT(DATE,PaymentDate) <= CONVERT(DATE,@ToDate)
			   AND TFC.Student_Id IS NULL
				ORDER BY ReceiptNo
			 END
			 ELSE
			 BEGIN
					SELECT Schoolwise_Student_Fee_Id,
						   ClassName,
						   Roll_No,
						   StudentName,
						   Student_Id,
						   Fee_Type,
						   Payable_For,
						   Standard_Div_Id,
						   Amount,
						   PaymentDate,
						   PaymentType,
						   ClearanceDate,
						   AcademicYear,
						   AcademicYearId,
						   OriginalStandardId,
						   OrigialDivisionId,
						   TransactionNo,
						   CASE WHEN ReceiptNo < 0 THEN 0
								ELSE ReceiptNo
								END AS ReceiptNo,
						   EnrollmentNumber,
						   OriginalFeeTypeId,
						   ChequeNo,
						   AccountHeader,
						   CASE WHEN ChallanNo IS NULL OR ChallanNo = '' THEN '-' ELSE ChallanNo END AS ChallanNo,
						   LateFeeAmount,
						   Amount + LateFeeAmount AS TotalAmount 
					  FROM @tblStudentFeeDetails	
					 WHERE CONVERT(date, PaymentDate) >= CONVERT(date,@FromDate)
					   AND CONVERT(DATE,PaymentDate) <= CONVERT(DATE,@ToDate)
				  ORDER BY ReceiptNo
		  END
END