/****** Object:  StoredProcedure [dbo].[usp_GetDetailsForPrePrimaryReport]    Script Date: 18-02-2026 17:52:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 19 Aug 2025
-- Description:	This USP is used to get details for Pre-Primary report.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDetailsForPrePrimaryReport]
   @School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT = 0,
    @Term_Id INT = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT @Division_Id = Division_Id
		from vw_standard_division
		where academic_year_id = @Academic_Year_Id
		and School_Id = @School_Id
		and SchoolWise_Standard_Division_Id = @Division_Id

		DECLARE @PrincipalName NVARCHAR(100),
				@ClassTeacherName NVARCHAR(100),
				@FirstTermTestId INT,
				@SecondTermTestId INT,
				@Attendance NVARCHAR(50)= '',
				@Remark NVARCHAR(500)= '',
				@ReopenDate DATE,
				@PromotedTo NVARCHAR(200) = '',
				@NextAcademicYearId INT

		select @PrincipalName = btd.TeacherName
		from vw_BaseTeacherDetails BTD
		INNER JOIN Teacher_Designation_Master TDM
		ON BTD.Designation_Id = TDM.Teacher_Designation_Id
		where School_Id = @School_Id
		and academic_year_id = @Academic_Year_Id
		and BTD.Is_Deleted = 'N'
		AND TDM.Is_Deleted = 'N'
		AND TDM.Teacher_Designation_Name = 'Principal'

		select @ClassTeacherName = BTD.TeacherName
		from SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
		INNER JOIN vw_BaseTeacherDetails BTD
		ON SSDTAM.Teacher_Id = BTD.Teacher_Id
		AND SSDTAM.Academic_Year_Id = BTD.academic_year_id
		WHERE SSDTAM.School_Id = @School_Id
		AND SSDTAM.Academic_Year_Id = @Academic_Year_Id
		AND SSDTAM.Is_Deleted = 'N'
		AND SSDTAM.Is_ClassTeacher = 'Y'
		AND SSDTAM.Standard_Id = @Standard_Id
		AND SSDTAM.Division_Id = @Division_Id
		
		SELECT @FirstTermTestId = SchoolWise_Test_Id
		FROM SchoolWise_Test_Master
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		AND Is_Deleted = 'N'	
		AND SchoolWise_Test_Name = 'First Term Examination'

		SELECT @SecondTermTestId = SchoolWise_Test_Id
		FROM SchoolWise_Test_Master
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		AND Is_Deleted = 'N'	
		AND SchoolWise_Test_Name = 'Second Term Examination'

		IF @Term_Id = 2
		BEGIN
				SELECT TOP 1 @ReopenDate = School_ReOpen_Date, 
					   @NextAcademicYearId = Academic_Year_ID
				FROM SchoolWise_Academic_Year_Master
				WHERE School_Id = @School_Id		
				AND Is_Deleted = 'N'
				AND Academic_Year_ID >
				(
					SELECT Academic_Year_ID
					FROM SchoolWise_Academic_Year_Master
					WHERE School_Id = @School_Id
					AND Academic_Year_ID = @Academic_Year_Id
					AND Is_Deleted = 'N'
				)
				ORDER BY Academic_Year_ID

				SELECT @PromotedTo = Standard_Name
				FROM Standard_Master
				WHERE School_Id = @School_Id
				AND academic_Year_Id = @NextAcademicYearId
				AND Is_Deleted = 'N'
				AND Original_Standard_Id = 
				(
					SELECT NextOriginalStandardId
					FROM Standard_Master
					WHERE Standard_Id = @Standard_Id
					AND School_Id = @School_Id
					AND academic_Year_Id = @Academic_Year_Id
					AND Is_Deleted = 'N'
				)

				IF @PromotedTo IS NOT NULL AND @PromotedTo <> '' AND @PromotedTo NOT IN ('Nursery','LKG','HKG')
					SET @PromotedTo = 'Standard ' + @PromotedTo
		END

		DECLARE @PrintDate DATE

		IF @Term_Id = 1
			SET @PrintDate = '11-Oct-2025'
		ELSE IF @Term_Id = 2
			SET @PrintDate = '27-March-2026'
		
		DECLARE @tblStudentDetails AS TABLE
		(
			YearWise_Student_Id INT,
			School_Name NVARCHAR(50),
			City NVARCHAR(20),
			PinCode NVARCHAR(10),
			AcademicYear NVARCHAR(20),
			StudentName NVARCHAR(100),
			DOB NVARCHAR(50),
			Standard_Name NVARCHAR(20),
			Division_Name NVARCHAR(20),
			Original_Standard_Id INT,
			Original_Division_Id INT,
			Roll_No INT,
			SchoolOrgName NVARCHAR(100),
			Attendance NVARCHAR(50),
			Term2Remark NVARCHAR(500)
		)

		insert into @tblStudentDetails
		select YearWise_Student_Id,
			   upper(School_Name), 
			   upper(SM.City), 
			   SM.Pincode, 
			   (CAST(YEAR(Start_date) AS NVARCHAR(4)) +N'-'+ CAST(RIGHT(YEAR(End_Date),20) AS NVARCHAR(4))) as AcademicYear, 
			   UPPER(StudentFLName), 
			   UPPER(format(DOB,'dd-MMM-yyyy')),
			   UPPER(Standard_Name), 
			   UPPER(Division_Name),
			   Original_Standard_Id,
			   Original_Division_Id,
			   Roll_No,
			   UPPER(SM.School_Orgn_Name),
			   (
					SELECT CAST(SUM(CASE WHEN Is_Present = 'Y' THEN 1 ELSE 0 END) AS NVARCHAR(20)) + ' / '+ CAST(COUNT(1) AS NVARCHAR(20))
					FROM SchoolWise_Attendance_Details SAD
					WHERE SAD.School_Id = @School_Id
					AND SAD.Academic_Year_Id = @Academic_Year_Id
					AND SAD.Is_Deleted = 'N'
					AND SAD.Student_Id = YSD.YearWise_Student_Id
					GROUP BY SAD.Student_Id
			   ) AS Attendance,
			   (
					select RemarkDetails
					from StudentwiseRemarkConfigDetails SRCD
					INNER JOIN TermWiseRemarksDetails TRD
					ON SRCD.TermwiseRemarkDetailId = TRD.TermWiseRemarksDetailsId
					where SchoolId = @School_Id
					and AcademicYearId = @Academic_Year_Id
					and IsDeleted = 'N'
					AND TRD.Is_Deleted = 'N'
					AND TRD.Term_Id = @Term_Id
					AND SRCD.YearwiseStudentId = YSD.YearWise_Student_Id
			   ) AS Term2Remark
		from vw_BaseStudentDetails VBSD
		INNER JOIN YearWise_Student_Details YSD
		ON VBSD.SchoolWise_Student_Id = YSD.Student_Id
		INNER JOIN School_Master SM
		ON SM.School_Id = YSD.School_Id
		INNER JOIN vw_standard_division VSD
		ON VSD.Standard_Id = YSD.Standard_Id
		AND VSD.Division_Id = YSD.Division_id
		INNER JOIN SchoolWise_Academic_Year_Master SAYM
		ON SAYM.Academic_Year_ID = YSD.Academic_Year_ID		
		where SAYM.Academic_Year_ID = @Academic_Year_Id
		AND YSD.School_Id = @School_Id
		AND VSD.Standard_Id = @Standard_Id
		AND VSD.Division_Id = @Division_Id
		AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)		
		AND VBSD.Is_Deleted = 'N'
		AND YSD.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SAYM.Is_Deleted = 'N'

		select *, @PrintDate AS PrintDate, @PrincipalName PrincipalName, @ClassTeacherName ClassTeacherName, 
		CASE WHEN @ReopenDate IS NULL THEN '' ELSE FORMAT(@ReopenDate,'dd-MMM-yyyy') END AS ReopenDate,
		ISNULL(@PromotedTo,'') AS PromotingToStd
		from @tblStudentDetails

		--select YSD.YearWise_Student_Id, 
		--	   OS.SortOrder as SkillSortOrder, 
		--	   UPPER(OS.Name) as SkillName, 
		--	   OP.SortOrder as ParameterSortOrder, 
		--	   UPPER(OP.Parameter) as ParameterName, 
		--	   UPPER(OG.Name) as Grade
		--from YearWise_Student_Details YSD
		--INNER JOIN ObservationSkills OS
		--ON YSD.Standard_Id = OS.StandardId
		--INNER JOIN ObservationParameters OP
		--ON OP.SkillId = OS.Id
		--INNER JOIN StudentObservationDetails SOD
		--ON SOD.StudentId = YSD.YearWise_Student_Id
		--AND OP.Id = SOD.ParameterId
		--INNER JOIN ObservationGrades OG
		--ON SOD.GradeId = OG.Id
		--INNER JOIN @tblStudentDetails TBL
		--ON TBL.YearWise_Student_Id = YSD.YearWise_Student_Id
		--INNER JOIN vw_standard_division VSD
		--ON YSD.Standard_Id = VSD.Standard_Id
		--AND YSD.Division_id = VSD.Division_Id
		--INNER JOIN ObservationSubmissionStatus OSS
		--ON OS.SubjectId = OSS.SubjectId
		--AND VSD.SchoolWise_Standard_Division_Id = OSS.StdDivId
		--AND SOD.TestId = OSS.TestId		
		--where OS.AcademicYearId = @Academic_Year_Id
		--AND OS.SchoolId = @School_Id
		--AND OS.StandardId = @Standard_Id
		--AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
		--AND YSD.Is_Deleted = 'N'
		--AND OS.IsDeleted = 0
		--AND OP.IsDeleted = 0
		--AND SOD.IsDeleted = 0
		--AND OG.IsDeleted = 0
		--AND OSS.IsDeleted = 0
		--AND OSS.IsSubmitted = 1
		--AND SOD.TestId = @FirstTermTestId
		--order by SkillSortOrder,ParameterSortOrder

		;WITH StudentObservations AS
		(
			select YSD.YearWise_Student_Id, 
				   OS.SortOrder as SkillSortOrder, 
				   UPPER(OS.Name) as SkillName, 
				   OP.SortOrder as ParameterSortOrder, 
				   UPPER(OP.Parameter) as ParameterName, 
				   UPPER(OG.Name) as Grade,				   
				   SOD.TestId,
				   SOD.ParameterId,
				   OP.SkillId
			from YearWise_Student_Details YSD
			INNER JOIN ObservationSkills OS
			ON YSD.Standard_Id = OS.StandardId
			INNER JOIN ObservationParameters OP
			ON OP.SkillId = OS.Id
			INNER JOIN StudentObservationDetails SOD
			ON SOD.StudentId = YSD.YearWise_Student_Id
			AND OP.Id = SOD.ParameterId
			INNER JOIN ObservationGrades OG
			ON SOD.GradeId = OG.Id
			INNER JOIN @tblStudentDetails TBL
			ON TBL.YearWise_Student_Id = YSD.YearWise_Student_Id
			INNER JOIN vw_standard_division VSD
			ON YSD.Standard_Id = VSD.Standard_Id
			AND YSD.Division_id = VSD.Division_Id
			INNER JOIN ObservationSubmissionStatus OSS
			ON OS.SubjectId = OSS.SubjectId
			AND VSD.SchoolWise_Standard_Division_Id = OSS.StdDivId
			AND SOD.TestId = OSS.TestId			
			where OS.AcademicYearId = @Academic_Year_Id
			AND OS.SchoolId = @School_Id
			AND OS.StandardId = @Standard_Id
			AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
			AND YSD.Is_Deleted = 'N'
			AND OS.IsDeleted = 0
			AND OP.IsDeleted = 0
			AND SOD.IsDeleted = 0
			AND OG.IsDeleted = 0
			AND OSS.IsDeleted = 0
			AND OSS.IsSubmitted = 1
			AND (
				(@Term_Id = 1 AND SOD.TestId = @FirstTermTestId)
				OR
				(@Term_Id = 2 AND SOD.TestId IN (@FirstTermTestId, @SecondTermTestId))
			)			
		)
		SELECT SO1.YearWise_Student_Id, 
			   SO1.SkillSortOrder, 
			   SO1.SkillName, 
			   SO1.ParameterSortOrder, 
			   SO1.ParameterName, 
			   SO1.Grade,
			   SO2.Grade Term2Grade
		FROM StudentObservations SO1
		LEFT OUTER JOIN StudentObservations SO2
		ON SO1.YearWise_Student_Id = SO2.YearWise_Student_Id
		AND SO1.SkillId = SO2.SkillId
		AND SO1.ParameterId = SO2.ParameterId
		WHERE SO1.TestId = @FirstTermTestId		
		AND ((@Term_Id = 2 AND SO2.TestId = @SecondTermTestId) OR @Term_Id = 1)

		--SELECT YearWise_Student_Id,
		--		SubjectSortOrder,
		--		upper(Subject_Name) as Subject_Name,
		--		'GRADE' as ColumnHeader,
		--		CASE WHEN S.Total_Marks_Scored = 0 THEN 'NA' ELSE MGCD.Grade_Name END AS Total_Marks_Scored				
		--FROM Marks_Grades_Configuration MGC
		--INNER JOIN Marks_Grades_Configuration_Details MGCD
		--ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		--INNER JOIN
		--(
		--	select YSD.YearWise_Student_Id,
		--		   SSSM.Sort_Order as SubjectSortOrder,
		--		   SM.Subject_Name,				   
		--		   SUM(Total_Marks_Scored) AS Total_Marks_Scored,
		--		   SUM(CASE WHEN STSMM.OutOfMarks <> 0 AND STSMM.OutOfMarks <> STSMM.Subject_Total_Marks
		--			 THEN STSMM.OutOfMarks				 
		--			ELSE STSMM.Subject_Total_Marks
		--		  END) AS OutOfMarks
		--	from SchoolWise_Test_Subject_Marks_Master STSMM
		--	INNER JOIN SchoolWise_Test_Master STM
		--	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		--	INNER JOIN SchoolWise_Student_Test_Marks SSTM
		--	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		--	INNER JOIN Subject_Master SM
		--	ON STSMM.Subject_Id = SM.Subject_Id
		--	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		--	ON SM.Subject_Id = SSSM.Subject_Id
		--	INNER JOIN YearWise_Student_Details YSD
		--	ON SSTM.Student_Id = YSD.YearWise_Student_Id
		--	AND SSTM.Student_Id = YSD.YearWise_Student_Id
		--	AND SSSM.Standard_Id = YSD.Standard_Id		
		--	INNER JOIN @tblStudentDetails TBL
		--	ON TBL.YearWise_Student_Id = YSD.YearWise_Student_Id
		--	INNER JOIN Schoolwise_Division_Subject_Master SDSM
		--	ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
		--	AND STSMM.Subject_Id = SDSM.Subject_Id
		--	where STSMM.Academic_Year_Id = @Academic_Year_Id
		--	AND STSMM.School_Id = @School_Id
		--	AND YSD.Standard_Id = @Standard_Id
		--	AND Division_id = @Division_Id
		--	AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
		--	AND STSMM.Is_Deleted = 'N'
		--	AND STM.Is_Deleted = 'N'
		--	AND SSTM.Is_Deleted = 'N'
		--	AND SM.Is_Deleted = 'N'
		--	AND SSSM.Is_Deleted = 'N'
		--	AND YSD.Is_Deleted = 'N'
		--	AND STM.Term_Id = @Term_Id
		--	AND STSMM.Is_Submitted = 'Y'
		--	AND SDSM.Is_Deleted = 'N'
		--	AND SDSM.Total_Consideration = 'Y'
		--	GROUP BY YSD.YearWise_Student_Id,
		--		   SSSM.Sort_Order,
		--		   SM.Subject_Name
		--)S
		--ON ROUND((S.Total_Marks_Scored/(CASE WHEN S.OutOfMarks = 0 THEN 1 ELSE S.OutOfMarks END))*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
		--WHERE MGC.School_Id = @School_Id
		--AND MGC.Academic_Year_Id = @Academic_Year_Id
		--AND MGC.Is_Deleted = 'N'
		--AND MGC.IsForCoCurricularSubjects = 0
		--AND MGCD.Is_Deleted = 'N'
		--and mgc.Standard_Id = @Standard_Id
		
		--;WITH StudentMarkDetails AS
		--(
		--	SELECT YearWise_Student_Id,
		--			SubjectSortOrder,
		--			upper(Subject_Name) as Subject_Name,
		--			'GRADE' as ColumnHeader,
		--			CASE WHEN S.Total_Marks_Scored = 0 THEN 'NA' ELSE MGCD.Grade_Name END AS Total_Marks_Scored,
		--			Subject_Id,
		--			Term_Id,
		--			ROUND((S.Total_Marks_Scored/(CASE WHEN S.OutOfMarks = 0 THEN 1 ELSE S.OutOfMarks END))*100,2) AS Percentage
		--	FROM Marks_Grades_Configuration MGC
		--	INNER JOIN Marks_Grades_Configuration_Details MGCD
		--	ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		--	INNER JOIN
		--	(
		--		select YSD.YearWise_Student_Id,
		--			   SSSM.Sort_Order as SubjectSortOrder,
		--			   SM.Subject_Name,				   
		--			   SUM(Total_Marks_Scored) AS Total_Marks_Scored,
		--			   SUM(CASE WHEN STSMM.OutOfMarks <> 0 AND STSMM.OutOfMarks <> STSMM.Subject_Total_Marks
		--				 THEN STSMM.OutOfMarks				 
		--				ELSE STSMM.Subject_Total_Marks
		--			  END) AS OutOfMarks,
		--			  STM.Term_Id,
		--			  SM.Subject_Id
		--		from SchoolWise_Test_Subject_Marks_Master STSMM
		--		INNER JOIN SchoolWise_Test_Master STM
		--		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		--		INNER JOIN SchoolWise_Student_Test_Marks SSTM
		--		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		--		INNER JOIN Subject_Master SM
		--		ON STSMM.Subject_Id = SM.Subject_Id
		--		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		--		ON SM.Subject_Id = SSSM.Subject_Id
		--		INNER JOIN YearWise_Student_Details YSD
		--		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		--		AND SSTM.Student_Id = YSD.YearWise_Student_Id
		--		AND SSSM.Standard_Id = YSD.Standard_Id		
		--		INNER JOIN @tblStudentDetails TBL
		--		ON TBL.YearWise_Student_Id = YSD.YearWise_Student_Id
		--		INNER JOIN Schoolwise_Division_Subject_Master SDSM
		--		ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
		--		AND STSMM.Subject_Id = SDSM.Subject_Id
		--		where STSMM.Academic_Year_Id = @Academic_Year_Id
		--		AND STSMM.School_Id = @School_Id
		--		AND YSD.Standard_Id = @Standard_Id
		--		AND Division_id = @Division_Id
		--		AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
		--		AND STSMM.Is_Deleted = 'N'
		--		AND STM.Is_Deleted = 'N'
		--		AND SSTM.Is_Deleted = 'N'
		--		AND SM.Is_Deleted = 'N'
		--		AND SSSM.Is_Deleted = 'N'
		--		AND YSD.Is_Deleted = 'N'				
		--		AND STSMM.Is_Submitted = 'Y'
		--		AND SDSM.Is_Deleted = 'N'
		--		AND SDSM.Total_Consideration = 'Y'
		--		AND (
		--			(@Term_Id = 1 AND STM.Term_Id = @Term_Id)
		--			OR @Term_Id = 2
		--		)
		--		GROUP BY YSD.YearWise_Student_Id,
		--			   SSSM.Sort_Order,
		--			   SM.Subject_Name,
		--			   STM.Term_Id,
		--			   SM.Subject_Id
		--	)S
		--	ON ROUND((S.Total_Marks_Scored/(CASE WHEN S.OutOfMarks = 0 THEN 1 ELSE S.OutOfMarks END))*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
		--	WHERE MGC.School_Id = @School_Id
		--	AND MGC.Academic_Year_Id = @Academic_Year_Id
		--	AND MGC.Is_Deleted = 'N'
		--	AND MGC.IsForCoCurricularSubjects = 0
		--	AND MGCD.Is_Deleted = 'N'
		--	and mgc.Standard_Id = @Standard_Id
		--)
		--SELECT SMD1.YearWise_Student_Id,
		--	   SMD1.SubjectSortOrder,
		--	   SMD1.Subject_Name,
		--	   'GRADE' as ColumnHeader,
		--	   SMD1.Total_Marks_Scored,
		--	   SMD2.Total_Marks_Scored AS Term2Marks,			 
		--	   ROUND((SMD1.Percentage+SMD2.Percentage)/2,2) AS OverallPercentage,
		--	   CASE WHEN @Term_Id = 1 THEN '' ELSE (
		--			SELECT MGCD.Grade_Name
		--			FROM Marks_Grades_Configuration MGC
		--			INNER JOIN Marks_Grades_Configuration_Details MGCD
		--			ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		--			WHERE MGC.School_Id = @School_Id
		--			AND MGC.Academic_Year_Id = @Academic_Year_Id
		--			AND MGC.Is_Deleted = 'N'
		--			AND MGC.IsForCoCurricularSubjects = 0
		--			AND MGCD.Is_Deleted = 'N'
		--			and mgc.Standard_Id = @Standard_Id 
		--			AND ROUND((SMD1.Percentage+SMD2.Percentage)/2,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range 
		--	   ) END AS OverallMarks
		--FROM StudentMarkDetails SMD1
		--LEFT OUTER JOIN StudentMarkDetails SMD2
		--ON SMD1.YearWise_Student_Id = SMD2.YearWise_Student_Id
		--AND SMD1.Subject_Id = SMD2.Subject_Id
		--WHERE SMD1.Term_Id = 1
		--AND ((@Term_Id = 2 AND SMD2.Term_Id = 2) OR @Term_Id = 1)
		
		DECLARE @tblMarksDetails AS TABLE
		(
			YearWise_Student_Id INT,
			SubjectSortOrder INT,
			Subject_Name NVARCHAR(100),
			ColumnHeader NVARCHAR(100),
			Total_Marks_Scored NVARCHAR(50),
			Percentage DECIMAL(10,2),
			Term_Id INT,
			ColumnSortOrder INT
		)
		INSERT INTO @tblMarksDetails
		SELECT YearWise_Student_Id,
				SubjectSortOrder,
				upper(Subject_Name) as Subject_Name,
				CASE WHEN @Term_Id = 1 THEN 'GRADE' ELSE 
					CASE WHEN Term_Id = 1 THEN 'F.T.' ELSE 'S.T.' END
				END as ColumnHeader,
				CASE WHEN S.Total_Marks_Scored = 0 THEN 'NA' ELSE MGCD.Grade_Name END AS Total_Marks_Scored,				
				ROUND((S.Total_Marks_Scored/(CASE WHEN S.OutOfMarks = 0 THEN 1 ELSE S.OutOfMarks END))*100,2) AS Percentage,
				Term_Id,
				CASE WHEN Term_Id = 1 THEN 1 ELSE 2 END
		FROM Marks_Grades_Configuration MGC
		INNER JOIN Marks_Grades_Configuration_Details MGCD
		ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
		INNER JOIN
		(
			select YSD.YearWise_Student_Id,
				   SSSM.Sort_Order as SubjectSortOrder,
				   SM.Subject_Name,				   
				   SUM(Total_Marks_Scored) AS Total_Marks_Scored,
				   SUM(CASE WHEN STSMM.OutOfMarks <> 0 AND STSMM.OutOfMarks <> STSMM.Subject_Total_Marks
					 THEN STSMM.OutOfMarks				 
					ELSE STSMM.Subject_Total_Marks
				  END) AS OutOfMarks,
				  STM.Term_Id
			from SchoolWise_Test_Subject_Marks_Master STSMM
			INNER JOIN SchoolWise_Test_Master STM
			ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
			INNER JOIN SchoolWise_Student_Test_Marks SSTM
			ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
			INNER JOIN Subject_Master SM
			ON STSMM.Subject_Id = SM.Subject_Id
			INNER JOIN SchoolWise_Standard_Subject_Master SSSM
			ON SM.Subject_Id = SSSM.Subject_Id
			INNER JOIN YearWise_Student_Details YSD
			ON SSTM.Student_Id = YSD.YearWise_Student_Id
			AND SSTM.Student_Id = YSD.YearWise_Student_Id
			AND SSSM.Standard_Id = YSD.Standard_Id		
			INNER JOIN @tblStudentDetails TBL
			ON TBL.YearWise_Student_Id = YSD.YearWise_Student_Id
			INNER JOIN Schoolwise_Division_Subject_Master SDSM
			ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
			AND STSMM.Subject_Id = SDSM.Subject_Id
			where STSMM.Academic_Year_Id = @Academic_Year_Id
			AND STSMM.School_Id = @School_Id
			AND YSD.Standard_Id = @Standard_Id
			AND Division_id = @Division_Id
			AND (YSD.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
			AND STSMM.Is_Deleted = 'N'
			AND STM.Is_Deleted = 'N'
			AND SSTM.Is_Deleted = 'N'
			AND SM.Is_Deleted = 'N'
			AND SSSM.Is_Deleted = 'N'
			AND YSD.Is_Deleted = 'N'
			AND (
					(@Term_Id = 1 AND STM.Term_Id = @Term_Id)
					OR @Term_Id = 2
				)
			AND STSMM.Is_Submitted = 'Y'
			AND SDSM.Is_Deleted = 'N'
			AND SDSM.Total_Consideration = 'Y'
			GROUP BY YSD.YearWise_Student_Id,
				   SSSM.Sort_Order,
				   SM.Subject_Name,
				   STM.Term_Id
		)S
		ON ROUND((S.Total_Marks_Scored/(CASE WHEN S.OutOfMarks = 0 THEN 1 ELSE S.OutOfMarks END))*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
		WHERE MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.Is_Deleted = 'N'
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGCD.Is_Deleted = 'N'
		and mgc.Standard_Id = @Standard_Id

		INSERT INTO @tblMarksDetails
		select S.YearWise_Student_Id,S.SubjectSortOrder,S.Subject_Name,'O',MGCD.Grade_Name,S.OverallPercentage,3,3
		from
		(
			SELECT YearWise_Student_Id,SubjectSortOrder,Subject_Name, ROUND(SUM(Percentage)/2,2) AS OverallPercentage
			FROM @tblMarksDetails
			GROUP BY YearWise_Student_Id,SubjectSortOrder,Subject_Name
		)S
		INNER JOIN Marks_Grades_Configuration_Details MGCD
		ON S.OverallPercentage BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
		INNER JOIN Marks_Grades_Configuration MGC
		ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
		WHERE MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.Is_Deleted = 'N'
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGCD.Is_Deleted = 'N'
		and mgc.Standard_Id = @Standard_Id

		SELECT YearWise_Student_Id,SubjectSortOrder,CASE WHEN @Term_Id = 1 THEN '' ELSE ' ' END + Subject_Name AS Subject_Name,ColumnHeader,Total_Marks_Scored, ColumnSortOrder
		FROM @tblMarksDetails

		
		select Starting_Marks_Range as GradeSortOrder,
			   Grade_Name, 
			   CASE WHEN @Term_Id = 1 THEN '' ELSE ' ' END + UPPER(Remarks)+' - '+CAST(Starting_Marks_Range AS NVARCHAR(10))+' TO '+CAST(Ending_Marks_Range AS NVARCHAR(10))AS Remarks,
			   'MARKS' AS Header			   
		from Marks_Grades_Configuration_Details MGCD
		inner join Marks_Grades_Configuration MGC
		ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
		where MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.School_Id = @School_Id
		AND MGC.Standard_Id = @Standard_Id
		AND IsForCoCurricularSubjects = 0
		AND MGCD.Is_Deleted = 'N'
		AND MGC.Is_Deleted = 'N'
END