/****** Object:  StoredProcedure [dbo].[usp_UpdateBiometricDetails]    Script Date: 21-01-2026 15:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_UpdateBiometricDetails]
	@EntitiesDetailXML XML,
	@SchoolID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRANSACTION
	BEGIN TRY

	DECLARE @AcademicYearID INT,
			@LeaveID INT,
			@YearID INT,
			@AbsentUserId INT,
			@AbsentEmployeeNo NVARCHAR(100),
			@StaffAttendanceId INT = 0

	SELECT @AcademicYearID = Academic_Year_ID 
	FROM SchoolWise_Academic_Year_Master 
	WHERE School_Id = @SchoolID 
	AND Is_Current_Year = 'Y'

	DECLARE @tblAttendance AS TABLE 
	(
		Id INT IDENTITY(1,1),
		EmployeeNo VARCHAR(20),	
		UserId INT,
		CheckInTime TIME,
		CheckOutTime TIME,
		ShiftId INT
	)

	DECLARE @tblAttData AS TABLE 
	(
		Id INT IDENTITY(1,1),
		EmployeeNo VARCHAR(20),
		EventDateTime DateTime,
		UserId INT,
		ShiftId INT
	)

	DECLARE @tblAbsentUsers AS TABLE
	(
		UserId INT,
		EmployeeNo NVARCHAR(100)
	)

	INSERT @tblAttData
	(
		EmployeeNo
		,EventDateTime
	)
	SELECT a.b.value('EmployeeNo[1]', 'NVARCHAR(20)'),
		   CONVERT(DATETIME,NULLIF(a.b.query('EventDateTime[1]').value('.', 'NVARCHAR(100)'),'')) 
	FROM @EntitiesDetailXML.nodes('EntitiesDetails/EntitiesDetails') a(b)
	
	UPDATE TA
	SET UserId = UBD.UserId,
		ShiftId = ISNULL(USA.ShiftId,0)
	FROM @tblAttData TA
	inner join UserBasicDetails ubd
	on TA.EmployeeNo = UBD.EmployeeNo
	LEFT OUTER JOIN UserShiftsAssociation USA
	ON UBD.UserId = USA.UserId
	AND USA.AcademicYearID = @AcademicYearID
	AND USA.Is_Deleted = 'N'
	WHERE UBD.IsDeleted = 0

	-- Need to remove this block before applying change on live ---------------------------
	--UPDATE TA
	--SET UserId = UBD.UserId,
	--	ShiftId = ISNULL(USA.ShiftId,0)
	--FROM @tblAttData TA
	--inner join UserBasicDetails ubd
	--on TA.EmployeeNo = CASE WHEN CHARINDEX('/', ubd.employeeno) > 0 THEN RIGHT(ubd.employeeno, CHARINDEX('/', REVERSE(ubd.employeeno)) - 1)
 --       ELSE NULL
 --   END
	--LEFT OUTER JOIN UserShiftsAssociation USA
	--ON UBD.UserId = USA.UserId
	--AND USA.AcademicYearID = @AcademicYearID
	--AND USA.Is_Deleted = 'N'
	--WHERE UBD.IsDeleted = 0

	------------------------------------------------------------------

	DELETE FROM @tblAttData
	WHERE UserId IS NULL
	
	DECLARE @tblHolidays AS TABLE
	(
		HolidayId INT,
		HolidayStartDate DATE,
		HolidayEndDate DATE
	)

	INSERT INTO @tblHolidays
	SELECT s1.HolidayId, HM.Holiday_Start_Date, HM.Holiday_End_Date
	FROM Holidays_Master HM
	INNER JOIN
	(
		select HolidayId, COUNT(1) AS HolidayClassCount
		from StandardwiseHoidaysMaster
		where SchoolId = @SchoolID
		and AcedemicYearId = @AcademicYearID
		and Is_Deleted = 0
		group by HolidayId
	)S1
	ON HM.Holiday_Id = S1.HolidayId
	INNER JOIN
	(
		select COUNT(1) AS ClassCount
		from vw_standard_division
		where School_Id = @SchoolID
		and Academic_Year_Id = @AcademicYearID
	)S2
	on s1.HolidayClassCount = s2.ClassCount

	DECLARE @Id INT,
		@EmployeeNo VARCHAR(20),
		@UserId INT,
		@Date DATE,
		@CheckInTime TIME,
		@CheckOutTime TIME,
		@ShiftId INT,
		@DaysOfMonth INT
	
	DECLARE @TblDates AS TABLE
	(
		Date DATE
	)

	INSERT INTO @TblDates
	SELECT CONVERT(DATE,EventDateTime)
	FROM @tblAttData
	GROUP BY CONVERT(DATE,EventDateTime)
	ORDER BY CONVERT(DATE,EventDateTime)
	
	DECLARE @IsPresent BIT,
			@IsAbsent BIT,
			@IsLateMark BIT,
			@IsHalfLeave BIT,

			@LateMarkTime NVARCHAR(100),
			@ShiftStartTime NVARCHAR(100), 
			@ShiftEndTime NVARCHAR(100),
			@HalfDayTime NVARCHAR(100),

			@ExistingCheckInTime TIME,
			@ExistingIsPresent BIT,
			@ExistingIsAbsent BIT,
			@ExistingIsHalfLeave BIT,
			@ExistingLateMark BIT


			

	WHILE EXISTS
	(
		SELECT TOP 1 1
		FROM @TblDates
	)
	BEGIN
	
		SELECT TOP 1 @Date = Date
		FROM @TblDates
		ORDER BY Date

		IF NOT EXISTS
		(
			SELECT TOP 1 1
			FROM @tblHolidays
			WHERE CONVERT(DATE,@Date) BETWEEN HolidayStartDate AND HolidayEndDate
		)
		BEGIN
		SET @YearID = 0

		SELECT @YearID =  Id 
		FROM LeaveYears 
		WHERE CONVERT(DATE,@Date) BETWEEN StartDate AND EndDate

		SET @DaysOfMonth = DAY(EOMONTH(@Date))

		DECLARE @ExcludedDays INT

		SELECT @ExcludedDays = DBO.udf_GetExcludedWeekdayCount(@SchoolID,YEAR(@Date), MONTH(@Date))
		SET @DaysOfMonth = @DaysOfMonth - @ExcludedDays

		INSERT INTO @tblAttendance
		select EmployeeNo, UserId,	
		CONVERT(VARCHAR(20), CONVERT(TIME,MIN(EventDateTime)), 100),
		CONVERT(VARCHAR(20), CONVERT(TIME,MAX(EventDateTime)), 100),
		ShiftId
		from @tblAttData
		where CONVERT(DATE, EventDateTime) = @Date
		GROUP BY UserId, EmployeeNo,ShiftId

		WHILE EXISTS
		(
			SELECT TOP 1 1
			FROM @tblAttendance
		)
		BEGIN
			SELECT TOP 1 @Id = Id, @EmployeeNo = EmployeeNo, @UserId = UserId, @CheckInTime = CheckInTime, @CheckOutTime = CheckOutTime, @ShiftId = ShiftId
			FROM @tblAttendance
			ORDER BY Id

			SET @IsPresent = 0
			SET @IsAbsent = 0
			SET @IsHalfLeave = 0
			SET @IsLateMark = 0

			SET @ShiftEndTime = ''
			SET @ShiftStartTime = ''
			SET @LateMarkTime = ''
			SET @HalfDayTime = ''

			SET @ExistingCheckInTime = NULL
			SET @ExistingIsAbsent = 0
			SET @ExistingIsHalfLeave = 0
			SET @ExistingIsPresent = 0
			SET @ExistingLateMark = 0

			SET @LeaveID = 0

			SELECT TOP 1 @LeaveID = LeaveId 
			FROM [dbo].[udf_GetLeaveDetails](@SchoolID, @UserId, @YearID)

			SELECT @LateMarkTime = LateMarkTime,
					@ShiftStartTime = ShiftStartTime, 
					@ShiftEndTime = ShiftEndTime,
					@HalfDayTime = HalfDayTime 
			FROM SchoolShifts 
			WHERE ShiftId = @ShiftId 
			AND SchoolId = @SchoolID 
			AND Is_Deleted = 'N' 
			AND AcademicYearId = @AcademicYearID

			IF EXISTS
			(
				SELECT TOP 1 1
				FROM EmployeeAttendanceStatus
				WHERE UserID = @UserId
				AND convert(date,EventDate) = @Date
				AND IsDeleted = 0
			)
			BEGIN

				SELECT @ExistingCheckInTime = CheckInTime,
						@ExistingIsPresent = IsPresent,
						@ExistingIsAbsent = IsAbsent,
						@ExistingIsHalfLeave = IsHalfLeave,
						@ExistingLateMark = IsLateMark
				FROM EmployeeAttendanceStatus
				WHERE UserID = @UserId
				AND convert(date,EventDate) = @Date
				AND IsDeleted = 0

				IF @ExistingCheckInTime IS NOT NULL
				BEGIN
						SET @IsPresent = 1

						IF @CheckOutTime < CONVERT(TIME,@ShiftEndTime)
						BEGIN
							UPDATE EmployeeAttendanceStatus
							SET IsHalfLeave = 1,
								IsPresent = 1,
								CheckOutTime = @CheckOutTime,				
								UpdatedByID = 1,
								UpdatedDate = dbo.GetLocalDate(default)
							WHERE UserID = @UserId
							AND CONVERT(DATE,EventDate) = @Date
							and IsDeleted = 0

							SET @IsHalfLeave = 1
						END
						ELSE IF CONVERT(TIME,@ExistingCheckInTime) <= CONVERT(TIME,@ShiftStartTime) AND CONVERT(TIME,@CheckOutTime) >= CONVERT(TIME,@ShiftEndTime)
						BEGIN
							UPDATE EmployeeAttendanceStatus
							SET IsHalfLeave = 0,
								IsPresent = 1,
								CheckOutTime = @CheckOutTime,				
								UpdatedByID = 1,
								UpdatedDate = dbo.GetLocalDate(default)
							WHERE UserID = @UserId
							AND CONVERT(DATE,EventDate) = @Date
							and IsDeleted = 0

							SET @IsHalfLeave = 0
						END
						ELSE IF CONVERT(TIME,@ExistingCheckInTime) <= CONVERT(TIME,@LateMarkTime) AND CONVERT(TIME,@CheckOutTime) >= CONVERT(TIME,@ShiftEndTime)
						BEGIN			
							UPDATE EmployeeAttendanceStatus
							SET IsHalfLeave = 0,
								IsPresent = 1,
								CheckOutTime = @CheckOutTime,				
								UpdatedByID = 1,
								UpdatedDate = dbo.GetLocalDate(default)
							WHERE UserID = @UserId
							AND CONVERT(DATE,EventDate) = @Date
							and IsDeleted = 0

							SET @IsHalfLeave = 0
						END
						ELSE IF CONVERT(TIME,@ExistingCheckInTime) > CONVERT(TIME,@LateMarkTime) AND CONVERT(TIME,@CheckOutTime) >= CONVERT(TIME,@ShiftEndTime)
						BEGIN
							UPDATE EmployeeAttendanceStatus
							SET IsHalfLeave = 1,
								IsPresent = 1,
								CheckOutTime = @CheckOutTime,				
								UpdatedByID = 1,
								UpdatedDate = dbo.GetLocalDate(default)
							WHERE UserID = @UserId
							AND CONVERT(DATE,EventDate) = @Date
							and IsDeleted = 0

							SET @IsHalfLeave = 1
						END
				END
				ELSE
				BEGIN
						IF @CheckInTime = @CheckOutTime
						BEGIN
							SET @CheckOutTime = NULL
							SET @IsPresent = 1
							SET @IsHalfLeave = 1
			
							IF @CheckInTime > CONVERT(TIME,@ShiftStartTime) AND @CheckInTime <= CONVERT(TIME,@LateMarkTime)
							BEGIN
								SET @IsLateMark = 1
							END
						END
						ELSE
						BEGIN
							SET @IsPresent = 1

							IF @CheckInTime > CONVERT(TIME,@ShiftStartTime) AND @CheckInTime <= CONVERT(TIME,@LateMarkTime)
							BEGIN
								SET @IsLateMark = 1
							END
							ELSE IF @CheckInTime > CONVERT(TIME,@HalfDayTime)
							BEGIN
								SET @IsHalfLeave = 1
							END
						END

						UPDATE EmployeeAttendanceStatus
						SET IsHalfLeave = @IsHalfLeave,
							IsPresent = @IsPresent,
							IsLateMark = @IsLateMark,
							IsAbsent = 0,
							CheckInTime = @CheckInTime,
							CheckOutTime = @CheckOutTime,				
							UpdatedByID = 1,
							UpdatedDate = dbo.GetLocalDate(default)
						WHERE UserID = @UserId
						AND CONVERT(DATE,EventDate) = @Date
						and IsDeleted = 0
				END

				-- ADD CODE HERE
				------------------------

				IF @ExistingLateMark = 1
					SET @IsLateMark = 1

				DECLARE @LeaveCount DECIMAL(10,2)

				SET @LeaveCount =  CASE WHEN @ExistingIsHalfLeave = 0 AND @IsHalfLeave = 1 AND @ExistingIsAbsent = 0 THEN 0.5 
										WHEN @ExistingIsAbsent = 0 AND @IsAbsent = 1 THEN 1 
										WHEN @ExistingIsAbsent = 1 AND @IsAbsent = 0 AND @IsHalfLeave = 1 THEN -0.5
										WHEN @ExistingIsHalfLeave = 1 AND @IsHalfLeave = 0 THEN -0.5 
										WHEN @ExistingIsAbsent = 1 AND @IsAbsent = 0 AND @IsHalfLeave = 0 THEN -1
										ELSE 0 
									END

				IF EXISTS
				(
					 SELECT TOP 1 1
					 FROM StaffAttendance
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
				)
				BEGIN
					 UPDATE StaffAttendance
					 SET PresentDays = PresentDays - @LeaveCount
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId

					 UPDATE SLD
					 SET Days = Days + @LeaveCount
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
				END
				ELSE
				BEGIN
					INSERT INTO StaffAttendance
					SELECT MONTH(@Date),
						   YEAR(@Date),
						   @UserId,
						   @DaysOfMonth - @LeaveCount,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL

					SELECT @StaffAttendanceId = SCOPE_IDENTITY()

					INSERT INTO StaffLeaveDetails
					SELECT @StaffAttendanceId,
						   LeaveId,
						   0,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL
					FROM StaffLeaves
					WHERE SchoolId = @SchoolID
					AND Is_Deleted = 'N'
							
					UPDATE SLD
					 SET Days = @LeaveCount
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
					 AND SA.StaffAttendanceId = @StaffAttendanceId
				END

				IF EXISTS
				(
					SELECT TOP 1 1
					FROM DatewiseStaffLeaves
					WHERE SchoolId  =@SchoolID
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND CONVERT(DATE,Date) = @Date
				)
				BEGIN
					IF @ExistingIsHalfLeave = 1 AND @IsHalfLeave = 0 AND @IsLateMark = 0
					BEGIN
						UPDATE DatewiseStaffLeaves
						SET Is_Deleted = 'Y',
							UpdateDate = DBO.GetLocalDate(DEFAULT),
							UpdatedById = 1
						WHERE SchoolId  =@SchoolID
						AND Is_Deleted = 'N'
						AND UserId = @UserId
						AND CONVERT(DATE,Date) = @Date
						AND LeaveId = @LeaveID
					END
					ELSE IF @IsHalfLeave = 0 AND @IsLateMark = 1
					BEGIN
						UPDATE DatewiseStaffLeaves
						SET LeaveId = 0,
							IsHalfLeave = 0,
							IsLateMark = 1,
							UpdateDate = DBO.GetLocalDate(DEFAULT),
							UpdatedById = 1
						WHERE SchoolId  =@SchoolID
						AND Is_Deleted = 'N'
						AND UserId = @UserId
						AND CONVERT(DATE,Date) = @Date
						AND LeaveId = @LeaveID
					END
					ELSE
					BEGIN					
						UPDATE DatewiseStaffLeaves
						SET IsHalfLeave = @IsHalfLeave,
							IsLateMark = @IsLateMark,
							LeaveId = @LeaveID
						WHERE SchoolId  =@SchoolID
						AND Is_Deleted = 'N'
						AND UserId = @UserId
						AND CONVERT(DATE,Date) = @Date
					END
				END				
				ELSE IF @IsHalfLeave = 1 OR @IsLateMark = 1 OR @IsAbsent = 1
				BEGIN
					INSERT INTO DatewiseStaffLeaves
					SELECT @UserId,
							CASE WHEN @IsHalfLeave = 0 AND @IsAbsent = 0 AND @IsLateMark = 1 THEN 0 ELSE @LeaveID END,
							@Date,
							@IsHalfLeave,
							@IsLateMark,
							0,
							@SchoolID,
							'N',
							DBO.GetLocalDate(DEFAULT),
							1,
							NULL,
							NULL
				END

				UPDATE UserLeavesYearwiseConfiguration
				SET LeaveBalance = LeaveBalance - @LeaveCount
				WHERE SchoolId = @SchoolID
				AND Is_Deleted = 'N'
				AND UserId = @UserId
				AND Year = @YearID
				AND LeaveId = @LeaveID
				--------------------------------------
			END
			ELSE
			BEGIN			
				IF @CheckInTime = @CheckOutTime
				BEGIN
					SET @CheckOutTime = NULL
					SET @IsPresent = 1
					SET @IsHalfLeave = 1
			
					IF @CheckInTime > CONVERT(TIME,@ShiftStartTime) AND @CheckInTime <= CONVERT(TIME,@LateMarkTime)
					BEGIN
						SET @IsLateMark = 1
					END
				END
				ELSE
				BEGIN
					SET @IsPresent = 1

					IF @CheckInTime > CONVERT(TIME,@ShiftStartTime) AND @CheckInTime <= CONVERT(TIME,@LateMarkTime)
					BEGIN
						SET @IsLateMark = 1
					END
					
					IF @CheckInTime > CONVERT(TIME,@LateMarkTime) OR @CheckOutTime < CONVERT(TIME,@ShiftEndTime)
					BEGIN					
						SET @IsHalfLeave = 1
					END					
				END
			
			
				INSERT INTO EmployeeAttendanceStatus
				SELECT @EmployeeNo,
						@UserId,
						@Date,
						@IsPresent,
						@IsAbsent,
						@IsHalfLeave,
						@IsLateMark,
						dbo.GetLocalDate(default),
						1,
						NULL,
						NULL,
						0,
						@LeaveID,
						@SchoolID,
						@AcademicYearID,
						@CheckInTime,
						@CheckOutTime

				IF EXISTS
				(
					 SELECT TOP 1 1
					 FROM StaffAttendance
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
				)
				BEGIN
					 UPDATE StaffAttendance
					 SET PresentDays = PresentDays - CASE WHEN @IsHalfLeave = 1 THEN 0.5 WHEN @IsAbsent = 1 THEN 1 ELSE 0 END
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId

					 UPDATE SLD
					 SET Days = Days + CASE WHEN @IsHalfLeave = 1 THEN 0.5 WHEN @IsAbsent = 1 THEN 1 ELSE 0 END
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
				END
				ELSE
				BEGIN
					INSERT INTO StaffAttendance
					SELECT MONTH(@Date),
						   YEAR(@Date),
						   @UserId,
						   @DaysOfMonth - CASE WHEN @IsHalfLeave = 1 THEN 0.5 WHEN @IsAbsent = 1 THEN 1 ELSE 0 END,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL

					SELECT @StaffAttendanceId = SCOPE_IDENTITY()

					INSERT INTO StaffLeaveDetails
					SELECT @StaffAttendanceId,
						   LeaveId,
						   0,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL
					FROM StaffLeaves
					WHERE SchoolId = @SchoolID
					AND Is_Deleted = 'N'
							
					UPDATE SLD
					 SET Days = CASE WHEN @IsHalfLeave = 1 THEN 0.5 WHEN @IsAbsent = 1 THEN 1 ELSE 0 END
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @UserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
					 AND SA.StaffAttendanceId = @StaffAttendanceId
				END

				IF EXISTS
				(
					SELECT TOP 1 1
					FROM DatewiseStaffLeaves
					WHERE SchoolId  =@SchoolID
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND CONVERT(DATE,Date) = @Date
				)
				BEGIN
					UPDATE DatewiseStaffLeaves
					SET IsHalfLeave = @IsHalfLeave,
						IsLateMark = @IsLateMark,
						LeaveId = @LeaveID
					WHERE SchoolId  =@SchoolID
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND CONVERT(DATE,Date) = @Date					
				END
				ELSE
				BEGIN
					INSERT INTO DatewiseStaffLeaves
					SELECT @UserId,
							CASE WHEN @IsHalfLeave = 0 AND @IsAbsent = 0 AND @IsLateMark = 1 THEN 0 ELSE @LeaveID END,
							@Date,
							@IsHalfLeave,
							@IsLateMark,
							0,
							@SchoolID,
							'N',
							DBO.GetLocalDate(DEFAULT),
							1,
							NULL,
							NULL
				END

				UPDATE UserLeavesYearwiseConfiguration
				SET LeaveBalance = LeaveBalance - CASE WHEN @IsHalfLeave = 1 THEN 0.5 WHEN @IsAbsent = 1 THEN 1 ELSE 0 END
				WHERE SchoolId = @SchoolID
				AND Is_Deleted = 'N'
				AND UserId = @UserId
				AND Year = @YearID
				AND LeaveId = @LeaveID
			END

			DELETE FROM @tblAttendance
			WHERE Id =  @Id
		END

		INSERT INTO @tblAbsentUsers
		SELECT USGA.UserId, UBD.EmployeeNo
		from UsersStaffGroupsAssociation USGA
		LEFT OUTER JOIN EmployeeAttendanceStatus EAS
		ON USGA.UserId = EAS.UserID
		AND EAS.IsDeleted = 0
		AND CONVERT(DATE,EAS.EventDate) = @Date
		INNER JOIN UserBasicDetails UBD
		ON USGA.UserId = UBD.UserId	
		WHERE Is_Deleted = 'N'
		and Is_Locked = 0
		AND UBD.IsDeleted = 0
		AND UBD.EmployeeNo IS NOT NULL
		AND UBD.EmployeeNo <> ''
		AND EAS.UserID IS NULL

		WHILE EXISTS
		(
			SELECT TOP 1 1
			FROM @tblAbsentUsers
		)
		BEGIN			
			SELECT TOP 1 @AbsentUserId = UserId, @AbsentEmployeeNo = EmployeeNo
			FROM @tblAbsentUsers
			ORDER BY UserId

			INSERT INTO EmployeeAttendanceStatus
			SELECT @AbsentEmployeeNo,
					@AbsentUserId,
					@Date,
					0,
					1,
					0,
					0,
					dbo.GetLocalDate(default),
					1,
					NULL,
					NULL,
					0,
					@LeaveID,
					@SchoolID,
					@AcademicYearID,
					NULL,
					NULL		

				IF EXISTS
				(
					 SELECT TOP 1 1
					 FROM StaffAttendance
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @AbsentUserId
				)
				BEGIN
					 UPDATE StaffAttendance
					 SET PresentDays = PresentDays - 1
					 WHERE SchoolId = @SchoolID
					 AND Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @AbsentUserId

					 UPDATE SLD
					 SET Days = Days + 1
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @AbsentUserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
				END
				ELSE
				BEGIN
					INSERT INTO StaffAttendance
					SELECT MONTH(@Date),
						   YEAR(@Date),
						   @AbsentUserId,
						   @DaysOfMonth - 1,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL

					SELECT @StaffAttendanceId = SCOPE_IDENTITY()

					INSERT INTO StaffLeaveDetails
					SELECT @StaffAttendanceId,
						   LeaveId,
						   0,
						   @SchoolID,
						   @AcademicYearID,
						   'N',
						   DBO.GetLocalDate(DEFAULT),
						   1,
						   NULL,
						   NULL
					FROM StaffLeaves
					WHERE SchoolId = @SchoolID
					AND Is_Deleted = 'N'
							
					UPDATE SLD
					 SET Days = 1
					 FROM StaffLeaveDetails SLD
					 INNER JOIN StaffAttendance SA
					 ON SLD.StaffAttendanceId = SA.StaffAttendanceId
					 WHERE SA.SchoolId = @SchoolID
					 AND SA.Is_Deleted = 'N'
					 AND Year = YEAR(@Date)
					 AND MonthId = MONTH(@Date)
					 AND UserId = @AbsentUserId
					 AND SLD.Is_Deleted = 'N'
					 AND LeaveId = @LeaveID
					 AND SA.StaffAttendanceId = @StaffAttendanceId
				END

				IF EXISTS
				(
					SELECT TOP 1 1
					FROM DatewiseStaffLeaves
					WHERE SchoolId  =@SchoolID
					AND Is_Deleted = 'N'
					AND UserId = @AbsentUserId
					AND CONVERT(DATE,Date) = @Date
				)
				BEGIN
					UPDATE DatewiseStaffLeaves
					SET IsHalfLeave = 0,
						IsLateMark = 0,
						LeaveId = @LeaveID
					WHERE SchoolId  =@SchoolID
					AND Is_Deleted = 'N'
					AND UserId = @AbsentUserId
					AND CONVERT(DATE,Date) = @Date					
				END
				ELSE
				BEGIN
					INSERT INTO DatewiseStaffLeaves
					SELECT @AbsentUserId,
							CASE WHEN @IsHalfLeave = 0 AND @IsAbsent = 0 AND @IsLateMark = 1 THEN 0 ELSE @LeaveID END,
							@Date,
							0,
							0,
							0,
							@SchoolID,
							'N',
							DBO.GetLocalDate(DEFAULT),
							1,
							NULL,
							NULL
				END

				UPDATE UserLeavesYearwiseConfiguration
				SET LeaveBalance = LeaveBalance - 1
				WHERE SchoolId = @SchoolID
				AND Is_Deleted = 'N'
				AND UserId = @AbsentUserId
				AND Year = @YearID
				AND LeaveId = @LeaveID
									
			DELETE FROM @tblAbsentUsers
			WHERE UserId = @AbsentUserId
		END
		END

		DELETE FROM @TblDates
		WHERE Date = @Date
	END

	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		PRINT ERROR_MESSAGE()
		ROLLBACK TRANSACTION
	END CATCH
END