/****** Object:  StoredProcedure [dbo].[USP_GradeDetails]    Script Date: 13-03-2026 11:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Shobha Patil>
-- Create date: <10 Sept 2010>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[USP_GradeDetails] 
	-- Add the parameters for the stored procedure here
@School_Id INT,
@Academic_Year_Id INT,
@StudentId INT=NULL,
@Standard_Id INT,
@Division_Id INT,
@Term_Id INT
,@Note NVARCHAR(2000) = NULL
AS
BEGIN
IF @StudentId IS NULL
	SET @StudentId=0
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	
	DECLARE    @Standard_Division_Id INT,@Standard_Name nvarchar(15),@Division_Name nvarchar(15)
	SELECT     @Standard_Division_Id=SchoolWise_Standard_Division_Id,@Standard_Name=Standard_Master.Standard_Name,
			   @Division_Name=Division_Master.Division_Name,@Standard_Id=Standard_Master.Standard_Id
	FROM       SchoolWise_Student_Master 
			   INNER JOIN YearWise_Student_Details ON SchoolWise_Student_Master.SchoolWise_Student_Id=YearWise_Student_Details.Student_Id 
			   INNER JOIN SchoolWise_Standard_Division_Master ON SchoolWise_Standard_Division_Master.Standard_Id=YearWise_Student_Details.Standard_Id
			   AND SchoolWise_Standard_Division_Master.Division_Id=YearWise_Student_Details.Division_id 
			   INNER JOIN Standard_Master ON SchoolWise_Standard_Division_Master.Standard_Id=Standard_Master.Standard_Id
			   INNER JOIN Division_Master ON SchoolWise_Standard_Division_Master.Division_Id=Division_Master.Division_Id
	WHERE      SchoolWise_Student_Master.School_Id=@School_Id
			   AND SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id=@Division_Id
			   AND YearWise_Student_Details.School_Id=@School_Id AND YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id

DECLARE @Schoolwise_Exam_Status AS TABLE
(
	ID INT IDENTITY(1,1),
	DisplayName NVARCHAR(20),
	DisplayValue NVARCHAR(20)
)
INSERT INTO @Schoolwise_Exam_Status
SELECT DisplayName, DisplayValue 
FROM Schoolwise_Exam_Status
 WHERE ShortName <> N'J'
 AND AcademicYearId = @Academic_Year_Id
 AND SchoolId = @School_Id
 AND IsDeleted = 0

 IF @School_Id = 18 and @Academic_Year_Id > = 53 and @Academic_Year_Id < 56
 BEGIN
	update @Schoolwise_Exam_Status
	set DisplayValue = 'Exemp.'
	where DisplayValue = 'Ex'
 END
 

DECLARE @tblGradeInfo AS TABLE
		(
		
			ID_Num INT IDENTITY(1,1)
			, Range NVARCHAR(15)
			, Grade NVARCHAR(15)
			,Remarks NVARCHAR(50),
			Standard_Id INT
			,Marks_Grades_Configuration_Detail_ID INT
		)
INSERT INTO @tblGradeInfo
		SELECT TOP 3 CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Starting_Marks_Range) + N'% - '+
				CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Ending_Marks_Range) + N'%' AS Range,
				Marks_Grades_Configuration_Details.Grade_Name as Grade, 
				Marks_Grades_Configuration_Details.Remarks, @Standard_Id AS StandardId,
				Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	
		FROM    Marks_Grades_Configuration INNER JOIN
				Marks_Grades_Configuration_Details ON 
				Marks_Grades_Configuration.Marks_Grades_Configuration_Id = Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Id
				AND Marks_Grades_Configuration.IsForCoCurricularSubjects = 0
		WHERE   Marks_Grades_Configuration.Is_Deleted = N'N' 
				AND Marks_Grades_Configuration_Details.Is_Deleted = N'N'
				AND Marks_Grades_Configuration.School_id = @School_Id
				AND Marks_Grades_Configuration.Academic_Year_Id = @Academic_Year_Id
				AND Marks_Grades_Configuration.Standard_Id = @Standard_Id

	DECLARE @tblGradeInfo1 AS TABLE
		(
			ID_NumB INT IDENTITY(1,1)
			, RangeB NVARCHAR(15)
			, GradeB NVARCHAR(15)
			,RemarksB NVARCHAR(50),
			Standard_Id1 INT
			,Marks_Grades_Configuration_Detail_IDB INT
		)
INSERT INTO @tblGradeInfo1		
SELECT TOP 3 CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Starting_Marks_Range) + N'% - '+
				CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Ending_Marks_Range) + N'%' AS Range,
				Marks_Grades_Configuration_Details.Grade_Name as Grade, 
				Marks_Grades_Configuration_Details.Remarks,  @Standard_Id AS StandardId,
				Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	
		FROM    Marks_Grades_Configuration INNER JOIN
				Marks_Grades_Configuration_Details ON 
				Marks_Grades_Configuration.Marks_Grades_Configuration_Id = Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Id
				AND Marks_Grades_Configuration.IsForCoCurricularSubjects = 0
		WHERE   Marks_Grades_Configuration.Is_Deleted = N'N' 
				AND Marks_Grades_Configuration_Details.Is_Deleted = N'N'
				AND Marks_Grades_Configuration.School_id = @School_Id
				AND Marks_Grades_Configuration.Academic_Year_Id = @Academic_Year_Id
				AND Marks_Grades_Configuration.Standard_Id = @Standard_Id
				AND Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	NOT IN
				(SELECT Marks_Grades_Configuration_Detail_ID FROM @tblGradeInfo )


	DECLARE @tblGradeInfo2 AS TABLE
		(
			ID_Numc INT IDENTITY(1,1)
			, Rangec NVARCHAR(15)
			, Gradec NVARCHAR(15)
			,Remarksc NVARCHAR(50),
			Standard_Id2 INT
			,Marks_Grades_Configuration_Detail_IDc INT
		)
INSERT INTO @tblGradeInfo2		
SELECT TOP 3 CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Starting_Marks_Range) + N'% - '+
				CONVERT(NVARCHAR(15), Marks_Grades_Configuration_Details.Ending_Marks_Range) + N'%' AS Range,
				Marks_Grades_Configuration_Details.Grade_Name as Grade, 
				Marks_Grades_Configuration_Details.Remarks,  @Standard_Id AS StandardId,
				Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	
		FROM    Marks_Grades_Configuration INNER JOIN
				Marks_Grades_Configuration_Details ON 
				Marks_Grades_Configuration.Marks_Grades_Configuration_Id = Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Id
				AND Marks_Grades_Configuration.IsForCoCurricularSubjects = 0
		WHERE   Marks_Grades_Configuration.Is_Deleted = N'N' 
				AND Marks_Grades_Configuration_Details.Is_Deleted = N'N'
				AND Marks_Grades_Configuration.School_id = @School_Id
				AND Marks_Grades_Configuration.Academic_Year_Id = @Academic_Year_Id
				AND Marks_Grades_Configuration.Standard_Id = @Standard_Id
				AND Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	NOT IN
				(SELECT Marks_Grades_Configuration_Detail_IDB FROM @tblGradeInfo1 ) AND
				Marks_Grades_Configuration_Details.Marks_Grades_Configuration_Detail_ID	NOT IN
				(SELECT Marks_Grades_Configuration_Detail_ID FROM @tblGradeInfo )

INSERT INTO @tblGradeInfo2	
SELECT TOP 1 N'' AS Range,N'' AS Grade, N'' AS Remarks, @Standard_Id,N'' AS Id
FROM @Schoolwise_Exam_Status
INSERT INTO @tblGradeInfo2	
SELECT TOP 1 N'' AS Range,N'' AS Grade, N'' AS Remarks, @Standard_Id,N'' AS Id
FROM @Schoolwise_Exam_Status
				
DECLARE @tblGradeInfo3 AS TABLE
		(
			ID_NumD INT IDENTITY(1,1)
			, RangeD NVARCHAR(15)
			, GradeD NVARCHAR(15)
			,RemarksD NVARCHAR(50),
			Standard_Id3 INT
			,Marks_Grades_Configuration_Detail_IDD INT
			
		)

INSERT INTO @tblGradeInfo3	
SELECT TOP 1 N'' AS Range,DisplayValue AS Grade, DisplayName AS Remarks, @Standard_Id,N'' AS Id
FROM @Schoolwise_Exam_Status
DELETE FROM @Schoolwise_Exam_Status WHERE ID = 1
INSERT INTO @tblGradeInfo3	
SELECT TOP 1 N'' AS Range,DisplayValue AS Grade, DisplayName AS Remarks, @Standard_Id,N'' AS Id
FROM @Schoolwise_Exam_Status
DELETE FROM @Schoolwise_Exam_Status WHERE ID = 2
INSERT INTO @tblGradeInfo3
SELECT TOP 1 N'' AS Range,DisplayValue AS Grade, DisplayName AS Remarks, @Standard_Id,N'' AS Id
FROM @Schoolwise_Exam_Status

IF @School_Id = 120 -- BFS
BEGIN
	INSERT INTO @tblGradeInfo3	
	SELECT TOP 1 N'' AS Range,'NH' AS Grade, 'Needs Help' AS Remarks, @Standard_Id,N'' AS Id
END

IF (SELECT COUNT(ID_NumD) FROM @tblGradeInfo3) <> 3
INSERT INTO @tblGradeInfo3
SELECT TOP 1 N'' AS Range,N'' AS Grade, N'' AS Remarks, @Standard_Id,N'' AS Id



DECLARE @GradeDetails AS TABLE
(
			 Range NVARCHAR(15)
			, Grade NVARCHAR(15)
			,Remarks NVARCHAR(50),
			Standard_Id INT
			, RangeB NVARCHAR(15)
			, GradeB NVARCHAR(15)
			,RemarksB NVARCHAR(50)
			, Rangec NVARCHAR(15)
			, Gradec NVARCHAR(15)
			,Remarksc NVARCHAR(50)
			, RangeD NVARCHAR(15)
			, GradeD NVARCHAR(15)
			,RemarksD NVARCHAR(50)
			,Note NVARCHAR(2000)
)
INSERT INTO @GradeDetails
SELECT tblGradeInfo.Range,tblGradeInfo.Grade,tblGradeInfo.Remarks,tblGradeInfo.Standard_Id,
		tblGradeInfo1.RangeB,tblGradeInfo1.GradeB,tblGradeInfo1.RemarksB,
		tblGradeInfo2.Rangec,tblGradeInfo2.Gradec,tblGradeInfo2.Remarksc,
		tblGradeInfo3.RangeD,tblGradeInfo3.GradeD,tblGradeInfo3.RemarksD,@Note
 FROM @tblGradeInfo AS tblGradeInfo INNER JOIN @tblGradeInfo1 AS tblGradeInfo1 ON 
		tblGradeInfo.ID_Num=tblGradeInfo1.ID_NumB INNER JOIN @tblGradeInfo2 AS tblGradeInfo2
		ON tblGradeInfo1.ID_NumB=tblGradeInfo2.ID_Numc 
	INNER JOIN @tblGradeInfo3 AS tblGradeInfo3
		ON tblGradeInfo2.ID_Numc=tblGradeInfo3.ID_NumD
		--SELECT * FROM @GradeDetails

SELECT DISTINCT * FROM @tblGradeInfo AS tblGradeInfo LEFT JOIN @tblGradeInfo1 AS tblGradeInfo1 ON 
		tblGradeInfo.ID_Num=tblGradeInfo1.ID_NumB LEFT JOIN @tblGradeInfo2 AS tblGradeInfo2
		ON tblGradeInfo1.ID_NumB=tblGradeInfo2.ID_Numc 
	LEFT JOIN @tblGradeInfo3 AS tblGradeInfo3
		ON tblGradeInfo2.ID_Numc=tblGradeInfo3.ID_NumD

				
END