/****** Object:  StoredProcedure [Mobile].[usp_GetUserBasicDetails]    Script Date: 13-03-2026 10.20.02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Rohini
-- Create date: 3 Sept 2012
-- Description:	This method is used get uaer details.
--Modify--Mohsin
--Description--Added Extra column for result--after XseedApplicable column
-- =============================================
ALTER PROCEDURE [Mobile].[usp_GetUserBasicDetails] --11,2333,2
@SchoolId INT,
@UserId INT,
@UserRoleId INT
AS
BEGIN
	DECLARE @UserRoleName NVARCHAR(50) =''
 
	SELECT @UserRoleName = User_Role_Name FROM User_Role_Master 
	WHERE User_Role_Id= @UserRoleId
	AND Is_Deleted = 'N'

	--IF @UserId = 3861
	--BEGIN
	--	INSERT INTO APICall_Temp
	--	SELECT '1 usp_GetUserBasicDetails'
	--END

	DECLARE @AcademicYearId INT,	       
	        @StartDate DATETIME,
	        @EndDate DATETIME,
	        @StandardId INT=0,
	        @XseedApplicable CHAR(1)  =N'N'


  SELECT @AcademicYearId= Academic_Year_ID, @StartDate=Start_date,@EndDate = End_Date
			  FROM SchoolWise_Academic_Year_Master 
			 WHERE School_Id=@SchoolId 
			  AND Is_Current_Year=N'Y'
			  	   
IF (@UserID IS NOT NULL AND @UserRoleName = 'Student')
BEGIN			
			DECLARE @StudentId INT = 0
		
			DECLARE @SiblingUserId INT = 0			
			DECLARE @SiblingStudentId INT = 0			

			SELECT @StandardId =SAM.Standard_Id  from YearWise_Student_Details YSD
			 INNER JOIN SchoolWise_Student_Master SSM
				ON YSD.Student_Id=SSM.SchoolWise_Student_Id
			 INNER JOIN Xseed.StandardwiseAssessmentMaster SAM
				ON YSD.Standard_Id=SAM.Standard_Id
			   AND YSD.Academic_Year_ID=SAM.Academic_Year_Id
			 WHERE User_Id = @UserId
			   AND YSD.Academic_Year_ID= @AcademicYearId
			   
			   IF @StandardId<>0
					SET @XseedApplicable=N'Y'				 

				-- find year wise student id
				SELECT @StudentId = YSD.YearWise_Student_Id
				FROM YearWise_Student_Details YSD
				INNER JOIN SchoolWise_Student_Master SSM ON YSD.Student_Id = SSM.SchoolWise_Student_Id
				WHERE ssm.Is_Deleted = 'N'
					AND YSD.Is_Deleted = 'N'
					AND SSM.User_Id = @UserId
					AND YSD.Academic_Year_ID = @AcademicYearId

           SELECT YSTUDET.YearWise_Student_Id AS Student_Id, 					
				  Salutation_Name + N' ' + SSTUMST.First_Name +N' '+SSTUMST.Last_Name AS UserName, 
				  SSDMST.Standard_Id, 
				  SSDMST.Division_Id, 
				  SSDMST.SchoolWise_Standard_Division_Id as StdDivId, 
				  User_Master.Is_Locked, 
				  User_Master.User_Id AS User_Id, 
				  SSTUMST.SchoolWise_Student_Id,
				  SSTUMST.Enrolment_Number,
				  Standard_Master_1.Is_PrePrimary,
				  Photo_file_Path_Image,
				  Mother_Tongue,
				  Birth_Place,
				  Residence_Phone_Number,
				  CasteAndSubCaste,
				  SSTUMST.Category_Id,
				  SSTUMST.UDISENumber,
				  Nationality,
				  Blood_Group,
				 SSTUMST.Address,
				  Standard_Master_1.Standard_Name+N'-'+ case when SSDMST.DisplayNameForDivision is null then Division_Master_1.Division_Name else SSDMST.DisplayNameForDivision end AS Class,
				  YSTUDET.Roll_No,
				  YSTUDET.Academic_Year_ID,
				  User_Master.User_Role_Id,
				  User_Master.School_Id,
				  SCAYMST.Start_date,
				  SCAYMST.End_Date,
				  User_Master.TermsAccepted,
				  User_Master.User_Login,
				  --change
				  SSTUMST.DOB,
				  @XseedApplicable	AS XseedApplicable,
				  SSTUMST.Mobile_Number,
				  SSTUMST.Mobile_Number2,
				  SAD.Religion,
				  CM.Category_Name as CategoryName,
				  '\RITeSchool\DOWNLOADS\Family Photos\'+SSTUMST.Family_Photo_Copy_Path as Family_Photo_Copy_Path
			FROM  Salutation_Master AS Salutation_Master_1 
			RIGHT OUTER JOIN YearWise_Student_Details YSTUDET
			INNER JOIN SchoolWise_Student_Master SSTUMST
			   ON YSTUDET.Student_Id = SSTUMST.SchoolWise_Student_Id 
			  AND YSTUDET.School_Id = SSTUMST.School_Id 
			INNER JOIN Standard_Master AS Standard_Master_1 
			   ON Standard_Master_1.Standard_Id = YSTUDET.Standard_Id 
			INNER JOIN Division_Master AS Division_Master_1 
			   ON Division_Master_1.Division_Id = YSTUDET.Division_id 
			INNER JOIN SchoolWise_Standard_Division_Master SSDMST
			   ON YSTUDET.Standard_Id = SSDMST.Standard_Id 
			  AND YSTUDET.Division_id = SSDMST.Division_Id 
			RIGHT OUTER JOIN User_Master 
			INNER JOIN School_Master 
			   ON User_Master.School_Id = School_Master.School_Id 
			INNER JOIN SchoolWise_Academic_Year_Master SCAYMST 
			   ON School_Master.School_Id = SCAYMST.School_Id 
			INNER JOIN User_Role_Master 
			   ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id 
			   ON YSTUDET.Academic_Year_ID = SCAYMST.Academic_Year_ID 
			  AND SSTUMST.User_Id = User_Master.User_Id 
			   ON Salutation_Master_1.Salutation_Id = SSTUMST.Salutation_Id
			INNER JOIN StudentAdditionalDetails SAD
			ON SSTUMST.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			LEFT OUTER JOIN Category_Master CM
			ON SSTUMST.Category_Id = CM.Category_Id
			AND CM.Is_Deleted = 'N'
			WHERE (SCAYMST.Is_Current_Year = N'Y') 
			  AND (School_Master.Is_Deleted = N'N') 
			  AND (SCAYMST.Is_Deleted = N'N') 
			  AND (User_Master.Is_Deleted = N'N') 
			  AND (User_Master.User_Id = @UserID) 
			  AND (SSTUMST.Is_Dummy_Admission = N'N')
			  AND SAD.IsDeleted = 0

			  -- get sibling details				
				EXEC [mobile].[usp_GetSiblings] @StudentId
					,@AcademicYearId,@SchoolId


END	
ELSE IF (@UserID is not null AND @UserRoleName = 'Teacher')
  BEGIN

  DECLARE @TeacherId INT
  
	SELECT @TeacherId = Teacher_Id
	FROM dbo.[SchoolWise_Teacher_Master]
	WHERE User_Id = @UserId
		AND School_Id = @SchoolId
		AND academic_year_id = @AcademicYearId
		
		
   SELECT  TOP 1
			SCTMST.Teacher_Id , 
			Salutation_Master_1.Salutation_Name +N' '+SCTMST.Teacher_First_Name+N' '+SCTMST.Teacher_Last_Name AS UserName, 
			SSDTASM.Standard_Id,
			SSDTASM.Division_Id,
			SCSDMST.SchoolWise_Standard_Division_Id as StdDivId, 
			User_Master.Is_Locked,
			User_Master.User_Id, 
			 Standard_Master.Is_PrePrimary,			
			SCTMST.Photo_file_Path,
			CASE WHEN ISNULL(SSDTASM.Is_ClassTeacher,N'N') = N'Y' THEN
			(
			STUFF((
					
					SELECT	', ' + [Standard_Name]+ ' - '+ [Division_Name] 
					FROM [dbo].[vw_ClassTeacher]  WITH (NOLOCK)
					WHERE Teacher_Id = @TeacherId		
					GROUP BY [Standard_Name], [Division_Name]			
					FOR XML path('')
					), 1, 1, '')
			) 
			ELSE '' END as ClassName,
			SCTMST.academic_year_id as Academic_Year_ID,
			User_Master.User_Role_Id,
			ISNULL(SSDTASM.Is_ClassTeacher,N'N')	as IsClassTeacher ,
			Teacher_Designation_Name,
		    User_Master.School_Id,
			SCAYMST.Start_date,
			SCAYMST.End_Date,
			User_Master.TermsAccepted,
			User_Login,
			--Change
			SCTMST.Mobile_Number,
			User_Master.Address,
			SCTMST.Date_of_Birth as DOB,
			@XseedApplicable	AS XseedApplicable,
			------------------------Added More Column----------
			vw_BaseTeacherDetails.MPT_Applicable
			,vw_BaseTeacherDetails.Assembly_Applicable
			,vw_BaseTeacherDetails.Stayback_Applicable
			,vw_BaseTeacherDetails.IsAcademicYrApplicable
			,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
			,User_Master.Email_Address
			,User_Master.CanPublishUnpublishExam
			,SCTMST.Local_Address
			--------------------------------------------------

	  FROM User_Master 
	  INNER JOIN School_Master 
		 ON User_Master.School_Id = School_Master.School_Id 
	  INNER JOIN  SchoolWise_Academic_Year_Master SCAYMST
		 ON School_Master.School_Id = SCAYMST.School_Id 
	  INNER JOIN User_Role_Master 
		 ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id 
	   LEFT OUTER JOIN  SchoolWise_Teacher_Master  SCTMST
		 ON SCAYMST.Academic_Year_ID = SCTMST.academic_year_id 
		AND User_Master.User_Id = SCTMST.User_Id 
	   LEFT OUTER JOIN  SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTASM 
	  INNER JOIN SchoolWise_Standard_Division_Master SCSDMST 
		 ON SSDTASM.Standard_Id = SCSDMST.Standard_Id 
		AND SSDTASM.Division_Id = SCSDMST.Division_Id 
		AND SSDTASM.Academic_Year_Id = SCSDMST.academic_year_id 
		 ON SCTMST.Teacher_Id = SSDTASM.Teacher_Id 
	   LEFT OUTER JOIN Salutation_Master AS Salutation_Master_1 
		 ON SCTMST.Salutation_Id = Salutation_Master_1.Salutation_Id 
	  INNER JOIN  Teacher_Designation_Master TDM 
         ON TDM.Teacher_Designation_Id = SCTMST.Designation_Id
      LEFT OUTER JOIN dbo.Standard_Master   
		 ON SCSDMST.Standard_Id = Standard_Master.Standard_Id   
      LEFT OUTER JOIN dbo.Division_Master
		 ON SCSDMST.Division_Id = Division_Master.Division_Id 
		 
		---------------------Added Condition for Extra column----
		LEFT OUTER JOIN vw_BaseTeacherDetails ON SCAYMST.Academic_Year_ID = vw_BaseTeacherDetails.academic_year_id
		AND User_Master.User_Id = vw_BaseTeacherDetails.User_Id
		AND vw_BaseTeacherDetails.Is_Deleted = 'N'		

		---------------------Added Condition for Extra column----
		LEFT OUTER JOIN Accounts.FinancialYearMaster 
		ON YEAR(SCAYMST.Start_date)=YEAR(Accounts.FinancialYearMaster.StartDate)
		AND YEAR(SCAYMST.End_Date)=YEAR(Accounts.FinancialYearMaster.EndDate)
		AND Accounts.FinancialYearMaster.IsDeleted=0
		AND Accounts.FinancialYearMaster.SchoolId=@SchoolId

		----------------
	  WHERE (SCAYMST.Is_Current_Year = N'Y') 
		AND (School_Master.Is_Deleted = N'N') 
		AND (SCAYMST.Is_Deleted = N'N') 
		AND (User_Master.Is_Deleted = N'N') 
		AND (User_Master.User_Id = @UserID)
------------------Next Result Query------------
		SELECT Configuration_Master.Configure_Id
					,UserScreenPermissions.Can_Edit
				FROM UserScreenPermissions
				INNER JOIN Configuration_Master ON UserScreenPermissions.Screen_Id = Configuration_Master.Configure_Id
				WHERE (Configuration_Master.Is_Deleted = 'N')
					AND (UserScreenPermissions.Is_Deleted = 0)
					AND (UserScreenPermissions.User_Id = @UserID)
				ORDER BY Configuration_Master.Parent_Id
					,Configuration_Master.Sort_Index
---------------------------------------------------
  END	  
  ELSE IF (@UserID is not null AND @UserRoleName = 'Admin Staff')
  BEGIN
			  
   SELECT  TOP 1
			SSUPMST.Supervisor_Id, 
			Salutation_Name +N' '+SSUPMST.Supervisor_First_Name+N' '+Supervisor_Last_Name AS UserName,
			SSUPMST.Mobile_Number As MobileNumber,
			N'0'as Standard_Id,
			 N'0' as Division_Id,
			N'0' as StdDivId, 
			User_Master.Is_Locked,
			User_Master.User_Id, 
			 N'N'  Is_PrePrimary,			
			SSUPMST.PhotoFilePath as Photo_file_Path,
			N'-'as ClassName,
			@AcademicYearId as Academic_Year_ID,
			User_Master.User_Role_Id,
			N'N'	as IsClassTeacher ,
			Teacher_Designation_Name,
		    User_Master.School_Id,
			@StartDate as Start_date,
			@EndDate as End_Date,
			User_Master.TermsAccepted,
			User_Login,
			--change
			SSUPMST.Mobile_Number,
			User_Master.Address,
			DOB,
			@XseedApplicable	AS XseedApplicable,
			ISNULL(SSUPMST.IsAcademicYrApplicable,'N') AS IsAcademicYrApplicable,
			ISNULL(SSUPMST.IsFinancialYearApplicable,0) AS IsFinancialYearApplicable
	   FROM User_Master 
	  INNER JOIN School_Master 
		 ON User_Master.School_Id = School_Master.School_Id 
	  INNER JOIN SchoolWise_Academic_Year_Master SCAYMST
		 ON School_Master.School_Id = SCAYMST.School_Id 
	  INNER JOIN User_Role_Master 
		 ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id 
	   LEFT OUTER JOIN SchoolWise_Supervisor_Master SSUPMST
		 ON SCAYMST.Academic_Year_ID = SSUPMST.academic_year_id 
		AND User_Master.User_Id = SSUPMST.User_Id 	  
	   LEFT OUTER JOIN Salutation_Master AS Salutation_Master_1 
		 ON SSUPMST.Salutation_Id = Salutation_Master_1.Salutation_Id 
	  INNER JOIN Teacher_Designation_Master TDM 
         ON TDM.Teacher_Designation_Id = SSUPMST.Designation_Id    
	  WHERE 
	 -- (SCAYMST.Is_Current_Year = N'Y') 
		--AND 
		(School_Master.Is_Deleted = N'N') 
		--AND (SCAYMST.Is_Deleted = N'N') 
		AND (User_Master.Is_Deleted = N'N') 
		AND (User_Master.User_Id = @UserID)
		order by Academic_Year_Id desc
  END	  
   ELSE IF (@UserID is not null AND @UserRoleName = 'Admin')
  BEGIN
			SELECT @AcademicYearId= Academic_Year_ID, @StartDate=Start_date,@EndDate =End_Date
			  FROM SchoolWise_Academic_Year_Master 
			 WHERE School_Id=@SchoolId 
			   AND Is_Current_Year=N'Y'
			   
			SELECT 0 as Supervisor_Id, 
				   Admin_Name as UserName, 
				   0 as Standard_Id, 
				   N'0' asDivision_Id,
				   N'0' as StdDivId, 
				   Is_Locked,
				   UM.User_Id ,
				   UM.PhotoFilePath as Photo_file_Path, 
				   N'-'as ClassName,
				  @AcademicYearId as Academic_Year_ID,
				   N'N' as IsClassTeacher,
				   Teacher_Designation_Name,
				   UM.School_Id ,
				 	@StartDate as Start_date,
			@EndDate as End_Date,
				   UM.TermsAccepted,
				   UM.User_Login,
				   um.Address,
				   um.DOB,
				   um.Mobile_Number
			  FROM vw_BaseAdminDetails 
			 INNER JOIN User_Master UM 
				ON UM.User_Id=vw_BaseAdminDetails.User_Id 
			 WHERE vw_BaseAdminDetails.School_Id=@SchoolId
			 AND UM.User_Id=@UserId
 
	END			  

END