/****** Object:  StoredProcedure [dbo].[usp_GetFeeSummary]    Script Date: 14-01-2026 12:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rohini
-- Create date: 4 January 2016
-- Description:	Get fee summary details to display on dashboard
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFeeSummary] 
@SchoolId			INT,
@AcademicYearId		INT
WITH RECOMPILE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET ARITHABORT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @tblFeeDetails TABLE 
	(
		Amount			INT,
		DebitCredit		NVARCHAR(50),
		IsConcession	CHAR(50),
		PaidDate		DATETIME,
		FeeId			INT,
		IsRTEStudent	BIT,
		RuleId			INT,
		FeeType			NVARCHAR(100)
	)
	DECLARE @AmountExpectedToReceive	DECIMAL(12, 0),
			@TodaysCollection			DECIMAL(12, 0),
			@Concession					DECIMAL(12, 0),
			@DuesTillDate				DECIMAL(12, 0),
			@PaidAmountTillDate			DECIMAL(12, 0)--,

	INSERT INTO @tblFeeDetails
	     SELECT Amount,
		        [Debit/Credit],
		        Is_Concession_Fee,
		        Paid_Date,
		        SSFD.Schoolwise_Student_Fee_Id,
				YSD.Is_RTE_Student,
				YSD.Rule_Id,
				SSFD.Fee_Type
		   FROM Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK)
					INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK) 
						ON SSFD.Student_Id = YSD.YearWise_Student_Id
				       AND YSD.Academic_Year_ID = SSFD.Academic_Year_Id
					INNER JOIN SchoolWise_Student_Master SSM WITH (NOLOCK) 
						ON SSM.SchoolWise_Student_Id = YSD.Student_Id
		  WHERE SSFD.School_Id = @SchoolId
		    AND SSFD.Academic_Year_Id = @AcademicYearId
		    AND SSFD.Is_Deleted = 'N'
		    AND CAST(Paid_Date AS DATE) <= CAST(dbo.GetLocalDate(DEFAULT) AS DATE)
		  --AND SSM.SchoolLeft_Date IS NULL
		    AND Is_Cheque_Bounce = 'N'		
			
	UPDATE TFD
	SET Amount = Amount - ROUND((TFD.Amount * SC.Percentage_Concession)/100,0)
	FROM @tblFeeDetails TFD
	INNER JOIN 
	(
		SELECT SFSC.Fee_SubType, SC.Percentage_Concession, SC.Rule_Id 
		FROM Schoolwise_ConcessionRule SC
		INNER JOIN Schoolwise_Fee_SUBType_Configuration SFSC
		ON SC.Original_SubFeeType_Id = SFSC.Original_Fee_SubType_Id
		AND SC.Academic_Year_Id = SFSC.Academic_Year_Id
		WHERE SC.School_Id = @SchoolId
		AND SC.Academic_Year_Id = @AcademicYearId
		AND SC.Is_Deleted = 0
		AND SFSC.Is_Deleted = 'N'
	)SC
	ON TFD.RuleId = SC.Rule_Id
	AND TFD.FeeType = SC.Fee_SubType
	WHERE RuleId <> 0

	SELECT @AmountExpectedToReceive = SUM(Amount)
	FROM @tblFeeDetails
	WHERE DebitCredit = 'Debit'
		AND IsConcession = 'N'
		AND IsRTEStudent = 0

	SELECT @PaidAmountTillDate = SUM(Amount)
	FROM @tblFeeDetails T1
	WHERE DebitCredit = 'Credit'
		AND IsConcession = 'N'
		AND IsRTEStudent = 0

	SELECT @Concession = SUM(Amount)
	FROM @tblFeeDetails
	WHERE IsConcession = 'Y'
		AND DebitCredit = 'Credit'
		
	SELECT @TodaysCollection = SUM(Amount)
	FROM @tblFeeDetails
	WHERE DebitCredit = 'Credit'
		AND IsConcession = 'N'
		AND CAST(PaidDate AS DATE) = CAST(dbo.GetLocalDate(DEFAULT) AS DATE)
		AND IsRTEStudent = 0

	SET @DuesTillDate = @AmountExpectedToReceive - @PaidAmountTillDate

	SELECT ISNULL(@AmountExpectedToReceive, 0) AmountExpectedToReceive,
		   ISNULL(@TodaysCollection, 0) TodaysCollection,
		   ISNULL(@Concession, 0) Concession,
		   ISNULL(@DuesTillDate, 0) DuesTillDate,
		   ISNULL(@PaidAmountTillDate, 0) TotalPaidFees
END