/****** Object:  StoredProcedure [Transport].[usp_SaveTransportOverrideDetails]    Script Date: 05-02-2026 16:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 28-Aug-2023
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [Transport].[usp_SaveTransportOverrideDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@UpdatedById INT,
	@Id INT,
	@SourceJourneyId INT,
	@SourceRouteId INT,
	@SourceVehicleId INT,
	@TargetJourneyId INT,
	@TargetRouteId INT,
	@TargetVehicleId INT,
	@Name NVARCHAR(100),
	@EndDate DATE,
	@StartDate DATE,
	@UserIds NVARCHAR(1000),
	@CategoryId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @TblJourneyDetails AS TABLE
	(
		ShiftName NVARCHAR(10),
		MinTime nvarchar(15),
		MaxTime NVARCHAR(15),
		TravelerTypeId INT
	)

	INSERT INTO @TblJourneyDetails
	SELECT REPLACE(REPLACE(SM.TransportShiftName,'PICKUP',''),'DROP',''),
			case when PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 then MIN(PickupTime) else MIN(DropTime) end,
			case when PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 then MAX(PickupTime) else MAX(DropTime) end,
			CASE WHEN SM.TransportShiftName LIKE '%PICKUP%' THEN 1 ELSE 2 END
	from Transport.RouteShiftTimingDetails RSTD
	INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
	ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
	INNER JOIN Transport.RouteStopDetails RSD
	ON RSTD.RouteStopId = RSD.RouteStopId
	INNER JOIN Transport.ShiftMaster SM
	ON RSVD.TransportShiftId = SM.TransportShiftId
	WHERE RSTD.Is_Deleted = 0
	AND RSTD.SchoolId = @SchoolId
	AND RSTD.AcademicYearId = @AcademicYearId
	AND RSVD.Is_Deleted = 0
	AND RSD.Is_Deleted = 0
	AND SM.Is_Deleted = 0
	AND RSD.RouteId = @TargetRouteId
	AND RSVD.VehicleId = @TargetVehicleId
	AND (RSVD.TransportShiftId = @TargetJourneyId OR @TargetJourneyId = 0)
	GROUP BY SM.TransportShiftName

	delete from @TblJourneyDetails
	where MinTime = '00:00'
	and MaxTime = '00:00'
	
	UPDATE @TblJourneyDetails
	SET ShiftName = CASE WHEN PATINDEX('%A%',ShiftName) <> 0 THEN 'A'
						WHEN PATINDEX('%B%',ShiftName) <> 0 THEN 'B'
						WHEN PATINDEX('%C%',ShiftName) <> 0 THEN 'C'
						ELSE ''
					END

    IF @Id  = 0
	BEGIN
		INSERT INTO [Transport].[OverrideMaster]
		SELECT @Name,
				@StartDate,
				@EndDate,
				@SourceRouteId,
				@SourceVehicleId,
				@SourceJourneyId,
				@TargetRouteId,
				@TargetVehicleId,
				@TargetJourneyId,
				@CategoryId,
				@SchoolId,
				@AcademicYearId,
				0,
				DBO.GetLocalDate(DEFAULT),
				@UpdatedById,
				NULL,
				NULL

		select @Id = SCOPE_IDENTITY()

		if @CategoryId = 3
		begin
			INSERT INTO [Transport].[OverrideDetails]
			select @Id,
				   Ids,
				   @SchoolId,
				   @AcademicYearId,
				   0,
				   DBO.GetLocalDate(DEFAULT),
				   @UpdatedById,
				   NULL,
				   NULL
			from dbo.udf_GetTableFromList(@UserIds)

			INSERT INTO transport.TravelerJourneyOverrideDetails
			SELECT Ids,
				   TD.TravelerTypeId,
				   MinTime,
				   MaxTime,
				   @Id,
				   @CategoryId,
				   @StartDate,
				   @EndDate,
				   0,
				   @SchoolId,
				   @AcademicYearId,
				   @UpdatedById,
				   dbo.GetLocalDate(default),
				   NULL,
				   NULL
			FROM dbo.udf_GetTableFromList(@UserIds)
			CROSS JOIN @TblJourneyDetails TD
		end
		ELSE
		BEGIN
			INSERT INTO transport.TravelerJourneyOverrideDetails
			SELECT TTD.UserId,
				   case when PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 then 1 else 2 end,
				   MinTime,
				   MaxTime,
				   @Id,
				   @CategoryId,
				   @StartDate,
				   @EndDate,
				   0,
				   @SchoolId,
				   @AcademicYearId,
				   @UpdatedById,
				   dbo.GetLocalDate(default),
				   NULL,
				   NULL
			from Transport.RouteShiftTimingDetails RSTD
			INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
			ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
			INNER JOIN Transport.RouteStopDetails RSD
			ON RSTD.RouteStopId = RSD.RouteStopId
			INNER JOIN Transport.TravelerTransportDetails TTD
			ON RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
			INNER JOIN Transport.ShiftMaster SM
			ON RSVD.TransportShiftId = SM.TransportShiftId
			INNER JOIN @TblJourneyDetails TD
			ON PATINDEX('%'+TD.ShiftName+'%',REPLACE(REPLACE(SM.TransportShiftName,'PICKUP',''),'DROP','')) <> 0
			AND TTD.TravelerTypeId = TD.TravelerTypeId
			INNER JOIN Vw_BaseStudentDetails bsd
			ON ttd.UserId = bsd.User_Id
			WHERE RSTD.Is_Deleted = 0
			AND RSTD.SchoolId = @SchoolId
			AND RSTD.AcademicYearId = @AcademicYearId
			AND RSVD.Is_Deleted = 0
			AND RSD.Is_Deleted = 0
			AND SM.Is_Deleted = 0
			and bsd.SchoolLeft_Date is null
			AND RSD.RouteId = @SourceRouteId
			AND RSVD.VehicleId = @SourceVehicleId			
			AND TTD.Is_Deleted = 0
			AND TTD.TravelerTypeId = CASE WHEN PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 THEN 1 ELSE 2 END
		END
	END
	ELSE
	BEGIN
		UPDATE [Transport].[OverrideMaster]
		SET Name = @Name,
			StartDate = @StartDate,
			EndDate = @EndDate,
			SourceJourneyId = @SourceJourneyId,
			SourceRouteId = @SourceRouteId,
			SourceVehicleId = @SourceVehicleId,
			TargetJourneyId = @TargetJourneyId,
			TargetRouteId = @TargetRouteId,
			TargetVehicleId = @TargetVehicleId,
			CategoryId = @CategoryId,
			UpdatedById = @UpdatedById,
			UpdateDate = DBO.GetLocalDate(DEFAULT)
		WHERE Id = @Id
		
		if @CategoryId <> 3
		BEGIN
			UPDATE [Transport].[OverrideDetails]
			SET IsDeleted = 1,
				UpdatedById = @UpdatedById,
				UpdateDate = dbo.GetLocalDate(default)
			WHERE OverrideMasterId = @Id

			DECLARE @tblUsers AS TABLE
			(
				UserId INT,
				TravelerTypeId INT,
				MinTime NVARCHAR(100),
				MaxTime NVARCHAR(100)
			)

			INSERT INTO @tblUsers
			SELECT TTD.UserId, CASE WHEN PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 THEN 1 ELSE 2 END, TD.MinTime, TD.MaxTime
			from Transport.RouteShiftTimingDetails RSTD
			INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
			ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
			INNER JOIN Transport.RouteStopDetails RSD
			ON RSTD.RouteStopId = RSD.RouteStopId
			INNER JOIN Transport.TravelerTransportDetails TTD
			ON RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
			INNER JOIN Transport.ShiftMaster SM
			ON RSVD.TransportShiftId = SM.TransportShiftId
			INNER JOIN @TblJourneyDetails TD
			ON PATINDEX('%'+TD.ShiftName+'%',REPLACE(REPLACE(SM.TransportShiftName,'PICKUP',''),'DROP','')) <> 0
			AND TTD.TravelerTypeId = TD.TravelerTypeId
			INNER JOIN Vw_BaseStudentDetails bsd
			ON ttd.UserId = bsd.User_Id
			WHERE RSTD.Is_Deleted = 0
			AND RSTD.SchoolId = @SchoolId
			AND RSTD.AcademicYearId = @AcademicYearId
			AND RSVD.Is_Deleted = 0
			AND RSD.Is_Deleted = 0
			AND SM.Is_Deleted = 0
			AND RSD.RouteId = @SourceRouteId
			AND RSVD.VehicleId = @SourceVehicleId			
			AND TTD.Is_Deleted = 0
			AND TTD.TravelerTypeId = CASE WHEN PATINDEX('%PICKUP%',SM.TransportShiftName) <> 0 THEN 1 ELSE 2 END
			and bsd.SchoolLeft_Date is null

			UPDATE Transport.TravelerJourneyOverrideDetails
			SET IsDeleted = 1,
				UpdatedById = @UpdatedById,
				UpdateDate = dbo.GetLocalDate(default)
			FROM Transport.TravelerJourneyOverrideDetails TJOD
			LEFT OUTER JOIN @tblUsers TU
			ON TJOD.UserId = TU.UserId
			AND TJOD.TravelerTypeId = TU.TravelerTypeId
			WHERE OverrideMasterId = @Id
			AND TU.UserId IS NULL

			UPDATE TJOD
			SET MinTime = TU.MinTime,
				MaxTime = TU.MaxTime,
				TravelerTypeId = TU.TravelerTypeId,				
				CategoryId = @CategoryId,
				UpdatedById = @UpdatedById,
				UpdateDate = DBO.GetLocalDate(DEFAULT)
			FROM Transport.TravelerJourneyOverrideDetails TJOD
			INNER JOIN @tblUsers TU
			ON TJOD.UserId = TU.UserId
			AND TJOD.TravelerTypeId = TU.TravelerTypeId
			WHERE OverrideMasterId = @Id

			INSERT INTO transport.TravelerJourneyOverrideDetails
			SELECT TU.UserId,
				   TU.TravelerTypeId,				   
				   TU.MinTime,
				   TU.MaxTime,
				   @Id,
				   @CategoryId,
				   @StartDate,
				   @EndDate,
				   0,
				   @SchoolId,
				   @AcademicYearId,
				   @UpdatedById,
				   dbo.GetLocalDate(default),
				   NULL,
				   NULL
			FROM @tblUsers TU
			LEFT OUTER JOIN Transport.TravelerJourneyOverrideDetails TJOD
			ON TU.UserId = TJOD.UserId
			AND TU.TravelerTypeId = TJOD.TravelerTypeId
			AND TJOD.OverrideMasterId = @Id
			AND TJOD.IsDeleted = 0
			WHERE TJOD.UserId IS NULL
		END
		ELSE
		BEGIN
			UPDATE [Transport].[OverrideDetails]
			SET IsDeleted = 1,
				UpdatedById = @UpdatedById,
				UpdateDate = dbo.GetLocalDate(default)
			WHERE OverrideMasterId = @Id
			AND UserId NOT IN
			(
				SELECT Ids
				from dbo.udf_GetTableFromList(@UserIds)
			)

			update Transport.TravelerJourneyOverrideDetails
			SET IsDeleted = 1,
				UpdatedById = @UpdatedById,
				UpdateDate = dbo.GetLocalDate(default)
			WHERE OverrideMasterId = @Id
			AND UserId NOT IN
			(
				SELECT Ids
				from dbo.udf_GetTableFromList(@UserIds)
			)

			UPDATE TJOD
			SET TravelerTypeId = TD.TravelerTypeId,
				MinTime = TD.MinTime,
				MaxTime = TD.MaxTime,
				CategoryId = @CategoryId,
				StartDate = @StartDate,
				EndDate = @EndDate,
				UpdatedById = @UpdatedById,
				UpdateDate = DBO.GetLocalDate(DEFAULT)
			from Transport.TravelerJourneyOverrideDetails TJOD
			INNER JOIN dbo.udf_GetTableFromList(@UserIds) S
			ON TJOD.UserId = S.Ids
			CROSS JOIN @TblJourneyDetails TD
			WHERE TJOD.SchoolId = @SchoolId
			AND TJOD.AcademicYearId = @AcademicYearId
			AND TJOD.IsDeleted = 0
			AND TJOD.OverrideMasterId = @Id

			INSERT INTO [Transport].[OverrideDetails]
			select @Id,
				   Ids,
				   @SchoolId,
				   @AcademicYearId,
				   0,
				   DBO.GetLocalDate(DEFAULT),
				   @UpdatedById,
				   NULL,
				   NULL
			from dbo.udf_GetTableFromList(@UserIds)
			where Ids NOT IN
			(
				SELECT UserId
				FROM [Transport].[OverrideDetails]
				WHERE SchoolId = @SchoolId
				and AcademicYearId = @AcademicYearId
				and IsDeleted = 0
				and OverrideMasterId = @Id
			)

			INSERT INTO Transport.TravelerJourneyOverrideDetails
			SELECT Ids,				   
				   TD.TravelerTypeId,
				   MinTime,
				   MaxTime,
				   @Id,
				   @CategoryId,
				   @StartDate,
				   @EndDate,
				   0,
				   @SchoolId,
				   @AcademicYearId,
				   @UpdatedById,
				   dbo.GetLocalDate(default),
				   NULL,
				   NULL
			FROM dbo.udf_GetTableFromList(@UserIds)
			CROSS JOIN @TblJourneyDetails TD
			where Ids NOT IN
			(
				SELECT UserId
				FROM transport.TravelerJourneyOverrideDetails
				WHERE SchoolId = @SchoolId
				and AcademicYearId = @AcademicYearId
				and IsDeleted = 0
				and OverrideMasterId = @Id
			)

						
		END
	END

	-- It is to update min and max time if there already exist config override for same bus.
	IF @CategoryId = 3
	BEGIN
		DECLARE @ExistingMinTime NVARCHAR(50),
				@ExistingMaxTime NVARCHAR(50)

		SELECT TOP 1 @ExistingMinTime = TJOD.MinTime, 
						@ExistingMaxTime = TJOD.MaxTime
		FROM Transport.ConfigOverrideMaster COM
		INNER JOIN transport.OverrideMaster OM
		ON OM.StartDate BETWEEN COM.StartDate AND COM.EndDate
		AND OM.EndDate BETWEEN COM.StartDate AND COM.EndDate
		AND OM.TargetVehicleId = COM.SourceVehicleId
		AND OM.TargetJourneyId = COM.SourceJourneyId
		AND OM.TargetRouteId = COM.SourceRouteId
		INNER JOIN Transport.TravelerJourneyOverrideDetails TJOD
		ON COM.Id = TJOD.OverrideMasterId
		where COM.SchoolId = @SchoolId
		AND COM.AcademicYearId = @AcademicYearId
		AND COM.IsDeleted = 0
		AND TJOD.IsDeleted = 0
	--	AND TJOD.CategoryId = 3
		AND OM.Id = @Id

		UPDATE TJOD
		SET MinTime = @ExistingMinTime,
			MaxTime = @ExistingMaxTime,
			UpdateDate = dbo.GetLocalDate(default),
			UpdatedById = @UpdatedById
		from Transport.ConfigOverrideMaster COM
		INNER JOIN transport.OverrideMaster OM
		ON OM.StartDate BETWEEN COM.StartDate AND COM.EndDate
		AND OM.EndDate BETWEEN COM.StartDate AND COM.EndDate
		AND OM.TargetVehicleId = COM.SourceVehicleId
		AND OM.TargetJourneyId = COM.SourceJourneyId
		AND OM.TargetRouteId = COM.SourceRouteId
		INNER JOIN Transport.TravelerJourneyOverrideDetails TJOD
		ON OM.Id = TJOD.OverrideMasterId
		where COM.SchoolId = @SchoolId
		AND COM.AcademicYearId = @AcademicYearId
		AND COM.IsDeleted = 0
		AND TJOD.IsDeleted = 0
	--	AND TJOD.CategoryId = 3
		AND OM.Id = @Id
	END
END