/****** Object:  StoredProcedure [Transport].[usp_UpdateUserJourneyDetails]    Script Date: 05-02-2026 14:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 13-Jul-2023
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [Transport].[usp_UpdateUserJourneyDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@UserId int = 0,
	@RouteId INT = 0,
	@ShiftId INT = 0,
	@VehicleId INT = 0,		
	@IsDeleteCall BIT,
	@InsertedById INT,
	@CategoryId INT = 0,
	@Id INT = 0,
	@StartDate DATE= NULL,
	@EndDate DATE = NULL,
	@TypeId INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @IsDeleteCall = 0
	BEGIN
		-- Use table variables with primary keys to improve join performance
		DECLARE @tblTransportDetails TABLE
		(
			UserId INT,
			VehicleId INT,
			TransportShiftId INT,
			RouteId INT,
			TravelerTypeId INT,
			RouteName NVARCHAR(100),
			JourneyName NVARCHAR(100),
			VehicleNo NVARCHAR(100),
			MinTime NVARCHAR(50),
			MaxTime NVARCHAR(50),
			IsDoubleOverrideCase BIT,
			ExistingOverrideMasterId INT
			PRIMARY KEY (UserId, TravelerTypeId, VehicleId, TransportShiftId, RouteId)
		);

		DECLARE @tblStudentTransportDetails TABLE
		(
			UserId INT,
			TravelerTypeId INT,
			MinTime NVARCHAR(50),
			MaxTime NVARCHAR(50),
			IsDoubleOverrideCase BIT,
			ExistingOverrideMasterId INT,
			PRIMARY KEY (UserId, TravelerTypeId)
		);

		INSERT INTO @tblTransportDetails
			SELECT DISTINCT TTD.UserId, RSVD.VehicleId, RSVD.TransportShiftId, RSD.RouteId, TTD.TravelerTypeId, N'', N'', N'', N'', N'',0,0
			FROM Transport.TravelerTransportDetails TTD
			INNER JOIN Transport.RouteShiftTimingDetails RSTD
			ON TTD.RouteTimingDetailsId = RSTD.RouteTimingDetailsId
			INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
			ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
			INNER JOIN Transport.RouteStopDetails RSD
			ON RSVD.RouteStopId = RSD.RouteStopId
			where RSTD.SchoolId = @SchoolId
			and rstd.AcademicYearId = @AcademicYearId
			and rstd.Is_Deleted = 0
			and RSVD.Is_Deleted = 0
			and RSD.Is_Deleted = 0
			and TTD.Is_Deleted = 0
			AND (RSD.RouteId = @RouteId OR @RouteId = 0)
			AND (RSVD.TransportShiftId = @ShiftId OR @ShiftId = 0)
			AND (RSVD.VehicleId = @VehicleId OR @VehicleId = 0)
			AND (TTD.UserId = @UserId OR @UserId = 0)
			OPTION (RECOMPILE);

		IF @CategoryId = 1
		BEGIN
			INSERT INTO @tblTransportDetails
			SELECT TJOD.UserId, COM.SourceVehicleId,COM.SourceJourneyId,COM.SourceRouteId,TJOD.TravelerTypeId, N'', N'', N'', N'', N'', 1,OM.Id
			from transport.ConfigOverrideMaster COM
			INNER JOIN transport.OverrideMaster OM
			ON OM.StartDate BETWEEN COM.StartDate AND COM.EndDate
			AND OM.EndDate BETWEEN COM.StartDate AND COM.EndDate
			AND OM.TargetVehicleId = COM.SourceVehicleId
			AND OM.TargetJourneyId = COM.SourceJourneyId
			AND OM.TargetRouteId = COM.SourceRouteId
			INNER JOIN Transport.TravelerJourneyOverrideDetails TJOD
			ON OM.Id = TJOD.OverrideMasterId
			LEFT OUTER JOIN @tblTransportDetails TTD
			ON TJOD.UserId = TTD.UserId
			AND TJOD.TravelerTypeId = TTD.TravelerTypeId
			where COM.SchoolId = @SchoolId
			AND COM.AcademicYearId = @AcademicYearId
			AND COM.IsDeleted = 0
			AND TJOD.IsDeleted = 0
			AND TJOD.CategoryId = 3
			and COM.Id = @Id
			AND TTD.UserId IS NULL

			UPDATE SS1
			SET MinTime = SS2.MinPickUpTime,
				MaxTime = SS2.MaxPickupTime,
				RouteName = ss2.RouteName,
				VehicleNo = ss2.VehicleNumber,
				JourneyName = ss2.TransportShiftName
			FROM @tblTransportDetails SS1
			INNER JOIN
			(
				select RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,
					RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber, MIN(CONVERT(TIME,RSTD.PickupTime)) AS MinPickUpTime, max(CONVERT(TIME,rstd.PickupTime)) as MaxPickupTime
				FROM Transport.RouteShiftTimingOverrideDetails RSTD
				INNER JOIN TRANSPORT.RouteShiftVehicleOverrideDetails RSVD
				ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.RouteStopDetails RSD
				ON RSVD.RouteStopId = RSD.RouteStopId
				INNER JOIN Transport.ShiftMaster SM
				ON RSVD.TransportShiftId = SM.TransportShiftId
				INNER JOIN Transport.RouteMaster RM
				ON RSD.RouteId = RM.RouteId
				INNER JOIN TRANSPORT.VehicleMaster VM
				ON RSVD.VehicleId = VM.VehicleId
				where RSTD.SchoolId = @SchoolId
				and rstd.AcademicYearId = @AcademicYearId
				and rstd.Is_Deleted = 0
				and RSVD.Is_Deleted = 0
				and RSD.Is_Deleted = 0
				and SM.Is_Deleted = 0
				AND RM.Is_Deleted = 0
				AND VM.Is_Deleted = 0
				AND RSVD.OverrideMasterId = @Id
				AND (RSD.RouteId = @RouteId OR @RouteId = 0)
				AND (RSVD.TransportShiftId = @ShiftId OR @ShiftId = 0)
				AND (RSVD.VehicleId = @VehicleId OR @VehicleId = 0)
				AND SM.TransportShiftName LIKE '%PICKUP%'
				group  by RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber
			)SS2
			ON SS1.RouteId = SS2.RouteId
			AND SS1.VehicleId = SS2.VehicleId
			AND SS1.TransportShiftId = SS2.TransportShiftId
			AND SS1.TravelerTypeId = 1

			UPDATE SS1
			SET MinTime = SS2.MinDropTime,
				MaxTime = SS2.MaxDropTime,
				RouteName = ss2.RouteName,
				VehicleNo = ss2.VehicleNumber,
				JourneyName = ss2.TransportShiftName
			FROM @tblTransportDetails SS1
			INNER JOIN
			(
				select RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,
					RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber, MIN(CONVERT(TIME,RSTD.DropTime)) AS MinDropTime, max(CONVERT(TIME,rstd.DropTime)) as MaxDropTime
				FROM Transport.RouteShiftTimingOverrideDetails RSTD
				INNER JOIN TRANSPORT.RouteShiftVehicleOverrideDetails RSVD
				ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.RouteStopDetails RSD
				ON RSVD.RouteStopId = RSD.RouteStopId
				INNER JOIN Transport.ShiftMaster SM
				ON RSVD.TransportShiftId = SM.TransportShiftId
				INNER JOIN Transport.RouteMaster RM
				ON RSD.RouteId = RM.RouteId
				INNER JOIN TRANSPORT.VehicleMaster VM
				ON RSVD.VehicleId = VM.VehicleId
				where RSTD.SchoolId = @SchoolId
				and rstd.AcademicYearId = @AcademicYearId
				and rstd.Is_Deleted = 0
				and RSVD.Is_Deleted = 0
				and RSD.Is_Deleted = 0
				and SM.Is_Deleted = 0
				AND RM.Is_Deleted = 0
				AND VM.Is_Deleted = 0
				AND RSVD.OverrideMasterId = @Id
				AND (RSD.RouteId = @RouteId OR @RouteId = 0)
				AND (RSVD.TransportShiftId = @ShiftId OR @ShiftId = 0)
				AND (RSVD.VehicleId = @VehicleId OR @VehicleId = 0)
				AND SM.TransportShiftName LIKE '%DROP%'
				group  by RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber
			)SS2
			ON SS1.RouteId = SS2.RouteId
			AND SS1.VehicleId = SS2.VehicleId
			AND SS1.TransportShiftId = SS2.TransportShiftId
			AND SS1.TravelerTypeId = 2

			INSERT INTO @tblStudentTransportDetails
			SELECT tsd.UserId, tsd.TravelerTypeId
			--,tsd.MinTime, 
			,CONVERT(nvarchar(8), CAST(tsd.MinTime AS time), 108)
			--,tsd.MaxTime
			,CONVERT(nvarchar(8), CAST(tsd.MaxTime AS time), 108)
			,IsDoubleOverrideCase
			,ExistingOverrideMasterId
			FROM @tblTransportDetails tsd
			INNER JOIN vw_BaseStudentDetails BSD
			ON TSD.UserId = BSD.User_Id
			inner join YearWise_Student_Details ysd
			on bsd.SchoolWise_Student_Id = ysd.Student_Id
			where bsd.SchoolLeft_Date is null
			and ysd.School_Id = @SchoolId
			and ysd.Academic_Year_ID = @AcademicYearId
			and ysd.Is_Deleted = 'N'

				update TJD
				set MinTime = STD.MinTime,
					MaxTime = std.MaxTime,
					UpdatedById = @InsertedById,
					UpdateDate = DBO.GetLocalDate(DEFAULT)
				from Transport.TravelerJourneyOverrideDetails TJD
				INNER JOIN @tblStudentTransportDetails STD
				ON TJD.UserId = STD.UserId
				and TJD.TravelerTypeId = STD.TravelerTypeId
				where tjd.SchoolId = @SchoolId
				and TJD.IsDeleted = 0
				AND OverrideMasterId = @Id
				and CategoryId = @TypeId
				AND STD.IsDoubleOverrideCase = 0

				update TJD
				set MinTime = STD.MinTime,
					MaxTime = std.MaxTime,					
					UpdatedById = @InsertedById,
					UpdateDate = DBO.GetLocalDate(DEFAULT)
				from Transport.TravelerJourneyOverrideDetails TJD
				INNER JOIN @tblStudentTransportDetails STD
				ON TJD.UserId = STD.UserId
				and TJD.TravelerTypeId = STD.TravelerTypeId
				AND TJD.OverrideMasterId = STD.ExistingOverrideMasterId
				where tjd.SchoolId = @SchoolId
				and TJD.IsDeleted = 0				
				and CategoryId = 3
				AND STD.IsDoubleOverrideCase = 1
				
				insert into Transport.TravelerJourneyOverrideDetails
				SELECT STD.UserId,
					   STD.TravelerTypeId,
					   STD.MinTime,
					   STD.MaxTime,
					   @Id,
					   @TypeId,
					   @StartDate,
					   @EndDate,
					   0,
					   @SchoolId,
					   @AcademicYearId,
					   @InsertedById,
					   dbo.GetLocalDate(default),
					   NULL,
					   NULL
				from @tblStudentTransportDetails STD
				LEFT OUTER JOIN Transport.TravelerJourneyOverrideDetails TJD
				ON TJD.UserId = STD.UserId
				and TJD.TravelerTypeId = STD.TravelerTypeId
				AND tjd.SchoolId = @SchoolId
				and TJD.IsDeleted = 0
				AND OverrideMasterId = @Id
				and CategoryId = @TypeId				
				WHERE TJD.USERID IS NULL
				AND STD.IsDoubleOverrideCase = 0
		END
		ELSE
		BEGIN
			UPDATE SS1
			SET MinTime = SS2.MinPickUpTime,
				MaxTime = SS2.MaxPickupTime,
				RouteName = ss2.RouteName,
				VehicleNo = ss2.VehicleNumber,
				JourneyName = ss2.TransportShiftName
			FROM @tblTransportDetails SS1
			INNER JOIN
			(
				select RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,
					RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber, MIN(CONVERT(TIME,RSTD.PickupTime)) AS MinPickUpTime, max(CONVERT(TIME,rstd.PickupTime)) as MaxPickupTime
				FROM Transport.RouteShiftTimingDetails RSTD
				INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
				ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.RouteStopDetails RSD
				ON RSVD.RouteStopId = RSD.RouteStopId
				INNER JOIN Transport.ShiftMaster SM
				ON RSVD.TransportShiftId = SM.TransportShiftId
				INNER JOIN Transport.RouteMaster RM
				ON RSD.RouteId = RM.RouteId
				INNER JOIN TRANSPORT.VehicleMaster VM
				ON RSVD.VehicleId = VM.VehicleId
				where RSTD.SchoolId = @SchoolId
				and rstd.AcademicYearId = @AcademicYearId
				and rstd.Is_Deleted = 0
				and RSVD.Is_Deleted = 0
				and RSD.Is_Deleted = 0
				and SM.Is_Deleted = 0
				AND RM.Is_Deleted = 0
				AND VM.Is_Deleted = 0
				AND (RSD.RouteId = @RouteId OR @RouteId = 0)
				AND (RSVD.TransportShiftId = @ShiftId OR @ShiftId = 0)
				AND (RSVD.VehicleId = @VehicleId OR @VehicleId = 0)
				AND SM.TransportShiftName LIKE '%PICKUP%'
				group  by RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber
			)SS2
			ON SS1.RouteId = SS2.RouteId
			AND SS1.VehicleId = SS2.VehicleId
			AND SS1.TransportShiftId = SS2.TransportShiftId
			AND SS1.TravelerTypeId = 1

			UPDATE SS1
			SET MinTime = SS2.MinDropTime,
				MaxTime = SS2.MaxDropTime,
				RouteName = ss2.RouteName,
				VehicleNo = ss2.VehicleNumber,
				JourneyName = ss2.TransportShiftName
			FROM @tblTransportDetails SS1
			INNER JOIN
			(
				select RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,
					RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber, MIN(CONVERT(TIME,RSTD.DropTime)) AS MinDropTime, max(CONVERT(TIME,rstd.DropTime)) as MaxDropTime
				FROM Transport.RouteShiftTimingDetails RSTD
				INNER JOIN TRANSPORT.RouteShiftVehicleDetails RSVD
				ON RSTD.RouteShiftVehicleDetailsId = RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.RouteStopDetails RSD
				ON RSVD.RouteStopId = RSD.RouteStopId
				INNER JOIN Transport.ShiftMaster SM
				ON RSVD.TransportShiftId = SM.TransportShiftId
				INNER JOIN Transport.RouteMaster RM
				ON RSD.RouteId = RM.RouteId
				INNER JOIN TRANSPORT.VehicleMaster VM
				ON RSVD.VehicleId = VM.VehicleId
				where RSTD.SchoolId = @SchoolId
				and rstd.AcademicYearId = @AcademicYearId
				and rstd.Is_Deleted = 0
				and RSVD.Is_Deleted = 0
				and RSD.Is_Deleted = 0
				and SM.Is_Deleted = 0
				AND RM.Is_Deleted = 0
				AND VM.Is_Deleted = 0
				AND (RSD.RouteId = @RouteId OR @RouteId = 0)
				AND (RSVD.TransportShiftId = @ShiftId OR @ShiftId = 0)
				AND (RSVD.VehicleId = @VehicleId OR @VehicleId = 0)
				AND SM.TransportShiftName LIKE '%DROP%'
				group  by RSVD.VehicleId, rsvd.TransportShiftId,rm.RouteId,RM.RouteNo, RM.RouteName, SM.TransportShiftName, VM.VehicleNumber
			)SS2
			ON SS1.RouteId = SS2.RouteId
			AND SS1.VehicleId = SS2.VehicleId
			AND SS1.TransportShiftId = SS2.TransportShiftId
			AND SS1.TravelerTypeId = 2

			INSERT INTO @tblStudentTransportDetails
			SELECT tsd.UserId, tsd.TravelerTypeId
			--,tsd.MinTime, 
			,CONVERT(nvarchar(8), CAST(tsd.MinTime AS time), 108)
			--tsd.MaxTime
			,CONVERT(nvarchar(8), CAST(tsd.MaxTime AS time), 108)
			,IsDoubleOverrideCase
			,ExistingOverrideMasterId
			FROM @tblTransportDetails tsd
			INNER JOIN vw_BaseStudentDetails BSD
			ON TSD.UserId = BSD.User_Id
			inner join YearWise_Student_Details ysd
			on bsd.SchoolWise_Student_Id = ysd.Student_Id
			where bsd.SchoolLeft_Date is null
			and ysd.School_Id = @SchoolId
			and ysd.Academic_Year_ID = @AcademicYearId
			and ysd.Is_Deleted = 'N'
						
			IF EXISTS
			(
					SELECT 1
					FROM Transport.TravelerJourneyDetails TJD
					INNER JOIN @tblStudentTransportDetails STD
						ON TJD.UserId = STD.UserId
						AND TJD.TravelerTypeId = STD.TravelerTypeId
					WHERE TJD.SchoolId = @SchoolId
					AND TJD.IsDeleted = 0
					AND (TJD.UserId = @UserId OR @UserId = 0)
			)
			BEGIN
					update TJD
					set MinTime = STD.MinTime,
						MaxTime = std.MaxTime,
						UpdatedById = @InsertedById,
						UpdateDate = DBO.GetLocalDate(DEFAULT)
					from Transport.TravelerJourneyDetails TJD
					INNER JOIN @tblStudentTransportDetails STD
					ON TJD.UserId = STD.UserId
					and TJD.TravelerTypeId = STD.TravelerTypeId
					where tjd.SchoolId = @SchoolId
					and TJD.IsDeleted = 0
					AND (TJD.UserId = @UserId OR @UserId = 0)
			END
				if @UserId <> 0
				begin
					IF NOT EXISTS (SELECT TOP 1 1 FROM @tblStudentTransportDetails WHERE UserId = @UserId AND TravelerTypeId = 1)
					BEGIN
						update Transport.TravelerJourneyDetails
						set IsDeleted = 1,
							UpdatedById = @InsertedById,
							UpdateDate = dbo.GetLocalDate(default)
						where UserId = @UserId
						AND TravelerTypeId = 1
						AND SchoolId = @SchoolId
					END

					IF NOT EXISTS (SELECT TOP 1 1 FROM @tblStudentTransportDetails WHERE UserId = @UserId AND TravelerTypeId = 2)
					BEGIN
						update Transport.TravelerJourneyDetails
						set IsDeleted = 1,
							UpdatedById = @InsertedById,
							UpdateDate = dbo.GetLocalDate(default)
						where UserId = @UserId
						AND TravelerTypeId = 2
						AND SchoolId = @SchoolId
					END
				end

				insert into Transport.TravelerJourneyDetails
				select STD.UserId,STD.TravelerTypeId,STD.MinTime, STD.MaxTime,0,@SchoolId, @InsertedById, DBO.GetLocalDate(DEFAULT),NULL,NULL
				from @tblStudentTransportDetails STD
				LEFT OUTER JOIN Transport.TravelerJourneyDetails TJD
				ON TJD.UserId = STD.UserId
				and TJD.TravelerTypeId = STD.TravelerTypeId
				AND tjd.SchoolId = @SchoolId
				and TJD.IsDeleted = 0
				WHERE TJD.USERID IS NULL
			END
	end
	ELSE
	BEGIN		
		if @UserId <> 0
		begin	
				update Transport.TravelerJourneyDetails
				set IsDeleted = 1,
					UpdatedById = @InsertedById,
					UpdateDate = dbo.GetLocalDate(default)
				where UserId = @UserId
				AND SchoolId = @SchoolId
		end
	END
END