/****** Object:  View [dbo].[vw_ChequeClearanceList]    Script Date: 8/25/2025 11:31:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[vw_ChequeClearanceList]
AS
SELECT        dbo.Student_Fee_PDC_Details.School_Id, dbo.Student_Fee_PDC_Details.Academic_Year_Id, dbo.Schoolwise_Student_PostDatedCheques.Cheque_Number, 
                         dbo.Schoolwise_Student_PostDatedCheques.Cheque_Date, dbo.Schoolwise_Bank_Master.Bank_Name, dbo.Schoolwise_Student_PostDatedCheques.Cheque_Amount, 
                         dbo.Schoolwise_Student_PostDatedCheques.Cheque_Passed_Date, dbo.Schoolwise_Student_Fee_Details.Paid_Date, dbo.Schoolwise_Student_Fee_Details.Student_Id, 
                         dbo.Schoolwise_Student_PostDatedCheques.PostDated_Cheque_Id, dbo.Standard_Master.Standard_Name, CASE WHEN dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision IS NULL OR
                         dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision = '' THEN dbo.Division_Master.Division_Name ELSE dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision END AS Division_Name,
                          dbo.vw_BaseStudentDetails.Enrolment_Number, dbo.vw_BaseStudentDetails.First_Name, dbo.vw_BaseStudentDetails.Last_Name, dbo.vw_BaseStudentDetails.Middle_Name, 
                         dbo.vw_BaseStudentDetails.StudentName, dbo.Schoolwise_Student_Fee_Details.Standard_Div_Id, dbo.Schoolwise_Bank_Master.Schoolwise_Bank_Id AS Bank_Id, dbo.YearWise_Student_Details.Standard_Id, 
                         dbo.Schoolwise_Student_PostDatedCheques.DepositBankId, dbo.Schoolwise_Student_Fee_Details.Receipt_Number,dbo.vw_BaseStudentDetails.Mobile_Number
FROM            dbo.YearWise_Student_Details INNER JOIN
                         dbo.Student_Fee_PDC_Details INNER JOIN
                         dbo.Schoolwise_Student_Fee_Details ON dbo.Student_Fee_PDC_Details.Schoolwise_Student_Fee_Id = dbo.Schoolwise_Student_Fee_Details.Schoolwise_Student_Fee_Id AND 
                         dbo.Student_Fee_PDC_Details.School_Id = dbo.Schoolwise_Student_Fee_Details.School_Id AND 
                         dbo.Student_Fee_PDC_Details.Academic_Year_Id = dbo.Schoolwise_Student_Fee_Details.Academic_Year_Id INNER JOIN
                         dbo.Schoolwise_Student_PostDatedCheques ON dbo.Student_Fee_PDC_Details.PDC_Id = dbo.Schoolwise_Student_PostDatedCheques.PostDated_Cheque_Id INNER JOIN
                         dbo.Schoolwise_Bank_Master ON dbo.Schoolwise_Student_PostDatedCheques.Bank_Id = dbo.Schoolwise_Bank_Master.Schoolwise_Bank_Id ON 
                         dbo.YearWise_Student_Details.YearWise_Student_Id = dbo.Schoolwise_Student_Fee_Details.Student_Id INNER JOIN
                         dbo.Division_Master ON dbo.YearWise_Student_Details.Division_id = dbo.Division_Master.Division_Id INNER JOIN
                         dbo.SchoolWise_Standard_Division_Master ON dbo.Division_Master.Division_Id = dbo.SchoolWise_Standard_Division_Master.Division_Id AND 
                         dbo.YearWise_Student_Details.Standard_Id = dbo.SchoolWise_Standard_Division_Master.Standard_Id INNER JOIN
                         dbo.Standard_Master ON dbo.YearWise_Student_Details.Standard_Id = dbo.Standard_Master.Standard_Id INNER JOIN
                         dbo.vw_BaseStudentDetails ON dbo.YearWise_Student_Details.Student_Id = dbo.vw_BaseStudentDetails.SchoolWise_Student_Id
WHERE        (dbo.Schoolwise_Student_PostDatedCheques.Is_Deleted = 'N') AND (dbo.Student_Fee_PDC_Details.Is_Deleted = 'N') AND (dbo.Schoolwise_Student_Fee_Details.Is_Deleted = 'N') AND 
                         (dbo.YearWise_Student_Details.Is_Deleted = 'N') AND (dbo.Schoolwise_Bank_Master.Is_Deleted = 'N') AND (dbo.SchoolWise_Standard_Division_Master.Is_Deleted = 'N')
GO
