/****** Object:  View [dbo].[vw_InternalFeeChequeDetails]    Script Date: 8/25/2025 11:31:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[vw_InternalFeeChequeDetails]
AS
SELECT        IFCD.SchoolwiseStudentId, BSD.StudentName, IFCD.ChequeNumber, SBM.Bank_Name, IFCD.ChequeAmount, IFCD.ChequeDate, IFD.PaidDate, IFCD.BankId, 
                         CASE BSD.Enrolment_Number WHEN N'' THEN N'-' ELSE BSD.Enrolment_Number END AS Enrolment_Number, IFCD.ChequePassedDate, VSD.className AS Standard_Name, IFCD.SchoolId, 
                         IFCD.AcademicYearId, BSD.First_Name, BSD.Middle_Name, BSD.Last_Name, IFD.ReceiptNo,Mobile_Number
FROM            dbo.InternalFeeChequeDetails AS IFCD INNER JOIN
                         dbo.vw_BaseStudentDetails AS BSD ON IFCD.SchoolwiseStudentId = BSD.SchoolWise_Student_Id INNER JOIN
                         dbo.Schoolwise_Bank_Master AS SBM ON IFCD.BankId = SBM.Schoolwise_Bank_Id INNER JOIN
                         dbo.InternalFeePDCDetails AS IFPD ON IFCD.Id = IFPD.PDCId INNER JOIN
                         dbo.InternalFeeDetails AS IFD ON IFPD.InternalFeeId = IFD.InternalFeeDetailsId AND IFCD.AcademicYearId = IFD.AcademicYearId INNER JOIN
                         dbo.YearWise_Student_Details AS YSD ON BSD.SchoolWise_Student_Id = YSD.Student_Id AND IFCD.AcademicYearId = YSD.Academic_Year_ID INNER JOIN
                         dbo.vw_standard_division AS VSD ON YSD.Standard_Id = VSD.Standard_Id AND YSD.Division_id = VSD.Division_Id
WHERE        (SBM.Is_Deleted = 'N') AND (IFCD.IsDeleted = 0) AND (IFD.Is_Deleted = 0) AND (IFPD.IsDeleted = 0) AND (IFD.IsChequeBounced = 'N')
GO
