/****** Object:  View [dbo].[vw_StudentClearedCautionMoneyDetails]    Script Date: 8/25/2025 11:31:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[vw_StudentClearedCautionMoneyDetails]
AS
SELECT        SCMD.Schoolwise_Student_Id, SCMD.Paid_By_Student, SCMD.Payment_Date[Payment_Date], SCMD.Returned_By_School, SCMD.Payment_Mode[Payment_Mode], SCMCD.Cheque_Number, 
                         SCMCD.Cheque_Date, SCMCD.Remarks, SBM.Bank_Name, SCMD.Payment_Cheque_Id[Cheque_Id], SCMCD.Bank_Id, SCMD.Amount, SCMD.School_Id, SCMCD.ClearanceDate, 
                         (CASE SSM.Sex WHEN 'M' THEN 'Master' ELSE 'Miss' END) + ' ' + SSM.First_Name + ' ' + CASE WHEN SSM.Middle_Name <> '' THEN SSM.Middle_Name ELSE '' END + ' ' + SSM.Last_Name AS FullName, 
                         SSM.Enrolment_Number, SSM.First_Name, SSM.Middle_Name, SSM.Last_Name, SCMCD.DepositBankId, 0 [IsReturnPayment],SCMD .Receipt_Number, SCMD.ReturnAmount,SSM.Mobile_Number
FROM            dbo.Student_Caution_Money_Details SCMD INNER JOIN
                         dbo.SchoolWise_Student_Master SSM ON SCMD.Schoolwise_Student_Id = SSM.SchoolWise_Student_Id LEFT OUTER JOIN
                         dbo.Student_Caution_Money_Cheque_Details SCMCD ON SCMD.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id AND SCMCD.Is_Deleted = 0 LEFT OUTER JOIN
                         dbo.Schoolwise_Bank_Master SBM ON SCMCD.Bank_Id = SBM.Schoolwise_Bank_Id AND SBM.Is_Deleted = 'N' 
WHERE        (SCMD.Is_Deleted = 0) AND (SCMD.Payment_Cheque_Id IS NOT NULL)
UNION ALL
SELECT        SCMD.Schoolwise_Student_Id, SCMD.Paid_By_Student, SCMD.Return_Date[Payment_Date], SCMD.Returned_By_School, SCMD.Return_Mode[Payment_Mode], SCMCD.Cheque_Number, SCMCD.Cheque_Date, 
                         SCMCD.Remarks, SBM.Bank_Name, SCMD.Return_Cheque_Id[Cheque_Id], SCMCD.Bank_Id, SCMD.Amount, SCMD.School_Id, SCMCD.ClearanceDate, (CASE SSM.Sex WHEN 'M' THEN 'Master' ELSE 'Miss' END) 
                         + ' ' + SSM.First_Name + ' ' + CASE WHEN SSM.Middle_Name <> '' THEN SSM.Middle_Name ELSE '' END + ' ' + SSM.Last_Name AS FullName, SSM.Enrolment_Number, SSM.First_Name, SSM.Middle_Name, 
                         SSM.Last_Name, SCMCD.DepositBankId, 1 [IsReturnPayment], SCMD .Receipt_Number, SCMD.ReturnAmount,SSM.Mobile_Number
FROM            dbo.Student_Caution_Money_Details SCMD INNER JOIN
                         dbo.SchoolWise_Student_Master SSM ON SCMD.Schoolwise_Student_Id = SSM.SchoolWise_Student_Id LEFT OUTER JOIN
                         dbo.Student_Caution_Money_Cheque_Details SCMCD ON SCMD.Return_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id AND SCMCD.Is_Deleted = 0 LEFT OUTER JOIN
                         dbo.Schoolwise_Bank_Master SBM ON SCMCD.Bank_Id = SBM.Schoolwise_Bank_Id AND SBM.Is_Deleted = 'N' 
WHERE        (SCMD.Is_Deleted = 0) AND (SCMD.Return_Cheque_Id IS NOT NULL)
GO
