/****** Object:  StoredProcedure [dbo].[USP_ExportCardPayments]    Script Date: 8/25/2025 11:29:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <07/27/2010>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[USP_ExportCardPayments]
	@SchoolId           INT,
	@Academic_Year_Id   INT,
	@RegNo              NVARCHAR(200) = NULL,
	@PaymentStartDate   SMALLDATETIME = NULL,
	@PaymentEndDate      SMALLDATETIME = NULL,
	@ClearanceStartDate  SMALLDATETIME = NULL,
	@ClearanceEndDate    SMALLDATETIME = NULL,
	@IncludeAll         BIT = 1,
	@CardTypeId         INT = 0,
	@TransactionNumber  NVARCHAR(200) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	CREATE TABLE #ClearedCardPayment
	(
		 StudentCardPaymentDetailsId INT,
		 RegNo                       NVARCHAR(50),
		 StudentName                 NVARCHAR(150),
		 Payable_For                 NVARCHAR(4000),
		 Amount                      INT,
		 Receipt_Number				 INT,
		 Paid_Date                   date,
		 ClearanceDate               NVARCHAR(100),
		 Is_Deleted                  CHAR(1),
		 CardTypeId                  INT,
		 ClassName                   NVARCHAR(25),
		 TransactionNumber			 NVARCHAR(20),
		 MobileNumber                 NVARCHAR(20) 
	)

	DECLARE @Filter NVARCHAR (500)

	SET @Filter=''

	IF(@TransactionNumber IS NOT NULL)
		SET @Filter= @Filter+N' AND TransactionNumber like N''%' + @TransactionNumber + N'%'''
	
	IF(@RegNo IS NOT NULL)
		SET @Filter= @Filter + N' AND (RegNo LIKE ''%' + CAST(@RegNo AS NVARCHAR(100)) + '%''' + ' OR StudentName LIKE ''%' + CAST(@RegNo AS NVARCHAR(100)) + '%'')'

	IF(@PaymentStartDate IS NOT NULL
	   AND @PaymentEndDate IS NOT NULL)
		SET @Filter= @Filter + N' AND Paid_Date BETWEEN ''' + CAST(@PaymentStartDate AS NVARCHAR(100)) + ''' AND ''' + CAST(@PaymentEndDate AS NVARCHAR(100)) + ''''

	IF(@PaymentStartDate IS NOT NULL
	   AND @PaymentEndDate IS NULL)
		SET @Filter= @Filter + N' AND Paid_Date >= ''' + CAST(@PaymentStartDate AS NVARCHAR(100)) + ''''

	IF(@ClearanceStartDate IS NOT NULL
	   AND @ClearanceEndDate IS NOT NULL)
		SET @Filter= @Filter + N' AND ClearanceDate <> ''-'' AND Convert(date,ClearanceDate,120) BETWEEN ''' + CAST(@ClearanceStartDate AS NVARCHAR(100)) + ''' AND ''' + CAST(@ClearanceEndDate AS NVARCHAR(100)) + ''''

	IF(@ClearanceStartDate IS NOT NULL
	   AND @ClearanceEndDate IS NULL)
		SET @Filter= @Filter + N' AND ClearanceDate <> ''-'' AND Convert(date,ClearanceDate,120) >= ''' + CAST(@ClearanceStartDate AS NVARCHAR(100)) + ''''

	--IF( @IncludeAll = 1)
	--SET @Filter= @Filter+' OR ClearanceDate IS NOT NULL '
	--ELSE IF(@ClearanceStartDate IS NULL and @ClearanceEndDate IS NULL )
	--SET @Filter= @Filter+' AND ClearanceDate IS  NULL '
	IF(@CardTypeId > 0)
		SET @Filter= @Filter + ' AND CardTypeId=' + CAST(@CardTypeId AS NVARCHAR(10))

	DECLARE @Query1 NVARCHAR(MAX)

	IF(@IncludeAll = 1)
	BEGIN
		SET @Query1=N'SELECT		StudentCardPaymentDetails.StudentCardPaymentDetailsId,
							SchoolWise_Student_Master.Enrolment_Number,
							SchoolWise_Student_Master.First_Name +'' ''+ SchoolWise_Student_Master.Middle_Name+'' ''+SchoolWise_Student_Master.Last_Name,
							StudentCardPaymentDetails.Remarks,
							StudentCardPaymentDetails.Amount,
							Schoolwise_Student_Fee_Details.Receipt_Number,
							Schoolwise_Student_Fee_Details.Paid_Date,
							REPLACE(ISNULL(CONVERT(NVARCHAR(11),StudentCardPaymentDetails.Passed_Date,106),''-''),'' '',''-'') AS ClearanceDate,
							Schoolwise_Student_Fee_Details.Is_Deleted,
							StudentCardPaymentDetails.CardTypeId,
							Standard_Master.Standard_Name+ '' '' +Division_Master.Division_Name as ClassName,
							StudentCardPaymentDetails.Swap_Number,
							SchoolWise_Student_Master.Mobile_Number
				 FROM		StudentCardPaymentDetails INNER JOIN
							Schoolwise_Student_Fee_Details ON 
							StudentCardPaymentDetails.SchoolWise_Student_Fee_Id = Schoolwise_Student_Fee_Details.Schoolwise_Student_Fee_Id AND 
							StudentCardPaymentDetails.School_Id = Schoolwise_Student_Fee_Details.School_Id AND 
							StudentCardPaymentDetails.Student_Id = Schoolwise_Student_Fee_Details.Student_Id AND 
							StudentCardPaymentDetails.Academic_Year_Id = Schoolwise_Student_Fee_Details.Academic_Year_Id INNER JOIN
							YearWise_Student_Details ON Schoolwise_Student_Fee_Details.Student_Id = YearWise_Student_Details.YearWise_Student_Id INNER JOIN
							SchoolWise_Student_Master ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id INNER JOIN
							Standard_Master ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id INNER JOIN
							Division_Master ON YearWise_Student_Details.Division_Id= Division_Master.Division_Id
				 WHERE		(Schoolwise_Student_Fee_Details.IsCardPayment = 1) AND (Schoolwise_Student_Fee_Details.Is_Deleted = N''N'') 		  
							AND (Schoolwise_Student_Fee_Details.Academic_Year_Id=' + CAST(@Academic_Year_Id AS NVARCHAR) + ') 
							AND (YearWise_Student_Details.Academic_Year_ID=' + CAST(@Academic_Year_Id AS NVARCHAR)
					+ ') AND (SchoolWise_Student_Master.Is_Deleted=N''N'') AND (YearWise_Student_Details.Is_Deleted=N''N'')
							AND(Schoolwise_Student_Fee_Details.School_Id =' + CAST(@SchoolId AS NVARCHAR) + ') AND(YearWise_Student_Details.School_Id=' + CAST(@SchoolId AS NVARCHAR) + ') AND(SchoolWise_Student_Master.School_Id='
					+ CAST(@SchoolId AS NVARCHAR) + ')'
	END
	ELSE
	BEGIN
		SET @Query1=N'SELECT		StudentCardPaymentDetails.StudentCardPaymentDetailsId,
							SchoolWise_Student_Master.Enrolment_Number,
							SchoolWise_Student_Master.First_Name +'' ''+ SchoolWise_Student_Master.Middle_Name+'' ''+SchoolWise_Student_Master.Last_Name,
							StudentCardPaymentDetails.Remarks,
							StudentCardPaymentDetails.Amount,
							Schoolwise_Student_Fee_Details.Receipt_Number,
							Schoolwise_Student_Fee_Details.Paid_Date,
							REPLACE(ISNULL(CONVERT(NVARCHAR(11),StudentCardPaymentDetails.Passed_Date,106),''-''),'' '',''-'') AS ClearanceDate,
							Schoolwise_Student_Fee_Details.Is_Deleted,
							StudentCardPaymentDetails.CardTypeId,
							Standard_Master.Standard_Name+ '' '' +Division_Master.Division_Name  as ClassName,
							StudentCardPaymentDetails.Swap_Number,
							SchoolWise_Student_Master.Mobile_Number
		         FROM		StudentCardPaymentDetails INNER JOIN
							Schoolwise_Student_Fee_Details ON 
							StudentCardPaymentDetails.SchoolWise_Student_Fee_Id = Schoolwise_Student_Fee_Details.Schoolwise_Student_Fee_Id AND 
							StudentCardPaymentDetails.School_Id = Schoolwise_Student_Fee_Details.School_Id AND 
							StudentCardPaymentDetails.Student_Id = Schoolwise_Student_Fee_Details.Student_Id AND 
							StudentCardPaymentDetails.Academic_Year_Id = Schoolwise_Student_Fee_Details.Academic_Year_Id INNER JOIN
							YearWise_Student_Details ON Schoolwise_Student_Fee_Details.Student_Id = YearWise_Student_Details.YearWise_Student_Id INNER JOIN
							SchoolWise_Student_Master ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id INNER JOIN
							Standard_Master ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id INNER JOIN
							Division_Master ON YearWise_Student_Details.Division_Id= Division_Master.Division_Id
				 WHERE		(Schoolwise_Student_Fee_Details.IsCardPayment = 1) AND (Schoolwise_Student_Fee_Details.Is_Deleted = N''N'') AND (StudentCardPaymentDetails.Passed_Date IS  NULL)		  
							AND (Schoolwise_Student_Fee_Details.Academic_Year_Id=' + CAST(@Academic_Year_Id AS NVARCHAR) + ') 
							AND (YearWise_Student_Details.Academic_Year_ID=' + CAST(@Academic_Year_Id AS NVARCHAR)
					+ ') AND (SchoolWise_Student_Master.Is_Deleted=N''N'') AND (YearWise_Student_Details.Is_Deleted=N''N'')
							AND(Schoolwise_Student_Fee_Details.School_Id =' + CAST(@SchoolId AS NVARCHAR) + ') AND(YearWise_Student_Details.School_Id=' + CAST(@SchoolId AS NVARCHAR) + ') AND(SchoolWise_Student_Master.School_Id='
					+ CAST(@SchoolId AS NVARCHAR) + ')'
	END

	print 't1'
	print @Query1
	INSERT INTO #ClearedCardPayment
	EXECUTE sp_executesql @Query1
		print 't2'

	--SELECT * FROM #ClearedCardPayment
	DECLARE @sQuery1 NVARCHAR(1000)

	SET @sQuery1=N'SELECT * FROM #ClearedCardPayment WHERE Is_Deleted=N''N''' + @Filter

	PRINT @sQuery1

	EXECUTE sp_executesql @sQuery1

	--SET @sortExpression='ORDER BY RegNo'
	--EXEC  usp_getPagingResult @StartIndex,@EndIndex, @sQuery1, @sortExpression
	DROP TABLE #ClearedCardPayment
END

--Go
--	"USP_ExportCardPayments";1 71, 10, N'Abeer Anup Zende', NULL, NULL, NULL, NULL, 1, 0
	--exec "PPSN_4Apr2022"."dbo"."USP_ExportCardPayments";1 NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
--Go 
