/****** Object:  StoredProcedure [dbo].[usp_FetchElectronicDetailsForInternalFee]    Script Date: 8/25/2025 11:29:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_FetchElectronicDetailsForInternalFee]
@SchoolId INT,
@Academic_Year_Id INT,
@RegNo NVARCHAR(200)=NULL,
@PaymentStartDate DATETIME =NULL, 
@PaymentEndDate  DATETIME =NULL,
@ClearanceStartDate DATETIME =NULL,
@ClearanceEndDate  DATETIME =NULL,
@IncludeAll BIT=1,
@TypeId INT = 0,
@DepositBankId INT = 0,
@IncludeCautionMoney BIT = 0,
@TransactionNumber NVARCHAR(200)=NULL

--@IsInternalFee BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	IF OBJECT_ID('tempdb..#ElectronicPaymentDetails') IS NULL
			BEGIN
	
	CREATE TABLE #ElectronicPaymentDetails
	(		
		StudentElectronicPaymentId INT,
		RegNo NVARCHAR(50),
		StudentName NVARCHAR(50),
		PayableFor NVARCHAR(2000),
		Amount  INT,
		Receipt_Number INT,
		PaidDate DATETIME,
		ClearanceDate SMALLDATETIME,
		IsDeleted CHAR(1),
		TypeId INT,
		ClassName NVARCHAR(25),
		DepositedBankId INT,
		StudentId INT,
		TxnNo NVARCHAR(20),
		Type NVARCHAR(20),
		BankName NVARCHAR(50),
		TransactionNumber NVARCHAR(50),
		IsCautionMoneyPayment INT,
		MobileNumber NVARCHAR(20)
	)
		END
			ELSE
				TRUNCATE TABLE #ElectronicPaymentDetails


	DECLARE @Filter NVARCHAR (500)
	SET @Filter=N''

	-- Following conditions are used to attach filters depending on the valus provided.
	IF(@TransactionNumber IS NOT NULL)
		SET @Filter= @Filter+N' AND TransactionNumber like N''%' + @TransactionNumber + N'%'''
	
	IF(@RegNo IS NOT NULL)
		SET @Filter= @Filter+N' AND (RegNo LIKE ''%'+ CAST(@RegNo as NVARCHAR(100)) +'%''' +' OR StudentName LIKE ''%'+ CAST(@RegNo as NVARCHAR(100)) +'%'')'
	
	IF(@PaymentStartDate IS NOT NULL AND @PaymentEndDate IS NOT NULL)
		SET @Filter= @Filter+N' AND PaidDate BETWEEN '''+ CAST(@PaymentStartDate as NVARCHAR(100)) + ''' AND '''+CAST(@PaymentEndDate as NVARCHAR(100)) +''''
	
	IF(@PaymentStartDate IS NOT NULL AND @PaymentEndDate IS NULL)
		SET @Filter= @Filter+N' AND PaidDate >= '''+ CAST(@PaymentStartDate as NVARCHAR(100)) +''''
	
	IF(@ClearanceStartDate IS NOT NULL AND @ClearanceEndDate IS NOT NULL)
		SET @Filter= @Filter+N' AND ClearanceDate BETWEEN '''+ CAST(@ClearanceStartDate as NVARCHAR(100)) + ''' AND '''+CAST(@ClearanceEndDate as NVARCHAR(100)) +''''
	
	IF(@ClearanceStartDate IS NOT NULL AND @ClearanceEndDate IS NULL )
		SET @Filter= @Filter+N' AND ClearanceDate >= '''+ CAST(@ClearanceStartDate as NVARCHAR(100)) +''''
	
	if @TypeId <> 0	
	SET @Filter= @Filter+N' AND TypeId='+CAST(@TypeId as NVARCHAR(10))			

	DECLARE @Query1 NVARCHAR(4000) = '',
		    @FetchCautionMoneyDetails NVARCHAR(4000) = '',
			@CautionCriteria NVARCHAR(100) = ''

	-- This condition will be executed only if we checked the include all details checkbox while searching the details from clearance screen.
	IF(@IncludeAll = 1)
	BEGIN
		SET @Query1= N'SELECT MIN(SEP.Id) AS Id,
							  SSM.Enrolment_Number,
							  SSM.First_Name +'' ''+ SSM.Middle_Name+'' ''+SSM.Last_Name,
							  '''' as Payable_For,
							  SUM(SEP.Amount) AS Amount,
							  SSFD.ReceiptNo,
							  SSFD.PaidDate,
							  SEP.ClearanceDate,
							  SSFD.Is_Deleted,
							  SEP.TypeId,SM.
							  Standard_Name+ '' '' + DM.Division_Name as ClassName,
							  SEP.DepositedBankId,
							  SSFD.Schoolwise_Student_Id,
							  SEP.TransactionNumber,
							  EPT.Type,
							  SBM.Bank_Name,
							  SEP.TransactionNumber, 
							  0 AS IsCautionMoneyPayment,
							  SSM.Mobile_Number
						 FROM InternalFeeElectronicPayments SEP WITH (NOLOCK) 
				   INNER JOIN InternalFeeDetails SSFD WITH (NOLOCK) 
						   ON SEP.InternalFeeDetailsId = SSFD.InternalFeeDetailsId 
						  AND SEP.SchoolId = SSFD.SchoolId 		   
						  AND SEP.AcademicYearId = SSFD.AcademicYearId 
				   INNER JOIN ElectronicPaymentTypes EPT WITH (NOLOCK) 
						   ON SEP.TypeId = EPT.Id
				   LEFT OUTER JOIN Schoolwise_Bank_Master SBM WITH (NOLOCK) 
						   ON SEP.BankId = SBM.Schoolwise_Bank_Id
				   INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK) 
						   ON SSFD.Schoolwise_Student_Id = YSD.Student_Id 
				   INNER JOIN SchoolWise_Student_Master SSM WITH (NOLOCK) 
						   ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				   INNER JOIN Standard_Master SM WITH (NOLOCK) 
						   ON YSD.Standard_Id = SM.Standard_Id 
				   INNER JOIN Division_Master DM WITH (NOLOCK) 
						   ON YSD.Division_Id= DM.Division_Id
						WHERE SSFD.PaymentTypeId = 5
						  AND SSFD.Is_Deleted = 0 		  
						  AND SSFD.AcademicYearId=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND YSD.Academic_Year_ID=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND SSM.Is_Deleted=''N'' 
						  AND YSD.Is_Deleted=''N''
						  AND (SEP.DepositedBankId = '+CAST(@DepositBankId AS NVARCHAR(5))+' OR '+CAST(@DepositBankId AS NVARCHAR(5))+'=0)
						  AND SSFD.SchoolId = ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND YSD.School_Id=  ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND SSM.School_Id= ' +CAST(@SchoolId as NVARCHAR)+'
						  GROUP BY SSM.Enrolment_Number,
							  SSM.First_Name,
							  SSM.Middle_Name,
							  SSM.Last_Name,
							  SSFD.ReceiptNo, 
							  SSFD.PaidDate,
							  SEP.ClearanceDate,
							  SSFD.Is_Deleted,
							  SEP.TypeId,
							  SM.Standard_Name,
							  DM.Division_Name,
							  SEP.DepositedBankId,							  
							  SEP.TransactionNumber,
							  EPT.Type,
							  SBM.Bank_Name,
							  SSFD.Schoolwise_Student_Id,
							  SEP.TransactionNumber'
						 
	END
	-- This condition will be executed only if we want only uncleared transaction details from clearance screen.
	ELSE
	BEGIN		
		SET @Query1= N'SELECT MIN(SEP.iD) as Id, 
					          SSM.Enrolment_Number,
							  SSM.First_Name +'' ''+ SSM.Middle_Name+'' ''+SSM.Last_Name,
							  '''' as Payable_For,
							  SUM(SEP.Amount) AS Amount,
							  SSFD.ReceiptNo, 
							  SSFD.PaidDate,
							  SEP.ClearanceDate,
							  CASE WHEN SSFD.Is_Deleted = 0 THEN ''N'' ELSE ''Y'' END AS Is_Deleted,
							  SEP.TypeId,
							  SM.Standard_Name+ '' '' + DM.Division_Name as ClassName, 
							  SEP.DepositedBankId,
							  SSFD.Schoolwise_Student_Id,
							  SEP.TransactionNumber,
							  EPT.Type,
							  SBM.Bank_Name,
							  SEP.TransactionNumber,
							  0 AS IsCautionMoneyPayment,
							  SSM.Mobile_Number
						 FROM InternalFeeElectronicPayments SEP WITH (NOLOCK) 
				   INNER JOIN InternalFeeDetails SSFD WITH (NOLOCK) 
						   ON SEP.InternalFeeDetailsId = SSFD.InternalFeeDetailsId 
						  AND SEP.SchoolId = SSFD.SchoolId 		   
						  AND SEP.AcademicYearId = SSFD.AcademicYearId 
				   INNER JOIN ElectronicPaymentTypes EPT WITH (NOLOCK) 
						   ON SEP.TypeId = EPT.Id
				   LEFT OUTER JOIN Schoolwise_Bank_Master SBM WITH (NOLOCK) 
						   ON SEP.BankId = SBM.Schoolwise_Bank_Id
				   INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK) 
						   ON SSFD.Schoolwise_Student_Id = YSD.Student_Id 
				   INNER JOIN SchoolWise_Student_Master SSM WITH (NOLOCK) 
						   ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				   INNER JOIN Standard_Master SM WITH (NOLOCK) 
						   ON YSD.Standard_Id = SM.Standard_Id 
				   INNER JOIN Division_Master DM WITH (NOLOCK) 
						   ON YSD.Division_Id= DM.Division_Id
						WHERE 
						 SSFD.PaymentTypeId =5
						 AND
						   SSFD.Is_Deleted = 0 	
						   and SEP.IsDeleted = 0
						  AND SEP.ClearanceDate IS  NULL	  
						  AND (SEP.DepositedBankId = '+CAST(@DepositBankId AS NVARCHAR(5))+' OR '+CAST(@DepositBankId AS NVARCHAR(5))+'=0)
					 AND SSFD.AcademicYearId=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND YSD.Academic_Year_ID=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND SSM.Is_Deleted=''N'' 
						  AND YSD.Is_Deleted=''N''
						  AND SSFD.SchoolId = ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND YSD.School_Id=  ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND SSM.School_Id= ' +CAST(@SchoolId as NVARCHAR)+ '
						  GROUP BY SSM.Enrolment_Number,
							  SSM.First_Name,
							  SSM.Middle_Name,
							  SSM.Last_Name,
							  SSFD.ReceiptNo, 
							  SSFD.PaidDate,
							  SEP.ClearanceDate,
							  SSFD.Is_Deleted,
							  SEP.TypeId,
							  SM.Standard_Name,
							  DM.Division_Name,
							  SEP.DepositedBankId,							  
							  SEP.TransactionNumber,
							  EPT.Type,
							  SBM.Bank_Name,
							  SSFD.Schoolwise_Student_Id,
							  SEP.TransactionNumber'
	END	
	
	print @Query1
	INSERT INTO #ElectronicPaymentDetails
	EXECUTE sp_executesql @Query1

	DECLARE @sQuery1 NVARCHAR(1000) = ''

-- This statement is used to select the payment details.
	IF(@IncludeAll = 1)
		BEGIN
			SET @sQuery1=N'SELECT *
		    FROM #ElectronicPaymentDetails
		    WHERE IsDeleted=''0'''+ @Filter	
		END
	ELSE
		BEGIN
			SET @sQuery1=N'SELECT *
		    FROM #ElectronicPaymentDetails
		    WHERE IsDeleted=''N'''+ @Filter	
		END		
			
	print @sQuery1	
	EXECUTE sp_executesql @sQuery1

	IF(@IncludeAll = 1)
	BEGIN
				-- This statement is used to select the total amount of selected payment details .
			SET @sQuery1=N'SELECT ISNULL(SUM(Amount),0) as TotalAmount
					FROM #ElectronicPaymentDetails
					WHERE IsDeleted=''0'''+ @Filter		
	END
	ELSE
		BEGIN
			-- This statement is used to select the total amount of selected payment details .
			SET @sQuery1=N'SELECT ISNULL(SUM(Amount),0) as TotalAmount
					FROM #ElectronicPaymentDetails
					WHERE IsDeleted=''N'''+ @Filter		   
		END

	print @sQuery1	
	EXECUTE sp_executesql @sQuery1
	
	-- Here we delete the temparary table created.
	DELETE #ElectronicPaymentDetails
	IF OBJECT_ID('tempdb..#ElectronicPaymentDetails') IS NOT NULL
				DROP TABLE #ElectronicPaymentDetails 	
   
END
GO
