/****** Object:  StoredProcedure [dbo].[usp_GetChequeClearanceDetails]    Script Date: 8/25/2025 11:29:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Milind
-- Create date: 04 Aug 2009
-- Description:	
-- =============================================

ALTER PROCEDURE [dbo].[usp_GetChequeClearanceDetails]
  @iSchoolId INT
, @iAcademicYrId INT
, @RegNo NVARCHAR(50) = N''
, @ChequeNo NVARCHAR(50) = N''
, @StartDate DATETIME 
, @EndDate DATETIME 
, @IsChequeClear BIT
, @IsChequeClearanceDate BIT
, @IsCautionClearanceDate BIT
, @IsInternalFee BIT
AS
	BEGIN
		SET NOCOUNT ON; 
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	
				
		IF @IsInternalFee = 0
		BEGIN
				IF(@IsCautionClearanceDate=0)
				BEGIN
					IF(@IsChequeClear = 1)
						BEGIN
                        IF(@RegNo <> N'')
								BEGIN
									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
												First_Name like N'%' + @RegNo + N'%' OR 
												Middle_Name like N'%'+ @RegNo + N'%' OR 
												Last_Name like N'%' + @RegNo + N'%')
										   ORDER BY Paid_date DESC
								END
							ELSE IF (@ChequeNo <> N'')
								BEGIN 
									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Number like N'%' + @ChequeNo + N'%'
										   ORDER BY Paid_date DESC
								END
							ELSE IF (@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))

								BEGIN	
									IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)	
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date between @StartDate AND @EndDate
										   ORDER BY ChequePassedDate DESC
									ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date >= @StartDate 
									ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)	
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name ,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date <= @EndDate 	   
										   
								END
							ELSE IF((@StartDate IS NOT NULL OR @EndDate IS NOT NULL) AND @IsChequeClearanceDate=0)
								BEGIN
																	
                                IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
                                           SELECT Student_Id
                                             ,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date between @StartDate AND @EndDate
										   ORDER BY Paid_date DESC
									ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date >= @StartDate 
										   ORDER BY Paid_date DESC   
									ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date <= @EndDate 	
										   ORDER BY Paid_date DESC   
								END
							ELSE
								BEGIN

									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   ORDER BY Paid_date DESC
								END		   					
								
						END
					ELSE
						BEGIN
							IF(@RegNo <> N'')
								BEGIN
									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
												First_Name like N'%' + @RegNo + N'%' OR 
												Middle_Name like N'%'+ @RegNo + N'%' OR 
												Last_Name like N'%' + @RegNo + N'%') 
										   AND Cheque_Passed_Date is null
										   ORDER BY Paid_date DESC
								END
							ELSE IF (@ChequeNo <> N'')
								BEGIN
									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Number like N'%' + @ChequeNo + N'%'
										   AND Cheque_Passed_Date is null
										   ORDER BY Paid_date DESC
								END
							ELSE IF (@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
								BEGIN 
									IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date between @StartDate AND @EndDate 
										   --AND Cheque_Passed_Date is null 
										   ORDER BY Paid_date DESC
									ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date >= @StartDate 
										   --AND Cheque_Passed_Date is null 
										   ORDER BY Paid_date DESC  
									ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		  
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Cheque_Passed_Date <= @EndDate  
								END
							ELSE IF (@IsChequeClearanceDate = 0 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
								BEGIN
								IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)  
									  SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date between @StartDate AND @EndDate 
										   AND Cheque_Passed_Date is null 
										   ORDER BY Paid_date DESC
								ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date >= @StartDate 
										   AND Cheque_Passed_Date is null 
										   ORDER BY Paid_date DESC 		  
								ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		
										SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId
										   AND Paid_date <= @EndDate 
										   AND Cheque_Passed_Date is null 
										   ORDER BY Paid_date DESC 		  	    
							
							END	
							ELSE
								BEGIN
									SELECT Student_Id
											,StudentName,Cheque_Number,Receipt_Number
											,Bank_Name,Cheque_Amount,Cheque_Date
											,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
											,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
										   WHERE  School_Id = @iSchoolId
										   AND Academic_Year_Id =  @iAcademicYrId								   
										   AND Cheque_Passed_Date is null
										   ORDER BY Paid_date DESC
								END		   
							  
						END
					END
				ELSE IF(@IsCautionClearanceDate = 1 )
				BEGIN
				IF(@IsChequeClear = 1)
					BEGIN
						IF(@RegNo <> N'')
							BEGIN
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
										ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
											First_Name like N'%' + @RegNo + N'%' OR 
											Middle_Name like N'%'+ @RegNo + N'%' OR 
											Last_Name like N'%' + @RegNo + N'%')
									   UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,
												(N' - ') as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										WHERE  School_Id = @iSchoolId
										AND Payment_Date IS NOT NULL
									--	AND Academic_Year_Id =  @iAcademicYrId
									   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
											First_Name like N'%' + @RegNo + N'%' OR 
											Middle_Name like N'%'+ @RegNo + N'%' OR 
											Last_Name like N'%' + @RegNo + N'%')
											ORDER BY Paid_date DESC
							END
						ELSE IF (@ChequeNo <> N'')
							BEGIN 
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Number like N'%' + @ChequeNo + N'%'
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										WHERE  School_Id = @iSchoolId
									--	AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
												AND Cheque_Number like N'%' + @ChequeNo + N'%'
											ORDER BY Paid_date DESC
							END
						ELSE IF(@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
							BEGIN
								IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date between @StartDate AND @EndDate
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND ClearanceDate between @StartDate AND @EndDate
											ORDER BY Paid_date DESC
								ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date >= @StartDate 
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND ClearanceDate >= @StartDate 
											ORDER BY Paid_date DESC	
								ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)	
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date <= @EndDate
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND ClearanceDate <= @EndDate
											ORDER BY Paid_date DESC							
													
							END
						ELSE IF(@IsChequeClearanceDate = 0 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
							BEGIN
								IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date between @StartDate AND @EndDate
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND Payment_Date between @StartDate AND @EndDate
											ORDER BY Paid_date DESC
								ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)		
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date >= @StartDate
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND Payment_Date >= @StartDate
											ORDER BY Paid_date DESC	
								ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)	
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date  <= @EndDate
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
									   AND Payment_Date  <= @EndDate
											ORDER BY Paid_date DESC		
							END
						ELSE
							BEGIN
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									  
										UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										WHERE  School_Id = @iSchoolId
									--	AND Academic_Year_Id =  @iAcademicYrId
										AND Payment_Date IS NOT NULL
												
											ORDER BY Paid_date DESC
							END				
						   	
					END
				ELSE
					BEGIN
						IF(@RegNo <> N'')
							BEGIN
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
											First_Name like N'%' + @RegNo + N'%' OR 
											Middle_Name like N'%'+ @RegNo + N'%' OR 
											Last_Name like N'%' + @RegNo + N'%') 
									   AND Cheque_Passed_Date is null
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
											First_Name like N'%' + @RegNo + N'%' OR 
											Middle_Name like N'%'+ @RegNo + N'%' OR 
											Last_Name like N'%' + @RegNo + N'%') 
									   AND ClearanceDate is null
											ORDER BY Paid_date DESC
							END
						ELSE IF (@ChequeNo <> N'')
							BEGIN
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Number like N'%' + @ChequeNo + N'%'
									   AND Cheque_Passed_Date is null
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,
												N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										 AND Cheque_Number like N'%' + @ChequeNo + N'%'
									   AND ClearanceDate is null
									--   AND Academic_Year_Id =  @iAcademicYrId
									   ORDER BY Paid_date DESC
							END
						ELSE IF (@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))					
							BEGIN 
								IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date between @StartDate AND @EndDate 
									   --AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										 AND ClearanceDate between @StartDate AND @EndDate 
									   ORDER BY Paid_date DESC
								ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date >= @StartDate 
									   --AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										 AND ClearanceDate >= @StartDate 
									   ORDER BY Paid_date DESC		
								ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		  
									SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date <= @EndDate 
									   --AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										 AND ClearanceDate <= @EndDate  
									   ORDER BY Paid_date DESC 		   
							END	
						ELSE IF (@IsChequeClearanceDate = 0 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
							BEGIN
								IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)  
									 SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date between @StartDate AND @EndDate 
									   AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										  AND Payment_Date between @StartDate AND @EndDate 
									   AND ClearanceDate is null 
							ORDER BY Paid_date DESC
								ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
									 SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date >= @StartDate  
									   AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										  AND Payment_Date >= @StartDate  
									   AND ClearanceDate is null 
									ORDER BY Paid_date DESC
								ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		
									 SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Paid_date <= @EndDate 
									   AND Cheque_Passed_Date is null 
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										  AND Payment_Date <= @EndDate 
									   AND ClearanceDate is null 
							ORDER BY Paid_date DESC
						
						END	
						ELSE
							BEGIN
								SELECT Student_Id
										,StudentName,Cheque_Number,Receipt_Number
										,Bank_Name,Cheque_Amount,Cheque_Date
										,Paid_Date,Bank_Id,CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number
										,ISNULL(REPLACE(CONVERT (NVARCHAR(20),Cheque_Passed_Date,106),N' ',N'-'),N'-') AS ChequePassedDate,(Standard_Name+N' ' + Division_Name) as Standard_Name,Mobile_Number FROM vw_ChequeClearanceList
									   WHERE  School_Id = @iSchoolId
									   AND Academic_Year_Id =  @iAcademicYrId
									   AND Cheque_Passed_Date is null
										 UNION
									   SELECT Schoolwise_Student_Id,FullName ,
												Cheque_Number,Receipt_Number ,Bank_Name ,Amount ,Cheque_Date ,Payment_Date ,Bank_Id,
												CASE Enrolment_Number WHEN N'' THEN N'-' ELSE  Enrolment_Number END AS  Enrolment_Number,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),ClearanceDate,106),N' ',N'-'),N'-') AS ChequePassedDate,N'-' as Standard_Name,Mobile_Number
										FROM  vw_StudentClearedCautionMoneyDetails 
										 WHERE  School_Id = @iSchoolId
									--	 AND Academic_Year_Id =  @iAcademicYrId
										 AND Payment_Date IS NOT NULL
										 AND ClearanceDate is null
											ORDER BY Paid_date DESC
							END				  
					END
				END	
		END
		ELSE
		BEGIN		

				EXEC usp_GetChequeClearanceDetailsOfInternalFee
				@iSchoolId = @iSchoolId,
				@iAcademicYrId = @iAcademicYrId,
				@RegNo = @RegNo
				,@ChequeNo = @ChequeNo
				,@StartDate = @StartDate
				,@EndDate = @EndDate
				,@IsChequeClear  = @IsChequeClear
				,@IsChequeClearanceDate = @IsChequeClearanceDate
		END

	END
go
