/****** Object:  StoredProcedure [dbo].[usp_GetChequeClearanceDetailsOfInternalFee]    Script Date: 8/25/2025 11:29:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================================================
-- Author:		Sachin
-- Create date: 12-Sept-2015
-- Description:	This USP is used to return internal fee clearance details to export.
-- =======================================================================================

ALTER PROCEDURE [dbo].[usp_GetChequeClearanceDetailsOfInternalFee]
  @iSchoolId INT
, @iAcademicYrId INT
, @RegNo NVARCHAR(50) = N''
, @ChequeNo NVARCHAR(50) = N''
, @StartDate  DATETIME
, @EndDate  DATETIME
, @IsChequeClear BIT
, @IsChequeClearanceDate BIT
AS
	BEGIN
		SET NOCOUNT ON; 
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
		
	IF(@IsChequeClear = 1)
		BEGIN
			IF(@RegNo <> N'')
				BEGIN
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number							
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name
							,Mobile_Number 
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId						 
						   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
								First_Name like N'%' + @RegNo + N'%' OR 
								Middle_Name like N'%'+ @RegNo + N'%' OR 
								Last_Name like N'%' + @RegNo + N'%')
						   ORDER BY PaidDate DESC
				END
			ELSE IF (@ChequeNo <> N'')
				BEGIN 
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequeNumber like N'%' + @ChequeNo + N'%'
						   ORDER BY Paiddate DESC
				END
			ELSE IF (@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
				BEGIN
					
					IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
					BEGIN						
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						 FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate between @StartDate AND @EndDate
						   ORDER BY ChequePassedDate DESC
				   
					END
					ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate >= @StartDate 
					ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)	
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name ,
							Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate <= @EndDate 	   
						   
				END
			ELSE IF((@StartDate IS NOT NULL OR @EndDate IS NOT NULL) AND @IsChequeClearanceDate=0)
				BEGIN
					IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)	
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND Paiddate between @StartDate AND @EndDate
						   ORDER BY Paiddate DESC
					ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND PaidDate >= @StartDate 
						   ORDER BY PaidDate DESC   
					ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND PaidDate <= @EndDate 	
						   ORDER BY PaidDate DESC   
				END
			ELSE
				BEGIN				
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   ORDER BY PaidDate DESC
				END		   					
				
		END
	ELSE
		BEGIN
			IF(@RegNo <> N'')
				BEGIN
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND (Enrolment_Number like N'%' + @RegNo + N'%' OR 
								First_Name like N'%' + @RegNo + N'%' OR 
								Middle_Name like N'%'+ @RegNo + N'%' OR 
								Last_Name like N'%' + @RegNo + N'%') 
						   AND (ChequePassedDate is null)
						   ORDER BY Paiddate DESC
				END
			ELSE IF (@ChequeNo <> N'')
				BEGIN
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequeNumber like N'%' + @ChequeNo + N'%'
						   AND (ChequePassedDate is null )
						   ORDER BY PaidDate DESC
				END
		    ELSE IF (@IsChequeClearanceDate = 1 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
				BEGIN 
					IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						  FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate between @StartDate AND @EndDate 
						   --AND Cheque_Passed_Date is null 
						   ORDER BY PaidDate DESC
					ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	 
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate >= @StartDate 
						   --AND Cheque_Passed_Date is null 
						   ORDER BY PaidDate DESC  
					ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		  
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						  FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND ChequePassedDate <= @EndDate  
				END
			ELSE IF (@IsChequeClearanceDate = 0 AND (@StartDate IS NOT NULL OR @EndDate IS NOT NULL))
				BEGIN
				IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)	
				BEGIN  				
					  SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						  FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND PaidDate between @StartDate AND @EndDate 
						   AND (ChequePassedDate is null)
						   ORDER BY PaidDate DESC
				END
				ELSE if (@StartDate IS NOT NULL AND @EndDate IS  NULL)	
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name
							,Mobile_Number 
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND PaidDate >= @StartDate 
						   AND (ChequePassedDate is null)
						   ORDER BY PaidDate DESC 		  
				ELSE  if (@StartDate IS  NULL AND @EndDate IS NOT NULL)		
						SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name
							,Mobile_Number 
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId
						   AND PaidDate <= @EndDate 
						   AND (ChequePassedDate is null)
						   ORDER BY PaidDate DESC 		  	    
			
			END	
			ELSE
				BEGIN								
					SELECT DISTINCT SchoolwiseStudentId as Student_Id
							,StudentName
							,ChequeNumber as Cheque_Number
							,ReceiptNo AS Receipt_Number
							,Bank_Name
							,ChequeAmount as Cheque_Amount
							,ChequeDate as Cheque_Date
							,PaidDate as Paid_Date
							,BankId as Bank_Id
							,Enrolment_Number
							,ISNULL(REPLACE(CONVERT(NVARCHAR(20), ChequePassedDate, 106), N' ', N'-'), N'-') AS ChequePassedDate
							,Standard_Name 
							,Mobile_Number
						   FROM vw_InternalFeeChequeDetails
						   WHERE  SchoolId = @iSchoolId
						   AND AcademicYearId =  @iAcademicYrId								   
						   AND (ChequePassedDate is null)
						   ORDER BY PaidDate DESC
				END		   
			  
		END				
	END
GO
