/****** Object:  StoredProcedure [dbo].[usp_GetElectronicPayments]    Script Date: 8/25/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ===================================================================================================
-- Author:		Pravin Shinde
-- Create date: 06-Sep-2013
-- Description:	This procedure is used to get electronic payment details as per the selected filters
-- MODIFICATION LOG
-- ##	Date		Author		Description
-- ------------------------------------------------------------------------------------------------
--		14-Oct-2013 Pravin		This procedure is modified to include NOLOCK and comments inside the logic.
-- ===================================================================================================
ALTER PROCEDURE [dbo].[usp_GetElectronicPayments] 
@SchoolId INT,
@Academic_Year_Id INT,
@RegNo NVARCHAR(200)=NULL,
@PaymentStartDate  DATETIME =NULL,
@PaymentEndDate  DATETIME =NULL,
@ClearanceStartDate  DATETIME =NULL,
@ClearanceEndDate  DATETIME =NULL,
@IncludeAll BIT=1,
@TypeId INT = 0,
@DepositBankId INT = 0,
@IncludeCautionMoney BIT = 0,
@IsInternalFee BIT,
@TransactionNumber NVARCHAR(200)=NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @IsInternalFee = 0
	BEGIN
	
			IF OBJECT_ID('tempdb..#ElectronicPaymentDetails') IS NULL
			BEGIN
	CREATE TABLE #ElectronicPaymentDetails
	(		
		StudentElectronicPaymentId INT,
		RegNo NVARCHAR(50),
		StudentName NVARCHAR(100),
		PayableFor NVARCHAR(2000),
		Amount  INT,
		Receipt_Number INT,
		PaidDate DATETIME,
		ClearanceDate SMALLDATETIME,
		IsDeleted CHAR(1),
		TypeId INT,
		ClassName NVARCHAR(100),
		DepositedBankId INT,
		StudentId INT,
		TxnNo NVARCHAR(50),
		Type NVARCHAR(50),
		BankName NVARCHAR(100),
		TransactionNumber NVARCHAR(50),
		IsCautionMoneyPayment INT,
		MobileNumber NVARCHAR(12)
	)
		END
			ELSE
				TRUNCATE TABLE #ElectronicPaymentDetails


	DECLARE @Filter NVARCHAR (500)
	SET @Filter=N''

	-- Following conditions are used to attach filters depending on the valus provided.
	IF (@TransactionNumber IS NOT NULL)
		SET @Filter= @Filter+N' AND TransactionNumber like N''%' + @TransactionNumber + N'%'''
	
	IF(@RegNo IS NOT NULL)
		SET @Filter= @Filter+N' AND (RegNo LIKE ''%'+ CAST(@RegNo as NVARCHAR(100)) +'%''' +' OR StudentName LIKE ''%'+ CAST(@RegNo as NVARCHAR(100)) +'%'')'
	
	IF(@PaymentStartDate IS NOT NULL AND @PaymentEndDate IS NOT NULL)
		SET @Filter= @Filter+N' AND PaidDate BETWEEN '''+ CAST(@PaymentStartDate as NVARCHAR(100)) + ''' AND '''+CAST(@PaymentEndDate as NVARCHAR(100)) +''''
	
	IF(@PaymentStartDate IS NOT NULL AND @PaymentEndDate IS NULL)
		SET @Filter= @Filter+N' AND PaidDate >= '''+ CAST(@PaymentStartDate as NVARCHAR(100)) +''''
	
	IF(@ClearanceStartDate IS NOT NULL AND @ClearanceEndDate IS NOT NULL)
		SET @Filter= @Filter+N' AND ClearanceDate BETWEEN '''+ CAST(@ClearanceStartDate as NVARCHAR(100)) + ''' AND '''+CAST(@ClearanceEndDate as NVARCHAR(100)) +''''
	
	IF(@ClearanceStartDate IS NOT NULL AND @ClearanceEndDate IS NULL )
		SET @Filter= @Filter+N' AND ClearanceDate >= '''+ CAST(@ClearanceStartDate as NVARCHAR(100)) +''''
		
	IF(@TypeId > 0)
		SET @Filter= @Filter+N' AND TypeId='+CAST(@TypeId as NVARCHAR(10))			

	DECLARE @Query1 NVARCHAR(4000) = '',
		    @FetchCautionMoneyDetails NVARCHAR(4000) = '',
			@CautionCriteria NVARCHAR(100) = ''

	-- This condition will be executed only if we checked the include all details checkbox while searching the details from clearance screen.
	IF(@IncludeAll = 1)
	BEGIN
		SET @Query1= N'SELECT SEP.Id,SSM.Enrolment_Number,SSM.First_Name +'' ''+ SSM.Middle_Name+'' ''+SSM.Last_Name,SEP.Remarks,SEP.Amount,SSFD.Receipt_Number,SSFD.Paid_Date,SEP.ClearanceDate,SSFD.Is_Deleted,SEP.TypeId,SM.Standard_Name+ '' '' + DM.Division_Name as ClassName,SEP.DepositedBankId,SSFD.Student_Id,SEP.TransactionNumber,EPT.Type,SBM.Bank_Name,SEP.TransactionNumber, 0 AS IsCautionMoneyPayment,SSM.Mobile_Number
						 FROM StudentElectronicPayments SEP WITH (NOLOCK) 
				   INNER JOIN Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK) 
						   ON SEP.SchoolWiseStudentFeeId = SSFD.Schoolwise_Student_Fee_Id 
						  AND SEP.SchoolId = SSFD.School_Id 		   
						  AND SEP.AcademicYearId = SSFD.Academic_Year_Id 
				   INNER JOIN ElectronicPaymentTypes EPT WITH (NOLOCK) 
						   ON SEP.TypeId = EPT.Id
				   LEFT OUTER JOIN Schoolwise_Bank_Master SBM WITH (NOLOCK) 
						   ON SEP.BankId = SBM.Schoolwise_Bank_Id
				   INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK) 
						   ON SSFD.Student_Id = YSD.YearWise_Student_Id 
				   INNER JOIN SchoolWise_Student_Master SSM WITH (NOLOCK) 
						   ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				   INNER JOIN Standard_Master SM WITH (NOLOCK) 
						   ON YSD.Standard_Id = SM.Standard_Id 
				   INNER JOIN Division_Master DM WITH (NOLOCK) 
						   ON YSD.Division_Id= DM.Division_Id
						WHERE SSFD.IsElectronicPayment = 1 
						  AND SSFD.Is_Deleted = ''N'' 	
						  and SSFD.Is_Cheque_Bounce = ''N''
						  AND SSFD.Academic_Year_Id=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND YSD.Academic_Year_ID=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND SSM.Is_Deleted=''N'' 
						  AND YSD.Is_Deleted=''N''
						  AND (SEP.DepositedBankId = '+CAST(@DepositBankId AS NVARCHAR(5))+' OR '+CAST(@DepositBankId AS NVARCHAR(5))+'=0)
						  AND SSFD.School_Id = ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND YSD.School_Id=  ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND SSM.School_Id= ' +CAST(@SchoolId as NVARCHAR)
	END
	-- This condition will be executed only if we want only uncleared transaction details from clearance screen.
	ELSE
	BEGIN
		SET @Query1= N'SELECT SEP.Id, 
					          SSM.Enrolment_Number,
							  SSM.First_Name +'' ''+ SSM.Middle_Name+'' ''+SSM.Last_Name,
							  SEP.Remarks,
							  SEP.Amount,
							  SSFD.Receipt_Number, 
							  SSFD.Paid_Date,
							  SEP.ClearanceDate,
							  SSFD.Is_Deleted,
							  SEP.TypeId,
							  SM.Standard_Name+ '' '' + DM.Division_Name as ClassName, 
							  SEP.DepositedBankId,
							  SSFD.Student_Id,
							  SEP.TransactionNumber,
							  EPT.Type,
							  SBM.Bank_Name,
							  SEP.TransactionNumber,
							  0 AS IsCautionMoneyPayment,
							  SSM.Mobile_Number
						 FROM StudentElectronicPayments SEP WITH (NOLOCK) 
				   INNER JOIN Schoolwise_Student_Fee_Details SSFD WITH (NOLOCK) 
						   ON SEP.SchoolWiseStudentFeeId = SSFD.Schoolwise_Student_Fee_Id 
						  AND SEP.SchoolId = SSFD.School_Id 		   
						  AND SEP.AcademicYearId = SSFD.Academic_Year_Id 
				   INNER JOIN ElectronicPaymentTypes EPT WITH (NOLOCK) 
						   ON SEP.TypeId = EPT.Id
				   LEFT OUTER JOIN Schoolwise_Bank_Master SBM WITH (NOLOCK) 
						   ON SEP.BankId = SBM.Schoolwise_Bank_Id
				   INNER JOIN YearWise_Student_Details YSD WITH (NOLOCK) 
						   ON SSFD.Student_Id = YSD.YearWise_Student_Id 
				   INNER JOIN SchoolWise_Student_Master SSM WITH (NOLOCK) 
						   ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				   INNER JOIN Standard_Master SM WITH (NOLOCK) 
						   ON YSD.Standard_Id = SM.Standard_Id 
				   INNER JOIN Division_Master DM WITH (NOLOCK) 
						   ON YSD.Division_Id= DM.Division_Id
						WHERE SSFD.IsElectronicPayment = 1 
						  AND SSFD.Is_Deleted = ''N'' 	
						  and SSFD.Is_Cheque_Bounce = ''N''
						  AND SEP.ClearanceDate IS  NULL	  
						  AND (SEP.DepositedBankId = '+CAST(@DepositBankId AS NVARCHAR(5))+' OR '+CAST(@DepositBankId AS NVARCHAR(5))+'=0)
						  AND SSFD.Academic_Year_Id=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND YSD.Academic_Year_ID=' +CAST(@Academic_Year_Id as NVARCHAR) + '  
						  AND SSM.Is_Deleted=''N'' 
						  AND YSD.Is_Deleted=''N''
						  AND SSFD.School_Id = ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND YSD.School_Id=  ' +CAST(@SchoolId as NVARCHAR) + ' 
						  AND SSM.School_Id= ' +CAST(@SchoolId as NVARCHAR) 	
	
	END	

	IF(@IncludeCautionMoney = 1)
		BEGIN
			IF @IncludeAll = 0
					SET @CautionCriteria = ' AND ClearanceDate is null AND Payment_Date is not null'
			
			 SET @FetchCautionMoneyDetails =  N' UNION ALL ' +
											' SELECT SCMEP.Id,vwBSD.Enrolment_Number,vwBSD.First_Name + '' '' + vwBSD.Middle_Name + '' '' + vwBSD.Last_Name, CASE WHEN SCMD.Remarks IS NULL OR SCMD.Remarks = '''' THEN ''Caution Money Payment'' ELSE SCMD.Remarks END AS Remark,
											case when SCMEP.IsReturnRecord is null or SCMEP.IsReturnRecord = 0 then SCMD.Amount else SCMD.ReturnAmount end as Amount,
											SCMD.Receipt_Number,SCMD.Payment_Date,SCMEP.ClearanceDate, CASE WHEN SCMD.Is_Deleted = 0 THEN ''N'' ELSE ''Y'' END AS Is_Deleted,SCMEP.TypeId,''-'' as ClassName,SCMEP.DepositedBankId,vwBSD.Schoolwise_Student_Id,SCMEP.TransactionNumber,EPT.Type,SWBM.Bank_Name,SCMEP.TransactionNumber, 1 AS IsCautionMoneyPayment
												,vwBSD.Mobile_Number
												FROM Student_Caution_Money_Details SCMD										  
										  INNER JOIN vw_BaseStudentDetails vwBSD
												  ON vwBSD.Schoolwise_Student_Id = SCMD.Schoolwise_Student_Id												 												 
										  INNER JOIN StudentCautionMoneyElectronicPayments SCMEP
												  ON SCMEP.SchoolwiseStudentId = SCMD.Schoolwise_Student_Id
												 AND SCMEP.SchoolId = SCMD.School_Id  										  
										  INNER JOIN Schoolwise_Bank_MAster SWBM
												  ON SWBM.Schoolwise_Bank_Id = SCMEP.BankId
												 AND SCMEP.SchoolId = SWBM.School_Id
												 AND SWBM.Is_Deleted = ''N''
										  INNER JOIN ElectronicPaymentTypes EPT
												  ON EPT.Id = SCMEP.TypeId
												 AND EPT.SchoolID = SCMEP.SchoolId											  
											   WHERE SCMD.Payment_Mode = ''E''
											     AND SCMD.Is_Deleted = 0
												 and SCMEP.IsDeleted = 0
												 AND SCMD.School_Id = ' + CAST(@SchoolId as NVARCHAR) + 
												'AND (SCMEP.TypeId = ' + CAST(@TypeId AS NVARCHAR) + ' OR ' + CAST(@TypeId AS NVARCHAR) + '= 0 )' + @CautionCriteria 

	SET @Query1 = @Query1 + ' ' + @FetchCautionMoneyDetails
		END		
 
 
	--print @Query1	
	INSERT INTO #ElectronicPaymentDetails
	EXECUTE sp_executesql @Query1

	DECLARE @sQuery1 NVARCHAR(1000) = ''

	-- This statement is used to select the payment details.
	SET @sQuery1=N'SELECT *
		    FROM #ElectronicPaymentDetails
		    WHERE IsDeleted=''N'''+ @Filter		   

	print @sQuery1	
	EXECUTE sp_executesql @sQuery1
	
	-- This statement is used to select the total amount of selected payment details .
	SET @sQuery1=N'SELECT ISNULL(SUM(Amount),0) as TotalAmount
		    FROM #ElectronicPaymentDetails
		    WHERE IsDeleted=''N'''+ @Filter		   
		    
	print @sQuery1	
	EXECUTE sp_executesql @sQuery1
	
	-- Here we delete the temparary table created.
	DELETE #ElectronicPaymentDetails
	IF OBJECT_ID('tempdb..#ElectronicPaymentDetails') IS NOT NULL
				DROP TABLE #ElectronicPaymentDetails 	
		
	END
	ELSE
	BEGIN	
		exec usp_FetchElectronicDetailsForInternalFee
		
		@SchoolId =@SchoolId,
		@Academic_Year_Id =@Academic_Year_Id,
		@RegNo =@RegNo,
		@PaymentStartDate =@PaymentStartDate,
		@PaymentEndDate =@PaymentEndDate,
		@ClearanceStartDate =@ClearanceStartDate,
		@ClearanceEndDate =@ClearanceEndDate,
		@IncludeAll=@IncludeAll,
		@TypeId =@TypeId,
		@DepositBankId =@DepositBankId,
		@IncludeCautionMoney =@IncludeCautionMoney,
		@TransactionNumber = @TransactionNumber
		--@IsInternalFee=@IsInternalFee
		


	END
END
GO
