/****** Object:  StoredProcedure [dbo].[USP_GetOnlineTransactionDetails]    Script Date: 8/25/2025 11:29:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ===========================================================================================
-- Created by: sandeep
-- Create date: 12 July 2010 
-- Description: This procedure is used to return online fee transaction records using filter condition.
-- ============================================================================================
ALTER PROCEDURE [dbo].[USP_GetOnlineTransactionDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@IncludeClearedPayments BIT,
	@NetbankinTransactionId NVARCHAR(30) = NULL,
	@StudentNameRegNoFilter NVARCHAR(200) = NULL,
	@DateFilterType NVARCHAR(20) = NULL,
	@StartDate DATE = NULL,
	@EndDate DATE = NULL,
	@DepositBankId INT = 0,
	@IncludeCautionMoney BIT,
	@IsInternalFee BIT = 0,
	@GatewayId INT = 0
AS 
BEGIN

	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED	

	DECLARE @Results TABLE
	(
			NetBankingPaymentTransactionID INT,
			TPSLTransactionID NVARCHAR(200),
			TransactionDateTime NVARCHAR(200),
			Amount INT,
			Bank_Name NVARCHAR(200),
			StudentName NVARCHAR(200),
			RegNo NVARCHAR(50),
			ClearanceDate SMALLDATETIME,
			ClassName NVARCHAR(50),
			Transdate NVARCHAR(50),
			ClearDate NVARCHAR(50),
			IsDeleted BIT,
			IsCautionMoneyPayment INT,
			PaymentGateway NVARCHAR(100),
			MobileNumber Nvarchar(12)
	)

	DECLARE @sQuery NVARCHAR(MAX)

IF(@IsInternalFee = 0)
	BEGIN
		IF(@IncludeCautionMoney = 0)
			BEGIN			
					SET @sQuery = N'
					SELECT NBPT.NetBankingPaymentTransactionID
						  ,NBPT.TPSLTransactionID
						  ,ISNULL(FORMAT(NBPT.TransactionDateTime,''dd MMM yyyy hh:mm tt''), ''-'')
						  ,SFD.Amount
						  ,NBD.RegisterdBankName
						  ,SM.Salutation_Name + '' '' + SSM.First_Name + ISNULL('' '' + CASE WHEN SSM.Middle_Name = '''' THEN NULL ELSE SSM.Middle_Name END + '' '', '' '') + SSM.Last_Name
						  ,SSM.Enrolment_Number
						  ,NBPT.ClearanceDate
						  ,SD.Standard_Name + ''-'' + SD.Division_Name
						  ,ISNULL(CONVERT(NVARCHAR(11), NBPT.TransactionDateTime, 106), ''-'')
						  ,ISNULL(CONVERT(NVARCHAR(11), NBPT.ClearanceDate, 106), ''-'')
						  ,NBD.Is_Deleted
						  ,0 AS IsCautionMoney
						  ,case when PaymentGateway = ''AxisBankForAll'' then ''Axis Bank'' else PaymentGateway end as PaymentGateway
						  ,SSM.Mobile_Number
					  FROM (SELECT SFDa.Student_Id
								  ,SUM(SFDa.Amount) [Amount]
								  ,SFDa.NetBankingPaymentTransactionID			
								 FROM dbo.Schoolwise_Student_Fee_Details SFDa					
								 WHERE SFDa.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
								   AND SFDa.Academic_Year_Id = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + '
								   AND SFDa.[Debit/Credit] = ''Credit''
								   AND SFDa.Is_Deleted = ''N''
								   AND SFDa.Is_Concession_Fee = ''N''
								   AND SFDa.Is_Cheque_Bounce = ''N''
								 GROUP BY SFDa.Student_Id
								  ,SFDa.NetBankingPaymentTransactionID) SFD
								
				INNER JOIN dbo.NetBankingPaymentTransactions NBPT
						ON SFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				INNER JOIN dbo.YearWise_Student_Details YSD
						ON SFD.Student_Id = YSD.YearWise_Student_Id
				INNER JOIN dbo.SchoolWise_Student_Master SSM
						ON YSD.Student_Id = SSM.SchoolWise_Student_Id
				INNER JOIN dbo.Salutation_Master SM
						ON SSM.Salutation_Id = SM.Salutation_Id
				INNER JOIN dbo.NetBankingBanksDetails NBD
						ON NBPT.TransactionBankID = NBD.StudentFeeRegisteredBankId
					   AND NBPT.GatewayId = NBD.PaymentGatewayId
				INNER JOIN dbo.vw_standard_division SD
						ON YSD.Standard_Id = SD.Standard_Id
					   AND YSD.Division_id = SD.Division_Id
				INNER JOIN PaymentGatewayMaster PGM
						ON NBPT.GatewayId = PGM.Id
					 WHERE NBPT.TransactionStatus = ''Y''
					   AND YSD.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
					   AND YSD.Academic_Year_ID = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + '
					   AND YSD.Is_Deleted = ''N''
					   AND SSM.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
					   AND SSM.Is_Deleted = ''N''
					   AND NBD.Is_Deleted = 0'
					   
		END
	ELSE
		BEGIN
						SET @sQuery = N'SELECT * FROM (SELECT NBPT.NetBankingPaymentTransactionID,NBPT.TPSLTransactionID,ISNULL(FORMAT(NBPT.TransactionDateTime,''dd MMM yyyy hh:mm tt''), ''-'') AS TransactionDate,SFD.Amount,NBD.RegisterdBankName,SM.Salutation_Name + '' '' + SSM.First_Name + ISNULL('' '' + CASE WHEN SSM.Middle_Name = '''' THEN NULL ELSE SSM.Middle_Name END + '' '', '' '') + SSM.Last_Name AS StudentName,SSM.Enrolment_Number,NBPT.ClearanceDate,SD.Standard_Name + ''-'' + SD.Division_Name AS ClassName,ISNULL(CONVERT(NVARCHAR(11), NBPT.TransactionDateTime, 106), ''-'') AS TransactionDateTime,ISNULL(CONVERT(NVARCHAR(11), NBPT.ClearanceDate, 106), ''-'') AS Date,NBPT.Is_Deleted,0 AS IsCautionMoney, PaymentGateway
				FROM (SELECT SFDa.Student_Id,SUM(SFDa.Amount) [Amount],SFDa.NetBankingPaymentTransactionID,SSM.Mobile_Number FROM dbo.Schoolwise_Student_Fee_Details SFDa WHERE SFDa.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND SFDa.Academic_Year_Id = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + ' AND SFDa.[Debit/Credit] = ''Credit'' AND SFDa.Is_Deleted = ''N'' 
				AND SFDa.Is_Concession_Fee = ''N'' GROUP BY SFDa.Student_Id,SFDa.NetBankingPaymentTransactionID) SFD 
				INNER JOIN dbo.NetBankingPaymentTransactions NBPT ON SFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID 
				INNER JOIN dbo.YearWise_Student_Details YSD ON SFD.Student_Id = YSD.YearWise_Student_Id 
				INNER JOIN dbo.SchoolWise_Student_Master SSM ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				INNER JOIN dbo.Salutation_Master SM ON SSM.Salutation_Id = SM.Salutation_Id 
				INNER JOIN dbo.NetBankingBanksDetails NBD ON NBPT.TransactionBankID = NBD.StudentFeeRegisteredBankId AND NBPT.GatewayId = NBD.PaymentGatewayId 
				INNER JOIN dbo.vw_standard_division SD ON YSD.Standard_Id = SD.Standard_Id AND YSD.Division_id = SD.Division_Id 
				INNER JOIN dbo.PaymentGatewayMaster PGM ON NBPT.GatewayId = PGM.Id
				WHERE NBPT.TransactionStatus = ''Y'' AND YSD.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND YSD.Academic_Year_ID = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + ' 
				AND YSD.Is_Deleted = ''N'' AND SSM.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND SSM.Is_Deleted = ''N'' AND NBD.Is_Deleted = 0 
				UNION SELECT NBPT.NetBankingPaymentTransactionID,NBPT.TPSLTransactionID,ISNULL(FORMAT(NBPT.TransactionDateTime,''dd MMM yyyy hh:mm tt''), ''-'') AS TransactionDate,SFD.Amount,NBD.RegisterdBankName,SM.Salutation_Name + '' '' + SSM.First_Name + ISNULL('' '' + CASE WHEN SSM.Middle_Name = '''' THEN NULL ELSE SSM.Middle_Name END + '' '', '' '') + SSM.Last_Name AS StudentName,SSM.Enrolment_Number,NBPT.ClearanceDate,SD.Standard_Name + ''-'' + SD.Division_Name AS ClassName,ISNULL(CONVERT(NVARCHAR(11), NBPT.TransactionDateTime, 106), ''-'') AS TransactionDateTime,ISNULL(CONVERT(NVARCHAR(11), NBPT.ClearanceDate, 106), ''-'') AS Date,NBPT.Is_Deleted,1 AS IsCautionMoney, PaymentGateway
				FROM (SELECT SCMD.Schoolwise_Student_Id,SUM(SCMD.Amount) [Amount],NetBankingPaymentTransactionID,SSM.Mobile_Number FROM dbo.Student_Caution_Money_Details SCMD WHERE SCMD.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND SCMD.Is_Deleted = 0 AND SCMD.Paid_By_Student = 1 GROUP BY SCMD.Schoolwise_Student_Id,SCMD.NetBankingPaymentTransactionID) SFD 
				INNER JOIN dbo.NetBankingPaymentTransactions NBPT ON SFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID 
				INNER JOIN dbo.YearWise_Student_Details YSD ON SFD.Schoolwise_Student_Id = YSD.Student_Id 
				INNER JOIN dbo.SchoolWise_Student_Master SSM ON YSD.Student_Id = SSM.SchoolWise_Student_Id 
				INNER JOIN dbo.Salutation_Master SM ON SSM.Salutation_Id = SM.Salutation_Id 
				INNER JOIN dbo.NetBankingBanksDetails NBD ON NBPT.TransactionBankID = NBD.StudentFeeRegisteredBankId AND NBPT.GatewayId = NBD.PaymentGatewayId 
				INNER JOIN dbo.vw_standard_division SD ON YSD.Standard_Id = SD.Standard_Id AND YSD.Division_id = SD.Division_Id
				INNER JOIN dbo.PaymentGatewayMaster PGM ON NBPT.GatewayId = PGM.Id
				WHERE NBPT.TransactionStatus = ''Y'' AND YSD.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND YSD.Academic_Year_ID = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + ' AND YSD.Is_Deleted = ''N'' 
				AND SSM.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + ' AND SSM.Is_Deleted = ''N'' AND NBD.Is_Deleted = 0) as NBPT WHERE NBPT.Is_Deleted=0'
		END
	END
ELSE
	BEGIN
		SET @sQuery = N'
			SELECT NBPT.NetBankingPaymentTransactionID
				  ,NBPT.TPSLTransactionID
				  ,ISNULL(FORMAT(NBPT.TransactionDateTime,''dd MMM yyyy hh:mm tt''), ''-'')
				  ,SFD.Amount
				  ,NBD.RegisterdBankName
				  ,SM.Salutation_Name + '' '' + SSM.First_Name + ISNULL('' '' + CASE WHEN SSM.Middle_Name = '''' THEN NULL ELSE SSM.Middle_Name END + '' '', '' '') + SSM.Last_Name
				  ,SSM.Enrolment_Number
				  ,NBPT.ClearanceDate
				  ,SD.Standard_Name + ''-'' + SD.Division_Name
				  ,ISNULL(CONVERT(NVARCHAR(11), NBPT.TransactionDateTime, 106), ''-'')
				  ,ISNULL(CONVERT(NVARCHAR(11), NBPT.ClearanceDate, 106), ''-'')
				  ,NBD.Is_Deleted
				  ,0 AS IsCautionMoney
				  ,PaymentGateway
				  ,SSM.Mobile_Number
			  FROM (    
						SELECT IFD.Schoolwise_Student_Id AS Student_Id
						       ,SUM(IFD.Amount) [Amount]
						       ,IFD.NetBankingPaymentTransactionID			
						  FROM dbo.InternalFeeDetails IFD					
						 WHERE IFD.SchoolId = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
						   AND IFD.AcademicYearId = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + '
						   AND IFD.[Debit/Credit] = ''Credit''
						   AND IFD.Is_Deleted = 0					   
					  GROUP BY IFD.Schoolwise_Student_Id
						       ,IFD.NetBankingPaymentTransactionID
					)SFD
		INNER JOIN dbo.NetBankingPaymentTransactions NBPT  
				ON SFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
		INNER JOIN dbo.YearWise_Student_Details YSD  
				ON SFD.Student_Id = YSD.Student_Id
		INNER JOIN dbo.SchoolWise_Student_Master SSM  
				ON YSD.Student_Id = SSM.SchoolWise_Student_Id
		INNER JOIN dbo.Salutation_Master SM  
				ON SSM.Salutation_Id = SM.Salutation_Id
		INNER JOIN dbo.NetBankingBanksDetails NBD  
				ON NBPT.TransactionBankID = NBD.StudentFeeRegisteredBankId
			   AND NBPT.GatewayId = NBD.PaymentGatewayId
		INNER JOIN dbo.vw_standard_division SD  
				ON YSD.Standard_Id = SD.Standard_Id
			   AND YSD.Division_id = SD.Division_Id
		INNER JOIN dbo.PaymentGatewayMaster PGM  
				ON NBPT.GatewayId = PGM.Id
			 WHERE NBPT.TransactionStatus = ''Y''
			   AND YSD.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
			   AND YSD.Academic_Year_ID = ' + CONVERT(NVARCHAR(5), @AcademicYearId) + '
			   AND YSD.Is_Deleted = ''N''
			   AND SSM.School_Id = ' + CONVERT(NVARCHAR(5), @SchoolId) + '
			   AND SSM.Is_Deleted = ''N''
			   AND NBD.Is_Deleted = 0'
	
	END

--	If we required only cleared payments.
	IF @IncludeClearedPayments = 0
		SET @sQuery = @sQuery + N' AND NBPT.ClearanceDate IS NULL'

--	If TransactionId filter needs to be applied.
	IF @NetbankinTransactionId IS NOT NULL
		SET @sQuery = @sQuery + N' AND NBPT.TPSLTransactionID LIKE N''%' + @NetbankinTransactionId + N'%'''

--	If Datetim filter needs to be applied.
	IF @DateFilterType IS NOT NULL
	BEGIN
		DECLARE @Template NVARCHAR(100)
		
		IF @DateFilterType = N'Clearance'
			SET @Template = N' AND CAST(NBPT.ClearanceDate AS DATE)'
		ELSE
			SET @Template = N' AND CAST(NBPT.TransactionDateTime AS DATE)'
		
		
		IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
			SET @sQuery = @sQuery + @Template + N' BETWEEN ''' + CONVERT(NVARCHAR(20), @StartDate) + ''' AND ''' + CONVERT(NVARCHAR(20), @EndDate) + ''''
		ELSE IF @StartDate IS NOT NULL
			SET @sQuery = @sQuery + @Template + N' >= ''' + CONVERT(NVARCHAR(20), @StartDate) + ''''
		ELSE IF @EndDate IS NOT NULL
			SET @sQuery = @sQuery + @Template + N' <= ''' + CONVERT(NVARCHAR(20), @EndDate) + ''''
	END

	IF(@GatewayId > 0 )
		SET @sQuery= @sQuery+N' AND GatewayId='+CAST(@GatewayId as NVARCHAR(10))

	PRINT @sQuery
	
	INSERT @Results
	EXEC sp_executesql @sQuery

	UPDATE @Results
	SET Amount = RS.Amount - SSFD.Amount
	FROM @Results RS
	INNER JOIN Schoolwise_Student_Fee_Details SSFD
	ON RS.NetBankingPaymentTransactionID = SSFD.NetBankingPaymentTransactionID
	WHERE SSFD.School_id = @SchoolId
	AND SSFD.Academic_Year_Id = @AcademicYearId
	AND SSFD.Is_Deleted = 'N'
	and SSFD.[Debit/Credit] = 'Credit'
	AND SSFD.Is_Concession_Fee = 'Y'

IF(@IsInternalFee = 0)
	BEGIN
		IF(@IncludeCautionMoney = 0)
			BEGIN
					SELECT DISTINCT SSFD.Receipt_Number as Receipt_Number
						  ,N'' as Cheque_Number
						  ,N'' as Payable_For
						  ,N'' as Cheque_Date
						  ,N'' as Paid_Date
						  ,0 as StudentCardPaymentDetailsId
						  ,0 as StudentElectronicPaymentId
						  ,0 as PostDated_Cheque_Id
						  ,0 as Bank_Id
						  ,0 as Student_Id
						  ,0 as Payment_Cheque_Id
						  ,R.*
						  ,CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
								THEN NBPTb.DepositBankId
								ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
										  THEN 0
										  ELSE NBPTa.DepositBankId
									 END
							END [DepositBankId]
						  ,0 [IsReturnPayment]
						  ,0 AS TransactionNumber
						  ,R.IsCautionMoneyPayment AS IsCautionMoneyPayment
						  ,R.PaymentGateway
					  FROM @Results R
		   LEFT OUTER JOIN NetBankingPaymentTransactions NBPTa
						ON R.NetBankingPaymentTransactionID = NBPTa.NetBankingPaymentTransactionID
		   LEFT OUTER JOIN NetBankingPaymentTransactions NBPTb
						ON NBPTa.PaymentReferenceNumber = CONVERT(NVARCHAR(50),NBPTb.NetBankingPaymentTransactionID)
					   AND ISNUMERIC(NBPTa.PaymentReferenceNumber) = 1
		   LEFT OUTER JOIN Schoolwise_Student_Fee_Details SSFD
						ON R.NetBankingPaymentTransactionID = SSFD.NetBankingPaymentTransactionID
					 WHERE (R.StudentName LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
														  THEN @StudentNameRegNoFilter
														  ELSE R.StudentName
													  END + N'%'
							OR
							R.RegNo LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
													THEN @StudentNameRegNoFilter
													ELSE R.RegNo
												END + N'%')
							AND ((CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
								THEN NBPTb.DepositBankId
								ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
										  THEN 0
										  ELSE NBPTa.DepositBankId
									 END
								END) = @DepositBankId OR @DepositBankId = 0)
							AND SSFD.Receipt_Number IS NOT NULL			
							AND SSFD.Is_Deleted = N'N'
				  ORDER BY R.TransactionDateTime DESC
			END
		ELSE
			BEGIN
					SELECT DISTINCT CASE WHEN SSFD.Receipt_Number IS NULL THEN SCMD.Receipt_Number ELSE SSFD.Receipt_Number END as Receipt_Number
					  ,N'' as Cheque_Number
					  ,N'' as Payable_For
					  ,N'' as Cheque_Date
					  ,N'' as Paid_Date
					  ,0 as StudentCardPaymentDetailsId
					  ,0 as StudentElectronicPaymentId
					  ,0 as PostDated_Cheque_Id
					  ,0 as Bank_Id
					  ,0 as Student_Id
					  ,0 as Payment_Cheque_Id
					  ,R.*
					  ,CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
							THEN NBPTb.DepositBankId
							ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
									  THEN 0
									  ELSE NBPTa.DepositBankId
								 END
						END [DepositBankId]
					  ,0 [IsReturnPayment]
					  ,0 AS TransactionNumber
					  ,R.IsCautionMoneyPayment AS IsCautionMoneyPayment
					  ,R.PaymentGateway
				  FROM @Results R
			LEFT OUTER JOIN NetBankingPaymentTransactions NBPTa
					ON R.NetBankingPaymentTransactionID = NBPTa.NetBankingPaymentTransactionID
			LEFT OUTER JOIN NetBankingPaymentTransactions NBPTb
					ON NBPTa.PaymentReferenceNumber = CONVERT(NVARCHAR(50),NBPTb.NetBankingPaymentTransactionID)
				   AND ISNUMERIC(NBPTa.PaymentReferenceNumber) = 1
			LEFT OUTER JOIN Schoolwise_Student_Fee_Details SSFD
						 ON R.NetBankingPaymentTransactionID = SSFD.NetBankingPaymentTransactionID
						AND SSFD.Receipt_Number IS NOT NULL			
						AND SSFD.Is_Deleted = N'N'
			LEFT OUTER JOIN Student_Caution_Money_Details SCMD
						 ON R.NetBankingPaymentTransactionID = SCMD.NetBankingPaymentTransactionID
				 WHERE (R.StudentName LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
													  THEN @StudentNameRegNoFilter
													  ELSE R.StudentName
												  END + N'%'
						OR
						R.RegNo LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
												THEN @StudentNameRegNoFilter
												ELSE R.RegNo
											END + N'%')
						AND ((CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
							THEN NBPTb.DepositBankId
							ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
									  THEN 0
									  ELSE NBPTa.DepositBankId
								 END
							END) = @DepositBankId OR @DepositBankId = 0)				
			  ORDER BY R.TransactionDateTime DESC
		END
	END
ELSE
	BEGIN
		SELECT DISTINCT IFD.ReceiptNo as Receipt_Number
						  ,N'' as Cheque_Number
						  ,N'' as Payable_For
						  ,N'' as Cheque_Date
						  ,N'' as Paid_Date
						  ,0 as StudentCardPaymentDetailsId
						  ,0 as StudentElectronicPaymentId
						  ,0 as PostDated_Cheque_Id
						  ,0 as Bank_Id
						  ,0 as Student_Id
						  ,0 as Payment_Cheque_Id
						  ,R.*
						  ,CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
								THEN NBPTb.DepositBankId
								ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
										  THEN 0
										  ELSE NBPTa.DepositBankId
									 END
							END [DepositBankId]
						  ,0 [IsReturnPayment]
						  ,0 AS TransactionNumber
						  ,R.IsCautionMoneyPayment AS IsCautionMoneyPayment
						  ,R.PaymentGateway
					  FROM @Results R
		   LEFT OUTER JOIN NetBankingPaymentTransactions NBPTa
						ON R.NetBankingPaymentTransactionID = NBPTa.NetBankingPaymentTransactionID
		   LEFT OUTER JOIN NetBankingPaymentTransactions NBPTb
						ON NBPTa.PaymentReferenceNumber = CONVERT(NVARCHAR(50),NBPTb.NetBankingPaymentTransactionID)
					   AND ISNUMERIC(NBPTa.PaymentReferenceNumber) = 1
		   LEFT OUTER JOIN InternalFeeDetails IFD
						ON R.NetBankingPaymentTransactionID = IFD.NetBankingPaymentTransactionID
					 WHERE (R.StudentName LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL THEN @StudentNameRegNoFilter
														   ELSE R.StudentName END + N'%' OR R.RegNo LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL THEN @StudentNameRegNoFilter
													       ELSE R.RegNo END + N'%')
					   AND ((CASE WHEN NBPTb.DepositBankId IS NOT NULL AND NBPTb.DepositBankId <> 0
								  THEN NBPTb.DepositBankId
								  ELSE CASE WHEN NBPTa.DepositBankId IS NULL OR NBPTa.DepositBankId = 0
										    THEN 0
										    ELSE NBPTa.DepositBankId END
								END) = @DepositBankId OR @DepositBankId = 0)
					   AND IFD.ReceiptNo IS NOT NULL			
					   AND IFD.Is_Deleted = 0
				  ORDER BY R.TransactionDateTime DESC
	END

	SELECT ISNULL(SUM(R.Amount),0) [Amount]
	  FROM @Results R
	  LEFT OUTER JOIN NetBankingPaymentTransactions NBPT
		ON R.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
	 LEFT OUTER JOIN NetBankingPaymentTransactions NBPTb
		ON NBPT.PaymentReferenceNumber = CONVERT(NVARCHAR(50),NBPTb.NetBankingPaymentTransactionID)
	   AND ISNUMERIC(NBPT.PaymentReferenceNumber) = 1
	 WHERE (R.StudentName LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
										  THEN @StudentNameRegNoFilter
										  ELSE R.StudentName
									  END + N'%'
			OR
			R.RegNo LIKE N'%' + CASE WHEN @StudentNameRegNoFilter IS NOT NULL
									THEN @StudentNameRegNoFilter
									ELSE R.RegNo
								END + N'%')	  
		AND ((NBPT.DepositBankId IS NOT NULL AND NBPT.DepositBankId <> 0 AND NBPT.DepositBankId = @DepositBankId) OR @DepositBankId = 0)
END
GO
