/****** Object:  StoredProcedure [dbo].[usp_GetStreamwiseSubjectDetails]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	This usp is used to get students strem wise subject details
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStreamwiseSubjectDetails] 
	-- Add the parameters for the stored procedure here
	@StreamGroupId int,
	@AcademicYearId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   
	declare @temp as table
	(
	 StreamGroupId int
	 , SubjectId int
	 , SubjectName nvarchar(50)
	)
	INSERT INTO @temp
	select SCS.StreamGroupId
	, SCS.SubjectId
	,  SM.Subject_Name
	From
	StreamwiseCompulsarySubjects SCS
	inner join Subject_Master SM
	on SCS.SubjectId = SM.Original_Subject_Id
	WHERE SCS.IsDeleted = 0
	and SM.Is_Deleted = 'N'
	and SCS.StreamGroupId = @StreamGroupId
	and SM.academic_Year_Id = @AcademicYearId

	DECLARE @SubjectDetails NVARCHAR(500) = ''

  SET @SubjectDetails = 
  (
  select  ','+cast(SubjectName as nvarchar(16))
  from
  (
	select SubjectName
	from @temp
	
	
  )s  
  FOR XML PATH('')
  )

  IF LEN(@SubjectDetails) > 0
	SET @SubjectDetails = SUBSTRING(@SubjectDetails,2,LEN(@SubjectDetails))

  SELECT @SubjectDetails SubjectDetails
	
  declare @tempOptionalSubjects as table
	(
	StreamGroupId int
	 , SubjectId int
	 , SubjectName nvarchar(50)
	)

	INSERT INTO @tempOptionalSubjects
	select SOS.StreamGroupId
	, SOS.SubjectId
	,  SM.Subject_Name
	From
	StreamwiseOptionalSubjects SOS
	inner join Subject_Master SM
	on SOS.SubjectId = SM.Original_Subject_Id
	WHERE SOS.IsDeleted = 0
	and SM.Is_Deleted = 'N'
	and SOS.StreamGroupId = @StreamGroupId
	and SOS.TypeId = 1
	and SM.academic_Year_Id = @AcademicYearId

	select SubjectId,SubjectName 
	from @tempOptionalSubjects

	Select Id, ExamName
	FROM StreamwiseCompitativeExams
	WHERE StreamGroupId = @StreamGroupId 
	AND IsDeleted = 0
	
	--if(@StreamGroupId = 4)
	
	select 
	 SOS.SubjectId
	,  SM.Subject_Name
	From
	StreamwiseOptionalSubjects SOS
	inner join Subject_Master SM
	on SOS.SubjectId = SM.Original_Subject_Id
	WHERE SOS.IsDeleted = 0
	and SM.Is_Deleted = 'N'
	and SOS.StreamGroupId = @StreamGroupId
	 and SOS.TypeId = 2
	 and SM.academic_Year_Id = @AcademicYearId
END


