/****** Object:  StoredProcedure [dbo].[usp_UpdateStudentStreamDetails]    Script Date: 8/25/2025 11:29:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================================================
-- Author:		Sachin
-- Create date: 26-Aug-2021
-- Description:	This USP is used to update student stream details by admissionwise stream details.
-- ==================================================================================================
ALTER PROCEDURE [dbo].[usp_UpdateStudentStreamDetails]
	@SchoolId INT,
	@AcademicYearID INT,
	@FormNumber NVARCHAR(50),
	@YrStudentID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    declare @OldStreamID INT,
			@OldGroupId INT,
			@OldOptionalsUBJECTS NVARCHAR(200),
			@OldExam NVARCHAR(200),
			@OldCompulsorySubjects NVARCHAR(300),
			@SchooolwiseStudentID INT,
				
			@NewGroupId INT,
			@NewOptionalSubjects NVARCHAR(200),
			@NewExam NVARCHAR(200)
		

	SELECT @SchooolwiseStudentID = Student_Id
	FROM YearWise_Student_Details
	WHERE School_Id = @SchoolId
	AND Academic_Year_ID = @AcademicYearID
	AND Is_Deleted = 'N'
	AND YearWise_Student_Id = @YrStudentID

	SELECT @OldStreamID = SAS.StreamId,
			@OldGroupId = GroupId,
			@OldOptionalsUBJECTS = sas.OptionalSubjects,
			@OldCompulsorySubjects = sas.CompulsorySubjects,
			@OldExam = SAS.CompitativeExam
	from Student_Admissions SA
	INNER JOIN StudentAdmissionStreamwiseSubjectDetails SAS
	ON SA.Student_Admission_Id = sas.StudentAdmissionId
	where Acedemic_Year_Id = @AcademicYearID
	AND SchoolId = @SchoolId
	and Is_Deleted = 0
	and IsAdmitted = 1
	AND SAS.IsDeleted = 0
	AND SAS.StreamId <> 0
	AND SA.Form_Number = @FormNumber

	IF @OldStreamID <> 0
	BEGIN

			SET @NewGroupId = CASE WHEN @OldStreamID = 1 THEN
									CASE @OldGroupId WHEN 1 THEN 1
													 WHEN 2 THEN 2
													 ELSE 0
									END
									WHEN @OldStreamID = 2 THEN 3
									WHEN @OldStreamID = 3 THEN 4
									ELSE 0
							END

           SET @NewExam = CASE WHEN @OldStreamID = 1 THEN
									CASE WHEN @OldGroupId = 1 THEN
											CASE @OldExam WHEN '1' THEN '1'
											WHEN '2' THEN '2'
											WHEN '1,2' THEN '1,2'
											ELSE ''
											END
										WHEN @OldGroupId = 2 THEN
											CASE @OldExam WHEN '1' THEN '3'
											WHEN '2' THEN '4'
											WHEN '1,2' THEN '3,4'
											ELSE ''
											END
									END
									WHEN @OldStreamID = 2 THEN 
									
											CASE @OldExam WHEN '1' THEN '5'
											WHEN '2' THEN '6'
											WHEN '3' THEN '9'  
                                            WHEN '1,2' THEN '5,6'
											WHEN '1,3' THEN '5,9'
											WHEN '2,3' THEN '6,9'
											WHEN '1,2,3' THEN '5,6,9'
											ELSE ''
											END

											
									WHEN @OldStreamID = 3 THEN 
											CASE @OldExam WHEN '1' THEN '7'
											WHEN '2' THEN '8'
											WHEN '1,2' THEN '7,8'
											ELSE ''
											END
									ELSE '0'
							END

			declare @PhyEduId INT,
					@CompSciId INT,
					@MathsId INT,
					@LegalStudiesiD INT,
					@GermanId INT,
					@EconomicsId INT,
					@AppliedMathematicsId INT

			select @PhyEduId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name ='Physical Education'

			select @CompSciId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'Computer Science'

			select @MathsId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'Mathematics'

			select @AppliedMathematicsId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'Applied Mathematics'

			select @LegalStudiesiD = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'Legal Studies'

			select @GermanId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'German'

			select @EconomicsId = Original_Subject_Id
			from Subject_Master 
			where academic_Year_Id = @AcademicYearID 
			and School_Id = @SchoolId 
			and Is_Deleted = 'N' 
			and Subject_Name  = 'Economics'

			SET @NewOptionalSubjects = CASE WHEN @OldStreamID = 1 THEN						
											CASE @OldOptionalsUBJECTS WHEN '1' THEN CAST(@PhyEduId AS NVARCHAR(10))
											WHEN '2' THEN CAST(@CompSciId AS NVARCHAR(10))				
											ELSE ''
											END							
									WHEN @OldStreamID = 2 THEN 
										 CASE @OldOptionalSUBJECTS   WHEN '1' THEN CAST(CASE  WHEN @AcademicYearId >= 13 
                                                 THEN @AppliedMathematicsId ELSE @MathsId END AS NVARCHAR(10))
											WHEN '2' THEN CAST(@PhyEduId AS NVARCHAR(10))
											When '3' then   CAST(@LegalStudiesiD AS NVARCHAR(10))						
											ELSE ''
											END
									WHEN @OldStreamID = 3 THEN 
											CASE @OldOptionalsUBJECTS WHEN '1' THEN CAST(@LegalStudiesiD AS NVARCHAR(10))
											WHEN '2' THEN CAST(@PhyEduId AS NVARCHAR(10))
											WHEN '1,1' THEN CAST(@LegalStudiesiD AS NVARCHAR(10))+','+CAST(@GermanId AS NVARCHAR(10))
											WHEN '1,2' THEN CAST(@LegalStudiesiD AS NVARCHAR(10))+','+CAST(@EconomicsId AS NVARCHAR(10))
											WHEN '2,1' THEN CAST(@PhyEduId AS NVARCHAR(10))+','+CAST(@GermanId AS NVARCHAR(10))
											WHEN '2,2' THEN CAST(@PhyEduId AS NVARCHAR(10))+','+CAST(@EconomicsId AS NVARCHAR(10))
											ELSE ''
											END
									ELSE ''
							END

			INSERT INTO StudentStreamwiseSubjectDetails
			select @SchooolwiseStudentID,@OldStreamID,@NewGroupId,@OldCompulsorySubjects,@NewOptionalSubjects,@NewExam,@SchoolId,0

	END
END
GO
