/****** Object:  StoredProcedure [dbo].[usp_GetPagedMenuFilesDetails]    Script Date: 27-07-2026 17:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================================================================
-- Author		: ?
-- Create date	: ?
-- Description	: Gets the Files uploaded for all the Menus.
-- ------------------
--	MODIFICATION LOG
-- ------------------
-- ## Date			Author		Description
-- 01 02-Oct-12		Vishal		#5231.
-- 02 27-Dec-2016	Madhuri		#198.
-- 03 31-Jul-2026				Return InsertDate; support sort by InsertDate and ChildMenuName.
-- ================================================================================================
ALTER PROCEDURE [dbo].[usp_GetPagedMenuFilesDetails]
	  @StartIndex			INT,
	  @EndIndex				INT,
	  @SchoolId				INT,
	  @SortExp				NVARCHAR(1000),
	  @asSearchText NVARCHAR(100)=' '
AS
BEGIN

--	SET NOCOUNT ON added to prevent extra result sets from
--	interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @sQuery NVARCHAR(4000)

	DECLARE @TotalRows INT

			SELECT @TotalRows = COUNT(1)
			  FROM dbo.MenuFileDetails MFD
		INNER JOIN dbo.ConfigureMenu CM
				ON MFD.MenuId = CM.ConfigureMenuId
   LEFT OUTER JOIN dbo.ConfigureMenu AS CM1
				ON CM.Parent_Menu_Id = CM1.ConfigureMenuId
   LEFT OUTER JOIN dbo.ConfigureMenu CM2
				ON CM1.Parent_Menu_Id = CM2.ConfigureMenuId
   LEFT OUTER JOIN dbo.ConfigureMenu CM3
				ON CM2.Parent_Menu_Id = CM3.ConfigureMenuId
			 WHERE CM.Is_Active = 'Y'
			   AND MFD.Is_Active = 'Y'
			   AND MFD.IsDeleted = 0
			   AND MFD.IsEmbedded = 0
			   AND CM.SchoolId = @SchoolId
			   AND MFD.SchoolId = @SchoolId
			   AND (CM.ConfigureMenuName  LIKE '%'+@asSearchText+'%' OR CM1.ConfigureMenuName LIKE   '%'+@asSearchText+'%'  OR CM2.ConfigureMenuName LIKE    '%'+@asSearchText+'%' OR MFD.LinkName LIKE   '%'+@asSearchText+'%' )

	IF PATINDEX(N'%ConfigureMenuName%', @SortExp) <> 0
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'ConfigureMenuName', N'CM.ConfigureMenuName')
		SET @SortExp = @SortExp + N', MFD.MenuFileDetailsId'
	END
	ELSE IF PATINDEX(N'%ParentMenu%', @SortExp) <> 0 
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'ParentMenu', N'ISNULL(CM1.ConfigureMenuName, N''-'')')
		SET @SortExp = @SortExp + N', CM.ConfigureMenuName, MFD.MenuFileDetailsId'
	END
	ELSE IF PATINDEX(N'%ConfigureSubMenuName%', @SortExp) <> 0
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'ConfigureSubMenuName', N'CASE WHEN CM2.ConfigureMenuName IS NULL AND CM1.ConfigureMenuName IS NULL 
					   THEN ''-''
					   ELSE CASE WHEN CM1.ConfigureMenuName IS NOT NULL AND CM2.ConfigureMenuName IS NOT NULL 
				   			THEN CM1.ConfigureMenuName 
				   			ELSE CASE WHEN CM.ConfigureMenuName IS NULL
									  THEN ''-'' 
									  ELSE CM.ConfigureMenuName 
									  END
				   			END
					   END')
		SET @SortExp = @SortExp + N', MFD.MenuFileDetailsId'
	END
	ELSE IF PATINDEX(N'%ChildMenuName%', @SortExp) <> 0
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'ChildMenuName', N'CASE WHEN CM3.ConfigureMenuName IS NOT NULL AND CM2.ConfigureMenuName IS NOT NULL AND CM1.ConfigureMenuName IS NOT NULL 
						THEN CM.ConfigureMenuName 
						ELSE ''-'' 
						END')
		SET @SortExp = @SortExp + N', MFD.MenuFileDetailsId'
	END
	ELSE IF PATINDEX(N'%InsertDate%', @SortExp) <> 0
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'InsertDate', N'MFD.InsertDate')
		SET @SortExp = @SortExp + N', MFD.MenuFileDetailsId'
	END
	ELSE IF PATINDEX(N'%LinkName%', @SortExp) <> 0
	BEGIN
		SET @SortExp = REPLACE(@SortExp, N'LinkName', N'MFD.LinkName')
		SET @SortExp = @SortExp + N', MFD.MenuFileDetailsId'
	END

	SET @sQuery = N'
		   SELECT S.* 
			 FROM (SELECT CASE WHEN CM3.ConfigureMenuName IS NULL 
								   AND CM2.ConfigureMenuName IS NULL 
								   AND CM1.ConfigureMenuName IS NULL 
								  THEN CM.ConfigureMenuName 
								  ELSE CASE WHEN (CM3.ConfigureMenuName IS NULL AND CM2.ConfigureMenuName IS NOT NULL)
										    THEN CM2.ConfigureMenuName
											WHEN (CM2.ConfigureMenuName IS NULL AND CM1.ConfigureMenuName IS NOT NULL)
											THEN CM1.ConfigureMenuName
											ELSE CM3.ConfigureMenuName
											END
								  END [ParentMenuName]
				  ,CM.ConfigureMenuId [MenuId]
				  ,CASE WHEN CM3.ConfigureMenuName IS NULL AND CM2.ConfigureMenuName IS NULL AND CM1.ConfigureMenuName IS NULL 
					   THEN ''-''
					   ELSE CASE WHEN CM1.ConfigureMenuName IS NOT NULL AND CM2.ConfigureMenuName IS NOT NULL AND CM3.ConfigureMenuName IS NOT NULL 
				   			THEN CM2.ConfigureMenuName 
				   			ELSE CASE WHEN CM.ConfigureMenuName IS NULL
									  THEN ''-'' 
									  ELSE CM.ConfigureMenuName 
									  END
				   			END
					   END AS [SubMenuName]
				  ,CASE WHEN CM3.ConfigureMenuName IS NOT NULL AND CM2.ConfigureMenuName IS NOT NULL  
						THEN CM1.ConfigureMenuName 						
						ELSE ''-'' 
						END AS [MenuName]
				  ,CASE WHEN CM3.ConfigureMenuName IS NOT NULL AND CM2.ConfigureMenuName IS NOT NULL AND CM1.ConfigureMenuName IS NOT NULL 
						THEN CM.ConfigureMenuName 
						ELSE ''-'' 
						END AS [ChildMenuName]
				  ,MFD.LinkName [Name]
				  ,MFD.FilePath [Path]
				  ,MFD.MenuFileDetailsId [Id]
				  ,ISNULL(MFD.IsURL,0) as IsURL
				  ,MFD.InsertDate [InsertDate]
				  ,ROW_NUMBER() OVER (' + @SortExp + ') as RowNo
				  ,'+CAST(@TotalRows AS NVARCHAR(5))+' as TotalRows
			  FROM dbo.MenuFileDetails MFD
		INNER JOIN dbo.ConfigureMenu CM
				ON MFD.MenuId = CM.ConfigureMenuId
   LEFT OUTER JOIN dbo.ConfigureMenu AS CM1
				ON CM.Parent_Menu_Id = CM1.ConfigureMenuId
				AND CM1.Is_Active = ''Y''
   LEFT OUTER JOIN dbo.ConfigureMenu CM2
				ON CM1.Parent_Menu_Id = CM2.ConfigureMenuId
				AND CM2.Is_Active = ''Y''
   LEFT OUTER JOIN dbo.ConfigureMenu CM3
				ON CM2.Parent_Menu_Id = CM3.ConfigureMenuId
				AND CM3.Is_Active = ''Y''
			 WHERE CM.Is_Active = ''Y''
			   AND MFD.Is_Active = ''Y''
			   AND MFD.IsDeleted = 0
			   AND MFD.IsEmbedded = 0
			   AND CM.SchoolId = ' + CAST(@SchoolId AS NVARCHAR) + '
			   AND MFD.SchoolId = ' + CAST(@SchoolId AS NVARCHAR) + '
			   AND (CM.ConfigureMenuName  LIKE ''%' + @asSearchText + '%'' OR CM1.ConfigureMenuName LIKE ' +'  ''%' + @asSearchText + '%''  OR CM2.ConfigureMenuName LIKE  ' +'  ''%' +   @asSearchText + '%'' OR MFD.LinkName LIKE ' +'  ''%' +   @asSearchText + '%'' ))   AS S

		 WHERE S.RowNo > ' + CAST(@StartIndex AS NVARCHAR) + '
		   AND S.RowNo <= ' + CAST(@EndIndex AS NVARCHAR)

	PRINT @sQuery				
	
	EXECUTE(@sQuery)
END

--GO
--	exec usp_GetPagedMenuFilesDetails @SchoolID=18,@asSearchText=N'Maths',@SortExp=N'ORDER BY ConfigureSubMenuName asc',@StartIndex=60,@EndIndex=80
--	exec usp_GetPagedMenuFilesDetails @SchoolID=18,@asSearchText=N'',@SortExp=N'ORDER BY InsertDate desc',@StartIndex=0,@EndIndex=20
--GO