/****** Object:  StoredProcedure [dbo].[usp_GetDetailsForHolisticProgressReport]    Script Date: 8/25/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 07-Mar-2025
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDetailsForHolisticProgressReport]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Schoolwise_Standard_Division_Id INT,
	@StudentId INT = 0,
	@TestId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @StudentId IS NULL
		SET @StudentId = 0

	DECLARE @Location NVARCHAR(100) = '',
			@AchievementParameter NVARCHAR(200) = 'My Achievements during the Year : (Curricular and Co-Curricular)',
			@SelfAssessmentComment NVARCHAR(200) = 'I want to be ________'

	select @Location = Value
	from SchoolSettings
	where SchoolId = @School_Id
	and AcademicYearId = @Academic_Year_Id
	and IsDeleted = 0
	and name = 'Location'

	DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id INT,
		StudentName NVARCHAR(100),
		Middle_Name NVARCHAR(100),
		Mother_Name NVARCHAR(100),
		Standard_Name NVARCHAR(100),
		Division_Name NVARCHAR(100),
		Roll_No INT,
		HouseName NVARCHAR(100),
		Enrolment_Number NVARCHAR(50),
		DOB DATE,
		School_Name NVARCHAR(100),
		School_Orgn_Name NVARCHAR(100),
		SchoolCity NVARCHAR(100),
		AcademicYear NVARCHAR(50),
		Achievements NVARCHAR(500),
		StudentPhoto IMAGE
	)
	
	INSERT INTO @tblStudentDetails
	SELECT ysd.YearWise_Student_Id, 
		 BSD.StudentName,
		 BSD.Middle_Name,
		 BSD.Mother_Name,
		 CASE WHEN VSD.Is_PrePrimary = 'Y' THEN VSD.Standard_Name ELSE dbo.udf_ConvertIntToRoman(VSD.Standard_Name) END AS Standard_Name,
		 VSD.Division_Name,
		 ysd.Roll_No,
		 ISNULL(HCM.Name,'') AS HouseName,
		 bsd.Enrolment_Number,
		 bsd.DOB,
		 SM.School_Name,
		 SM.School_Orgn_Name,
		 SM.City AS SchoolCity,
		-- @Location AS Location,
		 CAST(YEAR(SAYM.Start_date) AS NVARCHAR(4)) + ' - '+CAST(YEAR(SAYM.End_Date) AS NVARCHAR(4)) AS AcademicYear,
		 '',
		 BSD.Photo_file_Path_Image
	FROM vw_BaseStudentDetails BSD
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	LEFT OUTER JOIN HouseConfigurationMaster HCM
	ON YSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
	INNER JOIN School_Master SM
	ON YSD.School_Id = SM.School_Id
	INNER JOIN SchoolWise_Academic_Year_Master SAYM
	ON YSD.Academic_Year_ID = SAYM.Academic_Year_ID
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID  =@Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND SM.Is_Deleted = 'N'
	AND SAYM.Is_Deleted = 'N'
	AND VSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
	AND (YSD.YearWise_Student_Id = @StudentId OR @StudentId = 0)

	UPDATE TSD
	SET Achievements = S.Comment
	from @tblStudentDetails TSD
	INNER JOIN
	(
		SELECT sod.StudentId, SOD.Comment
		FROM StudentObservationDetails SOD
		INNER JOIN @tblStudentDetails TSD
		ON SOD.StudentId = TSD.YearWise_Student_Id
		INNER JOIN ObservationParameters OP
		ON SOD.ParameterId = OP.Id
		INNER JOIN ObservationSkills OS
		ON OP.SkillId = OS.Id		
		WHERE SOD.SchoolId = @School_Id
		AND SOD.AcademicYearId = @Academic_Year_Id
		AND SOD.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND OP.ControlTypeId = 2
		AND OS.IsDeleted = 0	
		AND OP.Parameter = @AchievementParameter
		AND SOD.TestId = @TestId	
	)S
	ON TSD.YearWise_Student_Id = S.StudentId

	-- Result set 1
	SELECT YearWise_Student_Id,
		StudentName,
		Middle_Name,
		Mother_Name,
		Standard_Name,
		Division_Name,
		Roll_No,
		HouseName,
		Enrolment_Number,
		DOB,
		School_Name,
		School_Orgn_Name,
		SchoolCity,
		AcademicYear,
		@Location AS Location,
		Achievements,
		StudentPhoto
	FROM @tblStudentDetails
	
	-- Result set 2
	SELECT TSD.YearWise_Student_Id,
			Roll_No,			
			ROW_NUMBER() OVER(PARTITION BY SOD.StudentId ORDER BY CASE WHEN OS.Name = 'All About Me' THEN 1 ELSE 2 END, OP.SortOrder) AS SrNo,
			OP.Parameter,
			SOD.Comment,
			'Remark' AS ColumnHeader
	FROM StudentObservationDetails SOD
	INNER JOIN @tblStudentDetails TSD
	ON SOD.StudentId = TSD.YearWise_Student_Id
	INNER JOIN ObservationParameters OP
	ON SOD.ParameterId = OP.Id
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id	
	INNER JOIN 
	(
		SELECT ssad.YearwiseStudentId, ssad.TestId
		FROM SubmitStudentAssessmentDetails SSAD
		INNER JOIN @tblStudentDetails TSD
		ON SSAD.YearwiseStudentId = TSD.YearWise_Student_Id
		INNER JOIN ObservationSkills OS
		ON SSAD.SkillId = OS.Id
		WHERE SSAD.SchoolId = @School_Id
		AND SSAD.AcademicYearId = @Academic_Year_Id
		AND SSAD.IsDeleted = 0
		AND SSAD.TestId = @TestId
		AND OS.IsDeleted = 0
		AND OS.Name = 'Self Assessment'
		and ssad.IsSubmitted = 1
	)SSAD
	ON SOD.StudentId = SSAD.YearwiseStudentId
	AND SOD.TestId = SSAD.TestId
	WHERE SOD.SchoolId = @School_Id
	AND SOD.AcademicYearId = @Academic_Year_Id
	AND SOD.IsDeleted = 0
	AND OP.IsDeleted = 0
	AND OP.ControlTypeId = 2
	AND OS.IsDeleted = 0	
	AND (OS.Name = 'All About Me' OR OP.Parameter LIKE '%'+@SelfAssessmentComment+'%')
	AND SOD.TestId = @TestId	
	and op.Parameter <> @AchievementParameter

	-- Result set 3	
		SELECT TSD.YearWise_Student_Id,
			Roll_No,			
			ROW_NUMBER() OVER(PARTITION BY SOD.StudentId, VwSAC.AssessmentCategoryId ORDER BY OP.ControlTypeId, OS.SortOrder, OP.SortOrder) AS SrNo,			
			OS.Name AS SkillName,
			OP.Parameter AS ParameterName,
			--OP.Parameter + case when OP.ControlTypeId = 1 then '' else '<p><b>'+SOD.Comment+'</b></p>' end AS ParameterName,
			AOG.NewGradeName as GradeName,
			VwSAC.AssessmentCategoryId AS SectionId,
			OP.ControlTypeId,
			ISNULL(SOD.Comment,'') AS Comment
	FROM StudentObservationDetails SOD
	INNER JOIN @tblStudentDetails TSD
	ON SOD.StudentId = TSD.YearWise_Student_Id
	INNER JOIN ObservationParameters OP
	ON SOD.ParameterId = OP.Id
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id		
	INNER JOIN vw_StudentAssessmentCategories VwSAC
	ON OS.Name = VwSAC.AssessmentCategory
	inner join ObservationGrades OG
	on sod.GradeId = OG.Id
	INNER JOIN StandardWiseGradeMaster SGM
    ON OG.Id=SGM.GradeId
	INNER JOIN vw_AlternateObservationGrades AOG
	on og.Name = AOG.OldGradeName
	INNER JOIN SubmitStudentAssessmentDetails SSAD
	ON SOD.StudentId = SSAD.YearwiseStudentId
	AND SOD.TestId = SSAD.TestId
	AND OS.Id = SSAD.SkillId
	WHERE SOD.SchoolId = @School_Id
	AND SOD.AcademicYearId = @Academic_Year_Id
	AND SOD.IsDeleted = 0
	AND OP.IsDeleted = 0
	--AND OP.ControlTypeId = 1
	AND OS.IsDeleted = 0
	and OG.IsDeleted = 0
	AND SOD.TestId = @TestId
	AND SSAD.IsDeleted = 0
	AND SSAD.IsSubmitted = 1
	AND OP.Parameter NOT LIKE '%'+@SelfAssessmentComment+'%'
	and (sod.StudentId = @StudentId OR @StudentId = 0)
	AND SGM.IsDeleted=0
	AND SGM.StandardId=@Standard_Id
		
	DECLARE @tblGradeDetails AS TABLE
	(
		YearWise_Student_Id INT,
		Roll_No INT,
		SkillName NVARCHAR(100),
		Parameter  NVARCHAR(500),
		ShortName NVARCHAR(50),
		Subject_Name NVARCHAR(100),
		SubjectSortOrder int,
		SkillSorOrder INT,
		ParameterSortOrder INT,
		Subject_Id INT,
		SubjectSectionId INT,		
		CurricularSectionId INT
	)
	
	INSERT INTO @tblGradeDetails
		SELECT TSD.YearWise_Student_Id,
			Roll_No,			
			OS.Name,
			OP.Parameter,
			--OG.ShortName,
			OG.name,
			SUB.Subject_Name,
			SSSM.Sort_Order AS SubjectSortOrder,
			os.SortOrder as SkillSorOrder,
			op.SortOrder as ParameterSortORder,
			sub.Subject_Id,
			0,
			CASE WHEN SUB.Is_CoCurricularActivity = 0 THEN 1 ELSE 2 END	
	FROM StudentObservationDetails SOD
	INNER JOIN @tblStudentDetails TSD
	ON SOD.StudentId = TSD.YearWise_Student_Id
	INNER JOIN ObservationParameters OP
	ON SOD.ParameterId = OP.Id
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id		
	LEFT OUTER JOIN vw_StudentAssessmentCategories VwSAC
	ON OS.Name = VwSAC.AssessmentCategory
	inner join ObservationGrades OG
	on sod.GradeId = OG.Id
	INNER JOIN StandardWiseGradeMaster SGM
    ON OG.Id=SGM.GradeId
	INNER JOIN Subject_Master SUB
	ON OS.SubjectId= SUB.Subject_Id
	AND SOD.AcademicYearId = SUB.academic_Year_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON SUB.Subject_Id = SSSM.Subject_Id
	AND OS.StandardId = SSSM.Standard_Id
	AND SUB.academic_Year_Id = SSSM.academic_year_id
	WHERE SOD.SchoolId = @School_Id
	AND SOD.AcademicYearId = @Academic_Year_Id
	AND SOD.IsDeleted = 0
	AND OP.IsDeleted = 0
	AND OP.ControlTypeId = 1
	AND OS.IsDeleted = 0
	and OG.IsDeleted = 0
	AND SSSM.Is_Deleted = 'N'
	AND SUB.Is_Deleted = 'N'
	AND SOD.TestId = @TestId
	AND VwSAC.AssessmentCategoryId IS NULL
	AND OS.Name NOT IN ('All About Me')
	AND SGM.IsDeleted=0
    AND SGM.StandardId=@Standard_Id
	
	UPDATE TGD
	SET SubjectSortOrder = SUB.SubjectSortOrder,
		SubjectSectionId = CONVERT(INT,ROUND(CONVERT(DECIMAL(10,2),SUB.SubjectSortOrder)/3,0))
	from @tblGradeDetails TGD
	INNER JOIN
	(
		select YearWise_Student_Id,Subject_Id, ROW_NUMBER() OVER (PARTITION BY YearWise_Student_Id ORDER BY SubjectSortOrder) as SubjectSortOrder
		from
		(
			select YearWise_Student_Id,Subject_Id,SubjectSortOrder
			from @tblGradeDetails
			GROUP BY YearWise_Student_Id,Subject_Id,SubjectSortOrder
		)S
	)SUB
	ON TGD.YearWise_Student_Id = SUB.YearWise_Student_Id
	AND TGD.Subject_Id = SUB.Subject_Id

	-- Result set 4
	SELECT S1.*,
	S2.Subject_Name as Subject_Name2,
	S2.SubjectSortOrder as SubjectSortOrder2,
	S2.SkillName as SkillName2,
	S2.SkillSorOrder as SkillSorOrder2,
	S2.Parameter as Parameter2,
	S2.ParameterSortOrder as ParameterSortOrder2,
	S2.ShortName as ShortName2,	
	S3.Subject_Name as Subject_Name3,
	S3.SubjectSortOrder as SubjectSortOrder3,
	S3.SkillName as SkillName3,
	S3.SkillSorOrder as SkillSorOrder3,
	S3.Parameter as Parameter3,
	S3.ParameterSortOrder as ParameterSortOrder3,
	S3.ShortName as ShortName3
	FROM
	(
		select YearWise_Student_Id,Roll_No,Subject_Name,SubjectSortOrder,SkillName,SkillSorOrder,Parameter,ParameterSortOrder,ShortName, CurricularSectionId, 
		ROW_NUMBER() over (PARTITION BY YearWise_Student_Id order by SkillSorOrder, ParameterSortOrder) as SerialNumber,
		SubjectSectionId
		from @tblGradeDetails
		WHERE SubjectSortOrder % 3 = 1
		AND Subject_Name in ('English','Hindi','Marathi/Sanskrit')
	)S1
	INNER JOIN
	(
		select YearWise_Student_Id,Subject_Name,SubjectSortOrder,SkillName,SkillSorOrder,Parameter,ParameterSortOrder,ShortName,
		ROW_NUMBER() over (PARTITION BY YearWise_Student_Id order by SkillSorOrder, ParameterSortOrder) as SerialNumber
		from @tblGradeDetails
		WHERE SubjectSortOrder % 3 = 2
		AND Subject_Name in ('English','Hindi','Marathi/Sanskrit')
	)S2
	ON S1.YearWise_Student_Id = S2.YearWise_Student_Id
	AND S1.SerialNumber = S2.SerialNumber
	INNER JOIN
	(
		select YearWise_Student_Id,Roll_No,Subject_Name,SubjectSortOrder,SkillName,SkillSorOrder,Parameter,ParameterSortOrder,ShortName,
		ROW_NUMBER() over (PARTITION BY YearWise_Student_Id order by SkillSorOrder, ParameterSortOrder) as SerialNumber
		from @tblGradeDetails
		WHERE SubjectSortOrder % 3 = 0
		AND Subject_Name in ('English','Hindi','Marathi/Sanskrit')
	)S3
	ON S1.YearWise_Student_Id = S3.YearWise_Student_Id
	AND S1.SerialNumber = S3.SerialNumber
	where s1.SubjectSectionId = 0 	

	delete from @tblGradeDetails
	where Subject_Name in ('English','Hindi','Marathi/Sanskrit')

	UPDATE TGD
	SET SubjectSortOrder = SUB.SubjectSortOrder,
		SubjectSectionId = CONVERT(INT,ROUND(CONVERT(DECIMAL(10,2),SUB.SubjectSortOrder)/2,0))
	from @tblGradeDetails TGD
	INNER JOIN
	(
		select YearWise_Student_Id,Subject_Id, ROW_NUMBER() OVER (PARTITION BY YearWise_Student_Id ORDER BY SubjectSortOrder) as SubjectSortOrder
		from
		(
			select YearWise_Student_Id,Subject_Id,SubjectSortOrder
			from @tblGradeDetails
			GROUP BY YearWise_Student_Id,Subject_Id,SubjectSortOrder
		)S
	)SUB
	ON TGD.YearWise_Student_Id = SUB.YearWise_Student_Id
	AND TGD.Subject_Id = SUB.Subject_Id

	-- Result set 5
	SELECT S1.*,
	S2.Subject_Name as Subject_Name2,
	S2.SubjectSortOrder as SubjectSortOrder2,
	S2.SkillName as SkillName2,
	S2.SkillSorOrder as SkillSorOrder2,
	S2.Parameter as Parameter2,
	S2.ParameterSortOrder as ParameterSortOrder2,
	S2.ShortName as ShortName2	
	FROM
	(
		select YearWise_Student_Id,Roll_No,Subject_Name,SubjectSortOrder,SkillName,SkillSorOrder,Parameter,ParameterSortOrder,ShortName, CurricularSectionId, 
		ROW_NUMBER() over (PARTITION BY YearWise_Student_Id order by SkillSorOrder, ParameterSortOrder) as SerialNumber,
		SubjectSectionId
		from @tblGradeDetails
		WHERE SubjectSortOrder % 2 = 1
		and SubjectSectionId > 0
		AND Subject_Name NOT IN ('English','Hindi','Marathi/Sanskrit')
	)S1
	INNER JOIN
	(
		select YearWise_Student_Id,Subject_Name,SubjectSortOrder,SkillName,SkillSorOrder,Parameter,ParameterSortOrder,ShortName,
		ROW_NUMBER() over (PARTITION BY YearWise_Student_Id order by SkillSorOrder, ParameterSortOrder) as SerialNumber
		from @tblGradeDetails
		WHERE SubjectSortOrder % 2 = 0
		and SubjectSectionId > 0
		AND Subject_Name NOT IN ('English','Hindi','Marathi/Sanskrit')
	)S2
	ON S1.YearWise_Student_Id = S2.YearWise_Student_Id
	AND S1.SerialNumber = S2.SerialNumber	
END
GO
