/****** Object:  StoredProcedure [dbo].[usp_GetDetailsForHolisticReportFor3To5Std]    Script Date: 5/5/2026 10:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Get Holistic Report for 3rd to 5th Standard
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDetailsForHolisticReportFor3To5Std] 
(
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT = 0,
	@Term_Id INT,
	@IsFromReportScreen BIT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @StdDivId INT

	SET @StdDivId = @Division_Id

	SELECT @Division_Id = Division_Id
	FROM vw_standard_division
	WHERE academic_year_id = @Academic_Year_Id
	  AND School_Id = @School_Id
	  AND SchoolWise_Standard_Division_Id = @Division_Id;

	DECLARE @IsPublihsed BIT = 0

	IF @IsFromReportScreen = 1
		SET @IsPublihsed = 1
	ELSE
	BEGIN
		IF EXISTS
		(
			SELECT TOP 1 1
			FROM ObservationPublishStatus OPS
			INNER JOIN SchoolWise_Test_Master STM
			ON OPS.TestId = STM.SchoolWise_Test_Id
			AND OPS.AcademicYearId = STM.academic_year_id
			WHERE SchoolId = @School_Id
			and AcademicYearId = @Academic_Year_Id
			and IsDeleted = 0
			AND STM.Is_Deleted = 'N'
			and StdDivId = @StdDivId
			AND STM.Term_Id  = @Term_Id
			AND ((@Term_Id = 1 AND STM.SchoolWise_Test_Name = 'Evaluation I') OR (@Term_Id = 2 AND STM.SchoolWise_Test_Name IN ('Evaluation II','Evaluation 2')))
			--AND ((@Term_Id = 1 AND STM.SchoolWise_Test_Name = 'Evaluation I') OR (@Term_Id = 2 AND STM.SchoolWise_Test_Name = 'Evaluation II'))
			AND ops.IsPublished = 1
		)
		BEGIN
			SET @IsPublihsed = 1
		END
	END

	DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id   INT,
		School_Name           NVARCHAR(50),
		School_Address        NVARCHAR(300),
		SchoolTelephoneNo     NVARCHAR(30),
		SchoolMobileNo        NVARCHAR(30),
		SchoolEmailAddress    NVARCHAR(100),
		AcademicYear          NVARCHAR(20),
		Class                 NVARCHAR(30),
		Section               NVARCHAR(10),
		Original_Standard_Id  INT,
		Original_Division_Id  INT,
		StudentName           NVARCHAR(100),
		DOB                   NVARCHAR(50),
		ResidentalAddress     NVARCHAR(200),
		StudentTelephoneNO    NVARCHAR(30),
		Roll_No               INT,
		AdmissionNo           NVARCHAR(20),
		UDISENumber				  NVARCHAR(100),
		ApaarId				  NVARCHAR(100),
		StudentPhoto		  IMAGE
	);

	-- Insert Student Details
	INSERT INTO @tblStudentDetails
	SELECT  
		YSD.YearWise_Student_Id,
		SM.School_Name,
		SM.Address + ' ,' + SM.Address2 + ', ' + SM.City + ', ' + SM.Pincode AS School_Address,
		SM.Phone_Number + '/ ' + SM.Phone_Number2 AS SchoolTelephoneNo,
		'9881740404/ 9665320888' AS SchoolMobileNo,
		SM.Email AS SchoolEmailAddress,
		(CAST(YEAR(SAYM.Start_date) AS NVARCHAR(4)) + N'-' + CAST(right(YEAR(SAYM.End_Date),2) AS NVARCHAR(4))) AS AcademicYear, 
		VSD.Standard_Name AS Class,
		VSD.Division_Name AS Section,
		VSD.Original_Standard_Id,
		VSD.Original_Division_Id,
		VBSD.StudentName,
		FORMAT(VBSD.DOB,'dd-MMM-yyyy') AS DOB,
		VBSD.Address AS ResidentalAddress,
		VBSD.Mobile_Number + ', ' + VBSD.Mobile_Number2 AS StudentTelephoneNO,
		YSD.Roll_No,
		VBSD.FormNumber AS AdmissionNo,
		VBSD.UDISENumber,
		SAD.ApaarId,
		Photo_file_Path_Image AS StudentPhoto
	FROM vw_BaseStudentDetails VBSD
	INNER JOIN StudentAdditionalDetails SAD
	ON VBSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
	INNER JOIN YearWise_Student_Details YSD
		ON VBSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN School_Master SM
		ON SM.School_Id = YSD.School_Id
	INNER JOIN vw_standard_division VSD
		ON VSD.Standard_Id = YSD.Standard_Id
	   AND VSD.Division_Id = YSD.Division_id
	INNER JOIN SchoolWise_Academic_Year_Master SAYM
		ON SAYM.Academic_Year_ID = YSD.Academic_Year_ID
	 WHERE YSD.Academic_Year_ID = @Academic_Year_Id
	  AND YSD.School_Id = @School_Id
	  AND VSD.Standard_Id = @Standard_Id
	  AND VSD.Division_Id = @Division_Id
	  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	  AND VBSD.Is_Deleted = 'N'
	  AND YSD.Is_Deleted = 'N'
	  AND SM.Is_Deleted = 'N'
	  AND @IsPublihsed = 1
	  AND SAD.IsDeleted = 0
	 ORDER BY YearWise_Student_Id 

	 DECLARE @ClassTeacherName NVARCHAR(150) = ''

	 select @ClassTeacherName = BTD.TeacherName
	 from SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
	 INNER JOIN vw_BaseTeacherDetails BTD
	 ON SSDTAM.Teacher_Id= BTD.Teacher_Id
	 AND SSDTAM.Academic_Year_Id = BTD.academic_year_id
	 where SSDTAM.School_Id = @School_Id
	 and SSDTAM.Academic_Year_Id = @Academic_Year_Id
	 and SSDTAM.Is_Deleted = 'N'
	 and SSDTAM.Is_ClassTeacher = 'Y'
	 and SSDTAM.Standard_Id = @Standard_Id
	 and SSDTAM.Division_Id = @Division_Id
	 AND BTD.Is_Deleted = 'N'

	SELECT * , @ClassTeacherName ClassTeacherName, @Term_Id AS TermId
	FROM @tblStudentDetails;

	
	--SELECT  
	--	YSD.YearWise_Student_Id, 
	--	OS.SortOrder AS SkillSortOrder, 
	--	OS.Name AS SkillName, 
	--	OP.SortOrder AS ParameterSortOrder, 
	--	OP.Parameter AS ParameterName, 
	--	UPPER(OG.Name) AS Grade,
	--	UPPER(SM.Subject_Name) as Subject_Name,
	--	SSSM.Sort_Order AS SubjectSortOrder,
	--	CASE
	--		WHEN OG.Name = '0' THEN 'NA'
	--		WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 1 AND 3 THEN 'Beginner'
	--		WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 4 AND 7 THEN 'Progressing'
	--		WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 8 AND 10 THEN 'Proficient'
	--		ELSE OG.Name
	--	END AS Term1Grade,
	--	' - ' AS Term2Grade
	--FROM YearWise_Student_Details YSD
	--INNER JOIN ObservationSkills OS
	--	ON YSD.Standard_Id = OS.StandardId
	--INNER JOIN ObservationParameters OP
	--	ON OP.SkillId = OS.Id
	--INNER JOIN StudentObservationDetails SOD
	--	ON SOD.StudentId = YSD.YearWise_Student_Id
	--   AND OP.Id = SOD.ParameterId
	--INNER JOIN ObservationGrades OG
	--	ON SOD.GradeId = OG.Id
	--INNER JOIN vw_standard_division VSD
	--	ON YSD.Standard_Id = VSD.Standard_Id
	--   AND YSD.Division_id = VSD.Division_Id
	--INNER JOIN ObservationSubmissionStatus OSS
	--	ON OS.SubjectId = OSS.SubjectId
	--   AND VSD.SchoolWise_Standard_Division_Id = OSS.StdDivId
	--   AND SOD.TestId = OSS.TestId
	--INNER JOIN Subject_Master SM
	--	ON SM.Subject_Id = OS.SubjectId
	--INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	--	ON SM.Subject_Id = SSSM.Subject_Id
	--AND YSD.Standard_Id = SSSM.Standard_Id
	--INNER JOIN SchoolWise_Test_Master STM
	--	ON SOD.TestId = STM.SchoolWise_Test_Id
	--   AND SOD.AcademicYearId = STM.academic_year_id
	--INNER JOIN @tblStudentDetails TSD
	--	ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
	--WHERE OS.AcademicYearId = @Academic_Year_Id
	--  AND OS.SchoolId = @School_Id
	--  AND OS.StandardId = @Standard_Id
	--  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	--  AND YSD.Is_Deleted = 'N'
	--  AND OS.IsDeleted = 0
	--  AND OP.IsDeleted = 0
	--  AND SOD.IsDeleted = 0
	--  AND OG.IsDeleted = 0
	--  AND OSS.IsDeleted = 0
	--  AND OSS.IsSubmitted = 1
	--  AND SM.Is_Deleted = 'N'
	--  AND SSSM.Is_Deleted = 'N'
	--  AND STM.Term_Id = @Term_Id
	--  AND STM.Is_Deleted = 'N'

	;WITH StudentObservations AS
	(
		SELECT  
			YSD.YearWise_Student_Id, 
			OS.SortOrder AS SkillSortOrder, 
			OS.Name AS SkillName, 
			OP.SortOrder AS ParameterSortOrder, 
			OP.Parameter AS ParameterName, 
			UPPER(OG.Name) AS Grade,
			UPPER(SM.Subject_Name) as Subject_Name,
			SSSM.Sort_Order AS SubjectSortOrder,
			CASE
				WHEN OG.Name = '0' THEN 'NA'
				WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 1 AND 3 THEN 'Beginner'
				WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 4 AND 7 THEN 'Progressing'
				WHEN ISNUMERIC(OG.Name) = 1 AND CAST(OG.Name AS INT) BETWEEN 8 AND 10 THEN 'Proficient'
				ELSE OG.Name
			END AS TermGrade,			
			OP.SkillId,
			sod.ParameterId,
			STM.Term_Id
		FROM YearWise_Student_Details YSD
		INNER JOIN ObservationSkills OS
			ON YSD.Standard_Id = OS.StandardId
		INNER JOIN ObservationParameters OP
			ON OP.SkillId = OS.Id
		INNER JOIN StudentObservationDetails SOD
			ON SOD.StudentId = YSD.YearWise_Student_Id
		   AND OP.Id = SOD.ParameterId
		INNER JOIN ObservationGrades OG
			ON SOD.GradeId = OG.Id
		INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
		INNER JOIN vw_standard_division VSD
			ON YSD.Standard_Id = VSD.Standard_Id
		   AND YSD.Division_id = VSD.Division_Id
		INNER JOIN ObservationSubmissionStatus OSS
			ON OS.SubjectId = OSS.SubjectId
		   AND VSD.SchoolWise_Standard_Division_Id = OSS.StdDivId
		   AND SOD.TestId = OSS.TestId
		INNER JOIN Subject_Master SM
			ON SM.Subject_Id = OS.SubjectId
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
			ON SM.Subject_Id = SSSM.Subject_Id
		AND YSD.Standard_Id = SSSM.Standard_Id
		INNER JOIN SchoolWise_Test_Master STM
			ON SOD.TestId = STM.SchoolWise_Test_Id
		   AND SOD.AcademicYearId = STM.academic_year_id
		INNER JOIN @tblStudentDetails TSD
			ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
		WHERE OS.AcademicYearId = @Academic_Year_Id
		  AND OS.SchoolId = @School_Id
		  AND OS.StandardId = @Standard_Id
		  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
		  AND YSD.Is_Deleted = 'N'
		  AND OS.IsDeleted = 0
		  AND OP.IsDeleted = 0
		  AND SOD.IsDeleted = 0
		  AND OG.IsDeleted = 0
		  AND OSS.IsDeleted = 0
		  AND OSS.IsSubmitted = 1
		  AND SM.Is_Deleted = 'N'
		  AND SSSM.Is_Deleted = 'N'
		  AND (STM.Term_Id = @Term_Id OR @Term_Id = 2)
		  AND STM.Is_Deleted = 'N'
		  AND SGM.IsDeleted=0
          AND SGM.StandardId=@Standard_Id
	)
	SELECT SO1.YearWise_Student_Id, 
			SO1.SkillSortOrder, 
			SO1.SkillName, 
			SO1.ParameterSortOrder, 
			SO1.ParameterName, 
			SO1.Grade,
			SO1.Subject_Name,
			SO1.SubjectSortOrder,
			SO1.TermGrade AS Term1Grade,
			ISNULL(SO2.TermGrade,'-') AS Term2Grade
	FROM StudentObservations SO1
	LEFT OUTER JOIN StudentObservations SO2
	ON SO1.YearWise_Student_Id = SO2.YearWise_Student_Id
	AND SO1.SkillId = SO2.SkillId
	AND SO1.ParameterId = SO2.ParameterId
	AND SO2.Term_Id = 2
	WHERE SO1.Term_Id = 1	
	
	--SELECT  
	--	YSD.YearWise_Student_Id,
	--	SM.Subject_Name,
	--	SSSM.Sort_Order AS SubjectSortOrder,
	--	OG.Name AS Term1Grade,
	--	' - ' AS Term2Grade
	--FROM YearWise_Student_Details YSD WITH(NOLOCK)
	--INNER JOIN StudentsObservationSummaryGradeDetails SBSGD WITH(NOLOCK)
	--	ON SBSGD.YearwiseStudentId = YSD.YearWise_Student_Id		
	--INNER JOIN ObservationGrades OG WITH(NOLOCK)
	--	ON SBSGD.GradeId = OG.Id
	--INNER JOIN vw_standard_division VSD WITH(NOLOCK)
	--	ON YSD.Standard_Id = VSD.Standard_Id
	--   AND YSD.Division_id = VSD.Division_Id
	--INNER JOIN Subject_Master SM WITH(NOLOCK)
	--	ON SM.Subject_Id = SBSGD.SubjectId
	--INNER JOIN SchoolWise_Standard_Subject_Master SSSM WITH(NOLOCK)
	--	ON SM.Subject_Id = SSSM.Subject_Id
	--	AND YSD.Standard_Id = SSSM.Standard_Id
	--INNER JOIN SchoolWise_Test_Master STM WITH(NOLOCK)
	--	ON SBSGD.TestId = STM.SchoolWise_Test_Id
	--   AND SBSGD.AcademicYearId = STM.academic_year_id
	--INNER JOIN @tblStudentDetails TSD
	--	ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
	--INNER JOIN StudentsObservationSummaryGradeSubmitDetails SOSGED WITH(NOLOCK)
	--	ON SBSGD.SubjectId = SOSGED.SubjectId
	--	and SBSGD.TestId = SOSGED.TestId
	--	and VSD.SchoolWise_Standard_Division_Id = SOSGED.StandardDivisionId
	--WHERE SBSGD.AcademicYearId = @Academic_Year_Id
	--  AND SBSGD.SchoolId = @School_Id
	--  AND VSD.Standard_Id = @Standard_Id
	--  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	--  AND YSD.Is_Deleted = 'N'	  
	--  AND SBSGD.IsDeleted = 0
	--  AND OG.IsDeleted = 0
	--  AND SM.Is_Deleted = 'N'
	--  AND SSSM.Is_Deleted = 'N'
	--  AND STM.Term_Id = @Term_Id
	--  AND STM.Is_Deleted = 'N'
	--  and SOSGED.IsDeleted = 0
	--  and SOSGED.IsSubmitted = 1

	;WITH SummaryGradeDetails AS
	(
		SELECT  
			YSD.YearWise_Student_Id,
			SM.Subject_Name,
			SSSM.Sort_Order AS SubjectSortOrder,
			OG.Name AS TermGrade,			
			SM.Subject_Id,
			STM.Term_Id
		FROM YearWise_Student_Details YSD WITH(NOLOCK)
		INNER JOIN StudentsObservationSummaryGradeDetails SBSGD WITH(NOLOCK)
			ON SBSGD.YearwiseStudentId = YSD.YearWise_Student_Id		
		INNER JOIN ObservationGrades OG WITH(NOLOCK)
			ON SBSGD.GradeId = OG.Id
		INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
		INNER JOIN vw_standard_division VSD WITH(NOLOCK)
			ON YSD.Standard_Id = VSD.Standard_Id
		   AND YSD.Division_id = VSD.Division_Id
		INNER JOIN Subject_Master SM WITH(NOLOCK)
			ON SM.Subject_Id = SBSGD.SubjectId
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM WITH(NOLOCK)
			ON SM.Subject_Id = SSSM.Subject_Id
			AND YSD.Standard_Id = SSSM.Standard_Id
		INNER JOIN SchoolWise_Test_Master STM WITH(NOLOCK)
			ON SBSGD.TestId = STM.SchoolWise_Test_Id
		   AND SBSGD.AcademicYearId = STM.academic_year_id
		INNER JOIN @tblStudentDetails TSD
			ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
		INNER JOIN StudentsObservationSummaryGradeSubmitDetails SOSGED WITH(NOLOCK)
			ON SBSGD.SubjectId = SOSGED.SubjectId
			and SBSGD.TestId = SOSGED.TestId
			and VSD.SchoolWise_Standard_Division_Id = SOSGED.StandardDivisionId
		WHERE SBSGD.AcademicYearId = @Academic_Year_Id
		  AND SBSGD.SchoolId = @School_Id
		  AND VSD.Standard_Id = @Standard_Id
		  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
		  AND YSD.Is_Deleted = 'N'	  
		  AND SBSGD.IsDeleted = 0
		  AND OG.IsDeleted = 0
		  AND SM.Is_Deleted = 'N'
		  AND SSSM.Is_Deleted = 'N'
		  AND (STM.Term_Id = @Term_Id OR @Term_Id = 2)
		  AND STM.Is_Deleted = 'N'
		  and SOSGED.IsDeleted = 0
		  and SOSGED.IsSubmitted = 1
		  AND SGM.IsDeleted=0
          AND SGM.StandardId=@Standard_Id
	  )
	  SELECT SGD1.YearWise_Student_Id,
			SGD1.Subject_Name,
			SGD1.SubjectSortOrder,
			SGD1.TermGrade AS Term1Grade,
			ISNULL(SGD2.TermGrade,'-') AS Term2Grade
	  FROM SummaryGradeDetails SGD1
	  LEFT OUTER JOIN SummaryGradeDetails SGD2
	  ON SGD1.YearWise_Student_Id = SGD2.YearWise_Student_Id
	  AND SGD1.Subject_Id = SGD2.Subject_Id
	  AND SGD2.Term_Id = 2
	  WHERE SGD1.Term_Id = 1	  
	
	--SELECT YearWise_Student_Id,
	--		Subject_Name,
	--		SubjectSortOrder,		
	--		CASE 
	--		WHEN AvgMarks = 0.00 THEN 'NA'
	--		WHEN AvgMarks BETWEEN 1.00 AND 3.99 THEN 'Beginner'
	--		WHEN AvgMarks BETWEEN 4.00 AND 7.99 THEN 'Progressing'
	--		WHEN AvgMarks BETWEEN 8.00 AND 10.99 THEN 'Proficient'
	--		ELSE ''
	--		END AS Term1Grade,
	--		' - ' AS Term2Grade
	--FROM
	--(
	--SELECT  
	--	YSD.YearWise_Student_Id,
	--	SM.Subject_Name,
	--	SSSM.Sort_Order AS SubjectSortOrder,
	--	CONVERT(NUMERIC(5,2),ROUND((CONVERT(NUMERIC(5,2),SUM(CASE WHEN ISNUMERIC(OG.Name) = 1 THEN CONVERT(INT,OG.Name) ELSE 0 END))/COUNT(1)),1)) AS AvgMarks		
	--FROM YearWise_Student_Details YSD
	--INNER JOIN ObservationSkills OS
	--	ON YSD.Standard_Id = OS.StandardId
	--INNER JOIN ObservationParameters OP
	--	ON OP.SkillId = OS.Id
	--INNER JOIN StudentObservationDetails SOD
	--	ON SOD.StudentId = YSD.YearWise_Student_Id
	--   AND OP.Id = SOD.ParameterId
	--INNER JOIN ObservationGrades OG
	--	ON SOD.GradeId = OG.Id
	--INNER JOIN vw_standard_division VSD
	--	ON YSD.Standard_Id = VSD.Standard_Id
	--   AND YSD.Division_id = VSD.Division_Id
	--INNER JOIN Subject_Master SM
	--	ON SM.Subject_Id = OS.SubjectId
	--INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	--	ON SM.Subject_Id = SSSM.Subject_Id
	--	AND YSD.Standard_Id = SSSM.Standard_Id
	--INNER JOIN SchoolWise_Test_Master STM
	--	ON SOD.TestId = STM.SchoolWise_Test_Id
	--   AND SOD.AcademicYearId = STM.academic_year_id
	--INNER JOIN @tblStudentDetails TSD
	--	ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
	--WHERE OS.AcademicYearId = @Academic_Year_Id
	--  AND OS.SchoolId = @School_Id
	--  AND OS.StandardId = @Standard_Id
	--  AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	--  AND YSD.Is_Deleted = 'N'
	--  AND OS.IsDeleted = 0
	--  AND OP.IsDeleted = 0
	--  AND SOD.IsDeleted = 0
	--  AND OG.IsDeleted = 0
	--  AND SM.Is_Deleted = 'N'
	--  AND SSSM.Is_Deleted = 'N'
	--  AND STM.Term_Id = @Term_Id
	--  AND STM.Is_Deleted = 'N'
	--  AND OG.Name <> '0'
	--  GROUP BY YSD.YearWise_Student_Id,
	--	SM.Subject_Name,
	--	SSSM.Sort_Order
	--)S
END