/****** Object:  StoredProcedure [dbo].[usp_GetObservationGradesForReport]    Script Date: 8/25/2025 11:29:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetObservationGradesForReport] 
	@SchoolId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select SortOrder, ShortName, Name,'5 Points Grading Scale' AS RowHeader
	from ObservationGrades OG
	INNER JOIN StandardWiseGradeMaster SGM
    ON OG.Id=SGM.GradeId
  where schoolid=  @SchoolId
	AND OG.IsDeleted = 0
	AND SGM.IsDeleted=0
END
GO
