/****** Object:  StoredProcedure [dbo].[usp_GetProgressReportDetailsForPrePrimaryPioneer]    Script Date: 24-03-2026 12:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetProgressReportDetailsForPrePrimaryPioneer]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@StudentId INT,
	@TestId INT,
	@IsFromReportScreen bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	SET NOCOUNT ON;
	IF(@IsFromReportScreen=0)
	 BEGIN
			select @TestId=SchoolWise_Test_Id 
			from SchoolWise_Test_Master 
			where Term_Id =1
			and IsFinalExam=1
			and School_Id =@School_Id 
			AND academic_year_id =@Academic_Year_Id 
	 END
	
	DECLARE @AYStartDate DATE,
			@AYEndDate DATE,
			@Term2ExamId INT

	SELECT @AYStartDate = Start_Date,
			@AYEndDate = End_Date
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	
	SELECT @Term2ExamId = SchoolWise_Test_Id
	FROM SchoolWise_Test_Master
	WHERE School_Id = @School_Id
	and academic_year_id = @Academic_Year_Id
	and Is_Deleted = 'N'
	and SchoolWise_Test_Name = 'Yearly Exam'

	 DECLARE @ClassTeacherName NVARCHAR(100) = '',
			@PrincipalName NVARCHAR(100) = ''

	select @ClassTeacherName = BTD.TeacherName
	from SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
	INNER JOIN vw_BaseTeacherDetails BTD
	ON SSDTAM.Teacher_Id = BTD.Teacher_Id
	AND SSDTAM.Academic_Year_Id = BTD.academic_year_id
	INNER JOIN vw_standard_division VSD
	ON SSDTAM.Standard_Id = VSD.Standard_Id
	AND SSDTAM.Division_Id = VSD.Division_Id
	WHERE SSDTAM.School_Id = @School_Id
	AND SSDTAM.Academic_Year_Id = @Academic_Year_Id
	AND SSDTAM.Is_Deleted = 'N'
	AND BTD.Is_Deleted = 'N'
	AND VSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND SSDTAM.Is_ClassTeacher = 'Y'

	SELECT @PrincipalName = TeacherName
	FROM vw_BaseTeacherDetails
	WHERE School_Id = @School_Id
	AND academic_year_id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND Designation_Id = 10 --PRINCIPAL


    DECLARE @tblStudentDetails AS TABLE
	(
		YearwiseStudentId INT,
		OrgStdId INT,
		OrgDivId INT,
		Class NVARCHAR(100),
		RollNo INT,
		RegNo NVARCHAR(50),
		StudentName NVARCHAR(100),
		DOB DATE,
		FatherName NVARCHAR(100),
		MotherName NVARCHAR(100),
		PresentDays INT,
		TotalDays INT,
		Height INT,
		Weight DECIMAL(10,2),
		SchoolwiseStdDivId INT
	)

	IF @StudentId IS NULL
		SET @StudentId = 0

	DECLARE @StdDivId INT
	SET @StdDivId = @Division_Id

	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id,
			VSD.Original_Standard_Id,
			VSD.Original_Division_Id,
			VSD.className,
			YSD.Roll_No,
			BSD.Enrolment_Number,
			UPPER(CASE  WHEN BSD.SchoolWise_Student_Id in (469,644,769,628 )
                THEN BSD.StudentFLName ELSE  BSD.StudentName END) AS StudentName,
			BSD.DOB,
			UPPER(BSD.Middle_Name),
			UPPER(BSD.Mother_Name),
			0,
			0,
			0,
			0,
			VSD.SchoolWise_Standard_Division_Id
	FROM vw_BaseStudentDetails BSD
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @StdDivId
	and (YSD.YearWise_Student_Id = @StudentId OR @StudentId = 0)


	DECLARE @TermId INT,
			@TermStartDate DATE,
			@TermEndDate DATE

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM SchoolWise_Test_Master 
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		AND SchoolWise_Test_Id = @TestId
		AND SchoolWise_Test_Name = 'Half Yearly'
	)
	BEGIN		
		SET @TermId = 1
	END
	ELSE
	BEGIN
		SET @TermId = 2
	END

	DECLARE @IsTerm2ExamPublished BIT = 0,
			@IsTerm1ExamPublished BIT = 0

	IF EXISTS
	(
		SELECT TOP 1 1
		from ObservationPublishStatus OPS
		INNER JOIN SchoolWise_Test_Master STM
		ON OPS.TestId = STM.SchoolWise_Test_Id
		AND OPS.AcademicYearId = STM.academic_year_id
		WHERE OPS.SchoolId = @School_Id
		AND OPS.AcademicYearId = @Academic_Year_Id
		AND OPS.IsDeleted = 0
		AND OPS.IsPublished = 1
		AND STM.Is_Deleted = 'N'
		AND STM.Term_Id = 2
		AND STM.IsFinalExam = 1
		AND OPS.StdDivId = @Division_Id
	)
	BEGIN
		SET @TermId = 2
		SET @IsTerm2ExamPublished = 1
	END

	IF EXISTS
	(
		SELECT TOP 1 1
		from ObservationPublishStatus OPS
		INNER JOIN SchoolWise_Test_Master STM
		ON OPS.TestId = STM.SchoolWise_Test_Id
		AND OPS.AcademicYearId = STM.academic_year_id
		WHERE OPS.SchoolId = @School_Id
		AND OPS.AcademicYearId = @Academic_Year_Id
		AND OPS.IsDeleted = 0
		AND OPS.IsPublished = 1
		AND STM.Is_Deleted = 'N'
		AND STM.Term_Id = 1
		AND STM.IsFinalExam = 1
		AND OPS.StdDivId = @Division_Id
	)
	BEGIN
		SET @IsTerm1ExamPublished = 1
	END


	SELECT @TermStartDate = TermStartDate,
		   @TermEndDate = TermEndDate
	FROM StudentTermwiseTestMaster
	WHERE School_Id = @School_Id
	AND Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 0
	AND SchoolwiseTermId = @TermId
	AND StandardId = @Standard_Id

	UPDATE TSD
	SET Height = THWS.Height,
		Weight = THWS.Weight
	FROM TermwiseStudentHeightWeightDetails THWS
	INNER JOIN @tblStudentDetails TSD
	ON THWS.YearwiseStudentId = TSD.YearwiseStudentId
	WHERE SchoolId = @School_Id
	AND AcademicYearId = @Academic_Year_Id
	AND THWS.TermId = @TermId

	UPDATE TSD
	SET PresentDays = S.PresentDays,
		TotalDays = S.TotalDays
	FROM @tblStudentDetails TSD
	INNER JOIN
	(
		SELECT SAD.Student_Id, SUM(CASE WHEN SAD.Is_Present = 'Y' THEN 1 ELSE 0 END) AS PresentDays, COUNT(1) AS TotalDays
		FROM SchoolWise_Attendance_Details SAD
		INNER JOIN @tblStudentDetails TSD
		ON SAD.Student_Id = TSD.YearwiseStudentId
		WHERE SAD.School_Id = @School_Id
		AND SAD.Academic_Year_Id = @Academic_Year_Id
		AND SAD.Is_Deleted = 'N'
	--	AND CONVERT(DATE,SAD.Attendance_Date) BETWEEN @TermStartDate AND @TermEndDate
	AND ( (@TermId = 1 AND   CONVERT(DATE,SAD.Attendance_Date)BETWEEN @TermStartDate AND @TermEndDate )
     OR (@TermId = 2 AND  CONVERT(DATE,SAD.Attendance_Date)  BETWEEN @AYStartDate AND @AYEndDate ))
		GROUP BY SAD.Student_Id
	)S
	ON TSD.YearwiseStudentId = S.Student_Id

	DECLARE @AcademicYear NVARCHAR(50)

	SELECT @AcademicYear = CAST(YEAR(Start_date) AS NVARCHAR(4))+' - '+ CAST(YEAR(End_Date) AS NVARCHAR(4))
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_ID = @Academic_Year_Id
	AND Is_Deleted = 'N'
	
	--------------------Sport--------------------------------------
	DECLARE @tblSportSubjectMarkDetails AS TABLE
	(
		StudentId INT,
		SubjectName NVARCHAR(100),
		SkillName NVARCHAR(200),
		Parameter NVARCHAR(500),
		Term1Grade NVARCHAR(50),
		Term2Grade NVARCHAR(50),
		SkillwiseParamSortOrder INT,
		Term_Id INT
	)

	;WITH OnservationDetails AS
	(
		SELECT  sod.StudentId,			
				UPPER(SM.Subject_Name) AS Subject_Name,			
				UPPER(OS.Name) as SkillName,			
				OP.Parameter,				
				OG.ShortName,			
				STM.Term_Id,
				OP.SkillId,
				SOD.ParameterId,			
				ROW_NUMBER() OVER (PARTITION BY sod.StudentId, sm.subject_Id, OS.Id, sod.TestId ORDER BY OP.SortOrder) AS SkillwiseParamSortOrder			
		FROM StudentObservationDetails SOD
		INNER JOIN ObservationParameters OP
		ON SOD.ParameterId = OP.Id
		INNER JOIN ObservationSkills OS
		ON OP.SkillId = OS.Id
		INNER JOIN Subject_Master SM
		ON OS.SubjectId = SM.Subject_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON SM.Subject_Id = SSSM.Subject_Id
		AND OS.StandardId = SSSM.Standard_Id
		INNER JOIN @tblStudentDetails TSD
		ON SOD.StudentId = TSD.YearwiseStudentId
		INNER JOIN ObservationGrades OG
		ON SOD.GradeId = OG.Id
		INNER JOIN StandardWiseGradeMaster SGM
        ON OG.Id=SGM.GradeId
		INNER JOIN ObservationSubmissionStatus OSS
		on tsd.SchoolwiseStdDivId = oss.StdDivId
		and sm.Subject_Id = oss.SubjectId
		and sod.TestId = oss.TestId
		INNER JOIN SchoolWise_Test_Master STM
		ON SOD.TestId = STM.SchoolWise_Test_Id
		AND SOD.AcademicYearId = STM.academic_year_id		
		WHERE SOD.SchoolId = @School_Id
		AND SOD.AcademicYearId = @Academic_Year_Id
		AND SOD.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND OS.IsDeleted = 0
		AND OS.StandardId = @Standard_Id
		AND (SOD.StudentId = @StudentId OR @StudentId = 0)
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND OG.IsDeleted = 0
		AND ((SOD.TestId = @TestId AND @TermId = 1) OR @TermId = 2)
		AND OSS.IsDeleted = 0
		AND oss.IsSubmitted = 1	
		and (sm.Subject_Name = 'SPORTS')
		AND SGM.IsDeleted=0
        AND SGM.StandardId=@Standard_Id
	)
	INSERT INTO @tblSportSubjectMarkDetails
	SELECT OD1.StudentId ,			
				OD1.Subject_Name,		   
				OD1.SkillName,				
				OD1.Parameter,
				OD1.ShortName,	
				OD2.ShortName AS Term2Grade,		
				OD1.SkillwiseParamSortOrder,
				OD1.Term_Id				
	FROM OnservationDetails OD1
	INNER JOIN @tblStudentDetails TSD
	ON OD1.StudentId = TSD.YearwiseStudentId
	LEFT OUTER JOIN OnservationDetails OD2
	ON OD1.StudentId= OD2.StudentId
	AND OD1.SkillId = OD2.SkillId
	AND OD1.ParameterId = OD2.ParameterId
	AND OD2.Term_Id = 2
	WHERE OD1.Term_Id  = 1
	AND ((@TermId = 1 AND OD2.StudentId IS NULL) OR @TermId = 2)

	---------------- MARKS ---------------------------------
	;WITH OnservationDetails AS
	(
		SELECT  sod.StudentId,
				SSSM.Sort_Order AS SubjectSortOrder,
				UPPER(SM.Subject_Name) AS Subject_Name,
				OS.SortOrder AS SkillSortORder,
				UPPER(OS.Name) as SkillName,
				OP.SortOrder AS ParameterSortOrder,
				OP.Parameter,				
				OG.ShortName,
				CASE WHEN SM.Is_CoCurricularActivity = 1 AND (SOD.Comment IS NULL OR SOD.Comment = '') THEN '' ELSE
					CASE WHEN SOD.Comment IS NULL OR SOD.Comment = '' THEN '-' ELSE SOD.Comment END 
				END AS Comment,
				OP.ControlTypeId,			
				S.SrNo AS SkillSerialNo,
				STM.Term_Id,
				OP.SkillId,
				SOD.ParameterId,
				SM.Is_CoCurricularActivity as IsCoCurricularSubject,
				CASE WHEN sm.Subject_Name = 'CO-CURRICULAR ACTIVITIES' then 1 else 0 end as IsCoCurriActivitySubjectName,
				CASE WHEN sm.Subject_Name = 'SPORTS' then 1 else 0 end as IsSportSubject,				
				ROW_NUMBER() OVER (PARTITION BY sod.StudentId, sm.subject_Id, OS.Id, sod.TestId ORDER BY OP.SortOrder) AS SkillwiseParamSortOrder,				
				CASE WHEN sm.Subject_Name = 'PERSONAL & SOCIAL TRAITS' then 1 else 0 end as IsSocialTraitsSubject
		FROM StudentObservationDetails SOD
		INNER JOIN ObservationParameters OP
		ON SOD.ParameterId = OP.Id
		INNER JOIN ObservationSkills OS
		ON OP.SkillId = OS.Id
		INNER JOIN Subject_Master SM
		ON OS.SubjectId = SM.Subject_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON SM.Subject_Id = SSSM.Subject_Id
		AND OS.StandardId = SSSM.Standard_Id
		INNER JOIN @tblStudentDetails TSD
		ON SOD.StudentId = TSD.YearwiseStudentId
		INNER JOIN ObservationGrades OG
		ON SOD.GradeId = OG.Id
		INNER JOIN StandardWiseGradeMaster SGM
        ON OG.Id=SGM.GradeId
		INNER JOIN ObservationSubmissionStatus OSS
		on tsd.SchoolwiseStdDivId = oss.StdDivId
		and sm.Subject_Id = oss.SubjectId
		and sod.TestId = oss.TestId
		INNER JOIN SchoolWise_Test_Master STM
		ON SOD.TestId = STM.SchoolWise_Test_Id
		AND SOD.AcademicYearId = STM.academic_year_id
		INNER JOIN
		(
			SELECT Id, ROW_NUMBER() OVER (PARTITION BY Subjectid ORDER BY SortOrder) as SrNo
			FROM ObservationSkills
			WHERE SchoolId = @School_Id
			AND AcademicYearId = @Academic_Year_Id
			AND IsDeleted = 0
			AND StandardId = @Standard_Id
		)S
		ON OS.Id = S.Id
		--LEFT OUTER JOIN ObservationPublishStatus OPS
		--ON tsd.SchoolwiseStdDivId = OPS.StdDivId
		--AND sod.TestId = OPS.TestId
		--AND OPS.IsPublished = 1
		--AND OPS.IsDeleted = 0
		--LEFT OUTER JOIN ObservationPublishStatus OPSFinal
		--ON tsd.SchoolwiseStdDivId = OPSFinal.StdDivId
		--AND sod.TestId = OPSFinal.TestId
		--AND OPSFinal.IsPublished = 1
		--AND OPSFinal.IsDeleted = 0
		--and OPSFinal.TestId = @Term2ExamId
		WHERE SOD.SchoolId = @School_Id
		AND SOD.AcademicYearId = @Academic_Year_Id
		AND SOD.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND OS.IsDeleted = 0
		AND OS.StandardId = @Standard_Id
		AND (SOD.StudentId = @StudentId OR @StudentId = 0)
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND OG.IsDeleted = 0
		AND ((SOD.TestId = @TestId AND @TermId = 1) OR @TermId = 2)
		AND OSS.IsDeleted = 0
		AND oss.IsSubmitted = 1
		AND SGM.IsDeleted=0
        AND SGM.StandardId=@Standard_Id
		AND (@IsFromReportScreen = 1 OR (@IsFromReportScreen = 0 AND ((@TermId = 1 AND @IsTerm1ExamPublished = 1) OR (@TermId = 2 AND @IsTerm1ExamPublished = 1 AND @IsTerm2ExamPublished = 1))))
	--	AND (@IsFromReportScreen = 1 OR (@IsFromReportScreen = 0 AND ((@TermId = 1 AND OPS.StdDivId IS NOT NULL) OR (@TermId = 2 AND OPS.StdDivId IS NOT NULL AND OPSFinal.StdDivId IS NOT NULL))))
	)
	SELECT YearwiseStudentId ,
			OrgStdId ,
			OrgDivId ,
			Class ,
			RollNo ,
			RegNo,
			StudentName ,
			DOB,
			FatherName ,
			MotherName ,
			PresentDays ,
			TotalDayS ,
			Height ,
			Weight,
		   OD1.SubjectSortOrder,
		   OD1.Subject_Name,
		   OD1.SkillSortORder,
			OD1.SkillName,
				OD1.ParameterSortOrder,
				OD1.Parameter,
				OD1.ShortName,
				CASE WHEN @TermId = 1 THEN OD1.Comment ELSE OD2.Comment END AS Comment,
				OD1.ControlTypeId,		
				@AcademicYear AS AcademicYear,
				OD1.SkillSerialNo,
				@ClassTeacherName AS ClassTeacherName, 
				@PrincipalName AS PrincipalName,
				OD2.ShortName AS Term2Grade,
				OD1.IsCoCurricularSubject,
				OD1.IsCoCurriActivitySubjectName,
				OD1.SkillwiseParamSortOrder,				
				CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(TSSMD.SubjectName,'') else '' end as SportSubjectName,
				CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(TSSMD.SkillName,'') else '' end as SportSkillName,
				CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(TSSMD.Parameter,'') else '' end as SportParamName,
				CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(TSSMD.Term1Grade,'') else '' end as SportTerm1Grade,
				CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(TSSMD.Term2Grade,'') else '' end as SportTerm2Grade,
				OD1.IsSocialTraitsSubject
	FROM OnservationDetails OD1
	INNER JOIN @tblStudentDetails TSD
	ON OD1.StudentId = TSD.YearwiseStudentId
	LEFT OUTER JOIN OnservationDetails OD2
	ON OD1.StudentId= OD2.StudentId
	AND OD1.SkillId = OD2.SkillId
	AND OD1.ParameterId = OD2.ParameterId
	AND OD2.Term_Id = 2
	LEFT OUTER JOIN @tblSportSubjectMarkDetails TSSMD
	ON OD1.StudentId = TSSMD.StudentId
	AND OD1.SkillwiseParamSortOrder = TSSMD.SkillwiseParamSortOrder
	WHERE OD1.Term_Id  = 1
	AND OD1.IsSportSubject = 0
	AND ((@TermId = 1 AND OD2.StudentId IS NULL) OR @TermId = 2)

	--;WITH OnservationDetails AS
	--(
	--	SELECT  sod.StudentId,
	--			SSSM.Sort_Order AS SubjectSortOrder,
	--			UPPER(SM.Subject_Name) AS Subject_Name,
	--			OS.SortOrder AS SkillSortORder,
	--			UPPER(OS.Name) as SkillName,
	--			OP.SortOrder AS ParameterSortOrder,
	--			OP.Parameter,
	--			--CASE WHEN OP.Parameter = 'ART / CRAFT(Interest/Creativity/Skills)' THEN 'ART / CRAFT' ELSE OP.Parameter END AS Parameter,
	--			OG.ShortName,
	--			CASE WHEN SM.Is_CoCurricularActivity = 1 AND (SOD.Comment IS NULL OR SOD.Comment = '') THEN '' ELSE
	--				CASE WHEN SOD.Comment IS NULL OR SOD.Comment = '' THEN '-' ELSE SOD.Comment END 
	--			END AS Comment,
	--			OP.ControlTypeId,			
	--			S.SrNo AS SkillSerialNo,
	--			STM.Term_Id,
	--			OP.SkillId,
	--			SOD.ParameterId,
	--			SM.Is_CoCurricularActivity as IsCoCurricularSubject,
	--			CASE WHEN sm.Subject_Name = 'CO-CURRICULAR ACTIVITIES' then 1 else 0 end as IsCoCurriActivitySubjectName,
	--			CASE WHEN sm.Subject_Name = 'SPORTS' then 1 else 0 end as IsSportSubject,
	--			--0 as IsCoCurriActivitySubjectName,
	--			--0 as IsSportSubject,
	--			ROW_NUMBER() OVER (PARTITION BY sod.StudentId, sm.subject_Id, OS.Id, sod.TestId ORDER BY OP.SortOrder) AS SkillwiseParamSortOrder,
	--			--CASE WHEN sm.Subject_Name IN ('PERSONAL & SOCIAL TRAITS','CO-CURRICULAR ACTIVITIES','SPORTS') then 1 else 0 end as IsSocialTraitsSubject
	--			CASE WHEN sm.Subject_Name = 'PERSONAL & SOCIAL TRAITS' then 1 else 0 end as IsSocialTraitsSubject
	--	FROM StudentObservationDetails SOD
	--	INNER JOIN ObservationParameters OP
	--	ON SOD.ParameterId = OP.Id
	--	INNER JOIN ObservationSkills OS
	--	ON OP.SkillId = OS.Id
	--	INNER JOIN Subject_Master SM
	--	ON OS.SubjectId = SM.Subject_Id
	--	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	--	ON SM.Subject_Id = SSSM.Subject_Id
	--	AND OS.StandardId = SSSM.Standard_Id
	--	INNER JOIN @tblStudentDetails TSD
	--	ON SOD.StudentId = TSD.YearwiseStudentId
	--	INNER JOIN ObservationGrades OG
	--	ON SOD.GradeId = OG.Id
	--	INNER JOIN ObservationSubmissionStatus OSS
	--	on tsd.SchoolwiseStdDivId = oss.StdDivId
	--	and sm.Subject_Id = oss.SubjectId
	--	and sod.TestId = oss.TestId
	--	INNER JOIN SchoolWise_Test_Master STM
	--	ON SOD.TestId = STM.SchoolWise_Test_Id
	--	AND SOD.AcademicYearId = STM.academic_year_id
	--	INNER JOIN
	--	(
	--		SELECT Id, ROW_NUMBER() OVER (PARTITION BY Subjectid ORDER BY SortOrder) as SrNo
	--		FROM ObservationSkills
	--		WHERE SchoolId = @School_Id
	--		AND AcademicYearId = @Academic_Year_Id
	--		AND IsDeleted = 0
	--		AND StandardId = @Standard_Id
	--	)S
	--	ON OS.Id = S.Id
	--	LEFT OUTER JOIN ObservationPublishStatus OPS
	--	ON tsd.SchoolwiseStdDivId = OPS.StdDivId
	--	AND sod.TestId = OPS.TestId
	--	AND OPS.IsPublished = 1
	--	AND OPS.IsDeleted = 0
	--	LEFT OUTER JOIN ObservationPublishStatus OPSFinal
	--	ON tsd.SchoolwiseStdDivId = OPSFinal.StdDivId
	--	AND sod.TestId = OPSFinal.TestId
	--	AND OPS.IsPublished = 1
	--	AND OPS.IsDeleted = 0
	--	and ops.TestId = @Term2ExamId
	--	WHERE SOD.SchoolId = @School_Id
	--	AND SOD.AcademicYearId = @Academic_Year_Id
	--	AND SOD.IsDeleted = 0
	--	AND OP.IsDeleted = 0
	--	AND OS.IsDeleted = 0
	--	AND OS.StandardId = @Standard_Id
	--	AND (SOD.StudentId = @StudentId OR @StudentId = 0)
	--	AND SM.Is_Deleted = 'N'
	--	AND SSSM.Is_Deleted = 'N'
	--	AND STM.Is_Deleted = 'N'
	--	AND OG.IsDeleted = 0
	--	AND ((SOD.TestId = @TestId AND @TermId = 1) OR @TermId = 2)
	--	AND OSS.IsDeleted = 0
	--	AND oss.IsSubmitted = 1
	--	AND (@IsFromReportScreen = 1 OR (@IsFromReportScreen = 0 AND ((@TermId = 1 AND OPS.StdDivId IS NOT NULL) OR (@TermId = 2 AND OPS.StdDivId IS NOT NULL AND OPSFinal.StdDivId IS NOT NULL))))
	--)
	--SELECT YearwiseStudentId ,
	--		OrgStdId ,
	--		OrgDivId ,
	--		Class ,
	--		RollNo ,
	--		RegNo,
	--		StudentName ,
	--		DOB,
	--		FatherName ,
	--		MotherName ,
	--		PresentDays ,
	--		TotalDayS ,
	--		Height ,
	--		Weight,
	--	   OD1.SubjectSortOrder,
	--	   OD1.Subject_Name,
	--	   OD1.SkillSortORder,
	--		OD1.SkillName,
	--			OD1.ParameterSortOrder,
	--			OD1.Parameter,
	--			OD1.ShortName,
	--			CASE WHEN @TermId = 1 THEN OD1.Comment ELSE OD2.Comment END AS Comment,
	--			OD1.ControlTypeId,		
	--			@AcademicYear AS AcademicYear,
	--			OD1.SkillSerialNo,
	--			@ClassTeacherName AS ClassTeacherName, 
	--			@PrincipalName AS PrincipalName,
	--			OD2.ShortName AS Term2Grade,
	--			OD1.IsCoCurricularSubject,
	--			OD1.IsCoCurriActivitySubjectName,
	--			OD1.SkillwiseParamSortOrder,
	--			CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(ODSport1.Subject_Name,'') else '' end as SportSubjectName,
	--			CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(ODSport1.SkillName,'') else '' end as SportSkillName,
	--			CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(ODSport1.Parameter,'') else '' end as SportParamName,
	--			CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(ODSport1.ShortName,'') else '' end as SportTerm1Grade,
	--			CASE WHEN OD1.IsCoCurriActivitySubjectName = 1 then ISNULL(ODSport2.ShortName,'') else '' end as SportTerm2Grade,
	--			OD1.IsSocialTraitsSubject
	--FROM OnservationDetails OD1
	--INNER JOIN @tblStudentDetails TSD
	--ON OD1.StudentId = TSD.YearwiseStudentId
	--LEFT OUTER JOIN OnservationDetails OD2
	--ON OD1.StudentId= OD2.StudentId
	--AND OD1.SkillId = OD2.SkillId
	--AND OD1.ParameterId = OD2.ParameterId
	--AND OD2.Term_Id = 2
	--LEFT OUTER JOIN OnservationDetails ODSport1
	--ON OD1.StudentId= ODSport1.StudentId	
	--AND ODSport1.Term_Id = 1
	--AND ODSport1.IsSportSubject = 1
	--and OD1.SkillwiseParamSortOrder = ODSport1.SkillwiseParamSortOrder
	--LEFT OUTER JOIN OnservationDetails ODSport2
	--ON ODSport1.StudentId= ODSport2.StudentId	
	--AND ODSport2.Term_Id = 2
	--AND ODSport2.IsSportSubject = 1
	--and ODSport1.SkillwiseParamSortOrder = ODSport2.SkillwiseParamSortOrder
	--AND ODSport1.SkillId = ODSport2.SkillId
	--AND ODSport1.ParameterId = ODSport2.ParameterId
	--WHERE OD1.Term_Id  = 1
	--AND OD1.IsSportSubject = 0
	--AND ((@TermId = 1 AND OD2.StudentId IS NULL) OR @TermId = 2)
END
