/****** Object:  StoredProcedure [dbo].[usp_GetScholasticObservationDetails]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetScholasticObservationDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@StandardId INT,
	@DivisionId INT,
	@StudentId INT,
	@TermId INT,	
	@StageId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @TestId INT,
		@TermName NVARCHAR(50)
		
	IF @TermId IS NULL
		SET @TermId = 2
		
	SELECT @TermName = TermName
	FROM SchoolwiseTermMaster
	WHERE SchoolId = @SchoolId	
	AND Is_Deleted = 0
	AND SchoolwiseTermId = @TermId

			
	SELECT @TestId = SchoolWise_Test_Id	   
	FROM Schoolwise_Test_Master
	WHERE School_Id = @SchoolId
	AND Academic_Year_Id = @AcademicYearId
	AND Is_Deleted = 'N'
	AND Term_Id = @TermId
	AND IsFinalExam = 1
	
	
	DECLARE @tblDetails AS TABLE
	(
		SubjectName NVARCHAR(100),	
		Parameter NVARCHAR(500),				
		TermName NVARCHAR(50),		
		Grade NVARCHAR(10),		
		SkillSortOrder INT,
		ParameterSortOrder INT,
		ParameterId INT,
		SecondSkill NVARCHAR(100),
		SecondGrade NVARCHAR(10)
	)
	
	DECLARE @tblParameters AS TABLE
			(
				ParameterId INT,
				Parameter NVARCHAR(500),
				Grade NVARCHAR(10),
				SkillSortOrder INT
			)
			
	DECLARE @Id INT,
			@SkillId INT,
			@RollNo INT,
			@OriginalStandardId INT,
			@OriginalDivisionId INT,
			@OldSkillId INT = 0,
			@SecondLanguageId INT,
			@SecondLanguage NVARCHAR(50),
			@ThirdLanguage NVARCHAR(50),
			@TotalCount INT,
			@MidCount INT
					
			
	IF @StageId = 1
	BEGIN
			INSERT INTO @tblDetails
			SELECT OS.Name,	 
				   OP.Parameter,
				   @TermName as TermName,
				   '',		  
				   OS.SortOrder as SkillSortOrder,
				   OP.SortOrder AS ParameterSortOrder,
				   OP.Id,
				   '',
				   ''
			FROM ObservationParameters OP	
			INNER JOIN ObservationSkills OS
			ON OP.SkillId = OS.Id
			AND OP.AcademicYearId = OS.AcademicYearId
			AND OP.SchoolId = OS.SchoolId	
			INNER JOIN Subject_Master SM
			ON OS.SubjectId = SM.Subject_Id
			AND OS.SchoolId = SM.School_Id
			AND OS.AcademicYearId = SM.Academic_Year_Id
			WHERE OS.SchoolId = @SchoolId
			AND OS.AcademicYearId = @AcademicYearId
			and OS.IsDeleted = 0	
			AND OP.IsDeleted = 0	
			AND OP.IsSubmitted = 1
			AND SM.Is_Deleted = 'N'
			AND SM.IsLanguageSubject = 0	
			AND OS.StandardId = @StandardId
			AND SM.Is_CoCurricularActivity = 0

			--AND OP.Parameter = 'Grade'	
			AND SM.Subject_Name IN ('Mathematics','SST','SCI')
			
			--IF @TermId = 1
			--BEGIN
				UPDATE TD
				SET Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.ParameterId = SOD.ParameterId
				INNER JOIN YearWise_Student_Details YSD
				ON SOD.StudentId = YSD.YearWise_Student_Id
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
                INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				WHERE SOD.SchoolId = @SchoolId
				AND SOD.AcademicYearId = @AcademicYearId
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'		
				AND SM.IsLanguageSubject = 0
				AND OS.StandardId = @StandardId
				AND YSD.Student_Id = @StudentId
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId
				
				UPDATE @tblDetails
				SET Parameter = CHAR(96+ParameterSortOrder)+N') ' + Parameter				
			--END
	END
	ELSE IF @StageId = 2
	BEGIN	
			--DECLARE @tblParameters AS TABLE
			--(
			--	ParameterId INT,
			--	Parameter NVARCHAR(500),
			--	Grade NVARCHAR(10),
			--	SkillSortOrder INT
			--)
	
	
			INSERT INTO @tblParameters
			SELECT OP.Id,
				   OS.Name,				   
				   '',
				   OS.SortOrder
			FROM ObservationParameters OP	
			INNER JOIN ObservationSkills OS
			ON OP.SkillId = OS.Id
			AND OP.AcademicYearId = OS.AcademicYearId
			AND OP.SchoolId = OS.SchoolId	
			INNER JOIN Subject_Master SM
			ON OS.SubjectId = SM.Subject_Id
			AND OS.SchoolId = SM.School_Id
			AND OS.AcademicYearId = SM.Academic_Year_Id
			WHERE OS.SchoolId = @SchoolId
			AND OS.AcademicYearId = @AcademicYearId
			and OS.IsDeleted = 0	
			AND OP.IsDeleted = 0	
			AND OP.IsSubmitted = 1
			AND SM.Is_Deleted = 'N'
			AND SM.IsLanguageSubject = 0	
			AND OS.StandardId = @StandardId				
			AND OP.Parameter = 'Grade'
			
			
			
			--IF @TermId = 1
			--BEGIN
				UPDATE TD
				SET Grade = OG.ShortName
				FROM @tblParameters TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.ParameterId = SOD.ParameterId		
				INNER JOIN YearWise_Student_Details YSD
				on sod.StudentId = ysd.YearWise_Student_Id		
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId				
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				WHERE SOD.SchoolId = @SchoolId
				AND SOD.AcademicYearId = @AcademicYearId
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'		
				AND SM.IsLanguageSubject = 0
				AND OS.StandardId = @StandardId
				AND ysd.Student_Id = @StudentId	
				AND OP.Parameter = 'Grade'	
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId		
				
			--END
					
			SELECT @TotalCount = COUNT(1) 
			FROM @tblParameters	
			
			IF @TotalCount % 2 = 0
				SET @MidCount = @TotalCount / 2
			ELSE 
				SET @MidCount = (@TotalCount / 2) + 1
			
			INSERT INTO @tblDetails
			SELECT '', S1.Parameter, @TermName, S1.Grade, 1, S1.Id, 1, S2.Parameter as NextParameter, S2.Grade as NextGrade
			FROM
			(
				SELECT Id, Parameter, Grade
				FROM
				(
					SELECT ROW_NUMBER() OVER (ORDER BY SkillSortOrder) as Id, Parameter, Grade
					FROM @tblParameters
				)S
				WHERE Id <= @MidCount
			)S1
			LEFT OUTER JOIN
			(
				SELECT ROW_NUMBER() OVER (ORDER BY Id) as Id, Parameter, Grade
				FROM
				(
					SELECT ROW_NUMBER() OVER (ORDER BY SkillSortOrder) as Id, Parameter, Grade
					FROM @tblParameters
				)S
				WHERE Id > @MidCount
			)S2
			ON S1.Id = S2.Id	
	END
	IF @StageId = 3
	BEGIN
			INSERT INTO @tblDetails
			SELECT OS.Name,	 
				   OP.Parameter,
				   @TermName as TermName,
				   '',		  
				   OS.SortOrder as SkillSortOrder,
				   OP.SortOrder AS ParameterSortOrder,
				   OP.Id,
				   '',
				   ''
			FROM ObservationParameters OP	
			INNER JOIN ObservationSkills OS
			ON OP.SkillId = OS.Id
			AND OP.AcademicYearId = OS.AcademicYearId
			AND OP.SchoolId = OS.SchoolId	
			INNER JOIN Subject_Master SM
			ON OS.SubjectId = SM.Subject_Id
			AND OS.SchoolId = SM.School_Id
			AND OS.AcademicYearId = SM.Academic_Year_Id
			WHERE OS.SchoolId = @SchoolId
			AND OS.AcademicYearId = @AcademicYearId
			and OS.IsDeleted = 0	
			AND OP.IsDeleted = 0	
			AND OP.IsSubmitted = 1
			AND SM.Is_Deleted = 'N'
			AND SM.IsLanguageSubject = 0	
			AND OS.StandardId = @StandardId
			AND SM.Is_CoCurricularActivity = 0
			AND SM.Subject_Name IN ('Computer','Art','P.T.')

			--AND OP.Parameter = 'Grade'	
			--AND SM.Subject_Id IN (1919, 1920, 1923)
			
			--IF @TermId = 1
			--BEGIN
				UPDATE TD
				SET Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.ParameterId = SOD.ParameterId
				INNER JOIN YearWise_Student_Details YSD
				on SOD.StudentId = ysd.YearWise_Student_Id
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				WHERE SOD.SchoolId = @SchoolId
				AND SOD.AcademicYearId = @AcademicYearId
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'		
				AND SM.IsLanguageSubject = 0
				AND OS.StandardId = @StandardId
				AND YSD.Student_Id = @StudentId
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId
				
				UPDATE @tblDetails
				SET Parameter = CHAR(96+ParameterSortOrder)+N') ' + Parameter				
			--END
	END
	ELSE IF @StageId = 4
	BEGIN	
	
			INSERT INTO @tblParameters
			SELECT OP.Id,
				   OP.Parameter,				   
				   '',
				   OS.SortOrder
			FROM ObservationParameters OP	
			INNER JOIN ObservationSkills OS
			ON OP.SkillId = OS.Id
			AND OP.AcademicYearId = OS.AcademicYearId
			AND OP.SchoolId = OS.SchoolId	
			INNER JOIN Subject_Master SM
			ON OS.SubjectId = SM.Subject_Id
			AND OS.SchoolId = SM.School_Id
			AND OS.AcademicYearId = SM.Academic_Year_Id
			WHERE OS.SchoolId = @SchoolId
			AND OS.AcademicYearId = @AcademicYearId
			and OS.IsDeleted = 0	
			AND OP.IsDeleted = 0	
			AND OP.IsSubmitted = 1
			AND SM.Is_Deleted = 'N'
			AND SM.IsLanguageSubject = 0	
			AND OS.StandardId = @StandardId				
			AND OS.Name = 'Personality Development'
			
			--IF @TermId = 1
			--BEGIN
				UPDATE TD
				SET Grade = OG.ShortName
				FROM @tblParameters TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.ParameterId = SOD.ParameterId			
				INNER JOIN YearWise_Student_Details YSD
				on SOD.StudentId = ysd.YearWise_Student_Id	
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId				
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				WHERE SOD.SchoolId = @SchoolId
				AND SOD.AcademicYearId = @AcademicYearId
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'		
				AND SM.IsLanguageSubject = 0
				AND OS.StandardId = @StandardId
				AND YSD.Student_Id = @StudentId					
				AND OS.Name = 'Personality Development'
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId	
				
			--END
			
			
			SELECT @TotalCount = COUNT(1) 
			FROM @tblParameters	
			
			IF @TotalCount % 2 = 0
				SET @MidCount = @TotalCount / 2
			ELSE 
				SET @MidCount = (@TotalCount / 2) + 1
			
			INSERT INTO @tblDetails
			SELECT '', S1.Parameter, @TermName, S1.Grade, 1, S1.Id, 1, S2.Parameter as NextParameter, S2.Grade as NextGrade
			FROM
			(
				SELECT Id, Parameter, Grade
				FROM
				(
					SELECT ROW_NUMBER() OVER (ORDER BY SkillSortOrder) as Id, Parameter, Grade
					FROM @tblParameters
				)S
				WHERE Id <= @MidCount
			)S1
			LEFT OUTER JOIN
			(
				SELECT ROW_NUMBER() OVER (ORDER BY Id) as Id, Parameter, Grade
				FROM
				(
					SELECT ROW_NUMBER() OVER (ORDER BY SkillSortOrder) as Id, Parameter, Grade
					FROM @tblParameters
				)S
				WHERE Id > @MidCount
			)S2
			ON S1.Id = S2.Id	
	END
	
	select *
	from @tblDetails
END
GO
