/****** Object:  StoredProcedure [dbo].[usp_GetStudentAssessmentDetailsForReport]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 21 oct 2024
-- Description:	This USP is used to get student assessment details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentAssessmentDetailsForReport]
@School_Id INT,
@Academic_Year_Id INT,
@Yearwise_Student_Id INT,
@Test_Id INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		DECLARE @StdId INT

		SELECT @StdId = Standard_Id
		FROM YearWise_Student_Details
		WHERE YearWise_Student_Id = @Yearwise_Student_Id
		AND Is_Deleted = 'N'

		--select OG.Id as GradeId, 
		--	   OG.Name as GradeName,
		--	   OP.Parameter,
		--	   OP.SortOrder as ParameterSortOrder,
		--	   OK.SortOrder as SkillSortOrder,
		--	   OK.Name as Skills
		--from StudentObservationDetails SOD		
		--inner join YearWise_Student_Details YSD
		--on YSD.YearWise_Student_Id = SOD.StudentId
		--inner join ObservationParameters OP
		--on SOD.ParameterId = OP.Id
		--inner join ObservationSkills OK
		--on OK.Id = OP.SkillId
		--inner join ObservationGrades OG
		--ON SOD.GradeId = OG.Id
		--INNER JOIN SubmitStudentAssessmentDetails SSAD
		--ON SOD.StudentId = SSAD.YearwiseStudentId
		--AND SOD.TestId = SSAD.TestId
		--AND OK.Id = SSAD.SkillId
		--where SOD.AcademicYearId = @Academic_Year_Id
		--and SOD.SchoolId = @School_Id
		--and SOD.TestId = @Test_Id
		--and SOD.StudentId = @Yearwise_Student_Id
		--and OG.IsDeleted = 0
		--and SOD.IsDeleted = 0
		--and YSD.Is_Deleted = 'N'
		--and OK.IsDeleted = 0
		--and OP.IsDeleted = 0
		--and OK.Name in ('Self Assessment','Peer Feedback','Parent Feedback')
		--AND SSAD.IsDeleted = 0
		--AND SSAD.IsSubmitted = 1

		select ISNULL(SOD.GradeId,0) AS GradeId,
			   ISNULL(SOD.GradeName,'') AS GradeName,
			   OP.Parameter,
			   OP.SortOrder as ParameterSortOrder,
			   OK.SortOrder as SkillSortOrder,
			   OK.Name as Skills
		from ObservationParameters OP		
		inner join ObservationSkills OK
		on OK.Id = OP.SkillId		
		LEFT OUTER JOIN
		(
			SELECT SOD.ParameterId, SSAD.SkillId, OG.Id AS GradeId, OG.Name as GradeName
			FROM StudentObservationDetails SOD		
			inner join YearWise_Student_Details YSD
			on YSD.YearWise_Student_Id = SOD.StudentId
			inner join ObservationGrades OG
			ON SOD.GradeId = OG.Id
			INNER JOIN SubmitStudentAssessmentDetails SSAD
			ON SOD.StudentId = SSAD.YearwiseStudentId
			AND SOD.TestId = SSAD.TestId
			INNER JOIN ObservationSkills OS
			ON SSAD.SkillId = OS.Id
			INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
			WHERE SOD.TestId = @Test_Id
			and SOD.StudentId = @Yearwise_Student_Id
			AND SOD.SchoolId = @School_Id
			AND SOD.AcademicYearId = @Academic_Year_Id
			and OG.IsDeleted = 0
			and SOD.IsDeleted = 0
			and YSD.Is_Deleted = 'N'
			AND SSAD.IsDeleted = 0
			AND SSAD.IsSubmitted = 1
			and OS.IsDeleted = 0
			AND SGM.IsDeleted=0
            AND SGM.StandardId=@StdId
			and OS.Name in ('Self Assessment','Peer Feedback','Parent Feedback')	
		)SOD
		ON OP.Id = SOD.ParameterId
		AND OK.Id = SOD.SkillId
		where OK.AcademicYearId = @Academic_Year_Id
		and OK.SchoolId = @School_Id		
		and OK.IsDeleted = 0
		and OP.IsDeleted = 0
		and OK.Name in ('Self Assessment','Peer Feedback','Parent Feedback')		
		AND OK.StandardId = @StdId
END
GO
