/****** Object:  StoredProcedure [dbo].[usp_GetStudentBehaviourDetails]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentBehaviourDetails]
	@School_Id INT,
	@Academic_Year_id INT,
	@StudentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	declare @tblParameters as table
	(
			ID int,
			StudentId INT,
			Parameter nvarchar(1000),
			SortOrder int,
			Fourth nvarchar(10),
			Third nvarchar(10),
			Second nvarchar(10),
			First nvarchar(10)
	)

	DECLARE @Standard_Id int

	select @Standard_Id = Standard_Id
	from YearWise_Student_Details
	where YearWise_Student_Id = @StudentId
	and Academic_Year_ID = @Academic_Year_id
	and Is_Deleted = 'N'

	insert into @tblParameters
	SELECT OP.ID,@StudentId,Parameter,OP.SortOrder,'','','',''
	FROM ObservationParameters OP
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id
	where OP.schoolid = @School_Id
	and OP.AcademicYearId = @Academic_Year_id
	and OP.IsDeleted = 0
	and OS.IsDeleted = 0
	AND OS.StandardId = @Standard_Id

	declare @StdDivId INT,
			@IsSubmitted BIT = 0,
			@TestId INT

	SELECT @StdDivId = VSD.SchoolWise_Standard_Division_Id
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YearWise_Student_Id = @StudentId

	select @TestId = SchoolWise_Test_Id
	from SchoolWise_Test_Master
	where School_Id = @School_Id
	and academic_year_id = @Academic_Year_id
	and Is_Deleted = 'N'
	and Term_Id = 2
	and IsFinalExam = 1

	IF EXISTS
	(
		select TOP 1 1
		from ObservationSubmissionStatus oss
		inner join SchoolWise_Test_Master stm
		on oss.TestId = stm.SchoolWise_Test_Id
		where stm.academic_year_id = @Academic_Year_id
		and stm.School_Id = @School_Id
		and stm.Is_Deleted = 'N'
		and stm.SchoolWise_Test_Id = @TestId
		AND StdDivId = @StdDivId
		AND IsSubmitted = 1
	)
	BEGIN
		SET @IsSubmitted = 1
	END
	
	update OP
	SET Fourth = 'Chr(254)'
	FROM @tblParameters OP
	INNER JOIN StudentObservationDetails SOD
	ON OP.ID = SOD.ParameterId
	inner join ObservationGrades og
	on sod.GradeId = og.Id
    Inner Join StandardWiseGradeMaster SGM
     On OG.Id=SGM.GradeId
	where sod.schoolid = @School_Id
	and sod.AcademicYearId = @Academic_Year_id
	and sod.IsDeleted = 0
	and og.IsDeleted = 0
	AND SOD.STUDENTID = @StudentId
	AND og.Name = 'Exceeds Expectations'
	AND @IsSubmitted = 1
	AND SOD.TestId = @TestId
	AND SGM.IsDeleted=0
	AND SGM.StandardId=@Standard_Id
 
                    

	update OP
	SET Third = 'Chr(254)'
	FROM @tblParameters OP
	INNER JOIN StudentObservationDetails SOD
	ON OP.ID = SOD.ParameterId
	inner join ObservationGrades og
	on sod.GradeId = og.Id
	Inner Join StandardWiseGradeMaster SGM
    On OG.Id=SGM.GradeId
	where sod.schoolid = @School_Id
	and sod.AcademicYearId = @Academic_Year_id
	and sod.IsDeleted = 0
	and og.IsDeleted = 0
	AND SOD.STUDENTID = @StudentId
	AND og.Name = 'Meets Expecttions'
	AND @IsSubmitted = 1
	AND SOD.TestId = @TestId
	AND SGM.IsDeleted=0
	AND SGM.StandardId=@Standard_Id

	update OP
	SET Second = 'Chr(254)'
	FROM @tblParameters OP
	INNER JOIN StudentObservationDetails SOD
	ON OP.ID = SOD.ParameterId
	inner join ObservationGrades og
	on sod.GradeId = og.Id
	INNER JOIN StandardWiseGradeMaster SGM
    ON OG.Id=SGM.GradeId
	where sod.schoolid = @School_Id
	and sod.AcademicYearId = @Academic_Year_id
	and sod.IsDeleted = 0
	and og.IsDeleted = 0
	AND SOD.STUDENTID = @StudentId
	AND og.Name = 'Progressing towards Expectations'
	AND @IsSubmitted = 1
	AND SOD.TestId = @TestId
	AND SGM.IsDeleted=0
	AND SGM.StandardId=@Standard_Id


	update OP
	SET First = 'Chr(254)'
	FROM @tblParameters OP
	INNER JOIN StudentObservationDetails SOD
	ON OP.ID = SOD.ParameterId
	inner join ObservationGrades og
	on sod.GradeId = og.Id
	INNER JOIN StandardWiseGradeMaster SGM
    ON OG.Id=SGM.GradeId
	where sod.schoolid = @School_Id
	and sod.AcademicYearId = @Academic_Year_id
	and sod.IsDeleted = 0
	and og.IsDeleted = 0
	AND SOD.STUDENTID = @StudentId
	AND og.Name = 'Not meeting Expectations'
	AND @IsSubmitted = 1
	AND SOD.TestId = @TestId
	AND SGM.IsDeleted=0
    AND SGM.StandardId=@Standard_Id

	select * ,ROW_NUMBER() OVER (ORDER BY SortOrder) as SrNo
	from  @tblParameters
    
END
--go
--	exec "usp_GetStudentBehaviourDetails";1 122, 6, 17098
--go

GO
