/****** Object:  StoredProcedure [dbo].[usp_GetStudentObservationDetailsForReport]    Script Date: 8/25/2025 11:29:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================================
-- Author:		Sachin
-- Create date: 22-Sept-2015
-- Description:	This USP is used to retrn observation details.
-- ================================================================
--===================================================================================================================================
-- Updated By - Sachin
-- Update Date - 19-Feb-2016
-- Reason - This USP is updated to use second language subject from yearwise student table instead of schoolwise student master table.
--===================================================================================================================================
ALTER PROCEDURE [dbo].[usp_GetStudentObservationDetailsForReport]
	@School_Id INT,
	@Academic_Year_Id INT,
	@StandardId INT,
	@DivisionId INT,
	@StudentId INT,
	@TermId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @TestId INT,
		@TermName NVARCHAR(50)
		
	IF @TermId IS NULL
		SET @TermId = 2
		
	SELECT @TermName = TermName
	FROM SchoolwiseTermMaster
	WHERE SchoolId = @School_Id
	AND AcademicYearId = @Academic_Year_Id
	AND Is_Deleted = 0
	AND SchoolwiseTermId = @TermId

			
	SELECT @TestId = SchoolWise_Test_Id	   
	FROM Schoolwise_Test_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND Term_Id = @TermId
	AND IsFinalExam = 1
	
	DECLARE @tblDetails AS TABLE
	(
		RollNo INT,
		Name NVARCHAR(100),
		OriginalStandardId INT,
		OriginalDivisionId INT,
		SkillId INT,
		Skill NVARCHAR(100),
		ParameterId INT,
		Parameter NVARCHAR(500),				
		TermId INT,
		TermName NVARCHAR(50),		
		EnglishTerm1Grade NVARCHAR(10),
		EnglishTerm2Grade NVARCHAR(10),
		SecondLanguageTerm1Grade NVARCHAR(10),
		SecondLanguageTerm2Grade NVARCHAR(10),
		ThirdLanguageTerm1Grade NVARCHAR(10),
		ThirdLanguageTerm2Grade NVARCHAR(10),		
		SkillSortOrder INT,
		ParameterSortOrder INT,
		StudentId INT,		
		SecondLanguageName NVARCHAR(50),
		ThirdLanguageName NVARCHAR(50)
	)
	
	DECLARE @Id INT,
			@SkillId INT,
			@RollNo INT,
			@OriginalStandardId INT,
			@OriginalDivisionId INT,
			@OldSkillId INT = 0,
			@SecondLanguageId INT,
			@SecondLanguage NVARCHAR(50),
			@ThirdLanguage NVARCHAR(50),
			@StudentName NVARCHAR(100),
			@YearwiseStudentId INT
			
	SELECT @RollNo = Roll_No,
		   @YearwiseStudentId = YearWise_Student_Id
	FROM Yearwise_Student_Details
	WHERE Student_Id = @StudentId
	AND School_Id = @School_Id
	AND Academic_Year_Id = 	@Academic_Year_Id	
	
	SELECT @StudentName = SSM.StudentName
	FROM vw_BaseStudentDetails SSM
	INNER JOIN Yearwise_Student_Details YSD
	ON SSM.Schoolwise_Student_Id = YSD.student_Id	
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_Id = 	@Academic_Year_Id	
	AND ssm.SchoolWise_Student_Id = @StudentId
	
	
	SELECT @SecondLanguageId = YSD.SecondLanguageSubjectId, @SecondLanguage = SM.Subject_Name
	FROM Yearwise_Student_Details YSD
	INNER JOIN Subject_Master SM
	ON YSD.SecondLanguageSubjectId = SM.Original_Subject_Id	
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_Id = 	@Academic_Year_Id	
	AND YSD.Student_Id = @StudentId
	AND SM.Is_Deleted = 'N'
	
	SELECT @OriginalStandardId = Original_Standard_Id
	FROM Standard_Master
	WHERE Is_Deleted = 'N'
	AND School_Id = @School_Id
	AND Academic_Year_Id = 	@Academic_Year_Id	
	AND Standard_Id = @StandardId

	SET @OriginalDivisionId = @DivisionId

	INSERT INTO @tblDetails
	SELECT @RollNo,
		   @StudentName,
		   @OriginalStandardId,
		   @OriginalDivisionId,
		   OP.SkillId,
		   OS.Name,
		   OP.Id,
		   OP.Parameter,		   
		   @TermId,
		   @TermName,
		   '',
		   '',
		   '',
		   '',
		   '',
		   '',
		   OS.SortOrder,
		   OP.SortOrder,
		   @YearwiseStudentId,
		   @SecondLanguage,
		   @ThirdLanguage
	FROM ObservationParameters OP	
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id
	AND OP.AcademicYearId = OS.AcademicYearId
	AND OP.SchoolId = OS.SchoolId	
	INNER JOIN Subject_Master SM
	ON OS.SubjectId = SM.Subject_Id
	AND OS.SchoolId = SM.School_Id
	AND OS.AcademicYearId = SM.Academic_Year_Id
	WHERE OS.SchoolId = @School_Id
	AND OS.AcademicYearId = @Academic_Year_Id
	and OS.IsDeleted = 0	
	AND OP.IsDeleted = 0	
	AND OP.IsSubmitted = 1
	AND SM.Is_Deleted = 'N'
	AND SM.IsLanguageSubject = 1
	AND SM.Subject_Name = 'English'
	AND OS.StandardId = @StandardId


	DECLARE @tblParametersHindi AS TABLE
	(
		OldId INT,
		NewId INT
	)

	INSERT INTO @tblParametersHindi
	SELECT TD.ParameterId, OP.Id as PrameterId
	FROM ObservationSkills OS
	INNER JOIN ObservationParameters OP
	ON OS.Id = OP.SkillId
	INNER JOIN Subject_Master SM
	ON OS.SubjectId = SM.Subject_Id
	AND OS.AcademicYearId = SM.Academic_Year_Id
	INNER JOIN @tblDetails TD
	ON OP.Parameter = TD.Parameter
	WHERE OS.SchoolId = @School_Id 
	AND OS.AcademicYearId = @Academic_Year_Id
	AND OS.IsDeleted = 0
	AND OS.StandardId = @StandardId
	AND OP.IsDeleted = 0
	AND SM.Subject_Name = 'Hindi'
	
	
	DECLARE @tblParametersMarathi AS TABLE
	(
		OldId INT,
		NewId INT
	)

	INSERT INTO @tblParametersMarathi
	SELECT TD.ParameterId, OP.Id as PrameterId
	FROM ObservationSkills OS
	INNER JOIN ObservationParameters OP
	ON OS.Id = OP.SkillId
	INNER JOIN Subject_Master SM
	ON OS.SubjectId = SM.Subject_Id
	AND OS.AcademicYearId = SM.Academic_Year_Id
	INNER JOIN @tblDetails TD
	ON OP.Parameter = TD.Parameter
	WHERE OS.SchoolId = @School_Id 
	AND OS.AcademicYearId = @Academic_Year_Id
	AND OS.IsDeleted = 0
	AND OS.StandardId = @StandardId
	AND OP.IsDeleted = 0
	AND SM.Subject_Name = 'Marathi'

	
	--IF @TermId = 1
	--BEGIN
		UPDATE TD
		SET EnglishTerm1Grade = OG.ShortName
		FROM @tblDetails TD
		INNER JOIN StudentObservationDetails SOD
		ON TD.StudentId = SOD.StudentId
		AND TD.ParameterId = SOD.ParameterId
		INNER JOIN ObservationGrades OG
		ON SOD.GradeId = OG.Id
		AND SOD.SchoolId = OG.SchoolId
		AND SOD.AcademicYearId = OG.AcademicYearId
		INNER JOIN StandardWiseGradeMaster SGM
        ON OG.Id=SGM.GradeId
		INNER JOIN ObservationParameters OP
		ON SOD.ParameterId = OP.Id
		AND SOD.SchoolId = OP.SchoolId
		AND SOD.AcademicYearId = OP.AcademicYearId
		AND TD.Parameter = OP.Parameter		
		INNER JOIN ObservationSkills OS
		ON OS.Id = OP.SkillId
		AND OS.SchoolId = OP.SchoolId
		AND OS.AcademicYearId = OP.AcademicYearId	
		AND TD.Skill = OS.Name	
		INNER JOIN Subject_Master SM
		ON OS.SubjectId = SM.Subject_Id
		AND OS.SchoolId = SM.School_Id
		AND OS.AcademicYearId = SM.Academic_Year_Id
		WHERE SOD.SchoolId = @School_Id
		AND SOD.AcademicYearId = @Academic_Year_Id
		AND SOD.IsDeleted = 0	
		AND SOD.TestId = @TestId
		AND OG.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND OS.IsDeleted = 0
		AND SM.Is_Deleted = 'N'
		AND SM.Subject_Name = 'English'
		AND SM.IsLanguageSubject = 1
		AND OS.StandardId = @StandardId
		AND SGM.IsDeleted=0
        AND SGM.StandardId=@StandardId
      
	

		IF EXISTS
		(
			SELECT TOP 1 1
			FROM Subject_Master
			WHERE School_Id = @School_Id
		    AND Academic_Year_Id = @Academic_Year_Id
		    AND Is_Deleted = 'N'
		    AND Subject_Id = @SecondLanguageId
		    AND Subject_Name = 'Marathi'
		)
		BEGIN
				UPDATE TD
				SET SecondLanguageTerm1Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.StudentId = SOD.StudentId
				--AND TD.ParameterId = SOD.ParameterId
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId	
				AND TD.Skill = OS.Name	
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				
				INNER JOIN @tblParametersMarathi TP
				ON TD.ParameterId = TP.OldId
				AND SOD.ParameterId = TP.NewId
				
				WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'
				AND SM.Subject_Name = 'Marathi'
				AND SM.IsLanguageSubject = 1
				AND OS.StandardId = @StandardId
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId
				
				
				UPDATE TD
				SET ThirdLanguageTerm1Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.StudentId = SOD.StudentId
				--AND TD.ParameterId = SOD.ParameterId
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
			    INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId	
				AND TD.Skill = OS.Name	
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				
				INNER JOIN @tblParametersHindi TP
				ON TD.ParameterId = TP.OldId
				AND SOD.ParameterId = TP.NewId
				
				WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'
				AND SM.Subject_Name = 'Hindi'
				AND SM.IsLanguageSubject = 1
				AND OS.StandardId = @StandardId
				AND SGM.IsDeleted=0
				AND SGM.StandardId=@StandardId
				
		END
		ELSE
		BEGIN

			UPDATE TD
				SET ThirdLanguageTerm1Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.StudentId = SOD.StudentId
				--AND TD.ParameterId = SOD.ParameterId
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				AND TD.Skill = OS.Name
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				
				INNER JOIN @tblParametersMarathi TP
				ON TD.ParameterId = TP.OldId
				AND SOD.ParameterId = TP.NewId
				
				WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'
				AND SM.Subject_Name = 'Marathi'
				AND SM.IsLanguageSubject = 1
				AND OS.StandardId = @StandardId
				AND SGM.IsDeleted=0
				AND SGM.StandardId=@StandardId
				

				UPDATE TD
				SET SecondLanguageTerm1Grade = OG.ShortName
				FROM @tblDetails TD
				INNER JOIN StudentObservationDetails SOD
				ON TD.StudentId = SOD.StudentId
				--AND TD.ParameterId = SOD.ParameterId
				INNER JOIN ObservationGrades OG
				ON SOD.GradeId = OG.Id
				AND SOD.SchoolId = OG.SchoolId
				AND SOD.AcademicYearId = OG.AcademicYearId
				INNER JOIN StandardWiseGradeMaster SGM
                 ON OG.Id=SGM.GradeId
				INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
				AND TD.Parameter = OP.Parameter		
				INNER JOIN ObservationSkills OS
				ON OS.Id = OP.SkillId
				AND OS.SchoolId = OP.SchoolId
				AND OS.AcademicYearId = OP.AcademicYearId		
				AND TD.Skill = OS.Name
				INNER JOIN Subject_Master SM
				ON OS.SubjectId = SM.Subject_Id
				AND OS.SchoolId = SM.School_Id
				AND OS.AcademicYearId = SM.Academic_Year_Id
				
				INNER JOIN @tblParametersHindi TP
				ON TD.ParameterId = TP.OldId
				AND SOD.ParameterId = TP.NewId
				
				WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id
				AND SOD.IsDeleted = 0	
				AND SOD.TestId = @TestId
				AND OG.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND SM.Is_Deleted = 'N'
				AND SM.Subject_Name = 'Hindi'
				AND SM.IsLanguageSubject = 1
				AND OS.StandardId = @StandardId
				AND SGM.IsDeleted=0
                AND SGM.StandardId=@StandardId

		END
		
		UPDATE @tblDetails
		SET Parameter = CHAR(96+ParameterSortOrder)+N') ' + Parameter
		
	--END
	
	select *
	from @tblDetails
    
END
--GO
--	exec "JPS_2Nov2016"."dbo"."usp_GetStudentObservationDetailsForReport";1 111, 2, 987, 15, 66, 1
--GO
GO
