/****** Object:  StoredProcedure [dbo].[usp_GetStudentSkillDetailsReport]    Script Date: 8/25/2025 11:29:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentSkillDetailsReport]
@School_Id INT,
@Academic_Year_Id INT,
@Yearwise_Student_Id INT,
@Test_Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SdDivid INT

	SELECT @SdDivid = VSD.SchoolWise_Standard_Division_Id
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YSD.YearWise_Student_Id = @Yearwise_Student_Id
	AND YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'

    DECLARE @tblHeaderDetails AS TABLE
	(
		HeaderId INT,
		Header1 NVARCHAR(50),
		Header2 NVARCHAR(50),
		SkillId INT
	)

	insert into @tblHeaderDetails
    select 1, 'SECTION – B', 'LEARNING DOMAINS – SKILL  BASED', Id 
	from ObservationSkills
	where SchoolId = @School_Id
	and AcademicYearId = @Academic_Year_Id
	and IsDeleted = 0
	and Name in ('English','Hindi','Marathi','Mathematics','World Around Us','EVS')

	insert into @tblHeaderDetails
    select 2, 'SECTION – C', 'CO-SCHOLASTIC AREA', Id 
	from ObservationSkills
	where SchoolId = @School_Id
	and AcademicYearId = @Academic_Year_Id
	and IsDeleted = 0
	and Name in ('Other')

	insert into @tblHeaderDetails
    select 3, 'SECTION – D', 'DEVELOPMENT GOAL', Id 
	from ObservationSkills
	where SchoolId = @School_Id
	and AcademicYearId = @Academic_Year_Id
	and IsDeleted = 0
	and Name in ('Health and Well-Being','Effective Communication','Involved Learners')
	
	    select OG.Id as GradeId, 
			   OG.Name as GradeName,
			   OP.Parameter,
			   OP.SortOrder as ParameterSortOrder,
			   OK.SortOrder as SkillSortOrder,
			   OK.Name as Skills,
			   HD.HeaderId,
			   HD.Header1,
			   HD.Header2
		from StudentObservationDetails SOD		
		inner join YearWise_Student_Details YSD
		on YSD.YearWise_Student_Id = SOD.StudentId
		inner join ObservationParameters OP
		on SOD.ParameterId = OP.Id
		inner join ObservationSkills OK
		on OK.Id = OP.SkillId
		inner join ObservationGrades OG
		ON SOD.GradeId = OG.Id
		INNER JOIN StandardWiseGradeMaster SGM
        ON OG.Id=SGM.GradeId
		AND OK.StandardId=SGM.StandardId
        inner join @tblHeaderDetails HD
		on OK.Id = HD.SkillId
		INNER JOIN ObservationSubmissionStatus OSS
		ON SOD.TestId = OSS.TestId
		AND OK.SubjectId = OSS.SubjectId
		where SOD.AcademicYearId = @Academic_Year_Id
		and SOD.SchoolId = @School_Id
		and SOD.TestId = @Test_Id
		and SOD.StudentId = @Yearwise_Student_Id
		and OG.IsDeleted = 0
		and SOD.IsDeleted = 0
		and YSD.Is_Deleted = 'N'
		and OK.IsDeleted = 0
		and OP.IsDeleted = 0
		AND OSS.StdDivId = @SdDivid
		AND OSS.IsDeleted = 0
		AND OSS.IsSubmitted = 1
		AND SGM.IsDeleted=0
        
END
GO
