/****** Object:  StoredProcedure [dbo].[usp_TransferObservationDetails]    Script Date: 8/25/2025 11:29:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================================
-- Author:		Sachin
-- Create date: 12-Oct-2016
-- Description:	This USP is sued to transfer observation details.
-- ================================================================
ALTER PROCEDURE [dbo].[usp_TransferObservationDetails]
	@SchoolId INT,
	@OldAcademicYearID INT,
	@NewAcademicYearID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO ObservationSkills
	select [Name]
		  ,OriginalSkillId
		  ,[DisplayOnReport]
		  ,[SortOrder]
		  ,std.NewStdId
		  ,Sub.NewSubjectId
		  ,[SchoolId]
		  ,@NewAcademicYearID
		  ,[IsDeleted]
		  ,1B
		  ,dbo.GetLocalDate(DEFAULT)
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
	from ObservationSkills OS WITH(NOLOCK)
	INNER JOIN
	(
		SELECT SM1.Subject_Id as OldSubjectId, sm2.Subject_Id as NewSubjectId
		FROM Subject_Master SM1 WITH(NOLOCK)
		INNER JOIN Subject_Master SM2 WITH(NOLOCK)
		ON SM1.Original_Subject_Id = SM2.Original_Subject_Id
		WHERE SM1.Is_Deleted = 'N'
		AND SM2.Is_Deleted = 'N'
		AND SM1.academic_Year_Id = @OldAcademicYearID
		AND SM2.academic_Year_Id = @NewAcademicYearID
		AND SM1.School_Id = @SchoolId
	)Sub
	ON OS.SubjectId = Sub.OldSubjectId
	INNER JOIN
	(
		SELECT SM1.Standard_Id as OldStdId, sm2.Standard_Id as NewStdId
		FROM Standard_Master SM1 WITH(NOLOCK)
		INNER JOIN Standard_Master SM2 WITH(NOLOCK)
		ON SM1.Original_Standard_Id = SM2.Original_Standard_Id
		WHERE SM1.Is_Deleted = 'N'
		AND SM2.Is_Deleted = 'N'
		AND SM1.academic_Year_Id = @OldAcademicYearID
		AND SM2.academic_Year_Id = @NewAcademicYearID
		AND SM1.School_Id = @SchoolId
	)Std
	ON OS.StandardId = Std.OldStdId
	where AcademicYearId = @OldAcademicYearID
	and IsDeleted = 0
	and SchoolId = @SchoolId

	INSERT INTO ObservationGrades
	select [Name]
		  ,[ShortName]
		  ,[Description]
		  ,[OriginalGradeId]
		  ,[SortOrder]
		  ,[SchoolId]
		  ,@NewAcademicYearID
		  ,OG.[IsDeleted]
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
	from  ObservationGrades OG WITH(NOLOCK) 
	INNER JOIN StandardWiseGradeMaster SGM
      ON OG.Id=SGM.GradeId
   WHERE SchoolId = @SchoolId
	and AcademicYearId = @OldAcademicYearID
	and OG.IsDeleted = 0
	AND SGM.IsDeleted=0

INSERT INTO [dbo].[StandardWiseGradeMaster]
(
    [StandardId],
    [GradeId],
    [IsDeleted],
    [IsParentEngagement]
)
SELECT
    NS.NewStandardId,
    NG.NewGradeId,
    SGM.IsDeleted,
    SGM.IsParentEngagement
FROM StandardWiseGradeMaster SGM
INNER JOIN
(
    SELECT
        SM1.Standard_Id AS OldStandardId,
        SM2.Standard_Id AS NewStandardId
    FROM Standard_Master SM1
    INNER JOIN Standard_Master SM2
        ON SM1.Original_Standard_Id = SM2.Original_Standard_Id
    WHERE SM1.Academic_Year_Id = @OldAcademicYearID
      AND SM2.Academic_Year_Id = @NewAcademicYearID
      AND SM1.School_Id = @SchoolId
      AND SM2.School_Id = @SchoolId
      AND SM1.Is_Deleted = 'N'
      AND SM2.Is_Deleted = 'N'
) NS
    ON SGM.StandardId = NS.OldStandardId
INNER JOIN
(
    SELECT
        OG1.Id AS OldGradeId,
        OG2.Id AS NewGradeId
    FROM ObservationGrades OG1
    INNER JOIN ObservationGrades OG2
        ON OG1.OriginalGradeId = OG2.OriginalGradeId
    WHERE OG1.AcademicYearId = @OldAcademicYearID
      AND OG2.AcademicYearId = @NewAcademicYearID
      AND OG1.SchoolId = @SchoolId
      AND OG2.SchoolId = @SchoolId
      AND OG1.IsDeleted = 0
      AND OG2.IsDeleted = 0
) NG
    ON SGM.GradeId = NG.OldGradeId
WHERE SGM.IsDeleted = 0;

INSERT INTO ObservationParameters
	select [Parameter]
		  ,s.NewSkillId
		  ,[SortOrder]
		  ,[IsSubmitted]
		  ,ControlTypeId
		  ,[SchoolId]
		  ,@NewAcademicYearID
		  ,[IsDeleted]
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
	from  ObservationParameters OP WITH(NOLOCK)
	INNER JOIN
	(
		SELECT OS1.Id AS OldSkillId, os2.Id as NewSkillId
		FROM ObservationSkills OS1 WITH(NOLOCK)
		INNER JOIN ObservationSkills OS2 WITH(NOLOCK)
		ON OS1.Name = OS2.Name
		and os1.OriginalSkillId = os2.OriginalSkillId
		WHERE OS1.AcademicYearId = @OldAcademicYearID
		AND OS2.AcademicYearId =@NewAcademicYearID
		AND OS1.IsDeleted = 0
		AND OS2.IsDeleted = 0
	)S
	ON OP.SkillId = S.OldSkillId
	where SchoolId = @SchoolId
	and AcademicYearId = @OldAcademicYearID
	and IsDeleted = 0
   
END
GO
