/****** Object:  StoredProcedure [dbo].[usp_GetStudentBehaviourDetailsSNS]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentBehaviourDetailsSNS]
	@School_Id INT,
	@Academic_Year_id INT,
	@StudentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	declare @tblParameters as table
	(
			ID int,
			StudentId INT,
			Parameter nvarchar(1000),
			SortOrder int,
			Term1 NVARCHAR(500),
			Term2 NVARCHAR(500),
			Term1GradeId INT,
			Term2GradeId INT
	)

	DECLARE @Standard_Id int

	select @Standard_Id = Standard_Id
	from YearWise_Student_Details
	where YearWise_Student_Id = @StudentId
	and Academic_Year_ID = @Academic_Year_id
	and Is_Deleted = 'N'

	insert into @tblParameters
	SELECT OP.ID,@StudentId,Parameter,OP.SortOrder,'','',0,0
	FROM ObservationParameters OP
	INNER JOIN ObservationSkills OS
	ON OP.SkillId = OS.Id
	where OP.schoolid = @School_Id
	and OP.AcademicYearId = @Academic_Year_id
	and OP.IsDeleted = 0
	and OS.IsDeleted = 0
	AND OS.StandardId = @Standard_Id

	declare @StdDivId INT,
			@IsSubmitted BIT = 0,
			@TestId INT

	SELECT @StdDivId = VSD.SchoolWise_Standard_Division_Id
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YearWise_Student_Id = @StudentId

	--select @TestId = SchoolWise_Test_Id
	--from SchoolWise_Test_Master
	--where School_Id = @School_Id
	--and academic_year_id = @Academic_Year_id
	--and Is_Deleted = 'N'
	--and Term_Id = 2
	--and IsFinalExam = 1

	select @TestId = SchoolWise_Test_Id
	from SchoolWise_Test_Master
	where School_Id = @School_Id
	and academic_year_id = @Academic_Year_id
	and Is_Deleted = 'N'
	and SchoolWise_Test_Name = 'Term II'

	IF EXISTS
	(
		select TOP 1 1
		from ObservationSubmissionStatus oss
		inner join SchoolWise_Test_Master stm
		on oss.TestId = stm.SchoolWise_Test_Id
		where stm.academic_year_id = @Academic_Year_id
		and stm.School_Id = @School_Id
		and stm.Is_Deleted = 'N'
		and stm.SchoolWise_Test_Id = @TestId
		AND StdDivId = @StdDivId
		AND IsSubmitted = 1
	)
	BEGIN
		SET @IsSubmitted = 1
	END
	
	IF @Academic_Year_id <= 7
	BEGIN
			DECLARE @tblGrades AS TABLE
			(
				Id INT,
				Name NVARCHAR(100)	
			)

			INSERT INTO @tblGrades
			SELECT 4 , '4 - Exceeds Expectations' UNION
			SELECT 3 , '3 - Meet Expectations' UNION
			SELECT 2 , '2 - Progressing towards Expectations' UNION
			SELECT 1 , '1 - Not meeting Expectations'

			update OP
			SET Term1 = TG.Id
			FROM @tblParameters OP
			INNER JOIN StudentObservationDetails SOD
			ON OP.ID = SOD.ParameterId
			inner join ObservationGrades og
			on sod.GradeId = og.Id
			INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
			INNER JOIN SchoolWise_Test_Master STM
			ON SOD.TestId = STM.SchoolWise_Test_Id
			INNER JOIN @tblGrades TG
			ON OG.ShortName = TG.Name
			where sod.schoolid = @School_Id
			and sod.AcademicYearId = @Academic_Year_id
			and sod.IsDeleted = 0
			and og.IsDeleted = 0
			AND SOD.STUDENTID = @StudentId
			AND @IsSubmitted = 1
			AND STM.Is_Deleted = 'N'
			AND STM.academic_year_id = @Academic_Year_id
			AND STM.School_Id = @School_Id
			AND STM.SchoolWise_Test_Name = 'Term I'
			AND SGM.IsDeleted=0
			AND SGM.StandardId=@Standard_Id

			update OP
			SET Term2 = TG.Id
			FROM @tblParameters OP
			INNER JOIN StudentObservationDetails SOD
			ON OP.ID = SOD.ParameterId
			inner join ObservationGrades og
			on sod.GradeId = og.Id
			INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
			INNER JOIN SchoolWise_Test_Master STM
			ON SOD.TestId = STM.SchoolWise_Test_Id
			INNER JOIN @tblGrades TG
			ON OG.ShortName = TG.Name
			where sod.schoolid = @School_Id
			and sod.AcademicYearId = @Academic_Year_id
			and sod.IsDeleted = 0
			and og.IsDeleted = 0
			AND SOD.STUDENTID = @StudentId
			AND @IsSubmitted = 1
			AND STM.Is_Deleted = 'N'
			AND STM.academic_year_id = @Academic_Year_id
			AND STM.School_Id = @School_Id
			AND STM.SchoolWise_Test_Name = 'Term II'
			AND SGM.IsDeleted=0
            AND SGM.StandardId=@Standard_Id
	END
	ELSE
	BEGIN
			DECLARE @tblGradeDetails AS TABLE
			(
				Id INT IDENTITY(1,1),
				ParamterName NVARCHAR(100),
				GradeName NVARCHAR(100),
				Description NVARCHAR(500)
			)


			DECLARE @PrmName NVARCHAR(100) = 'Classroom Behaviour',
					@Excellent nvarchar(50) = 'Excellent',
					@Good nvarchar(50) = 'Good',
					@Satisfactory nvarchar(50) = 'Satisfactory',
					@NeedsImprovement nvarchar(50) = 'Needs Improvement',
					@Unsatisfactory nvarchar(50) = 'Unsatisfactory'

			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Follows classroom rules consistently and is a positive role model.' UNION
			SELECT @PrmName , @Good,'Generally, follows rules, with occasional reminders needed.' UNION
			SELECT @PrmName , @Satisfactory,'Usually follows rules but may need frequent reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Struggles to follow classroom rules consistently.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently disobeys classroom rules.'

			SET @PrmName = 'Sharing and Cooperation'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Shares and cooperates well with classmates, fostering a positive environment.' UNION
			SELECT @PrmName , @Good,'Generally, shares and cooperates, with occasional reminders.' UNION
			SELECT @PrmName , @Satisfactory,'Sometimes shares and cooperates but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often struggles to share and cooperate with others.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently refuses to share and cooperate.'
			
			SET @PrmName ='Respect for Peers'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates respect for classmates consistently.' UNION
			SELECT @PrmName , @Good,'Generally, treats classmates with respect, with occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually treats classmates with respect but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often displays disrespectful behaviour towards peers.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently disrespectful towards classmates.'

			SET @PrmName ='Listening Skills'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Listens attentively and follows directions consistently.' UNION
			SELECT @PrmName , @Good,'Generally, listens well but may need occasional reminders.' UNION
			SELECT @PrmName , @Satisfactory,'Usually listens but may get distracted and need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often appears inattentive and struggles to follow directions.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently demonstrates poor listening skills.'

			SET @PrmName ='Participation in Classroom Activities'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Actively participates in all classroom activities with enthusiasm.' UNION
			SELECT @PrmName , @Good,'Generally, participates with interest, with occasional reluctance.' UNION
			SELECT @PrmName , @Satisfactory,'Participates in most activities but may need encouragement.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often reluctant to participate in classroom activities.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently avoids participating in class activities.'

			SET @PrmName ='Homework Completion'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Consistently completes homework assignments with high quality.' UNION
			SELECT @PrmName , @Good,'Completes homework on time with a good effort.' UNION
			SELECT @PrmName , @Satisfactory,'Usually completes homework but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Struggles to complete homework assignments on time.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently fails to complete homework.'

			SET @PrmName ='Following Directions'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Consistently follows directions accurately.' UNION
			SELECT @PrmName , @Good,'Generally, follows directions well but may need occasional reminders.' UNION
			SELECT @PrmName , @Satisfactory,'Usually follows directions but may get confused at times.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often struggles to follow directions accurately.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently fails to follow directions.'

			SET @PrmName ='Use of Manners'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Uses manners consistently and appropriately.' UNION
			SELECT @PrmName , @Good,'Generally, uses manners but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually uses manners but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often forgets to use manners appropriately.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently lacks proper use of manners.'
			
			SET @PrmName ='Resilience in Learning'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates resilience when facing challenges, persisting with a positive attitude.' UNION
			SELECT @PrmName , @Good,'Generally resilient but may take some time to recover from setbacks.' UNION
			SELECT @PrmName , @Satisfactory,'Demonstrates resilience but may need encouragement during challenging times.' UNION
			SELECT @PrmName , @NeedsImprovement,'Struggles to bounce back from setbacks and may dwell on challenges.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently lacks resilience.'

			SET @PrmName ='Conflict Resolution with Peers'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Effectively resolves conflicts through communication and compromise.' UNION
			SELECT @PrmName , @Good,'Generally, resolves conflicts well but may have occasional difficulties.' UNION
			SELECT @PrmName , @Satisfactory,'Can resolve conflicts but may need guidance.' UNION
			SELECT @PrmName , @NeedsImprovement,'Struggles to resolve conflicts and often escalates issues.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently ineffective in resolving conflicts.'

			SET @PrmName ='Independence in Learning'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates independence in learning tasks and takes initiative.' UNION
			SELECT @PrmName , @Good,'Generally, works independently but may need occasional guidance.' UNION
			SELECT @PrmName , @Satisfactory,'Usually works independently but may need frequent reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often relies heavily on assistance and struggles with independence.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently lacks independence in learning tasks.'

			SET @PrmName ='Attendance and Punctuality'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Has perfect attendance and arrives on time consistently.' UNION
			SELECT @PrmName , @Good,'Rarely misses class and arrives on time with occasional minor delays.' UNION
			SELECT @PrmName , @Satisfactory,'Occasionally misses class or arrives slightly late.' UNION
			SELECT @PrmName , @NeedsImprovement,'Frequently absent or consistently arrives significantly late.' UNION
			SELECT @PrmName , @Unsatisfactory,'Chronic absenteeism without valid reasons.'

			SET @PrmName ='Respect for Teachers'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Shows consistent respect for teachers and follows their instructions willingly.' UNION
			SELECT @PrmName , @Good,'Generally, respects teachers but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually respects teachers but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often displays disrespectful behaviour towards teachers.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently disrespectful towards teachers.'

			SET @PrmName ='Use of Playtime'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Plays nicely and includes everyone.' UNION
			SELECT @PrmName , @Good,'Usually plays well, but sometimes forgets.' UNION
			SELECT @PrmName , @Satisfactory,'Usually plays okay, but might need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Acts in a way that disrupts or leaves others out during play.' UNION
			SELECT @PrmName , @Unsatisfactory,'Always causes trouble during playtime.'

			SET @PrmName ='Kindness and Empathy'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates kindness and empathy towards others consistently.' UNION
			SELECT @PrmName , @Good,'Generally, shows kindness and empathy but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually shows kindness and empathy but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often lacks kindness and empathy towards peers.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently shows a lack of kindness and empathy.'

			SET @PrmName ='Safety Awareness'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates excellent safety awareness and follows safety rules consistently.' UNION
			SELECT @PrmName , @Good,'Generally, follows safety rules but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually follows safety rules but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often neglects safety rules, putting themselves or others at risk.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently disregards safety rules.'

			SET @PrmName ='Attitude Towards Learning'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Approaches learning with a positive and enthusiastic attitude consistently.' UNION
			SELECT @PrmName , @Good,'Generally, has a positive attitude but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually has a positive attitude but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often displays a negative attitude towards learning.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently exhibits a negative attitude.'

			SET @PrmName ='Time Management'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Manages time effectively and completes tasks within given timeframes.' UNION
			SELECT @PrmName , @Good,'Generally, manages time well but may occasionally struggle with deadlines.' UNION
			SELECT @PrmName , @Satisfactory,'Usually manages time but may need reminders to stay on track.' UNION
			SELECT @PrmName , @NeedsImprovement,'Struggles with time management, often missing deadlines.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently fails to manage time effectively.'

			SET @PrmName ='Inclusion of Peers'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Actively includes all peers in activities and fosters inclusivity.' UNION
			SELECT @PrmName , @Good,'Generally, includes peers but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually includes peers but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often excludes peers or struggles with inclusivity.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently excludes peers from activities.'

			SET @PrmName ='Understanding and Following School Rules'
			INSERT INTO @tblGradeDetails
			SELECT @PrmName , @Excellent,'Demonstrates a clear understanding of and consistently follows all school rules.' UNION
			SELECT @PrmName , @Good,'Generally, understands and follows school rules but may have occasional lapses.' UNION
			SELECT @PrmName , @Satisfactory,'Usually follows school rules but may need reminders.' UNION
			SELECT @PrmName , @NeedsImprovement,'Often struggles to follow school rules consistently.' UNION
			SELECT @PrmName , @Unsatisfactory,'Consistently disregards school rules.'

			update OP
			SET Term1 = og.Name + ' - '+TG.Description,
				Term1GradeId = sod.GradeId
			FROM @tblParameters OP
			INNER JOIN StudentObservationDetails SOD
			ON OP.ID = SOD.ParameterId
			inner join ObservationGrades og
			on sod.GradeId = og.Id
			INNER JOIN StandardWiseGradeMaster SGM
			ON OG.Id=SGM.GradeId
            INNER JOIN SchoolWise_Test_Master STM
			ON SOD.TestId = STM.SchoolWise_Test_Id
			INNER JOIN @tblGradeDetails TG
			ON OG.Name = TG.GradeName
			and op.Parameter = tg.ParamterName
			where sod.schoolid = @School_Id
			and sod.AcademicYearId = @Academic_Year_id
			and sod.IsDeleted = 0
			and og.IsDeleted = 0
			AND SOD.STUDENTID = @StudentId
			AND @IsSubmitted = 1
			AND STM.Is_Deleted = 'N'
			AND STM.academic_year_id = @Academic_Year_id
			AND STM.School_Id = @School_Id
			AND STM.SchoolWise_Test_Name = 'Term I'
			AND SGM.IsDeleted=0
            AND SGM.StandardId=@Standard_Id

			update OP
			SET Term2 = og.Name + ' : '+TG.Description,
				Term2GradeId = SOD.GradeId,
				Term1 = case when OP.Term1GradeId = SOD.GradeId then 'Term 1 & 2 : '+Term1 else '<p>Term 1 : '+Term1+'</p>Term 2 : '+og.Name + ' - '+TG.Description end
			FROM @tblParameters OP
			INNER JOIN StudentObservationDetails SOD
			ON OP.ID = SOD.ParameterId
			inner join ObservationGrades og
			on sod.GradeId = og.Id
			INNER JOIN StandardWiseGradeMaster SGM
            ON OG.Id=SGM.GradeId
			INNER JOIN SchoolWise_Test_Master STM
			ON SOD.TestId = STM.SchoolWise_Test_Id
			INNER JOIN @tblGradeDetails TG
			ON OG.Name = TG.GradeName
			and op.Parameter = tg.ParamterName
			where sod.schoolid = @School_Id
			and sod.AcademicYearId = @Academic_Year_id
			and sod.IsDeleted = 0
			and og.IsDeleted = 0
			AND SOD.STUDENTID = @StudentId
			AND @IsSubmitted = 1
			AND STM.Is_Deleted = 'N'
			AND STM.academic_year_id = @Academic_Year_id
			AND STM.School_Id = @School_Id
			AND STM.SchoolWise_Test_Name = 'Term II'
			AND SGM.IsDeleted=0
           AND SGM.StandardId=@Standard_Id
	END
	
	select * ,ROW_NUMBER() OVER (ORDER BY SortOrder) as SrNo
	from  @tblParameters
    
END
GO
