/****** Object:  StoredProcedure [dbo].[usp_GetObservationDetails]    Script Date: 25-02-2026 12:25:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================================
-- Author:		Sachin
-- Create date: 15-09-2015
-- Description:	This USP is used to return observation details.
-- ==============================================================
ALTER PROCEDURE [dbo].[usp_GetObservationDetails]
	@TestId INT,
	@StdDivId INT,
	@SubjectId INT,
	@SchoolId INT,
	@AcademicYearId INT,
	@IsSummaryMode BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @StandardId INT,
			@TestName NVARCHAR(200),
			@ClassName NVARCHAR(200),
			@SubjectName NVARCHAR(200),
			@IsSubmitted BIT,
			@IsPublished BIT,
			@StdName NVARCHAR(50)
			
	   IF @SchoolId = 11 AND @AcademicYearId >= 14
	   BEGIN
		   SELECT @TestName = case when SchoolWise_Test_Name = 'Evaluation I' then 'Term-I' 
							       when SchoolWise_Test_Name = 'Evaluation 2' then 'Term-II' else '' end
		   FROM Schoolwise_Test_master WITH(NOLOCK)
		   WHERE School_Id = @SchoolId
		   AND Academic_Year_Id = @AcademicYearId
		   AND Is_Deleted = 'N'
		   AND SchoolWise_Test_Id = @TestId
	   END
	   ELSE 
	   BEGIN
			SELECT @TestName = SchoolWise_Test_Name
		    FROM Schoolwise_Test_master WITH(NOLOCK)
		    WHERE School_Id = @SchoolId
		    AND Academic_Year_Id = @AcademicYearId
		    AND Is_Deleted = 'N'
		    AND SchoolWise_Test_Id = @TestId
	   END
	
	SELECT @SubjectName = Subject_Name
	  FROM Subject_Master WITH(NOLOCK)
	 WHERE School_Id = @SchoolId
	   AND Academic_Year_Id = @AcademicYearId
	   AND Is_Deleted = 'N'
	   AND Subject_Id = @SubjectId

	SELECT @StandardId = Standard_Id, @ClassName = ClassName, @StdName = Standard_Name
	  FROM vw_Standard_Division WITH(NOLOCK)
	 WHERE School_Id = @SchoolId
	   AND Academic_Year_Id = @AcademicYearId
	   AND Schoolwise_Standard_Division_Id = @StdDivId

	SET @IsSubmitted = 0
	
	IF @IsSummaryMode = 0
	BEGIN
			IF EXISTS
			(
			   SELECT TOP 1 1
				 FROM ObservationSubmissionStatus WITH(NOLOCK)
				WHERE SchoolId = @SchoolId
				  AND AcademicYearId = @AcademicYearId
				  AND IsDeleted = 0
				  AND SubjectId = @SubjectId
				  AND TestId = @TestId
				  AND StdDivId = @StdDivId
				  AND IsSubmitted = 1
			)	
			BEGIN
				SET @IsSubmitted = 1
			END
	END
	ELSE
	BEGIN
			IF EXISTS
			(
			   SELECT TOP 1 1
				 FROM StudentObservationSummmaryRemarkSubmitStatus WITH(NOLOCK)
				WHERE SchoolId = @SchoolId
				  AND AcademicYearId = @AcademicYearId
				  AND IsDeleted = 0
				  AND SubjectId = @SubjectId				  
				  AND StdDivId = @StdDivId
				  AND IsSubmitted = 1
			)	
			BEGIN
				SET @IsSubmitted = 1
			END
	END

	SET @IsPublished = 0
	IF EXISTS
	(
	   SELECT TOP 1 1
		 FROM ObservationPublishStatus WITH(NOLOCK)
		WHERE SchoolId = @SchoolId
		  AND AcademicYearId = @AcademicYearId
		  AND IsDeleted = 0		  
		  AND TestId = @TestId
		  AND StdDivId = @StdDivId
		  AND IsPublished = 1
	)	
	BEGIN
		SET @IsPublished = 1
	END
	
	SELECT @TestName AS TestName, @SubjectName AS SubjectName, @ClassName AS ClassName, @IsSubmitted IsSubmitted, @IsPublished AS IsPublished
			
	SELECT Id, 
		   Name, 
		   DisplayOnReport, 
		   SortOrder
	  FROM ObservationSkills WITH(NOLOCK)
	 WHERE SchoolId = @SchoolId
	   AND AcademicYearId = @AcademicYearId
	   AND IsDeleted = 0
	   AND SubjectId = @SubjectId
	   AND StandardId = @StandardId

	  SELECT OP.Id, 
	       OP.Parameter,
	       OP.SkillId, 
	       OP.SortOrder,
		   OP.ControlTypeId
	  FROM ObservationSkills OS WITH(NOLOCK)
INNER JOIN ObservationParameters OP WITH(NOLOCK)
		ON OS.Id = OP.SkillId
	 WHERE OS.SchoolId = @SchoolId
	   AND OS.AcademicYearId = @AcademicYearId
	   AND OS.IsDeleted = 0
	   AND OP.IsDeleted = 0
	   AND OS.SubjectId = @SubjectId
	   AND OS.StandardId = @StandardId
	   AND OP.IsSubmitted = 1

	IF @IsSummaryMode = 0
	BEGIN

			SELECT OG.Id, 
					Name, 
					ShortName, 
					SortOrder
				FROM ObservationGrades  OG WITH(NOLOCK)
				INNER JOIN StandardWiseGradeMaster SGM
                ON OG.Id=SGM.GradeId
				WHERE SchoolId = @SchoolId
				AND AcademicYearId = @AcademicYearId
				AND OG.IsDeleted = 0
				AND SGM.IsDeleted=0
				AND SGM.StandardId=@StandardId
			    AND(@SchoolId <> 122  OR (  @SchoolId = 122
                AND( (@SubjectName = 'Parent Engagement' AND SGM.IsParentEngagement = 1)
					  OR
					  (@SubjectName <> 'Parent Engagement' AND SGM.IsParentEngagement = 0) ) ) )
			   ORDER BY SortOrder;

			SELECT SOD.Id, 
				   SOD.StudentId, 
				   SOD.ParameterId, 
				   SOD.GradeId,
				   ISNULL(SOD.Comment,'') AS Comment
			  FROM StudentObservationDetails SOD WITH(NOLOCK)
		INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
				ON SOD.StudentId = YSD.Yearwise_student_Id
		INNER JOIN vw_Standard_Division VSD WITH(NOLOCK)
				ON YSD.Standard_Id = VSD.Standard_Id
			   AND YSD.Division_Id = VSD.Division_Id
		INNER JOIN ObservationParameters OP
				ON SOD.ParameterId = OP.Id
			   AND SOD.SchoolId = OP.SchoolId
			   AND SOD.AcademicYearId = OP.AcademicYearId
		INNER JOIN ObservationSkills OS
				ON OP.SkillId = OS.Id
			   AND OP.SchoolId = OS.SchoolId
			   AND OP.AcademicYearId = OS.AcademicYearId	   
			 WHERE SOD.SchoolId = @SchoolId
			   AND SOD.AcademicYearId = @AcademicYearId
			   AND SOD.IsDeleted = 0
			   AND SOD.TestId = @TestId
			   AND OS.SubjectId = @SubjectId
			   AND OP.IsSubmitted = 1
			   AND OP.IsDeleted=0
			   AND OS.IsDeleted=0
			   AND VSD.Schoolwise_Standard_Division_Id = @StdDivId
	   END
	   ELSE
	   BEGIN
	   			SELECT Id, 
					Name, 
					ShortName, 
					SortOrder
				FROM ObservationSummaryRemarkGrades WITH(NOLOCK)
				WHERE SchoolId = @SchoolId
				AND AcademicYearId = @AcademicYearId
				AND IsDeleted = 0			
				ORDER BY SortOrder

			SELECT SOSRD.Id, 
				   SOSRD.StudentId, 
				   SOSRD.ParameterId, 
				   SOSRD.GradeId,
				   ISNULL(SOSRD.Comment,'') AS Comment
			  FROM StudentObservationSummmaryRemarkDetails SOSRD WITH(NOLOCK)
		INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
				ON SOSRD.StudentId = YSD.Yearwise_student_Id
		INNER JOIN vw_Standard_Division VSD WITH(NOLOCK)
				ON YSD.Standard_Id = VSD.Standard_Id
			   AND YSD.Division_Id = VSD.Division_Id
		INNER JOIN ObservationParameters OP
				ON SOSRD.ParameterId = OP.Id
			   AND SOSRD.SchoolId = OP.SchoolId
			   AND SOSRD.AcademicYearId = OP.AcademicYearId
		INNER JOIN ObservationSkills OS
				ON OP.SkillId = OS.Id
			   AND OP.SchoolId = OS.SchoolId
			   AND OP.AcademicYearId = OS.AcademicYearId	   
			 WHERE SOSRD.SchoolId = @SchoolId
			   AND SOSRD.AcademicYearId = @AcademicYearId
			   AND SOSRD.IsDeleted = 0			   
			   AND OS.SubjectId = @SubjectId
			   AND OP.IsSubmitted = 1
			   AND OP.IsDeleted=0
			   AND OS.IsDeleted=0
			   AND VSD.Schoolwise_Standard_Division_Id = @StdDivId
	   END
	
	 SELECT SkillId, 
		    Remarks,
			ISNULL(SKR.ParameterId, 0)    AS ParameterId,
            ISNULL(SKR.GradeId, 0)        AS GradeId
	  FROM ObservationSkills OB WITH(NOLOCK) 
inner join SkillWiseRemarks SKR
        on SKR.SkillId=OB.Id
	 WHERE SchoolId = @SchoolId
	  AND AcademicYearId = @AcademicYearId
	   AND SKR.IsDeleted = 0
	   AND OB.ISDeleted=0
	   AND SubjectId = @SubjectId
	  AND StandardId = @StandardId

	  DECLARE @tblOptionalSubjectStudents AS TABLE
	  (
			YearWiseStudentId INT
	  )

	  DECLARE @IsOptionalSubjectApplicable BIT = 0

	  IF EXISTS
	  (
		  SELECT TOP 1 1
		  FROM OptionalSubjects_Settings
		  WHERE School_Id = @SchoolId
		  and Academic_Year_Id = @AcademicYearId
		  and Is_Deleted = 'N'
		  and Standard_Division_Id = @StdDivId
		  AND Subject_Id = @SubjectId
	  )
	  BEGIN
		  INSERT INTO @tblOptionalSubjectStudents
		  SELECT Student_Id
		  FROM StudentWiseOptionalSubjects
		  WHERE School_Id = @SchoolId
		  and Academic_Year_Id = @AcademicYearId
		  and Is_Deleted = 'N'
		  and Standard_Division_Id = @StdDivId
		  AND Subject_Id = @SubjectId

		  SET @IsOptionalSubjectApplicable = 1
	  END

	SELECT YSD.Yearwise_Student_Id, 
		   YSD.Roll_No, 
		   BSD.Enrolment_Number, 
		   BSD.StudentName
	  FROM Yearwise_Student_Details YSD WITH(NOLOCK)
INNER JOIN vw_Standard_Division VSD WITH(NOLOCK)
		ON YSD.Standard_Id = VSD.Standard_Id
	   AND YSD.Division_Id = VSD.Division_Id
INNER JOIN vw_BaseStudentDetails BSD WITH(NOLOCK)
		ON YSD.Student_Id = BSD.Schoolwise_Student_Id
LEFT OUTER JOIN @tblOptionalSubjectStudents TOSS
	ON YSD.YearWise_Student_Id = TOSS.YearWiseStudentId
	 WHERE YSD.School_Id = @SchoolId
	   AND YSD.Academic_Year_Id = @AcademicYearId
	   AND YSD.Is_Deleted = 'N'
	     AND BSD.SchoolLeft_Date is NULL
		 AND BSD.Is_Deleted='N'
	   AND VSD.Schoolwise_Standard_Division_Id = @StdDivId
	   AND (@IsOptionalSubjectApplicable = 0 OR (@IsOptionalSubjectApplicable = 1 AND TOSS.YearWiseStudentId IS NOT NULL))
  ORDER BY YSD.Roll_No
END