/****** Object:  StoredProcedure [dbo].[usp_GetStudents_Export]    Script Date: 22-04-2026 14:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Milind  
-- Create date: 30 March 2009  
-- Description: This procedure retrives all the master data.   
    --The data contains:  
    -- 1. Salutations  
    -- 2. Categogy   
    -- 3. Designation  
    -- 4. Religions   
    -- 5. Qualification   
    -- 6. Class    
    -- 7. User Roles  
-- Modified by : Yogesh Karne
-- Modification date : 1 August 2014
-- Modification Discription : Exported Student List does not  display division  name.
-- =============================================  
  
ALTER PROCEDURE [dbo].[usp_GetStudents_Export]  
  @iSchoolId INT  
, @iAcademicYrId INT  
, @Standard_Id  INT = 0  
, @Division_id  INT = 0  
, @Name NVARCHAR(2000) = N'-9999'  
, @RegNo NVARCHAR(2000) = N'-9999'  
, @IsExact BIT   
, @Prefix NVARCHAR(10)=null  
, @Operator NVARCHAR(5)=null
, @IncludeLeft BIT
, @StandardList NVARCHAR(500) = NULL
, @DivisionList NVARCHAR(500) = NULL
, @IsSuperAdmin NVARCHAR(5)= N'N'
AS  
BEGIN  
 SET NOCOUNT ON;   
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  
   
 CREATE TABLE #tblStudents   
 (  
	  UserId INT,  
	  EnrollmentNo NUMERIC(18,0),  
	  HasPrefix BIT,  
	  Prefix NVARCHAR(10),  
	  RollNo INT   
 )  
   
   DECLARE @tblStandards AS TABLE
   (
		StandardId INT
   )

   DECLARE @tblSiblingUniqeDetails as table
	(
		 StudentId INT
		,YearwiseStudentId INT
		,SiblingId INT
	)
	
   
   IF @Standard_Id <> 0
   BEGIN
		INSERT INTO @tblStandards
		SELECT @Standard_Id
   END
   ELSE IF @Standard_Id = 0 AND @StandardList IS NOT NULL AND @StandardList <> ''
   BEGIN
		INSERT INTO @tblStandards
		SELECT Ids
		FROM dbo.udf_GetTableFromList(@StandardList)
   END
   ELSE
   BEGIN
		INSERT INTO @tblStandards
		SELECT Standard_Id
		FROM Standard_Master
		WHERE School_Id = @iSchoolId
		AND Academic_Year_Id = @iAcademicYrId
		AND Is_Deleted = 'N'
   END
   
   
   DECLARE @tblDivisions AS TABLE
   (
		DivisionId INT
   )

   IF @IsSuperAdmin = 'Y'
   BEGIN
		INSERT INTO @tblSiblingUniqeDetails 
		EXEC usp_GetSiblingStudentGroup @iSchoolId, @iAcademicYrId
   END
   
   IF @Division_id <> 0
   BEGIN
		INSERT INTO @tblDivisions
		SELECT @Division_id
   END
   ELSE IF @Division_id = 0 AND @DivisionList IS NOT NULL AND @DivisionList <> ''
   BEGIN
		INSERT INTO @tblDivisions
		SELECT Ids
		FROM dbo.udf_GetTableFromList(@DivisionList)
   END
   ELSE
   BEGIN
		INSERT INTO @tblDivisions
		SELECT Division_Id
		FROM Division_Master
		WHERE School_Id = @iSchoolId
		AND Academic_Year_Id = @iAcademicYrId
		AND Is_Deleted = 'N'
   END

   DECLARE @tblOptionalSubjectStandards AS TABLE
   (
		StandardName NVARCHAR(50)
   )

   IF @iSchoolId = 18
   BEGIN
		INSERT INTO @tblOptionalSubjectStandards
		SELECT '9'

		INSERT INTO @tblOptionalSubjectStandards
		SELECT '10'
   END


   DECLARE @tblSubjectDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		SubjectId INT,
		SubjectName NVARCHAR(500)
	)


   IF EXISTS(
				SELECT TOP 1 1
				  FROM SchoolWise_Academic_Year_Master
				 WHERE School_Id = @iSchoolId
				   AND Is_Deleted = 'N'
				   AND Is_NewlyCreated = 'Y'
				   AND Academic_Year_ID = @iAcademicYrId
				   AND Is_Current_Year = 'N'
			)
			BEGIN			
				INSERT INTO @tblSubjectDetails
				     SELECT Original_Subject_Id,
					        Subject_Name
					   FROM Subject_Master
					  WHERE School_Id IS NULL
					    AND Is_Deleted = 'N'
			END
		ELSE
			BEGIN
				INSERT INTO @tblSubjectDetails
				     SELECT Original_Subject_Id,
							Subject_Name
					   FROM Subject_Master
					  WHERE School_Id = @iSchoolId
					    AND Is_Deleted = 'N'
						AND academic_Year_Id = @iAcademicYrId
			END

  IF(@IncludeLeft = 1)
   BEGIN
 
  SET @Operator=REPLACE(@Operator,N'$',N'=')  
 DECLARE @sql NVARCHAR(MAX)  
 IF(@RegNo<>N'-9999')  
 BEGIN  
 SET @sql=N'INSERT INTO #tblStudents  
  SELECT SchoolWise_Student_Master.User_Id,RegNo,HasPrefix,Prefix,RollNo  
    FROM dbo.udf_GetNumericRegNo('+CAST(@iSchoolId AS NVARCHAR(5))+N','+CAST(@iAcademicYrId AS NVARCHAR(3))+N') AS A INNER JOIN SchoolWise_Student_Master   
    ON SchoolWise_Student_Master.User_Id=A.UserId WHERE A.RegNo '+@Operator+N' '+@RegNo  
   
 IF(@Prefix IS NOT null)  
 -- RowNumber INT  
 BEGIN  
  SET @sql=@sql+ N' AND SchoolWise_Student_Master.Enrolment_Number LIKE '''+@Prefix+N'%'''  
    
 END  
 print @sql  
   
 EXECUTE(@sql)  
 END  
IF @Name <> N'-9999'   
 BEGIN  
 print N'1'   
		  SELECT  
			@IsSuperAdmin AS IsSuperAdmin
		   , CASE GSE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSE.Enrolment_Number END AS Enrolment_Number  
		   , CASE WHEN GSE.FormNumber = '' OR GSE.FormNumber is null THEN N'-' ELSE GSE.FormNumber END AS FormNumber 
		   , BSD.SchoolWise_Student_Id
		   , GSE.Roll_No, GSE.First_Name  
		   , CASE LEN(GSE.Middle_Name) WHEN 0 THEN N'--' ELSE GSE.Middle_Name END Middle_Name  
		   , CASE LEN(GSE.Last_Name) WHEN 0 THEN N'--' ELSE GSE.Last_Name END Last_Name  
		   , CASE LEN(GSE.Mother_Name) WHEN 0 THEN N'--' ELSE GSE.Mother_Name END Mother_Name  
		   , GSE.DOB  
		   , GSE.Admission_Date  
		   , GSE.Joining_Date  
		   , CASE GSE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
		   , CASE    
			WHEN GSE.Blood_Group = N'0' THEN N'--'  
			WHEN LEN(GSE.Blood_Group)=0 THEN N'--'   
			ELSE ISNULL(GSE.Blood_Group,N'--') END Blood_Group   
		   , GSE.Parent_Name  
		   , CASE GSE.Parent_Occupation WHEN 0 THEN CASE LEN(GSE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
		   , GSE.Address  
		   , GSE.City  
		   , GSE.State  
		   , GSE.Pincode  
		   , CASE LEN(GSE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSE.Residence_Phone_Number END Residence_Phone_Number  
		   , GSE.Mobile_Number
		   , CASE WHEN GSE.Mobile_Number2 IS NULL OR GSE.Mobile_Number2 = N'' THEN N'--' ELSE GSE.Mobile_Number2 END AS MobileNumber2 
		   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
		   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
		   , Category_Name  
		   , CASE LEN(GSE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSE.CasteAndSubCaste END CasteAndSubCaste  
		   , GSE.School_Id  
		   , GSE.Academic_Year_ID
		   , GSE.Standard_Id  
		   , GSE.Division_id  
		   , GSE.SchoolWise_Standard_Division_Id  
		   , GSE.Parent_Occupation  
		   --, Standard_Name + N'-'+ Division_Name AS Class
		   , GSE.Standard_Name + N'-' + CASE WHEN GSE.DisplayNameForDivision IS NULL OR GSE.DisplayNameForDivision = '' THEN GSE.division_name ELSE GSE.DisplayNameForDivision END AS Class
		   , CASE WHEN BSD.Birth_Place = '' or BSD.Birth_Place IS NULL THEN '--' ELSE BSD.Birth_Place END BirthPlace
		   , CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
		   , CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
		   , CASE WHEN BSD.Mother_Tongue = '' or BSD.Mother_Tongue IS NULL THEN '--' ELSE BSD.Mother_Tongue END MotherTongue
		   , CASE WHEN BSD.LastCompletedStd = '' or BSD.LastCompletedStd IS NULL THEN '--' ELSE BSD.LastCompletedStd END LastCompletedStd
		   , CASE WHEN BSD.LastSchoolName = '' or BSD.LastSchoolName IS NULL THEN '--' ELSE BSD.LastSchoolName END LastSchoolName
		   , CASE WHEN BSD.LastCompletedBoard = '' or BSD.LastCompletedBoard IS NULL THEN '--' ELSE BSD.LastCompletedBoard END LastCompletedBoard 
		   , CASE WHEN  GSE.Nationality   = '' or  GSE.Nationality   IS NULL THEN '--' ELSE  GSE.Nationality   END Nationality
		   , CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
		   , CASE WHEN  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date,106)   = '' or  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date,106)   END SchoolLeft_Date 
		   , CASE WHEN  GSE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student 
		   , BSD.StudentName
		   , CASE WHEN BSD.AadharCardNo = '' OR BSD.AadharCardNo IS NULL THEN '--' ELSE BSD.AadharCardNo END AS AadharCardNo
		   , CASE WHEN  @IsSuperAdmin = 'Y' 
					THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
					ELSE 0
			  END AS SiblingGroupIndex
			, CASE WHEN UDISENumber IS NULL THEN '-'
				 WHEN UDISENumber = '' THEN '-'
				 ELSE UDISENumber END AS UDISENO,
			   CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo ,
			   CASE WHEN BSD.StudentUniqueNo IS NULL OR BSD.StudentUniqueNo = '' THEN '-' ELSE BSD.StudentUniqueNo END AS StudentUniqueNo,
			   CASE WHEN BSD.GRNumber IS NULL OR BSD.GRNumber = '' THEN '-' ELSE BSD.GRNumber END AS GRNumber,
			   CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory	,
			   CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
			   CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND SM.Subject_Name LIKE '% II'
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND SM.Subject_Name LIKE '% III'
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage
		,CASE WHEN bsd.NameOnAadharCard IS NULL OR bsd.NameOnAadharCard = '' THEN '-' ELSE bsd.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
      FROM vw_GetStudentForExport GSE 
inner join vw_BaseStudentDetails BSD
        on GSE.User_Id = BSD.User_Id 
LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSD.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSD.School_Id
	   AND GSE.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
		    ON BSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			AND SAD.IsDeleted=0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
	     --   AND BSD.School_Id = SAD.SchoolId	   
LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	        ON BSD.SchoolWise_Student_Id = SSD.StudentId
LEFT OUTER JOIN RTE_CategoryMaster RTE
	        ON YWSD.RTECategoryId = RTE.Id
LEFT OUTER JOIN HouseConfigurationMaster HCM
            ON YWSD.HouseId=HCM.id
			AND HCM.IsDeleted = 0
left outer join YearWise_Student_Details NYSD
on BSD.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id
   WHERE  
     (GSE.School_Id = @iSchoolId) AND (GSE.Academic_Year_ID = @iAcademicYrId) 
     --AND (Standard_Id = @Standard_Id OR @Standard_Id = 0) 
     AND (GSE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
     --AND (Division_id = @Division_id OR @Division_id = 0) 
     AND (GSE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
     AND (GSE.First_Name LIKE N'%' + @Name + N'%' OR GSE.Last_Name LIKE N'%' + @Name + N'%' OR  
       GSE.Middle_Name LIKE N'%' + @Name + N'%' OR BSD.Enrolment_Number + ' - ' + BSD.StudentName LIKE N'%' + @Name + N'%')                        
   ORDER BY  
      Standard_Id, Division_id, Roll_No  
 END    
ELSE IF @RegNo <> N'-9999'   
 BEGIN   
 print N'2'   
  SELECT  
	@IsSuperAdmin AS IsSuperAdmin
    , CASE S.Enrolment_Number WHEN N'' THEN N'-' ELSE S.Enrolment_Number END AS Enrolment_Number  
    ,CASE WHEN FormNumber = '' OR FormNumber is null THEN N'-' ELSE FormNumber END AS FormNumber 
   , B.SchoolWise_Student_Id
   , S.Roll_No, S.First_Name  
   , CASE LEN(S.Middle_Name) WHEN 0 THEN N'--' ELSE S.Middle_Name END Middle_Name  
   , CASE LEN(S.Last_Name) WHEN 0 THEN N'--' ELSE S.Last_Name END Last_Name  
   , CASE LEN(S.Mother_Name) WHEN 0 THEN N'--' ELSE S.Mother_Name END Mother_Name  
   , S.DOB  
   , S.Admission_Date  
   , S.Joining_Date  
   , CASE S.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN S.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(S.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(S.Blood_Group,N'--') END Blood_Group   
   , S.Parent_Name  
   , CASE S.Parent_Occupation WHEN 0 THEN CASE LEN(S.Other_Occupation) WHEN 0 THEN N'--' ELSE S.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , S.Address  
   , S.City  
   , S.State  
   , S.Pincode  
   , CASE LEN(S.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE S.Residence_Phone_Number END Residence_Phone_Number  
   , S.Mobile_Number
   , CASE WHEN S.Mobile_Number2 IS NULL OR S.Mobile_Number2 = N'' THEN N'--' ELSE S.Mobile_Number2 END as MobileNumber2  
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(S.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE S.CasteAndSubCaste END CasteAndSubCaste  
   , S.School_Id  
   , Academic_Year_ID
   , Standard_Id  
   , Division_id  
   , SchoolWise_Standard_Division_Id  
   , S.Parent_Occupation  
   --, Standard_Name + N'-'+ Division_Name AS Class  
    ,Standard_Name + N'-' + CASE WHEN S.DisplayNameForDivision IS NULL OR S.DisplayNameForDivision = '' THEN division_name ELSE S.DisplayNameForDivision END AS Class               
    ,CASE WHEN B.Birth_Place = '' OR B.Birth_Place IS NULL THEN '--' ELSE B.Birth_Place END BirthPlace 
	,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
	,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
    ,CASE WHEN B.Mother_Tongue = '' OR B.Mother_Tongue IS NULL THEN '--' ELSE B.Mother_Tongue END MotherTongue 
    ,CASE WHEN B.LastCompletedStd = '' OR B.LastCompletedStd IS NULL THEN '--' ELSE B.LastCompletedStd END LastCompletedStd 
    ,CASE WHEN B.LastSchoolName = '' OR B.LastSchoolName IS NULL THEN '--' ELSE B.LastSchoolName END LastSchoolName 
    ,CASE WHEN B.LastCompletedBoard = '' OR B.LastCompletedBoard IS NULL THEN '--' ELSE B.LastCompletedBoard END LastCompletedBoard
    ,CASE WHEN S.Nationality   = '' OR S.Nationality   IS NULL THEN '--' ELSE S.Nationality   END Nationality 
    ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
    ,CASE WHEN  CONVERT(NVARCHAR(12),B.SchoolLeft_Date ,106)   = '' or  CONVERT(NVARCHAR(12),B.SchoolLeft_Date ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),B.SchoolLeft_Date ,106)   END SchoolLeft_Date   
    ,CASE WHEN  GSE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student,
	B.StudentName,
	CASE WHEN B.AadharCardNo = '' OR B.AadharCardNo IS NULL THEN '--' ELSE B.AadharCardNo END AS AadharCardNo
    , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
	   CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
	   CASE WHEN B.StudentUniqueNo IS NULL OR B.StudentUniqueNo = '' THEN '-' ELSE B.StudentUniqueNo END AS StudentUniqueNo,
	   CASE WHEN B.GRNumber IS NULL OR B.GRNumber = '' THEN '-' ELSE B.GRNumber END AS GRNumber,
	   CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
	   CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	   CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0				
				AND SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS				
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				AND SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN B.NameOnAadharCard IS NULL OR B.NameOnAadharCard = '' THEN '-' ELSE B.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport S INNER JOIN #tblStudents ON S.User_Id=#tblStudents.UserId  
	  INNER JOIN vw_BaseStudentDetails B 
	          ON #tblStudents.UserId = B.User_Id
	LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = B.SchoolWise_Student_Id
	   AND YWSD.School_Id = B.School_Id
	   AND S.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId			
LEFT OUTER JOIN StudentAdditionalDetails SAD
			  ON B.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			  AND SAD.IsDeleted=0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
			 --AND B.School_Id = SAD.SchoolId
 LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	  ON B.SchoolWise_Student_Id = SSD.StudentId
LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
LEFT OUTER JOIN HouseConfigurationMaster HCM
ON YWSD.HouseId=HCM.id
	AND HCM.IsDeleted = 0
left outer join YearWise_Student_Details NYSD
on B.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id
   WHERE  
     (S.School_Id = @iSchoolId) AND (S.Academic_Year_ID = @iAcademicYrId) 
     --AND (Standard_Id = @Standard_Id OR @Standard_Id = 0) 
     AND (S.Standard_Id IN (SELECT StandardId FROM @tblStandards))
     --AND (Division_id = @Division_id OR @Division_id = 0)   
     AND (S.Division_id IN (SELECT DivisionId FROM @tblDivisions))
     --AND Enrolment_Number IN (SELECT Name FROM udf_GetTableFromStringList(@RegNo))  
   ORDER BY  
      S.Standard_Id, S.Division_id, S.Roll_No  
 END  
  
ELSE IF @IsExact=1  
 BEGIN  
 print N'3'  
 --This fuctiion is used to sort the elements by Enrollment Number  
   
 SET @RegNo=NULL  
  SELECT  
	@IsSuperAdmin AS IsSuperAdmin
    ,CASE GS.Enrolment_Number WHEN N'' THEN N'-' ELSE GS.Enrolment_Number END AS Enrolment_Number  
    ,CASE WHEN FormNumber = '' OR FormNumber is null THEN N'-' ELSE FormNumber END AS FormNumber 
   , BS.SchoolWise_Student_Id
   , GS.Roll_No, GS.First_Name  
   , CASE LEN(GS.Middle_Name) WHEN 0 THEN N'--' ELSE GS.Middle_Name END Middle_Name  
   , CASE LEN(GS.Last_Name) WHEN 0 THEN N'--' ELSE GS.Last_Name END Last_Name  
   , CASE LEN(GS.Mother_Name) WHEN 0 THEN N'--' ELSE GS.Mother_Name END Mother_Name  
   , GS.DOB  
   , GS.Admission_Date  
   , GS.Joining_Date  
   , CASE GS.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN GS.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(GS.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(GS.Blood_Group,N'--') END Blood_Group   
   , GS.Parent_Name  
   , CASE GS.Parent_Occupation WHEN 0 THEN CASE LEN(GS.Other_Occupation) WHEN 0 THEN N'--' ELSE GS.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , GS.Address  
   , GS.City  
   , GS.State
   , GS.Pincode  
   , CASE LEN(GS.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GS.Residence_Phone_Number END Residence_Phone_Number  
   , GS.Mobile_Number
   , CASE WHEN GS.Mobile_Number2 IS NULL OR GS.Mobile_Number2 = N'' THEN N'--' ELSE GS.Mobile_Number2 END as MobileNumber2
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(GS.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GS.CasteAndSubCaste END CasteAndSubCaste  
   , GS.School_Id  
   , Academic_Year_ID
   , Standard_Id  
   , Division_id  
   , SchoolWise_Standard_Division_Id  
   , GS.Parent_Occupation  
   --, Standard_Name + N'-'+ Division_Name AS Class
   ,Standard_Name + N'-' + CASE WHEN GS.DisplayNameForDivision IS NULL OR GS.DisplayNameForDivision = '' THEN division_name ELSE GS.DisplayNameForDivision END AS Class
    ,CASE WHEN BS.Birth_Place='' OR BS.Birth_Place IS NULL  THEN '--' ELSE BS.Birth_Place END BirthPlace 
	,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
   ,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
   ,CASE WHEN BS.Mother_Tongue='' OR BS.Mother_Tongue IS NULL  THEN '--' ELSE BS.Mother_Tongue END MotherTongue 
   ,CASE WHEN BS.LastCompletedStd='' OR BS.LastCompletedStd IS NULL  THEN '--' ELSE BS.LastCompletedStd END LastCompletedStd 
   ,CASE WHEN BS.LastSchoolName='' OR BS.LastSchoolName IS NULL  THEN '--' ELSE BS.LastSchoolName END LastSchoolName 
   ,CASE WHEN BS.LastCompletedBoard='' OR BS.LastCompletedBoard IS NULL  THEN '--' ELSE BS.LastCompletedBoard END LastCompletedBoard   
   ,CASE WHEN GS.Nationality='' OR GS.Nationality IS NULL  THEN '--' ELSE GS.Nationality END Nationality      
   --,CASE WHEN  GSE.SecondLanguage   = '' or  GSE.SecondLanguage   IS NULL THEN '--' ELSE  GSE.SecondLanguage   END SecondLanguage
   ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
   ,CASE WHEN  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date ,106)   = '' or  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date ,106)   END SchoolLeft_Date    
   ,CASE WHEN  GSE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
   , BS.StudentName
   , CASE WHEN BS.AadharCardNo = '' OR BS.AadharCardNo IS NULL THEN '--' ELSE BS.AadharCardNo END AS AadharCardNo
   , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
	  CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
	  CASE WHEN BS.StudentUniqueNo IS NULL OR BS.StudentUniqueNo = '' THEN '-' ELSE BS.StudentUniqueNo END AS StudentUniqueNo,
	  CASE WHEN BS.GRNumber IS NULL OR BS.GRNumber = '' THEN '-' ELSE BS.GRNumber END AS GRNumber,
	  CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
	  CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	  CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS				
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  and SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN bs.NameOnAadharCard IS NULL OR bs.NameOnAadharCard = '' THEN '-' ELSE bs.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport GS INNER JOIN #tblStudents 
			ON GS.User_Id=#tblStudents.UserId 
		INNER JOIN vw_BaseStudentDetails BS 
			ON #tblStudents.UserId = BS.User_Id
	LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BS.School_Id
	   AND GS.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
				ON BS.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
				AND SAD.IsDeleted=0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
			  -- AND BS.School_Id = SAD.SchoolId
		LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	  ON BS.SchoolWise_Student_Id = SSD.StudentId
	LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
   LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
  ON YWSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
left outer join YearWise_Student_Details NYSD
on BS.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id

		
   WHERE  
     (GS.School_Id = @iSchoolId) AND (GS.Academic_Year_ID = @iAcademicYrId)
      --AND (Standard_Id = @Standard_Id OR  @Standard_Id = 0) 
      AND (GS.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      --AND (Division_id = @Division_id OR       @Division_id = 0)   
      AND (GS.Division_id IN (SELECT DivisionId FROM @tblDivisions))
     --AND Enrolment_Number IN (SELECT Name FROM udf_GetTableFromStringList(@RegNo))  
       
   ORDER BY  
      GS.Standard_Id, GS.Division_id, GS.Roll_No  
 END     
ELSE   
 BEGIN  
 print N'4'   
  SELECT  ywsd.YearWise_Student_Id,
	@IsSuperAdmin AS IsSuperAdmin
   ,CASE GSFE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSFE.Enrolment_Number END AS Enrolment_Number      
   ,CASE WHEN GSFE.FormNumber = '' OR GSFE.FormNumber is null THEN N'-' ELSE GSFE.FormNumber END AS FormNumber  
   , BSDS.SchoolWise_Student_Id
   , GSFE.Roll_No, GSFE.First_Name  
   , CASE LEN(GSFE.Middle_Name) WHEN 0 THEN N'--' ELSE GSFE.Middle_Name END Middle_Name  
   , CASE LEN(GSFE.Last_Name) WHEN 0 THEN N'--' ELSE GSFE.Last_Name END Last_Name  
   , CASE LEN(GSFE.Mother_Name) WHEN 0 THEN N'--' ELSE GSFE.Mother_Name END Mother_Name  
   , GSFE.DOB  
   , GSFE.Admission_Date  
   , GSFE.Joining_Date  
   , CASE GSFE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN GSFE.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(GSFE.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(GSFE.Blood_Group,N'--') END Blood_Group   
   , GSFE.Parent_Name  
   , CASE GSFE.Parent_Occupation WHEN 0 THEN CASE LEN(GSFE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSFE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , GSFE.Address  
   , GSFE.City  
   , GSFE.State 
   , GSFE.Pincode  
   , CASE LEN(GSFE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSFE.Residence_Phone_Number END Residence_Phone_Number  
   , GSFE.Mobile_Number 
   , CASE WHEN GSFE.Mobile_Number2 IS NULL OR GSFE.Mobile_Number2 = N'' THEN N'--' ELSE GSFE.Mobile_Number2 END as MobileNumber2  
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(GSFE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSFE.CasteAndSubCaste END CasteAndSubCaste  
   , GSFE.School_Id  
   , GSFE.Academic_Year_ID
   , GSFE.Standard_Id  
   , GSFE.Division_id  
   , GSFE.SchoolWise_Standard_Division_Id  
   , GSFE.Parent_Occupation 
   
 --, Standard_Name + N'-'+ Division_Name AS Class  
   ,GSFE.Standard_Name + N'-' + CASE WHEN GSFE.DisplayNameForDivision IS NULL OR GSFE.DisplayNameForDivision = '' THEN GSFE.Division_Name ELSE GSFE.DisplayNameForDivision END AS Class
   ,CASE WHEN BSDS.Birth_Place = '' OR BSDS.Birth_Place is null THEN '--' ELSE BSDS.Birth_Place END BirthPlace 
   ,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
   ,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
   ,CASE WHEN BSDS.Mother_Tongue = '' OR BSDS.Mother_Tongue is null THEN '--' ELSE BSDS.Mother_Tongue END MotherTongue 
   ,CASE WHEN BSDS.LastCompletedStd = '' OR BSDS.LastCompletedStd is null THEN '--' ELSE BSDS.LastCompletedStd END LastCompletedStd 
   ,CASE WHEN BSDS.LastSchoolName = '' OR BSDS.LastSchoolName is null THEN '--' ELSE BSDS.LastSchoolName END LastSchoolName 
   ,CASE WHEN BSDS.LastCompletedBoard = '' OR BSDS.LastCompletedBoard is null THEN '--' ELSE BSDS.LastCompletedBoard END LastCompletedBoard      
   , CASE WHEN  GSFE.Nationality  = '' OR  GSFE.Nationality  is null THEN '--' ELSE  GSFE.Nationality  END Nationality 
   ,CASE WHEN  tblSubjects.SubjectName  = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
   ,CASE WHEN  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   END SchoolLeft_Date    
   ,CASE WHEN  GSFE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
   , BSDS.StudentName
   ,CASE WHEN BSDS.AadharCardNo = '' OR BSDS.AadharCardNo IS NULL THEN '--' ELSE BSDS.AadharCardNo END AS AadharCardNo
   , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
	  CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo ,
	 CASE WHEN BSDS.StudentUniqueNo IS NULL OR BSDS.StudentUniqueNo = '' THEN '-' ELSE BSDS.StudentUniqueNo END AS StudentUniqueNo,
	 CASE WHEN BSDS.GRNumber IS NULL OR BSDS.GRNumber = '' THEN '-' ELSE BSDS.GRNumber END AS GRNumber,
	 CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
	 CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	 CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN BSDS.NameOnAadharCard IS NULL OR BSDS.NameOnAadharCard = '' THEN '-' ELSE BSDS.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport GSFE right JOIN vw_BaseStudentDetails BSDS 
		ON GSFE.User_Id = BSDS.User_Id  
LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSDS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSDS.School_Id
	   AND GSFE.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
			ON BSDS.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			AND SAD.IsDeleted=0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
		  -- AND BSDS.School_Id = SAD.SchoolId
		   AND SAD.IsDeleted = 0
	 LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	  ON BSDS.SchoolWise_Student_Id = SSD.StudentId
	LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
	LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
    ON YWSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
  left outer join YearWise_Student_Details NYSD
on BSDS.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id

   WHERE  
     (GSFE.School_Id = @iSchoolId) AND (GSFE.Academic_Year_ID = @iAcademicYrId) 
      --AND (Standard_Id = @Standard_Id OR @Standard_Id = 0) 
      AND (GSFE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      --AND (Division_id = @Division_id OR       @Division_id = 0)  
      AND (GSFE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
   ORDER BY  
      GSFE.Standard_Id, GSFE.Division_id, GSFE.Roll_No  
      select @Standard_Id;
      select  @Division_id;
 END
   END
   ELSE
   
   BEGIN
   

   DECLARE @sdfss as nvarchar(500) 
  set   @sdfss = 'asdf'
  
  SET @Operator=REPLACE(@Operator,N'$',N'=')  
 
 IF(@RegNo<>N'-9999')  
 BEGIN  
 SET @sql=N'INSERT INTO #tblStudents  
  SELECT SchoolWise_Student_Master.User_Id,RegNo,HasPrefix,Prefix,RollNo  
    FROM dbo.udf_GetNumericRegNo('+CAST(@iSchoolId AS NVARCHAR(5))+N','+CAST(@iAcademicYrId AS NVARCHAR(3))+N') AS A INNER JOIN SchoolWise_Student_Master   
    ON SchoolWise_Student_Master.User_Id=A.UserId WHERE A.RegNo '+@Operator+N' '+@RegNo  
   
 IF(@Prefix IS NOT null)  
 BEGIN  
  SET @sql=@sql+ N' AND SchoolWise_Student_Master.Enrolment_Number LIKE '''+@Prefix+N'%'''  
    
 END  
 print @sql  
   
 EXECUTE(@sql)  
 END  
IF @Name <> N'-9999'   
 BEGIN  
 print N'1'  
  SELECT  
	@IsSuperAdmin AS IsSuperAdmin
    ,CASE GSE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSE.Enrolment_Number END AS Enrolment_Number  
    ,CASE WHEN GSE.FormNumber = '' OR GSE.FormNumber is null THEN N'-' ELSE GSE.FormNumber END AS FormNumber 
   , BSD.SchoolWise_Student_Id
   , GSE.Roll_No, GSE.First_Name  
   , CASE LEN(GSE.Middle_Name) WHEN 0 THEN N'--' ELSE GSE.Middle_Name END Middle_Name  
   , CASE LEN(GSE.Last_Name) WHEN 0 THEN N'--' ELSE GSE.Last_Name END Last_Name  
   , CASE LEN(GSE.Mother_Name) WHEN 0 THEN N'--' ELSE GSE.Mother_Name END Mother_Name  
   , GSE.DOB  
   , GSE.Admission_Date  
   , GSE.Joining_Date  
   , CASE GSE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN GSE.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(GSE.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(GSE.Blood_Group,N'--') END Blood_Group   
   , GSE.Parent_Name  
   , CASE GSE.Parent_Occupation WHEN 0 THEN CASE LEN(GSE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , GSE.Address  
   , GSE.City  
   , GSE.State  
   , GSE.Pincode  
   , CASE LEN(GSE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSE.Residence_Phone_Number END Residence_Phone_Number  
   , GSE.Mobile_Number
   , CASE WHEN GSE.Mobile_Number2 IS NULL OR GSE.Mobile_Number2 = N'' THEN N'--' ELSE GSE.Mobile_Number2 END AS MobileNumber2
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(GSE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSE.CasteAndSubCaste END CasteAndSubCaste  
   , GSE.School_Id  
   , GSE.Academic_Year_ID  
   , GSE.Standard_Id  
   , GSE.Division_id  
   , GSE.SchoolWise_Standard_Division_Id  
   , GSE.Parent_Occupation  
   --, Standard_Name + N'-'+ Division_Name AS Class
   ,GSE.Standard_Name + N'-' + CASE WHEN GSE.DisplayNameForDivision IS NULL OR GSE.DisplayNameForDivision = '' THEN GSE.division_name ELSE GSE.DisplayNameForDivision END AS Class
   ,CASE WHEN BSD.Birth_Place = '' or BSD.Birth_Place IS NULL THEN '--' ELSE BSD.Birth_Place END BirthPlace
   ,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
   ,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
   ,CASE WHEN BSD.Mother_Tongue = '' or BSD.Mother_Tongue IS NULL THEN '--' ELSE BSD.Mother_Tongue END MotherTongue
   ,CASE WHEN BSD.LastCompletedStd = '' or BSD.LastCompletedStd IS NULL THEN '--' ELSE BSD.LastCompletedStd END LastCompletedStd
   ,CASE WHEN BSD.LastSchoolName = '' or BSD.LastSchoolName IS NULL THEN '--' ELSE BSD.LastSchoolName END LastSchoolName
   ,CASE WHEN BSD.LastCompletedBoard = '' or BSD.LastCompletedBoard IS NULL THEN '--' ELSE BSD.LastCompletedBoard END LastCompletedBoard 
   ,CASE WHEN  GSE.Nationality   = '' or  GSE.Nationality   IS NULL THEN '--' ELSE  GSE.Nationality   END Nationality
   ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
   ,CASE WHEN  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSD.SchoolLeft_Date  ,106)   END SchoolLeft_Date     
   ,CASE WHEN  GSE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
   ,BSD.StudentName
   ,CASE WHEN BSD.AadharCardNo = '' OR BSD.AadharCardNo IS NULL THEN '--' ELSE BSD.AadharCardNo END AS AadharCardNo
  , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
	  CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
	 CASE WHEN BSD.StudentUniqueNo IS NULL OR BSD.StudentUniqueNo = '' THEN '-' ELSE BSD.StudentUniqueNo END AS StudentUniqueNo,
	 CASE WHEN BSD.GRNumber IS NULL OR BSD.GRNumber = '' THEN '-' ELSE BSD.GRNumber END AS GRNumber,
	 CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
	 CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	 CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName		
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN bsd.NameOnAadharCard IS NULL OR bsd.NameOnAadharCard = '' THEN '-' ELSE bsd.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
  FROM   
      vw_GetStudentForExport GSE inner join vw_BaseStudentDetails BSD
      on  GSE.User_Id = BSD.User_Id 
	LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSD.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSD.School_Id
	   AND GSE.Academic_Year_ID = YWSD.Academic_Year_ID
	  AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId			 
LEFT OUTER JOIN StudentAdditionalDetails SAD
			  ON BSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			 AND BSD.Is_Deleted =0
		--	 AND BSD.School_Id = SAD.SchoolId
			 AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
	   LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	  ON BSD.SchoolWise_Student_Id = SSD.StudentId
	  LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
	AND RTE.IsDeleted = 0
	LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
		ON YWSD.HouseId = HCM.Id
		AND HCM.IsDeleted = 0
	left outer join YearWise_Student_Details NYSD
on BSD.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id

   WHERE   
     (GSE.School_Id = @iSchoolId) AND (GSE.Academic_Year_ID = @iAcademicYrId) 
      --AND (Standard_Id = @Standard_Id OR @Standard_Id = 0) 
      AND (GSE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      AND (BSD.SchoolLeft_Date IS NULL) 
      --AND (Division_id = @Division_id OR  @Division_id = 0) 
      AND (GSE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
      AND (GSE.First_Name LIKE N'%' + @Name + N'%' OR GSE.Last_Name LIKE N'%' + @Name + N'%' OR  
       GSE.Middle_Name LIKE N'%' + @Name + N'%' OR BSD.Enrolment_Number + ' - ' + BSD.StudentName LIKE N'%' + @Name + N'%')                        
   ORDER BY  
      GSE.Standard_Id, GSE.Division_id, GSE.Roll_No  
 END    
ELSE IF @RegNo <> N'-9999'   
 BEGIN  
 print N'2'  
  SELECT 
	 @IsSuperAdmin AS IsSuperAdmin
    ,CASE S.Enrolment_Number WHEN N'' THEN N'-' ELSE S.Enrolment_Number END AS Enrolment_Number  
    ,CASE WHEN B.FormNumber = '' OR B.FormNumber is null THEN N'-' ELSE B.FormNumber END AS FormNumber 
   , B.SchoolWise_Student_Id
   , S.Roll_No, S.First_Name  
   , CASE LEN(S.Middle_Name) WHEN 0 THEN N'--' ELSE S.Middle_Name END Middle_Name  
   , CASE LEN(S.Last_Name) WHEN 0 THEN N'--' ELSE S.Last_Name END Last_Name  
   , CASE LEN(S.Mother_Name) WHEN 0 THEN N'--' ELSE S.Mother_Name END Mother_Name  
   , S.DOB  
   , S.Admission_Date  
   , S.Joining_Date  
   , CASE S.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN S.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(S.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(S.Blood_Group,N'--') END Blood_Group   
   , S.Parent_Name  
   , CASE S.Parent_Occupation WHEN 0 THEN CASE LEN(S.Other_Occupation) WHEN 0 THEN N'--' ELSE S.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , S.Address  
   , S.City  
   , S.State  
   , S.Pincode  
   , CASE LEN(S.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE S.Residence_Phone_Number END Residence_Phone_Number  
   , S.Mobile_Number
   , CASE WHEN S.Mobile_Number2 IS NULL OR S.Mobile_Number2 = N'' THEN N'--' ELSE S.Mobile_Number2 END as MobileNumber2 
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(S.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE S.CasteAndSubCaste END CasteAndSubCaste  
   , S.School_Id  
   , S.Academic_Year_ID  
   , S.Standard_Id  
   , S.Division_id  
   , S.SchoolWise_Standard_Division_Id  
   , S.Parent_Occupation  
   --, Standard_Name + N'-'+ Division_Name AS Class  
    ,S.Standard_Name + N'-' + CASE WHEN S.DisplayNameForDivision IS NULL OR S.DisplayNameForDivision = '' THEN S.division_name ELSE S.DisplayNameForDivision END AS Class               
    ,CASE WHEN B.Birth_Place = '' OR B.Birth_Place IS NULL THEN '--' ELSE B.Birth_Place END BirthPlace 
    ,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
	,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
      ,CASE WHEN B.Mother_Tongue = '' OR B.Mother_Tongue IS NULL THEN '--' ELSE B.Mother_Tongue END MotherTongue 
      ,CASE WHEN B.LastCompletedStd = '' OR B.LastCompletedStd IS NULL THEN '--' ELSE B.LastCompletedStd END LastCompletedStd 
      ,CASE WHEN B.LastSchoolName = '' OR B.LastSchoolName IS NULL THEN '--' ELSE B.LastSchoolName END LastSchoolName 
       ,CASE WHEN B.LastCompletedBoard = '' OR B.LastCompletedBoard IS NULL THEN '--' ELSE B.LastCompletedBoard END LastCompletedBoard
       ,CASE WHEN S.Nationality   = '' OR S.Nationality   IS NULL THEN '--' ELSE S.Nationality   END Nationality 
       ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
       ,CASE WHEN  CONVERT(NVARCHAR(12),B.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),B.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),B.SchoolLeft_Date  ,106)   END SchoolLeft_Date     
       ,CASE WHEN  S.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
	,B.StudentName
	,CASE WHEN B.AadharCardNo = '' OR B.AadharCardNo IS NULL THEN '--' ELSE B.AadharCardNo END AS AadharCardNo
    , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
		 CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
      CASE WHEN B.StudentUniqueNo IS NULL OR B.StudentUniqueNo = '' THEN '-' ELSE B.StudentUniqueNo END AS StudentUniqueNo,
	  CASE WHEN B.GRNumber IS NULL OR B.GRNumber = '' THEN '-' ELSE B.GRNumber END AS GRNumber,
	  CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
	  CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	  CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN b.NameOnAadharCard IS NULL OR b.NameOnAadharCard = '' THEN '-' ELSE b.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport S INNER JOIN #tblStudents 
			ON S.User_Id=#tblStudents.UserId  
		INNER JOIN vw_BaseStudentDetails B 
			ON #tblStudents.UserId = B.User_Id
		LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = B.SchoolWise_Student_Id
	   AND YWSD.School_Id = B.School_Id
	   AND S.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
				ON B.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
			--   AND B.School_Id = SAD.SchoolId
			   AND SAD.IsDeleted = 0
		LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
			ON B.SchoolWise_Student_Id = SSD.StudentId
	LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
	LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
		ON YWSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
	left outer join YearWise_Student_Details NYSD
on B.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id


   WHERE  
     (S.School_Id = @iSchoolId) AND (S.Academic_Year_ID = @iAcademicYrId) AND B.SchoolLeft_Date IS NULL 
      --AND (Standard_Id = @Standard_Id OR  @Standard_Id = 0) 
      AND (S.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      --AND (Division_id = @Division_id OR       @Division_id = 0)   
      AND (S.Division_id IN (SELECT DivisionId FROM @tblDivisions))
     --AND Enrolment_Number IN (SELECT Name FROM udf_GetTableFromStringList(@RegNo))  
   ORDER BY  
      S.Standard_Id, S.Division_id, S.Roll_No  
 END  
   
ELSE IF @IsExact=1  
 BEGIN  
   
 print N'3'  
 --This fuctiion is used to sort the elements by Enrollment Number  
   
 SET @RegNo=NULL  
  SELECT
	@IsSuperAdmin AS IsSuperAdmin
    ,CASE GS.Enrolment_Number WHEN N'' THEN N'-' ELSE GS.Enrolment_Number END AS Enrolment_Number  
    ,CASE WHEN BS.FormNumber = '' OR BS.FormNumber is null THEN N'-' ELSE BS.FormNumber END AS FormNumber 
   , BS.SchoolWise_Student_Id
   , GS.Roll_No, GS.First_Name  
   , CASE LEN(GS.Middle_Name) WHEN 0 THEN N'--' ELSE GS.Middle_Name END Middle_Name  
   , CASE LEN(GS.Last_Name) WHEN 0 THEN N'--' ELSE GS.Last_Name END Last_Name  
   , CASE LEN(GS.Mother_Name) WHEN 0 THEN N'--' ELSE GS.Mother_Name END Mother_Name  
   , GS.DOB  
   , GS.Admission_Date  
   , GS.Joining_Date  
   , CASE GS.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN GS.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(GS.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(GS.Blood_Group,N'--') END Blood_Group   
   , GS.Parent_Name  
   , CASE GS.Parent_Occupation WHEN 0 THEN CASE LEN(GS.Other_Occupation) WHEN 0 THEN N'--' ELSE GS.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , GS.Address  
   , GS.City  
   , GS.State
   , GS.Pincode  
   , CASE LEN(GS.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GS.Residence_Phone_Number END Residence_Phone_Number  
   , GS.Mobile_Number
   , CASE WHEN GS.Mobile_Number2 IS NULL OR GS.Mobile_Number2 = N'' THEN N'--' ELSE GS.Mobile_Number2 END as MobileNumber2  
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion 
   , Category_Name  
   , CASE LEN(GS.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GS.CasteAndSubCaste END CasteAndSubCaste  
   , GS.School_Id  
   , GS.Academic_Year_ID  
   , GS.Standard_Id  
   , GS.Division_id  
   , GS.SchoolWise_Standard_Division_Id  
   , GS.Parent_Occupation  
   --, Standard_Name + N'-'+ Division_Name AS Class
   ,GS.Standard_Name + N'-' + CASE WHEN GS.DisplayNameForDivision IS NULL OR GS.DisplayNameForDivision = '' THEN GS.division_name ELSE GS.DisplayNameForDivision END AS Class
    ,CASE WHEN BS.Birth_Place='' OR BS.Birth_Place IS NULL  THEN '--' ELSE BS.Birth_Place END BirthPlace 
	,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
	,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
   ,CASE WHEN BS.Mother_Tongue='' OR BS.Mother_Tongue IS NULL  THEN '--' ELSE BS.Mother_Tongue END MotherTongue 
   ,CASE WHEN BS.LastCompletedStd='' OR BS.LastCompletedStd IS NULL  THEN '--' ELSE BS.LastCompletedStd END LastCompletedStd 
   ,CASE WHEN BS.LastSchoolName='' OR BS.LastSchoolName IS NULL  THEN '--' ELSE BS.LastSchoolName END LastSchoolName 
   ,CASE WHEN BS.LastCompletedBoard='' OR BS.LastCompletedBoard IS NULL  THEN '--' ELSE BS.LastCompletedBoard END LastCompletedBoard   
   ,CASE WHEN GS.Nationality='' OR GS.Nationality IS NULL  THEN '--' ELSE GS.Nationality END Nationality      
   ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
   ,CASE WHEN  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date   ,106)   = '' or  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date   ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BS.SchoolLeft_Date   ,106)   END SchoolLeft_Date     
   ,CASE WHEN  GS.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
   , BS.StudentName
   , CASE WHEN BS.AadharCardNo = '' OR BS.AadharCardNo IS NULL THEN '--' ELSE BS.AadharCardNo END AS AadharCardNo
   , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
		 CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo ,
		 CASE WHEN BS.StudentUniqueNo IS NULL OR BS.StudentUniqueNo = '' THEN '-' ELSE BS.StudentUniqueNo END AS StudentUniqueNo,
		 CASE WHEN BS.GRNumber IS NULL OR BS.GRNumber = '' THEN '-' ELSE BS.GRNumber END AS GRNumber,
		 CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
		 CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
		CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN bs.NameOnAadharCard IS NULL OR bs.NameOnAadharCard = '' THEN '-' ELSE bs.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType,
		case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport GS INNER JOIN #tblStudents 
			ON GS.User_Id=#tblStudents.UserId 
		INNER JOIN vw_BaseStudentDetails BS 
			ON #tblStudents.UserId = BS.User_Id
		LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BS.School_Id
	   AND GS.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
 LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
				ON BS.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
			  -- AND BS.School_Id = SAD.SchoolId
			   AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
		 LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
			ON BS.SchoolWise_Student_Id = SSD.StudentId
LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
	LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
		ON YWSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
left outer join YearWise_Student_Details NYSD
on BS.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id

	
   WHERE  
     (GS.School_Id = @iSchoolId) AND (GS.Academic_Year_ID = @iAcademicYrId) AND (BSDS.SchoolLeft_Date IS NULL) 
      --AND (Standard_Id = @Standard_Id OR  @Standard_Id = 0) 
      AND (GS.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      --AND (Division_id = @Division_id OR       @Division_id = 0)   
      AND (GS.Division_id IN (SELECT DivisionId FROM @tblDivisions))
     --AND Enrolment_Number IN (SELECT Name FROM udf_GetTableFromStringList(@RegNo))  
       
   ORDER BY  
      Standard_Id, Division_id, Roll_No  
 END     
ELSE   
 BEGIN  
 print N'4'
 
 SELECT  
	 @IsSuperAdmin AS IsSuperAdmin
    ,CASE GSFE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSFE.Enrolment_Number END AS Enrolment_Number      
      ,CASE WHEN GSFE.FormNumber = '' OR GSFE.FormNumber is null THEN N'-' ELSE GSFE.FormNumber END AS FormNumber  
   ,BSDS.SchoolWise_Student_Id
   , GSFE.Roll_No, GSFE.First_Name  
   , CASE LEN(GSFE.Middle_Name) WHEN 0 THEN N'--' ELSE GSFE.Middle_Name END Middle_Name  
   , CASE LEN(GSFE.Last_Name) WHEN 0 THEN N'--' ELSE GSFE.Last_Name END Last_Name  
   , CASE LEN(GSFE.Mother_Name) WHEN 0 THEN N'--' ELSE GSFE.Mother_Name END Mother_Name  
   , GSFE.DOB  
   , GSFE.Admission_Date  
   , GSFE.Joining_Date  
   , CASE GSFE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
   , CASE    
    WHEN GSFE.Blood_Group = N'0' THEN N'--'  
    WHEN LEN(GSFE.Blood_Group)=0 THEN N'--'   
    ELSE ISNULL(GSFE.Blood_Group,N'--') END Blood_Group   
   , GSFE.Parent_Name  
   , CASE GSFE.Parent_Occupation WHEN 0 THEN CASE LEN(GSFE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSFE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
   , GSFE.Address  
   , GSFE.City  
   , GSFE.State 
   , GSFE.Pincode  
   , CASE LEN(GSFE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSFE.Residence_Phone_Number END Residence_Phone_Number  
   , GSFE.Mobile_Number 
   , CASE WHEN GSFE.Mobile_Number2 IS NULL OR GSFE.Mobile_Number2 = N'' THEN N'--' ELSE GSFE.Mobile_Number2 END as MobileNumber2 
   , CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
   , CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
   , Category_Name  
   , CASE LEN(GSFE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSFE.CasteAndSubCaste END CasteAndSubCaste  
   , GSFE.School_Id  
   , GSFE.Academic_Year_ID  
   , GSFE.Standard_Id  
   , GSFE.Division_id  
   , GSFE.SchoolWise_Standard_Division_Id  
   , GSFE.Parent_Occupation  
 --, Standard_Name + N'-'+ Division_Name AS Class  
   ,GSFE.Standard_Name + N'-' + CASE WHEN GSFE.DisplayNameForDivision IS NULL OR GSFE.DisplayNameForDivision = '' THEN GSFE.division_name ELSE GSFE.DisplayNameForDivision END AS Class
   ,CASE WHEN BSDS.Birth_Place = '' OR BSDS.Birth_Place is null THEN '--' ELSE BSDS.Birth_Place END BirthPlace 
   ,CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
   ,CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
   ,CASE WHEN BSDS.Mother_Tongue = '' OR BSDS.Mother_Tongue is null THEN '--' ELSE BSDS.Mother_Tongue END MotherTongue 
   ,CASE WHEN BSDS.LastCompletedStd = '' OR BSDS.LastCompletedStd is null THEN '--' ELSE BSDS.LastCompletedStd END LastCompletedStd 
   ,CASE WHEN BSDS.LastSchoolName = '' OR BSDS.LastSchoolName is null THEN '--' ELSE BSDS.LastSchoolName END LastSchoolName 
   ,CASE WHEN BSDS.LastCompletedBoard = '' OR BSDS.LastCompletedBoard is null THEN '--' ELSE BSDS.LastCompletedBoard END LastCompletedBoard      
   , CASE WHEN  GSFE.Nationality  = '' OR  GSFE.Nationality  is null THEN '--' ELSE  GSFE.Nationality  END Nationality 
   ,CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
   ,CASE WHEN  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date   ,106)   = '' or  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date   ,106)   END SchoolLeft_Date     
   ,CASE WHEN  GSFE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
   ,BSDS.StudentName
   ,CASE WHEN BSDS.AadharCardNo = '' OR BSDS.AadharCardNo IS NULL THEN '--' ELSE BSDS.AadharCardNo END AS AadharCardNo
   , CASE WHEN  @IsSuperAdmin = 'Y' 
			THEN  CASE WHEN SSD.SiblingId = 0 OR SSD.SiblingId IS NULL THEN 0 ELSE SSD.SiblingId END
			ELSE 0
	  END AS SiblingGroupIndex,
	  CASE WHEN UDISENumber IS NULL THEN '-'
	     WHEN UDISENumber = '' THEN '-'
		 ELSE UDISENumber END AS UDISENO,
		 CASE WHEN (BoardRegistrationNo IS NULL OR BoardRegistrationNo = '') THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
		CASE WHEN BSDS.StudentUniqueNo IS NULL OR BSDS.StudentUniqueNo = '' THEN '-' ELSE BSDS.StudentUniqueNo END AS StudentUniqueNo,
		CASE WHEN BSDS.GRNumber IS NULL OR BSDS.GRNumber = '' THEN '-' ELSE BSDS.GRNumber END AS GRNumber,
		CASE WHEN YWSD.RTECategoryId = 0 OR YWSD.RTECategoryId IS NULL THEN '-' ELSE RTE.CategoryName END AS RTECategory,
		CASE WHEN YWSD.RTEApplicationFormNo IS NULL OR YWSD.RTEApplicationFormNo = '' THEN '-' ELSE  YWSD.RTEApplicationFormNo END AS RTEApplicationFormNo,
	    CASE WHEN HCM.Name IS NULL OR HCM.Name = '' THEN '-' ELSE  HCM.Name END AS  HouseName,	  
	  CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		, CASE WHEN  tblSubjects1.SubjectName   = '' or  tblSubjects1.SubjectName   IS NULL THEN '--' ELSE  tblSubjects1.SubjectName   END ThirdLanguage		
		,CASE WHEN BSDS.NameOnAadharCard IS NULL OR BSDS.NameOnAadharCard = '' THEN '-' ELSE BSDS.NameOnAadharCard END AS NameOnAadharCard
		,ISNULL(RT.Name,'-') AS ResidenceType
		,case when SAD.PenNo = '' or SAD.PenNo IS NULL THEN '-' ELSE PenNo END AS PenNo,
		case when FatherAdharcardNo = '' or FatherAdharcardNo IS NULL THEN '-' ELSE FatherAdharcardNo END AS FatherAdharcardNo,
		case when MotherAadharCardNo = '' or MotherAadharCardNo IS NULL THEN '-' ELSE MotherAadharCardNo END AS MotherAadharCardNo,
		ISNULL(vsd.ClassName,'-') as AdmisssionClass
   FROM   
      vw_GetStudentForExport GSFE 
	INNER JOIN vw_BaseStudentDetails BSDS 
			ON GSFE.User_Id = BSDS.User_Id  
	LEFT OUTER JOIN YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSDS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSDS.School_Id
	   AND GSFE.Academic_Year_ID = YWSD.Academic_Year_ID
	    AND YWSD.Is_Deleted ='N'
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN @tblSubjectDetails tblSubjects1
	     	ON YWSD.ThirdLanguageSubjectId=tblSubjects1.SubjectId
--LEFT OUTER JOIN @tblSubjectDetailsforThirdLanguage tblThirdSubLanguage
--			 ON  YWSD.ThirdLanguageSubjectId=tblThirdSubLanguage.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
			ON BSDS.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
		--   AND BSDS.School_Id = SAD.SchoolId
		   AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
	  LEFT OUTER JOIN @tblSiblingUniqeDetails AS SSD
	  ON BSDS.SchoolWise_Student_Id = SSD.StudentId
LEFT OUTER JOIN RTE_CategoryMaster RTE
	ON YWSD.RTECategoryId = RTE.Id
	LEFT OUTER JOIN HouseConfigurationMaster HCM WITH(NOLOCK)
		ON YWSD.HouseId = HCM.Id
	AND HCM.IsDeleted = 0
 left outer join YearWise_Student_Details NYSD
on BSDS.SchoolWise_Student_Id = NYSD.Student_Id
and NYSD.Is_Deleted = 'N'
and NYSD.Is_New_Student = 1
left outer join vw_standard_division VSD
on NYSD.Standard_Id = VSD.Standard_Id
and NYSD.Division_id = VSD.Division_Id

   WHERE  
      (GSFE.School_Id = @iSchoolId) AND (GSFE.Academic_Year_ID = @iAcademicYrId)  AND BSDS.SchoolLeft_Date IS NULL 
      --AND (Standard_Id = @Standard_Id  OR  @Standard_Id = 0) 
      AND (GSFE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
      --AND (Division_id = @Division_id OR       @Division_id = 0)  
      AND (GSFE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
   ORDER BY  
      GSFE.Standard_Id, GSFE.Division_id, GSFE.Roll_No 

 END
 
   END
END