/****** Object:  StoredProcedure [dbo].[usp_GetStudents_Export_Details]    Script Date: 22-04-2026 15:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================  
-- Author:  Yogesh  
-- Create date: 6 Oct 2015  
-- Description: This procedure retrives all export details.   
-- =============================================  
  
ALTER PROCEDURE [dbo].[usp_GetStudents_Export_Details]  
  @iSchoolId INT  
, @iAcademicYrId INT  
, @Include INT = NULL
, @StandardList NVARCHAR(500) = NULL
, @DivisionList NVARCHAR(500) = NULL
AS  
BEGIN  
 SET NOCOUNT ON;   
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  
 
   
 DECLARE @tblStandards AS TABLE
 (
		StandardId INT
 )
   
 IF @StandardList IS NOT NULL AND @StandardList <> ''
 BEGIN
		INSERT INTO @tblStandards
		SELECT Ids
		FROM dbo.udf_GetTableFromList(@StandardList)
 END
 ELSE
 BEGIN
		INSERT INTO @tblStandards
		SELECT Standard_Id
		FROM Standard_Master WITH(NOLOCK)
		WHERE School_Id = @iSchoolId
		AND Academic_Year_Id = @iAcademicYrId
		AND Is_Deleted = 'N'
 END
   
 DECLARE @tblDivisions AS TABLE
 (
	DivisionId INT
 )
   
IF @DivisionList IS NOT NULL AND @DivisionList <> ''
BEGIN
		INSERT INTO @tblDivisions
		SELECT Ids
		FROM dbo.udf_GetTableFromList(@DivisionList)
END
ELSE
BEGIN
		INSERT INTO @tblDivisions
		SELECT Division_Id
		FROM Division_Master WITH(NOLOCK)
		WHERE School_Id = @iSchoolId
		AND Academic_Year_Id = @iAcademicYrId
		AND Is_Deleted = 'N'
END

IF(@Include IS NULL)
SET @Include = 0

   DECLARE @tblOptionalSubjectStandards AS TABLE
   (
		StandardName NVARCHAR(50)
   )

   IF @iSchoolId = 18
   BEGIN
		INSERT INTO @tblOptionalSubjectStandards
		SELECT '9'

		INSERT INTO @tblOptionalSubjectStandards
		SELECT '10'
   END

DECLARE @tblSubjectDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		SubjectId INT,
		SubjectName NVARCHAR(500)
	)

   IF EXISTS(
				SELECT TOP 1 1
				  FROM SchoolWise_Academic_Year_Master
				 WHERE School_Id = @iSchoolId
				   AND Is_Deleted = 'N'
				   AND Is_NewlyCreated = 'Y'
				   AND Academic_Year_ID = @iAcademicYrId
				   AND Is_Current_Year = 'N'
			)
			BEGIN			
				INSERT INTO @tblSubjectDetails
				     SELECT Original_Subject_Id,
					        Subject_Name
					   FROM Subject_Master
					  WHERE School_Id IS NULL
					    AND Is_Deleted = 'N'
			END
		ELSE
			BEGIN
				INSERT INTO @tblSubjectDetails
				     SELECT Original_Subject_Id,
							Subject_Name
					   FROM Subject_Master
					  WHERE School_Id = @iSchoolId
					    AND Is_Deleted = 'N'
						AND academic_Year_Id = @iAcademicYrId
			END

   
IF(@Include = 0)--All Students
BEGIN
print 'All Students'
	SELECT	CASE GSFE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSFE.Enrolment_Number END AS Enrolment_Number      
			, CASE WHEN GSFE.FormNumber = '' OR GSFE.FormNumber is null THEN N'-' ELSE GSFE.FormNumber END AS FormNumber  
			, GSFE.Roll_No, GSFE.First_Name  
			, CASE LEN(GSFE.Middle_Name) WHEN 0 THEN N'--' ELSE GSFE.Middle_Name END Middle_Name  
			, CASE LEN(GSFE.Last_Name) WHEN 0 THEN N'--' ELSE GSFE.Last_Name END Last_Name  
			, CASE LEN(GSFE.Mother_Name) WHEN 0 THEN N'--' ELSE GSFE.Mother_Name END Mother_Name  
			, GSFE.DOB  
			, GSFE.Admission_Date  
			, GSFE.Joining_Date  
			, CASE GSFE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
			, CASE    
			  WHEN GSFE.Blood_Group = N'0' THEN N'--'  
			  WHEN LEN(GSFE.Blood_Group)=0 THEN N'--'   
			  ELSE ISNULL(GSFE.Blood_Group,N'--') END Blood_Group   
			, GSFE.Parent_Name  
			, CASE GSFE.Parent_Occupation WHEN 0 THEN CASE LEN(GSFE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSFE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
			, GSFE.Address  
			, GSFE.City  
			, GSFE.State 
			, GSFE.Pincode  
			, CASE LEN(GSFE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSFE.Residence_Phone_Number END Residence_Phone_Number  
			, GSFE.Mobile_Number 
			, CASE WHEN GSFE.Mobile_Number2 IS NULL OR GSFE.Mobile_Number2 = N'' THEN N'--' ELSE GSFE.Mobile_Number2 END as MobileNumber2 
			, CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address
			, CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
			, Category_Name  
			, CASE LEN(GSFE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSFE.CasteAndSubCaste END CasteAndSubCaste  
			, GSFE.School_Id  
			, GSFE.Academic_Year_ID  
			, GSFE.Standard_Id  
			, GSFE.Division_id  
			, SchoolWise_Standard_Division_Id  
			, GSFE.Parent_Occupation 
			, Standard_Name + N'-' + CASE WHEN GSFE.DisplayNameForDivision IS NULL OR GSFE.DisplayNameForDivision = '' THEN division_name ELSE GSFE.DisplayNameForDivision END AS Class
			, CASE WHEN BSDS.Birth_Place = '' OR BSDS.Birth_Place is null THEN '--' ELSE BSDS.Birth_Place END BirthPlace 
			, CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
			, CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
			, CASE WHEN SAD.PenNo = '' OR SAD.PenNo IS NULL THEN '--' ELSE SAD.PenNo END AS PenNo
			, CASE WHEN BSDS.Mother_Tongue = '' OR BSDS.Mother_Tongue is null THEN '--' ELSE BSDS.Mother_Tongue END MotherTongue 
			, CASE WHEN BSDS.LastCompletedStd = '' OR BSDS.LastCompletedStd is null THEN '--' ELSE BSDS.LastCompletedStd END LastCompletedStd 
			, CASE WHEN BSDS.LastSchoolName = '' OR BSDS.LastSchoolName is null THEN '--' ELSE BSDS.LastSchoolName END LastSchoolName 
			, CASE WHEN BSDS.LastCompletedBoard = '' OR BSDS.LastCompletedBoard is null THEN '--' ELSE BSDS.LastCompletedBoard END LastCompletedBoard      
			, CASE WHEN  GSFE.Nationality  = '' OR  GSFE.Nationality  is null THEN '--' ELSE  GSFE.Nationality  END Nationality 
			, CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
			, CASE WHEN  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   END SchoolLeft_Date    
			, CASE WHEN  GSFE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
			, BSDS.StudentName
			, CASE WHEN BSDS.AadharCardNo = '' OR BSDS.AadharCardNo IS NULL THEN '--' ELSE BSDS.AadharCardNo END AS AadharCardNo
			, CASE WHEN UDISENumber IS NULL THEN '-' WHEN UDISENumber = '' THEN '-' ELSE UDISENumber END AS UDISENO
			, CASE WHEN BoardRegistrationNo IS NULL OR BoardRegistrationNo = '' THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
			CASE WHEN BSDS.StudentUniqueNo IS NULL OR BSDS.StudentUniqueNo = '' THEN '-' ELSE BSDS.StudentUniqueNo END AS StudentUniqueNo,
			CASE WHEN BSDS.GRNumber IS NULL OR BSDS.GRNumber = '' THEN '-' ELSE BSDS.GRNumber END AS GRNumber,
			CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				AND SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				AND SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		,CASE WHEN BSDS.NameOnAadharCard IS NULL OR BSDS.NameOnAadharCard = '' THEN '-' ELSE BSDS.NameOnAadharCard END AS NameOnAadharCard
		,CASE WHEN RT.Name = '' OR RT.Name IS NULL THEN '--' ELSE RT.Name END AS ResidenceType
      FROM  vw_GetStudentForExport GSFE WITH(NOLOCK) 
RIGHT JOIN  vw_BaseStudentDetails BSDS WITH(NOLOCK) 
        ON GSFE.User_Id = BSDS.User_Id  
inner join YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSDS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSDS.School_Id
	   AND GSFE.Academic_Year_ID = YWSD.Academic_Year_ID
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
			 ON SAD.SchoolwiseStudentId = BSDS.SchoolWise_Student_Id
			--AND SAD.SchoolId = BSDS.School_Id
			AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
     WHERE (GSFE.School_Id = @iSchoolId) 
       AND (GSFE.Academic_Year_ID = @iAcademicYrId) 
       AND (GSFE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
       AND (GSFE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
  ORDER BY  GSFE.Standard_Id, GSFE.Division_id, GSFE.Roll_No  
   
   END
   ELSE IF(@Include = 1) --Non-Left Students
   BEGIN 
   print 'Non-Left Students'
   SELECT	CASE GSFE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSFE.Enrolment_Number END AS Enrolment_Number      
			, CASE WHEN GSFE.FormNumber = '' OR GSFE.FormNumber is null THEN N'-' ELSE GSFE.FormNumber END AS FormNumber  
			, GSFE.Roll_No, GSFE.First_Name  
			, CASE LEN(GSFE.Middle_Name) WHEN 0 THEN N'--' ELSE GSFE.Middle_Name END Middle_Name  
			, CASE LEN(GSFE.Last_Name) WHEN 0 THEN N'--' ELSE GSFE.Last_Name END Last_Name  
			, CASE LEN(GSFE.Mother_Name) WHEN 0 THEN N'--' ELSE GSFE.Mother_Name END Mother_Name  
			, GSFE.DOB  
			, GSFE.Admission_Date  
			, GSFE.Joining_Date  
			, CASE GSFE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
			, CASE    
			  WHEN GSFE.Blood_Group = N'0' THEN N'--'  
			  WHEN LEN(GSFE.Blood_Group)=0 THEN N'--'   
			  ELSE ISNULL(GSFE.Blood_Group,N'--') END Blood_Group   
			, GSFE.Parent_Name  
			, CASE GSFE.Parent_Occupation WHEN 0 THEN CASE LEN(GSFE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSFE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
			, GSFE.Address  
			, GSFE.City  
			, GSFE.State 
			, GSFE.Pincode  
			, CASE LEN(GSFE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSFE.Residence_Phone_Number END Residence_Phone_Number  
			, GSFE.Mobile_Number 
			, CASE WHEN GSFE.Mobile_Number2 IS NULL OR GSFE.Mobile_Number2 = N'' THEN N'--' ELSE GSFE.Mobile_Number2 END as MobileNumber2
			, CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address
			, CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion  
			, Category_Name  
			, CASE LEN(GSFE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSFE.CasteAndSubCaste END CasteAndSubCaste  
			, GSFE.School_Id  
			, GSFE.Academic_Year_ID  
			, GSFE.Standard_Id  
			, GSFE.Division_id  
			, SchoolWise_Standard_Division_Id  
			, GSFE.Parent_Occupation 
			, Standard_Name + N'-' + CASE WHEN GSFE.DisplayNameForDivision IS NULL OR GSFE.DisplayNameForDivision = '' THEN division_name ELSE GSFE.DisplayNameForDivision END AS Class
			, CASE WHEN BSDS.Birth_Place = '' OR BSDS.Birth_Place is null THEN '--' ELSE BSDS.Birth_Place END BirthPlace 
			, CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
			, CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
			, CASE WHEN SAD.PenNo = '' OR SAD.PenNo IS NULL THEN '--' ELSE SAD.PenNo END AS PenNo
			, CASE WHEN BSDS.Mother_Tongue = '' OR BSDS.Mother_Tongue is null THEN '--' ELSE BSDS.Mother_Tongue END MotherTongue 
			, CASE WHEN BSDS.LastCompletedStd = '' OR BSDS.LastCompletedStd is null THEN '--' ELSE BSDS.LastCompletedStd END LastCompletedStd 
			, CASE WHEN BSDS.LastSchoolName = '' OR BSDS.LastSchoolName is null THEN '--' ELSE BSDS.LastSchoolName END LastSchoolName 
			, CASE WHEN BSDS.LastCompletedBoard = '' OR BSDS.LastCompletedBoard is null THEN '--' ELSE BSDS.LastCompletedBoard END LastCompletedBoard      
			, CASE WHEN  GSFE.Nationality  = '' OR  GSFE.Nationality  is null THEN '--' ELSE  GSFE.Nationality  END Nationality 
			, CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
			, CASE WHEN  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   END SchoolLeft_Date    
			, CASE WHEN  GSFE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
			, BSDS.StudentName
			, CASE WHEN BSDS.AadharCardNo = '' OR BSDS.AadharCardNo IS NULL THEN '--' ELSE BSDS.AadharCardNo END AS AadharCardNo
			, CASE WHEN UDISENumber IS NULL THEN '-' WHEN UDISENumber = '' THEN '-' ELSE UDISENumber END AS UDISENO
			, CASE WHEN BoardRegistrationNo IS NULL OR BoardRegistrationNo = '' THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
			CASE WHEN BSDS.StudentUniqueNo IS NULL OR BSDS.StudentUniqueNo = '' THEN '-' ELSE BSDS.StudentUniqueNo END AS StudentUniqueNo,
			CASE WHEN BSDS.GRNumber IS NULL OR BSDS.GRNumber = '' THEN '-' ELSE BSDS.GRNumber END AS GRNumber,
			 CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		,CASE WHEN BSDS.NameOnAadharCard IS NULL OR BSDS.NameOnAadharCard = '' THEN '-' ELSE BSDS.NameOnAadharCard END AS NameOnAadharCard
		,CASE WHEN RT.Name = '' OR RT.Name IS NULL THEN '--' ELSE RT.Name END AS ResidenceType
      FROM  vw_GetStudentForExport GSFE WITH(NOLOCK) 
INNER JOIN  vw_BaseStudentDetails BSDS WITH(NOLOCK) 
        ON GSFE.User_Id = BSDS.User_Id  
inner join YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSDS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSDS.School_Id
	   AND GSFE.Academic_Year_ID = YWSD.Academic_Year_ID
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
			 ON SAD.SchoolwiseStudentId = BSDS.SchoolWise_Student_Id
			--AND SAD.SchoolId = BSDS.School_Id
			AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
     WHERE  (GSFE.School_Id = @iSchoolId) 
       AND  (GSFE.Academic_Year_ID = @iAcademicYrId)  
       AND   BSDS.SchoolLeft_Date IS NULL 
       AND  (GSFE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
       AND  (GSFE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
  ORDER BY  GSFE.Standard_Id, GSFE.Division_id, GSFE.Roll_No  
   
   END
  ELSE --Left Students
   BEGIN
   print 'Left Students'
    SELECT	CASE GSFE.Enrolment_Number WHEN N'' THEN N'-' ELSE GSFE.Enrolment_Number END AS Enrolment_Number      
			, CASE WHEN GSFE.FormNumber = '' OR GSFE.FormNumber is null THEN N'-' ELSE GSFE.FormNumber END AS FormNumber  
			, GSFE.Roll_No, GSFE.First_Name  
			, CASE LEN(GSFE.Middle_Name) WHEN 0 THEN N'--' ELSE GSFE.Middle_Name END Middle_Name  
			, CASE LEN(GSFE.Last_Name) WHEN 0 THEN N'--' ELSE GSFE.Last_Name END Last_Name  
			, CASE LEN(GSFE.Mother_Name) WHEN 0 THEN N'--' ELSE GSFE.Mother_Name END Mother_Name  
			, GSFE.DOB  
			, GSFE.Admission_Date  
			, GSFE.Joining_Date  
			, CASE GSFE.Sex WHEN N'M' THEN N'Male' ELSE N'Female' END Sex  
			, CASE    
		      WHEN GSFE.Blood_Group = N'0' THEN N'--'  
			  WHEN LEN(GSFE.Blood_Group)=0 THEN N'--'   
			  ELSE ISNULL(GSFE.Blood_Group,N'--') END Blood_Group   
			, GSFE.Parent_Name  
			, CASE GSFE.Parent_Occupation WHEN 0 THEN CASE LEN(GSFE.Other_Occupation) WHEN 0 THEN N'--' ELSE GSFE.Other_Occupation END ELSE Ocupation_Name END AS Ocupation_Name  
			, GSFE.Address  
			, GSFE.City  
			, GSFE.State 
			, GSFE.Pincode  
			, CASE LEN(GSFE.Residence_Phone_Number) WHEN 0 THEN N'--' ELSE GSFE.Residence_Phone_Number END Residence_Phone_Number  
			, GSFE.Mobile_Number 
			, CASE WHEN GSFE.Mobile_Number2 IS NULL OR GSFE.Mobile_Number2 = N'' THEN N'--' ELSE GSFE.Mobile_Number2 END as MobileNumber2 
			, CASE WHEN Email_Address = '' OR Email_Address is null THEN N'--' ELSE Email_Address END AS Email_Address 
			, CASE WHEN SAD.Religion = '' OR SAD.Religion IS NULL THEN '--' ELSE SAD.Religion END AS Religion
			, Category_Name  
			, CASE LEN(GSFE.CasteAndSubCaste) WHEN 0 THEN N'--' ELSE GSFE.CasteAndSubCaste END CasteAndSubCaste  
			, GSFE.School_Id  
			, GSFE.Academic_Year_ID  
			, GSFE.Standard_Id  
			, GSFE.Division_id  
			, SchoolWise_Standard_Division_Id  
			, GSFE.Parent_Occupation 
			, Standard_Name + N'-' + CASE WHEN GSFE.DisplayNameForDivision IS NULL OR GSFE.DisplayNameForDivision = '' THEN division_name ELSE GSFE.DisplayNameForDivision END AS Class
			, CASE WHEN BSDS.Birth_Place = '' OR BSDS.Birth_Place is null THEN '--' ELSE BSDS.Birth_Place END BirthPlace 
			, CASE WHEN SAD.BirthTaluka = '' OR SAD.BirthTaluka IS NULL THEN '--' ELSE SAD.BirthTaluka END AS BirthTaluka
			, CASE WHEN SAD.BirthDistrict = '' OR SAD.BirthDistrict IS NULL THEN '--' ELSE SAD.BirthDistrict END AS BirthDistrict
			, CASE WHEN SAD.PenNo = '' OR SAD.PenNo IS NULL THEN '--' ELSE SAD.PenNo END AS PenNo
			, CASE WHEN BSDS.Mother_Tongue = '' OR BSDS.Mother_Tongue is null THEN '--' ELSE BSDS.Mother_Tongue END MotherTongue 
			, CASE WHEN BSDS.LastCompletedStd = '' OR BSDS.LastCompletedStd is null THEN '--' ELSE BSDS.LastCompletedStd END LastCompletedStd 
			, CASE WHEN BSDS.LastSchoolName = '' OR BSDS.LastSchoolName is null THEN '--' ELSE BSDS.LastSchoolName END LastSchoolName 
			, CASE WHEN BSDS.LastCompletedBoard = '' OR BSDS.LastCompletedBoard is null THEN '--' ELSE BSDS.LastCompletedBoard END LastCompletedBoard      
			, CASE WHEN  GSFE.Nationality  = '' OR  GSFE.Nationality  is null THEN '--' ELSE  GSFE.Nationality  END Nationality 
			, CASE WHEN  tblSubjects.SubjectName   = '' or  tblSubjects.SubjectName   IS NULL THEN '--' ELSE  tblSubjects.SubjectName   END SecondLanguage
			, CASE WHEN  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   = '' or  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   IS NULL THEN '--' ELSE  CONVERT(NVARCHAR(12),BSDS.SchoolLeft_Date  ,106)   END SchoolLeft_Date    
			, CASE WHEN  GSFE.Is_RTE_Student = 0 THEN '--' ELSE  'Yes'   END Is_RTE_Student
			, BSDS.StudentName
			, CASE WHEN BSDS.AadharCardNo = '' OR BSDS.AadharCardNo IS NULL THEN '--' ELSE BSDS.AadharCardNo END AS AadharCardNo
			, CASE WHEN UDISENumber IS NULL THEN '-' WHEN UDISENumber = '' THEN '-' ELSE UDISENumber END AS UDISENO
			, CASE WHEN BoardRegistrationNo IS NULL OR BoardRegistrationNo = '' THEN '-' ELSE BoardRegistrationNo END AS BoardRegistrationNo,
			CASE WHEN BSDS.StudentUniqueNo IS NULL OR BSDS.StudentUniqueNo = '' THEN '-' ELSE BSDS.StudentUniqueNo END AS StudentUniqueNo,
			CASE WHEN BSDS.GRNumber IS NULL OR BSDS.GRNumber = '' THEN '-' ELSE BSDS.GRNumber END AS GRNumber,
			CAST(ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-2','Grp2','G2')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% II'))
				--AND OS.Name IN('G-2','Grp2','G2')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN('G-2','Grp2','G2')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group2Name,
		CAST( ISNULL(STUFF((
				select ', '+ cast( SM.Subject_Name as nvarchar(255)) 
				 from YearWise_Student_Details YSD
				INNER JOIN StudentWiseOptionalSubjects SWOS
					ON      YSD.YearWise_Student_Id=SWOS.Student_Id
				INNER JOIN     vw_standard_division vSD
					ON         YSD.Standard_Id=vSD.Standard_Id
					and        YSD.Division_id = vSD.Division_Id
				   INNER JOIN  Subject_Master SM
					   ON      SWOS.Subject_Id=SM.Subject_Id
			 INNER  JOIN  
			 (
				SELECT OS.Standard_Division_Id, OS.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Master SM
				ON OS.Subject_Id = SM.Subject_Id
				INNER JOIN vw_standard_division VSD
				ON OS.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
				LEFT OUTER JOIN @tblOptionalSubjectStandards TOSD
				ON VSD.Standard_Name = TOSD.StandardName
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id <> 0
				and SM.Is_Deleted = 'N'
				AND ((TOSD.StandardName IS NOT NULL AND OS.Name IN('G-3','Grp3 ','OPT')) OR (TOSD.StandardName IS NULL AND SM.Subject_Name LIKE '% III'))
				--AND OS.Name IN ( 'G-3','Grp3 ','OPT')
				UNION
				SELECT OS.Standard_Division_Id, SG.Subject_Id
				FROM  OptionalSubjects_Settings OS
				INNER JOIN Subject_Groups SG
				ON OS.SubjectGroupId = SG.Parent_Group_Id
				WHERE OS.School_Id = @iSchoolId
				and os.Academic_Year_Id = @iAcademicYrId
				AND OS.Is_Deleted = 'N'
				AND OS.Subject_Id  = 0
				AND SG.Is_Deleted = 'N'
				AND OS.Name IN ( 'G-3','Grp3 ','OPT')
			 ) OPSS
		   ON      vSD.SchoolWise_Standard_Division_Id=OPSS.Standard_Division_Id
		   and SWOS.Subject_Id=OPSS.Subject_Id
		       where YSD.School_Id=@iSchoolId
              and YSD.Academic_Year_ID=@iAcademicYrId
			  AND YSD.Yearwise_Student_Id=YWSD.Yearwise_Student_Id
			  AND SWOS.Is_Deleted = 'N'
		 FOR XML PATH('')
		),1,2,''),'-') AS NVARCHAR(200)) AS Group3Name
		,CASE WHEN BSDS.NameOnAadharCard IS NULL OR BSDS.NameOnAadharCard = '' THEN '-' ELSE BSDS.NameOnAadharCard END AS NameOnAadharCard
		,CASE WHEN RT.Name = '' OR RT.Name IS NULL THEN '--' ELSE RT.Name END AS ResidenceType
      FROM  vw_GetStudentForExport GSFE WITH(NOLOCK)
INNER JOIN	vw_BaseStudentDetails BSDS WITH(NOLOCK) 
        ON GSFE.User_Id = BSDS.User_Id  
inner join YearWise_Student_Details YWSD
		ON YWSD.Student_Id = BSDS.SchoolWise_Student_Id
	   AND YWSD.School_Id = BSDS.School_Id
	   AND GSFE.Academic_Year_ID = YWSD.Academic_Year_ID
LEFT OUTER JOIN @tblSubjectDetails tblSubjects
			 ON YWSD.SecondLanguageSubjectId = tblSubjects.SubjectId
LEFT OUTER JOIN StudentAdditionalDetails SAD
			 ON SAD.SchoolwiseStudentId = BSDS.SchoolWise_Student_Id
			--AND SAD.SchoolId = BSDS.School_Id
			AND SAD.IsDeleted = 0
LEFT OUTER JOIN ResidenceTypes RT
			ON SAD.ResidenceTypeId = RT.ResidenceTypeId
			AND RT.Is_Deleted = 'N'
     WHERE  (GSFE.School_Id = @iSchoolId) 
       AND  (GSFE.Academic_Year_ID = @iAcademicYrId)  
       AND	BSDS.SchoolLeft_Date IS NOT NULL 
       AND  (GSFE.Standard_Id IN (SELECT StandardId FROM @tblStandards))
       AND  (GSFE.Division_id IN (SELECT DivisionId FROM @tblDivisions))
  ORDER BY  GSFE.Standard_Id, GSFE.Division_id, GSFE.Roll_No  
   
    END
    END