/****** Object:  UserDefinedFunction [Accounts].[udf_GetParticularsForFeeVoucher]    Script Date: 21-04-2026 17:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author		: Vishal B. Shah
-- Create date	: 27-Dec-2011
-- Description	: Returns fee particulars for the given studentid & receiptno.
-- ------------------------------------------------------------------------------------------------
-- MODIFICATION LOG
-- ##	Date		Author		Description
-- ------------------------------------------------------------------------------------------------
-- 01	25-Mar-13	Vishal		#6343. Updated to handle Advance fee payment and fee bifurcation
--								scenarios. Please see task and related document for details.
--		14-Oct-2013 Pravin		This function is modified to include electronic transaction details.
-- ================================================================================================
ALTER FUNCTION [Accounts].[udf_GetParticularsForFeeVoucher]
(
	@SchoolId INT,
	@FinancialYearId INT,
	@StudentId INT,
	@ReceiptNo NVARCHAR(50),
	@PaymentMode INT
)
RETURNS @VoucherParticulars TABLE
(
	LedgerId	 INT,
	IsDebit		 BIT,
	Amount		 DECIMAL(18,2),
	IsAdvanceFee BIT
)
AS
BEGIN

	DECLARE @AcademicYearId INT
	SELECT @AcademicYearId = Academic_Year_ID
	FROM YearWise_Student_Details
	WHERE Is_Deleted = 'N'
	AND School_Id = @SchoolId
	AND YearWise_Student_Id = @StudentId
		
	DECLARE @tblFeeDetails AS TABLE
	(
		AcademicYearId INT,
		TuitionFee INT,
		TermFee INT
	)

	DECLARE @TuitionFee INT,
			@TermFee INT
	
	INSERT INTO @tblFeeDetails (AcademicYearId, TuitionFee, TermFee)
	SELECT 9, 11000, 5000
	UNION SELECT 10, 11000, 5000
	union SELECT 11, 11000, 5000
	UNION SELECT 12, 12650, 5750
	UNION SELECT 13, 12650, 5750

	SELECT @TuitionFee = TuitionFee,
		   @TermFee = TermFee
	FROM @tblFeeDetails
	WHERE AcademicYearId = @AcademicYearId
	
	
	DECLARE @FinancialYearStartDate DATE,
			@FinancialYearEndDate   DATE,
			@ChequePayment INT	= 2,
			@CashPayment INT	= 1,
			@CardPayment INT = 3,
			@OnlinePayment INT = 4,			
			@ElectronicPayment INT	= 5,
			@CashInBank INT = 6,
			@JournalVoucher INT = 7
			
	SELECT @FinancialYearStartDate = FYM.StartDate
		  ,@FinancialYearEndDate   = FYM.EndDate
	  FROM Accounts.FinancialYearMaster FYM WITH(NOLOCK)
	 WHERE FYM.FinancialYearId = @FinancialYearId
	   AND FYM.IsDeleted = 0
	
	DECLARE @VoucherParticularsTemp TABLE
	(
		 Id				INT IDENTITY(1,1),
		 LedgerId		INT,
		 IsDebit		BIT,
		 Amount			DECIMAL(18, 2),
		 AdvanceFeeType TINYINT,
		 Start			DATE,
		 [End]			DATE
	)

	INSERT @VoucherParticularsTemp
	SELECT LM.Id
		  ,CASE WHEN SUBQ.Is_Concession_Fee = 'Y'
				THEN 1
				ELSE 0
			END [IsDebit]
		  ,SUM(SUBQ.Amount)
		  ,SUBQ.AdvanceFeeType
		  ,SUBQ.IntervalStartDate
		  ,SUBQ.IntervalEndDate
	  FROM Accounts.LedgerMaster LM  WITH(NOLOCK)
INNER JOIN (SELECT DISTINCT
				   CASE WHEN LM.Id IS NOT NULL
						THEN LM.Id
						ELSE CASE WHEN SSFD.Std_FeeType_Id IS NULL OR SSFD.Std_FeeType_Id = 0
								  THEN Accounts.udf_GetLedgerIdForNewFeeType(SSFD.School_Id, SSFD.Academic_Year_Id, @FinancialYearId, SSFD.Fee_Type, SSFD.Student_Id, SSFD.Receipt_Number)
							--	  THEN Accounts.udf_GetLedgerIdForNewFeeType(SSFD.School_Id, SSFD.Academic_Year_Id, @FinancialYearId, ISNULL(SSFD1.Fee_Type, SSFD.Fee_Type))
								  ELSE Accounts.udf_GetLedgerIdForFeeType(SSFD.School_Id, SSFD.Academic_Year_Id, @FinancialYearId, SSFD.Std_FeeType_Id, SSFD.Student_Id, SSFD.Receipt_Number)
							  END
					END AS [LedgerId]
				  ,SSFD.Amount
				  ,SSFD.Is_Concession_Fee
				  ,SSFD.Student_Fee_Id
				  ,SSFD.IntervalStartDate
				  ,SSFD.IntervalEndDate
				  /**
				   *  Check if the fee type is being paid in advance.
				   *  0 - Record the fee against the respective ledger.
				   *  1 - Fee type is partially outside the current financial year. If bifurcation applies for it, it will be bifurcated as per its period.
				   *  2 - Fee type is completely outside the current financial year. It will be recorded against the 'Advance Fees Received' ledger.
				   */
				  ,CASE
					   -- If the Interval start date or end date is null, we cannot determine if it is advance fee or if it needs to be bifurcated.
					   WHEN SSFD.IntervalStartDate IS NULL OR SSFD.IntervalEndDate IS NULL
					   THEN 0
					   -- When interval is completely outside current financial year.
					   WHEN SSFD.IntervalStartDate > @FinancialYearEndDate
					   THEN 2
					   -- If bifurcation is applicable for the fee type
					   WHEN SFTC.ConsiderForBifurcation = 1
					   THEN CASE
					   			-- When interval is within current financial year.
					   			WHEN SSFD.IntervalEndDate <= @FinancialYearEndDate
								THEN 0
								-- When interval is partially outside the current financial year
								ELSE 1
							 END
					   ELSE 0
					END AdvanceFeeType					
			  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
   LEFT OUTER JOIN Schoolwise_Student_Fee_Details SSFD1  WITH(NOLOCK)
				ON SSFD.Student_Fee_Id = SSFD1.Schoolwise_Student_Fee_Id
   LEFT OUTER JOIN Schoolwise_Debit_Entry_Log SWDEL  WITH(NOLOCK)
				ON SSFD1.Serial_Number = SWDEL.Serial_Number
			   AND SSFD.Academic_Year_Id = SWDEL.Academic_Year_Id
			   AND SSFD.School_Id = SWDEL.School_Id
			   AND SWDEL.Is_Deleted = 'N'
			   AND SWDEL.IsInternalFee = 0
   LEFT OUTER JOIN Accounts.LedgerMaster LM  WITH(NOLOCK)
				ON SWDEL.LedgerId = ISNULL(LM.OriginalId, LM.Id)
			   AND LM.SchoolId = @SchoolId
			   AND LM.FinancialYearId = @FinancialYearId
			   AND LM.IsDeleted = 0
   LEFT OUTER JOIN dbo.Schoolwise_Standard_FeeType_Master SSFTM  WITH(NOLOCK)
				ON SSFD.Std_FeeType_Id = SSFTM.SchoolWise_Standard_FeeType_Id
			   AND SSFD.School_Id = SSFTM.School_Id
			   AND SSFD.Academic_Year_Id = SSFTM.Academic_Year_Id
   LEFT OUTER JOIN dbo.Schoolwise_Fee_Type_Configuration SFTC  WITH(NOLOCK)
				ON SSFTM.Fee_Type_Id = SFTC.Fee_Type_Id
			   AND SSFTM.School_Id = SFTC.School_Id
			   AND SSFTM.Academic_Year_Id = SFTC.Academic_Year_Id
   LEFT OUTER JOIN dbo.YearWise_Student_Details YSD  WITH(NOLOCK)
				ON SSFD.Student_Id = YSD.YearWise_Student_Id
			   AND SSFD.School_Id = YSD.School_Id
			   AND SSFD.Academic_Year_Id = YSD.Academic_Year_Id	
			 WHERE SSFD.Student_Id = @StudentId
			   AND SSFD.School_Id = @SchoolId
			   AND SSFD.Is_Deleted = 'N'
			   AND SSFD.Is_Cheque_Bounce = 'N'
			   AND SSFD.Receipt_Number = @ReceiptNo) AS SUBQ
		ON LM.Id = SUBQ.LedgerId
  GROUP BY LM.Id
		  ,SUBQ.Is_Concession_Fee
		  ,SUBQ.AdvanceFeeType
		  ,SUBQ.IntervalStartDate
		  ,SUBQ.IntervalEndDate

	-- Insert entries from the @VoucherParticularsTemp table into the @VoucherParticulars table
	-- which are to be recorded directly to their respective ledgers (i.e. AdvanceFeeType = 0)
	-- The other two types are handled below.
	INSERT @VoucherParticulars
	(
		   LedgerId
		  ,IsDebit
		  ,Amount
		  ,IsAdvanceFee
	)
	SELECT VPT.LedgerId
		  ,VPT.IsDebit
		  ,SUM(VPT.Amount)
		  ,0
	  FROM @VoucherParticularsTemp VPT
	 WHERE VPT.AdvanceFeeType = 0
  GROUP BY VPT.LedgerId
		  ,VPT.IsDebit

declare @AccYearId INT
select @AccYearId = Academic_Year_Id
from Schoolwise_Student_Fee_Details
where Student_Id = @StudentId
and Receipt_Number = @ReceiptNo
and Is_Deleted = 'N'
and [Debit/Credit] = 'credit'

IF(@SchoolId = 11 AND @FinancialYearId >= 11 and @AccYearId > 9 AND @FinancialYearId <=15 AND @AccYearId <= 13)
	BEGIN	
	
	--	DECLARE @PaidAmount INT = 0

	--	SELECT @PaidAmount = Amount
	--	  FROM @VoucherParticulars
	--	 WHERE IsDebit = 0
	--	   AND LedgerId = 581 -- Tuition Fee
		   
	--declare @FinalTuitionFeeAmount INT = 0,
	--		@FinalTermFeeAmount INT = 0,
	--		@NewAmount int = 0

	--	IF @PaidAmount <= 11000
	--	BEGIN
	--		SET @NewAmount = 0
	--	END
	--	ELSE IF @PaidAmount > 11000 and @PaidAmount <= 16000
	--	BEGIN
	--		SET @NewAmount = @PaidAmount - 11000
	--	END
	--	ELSE IF @PaidAmount > 16000 and @PaidAmount < 32000
	--	BEGIN
	--		SET @NewAmount = 5000
	--	END
	--	ELSE IF @PaidAmount >= 32000 and @PaidAmount < 48000
	--	BEGIN
	--		SET @NewAmount = 5000 * 2
	--	END
	--	ELSE IF @PaidAmount >= 48000 and @PaidAmount < 64000
	--	BEGIN
	--		SET @NewAmount = 5000 * 3
	--	END
	--	ELSE IF @PaidAmount >= 64000
	--	BEGIN
	--		SET @NewAmount = 5000 * 4
	--	END

	--	SET @FinalTuitionFeeAmount = @FinalTuitionFeeAmount + (@PaidAmount - @NewAmount)
	--	SET @FinalTermFeeAmount = @FinalTermFeeAmount  + @NewAmount

	--	UPDATE @VoucherParticulars
	--	SET Amount = @FinalTuitionFeeAmount
	--	WHERE LedgerId = 581 -- Tuition Fee

	--	IF NOT EXISTS
	--		(
	--			SELECT TOP 1 1
	--			FROM @VoucherParticulars
	--			WHERE LedgerId = 564
	--		)
	--		AND @FinalTermFeeAmount <> 0
	--		BEGIN			
	--			INSERT INTO @VoucherParticulars
	--				SELECT 564,
	--					0,
	--					@FinalTermFeeAmount,
	--					0
	--		END
	--		ELSE
	--		BEGIN
	--			UPDATE @VoucherParticulars
	--			SET Amount = Amount + @FinalTermFeeAmount
	--			WHERE LedgerId = 564
	--		END

	declare @tblPaidFee AS TABLE
				(
					Id INT IDENTITY(1,1),
					Fee_Type NVARCHAR(100),
					Payable_For NVARCHAR(100),
					Amount INT
				)

				declare @FinalTuitionFeeAmount INT = 0,
						@FinalTermFeeAmount INT = 0,
						@Id_Fee INT,
						@Fee_Type NVARCHAR(100),
						@Payable_For NVARCHAR(100),
						@FeeAmount INT,
						@TotalExisingPaidAmount INT,
						--@StudentId int,
						--@ReceiptNo int,
						@Idnt int

	INSERT INTO @tblPaidFee
				select Fee_Type,Payable_For,SUM(Amount) 
				from Schoolwise_Student_Fee_Details ssfd
				where Student_Id = @StudentId
				and convert(int,Receipt_Number) = @ReceiptNo
				and Is_Deleted = 'N'
				and [Debit/Credit] = 'credit'
				and  (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
				and Is_Concession_Fee = 'N'
				and Fee_Type = 'Quarter fees'
				and SSFD.IntervalStartDate <= @FinancialYearEndDate
				group by Fee_Type,Payable_For

				WHILE EXISTS
				(
					SELECT TOP 1 1
					FROM @tblPaidFee
				)
				BEGIN
					SELECT TOP 1 @Id_Fee = iD, @Fee_Type = Fee_Type,
								@Payable_For = Payable_For,
								@FeeAmount = Amount
					FROM @tblPaidFee
					ORDER BY ID

					select @TotalExisingPaidAmount = ISNULL(SUM(Amount),0)
					from Schoolwise_Student_Fee_Details ssfd
					where Student_Id = @StudentId
					and convert(int,Receipt_Number) < @ReceiptNo
					and Is_Deleted = 'N'
					and [Debit/Credit] = 'credit'
					AND Fee_Type = @Fee_Type
					AND Payable_For = @Payable_For
					and  (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
					and Is_Concession_Fee = 'N'
					and Fee_Type = 'Quarter fees'
					and SSFD.IntervalStartDate <= @FinancialYearEndDate

					IF @TotalExisingPaidAmount = 0
					BEGIN
						IF @FeeAmount <= @TuitionFee
							SET @FinalTuitionFeeAmount = @FinalTuitionFeeAmount + @FeeAmount
						ELSE IF @FeeAmount > @TuitionFee
						BEGIN
							SET @FinalTuitionFeeAmount = @FinalTuitionFeeAmount + @TuitionFee
							SET @FinalTermFeeAmount = @FinalTermFeeAmount + (@FeeAmount - @TuitionFee)
						END
					END
					ELSE
					BEGIN
						IF @TotalExisingPaidAmount >= @TuitionFee
							SET @FinalTermFeeAmount = @FinalTermFeeAmount + @FeeAmount
						ELSE IF (@TotalExisingPaidAmount + @FeeAmount) <= @TuitionFee
							SET @FinalTuitionFeeAmount = @FinalTuitionFeeAmount + @FeeAmount
						ELSE IF  (@TotalExisingPaidAmount + @FeeAmount) > @TuitionFee
						BEGIN			
							SET @FinalTuitionFeeAmount = @FinalTuitionFeeAmount + (@TuitionFee-@TotalExisingPaidAmount)
							SET @FinalTermFeeAmount = @FinalTermFeeAmount + (@FeeAmount - ((@TuitionFee-@TotalExisingPaidAmount)))
						END
					END

					set @TotalExisingPaidAmount = 0
			
					DELETE FROM @tblPaidFee
					WHERE id = @Id_Fee
				END

				declare @AccYear NVARCHAR(50),						
						@CurrAccYearid INT

				SELECT @CurrAccYearid = Academic_Year_ID
				FROM SchoolWise_Academic_Year_Master
				WHERE School_Id = @SchoolId
				AND Is_Deleted = 'N'
				and Is_Current_Year = 'Y'

				DECLARE @PaymentFinYear INT

				SELECT @PaymentFinYear = fym.FinancialYearId
				FROM ACCOUNTS.FinancialYearMaster FYM
				inner join SchoolWise_Academic_Year_Master saym
				on year(fym.EndDate) = year(saym.End_Date)
				and year(fym.StartDate) = year(saym.Start_date)
				WHERE SchoolId = @SchoolId
				AND IsDeleted = 0
				and saym.Academic_Year_ID = @AccYearId

				--IF @CurrAccYearid > @AccYearId
				IF @FinancialYearId > @PaymentFinYear
				BEGIN	
						SELECT @AccYear = ' ('+CONVERT(NVARCHAR(10),DATEPART(YEAR,Start_date)) + '-' + SUBSTRING(CONVERT(NVARCHAR(10),DATEPART(YEAR,End_Date)),3, LEN(CONVERT(NVARCHAR(10),DATEPART(YEAR,End_Date))))+')'
						FROM SchoolWise_Academic_Year_Master
						WHERE School_Id = @SchoolId
						AND Is_Deleted = 'N'
						AND Academic_Year_ID = @AccYearId
				END
				ELSE
				BEGIN
					SET @AccYear = ''
				END


				declare @TuitionFeeLedgerId INT,
						@TermFeeLedgerId INT,
						@QuarterfeesId INT

				SELECT @TuitionFeeLedgerId = Id
				FROM Accounts.LedgerMaster
				WHERE IsDeleted = 0
				AND FinancialYearId = @FinancialYearId
				AND Name = 'Tuition Fees'+@AccYear

				SELECT @TermFeeLedgerId = Id
				FROM Accounts.LedgerMaster
				WHERE IsDeleted = 0
				AND FinancialYearId = @FinancialYearId
				AND Name = 'Term Fees'+@AccYear

				SELECT @QuarterfeesId = Id
				FROM Accounts.LedgerMaster
				WHERE IsDeleted = 0
				AND FinancialYearId = @FinancialYearId
				AND Name = 'Quarter fees'+@AccYear

				IF NOT EXISTS
				(
					select top 1 1
					from @VoucherParticulars
					where LedgerId = @QuarterfeesId
				)
				BEGIN
						set @QuarterfeesId = @TuitionFeeLedgerId
				END

		--UPDATE @VoucherParticulars
		--	SET Amount = @FinalTuitionFeeAmount
		--	WHERE LedgerId = @TuitionFeeLedgerId -- Tuition Fee

		UPDATE @VoucherParticulars
			SET Amount = @FinalTuitionFeeAmount,
				LedgerId = @TuitionFeeLedgerId
			WHERE LedgerId = @QuarterfeesId 

				IF NOT EXISTS
					(
						SELECT TOP 1 1
						FROM @VoucherParticulars
						WHERE LedgerId = @TermFeeLedgerId
					)
					AND @FinalTermFeeAmount <> 0
					BEGIN			
						INSERT INTO @VoucherParticulars
							SELECT @TermFeeLedgerId,
								0,
								@FinalTermFeeAmount,
								0
					END
					ELSE
					BEGIN
						UPDATE @VoucherParticulars
						SET Amount = Amount + @FinalTermFeeAmount
						WHERE LedgerId = @TermFeeLedgerId
					END


				
					SET @FinalTuitionFeeAmount = 0
					SET @FinalTermFeeAmount = 0
				

		--END





	END

	DECLARE @AdvanceFeeLedgerId INT,
	        @AcademicYrId INT = 0

		SELECT TOP 1 @AcademicYrId = Academic_Year_Id
		  FROM Schoolwise_Student_Fee_Details
		 WHERE Is_Deleted = 'N'
		   AND School_Id = @SchoolId
		   AND [Debit/Credit] = 'Credit'
		   AND Receipt_Number = @ReceiptNo
		   AND Is_Cheque_Bounce = 'N'
		   AND Is_Late_Fee = 'N'
		   AND Student_Id = @StudentId
	
	IF EXISTS (SELECT TOP 1 1
				 FROM @VoucherParticularsTemp
				WHERE AdvanceFeeType IN (1, 2))
	BEGIN
		SELECT @AdvanceFeeLedgerId = Accounts.udf_GetLedgerIdForNewFeeType(@SchoolId, @AcademicYrId, @FinancialYearId, 'Advance Fees Received',0,0)
	END

	DECLARE @Id			  INT,
			@LedgerId	  INT,
			@IsDebit	  BIT,
			@TotalAmount  DECIMAL(18, 2),
			@AmountA	  DECIMAL(18, 2),
			@AmountB	  DECIMAL(18, 2),
			@StartDate	  DATE,
			@EndDate	  DATE,
			@DaysA		  INT,
			@DaysB		  INT,
			@MonthsA	  INT,
			@MonthsB	  INT

	/**
	 *  Fee Bifurcation Logic
	 *  We loop over all the rows for which bifurcation is applicable.
	 *  As per the Start & End dates, we bifurcate the amount.
	 */
	WHILE EXISTS (SELECT TOP 1 1
					FROM @VoucherParticularsTemp
				   WHERE AdvanceFeeType = 1)
	BEGIN
		SELECT TOP 1
			   @Id			 = VPT.Id
			  ,@LedgerId	 = VPT.LedgerId
			  ,@IsDebit		 = VPT.IsDebit
			  ,@TotalAmount	 = VPT.Amount
			  ,@StartDate	 = VPT.Start
			  ,@EndDate		 = VPT.[End]
		  FROM @VoucherParticularsTemp VPT
		 WHERE VPT.AdvanceFeeType = 1
	  ORDER BY VPT.Id
		
		SELECT @DaysA = DATEDIFF(DAY, @StartDate, DATEADD(DAY, 1, @FinancialYearEndDate))
		SELECT @MonthsA = DATEDIFF(MONTH, @StartDate, DATEADD(DAY, 1, @FinancialYearEndDate))
		SELECT @DaysB = DATEDIFF(DAY, @FinancialYearEndDate, @EndDate)
		SELECT @MonthsB = DATEDIFF(MONTH, @FinancialYearEndDate, @EndDate)
		
		IF @MonthsA > 0 AND @MonthsB > 0
		BEGIN
			SET @AmountA = ROUND(@TotalAmount * @MonthsA / (@MonthsA + @MonthsB), -1)
			SET @AmountB = @TotalAmount - @AmountA
		END
		ELSE			
		BEGIN
			SET @AmountA = ROUND(@TotalAmount * @DaysA / (@DaysA + @DaysB), -1)
			SET @AmountB = @TotalAmount - @AmountA
		END

		IF EXISTS (SELECT TOP 1 1
					 FROM @VoucherParticulars VP
					WHERE VP.LedgerId = @LedgerId
					  AND VP.IsDebit = @IsDebit
					  AND VP.IsAdvanceFee = 0)
		BEGIN
			UPDATE @VoucherParticulars
			   SET Amount = Amount + @AmountA
			 WHERE LedgerId = @LedgerId
			   AND IsDebit = @IsDebit
			   AND IsAdvanceFee = 0
		END
		ELSE
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			VALUES
			(
				   @LedgerId
				  ,@IsDebit
				  ,@AmountA
				  ,0
			)
		END
		
		IF EXISTS (SELECT TOP 1 1
					 FROM @VoucherParticulars VP
					WHERE VP.LedgerId = @AdvanceFeeLedgerId
					  AND VP.IsDebit = @IsDebit
					  AND VP.IsAdvanceFee = 0)
		BEGIN
			UPDATE @VoucherParticulars
			   SET Amount = Amount + @AmountB
			 WHERE LedgerId = @AdvanceFeeLedgerId
			   AND IsDebit = @IsDebit
			   AND IsAdvanceFee = 0
		END
		ELSE
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			VALUES
			(
				   @AdvanceFeeLedgerId
				  ,@IsDebit
				  ,@AmountB
				  ,0
			)
		END
			

		IF EXISTS (SELECT TOP 1 1
					 FROM @VoucherParticulars VP
					WHERE VP.LedgerId = @LedgerId
					  AND VP.IsDebit = @IsDebit
					  AND VP.IsAdvanceFee = 1)
		BEGIN
			UPDATE @VoucherParticulars
			   SET Amount = Amount + @AmountB
			 WHERE LedgerId = @LedgerId
			   AND IsDebit = @IsDebit
			   AND IsAdvanceFee = 1
		END
		ELSE
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			VALUES
			(
				   @LedgerId
				  ,@IsDebit
				  ,@AmountB
				  ,1
			)
		END
		
		DELETE TOP(1)
		  FROM @VoucherParticularsTemp
		 WHERE AdvanceFeeType = 1
		   AND Id = @Id
	END


	SELECT @StartDate = NULL
	SELECT @EndDate = NULL
	
	/**
	 *	Advance Fee Logic.
	 *	Since the fees paid a to be directly recorded under the 'Advance Fees Received' ledger
	 *	We directly insert the respective values in the @VoucherParticulars table
	 */
	WHILE EXISTS (SELECT TOP 1 1
					FROM @VoucherParticularsTemp VPT
				   WHERE VPT.AdvanceFeeType = 2)
	BEGIN
		SELECT TOP 1
			   @Id			= VPT.Id
			  ,@LedgerId	= VPT.LedgerId
			  ,@IsDebit		= VPT.IsDebit
			  ,@TotalAmount	= VPT.Amount
		  FROM @VoucherParticularsTemp VPT
		 WHERE VPT.AdvanceFeeType = 2
	  ORDER BY VPT.Id

	  IF @IsDebit = 0
	  BEGIN
			IF EXISTS (SELECT TOP 1 1
						 FROM @VoucherParticulars VP
						WHERE VP.LedgerId = @AdvanceFeeLedgerId
						  AND VP.IsDebit = @IsDebit
						  AND VP.IsAdvanceFee = 0)
			BEGIN
				UPDATE @VoucherParticulars
				   SET Amount = Amount + @TotalAmount
				 WHERE LedgerId = @AdvanceFeeLedgerId
				   AND IsDebit = @IsDebit
				   AND IsAdvanceFee = 0
			END
			ELSE
			BEGIN
				INSERT @VoucherParticulars
				(
					   LedgerId
					  ,IsDebit
					  ,Amount
					  ,IsAdvanceFee
				)
				VALUES
				(
					   @AdvanceFeeLedgerId
					  ,@IsDebit
					  ,@TotalAmount
					  ,0
				)
			END
		END

		IF EXISTS (SELECT TOP 1 1
					 FROM @VoucherParticulars VP
					WHERE VP.LedgerId = @LedgerId
					  AND VP.IsDebit = @IsDebit
					  AND VP.IsAdvanceFee = 1)
		BEGIN
			UPDATE @VoucherParticulars
			   SET Amount = Amount + @TotalAmount
			 WHERE LedgerId = @LedgerId
			   AND IsDebit = @IsDebit
			   AND IsAdvanceFee = 1
		END
		ELSE
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			VALUES
			(
				   @LedgerId
				  ,@IsDebit
				  ,@TotalAmount
				  ,1
			)
		END		

		DELETE TOP(1)
		  FROM @VoucherParticularsTemp
		 WHERE Id = @Id
		   AND AdvanceFeeType = 2
	END

	DECLARE @ConcessionFeeLedgerId INT = 0
	SELECT @ConcessionFeeLedgerId = Accounts.udf_GetLedgerIdForNewFeeType(@SchoolId, @AcademicYrId, @FinancialYearId, 'Concession Fee',0,0)

	update @VoucherParticulars
	set IsAdvanceFee = 0
	where Ledgerid = @ConcessionFeeLedgerId
	and IsAdvanceFee = 1

	DECLARE	@CurrentAcademicYearId INT
		
			 --SELECT @CurrentAcademicYearId = Academic_Year_ID
			 --  FROM SchoolWise_Academic_Year_Master
			 -- WHERE School_Id = @SchoolId
			 --   AND Is_Deleted = 'N'
			 --   AND Is_Current_Year = 'Y'


			 SET @CurrentAcademicYearId = [DBO].[udf_GetAcademicYearId](@SchoolId,@FinancialYearId)

				--SET @CurrentAcademicYearId = YEAR(@CurrentAcademicYearId)+'-'+MONTH(@CurrentAcademicYearId)+'-1'

				DECLARE @AcademicYear NVARCHAR(100)=''
				SELECT @AcademicYear = ' ('+CAST(YEAR(Start_date) AS NVARCHAR(4))+'-'+CAST(RIGHT(YEAR(End_Date),2) AS NVARCHAR(4))+')'
				FROM SchoolWise_Academic_Year_Master
				WHERE School_Id = @SchoolId
				AND Is_Deleted = 'N'
				AND Academic_Year_ID = @AcademicYearId

			DECLARE @AYStartDate DATETIME,
					@AYEndDate DATETIME,
					@PaidDate DATETIME

			SELECT @AYStartDate = Start_date,
				   @AYEndDate = End_Date
			  FROM SchoolWise_Academic_Year_Master
			 WHERE School_Id = @SchoolId
			   AND Is_Deleted = 'N'
			   AND Is_Current_Year = 'Y'
			   AND Is_Close_Year = 'N'

			   IF(MONTH(@AYStartDate) = 4 OR MONTH(@AYStartDate) = 2)
				BEGIN
					SET @AYStartDate = CAST(YEAR(@AYStartDate) as nvarchar(10))+'-04-01 00:00:00.000'
				END

			SELECT @PaidDate = Paid_Date
			  FROM Schoolwise_Student_Fee_Details
			 WHERE School_Id = @SchoolId
			   AND Is_Deleted = 'N'
			   AND Student_Id = @StudentId
			   AND CONVERT(INT,Receipt_Number) = @ReceiptNo
			   AND [Debit/Credit] = 'Credit'
    
    -- Based on the Mode of Payment passed to the USP, we fetch the fee particular details.
    -- CASH PAYMENT IN BANK
    IF @PaymentMode = @CashInBank
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			SELECT SSFD.DepositBankId
				  ,1
				  -- There could be a concession fee also, so we need to subtract that amount from the total.
				  -- Hence we prefix the minus sign before those entries which are concession fees.
				  ,SUM(CASE WHEN SSFD.Is_Concession_Fee = 'Y'
							THEN -SSFD.Amount
							ELSE SSFD.Amount
						END)
				  ,0
			  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
			 WHERE SSFD.Student_Id = @StudentId
			   AND SSFD.Receipt_Number = @ReceiptNo
			   AND SSFD.Is_Deleted = 'N'
			   AND SSFD.Is_Cheque_Bounce = 'N'
			   AND SSFD.School_Id = @SchoolId
		  GROUP BY SSFD.DepositBankId
		END
	ELSE IF @PaymentMode = @JournalVoucher
		BEGIN
			INSERT @VoucherParticulars
			(
				   LedgerId
				  ,IsDebit
				  ,Amount
				  ,IsAdvanceFee
			)
			SELECT SJVP.LedgerId
				  ,1
				  -- There could be a concession fee also, so we need to subtract that amount from the total.
				  -- Hence we prefix the minus sign before those entries which are concession fees.
				  ,SUM(CASE WHEN SSFD.Is_Concession_Fee = 'Y'
							THEN -SSFD.Amount
							ELSE SSFD.Amount
						END)
				  ,0
			 FROM Schoolwise_Student_Fee_Details SSFD
					INNER JOIN StudentJournalVoucherPayments SJVP
					ON SSFD.Student_Id = SJVP.StudentId
					AND SSFD.Receipt_Number = SJVP.ReceiptNumber
					WHERE SSFD.Is_Deleted = 'N'
					AND SJVP.IsDeleted = 0
					AND SSFD.[Debit/Credit] = 'credit'
					and SSFD.Student_Id = @StudentId
					AND SSFD.Receipt_Number = @ReceiptNo
				GROUP BY SJVP.LedgerId
		END
    -- CASH PAYMENT
    ELSE IF @PaymentMode = @CashPayment
		BEGIN
			DECLARE @Amount DECIMAL(18,2)
		
			SELECT @Amount = SUM(Amount)
			  FROM @VoucherParticulars
			 WHERE IsDebit = 0
			   AND IsAdvanceFee = 0
		
			SELECT @Amount = @Amount - ISNULL(SUM(Amount), 0)
			  FROM @VoucherParticulars
			 WHERE IsDebit = 1
			   AND IsAdvanceFee = 0
			
			DECLARE @AdjstCautionMoneyLedgerId INT

			SELECT @AdjstCautionMoneyLedgerId = [Accounts].[udf_GetAdjustedCautionMoneyDetails] (@SchoolId, @FinancialYearId)

			IF EXISTS
			(
				SELECT TOP 1 1
				FROM AdjustCautionMoneyDetails
				WHERE SchoolId = @SchoolId
				AND YearwiseStudentId = @StudentId
				AND ReceiptNumber = @ReceiptNo
				AND IsDeleted = 0
			)
			and @AdjstCautionMoneyLedgerId IS NOT NULL
			and @AdjstCautionMoneyLedgerId <> 0
			BEGIN
					INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT @AdjstCautionMoneyLedgerId
						  ,1
						  ,@Amount
						  ,0
			END
			ELSE
			BEGIN
					INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT Accounts.udf_GetCashLedgerId(@SchoolId, @FinancialYearId, @StudentId,@ReceiptNo)
						  ,1
						  ,@Amount
						  ,0
			END
		END
	-- CHEQUE PAYMENT
    ELSE IF @PaymentMode = @ChequePayment
		BEGIN
			--IF ((CONVERT(DATE,@PaidDate) < CONVERT(DATE,@AYStartDate)) AND @PaidDate IS NOT NULL) AND not (month(@PaidDate) < 4 and month(@AYStartDate) >= 4)
			--	SET @CurrentAcademicYearId = @AcademicYearId

			IF (@SchoolId = 71 OR @SchoolId = 11)	--PPSN School Only
				BEGIN
					IF(@AcademicYearId >= @CurrentAcademicYearId)
						BEGIN
							INSERT @VoucherParticulars
							(
								   LedgerId
								  ,IsDebit
								  ,Amount
								  ,IsAdvanceFee
							)
							SELECT SSPDC.DepositBankId
								  ,1
								  ,SUM(SSPDC.Cheque_Amount)
								  ,0
							  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
						INNER JOIN Student_Fee_PDC_Details SFPDCD  WITH(NOLOCK)
								ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id
						INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC  WITH(NOLOCK)
								ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id
							 WHERE SSFD.Student_Id = @StudentId
							   AND SSFD.Receipt_Number = @ReceiptNo
							   AND SSFD.Is_Deleted = 'N'
							   AND SSFD.Is_Cheque_Bounce = 'N'
							   AND SFPDCD.Is_Deleted = 'N'
							   AND SSPDC.Is_Deleted = 'N'
							   AND SSFD.School_Id = @SchoolId
						  GROUP BY SSPDC.DepositBankId
						END
					ELSE
						BEGIN

					
							INSERT @VoucherParticulars
							(
								   LedgerId
								  ,IsDebit
								  ,Amount
								  ,IsAdvanceFee
							)
							SELECT 
									(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = SSPDC.DepositBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									),							
								  1
								  ,SUM(SSPDC.Cheque_Amount)
								  ,0
							  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
						INNER JOIN Student_Fee_PDC_Details SFPDCD  WITH(NOLOCK)
								ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id
						INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC  WITH(NOLOCK)
								ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id						
							 WHERE SSFD.Student_Id = @StudentId
							   AND SSFD.Receipt_Number = @ReceiptNo
							   AND SSFD.Is_Deleted = 'N'
							   AND SSFD.Is_Cheque_Bounce = 'N'
							   AND SFPDCD.Is_Deleted = 'N'
							   AND SSPDC.Is_Deleted = 'N'
							   AND SSFD.School_Id = @SchoolId
						  GROUP BY SSPDC.DepositBankId


						--	INSERT @VoucherParticulars
						--	(
						--		   LedgerId
						--		  ,IsDebit
						--		  ,Amount
						--		  ,IsAdvanceFee
						--	)
						--	SELECT CASE WHEN SSPDC.DepositBankId = 261 THEN 272 ELSE SSPDC.DepositBankId END
						--		  ,1
						--		  ,SUM(SSPDC.Cheque_Amount)
						--		  ,0
						--	  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
						--INNER JOIN Student_Fee_PDC_Details SFPDCD  WITH(NOLOCK)
						--		ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id
						--INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC  WITH(NOLOCK)
						--		ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id
						--	 WHERE SSFD.Student_Id = @StudentId
						--	   AND SSFD.Receipt_Number = @ReceiptNo
						--	   AND SSFD.Is_Deleted = 'N'
						--	   AND SSFD.Is_Cheque_Bounce = 'N'
						--	   AND SFPDCD.Is_Deleted = 'N'
						--	   AND SSPDC.Is_Deleted = 'N'
						--	   AND SSFD.School_Id = @SchoolId
						--  GROUP BY SSPDC.DepositBankId
						END
				END
			ELSE
				BEGIN
					INSERT @VoucherParticulars
					(
							LedgerId
							,IsDebit
							,Amount
							,IsAdvanceFee
					)
					SELECT S.DepositBankId
							  ,1
							 ,SUM(CASE WHEN SSF.Is_Concession_Fee = 'Y'
										THEN -SSF.Amount
										ELSE SSF.Amount
									END)						
							  ,0
						  FROM Schoolwise_Student_Fee_Details SSF
						  INNER JOIN
						  (
							  SELECT ssfd.Student_Id,ssfd.Receipt_Number, SSPDC.DepositBankId
								FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
							INNER JOIN Student_Fee_PDC_Details SFPDCD  WITH(NOLOCK)
									ON SSFD.Schoolwise_Student_Fee_Id = SFPDCD.Schoolwise_Student_Fee_Id
							INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC  WITH(NOLOCK)
									ON SFPDCD.PDC_Id = SSPDC.PostDated_Cheque_Id
								WHERE SSFD.Student_Id = @StudentId
								   AND SSFD.Receipt_Number = @ReceiptNo
								   AND SSFD.Is_Deleted = 'N'
								   AND SSFD.Is_Cheque_Bounce = 'N'
								   AND SFPDCD.Is_Deleted = 'N'
								   AND SSPDC.Is_Deleted = 'N'
								   AND SSFD.School_Id = @SchoolId
							)S
							ON SSF.Student_Id = S.Student_Id
							AND SSF.Receipt_Number = S.Receipt_Number
						 WHERE SSF.Student_Id = @StudentId
						   AND SSF.Receipt_Number = @ReceiptNo
						   AND SSF.Is_Deleted = 'N'
						   AND SSF.Is_Cheque_Bounce = 'N'
						   AND SSF.School_Id = @SchoolId
					  GROUP BY S.DepositBankId
				END
		END
	-- CARD PAYMENT
	ELSE IF @PaymentMode = @CardPayment
		BEGIN
				IF ((@SchoolId <> 71 and @SchoolId <> 11) or ((@SchoolId = 71 or @SchoolId = 11) and @AcademicYearId >= @CurrentAcademicYearId))	--PPSN School Only		
				BEGIN
						INSERT @VoucherParticulars
						(
							   LedgerId
							  ,IsDebit
							  ,Amount
							  ,IsAdvanceFee
						)
						SELECT SCPD.DepositBankId
							  ,1
							  ,SUM(SCPD.Amount)
							  ,0
						  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
					INNER JOIN StudentCardPaymentDetails SCPD  WITH(NOLOCK)
							ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id
						 WHERE SSFD.Student_Id = @StudentId
						   AND SSFD.Receipt_Number = @ReceiptNo
						   AND SSFD.Is_Deleted = 'N'
						   AND SSFD.Is_Cheque_Bounce = 'N'
						   AND SSFD.School_Id = @SchoolId
						   AND SCPD.School_Id = @SchoolId
						   AND SCPD.Is_Deleted = 0
					  GROUP BY SCPD.DepositBankId
			  end
			  else
			  begin
						INSERT @VoucherParticulars
						(
							   LedgerId
							  ,IsDebit
							  ,Amount
							  ,IsAdvanceFee
						)
						SELECT --SCPD.DepositBankId
								(
											SELECT S2.Id
											FROM Accounts.LedgerMaster s1
											INNER JOIN Accounts.LedgerMaster S2
											ON S1.Name+@AcademicYear = S2.Name
											WHERE s1.Id = SCPD.DepositBankId
											AND s1.FinancialYearId = @FinancialYearId
											AND s1.IsDeleted = 0
											AND s2.FinancialYearId = @FinancialYearId
											AND s2.IsDeleted = 0
								)
							  ,1
							  ,SUM(SCPD.Amount)
							  ,0
						  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
					INNER JOIN StudentCardPaymentDetails SCPD  WITH(NOLOCK)
							ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id
						 WHERE SSFD.Student_Id = @StudentId
						   AND SSFD.Receipt_Number = @ReceiptNo
						   AND SSFD.Is_Deleted = 'N'
						   AND SSFD.Is_Cheque_Bounce = 'N'
						   AND SSFD.School_Id = @SchoolId
						   AND SCPD.School_Id = @SchoolId
						   AND SCPD.Is_Deleted = 0
					  GROUP BY SCPD.DepositBankId
			  end
		END
	-- ONLINE PAYMENT
	ELSE IF @PaymentMode = @OnlinePayment
		BEGIN		
			--IF ((CONVERT(DATE,@PaidDate) < CONVERT(DATE,@AYStartDate)) AND @PaidDate IS NOT NULL) AND not (month(@PaidDate) < 4 and month(@AYStartDate) >= 4)
			--	SET @CurrentAcademicYearId = @AcademicYearId

			IF ((@SchoolId <> 71 and @SchoolId <> 11) or ((@SchoolId = 71 or @SchoolId = 11) and @AcademicYearId >= @CurrentAcademicYearId))	--PPSN School Only		
		BEGIN	
				INSERT @VoucherParticulars
				(
					   LedgerId
					  ,IsDebit
					  ,Amount
					  ,IsAdvanceFee
				)
				SELECT NBPT.DepositBankId
					  ,1
					  --,SUM(SSFD.Amount)
					  ,SUM(CASE WHEN SSFD.Is_Concession_Fee = 'Y'
								THEN -SSFD.Amount
								ELSE SSFD.Amount
						END)
					  ,0
				  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
			INNER JOIN NetBankingPaymentTransactions NBPT  WITH(NOLOCK)
					ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				 WHERE SSFD.Student_Id = @StudentId
				   AND SSFD.Receipt_Number = @ReceiptNo
				   AND SSFD.Is_Deleted = 'N'
				   AND SSFD.Is_Cheque_Bounce = 'N'
				   AND SSFD.School_Id = @SchoolId
				   --AND SSFD.Is_Concession_Fee = 'N'
			  GROUP BY NBPT.DepositBankId
		END
		ELSE
		BEGIN
				INSERT @VoucherParticulars
				(
					   LedgerId
					  ,IsDebit
					  ,Amount
					  ,IsAdvanceFee
				)
				SELECT 
								(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = NBPT.DepositBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									)
				--NBPT.DepositBankId
					  ,1
					  --,SUM(SSFD.Amount)
					  ,SUM(CASE WHEN SSFD.Is_Concession_Fee = 'Y'
								THEN -SSFD.Amount
								ELSE SSFD.Amount
						END)
					  ,0
				  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
			INNER JOIN NetBankingPaymentTransactions NBPT  WITH(NOLOCK)
					ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
				 WHERE SSFD.Student_Id = @StudentId
				   AND SSFD.Receipt_Number = @ReceiptNo
				   AND SSFD.Is_Deleted = 'N'
				   AND SSFD.Is_Cheque_Bounce = 'N'
				   AND SSFD.School_Id = @SchoolId
				   --AND SSFD.Is_Concession_Fee = 'N'
			  GROUP BY NBPT.DepositBankId

		END
		END
		-- This condition is used to collect electronic payment particulars into voucher particuler table.
		ELSE IF @PaymentMode = @ElectronicPayment
		BEGIN
			--	INSERT @VoucherParticulars
			--	(
			--		   LedgerId
			--		  ,IsDebit
			--		  ,Amount
			--		  ,IsAdvanceFee
			--	)
			--	SELECT SEP.DepositedBankId
			--		  ,1
			--		  ,SUM(SEP.Amount)
			--		  ,0
			--	  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
			--INNER JOIN StudentElectronicPayments SEP  WITH(NOLOCK)
			--		ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
			--	 WHERE SSFD.Student_Id = @StudentId
			--	   AND SSFD.Receipt_Number = @ReceiptNo
			--	   AND SSFD.Is_Deleted = 'N'
			--	   AND SSFD.Is_Cheque_Bounce = 'N'
			--	   AND SSFD.School_Id = @SchoolId
			--	   AND SEP.SchoolId= @SchoolId
			--	   AND SEP.IsDeleted = 0
			--  GROUP BY SEP.DepositedBankId

			IF ((@SchoolId <> 71 and @SchoolId <> 11) or ((@SchoolId = 71 or @SchoolId = 11) and @AcademicYearId >= @CurrentAcademicYearId))
			BEGIN
					INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT SEP.DepositedBankId
						  ,1
						  ,SUM(SEP.Amount)
						  ,0
					  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
				INNER JOIN StudentElectronicPayments SEP  WITH(NOLOCK)
						ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
					 WHERE SSFD.Student_Id = @StudentId
					   AND SSFD.Receipt_Number = @ReceiptNo
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   AND SSFD.School_Id = @SchoolId
					   AND SEP.SchoolId= @SchoolId
					   AND SEP.IsDeleted = 0
				  GROUP BY SEP.DepositedBankId
		  END
		  ELSE
		  BEGIN
				INSERT @VoucherParticulars
					(
						   LedgerId
						  ,IsDebit
						  ,Amount
						  ,IsAdvanceFee
					)
					SELECT 
							(
										SELECT S2.Id
										FROM Accounts.LedgerMaster s1
										INNER JOIN Accounts.LedgerMaster S2
										ON S1.Name+@AcademicYear = S2.Name
										WHERE s1.Id = SEP.DepositedBankId
										AND s1.FinancialYearId = @FinancialYearId
										AND s1.IsDeleted = 0
										AND s2.FinancialYearId = @FinancialYearId
										AND s2.IsDeleted = 0
									)
							--SEP.DepositedBankId
						  ,1
						  ,SUM(SEP.Amount)
						  ,0
					  FROM Schoolwise_Student_Fee_Details SSFD  WITH(NOLOCK)
				INNER JOIN StudentElectronicPayments SEP  WITH(NOLOCK)
						ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
					 WHERE SSFD.Student_Id = @StudentId
					   AND SSFD.Receipt_Number = @ReceiptNo
					   AND SSFD.Is_Deleted = 'N'
					   AND SSFD.Is_Cheque_Bounce = 'N'
					   AND SSFD.School_Id = @SchoolId
					   AND SEP.SchoolId= @SchoolId
					   AND SEP.IsDeleted = 0
				  GROUP BY SEP.DepositedBankId
		  END
		END

	DELETE @VoucherParticulars
	 WHERE Amount <= 0
	 
	 --IF
	 --(
		--(SELECT COUNT(1)
		--FROM @VoucherParticulars
		--WHERE LedgerId = @AdvanceFeeLedgerId) > 0
	 --)
	 --BEGIN
		
		--UPDATE VP1
		--SET Amount = VP1.Amount - VP2.Amount
		--FROM @VoucherParticulars VP1
		--INNER JOIN @VoucherParticulars VP2
		--ON VP1.LedgerId = VP2.LedgerId
		--WHERE VP1.LedgerId = @AdvanceFeeLedgerId
		--AND VP1.IsDebit = 0
		--AND VP2.IsDebit = 1
				
		--DELETE FROM @VoucherParticulars
		--WHERE LedgerId = @AdvanceFeeLedgerId
		--AND IsDebit = 1
				
	 --END
	RETURN
END