/****** Object:  StoredProcedure [dbo].[usp_GetStandardDivisionSubjectsTeacherAssociation]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pallavi
-- Create date: 8 Mar. 2008
-- Description:	Procedure to get all standard-divisions, subjects and its associations.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStandardDivisionSubjectsTeacherAssociation]
@School_Id int,
@AcademicYear_ID int,
@StandardId INT,
@SearchText NVarChar(150),
@CategoryId INT
AS
BEGIN
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	
	DECLARE @tblTeacherName AS TABLE
	(
	          Teacher_Id INT,
	          Subject_Id INT,
	Standard_Division_Id INT
	)

	IF(@CategoryId = 1)
	BEGIN	
				INSERT INTO @tblTeacherName
	           SELECT      TSA.Teacher_Id, TSA.Subject_Id, Standard_Division_Id 
	           FROM        Teacher_Subject_Assignment TSA
			   inner join vw_standard_division vsd
			   on tsa.Standard_Division_Id = vsd.SchoolWise_Standard_Division_Id
	           INNER JOIN  vw_BaseTeacherDetails VBTD
	           ON          TSA.Teacher_Id = VBTD.Teacher_Id
	           INNER JOIN  Subject_Master SM
	           ON			TSA.Subject_Id = SM.Subject_Id
	           WHERE       TeacherName like '%'+@SearchText+'%' 
	           AND         TSA.Is_Deleted = 'N'
	           AND         VBTD.Is_Deleted = 'N'
			   AND SM.Is_Deleted = 'N'
	           AND		   VBTD.academic_year_id = @AcademicYear_ID
			   and (vsd.Standard_Id = @StandardId or @StandardId= 0)
     END
	
	ELSE
    BEGIN    
		
			INSERT INTO @tblTeacherName
			 SELECT 0,sm.Subject_Id,SSSM.standard_division_id
			 FROM SchoolWise_division_Subject_Master SSSM
			 inner join vw_standard_division vsd
			 on SSSM.standard_division_id = vsd.schoolwise_standard_division_id
			   INNER JOIN  Subject_Master SM
	         ON			SSSM.Subject_Id = SM.Subject_Id
			 WHERE SSSM.academic_Year_Id = @AcademicYear_ID
			 and SSSM.School_Id = @School_Id
			 AND SSSM.Is_Deleted = 'N'
			 AND sm.Is_Deleted = 'N'
			 and Subject_Name like '%'+@SearchText+'%'
			 and (vsd.Standard_Id = @StandardId or @StandardId = 0)
    END
	
	-- get all standard-divisions	
	--SELECT		sd.SchoolWise_Standard_Division_id ,  
	--			sm.Standard_Name + N' - ' +     
	--			CASE WHEN sd.DisplayNameForDivision IS NULL OR sd.DisplayNameForDivision=N'' THEN dm.Division_Name  ELSE sd.DisplayNameForDivision END as StandardDivision, 
	--			dm.division_name , 
	--			sm.Standard_Id , 
	--			sm.Original_Standard_Id , 
	--			dm.Original_Division_Id  
	--FROM		SchoolWise_Standard_Division_Master sd , 
	--			standard_Master sm, 
	--			Division_Master dm,				
	--			(
	--				select Standard_Division_Id
	--				from @tblTeacherName
	--				group by Standard_Division_Id
	--			)TTN			
	--WHERE		sd.School_Id= @School_Id 
	--			AND sd.academic_year_id=@AcademicYear_ID 
	--			AND sm.Standard_Id = sd.standard_Id 
	--			AND dm.division_id = sd.Division_Id 
	--			AND (sm.Standard_Id=@StandardId OR @StandardId = 0)
	--			AND (SD.Standard_Id=@StandardId OR @StandardId = 0)
	--			AND dm.Is_deleted = N'N' 
	--			AND sm.Is_deleted = N'N' 
	--			AND sd.Is_deleted = N'N' 

	--			and (sd.SchoolWise_Standard_Division_Id = TTN.Standard_Division_Id or TTN.Standard_Division_Id = 0)

	--ORDER BY sm.Original_Standard_Id, dm.Original_Division_Id 


	SELECT		sd.SchoolWise_Standard_Division_id ,  
				sm.Standard_Name + N' - ' +     
				CASE WHEN sd.DisplayNameForDivision IS NULL OR sd.DisplayNameForDivision=N'' THEN dm.Division_Name  ELSE sd.DisplayNameForDivision END as StandardDivision, 
				dm.division_name , 
				sm.Standard_Id , 
				sm.Original_Standard_Id , 
				dm.Original_Division_Id  
	FROM		SchoolWise_Standard_Division_Master sd 
	inner join	standard_Master sm
	on sm.Standard_Id = sd.standard_Id 
	inner join Division_Master dm
	on dm.division_id = sd.Division_Id 
	left outer join(
					select Standard_Division_Id
					from @tblTeacherName
					group by Standard_Division_Id
				)TTN	
		on sd.SchoolWise_Standard_Division_Id = TTN.Standard_Division_Id
	WHERE		sd.School_Id= @School_Id 
				AND sd.academic_year_id=@AcademicYear_ID 
				--AND sm.Standard_Id = sd.standard_Id 
				--AND dm.division_id = sd.Division_Id 
				AND (sm.Standard_Id=@StandardId OR @StandardId = 0)
				AND (SD.Standard_Id=@StandardId OR @StandardId = 0)
				AND dm.Is_deleted = N'N' 
				AND sm.Is_deleted = N'N' 
				AND sd.Is_deleted = N'N' 
				and  (TTN.Standard_Division_Id is not null or @SearchText = '')

	ORDER BY sm.Original_Standard_Id, dm.Original_Division_Id 
	

	-- get all subjects
	SELECT		school_id  , 
				original_subject_id  , 
				SM.Subject_Id  , 
				subject_name  , 
				N'0000' As Teacher_Id  
	FROM		subject_master SM  
				LEFT OUTER JOIN
				(
					select Subject_Id
					from @tblTeacherName
					group by Subject_Id
				)TTN
				ON SM.Subject_Id = TTN.Subject_Id
	WHERE		is_deleted = N'N' 
				AND school_id = @School_Id 
				AND academic_year_id = @AcademicYear_ID 
				AND (TTN.Subject_Id IS NOT NULL OR @SearchText = '')
	ORDER BY	original_subject_id

	-- Get all teachers with their subjects which they can teach.
	SELECT DISTINCT
		TSubD.Subject_Id, 
		SSDM.SchoolWise_Standard_Division_Id
	FROM vw_BaseTeacherDetails vBTD
	INNER JOIN Teacher_Standard_Details TSD
		ON TSD.Teacher_Id = vBTD.Teacher_Id 
		AND TSD.Is_Deleted = N'N'
		AND (TSD.Standard_Id = @StandardId OR @StandardId = 0)
	INNER JOIN Teacher_Subject_Details TSubD
		ON TSubD.Teacher_Id = TSD.Teacher_Id 
		AND TSubD.Is_Deleted = N'N'
	INNER JOIN SchoolWise_Standard_Division_Master SSDM
		ON SSDM.Standard_Id = TSD.Standard_Id
		AND SSDM.academic_year_id = @AcademicYear_ID
		AND SSDM.Is_Deleted = N'N'
	WHERE vBTD.School_Id = @School_Id 
		AND vBTD.Is_Deleted = N'N'

	--SELECT		vw_BaseTeacherDetails.Teacher_Id , 
	--			vw_BaseTeacherDetails.TeacherName ,
	--			vw_BaseTeacherDetails.Designation_Id , 
	--			vw_BaseTeacherDetails.Teacher_First_Name ,
	--			Teacher_Subject_Details.Subject_Id, 
	--			SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id
	--FROM		vw_BaseTeacherDetails 
	--			INNER JOIN Teacher_Standard_Details 
	--			ON Teacher_Standard_Details.Teacher_Id = vw_BaseTeacherDetails.Teacher_Id 
	--			INNER JOIN Teacher_Subject_Details 
	--			ON Teacher_Standard_Details.Teacher_Id = Teacher_Subject_Details.Teacher_Id 
	--			INNER JOIN SchoolWise_Standard_Division_Master 
	--			ON Teacher_Standard_Details.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id				
	--WHERE		vw_BaseTeacherDetails.School_Id = @School_Id 
	--			AND SchoolWise_Standard_Division_Master.academic_year_id = @AcademicYear_ID 
	--			AND (SchoolWise_Standard_Division_Master.Standard_Id=@StandardId OR @StandardId = 0)
	--			AND (Teacher_Standard_Details.Standard_Id=@StandardId OR @StandardId = 0)
	--			AND vw_BaseTeacherDetails.Is_Deleted = N'N' 
	--			AND Teacher_Standard_Details.Is_Deleted = N'N' 
	--			AND Teacher_Subject_Details.Is_Deleted = N'N' 
	--			AND SchoolWise_Standard_Division_Master.Is_Deleted = N'N' 
	--ORDER BY	vw_BaseTeacherDetails.Designation_Id, 
	--			vw_BaseTeacherDetails.Teacher_First_Name ASC

	-- Get All Subjects for Division

	SELECT		Schoolwise_Division_Subject_Master.Subject_Id ,
				Schoolwise_Division_Subject_Master.Standard_Division_Id   
	FROM		Schoolwise_Division_Subject_Master   
				INNER JOIN  SchoolWise_Standard_Division_Master   
				ON SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id  
				INNER JOIN  Subject_Master  
				ON Schoolwise_Division_Subject_Master.Subject_Id = Subject_Master.Subject_Id  
				INNER JOIN  Standard_Master  
				ON Standard_Master.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id  
				INNER JOIN  Division_Master  
				ON   Division_Master.Division_Id = SchoolWise_Standard_Division_Master.Division_Id   			
	WHERE		Schoolwise_Division_Subject_Master.School_Id = @School_Id 
				AND Schoolwise_Division_Subject_Master.academic_year_id = @AcademicYear_ID 
				AND (Standard_Master.Standard_Id=@StandardId OR @StandardId = 0)
				AND Schoolwise_Division_Subject_Master.Is_Deleted = N'N'  
				AND Standard_Master.Is_Deleted = N'N'  
				AND Division_Master.Is_Deleted = N'N'  
				AND Subject_Master.Is_Deleted= N'N'  
	ORDER BY	original_subject_id

	-- Get All Subjects Assigned to TeachersName

	SELECT		vw_BaseTeacherDetails.Teacher_Id , 
				vw_BaseTeacherDetails.TeacherName , 
				vw_BaseTeacherDetails.Teacher_Middle_Name  ,
				Teacher_Subject_Assignment.Standard_Division_Id,
				Teacher_Subject_Assignment.Subject_Id,
				Teacher_Subject_Assignment.Teacher_Subject_Id
	FROM		vw_BaseTeacherDetails  
				INNER JOIN  Teacher_Subject_Assignment  
				ON  vw_BaseTeacherDetails.Teacher_Id = Teacher_Subject_Assignment.Teacher_Id
	WHERE		vw_BaseTeacherDetails.school_id =@School_Id
				AND vw_BaseTeacherDetails.Is_Deleted =N'N'  
				AND  Teacher_Subject_Assignment.Is_Deleted = N'N'  
				AND vw_BaseTeacherDetails.academic_year_id = @AcademicYear_ID
   
END



GO
