/****** Object:  StoredProcedure [dbo].[usp_GetAllCautionMoneyDetailsForExport]    Script Date: 16-10-2025 16:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		MILIND
-- Create date: 10 Sept. 2009
-- Description:	Get all details related to caution money.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAllCautionMoneyDetailsForExport]
@School_Id INT,
@RegNumber nvarchar(203),
@IncludePaid bit,
@IncludeReturned bit,
@ChequeNo NVARCHAR(10),
@StarDate SMALLDATETIME,
@EndDate SMALLDATETIME,
@ReturnStartDate DATE,
@ReturnEndDate DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @TypeId INT
	
	IF @ReturnStartDate = '0001-01-01'
		SET @ReturnStartDate = NULL

	IF @ReturnEndDate = '0001-01-01'
		SET @ReturnEndDate = NULL

		DECLARE @tblClassDetails AS TABLE
		(
			ClassName NVARCHAR(50),
			SchoolwiseStudentId INT,
			IsPreprimary BIT
		)

		INSERT INTO @tblClassDetails
		     SELECT vwSD.className,
					SWSM.SchoolWise_Student_Id,
					CASE WHEN SM.Is_Preprimary = 'Y' THEN 1 ELSE 0 END
			   FROM SchoolWise_Student_Master SWSM
		 INNER JOIN YearWise_Student_Details YWSD
				 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
				AND SWSM.School_Id = YWSD.School_Id
		 INNER JOIN vw_standard_division vwSD
				 ON YWSD.Standard_Id = vwSD.Standard_Id
				AND YWSD.Division_id = vwSD.Division_Id
				AND YWSD.School_Id = vwSD.School_Id
				AND YWSD.Academic_Year_ID = vwSD.academic_year_id
		INNER JOIN Standard_Master SM
				ON YWSD.Standard_Id = SM.Standard_Id
				AND YWSD.Academic_Year_ID = SM.Academic_Year_ID
		INNER JOIN
				(
					SELECT MIN(YearWise_Student_Id) AS MinYrStudentId
					FROM YearWise_Student_Details
					WHERE School_Id = @School_Id
					AND Is_Deleted ='N'
					GROUP BY Student_Id
				)S
				ON YWSD.YearWise_Student_Id = S.MinYrStudentId
			  WHERE SWSM.School_Id = @School_Id
			    AND SWSM.Is_Deleted = 'N'
				AND YWSD.School_Id = @School_Id		
				AND SM.Is_Deleted = 'N'
		
		IF @RegNumber = N'' AND @ChequeNo = N'' AND @StarDate > @EndDate AND (@ReturnStartDate IS NULL OR @ReturnStartDate  = '') AND (@ReturnEndDate IS NULL OR @ReturnEndDate = '')
			BEGIN			
			
				--select @StarDate,@EndDate					
					IF(@IncludeReturned = 0)
							BEGIN
								IF(@School_Id = 71) -- PPSN School
									BEGIN
											 SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' 
																						   THEN N'-' 
																						   ELSE vw_BaseStudentDetails.Enrolment_Number 
																						   END Enrolment_Number,
													vw_BaseStudentDetails.StudentName, 
													Student_Caution_Money_Details.Amount, 
													Student_Caution_Money_Details.Payment_Cheque_Id, 
													Student_Caution_Money_Details.Return_Cheque_Id, 
													Student_Caution_Money_Details.Schoolwise_Student_Id, 
													vw_BaseStudentDetails.DOB, 
													ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
													ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
													ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
													Student_Caution_Money_Details.Return_Date,
													Student_Caution_Money_Details.Paid_By_Student,
													Student_Caution_Money_Details.Returned_By_School, 
													vw_BaseStudentDetails.SchoolLeft_Date, 
													vw_BaseStudentDetails.Admission_Date,
													ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
													ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
													ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											   CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
													WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  						ELSE '-' END AS PaymentMode,
											   CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  						ELSE 'Yes' END AS IsReturned,
											   ISNULL(tblClass.ClassName,'-') AS className,
											    CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
												CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
												CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
										  FROM Student_Caution_Money_Details 
									INNER JOIN vw_BaseStudentDetails 
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
											ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id 
										   AND Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
											ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
										   AND Student_Caution_Money_Details.School_Id = @School_Id
							   LEFT OUTER JOIN @tblClassDetails tblClass
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
										 WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
										   AND (Student_Caution_Money_Details.Is_Deleted = 0) 
										   AND (vw_BaseStudentDetails.Is_Deleted = N'N') 
										   AND vw_BaseStudentDetails.School_Id = @School_Id  
										   AND Paid_By_Student = @IncludePaid	
										   	AND Student_Caution_Money_Details.Amount>0
										   AND vw_BaseStudentDetails.SchoolLeft_Date IS NULL	
									END
								ELSE
									BEGIN
											SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' 
																			   THEN N'-' 
																			   ELSE vw_BaseStudentDetails.Enrolment_Number 
																			   END Enrolment_Number,
												vw_BaseStudentDetails.StudentName, 
												Student_Caution_Money_Details.Amount, 
												Student_Caution_Money_Details.Payment_Cheque_Id, 
												Student_Caution_Money_Details.Return_Cheque_Id, 
												Student_Caution_Money_Details.Schoolwise_Student_Id, 
												vw_BaseStudentDetails.DOB, 
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
												ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
												ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
												Student_Caution_Money_Details.Return_Date,
												Student_Caution_Money_Details.Paid_By_Student,
												Student_Caution_Money_Details.Returned_By_School, 
												vw_BaseStudentDetails.SchoolLeft_Date, 
												vw_BaseStudentDetails.Admission_Date,
												ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
												ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
												ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
										   CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
												WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					ELSE '-' END AS PaymentMode,
										   CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					ELSE 'Yes' END AS IsReturned,
										   ISNULL(tblClass.ClassName,'-') AS className,
										   CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									  FROM Student_Caution_Money_Details 
								INNER JOIN vw_BaseStudentDetails 
										ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
						   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
										ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id 
									   AND Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
						   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
										ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
									   AND Student_Caution_Money_Details.School_Id = @School_Id
						   LEFT OUTER JOIN @tblClassDetails tblClass
										ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
									 WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
									   AND (Student_Caution_Money_Details.Is_Deleted = 0) 
									   AND (vw_BaseStudentDetails.Is_Deleted = N'N') 
									   AND vw_BaseStudentDetails.School_Id = @School_Id  
									   AND Paid_By_Student = @IncludePaid	
									   AND Student_Caution_Money_Details.Amount>0									   
									END								   						  
							END
						ELSE
							BEGIN
							 SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' 
																				THEN N'-' 
																				ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
									 vw_BaseStudentDetails.StudentName, 
									 Student_Caution_Money_Details.Amount, 
									 Student_Caution_Money_Details.Payment_Cheque_Id, 
									 Student_Caution_Money_Details.Return_Cheque_Id, 
									 Student_Caution_Money_Details.Schoolwise_Student_Id, 
									 vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
									 ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
									 ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
									 Student_Caution_Money_Details.Return_Date,
									 Student_Caution_Money_Details.Paid_By_Student,
									 Student_Caution_Money_Details.Returned_By_School, 
									 vw_BaseStudentDetails.SchoolLeft_Date, 
									 vw_BaseStudentDetails.Admission_Date,
									 ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
									 ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
									 ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
								     CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  		      WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  		      ELSE '-' END AS PaymentMode,
								     CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  		      ELSE 'Yes' END AS IsReturned,
									 ISNULL(tblClass.ClassName,'-') AS className,
									 CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
									 CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
									 CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
								FROM Student_Caution_Money_Details 
						  INNER JOIN vw_BaseStudentDetails 
								  ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id						  
					 LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
								  ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id 
								 AND Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
					 LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
								  ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
							     AND Student_Caution_Money_Details.School_Id = @School_Id
					 LEFT OUTER JOIN @tblClassDetails tblClass
								  ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
							   WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
							     AND (Student_Caution_Money_Details.Is_Deleted = 0) 
								 AND (vw_BaseStudentDetails.Is_Deleted = N'N') 
								 AND vw_BaseStudentDetails.School_Id = @School_Id 
								 AND Returned_By_School = 1													 							     
							END
			END
		--ELSE
		--	BEGIN
		--		IF(@IncludeReturned = 0)
		--					BEGIN

		--							SELECT  CASE vw_BaseStudentDetails.Enrolment_Number WHEN '' THEN '-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
		--									vw_BaseStudentDetails.StudentName, 
		--									Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
		--									Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
		--									vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),' ','-'),'-') AS OrgPayment_Date,
		--									ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),' ','-'),'-') AS OrgReturn_Date,Student_Caution_Money_Details.Payment_Date,
		--									Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
		--									Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
		--									ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo
		--							FROM    Student_Caution_Money_Details INNER JOIN
		--									vw_BaseStudentDetails ON 
		--									Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id LEFT OUTER JOIN
		--									Student_Caution_Money_Cheque_Details ON 
		--									Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
		--									Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
		--							WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
		--									 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
		--									(Student_Caution_Money_Details.Is_Deleted = 0) AND  
		--									(vw_BaseStudentDetails.Is_Deleted = 'N') AND vw_BaseStudentDetails.School_Id = @School_Id AND (( vw_BaseStudentDetails.Enrolment_Number like '%' +  @RegNumber + '%' OR StudentName like '%' + @RegNumber +'%') 
		--									OR Student_Caution_Money_Cheque_Details.Cheque_Number=@ChequeNo OR Student_Caution_Money_Details.Payment_Date BETWEEN @StarDate AND @EndDate)
		--									AND Paid_By_Student = @IncludePaid
		--					END
		--				ELSE
		--					BEGIN
		--						SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN '' THEN '-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
		--									vw_BaseStudentDetails.StudentName, 
		--									Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
		--									Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
		--									vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),' ','-'),'-') AS OrgPayment_Date,
		--									ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),' ','-'),'-') AS OrgReturn_Date, Student_Caution_Money_Details.Payment_Date, 
		--									Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
		--									Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
		--									ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo
		--							FROM    Student_Caution_Money_Details INNER JOIN
		--									vw_BaseStudentDetails ON 
		--									Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id LEFT OUTER JOIN
		--									Student_Caution_Money_Cheque_Details ON 
		--									Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
		--									Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
		--							WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
		--									 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
		--									(Student_Caution_Money_Details.Is_Deleted = 0) AND  
		--									(vw_BaseStudentDetails.Is_Deleted = 'N') AND vw_BaseStudentDetails.School_Id = @School_Id AND (( vw_BaseStudentDetails.Enrolment_Number like '%' +  @RegNumber + '%' OR StudentName like '%' +  @RegNumber + '%')
		--									OR Student_Caution_Money_Cheque_Details.Cheque_Number=@ChequeNo OR Student_Caution_Money_Details.Payment_Date BETWEEN @StarDate AND @EndDate) 
		--									AND Returned_By_School = 1
		--					END
			
		--	END
			
			
		ELSE if @RegNumber<>N''
		BEGIN			
						IF(@IncludeReturned = 0)
							BEGIN
								IF(@School_Id = 71) -- PPSN School
									BEGIN
										SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' 
																						   THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											   vw_BaseStudentDetails.StudentName, 
											   Student_Caution_Money_Details.Amount, 
											   Student_Caution_Money_Details.Payment_Cheque_Id, 
											   Student_Caution_Money_Details.Return_Cheque_Id, 
											   Student_Caution_Money_Details.Schoolwise_Student_Id, 
											   vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											   ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
											   ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											   Student_Caution_Money_Details.Return_Date,
											   Student_Caution_Money_Details.Paid_By_Student,
											   Student_Caution_Money_Details.Returned_By_School, 
											   vw_BaseStudentDetails.SchoolLeft_Date, 
											   vw_BaseStudentDetails.Admission_Date,
											   ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											   ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											   ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											   CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											   CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  						ELSE 'Yes' END AS IsReturned,
											   ISNULL(tblClass.ClassName,'-') AS className,
											   CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
												CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
												CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
										  FROM Student_Caution_Money_Details 
									INNER JOIN vw_BaseStudentDetails 
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
											ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id  
										   AND Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
											ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
										   AND Student_Caution_Money_Details.School_Id = @School_Id
							   LEFT OUTER JOIN @tblClassDetails tblClass
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId					   
										 WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
										   AND (Student_Caution_Money_Details.Is_Deleted = 0) 
										   AND (vw_BaseStudentDetails.Is_Deleted = N'N') 
										   AND vw_BaseStudentDetails.School_Id = @School_Id  
										   AND Paid_By_Student = @IncludePaid
										   	AND Student_Caution_Money_Details.Amount>0
										   AND (vw_BaseStudentDetails.Enrolment_Number like N'%'+@RegNumber+N'%' OR StudentName like N'%' + @RegNumber +N'%')	
										  -- AND vw_BaseStudentDetails.SchoolLeft_Date IS NULL
										  and Student_Caution_Money_Details.Schoolwise_Student_Id not in (1403, 1538, 1845, 876, 875, 345, 342, 3377, 3436) 
									END
								ELSE
									BEGIN
											   SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' 
																						   THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											   vw_BaseStudentDetails.StudentName, 
											   Student_Caution_Money_Details.Amount, 
											   Student_Caution_Money_Details.Payment_Cheque_Id, 
											   Student_Caution_Money_Details.Return_Cheque_Id, 
											   Student_Caution_Money_Details.Schoolwise_Student_Id, 
											   vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											   ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
											   ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											   Student_Caution_Money_Details.Return_Date,
											   Student_Caution_Money_Details.Paid_By_Student,
											   Student_Caution_Money_Details.Returned_By_School, 
											   vw_BaseStudentDetails.SchoolLeft_Date, 
											   vw_BaseStudentDetails.Admission_Date,
											   ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											   ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											   ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											   CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											   CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  						ELSE 'Yes' END AS IsReturned,
											   ISNULL(tblClass.ClassName,'-') AS className,
											   CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
												CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
												CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
										  FROM Student_Caution_Money_Details 
									INNER JOIN vw_BaseStudentDetails 
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
											ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id  
										   AND Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
											ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
										   AND Student_Caution_Money_Details.School_Id = @School_Id
							   LEFT OUTER JOIN @tblClassDetails tblClass
											ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId					   
										 WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
										   AND (Student_Caution_Money_Details.Is_Deleted = 0) 
										   AND (vw_BaseStudentDetails.Is_Deleted = N'N') 
										   AND vw_BaseStudentDetails.School_Id = @School_Id  
										   AND Paid_By_Student = @IncludePaid
										   	AND Student_Caution_Money_Details.Amount>0
										   AND (vw_BaseStudentDetails.Enrolment_Number like N'%'+@RegNumber+N'%' OR StudentName like N'%' + @RegNumber +N'%')
									END							  							  
							END
						ELSE
							BEGIN
								SELECT CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
											ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
											ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  				     WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  				     ELSE '-' END AS PaymentMode,
											CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					 ELSE 'Yes' END AS IsReturned,
											ISNULL(tblClass.ClassName,'-') AS className,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									FROM    Student_Caution_Money_Details INNER JOIN
											vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id LEFT OUTER JOIN
											Student_Caution_Money_Cheque_Details ON 
											Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 											
											Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id											
											LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												   AND Student_Caution_Money_Details.School_Id = @School_Id
											LEFT OUTER JOIN @tblClassDetails tblClass
														 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
									WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
											(Student_Caution_Money_Details.Is_Deleted = 0) AND  
											(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 
											AND Returned_By_School = 1
											AND (vw_BaseStudentDetails.Enrolment_Number like N'%'+@RegNumber+N'%' OR StudentName like N'%' + @RegNumber +N'%')										   																				
							END
		END
		ELSE IF @ChequeNo<>N''
		BEGIN			
						IF(@IncludeReturned = 0)
							BEGIN								
									SELECT  CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
											ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
											ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					 ELSE 'Yes' END AS IsReturned,
											ISNULL(tblClass.ClassName,'-') AS className,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									FROM    Student_Caution_Money_Details INNER JOIN
											vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id LEFT OUTER JOIN
											Student_Caution_Money_Cheque_Details ON 
											Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
											LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												   AND Student_Caution_Money_Details.School_Id = @School_Id
											LEFT OUTER JOIN @tblClassDetails tblClass
														 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
									WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
											(Student_Caution_Money_Details.Is_Deleted = 0) AND  
											(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id  
											AND  Student_Caution_Money_Cheque_Details.Cheque_Number like N'%'+ @ChequeNo+N'%'
											AND Paid_By_Student = @IncludePaid
												AND Student_Caution_Money_Details.Amount>0																				   
							END
						ELSE
							BEGIN
								SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
											ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
											ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					 ELSE 'Yes' END AS IsReturned,
											ISNULL(tblClass.ClassName,'-') AS className,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									FROM    Student_Caution_Money_Details INNER JOIN
											vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id											
											LEFT OUTER JOIN
											Student_Caution_Money_Cheque_Details ON 
											Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
											LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												   AND Student_Caution_Money_Details.School_Id = @School_Id
											LEFT OUTER JOIN @tblClassDetails tblClass
														 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
									WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
											(Student_Caution_Money_Details.Is_Deleted = 0) AND  
											(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 
											AND  Student_Caution_Money_Cheque_Details.Cheque_Number like N'%'+@ChequeNo+N'%'
											AND Returned_By_School = 1											   								
											 
							END
		END
		ELSE IF @IncludeReturned = 1 AND ((@ReturnStartDate IS NOT NULL AND @ReturnStartDate <> '') OR (@ReturnEndDate IS NOT NULL AND @ReturnEndDate <> ''))
		BEGIN		
									IF @ReturnStartDate IS NOT NULL AND @ReturnEndDate IS NOT NULL
									BEGIN
											SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
													vw_BaseStudentDetails.StudentName, 
													Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
													Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
													vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
													ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
													ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
													Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
													Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
													ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
													ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
													ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
													CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  							  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  							  ELSE '-' END AS PaymentMode,
													CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  							 ELSE 'Yes' END AS IsReturned,
													ISNULL(tblClass.ClassName,'-') AS className,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
													CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
											FROM    Student_Caution_Money_Details INNER JOIN
													vw_BaseStudentDetails ON 
													Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id													
													LEFT OUTER JOIN
													Student_Caution_Money_Cheque_Details ON 
													Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
													Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
													LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												    AND Student_Caution_Money_Details.School_Id = @School_Id
													LEFT OUTER JOIN @tblClassDetails tblClass
																 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
											WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
													 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
													(Student_Caution_Money_Details.Is_Deleted = 0) AND  
													(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 
													AND Returned_By_School = 1
													AND Student_Caution_Money_Details.Return_Date BETWEEN @ReturnStartDate AND @ReturnEndDate																								   
									END
									ELSE IF @ReturnStartDate IS NOT NULL AND @ReturnEndDate IS NULL
									BEGIN
											SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
													vw_BaseStudentDetails.StudentName, 
													Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
													Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
													vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
													ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
													ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
													Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
													Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
													ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
													ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
													ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
													CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  							  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  							  ELSE '-' END AS PaymentMode,
													CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  							 ELSE 'Yes' END AS IsReturned,
													ISNULL(tblClass.ClassName,'-') AS className,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
													CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
											FROM    Student_Caution_Money_Details INNER JOIN
													vw_BaseStudentDetails ON 
													Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
													LEFT OUTER JOIN
													Student_Caution_Money_Cheque_Details ON 
													Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
													Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
													LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												    AND Student_Caution_Money_Details.School_Id = @School_Id
													LEFT OUTER JOIN @tblClassDetails tblClass
																 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
											WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
													 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
													(Student_Caution_Money_Details.Is_Deleted = 0) AND  
													(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 													
													AND Returned_By_School = 1
													AND Student_Caution_Money_Details.Return_Date >= @ReturnStartDate																								   
									END
									ELSE
									BEGIN
											SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
													vw_BaseStudentDetails.StudentName, 
													Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
													Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
													vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
													ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
													ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
													Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
													Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
													ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
													ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
													ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
													CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  							  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  							  ELSE '-' END AS PaymentMode,
													CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  							 ELSE 'Yes' END AS IsReturned,
													ISNULL(tblClass.ClassName,'-') AS className,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
													CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
													CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
											FROM    Student_Caution_Money_Details INNER JOIN
													vw_BaseStudentDetails ON 
													Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
													LEFT OUTER JOIN
													Student_Caution_Money_Cheque_Details ON 
													Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
													Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
													LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												    AND Student_Caution_Money_Details.School_Id = @School_Id
													LEFT OUTER JOIN @tblClassDetails tblClass
																 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
											WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
													 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
													(Student_Caution_Money_Details.Is_Deleted = 0) AND  
													(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 													
													AND Returned_By_School = 1
													AND Student_Caution_Money_Details.Return_Date <= @ReturnEndDate												   										
									END
		END
		ELSE
		BEGIN		
						IF(@IncludeReturned = 0)
							BEGIN
								SELECT  CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date,
											ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
											ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					 ELSE 'Yes' END AS IsReturned,
											ISNULL(tblClass.ClassName,'-') AS className,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									FROM    Student_Caution_Money_Details INNER JOIN
											vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 											
											LEFT OUTER JOIN
											Student_Caution_Money_Cheque_Details ON 
											Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
											Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
											LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												   AND Student_Caution_Money_Details.School_Id = @School_Id
											LEFT OUTER JOIN @tblClassDetails tblClass
														 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId
											
									WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
											(Student_Caution_Money_Details.Is_Deleted = 0) AND  
											(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id  
											--AND Student_Caution_Money_Cheque_Details.Cheque_Date BETWEEN @StarDate AND @EndDate
											AND Paid_By_Student = @IncludePaid
											AND Student_Caution_Money_Details.Amount>0
											AND Student_Caution_Money_Details.Payment_Date BETWEEN @StarDate AND @EndDate																				   
							END
						ELSE
							BEGIN
							
								SELECT      CASE vw_BaseStudentDetails.Enrolment_Number WHEN N'' THEN N'-' ELSE vw_BaseStudentDetails.Enrolment_Number END Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id, Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,106),N' ',N'-'),N'-') AS OrgPayment_Date,
											ISNULL(REPLACE(CONVERT (NVARCHAR(20),Student_Caution_Money_Details.Return_Date,106),N' ',N'-'),N'-') AS OrgReturn_Date, 
											ISNULL(CONVERT(NVARCHAR(20),Student_Caution_Money_Details.Payment_Date,6),'-') AS Payment_Date,
											Student_Caution_Money_Details.Return_Date,Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, vw_BaseStudentDetails.SchoolLeft_Date, vw_BaseStudentDetails.Admission_Date,
											ROW_NUMBER() OVER ( ORDER BY vw_BaseStudentDetails.Enrolment_Number) as RowNo,
											ISNULL(Student_Caution_Money_Details.Receipt_Number,0) AS Receipt_Number,
											ISNULL(CONVERT(NVARCHAR(5),SCMCD.Cheque_Number),'-') AS Cheque_Number,
											CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'Q' THEN 'Cheque' 
							  					  WHEN Student_Caution_Money_Details.Payment_Mode = 'C' THEN 'Cash'
							  					  ELSE '-' END AS PaymentMode,
											CASE WHEN Student_Caution_Money_Details.Returned_By_School = 0 THEN 'No'
							  					 ELSE 'Yes' END AS IsReturned,
											ISNULL(tblClass.ClassName,'-') AS className,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Little Angel Academia Private Limited.' else 'Dr. D. Y. Patil Academy''s' end as AccountHeader,
											CASE WHEN tblClass.IsPrePrimary = 1 then 'Admission Fees.' else 'Development Fund' end as FeeName,
											CASE WHEN tblClass.IsPrePrimary = 1 then 1 else 2 end as TypeId
									FROM    Student_Caution_Money_Details INNER JOIN
											vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 											
											LEFT OUTER JOIN
											Student_Caution_Money_Cheque_Details ON 
											Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id AND 
											Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
											LEFT OUTER JOIN Student_Caution_Money_Cheque_Details SCMCD
													ON Student_Caution_Money_Details.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
												   AND Student_Caution_Money_Details.School_Id = @School_Id
											LEFT OUTER JOIN @tblClassDetails tblClass
														 ON Student_Caution_Money_Details.Schoolwise_Student_Id = tblClass.SchoolwiseStudentId											
									WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) AND 
											(Student_Caution_Money_Details.Is_Deleted = 0) AND  
											(vw_BaseStudentDetails.Is_Deleted = N'N') AND vw_BaseStudentDetails.School_Id = @School_Id 
											--AND Student_Caution_Money_Cheque_Details.Cheque_Date BETWEEN @StarDate AND @EndDate
											AND Returned_By_School = 1
											AND Student_Caution_Money_Details.Payment_Date BETWEEN @StarDate AND @EndDate									
							END
		END
	END

