/****** Object:  StoredProcedure [dbo].[usp_InsertApplyLeaveDetails]    Script Date: 25-02-2026 17:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_InsertApplyLeaveDetails]
@Id Int,
@UserId Int,
@LeaveId Int,
@StartDate datetime,
@EndDate datetime,
@TotalDays decimal(10,2),
@ChargeHandoverTo Int,
@Description Nvarchar(Max),
@SchoolId Int,
@InsertedById Int,
@AcademicYearId int,
@Attachment nvarchar(500) = NULL
AS
BEGIN

--BEGIN TRANSACTION
--BEGIN TRY

	  INSERT INTO UserLeaveDetails 
	             (
				    UserId,
					LeaveId,
					StatusId,
					StartDate,
					EndDate,
					TotalDays,
					ChargeHandoverTo,
					Description,
					IsDeleted,
					SchoolId,
					AcademicYearId,
					InsertedById,
					InsertDate,
					IsLeaveUpdatedInPayroll,
					Attachment
				)
	    Values
		          (
				    @UserId,
					@LeaveId,
					1,
					@StartDate,
					@EndDate,
					@TotalDays,
					@ChargeHandoverTo,
					@Description,
					0,
					@SchoolId,
					@AcademicYearId,
					@InsertedById,
					dbo.GetLocalDate(default),
					0,
					@Attachment
			)

	 DECLARE @UserLeaveId INT

	 SELECT @UserLeaveId = SCOPE_IDENTITY()

INSERT INTO [dbo].[LeaveApprovalDetails]
           ([UserLeaveDetailsId]
           ,[ReportingUserId]
           ,[Remark]
           ,[StatusId]
           ,[IsDeleted]
           ,[SchoolId]
           ,[AcademicYearID]
           ,[InsertDate]
           ,[InsertedById])
     VALUES
           (@UserLeaveId
           ,@UserId
           ,''
           ,3
           ,0
           ,@SchoolId
           ,@AcademicYearId
           ,dbo.GetLocalDate(DEFAULT)
           ,@InsertedById)
		
	   DECLARE @ReceiverUserId INT

		SELECT TOP 1 @ReceiverUserId = ReportingUserId
		  FROM LeaveApprovalConfigurationDetails
		 WHERE UserId = @UserId
		   AND IsDeleted = 0
		   AND SchoolId = @SchoolId
		   AND AcademicYearId = @AcademicYearId
		   --AND ApproverSortOrder = 1
		   ORDER BY ApproverSortOrder

		   EXEC usp_SendMessageregardingUserLeave @SchoolId, @AcademicYearId, @UserId,@ReceiverUserId, @UserLeaveId,0,0
		  --EXEC usp_SendMessageregardingUserLeave @SchoolId, @AcademicYearId, @InsertedById, @UserId, @UserLeaveId,0,0

--raiserror('Test Error',16,1)
--COMMIT TRANSACTION
--END TRY
--BEGIN CATCH
--PRINT ERROR_MESSAGE()
--ROLLBACK TRANSACTION
--END CATCH		
END
