/****** Object:  StoredProcedure [dbo].[usp_GetStudentMarksForProgressReport_PPSH]    Script Date: 10-10-2025 15:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 18 Jan 2021
-- Description:	This usp is used to get student mark details for 6th to 8th standard for PPSH school.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentMarksForProgressReport_PPSH]
    @School_Id INT,  
	@Academic_Year_Id INT,  
	@StudentId INT = NULL,  
	@Standard_Id INT,  
	@Division_Id INT,
	@TermId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @CompSubId INT = 0

		SELECT @CompSubId = Subject_Id
		FROM Subject_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		and Is_Deleted = 'N'
		and Subject_Name = 'Computers'

DECLARE @tblStudentMarkDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	SubjectId INT,
	SubjectName NVARCHAR(100),
	TotalMarkScored DECIMAL(10,1),
	OutOfMarks INT,
	TestId INT,
	SchoolwiseTestName NVARCHAR(100),
	IsAbsent CHAR(1)
)

INSERT INTO @tblStudentMarkDetails
     SELECT SWSTM.Student_Id,
	        SM.Subject_Id,
		    SM.Subject_Name,
		    Total_Marks_Scored,		
		    Subject_Total_Marks,   
		    SWTM.SchoolWise_Test_Id,
		    SWTM.SchoolWise_Test_Name,
			SWSTM.Is_Absent
       FROM SchoolWise_Student_Test_Marks SWSTM WITH(NOLOCK)
 INNER JOIN SchoolWise_Test_Subject_Marks_Master SWTSMM WITH(NOLOCK)
		 ON SWSTM.School_Id = SWTSMM.School_Id
	    AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
	    AND SWSTM.TestWise_Subject_Marks_Id = SWTSMM.TestWise_Subject_Marks_Id
 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
		 ON SWTSMM.SchoolWise_Test_Id = SWTM.SchoolWise_Test_Id
	    AND SWTSMM.School_Id = SWTM.School_Id
	    AND SWTSMM.Academic_Year_Id = SWTM.academic_year_id
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.SchoolWise_Standard_Division_Id = SWTSMM.Standard_Division_Id
	    AND vwSD.School_Id = SWTSMM.School_Id
	    AND vwSD.academic_year_id = SWTSMM.Academic_Year_Id
 INNER JOIN SchoolWise_Standard_Subject_Master SWSSM WITH(NOLOCK)
		 ON SWSSM.Standard_Id = vwSD.Standard_Id
	    AND SWSSM.Subject_Id = SWSTM.Subject_Id
	    AND SWSSM.School_Id = SWSTM.School_Id
	    AND SWSSM.academic_year_id = SWSTM.Academic_Year_Id
 INNER JOIN Subject_Master SM WITH(NOLOCK)
		 ON SWSSM.Subject_Id = SM.Subject_Id
	    AND SWSSM.School_Id = SM.School_Id
	    AND SWSSM.academic_year_id = SM.academic_Year_Id
      WHERE SWSTM.Academic_Year_Id = @Academic_Year_Id
	    AND SWSTM.Is_Deleted = 'N'
        AND SWSTM.School_Id = @School_Id
        AND (Student_Id = @StudentId OR @StudentId = 0)
	    AND SWTSMM.Is_Deleted = 'N'
	    AND SWTM.Is_Deleted = 'N'
	    AND SWSSM.Is_Deleted = 'N'
	    AND SM.Is_Deleted = 'N'
	    AND SM.School_Id = @School_Id
	    AND SM.academic_Year_Id = @Academic_Year_Id
	    AND SM.Is_CoCurricularActivity = 0
	    AND SWTM.Term_Id = @TermId
		AND vwSD.Standard_Id = @Standard_Id
		AND vwSD.SchoolWise_Standard_Division_Id = @Division_Id
		AND vwSD.School_Id = @School_Id
		AND vwSD.academic_year_id = @Academic_Year_Id
   ORDER BY SWTM.Original_SchoolWise_Test_Id,
            SWSSM.Sort_Order
			
	IF @School_Id = 11 AND @Academic_Year_Id >= 14
	BEGIN
		DELETE 	FROM @tblStudentMarkDetails
		where (SubjectName = 'Computers' OR SubjectName = 'Computers*')
		and SchoolwiseTestName In ( 'Pre - Mid Term','Post Mid Term')
	END

-- Term 1

     UPDATE @tblStudentMarkDetails
        SET OutOfMarks = 10,
            TotalMarkScored = ROUND(((TotalMarkScored / 50) * 10),1),
			SchoolwiseTestName = 'Periodic Test',
			TestId = 1
      WHERE SchoolwiseTestName = 'Periodic Assessment I'
        AND OutOfMarks = 50

	 UPDATE @tblStudentMarkDetails
	    SET SchoolwiseTestName = 'Half Yearly Exam'
	  WHERE SchoolwiseTestName = 'Mid term Exam'

	 UPDATE @tblStudentMarkDetails
	    SET SchoolwiseTestName = 'Note Book',
		    TestId = 2
	  WHERE SchoolwiseTestName = 'Note Book 1'

	 UPDATE @tblStudentMarkDetails
	    SET TestId = 3,
		    SchoolwiseTestName = 'Subject Enrichment'
	  WHERE SchoolwiseTestName = 'Subject Enrichment 1'

	IF @School_Id = 11 and @Academic_Year_Id >= 10
	BEGIN
			UPDATE @tblStudentMarkDetails
			SET OutOfMarks = 10,
				TotalMarkScored = ROUND(((TotalMarkScored / (CASE WHEN SubjectId = @CompSubId THEN 50 ELSE 80 END)) * 10),1),
				SchoolwiseTestName = 'Periodic Test',
				TestId = 1
			WHERE SchoolwiseTestName = 'Pre - Mid Term'
	END

-- Term 2

	UPDATE @tblStudentMarkDetails
        SET OutOfMarks = 10,
            TotalMarkScored = ROUND(((TotalMarkScored / 80) * 10),1),
			SchoolwiseTestName = 'Periodic Test',
			TestId = 1
      WHERE SchoolwiseTestName = 'Post Mid Term'
        AND OutOfMarks = 80

	UPDATE @tblStudentMarkDetails
        SET OutOfMarks = 10,
            TotalMarkScored = ROUND(((TotalMarkScored / 50) * 10),1),
			SchoolwiseTestName = 'Periodic Test',
			TestId = 1
      WHERE SchoolwiseTestName = 'Post Mid Term'
        AND OutOfMarks = 50

	 UPDATE @tblStudentMarkDetails
	    SET SchoolwiseTestName = 'Note Book',
		    TestId = 2
	  WHERE SchoolwiseTestName = 'Note Book 2'

     UPDATE @tblStudentMarkDetails
	    SET TestId = 3,
		    SchoolwiseTestName = 'Subject Enrichment'
	  WHERE SchoolwiseTestName = 'Subject Enrichment 2'

	 UPDATE @tblStudentMarkDetails
	    SET TestId = 4,
		    SchoolwiseTestName = 'Yearly Exam'
	  WHERE SchoolwiseTestName = 'Final Exam'

INSERT INTO @tblStudentMarkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			SUM(TotalMarkScored),
			SUM(OutOfMarks),
			999,
			'Marks Obtained',
			'N'
       FROM @tblStudentMarkDetails
   GROUP BY StudentId,
	        SubjectId,
			SubjectName

  --   UPDATE @tblStudentMarkDetails
	 --   SET TotalMarkScored = ROUND(TotalMarkScored * 100 / OutOfMarks,1),
		--	OutOfMarks = 100
  --    WHERE SchoolwiseTestName = 'Marks Obtained'
		--AND OutOfMarks <> 100
		--AND IsAbsent = 'N'

DECLARE @tblMArkDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	SubjectId INT,
	SubjectName NVARCHAR(100),
	TotalMarkScored NVARCHAR(10),
	OutOfMarks INT,
	TestId INT,
	SchoolwiseTestName NVARCHAR(100),
	IsAbsent CHAR(1)
)


INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			TotalMarkScored,
			OutOfMarks,
			TestId,
			SchoolwiseTestName,
			IsAbsent
	   FROM @tblStudentMarkDetails

INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,	
			MGCD.Grade_Name,
			0,		
			1000,
			'Grade',
			'N'
       FROM @tblStudentMarkDetails tblStud
 INNER JOIN Marks_Grades_Configuration_Details MGCD WITH(NOLOCK)
		 ON (tblStud.TotalMarkScored / tblStud.OutOfMarks * 100) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
 INNER JOIN Marks_Grades_Configuration MGC WITH(NOLOCK)
		 ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id		
      WHERE SchoolwiseTestName = 'Marks Obtained'	    
		AND MGCD.Is_Deleted = 'N'
		AND MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGC.Is_Deleted = 'N'
		AND MGC.Standard_Id = @Standard_Id	 
		

		UPDATE TMD
		SET TotalMarkScored = TotalMarkScored + '*'
		FROM @tblMArkDetails TMD
		INNER JOIN
		(
			SELECT StudentId, SubjectId
			FROM @tblMArkDetails
			where SchoolwiseTestName NOT IN ('Marks Obtained','Grade')
			GROUP BY StudentId, SubjectId
			HAVING sum(OutOfMarks) <> 100
		)SS
		ON TMD.StudentId = SS.StudentId
		AND TMD.SubjectId = SS.SubjectId
		WHERE SchoolwiseTestName = 'Marks Obtained'

		UPDATE TMD
		SET SubjectName = SubjectName + '*'
		FROM @tblMArkDetails TMD
		INNER JOIN
		(
			SELECT StudentId, SubjectId
			FROM @tblMArkDetails
			where SchoolwiseTestName NOT IN ('Marks Obtained','Grade')
			GROUP BY StudentId, SubjectId
			HAVING sum(OutOfMarks) <> 100
		)SS
		ON TMD.StudentId = SS.StudentId
		AND TMD.SubjectId = SS.SubjectId
		--WHERE SchoolwiseTestName = 'Marks Obtained'

IF @School_Id = 11 AND @Academic_Year_Id >= 14
BEGIN
INSERT INTO @tblMArkDetails
	 SELECT StudentId,
	        @CompSubId,
			'Computers',
			'NA',
			0,
			TestId,
			SchoolwiseTestName,
			'N'
       FROM @tblMArkDetails
      WHERE SubjectName = 'English'
		AND SchoolwiseTestName = 'Periodic Test'		
END

INSERT INTO @tblMArkDetails
	 SELECT StudentId,
	        @CompSubId,
			'Computers',
			'NA',
			0,
			TestId,
			SchoolwiseTestName,
			'N'
       FROM @tblMArkDetails
      WHERE SubjectName = 'English'
		AND SchoolwiseTestName = 'Note Book'

INSERT INTO @tblMArkDetails
	 SELECT StudentId,
	        @CompSubId,
			'Computers',
			'NA',
			0,
			TestId,
			SchoolwiseTestName,
			'N'
       FROM @tblMArkDetails
      WHERE SubjectName = 'English'
		AND SchoolwiseTestName = 'Subject Enrichment'

	 --UPDATE @tblMArkDetails
	 --   SET TotalMarkScored = TotalMarkScored + '*'
	 -- WHERE SubjectName IN ('Marathi','Sanskrit','German','Computers')
	 --   AND SchoolwiseTestName = 'Marks Obtained'		

	 --UPDATE @tblMArkDetails
	 --   SET SubjectName = SubjectName + '*'	
	 -- WHERE SubjectName IN ('Marathi','Sanskrit','German','Computers')	

	 DECLARE @tblFinalMarks AS TABLE
	 (
		Student_Id INT,
		TermId INT,
		Percentage NUMERIC(10,2)
	 )

	 INSERT INTO @tblFinalMarks
	 SELECT YSD.Student_Id, @TermId, CONVERT(NUMERIC(10,2),ROUND((Marks/OutOfMarks)*100,2)) AS Percentage
	 FROM YearWise_Student_Details YSD
	 INNER JOIN
	 (
		 select StudentId, sum(CONVERT(NUMERIC(10,2),REPLACE(TotalMarkScored,'*',''))) as Marks,sum(OutOfMarks) as OutOfMarks
		 from @tblMArkDetails
		 where SchoolwiseTestName = 'Marks Obtained'
		 group by StudentId
	 )S
	 ON YSD.YearWise_Student_Id = S.StudentId


	 DECLARE @CatchPercentage BIT = 1
	 IF @CatchPercentage = 1 AND @TermId = 2
	 BEGIN
		UPDATE SFRD
		SET Percentage = TFM.Percentage
		from StudentFinalResultDetails SFRD
		INNER JOIN @tblFinalMarks TFM
		ON SFRD.SchoolwiseStudentId = TFM.Student_Id
		WHERE SFRD.SchoolId = @School_Id
		AND SFRD.AcademicYearId = @Academic_Year_Id
		AND SFRD.IsDeleted = 0

		INSERT INTO StudentFinalResultDetails
		SELECT TFM.Student_Id,TFM.Percentage,@School_Id,@Academic_Year_Id,0
		FROM @tblFinalMarks TFM
		LEFT OUTER JOIN StudentFinalResultDetails SFRD
		ON TFM.Student_Id = SFRD.SchoolwiseStudentId
		AND SFRD.SchoolId = @School_Id
		AND SFRD.AcademicYearId = @Academic_Year_Id
		AND SFRD.IsDeleted = 0
		WHERE SFRD.SchoolwiseStudentId IS NULL
	 END

	 UPDATE STRD
	 SET Percentage = TFM.Percentage
	 FROM  @tblFinalMarks TFM
	 INNER JOIN StudentTermwiseResultDetails STRD
	 ON TFM.Student_Id = STRD.SchoolwiseStudentId
	 AND TFM.TermId = STRD.TermId
	 WHERE STRD.IsDeleted = 0
	 AND STRD.AcademicYearId = @Academic_Year_Id

	 INSERT INTO StudentTermwiseResultDetails
	 SELECT TFM.Student_Id, TFM.TermId, TFM.Percentage,@School_Id,@Academic_Year_Id,0
	 FROM  @tblFinalMarks TFM
	 LEFT OUTER JOIN StudentTermwiseResultDetails STRD
	 ON TFM.Student_Id = STRD.SchoolwiseStudentId
	 AND STRD.IsDeleted = 0
	 AND STRD.TermId = @TermId
	 WHERE STRD.SchoolwiseStudentId IS NULL
	 
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			CASE WHEN IsAbsent = 'Y' THEN 'Ab' WHEN IsAbsent = 'E' THEN 'Ex' ELSE TotalMarkScored END AS TotalMarkScored,
			TestId,
			SchoolwiseTestName + CASE WHEN TestId <> 1000 THEN '               (' + CONVERT(NVARCHAR(10),OutOfMarks) + ')' ELSE '' END AS SchoolwiseTestName,
			@TermId AS TermId
	   FROM @tblMArkDetails
   ORDER BY StudentId,
            SubjectId,
			TestId
END