/****** Object:  StoredProcedure [dbo].[usp_SendMessageregardingUserLeave]    Script Date: 8/19/2026 4:01:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 12 Sept 2020
-- Description:	This usp is used to send message to user regarding leave.
-- =============================================
ALTER PROCEDURE [dbo].[usp_SendMessageregardingUserLeave] 
	@SchoolId INT,
	@AcademicYearId INT,
	@SenderUserId INT,
	@ReceiverUserId INT,
	@UserLeaveId INT,
	@IsFinalApprover BIT,
	@IsLeaveRejected BIT,
	@IsMessageFromUpdateLeave BIT = 0,
	@FromLeaveTypeId INT = 0,
	@OldStartDate DATE = NULL,
	@OldEndDate DATE = NULL,
	@OldTotalDays DECIMAL(10,2) = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		   DECLARE @Subject NVARCHAR(200) = '',
		           @MessageBody NVARCHAR(1000) = '',
				   @DisplayText NVARCHAR(100) = '',
				   @SenderUserRoleId INT,
				   @PrimaryKey INT,
				   @ReceiverUserRoleId INT,
				   --@SenderNameWithDesig NVARCHAR(500) = '',
				   @LeaveRequesterWithDesig NVARCHAR(500) = '',
				   @LeaveRequestUserId INT,
				   @LeaveRequestUserRoleId INT,
				   @Date DATE,
				   @OldLeaveType NVARCHAR(50),
				   @NewLeaveType NVARCHAR(50),
				   @NewStartDate DATE,
				   @NewEndDate DATE,
				   @NewTotalDays DECIMAL(10,2)

				SELECT @SenderUserRoleId = User_Role_Id
				  FROM User_Master
				 WHERE User_Id = @SenderUserId
				   AND Is_Deleted = 'N'
				   AND School_Id = @SchoolId
				   AND Is_Locked = 'N'

				SELECT @ReceiverUserRoleId = User_Role_Id
				  FROM User_Master
				 WHERE User_Id = @ReceiverUserId
				   AND Is_Deleted = 'N'
				   AND School_Id = @SchoolId
				   AND Is_Locked = 'N'

				IF(@ReceiverUserRoleId = 2) -- Teacher
					BEGIN
						SELECT @DisplayText = UserName + ' (' + Designation + ')'
						  FROM vw_AllPayrollUsers
						 WHERE AcademicYearId = @AcademicYearId
						   AND Is_Deleted = 'N'
						   AND SchoolId = @SchoolId
						   AND UserId = @ReceiverUserId
					END
				ELSE IF(@SenderUserRoleId = 6) -- Admin Staff
					BEGIN
						SELECT @DisplayText = SupervisorName + ' (' + Teacher_Designation_Name + ')'
						  FROM vw_BaseSupervisorDetails vwBSD
					INNER JOIN Teacher_Designation_Master TDM
							ON vwBSD.Designation_Id = TDM.Teacher_Designation_Id
						 WHERE vwBSD.Is_Deleted = 'N'
						   AND vwBSD.School_Id = @SchoolId
						   AND User_Id = @ReceiverUserId
					END

				--IF(@SenderUserRoleId = 2) -- Teacher
				--	BEGIN
				--		SELECT @SenderNameWithDesig = UserName + ' (' + Designation + ')'
				--		  FROM vw_AllPayrollUsers
				--		 WHERE AcademicYearId = @AcademicYearId
				--		   AND Is_Deleted = 'N'
				--		   AND SchoolId = @SchoolId
				--		   AND UserId = @SenderUserId
				--	END
				--ELSE IF(@SenderUserRoleId = 6) -- Admin Staff
				--	BEGIN
				--		SELECT @SenderNameWithDesig = SupervisorName + ' (' + Teacher_Designation_Name + ')'
				--		  FROM vw_BaseSupervisorDetails vwBSD
				--	INNER JOIN Teacher_Designation_Master TDM
				--			ON vwBSD.Designation_Id = TDM.Teacher_Designation_Id
				--		 WHERE vwBSD.Is_Deleted = 'N'
				--		   AND vwBSD.School_Id = @SchoolId
				--		   AND User_Id = @SenderUserId
				--	END

				DECLARE @TblDefaultReportingUsers AS TABLE
				(
					UserId INT,
					UserRoleId INT
				)

				insert into @TblDefaultReportingUsers
				SELECT RD.Receiver_User_Id, um.User_Role_Id
				FROM ReportingUserDetails RD
				INNER JOIN ReportingParameters RP
				ON RD.ReportingTypeId = RP.Id
				inner join User_Master um
				on rd.Receiver_User_Id = um.User_Id
				WHERE RD.Is_Deleted = 0
				AND RP.IsDeleted = 0
				and um.Is_Deleted = 'N'
				AND RP.Id = 22 -- Leave approve/reject notification
				
				SELECT @LeaveRequestUserId = UserId,
				@Date = StartDate,
				@NewLeaveType = ShortName,
				@NewStartDate = StartDate,
				@NewEndDate = EndDate,
				@NewTotalDays = TotalDays
				FROM UserLeaveDetails ULD
				INNER JOIN StaffLeaves SL
				ON ULD.LeaveId = SL.LeaveId
				WHERE Id = @UserLeaveId
				AND ULD.SchoolId = @SchoolId
				AND ULD.IsDeleted = 0
				AND SL.Is_Deleted = 'N'

				SELECT @OldLeaveType = ShortName
				FROM StaffLeaves
				WHERE SchoolId = @SchoolId
				AND Is_Deleted = 'N'
				AND LeaveId = @FromLeaveTypeId

			SELECT @LeaveRequestUserRoleId = User_Role_Id
				FROM User_Master
				WHERE User_Id = @LeaveRequestUserId
				AND Is_Deleted = 'N'
				AND School_Id = @SchoolId
				AND Is_Locked = 'N'

				IF(@LeaveRequestUserRoleId = 2) -- Teacher
				BEGIN
					SELECT @LeaveRequesterWithDesig = UserName + ' (' + Designation + ')'
						FROM vw_AllPayrollUsers
						WHERE AcademicYearId = @AcademicYearId
						AND Is_Deleted = 'N'
						AND SchoolId = @SchoolId
						AND UserId = @LeaveRequestUserId
					
				END
			ELSE IF(@LeaveRequestUserRoleId = 6) -- Admin Staff
				BEGIN
					SELECT @LeaveRequesterWithDesig = SupervisorName + ' (' + Teacher_Designation_Name + ')'
						FROM vw_BaseSupervisorDetails vwBSD
				INNER JOIN Teacher_Designation_Master TDM
						ON vwBSD.Designation_Id = TDM.Teacher_Designation_Id
						WHERE vwBSD.Is_Deleted = 'N'
						AND vwBSD.School_Id = @SchoolId
						AND User_Id = @LeaveRequestUserId
				END
	
			   IF(@IsFinalApprover = 0)
					BEGIN
						--SELECT @LeaveRequestUserId = UserId
						--  FROM UserLeaveDetails
						-- WHERE Id = @UserLeaveId
						--   AND SchoolId = @SchoolId
						--   AND IsDeleted = 0

						--SELECT @LeaveRequestUserRoleId = User_Role_Id
						--  FROM User_Master
						-- WHERE User_Id = @LeaveRequestUserId
						--   AND Is_Deleted = 'N'
						--   AND School_Id = @SchoolId
						--   AND Is_Locked = 'N'

						--   IF(@LeaveRequestUserRoleId = 2) -- Teacher
						--	BEGIN
						--		SELECT @LeaveRequesterWithDesig = UserName + ' (' + Designation + ')'
						--		  FROM vw_AllPayrollUsers
						--		 WHERE AcademicYearId = @AcademicYearId
						--		   AND Is_Deleted = 'N'
						--		   AND SchoolId = @SchoolId
						--		   AND UserId = @LeaveRequestUserId
						--	END
						--ELSE IF(@LeaveRequestUserRoleId = 6) -- Admin Staff
						--	BEGIN
						--		SELECT @LeaveRequesterWithDesig = SupervisorName + ' (' + Teacher_Designation_Name + ')'
						--		  FROM vw_BaseSupervisorDetails vwBSD
						--	INNER JOIN Teacher_Designation_Master TDM
						--			ON vwBSD.Designation_Id = TDM.Teacher_Designation_Id
						--		 WHERE vwBSD.Is_Deleted = 'N'
						--		   AND vwBSD.School_Id = @SchoolId
						--		   AND User_Id = @LeaveRequestUserId
						--	END

					   SET @Subject = 'Leave Approval Request From - ' + @LeaveRequesterWithDesig

					   SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;A leave request of &amp;nbsp;<b>'+ @LeaveRequesterWithDesig +'</b> is received for your approval.&lt;br /&gt;&lt;br /&gt;
										  Note - This is auto generated message.&lt;br /&gt;' 
					END 
			   ELSE
					BEGIN
						 SET @Subject = 'Leave Request Approved.'
						
						 SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;Your leave request is approved.&lt;br /&gt;&lt;br /&gt;
										  Note - This is auto generated message.&lt;br /&gt;' 
					END

				IF(@IsLeaveRejected = 1)
					BEGIN
						SET @Subject = 'Leave Request Rejected.'
						
						 SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;Your leave request is Rejected.&lt;br /&gt;&lt;br /&gt;
										  Note - This is auto generated message.&lt;br /&gt;' 
					END

				IF (@IsMessageFromUpdateLeave = 1)
					BEGIN
						SET @Subject = 'Changes are done in leave applied for ' + CAST(FORMAT(@OldStartDate,'dd-MMM-yyyy') AS VARCHAR(30))

						DECLARE @LeaveTypeMsg NVARCHAR(500) = '',
								@StartDateMsg NVARCHAR(500) = '',
								@EndDateMsg NVARCHAR(500) = '',
								@TotalDaysMsg NVARCHAR(500) = ''
						
						IF @OldLeaveType <> @NewLeaveType
							SET @LeaveTypeMsg ='Leave Type : From '+ @OldLeaveType+' to '+@NewLeaveType+'.&lt;br /&gt;&lt;br /&gt;'

						IF @OldStartDate <> @NewStartDate
							SET @StartDateMsg ='Start Date : From '+ CAST(FORMAT(@OldStartDate,'dd-MMM-yyyy') AS VARCHAR(30))+' to '+CAST(FORMAT(@NewStartDate,'dd-MMM-yyyy') AS VARCHAR(30))+'.&lt;br /&gt;&lt;br /&gt;'

						IF @OldEndDate <> @NewEndDate
							SET @EndDateMsg ='End Date : From '+ CAST(FORMAT(@OldEndDate,'dd-MMM-yyyy') AS VARCHAR(30))+' to '+CAST(FORMAT(@NewEndDate,'dd-MMM-yyyy') AS VARCHAR(30))+'.&lt;br /&gt;&lt;br /&gt;'
						
						IF @OldTotalDays <> @NewTotalDays
							SET @TotalDaysMsg ='Total Days : From '+ CAST(@OldTotalDays AS NVARCHAR(10))+' to '+CAST(@NewTotalDays AS NVARCHAR(10))+'.&lt;br /&gt;&lt;br /&gt;'

						If @OldLeaveType <> '' OR @OldStartDate <> '' OR @OldEndDate <> '' OR @OldTotalDays <> ''
						BEGIN
							SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;'
											+'Changes are done in following leave related fields - &lt;br /&gt;&lt;br /&gt;'
											+@LeaveTypeMsg+
											+@StartDateMsg+
											+@EndDateMsg+
											+@TotalDaysMsg+
											'Note - This is auto generated message.&lt;br /&gt;' 
						END
					END

				IF @MessageBody IS NOT NULL AND @MessageBody <> ''
				BEGIN
				
					INSERT INTO Message_Details
								( 
									Subject 
									,Message_Body 
									,Display_Text 
									,Is_DeletedFromUser 
									,Sender_User_Role_Id 
									,Sender_User_Id 
									,Attatchment 
									,Academic_Year_Id 
									,Is_Deleted 
									,Insert_Date 
									,Inserted_By_Id 
									,RequestReadReceipt
								)
						  VALUES( 
									 @Subject
									,@MessageBody
									,@DisplayText
									,N'N'
									,@SenderUserRoleId
									,@SenderUserId
									,N''
									,@AcademicYearId
									,N'N'
									,dbo.GetLocalDate(DEFAULT)
									,@SenderUserId
									,0
								)
				
						SET @PrimaryKey = (SELECT SCOPE_IDENTITY())

						 INSERT INTO Message_Receiver_Details
									( 
										 Message_Details_Id 
										,Read_Message_Flag 
										,New_Message_Flag 
										,Is_DeletedFromReceiver 
										,Receiver_User_Role_Id 
										,Receiver_User_Id 
										,Is_Deleted 
										,Insert_Date 
										,Inserted_By_Id 
										,IsReadRequestAccepted
										,ReadingDateTime
									)
							 VALUES (
										@PrimaryKey,
										'N',
										'Y',
										'N',
										@ReceiverUserRoleId,
										@ReceiverUserId,
										'N',
										dbo.GetLocalDate(DEFAULT),
										@SenderUserId,
										NULL,
										NULL
									)
				END
	
				IF @IsFinalApprover = 1
				and exists
				(
					select top 1 1
					from @TblDefaultReportingUsers
					WHERE (@SchoolId <> 71  OR dbo.udf_GetLeaveMsgRestrictedUsers(@SchoolId, UserId) = 0)
				)
				BEGIN
						if @IsLeaveRejected = 0
						begin
							SET @Subject = 'Leave request approved : '+@LeaveRequesterWithDesig
							 SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;Leave request of staff '''+@LeaveRequesterWithDesig+''' is approved.&lt;br /&gt;&lt;br /&gt;
												  Note - This is auto generated message.&lt;br /&gt;' 
						end
						else
						begin
							SET @Subject = 'Leave Request Rejected : '+@LeaveRequesterWithDesig
						
							SET @MessageBody = 'Hello Sir/Ma&amp;#39;am,&lt;br /&gt;&lt;br /&gt;Leave request of staff '''+@LeaveRequesterWithDesig+''' is Rejected.&lt;br /&gt;&lt;br /&gt;
										  Note - This is auto generated message.&lt;br /&gt;' 
						end

						INSERT INTO Message_Details
						    ( 
								Subject 
								,Message_Body 
								,Display_Text 
								,Is_DeletedFromUser 
								,Sender_User_Role_Id 
								,Sender_User_Id 
								,Attatchment 
								,Academic_Year_Id 
								,Is_Deleted 
								,Insert_Date 
								,Inserted_By_Id 
								,RequestReadReceipt
							)
					  VALUES( 
								 @Subject
								,@MessageBody
								,@DisplayText
								,N'N'
								,@SenderUserRoleId
								,@SenderUserId
								,N''
								,@AcademicYearId
								,N'N'
								,dbo.GetLocalDate(DEFAULT)
								,@SenderUserId
								,0
							)
				
				    SET @PrimaryKey = (SELECT SCOPE_IDENTITY())

				     INSERT INTO Message_Receiver_Details
								( 
									 Message_Details_Id 
									,Read_Message_Flag 
									,New_Message_Flag 
									,Is_DeletedFromReceiver 
									,Receiver_User_Role_Id 
									,Receiver_User_Id 
									,Is_Deleted 
									,Insert_Date 
									,Inserted_By_Id 
									,IsReadRequestAccepted
									,ReadingDateTime
								)
						   select
									@PrimaryKey,
									'N',
									'Y',
									'N',
									UserRoleId,
									UserId,
									'N',
									dbo.GetLocalDate(DEFAULT),
									@SenderUserId,
									NULL,
									NULL
								from @TblDefaultReportingUsers
							     WHERE  (@SchoolId <> 71  OR dbo.udf_GetLeaveMsgRestrictedUsers(@SchoolId, UserId) = 0)
				END
END
GO
