/****** Object:  StoredProcedure [dbo].[usp_CheckStudentDuplicatePDC]    Script Date: 15-04-2026 6.11.05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================================================
-- Author		: Suyash Bongale
-- Create date	: 30 Aug 2024
-- Description	: This store procedure is used for check duplicate cheque number
--				  
-- ================================================================================================
CREATE PROCEDURE [dbo].[usp_CheckStudentDuplicatePDC]
	@PostDatedChequeId INT,
	@IsDeleted CHAR(1) = 'N',  -- Assuming 'N' is a default value for not deleted
	@IsChequeBounce CHAR(1) = 'N'  -- Assuming 'N' is a default value for cheque not bounced
AS
BEGIN
    -- Initialize a variable to hold the WHERE clause part for Postdated_Cheque_Id
    -- Check if the PostDatedChequeId is not zero, then add the condition to the WHERE clause

    -- Construct and execute the SQL query
    DECLARE @SQLQuery NVARCHAR(MAX);

    SET @SQLQuery = 'SELECT COUNT(Student_Id) 
                     FROM Schoolwise_Student_PostDatedCheques 
                     WHERE Is_Deleted = @IsDeleted 
                     AND PostDated_Cheque_Id = @PostDatedChequeId 
                     AND Is_Cheque_Bounce = @IsChequeBounce' ;

    EXEC sp_executesql @SQLQuery,
        N'@IsDeleted CHAR(1), @PostDatedChequeId INT,  @IsChequeBounce CHAR(1)',
        @IsDeleted = @IsDeleted,
		@PostDatedChequeId = @PostDatedChequeId,
        @IsChequeBounce = @IsChequeBounce;
END
