/****** Object:  StoredProcedure [dbo].[usp_CheckStudentPostDatedCheque]    Script Date: 17-04-2026 10.54.29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================================================
-- Author		: Suyash Bongale
-- Create date	: 30 Aug 2024
-- Description	: This store procedure is used for check duplicate cheque number
--				  
-- ================================================================================================
CREATE PROCEDURE [dbo].[usp_CheckStudentPostDatedCheque]
	@PostDatedChequeId INT,
	@ChequeNumber NVARCHAR(50),
	@StudentId INT,
	@IsDeleted CHAR(1) = 'N',  -- Assuming 'N' is a default value for not deleted
	@IsChequeBounce CHAR(1) = 'N'  -- Assuming 'N' is a default value for cheque not bounced
AS
BEGIN
    -- Initialize a variable to hold the WHERE clause part for Postdated_Cheque_Id
    DECLARE @WhereClause NVARCHAR(MAX) = '';

    -- Check if the PostDatedChequeId is not zero, then add the condition to the WHERE clause
    IF @PostDatedChequeId <> 0
    BEGIN
        SET @WhereClause = ' AND Postdated_Cheque_Id <> ' + CAST(@PostDatedChequeId AS NVARCHAR(10));
    END

    -- Construct and execute the SQL query
    DECLARE @SQLQuery NVARCHAR(MAX);

    SET @SQLQuery = 'SELECT COUNT(Student_Id) 
                     FROM Schoolwise_Student_PostDatedCheques 
                     WHERE Is_Deleted = @IsDeleted 
                     AND Cheque_Number = @ChequeNumber 
                     AND Student_Id = @StudentId 
                     AND Is_Cheque_Bounce = @IsChequeBounce' + @WhereClause;

    EXEC sp_executesql @SQLQuery,
        N'@IsDeleted CHAR(1), @ChequeNumber NVARCHAR(50), @StudentId INT, @IsChequeBounce CHAR(1)',
        @IsDeleted = @IsDeleted,
        @ChequeNumber = @ChequeNumber,
        @StudentId = @StudentId,
        @IsChequeBounce = @IsChequeBounce;
END
