/****** Object:  StoredProcedure [Accounts].[usp_GetBankMasterWithPagination]    Script Date: 17-04-2026 10.17.45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Accounts].[usp_GetBankMasterWithPagination]
 @SchoolId INT,
 @Bank_Name VARCHAR(100) = NULL,
 @PageNumber INT = 1,
 @PageSize INT = 10,
 @TotalRecords INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Create a temporary table to hold distinct Bank IDs
    CREATE TABLE #TempBankIds (Bank_Id INT);

    -- Insert distinct Bank IDs into the temporary table
    INSERT INTO #TempBankIds (Bank_Id)
    SELECT DISTINCT Bank_Id 
    FROM 
        (SELECT Bank_Id 
         FROM StudentCardPaymentDetails 
         WHERE Is_Deleted = 0

         UNION 

         SELECT DepositBankId 
         FROM Schoolwise_Student_Fee_Details 
         WHERE Is_Deleted = 'N'

         UNION 

         SELECT Bank_Id 
         FROM Schoolwise_Student_PostDatedCheques 
         WHERE Is_Deleted = 'N') AS CombinedResults;

    -- Calculate the total number of filtered records for pagination
    SELECT @TotalRecords = COUNT(*)
    FROM Schoolwise_Bank_Master SBM
    LEFT JOIN #TempBankIds TB ON SBM.Schoolwise_Bank_Id = TB.Bank_Id
    WHERE SBM.Is_Deleted <> 'Y'  -- Exclude records where Is_Deleted is 'Y'
      AND (@SchoolId IS NULL OR SBM.School_Id = @SchoolId)  -- Filter by SchoolId if provided
      AND (@Bank_Name IS NULL OR SBM.Bank_Name LIKE @Bank_Name + '%');  -- Filter banks starting with Bank_Name if provided

    -- Select from Schoolwise_Bank_Master and add the delete column
    IF @PageNumber = 0
    BEGIN
        -- Return all records if PageNumber is 0
        SELECT 
            SBM.*, 
            CASE 
                WHEN TB.Bank_Id IS NULL THEN 1 
                ELSE 0 
            END AS [delete]
        FROM 
            Schoolwise_Bank_Master SBM
        LEFT JOIN 
            #TempBankIds TB ON SBM.Schoolwise_Bank_Id = TB.Bank_Id
        WHERE 
            SBM.Is_Deleted <> 'Y'  -- Exclude records where Is_Deleted is 'Y'
            AND (@SchoolId IS NULL OR SBM.School_Id = @SchoolId)  -- Filter by SchoolId if provided
            AND (@Bank_Name IS NULL OR SBM.Bank_Name LIKE @Bank_Name + '%')  -- Filter banks starting with Bank_Name if provided
        ORDER BY 
            SBM.Bank_Name;
    END
    ELSE
    BEGIN
        -- Apply pagination if PageNumber is greater than 0
        SELECT 
            SBM.*, 
            CASE 
                WHEN TB.Bank_Id IS NULL THEN 1 
                ELSE 0 
            END AS [delete]
        FROM 
            Schoolwise_Bank_Master SBM
        LEFT JOIN 
            #TempBankIds TB ON SBM.Schoolwise_Bank_Id = TB.Bank_Id
        WHERE 
            SBM.Is_Deleted <> 'Y'  -- Exclude records where Is_Deleted is 'Y'
            AND (@SchoolId IS NULL OR SBM.School_Id = @SchoolId)  -- Filter by SchoolId if provided
            AND (@Bank_Name IS NULL OR SBM.Bank_Name LIKE @Bank_Name + '%')  -- Filter banks starting with Bank_Name if provided
        ORDER BY 
            SBM.Bank_Name
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY;  -- Pagination
    END

    -- Drop the temporary table after use
    DROP TABLE #TempBankIds;
END

