/****** Object:  StoredProcedure [dbo].[usp_GetChequeDetailsWithPagination]    Script Date: 17-04-2026 11.03.57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Suyash Bongale (BlueBenz)
-- Create date: 11 Sep 2024
-- Description:	Used to fetch cheque details with pagination. 
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetChequeDetailsWithPagination]
  @StudentId INT,
  @PageNumber INT,          -- Pagination: Page Number
  @PageSize INT             -- Pagination: Page Size
AS
BEGIN
    SET NOCOUNT ON; 
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

    DECLARE @AmtPaid NVARCHAR(20), @AmtPayable NVARCHAR(20),
            @AmtPaidCount NVARCHAR(20), @AmtPayableCount NVARCHAR(20),
            @TotalRecords INT;   -- Variable to store total record count

    -- Declare temporary table for cheque details with additional RowNo column
    DECLARE @TemptblFeeDetails AS TABLE
    (
        PostDated_Cheque_Id INT,
        Cheque_Number NVARCHAR(50),
        Cheque_Date DATETIME,
        Bank_Name NVARCHAR(50),
        Remarks NVARCHAR(1000),
        Cheque_Amount INT,
        Status NVARCHAR(15),
        Is_Cheque_Bounce NVARCHAR(1),
        BankId INT,
        RowNo INT  -- Row number for pagination
    );

    -- Insert cheque details into temp table with row numbers
    INSERT INTO @TemptblFeeDetails
    SELECT
        PostDated_Cheque_Id,
        Cheque_Number,
        Cheque_Date,
        Bank_Name,
        Remarks,
        Cheque_Amount,
        N'Pending' AS Status,
        Is_Cheque_Bounce,
        Bank_Id,
        ROW_NUMBER() OVER (ORDER BY Cheque_Date) AS RowNo  -- Generate row numbers for pagination
    FROM Schoolwise_Student_PostDatedCheques
    INNER JOIN Schoolwise_Bank_Master
        ON Schoolwise_Student_PostDatedCheques.Bank_Id = Schoolwise_Bank_Master.Schoolwise_Bank_Id
        AND Schoolwise_Student_PostDatedCheques.School_Id = Schoolwise_Bank_Master.School_Id
    WHERE
        Schoolwise_Student_PostDatedCheques.Is_Deleted = N'N'
        AND Schoolwise_Student_PostDatedCheques.Student_Id = @StudentId
        AND Schoolwise_Student_PostDatedCheques.Is_PDC = N'Y'
        AND Schoolwise_Bank_Master.Is_Deleted = N'N';

    -- Set status 'Paid' for cheques in Student_Fee_PDC_Details table
    UPDATE @TemptblFeeDetails
    SET Status = N'Paid'
    WHERE PostDated_Cheque_Id IN (
        SELECT PDC_Id
        FROM Student_Fee_PDC_Details
        WHERE Is_Deleted = N'N'
    );

    -- Set status 'Bounced' for cheques that bounced
    UPDATE @TemptblFeeDetails
    SET Status = N'Bounced'
    WHERE Is_Cheque_Bounce = N'Y';

    -- Take sum of amount paid for non-bounced, paid cheques
    SELECT @AmtPaid = ISNULL(SUM(Cheque_Amount), 0)
    FROM @TemptblFeeDetails
    WHERE Status = N'Paid' AND Is_Cheque_Bounce = N'N';

    -- Take sum of amount payable for non-bounced, pending cheques
    SELECT @AmtPayable = ISNULL(SUM(Cheque_Amount), 0)
    FROM @TemptblFeeDetails
    WHERE Status = N'Pending' AND Is_Cheque_Bounce = N'N';

    -- If no data, set default values
    IF @AmtPaid IS NULL SET @AmtPaid = 0;
    IF @AmtPayable IS NULL SET @AmtPayable = 0;

    -- Take count of cheques deposited (paid)
    SELECT @AmtPaidCount = ISNULL(COUNT(PostDated_Cheque_Id), 0)
    FROM @TemptblFeeDetails
    WHERE Status = N'Paid' AND Is_Cheque_Bounce = N'N';

    -- Take count of cheques in hand (pending)
    SELECT @AmtPayableCount = ISNULL(COUNT(PostDated_Cheque_Id), 0)
    FROM @TemptblFeeDetails
    WHERE Status = N'Pending' AND Is_Cheque_Bounce = N'N';

    -- If no data, set default values
    IF @AmtPaidCount IS NULL SET @AmtPaidCount = 0;
    IF @AmtPayableCount IS NULL SET @AmtPayableCount = 0;

    -- Get total record count
    SELECT @TotalRecords = COUNT(1) FROM @TemptblFeeDetails;

    -- Get paginated cheque information
    SELECT *
    FROM @TemptblFeeDetails
    WHERE RowNo > (@PageNumber - 1) * @PageSize AND RowNo <= @PageNumber * @PageSize
    ORDER BY Cheque_Date;

    -- Return total record count
    SELECT @TotalRecords AS TotalRecordCount;

    -- Return the summary of amount paid and payable
    SELECT
        @AmtPaidCount + N' (Rs. ' + @AmtPaid + N'/-)' AS AmountPaid,
        @AmtPayableCount + N' (Rs. ' + @AmtPayable + N'/-)' AS AmountPayable;
END


