/****** Object:  StoredProcedure [Accounts].[usp_GetDashboardStat]    Script Date: 17-04-2026 10.51.15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Accounts].[usp_GetDashboardStat]
@SchoolId INT,
@Academic_Year_Id INT
AS
BEGIN
    WITH FeeTotals AS (
        SELECT 
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Debit' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TotalReceivableFees,
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TotalReceivedFees
        FROM Schoolwise_Student_Fee_Details
        WHERE School_Id = @SchoolId
            AND Academic_Year_Id = @Academic_Year_Id 
            AND Is_Deleted = 'N'
			AND Is_Cheque_Bounce = 'N'
			AND (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
    ),
    TodaysCollections AS (
        SELECT 
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' AND Payable_For <> 'Concession Fee' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TotalPaid,
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' AND Payable_For = 'Concession Fee' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TotalConcessionFee,
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' AND Payable_For <> 'Concession Fee' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) -
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' AND Payable_For = 'Concession Fee' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TodaysCollections
        FROM Schoolwise_Student_Fee_Details
        WHERE Paid_Date = CAST(DBO.GetLocalDate(DEFAULT) AS DATE)
            AND School_Id = @SchoolId 
            AND Academic_Year_Id = @Academic_Year_Id 
            AND Is_Deleted = 'N'
			AND Is_Cheque_Bounce = 'N'
			and [Debit/Credit] = 'credit'
			AND (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
    ),
    TotalConcessionTillDate AS (
        SELECT 
            ISNULL(SUM(CASE WHEN [Debit/Credit] = 'Credit' AND Is_Concession_Fee = 'Y' THEN CAST(Amount AS BIGINT) ELSE 0 END), 0) AS TotalConcessionTillDate
        FROM Schoolwise_Student_Fee_Details
        WHERE School_Id = @SchoolId 
            AND Academic_Year_Id = @Academic_Year_Id 
            AND Is_Deleted = 'N'
			AND Is_Concession_Fee = 'Y'
			AND Is_Cheque_Bounce = 'N'
			and [Debit/Credit] = 'credit'
			AND (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
    )

    SELECT 
        FeeTotals.TotalReceivableFees,
        FeeTotals.TotalReceivedFees,
        TodaysCollections.TodaysCollections,
        TotalConcessionTillDate.TotalConcessionTillDate
    FROM FeeTotals
    CROSS JOIN TodaysCollections
    CROSS JOIN TotalConcessionTillDate;
END
