/****** Object:  StoredProcedure [dbo].[usp_GetSiblingsWithSchoolWiseStdId]    Script Date: 17-04-2026 10.57.11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetSiblingsWithSchoolWiseStdId]
    @SchoolId INT,
    @AcademicYearId INT,
    @StudentId INT	
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    SET NOCOUNT ON;
	
    DECLARE @StudentSiblingDetails AS TABLE
    (	
        YearwiseStudentId INT,
        RegistrationNo NVARCHAR(50),
        StudentName NVARCHAR(100),
        StandardName NVARCHAR(30),
        DivisionName NVARCHAR(30),
        IsLeftStudent BIT,
        StudentSiblingId INT	
    )
	
    -- Insert sibling details into the table
    INSERT INTO @StudentSiblingDetails
    EXEC [Usp_GetStudentSiblingDetailExcludingMid] @SchoolId, @AcademicYearId, @StudentId;
	
    -- Select the sibling details along with the matching base student details
    SELECT
        SSD.YearwiseStudentId,
        SSD.RegistrationNo,
        SSD.StudentName,
        BSD.SchoolWise_Student_Id
    FROM @StudentSiblingDetails SSD
	INNER JOIN YearWise_Student_Details YSD
	ON SSD.YearwiseStudentId = YSD.YearWise_Student_Id
    JOIN vw_BaseStudentDetails BSD
    ON YSD.Student_Id = BSD.SchoolWise_Student_Id
END

