/****** Object:  StoredProcedure [dbo].[usp_GetStudentCautionMoneyDetailsForNote]    Script Date: 17-04-2026 10.56.12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetStudentCautionMoneyDetailsForNote]
    @YearWiseStudentId INT,
    @SchoolId INT
AS
BEGIN
    -- Error handling
    BEGIN TRY
        -- Declare a variable to store the Student_Id based on YearWise_Student_Id
        DECLARE @StudentId INT;

        -- Get the Student_Id from YearWise_Student_Details
        SELECT @StudentId = Student_Id
        FROM YearWise_Student_Details
        WHERE YearWise_Student_Id = @YearWiseStudentId;

        -- Select from vw_StudentCautionMoneyDetails using the fetched Student_Id and provided School_Id
        SELECT *
        FROM vw_StudentCautionMoneyDetails
        WHERE Schoolwise_Student_Id = @StudentId
          AND School_Id = @SchoolId;
    END TRY
    BEGIN CATCH
        -- Handle any errors that might occur
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Raise the error with detailed information
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
