/****** Object:  StoredProcedure [dbo].[usp_InsertStudentPostDatedCheques]    Script Date: 15-04-2026 6.09.36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Suyash Bongale (Bluebenz)
-- Create date: 02 Sep 2024
-- Description:	This stored procedure is used for inserting post dated cheque details of a given student. 
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsertStudentPostDatedCheques]
    @Student_Id INT,
    @Cheque_Number NVARCHAR(50),
    @Cheque_Date DATE,
    @Bank_Id INT,
    @Remarks NVARCHAR(255),
    @Cheque_Amount DECIMAL(18, 2),
    @Inserted_By_id INT,
    @School_Id INT,
    @Academic_Year_Id INT,
    @Is_PDC CHAR(1)
AS
BEGIN
    -- Insert statement
    INSERT INTO Schoolwise_Student_PostDatedCheques (
        Student_Id,
        Cheque_Number,
        Cheque_Date,
        Bank_Id,
        Remarks,
        Cheque_Amount,
        Inserted_By_id,
        School_Id,
        Academic_Year_Id,
        Is_PDC
    ) 
    VALUES (
        @Student_Id,
        @Cheque_Number,
        @Cheque_Date,
        @Bank_Id,
        @Remarks,
        @Cheque_Amount,
        @Inserted_By_id,
        @School_Id,
        @Academic_Year_Id,
        @Is_PDC
    );
END;
