/****** Object:  StoredProcedure [Accounts].[usp_SearchExactBankMaster]    Script Date: 17-04-2026 10.52.49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Accounts].[usp_SearchExactBankMaster]
    @SchoolId INT,
    @Academic_Year_Id INT,
    @Bank_Name VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN
        
        -- Retrieve bank details with pagination and optional search
        SELECT 
            Schoolwise_Bank_Id,
            School_Id,
            Academic_Year_Id,
            Bank_Name,
            Is_Deleted,
            Inserted_By_Id,
            Insert_Date,
            Updated_By_Id,
            Update_Date
        FROM 
            Schoolwise_Bank_Master BM
        WHERE 
            BM.School_Id = @SchoolId 
            AND BM.Academic_Year_Id = @Academic_Year_Id
            AND BM.Is_Deleted = 'N'
              AND (BM.Bank_Name = @Bank_Name)
    
    END
END

