/****** Object:  StoredProcedure [dbo].[usp_SearchGetPagedStudentsForFee]    Script Date: 17-04-2026 10.55.24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SearchGetPagedStudentsForFee]
  @prm_iSchoolId INT,
  @prm_iAcademicYrId INT,
  @prm_Class NVARCHAR(1000) = NULL,
  @prm_Search NVARCHAR(1000) = NULL,  -- Combined search parameter
  @PageNumber INT,
  @PageSize INT,
  @SortExp NVARCHAR(1000)
AS
BEGIN
    -- Set default sort expression if not provided
    IF @SortExp IS NULL
        SET @SortExp = 'ORDER BY RowNo';

    -- Prepare filter conditions
    DECLARE @prm_Filter NVARCHAR(4000) = '';
    IF @prm_Class IS NOT NULL AND LEN(@prm_Class) > 0
        SET @prm_Filter = @prm_Filter + ' AND [Standard_Division_Name] LIKE ''%' + @prm_Class + '%'' ';
    IF @prm_Search IS NOT NULL AND LEN(@prm_Search) > 0
        SET @prm_Filter = @prm_Filter + 
                          ' AND ([Name] LIKE ''%' + @prm_Search + '%'' ' +
                          ' OR [Enrolment_Number] LIKE ''%' + @prm_Search + '%'')';

    -- Replace sort expressions if necessary
    SET @SortExp = REPLACE(@SortExp, 'Designation_id', 'Name');
    SET @SortExp = REPLACE(@SortExp, 'StandardDivision', 'SchoolWise_Standard_Division_Id');

    DECLARE @sQuery NVARCHAR(4000);

    -- Create a temporary table
    CREATE TABLE #tblStudents
    (
        CancellationFormNo INT,
        Name NVARCHAR(100),
        Roll_No INT,
        SchoolWise_Standard_Division_Id INT,
        School_Id INT,
        Academic_Year_ID INT,
        YearWise_Student_Id INT,
        Deactivation_Reason VARCHAR(100),
        Enrolment_Number NVARCHAR(50),
        DOB DATETIME,
        User_Id INT,
        SchoolWise_Student_Id INT,
        StandardDivision NVARCHAR(50),
        Is_Leave NVARCHAR(2),
        RowNo INT,
        SchoolLeft_Date DATETIME,
        Joining_Date DATETIME,
        PeningFeeTillDate INT,
        TotalPeningFee INT,
        Is_RTE_Student BIT,
        Form_Number NVARCHAR(50),
        TotalRows INT
    );

    -- Build dynamic SQL query
    SET @sQuery = '
        SELECT
            CancellationFormNo,
            Name,
            Roll_No,
            SchoolWise_Standard_Division_Id,
            A.School_Id,
            Academic_Year_ID,
            YearWise_Student_Id,
            A.Deactivation_Reason,
            Enrolment_Number,
            A.DOB,
            A.User_Id,
            A.SchoolWise_Student_Id,
            StandardDivision,
            Is_Leave,
            RowNo,
            SchoolLeft_Date,
            Joining_Date,
            0 AS PeningFeeTillDate,
            0 AS TotalPeningFee,
            Is_RTE_Student,
            ISNULL(c.FormNumber, '''') AS FormNumber,
            TotalRows
        FROM
        (
            SELECT
                CancellationFormNo,
                Name,
                Roll_No,
                SchoolWise_Standard_Division_Id,
                SAYM.School_Id,
                SAYM.Academic_Year_ID,
                Student_Id AS YearWise_Student_Id,
                Deactivation_Reason,
                Enrolment_Number,
                DOB,
                User_Id,
                SchoolWise_Student_Id,
                Standard_Division_Name AS StandardDivision,
                Is_Leave,
                SchoolLeft_Date,
                Joining_Date,
                Is_RTE_Student,
                ROW_NUMBER() OVER (' + @SortExp + ') AS RowNo,
                COUNT(1) OVER() AS TotalRows
            FROM [dbo].[vw_GetAllStudentsForStandardDivision]
            INNER JOIN SchoolWise_Academic_Year_Master SAYM
                ON [dbo].[vw_GetAllStudentsForStandardDivision].Academic_Year_ID = SAYM.Academic_Year_ID
            WHERE
                SAYM.School_Id = ' + CAST(@prm_iSchoolId AS VARCHAR(10)) + '
                AND SAYM.Academic_Year_ID = ' + CAST(@prm_iAcademicYrId AS VARCHAR(10)) + '
                ' + @prm_Filter + '
        ) AS A
        INNER JOIN User_Master b
            ON A.User_Id = b.User_Id
        LEFT JOIN Student_Caution_Money_Details c
            ON A.SchoolWise_Student_Id = c.Schoolwise_Student_Id
            AND c.Is_Deleted = 0
        WHERE RowNo > ' + CAST(((@PageNumber - 1) * @PageSize) AS NVARCHAR) + '
            AND RowNo <= ' + CAST((@PageNumber * @PageSize) AS NVARCHAR);

    -- Execute dynamic SQL query and insert into temporary table
    INSERT INTO #tblStudents
    EXECUTE sp_executesql @sQuery;

    -- Calculate pending fee and total fee
    DECLARE @TotalCnt INT = 0, @RowNo INT = 0, @StudId INT;

    SELECT @TotalCnt = COUNT(1) FROM #tblStudents;
    SELECT TOP 1 @RowNo = RowNo FROM #tblStudents ORDER BY RowNo;

    WHILE (@RowNo <= (@PageNumber * @PageSize) AND @TotalCnt > 0)
    BEGIN
        SELECT @StudId = YearWise_Student_Id FROM #tblStudents WHERE RowNo = @RowNo;

        UPDATE #tblStudents
        SET PeningFeeTillDate = PendingFee.PendingAmt,
            TotalPeningFee = PendingFee.TotalAmt
        FROM #tblStudents AllStudents
        INNER JOIN UDF_GetTotalPendingFeeDetails(@prm_iSchoolId, @prm_iAcademicYrId, @StudId) AS PendingFee
            ON AllStudents.YearWise_Student_Id = PendingFee.StudentId;

        SET @RowNo = @RowNo + 1;
        SET @TotalCnt = @TotalCnt - 1;
    END

    -- Return the first result set (student data)
    SELECT *
    FROM #tblStudents;

    -- Return the second result set (total record count)
    SELECT MAX(TotalRows) AS TotalRecordCount
    FROM #tblStudents;

    -- Clean up
    DROP TABLE #tblStudents;
END
