/****** Object:  StoredProcedure [Accounts].[usp_InsertBankMaster]    Script Date: 17-04-2026 4.35.34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ===============================================================================
-- Author:		Shivaji (Bluebenz Digitizations Pvt Ltd)
-- Create date: 20 aug 2024
-- Description:	Insert bank details non accounting effect transaction
-- ===============================================================================
CREATE PROCEDURE [Accounts].[usp_InsertBankMaster]
	@SchoolId INT,
	@Academic_Year_Id INT,
	@BankName NVARCHAR(100),
	@Inserted_By_Id INT
AS
BEGIN			INSERT [DBO].[Schoolwise_Bank_Master]
				   (School_Id
				  ,Academic_Year_Id
				  ,Bank_Name
				  ,Is_Deleted
				  ,Inserted_By_Id
				  ,Insert_Date			   
				   )
			 VALUES
				   (@SchoolId
				   ,@Academic_Year_Id
				   ,@BankName
				   ,'N'
				   ,@Inserted_By_Id
				   ,dbo.GetLocalDate(DEFAULT)				  
				   )

			DECLARE @ID INT
			SET @ID = SCOPE_IDENTITY()
END