/****** Object:  StoredProcedure [Accounts].[usp_UpdateBankMaster]    Script Date: 17-04-2026 4.54.50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author		: Shivaji Mali (Bluebenz Digitization Pvt Ltd)
-- Create date	: 20-08-2024
-- Description	: Update bank details specially only name of bank
-- ================================================================================================
CREATE PROCEDURE [Accounts].[usp_UpdateBankMaster]
	@Schoolwise_Bank_Id INT,
	@Bank_Name VARCHAR(100),
	@Updated_By_Id INT
AS
BEGIN
	
		UPDATE Schoolwise_Bank_Master
		   SET 
				Bank_Name = @Bank_Name, 
				Updated_By_Id = @Updated_By_Id,
				Update_Date = dbo.GetLocalDate(DEFAULT)
			WHERE Schoolwise_Bank_Id = @Schoolwise_Bank_Id
END
	
