/****** Object:  StoredProcedure [Accounts].[usp_DeleteBankMaster]    Script Date: 17-04-2026 4.58.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author		: Shivaji Mali (Bluebenz Digitization Pvt Ltd)
-- Create date	: 20-08-2024
-- Description	: Update bank details specially only name of bank
-- ================================================================================================
CREATE PROCEDURE [Accounts].[usp_DeleteBankMaster]
	@Schoolwise_Bank_Id INT,
	@Updated_By_Id INT
AS
BEGIN	
		UPDATE Schoolwise_Bank_Master
		   SET 
				Is_Deleted='Y',
				Updated_By_Id = @Updated_By_Id,
				Update_Date = dbo.GetLocalDate(DEFAULT)
			WHERE Schoolwise_Bank_Id = @Schoolwise_Bank_Id
END
	
