/****** Object:  StoredProcedure [dbo].[usp_SaveInvestmentDeclarationDetails]    Script Date: 20-04-2026 6.42.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ===================================================================================
-- Author:		Sachin
-- Create date: 4 Jan 2012
-- Description:	This stored procedure is used to save investment declarations.
-- ===================================================================================
ALTER PROCEDURE [dbo].[usp_SaveInvestmentDeclarationDetails]
	@SchoolId INT,
	@FinancialYearId INT,
	@UpdatedById INT,
	@UserId INT,
	@Xml XML,
	@RegimeId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblDeclarations AS TABLE
	(
		pk INT IDENTITY(1,1),
		Id INT,
		InvestmentMethodId INT,
		Amount NUMERIC(18,2),
	--	FilePath NVARCHAR(200),
		IsDocumnetSubmitted BIT,
		IsDeleted CHAR(1)
	)
	
	INSERT INTO @tblDeclarations
	SELECT   T.c.value('./Id[1]','INT'),
			 T.c.value('./InvestmentMethodId[1]','INT'),
			 T.c.value('./Amount[1]','NUMERIC(18,2)'),
			 --T.c.value('./FilePath[1]','NVARCHAR(300)'),
			 T.c.value('./IsDocSubmitted[1]','BIT'),
			 T.c.value('./IsDeleted[1]','CHAR(1)')
	FROM @Xml.nodes('ArrayOfInvestmentDeclaration/InvestmentDeclaration') T(c)

    DECLARE @Count INT = 0,
			@Id INT,
			@InvestmentMethodId INT,
			@Amount NUMERIC(18,2),
		--	@FilePath NVARCHAR(200),
			@IsDocumnetSubmitted BIT,
			@pk INT
			
	UPDATE InvestmentDeclarations
	SET IsDeleted = 1,
		UpdatedById = @UpdatedById,
		UpdateDate = dbo.GetLocalDate(DEFAULT)
	FROM InvestmentDeclarations ID
	INNER JOIN @tblDeclarations TD
	ON ID.Id = TD.Id
	WHERE TD.IsDeleted = N'Y'
    
    DELETE FROM @tblDeclarations
    WHERE IsDeleted = N'Y'
    
    SELECT @Count = COUNT(1)
    FROM @tblDeclarations
    
    WHILE @Count > 0
    BEGIN
		
		SELECT TOP 1 @pk = pk, 
					 @Id = Id, 
					 @InvestmentMethodId = InvestmentMethodId, 
					 @Amount = Amount, 
					-- @FilePath = FilePath, 
					 @IsDocumnetSubmitted = IsDocumnetSubmitted
		FROM @tblDeclarations
		
		IF NOT EXISTS
		(
			SELECT TOP 1 1
			FROM InvestmentDeclarations
			WHERE SchoolId = @SchoolId
			AND IsDeleted = 0
			AND FinancialYearId = @FinancialYearId
			AND UserId = @UserId
			AND InvestmentMethodId = @InvestmentMethodId
		)		
		BEGIN			
			INSERT INTO InvestmentDeclarations
			(
				InvestmentMethodId,
				UserId,
				Amount, 
				FilePatch,
				IsDocSubmitted,
				SchoolId,
				FinancialYearId,
				InsertedById,
				UpdatedById
			)
			SELECT
				@InvestmentMethodId,
				@UserId,
				@Amount,
				N'',
				--@FilePath,
				@IsDocumnetSubmitted,
				@SchoolId,
				@FinancialYearId,
				@UpdatedById,
				@UpdatedById
		END
		ELSE
		BEGIN
			UPDATE InvestmentDeclarations
			SET Amount = @Amount,
				--FilePatch = @FilePath,
				IsDocSubmitted = @IsDocumnetSubmitted,
				UpdatedById = @UpdatedById,
				UpdateDate = dbo.GetLocalDate(DEFAULT)
			WHERE Id = @Id
		END
		
		DELETE FROM @tblDeclarations
		WHERE pk = @pk
    
		SELECT @Count = COUNT(1)
		FROM @tblDeclarations


    END

	EXEC [dbo].[usp_SaveRegimDetails] @SchoolId  = @SchoolId, @UserId  = @UserId, @FinancialYearId = @FinancialYearId,@RegimeId = @RegimeId, @UpdatedById = @UpdatedById
END