/****** Object:  StoredProcedure [Mobile].[usp_GetScreensAccessPermissions]    Script Date: 20-04-2026 9.44.49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Mobile].[usp_GetScreensAccessPermissions] 
     @SchoolId INT
	,@AcademicYearId INT
	,@UserId INT
	,@ScreenIds NVARCHAR(MAX) = ''
AS
BEGIN
	SET NOCOUNT ON;

	--DECLARE Temporary table to get comma seprated value of screenId
	DECLARE @tblScreenIds TABLE (Id INT)
	
	IF @UserId = 3861
	BEGIN
		INSERT INTO APICall_Temp
		SELECT '6 [usp_GetScreensAccessPermissions] '
	END

	--Insert ScreenId into
	INSERT INTO @tblScreenIds
	SELECT *
	FROM [dbo].[udf_GetTableFromList](@ScreenIds)

	--Declare variable and set value as No.
	DECLARE @IsClassTeacher CHAR = 'N'
	
	--Select @IsClassTeacher as yes in teacher entry available in vw_ClassTeacher 
	SELECT @IsClassTeacher = 'Y'
	FROM [dbo].[vw_ClassTeacher]
	WHERE User_Id = @UserId
		AND School_Id = @SchoolId
		AND Is_Deleted = N'N'
		and academic_year_id = @AcademicYearId

	-- Here we declare temporary table to insert user screen permissions into this table.
	DECLARE @tblUserScreenPermissions AS TABLE (
		ScreenId INT
		,ScreenName NVARCHAR(200)
		,IsViewAvailable CHAR
		,IsFullAccess CHAR
		,IsScreenPermissionAvailable CHAR
		)

	-- Insert selected user screen permissions into tempirary table.
	INSERT INTO @tblUserScreenPermissions
	SELECT S.Id AS ScreenId
		,ISNULL(CM.Configure_Name, '') AS ScreenName
		,ISNULL(Is_ViewAvailable, N'N') AS IsViewAvailable
		,ISNULL(Can_Edit, N'N') AS IsFullAccess
		,'Y' as IsScreenPermissionAvailable
	 FROM UserScreenPermissions USP WITH (NOLOCK)
	INNER JOIN Configuration_Master CM WITH (NOLOCK) ON USP.Screen_Id = CM.Configure_Id
	INNER JOIN @tblScreenIds S ON USP.Screen_Id = S.Id
	WHERE (CM.Is_Deleted = N'N')
		AND (USP.Is_Deleted = 0)
		AND (USP.User_Id = @UserId)
	ORDER BY S.Id
	
	/*If current user will not be a class teacher then  
	then select all permissions which is available to user.*/
	IF (@IsClassTeacher = 'Y')
	BEGIN
		/* declare screens id variable */
--------------Step1 Start---------------------------------------
		DECLARE @AttendanceScreenId INT
		DECLARE @SMSCenterScreenId INT		
		DECLARE @AssignHomeworkScreenId INT
		DECLARE @LessonPlanScreenId INT
		DECLARE @ExamMarksScreenId INT
		DECLARE @AssignExamMarksScreenId INT
		DECLARE @FinalResultScreenId INT
		DECLARE @ProgressRemarksScreenId INT
		DECLARE @ExamResultsScreenId INT
		DECLARE @ProgressReportScreenId INT
		DECLARE @HolidaysScreenId INT
		DECLARE @TermwiseHeightWeightScreenId INT
		DECLARE @StudentWiseProgressReportScreenId INT
		DECLARE @StudentRecordsScreenId INT
		DECLARE @WeeklyTimetableScreenId INT
		DECLARE @AssignPrePrimaryGradesScreenId INT
		DECLARE @Investment_IncomeDeclarationScreenId INT
		DECLARE @PrePrimaryProgressReportScreenId INT
		DECLARE @PrePrimaryResultsScreenId INT
		DECLARE @AnnualPlannerScreenId INT
		DECLARE @SchoolNoticesScreenId INT
		DECLARE @StudentsScreenId INT
		DECLARE @InvestmentDeclarationScreenId INT
		DECLARE @AddAadharCardDetailsScreenId INT
		DECLARE @MessageCenterScreenId INT
		DECLARE @ExamScheduleScreenId INT
		DECLARE @PerformanceGradeAssignmentScreenId INT
		DECLARE @PhotoVideoGalleryScreenId INT
		DECLARE @LeaveDetailsScreenId INT
		DECLARE @ManageIssueBooksScreenId INT
		DECLARE @ReturnRenewBooksScreenId INT
		DECLARE @UserPhotoUploadScreenId INT
		DECLARE @StudentListForSelfAssessmentScreenId INT
		DECLARE @ResultDetailsScreenId INT
		DECLARE @ConfigurePeerDetails INT
		DECLARE @MarkleacturewiseAttendanceId INT
		DECLARE @StudentDynamicExport INT
		DECLARE @ParentTeacherAssociationUI INT
		DECLARE @OnlineExamResultscreenId INT
		DECLARE @CreateSMSTemplateId INT
		DECLARE @StudentCountdetails INT
		DECLARE @SupportDetails INT
		DECLARE @CancellationFormDetails INT
		DECLARE @LeavingCertificateReportConfiguration INT
		DECLARE @UploadUserDocuments INT
		DECLARE @BlackListedStudent INT
		DECLARE @LeavingCertificate INT
		DECLARE @UploadPANAadharCardDetails INT
		DECLARE @SchoolConfiguration INT
		DECLARE @AdmissionsLottery INT
	    DECLARE @IncomeTaxDetails INT
	    DECLARE @TaxDeduction INT
		DECLARE @SalaryDetailsUI INT

-------------------------Step1 End---------------------------------------
--------------------Step2 Start----------------------------------------
		SELECT @AttendanceScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Attendance'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @SMSCenterScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'SMS Center'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL
         
		SELECT @AssignHomeworkScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Assign Homework'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

       SELECT @LessonPlanScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Lesson Plan'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

	  SELECT @ExamMarksScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'ExamMarks'
			AND Is_Deleted = N'N'

	  SELECT @AssignExamMarksScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Assign Exam Marks'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

	   SELECT @FinalResultScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Final Result'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	
			
       SELECT @ProgressRemarksScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Progress Remarks'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

         SELECT @ExamResultsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Exam Results'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

          SELECT @ProgressReportScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Progress Report'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

          SELECT @HolidaysScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Holidays'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

          SELECT @TermwiseHeightWeightScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Termwise Height-Weight'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

			  SELECT @StudentWiseProgressReportScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Student Wise Progress Report'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	
         
		  SELECT @StudentRecordsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Student Records'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	
			
		SELECT @WeeklyTimetableScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Weekly Timetable'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @AssignPrePrimaryGradesScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE (Configure_Name = 'Assign Pre-Primary Progress Report Grades' OR Configure_Name=' Assign Pre-Primary Grades')
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @Investment_IncomeDeclarationScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Investment / Income Declaration'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @PrePrimaryProgressReportScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE (Configure_Name = 'Pre-Primary Progress Report' OR Configure_Name=' Pre-Primary Progress Report')
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @PrePrimaryResultsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE (Configure_Name = 'Pre-Primary Progress Report Results' OR Configure_Name=' Pre-Primary Results')
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @AnnualPlannerScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Annual Planner'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL	

		SELECT @SchoolNoticesScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'School Notices'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @StudentsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Students'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		
		SELECT @InvestmentDeclarationScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Investment Declaration'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @AddAadharCardDetailsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Add Aadhar Card Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @MessageCenterScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Message Center'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @ExamScheduleScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Exam Schedule'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @PerformanceGradeAssignmentScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Performance Grade Assignment'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @PhotoVideoGalleryScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Photo/Video Gallery'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @LeaveDetailsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Leave Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @ManageIssueBooksScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Manage/Issue Books'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @ReturnRenewBooksScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Return/Renew Books'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @UserPhotoUploadScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'User Photo Upload'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @StudentListForSelfAssessmentScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Student List For Self Assessment'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @ResultDetailsScreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Result Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @ConfigurePeerDetails = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Configure Peer Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @MarkleacturewiseAttendanceId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Mark LectureWise Attendance'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL
	SELECT @StudentDynamicExport = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Dynamic Export'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @ParentTeacherAssociationUI = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Parent Teacher Association'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @OnlineExamResultscreenId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Online Exam Result'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

		SELECT @CreateSMSTemplateId = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Create SMS Template'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @StudentCountdetails = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Student Count details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @SupportDetails = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Support Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @CancellationFormDetails = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Cancellation Form Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @LeavingCertificateReportConfiguration = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Leaving Certificate Report Configuration'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

          SELECT @UploadUserDocuments = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Upload User Documents'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

 SELECT @BlackListedStudent = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Blacklisted Students'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @LeavingCertificate = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Leaving Certificate'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @UploadPANAadharCardDetails = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Upload PAN / Aadhar Card Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @SchoolConfiguration = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'School Configuration'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @AdmissionsLottery = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Admissions Lottery'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @IncomeTaxDetails  = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Income Tax Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @SalaryDetailsUI  = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Salary Details'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

			SELECT @TaxDeduction  = Configure_ID
		FROM dbo.Configuration_Master
		WHERE Configure_Name = 'Tax Deduction'
			AND Is_Deleted = N'N'
			AND NavigateURL IS NOT NULL

--------------------------------------------------------------Step2 end-----------------------------------
---------------------Step3 Start---------------------------
		/* If current user will be class teacher 
		and not having any permission of attendance screen then 
		we are going to return result with values of permissions as NO*/
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AttendanceScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AttendanceScreenId
				,'Attendance'
				,'N'
				,'N'
				,'N'
		END

		/* If current user will be class teacher 
		and not having any permission of smscenter screen then 
		we are going to return result with values of permissions as NO*/
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @SMSCenterScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @SMSCenterScreenId
				,'SMS Center'
				,'N'
				,'N'
				,'N'
		END
		------------------3
		/* If current user will be class teacher 
		and not having any permission of smscenter screen then 
		we are going to return result with values of permissions as NO*/
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AssignHomeworkScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AssignHomeworkScreenId
				,'Assign Homework'
				,'N'
				,'N'
				,'N'
		END

		-----
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @LessonPlanScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @LessonPlanScreenId
				,'Lesson Plan'
				,'N'
				,'N'
				,'N'
		END
		-----
		/* If current user will be class teacher 
		and not having any permission of AssignExamMarks screen then 
		we are going to return result with values of permissions as NO*/
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ExamMarksScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ExamMarksScreenId
				,'ExamMarks'
				,'N'
				,'N'
				,'N'
		END
		------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AssignExamMarksScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AssignExamMarksScreenId
				,'Assign Exam Marks'
				,'N'
				,'N'
				,'N'
		END
		------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @FinalResultScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @FinalResultScreenId
				,'Final Result'
				,'N'
				,'N'
				,'N'
		END
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ProgressRemarksScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ProgressRemarksScreenId
				,'Progress Remarks'
				,'N'
				,'N'
				,'N'
		END
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ExamResultsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ExamResultsScreenId
				,'Exam Results'
				,'N'
				,'N'
				,'N'
		END
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ProgressReportScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ProgressReportScreenId
				,'Progress Report'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @HolidaysScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @HolidaysScreenId
				,'Holidays'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @TermwiseHeightWeightScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @TermwiseHeightWeightScreenId
				,'Termwise Height-Weight'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentWiseProgressReportScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentWiseProgressReportScreenId
				,'Student Wise Progress Report'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentRecordsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentRecordsScreenId
				,'Student Records'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @WeeklyTimetableScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @WeeklyTimetableScreenId
				,'Weekly Timetable'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AssignPrePrimaryGradesScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AssignPrePrimaryGradesScreenId
				,'Assign Pre-Primary Progress Report Grades'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @Investment_IncomeDeclarationScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @Investment_IncomeDeclarationScreenId
				,'Investment / Income Declaration'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @PrePrimaryProgressReportScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @PrePrimaryProgressReportScreenId
				,'Pre-Primary Progress Report'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @PrePrimaryResultsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @PrePrimaryResultsScreenId
				,'Pre-Primary Progress Report Results'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AnnualPlannerScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AnnualPlannerScreenId
				,'Annual Planner'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @SchoolNoticesScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @SchoolNoticesScreenId
				,'School Notices'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentsScreenId
				,'Students'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @InvestmentDeclarationScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @InvestmentDeclarationScreenId
				,'Investment Declaration'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AddAadharCardDetailsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AddAadharCardDetailsScreenId
				,'Add Aadhar Card Details'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @MessageCenterScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @MessageCenterScreenId
				,'Message Center'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ExamScheduleScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ExamScheduleScreenId
				,'Exam Schedule'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @PerformanceGradeAssignmentScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @PerformanceGradeAssignmentScreenId
				,'Performance Grade Assignment'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @PhotoVideoGalleryScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @PhotoVideoGalleryScreenId
				,'Photo/Video Gallery'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @LeaveDetailsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @LeaveDetailsScreenId
				,'Leave Details'
				,'N'
				,'N'
				,'N'
		END
		
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ManageIssueBooksScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ManageIssueBooksScreenId
				,'Manage/Issue Books'
				,'N'
				,'N'
				,'N'
		END
		-------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ReturnRenewBooksScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ReturnRenewBooksScreenId
				,'Return/Renew Books'
				,'N'
				,'N'
				,'N'
		END
		--------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ConfigurePeerDetails
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ConfigurePeerDetails
				,'Configure Peer Details'
				,'N'
				,'N'
				,'N'
		END
		------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @UserPhotoUploadScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @UserPhotoUploadScreenId
				,'User Photo Upload'
				,'N'
				,'N'
				,'N'
		END
		-------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentListForSelfAssessmentScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentListForSelfAssessmentScreenId
				,'Student List For Self Assessment'
				,'N'
				,'N'
				,'N'
		END
		---------------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ResultDetailsScreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ResultDetailsScreenId
				,'Result Details'
				,'N'
				,'N'
				,'N'
		END
		-----
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @MarkleacturewiseAttendanceId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @MarkleacturewiseAttendanceId
				,'Mark LectureWise Attendance'
				,'N'
				,'N'
				,'N'
		END
		-----------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentDynamicExport
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentDynamicExport
				,'Dynamic Export'
				,'N'
				,'N'
				,'N'
		END
		----------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @ParentTeacherAssociationUI
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @ParentTeacherAssociationUI
				,'Parent Teacher Association'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @OnlineExamResultscreenId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @OnlineExamResultscreenId
				,'Online Exam Result'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @CreateSMSTemplateId
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @CreateSMSTemplateId
				,'Create SMS Template'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @StudentCountdetails
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @StudentCountdetails
				,'Student Count details'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @SupportDetails
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @SupportDetails
				,'Support Details'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @CancellationFormDetails
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @CancellationFormDetails
				,'Cancellation Form Details'
				,'N'
				,'N'
				,'N'
		END
		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @LeavingCertificateReportConfiguration
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @LeavingCertificateReportConfiguration
				,'Leaving Certificate Report Configuration'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @UploadUserDocuments
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @UploadUserDocuments
				,'Upload User Documents'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @BlackListedStudent
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @BlackListedStudent
				,'Blacklisted Students'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @LeavingCertificate
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @LeavingCertificate
				,'Leaving Certificate'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @UploadPANAadharCardDetails
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @UploadPANAadharCardDetails
				,'Upload PAN / Aadhar Card Details'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @SchoolConfiguration
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @SchoolConfiguration
				,'School Configuration'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @AdmissionsLottery
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @AdmissionsLottery
				,'Admissions Lottery'
				,'N'
				,'N'
				,'N'
		END

			------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @IncomeTaxDetails 
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @IncomeTaxDetails 
				,'Income Tax Details'
				,'N'
				,'N'
				,'N'
		END

		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @SalaryDetailsUI 
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @SalaryDetailsUI 
				,'Salary Details'
				,'N'
				,'N'
				,'N'
		END
		------------
		IF NOT EXISTS (
				SELECT TOP 1 1
				FROM @tblUserScreenPermissions
				WHERE ScreenId = @TaxDeduction 
				)
		BEGIN
			INSERT INTO @tblUserScreenPermissions
			SELECT @TaxDeduction 
				,'Tax Deduction'
				,'N'
				,'N'
				,'N'
		END
		---------------------Step3 End-------------------------------------
	END

	/* Finally we are selecting all permissions of the user from the temporary table*/
	SELECT *
	FROM @tblUserScreenPermissions
END