/****** Object:  StoredProcedure [dbo].[usp_UpdateElectronicPaymentClearance]    Script Date: 27-04-2026 16:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================================================================
-- Author		: Pravin Shinde
-- Create date	: 7-Sep-2013
-- Description	: This usp is used to insert details electronic payment clearance
-- Updated By   : Pravin
-- Update Date  : 14-Oct-2013
-- Updated For  : Updated to include the transaction in the procedure.
-- ================================================================================================
ALTER PROCEDURE [dbo].[usp_UpdateElectronicPaymentClearance]
@ElectronicPaymentXML XML,
@SchoolId INT,
@AcademicYearId INT,
@InsertedById INT,
@IsInternalFee bit
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY
	BEGIN TRANSACTION
	
	DECLARE @tblPaymentDetails AS TABLE
	(
		 ElectronicPaymentId INT,
		 ClearanceDate NVARCHAR(30),
		 PaidDate SMALLDATETIME,		 
		 DepositedBankId INT,
		 TransactionNumber NVARCHAR(100),
		 SchoolwiseStudentId INT
	)
	
	-- Here we read the electronic payment details from XML.
	INSERT @tblPaymentDetails
	(
		ElectronicPaymentId,
		ClearanceDate,
		PaidDate,		
		DepositedBankId,
		TransactionNumber,
		SchoolwiseStudentId
	)
	SELECT Tbl.Col.value('./@ElectronicPaymentId', 'INT')
		   ,Tbl.Col.value('./@ClearanceDate', 'nvarchar(30)')
		   ,Tbl.Col.value('./@PaidDate', 'SMALLDATETIME')		   
		   ,Tbl.Col.value('./@DepositedBankId', 'int')
		   ,Tbl.Col.value('./@TransactionNumber', 'NVARCHAR(100)')
		   ,Tbl.Col.value('./@StudentId', 'INT')		   
	  FROM @ElectronicPaymentXML.nodes('ElectronicPaymentDetails/ElectronicPaymentDetails')Tbl(Col)

	  -- This query is to track clearance details
	  INSERT INTO FeePaymentClearanceTrackingDetails
	  select ElectronicPaymentId,
			ClearanceDate,
			PaidDate,		
			DepositedBankId,
			TransactionNumber,
			SchoolwiseStudentId,
			@InsertedById,
			@IsInternalFee,
			@AcademicYearId,
			dbo.GetLocalDate(DEFAULT)
	  from @tblPaymentDetails

	IF @IsInternalFee = 0
	BEGIN
			-- Here we update electronic payment details to reset the paid date if changed from clearance screen.
			UPDATE Schoolwise_Student_Fee_Details
			   SET Paid_Date = PD.PaidDate
			  FROM Schoolwise_Student_Fee_Details SSFD
		INNER JOIN StudentElectronicPayments SEP
				ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
		INNER JOIN @tblPaymentDetails PD
				ON SEP.Id = PD.ElectronicPaymentId
			   AND SEP.SchoolId = SSFD.School_Id
			   AND SEP.AcademicYearId = SSFD.Academic_Year_Id
			   AND SEP.SchoolwiseStudentFeeId = SSFD.Schoolwise_Student_Fee_Id
			 WHERE SSFD.Is_Deleted = 'N'
			   AND SEP.IsDeleted = 0
			   AND SSFD.School_Id = @SchoolId
			   AND SSFD.Academic_Year_Id = @AcademicYearId
	   
			-- Here we set the both fields ClearanceDate as well as DepositedBankId from xml.  
			UPDATE SEP
			   SET SEP.ClearanceDate = CASE WHEN PD.ClearanceDate = N'' THEN NULL ELSE CONVERT(SMALLDATETIME, PD.ClearanceDate) END ,
				   SEP.DepositedBankId = ISNULL(PD.DepositedBankId, SEP.DepositedBankId),
				   SEP.TransactionNumber = ISNULL(PD.TransactionNumber, SEP.TransactionNumber)
			  FROM StudentElectronicPayments SEP
		INNER JOIN @tblPaymentDetails PD
				ON SEP.Id = PD.ElectronicPaymentId
			 WHERE SEP.SchoolId = @SchoolId
			   AND SEP.AcademicYearId = @AcademicYearId
	END
	ELSE
	BEGIN
		    UPDATE SSFD
			   SET PaidDate = PD.PaidDate
			  FROM InternalFeeDetails SSFD
		INNER JOIN InternalFeeElectronicPayments SEP
				ON SSFD.InternalFeeDetailsId = SEP.InternalFeeDetailsId
		INNER JOIN @tblPaymentDetails PD
				ON SEP.Id = PD.ElectronicPaymentId
			   AND SEP.SchoolId = SSFD.SchoolId
			   AND SEP.AcademicYearId = SSFD.AcademicYearId
			   AND SEP.InternalFeeDetailsId = SSFD.InternalFeeDetailsId
			 WHERE SSFD.Is_Deleted = 0
			   AND SEP.IsDeleted = 0
			   AND SSFD.SchoolId = @SchoolId
			   AND SSFD.AcademicYearId = @AcademicYearId	   

			-- Here we set the both fields ClearanceDate as well as DepositedBankId from xml.  			
		    UPDATE SEP
			   SET SEP.ClearanceDate = CASE WHEN PD.ClearanceDate = N'' THEN NULL ELSE CONVERT(SMALLDATETIME, PD.ClearanceDate) END ,
				   SEP.DepositedBankId = ISNULL(PD.DepositedBankId, SEP.DepositedBankId),
				   SEP.TransactionNumber = ISNULL(PD.TransactionNumber, SEP.TransactionNumber)
			  FROM InternalFeeElectronicPayments SEP
		INNER JOIN InternalFeeDetails IFD
				ON SEP.InternalFeeDetailsId = IFD.InternalFeeDetailsId
		INNER JOIN @tblPaymentDetails PD
			    ON SEP.TransactionNumber = PD.TransactionNumber
			   AND IFD.Schoolwise_Student_Id = PD.SchoolwiseStudentId
				--ON SEP.Id = PD.ElectronicPaymentId
			 WHERE SEP.SchoolId = @SchoolId
			   AND SEP.AcademicYearId = @AcademicYearId
			   AND IFD.Is_Deleted = 0
			   AND IFD.[Debit/Credit] = 'Credit'

			   --RAISERROR('TEST ERR',16,1)
	END
	COMMIT TRANSACTION	 
	END TRY
	 BEGIN CATCH
		ROLLBACK TRANSACTION 
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
		RAISERROR(@ErrorMessage,16,1)
	END CATCH
END