/****** Object:  StoredProcedure [dbo].[usp_GetAbsentStudentDetails]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sanket Bhujbal
-- Create date: 18-04-2016
-- Description:	This usp is used to get absent student details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAbsentStudentDetails]
	-- Add the parameters for the stored procedure here
	@SchoolId INT,
	@AcademicYearId INT,
	@StudentIds NVARCHAR(MAX),
	@StandardDivId INT,
	@SelectedDate DATETIME,
	@HalfDayAttendanceStudentIds NVARCHAR(MAX) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @StudentDetailsFinal AS TABLE
		(
			StudentName NVARCHAR(150),
			Mobile_Number NVARCHAR(150),
			Mobile_Number2 NVARCHAR(150),
			User_Id INT,
			FromAbsentDate DateTime
		)
	CREATE TABLE #tblResult
		(
			Value BIGINT
		)
		 		  
	DECLARE @str VARCHAR(20) 
	DECLARE @ind Int 
	DECLARE @StudentId INT
	
	IF(@StudentIds is not null)
		BEGIN
			INSERT INTO #tblResult
			SELECT Ids FROM dbo.Udf_GetTableFromList(@StudentIds)			
		END 	

	DECLARE @MaxAbsentDays INT = 0

	IF EXISTS(
					SELECT TOP 1 1
					     FROM SchoolSettings
						WHERE SchoolId = @SchoolId
						  AND AcademicYearId  = @AcademicYearId
						  AND IsDeleted = 0
						  AND Value > 0
						  AND Name = 'StudentAbsentCount'
				 )
				 BEGIN

					SELECT @MaxAbsentDays = CONVERT(int,Value)
					  FROM SchoolSettings
					 WHERE SchoolId = @SchoolId
					   AND AcademicYearId  = @AcademicYearId
					   AND IsDeleted = 0
					   AND Value > 0
					   AND Name = 'StudentAbsentCount'
				 END

	DECLARE @tbl AS TABLE
	(
		LastDateAsPerMaxLimit DateTime
	)

	DECLARE @MaxAttendanceDate DATETIME

	SELECT TOP 1 @MaxAttendanceDate = CONVERT(DATE, Attendance_Date)
	  FROM SchoolWise_Attendance_Details
	 WHERE Academic_Year_Id = @AcademicYearid
	   AND School_Id = @SchoolId
	   AND Is_Deleted = 'N'
	   AND Standard_Division_Id = @StandardDivId
  GROUP BY Attendance_Date
  ORDER BY CONVERT(DATE,Attendance_Date) DESC
  

INSERT INTO @tbl
	 SELECT distinct(SAD.Attendance_Date)
	   FROM SchoolWise_Attendance_Details SAD WITH(NOLOCK) 
 INNER JOIN SchoolWise_Academic_Year_Master SAYM
	     ON SAD.Academic_Year_Id = SAYM.Academic_Year_Id
	  WHERE SAD.School_Id = @SchoolId 
		AND SAD.Academic_Year_Id = @AcademicYearid 
		AND SAD.Standard_Division_Id = @StandardDivId		
		AND SAD.Is_Deleted = 'N'
		AND CONVERT(DATE, SAD.Attendance_Date) <= CONVERT(DATE, @SelectedDate)
		AND CONVERT(DATE, SAD.Attendance_Date) >=  CONVERT(DATE, SAYM.Start_Date) 
		AND SAD.Student_Id IN(
								SELECT Value
								  FROM #tblResult
							 )
   ORDER BY SAD.Attendance_Date DESC

   	DECLARE @StudentIdList  NVARCHAR(MAX)

  SELECT TOP (@MaxAbsentDays) @StudentIdList = COALESCE(@StudentIdList + ',' , '') + ''''+convert(nvarchar(MAX), LastDateAsPerMaxLimit, 20) + '''' 
	    FROM @tbl 
    ORDER BY LastDateAsPerMaxLimit DESC

  DECLARE @query AS NVARCHAR(max)

	    SET @query ='SELECT Student_Id 
	   FROM SchoolWise_Attendance_Details WITH(NOLOCK)
 INNER JOIN #tblResult tblResult
		 ON tblResult.Value = SchoolWise_Attendance_Details.Student_Id
	  WHERE CONVERT(DATE, Attendance_Date)  IN ('+@StudentIdList+')
	    AND Is_Deleted = ''N'' 
		AND Is_Present = ''N''
	    AND School_Id = ('+CAST(@SchoolId AS NVARCHAR(4))+')
		AND Academic_Year_Id = ('+CAST(@AcademicYearid AS NVARCHAR(4))+')
		AND Standard_Division_Id = ('+CAST( @StandardDivId AS NVARCHAR(4))+')'

DECLARE @tblStudentCount AS TABLE
	(
		StudentId INT
	)

   INSERT INTO @tblStudentCount
		EXECUTE sp_executesql @query

		DECLARE @MaxAttenDate DATETIME	

		--select * from @tblStudentCount

	INSERT INTO @StudentDetailsFinal
	     SELECT vwBSD.StudentName,
		        vwBSD.Mobile_Number,
				vwBSD.Mobile_Number2,
				vwBSD.User_Id,
				SS.AttendanceDate
		   FROM YearWise_Student_Details YSD WITH(NOLOCK)
	 INNER JOIN vw_BaseStudentDetails vwBSD
			 ON YSD.Student_Id = vwBSD.SchoolWise_Student_Id
			AND YSD.School_Id = vwBSD.School_Id	  
	 INNER JOIN (
					SELECT MIN(Attendance_Date) AS AttendanceDate,
						   SchoolWise_Attendance_Details.Student_Id
					  FROM SchoolWise_Attendance_Details 
				LEFT JOIN (
								SELECT MAX(Attendance_Date) AS AttendanceDate,
									   Student_Id
								  FROM SchoolWise_Attendance_Details 
								 WHERE Is_Present = 'Y'
								   AND School_Id = @SchoolId
								   AND Academic_Year_Id = @AcademicYearId
								   AND Is_Deleted = 'N'
								   AND Standard_Division_Id = @StandardDivId
								    AND   CONVERT(DATE, Attendance_Date) <= CONVERT(DATE, @SelectedDate) 
								   AND Student_Id IN(
														SELECT StudentId 
														  FROM @tblStudentCount 
													  GROUP BY StudentId 
				   										HAVING COUNT(StudentId) >= @MaxAbsentDays
													)
							  GROUP BY Student_Id
						   )AA
						ON SchoolWise_Attendance_Details.Student_Id = AA.Student_Id
					 WHERE Is_Present = 'N'
					   AND School_Id = @SchoolId
					   AND Academic_Year_Id = @AcademicYearId
					   AND Is_Deleted = 'N'
					   AND Standard_Division_Id = @StandardDivId
					   AND Attendance_Date <= @SelectedDate
                      AND (AA.AttendanceDate IS NULL  OR AA.AttendanceDate < SchoolWise_Attendance_Details.Attendance_Date)
                      AND SchoolWise_Attendance_Details.Student_Id IN(
											SELECT StudentId 
											  FROM @tblStudentCount 
										  GROUP BY StudentId 
				   							HAVING COUNT(StudentId) >= @MaxAbsentDays
										)
				  GROUP BY SchoolWise_Attendance_Details.Student_Id
				)SS
			 ON SS.Student_Id = YSD.YearWise_Student_Id
		  WHERE YSD.School_Id = @SchoolId
		    AND YSD.Academic_Year_ID = @AcademicYearId
			AND YSD.Is_Deleted = 'N'
			AND vwBSD.Is_Deleted = 'N'			
			AND YSD.YearWise_Student_Id IN (
												SELECT StudentId 
												  FROM @tblStudentCount 
											  GROUP BY StudentId 
												HAVING COUNT(StudentId) >= @MaxAbsentDays
											)

    SELECT * 
	  FROM @StudentDetailsFinal

	DECLARE @tblHalfDayStudentIds AS TABLE
		(
			Value INT
		)
		 	
	IF(@HalfDayAttendanceStudentIds is not null)
		BEGIN
			INSERT INTO @tblHalfDayStudentIds
			SELECT Ids FROM dbo.Udf_GetTableFromList(@HalfDayAttendanceStudentIds)			
		END 	

		  SELECT BSD.StudentName
		        ,BSD.Mobile_Number 
		        ,BSD.Mobile_Number2
		        ,BSD.User_Id
		        ,SAD.Attendance_Date AS FromAbsentDate  
		   FROM YearWise_Student_Details YSD WITH(NOLOCK)
	 INNER JOIN vw_BaseStudentDetails BSD WITH(NOLOCK)
	 	     ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	 INNER JOIN SchoolWise_Attendance_Details SAD WITH(NOLOCK)
			 ON YSD.YearWise_Student_Id = SAD.Student_Id   
		  WHERE YSD.School_Id = @SchoolId
	        AND YSD.Academic_Year_ID = @AcademicYearId
	        AND YSD.Is_Deleted = 'N'
	        AND BSD.School_Id = @SchoolId
	        AND BSD.Is_Deleted = 'N'
	        AND YearWise_Student_Id IN (SELECT Value FROM @tblHalfDayStudentIds)
	        AND SAD.School_Id = @SchoolId
	        AND SAD.Academic_Year_Id = @AcademicYearId
	        AND SAD.Is_Deleted = 'N'
			AND SAD.Is_HalfDayPresent = 'Y'
			AND Sad.Standard_Division_Id = @StandardDivId
		    AND CONVERT(DATE, Attendance_Date) = CONVERT(DATE, @SelectedDate) 
END
GO
