/****** Object:  StoredProcedure [dbo].[usp_GetAbsentStudentId]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sanket Bhujbal
-- Create date: 16-04-2016
-- Description:	This usp is created for to get absent student id's.
-- =============================================
ALTER  PROCEDURE [dbo].[usp_GetAbsentStudentId]
	-- Add the parameters for the stored procedure here
	@SchoolId INT,
	@AcademicYearid INT,
	@StandardDivisionId INT,
	@SelectDate DateTime,
	@MaxDaysLimit INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here	

	DECLARE @tbl AS TABLE
	(
		LastDateAsPerMaxLimit DateTime
	)

	DECLARE @tblStudentCount AS TABLE
	(
		StudentId INT
	)

	DECLARE @MaxAttendanceDate DATETIME

	SELECT TOP 1 @MaxAttendanceDate = CONVERT(DATE, Attendance_Date)
	  FROM SchoolWise_Attendance_Details
	 WHERE Academic_Year_Id = @AcademicYearid
	   AND School_Id = @SchoolId
	   AND Is_Deleted = 'N'
	   AND Standard_Division_Id = @StandardDivisionId
  GROUP BY Attendance_Date
  ORDER BY CONVERT(DATE,Attendance_Date) DESC
  
	DECLARE @StudentIdList  NVARCHAR(MAX)

	 INSERT INTO @tbl
	      SELECT distinct(SAD.Attendance_Date)
			FROM SchoolWise_Attendance_Details SAD WITH(NOLOCK) 
	  INNER JOIN SchoolWise_Academic_Year_Master SAYM
			  ON SAD.Academic_Year_Id = SAYM.Academic_Year_Id
		   WHERE SAD.School_Id = @SchoolId 
			 AND SAD.Academic_Year_Id = @AcademicYearid 
			 AND SAD.Standard_Division_Id = @StandardDivisionId
			 AND SAD.Is_Deleted = 'N'
			 AND CONVERT(DATE,SAD.Attendance_Date) <= CONVERT(DATE,@SelectDate)
			 AND CONVERT(DATE,SAD.Attendance_Date) >= CONVERT(DATE,SAYM.Start_Date)
        ORDER BY SAD.Attendance_Date DESC
   
	 SELECT TOP (@MaxDaysLimit) @StudentIdList = COALESCE(@StudentIdList + ',' , '') 
			+ ''''+convert(nvarchar(MAX), LastDateAsPerMaxLimit, 20) + '''' 
	   FROM @tbl ORDER BY LastDateAsPerMaxLimit DESC
	
	DECLARE @query AS NVARCHAR(max)

	    SET @query ='SELECT Student_Id 
	   FROM SchoolWise_Attendance_Details WITH(NOLOCK)
	  WHERE CONVERT(nvarchar(MAX), Attendance_Date, 20)  IN ('+@StudentIdList+')
	    AND Is_Deleted = ''N'' 
		AND Is_Present = ''N''
	    AND School_Id = ('+CAST(@SchoolId AS NVARCHAR(4))+')
		AND Academic_Year_Id = ('+CAST(@AcademicYearid AS NVARCHAR(4))+')
		AND Standard_Division_Id = ('+CAST( @StandardDivisionId AS NVARCHAR(4))+')'

		INSERT INTO @tblStudentCount
		EXECUTE sp_executesql @query

		SELECT StudentId 
		  FROM @tblStudentCount 
	  GROUP BY StudentId 
		HAVING COUNT(StudentId) >= @MaxDaysLimit

		SELECT Student_Id 
		  FROM SchoolWise_Attendance_Details
		 WHERE School_Id = @SchoolId
		   AND Academic_Year_Id = @AcademicYearid
		   AND Standard_Division_Id = @StandardDivisionId
		     AND convert(date,Attendance_Date) = convert(date,@SelectDate)
		   AND Is_HalfDayPresent = 'Y'
		   AND Is_Deleted = 'N'
		   
END
GO
