/****** Object:  StoredProcedure [dbo].[usp_GetFinalProgressReportDetailsForVPMCPS]    Script Date: 10-03-2026 16:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFinalProgressReportDetailsForVPMCPS]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT,
	@TermId INT,
	@Note NVARCHAR(1000) = '',
	@IsFromReportScreen BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @TermStartDate DATE,
			@TermEndDate DATE,
			@TermHeader NVARCHAR(200)			

	select @TermStartDate = TermStartDate,
			@TermEndDate = TermEndDate
	from StudentTermwiseTestMaster
	where School_Id = @School_Id
	and Academic_Year_Id = @Academic_Year_Id
	and Is_Deleted = 0
	and SchoolwiseTermId = @TermId
	AND StandardId = @Standard_Id

	SELECT @TermHeader = CAST(YEAR(Start_date) AS NVARCHAR(4))+' - '+CAST(YEAR(End_Date) AS NVARCHAR(4))
	FROM SchoolWise_Academic_Year_Master
	WHERE Academic_Year_ID  =@Academic_Year_Id
	AND School_Id = @School_Id
	AND Is_Deleted = 'N'

	DECLARE @IsPrimaryStandard BIT = 0,
			@StdName NVARCHAR(100)

	SELECT @StdName = Standard_Name
		FROM Standard_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id

	IF @StdName = '1' OR @StdName = '2' OR @StdName = '3' OR @StdName = '4'
		SET @IsPrimaryStandard = 1
		
	DECLARE @NextStandard NVARCHAR(100),
			@NextAcademicYearId INT,
			@NextStandardId INT

	select top 1  @NextAcademicYearId = Academic_Year_ID
	from SchoolWise_Academic_Year_Master
	where School_Id = @School_Id
	and Is_Deleted = 'N'
	and (Is_NewlyCreated = 'Y' OR (Is_FinalYear_Generated = 'Y' and Is_Close_Year='N'))
	order by Academic_Year_ID desc

	select @NextStandard = Standard_Name,
		   @NextStandardId = Standard_Id
	from Standard_Master
	where School_Id = @School_Id
	and academic_Year_Id = @NextAcademicYearId
	and Is_Deleted = 'N'
	and Original_Standard_Id = 
	(
		select NextOriginalStandardId
		from Standard_Master
		where School_Id = @School_Id
		and academic_Year_Id = @Academic_Year_Id
		and Is_Deleted = 'N'
		and Standard_Id = @Standard_Id
	)

	DECLARE @TblFinalResult AS TABLE
	(
		YrStudentId INT,
		Result NVARCHAR(500)
	)

	insert into @TblFinalResult
	select ysd.YearWise_Student_Id,
	''
	from YearWise_Student_Details ysd
	inner join vw_standard_division vsd
	on ysd.Standard_Id =  vsd.Standard_Id
	and ysd.Division_id = vsd.Division_Id
	where ysd.Academic_Year_ID = @Academic_Year_Id
	AND YSD.School_Id = @School_Id
	AND YSD.Is_Deleted = 'n'
	and vsd.Standard_Id = @Standard_Id
	and vsd.SchoolWise_Standard_Division_Id = @Division_Id
	and (ysd.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)

	DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id INT,
		StudentName NVARCHAR(150),
		Enrolment_Number  NVARCHAR(100),
		DOB DATE,
		Roll_No INT,
		ClassName  NVARCHAR(150),
		PresentDays INT,
		TotalDays INT,
		Remarks NVARCHAR(500),
		ThirdLanguageSubjectId INT,
		StudentPhoto IMAGE,
		StandardName NVARCHAR(100),
		DivisionName NVARCHAR(100),
		IsNewStudent BIT
	)
		
	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id,
		   --BSD.StudentName,
		   bsd.StudentFlName,
		   BSD.Enrolment_Number,
		   BSD.DOB,
		   YSD.Roll_No,
		   --VSD.className,		   
		   CASE WHEN STD.Is_PrePrimary = 'Y' THEN VSD.Standard_Name ELSE DBO.udf_ConvertIntToRoman(VSD.Standard_Name) END + '-'+VSD.Division_Name AS className,
		   ISNULL(ATT.PresentDays,0) as PresentDays,
		   ISNULL(ATT.TotalDays,0) as TotalDays,
		   CASE WHEN @Note IS NOT NULL AND @Note <> '' THEN @Note ELSE ISNULL(REMARK.RemarkDetails,'') END AS Remarks,
		   sm.Subject_Id
		  ,BSD.Photo_file_Path_Image
		  ,VSD.Standard_Name
		  ,VSD.Division_Name
		  ,YSD.Is_New_Student
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_BaseStudentDetails BSD
	ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	LEFT OUTER JOIN Subject_Master SM
	ON YSD.ThirdLanguageSubjectId = SM.Original_Subject_Id
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.School_Id = @School_Id
	AND SM.Is_Deleted = 'N'
	INNER JOIN Standard_Master STD
	ON VSD.Standard_Id = STD.Standard_Id
	inner join @TblFinalResult TFR
	ON YSD.YearWise_Student_Id = TFR.YrStudentId
	LEFT OUTER JOIN
	(
		SELECT SAD.Student_Id, COUNT(1) AS TotalDays, SUM(CASE WHEN Is_Present = 'Y' THEN 1 ELSE 0 END) AS PresentDays
		FROM SchoolWise_Attendance_Details SAD
		INNER JOIN vw_standard_division VSD
		ON SAD.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
		AND SAD.Academic_Year_Id = VSD.academic_year_id
		WHERE VSD.Standard_Id = @Standard_Id
		AND VSD.School_Id = @School_Id
		AND VSD.Academic_Year_ID = @Academic_Year_Id
		and vsd.SchoolWise_Standard_Division_Id = @Division_Id
		and (SAD.Student_Id = @Student_Id or @Student_Id = 0)
		AND SAD.Is_Deleted = 'N'
		--and convert(date,sad.Attendance_Date) >= @TermStartDate
		--and convert(date,sad.Attendance_Date) <= @TermEndDate
		GROUP BY SAD.Student_Id
	)ATT
	on ysd.YearWise_Student_Id = ATT.Student_Id
	LEFT OUTER JOIN
	(
		SELECT S1.YearwiseStudentId, S1.RemarkDetails
		FROM StudentwiseRemarkConfigDetails S1
		INNER JOIN TermWiseRemarksDetails S2
		ON S1.TermwiseRemarkDetailId = S2.TermWiseRemarksDetailsId
		WHERE S1.IsDeleted = 'N'
		AND S2.Is_Deleted = 'N'
		AND S2.Term_Id = 2
		AND S1.SchoolId = @School_Id
		AND S1.AcademicYearId = @Academic_Year_Id
		AND S1.StandardDivisionId = @Division_Id		
	)REMARK
	ON YSD.YearWise_Student_Id = REMARK.YearwiseStudentId
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	and vsd.SchoolWise_Standard_Division_Id = @Division_Id
	and (ysd.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
	AND STD.Is_Deleted = 'N'
	
	declare @tblMarks AS TABLE
	(
		YearWise_Student_Id INT,
		Subject_Id INT,
		SubjectSortOrder INT, 
		Subject_Name NVARCHAR(100), 
		Schoolwise_Test_Id INT,
		TestSortOrder INT, 
		SchoolWise_Test_Name NVARCHAR(100),
		Total_Marks_Scored DECIMAL(10,2),
		Marks NVARCHAR(100),
		OutOfMarks DECIMAL(10,2),
		Is_Absent CHAR,
		AdjustedMarks DECIMAL(10,2),
		TermId INT,
		TypeId INT,
		TypeName NVARCHAR(100),
		IsCoCurricularSubject BIT
	)

	INSERT INTO @tblMarks
	select SSTM.Student_Id,SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, sm.Subject_Name,STM.SchoolWise_Test_Id, SSTMR.Sort_Order AS TestSortOrder, stm.SchoolWise_Test_Name,
	SSTM.Total_Marks_Scored,
	SSTM.Total_Marks_Scored,-- FOR MARKS
	CASE WHEN STSMM.OutOfMarks IS NOT NULL AND STSMM.OutOfMarks <> 0 THEN STSMM.OutOfMarks ELSE STSMM.Subject_Total_Marks END AS OutOfMarks,
	SSTM.Is_Absent,
	0,
	STM.Term_Id,
	1,
	'',
	SM.Is_CoCurricularActivity
	from SchoolWise_Student_Test_Marks SSTM
	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	INNER JOIN Subject_Master SM
	ON STSMM.Subject_Id = SM.Subject_Id
	INNER JOIN YearWise_Student_Details YSD
	ON SSTM.Student_Id = YSD.YearWise_Student_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON YSD.Standard_Id = SSSM.Standard_Id
	AND SM.Subject_Id = SSSM.Subject_Id
	INNER JOIN Schoolwise_Standard_Test_Master SSTMR
	ON YSD.Standard_Id = SSTMR.Standard_Id
	AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
	inner join @TblFinalResult TFR
	ON YSD.YearWise_Student_Id = TFR.YrStudentId
	INNER JOIN Schoolwise_Division_Subject_Master SDSM
	ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
	AND STSMM.Subject_Id = SDSM.Subject_Id
	WHERE SSTM.Is_Deleted = 'N'
	AND STSMM.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND SM.Is_Deleted = 'N'
	AND SSSM.Is_Deleted = 'N'
	AND SSTMR.Is_Deleted = 'N'
	AND STSMM.School_Id = @School_Id
	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	AND STSMM.Standard_Division_Id = @Division_Id
	and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
	AND YSD.Is_Deleted = 'N'
	--AND STM.Term_Id = @TermId
	AND STSMM.Grade_Or_Marks = 'M'
	AND STSMM.Is_Submitted = 'Y'
	AND SDSM.Is_Deleted = 'N'
	--and SDSM.Total_Consideration = 'Y'
	--AND SM.Is_CoCurricularActivity = 0
	
	UPDATE @tblMarks
	SET IsCoCurricularSubject = 1,
		Subject_Name = 'COMPUTER APPL.'
	WHERE Subject_Name = 'COMPUTER APPL'
	
	IF @StdName = '5' OR @StdName = '6' OR @StdName = '7'
	BEGIN
		UPDATE @tblMarks
		SET IsCoCurricularSubject = 1,
			Subject_Name = 'COMPUTER APPL.'
		WHERE Subject_Name = 'Computer Appl.'
	END

	UPDATE @tblMarks
	SET IsCoCurricularSubject = 1
	WHERE Subject_Name = 'Robotics & AI'

	DECLARE @tblSubTypeMarks AS TABLE
	(
		YearWise_Student_Id INT,
		Subject_Id INT,
		Schoolwise_Test_Id INT,
		Marks DECIMAL(10,2),
		TestType_Total_Marks INT,
		Is_Absent CHAR,
		TestType_Name NVARCHAR(100)		,
		SchoolWise_Test_Name nvarchar(100)
	)

	DECLARE @OutOfMarks INT
	IF @IsPrimaryStandard = 1
		SET @OutOfMarks = 50
	ELSE
		SET @OutOfMarks = 100

	--select YearWise_Student_Id,STSMM.Subject_Id,STSMM.Schoolwise_Test_Id, ROUND((SSTMD.Marks_Scored/STSMD.TestType_Total_Marks)*@OutOfMarks,0) AS Marks,SSTMD.Is_Absent, TTM.TestType_Name, stm.SchoolWise_Test_Name

	INSERT INTO @tblSubTypeMarks	
	select YearWise_Student_Id,STSMM.Subject_Id,STSMM.Schoolwise_Test_Id, 
	SSTMD.Marks_Scored,STSMD.TestType_Total_Marks,	
	SSTMD.Is_Absent, TTM.TestType_Name, stm.SchoolWise_Test_Name
	from SchoolWise_Student_Test_Marks SSTM
	inner join SchoolWise_Student_Test_Marks_Detail SSTMD
	ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	INNER JOIN SchoolWise_Test_Subject_Marks_Details STSMD
	ON STSMM.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
	and SSTMD.TestType_Id = STSMD.TestType_Id
	INNER JOIN TestType_Master TTM
	ON STSMD.TestType_Id = TTM.TestType_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	inner join
	(
		select YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
		from @tblMarks
		where Is_Absent IN ('Y','E','J')
		--and Total_Marks_Scored > 0
		group by YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
	)S
	on sstm.Student_Id = s.YearWise_Student_Id
	and sstm.Subject_Id = s.Subject_Id
	and STSMM.SchoolWise_Test_Id = s.Schoolwise_Test_Id
	WHERE SSTM.School_Id = @School_Id
	AND SSTM.Academic_Year_Id = @Academic_Year_Id
	AND SSTM.Is_Deleted = 'N'
	AND SSTMD.Is_Deleted = 'N'
	AND STSMM.Is_Deleted = 'N'
	AND STSMD.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND TTM.Is_Deleted = 'N'	
	and stsmm.Standard_Division_Id = @Division_Id
	and (sstm.Student_Id = @Student_Id or @Student_Id = 0)
		
	update TM
	SET Total_Marks_Scored = 0,
		Marks = 0		
	from @tblMarks TM
	INNER JOIN
	(
		select sstm.YearWise_Student_Id,sstm.Subject_Id, sstm.Schoolwise_Test_Id
		from @tblSubTypeMarks sstm	 	
		inner join
		(
			select YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
			from @tblMarks
			where Is_Absent IN ('Y','E','J')
			and Total_Marks_Scored > 0
			group by YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
		)S
		on sstm.YearWise_Student_Id = s.YearWise_Student_Id
		and sstm.Subject_Id = s.Subject_Id
		and sstm.SchoolWise_Test_Id = s.Schoolwise_Test_Id
		WHERE TestType_Name = 'Theory'
		and Is_Absent IN ('Y','E','J')		
	)SS
	ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
	AND TM.Subject_Id = SS.Subject_Id
	AND TM.Schoolwise_Test_Id = SS.SchoolWise_Test_Id

	update TM
	SET Total_Marks_Scored = ss.Marks,
		Marks = ss.Marks,
		OutOfMarks = @OutOfMarks,
		Is_Absent = 'N'
	from @tblMarks TM
	INNER JOIN
	(
		select sstm.YearWise_Student_Id,sstm.Subject_Id,sstm.Schoolwise_Test_Id, ROUND(SUM(Marks)/SUM(TestType_Total_Marks)*@OutOfMarks,0) AS Marks
		from @tblSubTypeMarks sstm	 	
		inner join
		(
			select YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
			from @tblMarks
			where Is_Absent IN ('Y','E','J')
			and Total_Marks_Scored > 0
			group by YearWise_Student_Id,Subject_Id,Schoolwise_Test_Id
		)S
		on sstm.YearWise_Student_Id = s.YearWise_Student_Id
		and sstm.Subject_Id = s.Subject_Id
		and sstm.SchoolWise_Test_Id = s.Schoolwise_Test_Id
		WHERE Is_Absent = 'N'		
		GROUP BY sstm.YearWise_Student_Id,sstm.Subject_Id,sstm.Schoolwise_Test_Id
	)SS
	ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
	AND TM.Subject_Id = SS.Subject_Id
	AND TM.Schoolwise_Test_Id = SS.SchoolWise_Test_Id
	
	--insert into @tblMarks
	--select S.YearWise_Student_Id, S.Subject_Id, SubjectSortOrder, Subject_Name, SS.Schoolwise_Test_Id,TestSortOrder,SS.SchoolWise_Test_Name, 
	--CASE WHEN TSTM.YearWise_Student_Id IS NULL THEN Total_Marks_Scored ELSE 0 END,	
	--CASE WHEN TSTM.YearWise_Student_Id IS NULL THEN S.Marks ELSE 0 END,	
	----S.Marks,
	--OutOfMarks,
	--ISNULL(TSTM.Is_Absent,'N'),
	--AdjustedMarks, 
	--3,1,'',IsCoCurricularSubject
	--from 
	--(
	--	SELECT YearWise_Student_Id, Subject_Id, SubjectSortOrder, Subject_Name,IsCoCurricularSubject, sum(Total_Marks_Scored) AS Total_Marks_Scored,	sum(Total_Marks_Scored) AS Marks,sum(OutOfMarks) as OutOfMarks,AdjustedMarks
	--	FROM @tblMarks
	--	where SchoolWise_Test_Name like 'Unit test%'
	--	group by YearWise_Student_Id, Subject_Id, SubjectSortOrder, Subject_Name, IsCoCurricularSubject, AdjustedMarks
	--)S
	--LEFT OUTER JOIN @tblSubTypeMarks TSTM
	--ON S.YearWise_Student_Id = TSTM.YearWise_Student_Id
	--AND S.Subject_Id = TSTM.Subject_Id
	--AND TSTM.SchoolWise_Test_Name LIKE 'Unit test%'
	--and TestType_Name = 'Theory'
	--CROSS JOIN
	--(
	--	SELECT Schoolwise_Test_Id,TestSortOrder,'Unit Tests' as SchoolWise_Test_Name
	--	FROM @tblMarks
	--	WHERE SchoolWise_Test_Name = 'Unit Test-I'
	--	GROUP BY Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name
	--)SS
	
	--DELETE FROM @tblMarks
	--WHERE SchoolWise_Test_Name in ('Unit Test-I','Unit Test-II')
	
	insert into @tblMarks
	select S1.YearWise_Student_Id, s2.SubjectId, SubjectSortOrder, s2.Subject_Name, S1.Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name, 
	Marks,	
	Marks,
	OutOfMarks,
	'N'
	,0, 3,1,'',IsCoCurricularSubject
	from
	(
		select tm.YearWise_Student_Id, tm.Schoolwise_Test_Id,TestSortOrder,TM.SchoolWise_Test_Name, sm.Subject_Name,IsCoCurricularSubject, ROUND((sum(convert(decimal(10,2),tm.Marks))/sum(tm.OutOfMarks))*AVG(tm.OutOfMarks),0) as Marks, AVG(tm.OutOfMarks) as OutOfMarks
		from Subject_Groups SG
		INNER JOIN Subject_Master SM
		ON SG.Parent_Subject_Id = SM.Subject_Id
		INNER JOIN Subject_Master SM1
		ON SG.Subject_Id = SM1.Subject_Id
		inner join @tblMarks tm
		on SM1.Subject_Id = tm.Subject_Id	
		where SG.School_Id = @School_Id
		and SG.academic_year_Id = @Academic_Year_Id
		and SG.is_deleted = 'N'
		and sm.Is_Deleted = 'N'
		and Standard_Division_Id = @Division_Id
		group by tm.YearWise_Student_Id, tm.Schoolwise_Test_Id, TestSortOrder,TM.SchoolWise_Test_Name,sm.Subject_Name,IsCoCurricularSubject
	)S1
	inner join
	(
		select sm.Subject_Name, min(sg.Subject_Id) as SubjectId
		from Subject_Groups SG
		INNER JOIN Subject_Master SM
		ON SG.Parent_Subject_Id = SM.Subject_Id	
		where SG.School_Id = @School_Id
		and SG.academic_year_Id = @Academic_Year_Id
		and SG.is_deleted = 'N'
		and sm.Is_Deleted = 'N'
		and Standard_Division_Id = @Division_Id
		group by sm.Subject_Name
	)S2
	ON S1.Subject_Name = S2.Subject_Name
	inner join
	(
		select Subject_Id, min(SubjectSortOrder) as SubjectSortOrder
		from @tblMarks
		group by Subject_Id
	)s3
	on s2.SubjectId = s3.Subject_Id
	
	DELETE FROM TM
	from Subject_Groups SG
	INNER JOIN Subject_Master SM
	ON SG.Parent_Subject_Id = SM.Subject_Id	
	INNER JOIN Subject_Master SM1
	ON SG.Subject_Id = SM1.Subject_Id
	inner join @tblMarks tm
	on SM1.Subject_Id = tm.Subject_Id
	where SG.School_Id = @School_Id
	and SG.academic_year_Id = @Academic_Year_Id
	and SG.is_deleted = 'N'
	and Standard_Division_Id = @Division_Id
	AND SM.Is_Deleted = 'N'
	AND SM.Subject_Name <> TM.Subject_Name
	
	update TM
	SET Is_Absent = S.Is_Absent,
		Total_Marks_Scored = 0,
		Marks = 0
	FROM @tblMarks TM
	INNER JOIN
	(
		select TSTM.YearWise_Student_Id,TSTM.Schoolwise_Test_Id,SM.Subject_Name, Is_Absent,TSTM.SchoolWise_Test_Name
		from @tblSubTypeMarks TSTM
		inner join Subject_Groups sg
		on TSTM.Subject_Id = sg.Subject_Id
		inner join Subject_Master SM
		ON SG.Parent_Subject_Id = SM.Subject_Id
		where sg.School_Id = @School_Id
		and sg.academic_year_Id = @Academic_Year_Id
		and sg.is_deleted = 'N'
		and sg.Standard_Division_Id = @Division_Id
		and tstm.TestType_Name = 'Theory'
		AND SM.IS_DELETED = 'N'		
		AND Is_Absent IN ('Y','E','J')
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id	
	AND TM.Subject_Name = S.Subject_Name
	and tm.SchoolWise_Test_Name = s.SchoolWise_Test_Name

	update TM
	SET Is_Absent = S.Is_Absent,
		Total_Marks_Scored = 0,
		Marks = 0
	FROM @tblMarks TM
	INNER JOIN
	(
		select TSTM.YearWise_Student_Id,TSTM.Schoolwise_Test_Id,SM.Subject_Name, Is_Absent,TSTM.SchoolWise_Test_Name
		from @tblSubTypeMarks TSTM
		inner join Subject_Groups sg
		on TSTM.Subject_Id = sg.Subject_Id
		inner join Subject_Master SM
		ON SG.Parent_Subject_Id = SM.Subject_Id
		where sg.School_Id = @School_Id
		and sg.academic_year_Id = @Academic_Year_Id
		and sg.is_deleted = 'N'
		and sg.Standard_Division_Id = @Division_Id
		and tstm.TestType_Name = 'Theory'
		AND SM.IS_DELETED = 'N'
		AND Is_Absent IN ('Y','E','J')
		AND TSTM.SchoolWise_Test_Name LIKE 'Unit Test%'
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id	
	AND TM.Subject_Name = S.Subject_Name
	where TM.SchoolWise_Test_Name like 'Unit Test%'
	

	DECLARE @MarathiSubjectId INT
	SELECT @MarathiSubjectId = Subject_Id
	FROM Subject_Master
	WHERE School_Id = @School_Id
	AND academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND Subject_Name = 'Marathi'
	
	insert into @tblMarks
	select S.YearWise_Student_Id, S.Subject_Id, SubjectSortOrder, Subject_Name, SS.Schoolwise_Test_Id,TestSortOrder,SS.SchoolWise_Test_Name, 
	CASE WHEN TSTM.YearWise_Student_Id IS NULL THEN Total_Marks_Scored ELSE 0 END,	
	CASE WHEN TSTM.YearWise_Student_Id IS NULL THEN S.Marks ELSE 0 END,	
	--S.Marks,
	OutOfMarks,
	ISNULL(TSTM.Is_Absent,'N'),	
	AdjustedMarks, 
	3,1,'',IsCoCurricularSubject
	from 
	(
		SELECT YearWise_Student_Id, Subject_Id, SubjectSortOrder, Subject_Name,IsCoCurricularSubject, sum(Total_Marks_Scored) AS Total_Marks_Scored,	sum(Total_Marks_Scored) AS Marks,sum(OutOfMarks) as OutOfMarks,AdjustedMarks
		FROM @tblMarks
		where SchoolWise_Test_Name like 'Unit test%'
		group by YearWise_Student_Id, Subject_Id, SubjectSortOrder, Subject_Name, IsCoCurricularSubject, AdjustedMarks
	)S
	LEFT OUTER JOIN @tblSubTypeMarks TSTM
	ON S.YearWise_Student_Id = TSTM.YearWise_Student_Id
	AND S.Subject_Id = TSTM.Subject_Id
	AND TSTM.SchoolWise_Test_Name LIKE 'Unit test%'
	AND TSTM.Is_Absent IN ('Y','E','J')
	and (TestType_Name = 'Theory' OR (@StdName = '1' AND TSTM.Subject_Id = @MarathiSubjectId and @Academic_Year_Id >= 2 AND TestType_Name = 'Oral'))
	CROSS JOIN
	(
		SELECT Schoolwise_Test_Id,TestSortOrder,'Unit Tests' as SchoolWise_Test_Name
		FROM @tblMarks
		WHERE SchoolWise_Test_Name = 'Unit Test-I'
		GROUP BY Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name
	)SS

	update TM
	SET Is_Absent = S.Is_Absent,
		Total_Marks_Scored = 0,
		Marks = 0
	FROM @tblMarks TM
	INNER JOIN
	(
		select TSTM.YearWise_Student_Id,TSTM.Schoolwise_Test_Id,SM.Subject_Name, Is_Absent,TSTM.SchoolWise_Test_Name
		from @tblSubTypeMarks TSTM
		inner join Subject_Groups sg
		on TSTM.Subject_Id = sg.Subject_Id
		inner join Subject_Master SM
		ON SG.Parent_Subject_Id = SM.Subject_Id
		where sg.School_Id = @School_Id
		and sg.academic_year_Id = @Academic_Year_Id
		and sg.is_deleted = 'N'
		and sg.Standard_Division_Id = @Division_Id
		and tstm.TestType_Name = 'Theory'
		AND SM.IS_DELETED = 'N'
		AND Is_Absent IN ('Y','E','J')
		AND TSTM.SchoolWise_Test_Name LIKE 'Unit Test%'
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id	
	AND TM.Subject_Name = S.Subject_Name
	where TM.SchoolWise_Test_Name like 'Unit Test%'
	
	DELETE FROM @tblMarks
	WHERE SchoolWise_Test_Name in ('Unit Test-I','Unit Test-II')

	--update tm
	--SET OutOfMarks = TM.OutOfMarks - S.TestType_Total_Marks
	--from @tblMarks tm
	--inner join
	--(
	--	select sstm.Student_Id,STSMM.SchoolWise_Test_Id, sstm.Subject_Id, STSMD.TestType_Total_Marks
	--	from SchoolWise_Student_Test_Marks SSTM
	--	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	--	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	--	INNER JOIN SchoolWise_Test_Master STM
	--	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	--	INNER JOIN Subject_Master SM
	--	ON STSMM.Subject_Id = SM.Subject_Id
	--	INNER JOIN YearWise_Student_Details YSD
	--	ON SSTM.Student_Id = YSD.YearWise_Student_Id
	--	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	--	ON YSD.Standard_Id = SSSM.Standard_Id
	--	AND SM.Subject_Id = SSSM.Subject_Id
	--	INNER JOIN Schoolwise_Standard_Test_Master SSTMR
	--	ON YSD.Standard_Id = SSTMR.Standard_Id
	--	AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
	--	INNER JOIN SchoolWise_Test_Subject_Marks_Details STSMD
	--	ON 	STSMM.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
	--	INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
	--	ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
	--	AND STSMD.TestType_Id = SSTMD.TestType_Id
	--	INNER JOIN Schoolwise_Division_Subject_Master SDSM
	--	ON STSMM.Standard_Division_Id = SDSM.Standard_Division_Id
	--	AND STSMM.Subject_Id = SDSM.Subject_Id
	--	inner join @TblFinalResult TFR
	--	ON YSD.YearWise_Student_Id = TFR.YrStudentId
	--	WHERE SSTM.Is_Deleted = 'N'
	--	AND STSMM.Is_Deleted = 'N'
	--	AND STM.Is_Deleted = 'N'
	--	AND SM.Is_Deleted = 'N'
	--	AND SSSM.Is_Deleted = 'N'
	--	AND SSTMR.Is_Deleted = 'N'
	--	AND STSMM.School_Id = @School_Id
	--	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	--	AND STSMM.Standard_Division_Id = @Division_Id
	--	and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
	--	AND YSD.Is_Deleted = 'N'
	--	AND STM.Term_Id = @TermId
	--	AND STSMM.Grade_Or_Marks = 'M'
	--	AND STSMM.Is_Submitted = 'Y'
	--	AND STSMD.Is_Deleted = 'N'
	--	AND SSTMD.Is_Deleted = 'N'
	--	AND SSTMD.Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SCHOOLID = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
	--	and SSTM.Total_Marks_Scored <> 0
	--	and SDSM.Is_Deleted = 'N'
	--	and SDSM.Total_Consideration = 'Y'
	--)S
	--ON TM.YearWise_Student_Id = S.Student_Id
	--AND TM.Schoolwise_Test_Id = S.SchoolWise_Test_Id
	--AND TM.Subject_Id = S.Subject_Id
	--WHERE TM.OutOfMarks - S.TestType_Total_Marks > 0
	
	update @tblMarks
	set SubjectSortOrder = SubjectSortOrder * 10
	
	DECLARE @TblGroups AS TABLE
	(
		SubjectId INT,
		SubjectName NVARCHAR(100),
		OriginalSubjectId INT
	)
	
	--INSERT INTO @TblGroups
	--SELECT 8000, 'ENGLISH',1752 UNION
	--SELECT 8000, 'ENGLISH',1753 UNION
	--SELECT 8001, 'HCG',1755 UNION
	--SELECT 8001, 'HCG',20 UNION
	--SELECT 8002, 'SCIENCE',13 UNION
	--SELECT 8002, 'SCIENCE',14 UNION
	--SELECT 8002, 'SCIENCE',15 

				
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.SubjectId ,
		tm1.MaxSubjectSortOrder + 5 , 
		tm1.SubjectName, 
		tm2.Schoolwise_Test_Id,
		TM2.TestSortOrder , 
		tm2.SchoolWise_Test_Name,
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		TermId,
		1,
		'',
		IsCoCurricularSubject
	FROM
	(
			SELECT  YearWise_Student_Id ,
			   TG.SubjectId ,
			   MAX(SubjectSortOrder) AS MaxSubjectSortOrder , 
			   TG.SubjectName,
			   'N' as Is_Absent,
			   IsCoCurricularSubject
		FROM @tblMarks TM1
		INNER JOIN Subject_Master SM
		ON TM1.Subject_Id = SM.Subject_Id
		INNER JOIN @TblGroups TG
		ON sm.Original_Subject_Id = TG.OriginalSubjectId
		AND SM.Is_Deleted = 'N'
		AND SM.academic_Year_Id = @Academic_Year_Id
		and sm.School_Id = @School_Id
		group by YearWise_Student_Id ,
			TG.SubjectId ,		
			TG.SubjectName,
			IsCoCurricularSubject
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,SubjectName, Schoolwise_Test_Id,TestSortOrder, SchoolWise_Test_Name,
		SUM(Total_Marks_Scored)/CASE WHEN SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) = 0 THEN 1 ELSE SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) END AS Total_Marks_Scored, 
		SUM(OutOfMarks)/count(1) AS OutOfMarks,
		TermId
		from
		(
			SELECT TM.YearWise_Student_Id,tg.SubjectName, tm.Schoolwise_Test_Id,tm.TestSortOrder,tm.SchoolWise_Test_Name,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')
				THEN Total_Marks_Scored ELSE 0 END as Total_Marks_Scored,			
			OutOfMarks,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y') THEN 1 ELSE 0 END AS ConsiderMarks,
			TermId
			FROM @tblMarks TM		
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON sm.Original_Subject_Id = TG.OriginalSubjectId
			WHERE SM.Is_Deleted = 'N'
			AND SM.academic_Year_Id = @Academic_Year_Id
			and sm.School_Id = @School_Id
		)S
		group by YearWise_Student_Id,SubjectName,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,TermId
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	and tm1.SubjectName = tm2.SubjectName

	UPDATE @tblMarks
	SET Marks = case when Is_Absent = 'N' OR (Total_Marks_Scored IS NOT NULL AND Total_Marks_Scored <> 0) then CAST(Total_Marks_Scored AS NVARCHAR(10)) else (SELECT DisplayValue FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ShortName = Is_Absent) END
	
	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent NOT IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')

	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	and Total_Marks_Scored <> 0

	UPDATE TM
	SET AdjustedMarks = ADJSTD.Marks
	FROM @tblMarks TM
	inner join Subject_Master SM
	ON TM.Subject_Id = SM.Subject_Id
	INNER JOIN @TblGroups TG
	ON SM.Original_Subject_Id = TG.OriginalSubjectId

	inner join
	(
		select TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, round((sum(Total_Marks_Scored)/sum(OutOfMarks))*SS1.ExOutOfMarks,2) as Marks
		from @TblGroups TTG
		INNER JOIN Subject_Master SM1
		ON TTG.OriginalSubjectId = SM1.Original_Subject_Id
		INNER JOIN @tblMarks TM
		ON SM1.Subject_Id = TM.Subject_Id
		LEFT OUTER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS
		ON TTG.SubjectId = SS.SubjectId	
		AND TTG.OriginalSubjectId = SS.OriginalSubjectId
		and TM.Schoolwise_Test_Id = SS.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS.YearWise_Student_Id
		INNER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS1
		ON TTG.SubjectId = SS1.SubjectId	
		and TM.Schoolwise_Test_Id = SS1.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS1.YearWise_Student_Id
		WHERE SM1.School_Id = @School_Id
		AND SM1.academic_Year_Id = @Academic_Year_Id
		AND SM1.Is_Deleted = 'N'
		AND SS.YearWise_Student_Id IS NULL
		group by SS1.ExOutOfMarks,TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id
	)ADJSTD
	ON TM.YearWise_Student_Id = ADJSTD.YearWise_Student_Id
	AND TM.Schoolwise_Test_Id = ADJSTD.Schoolwise_Test_Id
	AND TG.SubjectId = ADJSTD.SubjectId
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.Is_Deleted = 'N'
		
	update tm1
	set Is_Absent = 'E'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'E'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId
	
	update tm1
	set Is_Absent = 'J'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'J'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId
		
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.Subject_Id ,
		SubjectSortOrder , 
		Subject_Name , 
		8888,
		9999 , 
		'Total',
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		--TermId
		3,
		1,
		'',
		IsCoCurricularSubject
	FROM
	(
		SELECT YearWise_Student_Id ,
			   Subject_Id ,
			   SubjectSortOrder , 
			   Subject_Name,
			   --Is_Absent ,
			   'N' as Is_Absent,
			   IsCoCurricularSubject
		FROM @tblMarks TM1
		group by YearWise_Student_Id ,
			Subject_Id ,
			SubjectSortOrder , 
			Subject_Name,
			IsCoCurricularSubject
			--Is_Absent
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,subject_id, SUM(AdjustedMarks) AS Total_Marks_Scored, SUM(OutOfMarks) AS OutOfMarks--,TermId
		from
		(
			select YearWise_Student_Id,subject_id, AdjustedMarks, 
			case when Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N') then 0 else OutOfMarks end as OutOfMarks,
			TermId
			FROM @tblMarks TM		
			where SchoolWise_Test_Name <> 'Total'	
		)S
		group by YearWise_Student_Id,subject_id --,TermId
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id

	UPDATE TM
	SET Total_Marks_Scored = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		Marks = CONVERT(NUMERIC(10,2), ROUND((Total_Marks_Scored/(CASE WHEN OutOfMarks  = 0 THEN 1 ELSE OutOfMarks END))*100, 2)),
		OutOfMarks = 100
	from @tblMarks TM
	INNER JOIN
	(
		select YearWise_Student_Id, Subject_Id
		from @tblMarks
		where Is_Absent  IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
		group by YearWise_Student_Id, Subject_Id
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id
	AND TM.Subject_Id = S.Subject_Id
	inner join
	(
		select S1.YearWise_Student_Id, sm.Subject_Id, sm.Subject_Name
		from
		(
			select TM.YearWise_Student_Id, tg.SubjectName, count(1) as SubjectCount
			from @tblMarks tm
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			WHERE SM.academic_Year_Id = @Academic_Year_Id
			AND SM.School_Id = @School_Id
			AND SM.Is_Deleted = 'N'
			and Is_Absent  IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
			group by TM.YearWise_Student_Id, tg.SubjectName
		)S1
		INNER JOIN
		(
			select SubjectName, count(1) as SubjectCount
			from @TblGroups
			group by SubjectName
		)S2
		ON S1.SubjectName = S2.SubjectName
		AND S1.SubjectCount = S2.SubjectCount
		INNER JOIN @TblGroups TG1
		ON S1.SubjectName = TG1.SubjectName
		INNER JOIN Subject_Master SM
		ON TG1.OriginalSubjectId = SM.Original_Subject_Id
		WHERE SM.School_Id = @School_Id
		AND SM.academic_Year_Id = @Academic_Year_Id
		AND SM.Is_Deleted = 'N'
	)SS
	ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
	AND TM.Subject_Id = SS.Subject_Id
	where Schoolwise_Test_Id = 8888
	and OutOfMarks <> 100
	
	DECLARE @TblLateJoinee AS TABLE
	(
		YearWise_Student_Id INT
	)

	INSERT INTO @TblLateJoinee
	select s1.YearWise_Student_Id
	from
	(
		select YearWise_Student_Id
		from @tblMarks
		where TermId = 2
		and Schoolwise_Test_Id = 8888
		group by YearWise_Student_Id
	)s1
	left outer join
	(
		select YearWise_Student_Id
		from @tblMarks
		where TermId = 1
		and Schoolwise_Test_Id = 8888
		group by YearWise_Student_Id
	)s2
	on s1.YearWise_Student_Id =  s2.YearWise_Student_Id
	where s2.YearWise_Student_Id is null
	
	insert into @tblMarks
	select tm1.YearWise_Student_Id,Subject_Id,SubjectSortOrder,Subject_Name,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,0,0,0,'N',0,1,1,'',IsCoCurricularSubject
	from @tblMarks TM1
	INNER JOIN @TblLateJoinee tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	where tm1.TermId = 2
	and Schoolwise_Test_Id = 8888
	
	update TM
	set --Marks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		AdjustedMarks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2))--,
		--OutOfMarks = 100
	FROM @tblMarks TM
	LEFT OUTER JOIN
	(
		select sm.Subject_Id
		from @TblGroups tg
		inner join Subject_Master sm
		on tg.OriginalSubjectId = sm.Original_Subject_Id
		where sm.School_Id = @School_Id
		and sm.academic_Year_Id = @Academic_Year_Id
		and sm.Is_Deleted = 'N'
		group by sm.Subject_Id
	)SM
	ON TM.Subject_Id = SM.Subject_Id
	where SchoolWise_Test_Name = 'Total'
	and OutOfMarks <> 100
	and OutOfMarks <> 0
	AND SM.Subject_Id IS NULL
	--and TestSortOrder <> 9999

	
	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.Subject_Id ,
		SubjectSortOrder , 
		Subject_Name , 
		8888,
		10010 , 
		'Total',
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		3 as TermId,
		1,
		'',
		IsCoCurricularSubject
	FROM
	(
		SELECT YearWise_Student_Id ,
			   Subject_Id ,
			   SubjectSortOrder , 
			   Subject_Name,
			   --Is_Absent ,
			   'N' as Is_Absent,
			   IsCoCurricularSubject			   
		FROM @tblMarks TM1
		group by YearWise_Student_Id ,
			Subject_Id ,
			SubjectSortOrder , 
			Subject_Name,
			IsCoCurricularSubject
			--Is_Absent
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,subject_id, ROUND(CONVERT(DECIMAL(10,2), (Marks/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100),0) AS Total_Marks_Scored, 100 AS OutOfMarks
		from
		(
			SELECT YearWise_Student_Id,subject_id, SUM(Marks) AS Marks,SUM(OutOfMarks) AS OutOfMarks
			from
			(			
				select YearWise_Student_Id,subject_id, convert(decimal(10,2), Marks) as Marks, 
				case when Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N') then 0 else OutOfMarks end as OutOfMarks			
				FROM @tblMarks TM		
				where TestSortOrder in (9998,9999)
				and Marks not in (select DisplayValue from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			)SS
			group by YearWise_Student_Id,subject_id
		)S		
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id
		
		

	DECLARE @SchoolReopenNote NVARCHAR(200) = '',
			@SchoolReopenDate DATE,
			@NextAcademicYear NVARCHAR(20)
	
	SELECT @SchoolReopenDate = SchoolReopeningDate,
		   @NextAcademicYear = CAST(YEAR(StartDate) AS NVARCHAR(4)) +' - '+ CAST(YEAR(EndDate) AS NVARCHAR(4))
	FROM Standardwise_Academic_Year SWAY
	INNER JOIN SchoolWise_Academic_Year_Master SAAY
	ON SWAY.Academic_Year_Id = SAAY.Academic_Year_ID
	where SWAY.Academic_Year_Id = @NextAcademicYearId
	and StandardId = @NextStandardId
	and SWAY.Is_Deleted = 0
	AND SAAY.Is_Deleted = 'N'

	DECLARE @ClassTeacherName NVARCHAR(100) = '',
			@PrincipalName NVARCHAR(100) = ''

	select @ClassTeacherName = BTD.TeacherFLName
	from SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
	INNER JOIN vw_standard_division VSD
	ON SSDTAM.Standard_Id = VSD.Standard_Id
	AND SSDTAM.Division_Id = VSD.Division_Id
	INNER JOIN vw_BaseTeacherDetails BTD
	ON SSDTAM.Teacher_Id = BTD.Teacher_Id
	where SSDTAM.School_Id = @School_Id
	and SSDTAM.Academic_Year_Id = @Academic_Year_Id
	and SSDTAM.Is_Deleted = 'N'
	AND BTD.Is_Deleted = 'N'
	and VSD.Standard_Id = @Standard_Id
	and VSD.SchoolWise_Standard_Division_Id = @Division_Id

	SELECT @PrincipalName = btd.TeacherFLName
	FROM vw_BaseTeacherDetails BTD
	INNER JOIN Teacher_Designation_Master TDM
	ON BTD.Designation_Id = TDM.Teacher_Designation_Id
	WHERE School_Id = @School_Id
	AND academic_year_id = @Academic_Year_Id
	AND BTD.Is_Deleted = 'N'
	AND TDM.Is_Deleted = 'N'
	AND TDM.Teacher_Designation_Name = 'Principal'

	DECLARE @ClassStrength INT = 0
	SELECT @ClassStrength = COUNT(1)
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_BaseStudentDetails BSD
	ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YSD.Is_Deleted = 'N'
	AND VSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND (BSD.SchoolLeft_Date IS NULL OR (BSD.SchoolLeft_Date IS NOT NULL AND BSD.SchoolLeft_Date > @TermEndDate))
	--select 't1'
	SELECT tsd.*,tot.*,@TermHeader TermHeader, '' as StarLegend, @IsFromReportScreen IsFromReportScreen,TFR.Result,
	'School will open from '+CAST(DAY(@SchoolReopenDate) AS NVARCHAR(2)) +'th '+CAST(DATENAME(MONTH,@SchoolReopenDate)  AS NVARCHAR(20))+', '+CAST(YEAR(@SchoolReopenDate) AS NVARCHAR(4))+' for the new Academic Session '+@NextAcademicYear+'.' AS SchoolReopenNote,
	tsd.StandardName,tsd.DivisionName,	
    CASE WHEN @School_Id = 166  AND @Academic_Year_Id = 3  THEN 'Good' ELSE ISNULL(SRD.Conduct, '')END AS Conduct,
    ISNULL(SRD.Punctuality,'') as Punctuality,
	CASE WHEN @Academic_Year_Id  =1 THEN CAST(ISNULL(SRD.PresentDays,0) AS NVARCHAR(10)) + '/'+ CAST(ISNULL(SRD.TotalDays,0)  AS NVARCHAR(10))
	ELSE CAST(ISNULL(tsd.PresentDays,0) AS NVARCHAR(10)) + '/'+ CAST(ISNULL(tsd.TotalDays,0)  AS NVARCHAR(10)) END as AttendanceNote,
	ISNULL(SRD.Result,'') as ResultNote, 
	CASE WHEN IsNewStudent = 1 THEN 'Yes' ELSE '-' END AS NewStudentNote,	
	CASE WHEN @Academic_Year_Id = 1 THEN ISNULL(SRD.ClassStrength,0) ELSE @ClassStrength END AS ClassStrength,
	ISNULL(@ClassTeacherName,'') as ClassTeacherName,
	ISNULL(@PrincipalName,'') AS PrincipalName,
	@Academic_Year_Id AS AcademicYearId
	FROM @tblStudentDetails tsd
	inner join @TblFinalResult TFR
	on tsd.YearWise_Student_Id = tfr.YrStudentId
	LEFT OUTER JOIN StudentResultDetails SRD
	ON tsd.YearWise_Student_Id = SRD.YearwiseStudentId
	AND SRD.TermId = @TermId
	AND SRD.IsDeleted = 0
	INNER JOIN
		(
			SELECT YearWise_Student_Id AS TotalStudId,TotalMarks,OutOfMarksTotal, ROUND((TotalMarks/OutOfMarksTotal)*100,2) AS Percentage, MGCD.Grade_Name
			FROM
			(
				SELECT SS.YearWise_Student_Id,SUM(Total_Marks_Scored) AS TotalMarks, SUM(OutOfMarks) AS OutOfMarksTotal
				from
				(
					SELECT TM.Subject_Name, TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id,
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN Subject_Master SM
					ON TM.Subject_Id = SM.Subject_Id				
					LEFT OUTER JOIN @TblGroups TG
					ON sm.Original_Subject_Id= TG.OriginalSubjectId					
					where TermId = 3
					AND TG.SubjectId IS NULL
					UNION
					SELECT TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, 
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN @TblGroups TG
					ON TM.Subject_Name = TG.SubjectName
					where TermId = 3
					--group by TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, Total_Marks_Scored, OutOfMarks
				)SS
				LEFT OUTER JOIN @tblStudentDetails TSD
				ON SS.YearWise_Student_Id = TSD.YearWise_Student_Id
				AND SS.Subject_Id = TSD.ThirdLanguageSubjectId
				WHERE TSD.YearWise_Student_Id IS NULL	
				group by SS.YearWise_Student_Id
			)S
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON ROUND((TotalMarks/OutOfMarksTotal)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			WHERE MGCD.Is_Deleted = 'N'
			AND MGC.Is_Deleted = 'N'
			AND MGC.Standard_Id = @Standard_Id
			AND MGC.IsForCoCurricularSubjects = 0
		)TOT
		ON TSD.YearWise_Student_Id = TOT.TotalStudId
		
		UPDATE TM
		SET Marks = '-'
		from @tblMarks TM
		inner join
		(
			select YearWise_Student_Id, Subject_Id
			from @tblMarks
			where SchoolWise_Test_Name <>  'Total'
		--	and Is_Absent in (select ShortName from Schoolwise_Exam_Status where SchoolId = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			group by YearWise_Student_Id, Subject_Id
			having sum(Total_Marks_Scored) = 0
		)ss
		ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
		AND TM.Subject_Id = SS.Subject_Id
		where SchoolWise_Test_Name =  'Total'

		UPDATE TM
		SET Marks = '-'
		FROM @tblMarks TM
		INNER JOIN @TblLateJoinee TLJ
		ON TM.YearWise_Student_Id = TLJ.YearWise_Student_Id
		WHERE TermId = 1
		AND SchoolWise_Test_Name = 'Total'
		--and Marks = 0

		UPDATE TM1
		SET Subject_Name = '<b>'+ UPPER(TM1.Subject_Name)+'</b>'--,
			--Marks = '<b>'+ Marks+'</b>'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id				
			LEFT OUTER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			where TestSortOrder IN (9998, 9999)
			AND TG.SubjectId IS NULL
			UNION
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN @TblGroups TG
			ON TM.Subject_Name = TG.SubjectName
			where TestSortOrder IN (9998, 9999)		
		)TM2
		ON TM1.Subject_Name = TM2.Subject_Name

		update @tblMarks
		set SchoolWise_Test_Name = 'AVERAGE'
		where TestSortOrder = 10010
		
		UPDATE TM1
		SET Marks = '<b>' +TM2.Grade_Name+'</b>'
		FROM @tblMarks TM1
		INNER JOIN
		(
			select tm.YearWise_Student_Id,tm.Schoolwise_Test_Id,tm.Subject_Id, mgcd.Grade_Name
			from @tblStudentDetails tsd
			inner join @tblMarks tm
			on tsd.YearWise_Student_Id = tm.YearWise_Student_Id
			and tsd.ThirdLanguageSubjectId = tm.Subject_Id
			inner join Marks_Grades_Configuration mgc
			on mgc.Standard_Id = @Standard_Id
			inner join Marks_Grades_Configuration_Details mgcd
			on mgc.Marks_Grades_Configuration_Id = mgcd.Marks_Grades_Configuration_Id
			and round((Total_Marks_Scored/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,2) between mgcd.Starting_Marks_Range and mgcd.Actual_Ending_Marks_Range
			where mgc.Is_Deleted = 'N'
			and mgcd.Is_Deleted = 'N'
			and mgc.Academic_Year_Id = @Academic_Year_Id
			and mgc.School_Id = @School_Id
			and mgc.IsForCoCurricularSubjects = 0
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		AND TM1.Schoolwise_Test_Id = TM2.Schoolwise_Test_Id
		LEFT OUTER JOIN @TblLateJoinee TLJ
		ON TM1.YearWise_Student_Id = TLJ.YearWise_Student_Id
		WHERE TLJ.YearWise_Student_Id IS NULL
		
		--DELETE  FROM @tblMarks
		--where TermId = 1
		--AND TestSortOrder <> 9999

		UPDATE @tblMarks
		SET Marks = REPLACE(Marks,'.00','')
		--WHERE SchoolWise_Test_Name <> 'Average'
				
		update @tblMarks
		set SchoolWise_Test_Name = 'FIRST TERM                   PART ''A''',
			TestSortOrder = 1
		where SchoolWise_Test_Name = 'First Term Examination'

		update @tblMarks
		set SchoolWise_Test_Name = 'SECOND TERM                   PART ''B''',
			TestSortOrder = 2
		where SchoolWise_Test_Name = 'Second Term Examination'

		update @tblMarks
		set SchoolWise_Test_Name = 'UNIT TESTS                   PART ''C''',
			TestSortOrder = 3
		where SchoolWise_Test_Name = 'Unit Tests'

		update @tblMarks
		set SchoolWise_Test_Name = 'TOTAL                   A+B+C',
			TestSortOrder = 4
		where SchoolWise_Test_Name = 'Total'

		update @tblMarks
		set TestSortOrder = 5
		where SchoolWise_Test_Name = 'Average'
		
		--UPDATE @tblMarks
		--SET TypeName = 
		--	CONVERT(INT,(
		--	SELECT MAX(OutOfMarks) AS OutOfMarks
		--	FROM @tblMarks
		--	WHERE TypeId = 1
		--	AND SchoolWise_Test_Name NOT LIKE 'Total%'
		--	AND SchoolWise_Test_Name NOT LIKE 'Average%'
		--	))
		--WHERE TypeId = 1
		
		--UPDATE @tblMarks
		--SET TypeName = 
		--	CONVERT(INT,(
		--	SELECT MAX(OutOfMarks) AS OutOfMarks
		--	FROM @tblMarks
		--	WHERE TypeId = 1
		--	AND SchoolWise_Test_Name NOT LIKE 'Total%'
		--	AND SchoolWise_Test_Name NOT LIKE 'Average%'
		--	))
		--WHERE TypeId = 1
		
		--UPDATE TM
		--SET TypeName = CONVERT(INT,S.MaxOutOfMarks)
		--FROM @tblMarks TM
		--inner join
		--(
		--	SELECT YearWise_Student_Id, max(OutOfMarks) as MaxOutOfMarks
		--	FROM @tblMarks
		--	WHERE TypeId = 1
		--	and IsCoCurricularSubject = 0
		--	AND SchoolWise_Test_Name LIKE 'Total%'
		--	group by YearWise_Student_Id
		--)S
		--ON TM.YearWise_Student_Id = S.YearWise_Student_Id
		--WHERE SchoolWise_Test_Name LIKE 'Total%'

		IF @IsPrimaryStandard = 1
		BEGIN
			UPDATE @tblMarks
			SET TypeName = 200
			WHERE SchoolWise_Test_Name LIKE 'Total%'
		END
		ELSE
		BEGIN
			UPDATE @tblMarks
			SET TypeName = 300
			WHERE SchoolWise_Test_Name LIKE 'Total%'
		END

		UPDATE @tblMarks
		SET TypeName = CONVERT(INT,OutOfMarks)
		WHERE TypeId = 1
		AND SchoolWise_Test_Name NOT LIKE 'Total%'

		--UPDATE @tblMarks
		--SET TypeName = 
		--	CONVERT(INT,(
		--	SELECT MAX(OutOfMarks) AS OutOfMarks
		--	FROM @tblMarks
		--	WHERE TypeId = 1
		--	AND SchoolWise_Test_Name NOT LIKE 'Total%'
		--	AND SchoolWise_Test_Name NOT LIKE 'Average%'
		--	))
		--WHERE TypeId = 1
		--AND TestSortOrder <> 9999

		--UPDATE @tblMarks
		--SET TypeName = CONVERT(INT,OutOfMarks)
		--WHERE TypeId = 1
		--AND TestSortOrder <> 9999
				
		DECLARE @SubName NVARCHAR(100)

		IF @StdName = '9'
		BEGIN
			UPDATE @tblMarks
			SET SubjectSortOrder = 9999
			where Subject_Name like '%MARATHI%'

			SET @SubName = 'MARATHI'
		END
		ELSE IF @IsPrimaryStandard = 1
		BEGIN
			UPDATE @tblMarks
			SET IsCoCurricularSubject = 1
			where Subject_Name like '%MARATHI%'
			OR Subject_Name like '%HINDI%'
			OR Subject_Name like '%COMPUTER APPL%'
			OR Subject_Name like '%ENVIRONMENTAL%'

			SET @SubName = 'MARATHI'
		END
		ELSE IF @StdName = '8'
		BEGIN
			UPDATE @tblMarks
			SET IsCoCurricularSubject = 1
			WHERE Subject_Name LIKE '%Computer Appl%'
			OR Subject_Name like '%Commercial Appl%'
		END
		--ELSE
		--BEGIN
		--	UPDATE @tblMarks
		--	SET SubjectSortOrder = 9999
		--	where Subject_Name like '%COMPUTER%'

		--	SET @SubName = 'COMPUTER'
		--END

		DECLARE @tblPointDetails AS TABLE
		(
			Point INT,
			StartingRange DECIMAL(10,2),
			EndingRange DECIMAL(10,2),
			Remarks NVARCHAR(100)
		)

		INSERT INTO @tblPointDetails
		SELECT 1,90,100,'Excellent' UNION
		SELECT 2,80,89.99,'Very Good' UNION
		SELECT 3,70,79.99,'Good' UNION
		SELECT 4,60,69.99,'Fair' UNION
		SELECT 5,50,59.99,'Satisfactory' UNION
		SELECT 6,40,49.99,'Pass' UNION
		SELECT 7,33,39.99,'Below Avg.' UNION
		SELECT 8,0,32.99,'Unsatisfactory'

				
		if @StdName =  '9'
		begin
			insert into @tblMarks
			select YearWise_Student_Id,Subject_Id,SubjectSortOrder,Subject_Name,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,Total_Marks_Scored,
			CASE WHEN UPPER(Subject_Name) LIKE '%'+@SubName+'%' THEN MGCD.Grade_Name ELSE CAST(TPD.Point AS NVARCHAR(10)) END as Marks,
			OutOfMarks,Is_Absent,AdjustedMarks,TermId,2,'Pts/Grd',IsCoCurricularSubject
			from @tblMarks TM
			INNER JOIN @tblPointDetails TPD
			ON CONVERT(DECIMAL(10,2),case when tm.Marks in ('Ab','Ex','-') then '0' else marks end) BETWEEN TPD.StartingRange AND TPD.EndingRange
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON CONVERT(DECIMAL(10,2),case when tm.Marks in ('Ab','Ex','-') then '0' else marks end) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			where TestSortOrder <> 9999
			AND MGC.Is_Deleted = 'N'
			AND MGCD.Is_Deleted = 'N'
			AND MGC.IsForCoCurricularSubjects = 0
			AND MGC.Standard_Id = @Standard_Id
			and TM.IsCoCurricularSubject = 0
			and SchoolWise_Test_Name not like 'Total%'
		end

		if @StdName <>  '9'
		begin
			update TM
			set Marks = mgcd.Grade_Name
			from @tblMarks TM
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON CONVERT(DECIMAL(10,2),AdjustedMarks) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			where SchoolWise_Test_Name like 'Total %'
			and Subject_Name like '%'+@SubName+'%'
			AND MGC.Is_Deleted = 'N'
			AND MGCD.Is_Deleted = 'N'
			AND MGC.IsForCoCurricularSubjects = 0
			AND MGC.Standard_Id = @Standard_Id
		end

		update @tblMarks
		set Subject_Name = '<b>HISTORY CIVICS & GEOG.</b>'
		where Subject_Name like '%Social Studies%'

		update TM1
		SET Marks = '-'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT YearWise_Student_Id,Subject_Id
			from @tblMarks tm
			where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		WHERE (tm1.SchoolWise_Test_Name like 'Total%')
	
		update TM1
		SET Marks =  TM2.Marks
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT YearWise_Student_Id,Subject_Id,tm.Marks, TypeId
			from @tblMarks tm
			where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
			and TypeId = 1
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		WHERE (tm1.SchoolWise_Test_Name like 'Average%')
		and TM1.TypeId = 1

		update TM1
		SET Marks =  '-'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT YearWise_Student_Id,Subject_Id,tm.Marks, TypeId
			from @tblMarks tm
			where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')			
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		WHERE (tm1.SchoolWise_Test_Name like 'Average%')
		and TM1.TypeId = 2

		update @tblMarks
		set Marks = '-',
			Is_Absent = 'N'
		where typeid = 2
		and Is_Absent  IN ('Y','E')
		
		SELECT YearWise_Student_Id,
		Subject_Id,
		SubjectSortOrder,
		Subject_Name,
		Schoolwise_Test_Id,
		TestSortOrder, 
		SchoolWise_Test_Name,
		Total_Marks_Scored,	
		 case when Is_Absent = 'N' or (Total_Marks_Scored is not null and Total_Marks_Scored <> 0) then Marks 
		 --when Is_Absent='E' then 'Exemp' 
		 else
		 (select DisplayValue from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and Is_Absent = ShortName) end as Marks,
		OutOfMarks,
		Is_Absent ,
		 CASE LEN(SubjectSortOrder) WHEN 1 THEN '00' WHEN 2 THEN '0' ELSE '' END+CAST(SubjectSortOrder AS NVARCHAR(10)) AS NewSubjectSortOrder,
		 TermId,
		 TypeId, TypeName		 
		FROM @tblMarks
		where IsCoCurricularSubject = 0

		-- CO-CURRICULAR
	declare @tblGrades AS TABLE
	(
		YearWise_Student_Id INT,
		Subject_Id INT,
		SubjectSortOrder INT, 
		Subject_Name NVARCHAR(100), 
		Schoolwise_Test_Id INT,
		TestSortOrder INT, 
		SchoolWise_Test_Name NVARCHAR(100),
		Total_Marks_Scored DECIMAL(10,2),
		Marks NVARCHAR(100),
		OutOfMarks DECIMAL(10,2),
		Is_Absent CHAR,
		AdjustedMarks DECIMAL(10,2),
		TermId INT,
		TypeId INT,
		TypeName NVARCHAR(100)
	)

	DECLARE @tblCoCurriGrades AS TABLE
	(		
		StartingRange DECIMAL(10,2),
		EndingRange DECIMAL(10,2),
		Grade NVARCHAR(100)
	)

	insert into @tblGrades
	SELECT YearWise_Student_Id,Subject_Id,SubjectSortOrder,REPLACE(REPLACE(Subject_Name,'<b>',''),'</b>',''),Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name,
	Total_Marks_Scored,Marks,OutOfMarks,Is_Absent,AdjustedMarks,TermId,TypeId,TypeName
	FROM @tblMarks
	where IsCoCurricularSubject = 1
	and TypeId = 1
	and SchoolWise_Test_Name not like 'Total%'

	IF @IsPrimaryStandard = 1
	BEGIN	
			INSERT INTO @tblCoCurriGrades
			SELECT 45,50,'A' UNION
			SELECT 35,44.99,'B' UNION
			SELECT 25,34.99,'C' UNION
			SELECT 17,24.99,'D' UNION
			SELECT 0,16.99,'E'

			UPDATE @tblGrades
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*50,1),
				Marks = ROUND((Total_Marks_Scored/OutOfMarks)*50,1),
				OutOfMarks = 50
			WHERE OutOfMarks <> 50
	END
	ELSE
	BEGIN
			INSERT INTO @tblCoCurriGrades
			SELECT Starting_Marks_Range,Actual_Ending_Marks_Range,Grade_Name
			FROM Marks_Grades_Configuration MGC
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
			WHERE MGC.Is_Deleted = 'N'
			AND MGCD.Is_Deleted = 'N'
			AND MGC.School_Id = @School_Id
			AND MGC.Academic_Year_Id = @Academic_Year_Id
			AND MGC.IsForCoCurricularSubjects = 1
			AND MGC.Standard_Id = @Standard_Id

			UPDATE @tblGrades
			SET Total_Marks_Scored = (Total_Marks_Scored/OutOfMarks)*100,
				Marks = (Total_Marks_Scored/OutOfMarks)*100,
				OutOfMarks = 100
			WHERE OutOfMarks <> 100
	END

	DECLARE @GradeSubName NVARCHAR(100) = ''
	IF @StdName IN ('1','2','3','4')
		SET @GradeSubName = 'Marathi'
	ELSE
		SET @GradeSubName = 'COMPUTER APP'

	INSERT INTO @tblGrades
	select YearWise_Student_Id,Subject_Id,SubjectSortOrder,Subject_Name,S.Schoolwise_Test_Id,S.TestSortOrder,S.SchoolWise_Test_Name,Total_Marks_Scored,'-',OutOfMarks,Is_Absent,AdjustedMarks,TermId,TypeId,TypeName
	from @tblGrades TG
	CROSS JOIN
	(
		select Schoolwise_Test_Id, TestSortOrder,SchoolWise_Test_Name
		from @tblGrades
		where Subject_Name like @GradeSubName+'%'
		and SchoolWise_Test_Name like 'Unit Test%'	
		group by Schoolwise_Test_Id, TestSortOrder,SchoolWise_Test_Name
	)S	
	where Subject_Name not like @GradeSubName+'%'
	and TG.SchoolWise_Test_Name like 'Second Term%'

	update TM1
	SET Marks = '-'
	FROM @tblGrades TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,Subject_Id
		from @tblGrades tm
		where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id
	WHERE (tm1.SchoolWise_Test_Name like 'Total%')
	
	update TM1
	SET Marks = TM2.Marks,
		Is_Absent = tm2.Is_Absent
	FROM @tblGrades TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,Subject_Id,tm.Marks,Is_Absent
		from @tblGrades tm
		where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id
	WHERE (tm1.SchoolWise_Test_Name like 'Average%')
			
	UPDATE TM
	SET Marks = SES.DisplayValue
	from @tblGrades TM
	INNER JOIN Schoolwise_Exam_Status SES
	ON TM.Is_Absent = SES.ShortName
	WHERE SES.SchoolId = @School_Id
	AND SES.AcademicYearId = @Academic_Year_Id
	AND SES.IsDeleted = 0
	AND Marks <> '-'

	UPDATE @tblGrades
	SET Subject_Name = 'EVS'
	WHERE Subject_Name = 'ENVIRONMENTAL SCIENCE'

	select YearWise_Student_Id,Subject_Id,SubjectSortOrder,Subject_Name,Schoolwise_Test_Id,TestSortOrder,
	SchoolWise_Test_Name, 
	CASE WHEN Marks = '-' THEN Marks 
	WHEN Marks = '-' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0) THEN Marks
	ELSE TCG.Grade END AS Grade_Name
	from @tblGrades TG
	INNER JOIN @tblCoCurriGrades TCG
	ON Total_Marks_Scored BETWEEN StartingRange AND EndingRange	
END