/****** Object:  StoredProcedure [dbo].[usp_LeavingCertificate]    Script Date: 8/25/2025 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================================================================                  
-- Author:  Deepak                  
-- Create date: 24 may 2010                  
-- Description: This procedure is used to get LC details of a student                  
-- ===================================================================                  
ALTER PROCEDURE [dbo].[usp_LeavingCertificate]                  
 @School_Id INT,                  
 @Enrolment_Number NVARCHAR(50)=NULL,
 @PrintDate nvarchar(100)=NULL     
AS                  
BEGIN                  
 -- SET NOCOUNT ON added to prevent extra result sets from                  
 -- interfering with SELECT statements.                  
 SET NOCOUNT ON;                  
                  
  DECLARE @tbl AS TABLE                  
  (                  
	  DetailId INT,                  
	  DetailValue NVARCHAR(MAX),                  
	  SortOrder INT                  
  )  
  
                  
   DECLARE @Academic_Year_Id INT
   SET @Academic_Year_Id = (SELECT Academic_Year_ID 
								FROM SchoolWise_Academic_Year_Master WITH(NOLOCK)
								WHERE Is_Current_Year=N'Y'
								 AND Is_Deleted=N'N'
								 AND School_Id=@School_Id)



	-- Read configuration
	DECLARE @LcConfigDetailsXml XML
	SELECT @LcConfigDetailsXml = LCD.LcConfigXml 
	FROM LC_Details	LCD
	INNER JOIN Schoolwise_Student_Master SSM
	ON LCD.Student_Id = SSM.Schoolwise_Student_Id
	WHERE LCD.School_Id = @School_Id
	AND LCD.Is_Deleted = 'N'
	AND (SSM.Enrolment_Number=@Enrolment_Number OR @Enrolment_Number=N'0')
	
	DECLARE @tblLCConfig AS TABLE
	(
		LCDetailsId INT,
		LCDetailsName NVARCHAR(500),
		OriginalLCDetailsId INT,
		SortOrder INT
	)	
	
	IF @LcConfigDetailsXml IS NULL OR CONVERT(NVARCHAR(MAX),@LcConfigDetailsXml) = ''
	BEGIN
	     INSERT INTO @tblLCConfig
			SELECT LCDetailsId, 
				   LCDetailsName, 
				   OriginalLCDetailsId, 
				   SortOrder
			FROM LCReportConfiguration WITH(NOLOCK)
			WHERE SchoolId = @School_Id
			AND IsDeleted = 0
       END
	 ELSE
	BEGIN
          INSERT INTO @tblLCConfig
			SELECT T.c.value('./LCDetailsId[1]', 'INT'),
				   T.c.value('./LCDetailsName[1]', 'NVARCHAR(500)'),
				   T.c.value('./OriginalLCDetailsId[1]', 'INT'),
				   T.c.value('./SortOrder[1]', 'INT')
			FROM @LcConfigDetailsXml.nodes('LCReportConfigurations/LCReportConfiguration') T(c)
	END	
	
  BEGIN                  
  DECLARE
  	    @PenNo                      NVARCHAR(50),
        @_StudentName				NVARCHAR(160),                  
		@_Birthplace				NVARCHAR(MAX),                  
		@_DOB						DATE,                  
		@_DOBText					NVARCHAR(200),                  
		@_Religion					NVARCHAR(50),                   
		@_MotherName				NVARCHAR(50), 
		@_FatherName			    NVARCHAR(50),
		@_ParentName				NVARCHAR(50),                  
		@_Progress					NVARCHAR(MAX),                  
		@_ReasonForLeaving			NVARCHAR(MAX),                  
		@_Remarks					NVARCHAR(MAX),                  
		@_AdmissionYear				NVARCHAR(50),                  
		@_AdmissionDate				DATE,                  
		@_Class						NVARCHAR(50),                  
		@_DateofLeaving				DATE,                  
		@_LastSchoolName			NVARCHAR(MAX),                  
		@_Nationality				NVARCHAR(50),                  
		@_LastSchoolClass			NVARCHAR(50),                  
		@_LastSchoolAddress			NVARCHAR(MAX),                  
		@_Phone_Number				NVARCHAR(50),                  
		@_Mother_Tongue				NVARCHAR(20),                  
		@_Conduct					NVARCHAR(100),     
		@_Promotion					NVARCHAR(150),
		@_AdmissionStandard			NVARCHAR(20),
		@_IsFailed					NVARCHAR(10),
		@_Category					NVARCHAR(50),
		@_IsDueSettled				NVARCHAR(10),
		@Category					NVARCHAR(50),
		@IsFailed					BIT,
		@IsDueSettled				BIT,	
		@_BirthTaluka				NVARCHAR(100),
		@_BirthDistrict				NVARCHAR(100),
		@_State						NVARCHAR(100),
		@_BirthState                NVARCHAR(100),
		@_Country					NVARCHAR(100),
		@_AadharCardNo				NVARCHAR(50),
		@_StudentUDISENo			NVARCHAR(50),
		@Religion					NVARCHAR(50),
		@_DateOfLeavingInWord		NVARCHAR(MAX),
		@_AcademicPerformance        NVARCHAR(500),
		@Gender						NVARCHAR(10)
	
			SELECT @Category = CASE WHEN @School_Id = 71 THEN LC.CategoryName ELSE Category_Name END
			  FROM LC_Details LC
		INNER JOIN vw_GetAllStudentsForStandardDivision vwGASF
				ON LC.Student_Id = vwGASF.SchoolWise_Student_Id
			   AND LC.School_Id = vwGASF.School_Id			    
			 WHERE LC.LCEnrolmentNumber = @Enrolment_Number
			   AND LC.School_Id = @School_Id
			   AND LC.Is_Deleted = 'N'
			   AND vwGASF.School_Id = @School_Id
			   AND vwGASF.Is_Deleted = 'N'
	
			IF (@Category = 'Not Available' OR @Category IS NULL)
				BEGIN
					SET @_Category = '-'
				END
			ELSE
				BEGIN
					SET @_Category = @Category
				END

		SELECT @IsFailed = IsFailed 
		  FROM LC_Details 
		 WHERE Enrolment_Number = @Enrolment_Number

		IF @IsFailed = 1
			SET @_IsFailed = 'Fail'
		else
			SET @_IsFailed = 'Pass' 
			
	    SELECT @IsDueSettled = IsAllDueSettled
		  FROM LC_Details               
		 WHERE Enrolment_Number = @Enrolment_Number

		 IF @IsDueSettled = 1
			SET @_IsDueSettled = 'Yes'
         else
			SET @_IsDueSettled = 'No'

		DECLARE @StudentId INT,
				@PresenceDays INT = 0,
				@TotalDays INT = 0

		SELECT @StudentId = YearWise_Student_Id
		FROM YearWise_Student_Details YSD
		INNER JOIN vw_BaseStudentDetails VBSD
		ON YSD.Student_Id = VBSD.SchoolWise_Student_Id
		where Enrolment_Number = @Enrolment_Number
		and Academic_Year_ID = @Academic_Year_Id
		and YSD.Is_Deleted = 'N'
		and VBSD.Is_Deleted = 'N'

		select @PresenceDays = SUM(CASE WHEN Is_Present = 'Y' THEN 1 ELSE 0 END),
			@TotalDays = COUNT(1)
		from SchoolWise_Attendance_Details
		where Academic_Year_Id = @Academic_Year_Id
		and Is_Deleted = 'N'
		and Student_Id = @StudentId
		AND School_Id = @School_Id
		--and Is_Present = 'Y'

  SELECT @_StudentName = CASE WHEN @School_Id = 71 THEN VBSD.StudentFMLName ELSE a.StudentName END,
		 @_Birthplace = a.Birthplace,                  
		 @_DOB = a.DOB,                  
		 @_DOBText = a.DateOfBirthInText,                  
		 @_Religion = CASE WHEN @School_Id = 71 THEN CASE WHEN a.CasteAndSubCaste LIKE + '%' + a.Religion  + '%' THEN a.CasteAndSubCaste ELSE a.Religion + '-' + a.CasteAndSubCaste END ELSE a.CasteAndSubCaste END,                   
		 @_MotherName = a.Mother_Name,
		 @_FatherName = a.Parent_Name,
		 @_ParentName = a.Parent_Name,                  
		 @_Progress = a.Progress_Details,                  
		 @_ReasonForLeaving = a.Reason_Of_Leaving,                  
		 @_Remarks = a.Remarks,                  
		 @_AdmissionYear = a.Academic_Year_While_Leaving,                  
		 @_AdmissionDate = a.Admission_Date,                  
		 @_Class = a.Class_Name_While_Leaving,                  
		 @_DateofLeaving = a.Date_of_Leaving,                  
		 @_LastSchoolName = a.Last_school_name,                  
		 @_Nationality = a.Nationality,                  
		 @_LastSchoolClass = a.Last_School_Standard,                  
		 @_LastSchoolAddress = a.Last_school_attended,                  
		 @_Mother_Tongue=MotherTongue,                  
		 @_Conduct=Conduct,
		 @_Promotion = Promotion,
		 @_AdmissionStandard = a.AdmissionStandard,	
		 @_BirthTaluka = a.BirthTaluka,
		 @_BirthDistrict = a.BirthDistrict,
		 @_State = a.State,		 
		 @_BirthState=a.State,
		 @_Country = a.Country,	
		 @_AadharCardNo = a.AadharCardNo,
		 @_StudentUDISENo = a.UDISENumber,
		 @Religion = a.Religion,
		 @PenNo =a.PenNo ,
		 @_DateOfLeavingInWord= a.DateOfLeavingInWord,
		 @_AcademicPerformance=a.AcademicPerformance,
		 @Gender = CASE WHEN VBSD.Sex = 'F' THEN  'Female'
						WHEN VBSD.Sex = 'M' THEN 'Male'
					ELSE @Gender END		
	FROM LC_Details a WITH(NOLOCK)
INNER JOIN vw_BaseStudentDetails VBSD
	  ON a.Student_Id = VBSD.SchoolWise_Student_Id
left outer join StudentAdditionalDetails SAD
       ON  SAD.SchoolwiseStudentId=VBSD.SchoolWise_Student_Id 
	 AND SAD.IsDeleted =0
   WHERE a.Is_Deleted = N'N'                    
     AND a.LCEnrolmentNumber = @Enrolment_Number                  
     AND a.School_Id = @School_Id
	 AND VBSD.Is_Deleted = N'N'

DECLARE @PenNoLCId INT
   
   IF @School_Id = 71
		BEGIN
			SET @PenNoLCId = 0;
		END
		ELSE
		BEGIN
			SET @PenNoLCId = 91;
		END

INSERT INTO @tbl (DetailId, DetailValue)  
        VALUES (@PenNoLCId,@PenNo),
	          ( 1, @_StudentName),                  
			  ( 2, @_ParentName),                  
			  ( 3, @_MotherName),
			  ( 70, @_FatherName),
			  ( 4, @_Religion),                   
			  ( 5, CAST(DATEPART(D, @_AdmissionDate) AS NVARCHAR) +N'-'+ CAST(DATENAME(M, @_AdmissionDate) AS NVARCHAR(3)) +N'-'+ CAST(DATEPART(YYYY, @_AdmissionDate) AS NVARCHAR)),                  
			  ( 6, CASE WHEN @School_Id = 18 then FORMAT(@_DOB,'dd-MM-yyyy') else CAST(DATEPART(D, @_DOB) AS NVARCHAR) +N'-'+ CAST(DATENAME(M, @_DOB) AS NVARCHAR(3)) +N'-'+ CAST(DATEPART(YYYY, @_DOB) AS NVARCHAR) END),                  
			  ( 7, @_DOBText),                  
			  ( 8, @_Birthplace),    
			  ( 9, @_Nationality),                  
			  (10, @_LastSchoolName),                  
			  (11, @_LastSchoolAddress),                  
			  (12, @_LastSchoolClass),                 
			  (13, @_Progress),                  
			  (14, @_Class),                  
			  (15, @_AdmissionYear),                  
			  (16, CAST(DATEPART(D, @_DateofLeaving) AS NVARCHAR) +N'-'+ CAST(DATENAME(M, @_DateofLeaving) AS NVARCHAR(3)) +N'-'+ CAST(DATEPART(YYYY, @_DateofLeaving) AS NVARCHAR)),                  
			  (17, @_ReasonForLeaving),           
			  (18, @_Remarks),                  
			  (19, @_Mother_Tongue),                  
			  (20, @_Conduct),
			  (21, @_Promotion),
			  (22, @_AdmissionStandard),
			  (23, @_IsFailed),
			  (24, @_Category),
		      (73, @_BirthTaluka),
			  (72, @_BirthDistrict),
			  (74, @_State),
			  (75, @_Country),
			  (76, @_AadharCardNo),
			  (77, @Religion),
			  (78, @_DateOfLeavingInWord),
			  (79, @_StudentUDISENo),
			  (80, @_AcademicPerformance),
			  (1000, @Gender),
		      (95, CAST(@TotalDays AS NVARCHAR(10))),
			  (96, CAST(@PresenceDays AS NVARCHAR(10)))

 DELETE FROM @tbl WHERE DetailId NOT IN (SELECT OriginalLCDetailsId FROM @tblLCConfig a)
 
IF @School_Id = 18 -- PP School
	BEGIN
		UPDATE @tbl
		   SET DetailValue = UPPER(DetailValue)
		 WHERE DetailId IN (1,2,3,70)
	END
 ELSE IF(@School_Id <> 140)
	BEGIN
		UPDATE @tbl
		   SET DetailValue = UPPER(DetailValue)
	END

  DECLARE @tbl2 AS TABLE                  
  (      
       SchoolId				INT,    
	   SerialNo				INT,                  
	   Enrolment_Number		NVARCHAR(50),                 
	   SchoolName			NVARCHAR(200),                  
	   SchoolOrgName		NVARCHAR(200),                  
	   Address				NVARCHAR(200),                  
	   City					NVARCHAR(50),                  
	   Pincode				NVARCHAR(10),                  
	   Phone_Number			NVARCHAR(100),
	   EmailAddress			NVARCHAR(50),
	   Website				NVARCHAR(50),                  
	   Headmaster			NVARCHAR(204),                  
	   Logo					VARBINARY(MAX),
	   WaterMarkLogo		VARBINARY(MAX),
	   LCPrintNo			INT,
	   RegistrationNo		NVARCHAR(50),
	   AadharCardNo			NVARCHAR(50),
	   PhotoPathImage		IMAGE,
	   UDISENumber			NVARCHAR(50),
	   SchoolUDISENo		NVARCHAR(50),
	   GRNumber              NVARCHAR(50),
	   StudentUniqueNo      NVARCHAR(50),
	   AcademicPerformance  NVARCHAR(500),	   
	   SchoolRegNo	        NVARCHAR(100),
	   PenNo				NVARCHAR(50),
	   ApaarId             NVARCHAR(50),
	   SignImage			IMAGE
  )                  
                    
	  DECLARE @Logo VARBINARY(MAX)
	  IF @School_Id = 71      --For PPSN School
		   BEGIN
				SELECT @Logo = BlankAndWhiteLogo
				  FROM School_Master
				 WHERE Is_Deleted = 'N'
				   AND Is_Active = 'Y'
				   AND School_Id = @School_Id
		   END
	  ELSE
		   BEGIN
				 SELECT @Logo = Logo
				  FROM School_Master
				 WHERE Is_Deleted = 'N'
				   AND Is_Active = 'Y'
				   AND School_Id = @School_Id
		   END  

	  DECLARE @PrintCount INT
	   SELECT @PrintCount = MAX(CopyNo) 
	     FROM LC_Issue_Details 
	    WHERE School_Id = @School_Id 
		  AND Is_Deleted = 'N' 
		  AND LC_Details_Id = (
								  SELECT LC_Details_Id
									FROM LC_Details WITH(NOLOCK)                  
								   WHERE School_Id = @School_Id                  
									 AND LCEnrolmentNumber = @Enrolment_Number                  
									 AND Is_Deleted = N'N'   
							)

	  INSERT INTO @tbl2                  
		   SELECT A.School_Id,
				  A.SerialNumber,                  
				  A.LCEnrolmentNumber,                  
				   CASE WHEN @School_Id = 112 THEN 'Glazing Star(G.S) English Medium School'
				       ELSE B.School_Name END AS School_Name,                 
				  B.School_Orgn_Name,                  
				  --b.Address,                  
				  CASE WHEN @School_Id = 120 THEN B.Address ELSE B.Address1 + CASE WHEN B.Address2=N'' THEN N'' ELSE N', ' + B.Address2 END END AS Address,                  
				  B.City,                  
				  B.Pincode + '.',                  
				  'Ph.: 020' + ' - ' + B.Phone_Number2 + ' ' + '/' + ' ' + B.Phone_Number,	
				  'Email : ' + B.Email, 	 
				  'Website : ' + B.WebSite,		                  
				  ISNULL(C.TeacherName,''),
				  @Logo,
				  B.WatermarkImage,
				  @PrintCount,
				  B.Registration_No,
				  A.AadharCardNo,
				  SSM.Photo_file_Path_Image,
				  A.UDISENumber,
				  B.UDISENumber,
				  SSM.GRNumber,
				  SSM.StudentUniqueNo,
				  A.AcademicPerformance,
				  B.Registration_No,
				  A.PenNo,
				  A.ApaarId,
				  SignImage
			 FROM LC_Details A WITH(NOLOCK)                  
					INNER JOIN School_Master B WITH(NOLOCK)                 
						ON A.School_Id = B.School_Id                  
					LEFT OUTER JOIN vw_BaseTeacherDetails C WITH(NOLOCK)                 
						ON B.School_Id = C.School_Id
						AND C.Is_Deleted = N'N'                  
						AND C.Designation_Id = 10           
						AND C.academic_year_id = @Academic_Year_Id
					INNER JOIN SchoolWise_Student_Master AS SSM
						ON A.Student_Id = SSM.SchoolWise_Student_Id      
					   AND A.School_Id = SSM.School_Id
					INNER JOIN User_Master UM
						ON UM.User_Id = C.User_Id
		    WHERE A.School_Id = @School_Id                  
			  AND A.LCEnrolmentNumber = @Enrolment_Number                  
	          AND A.Is_Deleted = N'N'                  	          
			  AND UM.Is_Deleted = N'N'	          
   
	   IF(@School_Id = 122 OR @School_Id = 71 OR @School_Id = 1 OR @School_Id = 18 OR @School_Id = 120) -- for SNS, PPSN and SS school Only
	   BEGIN	   
			IF EXISTS(
						SELECT TOP 1 1
						      FROM @tblLCConfig
							 WHERE OriginalLCDetailsId = 8
					 )
					 BEGIN
				
					 DECLARE @BirthTaluka		NVARCHAR(100),
					         @BirthDistrict		NVARCHAR(100),
							 @State				NVARCHAR(100),
							 @Country			NVARCHAR(100),
							 @BirthState		NVARCHAR(100)
							
							 
					   SELECT @BirthTaluka = DetailValue
					     FROM @tbl
						WHERE DetailId = 73

						  SELECT @BirthState = DetailValue
					     FROM @tbl
						WHERE DetailId = 25
                         
						 SELECT @BirthDistrict = DetailValue
					     FROM @tbl
						WHERE DetailId = 72

					   SELECT @State = DetailValue
					     FROM @tbl
						WHERE DetailId = 74

					   SELECT @Country = DetailValue
					     FROM @tbl
						WHERE DetailId = 75

					   SELECT @Gender = DetailValue
						 from @tbl
						WHERE DetailId = 1000

					IF (@School_Id = 71)
						BEGIN
							UPDATE @tbl 
							   SET DetailValue = '<b>' + 'Village:' + '</b> ' + CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																					 THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					 ELSE DetailValue 
																					 END + '&nbsp;' +
												 '<b>' + ' Taluka: ' + '</b> ' + CASE WHEN (@BirthTaluka = '' OR @BirthTaluka IS NULL) 
																					  THEN '&nbsp;' 
																					  ELSE @BirthTaluka 
																					  END + '&nbsp;' + '</br>' +
												 '<b>' + 'District: ' + '</b>' + CASE WHEN (@BirthDistrict = '' OR @BirthDistrict IS NULL) 
																					  THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					  ELSE @BirthDistrict 
																					  END +'&nbsp;' + '</br>' +
												 '<b>' + 'State: ' + '</b>' + CASE WHEN (@State = '' OR @State IS NULL) 
																					THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					ELSE @State 
																					END +  '&nbsp;&nbsp;&nbsp;' +
												 '<b>' + 'Country: ' + '</b>' + CASE WHEN (@Country = '' OR @Country IS NULL) THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ELSE @Country END
							 WHERE DetailId = 8
						END
					IF (@School_Id = 120)
						BEGIN																		
							UPDATE @tbl 
							   SET DetailValue = CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																					 THEN '' 
																					 ELSE DetailValue 
																					 END + '' +
												 CASE WHEN (@BirthTaluka = '' OR @BirthTaluka IS NULL) 
																					  THEN '' 
																					  ELSE @BirthTaluka 
			           																		  END + ', ' +
												 CASE WHEN (@BirthDistrict = '' OR @BirthDistrict IS NULL) 
																					  THEN '' 
																					  ELSE @BirthDistrict 
																					  END +', ' + 
												 CASE WHEN (@State = '' OR @State IS NULL) 
																					THEN '' 
																					ELSE @State 
																					END +  ', ' +
												 CASE WHEN (@_Country = '' OR @_Country IS NULL) THEN '' ELSE @_Country END
							 WHERE DetailId = 8
						END
					ELSE IF (@School_Id = 122)
						BEGIN
							UPDATE @tbl 
							   SET DetailValue = 
							   '<b>' + ' Place: ' + '</b> ' + CASE WHEN (@_Birthplace = '' OR @_Birthplace IS NULL) 
																					  THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					  ELSE @_Birthplace
																					  END 
																					  +							   
							   '<b>' + ' Taluka: ' + '</b> ' + CASE WHEN (@BirthTaluka = '' OR @BirthTaluka IS NULL) 
																					  THEN '' 
																					  ELSE @BirthTaluka
																					  END + '&nbsp;' + '</br>' +										
												 '<b>' + 'District: ' + '</b>' + CASE WHEN (@BirthDistrict = '' OR @BirthDistrict IS NULL) 
																					  THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					  ELSE @BirthDistrict 
																					  END +'&nbsp;' + 
								--'<b>' + ' Birth State: ' + '</b> ' + CASE WHEN (@_BirthState = '' OR @_BirthState IS NULL) 
								--													  THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
								--													  ELSE @_BirthState
								--													  END 																					  +
                                                '<p><b>' + 'Country: ' + '</b>' + CASE WHEN (@Country = '' OR @Country IS NULL) THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ELSE @Country  END +'</p>'
												
							 WHERE DetailId = 8
						END
					ELSE
						BEGIN		
							IF @School_Id <> 71 -- ppsn
							BEGIN
								UPDATE @tbl 
								   SET DetailValue = '<b>' + 'Village:' + '</b> ' + CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																						 THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																						 ELSE DetailValue 
																						 END + '&nbsp;' +
													 '<b>' + ' Taluka: ' + '</b> ' + CASE WHEN (@BirthTaluka = '' OR @BirthTaluka IS NULL) 
																						  THEN '&nbsp;' 
																						  ELSE @BirthTaluka 
			           																			  END + '&nbsp;' + '</br>' +
													 '<b>' + 'District: ' + '</b>' + CASE WHEN (@BirthDistrict = '' OR @BirthDistrict IS NULL) 
																						  THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																						  ELSE @BirthDistrict 
																						  END +'&nbsp;' + 
													 '<b>'  +' State: ' + '</b>' + CASE WHEN (@State = '' OR @State IS NULL) 
																						THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																						ELSE @State 
																						END +  '&nbsp;&nbsp;&nbsp;'+
													 '<b>' + 'Country: ' + '</b>' + CASE WHEN (@Country = '' OR @Country IS NULL) THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ELSE @Country END
								 WHERE DetailId = 8
							 END
						 END

						 IF(@School_Id <> 71)
							BEGIN
							 UPDATE @tbl
								 SET DetailValue=  CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																						 THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																						 ELSE DetailValue 
																						 END + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
											CASE WHEN @School_Id = 120 THEN '' ELSE '<b>' + ' Mother Tongue: ' + '</b> ' + CASE WHEN ( @_Mother_Tongue= '' OR @_Mother_Tongue IS NULL) 
																						  THEN '&nbsp;' 
																						  ELSE @_Mother_Tongue 
																						  END + '&nbsp;' END
								   WHERE DetailId = 9
							 END

					IF(@School_Id = 71)
						BEGIN
							UPDATE @tbl
							   SET DetailValue = UPPER(@_Religion)
							 WHERE DetailId = 77
						END
					ELSE
						BEGIN
							UPDATE @tbl
							SET DetailValue=  CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																					 THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					 ELSE DetailValue 
																					  END  +
													CASE WHEN @School_Id <> 122 THEN ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
											   '<b>' + ' Caste/Sub Caste: ' + '</b> ' + CASE WHEN ( @_Religion= '' OR @_Religion IS NULL) 
																					  THEN '&nbsp;' 
																					  ELSE UPPER(@_Religion)
																					  END + '&nbsp;' ) ELSE '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' END
						   WHERE DetailId=77 
						END

					 END

					 IF (@School_Id = 71) --- for PPSN only
						BEGIN
							UPDATE @tbl 
							   SET DetailValue =  CASE WHEN (DetailValue = '' OR DetailValue IS NULL) 
																					 THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					 ELSE DetailValue 
																					 END + '&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
												 '<b>' + 'Class: ' + '</b> ' + CASE WHEN (@_AdmissionStandard = '' OR @_AdmissionStandard IS NULL) 
																					  THEN '&nbsp;' 
																					  ELSE UPPER(@_AdmissionStandard)

																					  END 
							 WHERE DetailId = 5
						END

						IF @School_Id = 120 
							BEGIN
								UPDATE @tbl
								   SET DetailValue = CASE WHEN (DetailValue = '' OR DetailValue IS NULL)
																		THEN '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' 
																					 ELSE DetailValue 
																					 END + '&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
												 '<b>' + 'Conduct : ' + '</b> ' + CASE WHEN (@_Conduct = '' OR @_Conduct IS NULL) 
																					  THEN '&nbsp;' 
																					  ELSE @_Conduct
																					  END 
								 WHERE DetailId IN (13)

								DELETE FROM @tbl
									  WHERE DetailId IN (20)

								UPDATE @tbl
								   SET DetailValue = CONVERT(VARCHAR,CONVERT(DATE,DetailValue),105)
								 WHERE DetailId in (6,5,16)
							END

					 DELETE FROM @tbl
					       WHERE DetailId IN (72,73,74,75)
	   END


	   IF @School_Id = 18 AND @Academic_Year_Id <= 54
	   BEGIN
			DECLARE @AdmissionClass NVARCHAR(100) =''
			
			select @AdmissionClass = VSD.className
			from YearWise_Student_Details YSD
			INNER JOIN vw_standard_division VSD
			ON YSD.Standard_Id = VSD.Standard_Id
			AND YSD.Division_id = VSD.Division_Id
			INNER JOIN
			(
				select min(YearWise_Student_Id) as MinYrStudentId
				FROM vw_BaseStudentDetails BSD
				INNER JOIN YearWise_Student_Details YSD
				ON BSD.SchoolWise_Student_Id = YSD.Student_Id			
				WHERE BSD.Enrolment_Number = @Enrolment_Number
				AND YSD.Is_Deleted = 'N'
			)S
			ON YSD.YearWise_Student_Id = S.MinYrStudentId

			UPDATE @tbl
			SET DetailValue = DetailValue + ' In '+@AdmissionClass
			WHERE DetailId = 5
	   END

	   IF(@School_Id = 140) --JPS School
		BEGIN
            UPDATE @tbl
			   SET DetailValue = DetailValue + '<br>' + (SELECT DetailValue FROM @tbl WHERE DetailId = 7)
			 WHERE DetailId = 6

			 DELETE FROM @tbl
			  WHERE DetailId = 7

			 UPDATE @tblLCConfig
			    SET LCDetailsName = LCDetailsName + '<br>' + (SELECT LCDetailsName FROM @tblLCConfig WHERE OriginalLCDetailsId = 7 AND SortOrder = 8)
			  WHERE OriginalLCDetailsId = 6
			    AND SortOrder = 7

			 DELETE FROM @tblLCConfig
			       WHERE OriginalLCDetailsId = 7
				     AND SortOrder = 8

			DECLARE @JoiningDate DATE,
			        @MotherFullName NVARCHAR(100)

			SELECT @JoiningDate = CONVERT(DATE,Admission_Date),
			       @MotherFullName = Mother_Name + ' ' + Middle_Name + ' ' + Last_Name
			  FROM vw_BaseStudentDetails
			 WHERE Enrolment_Number = @Enrolment_Number
			   AND School_Id = @School_Id

			UPDATE @tbl
			   SET DetailValue = DetailValue + ' (' + CONVERT(NVARCHAR(100),@JoiningDate,106)  +')'
			 WHERE DetailId = 14
			 
			UPDATE @tbl 
			   SET DetailValue = @MotherFullName
			 WHERE DetailId = 3
		END
	
	DECLARE @HidePrintDate BIT = 0
	 IF (
		 select top 1 sm.Standard_Name 
		 from vw_BaseStudentDetails BSD
		 INNER JOIN YearWise_Student_Details YSD
		 ON BSD.SchoolWise_Student_Id = YSD.Student_Id
		 INNER JOIN Standard_Master sm
		 on ysd.Standard_Id = sm.Standard_Id
		 where Enrolment_Number = @Enrolment_Number
		 AND YSD.Is_Deleted = 'N'
		 and sm.Is_Deleted = 'N'
		 ORDER BY YSD.Academic_Year_ID DESC
		 ) = '10'	 
		 AND @School_Id = 71 --PPSN
	 BEGIN
		SET @HidePrintDate = 1
	 END


	 IF @School_Id = 122
	 BEGIN
		UPDATE @tbl
		SET DetailValue = REPLACE(REPLACE(DetailValue,'MASTER ',''),'MISS ','')
		WHERE DetailId = 1
	 END
	 	                  
  SELECT C.SchoolId,
		 C.SerialNo,
		CASE 
			WHEN C.SchoolId = 5 
			THEN RIGHT(C.Enrolment_Number, CHARINDEX('/', REVERSE(C.Enrolment_Number)) - 1)
			ELSE C.Enrolment_Number
		END AS Enrolment_Number,
         CASE WHEN C.SchoolId = 110 THEN 'JUNIOR''S ORCHID PRE-PRIMARY SCHOOL' WHEN C.SchoolId = 140 THEN UPPER(C.SchoolName) ELSE C.SchoolName END AS SchoolName,
		 CASE WHEN C.SchoolId = 140 THEN UPPER(C.SchoolOrgName) ELSE C.SchoolOrgName END AS SchoolOrgName,
		 C.Address,
		 CASE WHEN C.SchoolId = 140 THEN UPPER(C.City) ELSE C.City END AS City,
		 C.Pincode,
		 C.EmailAddress,
		 C.Website,
		 C.LCPrintNo,
		 C.Phone_Number, 
		 C.RegistrationNo, 
		 C.AadharCardNo, 
		 A.DetailId, 
		 B.LCDetailsName, 
		 A.DetailValue,
		 B.SortOrder,
		 --, c.* 
		 C.UDISENumber,
		 C.SchoolUDISENo,
	     C.Headmaster,
		 --CASE WHEN @HidePrintDate = 1 THEN NULL ELSE CASE WHEN @PrintDate = N'1/1/0001' OR @PrintDate IS  NULL THEN dbo.GetLocalDate(DEFAULT) ELSE CONVERT(DATE, @PrintDate) END END AS PrintDate,
		 CASE WHEN @PrintDate = N'1/1/0001' OR @PrintDate IS  NULL THEN dbo.GetLocalDate(DEFAULT) ELSE CONVERT(DATE, @PrintDate) END AS PrintDate,
	     C.Logo,c.WaterMarkLogo,
		 'Test' as Test,
		 'T' as NewTest,
		 C.PhotoPathImage AS Photo,
		 c.GRNumber,
		 C.StudentUniqueNo,
		 C.AcademicPerformance,
		 C.SchoolRegNo,
		 C.PenNo,
		 C.ApaarId ,
		 C.SignImage
    FROM @tbl A                  
			INNER JOIN @tblLCConfig B                 
				ON A.DetailId = B.OriginalLCDetailsId                  
			CROSS JOIN @tbl2 C                  
  --WHERE b.SchoolId = @School_Id                  
 ORDER BY B.SortOrder, 
		  A.DetailId
 END                  
END
GO
