/****** Object:  StoredProcedure [dbo].[usp_GetAcademicYearForSchool]    Script Date: 24-07-2026 3.03.44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAcademicYearForSchool] 
  @School_Id INT -- Input parameter for the School ID
AS
BEGIN
    SELECT 
        Academic_Year_ID,
        school_id,
        start_date,
        end_date,
        is_current_year,
        is_close_year
    FROM 
        SchoolWise_Academic_Year_Master
    WHERE 
        School_Id = @School_Id -- Use the parameter instead of hardcoded value
        AND is_deleted = N'N'
    ORDER BY 
        start_date;
END
