/****** Object:  StoredProcedure [dbo].[usp_GetStudentCautionMoneyDetailsForReturn]    Script Date: 22-07-2026 6.06.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetStudentCautionMoneyDetailsForReturn]
    @Schoolwise_Student_Id INT,
    @Returned_By_School BIT
AS
BEGIN
    -- Fetching the records from vw_StudentCautionMoneyDetails
    SELECT * 
    FROM vw_StudentCautionMoneyDetails
    WHERE Schoolwise_Student_Id = @Schoolwise_Student_Id
      AND Returned_By_School = @Returned_By_School;
END
