/****** Object:  StoredProcedure [dbo].[usp_InsertFeePayableForStudent]    Script Date: 22-07-2026 5.54.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertFeePayableForStudent]
    @Student_Id INT,
    @Payable_For NVARCHAR(50),
    @Std_FeeType_Id INT,
    @Amount DECIMAL(18, 2),
    @DebitCredit NVARCHAR(10),
    @Paid_Date DATE,
    @Remarks NVARCHAR(255),
    @School_Id INT,
    @Academic_Year_Id INT,
    @Inserted_By_id INT,
    @Fee_Type NVARCHAR(50),
    @Standard_Div_Id INT,
    @ChallanNo INT,
    @IntervalStartDate DATE,
    @IntervalEndDate DATE,
    @AccountHeaderId INT
AS
BEGIN
    DECLARE @iSerialNo INT

    -- Generate the next serial number
    SELECT @iSerialNo = dbo.UDF_NextSerialNo(@School_Id)

    -- Insert the fee details into the Schoolwise_Student_Fee_Details table
    INSERT INTO Schoolwise_Student_Fee_Details
    (
        Student_Id,
        Payable_For,
        Std_FeeType_Id,
        Amount,
        [Debit/Credit],
        Paid_Date,
        Remarks,
        Student_Fee_Id,
        School_Id,
        Academic_Year_Id,
        Inserted_By_id,
        Fee_Type,
        Serial_Number,
        Standard_Div_Id,
        ChallanNo,
        IntervalStartDate,
        IntervalEndDate,
        AccountHeaderId
    )
    VALUES
    (
        @Student_Id, 
        @Payable_For, 
        @Std_FeeType_Id, 
        @Amount, 
        @DebitCredit, 
        @Paid_Date, 
        @Remarks, 
        0, -- Assuming Student_Fee_Id is auto-generated or managed elsewhere
        @School_Id, 
        @Academic_Year_Id, 
        @Inserted_By_id, 
        @Fee_Type, 
        @iSerialNo, 
        @Standard_Div_Id, 
        @ChallanNo, 
        @IntervalStartDate, 
        @IntervalEndDate, 
        @AccountHeaderId
    )
END
