/*
   04 August 202616:33:18
   User: sa
   Server: synergy-svr007.rit.com\schoolsmoke
   Database: PP
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AlumniMaster
	DROP CONSTRAINT DF__AlumniMas__IsSam__2884952B
GO
ALTER TABLE dbo.AlumniMaster
	DROP CONSTRAINT DF__AlumniMas__Photo__2978B964
GO
ALTER TABLE dbo.AlumniMaster
	DROP CONSTRAINT DF__AlumniMas__IsDel__2A6CDD9D
GO
ALTER TABLE dbo.AlumniMaster
	DROP CONSTRAINT DF__AlumniMas__Creat__2B6101D6
GO
ALTER TABLE dbo.AlumniMaster
	DROP CONSTRAINT DF__AlumniMas__Submi__2C55260F
GO
CREATE TABLE dbo.Tmp_AlumniMaster
	(
	AlumniId int NOT NULL IDENTITY (1, 1),
	SchoolId int NOT NULL,
	FirstName nvarchar(100) NOT NULL,
	MiddleName nvarchar(100) NULL,
	LastName nvarchar(100) NOT NULL,
	MobileNumber nvarchar(15) NOT NULL,
	Email nvarchar(150) NOT NULL,
	Gender char(1) NOT NULL,
	BirthDate date NOT NULL,
	Nationality nvarchar(100) NOT NULL,
	ResidingIn char(1) NOT NULL,
	Country nvarchar(100) NOT NULL,
	PassportNumber nvarchar(50) NULL,
	PermanentAddress nvarchar(MAX) NULL,
	CorrespondenceAddress nvarchar(MAX) NULL,
	IsSameAddress bit NOT NULL,
	DepartmentId int NOT NULL,
	SchoolPassingYear int NOT NULL,
	CurrentStatus char(2) NOT NULL,
	InstituteName nvarchar(200) NULL,
	SelfEmployedDetails nvarchar(MAX) NULL,
	CurrentDesignation nvarchar(200) NULL,
	CompanyName nvarchar(200) NULL,
	SpecialMentions nvarchar(MAX) NULL,
	AchievementImage varbinary(MAX) NULL,
	AlumniPhoto varbinary(MAX) NULL,
	PhotoPermissionGranted bit NOT NULL,
	HowCanHelp nvarchar(MAX) NULL,
	IsDeleted bit NOT NULL,
	CreatedBy int NULL,
	CreatedDate datetime NOT NULL,
	UpdatedBy int NULL,
	UpdatedDate datetime NULL,
	SubmissionMode char(1) NOT NULL,
	City nvarchar(100) NULL,
	State nvarchar(100) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_AlumniMaster SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_AlumniMaster ADD CONSTRAINT
	DF__AlumniMas__IsSam__2884952B DEFAULT ((0)) FOR IsSameAddress
GO
ALTER TABLE dbo.Tmp_AlumniMaster ADD CONSTRAINT
	DF__AlumniMas__Photo__2978B964 DEFAULT ((0)) FOR PhotoPermissionGranted
GO
ALTER TABLE dbo.Tmp_AlumniMaster ADD CONSTRAINT
	DF__AlumniMas__IsDel__2A6CDD9D DEFAULT ((0)) FOR IsDeleted
GO
ALTER TABLE dbo.Tmp_AlumniMaster ADD CONSTRAINT
	DF__AlumniMas__Creat__2B6101D6 DEFAULT (getdate()) FOR CreatedDate
GO
ALTER TABLE dbo.Tmp_AlumniMaster ADD CONSTRAINT
	DF__AlumniMas__Submi__2C55260F DEFAULT ('A') FOR SubmissionMode
GO
SET IDENTITY_INSERT dbo.Tmp_AlumniMaster ON
GO
IF EXISTS(SELECT * FROM dbo.AlumniMaster)
	 EXEC('INSERT INTO dbo.Tmp_AlumniMaster (AlumniId, SchoolId, FirstName, MiddleName, LastName, MobileNumber, Email, Gender, BirthDate, Nationality, ResidingIn, Country, PassportNumber, PermanentAddress, CorrespondenceAddress, IsSameAddress, DepartmentId, SchoolPassingYear, CurrentStatus, InstituteName, SelfEmployedDetails, CurrentDesignation, CompanyName, SpecialMentions, AchievementImage, AlumniPhoto, PhotoPermissionGranted, HowCanHelp, IsDeleted, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate, SubmissionMode)
		SELECT AlumniId, SchoolId, FirstName, MiddleName, LastName, MobileNumber, Email, Gender, BirthDate, Nationality, ResidingIn, Country, PassportNumber, PermanentAddress, CorrespondenceAddress, IsSameAddress, DepartmentId, SchoolPassingYear, CurrentStatus, InstituteName, SelfEmployedDetails, CurrentDesignation, CompanyName, SpecialMentions, AchievementImage, AlumniPhoto, PhotoPermissionGranted, HowCanHelp, IsDeleted, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate, SubmissionMode FROM dbo.AlumniMaster WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_AlumniMaster OFF
GO
ALTER TABLE dbo.AlumniAcademicProgrammes
	DROP CONSTRAINT FK_AlumniAcademicProgrammes_Alumni
GO
DROP TABLE dbo.AlumniMaster
GO
EXECUTE sp_rename N'dbo.Tmp_AlumniMaster', N'AlumniMaster', 'OBJECT' 
GO
ALTER TABLE dbo.AlumniMaster ADD CONSTRAINT
	PK_AlumniMaster PRIMARY KEY CLUSTERED 
	(
	AlumniId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AlumniAcademicProgrammes ADD CONSTRAINT
	FK_AlumniAcademicProgrammes_Alumni FOREIGN KEY
	(
	AlumniId
	) REFERENCES dbo.AlumniMaster
	(
	AlumniId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.AlumniAcademicProgrammes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
