/****** Object:  StoredProcedure [dbo].[usp_GetHolisticProgressReportDetailsFor6To8SNS]    Script Date: 11-04-2026 11:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 04-Apr-2026
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetHolisticProgressReportDetailsFor6To8SNS]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Studentid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @StdIDvId INT
	SET @StdIDvId = @Division_Id

	DECLARE @tblStudentDetails AS TABLE
	(
		YearwiseStudentId INT,
		StudentName NVARCHAR(150),
		RollNo INT,
		Grade NVARCHAR(50),
		FatherName NVARCHAR(150),
		MotherName NVARCHAR(150),
		House NVARCHAR(100),
		Division NVARCHAR(50),
		EnrolmentNo NVARCHAR(100),
		Term1Height INT,
		Term2Height INT,
		Remark NVARCHAR(500),
		OriginalStandardId INT,
		OriginalDivisionId INT,	
		DOB DATE,	
		Term1Weight INT,
		Term2Weight INT,
		AcademicYear NVARCHAR(50)
	)

	DECLARE @AcademicYear NVARCHAR(50) = ''
	SELECT @AcademicYear = CAST(YEAR(Start_date) AS NVARCHAR(4))+'-'+ CAST(RIGHT(YEAR(End_Date),2) AS NVARCHAR(2))
	FROM SchoolWise_Academic_Year_Master
	WHERE Academic_Year_ID = @Academic_Year_Id
	AND School_Id = @School_Id
	AND Is_Deleted = 'N'

	;WITH TerwiseHeightWeight as
	(
		select TSHWD.YearwiseStudentId, TSHWD.Height, TSHWD.Weight,TSHWD.TermId
		from TermwiseStudentHeightWeightDetails TSHWD
		INNER JOIN YearWise_Student_Details YSD
		ON TSHWD.YearwiseStudentId = YSD.YearWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		where YSD.School_Id = @School_Id
		AND YSD.Academic_Year_ID = @Academic_Year_Id
		AND YSD.Is_Deleted = 'N'	
		AND YSD.Standard_Id = @Standard_Id
		AND VSD.SchoolWise_Standard_Division_Id = @StdIDvId
		AND (YSD.YearWise_Student_Id = @Studentid OR @Studentid = 0)	
	),
	ProgressRemarks AS
	(
		SELECT SRCD.YearwiseStudentId, SRCD.RemarkDetails
		FROM StudentwiseRemarkConfigDetails SRCD
		INNER JOIN TermWiseRemarksDetails TRD
		ON SRCD.TermwiseRemarkDetailId = TRD.TermWiseRemarksDetailsId
		INNER JOIN YearWise_Student_Details YSD
		ON SRCD.YearwiseStudentId = YSD.YearWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		WHERE SRCD.SchoolId = @School_Id
		AND SRCD.AcademicYearId = @Academic_Year_Id
		AND SRCD.IsDeleted = 'N'
		AND TRD.Is_Deleted = 'N'
		AND TRD.Term_Id = 2
		AND YSD.Is_Deleted = 'N'	
		AND YSD.Standard_Id = @Standard_Id
		AND VSD.SchoolWise_Standard_Division_Id = @StdIDvId
		AND (YSD.YearWise_Student_Id = @Studentid OR @Studentid = 0)
	)
	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id,
			BSD.StudentName,
			YSD.Roll_No,
			VSD.Standard_Name,
			bsd.Middle_Name,
			bsd.Mother_Name,
			HCM.Name,
			vsd.Division_Name,
			BSD.Enrolment_Number,
			ISNULL(THW1.Height,0),
			ISNULL(THW2.Height,0),
			ISNULL(PR.RemarkDetails,0),
			VSD.Original_Standard_Id,
			VSD.Original_Division_Id,
			BSD.DOB,
			ISNULL(THW1.Weight,0),
			ISNULL(THW2.Weight,0),
			@AcademicYear
	FROM vw_BaseStudentDetails BSD
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	left outer join HouseConfigurationMaster HCM
	ON YSD.HouseId = HCM.Id
	LEFT OUTER JOIN TerwiseHeightWeight THW1
	ON YSD.YearWise_Student_Id = THW1.YearwiseStudentId
	AND THW1.TermId = 1
	LEFT OUTER JOIN TerwiseHeightWeight THW2
	ON YSD.YearWise_Student_Id = THW2.YearwiseStudentId
	AND THW2.TermId = 2
	left outer join ProgressRemarks PR
	ON YSD.YearWise_Student_Id = PR.YearwiseStudentId
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND BSD.SchoolLeft_Date IS NULL
	AND HCM.IsDeleted = 0
	AND YSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @StdIDvId
	AND (YSD.YearWise_Student_Id = @Studentid OR @Studentid = 0)

	DECLARE @SchoolReOpenDate NVARCHAR(50)
	IF @Academic_Year_Id = 11
	BEGIN
		SET @SchoolReOpenDate = '03-Jun-2026'
	END

	DECLARE @NextAcademicYearId INT = 0,
			@PromotedToClass NVARCHAR(200) = ''

	SELECT top 1 @NextAcademicYearId = Academic_Year_ID
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_ID > @Academic_Year_Id
	AND Is_Deleted = 'N'
	
	SELECT @PromotedToClass = Standard_Name
	FROM Standard_Master
	WHERE School_Id = @School_Id
	AND academic_Year_Id = @NextAcademicYearId
	AND Is_Deleted = 'N'
	AND Original_Standard_Id = 
	(
		SELECT NextOriginalStandardId
		FROM Standard_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id
	)
	
	SELECT *,@SchoolReOpenDate as SchoolReOpenDate, @PromotedToClass as PromotedToClass
	FROM @tblStudentDetails

	;WITH Monthly AS (
		SELECT
			ywsd.YearWise_Student_Id,
			MONTH(CONVERT(DATE, sad.Attendance_Date)) AS CalMonth,			
			MonthSortOrder = CASE MONTH(CONVERT(DATE, sad.Attendance_Date))
				WHEN 6  THEN 1  WHEN 7  THEN 2  WHEN 8  THEN 3  WHEN 9  THEN 4
				WHEN 10 THEN 5  WHEN 11 THEN 6  WHEN 12 THEN 7  WHEN 1  THEN 8
				WHEN 2  THEN 9  WHEN 3  THEN 10 WHEN 4  THEN 11 WHEN 5  THEN 12
			END,
			moy.MonthAbbreviation,
			PresentDays = SUM(CASE WHEN sad.Is_Present = 'Y' THEN 1 ELSE 0 END),
			TotalDays   = COUNT_BIG(*)
		FROM dbo.SchoolWise_Attendance_Details AS sad
		INNER JOIN dbo.YearWise_Student_Details AS ywsd
			ON ywsd.YearWise_Student_Id = sad.Student_Id
		   AND ywsd.Academic_Year_ID = sad.Academic_Year_Id		
		INNER JOIN @tblStudentDetails TSD
		ON YWSD.YearWise_Student_Id = TSD.YearwiseStudentId
		LEFT JOIN dbo.MonthsOfYear AS moy
			ON moy.MonthID = MONTH(CONVERT(DATE, sad.Attendance_Date))
		WHERE sad.School_Id = @School_Id		  
		  AND sad.Is_Deleted = 'N'
		  AND ywsd.Is_Deleted = 'N'		  
		GROUP BY
			ywsd.YearWise_Student_Id,
			MONTH(CONVERT(DATE, sad.Attendance_Date)),
			moy.MonthAbbreviation
	)
	SELECT
		m.YearWise_Student_Id AS YearwiseStudentId,
		v.CategoryName,
		v.CategorySortOrder,
		m.MonthAbbreviation as MonthName,
		m.MonthSortOrder,
		CASE WHEN v.CategorySortOrder = 3 THEN CAST(v.Days AS NVARCHAR(10)) ELSE CAST(CONVERT(INT,V.Days) AS NVARCHAR(10)) END  AS Days
	FROM Monthly AS m
	CROSS APPLY (VALUES
		(1, N'Present Days', CAST(m.PresentDays AS decimal(18, 2))),
		(2, N'Total Days',   CAST(m.TotalDays   AS decimal(18, 2))),
		(3, N'Percentage',
			CASE WHEN m.TotalDays > 0
				 THEN CAST(100.0 * m.PresentDays / m.TotalDays AS decimal(18, 2))
				 ELSE CAST(0 AS decimal(18, 2))
			END)
	) AS v(CategorySortOrder, CategoryName, Days)
	ORDER BY
		m.YearWise_Student_Id,
		m.MonthSortOrder,
		v.CategorySortOrder;

		DECLARE @tblSkillRemarks AS TABLE
		(
			YearwiseStudentId INT,
			SkillId INT,
			Comment NVARCHAR(500),
			SortOrder INT
		)

		INSERT INTO @tblSkillRemarks
		select TSD.YearwiseStudentId,op.SkillId, SOSRD.Comment, op.SortOrder
		from @tblStudentDetails TSD
		inner join StudentObservationSummmaryRemarkDetails SOSRD
		on tsd.YearwiseStudentId = SOSRD.StudentId
		inner join ObservationParameters OP
		on SOSRD.ParameterId = op.Id		
		where SOSRD.SchoolId = @School_Id
		and SOSRD.AcademicYearId = @Academic_Year_Id
		and SOSRD.IsDeleted = 0
		and op.IsDeleted = 0
		

	 ;WITH StudentSkillDetails AS
	 (
		 SELECT TSD.YearwiseStudentId,
				OS.Name as SkillName,
				os.SortOrder as SkillSortOrder,			
				OP.Parameter as ParameterName,
				OP.SortOrder AS ParameterSortOrder,				
				FinalGrade.GradeName AS Grade,
				sod.ParameterId,
				op.SkillId,
				STM.Term_Id,
				OS.SubjectId,
				SM.Is_CoCurricularActivity
		 FROM StudentObservationDetails SOD
		 INNER JOIN @tblStudentDetails TSD
		 ON SOD.StudentId = TSD.YearwiseStudentId
		 INNER JOIN ObservationParameters OP
		 ON SOD.ParameterId = OP.Id
		 INNER JOIN ObservationSkills OS
		 ON OP.SkillId = OS.Id
		 INNER JOIN ObservationGrades OG
		 ON SOD.GradeId = OG.Id
		 INNER JOIN SchoolWise_Test_Master STM
		 ON SOD.TestId = STM.SchoolWise_Test_Id
		 AND SOD.AcademicYearId  =STM.academic_year_id
		 INNER JOIN Subject_Master SM
		 ON OS.SubjectId = SM.Subject_Id
		 AND OS.AcademicYearId = SM.academic_Year_Id
		 INNER JOIN
		 (
			SELECT '0' as GradeId, 'Beginner' AS GradeName UNION
			SELECT '1' as GradeId, 'Beginner' AS GradeName UNION
			SELECT '2' as GradeId, 'Beginner' AS GradeName UNION
			SELECT '3' as GradeId, 'Proficient' AS GradeName UNION
			SELECT '4' as GradeId, 'Proficient' AS GradeName UNION
			SELECT '5' as GradeId, 'Advanced' AS Advanced UNION
			SELECT '6' as GradeId, 'Advanced' AS Advanced
		 )FinalGrade
		 ON OG.ShortName = FinalGrade.GradeId
		 WHERE SOD.SchoolId = @School_Id
		 AND SOD.AcademicYearId = @Academic_Year_Id
		 AND SOD.IsDeleted = 0
		 AND OP.IsDeleted = 0
		 AND OS.IsDeleted = 0
		 AND OG.IsDeleted = 0
		 AND STM.Is_Deleted = 'N'
		 AND SM.Is_Deleted = 'N'
	 )	 
	 SELECT SSD1.YearwiseStudentId,
			SSD1.SkillName,
			SSD1.SkillSortOrder,
			SSD1.ParameterName,
			SSD1.ParameterSortOrder,
			SSD1.Grade AS Term1Grade,
			ISNULL(SSD2.Grade,'') AS Term2Grade,			
			STUFF((
				SELECT CHAR(10) + Comment
				FROM @tblSkillRemarks TSR
				WHERE TSR.YearwiseStudentId = SSD1.YearwiseStudentId
				AND TSR.SkillId = SSD1.SkillId
				FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''
			) AS Remark,
			s.SectionId,
			s.SectionName
	 FROM StudentSkillDetails SSD1
	 LEFT OUTER JOIN StudentSkillDetails SSD2
	 ON SSD1.YearwiseStudentId = SSD2.YearwiseStudentId
	 AND SSD1.SkillId = SSD2.SkillId
	 AND SSD1.ParameterId = SSD2.ParameterId
	 AND SSD2.Term_Id = 2	 
	 INNER JOIN
	 (
		SELECT 1 AS SectionId, 'Section B: Learning Domains (Scholastic- Skill Based)' as SectionName, 0 as Is_CoCurricularActivity UNION
		SELECT 2 AS SectionId, 'Section C: Learning Domains (Co- scholastic – Skill Based )' as SectionName, 1 as Is_CoCurricularActivity
	 )S
	 ON SSD1.Is_CoCurricularActivity = s.Is_CoCurricularActivity	 	 
	 WHERE SSD1.Term_Id = 1

	 DECLARE @tblMarks AS TABLE
	 (
		YearwiseStudentId INT,
        SubjectName NVARCHAR(100),
        SubjectSortOrder INT,
        TestName NVARCHAR(200),
        TestOrder INT,
        Marks  NVARCHAR(100),
    	OutOfMarks INT,
		IsAbsent CHAR,
		TermId INT,
		SubjectId INT
	)

	INSERT INTO @tblMarks
	SELECT
		YWSD.YearWise_Student_Id AS YearwiseStudentId,
		SM.Subject_Name         AS SubjectName,
		SSSM.Sort_Order        AS SubjectSortOrder,
		STM.SchoolWise_Test_Name AS TestName,
		SST.Sort_Order          AS TestSortOrder,
		SSTM.Total_Marks_Scored    AS Marks,
		CASE WHEN STSMM.OutOfMarks IS NOT NULL AND STSMM.OutOfMarks <> 0 THEN STSMM.OutOfMarks ELSE STSMM.Subject_Total_Marks END AS OutOfMarks,
		SSTM.Is_Absent,
		STM.Term_Id,
		SSTM.Subject_Id
	FROM dbo.YearWise_Student_Details AS YWSD
	INNER JOIN @tblStudentDetails TSD
	ON	YWSD.YearWise_Student_Id = TSD.YearwiseStudentId
	INNER JOIN dbo.SchoolWise_Student_Test_Marks AS SSTM
		ON SSTM.Student_Id         = YWSD.YearWise_Student_Id
	   AND SSTM.Academic_Year_Id = YWSD.Academic_Year_ID
	   AND SSTM.Is_Deleted       = 'N'
	INNER JOIN dbo.SchoolWise_Test_Subject_Marks_Master AS STSMM
		ON STSMM.TestWise_Subject_Marks_Id = SSTM.TestWise_Subject_Marks_Id
	   AND STSMM.Academic_Year_Id          = YWSD.Academic_Year_ID
	   AND STSMM.Is_Deleted                = 'N'
	   AND STSMM.Is_Submitted              = 'Y'
	INNER JOIN dbo.SchoolWise_Test_Master AS STM
		ON STM.SchoolWise_Test_Id = STSMM.SchoolWise_Test_Id
	   AND STM.academic_year_id   = STSMM.Academic_Year_Id
	   AND STM.Is_Deleted         = 'N'
	INNER JOIN dbo.Schoolwise_Standard_Test_Master AS SST
		ON SST.SchoolWise_Test_Id  = STSMM.SchoolWise_Test_Id
	   AND SST.Standard_Id         = YWSD.Standard_Id
	   AND SST.academic_Year_Id    = YWSD.Academic_Year_ID
	   AND SST.Is_Deleted          = 'N'
	INNER JOIN dbo.Subject_Master AS SM
		ON SM.Subject_Id       = STSMM.Subject_Id
	   AND SM.academic_Year_Id = STSMM.Academic_Year_Id
	   AND SM.Is_Deleted       = 'N'
	INNER JOIN dbo.SchoolWise_Standard_Subject_Master AS SSSM
		ON SSSM.Standard_Id = YWSD.Standard_Id
	   AND SSSM.Subject_Id     = STSMM.Subject_Id
	   AND SSSM.academic_year_id = YWSD.Academic_Year_ID
	   AND SSSM.Is_Deleted     = 'N'   
	INNER JOIN dbo.Schoolwise_Division_Subject_Master AS SWSSM
		ON SWSSM.Standard_Division_Id      = STSMM.Standard_Division_Id
	   AND SWSSM.Subject_Id     = STSMM.Subject_Id
	   AND SWSSM.academic_year_id = YWSD.Academic_Year_ID
	   AND SWSSM.Is_Deleted     = 'N'
	   AND SWSSM.Total_Consideration = 'Y'
	WHERE YWSD.Academic_Year_ID = @Academic_Year_Id
	  AND YWSD.Is_Deleted       = 'N'
	  AND YWSD.Standard_Id      = @Standard_Id
	  AND STSMM.Standard_Division_Id = @StdIDvId
	  AND (YWSD.YearWise_Student_Id = @StudentId OR @StudentId = 0)
	  AND STSMM.School_Id         = @School_Id;

	  -- Add subjectwise total
	  DECLARE @tblTermwiseSubjectTotal AS TABLE
	  (
			YearwiseStudentId INT,
			TermId INT,
			SubjectId INT,
			SubjectName NVARCHAR(100),
			SubjectSortOrder INT,
			Marks DECIMAL(10,2),
			OutOfMarks INT,
			Percentage DECIMAL(5,2),
			Grade NVARCHAR(20)
	  )

	  INSERT INTO @tblTermwiseSubjectTotal
	  SELECT YearwiseStudentId, TermId,SubjectId,SubjectName,SubjectSortOrder, SUM(Marks), SUM(OutOfMarks),0,''
	  FROM
	  (
		  SELECT YearwiseStudentId, TermId,SubjectId,SubjectName,SubjectSortOrder, CONVERT(DECIMAL(10,2),Marks) AS Marks, CASE WHEN IsAbsent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N') THEN 0 ELSE OutOfMarks END AS OutOfMarks
		  FROM @tblMarks		  
	  )S
	  group by YearwiseStudentId, TermId, SubjectId, SubjectName,SubjectSortOrder

	  UPDATE @tblTermwiseSubjectTotal
	  SET Percentage = ROUND((Marks/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,2)

	  UPDATE TTT
	  SET Grade = MGCD.Grade_Name
	  FROM @tblTermwiseSubjectTotal TTT
	  INNER JOIN Marks_Grades_Configuration_Details MGCD
	  ON TTT.Percentage BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
	  INNER JOIN Marks_Grades_Configuration MGC
	  ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
	  WHERE MGCD.Is_Deleted = 'N'
	  AND MGC.School_Id = @School_Id
	  AND MGC.Academic_Year_Id = @Academic_Year_Id
	  AND MGC.Is_Deleted = 'N'
	  AND MGC.Standard_Id = @Standard_Id
	  AND MGC.IsForCoCurricularSubjects = 0

	  iNSERT INTO @tblMarks
	  select YearwiseStudentId, SubjectName,SubjectSortOrder,TOT.TestName,TOT.TestOrder,TOT.Marks,TOT.OutOfMarks,'N',TOT.TermId,SubjectId
	  from
	  (
		  SELECT YearwiseStudentId, 'Total' as TestName,CASE WHEN TermId = 1 THEN 99990 ELSE 99991 END as TestOrder, CAST(Marks AS NVARCHAR(50)) as Marks, OutOfMarks, TermId,SubjectName, SubjectSortOrder, SubjectId
		  FROM @tblTermwiseSubjectTotal
		  UNION
		  SELECT YearwiseStudentId, 'Grade' as TestName,CASE WHEN TermId = 1 THEN 99992 ELSE 99993 END AS TestOrder, CAST(Grade AS NVARCHAR(50)) as Marks, OutOfMarks, TermId, SubjectName, SubjectSortOrder, SubjectId
		  FROM @tblTermwiseSubjectTotal
	  )TOT
	  
	  --------------------------

	  -- Add testwise total
	  insert into @tblMarks
	  SELECT YearwiseStudentId,'Total',99999, TestName,TestOrder, SUM(Marks), SUM(OutOfMarks),'N',TermId,0
	  FROM
	  (
		  SELECT YearwiseStudentId, TestName,TestOrder,TermId,  CONVERT(DECIMAL(10,2),Marks) AS Marks, CASE WHEN IsAbsent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N') THEN 0 ELSE OutOfMarks END AS OutOfMarks
		  FROM @tblMarks
		  WHERE TestName <> 'GRADE'
	  )S
	  group by YearwiseStudentId, TestName,TestOrder,TermId

	  INSERT INTO @tblMarks
	  SELECT YearwiseStudentId,'Total',99999, 'Grade',CASE WHEN TermId = 1 THEN 99992 ELSE 99993 END,MGCD.Grade_Name, OutOfMarks,'N',TermId,0
	  FROM @tblMarks TM
	  INNER JOIN Marks_Grades_Configuration_Details MGCD
	  ON ROUND((CONVERT(DECIMAL(10,2),TM.Marks)/TM.OutOfMarks)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
	  INNER JOIN Marks_Grades_Configuration MGC
	  ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
	  WHERE MGCD.Is_Deleted = 'N'
	  AND MGC.School_Id = @School_Id
	  AND MGC.Academic_Year_Id = @Academic_Year_Id
	  AND MGC.Is_Deleted = 'N'
	  AND MGC.Standard_Id = @Standard_Id
	  AND MGC.IsForCoCurricularSubjects = 0
	  AND TestName  = 'total'
	  and SubjectName = 'total'

	  ------------------------------------	  
	  UPDATE @tblMarks
	  SET TestOrder = TestOrder * 10

	  update @tblMarks
	  set TestOrder = 55
	  WHERE TestName = 'Total'
	  and TermId = 1

	  update @tblMarks
	  set TestOrder = 56
	  WHERE TestName = 'Grade'
	  and TermId = 1

	  update @tblMarks
	  set TestName = 'Marks Obtained'
	  where TestName = 'Total'
	  ------------------------------------

	  UPDATE TM
	  SET TestName = TestName + 
	  
	  case when TestName LIKE 'PA%' OR TestName LIKE 'SA%' OR TestName LIKE 'Portfolio%' then '                        ' else '' end
	  
	  + ' ('+CAST(S.OutOfMarks AS NVARCHAR(10))+')'
	  FROM @tblMarks TM
	  INNER JOIN
	  (
		  SELECT YearwiseStudentId, TestOrder, MAX(OutOfMarks) as OutOfMarks
		  FROM @tblMarks
		  WHERE SubjectName <> 'Total'
		  GROUP BY YearwiseStudentId, TestOrder
	  )S
	  ON TM.YearwiseStudentId = S.YearwiseStudentId
	  AND TM.TestOrder = S.TestOrder
	  where TestName <> 'Grade'

	  -- display absent/expected
	  UPDATE TM
	  SET Marks = SES.DisplayValue
	  from @tblMarks TM
	  INNER JOIN Schoolwise_Exam_Status SES
	  ON TM.IsAbsent = SES.ShortName
	  WHERE IsAbsent <> 'N'
	  AND SES.SchoolId  =@School_Id
	  AND SES.AcademicYearId = @Academic_Year_Id
	  AND SES.IsDeleted = 0
	  
	  SELECT YearwiseStudentId,
        '  '+SubjectName AS SubjectName,
        SubjectSortOrder,
        TestName,
        TestOrder,
        Marks,
    	OutOfMarks,
		IsAbsent
	  FROM @tblMarks

	  select YearwiseStudentId, '  Grade' as RowHeader, ROW_NUMBER() OVER (ORDER BY MGCD.Starting_Marks_Range desc) AS RangeOrder, CAST(MGCD.Starting_Marks_Range AS NVARCHAR(3)) + '-' + CAST(MGCD.Ending_Marks_Range  AS NVARCHAR(3)) as RangeName, MGCD.Grade_Name as GradeName
	  from Marks_Grades_Configuration MGC
	  INNER JOIN Marks_Grades_Configuration_Details MGCD
	  ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id
	  CROSS JOIN
	  (
		SELECT DISTINCT YearwiseStudentId
		FROM @tblMarks
	  )S
	  WHERE MGC.Is_Deleted = 'N'
	  AND MGCD.Is_Deleted = 'N'
	  AND MGC.School_Id = @School_Id
	  AND MGC.Academic_Year_Id = @Academic_Year_Id
	  AND MGC.Standard_Id = @Standard_Id
	  AND MGC.IsForCoCurricularSubjects = 0
END