/****** Object:  StoredProcedure [Mobile].[usp_GetMenuDetails]    Script Date: 03-03-2026 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Sachin
-- Create date: 22-Apr-2023
-- Description:	<Description,,>
-- =============================================
-- Modified Date: 24-Jun-2024
-- Description: <Added MFD.MenuFileDetailsId to implement sorting desc in frontend>

ALTER PROCEDURE [Mobile].[usp_GetMenuDetails]--11,2
	@SchoolId INT,
	@UserRoleId INT,
	@UserId INT = 0,
	@AcademicYearId INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblStudMEnuDetails AS TABLE
	(
		ConfigMenuId INT
	)

	IF @UserRoleId = 3
	BEGIN
		INSERT INTO @tblStudMEnuDetails
		SELECT CMAC.ConfigMenuId
		FROM YearWise_Student_Details YSD
		INNER JOIN vw_BaseStudentDetails BSD
		ON YSD.Student_Id = BSD.SchoolWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		INNER JOIN ConfigMenuAssociatedClasses CMAC
		ON VSD.Original_Standard_Id = CMAC.OriginalStandardId
		AND VSD.Original_Division_Id = CMAC.OriginalDivisionId
		WHERE YSD.School_Id = @SchoolId
		AND YSD.Academic_Year_ID = @AcademicYearId
		AND YSD.Is_Deleted = 'N'
		AND BSD.User_Id = @UserId
		AND CMAC.IsDeleted = 0
	END


    select CM.ConfigureMenuId, 
		   CM.ConfigureMenuName, 
		   CM.Priority, 
		   CM.Parent_Menu_Id,
		   --CM.ConfigureMenuContent,
		   CONVERT(NVARCHAR(MAX), '') as ConfigureMenuContent,
		   ISNULL(MFD.LinkName,'') AS LinkName, 
		   ISNULL(FilePath,'') AS FilePath,
		   ISNULL(MFD.IsURL,0) AS IsURL,
		   CASE WHEN CM.ConfigureMenuContent IS NOT NULL AND CONVERT(NVARCHAR(MAX), CM.ConfigureMenuContent) <> '' then 2 else 1 end as MenuTypeId,
		   CM.Priority as AttachmentPriority
		   ,MFD.MenuFileDetailsId
	from ConfigureMenu CM WITH(NOLOCK)
	LEFT OUTER JOIN MenuFileDetails MFD  WITH(NOLOCK)
	ON CM.ConfigureMenuId = MFD.MenuId
	AND MFD.IsDeleted = 0
	and MFD.Is_Active = 'Y'
	LEFT OUTER JOIN ConfigureMenu CM1  WITH(NOLOCK)
	ON CM.Parent_Menu_Id = CM1.ConfigureMenuId
	AND CM1.IsDeleted = 0
	AND CM1.Is_Active = 'Y'
	INNER JOIN 
	(
		SELECT CM.ConfigureMenuId
		FROM UserRolewiseConfiguredMenuDetails URCM
		INNER JOIN ConfigureMenu CM
		ON URCM.ConfiguredMenuId = CM.ConfigureMenuId
		LEFT OUTER JOIN @tblStudMenuDetails TSMD
		ON CM.ConfigureMenuId = tsmd.ConfigMenuId
		WHERE  CM.IsDeleted = 0
		and CM.Is_Active = 'Y'
		and CM.SchoolId = @SchoolId
		--and (CM.End_Date is null or convert(date,dbo.GetLocalDate(default)) <= convert(date,CM.End_Date))
		AND URCM.IsDeleted = 0
		AND URCM.UserRoleId = @UserRoleId
		and CM.Is_External = 'N'
		AND (@UserId = 0 OR (@UserId <> 0 AND (@UserRoleId <> 3 OR (@UserRoleId = 3 AND TSMD.ConfigMenuId IS NOT NULL))))
	)S
	ON cm.ConfigureMenuId = S.ConfigureMenuId	
	
	where CM.IsDeleted = 0
	and CM.Is_Active = 'Y'
	and CM.SchoolId = @SchoolId
	and CM.Is_External = 'N'
	--and (CM.End_Date is null or convert(date,dbo.GetLocalDate(default)) <= convert(date,CM.End_Date))
	and (cm.Parent_Menu_Id = 0 or CM1.ConfigureMenuId is not null)	
	ORDER BY ConfigureMenuId
END