/****** Object:  StoredProcedure [dbo].[usp_GetNewAdmissionStudentList]    Script Date: 12-02-2026 12:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*===============================================================          
Modified By : Sanket Bhujbal          
Date : 30-06-2015          
Description : Stored Procedure to retrive the new online admitted student.          
Refactored : Optimized for performance and fixed dynamic SQL size issues
================================================================*/  
ALTER PROCEDURE [dbo].[usp_GetNewAdmissionStudentList]                  
  @School_Id INT          
, @Academic_Year_Id INT          
, @Standard_Id INT          
, @AdmissionType INT          
, @SortExp NVARCHAR(1000)          
, @StartIndex INT           
, @EndIndex INT           
, @FormOrName NVARCHAR(30)          
, @AdmissionStatusId INT = 0
, @IsAdmitted INT
, @AdmissionForId INT 
, @AdmissionStartDate NVARCHAR(50) = null
, @AdmissionEndDate NVARCHAR(50) = null
AS          
BEGIN          
 SET NOCOUNT ON;           
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;          
           
 DECLARE @Filter NVARCHAR(MAX) = N'';
 DECLARE @sQuery NVARCHAR(MAX) = N'';
 DECLARE @StartDateFilter NVARCHAR(MAX) = N'';
 DECLARE @EndDateFilter NVARCHAR(MAX) = N'';
 DECLARE @SchoolIdStr NVARCHAR(10);
 DECLARE @AcademicYearIdStr NVARCHAR(10);
 DECLARE @StandardIdStr NVARCHAR(10);
 DECLARE @IsAdmittedStr NVARCHAR(1);
 DECLARE @AdmissionStatusIdStr NVARCHAR(10);
 DECLARE @AdmissionForIdStr NVARCHAR(10);
 DECLARE @StartIndexStr NVARCHAR(10);
 DECLARE @EndIndexStr NVARCHAR(10);
 DECLARE @EscapedFormOrName NVARCHAR(30);
 
 -- Pre-cast parameters to strings for better performance
 SET @SchoolIdStr = CAST(@School_Id AS NVARCHAR(10));
 SET @AcademicYearIdStr = CAST(@Academic_Year_Id AS NVARCHAR(10));
 SET @StandardIdStr = CAST(@Standard_Id AS NVARCHAR(10));
 SET @IsAdmittedStr = CAST(@IsAdmitted AS NVARCHAR(1));
 SET @AdmissionStatusIdStr = CAST(@AdmissionStatusId AS NVARCHAR(10));
 SET @AdmissionForIdStr = CAST(@AdmissionForId AS NVARCHAR(10));
 SET @StartIndexStr = CAST(@StartIndex AS NVARCHAR(10));
 SET @EndIndexStr = CAST(@EndIndex AS NVARCHAR(10));
   
 -- Build date filters with proper escaping
 IF @AdmissionStartDate IS NOT NULL AND @AdmissionStartDate <> ''
 BEGIN
  SET @StartDateFilter = N' AND CONVERT(DATE,SA.Insert_Date) >= CONVERT(DATE,''' + 
                         REPLACE(@AdmissionStartDate, '''', '''''') + N''')';
 END

 IF @AdmissionEndDate IS NOT NULL AND @AdmissionEndDate <> ''
 BEGIN
  SET @EndDateFilter = N' AND CONVERT(DATE,SA.Insert_Date) <= CONVERT(DATE,''' + 
                       REPLACE(@AdmissionEndDate, '''', '''''') + N''')';
 END
        
 CREATE TABLE #Sibling
 (
	Student_Admission_Id INT,
	SiblingStudentName NVARCHAR(100),
	Class NVARCHAR(100)
 );

-- Build filter conditions
IF @School_Id <> 132
BEGIN          
 IF @Standard_Id <> 0          
 BEGIN          
  SET @Filter = N' AND SA.For_Standard = ' + @StandardIdStr;           
 END          
 
 IF @FormOrName <> N''          
 BEGIN          
  SET @FormOrName = LTRIM(RTRIM(@FormOrName));
  SET @EscapedFormOrName = REPLACE(REPLACE(@FormOrName, '''', ''''''), '[', '[[]');
  SET @Filter = @Filter + N' AND (SA.First_Name LIKE N''%' + @EscapedFormOrName + N'%''          
   OR SA.Form_Number LIKE N''%' + @EscapedFormOrName + N'%''                     
   OR SA.Middle_Name LIKE N''%' + @EscapedFormOrName + N'%''          
   OR SA.Last_Name LIKE N''%' + @EscapedFormOrName + N'%'')';          
 END          
          
 IF @AdmissionType = 1          
 BEGIN          
  SET @Filter = @Filter + N' AND SA.IsOnlineAdmission = 1';          
 END          
 ELSE IF @AdmissionType = 2          
 BEGIN          
  SET @Filter = @Filter + N' AND SA.IsOnlineAdmission = 0';          
 END     
  
 IF @AdmissionStatusId <> 0
 BEGIN
  SET @Filter = @Filter + N' AND SA.StatusId = ' + @AdmissionStatusIdStr;
 END
END
ELSE
BEGIN
 IF @Standard_Id <> 0          
 BEGIN          
  SET @Filter = N' AND SED.For_std = ' + @StandardIdStr;           
 END          
 
 IF @FormOrName <> N''          
 BEGIN          
  SET @FormOrName = LTRIM(RTRIM(@FormOrName));
  SET @EscapedFormOrName = REPLACE(REPLACE(@FormOrName, '''', ''''''), '[', '[[]');
  SET @Filter = @Filter + N' AND (SED.Stu_First_Name LIKE N''%' + @EscapedFormOrName + N'%''          
   OR SED.Enquiry_No LIKE N''%' + @EscapedFormOrName + N'%''                     
   OR SED.Stu_Middle_Name LIKE N''%' + @EscapedFormOrName + N'%''          
   OR SED.Stu_Last_Name LIKE N''%' + @EscapedFormOrName + N'%'')';          
 END   

 IF @AdmissionForId <> 0
 BEGIN
  SET @Filter = @Filter + N' AND SED.AdmissionFor = ' + @AdmissionForIdStr;
 END
END      
 
-- Build main query based on school type
IF @School_Id <> 18 -- Except PP School
BEGIN   
 IF @School_Id = 132 -- SPS School
 BEGIN
  SET @sQuery = N'SELECT Student_Admission_Id,Form_Number,Standard_Name,StudentName,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Receipt_Number,Acedemic_Year_Id,Status,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,LivingLocationName,TotalRows';
  SET @sQuery += N' FROM ( SELECT Student_Admission_Id,Form_Number,Standard_Name,StudentName,Academic_Year_Id AS Acedemic_Year_Id,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Original_Standard_Id,Receipt_Number,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,Status,LivingLocationName,TotalRows,ROW_NUMBER() OVER (' + @SortExp + N') as RowNo';
  SET @sQuery += N' FROM ( SELECT SED.Id AS Student_Admission_Id,SED.Enquiry_No AS Form_Number,SM.Standard_Name,Stu_First_Name + '' '' + Stu_Middle_Name + '' '' + Stu_Last_Name AS StudentName,SED.Academic_Year_Id,SED.IsConfirmed,'' '' AS SelectedInLottery,0 AS IsLotteryConfirmed,1 AS CanConfirmDirectly,SM.Standard_Id,Original_Standard_Id,0 AS Receipt_Number,SED.Father_Mob_No_1 AS MobileNumber,'' '' AS LastSchoolName,'' '' AS LastCompletedStd,CONVERT(DATE,DOB) AS DOB,Father_Fst_Name + '' '' + Father_Middle_Name + '' '' + Father_Last_Name AS GuardianName,Address,Email_Address AS EmailAddress,AST.Name AS Status,'' '' AS LivingLocationName,COUNT(1) OVER() AS TotalRows';
  SET @sQuery += N' FROM SchoolEnquiryDetails SED';
  SET @sQuery += N' INNER JOIN Standard_Master SM ON SED.SchoolId = SM.School_Id AND SED.For_std = SM.Standard_Id AND SED.Academic_Year_Id = SM.academic_Year_Id';
  SET @sQuery += N' LEFT OUTER JOIN AdmissionStatuses AST ON SED.StatusId = AST.Id';
  SET @sQuery += N' WHERE SED.Is_Deleted = ''N'' AND SED.IsConfirmed = 1 AND SED.SchoolId = ' + @SchoolIdStr + N' AND SED.Academic_Year_Id = ' + @AcademicYearIdStr + @Filter;
  SET @sQuery += N' ) as A ) as B WHERE RowNo > ' + @StartIndexStr + N' AND RowNo <= ' + @EndIndexStr;
 END
 ELSE -- Other schools (not 18, not 132)
 BEGIN
  -- Populate sibling temp table
  INSERT INTO #Sibling
  SELECT SA.Student_Admission_Id, SASD.SiblingStudentName, SM1.Standard_Name + '-' + DM.Division_Name
  FROM StudentAdmissionSiblingDetails SASD
  INNER JOIN Student_Admissions SA ON SASD.StudentAdmissionId = SA.Student_Admission_Id
  INNER JOIN Division_Master DM ON DM.Division_Id = SASD.SiblingDivisionId AND DM.academic_year_id = @Academic_Year_Id AND DM.Is_Deleted = 'N'
  INNER JOIN Standard_Master SM1 ON SM1.Standard_Id = SASD.SiblingStandardId AND SM1.academic_year_id = @Academic_Year_Id AND SM1.Is_Deleted = 'N'
  WHERE SA.School_Id = @School_Id AND SA.Acedemic_Year_Id = @Academic_Year_Id AND SA.IsAdmitted = 1 AND SA.Is_Deleted = 0
   AND SASD.IsDeleted = 0 AND SASD.SiblingStudentName IS NOT NULL AND SASD.SiblingStudentName <> '';

  -- Build query for other schools using incremental concatenation to avoid truncation
  SET @sQuery = N'SELECT Student_Admission_Id,Form_Number,Standard_Name,MobileNumber1,MobileNumber2,StudentName,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Receipt_Number,Acedemic_Year_Id,Status,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,LivingLocationName,ISNULL(ResidenceType,'''') AS ResidenceType,TotalRows,LastSchoolUDISENo,PreviousSchoolSaralId,SiblingStudentName,Class,Name1,Age1,Institution1,StandardName1,Name2,Age2,Institution2,StandardName2,Mother_Name,M_Educational_Qualification,M_Occupation,M_OfficeAddress,Father_Name,F_Educational_Qualification,F_Occupation,F_OfficeAddress,PenNo, ApaarId,AadharCardNo,NameAsPerAadharCard';
  SET @sQuery += N' FROM ( SELECT Student_Admission_Id,Form_Number,Standard_Name,MobileNumber1,MobileNumber2,StudentName,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Receipt_Number,Acedemic_Year_Id,Status,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,LivingLocationName,ResidenceType,ROW_NUMBER() OVER (' + @SortExp + N') as RowNo,TotalRows,LastSchoolUDISENo,PreviousSchoolSaralId,SiblingStudentName,Class,Name1,Age1,Institution1,StandardName1,Name2,Age2,Institution2,StandardName2,Mother_Name,M_Educational_Qualification,M_Occupation,M_OfficeAddress,Father_Name,F_Educational_Qualification,F_Occupation,F_OfficeAddress,PenNo, ApaarId,AadharCardNo,NameAsPerAadharCard';
  SET @sQuery += N' FROM ( SELECT SA.Student_Admission_Id,SA.Form_Number,Standard_Master.Standard_Name,Salutation_Master.Salutation_Name + '' '' + SA.First_Name + '' '' + CASE WHEN SA.Middle_Name IS NULL OR SA.Middle_Name = '''' THEN '''' ELSE '' '' + SA.Middle_Name END + CASE WHEN SA.Last_Name IS NULL OR SA.Last_Name = '''' THEN '''' ELSE '' '' + SA.Last_Name END AS StudentName,SA.Acedemic_Year_Id,SA.IsConfirmed,ISNULL(SA.SelectedInLottery,'''') as SelectedInLottery,AdmissionProcessDetails.IsLotteryConfirmed,AdmissionProcessDetails.CanConfirmDirectly,Standard_Master.Standard_Id,Original_Standard_Id,Receipt_Number,AST.Name AS Status,SA.MobileNumber,SA.LastSchoolName,SA.LastCompletedStd,CONVERT(DATE,SA.DOB) AS DOB,SA.GuardianFirstName + '' '' + CASE WHEN SA.GuardianMiddleName IS NULL OR SA.GuardianMiddleName = '''' THEN '''' ELSE SA.GuardianMiddleName + '' '' END + CASE WHEN SA.GuardianLastName IS NULL OR SA.GuardianLastName = '''' THEN '' '' ELSE SA.GuardianLastName END AS GuardianName,SA.Address,SA.EmailAddress,SA.MobileNumber as MobileNumber1,SA.MobileNumber2,CASE WHEN SLL.LivingLocationId IS NULL THEN '''' ELSE CASE WHEN SLL.SchoolId = 71 THEN CASE WHEN SLL.LivingLocationName = ''Nanded City'' THEN ''Nanded City Recident'' ELSE SLL.LivingLocationName END ELSE SLL.LivingLocationName END END AS LivingLocationName,RTY.Name AS ResidenceType,SA.LastSchoolUDISENo,SA.PreviousSchoolSaralId,ISNULL(SASD.SiblingStudentName,'''') AS SiblingStudentName,ISNULL(SASD.Class,'' - '') as Class,COUNT(1) OVER() AS TotalRows,SABASD.Name1,SABASD.Age1,SABASD.Institution1,SABASD.StandardName1,SABASD.Name2,SABASD.Age2,SABASD.Institution2,SABASD.StandardName2,RTRIM(M.First_Name + '' '' + ISNULL(NULLIF(M.Middle_Name,'''') + '' '','''') + ISNULL(M.Last_Name,'''')) AS Mother_Name,M.Educational_Qualification AS M_Educational_Qualification,OM_M.Ocupation_Name AS M_Occupation,M.OfficeAddress AS M_OfficeAddress,RTRIM(F.First_Name + '' '' + ISNULL(NULLIF(F.Middle_Name,'''') + '' '','''') + ISNULL(F.Last_Name,'''')) AS Father_Name,F.Educational_Qualification AS F_Educational_Qualification,OM_F.Ocupation_Name AS F_Occupation,F.OfficeAddress AS F_OfficeAddress,PenNo, ApaarId,SA.AadharCardNo,SA.NameAsPerAadharCard';
  SET @sQuery += N' FROM Student_Admissions as SA';
  SET @sQuery += N' INNER JOIN Standard_Master ON SA.For_Standard = Standard_Master.Standard_Id AND SA.School_Id = Standard_Master.School_Id';
  SET @sQuery += N' INNER JOIN Salutation_Master ON SA.Salutation_Id = Salutation_Master.Salutation_Id';
  SET @sQuery += N' INNER JOIN AdmissionProcessDetails ON AdmissionProcessDetails.School_Id = SA.School_Id AND AdmissionProcessDetails.Standard_Id = SA.For_Standard AND AdmissionProcessDetails.Academic_Year_ID = SA.Acedemic_Year_Id';
  SET @sQuery += N' LEFT OUTER JOIN AdmissionStatuses AST ON SA.StatusId = AST.Id';
  SET @sQuery += N' LEFT OUTER JOIN StudentLivingLocations SLL ON SA.LivingLocationId = SLL.LivingLocationId';
  SET @sQuery += N' LEFT OUTER JOIN ResidenceTypes RTY ON RTY.ResidenceTypeId = SA.ResidenceTypeId AND RTY.Is_Deleted = ''N''';
  SET @sQuery += N' LEFT OUTER JOIN #Sibling SASD ON SA.Student_Admission_Id = SASD.Student_Admission_Id';
  SET @sQuery += N' LEFT OUTER JOIN StudentAdmissionBrotherAndSisterDetails SABASD ON SABASD.StudentAdmissionId = SA.Student_Admission_Id';
  SET @sQuery += N' LEFT JOIN Student_Admissions_Parent_Details M ON M.Student_Admission_Id = SA.Student_Admission_Id AND M.Is_Deleted = ''N'' AND M.Father_Or_Mother = ''M'' Left join Ocupation_Master OM_M on OM_M.Ocupation_Id=M.Occupation AND OM_M.Is_Deleted=''N'' ';
  SET @sQuery += N' LEFT JOIN Student_Admissions_Parent_Details F ON F.Student_Admission_Id = SA.Student_Admission_Id AND F.Is_Deleted = ''N'' AND F.Father_Or_Mother = ''F'' Left join Ocupation_Master OM_F on OM_F.Ocupation_Id=F.Occupation AND OM_F.Is_Deleted=''N'' ';
  SET @sQuery += N' WHERE SA.Is_Deleted = 0 AND SA.IsAdmitted = ' + @IsAdmittedStr + N' AND SA.School_Id = ' + @SchoolIdStr + @StartDateFilter + @EndDateFilter + N' AND SA.Acedemic_Year_Id = ' + @AcademicYearIdStr + @Filter;
  SET @sQuery += N' ) as A ) as B WHERE RowNo > ' + @StartIndexStr + N' AND RowNo <= ' + @EndIndexStr;
 END           
END
ELSE -- PP School (School_Id = 18)
BEGIN
 SET @sQuery = N'SELECT Student_Admission_Id,Form_Number,Standard_Name,MobileNumber1,MobileNumber2,StudentName,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Receipt_Number,Acedemic_Year_Id,Status,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,LivingLocationName,ISNULL(SiblingStudentStandard,''-'') SiblingStudentStandard,ISNULL(SiblingStudentDivision,''-'') SiblingStudentDivision,ISNULL(SiblingStudentName,''-'')SiblingStudentName,TotalRows,LastSchoolUDISENo,PreviousSchoolSaralId,PreferenceBatch,PenNo, ApaarId,AadharCardNo,NameAsPerAadharCard';
 SET @sQuery += N' FROM ( SELECT Student_Admission_Id,Form_Number,Standard_Name,MobileNumber1,MobileNumber2,StudentName,IsConfirmed,SelectedInLottery,IsLotteryConfirmed,CanConfirmDirectly,Standard_Id,Receipt_Number,Acedemic_Year_Id,Status,MobileNumber,LastSchoolName,LastCompletedStd,DOB,GuardianName,Address,EmailAddress,LivingLocationName,SiblingStudentStandard,SiblingStudentDivision,SiblingStudentName,ROW_NUMBER() OVER (' + @SortExp + N') as RowNo,TotalRows,LastSchoolUDISENo,PreviousSchoolSaralId,PreferenceBatch,PenNo, ApaarId,AadharCardNo,NameAsPerAadharCard';
 SET @sQuery += N' FROM ( SELECT SA.Student_Admission_Id,SA.Form_Number,SA.MobileNumber as MobileNumber1,SA.MobileNumber2,Standard_Master.Standard_Name,Salutation_Master.Salutation_Name + '' '' + SA.First_Name + '' '' + CASE WHEN SA.Middle_Name IS NULL OR SA.Middle_Name = '''' THEN '''' ELSE '' '' + SA.Middle_Name END + CASE WHEN SA.Last_Name IS NULL OR SA.Last_Name = '''' THEN '''' ELSE '' '' + SA.Last_Name END AS StudentName,SA.Acedemic_Year_Id,SA.IsConfirmed,ISNULL(SA.SelectedInLottery,'''') as SelectedInLottery,AdmissionProcessDetails.IsLotteryConfirmed,AdmissionProcessDetails.CanConfirmDirectly,Standard_Master.Standard_Id,Original_Standard_Id,Receipt_Number,AST.Name AS Status,SA.MobileNumber,SA.LastSchoolName,SA.LastCompletedStd,CONVERT(DATE,SA.DOB) AS DOB,SA.GuardianFirstName + '' '' + CASE WHEN SA.GuardianMiddleName IS NULL OR SA.GuardianMiddleName = '''' THEN '''' ELSE SA.GuardianMiddleName + '' '' END + CASE WHEN SA.GuardianLastName IS NULL OR SA.GuardianLastName = '''' THEN '' '' ELSE SA.GuardianLastName END AS GuardianName,SA.Address,SA.EmailAddress,CASE WHEN SLL.SchoolId = 18 THEN CASE WHEN SA.LivingLocationId = 14 THEN CASE WHEN SA.LeavingLocationName = '''' THEN SLL.LivingLocationName ELSE SA.LeavingLocationName END ELSE SLL.LivingLocationName END ELSE SLL.LivingLocationName END AS LivingLocationName,SS.SiblingStudentStandard,SS.SiblingStudentDivision,SS.SiblingStudentName,COUNT(1) OVER() AS TotalRows,SA.LastSchoolUDISENo,SA.PreviousSchoolSaralId,CASE WHEN SA.PreferenceBatchId = 1 THEN ''Morning'' WHEN SA.PreferenceBatchId = 2 THEN ''Afternoon'' ELSE ''-'' END AS PreferenceBatch,PenNo, ApaarId,AadharCardNo,NameAsPerAadharCard';
 SET @sQuery += N' FROM Student_Admissions as SA';
 SET @sQuery += N' INNER JOIN Standard_Master ON SA.For_Standard = Standard_Master.Standard_Id AND SA.School_Id = Standard_Master.School_Id';
 SET @sQuery += N' INNER JOIN Salutation_Master ON SA.Salutation_Id = Salutation_Master.Salutation_Id';
 SET @sQuery += N' INNER JOIN AdmissionProcessDetails ON AdmissionProcessDetails.School_Id = SA.School_Id AND AdmissionProcessDetails.Standard_Id = SA.For_Standard AND AdmissionProcessDetails.Academic_Year_ID = SA.Acedemic_Year_Id';
 SET @sQuery += N' LEFT OUTER JOIN AdmissionStatuses AST ON SA.StatusId = AST.Id';
 SET @sQuery += N' INNER JOIN StudentLivingLocations SLL ON SA.LivingLocationId = SLL.LivingLocationId';
 SET @sQuery += N' LEFT OUTER JOIN ( SELECT SASD.StudentAdmissionId,SM.Standard_Name AS SiblingStudentStandard,DM.Division_Name AS SiblingStudentDivision,SASD.SiblingStudentName';
 SET @sQuery += N' FROM StudentAdmissionSiblingDetails SASD';
 SET @sQuery += N' INNER JOIN Standard_Master SM ON SASD.SiblingStandardID = SM.Standard_Id';
 SET @sQuery += N' INNER JOIN Division_Master DM ON SASD.SiblingDivisionId = DM.Division_Id';
 SET @sQuery += N' WHERE SM.Is_Deleted = ''N'' AND DM.Is_Deleted = ''N''';
 SET @sQuery += N' ) SS ON SA.Student_Admission_Id = SS.StudentAdmissionId';
 SET @sQuery += N' WHERE SA.Is_Deleted = 0 AND SA.IsAdmitted = ' + @IsAdmittedStr + N' AND SA.School_Id = ' + @SchoolIdStr + N' AND SA.Acedemic_Year_Id = ' + @AcademicYearIdStr + @StartDateFilter + @EndDateFilter + @Filter;
 SET @sQuery += N' ) as A ) as B WHERE RowNo > ' + @StartIndexStr + N' AND RowNo <= ' + @EndIndexStr;
END	    
	
print @sQuery
EXECUTE sp_executesql @sQuery;             

DROP TABLE #Sibling;

END