/****** Object:  StoredProcedure [dbo].[usp_StudentInternalFeeDetailsReport]    Script Date: 8/25/2025 11:29:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	Shobha Patil
-- Create date: 08/24/2010
-- Description:	
-- =============================================

ALTER  PROCEDURE [dbo].[usp_StudentInternalFeeDetailsReport]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT=NULL,
	@Division_id INT=NULL,
	@Payable_for NVARCHAR(200)=NULL,
	@FromDate DATETIME = NULL,
	@ToDate DATETIME = NULL,
	@Type INT
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @TempDate DATETIME

	IF @FromDate IS NULL
	BEGIN
		SELECT @FromDate = CONVERT(DATE,Start_Date)
		FROM Schoolwise_Academic_Year_Master
		WHERE School_Id = @School_Id
		AND Is_Deleted = 'N'
		AND Academic_Year_Id = @Academic_Year_Id
	END
	
	IF(@FromDate > @ToDate)
	BEGIN
		SET @TempDate = @FromDate
		SET @FromDate = @ToDate
		SET @ToDate = @TempDate
		
		print @ToDate;
	END

	DECLARE @InternalFeeDetails AS TABLE
	(
		RegNo NVARCHAR(50),
		StudentName NVARCHAR(200),
		SchoolWise_Student_Id INT,
		Payable_For NVARCHAR(100),
		PaidDate DATETIME,
		Amount INT,
		Standard_Name NVARCHAR(20),
		Original_Standard_Id INT,
		Division_Name NVARCHAR(20),
		Original_Division_Id INT,
		Standard_Id INT,
		Division_id INT,
		Remark NVARCHAR(2000),
		DateLabel NVARCHAR(50),
		ClassName NVARCHAR(50),
		Salutation nvarchar(10),
		First_Name NVARCHAR(50),
		Middle_Name NVARCHAR(50),
		Last_Name NVARCHAR(50),
		PaymentType NVARCHAR(50),
		ChequeClearanceDate DATETIME,
		AccountHeaderName NVARCHAR(100),
		ReceiptNo INT,
		ChequeNumber NVARCHAR(50),
		RollNo INT,
		CreatedById INT,
		MobileNumber NVARCHAR(20),
		MobileNumber2 NVARCHAR(20)	,
		DateOfBirth NVARCHAR(20)	
	)

   IF @Type = 1 -- Paid
   BEGIN

 DECLARE @tblPayableFor AS TABLE
   (
	  Id INT IDENTITY(1,1),
	  PayableFor NVARCHAR(100)
   )

IF(@Payable_for IS NOT NULL)
	BEGIN
		INSERT INTO @tblPayableFor
		     SELECT @Payable_for
	END
ELSE
	BEGIN
		INSERT INTO @tblPayableFor
			 SELECT Payable_For as Payable_For
			   FROM InternalFeeDetails
			  WHERE AcademicYearId=@Academic_Year_Id 
				AND InternalFeeDetails.IsChequeBounced = 'N'							
				AND SchoolId=@School_Id 
				AND [Debit/Credit]='Credit'
				AND IsChequeBounced = 'N'
				AND CONVERT(date,InternalFeeDetails.PaidDate) BETWEEN CONVERT(date,@FromDate) AND CONVERT(date, @ToDate)
		   GROUP BY Payable_For
	END
	 
		  INSERT INTO @InternalFeeDetails	
			   SELECT CASE WHEN vw_BaseStudentDetails.Enrolment_Number = '' THEN '-' ELSE vw_BaseStudentDetails.Enrolment_Number END AS RegNo,
					  vw_BaseStudentDetails.StudentName,
					  vw_BaseStudentDetails.SchoolWise_Student_Id
					 ,InternalFeeDetails.Payable_For,
					  InternalFeeDetails.PaidDate,
					  InternalFeeDetails.Amount,
					  Standard_Master.Standard_Name,
					  Standard_Master.Original_Standard_Id,
				      Division_Master.Division_Name,
					  Division_Master.Original_Division_Id
				     ,YearWise_Student_Details.Standard_Id,
					  YearWise_Student_Details.Division_id
				     ,CASE WHEN InternalFeeDetails.Remark IS NULL OR LTRIM(RTRIM(InternalFeeDetails.Remark)) = '' 
					       THEN '-' ELSE InternalFeeDetails.Remark  END AS Remark,
				      'Paid Date' AS DateLabel, vw_standard_division.ClassName, 
					  CASE 
                          WHEN vw_BaseStudentDetails.Sex = 'M' THEN 'Master'
                             WHEN vw_BaseStudentDetails.Sex = 'F' THEN 'Miss'
                                 ELSE '-'
                        END AS Salutation,
					  CASE WHEN vw_BaseStudentDetails.First_Name = '' THEN '-' ELSE vw_BaseStudentDetails.First_Name END AS First_Name,
					  CASE WHEN vw_BaseStudentDetails.Middle_Name = '' THEN '-' ELSE vw_BaseStudentDetails.Middle_Name END AS Middle_Name,
					  CASE WHEN vw_BaseStudentDetails.Last_Name = '' THEN '-' ELSE vw_BaseStudentDetails.Last_Name END AS Last_Name, 
					  CAST(case when paymenttypeid = 1 then 'Cash' WHEN paymenttypeid = 3 then 'Online Transaction' WHEN paymenttypeid = 5 THEN 'Electronic Payment' else 'Cheque' end as NVARCHAR(30)) as PaymentType,
				       CASE WHEN paymenttypeid = 3 THEN CONVERT(DATE,SS.ClearanceDate) WHEN paymenttypeid =5 THEN CONVERT(DATE, SSS.ClearanceDate) ELSE CONVERT(DATE,S.ChequePassedDate) END AS ChequeClearanceDate,
					  ISNULL(AHM.AccountHeaderName,'') AS AccountHeaderName,
					  ISNULL(InternalFeeDetails.ReceiptNo,0) AS ReceiptNo,
					  ISNULL(IFCD.ChequeNumber,0) AS ChequeNumber,
					  YearWise_Student_Details.Roll_No,
					  InternalFeeDetails.InsertedById,
					  Mobile_Number,
					  CASE WHEN vw_BaseStudentDetails.Mobile_Number2 = '' THEN '-' ELSE vw_BaseStudentDetails.Mobile_Number2 END AS MobileNumber2	,
					  CAST(
							CASE 
								WHEN DOB IS NOT NULL 
								THEN REPLACE(CONVERT(NVARCHAR, DOB, 106), ' ', '-') 
								ELSE '-' 
							END AS NVARCHAR(20)
						) AS DateOfBirth		  
					FROM YearWise_Student_Details 
		   INNER JOIN Standard_Master 
				   ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
		   INNER JOIN Division_Master 
				   ON YearWise_Student_Details.Division_id = Division_Master.Division_Id 
		   INNER JOIN vw_BaseStudentDetails 
				   ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
		   INNER JOIN InternalFeeDetails 
				   ON vw_BaseStudentDetails.SchoolWise_Student_Id=InternalFeeDetails.Schoolwise_Student_Id 
	  LEFT OUTER JOIN Schoolwise_Debit_Entry_Log SWDL
				   ON InternalFeeDetails.InternalFeeMasterID = SWDL.Schoolwise_Debit__Entry_Id
			      AND InternalFeeDetails.SchoolId = SWDL.School_Id
			      AND InternalFeeDetails.AcademicYearId = SWDL.Academic_Year_Id
				  AND SWDL.Is_Deleted = 'N'
	  LEFT OUTER JOIN AccountHeaderMaster AHM
				   ON SWDL.AccountHeaderId = AHM.AccountHeaderId
			      AND SWDL.School_Id = AHM.SchoolId
				  AND AHM.IsDeleted = 0
	  LEFT OUTER JOIN InternalFeePDCDetails IPDC
				   ON IPDC.InternalFeeId = InternalFeeDetails.InternalFeeDetailsId
				  AND IPDC.SchoolId = InternalFeeDetails.SchoolId
				  AND IPDC.AcademicYearId = InternalFeeDetails.AcademicYearId
				  AND IPDC.IsDeleted = 0
	  LEFT OUTER JOIN InternalFeeChequeDetails IFCD				 
				   ON IFCD.SchoolId = InternalFeeDetails.SchoolId
				  AND IFCD.AcademicYearId = InternalFeeDetails.AcademicYearId
				  AND IFCD.Id = IPDC.PDCId
				  AND InternalFeeDetails.InternalFeeDetailsId = IPDC.InternalFeeId
				  AND IFCD.IsDeleted = 0	  
		   INNER JOIN vw_standard_division 
				   ON InternalFeeDetails.Standard_Div_Id=vw_standard_division.SchoolWise_Standard_Division_Id 
				   LEFT OUTER JOIN
				   (
						SELECT IFD.InternalFeeDetailsId,
							   IFD.Schoolwise_Student_Id, 
							   IFCD.ChequePassedDate
						  FROM InternalFeeDetails IFD
			   LEFT OUTER JOIN InternalFeePDCDetails IFPD
						    ON IFD.InternalFeeDetailsId = IFPD.InternalFeeId
						   AND IFD.SchoolId = IFPD.SchoolId
						   AND IFD.AcademicYearId = IFPD.AcademicYearId
						   AND IFPD.IsDeleted = 0
			   LEFT OUTER JOIN InternalFeeChequeDetails IFCD
							ON IFPD.PDCId = IFCD.Id
						   AND IFPD.SchoolId = IFCD.SchoolId
						   AND IFPD.AcademicYearId = IFCD.AcademicYearId
						   AND IFPD.InternalFeeId = IFD.InternalFeeDetailsId
						   AND IFPD.SchoolId = IFD.SchoolId
						   AND IFCD.IsDeleted = 0						   			   
						 WHERE IFD.SchoolId=@School_ID
						   AND IFD.AcademicYearId=@Academic_Year_Id
						   AND IFD.Is_Deleted=0						
						   AND IFD.IsChequeBounced = 'N'
				   )S
				   ON InternalFeeDetails.InternalFeeDetailsId = S.InternalFeeDetailsId
				   AND IPDC.InternalFeeId = S.InternalFeeDetailsId
				   AND InternalFeeDetails.Schoolwise_Student_Id = S.Schoolwise_Student_Id
	   LEFT OUTER JOIN (
								SELECT IFD.InternalFeeDetailsId,
									   IFD.Schoolwise_Student_Id, 
									   NBPT.ClearanceDate,
									   NBPT.NetBankingPaymentTransactionID
								  FROM InternalFeeDetails IFD
					        INNER JOIN NetBankingPaymentTransactions NBPT
									ON IFD.NetbankingPaymentTransactionId = NBPT.NetbankingPaymentTransactionId
								 WHERE IFD.SchoolId=@School_ID
								   AND IFD.AcademicYearId=@Academic_Year_Id
								   AND IFD.Is_Deleted=0						
								   AND IFD.IsChequeBounced = 'N'
								  -- AND IFD.IsConsiderForOnlinePayment = 1
					   )SS
					ON InternalFeeDetails.InternalFeeDetailsId = SS.InternalFeeDetailsId
				   AND InternalFeeDetails.Schoolwise_Student_Id = SS.Schoolwise_Student_Id
				   AND InternalFeeDetails.NetBankingPaymentTransactionID = SS.NetBankingPaymentTransactionID
				    --For electronic payment
				   LEFT OUTER JOIN(
				                    SELECT IFD.InternalFeeDetailsId,
									IFD.Schoolwise_Student_Id,
									IFEP.ClearanceDate 
									FROM
									InternalFeeDetails IFD
									INNER JOIN InternalFeeElectronicPayments IFEP
									ON IFD.InternalFeeDetailsId  = IFEP.InternalFeeDetailsId
									WHERE IFD.SchoolId = @School_Id
									  AND IFD.AcademicYearId = @Academic_Year_Id
									  AND IFD.Is_Deleted = 0
									  AND IFD.IsChequeBounced = 'N'
				   ) SSS
				   ON InternalFeeDetails.InternalFeeDetailsId = SSS.InternalFeeDetailsId
				   AND InternalFeeDetails.Schoolwise_Student_Id = SSS.Schoolwise_Student_Id
				   --INNER JOIN
				   --(
							--SELECT DISTINCT CASE WHEN @Payable_for IS NULL THEN Payable_For ELSE @Payable_for END as Payable_For
							--FROM   InternalFeeDetails
							--WHERE AcademicYearId=@Academic_Year_Id 
							--AND InternalFeeDetails.IsChequeBounced = 'N'							
							--AND SchoolId=@School_Id 
				   --)SS
				   --ON InternalFeeDetails.Payable_For = SS.Payable_For
				   INNER JOIN @tblPayableFor tbl
				   ON tbl.PayableFor = InternalFeeDetails.Payable_For
				   LEFT OUTER JOIN
				   (
						SELECT FeeDetailsID 
						FROM   InternalFeeDetails InternalFeeDetails1 
						WHERE  FeeDetailsID IS NOT NULL 
						AND InternalFeeDetails1.IsChequeBounced = 'N'
						AND SchoolId = @School_Id
						AND AcademicYearId = @Academic_Year_Id
						AND Is_Deleted = 0
						AND [Debit/Credit] =N'Credit'
				   ) IFDC
				   ON InternalFeeDetails.InternalFeeDetailsId = IFDC.FeeDetailsID
			WHERE  YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id AND YearWise_Student_Details.School_Id=@School_Id AND YearWise_Student_Details.Is_Deleted=N'N' 
				   AND InternalFeeDetails.AcademicYearId=@Academic_Year_Id AND vw_BaseStudentDetails.School_Id=@School_Id AND InternalFeeDetails.[Debit/Credit] =N'Credit' 
				   AND InternalFeeDetails.SchoolId=@School_Id AND InternalFeeDetails.Is_Deleted=N'0' 
				   and vw_BaseStudentDetails.Is_Deleted=N'N' 
			       AND InternalFeeDetails.IsChequeBounced = 'N'
				   AND IFDC.FeeDetailsID IS NULL			   
				   
				   AND vw_BaseStudentDetails.SchoolWise_Student_Id IN
				   ( 
							SELECT SchoolWise_Student_Master.SchoolWise_Student_Id 
							FROM   SchoolWise_Student_Master 
							INNER JOIN YearWise_Student_Details 
							 ON SchoolWise_Student_Master.SchoolWise_Student_Id=YearWise_Student_Details.Student_Id
							WHERE 
							--(SchoolWise_Student_Master.SchoolLeft_Date IS NULL) AND
							 (YearWise_Student_Details.Is_Deleted =N'N' OR YearWise_Student_Details.Is_Deleted IS NULL) 
							AND SchoolWise_Student_Master.School_Id=@School_Id
							AND Academic_Year_ID=@Academic_Year_Id
				   )
				    
				   AND YearWise_Student_Details.Standard_Id IN (
							SELECT DISTINCT  CASE WHEN @Standard_Id IS NULL THEN YearWise_Student_Details.Standard_Id ELSE @Standard_Id END 
							FROM       Standard_Master
							WHERE     (School_Id = @School_Id) AND (Academic_Year_ID = @Academic_Year_ID))
				   AND YearWise_Student_Details.Division_id IN (
							SELECT DISTINCT CASE WHEN @Division_id IS NULL THEN YearWise_Student_Details.Division_id ELSE @Division_id END
							FROM    Division_Master
							WHERE (School_Id = @School_Id) AND (Academic_Year_ID = @Academic_Year_ID))
					AND CONVERT(date,InternalFeeDetails.PaidDate) BETWEEN CONVERT(date,@FromDate) AND CONVERT(date, @ToDate)					
					
			--ORDER BY vw_standard_division.Original_Standard_Id, 
			--		 vw_standard_division.Original_Division_Id,
			--		 YearWise_Student_Details.Roll_No

			DECLARE @GenderSummary NVARCHAR(100)

                SELECT @GenderSummary = 
                          'Boys :' + CAST(SUM(CASE WHEN BSD.Sex = 'M' THEN 1 ELSE 0 END) AS NVARCHAR) +
                       '  Girls :' + CAST(SUM(CASE WHEN BSD.Sex = 'F' THEN 1 ELSE 0 END) AS NVARCHAR)
                    FROM @InternalFeeDetails D
                         JOIN vw_BaseStudentDetails BSD ON D.SchoolWise_Student_Id = BSD.SchoolWise_Student_Id
			
			--UPDATE @InternalFeeDetails
   --          SET GenderCount = @GenderSummary
   
			IF @School_Id = 122 
				BEGIN
					SELECT  RegNo,
							StudentName,
							SchoolWise_Student_Id,
							Payable_For,
							PaidDate,
							Amount,
							Standard_Name,
							Original_Standard_Id,
							Division_Name,
							Original_Division_Id,
							Standard_Id,
							Division_id,
							Remark,
							DateLabel,
							ClassName,
							Salutation,
							First_Name,
							Middle_Name,
							Last_Name,
							PaymentType,							
							CAST(CASE WHEN ChequeClearanceDate IS NOT NULL THEN REPLACE(CONVERT(NVARCHAR,ChequeClearanceDate, 106), ' ', '-') ELSE '-' END AS NVARCHAR(20)) AS ChequeClearanceDate,
							AccountHeaderName,
							ReceiptNo, 
							ChequeNumber,
							ROW_NUMBER() OVER(ORDER BY CONVERT(int, ReceiptNo)) AS SrNumber,
							CONVERT(NVARCHAR(100) ,'TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTEEEEEEEEE') CreatedBy,
							MobileNumber,
							MobileNumber2,
							@GenderSummary AS GenderCount,
							CAST(
							CASE 
								WHEN DateOfBirth IS NOT NULL 
								THEN REPLACE(CONVERT(NVARCHAR, DateOfBirth, 106), ' ', '-') 
								ELSE '-' 
							END AS NVARCHAR(20)
						) AS DateOfBirth
					   FROM @InternalFeeDetails
				   ORDER BY ReceiptNo
				END
			ELSE 
				BEGIN	
		                 SELECT RegNo,
							tbl.StudentName,
							tbl.SchoolWise_Student_Id,
							Payable_For,
							PaidDate,
							Amount,
							Standard_Name,
							Original_Standard_Id,
							Division_Name,
							Original_Division_Id,
							Standard_Id,
							Division_id,
							Remark,
							DateLabel,
							ClassName,
							Salutation,
							tbl.First_Name,
							tbl.Middle_Name,
							tbl.Last_Name,
							PaymentType,							
							CAST(CASE WHEN ChequeClearanceDate IS NOT NULL THEN REPLACE(CONVERT(NVARCHAR,ChequeClearanceDate, 106), ' ', '-') ELSE '-' END AS NVARCHAR(20)) AS ChequeClearanceDate,
							AccountHeaderName,
							ReceiptNo, 
							ChequeNumber,
							ROW_NUMBER() OVER(ORDER BY CONVERT(int, ReceiptNo)) AS SrNumber,
							ISNULL(CASE WHEN (UserName IS NULL OR UserName = '') THEN vwBSD.StudentName ELSE UserName END,'-') AS CreatedBy,
							tbl.MobileNumber,
							MobileNumber2,
							@GenderSummary AS GenderCount,
							CAST(
							CASE 
								WHEN DateOfBirth IS NOT NULL 
								THEN REPLACE(CONVERT(NVARCHAR, DateOfBirth, 106), ' ', '-') 
								ELSE '-' 
							END AS NVARCHAR(20)
						) AS DateOfBirth
						FROM @InternalFeeDetails tbl
		    LEFT OUTER JOIN vw_AllPayrollUsers vwAPU
						 ON tbl.CreatedById = vwAPU.UserId
					    AND SchoolId = @School_Id
		    LEFT OUTER JOIN vw_BaseStudentDetails vwBSD
						 ON tbl.CreatedById = vwBSD.User_Id
					    AND vwBSD.Is_Deleted = 'N'
					    AND vwBSD.School_Id = @School_Id
				   ORDER BY Original_Standard_Id,
				            Original_Division_Id,
						    RollNo
				END
  END
  ELSE
  BEGIN

   
  DECLARE @IsDueDateApplicable BIT = 1
  IF @Payable_for IS NOT NULL AND LTRIM(RTRIM(@Payable_for)) <> ''
  BEGIN
		IF EXISTS
		(
			SELECT TOP 1 1
			FROM Schoolwise_Debit_Entry_Log
			WHERE School_Id = @School_Id
			AND Academic_Year_Id = @Academic_Year_Id
			AND Is_Deleted = 'N'
			AND Payable_For = @Payable_for
			AND IsDueDateApplicable = 0
		)
		BEGIN
			SET @IsDueDateApplicable = 0
		END
  END  
		SELECT CASE WHEN vw_BaseStudentDetails.Enrolment_Number = '' THEN '-' ELSE vw_BaseStudentDetails.Enrolment_Number END AS RegNo,
		       vw_BaseStudentDetails.StudentName,
			   vw_BaseStudentDetails.SchoolWise_Student_Id
			  ,InternalFeeDetails.Payable_For,
			   InternalFeeDetails.PaidDate,
			   InternalFeeDetails.Amount,
			   Standard_Master.Standard_Name,
			   Standard_Master.Original_Standard_Id,
			   Division_Master.Division_Name,
			   Division_Master.Original_Division_Id
			  ,YearWise_Student_Details.Standard_Id,
			   YearWise_Student_Details.Division_id
			  ,CASE WHEN InternalFeeDetails.Remark IS NULL OR LTRIM(RTRIM(InternalFeeDetails.Remark)) = '' 
					THEN '-' ELSE InternalFeeDetails.Remark  END AS Remark,
			   'Payment Date' AS DateLabel, 
			   vw_standard_division.ClassName,
			     CASE 
                     WHEN vw_BaseStudentDetails.Sex = 'M' THEN 'Master'
                     WHEN vw_BaseStudentDetails.Sex = 'F' THEN 'Miss'
                  ELSE '-' 
                 END AS Salutation, 
			   CASE WHEN vw_BaseStudentDetails.First_Name = '' THEN '-' ELSE vw_BaseStudentDetails.First_Name END AS First_Name,
			   CASE WHEN vw_BaseStudentDetails.Middle_Name = '' THEN '-' ELSE vw_BaseStudentDetails.Middle_Name END AS Middle_Name,
			   CASE WHEN vw_BaseStudentDetails.Last_Name = '' THEN '-' ELSE vw_BaseStudentDetails.Last_Name END AS Last_Name,
			   CAST('-' AS NVARCHAR(30)) AS PaymentType,			   
			   CAST('-' AS NVARCHAR(20)) AS ChequeClearanceDate,
			   ISNULL(AHM.AccountHeaderName,'') AS AccountHeaderName,
			   0 AS ReceiptNo,
			   CONVERT(NVARCHAR(15), 0) AS ChequeNumber,
			   0 AS SrNumber ,
			   CONVERT(NVARCHAR(100) ,'tttttttttttttttttttttttttttttttttttttttttttttt') CreatedBy,
			   Mobile_Number as MobileNumber,
			   CASE WHEN vw_BaseStudentDetails.Mobile_Number2 = '' THEN '-' ELSE vw_BaseStudentDetails.Mobile_Number2 END AS MobileNumber2,
			   @GenderSummary AS GenderCount,
			   CAST(
							CASE 
								WHEN DOB IS NOT NULL 
								THEN REPLACE(CONVERT(NVARCHAR, DOB, 106), ' ', '-') 
								ELSE '-' 
							END AS NVARCHAR(20)
						) AS DateOfBirth
			FROM YearWise_Student_Details 
	INNER JOIN Standard_Master 
			ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
	INNER JOIN Division_Master 
			ON YearWise_Student_Details.Division_id = Division_Master.Division_Id 
	INNER JOIN vw_BaseStudentDetails 
			ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
	INNER JOIN InternalFeeDetails 
			ON vw_BaseStudentDetails.SchoolWise_Student_Id=InternalFeeDetails.Schoolwise_Student_Id 
	LEFT OUTER JOIN Schoolwise_Debit_Entry_Log SWDL
			ON InternalFeeDetails.InternalFeeMasterID = SWDL.Schoolwise_Debit__Entry_Id
		   AND InternalFeeDetails.SchoolId = SWDL.School_Id
		   AND InternalFeeDetails.AcademicYearId = SWDL.Academic_Year_Id
		   AND SWDL.Is_Deleted = 'N'
	LEFT OUTER JOIN AccountHeaderMaster AHM
			ON SWDL.AccountHeaderId = AHM.AccountHeaderId
		   AND SWDL.School_Id = AHM.SchoolId
		   AND AHM.IsDeleted = 0
	INNER JOIN vw_standard_division 
			ON InternalFeeDetails.Standard_Div_Id=vw_standard_division.SchoolWise_Standard_Division_Id 
				   INNER JOIN
				   (
						SELECT DISTINCT CASE WHEN @Payable_for IS NULL THEN Payable_For ELSE @Payable_for END AS Payable_For
						FROM   InternalFeeDetails IFDL
						LEFT OUTER JOIN
						(
							   SELECT Schoolwise_Debit__Entry_Id
								FROM Schoolwise_Debit_Entry_Log
								WHERE School_Id = @School_Id
								AND academic_year_id = @Academic_Year_Id
								AND Is_Deleted = 'N'
								and IsDueDateApplicable = 0
						)SD
						ON IFDL.InternalFeeMasterID = SD.Schoolwise_Debit__Entry_Id
						WHERE AcademicYearId=@Academic_Year_Id
						AND IsChequeBounced = 'N'
							AND SchoolId=@School_Id 
							AND IFDL.Amount <> 0
				   )IFDLS
				   ON InternalFeeDetails.Payable_For = IFDLS.Payable_For
				   LEFT OUTER JOIN
				   (
							SELECT FeeDetailsId
							FROM InternalFeeDetails
							where Is_Deleted = 0
							AND AcademicYearId = @Academic_Year_Id
							AND SchoolId = @School_Id
							AND [Debit/Credit] = 'Credit'
							AND IsChequeBounced = 'N'
				   )S
				   ON InternalFeeDetails.InternalFeeDetailsId = S.FeeDetailsID
				   --inner join @InternalFeeDetails IFD
				   --on IFD.SchoolWise_Student_Id=YearWise_Student_Details.Student_Id
			WHERE  YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id AND YearWise_Student_Details.School_Id=@School_Id AND YearWise_Student_Details.Is_Deleted=N'N' 
				   AND InternalFeeDetails.AcademicYearId=@Academic_Year_Id AND vw_BaseStudentDetails.School_Id=@School_Id
				   AND InternalFeeDetails.IsChequeBounced = 'N'
				   AND InternalFeeDetails.[Debit/Credit] =N'Debit' 
				   and s.FeeDetailsID IS NULL
				   AND InternalFeeDetails.SchoolId=@School_Id AND InternalFeeDetails.Is_Deleted=N'0' and vw_BaseStudentDetails.Is_Deleted=N'N' AND 
			       
				   InternalFeeDetailsId NOT IN (
							SELECT FeeDetailsID 
							FROM   InternalFeeDetails InternalFeeDetails1 
							WHERE  FeeDetailsID IS NOT NULL 
							AND [Debit/Credit] =N'Credit'
							AND Is_Deleted = 0
							AND InternalFeeDetails1.IsChequeBounced = 'N'
							) 
				   AND vw_BaseStudentDetails.SchoolWise_Student_Id IN( 
							SELECT SchoolWise_Student_Master.SchoolWise_Student_Id 
							FROM   SchoolWise_Student_Master INNER JOIN YearWise_Student_Details 
								   ON SchoolWise_Student_Master.SchoolWise_Student_Id=YearWise_Student_Details.Student_Id
							WHERE 
							--(SchoolWise_Student_Master.SchoolLeft_Date IS NULL) AND
							 (YearWise_Student_Details.Is_Deleted =N'N' OR
							YearWise_Student_Details.Is_Deleted IS NULL) 
				   AND SchoolWise_Student_Master.School_Id=@School_Id
				   AND Academic_Year_ID=@Academic_Year_Id) 
				   AND YearWise_Student_Details.Standard_Id IN (
							SELECT DISTINCT  CASE WHEN @Standard_Id IS NULL THEN YearWise_Student_Details.Standard_Id ELSE @Standard_Id END 
							FROM       Standard_Master
							WHERE     (School_Id = @School_Id) AND (Academic_Year_ID = @Academic_Year_ID))
				   AND YearWise_Student_Details.Division_id IN (
							SELECT DISTINCT CASE WHEN @Division_id IS NULL THEN YearWise_Student_Details.Division_id ELSE @Division_id END
							FROM    Division_Master
							WHERE (School_Id = @School_Id) AND (Academic_Year_ID = @Academic_Year_ID))
					AND (CONVERT(DATE, InternalFeeDetails.PaidDate) < CONVERT(DATE, @ToDate) OR @IsDueDateApplicable = 0)					
			   ORDER BY vw_standard_division.Original_Standard_Id, vw_standard_division.Original_Division_Id,YearWise_Student_Details.Roll_No

			 
  END
			 
END
GO
