/****** Object:  StoredProcedure [dbo].[usp_GetTransactionDetails]    Script Date: 23-07-2026 10:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=======================================================================
-- Author:		Sachin
-- Create date: 21-May-2026
-- Description:	This USP is used to return transaction details
=========================================================================*/
ALTER PROCEDURE [dbo].[usp_GetTransactionDetails]
    @SchoolId INT,
	@FinancialYearId INT,
    @TxnIds   XML
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @DepositedBankId INT

	select @DepositedBankId = LedgerId
	from accounts.BankAccountDetails
	where FinancialYearId = @FinancialYearId
	and IsForOnlineTransactions = 1
	and IsDeleted = 0
	and SchoolId = @SchoolId

    ;WITH TxnIdList AS
    (
        SELECT DISTINCT
            T.c.value('@NetBankingPaymentTransactionID', 'INT') AS NetBankingPaymentTransactionID
        FROM @TxnIds.nodes('/TransactionIdList/Transaction') AS T(c)
        WHERE T.c.value('@NetBankingPaymentTransactionID', 'INT') IS NOT NULL
    )
    SELECT
        NBT.NetBankingPaymentTransactionID,
        NBT.TPSLTransactionID,
		@DepositedBankId AS DepositedBankId,
		PGM.MerchantId,
		CONVERT(INT,NBT.TransactionAMT) AS Amount,
		ISNULL(SA.Student_Admission_Id,0) AS StudentAdmissionId,
		ISNULL(SA.Form_Number,'') AS FormNumber,
		CASE PaymentITCParameter WHEN 'From$$StudentFee' THEN 'STUDENTFEE'
							WHEN 'From$$InternalFee' THEN 'INTERNALFEE'
							WHEN 'From$$StudentInternalFee' THEN 'INTERNALFEE'							
							WHEN 'From$$Admission' THEN 'ADMISSION'
							WHEN 'From$$CautionMoney' THEN 'CAUTIONMONEY'
							WHEN 'From$$StudentCautionMoney' THEN 'CAUTIONMONEY'
							ELSE ''
		END as Transaction_From
    FROM dbo.NetBankingPaymentTransactions NBT
	INNER JOIN PaymentGatewayMaster PGM
	ON NBT.GatewayId = PGM.Id
    INNER JOIN TxnIdList T
        ON NBT.NetBankingPaymentTransactionID = T.NetBankingPaymentTransactionID
	LEFT OUTER JOIN Student_Admissions SA
	ON NBT.NetBankingPaymentTransactionID = SA.NetBankingPaymentTransactionID
	AND SA.Is_Deleted = 0
	AND SA.IsAdmitted = 1
    WHERE NBT.TransactionStatus = 'Y'
      AND NBT.Is_Deleted = 0
	  AND NBT.ClearanceDate IS NULL
	  AND PGM.IsActive = 1
END
