/****** Object:  StoredProcedure [dbo].[usp_GetLastYearFeePendingStatus]    Script Date: 27-06-2026 14:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetLastYearFeePendingStatus]
	@SchoolId INT,
	@AcademicYearId INT,
	@StudentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @CanonicalStudentId INT;

	SELECT @CanonicalStudentId = Student_Id
	FROM YearWise_Student_Details
	WHERE YearWise_Student_Id = @StudentId
	  AND Is_Deleted = 'N';
	  	   
	IF @CanonicalStudentId IS NULL
	BEGIN
		SELECT 0;
		RETURN;
	END;

	DECLARE @IsExists BIT;
	SELECT @IsExists =
    CASE
        WHEN  EXISTS (
		SELECT 1
		FROM Schoolwise_Student_Fee_Details SSFD
		INNER JOIN YearWise_Student_Details YSD
			ON SSFD.Student_Id = YSD.YearWise_Student_Id
		   AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID
		   AND YSD.Is_Deleted = 'N'
		   AND YSD.Student_Id = @CanonicalStudentId
		INNER JOIN SchoolWise_Academic_Year_Master AY_STU
			ON AY_STU.Academic_Year_ID = YSD.Academic_Year_ID
		   AND AY_STU.School_Id = @SchoolId
		   AND AY_STU.Academic_Year_ID < @AcademicYearId
		   AND AY_STU.Is_Deleted = 'N'		
		WHERE SSFD.School_Id = @SchoolId
		  AND SSFD.Is_Deleted = 'N'
		  AND SSFD.[Debit/Credit] = 'debit'		  
		  AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
		  AND SSFD.Amount <> 0
		  AND NOT EXISTS (
				SELECT 1
				FROM Schoolwise_Student_Fee_Details CR
				INNER JOIN SchoolWise_Academic_Year_Master AY_CR
					ON AY_CR.Academic_Year_ID = CR.Academic_Year_Id
				   AND AY_CR.School_Id = @SchoolId
				   AND AY_CR.Academic_Year_ID < @AcademicYearId
				   AND AY_CR.Is_Deleted = 'N'
				INNER JOIN YearWise_Student_Details YSD_CR
					ON YSD_CR.YearWise_Student_Id = CR.Student_Id
				   AND YSD_CR.Academic_Year_ID = CR.Academic_Year_Id
				   AND YSD_CR.Is_Deleted = 'N'
				   AND YSD_CR.Student_Id = @CanonicalStudentId
				WHERE CR.School_Id = @SchoolId
				  AND CR.Is_Deleted = 'N'
				  AND CR.[Debit/Credit] = 'credit'
				  AND CR.Student_Fee_Id = SSFD.Schoolwise_Student_Fee_Id
				  AND CR.Student_Fee_Id IS NOT NULL
				  AND CR.Student_Fee_Id <> 0
				  AND (CR.RefundFeeDetailsID IS NULL OR CR.RefundFeeDetailsID = 0)
		  )		
	)
		THEN 1
		ELSE 0
    END
	OPTION (RECOMPILE);

	IF @IsExists = 1
	BEGIN
		SELECT 1;
		RETURN;
	END;

	--DECLARE @OldAcademicYearId INT,
	--		@OldStudentId INT

	--	DECLARE @tblAcademicId as table
	--			(
	--				AcademicYearId int
	--			)
				
	--	insert into @tblAcademicId
	--	select Academic_Year_Id 
	--	from SchoolWise_Academic_Year_Master
	--	WHERE School_Id = @SchoolId
	--	AND Academic_Year_ID < @AcademicYearId
	--	AND Is_Deleted = 'N'
	--	ORDER BY Academic_Year_ID DESC
		
	--DECLARE @tblStudentId as table
	--	 (
	--		StudentId int
	--	)
	--	insert into @tblStudentId
	--	select YearWise_Student_Id 
	--	FROM YearWise_Student_Details YSD
	--	inner join @tblAcademicId TAI
	--    on YSD.Academic_Year_ID = TAI.AcademicYearId 
	--	WHERE Is_Deleted = 'N'
	--	AND Student_Id = 
	--	(
	--		SELECT Student_Id
	--		FROM YearWise_Student_Details
	--		WHERE YearWise_Student_Id = @StudentId
	--		AND Is_Deleted = 'N'
	--	)
		
	--DECLARE @tblFeeDetable AS TABLE
	--(
	--	Id INT IDENTITY(1,1),
	--	Schoolwise_Student_Fee_Id INT,
	--	Amount INT,
	--	IsPaid BIT,
	--	ReceiptNumber NVARCHAR(50)
		
	--)
			
	--INSERT INTO @tblFeeDetable
	--select Schoolwise_Student_Fee_Id, 
	--Amount,
	--0,''
	--from Schoolwise_Student_Fee_Details SSFD
	--INNER JOIN YearWise_Student_Details YSD
	--ON SSFD.Student_Id = YSD.YearWise_Student_Id
	--AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID
	--INNER JOIN Schoolwise_Standard_FeeType_Master SFMC
	--on ssfd.Std_FeeType_Id = SFMC.SchoolWise_Standard_FeeType_Id
	--AND YSD.Standard_Id = SFMC.Standard_Id
	--INNER JOIN Schoolwise_Fee_Type_Configuration SFTC
	--ON SFMC.Fee_Type_Id = SFTC.Fee_Type_Id	
	--INNER JOIN @tblAcademicId TAI
	--ON TAI.AcademicYearId = SFTC.Academic_Year_Id
	--INNER JOIN @tblStudentId TSI
	--ON TSI.StudentId = SSFD.Student_Id
	--where SSFD.School_Id = @SchoolId	
	--and SSFD.Is_Deleted = 'N'
	--and [Debit/Credit] = 'debit'
	--AND SSFD.Std_FeeType_Id IS NOT NULL
	--AND SFMC.Is_Deleted = 'N'
	--and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
	--ORDER BY Paid_Date, SFTC.Original_Fee_Type_Id

	
	--INSERT INTO @tblFeeDetable
	--select Schoolwise_Student_Fee_Id,
	--Amount,
	--0,''
	--from Schoolwise_Student_Fee_Details SSFD
	--INNER JOIN YearWise_Student_Details YSD
	--ON SSFD.Student_Id = YSD.YearWise_Student_Id
	--AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID		
	--INNER JOIN @tblAcademicId TAI
	--ON TAI.AcademicYearId = YSD.Academic_Year_ID
	--INNER JOIN @tblStudentId TSI
	--ON TSI.StudentId = YSD.YearWise_Student_Id
	--where SSFD.School_Id = @SchoolId	
	--and SSFD.Is_Deleted = 'N'
	--and [Debit/Credit] = 'debit'	   	
	--AND (SSFD.Std_FeeType_Id IS NULL OR SSFD.Std_FeeType_Id  = 0)	
	--and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
	--ORDER BY Paid_Date

	
	--UPDATE SSFD
	--SET IsPaid = 1,
	--ReceiptNumber = S.Receipt_Number
	--FROM @tblFeeDetable SSFD
	--INNER JOIN
	--(
	--	select Student_Fee_Id , Receipt_Number
	--	from Schoolwise_Student_Fee_Details
	--	INNER JOIN @tblAcademicId TAI
	--	ON TAI.AcademicYearId = Schoolwise_Student_Fee_Details.Academic_Year_Id
	--	INNER JOIN @tblStudentId TSI
	--	ON TSI.StudentId = Schoolwise_Student_Fee_Details.student_id
	--	where School_Id = @SchoolId		
	--	and Is_Deleted = 'N'
	--	and [Debit/Credit] = 'credit'
	--	and Student_Fee_Id is not null
	--	and Student_Fee_Id  <> 0
	--	and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)		
	--)S
	--ON SSFD.Schoolwise_Student_Fee_Id = S.Student_Fee_Id
 
	--if EXISTS
	--(
	--	SELECT top 1 1
	--	FROM @tblFeeDetable
	--	WHERE IsPaid = 0
	--	AND Amount <> 0
	--)
	--BEGIN
	--	SELECT 1
	--END
	--ELSE
	--BEGIN
	--	SELECT 0
	--END
END