/****** Object:  StoredProcedure [dbo].[usp_TransferInternalFeeDetails]    Script Date: 25-06-2026 16:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- Author:		Sachin
-- Create date: 31-Aug-2015
-- Description:	This USP is used to transfer internal fee details.
-- =====================================================================
ALTER PROCEDURE [dbo].[usp_TransferInternalFeeDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@SrcStdId INT,
	@DestStdId INT,
	@SrcDivId INT,
	@DestDivId INT,
	@YearwiseStudentId INT,
	@UpdatedById INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @SchoolwiseStudentId INT,
	        @msg NVARCHAR(200)
	
   SELECT @SchoolwiseStudentId = Student_Id  
	 FROM YearWise_Student_Details  
	WHERE YearWise_Student_Id = @YearwiseStudentId  
	  AND School_Id = @SchoolId  
	  AND Academic_Year_Id = @AcademicYearId
	  
   DECLARE @TargetStdDivId INT,  
		   @SrcStdDivId INT  
  
	 SELECT @SrcStdDivId = SchoolWise_Standard_Division_Id  
	   FROM SchoolWise_Standard_Division_Master  
	  WHERE Standard_Id = @SrcStdId  
		AND Division_Id = @SrcDivId  
		AND Is_Deleted=N'N'  
	  
	 SELECT @TargetStdDivId = SchoolWise_Standard_Division_Id  
	   FROM SchoolWise_Standard_Division_Master  
	  WHERE Standard_Id = @DestStdId  
		AND Division_Id = @DestDivId  
		AND Is_Deleted=N'N'  
	    
	   DECLARE @tblInternalFeeDetails AS TABLE
	   (
			InternalFeeDetailsId INT
	   ) 
	   
	   INSERT INTO @tblInternalFeeDetails
	   SELECT InternalFeeDetailsId
	     FROM InternalFeeDetails          
        WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
          AND SchoolId = @SchoolId  
          AND AcademicYearId = @AcademicYearId   
          AND [Debit/Credit] = 'Debit'
          AND Is_Deleted = 0
          AND IsChequeBounced = 'N'
          
        DECLARE @InternalFeeDetailsId INT,
				@InternalFeeMasterId INT,
				@PayableFor NVARCHAR(200),
				@FeeType NVARCHAR(200),
				@Amount INT
          
       WHILE EXISTS
       (
			SELECT TOP 1 1
			FROM @tblInternalFeeDetails
       )
       BEGIN
			SELECT TOP 1 @InternalFeeDetailsId = InternalFeeDetailsId
			FROM @tblInternalFeeDetails
			ORDER BY InternalFeeDetailsId
			
		   SELECT @InternalFeeMasterId = InternalFeeMasterId,
				  @PayableFor = Payable_For,
				  @FeeType = Fee_Type,
				  @Amount = Amount
			 FROM InternalFeeDetails          
			WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
			  AND SchoolId = @SchoolId  
			  AND AcademicYearId = @AcademicYearId   
			  AND [Debit/Credit] = 'Debit'
			  AND Is_Deleted = 0 
			  AND IsChequeBounced = 'N'
			  AND InternalFeeDetailsId = @InternalFeeDetailsId
			
			  IF EXISTS
			  (
				  SELECT TOP 1 1
				  FROM Schoolwise_Debit_Entry_Log
				  WHERE Academic_Year_Id = @AcademicYearId
				  AND Is_Deleted = 'N'
				  AND School_Id = @SchoolId
				  AND IsInternalFee = 1
				  AND (Schoolwise_Debit__Entry_Id = @InternalFeeMasterId OR
				       (Fee_Type = @FeeType AND Payable_For = @PayableFor AND Amount = @Amount))
				  AND ((Standard_Id IS NULL AND Division_Id IS NULL) OR
				     (Standard_Id = @DestStdId AND Division_Id IS NULL) OR
				     (Standard_Id = @DestStdId AND Division_Id = @DestDivId))
			  )
			  BEGIN
				   UPDATE InternalFeeDetails          
				      SET Standard_Div_Id = @TargetStdDivId,
						  UpdatedById = @UpdatedById,
						  UpdateDate = dbo.GetLocalDate(DEFAULT)
					WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
					  AND SchoolId = @SchoolId  
					  AND AcademicYearId = @AcademicYearId   
					  AND [Debit/Credit] = 'Debit'
					  AND Is_Deleted = 0 
					  AND InternalFeeDetailsId = @InternalFeeDetailsId
					  AND IsChequeBounced = 'N'
					  
				   UPDATE InternalFeeDetails          
				      SET Standard_Div_Id = @TargetStdDivId,
						  UpdatedById = @UpdatedById,
						  UpdateDate = dbo.GetLocalDate(DEFAULT)
					WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
					  AND SchoolId = @SchoolId  
					  AND AcademicYearId = @AcademicYearId   
					  AND [Debit/Credit] = 'Credit'
					  AND Is_Deleted = 0 
					  AND FeeDetailsId = @InternalFeeDetailsId
					  AND IsChequeBounced = 'N'
			  END
			  ELSE
			  BEGIN
				   IF EXISTS
				   (
					   SELECT TOP 1 1
						 FROM InternalFeeDetails				      
						WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
						  AND SchoolId = @SchoolId  
						  AND AcademicYearId = @AcademicYearId   
						  AND [Debit/Credit] = 'Credit'
						  AND Is_Deleted = 0 
						  AND FeeDetailsId = @InternalFeeDetailsId
						  AND IsChequeBounced = 'N'
					)
					BEGIN
					   UPDATE InternalFeeDetails          
						  SET InternalFeeMasterID = NULL,
							  UpdatedById = @UpdatedById,
							  UpdateDate = dbo.GetLocalDate(DEFAULT)
						WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
						  AND SchoolId = @SchoolId  
						  AND AcademicYearId = @AcademicYearId   
						  AND [Debit/Credit] = 'Debit'
						  AND Is_Deleted = 0 
						  AND InternalFeeDetailsId = @InternalFeeDetailsId
						  AND IsChequeBounced = 'N'
						  
					   UPDATE InternalFeeDetails          
						  SET InternalFeeMasterID = NULL,
							  UpdatedById = @UpdatedById,
							  UpdateDate = dbo.GetLocalDate(DEFAULT)
						WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
						  AND SchoolId = @SchoolId  
						  AND AcademicYearId = @AcademicYearId   
						  AND [Debit/Credit] = 'Credit'
						  AND Is_Deleted = 0 
						  AND FeeDetailsId = @InternalFeeDetailsId
						  AND IsChequeBounced = 'N'
							
					   SELECT @msg = 'Can not adjust amount.'
					END
					ELSE
					BEGIN
					   UPDATE InternalFeeDetails          
						  SET Is_Deleted = 1,
							  UpdatedById = @UpdatedById,
							  UpdateDate = dbo.GetLocalDate(DEFAULT)
						WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
						  AND SchoolId = @SchoolId  
						  AND AcademicYearId = @AcademicYearId   
						  AND [Debit/Credit] = 'Debit'
						  AND Is_Deleted = 0 
						  AND InternalFeeDetailsId = @InternalFeeDetailsId
						  AND IsChequeBounced = 'N'
					END
			  END
			  
			DELETE FROM @tblInternalFeeDetails
			WHERE InternalFeeDetailsId = @InternalFeeDetailsId
       END
       
		INSERT INTO [dbo].[InternalFeeDetails]
           ([ReceiptNo]
           ,[Schoolwise_Student_Id]
           ,[Fee_Type]
           ,[Payable_For]
           ,[Amount]
           ,[Standard_Div_Id]
           ,[Debit/Credit]
           ,[PaidDate]
           ,[FeeDetailsID]
           ,[InternalFeeMasterID]
           ,[Remark]
           ,[Is_Deleted]
           ,[SchoolId]
           ,[AcademicYearId]
           ,[InsertedById]
           ,[InsertDate]
           ,[UpdatedById]
           ,[UpdateDate]
           ,[IsChequeBounced]
           )
	    SELECT  0
		       ,@SchoolwiseStudentId
		       ,[Fee_Type]
               ,[Payable_For]
               ,[Amount]
               ,@TargetStdDivId
               ,'Debit'
               ,[Paid_Date]
               ,NULL
               ,Schoolwise_Debit__Entry_Id
               ,''
               ,0
               ,@SchoolId
               ,@AcademicYearId
               ,@UpdatedById
               ,dbo.GetLocalDate(DEFAULT)
               ,@UpdatedById
               ,dbo.GetLocalDate(DEFAULT)  
               ,'N'             
		FROM Schoolwise_Debit_Entry_Log
		WHERE Academic_Year_Id = @AcademicYearId
		AND Is_Deleted = 'N'
		AND School_Id = @SchoolId
		AND IsInternalFee = 1
		AND (Standard_Id = @DestStdId OR Standard_Id IS NULL)
		AND (Division_Id = @DestDivId OR (Standard_Id = @DestStdId AND Division_Id IS NULL) OR (Standard_Id IS NULL AND Division_Id IS NULL))
		AND Schoolwise_Debit__Entry_Id NOT IN
		(
			 SELECT InternalFeeMasterId
			 FROM InternalFeeDetails          
			WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
			  AND SchoolId = @SchoolId  
			  AND AcademicYearId = @AcademicYearId   
			  AND [Debit/Credit] = 'Debit'
			  AND Is_Deleted = 0
			  AND IsChequeBounced = 'N'
			  AND Standard_Div_Id = @TargetStdDivId
		)
		AND Payable_For NOT IN
		(
			 SELECT Payable_For
			 FROM InternalFeeDetails          
			WHERE SchoolWise_Student_Id = @SchoolwiseStudentId          
			  AND SchoolId = @SchoolId  
			  AND AcademicYearId = @AcademicYearId   
			  AND [Debit/Credit] = 'Debit'
			  AND Is_Deleted = 0
			  AND IsChequeBounced = 'N'
			  AND Standard_Div_Id = @TargetStdDivId
		)
		
		IF @msg <> ''
			RAISERROR(@msg, 16, 1)
END