/****** Object:  StoredProcedure [dbo].[usp_GetStudentStreamwiseSubjectDetails]    Script Date: 8/25/2025 11:29:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentStreamwiseSubjectDetails]
	-- Add the parameters for the stored procedure here
	@SchoolId int
	, @StudentId int
	,@AcademicYearId INT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  Id,StreamId
	, GroupId
	 ,CASE 
		WHEN @AcademicYearId >= 13 AND StreamId=3 --Art Stream
		THEN CompulsorySubjects + ',Business Studies'
		ELSE CompulsorySubjects
  	 END AS CompulsorySubjects
	, OptionalSubjects
	, CompitativeExam
	 from StudentStreamwiseSubjectDetails
	 Where IsDeleted = 0
	 AND SchoolWiseStudentId = @StudentId
	 AND SchoolId = @SchoolId

    DECLARE @IsMidYear BIT = 0

	 IF EXISTS
	 (
		SELECT TOP 1 1
		FROM SchoolWise_Academic_Year_Master
		WHERE School_Id = @SchoolId
		AND Academic_Year_ID = @AcademicYearId
		AND Is_Deleted = 'N'
		AND Is_NewlyCreated = 'Y'
	 )
	 BEGIN
		SET @IsMidYear = 1
	 END


	 IF EXISTS
	 (
		 SELECT TOP 1 1
		 FROM Standard_Master SM
		 INNER JOIN  YearWise_Student_Details YSD
		 ON SM.Standard_Id = YSD.Standard_Id
		 WHERE SM.School_Id = @SchoolId
		 and SM.Is_Deleted = 'N'
		 AND YSD.Is_Deleted = 'N'
		 and ysd.Student_Id = @StudentId
		 AND YSD.Academic_Year_ID =  @AcademicYearId
		AND (SM.Standard_Name LIKE '11 %' OR sm.Standard_Name LIKE '12 %')
	)
	BEGIN
		SELECT 1 AS IsSecondary,@IsMidYear IsMidYear
	END
	ELSE
	BEGIN
		SELECT 0 AS IsSecondary, @IsMidYear IsMidYear
	END
END

GO

