/****** Object:  StoredProcedure [dbo].[usp_GetAbsetStudentDetailsForPopup]    Script Date: 26-05-2026 15:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dnyaneshwar Shinde.
-- Create date: 22-Aug-2017
-- Description:	This USP is used to get absent students details as per configured days.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAbsetStudentDetailsForPopup] 
	-- Add the parameters for the stored procedure here
	@SchoolId INT,
	@AcademicYearId INT,
	@UserId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @SchoolwiseStandardDivisionId INT,
		@AbsentStudentCount INT

	SELECT @AbsentStudentCount = CONVERT(INT,Value)
	  FROM SchoolSettings
	 WHERE AcademicYearId = @AcademicYearId
	   AND IsDeleted = 0
	   AND Name = 'StudentAbsentCount'

	   
	DECLARE @tblStudDetails AS TABLE
	(
		YearWise_Student_Id INT,
		EnrolmentNumber NVARCHAR(100),
		RollNo INT,
		className NVARCHAR(100),
		StudentName NVARCHAR(150)
	)

DECLARE @tblStandardDivId AS TABLE
(
	StandardDivId INT
)

IF(@AbsentStudentCount > 0)
	BEGIN
			IF EXISTS(
						SELECT TOP 1 1
							 FROM ReportingUserDetails WITH(NOLOCK)
							WHERE Receiver_User_Id = @UserId
							  AND Is_Deleted = 0
							  AND School_Id = @SchoolId
							  AND ReportingTypeId = 8						 
					 )					 
					 BEGIN					 
						INSERT INTO @tblStandardDivId
						     SELECT SchoolWise_Standard_Division_Id
							   FROM vw_Standard_Division WITH(NOLOCK)
							  WHERE School_Id = @SchoolId
							    AND academic_year_id = @AcademicYearId
								
					 END				
				ELSE
					BEGIN
						IF EXISTS(
									SELECT TOP 1 1
										 FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDTAM WITH(NOLOCK)
								   INNER JOIN SchoolWise_Teacher_Master SWTM WITH(NOLOCK)
										   ON SWSDTAM.Teacher_Id = SWTM.Teacher_Id
										  AND SWTM.School_Id = SWSDTAM.School_Id
										  AND SWTM.academic_year_id = @AcademicYearId
										WHERE SWSDTAM.School_Id = @SchoolId
										  AND SWSDTAM.Academic_Year_Id = @AcademicYearId
										  AND SWSDTAM.Is_Deleted = 'N'
										  AND SWSDTAM.Is_ClassTeacher = 'Y'
										  AND SWTM.User_Id = @UserId
								 )
								 BEGIN
								  INSERT INTO @tblStandardDivId
									   SELECT vwSD.SchoolWise_Standard_Division_Id
										 FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDTAM WITH(NOLOCK)
								   INNER JOIN SchoolWise_Teacher_Master SWTM WITH(NOLOCK)
										   ON SWSDTAM.Teacher_Id = SWTM.Teacher_Id
										  AND SWTM.School_Id = SWSDTAM.School_Id
										  AND SWTM.academic_year_id = @AcademicYearId
										  AND SWTM.School_Id = @SchoolId
										  AND SWTM.Is_Deleted = 'N'		
								   INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
										   ON SWSDTAM.Standard_Id = vwSD.Standard_Id
										  AND SWSDTAM.Division_Id = vwSD.Division_Id
										  AND SWSDTAM.School_Id = vwSD.School_Id
										  AND SWSDTAM.Academic_Year_Id = vwSD.academic_year_id
										WHERE SWSDTAM.School_Id = @SchoolId
										  AND SWSDTAM.Academic_Year_Id = @AcademicYearId
										  AND SWSDTAM.Is_Deleted = 'N'
										  AND SWSDTAM.Is_ClassTeacher = 'Y'
										  AND SWTM.User_Id = @UserId										  								  										  
								 END					
					END			

			DECLARE @StandardDivisionId INT,
					@Id INT,
					@IsLinkVisible bit

			DECLARE @tblStudentDetails AS TABLE
			(
				Id INT IDENTITY(1,1),
				StudentId INT,
				StandardDivId INT
			)

			CREATE TABLE #tblAttendanceDate
			(								
				AttendanceLastDate DATETIME
			)

			if EXISTS(
						SELECT TOP 1 1
						   FROM @tblStandardDivId
					 )
					 BEGIN
						SET @IsLinkVisible = 1
					 END
				 ELSE
					 BEGIN
						SET @IsLinkVisible = 0
					 END

				WHILE EXISTS(
								SELECT TOP 1 1
									 FROM @tblStandardDivId
							)
							BEGIN
					
								SELECT TOP 1 @StandardDivisionId = StandardDivId
										FROM @tblStandardDivId

								DECLARE @AttendanceEndDate DATE,
										@sQuery NVARCHAR(500)
									
			
									SET @sQuery = 'SELECT TOP 1  SS.Attendance_Date ' +
														'FROM (' + 'SELECT TOP ' + CAST(@AbsentStudentCount AS nvarchar(5)) + 'Attendance_Date
																	FROM SchoolWise_Attendance_Details  WITH(NOLOCK)
																   WHERE School_Id = ' + CAST(@SchoolId AS nvarchar(5)) +
																   'AND Academic_Year_Id = ' + CAST(@AcademicYearId AS nvarchar(5)) +
																   'AND Is_Deleted = ''N''
																	AND Standard_Division_Id = ' + CAST(@StandardDivisionId AS nvarchar(5)) +
																	'GROUP BY Attendance_Date
																	ORDER BY Attendance_Date DESC
																	)SS ' + 
															'ORDER BY SS.Attendance_Date ASC' 
															 
							INSERT INTO #tblAttendanceDate
							EXECUTE sp_executesql @sQuery

							SELECT TOP 1 @AttendanceEndDate = AttendanceLastDate
							  FROM #tblAttendanceDate
	
						  INSERT INTO @tblStudentDetails
							   SELECT Student_Id,
									  @StandardDivisionId
								 FROM SchoolWise_Attendance_Details WITH(NOLOCK)
								WHERE School_Id = @SchoolId
								  AND Academic_Year_Id = @AcademicYearId
								  AND Is_Deleted = 'N'
								  AND Standard_Division_Id = @StandardDivisionId
								  AND CONVERT(DATE,Attendance_Date) >= CONVERT(DATE,@AttendanceEndDate)
								  AND Is_Present = 'N'
							 GROUP BY Student_Id
							   HAVING COUNT(1) = @AbsentStudentCount	
							   
						  DELETE FROM #tblAttendanceDate
							    WHERE AttendanceLastDate = @AttendanceEndDate								  

						  DELETE FROM @tblStandardDivId
							    WHERE StandardDivId = @StandardDivisionId
					END					

	DROP TABLE #tblAttendanceDate
	
					INSERT INTO @tblStudDetails
					SELECT YWSD.YearWise_Student_Id, CASE WHEN vwBSD.Enrolment_Number IS NULL OR vwBSD.Enrolment_Number = '' THEN '-' ELSE vwBSD.Enrolment_Number END AS EnrolmentNumber,
						   YWSD.Roll_No AS RollNo,
						   vwSD.className,
						   vwBSD.StudentName
					  FROM @tblStudentDetails tbl
				INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
						ON tbl.StudentId = YWSD.YearWise_Student_Id				
				INNER JOIN vw_BaseStudentDetails vwBSD WITH(NOLOCK)
						ON vwBSD.SchoolWise_Student_Id = YWSD.Student_Id
					   AND vwBSD.School_Id = YWSD.School_Id					   
				INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
						ON vwSD.SchoolWise_Standard_Division_Id = tbl.StandardDivId
					   AND vwSD.Standard_Id = YWSD.Standard_Id
					   AND vwSD.Division_Id = YWSD.Division_id
					   AND vwSD.School_Id = YWSD.School_Id
					   AND vwSD.academic_year_id = YWSD.Academic_Year_ID
				LEFT OUTER JOIN StudentSanctionedLeaveDetails SCLD
						ON YWSD.Student_Id=SCLD.Student_Id
						AND SCLD.Is_Deleted = 'N'
						AND Is_Canceled = 0
					 WHERE YWSD.Is_Deleted = 'N'
					   AND YWSD.School_Id = @SchoolId
					   AND YWSD.Academic_Year_ID = @AcademicYearId					   
					   AND (SCLD.Student_Id IS NULL OR SCLD.ShowOnAbsectStudentPopUp = 1)
				  ORDER BY vwSD.Original_Standard_Id,
						   vwSD.Original_Division_Id,
						   YWSD.Roll_No
			END

			SELECT *
			FROM @tblStudDetails

			SELECT @IsLinkVisible AS IsLinkVisibel
END