/****** Object:  StoredProcedure [dbo].[USP_RegimeCategories]    Script Date: 16-06-2026 10:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Arun
-- Create date: 5 Saptember 2024
-- Description:	 This stored procedure is used to get Regime Categories
-- =============================================
ALTER PROCEDURE [dbo].[USP_RegimeCategories] --18
(
   @School_Id INT,
   @FinancialYearId INT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 

	IF @FinancialYearId = 0
	BEGIN
		SELECT @FinancialYearId = FinancialYearId
		FROM Accounts.FinancialYearMaster
		WHERE SchoolId = @School_Id
		AND IsDeleted = 0
		AND IsCurrent = 1
	END
	
    SELECT Id,
	       Name 
    FROM [dbo].[RegimeCategories] 
	WHERE IsDeleted = 0
	AND (@School_Id <> 71 OR (@School_Id = 71 AND @FinancialYearId < 15) OR (@School_Id = 71 AND @FinancialYearId >= 15 AND UPPER(Name) <> 'OLD REGIME'))
END