/****** Object:  StoredProcedure [dbo].[usp_InsertCautionMoneyDetails]    Script Date: 8/25/2025 11:29:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ashish
-- Create date: 13 Jan. 2009
-- Description:	To add students caution money details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_InsertCautionMoneyDetails]
@iSchoolId int,
@iAcadmicYearId int,
@iStandardId int,
@iYearwiseStudentId int,
@iInsertedByid int

--//iSchoolId iAcadmicYearId iStandardId iYearwiseStudentId iInsertedByid

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @ReceiptId INT
	SELECT @ReceiptId = MAX (Receipt_Number) FROM Student_Caution_Money_Details
	IF @ReceiptId = 0 OR @ReceiptId IS NULL
			SET @ReceiptId = 1000
	SET @ReceiptId = @ReceiptId + 1

    Declare @iSchoolwiseStudentId INT ,@iAmount INT = 0

	-- Get student id from academic year 
	-- Get @iSchoolwiseStudentId
	SELECT   
		 @iSchoolwiseStudentId = Student_Id 
		 , @iStandardId = Standard_Id
	FROM     
		 YearWise_Student_Details
	WHERE     
		School_Id = @iSchoolId
		AND Academic_Year_ID = @iAcadmicYearId
		AND YearWise_Student_Id = @iYearwiseStudentId

	-- Get schoolwise default caution money amount for that standard.
	-- Get @iAmount
	SELECT    
		@iAmount = ISNULL(Amount,0)
	FROM 
        Standard_Caution_Money_Details
	WHERE     
		School_Id = @iSchoolId 
		AND Academic_Year_Id = @iAcadmicYearId 
		AND Standard_Id = @iStandardId 
		AND Is_Deleted = 0

	DECLARE @ChallanNo INT = 0,
			@AccountHeaderId INT = 0
	IF @iSchoolId = 122
	BEGIN
		IF EXISTS
		(
			SELECT TOP 1 1
			FROM Standard_Master
			where academic_Year_Id = @iAcadmicYearId
			and Is_Deleted = 'N'
			and School_Id = @iSchoolId
			and Standard_Id = @iStandardId
			and Is_PrePrimary = 'Y'
		)
		BEGIN
			set @AccountHeaderId = 12
		END
		ELSE
		BEGIN
			set @AccountHeaderId = 13
		END

		select @ChallanNo = ChallanNo
		from Schoolwise_Student_Fee_Details
		where Is_Deleted = 'N'
		and Student_Id = @iYearwiseStudentId
		and [Debit/Credit] = 'debit'
		and Is_Cheque_Bounce = 'N'
		and Academic_Year_Id = @iAcadmicYearId
		and ChallanNo is not null
		and ChallanNo <> ''
	END

	IF NOT ( @iSchoolId = 122
       AND EXISTS (
            SELECT 1
            FROM Standard_Master
            WHERE Standard_Id = @iStandardId
              AND School_Id = @iSchoolId
              AND Academic_Year_Id = @iAcadmicYearId
              AND Standard_Name IN ('11 Sci','11 Com','11 Art')
              AND Is_Deleted = 'N'
        ))
  BEGIN
	-- Insert caution money details.
	INSERT INTO Student_Caution_Money_Details
           (
			School_Id
           ,Schoolwise_Student_Id
           ,Amount
           ,Inserted_By_id
		   ,Receipt_Number
		   ,FormNumber
		   ,ChallanNo
		   ,AccountHeaderId
           )
     VALUES(
			@iSchoolId
           ,@iSchoolwiseStudentId
           ,@iAmount
           ,@iInsertedByid
		   ,0
		   ,NULL
		   ,@ChallanNo
		   ,@AccountHeaderId
           )
	END

END
GO
