/****** Object:  StoredProcedure [dbo].[usp_StudentTermProgressReportForSNS1TO5]    Script Date: 20-02-2026 14:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin Shinde
-- Create date: 15-Oct-2024
-- Description:	This USP is used to get student mark details for progress report for SNS school.
-- =============================================
ALTER PROCEDURE [dbo].[usp_StudentTermProgressReportForSNS1TO5]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Schoolwise_Standard_Division_Id INT,
	@Student_Id INT = NULL,
	@Term_Id INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(@Student_Id IS NULL)
		SET @Student_Id = 0

	DECLARE @AcademicYear NVARCHAR(50) = ''

	SELECT @AcademicYear = CONVERT(NVARCHAR(10),YEAR(Start_date)) + ' - ' + CONVERT(NVARCHAR(10),YEAR(End_Date))
	  FROM SchoolWise_Academic_Year_Master
	 WHERE School_Id = @School_Id
	   AND Academic_Year_ID = @Academic_Year_Id
	   AND Is_Deleted = 'N'

	 DECLARE @TermEndDate DATE,
			 @TermStartDate DATE

	 SELECT @TermEndDate = TermEndDate,
			@TermStartDate = TermStartDate
	 FROM StudentTermwiseTestMaster
	 WHERE StandardId = @Standard_Id
	 AND School_Id = @School_Id
	 AND Academic_Year_Id = @Academic_Year_Id
	 AND Is_Deleted = 0
	 AND SchoolwiseTermId = @Term_Id

	 IF @Term_Id = 2
	 BEGIN
		 SELECT @TermStartDate = TermStartDate
		 FROM StudentTermwiseTestMaster
		 WHERE StandardId = @Standard_Id
		 AND School_Id = @School_Id
		 AND Academic_Year_Id = @Academic_Year_Id
		 AND Is_Deleted = 0
		 AND SchoolwiseTermId = 1
	 END

	 DECLARE @tblStudentAttendance AS TABLE
	 (
		Student_Id INT,
		PresentDays INT,
		TotalDays INT
	 )

	 INSERT INTO @tblStudentAttendance
	 select SAD.Student_Id, SUM(CASE WHEN SAD.Is_Present = 'Y' THEN 1 ELSE 0 END) AS PresentDays, COUNT(1) AS TotalDays
	 from SchoolWise_Attendance_Details SAD
	 INNER JOIN YearWise_Student_Details YSD
	 ON SAD.Student_Id = YSD.YearWise_Student_Id
	 INNER JOIN vw_standard_division VSD
	 ON YSD.Standard_Id = VSD.Standard_Id
	 AND YSD.Division_id = VSD.Division_Id
	 WHERE SAD.School_Id = @School_Id
	 AND SAD.Academic_Year_Id = @Academic_Year_Id
	 AND SAD.Is_Deleted = 'N'
	 AND YSD.Is_Deleted = 'N'
	 AND YSD.Standard_Id = @Standard_Id
	 AND VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
	 AND CONVERT(DATE, SAD.Attendance_Date) BETWEEN CONVERT(DATE,@TermStartDate) AND CONVERT(DATE,@TermEndDate)
	 GROUP BY SAD.Student_Id

	DECLARE @Is5thStd BIT = 0
	IF EXISTS
	(
		SELECT TOP 1 1
		FROM Standard_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		and Standard_Id = @Standard_Id
		and Standard_Name = '5'
	)
	BEGIN
		SET @Is5thStd = 1
	END

    DECLARE @tblStudentDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		YearwiseStudentId INT,
		RollNo INT,
		EnrolmentNo NVARCHAR(50),
		StudentName NVARCHAR(200),
		DOB DATETIME,
		ClassName NVARCHAR(100),
		StandardName NVARCHAR(20),
		OriginalStandardId INT,
		OriginalDivisionId INT,
		FatherName NVARCHAR(100),
		MotherName NVARCHAR(100),
		Address NVARCHAR(300),
		BloodGroup CHAR(5),
		AadharCardNumber NVARCHAR(25)
	)

	DECLARE @tblGradeConfigurationDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		CategoryId INT,
		StartingMarksRange DECIMAL(10,2),
		ActualEndingMarksRange DECIMAL(10,2),
		GradeName NVARCHAR(5)
	)

	--IF @Academic_Year_Id <= 7
	--BEGIN
	--		-- 10 marks
	--		INSERT INTO @tblGradeConfigurationDetails
	--		SELECT 1, 0, 4.99, 'C' UNION
	--		SELECT 1, 5, 5.99, 'B' UNION
	--		SELECT 1, 6, 7.99, 'B+' UNION
	--		SELECT 1, 8, 9.99, 'A' UNION
	--		SELECT 1, 10, 10, 'A+'

	--		-- 20 marks
	--		INSERT INTO @tblGradeConfigurationDetails
	--		SELECT 2, 0, 6.99, 'C' UNION
	--		SELECT 2, 7, 10.99, 'B' UNION
	--		SELECT 2, 11, 13.99, 'B+' UNION
	--		SELECT 2, 14, 16.99, 'A' UNION
	--		SELECT 2, 17, 20, 'A+'

	--		--60%
	--		INSERT INTO @tblGradeConfigurationDetails
	--		SELECT 3, 0, 21.99, 'C' UNION
	--		SELECT 3, 22, 31.99, 'B' UNION
	--		SELECT 3, 32, 40.99, 'B+' UNION
	--		SELECT 3, 41, 50.99, 'A' UNION
	--		SELECT 3, 51, 60, 'A+'

	--		--Final Grades
	--		INSERT INTO @tblGradeConfigurationDetails
	--		SELECT 4,0,36.99,'C' UNION 
	--		SELECT 4, 37,52.99,'B' UNION 
	--		SELECT 4,53,68.99,'B+' UNION 
	--		SELECT 4,69,84.99,'A' UNION 
	--		SELECT 4,85,100.99,'A+'
	--END
	--ELSE
	--BEGIN
			-- 25 marks
			--INSERT INTO @tblGradeConfigurationDetails
			--SELECT 1, 0, 8.99, 'C' UNION
			--SELECT 1, 9, 12.99, 'B' UNION
			--SELECT 1, 13, 16.99, 'B+' UNION
			--SELECT 1, 17, 20.99, 'A' UNION
			--SELECT 1, 21, 25, 'A+'

			---- 15 marks
			--INSERT INTO @tblGradeConfigurationDetails
			--SELECT 2, 0, 6.99, 'C' UNION
			--SELECT 2, 7, 9.99, 'B' UNION
			--SELECT 2, 10, 12.99, 'B+' UNION
			--SELECT 2, 13, 14.99, 'A' UNION
			--SELECT 2, 15, 15, 'A+'

			----60%
			--INSERT INTO @tblGradeConfigurationDetails
			--SELECT 3, 0, 21.99, 'C' UNION
			--SELECT 3, 22, 31.99, 'B' UNION
			--SELECT 3, 32, 40.99, 'B+' UNION
			--SELECT 3, 41, 50.99, 'A' UNION
			--SELECT 3, 51, 60, 'A+'

			--Final Grades
			INSERT INTO @tblGradeConfigurationDetails
			SELECT 4,0,36.99,'C' UNION 
			SELECT 4, 37,52.99,'B' UNION 
			SELECT 4,53,68.99,'B+' UNION 
			SELECT 4,69,84.99,'A' UNION 
			SELECT 4,85,100.99,'A+'
	--END

INSERT INTO @tblStudentDetails
	 SELECT YearWise_Student_Id,
	        Roll_No,
		    Enrolment_Number,
		    StudentName,
			DOB,
		    className,
		    Standard_Name,
			Original_Standard_Id,
			Original_Division_Id,
			vwBSD.Middle_Name,
			vwBSD.Mother_Name,
			case when @Is5thStd = 1 then vwBSD.Address else  vwBSD.Address + ', '+vwBSD.City+' - '+vwBSD.Pincode end,
			vwBSD.Blood_Group,
			vwBSD.AadharCardNo
	   FROM YearWise_Student_Details YWSD WITH(NOLOCK)
 INNER JOIN vw_BaseStudentDetails vwBSD WITH(NOLOCK)
		 ON YWSD.Student_Id = vwBSD.SchoolWise_Student_Id
	    AND YWSD.School_Id = vwBSD.School_Id
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.Standard_Id = YWSD.Standard_Id
	    AND vwSD.Division_Id = YWSD.Division_id
	    AND vwSD.School_Id = YWSD.School_Id
	    AND vwSD.academic_year_id = YWSD.Academic_Year_ID
	  WHERE YWSD.School_Id = @School_Id
	    AND YWSD.Academic_Year_ID = @Academic_Year_Id
	    AND YWSD.Is_Deleted = 'N'
	    AND vwBSD.School_Id = @School_Id
	    AND vwBSD.Is_Deleted = 'N'
	    AND (vwBSD.SchoolLeft_Date IS NULL OR CONVERT(DATE,vwBSD.SchoolLeft_Date) >= @TermEndDate)
	    AND vwSD.Standard_Id = @Standard_Id
	    AND vwSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
		AND (YearWise_Student_Id = @Student_Id OR @Student_Id = 0)


		DECLARE @TblRemarks AS TABLE
		(
			YearwiseStudentId INT,
			Term1Remark NVARCHAR(1000),
			Term2Remark NVARCHAR(1000)
		)

		INSERT INTO @TblRemarks
		select tsd.YearwiseStudentId, ISNULL(TERM1.RemarkDetails,'') as Term1Remark, ISNULL(TERM2.RemarkDetails,'') as Term2Remark
		from @tblStudentDetails TSD
		LEFT OUTER JOIN
		(		
			SELECT SRCD.YearwiseStudentId, SRCD.RemarkDetails
			FROM StudentwiseRemarkConfigDetails SRCD
			INNER JOIN TermWiseRemarksDetails TRD
			ON SRCD.TermwiseRemarkDetailId = TRD.TermWiseRemarksDetailsId
			inner join vw_standard_division vsd
			on srcd.StandardDivisionId = vsd.SchoolWise_Standard_Division_Id
			WHERE SRCD.IsDeleted = 'N'
			AND TRD.Is_Deleted = 'N'
			and trd.Term_Id = 1
			and SRCD.AcademicYearId = @Academic_Year_Id
			and srcd.SchoolId = @School_Id
			and vsd.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
			AND (SRCD.YearwiseStudentId = @Student_Id OR @Student_Id = 0)
		)TERM1
		on tsd.YearwiseStudentId = TERM1.YearwiseStudentId
		LEFT OUTER JOIN
		(		
			SELECT SRCD.YearwiseStudentId, SRCD.RemarkDetails
			FROM StudentwiseRemarkConfigDetails SRCD
			INNER JOIN TermWiseRemarksDetails TRD
			ON SRCD.TermwiseRemarkDetailId = TRD.TermWiseRemarksDetailsId
			inner join vw_standard_division vsd
			on srcd.StandardDivisionId = vsd.SchoolWise_Standard_Division_Id
			WHERE SRCD.IsDeleted = 'N'
			AND TRD.Is_Deleted = 'N'
			and trd.Term_Id = 2
			and SRCD.AcademicYearId = @Academic_Year_Id
			and srcd.SchoolId = @School_Id
			and vsd.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
			AND (SRCD.YearwiseStudentId = @Student_Id OR @Student_Id = 0)
		)TERM2
		on tsd.YearwiseStudentId = TERM2.YearwiseStudentId

		IF @School_Id = 122 AND @Academic_Year_Id >= 10 AND @Term_Id = 2
		BEGIN
			UPDATE @TblRemarks
			SET Term1Remark = Term2Remark
		END
		
DECLARE @tblMarkDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	SubjectId INT,
	SubjectName NVARCHAR(100),
	SubjectSortOrder INT,
	TestId INT,
	TestName NVARCHAR(100),
	OutOfMarks INT,
	MarkScored DECIMAL(10,2),	
	IsAbsent CHAR(1),
	Percentage DECIMAL(10,2),
	GradeName NVARCHAR(10),
	TermId INT
)

     INSERT INTO @tblMarkDetails
	 SELECT SWSTM.Student_Id,
			SM.Subject_Id,
			SM.Subject_Name,
			SWSSM.Sort_Order,
			SWTM.SchoolWise_Test_Id,
			SchoolWise_Test_Name,
			CASE WHEN (Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')) THEN 0 ELSE
			case when SWTSMM.OutOfMarks is not null and SWTSMM.OutOfMarks <> 0 then SWTSMM.OutOfMarks else SWTSMM.Subject_Total_Marks end
			 END,			
			SWSTM.Total_Marks_Scored,
			Is_Absent,
			CONVERT(DECIMAL(10,2),SWSTM.Total_Marks_Scored / (CASE WHEN (Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')) THEN 1 ELSE
			case when SWTSMM.OutOfMarks is not null and SWTSMM.OutOfMarks <> 0 then SWTSMM.OutOfMarks else SWTSMM.Subject_Total_Marks end
			 END) * 100),
			'',
			SWTM.Term_Id
	   FROM SchoolWise_Student_Test_Marks SWSTM WITH(NOLOCK)
 INNER JOIN SchoolWise_Test_Subject_Marks_Master SWTSMM WITH(NOLOCK)
		 ON SWSTM.School_Id = SWTSMM.School_Id
		AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
		AND SWSTM.TestWise_Subject_Marks_Id = SWTSMM.TestWise_Subject_Marks_Id
 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
		 ON SWTM.School_Id = SWTSMM.School_Id
		AND SWTM.academic_year_id = SWTSMM.Academic_Year_Id
		AND SWTM.SchoolWise_Test_Id = SWTSMM.SchoolWise_Test_Id
 INNER JOIN Subject_Master SM WITH(NOLOCK)
		 ON SM.Subject_Id = SWSTM.Subject_Id
		AND SM.Subject_Id = SWTSMM.Subject_Id
		AND SM.School_Id = SWTSMM.School_Id
		AND SM.academic_Year_Id = SWTSMM.Academic_Year_Id
 INNER JOIN SchoolWise_Standard_Subject_Master SWSSM WITH(NOLOCK)
		 ON SWSSM.Subject_Id = SM.Subject_Id
		AND SWSSM.School_Id = SM.School_Id
		AND SWSSM.academic_year_id = SM.academic_Year_Id
	  WHERE SWSTM.School_Id = @School_Id
	    AND SWSTM.Academic_Year_Id = @Academic_Year_Id
		AND SWSTM.Is_Deleted = 'N'
		AND (SWSTM.Student_Id = @Student_Id OR @Student_Id = 0)
		AND SWTSMM.Is_Deleted = 'N'
		AND SWTSMM.Standard_Division_Id = @Schoolwise_Standard_Division_Id
		AND SWTM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SWSSM.Is_Deleted = 'N'
		AND SWSSM.Standard_Id = @Standard_Id
		AND SWTSMM.Is_Submitted = 'Y'
		AND SM.Is_CoCurricularActivity = 0
		and sm.IsAttitudeSubject = 0
		and SWTSMM.Grade_Or_Marks = 'M'
		AND SWTM.Term_Id = @Term_Id
   ORDER BY Original_SchoolWise_Test_Id,
            SWSSM.Sort_Order

IF EXISTS (
		  	SELECT TOP 1 1
		  		  FROM @tblStudentDetails
		  		 WHERE StandardName IN ('3','4')
		  )
		BEGIN		
			DELETE FROM @tblMarkDetails
				  WHERE SubjectId IN (2280,2282,2285)
				    AND UPPER(SubjectName) IN('ENVIRONMENTAL SCIENCE / SCIENCE','SPORTS','SANSKRIT')
		END 

		IF EXISTS (
		  	SELECT TOP 1 1
		  		  FROM @tblStudentDetails
		  		 WHERE StandardName IN ('5')
		  )
		BEGIN
			DELETE FROM @tblMarkDetails
				  WHERE SubjectId IN (2280,2282)
				    AND UPPER(SubjectName) IN('ENVIRONMENTAL SCIENCE / SCIENCE','SPORTS')
		END 

UPDATE TMD
SET OutOfMarks = 0
FROM @tblMarkDetails TMD
INNER JOIN Schoolwise_Exam_Status SEM
ON TMD.IsAbsent = SEM.ShortName
WHERE IsAbsent <> 'N'
and sem.SchoolId = @School_Id
and sem.AcademicYearId = @Academic_Year_Id
and sem.IsDeleted = 0
and ConsiderInTotal = 'N'

	INSERT INTO @tblMarkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			SubjectSortOrder,
			999,
			'Term I Total',
			SUM(OutOfMarks),
	        SUM(MarkScored),
		   'N',
            CONVERT(DECIMAL(10,2),SUM(MarkScored) / CASE WHEN SUM(OutOfMarks) = 0 THEN 1 ELSE SUM(OutOfMarks) END * 100),
		    '',
			1
	   FROM @tblMarkDetails tblMarks
	   INNER JOIN SchoolWise_Test_Master STM
	   ON tblMarks.TestId = STM.SchoolWise_Test_Id
	  WHERE SubjectName NOT LIKE '% Oral%'
	  AND STM.Is_Deleted = 'N'
	  AND STM.academic_year_id = @Academic_Year_Id
	  AND STM.School_Id = @School_Id
	  AND STM.Term_Id = 1
   GROUP BY SubjectId,
            StudentId,
		    SubjectName,			
			SubjectSortOrder  

INSERT INTO @tblMarkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			SubjectSortOrder,
			1000,
			'Term II Total',
			SUM(OutOfMarks),
	        SUM(MarkScored),		   
		   'N',
            CONVERT(DECIMAL(10,2),SUM(MarkScored) / CASE WHEN SUM(OutOfMarks) = 0 THEN 1 ELSE SUM(OutOfMarks) END * 100),
		    '',
			2
	   FROM @tblMarkDetails tblMarks
	   INNER JOIN SchoolWise_Test_Master STM
	   ON tblMarks.TestId = STM.SchoolWise_Test_Id
	  WHERE SubjectName NOT LIKE '% Oral%'
	  AND STM.Is_Deleted = 'N'
	  AND STM.academic_year_id = @Academic_Year_Id
	  AND STM.School_Id = @School_Id
	  AND STM.Term_Id = 2
   GROUP BY SubjectId,
            StudentId,
		    SubjectName,			
			SubjectSortOrder  

	INSERT INTO @tblMarkDetails
	 SELECT StudentId,
	        SubjectId,
			SubjectName,
			SubjectSortOrder,
			1002,
			'Final Grade',			
			sum(outofMarks),
			SUM(MarkScored),
			'N',			
			ROUND((SUM(MarkScored)/case when sum(OutOfMarks) = 0 then 1 else sum(OutOfMarks) end)*100,2),			
			'',
			@Term_Id
       FROM @tblMarkDetails
	   where TestId not in (999,1000)
   GROUP BY StudentId,
            SubjectId,
			SubjectName,			
			SubjectSortOrder

	update @tblMarkDetails
	set OutOfMarks = 100,
		MarkScored = ROUND((MarkScored/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,0),
		Percentage = ROUND((MarkScored/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,2)
	where TestId IN (999, 1000, 1002)
	and OutOfMarks <> 100

	 UPDATE @tblMarkDetails
	    SET SubjectName = 'EVS'
	  WHERE SubjectName = 'ENVIRONMENTAL SCIENCE / SCIENCE'
	    AND SubjectId = 2209

	UPDATE tblMarks
	   SET GradeName = OSGC.Grade
	  FROM @tblMarkDetails tblMarks
INNER JOIN OralSubjectGradeConfiguration OSGC
		ON MarkScored BETWEEN OSGC.StartingMarksRange AND OSGC.ActualEndingMarks
     WHERE SchoolId = @School_Id
	   AND AcademicYearId = @Academic_Year_Id
	   AND SubjectName LIKE '% Oral%'

	 --  IF EXISTS
	 --  (
		--	SELECT TOP 1 1
		--	FROM StaNdard_Master
		--	WHERE SCHOOL_ID = @School_Id
		--	and Academic_Year_Id = @Academic_Year_Id
		--	and Is_deleted = 'N'
		--	and Standard_id = @Standard_id
		--	and Standard_Name = '5'
	 --  )
	 --  and @Academic_Year_Id < 8
	 --  BEGIN
		--		UPDATE tblMarks 
		--	   SET GradeName = tblGrade.GradeName
		--	  FROM @tblMarkDetails tblMarks
		--INNER JOIN @tblGradeConfigurationDetails tblGrade
		--		ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--	 WHERE TestName in ('Activity-I','Activity-II','Activity-III','Activity-IV')
		--	   AND tblGrade.CategoryId = 1

		--	UPDATE tblMarks 
		--	   SET GradeName = tblGrade.GradeName
		--	  FROM @tblMarkDetails tblMarks
		--INNER JOIN @tblGradeConfigurationDetails tblGrade
		--		ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--	 WHERE TestName in ('Theme Evaluation-I','Theme Evaluation-II')
		--	   AND tblGrade.CategoryId = 2
	 --  END
	 --  ELSE
	 --  BEGIN
		--	--IF @Academic_Year_Id <= 7
		--	--BEGIN
		--	--	   UPDATE tblMarks 
		--	--	   SET GradeName = tblGrade.GradeName
		--	--	  FROM @tblMarkDetails tblMarks
		--	--INNER JOIN @tblGradeConfigurationDetails tblGrade
		--	--		ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--	--	 WHERE TestName in ('Workbook-I','Workbook-II','PBL-I','PBL-II')
		--	--	   AND tblGrade.CategoryId = 1

		--	--	UPDATE tblMarks 
		--	--	   SET GradeName = tblGrade.GradeName
		--	--	  FROM @tblMarkDetails tblMarks
		--	--INNER JOIN @tblGradeConfigurationDetails tblGrade
		--	--		ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--	--	 WHERE TestName in ('Pre-Test-I','Pre-Test-II')
		--	--	   AND tblGrade.CategoryId = 2
		--	--END
		--	--ELSE
		--	--BEGIN			
		--		UPDATE tblMarks 
		--		   SET GradeName = tblGrade.GradeName
		--		  FROM @tblMarkDetails tblMarks
		--	INNER JOIN @tblGradeConfigurationDetails tblGrade
		--			ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--		 WHERE TestName in ('PA - I','PA - II')
		--		   AND tblGrade.CategoryId = 1

		--		UPDATE tblMarks 
		--		   SET GradeName = tblGrade.GradeName
		--		  FROM @tblMarkDetails tblMarks
		--	INNER JOIN @tblGradeConfigurationDetails tblGrade
		--			ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
		--		 WHERE TestName in ('Internal Assessment - I','Internal Assessment - II')
		--		   AND tblGrade.CategoryId = 2
		--	--END
	 --  END
	   
--	UPDATE tblMarks 
--	   SET GradeName = tblGrade.GradeName
--      FROM @tblMarkDetails tblMarks
--INNER JOIN @tblGradeConfigurationDetails tblGrade
--		ON tblMarks.MarkScored BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
--     WHERE TestName like 'SA%'
--	   AND tblGrade.CategoryId = 3
	   
	UPDATE tblMarks 
	   SET GradeName = tblGrade.GradeName
      FROM @tblMarkDetails tblMarks
INNER JOIN @tblGradeConfigurationDetails tblGrade
		ON tblMarks.Percentage BETWEEN tblGrade.StartingMarksRange AND tblGrade.ActualEndingMarksRange
     --WHERE TestId  in (999, 1000, 1002)
	   --AND tblGrade.CategoryId = 4

	   IF EXISTS (
						SELECT TOP 1 1
							  FROM @tblStudentDetails
							 WHERE StandardName IN ('3','4','5')
				  )
			BEGIN
				DELETE FROM @tblMarkDetails
					  WHERE TestName = 'Total'						
						AND SubjectName NOT LIKE '% Oral%'


						 IF EXISTS (
						SELECT TOP 1 1
							  FROM @tblStudentDetails
							 WHERE StandardName IN ('5')
							)
						BEGIN
								update @tblMarkDetails
								set TestName = 'Theme Eval.'
								where TestName like 'Theme Evaluation%'

								update @tblMarkDetails
								set TestName = 'Activity-I'
								where TestName = 'Activity-III'

								update @tblMarkDetails
								set TestName = 'Activity-II'
								where TestName = 'Activity-IV'

						END

				       UPDATE @tblMarkDetails	
					      SET TestName = TestName + '                      (' + CONVERT(NVARCHAR(5),OutOfMarks) + ')'
			END

		 IF EXISTS (
						SELECT TOP 1 1
							  FROM @tblStudentDetails
							 WHERE StandardName IN ('4','5')
				  )
				  and @Academic_Year_Id < 6
			BEGIN
				UPDATE @tblMarkDetails
				   SET TestName = 'Total Grade (150 marks)'
				 WHERE TestId = 1002
				   AND TestName = 'Final Grade'
			END

	   DECLARE @tblStudentHeightWeightDetails AS TABLE
	   (
			YearwiseStudentId INT,
			Height INT,
			Weight INT,
			TermId INT
	   )

	   INSERT INTO @tblStudentHeightWeightDetails
	   select YearwiseStudentId,Height,Weight,TermId
	   from TermwiseStudentHeightWeightDetails 
	   where SchoolId = @School_Id
	   and AcademicYearId = @Academic_Year_Id
	   and StandardDivisionId = @Schoolwise_Standard_Division_Id
	   and (YearwiseStudentId = @Student_Id or @Student_Id is null or @Student_Id = 0)

	   IF @School_Id = 122 AND @Academic_Year_Id >= 10 AND @Term_Id = 2
	   BEGIN
			UPDATE THWD1
			SET Height = THWD2.Height,
				Weight = THWD2.Weight
			FROM @tblStudentHeightWeightDetails THWD1
			INNER JOIN
			(
				SELECT YearwiseStudentId, Height,Weight
				FROM @tblStudentHeightWeightDetails
				WHERE TermId = 2
			)THWD2
			ON THWD1.YearwiseStudentId = THWD2.YearwiseStudentId
			WHERE TermId = 1			
	   END
	    
		declare @NextAccId INT,
				@Standard_Name NVARCHAR(100),
				@Division_Name NVARCHAR(100),
				@SchoolReopeningDate DATE

		select @NextAccId = Academic_Year_ID
		from SchoolWise_Academic_Year_Master
		where School_Id = @School_Id
		and Is_Deleted = 'N'
		and Academic_Year_ID > @Academic_Year_Id
		order by Academic_Year_ID

		SELECT  @Standard_Name = Standard_Name, 
				@SchoolReopeningDate = SAYM.SchoolReopeningDate
		FROM Standard_Master SM
		INNER JOIN Standardwise_Academic_Year SAYM
		ON SM.Standard_Id = SAYM.StandardId
		AND SM.academic_Year_Id = SAYM.Academic_Year_Id
		WHERE SM.academic_Year_Id = @NextAccId
		AND Original_Standard_Id = 
		(		
			select sm.NextOriginalStandardId
			from vw_standard_division vsd
			inner join Standard_Master sm
			on vsd.Standard_Id = sm.Standard_Id
			and vsd.academic_year_id = sm.academic_Year_Id
			where SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
			and sm.Is_Deleted = 'N'
		)

		select @Division_Name = Division_Name
		from vw_standard_division
		where SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id

		UPDATE TMD
		SET GradeName = sem.DisplayValue
		FROM @tblMarkDetails TMD
		INNER JOIN Schoolwise_Exam_Status SEM
		ON TMD.IsAbsent = SEM.ShortName
		WHERE IsAbsent <> 'N'
		and sem.SchoolId = @School_Id
		and sem.AcademicYearId = @Academic_Year_Id
		and sem.IsDeleted = 0
		and TestName <> 'Final Grade'

		UPDATE TFD
		SET TestId = SSTM.Sort_Order
		from @tblMarkDetails TFD
		INNER JOIN Schoolwise_Standard_Test_Master SSTM
		ON TFD.TestId = SSTM.SchoolWise_Test_Id
		WHERE SSTM.School_Id = @School_Id
		AND SSTM.academic_Year_Id = @Academic_Year_Id
		AND SSTM.Is_Deleted = 'N'
		AND SSTM.Standard_Id = @Standard_Id
				
		DECLARE @TestId INT = 0

		SELECT @TestId = SchoolWise_Test_Id
		FROM SchoolWise_Test_Master
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		--AND Term_Id = @Term_Id
		AND SchoolWise_Test_Name = case when @Term_Id = 1 then 'Term I' else 'Term II' end
	
		DECLARE @tblFavouriteDetails AS TABLE
		(
			YearwiseStudentId INT,
			FavouriteColour NVARCHAR(100),
			FavouriteFood NVARCHAR(100),
			FavouriteSport NVARCHAR(100),
			FavouriteSubject NVARCHAR(100)
		)

		INSERT INTO @tblFavouriteDetails
		select YearwiseStudentId, FavouriteColour,FavouriteFood,FavouriteSport,FavouriteSubject
		from StudentFavouriteDetails SFD
		INNER JOIN YearWise_Student_Details YSD
		ON SFD.YearwiseStudentId = YSD.YearWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		WHERE SFD.SchoolId = @School_Id
		AND SFD.AcademicYearId = @Academic_Year_Id
		AND IsDeleted = 0
		AND TestId = @TestId
		AND YSD.Standard_Id = @Standard_Id
		AND VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id
		AND (SFD.YearwiseStudentId = @Student_Id OR @Student_Id = 0)
		
		--update @tblMarkDetails
		--set TestName = 'Final Grade                         (100)'
		--where TestName like '%Final Grade%'

		--select 't1'
		--select * from @tblMarkDetails

		update @tblMarkDetails
		set TestName = 'Total'
		where TestName = 'Term I Total'

		update @tblMarkDetails
		set TestName = 'Grade'
		where TestName = 'Final Grade'

		update @tblMarkDetails
		set TestName = '                           ' + TestName
		
		--update @tblMarkDetails
		--set TestName = TestName + ' ('+CAST(OutOfMarks AS NVARCHAR(10))+')'

		UPDATE @tblStudentDetails
		SET BloodGroup = '-'
		WHERE BloodGroup = '' OR BloodGroup IS NULL

		UPDATE @tblStudentDetails
		SET AadharCardNumber = '-'
		WHERE AadharCardNumber = '' OR AadharCardNumber IS NULL

		UPDATE TMD
		SET OutOfMarks = S.MaxOutOfMarks
		FROM @tblMarkDetails TMD
		INNER JOIN
		(
			select TestId, max(OutOfMarks) AS MaxOutOfMarks
			from @tblMarkDetails
			group by TestId
		)S
		on tmd.TestId = s.TestId
		WHERE OutOfMarks = 0

		DECLARE @tblParentEngagementDetails TABLE
		(
			YearwiseStudentId INT,
			ParentEngagment NVARCHAR(500),
			ParentEngagmentGrade NVARCHAR(50)
		)

		INSERT INTO @tblParentEngagementDetails
		SELECT SOD.StudentId,
			   OG.Description,
			   SUBSTRING(OG.ShortName,3,LEN(OG.ShortName))
		FROM StudentObservationDetails SOD
		INNER JOIN ObservationGrades OG
			ON OG.Id = SOD.GradeId
		Inner JOIN ObservationParameters OP
		ON OP.Id=SOD.ParameterId
		INNER JOIN ObservationSkills OS
			ON OS.Id = OP.SkillId
		INNER JOIN vw_standard_division VSD
		ON OS.StandardId = VSD.Standard_Id
		AND SOD.AcademicYearId = VSD.academic_year_id
		INNER JOIN SchoolWise_Test_Master STM
		ON SOD.TestId = STM.SchoolWise_Test_Id
        WHERE SOD.SchoolId = @School_Id
		  AND SOD.AcademicYearId = @Academic_Year_Id
		  AND SOD.IsDeleted = 0
		  AND OG.IsDeleted = 0
		  AND OS.IsDeleted = 0
		  AND STM.Is_Deleted = 'N'		  
		  AND OS.Name = 'Parent Engagement'
		  and stm.SchoolWise_Test_Name = case when @Term_Id = 1 then 'Term I' else 'Term II' end
		  AND (SOD.StudentId = @Student_Id OR @Student_Id = 0)
		  AND (VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id)
		
     SELECT tblStudent.YearwiseStudentId,
		    RollNo,
			EnrolmentNo,
			StudentName,
			DOB,
			FatherName,
			MotherName,
			Address,
			ClassName,
			StandardName,
			OriginalStandardId,
			OriginalDivisionId,
			@AcademicYear AcademicYear,
			tblMarks.Id,
			tblMarks.StudentId,
			tblMarks.SubjectId,
			'  ' + tblMarks.SubjectName AS SubjectName,
			tblMarks.SubjectSortOrder,
			tblMarks.TestId,
			tblMarks.TestName,
			tblMarks.OutOfMarks,
			tblMarks.MarkScored,
			tblMarks.IsAbsent,
			tblMarks.Percentage,
			tblMarks.GradeName,
			TR.Term1Remark,
			TR.Term2Remark,
			ISNULL(Term1HW.Height,0) as Term1Height,
			ISNULL(Term1HW.Weight,0) as Term1Weight,
			ISNULL(Term2HW.Height,0) as Term21Height,
			ISNULL(Term2HW.Weight,0) as Term2Weight,
			@Standard_Name Standard_Name,
			@SchoolReopeningDate SchoolReopeningDate,
			tblMarks.TermId,
			CASE WHEN tblMarks.TermId = 1 THEN 'Term I' WHEN tblMarks.TermId = 2 THEN 'Term II' else '' end as TermHeader,
			@Division_Name AS Division_Name,
			tblStudent.BloodGroup,
			tblStudent.AadharCardNumber,
			ISNULL(TFD.FavouriteColour,'') AS FavouriteColour,
			ISNULL(TFD.FavouriteFood,'') AS FavouriteFood,
			ISNULL(TFD.FavouriteSport,'') AS FavouriteSport,
			ISNULL(TFD.FavouriteSubject,'') AS FavouriteSubject,
			@TestId AS SchoolwiseTestId,
			ISNULL(TSA.PresentDays,0) AS PresentDays,
			ISNULL(TSA.TotalDays,0) AS TotalDays,
			ISNULL(PED.ParentEngagment,'') AS ParentEngagment,
			ISNULL(PED.ParentEngagmentGrade,'') AS ParentEngagmentGrade,			
			--FinalMarks,
			SS.SignImage 
       FROM @tblMarkDetails tblMarks
 INNER JOIN @tblStudentDetails tblStudent
		 ON tblMarks.StudentId = tblStudent.YearwiseStudentId
LEFT OUTER JOIN @tblStudentHeightWeightDetails Term1HW
on tblStudent.YearwiseStudentId = Term1HW.YearwiseStudentId
and Term1HW.TermId = 1
LEFT OUTER JOIN @tblStudentHeightWeightDetails Term2HW
on tblStudent.YearwiseStudentId = Term2HW.YearwiseStudentId
and Term2HW.TermId = 2
left outer join @TblRemarks TR
ON tblStudent.YearwiseStudentId = TR.YearwiseStudentId
LEFT OUTER JOIN @tblFavouriteDetails TFD
ON tblStudent.YearwiseStudentId = TFD.YearwiseStudentId
LEFT OUTER JOIN @tblStudentAttendance TSA
ON tblStudent.YearwiseStudentId = TSA.Student_Id
LEFT JOIN @tblParentEngagementDetails PED
ON tblStudent.YearwiseStudentId = PED.YearwiseStudentId
 CROSS JOIN (
				SELECT UM.SignImage
				  FROM SchoolWise_Teacher_Master SWTM
			INNER JOIN User_Master UM
					ON UM.User_Id = SWTM.User_Id
				   AND UM.School_Id = SWTM.School_Id
				 WHERE SWTM.School_Id = @School_Id
				   AND academic_year_id = @Academic_Year_Id
				   AND SWTM.Is_Deleted = 'N'
				   and um.Is_Deleted = 'N'
				   AND SWTM.Designation_Id = 10 -- Principal
			)SS
	 WHERE SubjectId NOT IN (2279,2309,2354,2356,2358, 2357)
   ORDER BY TestId, 
		    SubjectSortOrder
END