/****** Object:  StoredProcedure [dbo].[Usp_ProgressReportStudentDetails]    Script Date: 10-03-2026 13:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  <Shobha Patil>  
-- Create date: <Create Date,,>  
-- Description: <This Usp is used to get the details for the student final progress report.>  
--MODIFICATION LOG
/*
DATE			AUTHOR				DESCRIPTION
04-APR-2012		POONAM		Table variable is replaced with temporary table
*/
-- =============================================  
ALTER PROCEDURE [dbo].[Usp_ProgressReportStudentDetails]
	-- Add the parameters for the stored procedure here  
	@School_Id INT
	, @Academic_Year_Id INT
	, @StudentId INT = NULL
	, @Standard_Id INT
	, @Division_Id INT
	, @Note NVARCHAR(3000) = NULL
	, @IsFinalResult NVARCHAR(1) = N'Y'
	, @IsForTopperReport BIT = 0
	, @IsFromReportScreen BIT = 1
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @DivisionId INT
		, @SchoolwiseStudentId INT
		, @NoteVar INT = 0
		, @StandardWithGradingSystem CHAR(1) =N'N'

	IF @StudentId IS NULL
		SET @StudentId = 0

	IF @Note = N''
		OR @Note IS NULL
		OR @Note = N'Term1'
	BEGIN
		SET @NoteVar = 1
		SET @Note = N''
	END

	DECLARE @Term_Id INT = 2

	----------------------------------** Get Academic year,standerd name, division name and principal name.**--------------------------------------------------------------------------------------  
	DECLARE @AcademicYear NVARCHAR(15)
		, @SchoolReopenDay DATETIME
		, @YearStartDate DATETIME
		, @YearEndDate DATETIME
		, @PrincipalName NVARCHAR(150)
		, @Standard_Name NVARCHAR(15)
		, @Division_Name NVARCHAR(15)
		, @OriginalStandardID INT
		, @TermEndDate SMALLDATETIME
		, @TermStartDate SMALLDATETIME

	SELECT @OriginalStandardID = Original_Standard_Id
	FROM Standard_Master
	WHERE Standard_Id = @Standard_Id
		AND Is_Deleted = N'N'
		AND academic_Year_Id = @Academic_Year_Id

	DECLARE @StdStartDate DATETIME
		, @StdEndDate DATETIME

	SELECT @StdStartDate = StartDate
		, @StdEndDate = EndDate
	FROM Standardwise_Academic_Year
	WHERE (Is_Deleted = 0)
		AND (School_Id = @School_Id)
		AND (Academic_Year_ID = @Academic_Year_Id)
		AND Standardwise_Academic_Year.StandardId = @Standard_Id

	SELECT @AcademicYear = CAST(datepart(year, Start_date) AS NVARCHAR) + '-' + CAST(datepart(year, Start_date) + 1 AS NVARCHAR)
	FROM SchoolWise_Academic_Year_Master
	WHERE (Is_Deleted = N'N')
		AND (School_Id = @School_Id)
		AND (Academic_Year_ID = @Academic_Year_Id)

	IF @StdStartDate IS NULL
	BEGIN
		SELECT @YearStartDate = Start_date
			, @YearEndDate = End_Date
		FROM SchoolWise_Academic_Year_Master
		WHERE (Is_Deleted = N'N')
			AND (School_Id = @School_Id)
			AND (Academic_Year_ID = @Academic_Year_Id)
	END
	ELSE
	BEGIN
		SELECT @YearStartDate = StartDate
			, @YearEndDate = EndDate
		FROM Standardwise_Academic_Year
		WHERE (Is_Deleted = 0)
			AND (School_Id = @School_Id)
			AND (Academic_Year_ID = @Academic_Year_Id)
			AND StandardId = @Standard_Id
	END

	DECLARE @NextAcademicYearID INT

	SELECT @NextAcademicYearID = Academic_Year_Id
	  FROM SchoolWise_Academic_Year_Master
     WHERE Is_Close_Year = 'N'
	   AND Is_Deleted = 'N'
	   AND Is_NewlyCreated = 'Y'
	   AND Is_Current_Year = 'N'

	-- Get school reopen date
	SELECT @SchoolReopenDay = SchoolReopeningDate
	 FROM Standardwise_Academic_Year SWAY
INNER JOIN Standard_Master SM
		ON Sm.Standard_Id = SWAY.StandardId
	   AND SM.School_Id = SWAY.School_Id
	   AND SM.academic_Year_Id = SWAY.Academic_Year_Id
	 WHERE (SWAY.Is_Deleted = 0)
	   AND (SWAY.School_Id = @School_Id)
	   AND (SWAY.Academic_Year_Id = @NextAcademicYearID)
	   AND SM.Original_Standard_Id = (
										SELECT NextOriginalStandardId
										  FROM Standard_Master
										 WHERE Original_Standard_Id = @OriginalStandardID
										   AND Is_Deleted = N'N'
										   AND academic_Year_Id = @Academic_Year_Id
										)

	IF EXISTS(
			   SELECT TOP 1 1 
	             FROM StandardsWithOnlyGradesSettings
				WHERE Standard_Id = @Standard_Id
			 )
	SET @StandardWithGradingSystem = N'Y'

	IF @SchoolReopenDay IS NULL
		SELECT @SchoolReopenDay = School_ReOpen_Date
		FROM SchoolWise_Academic_Year_Master
		WHERE (Is_Deleted = N'N')
			AND (School_Id = @School_Id)
			AND (Academic_Year_ID = @Academic_Year_Id + 1)

	SELECT @Standard_Name = SM.Standard_Name
		, @Division_Name = DM.Division_Name
	FROM SchoolWise_Standard_Division_Master SWSDM
	INNER JOIN Standard_Master SM
		ON SWSDM.Standard_Id = SM.Standard_Id
	INNER JOIN Division_Master DM
		ON SWSDM.Division_Id = DM.Division_Id
	WHERE SWSDM.SchoolWise_Standard_Division_Id = @Division_Id

	-- Get 1st term's start date.
	SELECT @TermStartDate = StudentTermwiseTestMaster.TermStartDate
	FROM StudentTermwiseTestMaster
	WHERE StudentTermwiseTestMaster.SchoolwiseTermId = 1
		AND StandardId = @Standard_Id
		AND Is_Deleted = 0

	-- Get 2nd term's end date.
	SELECT @TermEndDate = StudentTermwiseTestMaster.TermEndDate
	FROM StudentTermwiseTestMaster
	WHERE StudentTermwiseTestMaster.SchoolwiseTermId = 2
		AND StandardId = @Standard_Id
		AND Is_Deleted = 0

	IF (
			@TermStartDate = N'1900-01-01 00:00:00'
			OR @TermStartDate IS NULL
			)
		SET @TermStartDate = @YearStartDate

	IF (
			@TermEndDate = N'1900-01-01 00:00:00'
			OR @TermEndDate IS NULL
			)
		SET @TermEndDate = @YearEndDate

	-- Get principal name.
	SELECT @PrincipalName = SM.Salutation_Name + N' ' + SWTM.Teacher_First_Name + CASE 
			WHEN Teacher_Middle_Name IS NULL
				OR Teacher_Middle_Name = N''
				THEN N''
			ELSE N' ' + Teacher_Middle_Name + N'.'
			END + CASE 
			WHEN Teacher_Last_Name IS NULL
				OR Teacher_Last_Name = N''
				THEN N''
			ELSE N' ' + Teacher_Last_Name
			END
	FROM SchoolWise_Teacher_Master SWTM
	INNER JOIN Teacher_Designation_Master
		ON SWTM.Designation_Id = Teacher_Designation_Master.Teacher_Designation_Id
	INNER JOIN Salutation_Master SM
		ON SWTM.Salutation_Id = SM.Salutation_Id
	WHERE Teacher_Designation_Master.Teacher_Designation_Name = N'Principal'

	--------------------------------------------------------------** GetRemark Details**--------------------------------------------------------------------------------  
	--Get DivId from StdDivId  
	SELECT @DivisionId = Division_Id
	FROM SchoolWise_Standard_Division_Master
	WHERE academic_year_id = @Academic_Year_Id
		AND School_Id = @School_Id
		AND Is_Deleted = N'N'
		AND SchoolWise_Standard_Division_Id = @Division_Id

	--------------------------------------------------------------** GetRemark Details**--------------------------------------------------------------------------------  
	
	----------------------------------** Student details.**--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	CREATE TABLE #StudentGraceMarks (
		StudentId INT
		, GraceMarks INT
		, PromotedResult NVARCHAR(300)
		, DetainResult NVARCHAR(300)
		)

	DECLARE @promotedstandardName NVARCHAR(15)='', @detainedStandardName NVARCHAR(15)
			SELECT TOP 1 @promotedstandardName=Standard_Name 
			FROM Standard_Master 
			WHERE Original_Standard_Id > (
											SELECT Original_Standard_Id
											FROM Standard_Master
											WHERE Standard_Master.Standard_Id = @Standard_Id
												AND academic_Year_Id = @Academic_Year_Id
												AND School_Id = @School_Id
												AND Is_Deleted = N'N'
										) 
			AND academic_Year_Id IS NULL
			ORDER BY Original_Standard_Id
							
			SELECT @detainedStandardName=Standard_Name
			FROM Standard_Master
			WHERE Standard_Master.Standard_Id = @Standard_Id
				AND academic_Year_Id = @Academic_Year_Id
				AND School_Id = @School_Id
				AND Is_Deleted = N'N'

		IF @IsFinalResult = N'Y'
			INSERT INTO #StudentGraceMarks (
				StudentId
				, GraceMarks
				, PromotedResult
				, DetainResult
				)
			SELECT SWSM.SchoolWise_Student_Id
				, SUM(SWSRM.Grace_Marks)
				, CASE 
					WHEN SUM(SWSRM.Grace_Marks) = 0
						THEN CASE WHEN @School_Id = 81 THEN 'PASSED AND PROMOTED TO STANDARD : ' + @promotedstandardName ELSE 'PASSED AND PROMOTED TO STANDARD ' + @promotedstandardName END								
					ELSE 'PROMOTED TO STANDARD ' + @promotedstandardName
					END AS Result
				, 'DETAINED IN STANDARD ' + @detainedStandardName 
			FROM YearWise_Student_Details YWSD
			INNER JOIN SchoolWise_StudentResultMarks SWSRM
				ON SWSRM.Student_Id = YWSD.YearWise_Student_Id
				AND YWSD.YearWise_Student_Id IN 
				(  
				 -- IF @StudentId is zero then get all students for standard-division.
				  SELECT CASE WHEN @StudentId=0   
							  THEN YearWise_Student_Details.YearWise_Student_Id   
						 ELSE @StudentId 
						 END  
					FROM YearWise_Student_Details  
				   WHERE YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id   
					 AND Standard_Id = @Standard_Id
					 AND Division_id = @DivisionId
					 AND Is_Deleted=N'N' 
				)  
			INNER JOIN SchoolWise_Student_Master SWSM
				ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
			WHERE YWSD.Standard_Id = @Standard_Id
				AND SWSRM.Is_Deleted = N'N'
				AND YWSD.School_Id = @School_Id
				AND YWSD.Academic_Year_ID = @Academic_Year_Id
			GROUP BY SWSM.SchoolWise_Student_Id
		ELSE		
			INSERT INTO #StudentGraceMarks (
				StudentId
				, GraceMarks
				, PromotedResult
				, DetainResult
				)
			SELECT SWSM.SchoolWise_Student_Id
				, SUM(SWSRM.Grace_Marks)
				, CASE 
					WHEN SUM(SWSRM.Grace_Marks) = 0
						THEN CASE WHEN @School_Id = 81 THEN N'PASSED AND PROMOTED TO STANDARD : ' + @promotedstandardName ELSE N'PASSED AND PROMOTED TO STANDARD ' + @promotedstandardName END --(
					ELSE N'PROMOTED TO STANDARD ' + @promotedstandardName --(
					END AS Result
				, N'DETAINED IN STANDARD ' + @detainedStandardName --(
			FROM YearWise_Student_Details YWSD
			LEFT OUTER JOIN SchoolWise_StudentResultMarks SWSRM
				ON SWSRM.Student_Id = YWSD.YearWise_Student_Id
				AND SWSRM.Is_Deleted = N'N'
				AND YWSD.YearWise_Student_Id IN 
				(  
				 -- IF @StudentId is zero then get all students for standard-division.
				  SELECT CASE WHEN @StudentId=0   
							  THEN YearWise_Student_Details.YearWise_Student_Id   
						 ELSE @StudentId 
						 END  
					FROM YearWise_Student_Details  
				   WHERE YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id   
					 AND Standard_Id = @Standard_Id
					 AND Division_id = @DivisionId
					 AND Is_Deleted=N'N' 
				)  
			INNER JOIN SchoolWise_Student_Master SWSM
				ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
			WHERE YWSD.Standard_Id = @Standard_Id
				AND YWSD.School_Id = @School_Id
				AND YWSD.Academic_Year_ID = @Academic_Year_Id
			GROUP BY SWSM.SchoolWise_Student_Id
	
---------** Don't delete this code. It is required to uncomment this code when we want to execute this USP individually. **---------


DECLARE @ClassTeacherName NVARCHAR(100) = ''
      
DECLARE @tblHightWeight AS TABLE
(
	YearwiseStudentId INT,
	Height DECIMAL(6,2),
	Weights DECIMAL(6,2)
)

IF(@StudentId IS NOT NULL AND @StudentId <> 0)
	BEGIN
		INSERT INTO @tblHightWeight
			 SELECT @StudentId,
					Height,
					Weight
			   FROM TermwiseStudentHeightWeightDetails
			  WHERE YearwiseStudentId = @StudentId
			    AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND StandardDivisionId = @Division_Id
				AND TermId = 2
	END
ELSE
	BEGIN
		INSERT INTO @tblHightWeight
			 SELECT YearwiseStudentId,
			        Height,
					Weight
			   FROM TermwiseStudentHeightWeightDetails
			  WHERE SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND StandardDivisionId = @Division_Id
				AND TermId = 2
	END
	
	DECLARE @Term1StartDate DATETIME,
			@Term1EndDate DATETIME,
			@Term2StartDate DATETIME,
			@Term2EndDate DATETIME

		SELECT @Term1StartDate = STWTM.TermStartDate,
			   @Term1EndDate = STWTM.TermEndDate
		  FROM StudentTermwiseTestMaster STWTM
	INNER JOIN SchoolwiseTermMaster SWTM
			ON STWTM.SchoolwiseTermId = SWTM.SchoolwiseTermId
		 WHERE STWTM.School_Id = @School_Id
		   AND STWTM.Academic_Year_Id = @Academic_Year_Id
		   AND STWTM.Is_Deleted = 0
		   AND SWTM.TermName = 'Term-I'
		   AND SWTM.Is_Deleted = 0
		   AND STWTM.StandardId = @Standard_Id

	    SELECT @Term2StartDate = STWTM.TermStartDate,
			   @Term2EndDate = STWTM.TermEndDate
		  FROM StudentTermwiseTestMaster STWTM
	INNER JOIN SchoolwiseTermMaster SWTM
			ON STWTM.SchoolwiseTermId = SWTM.SchoolwiseTermId
		 WHERE STWTM.School_Id = @School_Id
		   AND STWTM.Academic_Year_Id = @Academic_Year_Id
		   AND STWTM.Is_Deleted = 0
		   AND SWTM.TermName = 'Term-II'
		   AND SWTM.Is_Deleted = 0
		   AND STWTM.StandardId = @Standard_Id

	DECLARE @tblAttendaceDetails AS TABLE
	(
		StudentId INT,
		Term1Count INT,
		Term1Total INT,
		Term2Count INT,
		Term2Total INT
	)

	INSERT INTO @tblAttendaceDetails(StudentId,Term1Count,Term1Total)
	SELECT YearWise_Student_Id,0,0
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	AND YSD.Academic_Year_ID = VSD.academic_year_id
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND (YSD.YearWise_Student_Id = @StudentId OR @StudentId IS NULL OR @StudentId = 0)

	IF(@StudentId IS NOT NULL AND @StudentId <> 0)
		BEGIN
			    UPDATE TAD
				SET Term1Count = S.Term1Count,
					Term1Total = S.Term1Total
				FROM @tblAttendaceDetails TAD
				INNER JOIN
				(
						 SELECT Student_Id,
								COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) as Term1Count,
								COUNT(Is_Present) as Term1Total
						   FROM SchoolWise_Attendance_Details
						  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term1StartDate) AND CONVERT(Date, @Term1EndDate)
							AND Student_Id = @StudentId
							AND Is_Deleted = 'N'
							AND Standard_Division_Id = @Division_Id
					   GROUP BY Student_Id
				 )S
				 ON TAD.StudentId = S.Student_Id

			     UPDATE Atten
			        SET Term2Count = SS.Present,
					    Term2Total = SS.Total
				   FROM @tblAttendaceDetails Atten
			 INNER JOIN (SELECT Student_Id,
								COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) AS Present,
								COUNT(Is_Present) AS Total
			               FROM SchoolWise_Attendance_Details
						  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(Date, @Term2EndDate)
							AND Student_Id = @StudentId
							AND Is_Deleted = 'N'
							AND Standard_Division_Id = @Division_Id
					   GROUP BY  Student_Id)SS
					 ON Atten.StudentId = SS.Student_Id
		END
	ELSE
		BEGIN
			 UPDATE TAD
				SET Term1Count = S.Term1Count,
					Term1Total = S.Term1Total
				FROM @tblAttendaceDetails TAD
				INNER JOIN
				(			
					 SELECT Student_Id,
							COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) AS Term1Count,
							COUNT(Is_Present) AS Term1Total
					   FROM SchoolWise_Attendance_Details
					  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term1StartDate) AND CONVERT(Date, @Term1EndDate)				    
						AND Is_Deleted = 'N'
						AND Standard_Division_Id = @Division_Id
				   GROUP BY Student_Id
			     )S
				 ON TAD.StudentId = S.Student_Id

			     UPDATE Atten
			        SET Term2Count = SS.Present,
					    Term2Total = SS.Total
				   FROM @tblAttendaceDetails Atten
			 INNER JOIN (SELECT Student_Id,
								COUNT(CASE WHEN Is_Present = N'Y' THEN 1 END) AS Present,
								COUNT(Is_Present) AS Total
			               FROM SchoolWise_Attendance_Details
						  WHERE CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(Date, @Term2EndDate)							
							AND Is_Deleted = 'N'
							AND Standard_Division_Id = @Division_Id
					   GROUP BY  Student_Id)SS
					 ON Atten.StudentId = SS.Student_Id
		END

		IF @School_Id = 81 AND @Academic_Year_Id = 4 -- DSK
		BEGIN
				UPDATE TAD
				SET Term2Count = TAD.Term2Count + SS.AdditionalDays,
					Term2Total  = TAD.Term2Total + SS.AdditionalDays
				FROM @tblAttendaceDetails TAD
				INNER JOIN
				(
					SELECT s.student_id, DATEDIFF(DAY,MaxAttDate,'2017-04-29') AS AdditionalDays
					FROM Yearwise_student_details YSD
					INNER JOIN vw_BaseStudentDetails BSD
					ON YSD.Student_Id = BSD.SchoolWise_Student_Id
					inner join
					(
						SELECT Student_Id,
								MAX(Attendance_Date) as MaxAttDate
							FROM SchoolWise_Attendance_Details
							WHERE Is_Deleted = 'N'
							AND Standard_Division_Id = @Division_Id
						GROUP BY Student_Id
					)S
					on s.Student_Id = YSD.YearWise_Student_Id
					where ysd.Academic_Year_ID = @Academic_Year_Id
					AND (BSD.SchoolLeft_Date IS NULL OR BSD.SchoolLeft_Date >= '2017-04-01' )
				)SS
				ON TAD.StudentId = SS.Student_Id
		END

		SELECT @ClassTeacherName = vwAPU.UserFLName
		  FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDAM
	INNER JOIN SchoolWise_Teacher_Master SWTM
			ON SWSDAM.Teacher_Id = SWTM.Teacher_Id
		   AND SWSDAM.School_Id = SWTM.School_Id
		   AND SWSDAM.Academic_Year_Id = SWTM.academic_year_id
	INNER JOIN vw_standard_division vwSD
			ON vwSD.Standard_Id = SWSDAM.Standard_Id
		   AND SWSDAM.Division_Id = vwSD.Division_Id
		   AND SWSDAM.Academic_Year_Id = vwSD.academic_year_id
		   AND SWSDAM.School_Id = vwSD.School_Id
	INNER JOIN vw_AllPayrollUsers vwAPU
			ON vwAPU.UserId = SWTM.User_Id
		 WHERE SWSDAM.Is_ClassTeacher = 'Y'
		   AND SWSDAM.Standard_Id = @Standard_Id
		   AND vwSD.SchoolWise_Standard_Division_Id = @Division_Id
		   AND SWSDAM.Academic_Year_Id = @Academic_Year_Id
		   AND SWSDAM.School_Id = @School_Id
		   AND SWSDAM.Is_Deleted = 'N'
		   AND SWTM.Is_Deleted = 'N'
		   AND vwAPU.Is_Deleted = 'N'

	INSERT INTO #StudentDetail
		 SELECT SWSM.SchoolWise_Student_Id
			  , YWSD.Roll_No
			  , SM.Salutation_Name + ' ' +
			    CASE WHEN  @School_Id=61 AND SWSM.SchoolWise_Student_Id=1257  THEN  SWSM.First_Name
			  ELSE N'' + SWSM.First_Name 
		    +    CASE WHEN SWSM.Middle_Name IS NULL OR SWSM.Middle_Name = N''
			 THEN N''
			 ELSE N' ' + SWSM.Middle_Name
		     END + CASE WHEN SWSM.Last_Name IS NULL OR SWSM.Last_Name = N''
			 THEN N''
			 ELSE N' ' + SWSM.Last_Name
		     END
		    END AS StudentName
		, CONVERT(SMALLDATETIME, SWSM.DOB) DOB		
		, tblAttendance.Term1Count + tblAttendance.Term2Count
		,tblAttendance.Term1Total + tblAttendance.Term2Total
		, tblAttendance.Term1Count + tblAttendance.Term2Count
		,tblAttendance.Term1Total + tblAttendance.Term2Total
		, tblAttendance.Term1Count AS Term1Present
		, tblAttendance.Term1Total AS Term1Total
		, tblAttendance.Term2Count AS Term2Present
		, tblAttendance.Term2Total AS Term2Total
		, SWSM.Enrolment_Number
		, CASE 
			WHEN SWRCD.RemarkDetails IS NULL
				OR SWRCD.RemarkDetails = N''
				THEN @Note
			ELSE SWRCD.RemarkDetails
			END Remark
		, CASE WHEN SWRCD1.RemarkDetails IS NULL OR SWRCD1.RemarkDetails = '' THEN '' 
			   ELSE SWRCD1.RemarkDetails 
		   END AS Term1Remark
		, @Standard_Name +N' - '+ @Division_Name AS Class
		, @Standard_Name
		, @AcademicYear AS AcademicYear
		, @SchoolReopenDay
		, CASE WHEN PFC.CanBeDetained = 1  
			   THEN 1  
			   WHEN [dbo].[Udf_GetFinalResult](@School_Id,@Academic_Year_Id,SWSM.SchoolWise_Student_Id)='Fail'  
			   THEN 1  
		  ELSE 0  
		  END  AS PASS,
		  YWSD.Standard_Id,
		  YWSD.IsPassedAndPromoted,
		  SchMst.School_Id,
		  SchMst.City,
		  SchMst.Pincode,
		  SchMst.Phone_Number,
		  SchMst.FaxNumber,
		  SchMst.Email,
		  SchMst.WebSite,
		  NULL,
		  SchMst.School_Orgn_Name,
		  SchMst.School_Name,
		  SchMst.Address,
		  @ClassTeacherName AS ClassTeacher,
		  ISNULL(tblHeight.Height,0),
		  ISNULL(tblHeight.Weights,0)
	FROM YearWise_Student_Details YWSD
	INNER JOIN SchoolWise_Standard_Division_Master SWSDM
		ON SWSDM.Standard_Id = YWSD.Standard_Id
			AND SWSDM.Division_Id = YWSD.Division_id
	INNER JOIN SchoolWise_Student_Master SWSM
		ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
	INNER JOIN dbo.Salutation_Master SM
		ON SWSM.Salutation_Id = SM.Salutation_Id
	INNER JOIN School_Master SchMst
			ON SchMst.School_Id = SWSM.School_Id
		   AND SchMst.School_Id = YWSD.School_Id
		   AND SchMst.Is_Deleted = 'N'
		   AND SchMst.Is_Active = 'Y'
	INNER JOIN
	(		
		-- IF @StudentId is zero then get all students for standard-division.
			SELECT CASE WHEN @StudentId=0   
						THEN YearWise_Student_Details.YearWise_Student_Id   
					ELSE @StudentId 
					END AS YearWise_Student_Id  
			FROM YearWise_Student_Details  
			WHERE YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id   
				AND Standard_Id = @Standard_Id
				AND Division_id = @DivisionId
				AND Is_Deleted=N'N' 
	)YSD
	ON YWSD.YearWise_Student_Id = YSD.YearWise_Student_Id
	LEFT OUTER JOIN (
						SELECT YearwiseStudentId, 
							   RemarkDetails, 
							   Academic_Year_Id 
						  FROM StudentwiseRemarkConfigDetails SWRCD
					INNER JOIN TermWiseRemarksDetails TWRD
							ON TWRD.TermWiseRemarksDetailsId = SWRCD.TermwiseRemarkDetailId
						   AND Term_Id = 2
						   and SWRCD.IsDeleted = 'N'
					)AS SWRCD
				 ON SWRCD.YearwiseStudentId = YWSD.YearWise_Student_Id
				AND SWRCD.Academic_Year_Id = @Academic_Year_Id
	LEFT OUTER JOIN (
						SELECT YearwiseStudentId, 
							   RemarkDetails, 
							   Academic_Year_Id 
						  FROM StudentwiseRemarkConfigDetails SWRCD
					INNER JOIN TermWiseRemarksDetails TWRD
							ON TWRD.TermWiseRemarksDetailsId = SWRCD.TermwiseRemarkDetailId
						   AND Term_Id = 1
						   and SWRCD.IsDeleted = 'N'
					)AS SWRCD1
				 ON SWRCD1.YearwiseStudentId = YWSD.YearWise_Student_Id
				AND SWRCD1.Academic_Year_Id = @Academic_Year_Id
	LEFT OUTER JOIN dbo.Pass_Fail_Criteria PFC
				 ON YWSD.Standard_Id = PFC.Standard_Id
				AND PFC.School_Id = @School_Id
				AND PFC.Academic_Year_Id = @Academic_Year_Id
				AND PFC.Is_Deleted = N'N'	
	LEFT OUTER JOIN @tblHightWeight tblHeight
				 ON tblHeight.YearwiseStudentId = YWSD.YearWise_Student_Id
	LEFT OUTER JOIN @tblAttendaceDetails tblAttendance
				 ON tblAttendance.StudentId = YWSD.YearWise_Student_Id
		      WHERE YWSD.School_Id = @School_Id
				AND YWSD.Academic_Year_ID = @Academic_Year_Id
				AND SWSM.School_Id = @School_Id
				AND SWSM.Is_Deleted = N'N'
				AND YWSD.Is_Deleted = N'N'
				AND YWSD.Standard_Id = @Standard_Id
				AND SWSDM.SchoolWise_Standard_Division_Id = @Division_Id
		   GROUP BY SWSM.SchoolWise_Student_Id
				  , YWSD.Roll_No
				  , SM.Salutation_Name
				  , SWSM.First_Name
				  , SWSM.Middle_Name
				  , SWSM.Last_Name
				  , SWSM.DOB
				  , SWSM.Enrolment_Number
				  , SWRCD.RemarkDetails
				  , SWRCD1.RemarkDetails
				  , PFC.CanBeDetained
				  , YWSD.Standard_Id
				  , YWSD.IsPassedAndPromoted
				  , SchMst.School_Orgn_Name
				  , SchMst.School_Name
				  , SchMst.Address
				  , tblHeight.Height
				  , tblHeight.Weights
				  , tblAttendance.Term1Count
				  , tblAttendance.Term1Total
				  , tblAttendance.Term2Count
				  , tblAttendance.Term2Total
				  ,SchMst.School_Id
				  ,SchMst.City
				  ,SchMst.Pincode
				  ,SchMst.Phone_Number
				  ,SchMst.FaxNumber
				  ,SchMst.Email
				  ,SchMst.WebSite
	------------------------------------** To get all optional subjects for the standard division. **------------------------------------
	DECLARE @tblOptionalSubjectGroups AS TABLE
	(
		ParentGroupId INT,
		GroupName NVARCHAR(50)
	)

	DECLARE @tblOptionalSubjectsForStandard AS TABLE
	(
		SubjectId INT,
		Subject_Name NVARCHAR(50),
		SubjectGroupId INT
	)

	INSERT INTO @tblOptionalSubjectGroups
	SELECT DISTINCT Parent_Group_Id,
		   Name
	  FROM OptionalSubjects_Settings 
	 WHERE Academic_Year_Id = @Academic_Year_Id
	   AND School_Id = @School_Id
	   AND Is_Deleted = N'N'
	   AND Standard_Division_Id = @Division_Id
  ORDER BY Parent_Group_Id DESC
  
	DECLARE @ParentGroupId INT
	
	DECLARE @OptionalSubjects NVARCHAR(1000) = N''

	WHILE EXISTS(
				SELECT 1
				  FROM @tblOptionalSubjectGroups
				  WHERE GroupName IS NOT NULl AND GroupName <> N''
				) 
	BEGIN
	
		SELECT TOP 1 @ParentGroupId = ParentGroupId FROM @tblOptionalSubjectGroups
		
		INSERT INTO @tblOptionalSubjectsForStandard
			SELECT Subject_Id,
				   Name,
				   SubjectGroupId
			  FROM OptionalSubjects_Settings 
			 WHERE Academic_Year_Id = @Academic_Year_Id
			   AND School_Id = @School_Id
			   AND Is_Deleted = N'N'
			   AND Standard_Division_Id = @Division_Id
			   AND Parent_Group_Id = @ParentGroupId
		
		UPDATE @tblOptionalSubjectsForStandard 
		SET Subject_Name = Subject_Master.Subject_Name
			  FROM @tblOptionalSubjectsForStandard OptionalSubjects_Settings
		INNER JOIN Subject_Master
				ON Subject_Master.Subject_Id = OptionalSubjects_Settings.SubjectId
			   AND Subject_Master.Academic_Year_Id = @Academic_Year_Id
			   AND Subject_Master.School_Id = @School_Id
			   AND Subject_Master.Is_Deleted = N'N'
			   
		UPDATE @tblOptionalSubjectsForStandard 
		SET Subject_Name = [dbo].[Udf_GetSubjectsForSubjectGroup](@School_Id,@Academic_Year_Id,SubjectGroupId,@Division_Id)
		WHERE SubjectId = 0
			  AND SubjectGroupId <> 0
		
		DECLARE @SubjectGroups NVARCHAR(500) = N''
		
		SELECT @SubjectGroups = COALESCE(@SubjectGroups + N', ', N'') + Subject_Name 
		  FROM @tblOptionalSubjectsForStandard
			   
		SELECT @OptionalSubjects += GroupName + N': ' + SUBSTRING(@SubjectGroups,2,LEN(@SubjectGroups))
		  FROM @tblOptionalSubjectGroups
		 WHERE ParentGroupId = @ParentGroupId
			 
		DELETE FROM @tblOptionalSubjectsForStandard
		SET @OptionalSubjects = @OptionalSubjects + N' '


		DELETE FROM @tblOptionalSubjectGroups
		 WHERE ParentGroupId = @ParentGroupId
	END

DECLARE @tblFailedStudents AS TABLE
(
	YearWise_Student_Id INT
)

IF @School_Id = 18
BEGIN
	INSERT INTO @tblFailedStudents
	SELECT 37365
END
------------------------------------** To display all optional subjects for the standard division. **------------------------------------

IF @IsForTopperReport = 0
BEGIN

		SELECT SD.Student_Id,
		SD.Roll_Num,
		SD.StudentName,
		SD.DOB,
		TotalPresent,
		TotalDays,
		TotalPresent AS Attendance,
		TotalDays AS Total,
		SD.Term1Present,
		SD.Term1Total,
		SD.Term2Present,
		SD.Term2Total,
		SD.Enrolment_Number,
		SD.Remarks,
		SD.Term1Remarks,
		SD.Class,
		SD.StandardName,
		SD.AcademicYear,
		N'FINAL TERM' TermName,
		SD.SchoolReopenDay,
		SD.PASS,
			 (
				CASE 
					WHEN [dbo].[Udf_GetFinalResult](@School_Id, @Academic_Year_Id, SD.Student_Id) = N'Fail'
						THEN N'PROMOTED TO STANDARD ' + (
								SELECT Standard_Name
								FROM Standard_Master
								WHERE Standard_Master.Standard_Id = @Standard_Id + 1
									AND academic_Year_Id = @Academic_Year_Id
									AND School_Id = @School_Id
									AND Is_Deleted = N'N'
								)
					ELSE SGM.PromotedResult
					END
				) AS StudentFinalResult,
				CASE WHEN YearWise_Student_Id IN (SELECT YearWise_Student_Id FROM @tblFailedStudents) THEN '' 
					 ELSE N'PROMOTED TO STANDARD ' + (
								SELECT Standard_Name
								FROM Standard_Master
								WHERE Standard_Master.Standard_Id = @Standard_Id + 1
									AND academic_Year_Id = @Academic_Year_Id
									AND School_Id = @School_Id
									AND Is_Deleted = N'N'
								) END AS PromotedResult
			, SGM.DetainResult
			,@StandardWithGradingSystem StandardWithGradingSystem
			,N'Y' ShowCoCurricularSubjects
			,'' StarLegend
			,@OptionalSubjects OptionalSubjects
			,2 TermId
			,@Academic_Year_Id Academic_Year_Id
			,SD.IsPassedAndPromoted
			,SM.School_Orgn_Name AS OrgName,
			SM.School_Name AS SchoolName,
			SM.Address + ' ' + SM.Address2 + ', ' + SM.City + ' - ' + SM.Pincode AS SchoolAddress,
			@ClassTeacherName AS ClassTeacher,
			ISNULL(convert(nvarchar,tblHeight.Height),'') AS Height,
			ISNULL(convert(nvarchar,tblHeight.Weights),'') AS Weight,
			SM.Logo AS SchoolLogo,
			SM.SignPathImage,
			SM.School_Id AS SchoolId,
			SM.City AS City,
			SM.Pincode AS PinCode,
			SM.Phone_Number AS PhNO,
			SM.FaxNumber AS FaxNo,
			SM.Email AS Email,
			SM.WebSite AS Website,
			convert(INT,@IsFromReportScreen) IsFromReportScreen,
			BSD.Photo_file_Path_Image AS StudentPhoto
		FROM #StudentDetail SD
		INNER JOIN #StudentGraceMarks SGM
			ON SD.Student_Id = SGM.StudentId
		INNER JOIN School_Master SM
				ON SM.School_Id = @School_Id
			   AND SM.Is_Deleted = 'N'
			   AND SM.Is_Active = 'Y'
		INNER JOIN YearWise_Student_Details YWSD
				ON YWSD.Student_Id = SD.Student_Id
			   AND YWSD.School_Id = @School_Id
			   AND YWSD.Academic_Year_ID = @Academic_Year_Id
		INNER JOIN vw_BaseStudentDetails BSD
				ON YWSD.Student_Id = BSD.SchoolWise_Student_Id
		LEFT OUTER JOIN @tblHightWeight tblHeight
					ON tblHeight.YearwiseStudentId = YWSD.YearWise_Student_Id
END
END