/****** Object:  StoredProcedure [dbo].[usp_GetGradingSystemProgressReport]    Script Date: 10-03-2026 15:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  Vipul A. Jadhav
-- Create date: 2 Aug 2012
-- Description: This Usp is used to get the details for the student grading system progress report.
-- =============================================  
ALTER PROCEDURE [dbo].[usp_GetGradingSystemProgressReport]
 -- Add the parameters for the stored procedure here  
@School_Id INT,
@Academic_Year_Id INT,
@StudentId INT = NULL,
@Standard_Id INT,
@Division_Id INT,
@Term_Id INT,
@Note NVARCHAR(2000) = NULL,
@IsFromReportScreen INT = 0
AS  
BEGIN

SET NOCOUNT ON;  
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  

	--IF EXISTS (SELECT TOP 1 1
	--		 FROM tempdb..sysobjects
	--		WHERE id = OBJECT_ID(N'tempdb..#StudentDetail'))
	--	DROP TABLE #StudentDetail


	CREATE TABLE #StudentDetail (
		Student_Id INT
		, Roll_Num INT
		, StudentName NVARCHAR(400)
		, DOB SMALLDATETIME
		, TotalPresent INT  
		, Total INT
		, Attendance INT
		, TotalDays INT
		, Enrolment_Number NVARCHAR(100)
		, Remarks NVARCHAR(4000)
		, Class NVARCHAR(20)
		, AcademicYear NVARCHAR(100)
		, SchoolReopenDay SMALLDATETIME
		, PASS INT
		, StandardId INT
		, IsPassedAndPromoted BIT
		, SchoolId INT				
		, City NVARCHAR(50)
		, PinCode NVARCHAR(10)
		, PhNO NVARCHAR(20)
		, FaxNo NVARCHAR(20)
		, Email NVARCHAR(50)
		, Website NVARCHAR(100)
		, PrincipalSign IMAGE
		)
		
  exec Usp_GetStudentDetailsForProgressReport @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @Term_Id, @IsFromReportScreen
PRINT 'S1'
  IF @School_Id = 81 -- DSK
	exec USP_StudentwiseProgressReportForDSK @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
  ELSE IF @School_Id = 120 -- BFS
	exec USP_StudentwiseProgressReportForBFS @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
  ELSE IF @School_Id = 61  -- MCPS
	exec USP_StudentwiseProgressReportForMCPS @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
  ELSE
	exec USP_StudentwiseProgressReport @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
PRINT 'S2'  
  exec USP_SubReportForProgressGraph @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @Term_Id
  
  exec USP_GradeDetails @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note

  SELECT School_Name, School_Orgn_Name, Address1, Address2, City, Pincode, Phone_Number, Logo
  from School_Master
  WHERE School_Id = @School_Id
  and Is_Deleted = 'N'
  
  DROP TABLE #StudentDetail
END