/****** Object:  StoredProcedure [dbo].[usp_GetFinalProgressReport]    Script Date: 10-03-2026 13:29:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================    
-- Author:  <Shobha Patil>    
-- Create date: <Create Date,,>    
-- Description: <This Usp is used to get the details for the student final progress report.>    
--MODIFICATION LOG  
/*  
DATE   AUTHOR    DESCRIPTION  
04-APR-2012  POONAM  Table variable is replaced with temporary table  
*/    
-- =============================================    
ALTER PROCEDURE [dbo].[usp_GetFinalProgressReport]    
 -- Add the parameters for the stored procedure here    
@School_Id INT,    
@Academic_Year_Id INT,    
@StudentId INT = NULL,    
@Standard_Id INT,    
@Division_Id INT,    
@Note VARCHAR(3000) = NULL,
@IsFromReportScreen bit = 1
AS    
BEGIN    
    
SET NOCOUNT ON;    
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED    
    
  CREATE TABLE #ToppersTable(  
  [StudentId] [int] NOT NULL,  
  [RollNo] [int] NULL,  
  [StudSubjectId] [int] NULL,  
  [SubjectName] [nvarchar](50) NULL,  
  [ResultType] [nvarchar](50) NULL,  
  [StudentSubjectwiseResult] [float] NULL,  
  [StandardTopper] [float] NULL,  
  [standardAverage] [float] NULL,  
  [StandardDivisionId] [int] NULL,  
  [Sort_Order] [int] NULL,  
  [DisplayOrder] [int] NULL  
 )  
    
   CREATE TABLE #StudentDetail (  
  Student_Id INT  
  , Roll_Num INT  
  , StudentName NVARCHAR(400)  
  , DOB SMALLDATETIME  
  , TotalPresent INT  
  , Total INT
  , Attendance INT  
  , TotalDays INT
  , Term1Present INT  
  , Term1Total INT  
  , Term2Present INT
  , Term2Total INT
  , Enrolment_Number NVARCHAR(100)  
  , Remarks NVARCHAR(4000)
  , Term1Remarks NVARCHAR(4000)  
  , Class NVARCHAR(20)
  , StandardName NVARCHAR(15)  
  , AcademicYear NVARCHAR(100)  
  , SchoolReopenDay SMALLDATETIME  
  , PASS INT  
  , StandardId INT  
  , IsPassedAndPromoted BIT
  , School_Id INT
	, City NVARCHAR(100)
	, Pincode NVARCHAR(10)
	, Phone_Number NVARCHAR(50)
	, FaxNumber NVARCHAR(100)
	, Email NVARCHAR(100)
	, WebSite NVARCHAR(100)
	, NoName1 NVARCHAR(100)
  , OrganisationName NVARCHAR(100)
  , SchoolName NVARCHAR(100)
  , SchoolAddress NVARCHAR(200)
  , ClassTeacher NVARCHAR(100)
  , Height DECIMAL(6,2)
  , Weight DECIMAL(6,2)
  )  
 print 'test1'
  exec Usp_ProgressReportStudentDetails @School_Id,@Academic_Year_Id,@StudentId,@Standard_Id,@Division_Id,@Note,'Y',0,@IsFromReportScreen
  print 'test2'
  IF @School_Id = 81 -- DSK
	exec USP_StudentFinalProgressReportForDSK @School_Id,@Academic_Year_Id,@StudentId,@Standard_Id,@Division_Id,@Note  	
  ELSE IF @School_Id = 120 -- BFS
	exec USP_StudentFinalProgressReportBFS @School_Id,@Academic_Year_Id,@StudentId,@Standard_Id,@Division_Id,@Note  
  ELSE
	exec USP_StudentFinalProgressReport @School_Id,@Academic_Year_Id,@StudentId,@Standard_Id,@Division_Id,@Note  

   IF @School_Id <> 81 -- DSK 
		exec USP_SubReportOfFinalProgressGraph @School_Id,@Academic_Year_Id,@StudentId,0,@Standard_Id,@Division_Id,@Note  
   ELSE
		EXEC USP_SubReportOfFinalProgressGraphForDSK @School_Id,@Academic_Year_Id,@StudentId,0,@Standard_Id,@Division_Id,@Note
    
  exec USP_GradeDetails @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, 0, @Note  
  
  EXEC usp_GetAttitudeTowardsForDSK @School_Id,@Academic_Year_Id, @StudentId, @Standard_Id,@Division_Id
    
  Drop Table #ToppersTable  
    
  DROP TABLE #StudentDetail  
    
END