/****** Object:  StoredProcedure [dbo].[usp_GetDetailsForHolisticReportFor6To8PPSHStd]    Script Date: 8/27/2026 6:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Get Holistic Report for 6th to 8th Standard (PPSH)
-- Performance & Compatibility fixes applied for Azure SQL Database v12
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetDetailsForHolisticReportFor6To8PPSHStd] 
(
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT = 0,
	@Term_Id INT,
	@IsFromReportScreen BIT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @StdDivId INT = @Division_Id;

	SELECT @Division_Id = Division_Id
	FROM vw_standard_division
	WHERE academic_year_id = @Academic_Year_Id
	  AND School_Id = @School_Id
	  AND SchoolWise_Standard_Division_Id = @StdDivId;

	DECLARE @IsPublihsed BIT = 0;

	IF @IsFromReportScreen = 1
		SET @IsPublihsed = 1;
	ELSE
	BEGIN
		IF EXISTS
		(
			SELECT 1
			FROM ObservationPublishStatus OPS
			INNER JOIN SchoolWise_Test_Master STM
				ON OPS.TestId = STM.SchoolWise_Test_Id
				AND OPS.AcademicYearId = STM.academic_year_id
			WHERE OPS.SchoolId = @School_Id
				AND OPS.AcademicYearId = @Academic_Year_Id
				AND OPS.IsDeleted = 0
				AND STM.Is_Deleted = 'N'
				AND OPS.StdDivId = @StdDivId
				AND STM.Term_Id = @Term_Id
				AND (
					(@Term_Id = 1 AND STM.SchoolWise_Test_Name = 'Evaluation I')
					OR (@Term_Id = 2 AND STM.SchoolWise_Test_Name IN ('Evaluation II', 'Evaluation 2'))
				)
				AND OPS.IsPublished = 1
		)
		BEGIN
			SET @IsPublihsed = 1;
		END
	END

	-- Use temp table instead of table variable for better cardinality estimates
	CREATE TABLE #tblStudentDetails
	(
		YearWise_Student_Id   INT,
		School_Name           NVARCHAR(50),
		School_Address        NVARCHAR(300),
		SchoolTelephoneNo     NVARCHAR(30),
		SchoolMobileNo        NVARCHAR(30),
		SchoolEmailAddress    NVARCHAR(100),
		AcademicYear          NVARCHAR(20),
		Class                 NVARCHAR(30),
		Section               NVARCHAR(10),
		Original_Standard_Id  INT,
		Original_Division_Id  INT,
		StudentName           NVARCHAR(100),
		DOB                   NVARCHAR(50),
		ResidentalAddress     NVARCHAR(200),
		StudentTelephoneNO    NVARCHAR(30),
		Roll_No               INT,
		AdmissionNo           NVARCHAR(20),
		UDISENumber           NVARCHAR(100),
		ApaarId               NVARCHAR(100),
		StudentPhoto          VARBINARY(MAX)  -- Changed from IMAGE (deprecated) to VARBINARY(MAX)
	);

	-- Insert Student Details
	INSERT INTO #tblStudentDetails
	SELECT  
		YSD.YearWise_Student_Id,
		SM.School_Name,
		SM.Address + ' ,' + SM.Address2 + ', ' + SM.City + ', ' + SM.Pincode AS School_Address,
		SM.Phone_Number + '/ ' + SM.Phone_Number2 AS SchoolTelephoneNo,
		'9881740404/ 9665320888' AS SchoolMobileNo,
		SM.Email AS SchoolEmailAddress,
		(CAST(YEAR(SAYM.Start_date) AS NVARCHAR(4)) + N'-' + CAST(RIGHT(YEAR(SAYM.End_Date), 2) AS NVARCHAR(4))) AS AcademicYear, 
		VSD.Standard_Name AS Class,
		VSD.Division_Name AS Section,
		VSD.Original_Standard_Id,
		VSD.Original_Division_Id,
		VBSD.StudentName,
		FORMAT(VBSD.DOB, 'dd-MMM-yyyy') AS DOB,
		VBSD.Address AS ResidentalAddress,
		VBSD.Mobile_Number + ', ' + VBSD.Mobile_Number2 AS StudentTelephoneNO,
		YSD.Roll_No,
		VBSD.FormNumber AS AdmissionNo,
		VBSD.UDISENumber,
		SAD.ApaarId,
		Photo_file_Path_Image AS StudentPhoto
	FROM vw_BaseStudentDetails VBSD
	INNER JOIN StudentAdditionalDetails SAD
		ON VBSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
	INNER JOIN YearWise_Student_Details YSD
		ON VBSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN School_Master SM
		ON SM.School_Id = YSD.School_Id
	INNER JOIN vw_standard_division VSD
		ON VSD.Standard_Id = YSD.Standard_Id
		AND VSD.Division_Id = YSD.Division_id
	INNER JOIN SchoolWise_Academic_Year_Master SAYM
		ON SAYM.Academic_Year_ID = YSD.Academic_Year_ID
	WHERE YSD.Academic_Year_ID = @Academic_Year_Id
		AND YSD.School_Id = @School_Id
		AND VSD.Standard_Id = @Standard_Id
		AND VSD.Division_Id = @Division_Id
		AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
		AND VBSD.Is_Deleted = 'N'
		AND YSD.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND @IsPublihsed = 1
		AND SAD.IsDeleted = 0;

	-- Create index on temp table for better join performance
	CREATE CLUSTERED INDEX IX_tblStudentDetails_StudentId ON #tblStudentDetails (YearWise_Student_Id);

	DECLARE @ClassTeacherName NVARCHAR(150) = '';

	SELECT @ClassTeacherName = BTD.TeacherName
	FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
	INNER JOIN vw_BaseTeacherDetails BTD
		ON SSDTAM.Teacher_Id = BTD.Teacher_Id
		AND SSDTAM.Academic_Year_Id = BTD.academic_year_id
	WHERE SSDTAM.School_Id = @School_Id
		AND SSDTAM.Academic_Year_Id = @Academic_Year_Id
		AND SSDTAM.Is_Deleted = 'N'
		AND SSDTAM.Is_ClassTeacher = 'Y'
		AND SSDTAM.Standard_Id = @Standard_Id
		AND SSDTAM.Division_Id = @Division_Id
		AND BTD.Is_Deleted = 'N';

	-- Result Set 1: Student details
	SELECT *, @ClassTeacherName AS ClassTeacherName, @Term_Id AS TermId
	FROM #tblStudentDetails
	ORDER BY YearWise_Student_Id;

	-- Result Set 2: Student Observations with Term1/Term2 grades
	-- Materialize the observation set ONCE into an indexed temp table so the
	-- Term1/Term2 pivot is a cheap indexed self-join instead of re-running the
	-- entire multi-table join twice (root cause of the 77% plan cost).
	-- The target-student filter is enforced by INNER JOIN #tblStudentDetails,
	-- so the (YearWise_Student_Id = @Student_Id OR @Student_Id = 0) predicate is removed.
	SELECT  
		YSD.YearWise_Student_Id, 
		OS.SortOrder AS SkillSortOrder, 
		OS.Name AS SkillName, 
		OP.SortOrder AS ParameterSortOrder, 
		OP.Parameter AS ParameterName, 
		UPPER(OG.Name) AS Grade,
		UPPER(SM.Subject_Name) AS Subject_Name,
		SSSM.Sort_Order AS SubjectSortOrder,
		CASE
			WHEN OG.Name = '0' THEN 'NA'
			WHEN TRY_CAST(OG.Name AS INT) BETWEEN 1 AND 3 THEN 'Beginner'
			WHEN TRY_CAST(OG.Name AS INT) BETWEEN 4 AND 7 THEN 'Progressing'
			WHEN TRY_CAST(OG.Name AS INT) BETWEEN 8 AND 10 THEN 'Proficient'
			ELSE OG.Name
		END AS TermGrade,
		OP.SkillId,
		SOD.ParameterId,
		STM.Term_Id
	INTO #StudentObservations
	FROM YearWise_Student_Details YSD
	INNER JOIN #tblStudentDetails TSD
		ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
	INNER JOIN ObservationSkills OS
		ON YSD.Standard_Id = OS.StandardId
	INNER JOIN ObservationParameters OP
		ON OP.SkillId = OS.Id
	INNER JOIN StudentObservationDetails SOD
		ON SOD.StudentId = YSD.YearWise_Student_Id
		AND OP.Id = SOD.ParameterId
	INNER JOIN ObservationGrades OG
		ON SOD.GradeId = OG.Id
	INNER JOIN StandardWiseGradeMaster SGM
		ON OG.Id = SGM.GradeId
	INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
	INNER JOIN ObservationSubmissionStatus OSS
		ON OS.SubjectId = OSS.SubjectId
		AND VSD.SchoolWise_Standard_Division_Id = OSS.StdDivId
		AND SOD.TestId = OSS.TestId
	INNER JOIN Subject_Master SM
		ON SM.Subject_Id = OS.SubjectId
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON SM.Subject_Id = SSSM.Subject_Id
		AND YSD.Standard_Id = SSSM.Standard_Id
	INNER JOIN SchoolWise_Test_Master STM
		ON SOD.TestId = STM.SchoolWise_Test_Id
		AND SOD.AcademicYearId = STM.academic_year_id
	WHERE OS.AcademicYearId = @Academic_Year_Id
		AND OS.SchoolId = @School_Id
		AND OS.StandardId = @Standard_Id
		AND YSD.Is_Deleted = 'N'
		AND OS.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND SOD.IsDeleted = 0
		AND OG.IsDeleted = 0
		AND OSS.IsDeleted = 0
		AND OSS.IsSubmitted = 1
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND (STM.Term_Id = @Term_Id OR @Term_Id = 2)
		AND STM.Is_Deleted = 'N'
		AND SGM.IsDeleted = 0
		AND SGM.StandardId = @Standard_Id
	OPTION (RECOMPILE);

	CREATE CLUSTERED INDEX IX_StudentObservations
		ON #StudentObservations (YearWise_Student_Id, SkillId, ParameterId, Term_Id);

	SELECT SO1.YearWise_Student_Id, 
		SO1.SkillSortOrder, 
		SO1.SkillName, 
		SO1.ParameterSortOrder, 
		SO1.ParameterName, 
		SO1.Grade,
		SO1.Subject_Name,
		SO1.SubjectSortOrder,
		SO1.TermGrade AS Term1Grade,
		ISNULL(SO2.TermGrade, '-') AS Term2Grade
	FROM #StudentObservations SO1
	LEFT JOIN #StudentObservations SO2
		ON SO1.YearWise_Student_Id = SO2.YearWise_Student_Id
		AND SO1.SkillId = SO2.SkillId
		AND SO1.ParameterId = SO2.ParameterId
		AND SO2.Term_Id = 2
	WHERE SO1.Term_Id = 1;

	--and SO1.Subject_Name = 'English'
	--order by SkillName,ParameterName

	-- Result Set 3: Summary Grade Details with Term1/Term2
	-- Same optimization as RS2: materialize ONCE into an indexed temp table,
	-- then do a cheap indexed self-join for the Term1/Term2 pivot.
	-- Target-student filter enforced by INNER JOIN #tblStudentDetails.
	SELECT  
		YSD.YearWise_Student_Id,
		SM.Subject_Name,
		SSSM.Sort_Order AS SubjectSortOrder,
		OG.Name AS TermGrade,
		SM.Subject_Id,
		STM.Term_Id
	INTO #SummaryGradeDetails
	FROM YearWise_Student_Details YSD
	INNER JOIN #tblStudentDetails TSD
		ON YSD.YearWise_Student_Id = TSD.YearWise_Student_Id
	INNER JOIN StudentsObservationSummaryGradeDetails SBSGD
		ON SBSGD.YearwiseStudentId = YSD.YearWise_Student_Id
	INNER JOIN ObservationGrades OG
		ON SBSGD.GradeId = OG.Id
	INNER JOIN StandardWiseGradeMaster SGM
		ON OG.Id = SGM.GradeId
	INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
	INNER JOIN Subject_Master SM
		ON SM.Subject_Id = SBSGD.SubjectId
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON SM.Subject_Id = SSSM.Subject_Id
		AND YSD.Standard_Id = SSSM.Standard_Id
	INNER JOIN SchoolWise_Test_Master STM
		ON SBSGD.TestId = STM.SchoolWise_Test_Id
		AND SBSGD.AcademicYearId = STM.academic_year_id
	INNER JOIN StudentsObservationSummaryGradeSubmitDetails SOSGED
		ON SBSGD.SubjectId = SOSGED.SubjectId
		AND SBSGD.TestId = SOSGED.TestId
		AND VSD.SchoolWise_Standard_Division_Id = SOSGED.StandardDivisionId
	WHERE SBSGD.AcademicYearId = @Academic_Year_Id
		AND SBSGD.SchoolId = @School_Id
		AND VSD.Standard_Id = @Standard_Id
		AND YSD.Is_Deleted = 'N'
		AND SBSGD.IsDeleted = 0
		AND OG.IsDeleted = 0
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND (STM.Term_Id = @Term_Id OR @Term_Id = 2)
		AND STM.Is_Deleted = 'N'
		AND SOSGED.IsDeleted = 0
		AND SOSGED.IsSubmitted = 1
		AND SGM.IsDeleted = 0
		AND SGM.StandardId = @Standard_Id
	OPTION (RECOMPILE);

	CREATE CLUSTERED INDEX IX_SummaryGradeDetails
		ON #SummaryGradeDetails (YearWise_Student_Id, Subject_Id, Term_Id);

	SELECT SGD1.YearWise_Student_Id,
		SGD1.Subject_Name,
		SGD1.SubjectSortOrder,
		SGD1.TermGrade AS Term1Grade,
		ISNULL(SGD2.TermGrade, '-') AS Term2Grade
	FROM #SummaryGradeDetails SGD1
	LEFT JOIN #SummaryGradeDetails SGD2
		ON SGD1.YearWise_Student_Id = SGD2.YearWise_Student_Id
		AND SGD1.Subject_Id = SGD2.Subject_Id
		AND SGD2.Term_Id = 2
	WHERE SGD1.Term_Id = 1;

	CREATE TABLE #tblFinalResult
	(
		StudentId INT,
		SubjectId INT,
		SubjectName NVARCHAR(100),
		TotalMarksScored nvarchar(50),
		TestId INT,
		SchoolwiseTestName NVARCHAR(100),
		TermdId INT
	)

	insert into #tblFinalResult
	exec usp_GetStudentMarksForProgressReport_PPSH @School_Id, @Academic_Year_Id, @Student_Id, @Standard_Id, @StdDivId, @Term_Id

	select TFR.StudentId as Yearwise_Student_Id,
			sssm.Sort_Order as SubjectSortOrder,
			tfr.SubjectName,
			tfr.TestId as TestSortOrder,
			tfr.SchoolwiseTestName as TestName,
			tfr.TotalMarksScored as Marks
	from #tblFinalResult TFR
	inner join SchoolWise_Standard_Subject_Master sssm
	on tfr.SubjectId = sssm.Subject_Id
	where sssm.School_Id = @School_Id
	and sssm.academic_year_id = @Academic_Year_Id
	and sssm.Is_Deleted = 'N'
	AND SSSM.Standard_Id = @Standard_Id
		OPTION (RECOMPILE);

	-- Cleanup temp tables
	DROP TABLE #tblStudentDetails;
	DROP TABLE #StudentObservations;
	DROP TABLE #SummaryGradeDetails;
	--DROP TABLE #ExamStatus;
	--DROP TABLE #tblMarkDetails;
	--DROP TABLE #tblResult;
	drop table #tblFinalResult

END
