/****** Object:  StoredProcedure [dbo].[usp_GetLeaveCategoryDetails]    Script Date: 13-02-2026 10:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetLeaveCategoryDetails]
@Id INT,
@SchoolId INT,
@UserId INT,
@LoginUserId INT
AS
BEGIN
	
	DECLARE @IsFinalApprover BIT

	SELECT @IsFinalApprover = IsFinalApprover
	  FROM LeaveApprovalConfigurationDetails
	 WHERE IsDeleted = 0
	   AND SchoolId = @SchoolId
	   AND ReportingUserId = @LoginUserId
	   AND UserId = (
						SELECT UserId
						  FROM UserLeaveDetails
						 WHERE SchoolId = @SchoolId
						   AND IsDeleted = 0
						   AND Id = @Id
					)

	   DECLARE @Remark NVARCHAR(2000) = ''

	    SELECT @Remark = Remark
	      FROM LeaveApprovalDetails
		 WHERE UserLeaveDetailsId = @Id
		   AND SchoolId = @SchoolId
		   AND IsDeleted = 0
		   AND ReportingUserId = @LoginUserId

		   
		   DECLARE @LastApproverUserId INT = 0

		SELECT  TOP 1 @LastApproverUserId = ACD.ReportingUserId
		FROM UserLeaveDetails ULD
		INNER JOIN LeaveApprovalConfigurationDetails ACD
		ON ACD.UserId = ULD.UserId
		WHERE ULD.Id = @Id
		AND ULD.IsDeleted = 0
		AND ACD.UserId = @UserId
		AND ACD.IsDeleted = 0
		AND ACD.SchoolId = @SchoolId
		AND ACD.IsFinalApprover = 1
		ORDER BY ACD.ApproverSortOrder DESC

        SELECT ULD.Id,
 			   ULD.UserId, 
			   ULD.LeaveId, 
			   LS.Status, 
			   ULD.StartDate, 
			   ULD.ChargeHandoverTo,
			   ULD.EndDate,
			   ULD.TotalDays, 
			   ULD.Description, 
			   ULD.StatusId, 
			   APU.UserName + ( APU.Designation) as UserName,
			   ISNULL(@IsFinalApprover,0) IsFinalApprover,
			   ISNULL(@LastApproverUserId,0)  AS LastApproverUserId,
               @Remark AS ApproverRemark,
			   ISNULL(ULD.Attachment,'') As Attachment
		  FROM UserLeaveDetails ULD WITH(NOLOCK)
	INNER JOIN LeaveStatuses LS WITH(NOLOCK)
			ON ULD.StatusId = LS.Id
	INNER JOIN vw_AllPayrollUsers APU WITH(NOLOCK)
			ON ULD.UserId = APU.UserId
		 WHERE ULD.SchoolId = @SchoolId
		   AND ULD.Id = @Id
		   AND ULD.IsDeleted = 0	
		   AND LS.IsDeleted = 0
END