/****** Object:  StoredProcedure [dbo].[usp_GetNextYearFeePaymentDetails]    Script Date: 13-02-2026 17:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================
-- Author:		Sachin
-- Create date: 24-Mar-2018
-- Description:	This USP is used to return next year fee payment details.
-- =========================================================================
ALTER PROCEDURE [dbo].[usp_GetNextYearFeePaymentDetails]
    @School_Id INT,
	@AcademicYearId INT,
	@FromDate DATE,
	@ToDate DATE,
	@FeeCategoryId INT,
	@IncludeConcession NVARCHAR(10),
	@Original_Fee_Type_Id INT = 0,
	@Standard_Id INT,
	@PayableFor NVARCHAR(50) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if @PayableFor is null
		set @PayableFor = ''

	if @Original_Fee_Type_Id is null
		set @Original_Fee_Type_Id = 0

	DECLARE @CurrentAcademicYearId INT

	SELECT @CurrentAcademicYearId = Academic_Year_ID
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Is_Deleted= 'N'
	AND Is_Current_Year = 'Y'

   DECLARE @tblStudentDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		StudentID INT,
		SerialNo INT
	)

	DECLARE @tblFeeDetails AS TABLE
	(
		StudentId INT,
		SerialNo INT,
		ClassName NVARCHAR(50),
		EnrolmentNumber NVARCHAR(50),
		Roll_No INT,
		StudentName NVARCHAR(100),
		PaidDate DATE,
		Amount INT,
		PaymentMethod NVARCHAR(100),
		TransactionNo NVARCHAR(50),
		BankName NVARCHAR(100),
		ElectronicPaymentType NVARCHAR(20),
        Payable_For NVARCHAR(100),
		SortOrder INT,
		ChallanNo INT,
		FeeType NVARCHAR(100),
		OriginalFeeTypeId INT,
		Standard_Name NVARCHAR(50),
		AccountHeader NVARCHAR(500),
		AccountHeaderId INT
	)

	DECLARE @Id INT,
			@StudentID INT,
			@SerialNo INT,
			@ChequeXml XML,
			@TrxnNo NVARCHAR(50),
			@BankName NVARCHAR(100),
			@PaymentMethod NVARCHAR(100),
			@NetBankingId INT,
			@CardPayment XML,
			@ElectronoicPayment xml,
			@FeeType NVARCHAR(100),
			@ElectronicPaymentType NVARCHAR(20)

	SELECT @FeeType = Fee_Type
	FROM schoolwise_fee_type_Configuration
	where Original_Fee_Type_Id = @Original_Fee_Type_Id
	and is_deleted = 'N'
	and academic_year_id  = @AcademicYearId 

	if @FeeType = NULL
		set @FeeType = ''

	IF @FeeCategoryId = 1
	BEGIN
			INSERT INTO @tblStudentDetails
			SELECT StudentID, 
			       SerialNo
			  FROM PaidFeeDetailsOfNextYear WITH(NOLOCK)
			 WHERE School_ID = @School_Id
			   AND AcademicYearID = @AcademicYearId
			   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@FromDate)
			   AND CONVERT(DATE,Paid_Date) <= CONVERT(DATE,@ToDate)
			   AND Is_Deleted = 0
			   and (Fee_Type = @FeeType or @Original_Fee_Type_Id = 0)
			   and (Payable_For = @PayableFor or @PayableFor = '')
			   AND IsConcessionFee = 0
			   AND (@IncludeConcession='1' OR(@IncludeConcession='0' AND SerialNo NOT IN (select SerialNo from PaidFeeDetailsOfNextYear where School_ID = @School_Id  AND AcademicYearID = @AcademicYearId and Is_Deleted = 0 and IsConcessionFee = 1)))
		  GROUP BY StudentID, SerialNo
  		  ORDER BY SerialNo
		  
		  WHILE EXISTS
			(
				SELECT TOP 1 1
				FROM @tblStudentDetails
			)
			BEGIN
				SELECT TOP 1 @Id = Id,	
					         @StudentID = StudentID, 
							 @SerialNo =SerialNo
				 FROM @tblStudentDetails
			 ORDER BY ID DESC

				SELECT @ChequeXml = ChequeDetails,
					   @NetBankingId = NetBankingPaymentTransactionID,
					   @CardPayment = CardPaymentDetails, 
					   @ElectronoicPayment = ElectronicPaymentDetails
				  FROM PaidFeeDetailsOfNextYear WITH(NOLOCK)
				 WHERE School_ID = @School_Id
				   AND AcademicYearID = @AcademicYearId
				   AND Is_Deleted = 0
				   AND StudentID = @StudentID
				   AND IsConcessionFee = 0
				   AND SerialNo = @SerialNo
				   and (Fee_Type = @FeeType or @Original_Fee_Type_Id = 0)
					and (Payable_For = @PayableFor or @PayableFor = '')
				   AND (@IncludeConcession='1' OR(@IncludeConcession='0' 
			   AND SerialNo NOT IN (select SerialNo from PaidFeeDetailsOfNextYear where School_ID = @School_Id  AND AcademicYearID = @AcademicYearId and Is_Deleted = 0 and IsConcessionFee = 1)))

				IF @ChequeXml IS NOT NULL
				BEGIN
					SELECT @TrxnNo = T.c.value('./@ChequeNo','NVARCHAR(50)'),
						   @BankName = SBM.Bank_Name
					  FROM @ChequeXml.nodes('ChequeDetails/ChequeDetails') T(c)
				INNER JOIN Schoolwise_Bank_Master SBM
						ON T.c.value('./@BankID','INT') = SBM.Schoolwise_Bank_Id
					 WHERE SBM.Is_Deleted = 'N'
					  AND SBM.School_Id = @School_Id

					SET @PaymentMethod = 'Cheque'
				END
				ELSE IF @NetBankingId IS NOT NULL AND @NetBankingId <> 0
				BEGIN
					SELECT @TrxnNo = TPSLTransactionID,
						   @BankName = NBD.RegisterdBankName
					  FROM NetBankingPaymentTransactions NBPT WITH(NOLOCK)
				INNER JOIN NetBankingBanksDetails NBD WITH(NOLOCK)
						ON NBPT.TransactionBankID = NBD.StudentFeeRegisteredBankId
					 WHERE NetBankingPaymentTransactionID = @NetBankingId
					   AND TransactionStatus = 'Y'

					SET @PaymentMethod = 'Netbanking'
				END
				else if @CardPayment IS NOT NULL 
				BEGIN
					SELECT @TrxnNo = T.c.value('./@CardNo','NVARCHAR(50)'),
						   @BankName = SBM.Bank_Name
					  FROM @CardPayment.nodes('CardDetails/CardDetails') T(c)
				INNER JOIN Schoolwise_Bank_Master SBM WITH(NOLOCK)
						ON T.c.value('./@BankID','INT') = SBM.Schoolwise_Bank_Id
					 WHERE SBM.Is_Deleted = 'N'
					   AND SBM.School_Id = @School_Id

					SET @PaymentMethod = 'Card Payment'
				END
				else if @ElectronoicPayment IS NOT NULL 
				BEGIN
					SELECT @TrxnNo = T.c.value('./@TxnNo','NVARCHAR(50)'),
						   @BankName = SBM.Bank_Name,
						   @ElectronicPaymentType=Ept.Type
                      FROM @ElectronoicPayment.nodes('ElectronicDetails/ElectronicDetails') T(c)
				INNER JOIN Schoolwise_Bank_Master SBM WITH(NOLOCK)
						ON T.c.value('./@BankID','INT') = SBM.Schoolwise_Bank_Id
				Inner join ElectronicPaymentTypes EPT WITH(NOLOCK)
				        ON T.c.value('./@ElectronicType','INT')=EPT.Id
					 WHERE SBM.Is_Deleted = 'N'
					   AND SBM.School_Id = @School_Id

					SET @PaymentMethod = 'Electronic Payment'
				END
				
				INSERT INTO @tblFeeDetails
				SELECT PFDNY.StudentID, 
					   SerialNo,
					   STD.Standard_Name,
					   Enrolment_Number,
					   YSD.Roll_No,
					   StudentName,
					   Paid_Date, 
					   PFDNY.Amount, 
					   @PaymentMethod,
					   @TrxnNo,
					   @BankName,
					   ISNULL(@ElectronicPaymentType,0) as ElectronicPaymentType,
					   PFDNY.Payable_For,
					   0,
					   ISNULL(ChallanNo,''),
					   Fee_Type,
					   OriginalFeeTypeId,
					   '',
					   (CASE WHEN Fee_Type = 'School Fees' AND (Standard_Name = 'NURSERY' OR Standard_Name ='LKG' OR Standard_Name ='UKG') THEN 'LITTLE ANGEL ACADEMIA PRIVATE LIMITED' 
					    WHEN Fee_Type = 'School Fees' AND (Standard_Name <> 'NURSERY' and Standard_Name <> 'LKG' and Standard_Name <> 'UKG') THEN 'SHANTINIKETAN' 
					    WHEN Fee_Type = 'Software Development Fees' THEN 'PRIME EDU' 
					    WHEN Fee_Type = 'E-Campus Fees' THEN 'EDUORBIT' 
					    WHEN Fee_Type = 'Transport Fees' THEN 'LITTLE ANGEL ACADEMIA PRIVATE LIMITED' 
					    WHEN PFDNY.Fee_Type = 'Mess Fees' THEN 'NUTRI FOODS' ELSE '' END) AS AccountHeader,
						CASE WHEN Fee_Type = 'School Fees' AND (Standard_Name = '1' OR Standard_Name ='LKG' OR Standard_Name ='UKG') THEN 1 
					    WHEN Fee_Type = 'School Fees' AND (Standard_Name <> '1' and Standard_Name <> 'LKG' and Standard_Name <> 'UKG') THEN 2
					    WHEN Fee_Type = 'Software Development Fees' THEN 3
					    WHEN Fee_Type = 'E-Campus Fees' THEN 4
					    WHEN Fee_Type = 'Transport Fees' THEN 5
					    WHEN PFDNY.Fee_Type = 'Mess Fees' THEN 6 ELSE 0 END AS AccountHeaderId
				  FROM PaidFeeDetailsOfNextYear PFDNY WITH(NOLOCK)
			INNER JOIN vw_BaseStudentDetails BSD WITH(NOLOCK)
					ON PFDNY.StudentID = BSD.SchoolWise_Student_Id
			Left Join YearWise_Student_Details YSD
			        on PFDNY.StudentID=YSD.Student_Id 
					AND YSD.Is_Deleted='N'
					and YSD.Academic_Year_ID = @CurrentAcademicYearId
			inner join
			(
				select PDNY.StudentID, sm1.Standard_Name
				from PaidFeeDetailsOfNextYear PDNY
				INNER JOIN YearWise_Student_Details YSD
				ON PDNY.StudentID = YSD.Student_Id
				INNER JOIN SchoolWise_Academic_Year_Master SAYM
				on ysd.Academic_Year_ID = saym.Academic_Year_ID
				and ysd.School_Id = saym.School_Id
				inner join Standard_Master sm
				on ysd.Standard_Id  = sm.Standard_Id
				inner join Standard_Master sm1
				on sm.NextOriginalStandardId = sm1.Original_Standard_Id
				WHERE PDNY.AcademicYearID = @AcademicYearId
				AND PDNY.Is_Deleted = 0
				AND PDNY.School_ID = @School_Id
				and saym.Is_Deleted = 'N'
				and saym.Is_Current_Year = 'Y'
				and sm.Is_Deleted = 'N'
				and sm1.Is_Deleted = 'N'
				and sm1.academic_Year_Id = @AcademicYearId
				group by PDNY.StudentID, sm1.Standard_Name
			)std
			ON PFDNY.StudentID = STD.StudentID
			LEFT OUTER JOIN ChallanDetailsForNextYear CDFNY
					ON PFDNY.Standard_FeeType_ID = CDFNY.StandardFeeTypeID
				   AND PFDNY.Payable_For = CDFNY.PayableFor
				   AND PFDNY.Fee_Type = CDFNY.FeeType
				   AND CDFNY.IsDeleted = 0
				   AND PFDNY.StudentId = CDFNY.SchoolwiseStudentId
				 WHERE PFDNY.School_ID = @School_Id
				   AND PFDNY.AcademicYearID = @AcademicYearId
				   AND PFDNY.Is_Deleted = 0
				   AND PFDNY.StudentID = @StudentID
   				   AND PFDNY.SerialNo = @SerialNo
	   			   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@FromDate)
				   AND CONVERT(DATE,Paid_Date) <= CONVERT(DATE,@ToDate)
				   and (Fee_Type = @FeeType or @Original_Fee_Type_Id = 0)
				   and (Payable_For = @PayableFor or @PayableFor = '')
				   AND IsConcessionFee = 0
				   AND (@IncludeConcession='1' OR(@IncludeConcession='0' 
			   AND SerialNo NOT IN (select SerialNo from PaidFeeDetailsOfNextYear where School_ID = @School_Id  AND AcademicYearID = @AcademicYearId and Is_Deleted = 0 and IsConcessionFee = 1)))
			  ORDER BY SerialNo

			  DELETE FROM @tblStudentDetails
				WHERE Id = @Id

				SET @ChequeXml = NULL
				SET @NetBankingId = 0
				SET @CardPayment = NULL
				SET @ElectronoicPayment = NULL
				SET @TrxnNo = ''
				SET @BankName = ''
				SET @PaymentMethod = ''
			END
	END
	ELSE
	BEGIN
		INSERT INTO @tblStudentDetails
			SELECT SchoolwiseStudentId, SerialNo
			  FROM PaidInternalFeeDetailsOfNextYear WITH(NOLOCK)
			 WHERE SchoolID = @School_Id
			   AND AcademicYearID = @AcademicYearId
			   AND CONVERT(DATE,PaidDate) >= CONVERT(DATE,@FromDate)
			   AND CONVERT(DATE,PaidDate) <= CONVERT(DATE,@ToDate)
			   AND IsDeleted = 0
		  GROUP BY SchoolwiseStudentId, SerialNo
		  ORDER BY SerialNo

		  WHILE EXISTS
			(
				SELECT TOP 1 1
				FROM @tblStudentDetails
			)
			BEGIN
				SELECT TOP 1 @Id = Id, 
					  @StudentID = StudentID, @SerialNo =SerialNo
				 FROM @tblStudentDetails
			ORDER BY ID DESC

				SELECT @ChequeXml = ChequeDetails,
					   @ElectronoicPayment = ElectronicDetails
				  FROM PaidInternalFeeDetailsOfNextYear WITH(NOLOCK)
				 WHERE SchoolID = @School_Id
				   AND AcademicYearID = @AcademicYearId
				   AND IsDeleted = 0
				   AND SchoolwiseStudentId = @StudentID
				   AND SerialNo = @SerialNo

				IF @ChequeXml IS NOT NULL
				BEGIN
					SELECT @TrxnNo = T.c.value('./ChequeNo[1]','NVARCHAR(50)'),
						   @BankName = SBM.Bank_Name
					  FROM @ChequeXml.nodes('InternalFeeChequeDetails') T(c)
				INNER JOIN Schoolwise_Bank_Master SBM WITH(NOLOCK)
						ON T.c.value('./BankId[1]','INT') = SBM.Schoolwise_Bank_Id
					 WHERE SBM.Is_Deleted = 'N'
					   AND SBM.School_Id = @School_Id

					SET @PaymentMethod = 'Cheque'
				END
			
				IF @ElectronoicPayment IS NOT NULL
				BEGIN
					
					DECLARE @TypeId INT,
							@DepositedBankId INT
					
					SELECT  @TrxnNo = T.c.value('./TransactionNumber[1]','NVARCHAR(20)'),
						    @TypeId = T.c.value('./TypeId[1]','INT'),
							@DepositedBankId = T.c.value('./DepositedBankId[1]','INT'),
							@BankName = SBM.Bank_Name,
                            @ElectronicPaymentType=Ept.Type
					  FROM @ElectronoicPayment.nodes('InternalFeeElectronicDetails') T(c)
				INNER JOIN Schoolwise_Bank_Master SBM WITH(NOLOCK)
						ON T.c.value('./BankId[1]','INT') = SBM.Schoolwise_Bank_Id
				Inner join ElectronicPaymentTypes EPT WITH(NOLOCK)
				        ON T.c.value('./@TypeId','INT')=EPT.Id
					 WHERE SBM.Is_Deleted = 'N'
					   AND SBM.School_Id = @School_Id

					SET @PaymentMethod = 'Electronic Payment'
				END

				INSERT INTO @tblFeeDetails
				SELECT PFDNY.SchoolwiseStudentId,
					   SerialNo, 
					   std.Standard_Name,
					   Enrolment_Number,
					    YSD.Roll_No,
					   StudentName,
					   PaidDate, 
					   PFDNY.Amount, 
					   @PaymentMethod,
					   @TrxnNo,
					   @BankName,
				       ISNULL(@ElectronicPaymentType,0) as ElectronicPaymentType,
					   PFDNY.PayableFor,
					   0,
					  ISNULL(ChallanNo,''),
					  PFDNY.FeeType,
					  OriginalFeeTypeId,
					  '',
					  CASE WHEN PFDNY.FeeType = 'School Fees' AND (Standard_Name = '1' OR Standard_Name ='LKG' OR Standard_Name ='UKG') THEN 'LITTLE ANGEL ACADEMIA PRIVATE LIMITED' 
						WHEN PFDNY.FeeType = 'School Fees' AND NOT(Standard_Name = '1' OR Standard_Name ='LKG' OR Standard_Name ='UKG') THEN 'SHANTINIKETAN' 
						WHEN PFDNY.FeeType = 'Software Development Fees' THEN 'PRIME EDU' 
						WHEN PFDNY.FeeType = 'E-Campus Fees' THEN 'EDUORBIT' 
						WHEN PFDNY.FeeType = 'Transport Fees' THEN 'LITTLE ANGEL ACADEMIA PRIVATE LIMITED' 
						WHEN PFDNY.FeeType = 'Mess Fees' THEN 'NUTRI FOODS' ELSE '' END AS AccountHeader,
					CASE WHEN PFDNY.FeeType = 'School Fees' AND (Standard_Name = '1' OR Standard_Name ='LKG' OR Standard_Name ='UKG') THEN 1 
					    WHEN PFDNY.FeeType = 'School Fees' AND (Standard_Name <> '1' and Standard_Name <> 'LKG' and Standard_Name <> 'UKG') THEN 2
					    WHEN PFDNY.FeeType = 'Software Development Fees' THEN 3
					    WHEN PFDNY.FeeType = 'E-Campus Fees' THEN 4
					    WHEN PFDNY.FeeType = 'Transport Fees' THEN 5
					    WHEN PFDNY.FeeType = 'Mess Fees' THEN 6 ELSE 0 END AS AccountHeaderId
				  FROM PaidInternalFeeDetailsOfNextYear PFDNY WITH(NOLOCK)
			INNER JOIN vw_BaseStudentDetails BSD WITH(NOLOCK)
					ON PFDNY.SchoolwiseStudentId = BSD.SchoolWise_Student_Id
					Left Join YearWise_Student_Details YSD
			        on PFDNY.SchoolwiseStudentId=YSD.Student_Id 
					AND YSD.Is_Deleted='N'
					and YSD.Academic_Year_ID = @CurrentAcademicYearId
			inner join
			(
				select PDNY.StudentID, sm1.Standard_Name
				from PaidFeeDetailsOfNextYear PDNY
				INNER JOIN YearWise_Student_Details YSD
				ON PDNY.StudentID = YSD.Student_Id
				INNER JOIN SchoolWise_Academic_Year_Master SAYM
				on ysd.Academic_Year_ID = saym.Academic_Year_ID
				and ysd.School_Id = saym.School_Id
				inner join Standard_Master sm
				on ysd.Standard_Id  = sm.Standard_Id
				inner join Standard_Master sm1
				on sm.NextOriginalStandardId = sm1.Original_Standard_Id
				WHERE PDNY.AcademicYearID = @AcademicYearId
				AND PDNY.Is_Deleted = 0
				AND PDNY.School_ID = @School_Id
				and saym.Is_Deleted = 'N'
				and saym.Is_Current_Year = 'Y'
				and sm.Is_Deleted = 'N'
				and sm1.Is_Deleted = 'N'
				and sm1.academic_Year_Id = @AcademicYearId
				group by PDNY.StudentID, sm1.Standard_Name
			)std
			ON PFDNY.SchoolwiseStudentId = STD.StudentID
			LEFT OUTER JOIN ChallanDetailsForNextYear CDFNY
					ON CDFNY.FeeType = PFDNY.FeeType
				   AND CDFNY.PayableFor = PFDNY.PayableFor
				   AND CDFNY.IsDeleted = 0
				 WHERE PFDNY.SchoolID = @School_Id
				   AND PFDNY.AcademicYearID = @AcademicYearId
				   AND PFDNY.IsDeleted = 0
				   AND CDFNY.IsDeleted = 0
				   AND PFDNY.SchoolwiseStudentId = @StudentID
				   AND PFDNY.SerialNo = @SerialNo
				   and (PFDNY.FeeType = @FeeType or @Original_Fee_Type_Id = 0)
				   and (PFDNY.PayableFor = @PayableFor or @PayableFor = '')
				   AND CONVERT(DATE,PaidDate) >= CONVERT(DATE,@FromDate)
			       AND CONVERT(DATE,PaidDate) <= CONVERT(DATE,@ToDate)
			  ORDER BY SerialNo

			  DELETE FROM @tblStudentDetails
				WHERE Id = @Id

				SET @ChequeXml = NULL
				SET @TrxnNo = ''
				SET @BankName = ''
				SET @PaymentMethod = ''
			END
	END

	UPDATE TFD
	SET SortOrder = SS.RowNo
	FROM @tblFeeDetails TFD
	INNER JOIN
	(
		SELECT ROW_NUMBER() OVER(ORDER BY Paiddate) as RowNo, Paiddate
		FROM
		(
			SELECT PaidDate
			FROM @tblFeeDetails
			GROUP BY PaidDate
		)S
	)SS
	ON TFD.PaidDate = SS.PaidDate 

	SELECT ClassName,
		   EnrolmentNumber, 
		   StudentName, 
		   PaidDate, 
		   sum(Amount) as Amount, 
		   CASE WHEN PaymentMethod IS NULL OR LTRIM(RTRIM(PaymentMethod)) = '' THEN 'Cash' ELSE PaymentMethod END AS PaymentMethod,
		   CASE WHEN TransactionNo IS NULL OR LTRIM(RTRIM(TransactionNo)) = '' THEN '-' ELSE TransactionNo  END AS TransactionNo, 
		   CASE WHEN BankName IS NULL OR LTRIM(RTRIM(BankName)) = '' THEN '-' ELSE BankName END AS BankName,
		   SerialNo,
		   SortOrder,
		   ChallanNo,
		   FeeType,
		   OriginalFeeTypeId,
		   Standard_Name,
		   AccountHeader,
		   AccountHeaderId,
		   Roll_No,
		   Payable_For,
		   ElectronicPaymentType
	 FROM @tblFeeDetails
  GROUP BY StudentId, 
		   SerialNo, 
		    ClassName,
		   EnrolmentNumber, 
		   StudentName,
		   PaidDate, 
		   SortOrder,
		   PaymentMethod, 
		   TransactionNo, 
		   BankName,
		   ChallanNo,
		   FeeType,
		   OriginalFeeTypeId,
		   Standard_Name,
		   AccountHeader,
		   AccountHeaderId,
		     Roll_No,
		   Payable_For,
		   ElectronicPaymentType
  ORDER BY SerialNo

END