/****** Object:  StoredProcedure [dbo].[usp_GetMarkingSystemProgressReport]    Script Date: 13-02-2026 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  Vipul A. Jadhav
-- Create date: 2 Aug 2012
-- Description: This Usp is used to get the details for the student grading system progress report.
-- =============================================  
ALTER PROCEDURE [dbo].[usp_GetMarkingSystemProgressReport]
 -- Add the parameters for the stored procedure here  
@School_Id INT,
@Academic_Year_Id INT,
@StudentId INT = NULL,
@Standard_Id INT,
@Division_Id INT,
@Term_Id INT,
@Note NVARCHAR(2000) = NULL,
@IsFromReportScreen INT = 0
AS  
BEGIN

SET NOCOUNT ON;  
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  

  CREATE TABLE #StudentDetail (
		Student_Id INT
		, Roll_Num INT
		, StudentName NVARCHAR(400)
		, DOB SMALLDATETIME
		--, Attendance INT
		, TotalPresent INT DEFAULT 0
		, TotalDays INT DEFAULT 0
		, Term1Present INT DEFAULT 0
		, Term1Total INT DEFAULT 0
		, Term2Present INT DEFAULT 0
		, Term2Total INT DEFAULT 0
		--, Total INT
		, Enrolment_Number NVARCHAR(100)
		, Remarks NVARCHAR(4000)
		, Term1Remarks NVARCHAR(4000) DEFAULT ''
		, Class NVARCHAR(100)
		, StandardName NVARCHAR(100) DEFAULT ''
		, AcademicYear NVARCHAR(100)
		, SchoolReopenDay SMALLDATETIME
		, PASS INT
		, StandardId INT
		, IsPassedAndPromoted BIT
		, SchoolId INT				
		, City NVARCHAR(50)
		, PinCode NVARCHAR(10)
		, PhNO NVARCHAR(20)
		, FaxNo NVARCHAR(20)
		, Email NVARCHAR(50)
		, Website NVARCHAR(100)
		, PrincipalSign IMAGE
		, School_Orgn_Name NVARCHAR(100) DEFAULT ''	
		, School_Name NVARCHAR(100) DEFAULT ''	
		, Address NVARCHAR(200) DEFAULT ''	
		, ClassTeacher NVARCHAR(150) DEFAULT ''
		, Height INT DEFAULT 0	
		, Weights INT DEFAULT 0	
		)
		
  if @Term_Id = 1
	exec Usp_GetStudentDetailsForProgressReport @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @Term_Id, @IsFromReportScreen  
  else
	exec Usp_ProgressReportStudentDetails @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @IsFinalResult = N'N'
  print 1
  
  IF @School_Id = 81 -- DSK
	exec USP_StudentTerm1ProgressReportForDSK @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
  else
    exec USP_StudentTerm1ProgressReport @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note
  
  IF @School_Id = 81 -- DSK
	exec USP_SubReportForProgressGraphForDSK @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @Term_Id
  ELSE
	exec USP_SubReportForProgressGraph @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Note, @Term_Id
  
  exec USP_GradeDetails @School_Id, @Academic_Year_Id, @StudentId, @Standard_Id, @Division_Id, @Term_Id, @Note

  SELECT School_Name, School_Orgn_Name
  from School_Master
  WHERE School_Id = @School_Id
  and Is_Deleted = 'N'
  
  DROP TABLE #StudentDetail
END