/****** Object:  StoredProcedure [dbo].[usp_GetLastYearPendingFees]    Script Date: 4/11/2026 10:19:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ================================================================================================
-- Author:		Anu
-- Create date: 23 Sep 2008
-- Description:	This stored procedure is used to fetch records for fee details of student. 
-- Modification Log
-- Date			Author		Description
-- 04-Feb-2012  Poonam		Temporary table added, Which contains Records from 
--							Schoolwise_Student_Fee_Details for perticular student.
--							Where ever view or table Schoolwise_Student_Fee_Details is used
--							New temprary table referance is added and accordingly queries are 
--							modified.
-- ================================================================================================
ALTER PROCEDURE [dbo].[usp_GetLastYearPendingFees]
	@StudentId INT,
	@CurrentDate DATETIME,
	@SchoolId INT,
	@AcademicYearId INT,
	@Count NVARCHAR(100) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @StudentFeeId INT,
			@FeeType NVARCHAR(50),
			@PayableFor NVARCHAR(200),
			@AmtPaid INT,
			@AmtPayable INT,
			@DueDate DATETIME,
			@ReceiptNo NVARCHAR(50),
			@TotalLateFee INT,
			@TotalConcessionAmt INT,
			@RefundAmt INT,
			@LastEntry INT,
			@SchoolwiseStudentID INT,
			@IsNewStudent BIT

	DECLARE @tblFees AS TABLE
	(
		FeeType NVARCHAR(100)
	)
	
	declare @RestrictSpecificFees bit = 0			
	IF @SchoolId = 71
	BEGIN
		--SET @RestrictSpecificFees = 1

		INSERT INTO @tblFees
		SELECT 'Tuition Fee' UNION
		SELECT 'Term Fee' UNION
		SELECT 'Library and Laboratory Fee'
	END
	
	SELECT @SchoolwiseStudentID = Student_Id
	  FROM YearWise_Student_Details
	 WHERE YearWise_Student_Id = @StudentId

	DECLARE @StudentIDs AS TABLE -- YEarwise Student IDS
	(
		 StudID INT
	)

	INSERT INTO @StudentIDs
	SELECT YearWise_Student_Id
	  FROM YearWise_Student_Details
	 WHERE Student_Id = @SchoolwiseStudentID
	
CREATE TABLE #PreviousAcademicYears--to get PreviousYears
( 
	PreviousAcademicYearId		INT 	
)

IF @SchoolId = 71 OR  @SchoolId = 11 --PPSN
BEGIN
INSERT INTO #PreviousAcademicYears
	 SELECT Academic_year_id
       FROM SchoolWise_Academic_Year_Master WITH(NOLOCK)
	  WHERE School_Id = @SchoolId
        AND Academic_Year_Id < @AcademicYearId  
END
ELSE
BEGIN
INSERT INTO #PreviousAcademicYears
	 SELECT  Academic_year_id
       FROM SchoolWise_Academic_Year_Master WITH(NOLOCK)
	  WHERE School_Id = @SchoolId
        AND Academic_Year_Id < @AcademicYearId  
		order by Academic_year_id desc
END
  
CREATE TABLE #AcademicYearsForPendingFee--To get AcademicYears For Pending Fee
( 
	AcademicYearId		INT 	
)
	INSERT INTO #AcademicYearsForPendingFee
	     SELECT SSFD.Academic_Year_Id 
           FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)   
         INNER JOIN YearWise_Student_Details YSD
        oN YSD.YearWise_Student_Id=SSFD.Student_Id
           INNER JOIN SchoolWise_Student_Master SSM
            On YSD.Student_Id=SSM.SchoolWise_Student_Id
          where   SSM.SchoolWise_Student_Id=@SchoolwiseStudentID
                 AND SSFD.Academic_Year_Id IN (SELECT * FROM #PreviousAcademicYears)
              AND SSFD.[Debit/Credit]='Debit'
              AND SSFD.Is_Deleted='N'
			  AND (@RestrictSpecificFees = 0 OR (@RestrictSpecificFees = 1 AND FEE_TYPe in (select FeeType from @tblFees)))
	          AND SSFD.Schoolwise_Student_Fee_Id NOT IN
											(
												SELECT Student_Fee_Id 
												  FROM Schoolwise_Student_Fee_Details WITH(NOLOCK)
												 WHERE [Debit/Credit] = 'Credit' 
                                                   AND Student_Id=YSD.YearWise_Student_Id
                                                   AND  SSFD.Academic_Year_Id IN (SELECT * FROM #PreviousAcademicYears) 
                                                   AND is_deleted ='N'
												   and Student_Fee_Id is not null
												   and Student_Fee_Id <> 0
											)
																
CREATE TABLE #AcademicYears--To get Academic Years.
(
	Schoolwise_Student_Id	INT,
	AcademicYear			NVARCHAR(200)
)

	IF EXISTS(SELECT TOP 1 1 FROM #AcademicYearsForPendingFee WITH(NOLOCK))
		BEGIN
			INSERT INTO #AcademicYears
				 SELECT SSFD.Student_Id,
					    (CASE WHEN COUNT(DISTINCT SAYM.Academic_Year_ID) > 1 THEN 'academic years ' ELSE 'academic year ' END) 
						+ STUFF(
									(
										SELECT DISTINCT ', ' + CAST(DATEPART(YEAR, Start_date) AS NVARCHAR)  + ' - ' + CAST(DATEPART(YEAR, End_date) AS NVARCHAR) 
									      FROM SchoolWise_Academic_Year_Master AS SAYM 
										 WHERE SAYM.Academic_Year_ID IN (SELECT DISTINCT AcademicYearId FROM #AcademicYearsForPendingFee)
										   AND SAYM.School_Id = @SchoolId
										FOR XML PATH('')
									),
									1, 2, ''
								) AS AcademicYear
				   FROM SchoolWise_Academic_Year_Master AS SAYM
							INNER JOIN Schoolwise_Student_Fee_Details AS SSFD
								ON SAYM.Academic_Year_ID = SSFD.Academic_Year_Id 
								
				  WHERE SAYM.Academic_Year_ID IN (SELECT DISTINCT AcademicYearId FROM #AcademicYearsForPendingFee)
							   AND SSFD.Student_Id IN (SELECT StudID
										 FROM @StudentIDs)
							AND SAYM.School_Id = @SchoolId
							AND (@RestrictSpecificFees = 0 OR (@RestrictSpecificFees = 1 AND FEE_TYPe in (select FeeType from @tblFees)))
			   GROUP BY SSFD.Student_Id
		END

	DECLARE @tempStuFeeDetails AS TABLE
	(
		 Student_Id INT,
		 Schoolwise_Student_Fee_Id INT,
		 Student_Fee_Id INT,
		 Payable_For NVARCHAR(200),
		 Amount INT,
		 Paid_Date DATETIME,
		 Fee_Type NVARCHAR(50),
		 [Debit/Credit] NVARCHAR(10),
		 Receipt_Number NVARCHAR(50),
		 Serial_Number INT,
		 Is_Cheque_Bounce CHAR(1),
		 Std_FeeType_Id INT,
		 Is_Concession_Fee CHAR(1),
		 RefundFeeDetailsID INT,
		 Is_Arrears BIT,
		 DebitStudentFee_Id INT,
		 School_Id INT,
		 Academic_Year_ID INT,
		 AcademicYear NVARCHAR(200)
	)

	-- Get Specific Student Details in Table variable which will be used trough out the procedure.
	INSERT INTO @tempStuFeeDetails
	(
		Student_Id,
		Schoolwise_Student_Fee_Id,
		Student_Fee_Id,
		Payable_For,
		Amount,
		Paid_Date,
		Fee_Type,
		[Debit/Credit],
		Receipt_Number,
		Serial_Number,
		Is_Cheque_Bounce,
		Std_FeeType_Id,
		Is_Concession_Fee,
		RefundFeeDetailsID,
		Is_Arrears,
		DebitStudentFee_Id,
		School_Id,
		Academic_Year_ID,
		AcademicYear
	)
	SELECT SSTUFEED.Student_Id
		   ,SSTUFEED.Schoolwise_Student_Fee_Id
		   ,SSTUFEED.Student_Fee_Id
		   ,SSTUFEED.Payable_For
		   ,SSTUFEED.Amount
		   ,SSTUFEED.Paid_Date
		   ,SSTUFEED.Fee_Type
		   ,SSTUFEED.[Debit/Credit]
		   ,SSTUFEED.Receipt_Number
		   ,SSTUFEED.Serial_Number
		   ,SSTUFEED.Is_Cheque_Bounce
		   ,SSTUFEED.Std_FeeType_Id
		   ,SSTUFEED.Is_Concession_Fee
		   ,SSTUFEED.RefundFeeDetailsID
		   ,SSTUFEED.Is_Arrears
		   ,SSTUFEED.DebitStudentFee_Id
		   ,SSTUFEED.School_Id
		   ,SSTUFEED.Academic_Year_Id
		   ,AY.AcademicYear

	  FROM dbo.Schoolwise_Student_Fee_Details AS SSTUFEED
	  INNER JOIN #AcademicYears AY
	  ON SSTUFEED.Student_Id=AY.Schoolwise_Student_Id
	 WHERE (SSTUFEED.Is_Deleted = N'N')   
		  -- AND (SSTUFEED.RefundFeeDetailsID IS NULL 
		   --OR SSTUFEED.RefundFeeDetailsID = 0) 
		   --AND (SSTUFEED.Amount > 0)
		   AND (@RestrictSpecificFees = 0 OR (@RestrictSpecificFees = 1 AND FEE_TYPe in (select FeeType from @tblFees)))
		   AND SSTUFEED.Student_Id IN (SELECT StudID
										 FROM @StudentIDs)
	
	-- Here we removes fee types whose fees are refunded for last year. Because we do not consider them in a pending fee for next year.
	DECLARE @tblRefunded as TABLE
	(
		 Student_Id INT,
		 Schoolwise_Student_Fee_Id INT,
		 Student_Fee_Id INT,		 
		 Amount INT,		 
		 RefundFeeDetailsID INT				 
	)									 
	
	INSERT INTO @tblRefunded
	SELECT SSTUFEED.Student_Id
		   ,SSTUFEED.Schoolwise_Student_Fee_Id
		   ,SSTUFEED.Student_Fee_Id		   
		   ,SSTUFEED.Amount		   
		   ,SSTUFEED.RefundFeeDetailsID		   		   
	  FROM dbo.Schoolwise_Student_Fee_Details AS SSTUFEED
	 WHERE (SSTUFEED.Is_Deleted = N'N')   		  
		   AND SSTUFEED.RefundFeeDetailsID IS NOT NULL 		   
		   AND SSTUFEED.Student_Id IN (SELECT StudID
										 FROM @StudentIDs)

	
	DECLARE @CntFee INT=0,@SchoolwiseStudentFeeId INT,@Amt INT,@StudFeeId INT

	SELECT @CntFee=COUNT(*) FROM @tblRefunded
	WHILE(@CntFee>0)
	BEGIN
		SELECT TOP 1 @SchoolwiseStudentFeeId=Schoolwise_Student_Fee_Id,@StudFeeId=Student_Fee_Id,@Amt=Amount FROM @tblRefunded
		
		DELETE FROM @tempStuFeeDetails WHERE Schoolwise_Student_Fee_Id=@SchoolwiseStudentFeeId AND Amount=@Amt
		DELETE FROM @tempStuFeeDetails WHERE Student_Fee_Id=@StudFeeId  AND Amount=@Amt
		
		DELETE FROM @tblRefunded WHERE Schoolwise_Student_Fee_Id=@SchoolwiseStudentFeeId AND Student_Fee_Id=@StudFeeId
		SET @SchoolwiseStudentFeeId=0
		SET @StudFeeId=0
		SET @Amt=0
		SELECT @CntFee=COUNT(*) FROM @tblRefunded		
	END
	
	--Declare temp. table for particular student's fee details.
	DECLARE @TemptblFeeDetails AS TABLE
	(
		 Schoolwise_Student_Fee_Id INT,
		 Payable_For NVARCHAR(200),
		 Amount INT,
		 Paid_Date DATETIME,
		 Fee_Type NVARCHAR(50),
		 Amount_Paid INT,
		 Amount_Payable INT,
		 [D/C] NVARCHAR(10),
		 Receipt_Number NVARCHAR(50),
		 Serial_Number INT,
		 Is_Cheque_Bounce NVARCHAR(1),
		 Std_Fee_Type_Id INT,
		 Late_Fee_Amt INT,
		 Is_Concession NVARCHAR(1),
		 RefundFeeDetailsID INT,
		 Is_LastRefund BIT NULL,
		 TotalAmount INT,
		 Is_Arrears BIT,
		 School_Id INT,
		 Academic_Year_Id INT,
		 AcademicYear NVARCHAR(200)
	)

	--Insert fee details into temp. table and also get late fee amount against given date.
	INSERT INTO @TemptblFeeDetails
	(
		Schoolwise_Student_Fee_Id,
		Payable_For,
		Amount,
		Paid_Date,
		Fee_Type,
		Amount_Paid,
		Amount_Payable,
		[D/C],
		Receipt_Number,
		Serial_Number,
		Is_Cheque_Bounce,
		Std_Fee_Type_Id,
		Late_Fee_Amt,
		Is_Concession,
		RefundFeeDetailsID,
		Is_LastRefund,
		Is_Arrears,
		School_Id,
		Academic_Year_Id,
		AcademicYear
	)
	SELECT Schoolwise_Student_Fee_Id
		   ,Payable_For
		   ,Amount
		   ,Paid_Date
		   ,Fee_Type
		   ,ISNULL((SELECT Amount
					  FROM @tempStuFeeDetails AS X
					 WHERE X.Student_Fee_Id = A.Schoolwise_Student_Fee_Id
					   AND (X.RefundFeeDetailsID IS NULL
							 OR X.RefundFeeDetailsID = 0)
					   AND (X.Amount > 0)
					UNION
					SELECT Amount
					  FROM @tempStuFeeDetails AS B
					 WHERE B.Receipt_Number = A.Receipt_Number
					   AND (B.RefundFeeDetailsID IS NULL
							 OR B.RefundFeeDetailsID = 0)
					   AND (B.Amount > 0)
					   AND B.Is_Concession_Fee = A.Is_Concession_Fee
					   AND B.Academic_Year_ID = A.Academic_Year_ID
					   AND B.Student_Fee_Id IS NULL), 0) AS Amount_Paid
		   ,0 AS Amount_Payable
		   ,A.[Debit/Credit] AS Debit
		   ,ISNULL((SELECT Receipt_Number
					  FROM @tempStuFeeDetails AS C
					 WHERE Student_Fee_Id = A.Schoolwise_Student_Fee_Id
					   AND (C.RefundFeeDetailsID IS NULL
							 OR C.RefundFeeDetailsID = 0)
					   AND (C.Amount > 0)
					UNION
					SELECT Receipt_Number
					  FROM @tempStuFeeDetails AS D
					 WHERE Receipt_Number = A.Receipt_Number
					   AND Is_Concession_Fee = N'N'
					   AND (D.RefundFeeDetailsID IS NULL
							 OR D.RefundFeeDetailsID = 0)
					   AND (D.Amount > 0)
					   AND Student_Fee_Id IS NULL), 0) AS Receipt_Number
		   ,A.Serial_Number
		   ,A.Is_Cheque_Bounce
		   ,A.Std_FeeType_Id
		   ,dbo.UDF_GetLateFeeAmt(A.Std_FeeType_Id, A.Paid_Date, @CurrentDate) AS LateFeeAmt
		   ,A.Is_Concession_Fee
		   ,0 AS Expr1
		   ,0 AS Expr2
		   ,A.Is_Arrears
		   ,A.School_Id
		   ,A.Academic_Year_Id
		   ,A.AcademicYear
	  FROM @tempStuFeeDetails AS A
	 WHERE (A.RefundFeeDetailsID IS NULL
			 OR A.RefundFeeDetailsID = 0)
	   AND (A.Amount > 0)
	   AND (A.Student_Fee_Id = 0
			 OR A.Student_Fee_Id IS NULL)

	--select * from @TemptblFeeDetails
	--Take total concession amount for given student excluding bounced cheque amount.
	SELECT @TotalConcessionAmt = SUM(Amount)
	  FROM @tempStuFeeDetails
	 WHERE (Is_Concession_Fee = N'Y')
	   AND (Is_Cheque_Bounce = N'N')
	   AND ([Debit/Credit] = N'Credit')

	--if total concession amount is null set to 0.
	IF(@TotalConcessionAmt IS NULL)
		SET @TotalConcessionAmt=0

	--set amount payable as substracting amount paid from amount
	UPDATE @TemptblFeeDetails
	   SET Amount_Payable = Amount - Amount_Paid
	 WHERE Amount_Paid = 0

	--if amount paid is greater than zero then set [D/C] as N'credit' and late fee amount to 0.
	UPDATE @TemptblFeeDetails
	   SET [D/C] = N'Credit',
		   Late_Fee_Amt = 0
	 WHERE Amount_Paid > 0

	--Set late fee amount to 0 if studentfeeid's entry into Schoolwise_Late_Fee_Details table.
	UPDATE @TemptblFeeDetails
	   SET Late_Fee_Amt = 0
	 WHERE Schoolwise_Student_Fee_Id IN(SELECT Student_Fee_Id
										  FROM Schoolwise_Late_Fee_Details
										 WHERE (Is_Deleted = N'N'))

	SELECT @IsNewStudent = YSD.Is_New_Student
	  FROM dbo.YearWise_Student_Details YSD
	 WHERE YSD.YearWise_Student_Id = @StudentId
	
	INSERT INTO @TemptblFeeDetails
	SELECT Schoolwise_Student_Fee_Id
		   ,CASE
				WHEN Fee_Type <> N'Monthly' THEN Payable_For + N' (' + Fee_Type + N')'
				ELSE Payable_For
			END AS Payable_For
		   ,Amount
		   ,Paid_Date
		   ,N'Refund' AS Fee_Type
		   ,Amount AS Amount_Paid
		   ,0 AS Amount_Payable
		   ,[Debit/Credit] AS [D/C]
		   ,ISNULL(Receipt_Number, 0)
		   ,Serial_Number
		   ,Is_Cheque_Bounce
		   ,Std_FeeType_Id
		   ,0 AS Late_Fee_Amt
		   ,Is_Concession_Fee
		   ,RefundFeeDetailsID
		   ,0
		   ,(    SELECT CASE WHEN @IsNewStudent = 1
						     THEN SSFCM.NewStudent_TotalFee
						     ELSE SSFCM.OldStudent_TotalFee
						 END
				   FROM dbo.Schoolwise_Standard_FeeType_Master SSFTM
			 INNER JOIN dbo.Schoolwise_Standard_Fee_Configuration_Master SSFCM
					 ON SSFTM.Standard_Id = SSFCM.Standard_Id
					AND SSFTM.School_Id = SSFCM.School_Id
					AND SSFTM.academic_Year_Id = SSFCM.academic_Year_Id
					AND SSFTM.Fee_Type_Id = SSFCM.Fee_Type_Id
				  WHERE SSFTM.Is_Deleted = N'N'
					AND SSFTM.Is_Deleted = N'N'
					AND SSFTM.SchoolWise_Standard_FeeType_Id = Std_FeeType_Id) AS TotalAmt
		   ,Is_Arrears
		   ,School_Id
		   ,Academic_Year_Id
		   ,AcademicYear
	  FROM @tempStuFeeDetails
	 WHERE RefundFeeDetailsID IS NOT NULL
	   AND RefundFeeDetailsID <> 0

--select * from @TemptblFeeDetails
	UPDATE @TemptblFeeDetails
	   SET Is_LastRefund = 1
	 WHERE Schoolwise_Student_Fee_Id IN (SELECT MAX(Schoolwise_Student_Fee_Id)
										   FROM @TemptblFeeDetails
										  WHERE RefundFeeDetailsID IS NOT NULL
											AND RefundFeeDetailsID <> 0
										  GROUP BY RefundFeeDetailsID)

	UPDATE @TemptblFeeDetails
	   SET Payable_For = Payable_For + N' - Partial'
	 WHERE RefundFeeDetailsID IS NOT NULL
	   AND RefundFeeDetailsID <> 0
	   AND Amount <> TotalAmount

	--Take sum of amount paid
	SELECT @AmtPaid = SUM(Amount_Paid)
	  FROM @TemptblFeeDetails
	 WHERE Is_Cheque_Bounce = N'N'
	   AND Is_Concession = N'N'
	   AND (RefundFeeDetailsID IS NULL
			 OR RefundFeeDetailsID = 0)

	--Take sum of amount payable
	SELECT @AmtPayable = SUM(Amount_Payable)
	  FROM @TemptblFeeDetails
	 WHERE Is_Cheque_Bounce = N'N'
	   AND (RefundFeeDetailsID IS NULL
			 OR RefundFeeDetailsID = 0)

	--Take sum of late fee amount 
	SELECT @TotalLateFee = SUM(Late_Fee_Amt)
	  FROM @TemptblFeeDetails
	 WHERE Is_Cheque_Bounce = N'N'
	   AND (RefundFeeDetailsID IS NULL
			 OR RefundFeeDetailsID = 0)

	--select * from @TemptblFeeDetails  
	--take all records from temp. table.
	--SELECT @Count = COUNT(*) 
	select @Count=AcademicYear
	  FROM @TemptblFeeDetails
	 WHERE Amount > 0
	   AND School_Id = @SchoolId
	   AND Academic_Year_Id < @AcademicYearId
	   AND [D/C] = N'Debit'
	   AND Receipt_Number = 0
	
	
	IF @SchoolId = 120 -- bfs
	AND EXISTS
	(
		SELECT top 1 1
		FROM YearWise_Student_Details ysd
		inner join Standard_Master sm
		on ysd.Standard_Id = sm.Standard_Id
		where ysd.Academic_Year_ID = @AcademicYearId
		and ysd.YearWise_Student_Id = @StudentId
		and ysd.Is_Deleted = 'N'
		and SM.Is_Deleted = 'N'
		AND SM.Standard_Name = '1'
	)
	BEGIN
		SET @Count = ''
	END
	  
END
