/****** Object:  StoredProcedure [dbo].[usp_SaveLeaveApprovalDetails]    Script Date: 8/25/2025 11:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_SaveLeaveApprovalDetails]
	@Id Int,
	@UserLeaveDetailsId Int,
	@ReportingUserId Int,
	@Remark nvarchar(1000),
	@statusId Int,
	@SchoolId Int,
	@AcademicYearId Int,
	@InsertedById Int,
	@IsFromFinalApproval bit
AS
BEGIN

--BEGIN TRANSACTION
--BEGIN TRY

	 Insert into LeaveApprovalDetails 
	             (
				    UserLeaveDetailsId,
					ReportingUserId,
					Remark,
					StatusId,
					IsDeleted,
					SchoolId,
					AcademicYearID,
					InsertedById,
					InsertDate					
				)
	    Values  (
				    @UserLeaveDetailsId,
					@ReportingUserId,
					@Remark,
					@statusId,
					0,
					@SchoolId,
					@AcademicYearId,
					@InsertedById,
					dbo.GetLocalDate(default)
			   )

	DECLARE @IsLeaveRejected BIT = 0

	IF(@statusId = 4) -- Leave is rejected
		BEGIN
			UPDATE UserLeaveDetails
			   SET StatusId = 4,
			       UpdatedbyId = @InsertedById,
				   UpdatedDate = dbo.getlocalDate(DEFAULT)
			 WHERE SchoolId = @SchoolId
			   AND IsDeleted = 0
			   AND Id = @UserLeaveDetailsId

			SET @IsLeaveRejected = 1
		END

		   DECLARE @UserId INT

			SELECT @UserId = UserId
			  FROM UserLeaveDetails
			 WHERE IsDeleted = 0
			   AND SchoolId = @SchoolId
			   AND Id = @UserLeaveDetailsId

				IF @StatusId = 3
				AND (
					   @IsFromFinalApproval = 1 OR (
							@IsFromFinalApproval = 0  AND EXISTS (
								SELECT top 1 1
								FROM LeaveApprovalConfigurationDetails cur
								WHERE cur.SchoolId = @SchoolId
								  AND cur.AcademicYearId = @AcademicYearId
								  AND cur.IsDeleted = 0
								  AND cur.UserId = @UserId
								  AND cur.ReportingUserId = @ReportingUserId
								  AND cur.IsFinalApprover = 1
								  AND NOT EXISTS (
										SELECT  top 1 1
										FROM LeaveApprovalConfigurationDetails nxt
										WHERE nxt.UserId = cur.UserId
										  AND nxt.SchoolId = cur.SchoolId
										  AND nxt.AcademicYearId = cur.AcademicYearId
										  AND nxt.IsDeleted = 0
										  AND nxt.ApproverSortOrder > cur.ApproverSortOrder)
							 ) ) )-- If Leave is approved from final approver then change status in table and set as a approved.
						BEGIN
							UPDATE UserLeaveDetails
							   SET StatusId = 3,
								   UpdatedbyId = @InsertedById,
								   UpdatedDate = dbo.getlocalDate(DEFAULT)
							 WHERE SchoolId = @SchoolId
							   AND IsDeleted = 0
							   AND Id = @UserLeaveDetailsId
		                 END

		DECLARE @ReceiverUserId INT,
		        @IsFinalApprover BIT = 0
				
		 SELECT @IsFinalApprover = IsFinalApprover
		  FROM LeaveApprovalConfigurationDetails
		 WHERE ReportingUserId = @ReportingUserId
		   AND IsDeleted = 0
		   AND UserId = @UserId
		   AND SchoolId = @SchoolId
		   AND AcademicYearId = @AcademicYearId	

		IF @IsFromFinalApproval=1
			set @IsFinalApprover= 1;

		 IF(@IsFinalApprover = 0)
			BEGIN 
					SELECT TOP 1 @ReceiverUserId = ReportingUserId
					  FROM LeaveApprovalConfigurationDetails
					 WHERE ReportingUserId <> @ReportingUserId
					   AND IsDeleted = 0
					   AND UserId = @UserId
					   AND SchoolId = @SchoolId
					   AND AcademicYearId = @AcademicYearId
					   AND ApproverSortOrder > (
													SELECT ApproverSortOrder
													  FROM LeaveApprovalConfigurationDetails
													 WHERE ReportingUserId = @ReportingUserId
													   AND IsDeleted = 0
													   AND UserId = @UserId
													   AND SchoolId = @SchoolId
													   AND AcademicYearId = @AcademicYearId
											   )
				  ORDER BY ApproverSortOrder ASC
			END
		ELSE
			BEGIN
				SELECT @ReceiverUserId = UserId
				  FROM UserLeaveDetails
				 WHERE SchoolId = @SchoolId
				   AND IsDeleted = 0
				   AND Id = @UserLeaveDetailsId
			END

		IF (@IsLeaveRejected = 1)
			BEGIN
				SELECT @ReceiverUserId = UserId
				  FROM UserLeaveDetails
				 WHERE SchoolId = @SchoolId
				   AND IsDeleted = 0
				   AND Id = @UserLeaveDetailsId
			END
 IF @ReceiverUserId IS NOT NULL AND (@SchoolId <> 71 OR dbo.udf_GetLeaveMsgRestrictedUsers(@SchoolId, @ReceiverUserId) = 0)         
    BEGIN
	  EXEC usp_SendMessageregardingUserLeave @SchoolId, @AcademicYearId, @ReportingUserId, @ReceiverUserId, @UserLeaveDetailsId, @IsFinalApprover, @IsLeaveRejected
	 END
--raiserror('Test Error',16,1)
--COMMIT TRANSACTION
--END TRY
--BEGIN CATCH
--PRINT ERROR_MESSAGE()
--ROLLBACK TRANSACTION
--END CATCH
END
GO
