/****** Object:  StoredProcedure [dbo].[usp_GetAdminUser]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Pradnya>
-- Create date: <20 May 2008>
-- Description:	<This stored procedure is used to get Admin user.>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAdminUser]	
	@School_Id INT,
	@UserRoleId INT,
	@iAcad_Yr_Id INT,
	@UserId INT = 0
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	IF(@iAcad_Yr_Id=0)
	BEGIN
		SELECT    @iAcad_Yr_Id = Academic_Year_ID
		FROM         SchoolWise_Academic_Year_Master
		WHERE     (School_Id = @School_Id) AND (Is_Current_Year = N'Y')	
	END
	SELECT  User_Master.User_Id, 
	[dbo].[Udf_GetUserName_For_Msg](User_Master.User_Id,@UserRoleId,@iAcad_Yr_Id) as username,
	User_Master.Mobile_Number,
	@iAcad_Yr_Id Academic_Year_ID,
	User_Master.User_Role_Id
	FROM User_Master 
	WHERE User_Master.User_Role_Id = @UserRoleId
	AND User_Master.School_Id = @School_Id
	AND User_Master.IsSuperAdmin=0
	AND User_Master.Is_Deleted= N'N'

	SELECT  User_Master.User_Id, dbo.Udf_GetUserName_For_Msg(User_Master.User_Id, 2, @iAcad_Yr_Id) AS username
	, SchoolWise_Teacher_Master.Mobile_Number, SchoolWise_Teacher_Master.Designation_Id, Teacher_Designation_Master.Teacher_Designation_Name
	FROM         User_Master INNER JOIN
	SchoolWise_Teacher_Master ON User_Master.User_Id = SchoolWise_Teacher_Master.User_Id INNER JOIN
	Teacher_Designation_Master ON SchoolWise_Teacher_Master.Designation_Id = Teacher_Designation_Master.Teacher_Designation_Id
	WHERE     (User_Master.User_Role_Id = 2) AND (User_Master.School_Id = @School_Id) 
	AND (Teacher_Designation_Master.Teacher_Designation_Name = N'Principal') AND
	(SchoolWise_Teacher_Master.academic_year_id = @iAcad_Yr_Id)
	AND User_Master.Is_Deleted= N'N'
	and SchoolWise_Teacher_Master.Is_Deleted = 'N'
	and User_Master.Is_Locked = 'N'
	
	SELECT  User_Master.User_Id, 
	--[dbo].[Udf_GetUserName_For_Msg](User_Master.User_Id,1,@iAcad_Yr_Id) as username,
	User_First_Name as username,
	User_Master.Mobile_Number,
	@iAcad_Yr_Id Academic_Year_ID,
	User_Master.User_Role_Id
	FROM User_Master 
	WHERE User_Master.User_Role_Id = 1
	AND User_Master.School_Id = @School_Id
	AND IsSuperAdmin=1
	AND User_Master.Is_Deleted= N'N'

	DECLARE @IsStudentsVisibleForMessage INT = 1

	IF EXISTS(
				SELECT TOP 1 1
					  FROM SchoolSettings
					 WHERE AcademicYearId = @iAcad_Yr_Id
					   AND IsDeleted = 0
					   AND Value = 'true'
					   AND Name = 'ShowOnlyCoOrdinators'
			)
			BEGIN
				IF NOT EXISTS(
							SELECT TOP 1 1
							     FROM vw_AllPayrollUsers
								WHERE UserId = @UserId
								  AND UserRoleId = 2
								  AND (Designation LIKE '%Principal%' OR Designation LIKE '%Co-ordinator%' OR Designation = 'Head Sr. Secondary' OR 
								  Designation LIKE '%Headmaster%'  OR Designation LIKE '%Sports Incharge%' OR Designation LIKE '%Headmistress%'
								 OR Designation LIKE '%Coordinator%')
						 )
						 AND
						 NOT EXISTS
						 (
							SELECT TOP 1 1
							FROM ReportingUserDetails
							WHERE Is_Deleted = 0
							AND ReportingTypeId = 19 -- All message to student
							and Receiver_User_Id = @UserId
							and School_Id = @School_Id
						 )
						 BEGIN					
							SET @IsStudentsVisibleForMessage = 0
						 END					
			END

		SELECT @IsStudentsVisibleForMessage IsStudentsVisibleForMessage
		
END
GO


