/****** Object:  StoredProcedure [Transport].[usp_GetTravelersTransportDetails]    Script Date: 8/25/2025 11:29:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================================
-- Author:		Deepak
-- Create date: 20 july 2010
-- Description:	This procedure is used to get transport details for travelers.
-- ====================================================================================
ALTER PROCEDURE [Transport].[usp_GetTravelersTransportDetails]
@SchoolId INT,
@AcademicYearId INT,
@UserRoleId INT,
@RouteId INT =NULL,
@StopId INT =NULL,
@TransportShiftId INT =NULL,
@StandardId INT =NULL,
@DivisionId INT =NULL,
@IncludeNotAssociated BIT =1,
@StartIndex INT	,
@EndIndex INT,
@Criteria nvarchar(1000)=NULL,
@SortExp NVARCHAR(100)
AS
BEGIN
	CREATE TABLE #tblUsersDetails 
	(
		UserId INT,
		Name NVARCHAR(150),
		DesignationId INT,
		SortOrder INT,
		Address NVARCHAR(MAX),
		MobileNumber1 NVARCHAR(MAX),
		MobileNumber2 NVARCHAR(MAX),
		FirstName NVARCHAR(150),
		MiddleName NVARCHAR(150),
		LastName NVARCHAR(150),
		ClassName NVARCHAR(100) DEFAULT('-')
	)
	
	DECLARE @sInsertForUserRoleId2  NVARCHAR(MAX),
			@sInsertForUserRoleId6  NVARCHAR(MAX),
			@sInsertForUserRoleId3  NVARCHAR(MAX),
			@sInsertForUserRoleId7  NVARCHAR(MAX)

	IF PATINDEX('%DesignationId%',@SortExp) <> 0
	BEGIN
		SET @SortExp = ' ORDER BY SortOrder, FirstName,MiddleName,LastName'
	END
	
	SET @sInsertForUserRoleId2 =N'SELECT BTD.User_Id, 
										BTD.TeacherName,
										BTD.Designation_Id,
										--TDM.SortOrder,
										VTD.DesignationSortOrder,
										BTD.Local_Address,
										BTD.Mobile_Number,
										UM.EmergencyContactNumber,
										Teacher_First_Name,
										Teacher_Middle_Name,
										Teacher_Last_Name
								   FROM vw_BaseTeacherDetails BTD WITH(NOLOCK)
						     INNER JOIN User_Master UM WITH(NOLOCK)
									 ON BTD.User_Id = UM.User_Id
							 INNER JOIN Teacher_Designation_Master TDM WITH(NOLOCK)
									 ON TDM.Teacher_Designation_Id = BTD.Designation_Id		
							LEFT OUTER JOIN vw_TeacherDesignations VTD
									ON BTD.Designation_Id = VTD.Teacher_Designation_Id	
								  WHERE BTD.School_Id = ' + CAST(@SchoolId AS NVARCHAR) + ' 
								    AND UM.IsInternalUser = 0
								    AND BTD.Is_Deleted = N''N''
								    AND BTD.academic_year_id = '+ CAST( @AcademicYearId AS NVARCHAR) +' 
								    AND UM.Is_Locked = N''N'' '
	
	SET @sInsertForUserRoleId3 =N' SELECT BSD.User_Id, 
										BSD.StudentName, 
										ROW_NUMBER() OVER (ORDER BY BSD.First_Name, BSD.Middle_Name, BSD.Last_Name),0,
									    COALESCE(NULLIF(SAD.[HouseNo/PlotNo], '''') + '', '', '''') +
                                        COALESCE(NULLIF(SAD.Landmark, '''') + '', '', '''') +
                                        COALESCE(NULLIF(SAD.MainArea, '''') + '', '', '''') +
										COALESCE(NULLIF(SAD.SubareaName, '''') + '', '', '''') +
                                        COALESCE(NULLIF(SAD.City, '''') + '', '', '''') +
                                        COALESCE(NULLIF(SAD.Taluka, '''') + '', '', '''') +
                                        COALESCE(NULLIF(SAD.District, ''''), '''') AS Address,
									BSD.Mobile_Number,
										BSD.Mobile_Number2,
										First_Name,
										Middle_Name,
										Last_Name,
										VSD.ClassName
								   FROM vw_BaseStudentDetails BSD WITH(NOLOCK)
							 INNER JOIN YearWise_Student_Details YSD WITH(NOLOCK)
									 ON BSD.SchoolWise_Student_Id=YSD.Student_Id
							 INNER JOIN User_Master UM WITH(NOLOCK)
									 ON BSD.User_Id=UM.User_Id
							 INNER JOIN Standard_Master SM WITH(NOLOCK)
									 ON SM.Standard_Id = YSD.Standard_Id
									AND SM.academic_Year_Id = YSD.Academic_Year_ID
							 INNER JOIN Division_Master DM WITH(NOLOCK)
									 ON DM.Division_Id = YSD.Division_id
									AND DM.academic_year_id = YSD.Academic_Year_ID
							INNER JOIN VW_STANDARD_DIVISION VSD
								ON YSD.Standard_Id = VSD.Standard_Id
								AND YSD.Division_id = VSD.Division_id
							 INNER JOIN StudentAdditionalDetails SAD
                                      ON BSD.SchoolWise_Student_Id=SAD.SchoolwiseStudentId
								  WHERE BSD.School_Id =' + CAST(@SchoolId AS NVARCHAR) + '  
								    AND BSD.Is_Deleted = N''N'' 
                                    AND SAD.IsDeleted = 0	
								    AND BSD.SchoolLeft_Date IS NULL 
								    AND YSD.Academic_Year_ID = ' + CAST(@AcademicYearId AS NVARCHAR) + ' 								    
									AND UM.Is_Locked = N''N''
									AND SM.Is_Deleted=N''N''
									AND YSD.Is_Deleted = N''N''
									AND BSD.User_Id NOT IN ( SELECT UserId 
								                               FROM [Transport].PrivateTransportDetails WITH(NOLOCK)
								                              WHERE SchoolId=' + CAST(@SchoolId AS NVARCHAR) + ' 
								                                AND AcademicYearId=' + CAST(@AcademicYearId AS NVARCHAR) + '
																AND Is_Deleted=0)'
									
	IF(@StandardId IS NOT NULL AND @StandardId <> 0)		
		SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + ' AND SM.Standard_Id =' + CAST(@StandardId as NVARCHAR(5)) 
	
	IF(@DivisionId IS NOT NULL AND @DivisionId <> 0)	
		SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + ' AND DM.Division_Id =' + CAST(@DivisionId as NVARCHAR(5)) 	
										
	SET @sInsertForUserRoleId6 =N' SELECT SSM.User_Id, 
										SM.Salutation_Name + N'''' + SSM.Supervisor_First_Name + N'' '' + SSM.Supervisor_Middle_Name + N'' '' + SSM.Supervisor_Last_Name AS Name,
										SSM.Designation_Id,
										TDM.SortOrder,
										UM.Address,
										SSM.Mobile_Number,
										UM.EmergencyContactNumber,
										Supervisor_First_Name,
										Supervisor_Middle_Name,
										Supervisor_Last_Name
								  FROM  SchoolWise_Supervisor_Master SSM WITH(NOLOCK)
							INNER JOIN  Salutation_Master SM  WITH(NOLOCK)
									ON  SSM.Salutation_Id = SM.Salutation_Id  
							INNER JOIN  User_Master UM WITH(NOLOCK)
									ON  SSM.User_Id=UM.User_Id
							INNER JOIN  vw_BaseSupervisorDetails BSD WITH(NOLOCK)
									ON  SSM.Supervisor_Id = BSD.Supervisor_Id
							INNER JOIN  Teacher_Designation_Master TDM WITH(NOLOCK)
							        ON  TDM.Teacher_Designation_Id = BSD.Designation_Id
								 WHERE  SM.Is_Deleted = N''N''
								   AND  SSM.Is_Deleted = N''N'' 
								   AND  UM.IsInternalUser = 0
								   AND  SSM.School_Id = ' + CAST(@SchoolId AS NVARCHAR) + ' 
								   AND  UM.Is_Locked = N''N'' '
												  
	SET @sInsertForUserRoleId7 =N' SELECT OS.UserId, 
										SM.Salutation_Name + N'' '' + OS.FirstName + N'' '' + OS.MiddleName + N'' '' + OS.LastName AS Name,
										OS.DesignationId,
										TDM.SortOrder,
										OS.Address,
										OS.MobileNo,
										UM.EmergencyContactNumber,
										FirstName,
										MiddleName,
										LastName
								  FROM  OtherStaff OS WITH(NOLOCK)
							INNER JOIN  Salutation_Master SM WITH(NOLOCK)
									ON  OS.SalutationId = SM.Salutation_Id 
							INNER JOIN  vw_BaseOtherStaffDetails BOSD WITH(NOLOCK)
									ON  OS.OtherStaffId = BOSD.OtherStaffId
							INNER JOIN  Teacher_Designation_Master TDM WITH(NOLOCK)
									ON  TDM.Teacher_Designation_Id = BOSD.DesignationId
							INNER JOIN  User_Master UM WITH(NOLOCK)
							        ON  OS.UserId = UM.User_Id
								 WHERE  OS.SchoolId = ' + CAST(@SchoolId AS NVARCHAR) + ' 
								   AND  OS.Is_Deleted = N''N'' '
						

		IF @Criteria IS NOT NULL
		BEGIN
			SET @Criteria=REPLACE(@Criteria,N'''',N'''''')
		END

		-- Collecting details of admin			
		IF @UserRoleId = 1
		BEGIN
			INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,Address,MobileNumber1,MobileNumber2, FirstName,MiddleName,LastName)
			SELECT DISTINCT BAD.User_Id, 
				   BAD.Admin_Name,
				   BAD.DesignationId,
				   TDM.SortOrder,
				   UM.Address,
				   UM.Mobile_Number,
				   UM.EmergencyContactNumber,
				   BAD.User_First_Name,
				   BAD.User_Middle_Name,
				   BAD.User_Last_Name
			  FROM vw_BaseAdminDetails BAD WITH(NOLOCK)
		INNER JOIN Teacher_Designation_Master TDM WITH(NOLOCK)
				ON TDM.Teacher_Designation_Id = BAD.DesignationId  
		INNER JOIN User_Master UM WITH(NOLOCK)
		        ON BAD.User_Id=UM.User_Id							  			  
		END 
		-- Collecting details of Teacher			
		ELSE IF @UserRoleId = 2
		BEGIN		
			IF NOT @Criteria IS NULL
			BEGIN
				SET @sInsertForUserRoleId2 = @sInsertForUserRoleId2 + N' AND (BTD.TeacherName LIKE N''%'+@Criteria+'%'' OR UM.User_Login LIKE N''%'+@Criteria+'%'')'
			END
			SET @sInsertForUserRoleId2 = @sInsertForUserRoleId2 + N'ORDER BY SortOrder'
			
			INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,Address,MobileNumber1,MobileNumber2,FirstName,MiddleName,LastName)
			EXECUTE sp_executesql @sInsertForUserRoleId2 
			
		END
		-- Collecting details of admin Staff			
		ELSE IF @UserRoleId = 6
		BEGIN
			IF NOT @Criteria IS NULL
			BEGIN
				SET @sInsertForUserRoleId6 = @sInsertForUserRoleId6 + N' AND (SSM.Supervisor_First_Name LIKE N''%'+@Criteria+'%'' OR
																		SSM.Supervisor_Middle_Name LIKE N''%'+@Criteria+'%'' OR
																		SSM.Supervisor_Last_Name LIKE N''%'+@Criteria+'%'' OR
																		UM.User_Login LIKE N''%'+@Criteria+'%'' OR
																		BSD.SupervisorName LIKE N''%'+@Criteria+'%'')'
			END
			
			SET @sInsertForUserRoleId6 = @sInsertForUserRoleId6 + N'ORDER BY SortOrder'
		
			INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,Address,MobileNumber1,MobileNumber2,FirstName,MiddleName,LastName)
			EXECUTE sp_executesql @sInsertForUserRoleId6								  
		END		
		-- Collecting details of Other staff
		ELSE IF @UserRoleId = 7
		BEGIN
			IF NOT @Criteria IS NULL
			BEGIN
				SET @sInsertForUserRoleId7 = @sInsertForUserRoleId7 + N'AND (OS.FirstName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  OS.MiddleName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  OS.LastName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR
																	  BOSD.OtherStaffName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'')'
			END
			
			SET @sInsertForUserRoleId7 = @sInsertForUserRoleId7 + N'ORDER BY SortOrder'
			
			INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,Address,MobileNumber1,MobileNumber2,FirstName,MiddleName,LastName)
			EXECUTE sp_executesql @sInsertForUserRoleId7					   
		END
		-- Collecting details of Student			
		ELSE IF @UserRoleId = 3
		BEGIN			
			IF NOT @Criteria IS NULL
			BEGIN
				SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + N'AND (First_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  Middle_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  Last_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  Enrolment_Number LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
																	  Enrolment_Number +'' - ''+ BSD.StudentName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'')'	
			END

print 'test'			
			--print @sInsertForUserRoleId3
			INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,Address,MobileNumber1,MobileNumber2,FirstName,MiddleName,LastName, ClassName)
			EXECUTE sp_executesql @sInsertForUserRoleId3 
			
			print 'test1'	

			--print @sInsertForUserRoleId3
		END

		IF(@IncludeNotAssociated = 1)
		BEGIN
			DELETE FROM #tblUsersDetails
			 WHERE UserId IN(SELECT UserId 
			                   FROM Transport.TravelerTransportDetails TTD WITH(NOLOCK)
			                  WHERE TTD.AcademicYearId = @AcademicYearId
			                    AND TTD.SchoolId = @SchoolId
			                    AND TTD.Is_Deleted = 0
			                   )
		
		END

--SELECT * FROM #tblUsersDetails
 DECLARE @sFilter NVARCHAR(MAX)
 DECLARE @sAllFilter NVARCHAR(MAX),
		 @FilterForStudent NVARCHAR(MAX)
 
 SET @sFilter=N' '
 SET @sAllFilter=N' '
 SET @FilterForStudent = ''

 
 IF @RouteId <>0
 BEGIN
 SET @sFilter= @sFilter+N' AND RouteId='+CAST(@RouteId AS NVARCHAR(5))+' OR RouteId IS NULL OR RouteId1='+CAST(@RouteId AS NVARCHAR(5))+' OR RouteId1 IS NULL '
 SET @sAllFilter=@sAllFilter +N'AND (RouteId='+CAST(@RouteId as NVARCHAR(4))+' OR '+' RouteId1= '+CAST(@RouteId as NVARCHAR(4))+' )'
 SET @FilterForStudent = N' WHERE (TP.RouteId='+CAST(@RouteId as NVARCHAR(4))+' OR '+' TD.RouteId= '+CAST(@RouteId as NVARCHAR(4))+')'
 END
 
 IF @StopId <>0
 BEGIN
 SET @sFilter= @sFilter+N' AND StopId='+CAST(@StopId AS NVARCHAR(5)) + N' OR StopId1='+CAST(@StopId AS NVARCHAR(5))
  SET @sAllFilter=@sAllFilter +N'AND (StopId='+CAST(@StopId as NVARCHAR(4))+' OR StopId1='+CAST(@StopId as NVARCHAR(4))+' )'
  SET @FilterForStudent = CASE WHEN @FilterForStudent = '' THEN ' WHERE ' ELSE @FilterForStudent + ' AND ' END + N' (TP.StopId='+CAST(@StopId as NVARCHAR(4))+' OR '+' TD.StopId= '+CAST(@StopId as NVARCHAR(4))+')'
 END

 IF @TransportShiftId <>0
 BEGIN
 SET @sFilter= @sFilter+N' AND TransportShiftId='+CAST(@TransportShiftId AS NVARCHAR(5))	
  SET @sAllFilter=@sAllFilter +N'AND (TransportShiftId='+CAST(@TransportShiftId as NVARCHAR(4))+' OR TransportShiftId1 = '+CAST(@TransportShiftId as NVARCHAR(4))+ ' )'
  SET @FilterForStudent = CASE WHEN @FilterForStudent = '' THEN ' WHERE ' ELSE @FilterForStudent +' AND ' END + N' (TP.TransportShiftId='+CAST(@TransportShiftId as NVARCHAR(4))+' OR '+' TD.TransportShiftId= '+CAST(@TransportShiftId as NVARCHAR(4))+')'
 END

	DECLARE @sQuery AS NVARCHAR(MAX)
	CREATE TABLE #tblTravelerPickup 
	(
		TravelerTransportId INT,
		RouteTimingDetailsId INT,
		UserId INT,
		Name NVARCHAR(500),
		DesignationId INT,
		RouteShiftVehicleDetailsId INT,
		PickupTime NVARCHAR(100),
		DropTime NVARCHAR(100),
		TransportShiftId INT,
		TransportShiftName NVARCHAR(100),
		StopId INT,
		StopName NVARCHAR(100),
		RouteId INT,
		RouteName NVARCHAR(100),
		VehicleId INT,
		VehicleNumber NVARCHAR(100),
		VehicleType NVARCHAR(100),
		Is_Deleted BIT,
		SchoolId INT,
		Academic_Year_Id INT,
		SortOrder INT,
		TravelerTypeId INT,
		Address NVARCHAR(MAX),
		MobileNumber1 NVARCHAR(MAX),
		MobileNumber2 NVARCHAR(MAX),
		IsHistoryExists BIT,
		FirstName NVARCHAR(150),
		MiddleName NVARCHAR(150),
		LastName NVARCHAR(150),
		ClassName NVARCHAR(100)
	)	
	
	CREATE TABLE #tblTravelerDrop 
	(
		TravelerTransportId INT,
		RouteTimingDetailsId INT,
		UserId INT,
		Name NVARCHAR(500),
		DesignationId INT,
		RouteShiftVehicleDetailsId INT,
		PickupTime NVARCHAR(100),
		DropTime NVARCHAR(100),
		TransportShiftId INT,
		TransportShiftName NVARCHAR(100),
		StopId INT,
		StopName NVARCHAR(100),
		RouteId INT,
		RouteName NVARCHAR(100),
		VehicleId INT,
		VehicleNumber NVARCHAR(100),
		VehicleType NVARCHAR(100),
		Is_Deleted BIT,
		SchoolId INT,
		Academic_Year_Id INT,
		SortOrder INT,
		TravelerTypeId INT,
		Address NVARCHAR(MAX),
		MobileNumber1 NVARCHAR(MAX),
		MobileNumber2 NVARCHAR(MAX),
		IsHistoryExists BIT,
		FirstName NVARCHAR(150),
		MiddleName NVARCHAR(150),
		LastName NVARCHAR(150),
		ClassName NVARCHAR(100)
	)	

	IF @IncludeNotAssociated = 1
	BEGIN	
	SET	@sQuery =N' SELECT TOP(CONVERT(INT,'+CONVERT(nvarchar(6),@EndIndex) +'))* FROM( SELECT RowID=ROW_NUMBER() OVER('+@SortExp+'),
							TotalRows=Count(*) OVER(),* FROM	
						(SELECT 0 as TravelerTransportId,
								0 as RouteTimingDetailsId,
								ISNULL(tblUsersDetails.UserId,0)UserId,
								IsNULL(Name,N'''')as Name,
								ISNULL(tblUsersDetails.DesignationId,0) as DesignationId ,
								0as RouteShiftVehicleDetailsId,
								0 as PickupTime,
								0 as DropTime,
								0 as TransportShiftId ,
								0 as TransportShiftId1 ,
								0 as TransportShiftName,
								0 as StopId,
								N'''' as StopName,
								0 as RouteId,								
								0 as RouteId1,
								N'''' as RouteName ,
								0 as VehicleId,
								N'''' as VehicleNumber,
								N'''' as VehicleType,
								0 as Is_Deleted,
								'+CAST(@SchoolId as NVARCHAR(5))+' as SchoolId,
								'+CAST(@AcademicYearId as NVARCHAR(5))+' as Academic_Year_Id,								
								tblUsersDetails.SortOrder,
								1 as TravelerTypeId,
								tblUsersDetails.Address,
								tblUsersDetails.MobileNumber1,
								tblUsersDetails.MobileNumber2,
								CASE WHEN STD.USerId IS NULL THEN 0 ELSE 1 END AS IsHistoryExists,
								tblUsersDetails.FirstName,
								tblUsersDetails.MiddleName,
								tblUsersDetails.LastName,
								tblUsersDetails.ClassName
						   FROM #tblUsersDetails tblUsersDetails
						   --LEFT OUTER JOIN StudentTransportDetails STD ON STD.USerId = tblUsersDetails.UserId AND STD.IsDeleted = 0
                           LEFT OUTER JOIN(SELECT UserId  FROM StudentTransportDetails	WHERE IsDeleted = 0 GROUP BY UserId) STD
							ON STD.UserId = tblUsersDetails.UserId
						  WHERE	tblUsersDetails.UserId NOT IN (SELECT UserId FROM Transport.TravelerTransportDetails WHERE SchoolId='+CAST(@SchoolId as NVARCHAR(5))+' 
						  AND AcademicYearId = '+CAST(@SchoolId as NVARCHAR(5))+' AND Is_Deleted = N''0'')  
				) AS A ) as B 
				WHERE  RowID >'+  CAST(@StartIndex as NVARCHAR) +' AND ( SchoolId IS NULL OR SchoolId='+CAST(@SchoolId as NVARCHAR(5))+')'+
				'AND  ( Academic_Year_Id IS NULL OR Academic_Year_Id='+CAST(@AcademicYearId as NVARCHAR(5))+')'+
				'AND  ( Is_Deleted IS NULL OR Is_Deleted=0)'
      END
	ELSE
	BEGIN
	SET	@sQuery =N' SELECT * FROM	
				   (SELECT ISNULL(TTD.TravelerTransportId,0) as TravelerTransportId,
						   ISNULL(TTD.RouteTimingDetailsId,0) as RouteTimingDetailsId,
						   ISNULL(tblUsersDetails.UserId,0)UserId,
						   IsNULL(Name,N'''')as Name,
						   ISNULL(tblUsersDetails.DesignationId,0) as DesignationId ,
						   IsNULL(RSTD.RouteShiftVehicleDetailsId,0)as RouteShiftVehicleDetailsId,
						   ISNULL(RSTD.PickupTime,0)as PickupTime,
						   ISNULL(RSTD.DropTime,0)as DropTime,
						   ISNULL(SM.TransportShiftId,0)as TransportShiftId ,
						   ISNULL(SM.TransportShiftName,0) as TransportShiftName,
						   ISNULL(SM1.StopId,0) as StopId,
						   ISNULL(SM1.StopName,N'''')as StopName,
						   ISNULL(RM.RouteId,0)as RouteId,
						   ISNULL(RM.RouteName,N'''') as RouteName ,
						   ISNULL(VM.VehicleId,0) as VehicleId,
						   ISNULL(VM.VehicleNumber,N'''') as VehicleNumber,
						   ISNULL(VM.VehicleType,N'''') as VehicleType,
						   TTD.Is_Deleted,
						   RM.SchoolId,
						   RM.Academic_Year_Id,
						   tblUsersDetails.SortOrder,
						   TTD.TravelerTypeId,
						   tblUsersDetails.Address,
						   tblUsersDetails.MobileNumber1,
						   tblUsersDetails.MobileNumber2,
						   CASE WHEN STD.USerId IS NULL THEN 0 ELSE 1 END AS IsHistoryExists,
						   tblUsersDetails.FirstName,
						   tblUsersDetails.MiddleName,
						  tblUsersDetails.LastName,
						  tblUsersDetails.ClassName
			          FROM #tblUsersDetails  tblUsersDetails 
				INNER JOIN Transport.TravelerTransportDetails TTD WITH(NOLOCK)
						ON TTD.UserId=tblUsersDetails.UserId
				INNER JOIN Transport.RouteShiftTimingDetails RSTD WITH(NOLOCK)
						ON TTD.RouteTimingDetailsId=RSTD.RouteTimingDetailsId
				INNER JOIN  Transport.RouteShiftVehicleDetails RSVD WITH(NOLOCK)
						ON RSTD.RouteShiftVehicleDetailsId=RSVD.RouteShiftVehicleDetailsId
				INNER JOIN  Transport.ShiftMaster SM WITH(NOLOCK)
						ON RSVD.TransportShiftId=SM.TransportShiftId 
				INNER JOIN  Transport.VehicleMaster VM WITH(NOLOCK)
						ON RSVD.VehicleId=VM.VehicleId
				INNER JOIN Transport.RouteStopDetails RSD WITH(NOLOCK)
						ON RSVD.RouteStopId=RSD.RouteStopId
				INNER JOIN Transport.RouteMaster RM WITH(NOLOCK)
						ON RSD.RouteId=RM.RouteId
				INNER JOIN Transport.StopMaster SM1 WITH(NOLOCK)
						ON RSD.StopId=SM1.StopId 
					   AND TTD.Is_Deleted=0
					LEFT OUTER JOIN (SELECT UserId FROM StudentTransportDetails WHERE SchoolId='+CAST(@SchoolId as NVARCHAR(5))+' AND AcademcYearId='+CAST(@AcademicYearId as NVARCHAR(5))+' and IsDeleted = 0 group by UserId) STD 
						 ON STD.USerId = tblUsersDetails.UserId						
				     WHERE TTD.AcademicYearId =' + CAST(@AcademicYearId as NVARCHAR(5)) +' 
			) AS A 
			WHERE ( SchoolId IS NULL OR SchoolId='+CAST(@SchoolId as NVARCHAR(5))+')'+
			'AND  ( Academic_Year_Id IS NULL OR Academic_Year_Id='+CAST(@AcademicYearId as NVARCHAR(5))+')'+
			' AND TravelerTypeId = ''1'' '
print 'test2'				
print @sQuery
			INSERT INTO #tblTravelerPickup	
			EXECUTE sp_executesql @sQuery		
print 'test3'	
			SET	@sQuery =N' SELECT * FROM	
				   (SELECT ISNULL(TTD.TravelerTransportId,0) as TravelerTransportId,
						   ISNULL(TTD.RouteTimingDetailsId,0) as RouteTimingDetailsId,
						   ISNULL(tblUsersDetails.UserId,0)UserId,
						   IsNULL(Name,N'''')as Name,
						   ISNULL(tblUsersDetails.DesignationId,0) as DesignationId ,
						   IsNULL(RSTD.RouteShiftVehicleDetailsId,0)as RouteShiftVehicleDetailsId,
						   ISNULL(RSTD.PickupTime,0)as PickupTime,
						   ISNULL(RSTD.DropTime,0)as DropTime,
						   ISNULL(SM.TransportShiftId,0)as TransportShiftId ,
						   ISNULL(SM.TransportShiftName,0) as TransportShiftName,
						   ISNULL(SM1.StopId,0) as StopId,
						   ISNULL(SM1.StopName,N'''')as StopName,
						   ISNULL(RM.RouteId,0)as RouteId,
						   ISNULL(RM.RouteName,N'''') as RouteName ,
						   ISNULL(VM.VehicleId,0) as VehicleId,
						   ISNULL(VM.VehicleNumber,N'''') as VehicleNumber,
						   ISNULL(VM.VehicleType,N'''') as VehicleType,
						   TTD.Is_Deleted,
						   RM.SchoolId,
						   RM.Academic_Year_Id,
						   tblUsersDetails.SortOrder,
						   TTD.TravelerTypeId,
						   tblUsersDetails.Address,
						   tblUsersDetails.MobileNumber1,
						   tblUsersDetails.MobileNumber2,
						   CASE WHEN STD.USerId IS NULL THEN 0 ELSE 1 END AS IsHistoryExists,
						   tblUsersDetails.FirstName,
							tblUsersDetails.MiddleName,
							tblUsersDetails.LastName,
							tblUsersDetails.ClassName
			          FROM #tblUsersDetails  tblUsersDetails 
				INNER JOIN Transport.TravelerTransportDetails TTD WITH(NOLOCK)
						ON TTD.UserId=tblUsersDetails.UserId
				INNER JOIN Transport.RouteShiftTimingDetails RSTD WITH(NOLOCK)
						ON TTD.RouteTimingDetailsId=RSTD.RouteTimingDetailsId
				INNER JOIN Transport.RouteShiftVehicleDetails RSVD WITH(NOLOCK)
						ON RSTD.RouteShiftVehicleDetailsId=RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.ShiftMaster SM WITH(NOLOCK)
						ON RSVD.TransportShiftId=SM.TransportShiftId 
				INNER JOIN Transport.VehicleMaster VM WITH(NOLOCK)
						ON RSVD.VehicleId=VM.VehicleId
				INNER JOIN Transport.RouteStopDetails RSD WITH(NOLOCK)
						ON RSVD.RouteStopId=RSD.RouteStopId
				INNER JOIN Transport.RouteMaster RM WITH(NOLOCK)
						ON RSD.RouteId=RM.RouteId
				INNER JOIN Transport.StopMaster SM1 WITH(NOLOCK)
						ON RSD.StopId=SM1.StopId 
						AND TTD.Is_Deleted=0		
						   LEFT OUTER JOIN (SELECT UserId FROM StudentTransportDetails WHERE SchoolId='+CAST(@SchoolId as NVARCHAR(5))+' AND AcademcYearId='+CAST(@AcademicYearId as NVARCHAR(5))+' and IsDeleted = 0 group by UserId) STD 
						ON STD.USerId = tblUsersDetails.UserId					  
					  WHERE TTD.AcademicYearId =' + CAST(@AcademicYearId as NVARCHAR(5)) +'
			) AS A 
			WHERE ( SchoolId IS NULL OR SchoolId='+CAST(@SchoolId as NVARCHAR(5))+')'+
			'AND  ( Academic_Year_Id IS NULL OR Academic_Year_Id='+CAST(@AcademicYearId as NVARCHAR(5))+')'+
			' AND TravelerTypeId = ''2'' '															
			
			
			INSERT INTO #tblTravelerDrop	
			EXECUTE sp_executesql @sQuery	

			--IF @UserRoleId <> 3
			--BEGIN
			--SET	@sQuery =N' SELECT TOP(CONVERT(INT,'+CONVERT(nvarchar(6),@EndIndex) +'))* FROM( SELECT RowID=ROW_NUMBER() OVER('+@SortExp+'),
			--						TotalRows=Count(*) OVER(),* FROM	
			--			   (
			--				SELECT CASE WHEN TP.TravelerTransportId = 0 OR TP.TravelerTransportId IS NULL THEN TD.TravelerTransportId ELSE TP.TravelerTransportId END as TravelerTransportId,
			--					   ISNULL(TP.RouteTimingDetailsId,0) as RouteTimingDetailsId,
			--					   CASE WHEN TP.UserId = 0 OR TP.UserId IS NULL THEN TD.UserId ELSE TP.UserId END as UserId,
			--					   CASE WHEN TP.Name = N'''' OR TP.Name IS NULL THEN TD.Name ELSE TP.Name END as Name,
			--					   CASE WHEN TP.DesignationId= 0 OR TP.DesignationId IS NULL THEN TD.DesignationId ELSE TP.DesignationId END as DesignationId ,
			--					   IsNULL(TP.RouteShiftVehicleDetailsId,0)as RouteShiftVehicleDetailsId,
			--					   ISNULL(TP.PickupTime,0)as PickupTime,
			--					   ISNULL(TP.DropTime,0)as DropTime,
			--					   ISNULL(TP.TransportShiftId,0)as TransportShiftId ,
			--					   ISNULL(TD.TransportShiftId,0)as TransportShiftId1 ,
			--					   ISNULL(TP.TransportShiftName,N'''')+'' / ''+ISNULL(TD.TransportShiftName,N'''') as TransportShiftName,
			--					   ISNULL(TP.StopId,0) as StopId,
			--					   ISNULL(TD.StopId,0) as StopId1,
			--					   ISNULL(TP.StopName,N'''')+'' / ''+ISNULL(TD.StopName,N'''') as StopName,
			--					   ISNULL(TP.RouteId,0)as RouteId,
			--					   ISNULL(TD.RouteId,0)as RouteId1,
			--					   ISNULL(TP.RouteName,N'''')+'' / ''+ISNULL(TD.RouteName,N'''')  as RouteName ,
			--					   ISNULL(TP.VehicleId,0) as VehicleId,
			--					   ISNULL(TP.VehicleNumber,N'''')+'' / ''+ISNULL(TD.VehicleNumber,N'''')  as VehicleNumber,
			--					   ISNULL(TP.VehicleType,N'''') as VehicleType,
			--					   TD.Is_Deleted,
			--					   TD.SchoolId,
			--					   TD.Academic_Year_Id,
			--					   TD.SortOrder
			--				  FROM #tblTravelerPickup TP			     
			--	   FULL OUTER JOIN #tblTravelerDrop TD
			--					ON TP.UserId = TD.UserId		   
			--		) AS A ) as B 
			--		WHERE RowID >'+  CAST(@StartIndex as NVARCHAR) 
															
			--		SET @sQuery=@sQuery+@sAllFilter	
			--	END
			--	ELSE
			--	BEGIN
                SET	@sQuery =N' SELECT TOP(CONVERT(INT,'+CONVERT(nvarchar(6),@EndIndex) +'))* FROM( SELECT RowID=ROW_NUMBER() OVER('+@SortExp+'),
									TotalRows=Count(*) OVER(),* FROM	
						   (
							SELECT CASE WHEN TP.TravelerTransportId = 0 OR TP.TravelerTransportId IS NULL THEN TD.TravelerTransportId ELSE TP.TravelerTransportId END as TravelerTransportId,
								   ISNULL(TP.RouteTimingDetailsId,0) as RouteTimingDetailsId,
								   CASE WHEN TP.UserId = 0 OR TP.UserId IS NULL THEN TD.UserId ELSE TP.UserId END as UserId,
								   CASE WHEN TP.Name = N'''' OR TP.Name IS NULL THEN TD.Name ELSE TP.Name END as Name,
								   CASE WHEN TP.DesignationId= 0 OR TP.DesignationId IS NULL THEN TD.DesignationId ELSE TP.DesignationId END as DesignationId ,
								   IsNULL(TP.RouteShiftVehicleDetailsId,0)as RouteShiftVehicleDetailsId,
								   ISNULL(TP.PickupTime,0)as PickupTime,
								   ISNULL(TP.DropTime,0)as DropTime,
								   ISNULL(TP.TransportShiftId,0)as TransportShiftId ,
								   ISNULL(TD.TransportShiftId,0)as TransportShiftId1 ,
								   ISNULL(TP.TransportShiftName,N'''')+'' / ''+ISNULL(TD.TransportShiftName,N'''') as TransportShiftName,
								   ISNULL(TP.StopId,0) as StopId,
								   ISNULL(TD.StopId,0) as StopId1,
								   ISNULL(TP.StopName,N'''')+'' / ''+ISNULL(TD.StopName,N'''') as StopName,
								   ISNULL(TP.RouteId,0)as RouteId,
								   ISNULL(TD.RouteId,0)as RouteId1,
								   ISNULL(TP.RouteName,N'''')+'' / ''+ISNULL(TD.RouteName,N'''')  as RouteName ,
								   ISNULL(TP.VehicleId,0) as VehicleId,
								   ISNULL(TP.VehicleNumber,N'''')+'' / ''+ISNULL(TD.VehicleNumber,N'''')  as VehicleNumber,
								   ISNULL(TP.VehicleType,N'''') as VehicleType,
								   TD.Is_Deleted,
								   TD.SchoolId,
								   TD.Academic_Year_Id,
								   TD.SortOrder,
								   ISNULL(TP.Address, TD.Address) AS Address,
								   ISNULL(TP.MobileNumber1,TD.MobileNumber1) MobileNumber1,
								   ISNULL(TP.MobileNumber2,TD.MobileNumber2) MobileNumber2,
								   ISNULL(TP.IsHistoryExists,TD.IsHistoryExists) IsHistoryExists,
								   TP.FirstName,
									TP.MiddleName,
									TP.LastName,
									TP.ClassName
							  FROM #tblTravelerPickup TP			     
				   FULL OUTER JOIN #tblTravelerDrop TD
								ON TP.UserId = TD.UserId'+
								@FilterForStudent+'													   
					) AS A ) as B 
					WHERE RowID >'+  CAST(@StartIndex as NVARCHAR) 
				--END
      END					
	
	PRINT @sQuery	
	EXECUTE sp_executesql @sQuery	
	DROP TABLE #tblUsersDetails
	DROP TABLE #tblTravelerPickup
	DROP TABLE #tblTravelerDrop
END
GO
