/****** Object:  StoredProcedure [dbo].[usp_GetStudentDetailsForUpdateRFID]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentDetailsForUpdateRFID]
@Filter NVARCHAR(300),
@SortExpression NVARCHAR(200),
@StartIndex INT,
@EndIndex INT,
@AcademicYearId INT,
@SchoolId INT,
@StandardId INT = 0,
@DivisionId INT = 0

AS
BEGIN
	CREATE TABLE #tblCount
	(
		Cnt INT
	)

	DECLARE @CountQuery NVARCHAR(1000) = 
	'INSERT INTO #tblCount
	 SELECT count(1)
	 FROM vw_BaseStudentDetails BSD
	 INNER JOIN YearWise_Student_Details YSD
	 ON BSD.Schoolwise_Student_Id = YSD.Student_Id
	 INNER JOIN vw_standard_division VSD
	 ON VSD.Division_Id = YSD.Division_id
	 AND VSD.Standard_Id = YSD.Standard_Id
	 INNER JOIN StudentAdditionalDetails SAD
	 ON SAD.SchoolwiseStudentId = BSD.Schoolwise_Student_Id
	 WHERE BSD.Is_Deleted = ''N''
	 AND YSD.Is_Deleted = ''N''
	 AND BSD.SchoolLeft_Date IS NULL
	 AND YSD.Academic_Year_ID = '+cast(@AcademicYearId AS NVARCHAR(3))+'
	 AND BSD.School_Id = '+cast(@SchoolId AS NVARCHAR(3))+'
	 AND ('+ CAST(@StandardId AS NVARCHAR(10)) +' = 0 OR YSD.Standard_Id = '+ CAST(@StandardId AS NVARCHAR(10)) +')
     AND ('+ CAST(@DivisionId AS NVARCHAR(10)) +' = 0 OR YSD.Division_Id = '+ CAST(@DivisionId AS NVARCHAR(10)) +')
	 AND (BSD.StudentName like ''%'+@Filter+'%'' OR BSD.Enrolment_Number like ''%'+@Filter+'%'' OR SAD.RFID like ''%'+@Filter+'%'')'

	 PRINT @CountQuery

	EXEC(@CountQuery)

	DECLARE @TotalRows INT

	SELECT @TotalRows = Cnt
	FROM #tblCount

	SET @SortExpression = REPLACE(@SortExpression,'StudentName','BSD.StudentName')

	DECLARE @sql NVARCHAR(max)
	SET @sql = 'SELECT * FROM 
	(
	 SELECT ROW_NUMBER() OVER(ORDER BY '+@SortExpression+') as RowNo,
	 SchoolWise_Student_Id,
	 Enrolment_Number,
     Roll_No,
	 ClassName,
	 StudentName,
	 RFID,
	 BSD.User_Id,
	 '+ cast(@TotalRows as nvarchar(10)) +' AS TotalRows
	 FROM vw_BaseStudentDetails BSD
	 INNER JOIN YearWise_Student_Details YSD
	 ON BSD.Schoolwise_Student_Id = YSD.Student_Id
	 INNER JOIN vw_standard_division VSD
	 ON VSD.Division_Id = YSD.Division_id
	 AND VSD.Standard_Id = YSD.Standard_Id
	 INNER JOIN StudentAdditionalDetails SAD
	 ON SAD.SchoolwiseStudentId = BSD.Schoolwise_Student_Id
	 WHERE BSD.Is_Deleted = ''N''
	 AND YSD.Is_Deleted = ''N''
	 AND BSD.SchoolLeft_Date IS NULL
	 AND YSD.Academic_Year_ID = '+cast(@AcademicYearId AS NVARCHAR(3))+'
	 AND BSD.School_Id = '+cast(@SchoolId AS NVARCHAR(3))+'
	 AND ('+ CAST(@StandardId AS NVARCHAR(10)) +' = 0 OR YSD.Standard_Id = '+ CAST(@StandardId AS NVARCHAR(10)) +')
     AND ('+ CAST(@DivisionId AS NVARCHAR(10)) +' = 0 OR YSD.Division_Id = '+ CAST(@DivisionId AS NVARCHAR(10)) +')
	 AND (BSD.StudentName like ''%'+@Filter+'%'' OR BSD.Enrolment_Number like ''%'+@Filter+'%'' OR SAD.RFID like ''%'+@Filter+'%'')
	 )A
	 WHERE A.RowNo >'+CAST(@StartIndex AS NVARCHAR(10))+' AND A.RowNo <='+cast(@EndIndex AS NVARCHAR(10))

	PRINT @Sql
	EXEC(@Sql)
END
GO
