/****** Object:  StoredProcedure [dbo].[usp_GetExportDynamicFields]    Script Date: 8/25/2025 11:29:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yogesh Karne
-- Create date: 03 June 2016
-- Description:	This usp is used to get Saved Dynamic Field details for login user.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetExportDynamicFields]
	-- Add the parameters for the stored procedure here
	@UserId				INT,
	@StandardId			INT,
	@DivisionId			INT,
	@SchoolId			INT,
	@AcademicYearId		INT,
	@IncludeWithLeft	BIT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @StudentDetailsFieldNames		NVARCHAR(MAX),
		@AdditionalDetailsFieldNames	NVARCHAR(MAX),
		@sQuery							NVARCHAR(MAX),
		@Fields							NVARCHAR(MAX)
		----------This is for getting selected student Subjects  fields ----------
	declare @tmp as table
	(
	StudentId int,
	SubjectName nvarchar(50)
	
	)
	insert into @tmp
	 SELECT SchoolWiseStudentId,
     Split.a.value('.', 'VARCHAR(100)') AS OptionalSubject
     FROM 
	  (SELECT [SchoolWiseStudentId] ,[OptionalSubjects] , 
         CAST ('<M>' + REPLACE(OptionalSubjects, ',', '</M><M>') + '</M>' AS XML) AS String 
     FROM  StudentStreamwiseSubjectDetails t) AS A CROSS APPLY String.nodes ('/M') AS Split(a)
  
   
		 declare @OptionalSubject as table
		 (
		 SubjectId int,
		 OptionalSubject nvarchar(50),
		 StudentId int
		
		 )

		 insert into @OptionalSubject
		 select SM.Subject_Id,
		 SM.Subject_Name 
		 ,t.StudentId
		 from Subject_Master SM
		 inner join @tmp t
		 on SM.Original_Subject_Id = t.SubjectName
		 WHERE SM.academic_Year_Id = @AcademicYearId
		 AND SM.Is_Deleted = 'N'
		 AND SM.School_Id = @SchoolId
		 
	
	declare @tmpCompitativeExam as table
	(
	StudentId int,
	ExamName nvarchar(50)
	
	)
	insert into @tmpCompitativeExam
	 SELECT SchoolWiseStudentId,
     Split.a.value('.', 'VARCHAR(100)') AS CompitativeExam
 FROM  (SELECT [SchoolWiseStudentId] ,[CompitativeExam] , 
         CAST ('<M>' + REPLACE(CompitativeExam, ',', '</M><M>') + '</M>' AS XML) AS String 
     FROM  StudentStreamwiseSubjectDetails t) AS A CROSS APPLY String.nodes ('/M') AS Split(a)
  
    
		 declare @CompitativeExam as table
		 (
		 SubjectId int,
		 CompitativeExam nvarchar(50),
		 StudentId int
		
		 )

		 insert into @CompitativeExam
		 select SCE.Id,
		 SCE.ExamName 
		, t.StudentId
		 from StreamwiseCompitativeExams SCE
		 inner join @tmpCompitativeExam t
		 on SCE.Id = t.ExamName
	CREATE TABLE #tblStudentSubjectDetails
	(
	Id INT identity(1,1),
	StudentId INT,
	StreamName NVARCHAR(MAX),
	GroupName NVARCHAR(MAX),
	CompulsorySubjects NVARCHAR(MAX),
	OptionalSubjects NVARCHAR(MAX),
	CompitativeExam NVARCHAR(MAX)
	)
	
	INSERT INTo #tblStudentSubjectDetails	
	SELECT distinct  SSSD.SchoolWiseStudentId,
	       SD.Name,
		   SG.GroupName,
		   SSSD.CompulsorySubjects,
      STUFF((
    select   ','+ cast(A.OptionalSubject as nvarchar(255)) 
    from @OptionalSubject A
	where  A.StudentID = SSSD.SchoolWiseStudentId
	group by A.OptionalSubject, A.StudentId
	order by A.OptionalSubject, A.StudentId
    FOR XML PATH('')
    ),1,1,'') AS OptionalSubject ,
		  STUFF((
    select   ','+ cast(C.CompitativeExam as nvarchar(255)) 
    from @CompitativeExam C
	where  C.StudentId = SSSD.SchoolWiseStudentId
	group by C.CompitativeExam, C.StudentId
	order by C.CompitativeExam, C.StudentId
    FOR XML PATH('')
    ),1,1,'') AS CompitativeExam
	FROM StudentStreamwiseSubjectDetails SSSD
	INNER JOIN StreamDetails SD 
	ON SSSD.StreamId = SD.Id
	INNER JOIN StreamWiseGroups SG
	ON SG.Id = SSSD.GroupId
	inner join @OptionalSubject Opt
	on SSSD.SchoolWiseStudentId =  Opt.StudentId
	WHERE SSSD.IsDeleted = 0
	group by SSSD.SchoolWiseStudentId,
	SD.Name,
		   SG.GroupName,
		   SSSD.CompulsorySubjects,
		   OptionalSubject
		   , SSSD.CompitativeExam

	----------This is for getting selected student details fields into comma saperated format.----------

	 SELECT  @StudentDetailsFieldNames =
       COALESCE(@StudentDetailsFieldNames + ', ', '') +
       CASE
           WHEN DRFM.FieldName = 'City' THEN 'GAFSD.City'
           ELSE DRFM.FieldName
       END
	  FROM dbo.DynamicReportFieldDetails AS DRFD
				INNER JOIN dbo.DynamicReportFieldMaster AS DRFM
					ON DRFD.DynamicReportFieldMasterId = DRFM.DynamicReportFieldMasterId
     WHERE (DRFD.UserId = @UserId) 
	   AND (DRFM.IsAdditionalField = 0) 
	   AND (DRFM.IsDeleted = 0)
  ORDER BY DRFM.SortOrder

	----------This is for getting selected student additional details fields into comma saperated format.----------

	SELECT @AdditionalDetailsFieldNames =  COALESCE(@AdditionalDetailsFieldNames + ', ' , '') + 
	CASE WHEN DRFM.FieldName LIKE 'FeeAreaName' THEN 'FAN.' + DRFM.FieldName 
	 WHEN DRFM.FieldName = 'Religion' THEN 'SAD.'+DRFM.FieldName
	ELSE DRFM.FieldName END
      FROM dbo.DynamicReportFieldDetails AS DRFD
				INNER JOIN dbo.DynamicReportFieldMaster AS DRFM
        ON DRFD.DynamicReportFieldMasterId = DRFM.DynamicReportFieldMasterId
     WHERE (DRFD.UserId = @UserId) 
       AND (DRFM.IsAdditionalField = 1) 
       AND (DRFM.IsDeleted = 0)
  ORDER BY DRFM.SortOrder

  CREATE TABLE #tblSubjectMasterForSecondLanguage 
	(
		Subject_Id INT,
		SecondLanguageSubject NVARCHAR(MAX),
		AcademicYearId INT
	)

	CREATE TABLE #tblSubjectMasterForThirdLanguage
		(
			Subject_Id INT,
			ThirdLanguageSubject NVARCHAR(MAX),
			AcademicYearId INT
		)

  IF EXISTS(
				SELECT TOP 1 1
				  FROM SchoolWise_Academic_Year_Master
				 WHERE School_Id = @SchoolId
				   AND Is_Deleted = 'N'
				   AND Is_NewlyCreated = 'Y'
				   AND Academic_Year_ID = @AcademicYearId
				   AND Is_Current_Year = 'N'
			)
			BEGIN			
				INSERT INTO #tblSubjectMasterForThirdLanguage
					 SELECT Original_Subject_Id,
							Subject_Name ,
							academic_Year_Id
					   FROM Subject_Master WITH(NOLOCK)
					  WHERE School_Id IS NULL
					    AND Is_Deleted = 'N'

	
				INSERT INTO #tblSubjectMasterForSecondLanguage
					 SELECT Original_Subject_Id,
							Subject_Name ,
							academic_Year_Id
					   FROM Subject_Master
					  WHERE School_Id IS NULL
					    AND Is_Deleted = 'N'
			END
		ELSE
			BEGIN
				INSERT INTO #tblSubjectMasterForThirdLanguage
					 SELECT Original_Subject_Id,
							Subject_Name ,
							academic_Year_Id
					   FROM Subject_Master WITH(NOLOCK)

	
				INSERT INTO #tblSubjectMasterForSecondLanguage
					 SELECT Original_Subject_Id,
							Subject_Name ,
							academic_Year_Id
					   FROM Subject_Master
		END

		--select @StudentDetailsFieldNames

	IF @AdditionalDetailsFieldNames IS NULL
		SET @Fields = @StudentDetailsFieldNames
	ELSE 
		SET @Fields = @StudentDetailsFieldNames + ', ' +  @AdditionalDetailsFieldNames	

DECLARE @sLeftFilter NVARCHAR(500)
	IF @IncludeWithLeft = 1
		SET @sLeftFilter = ''
	ELSE 
		SET @sLeftFilter = 'AND (GAFSD.SchoolLeft_Date IS NULL)'
		SET @Fields = replace (@Fields,'Name1','GAFSD.Name1')
		SET @Fields = replace (@Fields,'Name2','GAFSD.Name2')


IF EXISTS(
				SELECT TOP 1 1
				  FROM SchoolWise_Academic_Year_Master
				 WHERE School_Id = @SchoolId
				   AND Is_Deleted = 'N'
				   AND Is_NewlyCreated = 'Y'
				   AND Academic_Year_ID = @AcademicYearId
				   AND Is_Current_Year = 'N'
			)
		BEGIN	
				SET @sQuery = 'SELECT Standard_Division_Name as ClassName,'
								+ @Fields + ' ,' +
								'SchoolLeft_Date 
								FROM dbo.vw_GetAllStudentsForStandardDivision AS GAFSD 
									INNER JOIN dbo.Ocupation_Master AS OM 
										ON GAFSD.Parent_Occupation = OM.Ocupation_Id 
									LEFT OUTER JOIN dbo.[#tblSubjectMasterForThirdLanguage] AS SMFTL 
										ON GAFSD.ThirdLanguageSubjectId = SMFTL.Subject_Id
									LEFT OUTER JOIN dbo.[#tblSubjectMasterForSecondLanguage] AS SMFSL 
										ON GAFSD.SecondLanguageSubjectId = SMFSL.Subject_Id
									LEFT OUTER JOIN dbo.StudentAdditionalDetails AS SAD
										ON GAFSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId 
									LEFT OUTER JOIN dbo.Student_Caution_Money_Details AS SCMD 
										ON GAFSD.SchoolWise_Student_Id = SCMD.Schoolwise_Student_Id
										AND SCMD.Is_Deleted = 0
									LEFT OUTER JOIN FeeAreaName AS FAN
										ON SAD.FeeAreaName = FAN.FeeAreaNameId
										LEFT OUTER JOIN dbo.[#tblStudentSubjectDetails] AS SSD
										ON GAFSD.SchoolWise_Student_Id  = SSD.StudentId
								WHERE (GAFSD.School_Id = '+ CAST(@SchoolId AS NVARCHAR(10)) +') 
								AND (GAFSD.Academic_Year_ID = '+ CAST(@AcademicYearId AS NVARCHAR(10)) +') 
								AND (GAFSD.Division_id = '+ CAST(@DivisionId AS NVARCHAR(10)) +' OR ('+ CAST(@DivisionId AS NVARCHAR(10)) +' = 0)) 
								AND (GAFSD.Standard_Id = '+ CAST(@StandardId AS NVARCHAR(10)) +' OR ('+ CAST(@StandardId AS NVARCHAR(10)) +' = 0)) 
								 ' + @sLeftFilter +'
							ORDER BY Original_Standard_Id, 
									Original_Division_Id,
									Admission_Date, 
									Roll_No'
			END
		ELSE
			BEGIN
				SET @sQuery = 'SELECT Standard_Division_Name as ClassName,'
								+ @Fields + ' ,' +
								'SchoolLeft_Date 
								FROM dbo.vw_GetAllStudentsForStandardDivision AS GAFSD 
									INNER JOIN dbo.Ocupation_Master AS OM 
										ON GAFSD.Parent_Occupation = OM.Ocupation_Id 
									LEFT OUTER JOIN dbo.[#tblSubjectMasterForThirdLanguage] AS SMFTL 
										ON GAFSD.ThirdLanguageSubjectId = SMFTL.Subject_Id 
										AND GAFSD.Academic_Year_ID = SMFTL.AcademicYearId 
									LEFT OUTER JOIN dbo.[#tblSubjectMasterForSecondLanguage] AS SMFSL 
										ON GAFSD.SecondLanguageSubjectId = SMFSL.Subject_Id 
										AND GAFSD.Academic_Year_ID = SMFSL.AcademicYearId 
									LEFT OUTER JOIN dbo.StudentAdditionalDetails AS SAD
										ON GAFSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId 
									LEFT OUTER JOIN dbo.Student_Caution_Money_Details AS SCMD 
										ON GAFSD.SchoolWise_Student_Id = SCMD.Schoolwise_Student_Id
										AND SCMD.Is_Deleted = 0
									LEFT OUTER JOIN FeeAreaName AS FAN
										ON SAD.FeeAreaName = FAN.FeeAreaNameId
										LEFT OUTER JOIN dbo.[#tblStudentSubjectDetails] AS SSD
										ON GAFSD.SchoolWise_Student_Id  = SSD.StudentId
								WHERE (GAFSD.School_Id = '+ CAST(@SchoolId AS NVARCHAR(10)) +') 
								AND (GAFSD.Academic_Year_ID = '+ CAST(@AcademicYearId AS NVARCHAR(10)) +') 
								AND (GAFSD.Division_id = '+ CAST(@DivisionId AS NVARCHAR(10)) +' OR ('+ CAST(@DivisionId AS NVARCHAR(10)) +' = 0)) 
								AND (GAFSD.Standard_Id = '+ CAST(@StandardId AS NVARCHAR(10)) +' OR ('+ CAST(@StandardId AS NVARCHAR(10)) +' = 0)) 
								' + @sLeftFilter +'
							ORDER BY Original_Standard_Id, 
									Original_Division_Id,
									Roll_No'
			END
						  
		PRINT @sQuery
		EXECUTE sp_executesql @sQuery
	
	DECLARE @tblExportDetails TABLE
	(
		Id			INT IDENTITY(1,1),
		FieldText	NVARCHAR(500)
	)
IF(@SchoolId = 133)
	BEGIN
		INSERT INTO @tblExportDetails
			 SELECT CASE WHEN FieldText = 'Student Name(First + Middle + Last)' THEN 'StudentName'
						 WHEN FieldText = 'Student Name(Last + First + Middle)' THEN 'Student Name' ELSE FieldText END AS FieldText
			   FROM dbo.DynamicReportFieldDetails AS DRFD
		 INNER JOIN dbo.DynamicReportFieldMaster AS DRFM
				 ON DRFD.DynamicReportFieldMasterId = DRFM.DynamicReportFieldMasterId
			  WHERE (DRFD.UserId = @UserId) 
				AND (DRFM.IsDeleted = 0)
		   ORDER BY DRFM.IsAdditionalField,
					DRFM.SortOrder
	END
ELSE
	BEGIN
		INSERT INTO @tblExportDetails
			 SELECT CASE WHEN FieldText = 'Student Name(First + Middle + Last)' THEN 'StudentName'
						 WHEN FieldText = 'Student Name(Last + First + Middle)' THEN 'Student Name' ELSE FieldText END AS FieldText
			   FROM dbo.DynamicReportFieldDetails AS DRFD
		 INNER JOIN dbo.DynamicReportFieldMaster AS DRFM
				 ON DRFD.DynamicReportFieldMasterId = DRFM.DynamicReportFieldMasterId
			  WHERE (DRFD.UserId = @UserId) 
				AND (DRFM.IsDeleted = 0)
		   ORDER BY DRFM.IsAdditionalField,
					DRFM.SortOrder
	END
	
	--select 'tt'
	--select * from @tblExportDetails

	DECLARE @tblFinalExaportDetails TABLE
	(
		Id			INT,
		FieldText	NVARCHAR(500)
	)
	INSERT INTO @tblFinalExaportDetails
		 SELECT 0, 
		        'Class' 
		 UNION
		 SELECT Id, 
		        FieldText 
		   FROM @tblExportDetails 
		 UNION
		 SELECT 100, 
		        'Left Date' 

	SELECT FieldText FROM @tblFinalExaportDetails
	--order by FieldText

DROP TABLE #tblSubjectMasterForThirdLanguage
DROP TABLE #tblSubjectMasterForSecondLanguage
DROP TABLE #tblStudentSubjectDetails
END
GO
