/****** Object:  StoredProcedure [dbo].[usp_GetStudentIdentityCardDetails_Report_PPSN]    Script Date: 19-05-2026 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Sanket Bhujbal
-- Create date: 18-04-2016  
-- Description: This usp is created for PPSN to fetch I card data.  
-- =============================================  
ALTER PROCEDURE [dbo].[usp_GetStudentIdentityCardDetails_Report_PPSN]   
 -- Add the parameters for the stored procedure here  
 @School_Id INT,  
 @Academic_Year_Id INT,   
 @Student_Id INT=NULL,  
 @Standard_Id INT=NULL,  
 @Division_Id INT=NULL,
 @Enrolment_Number NVARCHAR(2000),
 @StudentsWithoutPhoto BIT=0    
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
    
    IF((@Student_Id = '' OR @Student_Id  IS NULL)AND(@Division_Id = '' or @Division_Id IS NULL)AND(@Standard_Id = '' OR @Standard_Id  IS NULL )AND(@Enrolment_Number <> '' OR @Enrolment_Number IS NOT NULL)AND(@StudentsWithoutPhoto = 1 OR @StudentsWithoutPhoto  IS NULL))
    BEGIN    	
     DECLARE @tblEnrolementNumbers AS TABLE
    (
    EnrolementNumbers nvarchar(200)
    )
    INSERT INTO @tblEnrolementNumbers
    SELECT Name	FROM udf_GetTableFromStringList(@Enrolment_Number)
                            SELECT  vw_StudentDetailedInformation.Standard_Name,  
									vw_StudentDetailedInformation.Standard_Id,  
									vw_StudentDetailedInformation.Division_Name,  
									vw_StudentDetailedInformation.Division_Id,  
									vw_StudentDetailedInformation.SchoolWise_Student_Id,  
								CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+ vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                             + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
									UPPER(School_Master.School_Name) AS SchoolName,          
									School_Master.Address as Address1,  
									School_Master.City, School_Master.Pincode, 
									School_Master.Phone_Number,   
									School_Master.Email,
									School_Master.ICardLogoImage,
									School_Master.SignPathImage,        
									UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
									vw_StudentDetailedInformation.City AS City_St,   
									vw_StudentDetailedInformation.Pincode AS Pincode_St,   
									vw_StudentDetailedInformation.Residence_Phone_Number,  
									vw_StudentDetailedInformation.Mobile_Number,   
									vw_StudentDetailedInformation.DOB,  
									SchoolWise_Student_Master.Photo_file_Path_Image,  
									vw_StudentDetailedInformation.State,
									vw_StudentDetailedInformation.Enrolment_Number,
									CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0') THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
									vw_StudentDetailedInformation.Mobile_Number2,
									CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
									CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
		                            ,HCm.Name as HouseName
					                --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
									,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
									,SM.SignPathImage As PrincipalSign
									,SM.Logo
									,vw_StudentDetailedInformation.Original_Standard_Id,
									vw_StudentDetailedInformation.Original_Division_Id,
									vw_StudentDetailedInformation.Roll_No
							 FROM	vw_StudentDetailedInformation WITH(NOLOCK)
					   INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK)  
							   ON	vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
							  AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
					   INNER JOIN	School_Master  WITH(NOLOCK)
							   ON   vw_StudentDetailedInformation.School_Id=School_Master.School_Id
					   INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
							   ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id
					    LEFT JOIN   SchoolWise_Academic_Year_Master
						       ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
							  AND   SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
							  AND   Is_Current_Year='Y'
						LEFT JOIN   YearWise_Student_Details YSD
						       ON   YSD.Student_Id=SWSM.SchoolWise_Student_Id
						LEFT JOIN   HouseConfigurationMaster HCM
						       ON   HCM.Id=YSD.HouseId
						LEFT JOIN School_Master SM
						       ON   YSD.School_Id=SM.School_Id
							   AND YSD.Academic_Year_ID=@Academic_Year_Id
							WHERE	vw_StudentDetailedInformation.School_Id =@School_Id
							  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id 
							  AND	SchoolWise_Student_Master.School_Id = @School_Id
							  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
							  AND	School_Master.School_Id =@School_Id 
							  AND	SchoolWise_Student_Master.Enrolment_Number  
							   IN   ( SELECT * FROM @tblEnrolementNumbers)
							  AND	SWSM.School_Id = @School_Id
							  AND	SWSM.Is_Deleted = 'N' 
						 ORDER BY	vw_StudentDetailedInformation.Roll_No ASC 
    END
    ELSE
    BEGIN  

    IF(@StudentsWithoutPhoto = 1)
    BEGIN
		   IF(@Student_Id = N'' OR @Student_Id IS NULL)   
		   BEGIN  
		        IF EXISTS(Select TOP 1 1 from udf_GetTableFromStringList(@Enrolment_Number))
					BEGIN
							SELECT  vw_StudentDetailedInformation.Standard_Name,  
									vw_StudentDetailedInformation.Standard_Id,  
									vw_StudentDetailedInformation.Division_Name,  
									vw_StudentDetailedInformation.Division_Id,  
									vw_StudentDetailedInformation.SchoolWise_Student_Id,  
									CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                            + '-' + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
									UPPER(School_Master.School_Name) AS SchoolName,          
									School_Master.Address as Address1,  
									School_Master.City, School_Master.Pincode, 
									School_Master.Phone_Number,   
									School_Master.Email,
									School_Master.ICardLogoImage,
									School_Master.SignPathImage,        
									UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
									vw_StudentDetailedInformation.City AS City_St,   
									vw_StudentDetailedInformation.Pincode AS Pincode_St,   
									vw_StudentDetailedInformation.Residence_Phone_Number,  
									vw_StudentDetailedInformation.Mobile_Number,   
									vw_StudentDetailedInformation.DOB,  
									SchoolWise_Student_Master.Photo_file_Path_Image,  
									vw_StudentDetailedInformation.State,
									vw_StudentDetailedInformation.Enrolment_Number,
									CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0') THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
									vw_StudentDetailedInformation.Mobile_Number2,
									CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
									CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
								   ,HCm.Name as HouseName
					              --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
								  ,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
						 	       ,SM.SignPathImage As PrincipalSign
								   ,SM.Logo
								   ,vw_StudentDetailedInformation.Original_Standard_Id,
							        vw_StudentDetailedInformation.Original_Division_Id,
							        vw_StudentDetailedInformation.Roll_No
							 FROM	vw_StudentDetailedInformation WITH(NOLOCK)
					   INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK)  
							   ON	vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
							  AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
					   INNER JOIN	School_Master  WITH(NOLOCK)
							   ON   vw_StudentDetailedInformation.School_Id=School_Master.School_Id
					   INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
							   ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id 
						 LEFT JOIN   SchoolWise_Academic_Year_Master
						       ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
							   AND  SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
							   AND  Is_Current_Year='Y'   
						 LEFT JOIN  YearWise_Student_Details YSD
						       ON   YSD.Student_Id=SWSM.SchoolWise_Student_Id
							   AND SchoolWise_Academic_Year_Master.Academic_Year_ID = ysd.Academic_Year_ID
						 LEFT JOIN  HouseConfigurationMaster HCM
						       ON   HCM.Id=YSD.HouseId     
					     LEFT JOIN School_Master SM
						       ON   YSD.School_Id=SM.School_Id  
						       AND YSD.Academic_Year_ID=@Academic_Year_Id
							WHERE	(vw_StudentDetailedInformation.Standard_Id =@Standard_Id
							  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
							  AND   vw_StudentDetailedInformation.School_Id =@School_Id
							  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id 
							  AND	SchoolWise_Student_Master.School_Id = @School_Id
							  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
							  AND   SchoolWise_Student_Master.Photo_file_Path_Image IS NOT NULL
							  AND	School_Master.School_Id =@School_Id 
							  AND	SchoolWise_Student_Master.Enrolment_Number  
							   IN   ( SELECT Name 
										FROM udf_GetTableFromStringList(@Enrolment_Number)))
							   OR   (vw_StudentDetailedInformation.Standard_Id =@Standard_Id 
							  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
							  AND   vw_StudentDetailedInformation.School_Id =@School_Id
							  AND   vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id
							  AND	SchoolWise_Student_Master.School_Id = @School_Id
							  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
							  AND	School_Master.School_Id =@School_Id
							  AND	SchoolWise_Student_Master.Enrolment_Number  
							   IN   (SELECT Name 
									   FROM udf_GetTableFromStringList(@Enrolment_Number)))  
							  AND	SWSM.School_Id = @School_Id
							  AND	SWSM.Is_Deleted = 'N'
						 ORDER BY	vw_StudentDetailedInformation.Roll_No ASC 						 
					END
					ELSE
					BEGIN
					--select 't1'
				      SELECT	vw_StudentDetailedInformation.Standard_Name,  
								vw_StudentDetailedInformation.Standard_Id,  
								vw_StudentDetailedInformation.Division_Name,  
								vw_StudentDetailedInformation.Division_Id,  
								vw_StudentDetailedInformation.SchoolWise_Student_Id,  
							CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                            + '-' + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
								UPPER(School_Master.School_Name) AS SchoolName,          
								School_Master.Address as Address1,  
								School_Master.City, School_Master.Pincode, School_Master.Phone_Number,   
								School_Master.Email,School_Master.ICardLogoImage,School_Master.SignPathImage,        
								UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
								vw_StudentDetailedInformation.Pincode AS Pincode_St,   
								vw_StudentDetailedInformation.Residence_Phone_Number,  
								vw_StudentDetailedInformation.Mobile_Number,   
								vw_StudentDetailedInformation.DOB,  
								SchoolWise_Student_Master.Photo_file_Path_Image,  
								vw_StudentDetailedInformation.State,
								vw_StudentDetailedInformation.Enrolment_Number,
								CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0') THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
								vw_StudentDetailedInformation.Mobile_Number2,
								CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
							    CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
								,HCm.Name as HouseName
					        --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
								,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
							    ,SM.SignPathImage As PrincipalSign
							   ,SM.Logo
							   ,vw_StudentDetailedInformation.Original_Standard_Id,
							    vw_StudentDetailedInformation.Original_Division_Id,
							    vw_StudentDetailedInformation.Roll_No
						 FROM   vw_StudentDetailedInformation WITH(NOLOCK)
				   INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
						  AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
				   INNER JOIN	School_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.School_Id=School_Master.School_Id   
				   INNER JOIN	YearWise_Student_Details WITH(NOLOCK) ON YearWise_Student_Details.Student_Id= vw_StudentDetailedInformation.SchoolWise_Student_Id 
						  AND	YearWise_Student_Details.Academic_Year_ID = vw_StudentDetailedInformation.Academic_Year_ID  
				   INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
						   ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id 
				 	LEFT JOIN   SchoolWise_Academic_Year_Master
						   ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
						  AND  SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
						  AND  Is_Current_Year='Y' 
					LEFT JOIN  HouseConfigurationMaster HCM
						   ON  HCM.Id=YearWise_Student_Details.HouseId 
					LEFT JOIN School_Master SM
						   ON YearWise_Student_Details.School_Id=SM.School_Id
						  AND YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id
						WHERE	(vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
						  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
						  AND	vw_StudentDetailedInformation.School_Id =@School_Id  
						  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id
						  AND	SchoolWise_Student_Master.School_Id = @School_Id  
						  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
						  AND   SchoolWise_Student_Master.Photo_file_Path_Image IS NOT NULL
						  AND	School_Master.School_Id =@School_Id)
						   OR   (vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
						  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
						  AND	vw_StudentDetailedInformation.School_Id =@School_Id  
						  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id
						  AND	SchoolWise_Student_Master.School_Id = @School_Id  
						  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
						  AND	School_Master.School_Id =@School_Id) 
						  AND	SWSM.School_Id = @School_Id
						  AND	SWSM.Is_Deleted = 'N'
					 ORDER BY	vw_StudentDetailedInformation.Roll_No ASC 
				END
		   END  
		  ELSE  
		   BEGIN  
		 --  select 't2'
				      SELECT	vw_StudentDetailedInformation.Standard_Name,  
								vw_StudentDetailedInformation.Standard_Id,  
								vw_StudentDetailedInformation.Division_Name,  
								vw_StudentDetailedInformation.Division_Id,  
								YearWise_Student_Details.YearWise_Student_Id,  
								CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                            + '-' + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
								UPPER(School_Master.School_Name) AS SchoolName,        
								School_Master.Address as Address1,
								School_Master.City, School_Master.Pincode, School_Master.Phone_Number,   
								School_Master.Email,School_Master.ICardLogoImage,School_Master.SignPathImage,  
								vw_StudentDetailedInformation.Student_Name,
								UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
								vw_StudentDetailedInformation.City AS City_St,   
								vw_StudentDetailedInformation.Pincode AS Pincode_St,   
								vw_StudentDetailedInformation.Residence_Phone_Number,  
								vw_StudentDetailedInformation.Mobile_Number,   
								vw_StudentDetailedInformation.DOB,     
								SchoolWise_Student_Master.Photo_file_Path_Image,  
								vw_StudentDetailedInformation.State,
								vw_StudentDetailedInformation.Enrolment_Number,
								CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0')  THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
								vw_StudentDetailedInformation.Mobile_Number2,
								CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
								CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
								,HCm.Name as HouseName
					        --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
								,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
							    ,SM.SignPathImage As PrincipalSign
							    ,SM.Logo
								,vw_StudentDetailedInformation.Original_Standard_Id,
							    vw_StudentDetailedInformation.Original_Division_Id,
							    vw_StudentDetailedInformation.Roll_No
						  FROM  vw_StudentDetailedInformation WITH(NOLOCK)
					INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK) 
							ON	vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
						   AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
					INNER JOIN	School_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.School_Id=School_Master.School_Id   
					INNER JOIN	YearWise_Student_Details WITH(NOLOCK)  
							ON	YearWise_Student_Details.Student_Id= vw_StudentDetailedInformation.SchoolWise_Student_Id 
						   AND  YearWise_Student_Details.Academic_Year_ID = vw_StudentDetailedInformation.Academic_Year_ID
					INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
							ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id  
					 LEFT JOIN   SchoolWise_Academic_Year_Master
						    ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
						    AND  SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
						    AND  Is_Current_Year='Y'  
					  LEFT JOIN HouseConfigurationMaster HCM
						    ON HCM.Id=YearWise_Student_Details.HouseId
						LEFT JOIN School_Master SM
						    ON YearWise_Student_Details.School_Id=SM.School_Id
						  AND YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id

						 WHERE	vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
						   AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
						   AND	vw_StudentDetailedInformation.School_Id =@School_Id  
						   AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id  
						   AND	SchoolWise_Student_Master.School_Id = @School_Id 
						   AND	School_Master.School_Id =@School_Id    
						   AND	YearWise_Student_Details.YearWise_Student_Id = @Student_Id 
						   AND SWSM.School_Id = @School_Id
						   AND SWSM.Is_Deleted = 'N'
		       
		   END 
    
    END
    ELSE
    BEGIN 
	
		  IF(@Student_Id = N'' OR @Student_Id IS NULL)   
	      BEGIN 
		
		     IF EXISTS(Select TOP 1 1 from udf_GetTableFromStringList(@Enrolment_Number))
				BEGIN
						SELECT  vw_StudentDetailedInformation.Standard_Name,  
								vw_StudentDetailedInformation.Standard_Id,  
								vw_StudentDetailedInformation.Division_Name,  
								vw_StudentDetailedInformation.Division_Id,  
								vw_StudentDetailedInformation.SchoolWise_Student_Id,  
								CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                            + '-' + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
								UPPER(School_Master.School_Name) AS SchoolName,          
								School_Master.Address as Address1,  
								School_Master.City, School_Master.Pincode, 
								School_Master.Phone_Number,   
								School_Master.Email,
								School_Master.ICardLogoImage,
								School_Master.SignPathImage,        
								UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
								vw_StudentDetailedInformation.City AS City_St,   
								vw_StudentDetailedInformation.Pincode AS Pincode_St,   
								vw_StudentDetailedInformation.Residence_Phone_Number,  
								vw_StudentDetailedInformation.Mobile_Number,   
								vw_StudentDetailedInformation.DOB,  
								SchoolWise_Student_Master.Photo_file_Path_Image,  
								vw_StudentDetailedInformation.State,
								vw_StudentDetailedInformation.Enrolment_Number,
								CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0') THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
								vw_StudentDetailedInformation.Mobile_Number2,
								CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
								CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
							   ,HCm.Name as HouseName
					        --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
							,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
							   ,SM.SignPathImage As PrincipalSign
							   ,SM.Logo
							   ,vw_StudentDetailedInformation.Original_Standard_Id,
							    vw_StudentDetailedInformation.Original_Division_Id,
							    vw_StudentDetailedInformation.Roll_No
						 FROM	vw_StudentDetailedInformation 
				   INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK)  
						   ON	vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
						  AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
				   INNER JOIN	School_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.School_Id=School_Master.School_Id  
				   INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
						   ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id
				    LEFT JOIN  SchoolWise_Academic_Year_Master
						   ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
						  AND   SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
						  AND   Is_Current_Year='Y' 
				    LEFT JOIN   YearWise_Student_Details YSD
						   ON   YSD.Student_Id=SWSM.SchoolWise_Student_Id
					LEFT JOIN   HouseConfigurationMaster HCM
						   ON   HCM.Id=YSD.HouseId 
				     LEFT JOIN School_Master SM
						   ON SchoolWise_Academic_Year_Master.School_Id=SM.School_Id     
						AND YSD.Academic_Year_ID=@Academic_Year_Id
						WHERE	vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
						  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
						  AND	vw_StudentDetailedInformation.School_Id =@School_Id  
						  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id  
						  AND	SchoolWise_Student_Master.School_Id = @School_Id  
						  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL 
						  AND   SchoolWise_Student_Master.Photo_file_Path_Image IS NOT NULL
						  AND	School_Master.School_Id =@School_Id 
						  AND	SchoolWise_Student_Master.Enrolment_Number  
						   IN   (
									SELECT Name FROM udf_GetTableFromStringList(@Enrolment_Number)) 
						  AND	SWSM.School_Id = 18
						  AND	SWSM.Is_Deleted = 'N'
					 ORDER BY	vw_StudentDetailedInformation.Roll_No ASC 
				END
				ELSE
				BEGIN			
				   SELECT	vw_StudentDetailedInformation.Standard_Name,  
							vw_StudentDetailedInformation.Standard_Id,  
							vw_StudentDetailedInformation.Division_Name,  
							vw_StudentDetailedInformation.Division_Id,  
							vw_StudentDetailedInformation.SchoolWise_Student_Id,  
							CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                            + '-' + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
							UPPER(School_Master.School_Name) AS SchoolName,          
							School_Master.Address as Address1,  
							School_Master.City, School_Master.Pincode, School_Master.Phone_Number,   
							School_Master.Email,School_Master.ICardLogoImage,School_Master.SignPathImage,        
					      	UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                             dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
							vw_StudentDetailedInformation.City AS City_St,   
							vw_StudentDetailedInformation.Pincode AS Pincode_St,   
							vw_StudentDetailedInformation.Residence_Phone_Number,  
							vw_StudentDetailedInformation.Mobile_Number,   
							vw_StudentDetailedInformation.DOB,  
							SchoolWise_Student_Master.Photo_file_Path_Image,  
							vw_StudentDetailedInformation.State,
							vw_StudentDetailedInformation.Enrolment_Number,
							CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0') THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
							vw_StudentDetailedInformation.Mobile_Number2,
							CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
							CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) as AcademicYear
							,HCm.Name as HouseName
					        --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
							,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
							,SM.SignPathImage As PrincipalSign,
						     SM.Logo,
							 vw_StudentDetailedInformation.Original_Standard_Id,
							 vw_StudentDetailedInformation.Original_Division_Id,
							 vw_StudentDetailedInformation.Roll_No
					 FROM   vw_StudentDetailedInformation WITH(NOLOCK)
			   INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
					  AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
			   INNER JOIN	School_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.School_Id=School_Master.School_Id   
			   INNER JOIN	YearWise_Student_Details WITH(NOLOCK) ON YearWise_Student_Details.Student_Id= vw_StudentDetailedInformation.SchoolWise_Student_Id   
					  AND	YearWise_Student_Details.Academic_Year_ID = vw_StudentDetailedInformation.Academic_Year_ID 
			   INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
					   ON   vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id 
				LEFT JOIN   SchoolWise_Academic_Year_Master
					   ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
					  AND  SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
					  AND  Is_Current_Year='Y'
				LEFT JOIN  HouseConfigurationMaster HCM
					   ON  HCM.Id=YearWise_Student_Details.HouseId 
				 LEFT JOIN School_Master SM
					   ON SchoolWise_Academic_Year_Master.School_Id=SM.School_Id   
					  AND YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id 
					WHERE	vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
					  AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
					  AND	vw_StudentDetailedInformation.School_Id =@School_Id  
					  AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id  
					  AND	SchoolWise_Student_Master.School_Id = @School_Id  
					  AND   SchoolWise_Student_Master.Photo_file_Path_Image IS NOT NULL
					  AND	SchoolWise_Student_Master.SchoolLeft_Date IS NULL   
					  AND	School_Master.School_Id =@School_Id   
					  AND	SWSM.School_Id = @School_Id
					  AND	SWSM.Is_Deleted = 'N'
				 ORDER BY	vw_StudentDetailedInformation.Roll_No ASC 
			END
	   END  
	  ELSE  
	   BEGIN 
	     -- select 't5'
	              SELECT	vw_StudentDetailedInformation.Standard_Name,  
							vw_StudentDetailedInformation.Standard_Id,  
							vw_StudentDetailedInformation.Division_Name,  
							vw_StudentDetailedInformation.Division_Id,  
							YearWise_Student_Details.YearWise_Student_Id,  
						CASE  WHEN vw_StudentDetailedInformation.Standard_Name NOT IN ('Nursery','Junior KG','Senior KG')
                            THEN dbo.udf_ConvertIntToRoman(vw_StudentDetailedInformation.Standard_Name)
                            + '-'+vw_StudentDetailedInformation.Division_Name
                              ELSE vw_StudentDetailedInformation.Standard_Name
                             + vw_StudentDetailedInformation.Division_Name
                          END AS Class_Name,
							UPPER(School_Master.School_Name) AS SchoolName,        
							School_Master.Address as Address1,
							School_Master.City, School_Master.Pincode, School_Master.Phone_Number,   
							School_Master.Email,School_Master.ICardLogoImage,School_Master.SignPathImage,  
							vw_StudentDetailedInformation.Student_Name,
							UPPER( SchoolWise_Student_Master.First_Name +  ISNULL(' ' + SchoolWise_Student_Master.Middle_Name, '') + ISNULL(' ' + SchoolWise_Student_Master.Last_Name, '')) AS StudentName,   
                                dbo.udf_ConvertFirstLetterOfEachWordInCapital(REPLACE(REPLACE(REPLACE(vw_StudentDetailedInformation.Address, CHAR(13)+CHAR(10),' '), CHAR(13),' '), CHAR(10),' ')) + CASE WHEN ISNULL(vw_StudentDetailedInformation.City,'')<>'' THEN ', '+vw_StudentDetailedInformation.City ELSE '' END + CASE WHEN ISNULL(vw_StudentDetailedInformation.Pincode,'')<>'' THEN ' - '+vw_StudentDetailedInformation.Pincode ELSE '' END AS Address,								vw_StudentDetailedInformation.City AS City_St,   
							vw_StudentDetailedInformation.City AS City_St,   
							vw_StudentDetailedInformation.Pincode AS Pincode_St,   
							vw_StudentDetailedInformation.Residence_Phone_Number,  
							vw_StudentDetailedInformation.Mobile_Number,   
							vw_StudentDetailedInformation.DOB,     
							SchoolWise_Student_Master.Photo_file_Path_Image,  
							vw_StudentDetailedInformation.State,
						    vw_StudentDetailedInformation.Enrolment_Number,
                            CASE WHEN (SchoolWise_Student_Master.Blood_Group IS NULL OR SchoolWise_Student_Master.Blood_Group=N'0')  THEN N'' ELSE SchoolWise_Student_Master.Blood_Group END AS BloodGroup,
					        vw_StudentDetailedInformation.Mobile_Number2,
							CASE WHEN @School_Id = 71 THEN REPLACE(SWSM.FormNumber,'(S2)','') 
										 WHEN @School_Id = 18 THEN SchoolWise_Student_Master.Enrolment_Number
										 ELSE ''
									END AS FormNumber,
			                CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.Start_date)) + ' - ' + CONVERT(NVARCHAR(5),YEAR(SchoolWise_Academic_Year_Master.End_Date)) AS AcademicYear
							,HCm.Name as HouseName
					        --,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  +' Tel: ' + sm.Phone_Number   + CHAR(13) + CHAR(10)+ ' Email: ' + sm.FeedbackEmail AS SchoolAddress
							,sm.Address + ', ' + sm.City + ' ' + sm.Pincode  AS SchoolAddress
									,CASE WHEN @School_Id = 71 THEN 'Tel : 020 - ' + sm.Phone_Number + CASE WHEN sm.Phone_Number2 IS NOT NULL AND sm.Phone_Number2 <> '' THEN  ' / '+ RIGHT(sm.Phone_Number2,3) ELSE '' END  
										   WHEN @School_Id = 18 THEN 'Mob : ' + sm.Phone_Number + ' / 08 / 09'  
										   ELSE ''
									 END AS SchoolContactNo
									,'Email : ' + sm.FeedbackEmail AS SchoolEmailAddress
							,SM.SignPathImage As PrincipalSign,
							 SM.Logo,
							 vw_StudentDetailedInformation.Original_Standard_Id,
							 vw_StudentDetailedInformation.Original_Division_Id,
							 vw_StudentDetailedInformation.Roll_No
                      FROM  vw_StudentDetailedInformation WITH(NOLOCK)
				INNER JOIN	SchoolWise_Student_Master WITH(NOLOCK)  
						ON	vw_StudentDetailedInformation.SchoolWise_Student_Id=SchoolWise_Student_Master.SchoolWise_Student_Id   
					   AND	vw_StudentDetailedInformation.School_Id=SchoolWise_Student_Master.School_Id   
				INNER JOIN	School_Master WITH(NOLOCK) ON vw_StudentDetailedInformation.School_Id=School_Master.School_Id   
				INNER JOIN	YearWise_Student_Details WITH(NOLOCK)  
						ON	YearWise_Student_Details.Student_Id= vw_StudentDetailedInformation.SchoolWise_Student_Id   
					   AND  YearWise_Student_Details.Academic_Year_ID = vw_StudentDetailedInformation.Academic_Year_ID 
				INNER JOIN	SchoolWise_Student_Master SWSM WITH(NOLOCK)
						ON  vw_StudentDetailedInformation.SchoolWise_Student_Id = SWSM.Schoolwise_Student_Id 
			     LEFT JOIN	SchoolWise_Academic_Year_Master
					    ON   SchoolWise_Academic_Year_Master.Academic_Year_ID=vw_StudentDetailedInformation.Academic_Year_ID
					   AND  SchoolWise_Academic_Year_Master.School_Id=vw_StudentDetailedInformation.School_Id
					   AND  Is_Current_Year='Y' 
				 LEFT JOIN HouseConfigurationMaster HCM
						ON HCM.Id=YearWise_Student_Details.HouseId
				 LEFT JOIN School_Master SM
						ON SchoolWise_Academic_Year_Master.School_Id=SM.School_Id 
					AND YearWise_Student_Details.Academic_Year_ID=@Academic_Year_Id  
					 WHERE	vw_StudentDetailedInformation.Standard_Id =@Standard_Id    
					   AND	(vw_StudentDetailedInformation.SchoolWise_Standard_Division_Id = @Division_id OR @Division_id IS NULL)
					   AND	vw_StudentDetailedInformation.School_Id =@School_Id  
					   AND	vw_StudentDetailedInformation.Academic_Year_ID = @Academic_Year_Id  
					   AND	SchoolWise_Student_Master.School_Id = @School_Id  
					   AND	School_Master.School_Id =@School_Id    
					   AND	YearWise_Student_Details.YearWise_Student_Id = @Student_Id  
					   AND  SWSM.School_Id = @School_Id
					   AND  SWSM.Is_Deleted = 'N'
	   END
    
    END
     END

END