/****** Object:  StoredProcedure [dbo].[Usp_SaveLeaveApprovalConfig]    Script Date: 8/25/2025 11:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Usp_SaveLeaveApprovalConfig] 
	@UserId INT,
	@SchoolId INT,
	@AcademicYearId INT,	
    @ApprovalSortOrder INT,
    @IsFinalApprover BIT,
	@ReportingUserId INT,
	@Id INT,
	@InsertedById INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 --IF @IsFinalApprover = 1
	--BEGIN
	--	update LeaveApprovalConfigurationDetails
	--	set IsFinalApprover= 0
	--    WHERE SchoolId = @SchoolId
	--	 AND AcademicYearId =  @AcademicYearId
	--	 AND IsDeleted = 0
	--	 AND UserId  = @UserId
	--	 and IsFinalApprover = 1
	--END
		
	IF(@Id= 0)
	BEGIN
    -- Insert statements for procedure here
		INSERT INTO [dbo].LeaveApprovalConfigurationDetails
					(  
						[UserId]
					  ,[ReportingUserId]
					  ,[ApproverSortOrder]
					  ,[IsFinalApprover]
					  ,[IsSubmitted]
					  ,[SchoolId]
					  ,[AcademicYearId]
					  ,[IsDeleted]
					  ,[InsertedById]
					  ,[InsertDate]
					)
			 VALUES (
			            
						@UserId ,
						@ReportingUserId,
						@ApprovalSortOrder,
						@IsFinalApprover,
						0,
						@SchoolId,
		                @AcademicYearId,
		                0,
		                @InsertedById,
						DBO.GETLOCALDATE(DEFAULT)						 
					)

	END
	ElSE
	BEGIN
		 UPDATE LeaveApprovalConfigurationDetails
		 SET  ReportingUserId= @ReportingUserId,
			  ApproverSortOrder = @ApprovalSortOrder,
			  IsFinalApprover= @IsFinalApprover,
			  UpdateDate = DBO.GetLocalDate(DEFAULT),
			  UpdatedById = 1
		 WHERE SchoolId = @SchoolId
		 AND AcademicYearId =  @AcademicYearId
		AND IsDeleted = 0
		AND Id = @Id			
	END
END
GO
