/****** Object:  StoredProcedure [dbo].[usp_GetLoginDetailsOfUser]    Script Date: 12/11/2025 10:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================  
--  Author  : Shankar  
--  Create date : 15-Jan-2008  
--  Description : This store procedure is used to fetch students list in a splitted record set.  
-- -----------------------------------------  
-- MODIFICATION LOG  
-- ## Date  Author  Description  
-- -----------------------------------------  
--     Pradnya  Salutation for student.  
--     Ashish      Supervisor role.  
--     Sachin  Remove academic year filter for supervisor.  
--  01 13-Mar-12 Vishal  Inclue IsFinancialYearApplicable column in  
--        result set for Teachers & Supervisors.  
-- =======================================================================  
-- =======================================================================  
--  Modification  : Yogeshk  
--  Create date : 6 Aug 2015 
--  Description : This usp had need to modify for implementation for user rolewise internal menu 
--  Modification  : Umesh Shinde  
--  Modified date : 18 Apr 2016 
--  Modified Description : This usp had need to modify for return student has sibling flag   
--  Modification  : Umesh Shinde  
--  Modified date : 06 May 2016 
--  Modified Description : This usp had need to modify for remove returen school Logo  
-- -----------------------------------------  
ALTER PROCEDURE [dbo].[usp_GetLoginDetailsOfUser] 
     @School_Id INT
	,@User_Name NVARCHAR(200)
	,@Password NVARCHAR(500)
	,@IPAddress NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @User_Role_Id INT
	DECLARE @UserID INT
	DECLARE @YearWiseStudentId INT
	DECLARE @AcademicYearId INT
	DECLARE @EnableLoginForLeftStudent BIT = 0

	SET @UserID = NULL

	SELECT @AcademicYearId = Academic_Year_Id
	FROM Schoolwise_Academic_Year_Master
	WHERE School_Id = @School_Id
		AND Is_Current_Year = 'Y'
		AND Is_Deleted = 'N'

	declare @TBLMidSchools AS TABLE
	(
		MidSchoolId INT
	)

       INSERT INTO @TBLMidSchools
       SELECT 71 UNION
       SELECT 5 UNION
       SELECT 166;

	IF (@Password = '')
	BEGIN	
		SELECT TOP 1 @UserID = User_Id
			,@User_Role_Id = User_Role_Id
		FROM User_Master
		WHERE @User_Name <> ''
			AND (User_Login = @User_Name)
			AND (School_Id = @School_Id)
			AND (Is_Deleted = 'N')
			AND User_Id NOT IN (
				SELECT User_Id
				FROM User_Master User_Master1
				WHERE IsSuperAdmin = 1
				)
	END
	ELSE
	BEGIN
		SELECT TOP 1 @UserID = User_Id
			,@User_Role_Id = User_Role_Id
		FROM User_Master
		WHERE (User_Login = @User_Name)
			AND (User_Password = @Password)
			AND (School_Id = @School_Id)
			AND (Is_Deleted = 'N')
	END

	DECLARE @ChangePassword BIT = 0

	IF (NOT @UserID IS NULL)
	BEGIN	
		IF (@User_Role_Id <> 3 AND @User_Role_Id <> 1)
		BEGIN
				DECLARE @PasswordChangeMandatoryDays INT, @LastPasswordDate DATE

				select @PasswordChangeMandatoryDays = convert(int,Value)
					 from SchoolSettings
					 where SchoolId = @School_Id
					 and AcademicYearId = @AcademicYearId
					 and Name = 'PasswordChangeMandatoryDays'
					 and IsDeleted = 0

					 IF @PasswordChangeMandatoryDays = 0
						SET @ChangePassword = 0
					 ELSE
					 BEGIN
						select @LastPasswordDate = LastPasswordChangeDate
						from User_Master
						where School_Id = @School_Id
					    and User_Id = @UserID
						and Is_Deleted = 'N'

						IF @LastPasswordDate IS NULL OR CONVERT(DATE,@LastPasswordDate) < CONVERT(DATE,DATEADD(DAY, -1 * @PasswordChangeMandatoryDays, dbo.GetLocalDate(DEFAULT)))
							SET @ChangePassword = 1
						ELSE
							SET @ChangePassword = 0
					 END
			END

		--ELSE
		IF (@User_Role_Id = 1)
		BEGIN
			--Get all details for the current user.  
			SELECT User_Master.User_Role_Id
				,User_Master.School_Id
				,User_Master.User_Login
				,User_Master.Email_Address
				,School_Master.School_Name
				,School_Master.Address
				,School_Master.School_Since_Date
				,School_Master.City
				,School_Master.Pincode
				,School_Master.State_Name
				,School_Master.Phone_Number
				,School_Master.School_Orgn_Name
				,School_Master.Registration_No
				,SchoolWise_Academic_Year_Master.Start_date
				,SchoolWise_Academic_Year_Master.End_Date
				,CAST(YEAR(SchoolWise_Academic_Year_Master.Start_date) AS VARCHAR) + '-' + CAST(YEAR(SchoolWise_Academic_Year_Master.End_Date) AS VARCHAR) AS year
				,SchoolWise_Academic_Year_Master.Academic_Year_ID AS year_id
				,User_Master.User_Id
				,User_Master.User_Password
				,User_Master.User_Login AS Expr1
				,User_Role_Master.User_Role_Name
				,User_Master.Is_Locked
				,User_Master.User_Id AS Expr3
				,ISNULL(Salutation_Master_1.Salutation_Name, '') + ' ' + User_Master.User_First_Name AS User_First_Name
				,User_Master.User_Middle_Name
				,User_Master.User_Last_Name
				,User_Master.TermsAccepted
				,
				--CASE DATEDIFF(DAY,User_Master.DOB,dbo.GetLocalDate(DEFAULT)) WHEN 0 THEN 'Y' ELSE 'N' END AS IsBirthday  
				-- CASE WHEN User_Master.DOB IS NULL THEN 'N' ELSE CASE WHEN MONTH(dbo.GetLocalDate(DEFAULT)) - MONTH(User_Master.DOB) = 0 AND DAY(dbo.GetLocalDate(DEFAULT)) - DAY(User_Master.DOB)=0 THEN 'Y' ELSE 'N' END END AS IsBirthday  
				[dbo].[Udf_IsLoginUsersBirthday](@School_Id, User_Master.User_Id, User_Master.DOB) AS IsBirthday
				,User_Master.DOB AS BirthDate
				,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
				,User_Master.BinaryPhotoImage AS BinaryPhotoImage
				,0 as Is10thStudent
				,0 AS EnableLoginForLeftStudent
				,@ChangePassword as ChangePassword
			FROM Salutation_Master AS Salutation_Master_1
			RIGHT OUTER JOIN User_Master
			INNER JOIN School_Master ON User_Master.School_Id = School_Master.School_Id
			INNER JOIN SchoolWise_Academic_Year_Master ON School_Master.School_Id = SchoolWise_Academic_Year_Master.School_Id
			INNER JOIN User_Role_Master ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id ON Salutation_Master_1.Salutation_Id = User_Master.Salutation_Id 
			LEFT OUTER JOIN Accounts.FinancialYearMaster ON Accounts.FinancialYearMaster.SchoolId = User_Master.School_Id AND Accounts.FinancialYearMaster.IsCurrent = 1 AND Accounts.FinancialYearMaster.IsDeleted = 0
			WHERE (SchoolWise_Academic_Year_Master.Is_Current_Year = 'Y')
				AND (School_Master.Is_Deleted = 'N')
				AND (SchoolWise_Academic_Year_Master.Is_Deleted = 'N')
				AND (User_Master.Is_Deleted = 'N')
				AND (User_Master.School_Id = @School_Id)
				AND (User_Master.User_Id = @UserID)
		END
		ELSE
			IF (@User_Role_Id = 2)
			BEGIN
				
				SELECT User_Master.User_Role_Id
					,User_Master.School_Id
					,User_Master.User_Login
					,School_Master.School_Name
					,SchoolWise_Academic_Year_Master.Start_date
					,SchoolWise_Academic_Year_Master.End_Date
					,CAST(YEAR(SchoolWise_Academic_Year_Master.Start_date) AS VARCHAR) + '-' + CAST(YEAR(SchoolWise_Academic_Year_Master.End_Date) AS VARCHAR) AS year
					,SchoolWise_Academic_Year_Master.Academic_Year_ID AS year_id
					,User_Master.User_Id
					,User_Master.User_Password
					,User_Master.User_Login AS Expr1
					,User_Role_Master.User_Role_Name
					,vw_BaseTeacherDetails.Salutation_Name + ' ' + vw_BaseTeacherDetails.Teacher_First_Name AS Teacher_First_Name
					,vw_BaseTeacherDetails.Teacher_Id
					,vw_BaseTeacherDetails.TeacherName
					,User_Master.Is_Locked
					,ISNULL(Salutation_Master_1.Salutation_Name, '') + ' ' + User_Master.User_First_Name AS User_First_Name
					,SSDTASM.Is_ClassTeacher
					,SchoolWise_Standard_Division_Master_1.SchoolWise_Standard_Division_Id AS TeacherStdDivId
					,vw_BaseTeacherDetails.MPT_Applicable
					,vw_BaseTeacherDetails.Assembly_Applicable
					,vw_BaseTeacherDetails.Stayback_Applicable
					,dbo.Udf_GetSectionForTeacher(@School_Id, SchoolWise_Academic_Year_Master.Academic_Year_ID, vw_BaseTeacherDetails.Teacher_Id) AS Section
					,User_Master.TermsAccepted
					,vw_BaseTeacherDetails.IsAcademicYrApplicable
					,
					--CASE DATEDIFF(DAY,User_Master.DOB,dbo.GetLocalDate(DEFAULT)) WHEN 0 THEN 'Y' ELSE 'N' END AS IsBirthday  
					-- CASE WHEN vw_BaseTeacherDetails.Date_Of_Birth IS NULL THEN 'N' ELSE CASE WHEN MONTH(dbo.GetLocalDate(DEFAULT)) - MONTH(vw_BaseTeacherDetails.Date_Of_Birth) = 0 AND DAY(dbo.GetLocalDate(DEFAULT)) - DAY(vw_BaseTeacherDetails.Date_Of_Birth)=0 THEN 'Y' ELSE 'N' END END AS IsBirthday
					[dbo].[Udf_IsLoginUsersBirthday](@School_Id, User_Master.User_Id, vw_BaseTeacherDetails.Date_Of_Birth) AS IsBirthday
					,vw_BaseTeacherDetails.Date_Of_Birth AS BirthDate
					,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
					,SSDTASM.Standard_Id
					,SSDTASM.Division_Id
					,vw_BaseTeacherDetails.IsFinancialYearApplicable
					,vw_BaseTeacherDetails.BinaryPhotoImage
					,0 as Is10thStudent
					,0 AS EnableLoginForLeftStudent
					,@ChangePassword as ChangePassword
				FROM User_Master
				INNER JOIN School_Master ON User_Master.School_Id = School_Master.School_Id
				INNER JOIN SchoolWise_Academic_Year_Master ON School_Master.School_Id = SchoolWise_Academic_Year_Master.School_Id
				INNER JOIN User_Role_Master ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id
				LEFT OUTER JOIN vw_BaseTeacherDetails ON SchoolWise_Academic_Year_Master.Academic_Year_ID = vw_BaseTeacherDetails.academic_year_id
					AND User_Master.User_Id = vw_BaseTeacherDetails.User_Id
					and vw_BaseTeacherDetails.Is_Deleted = 'N'
				LEFT OUTER JOIN SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTASM
				INNER JOIN SchoolWise_Standard_Division_Master AS SchoolWise_Standard_Division_Master_1 ON SSDTASM.Standard_Id = SchoolWise_Standard_Division_Master_1.Standard_Id
					AND SSDTASM.Division_Id = SchoolWise_Standard_Division_Master_1.Division_Id
					AND SSDTASM.Academic_Year_Id = SchoolWise_Standard_Division_Master_1.academic_year_id ON vw_BaseTeacherDetails.Teacher_Id = SSDTASM.Teacher_Id LEFT OUTER JOIN Salutation_Master AS Salutation_Master_1 ON User_Master.Salutation_Id = Salutation_Master_1.Salutation_Id 
					LEFT OUTER JOIN Accounts.FinancialYearMaster ON Accounts.FinancialYearMaster.SchoolId = User_Master.School_Id AND Accounts.FinancialYearMaster.IsCurrent = 1 AND Accounts.FinancialYearMaster.IsDeleted = 0
					WHERE (SchoolWise_Academic_Year_Master.Is_Current_Year = 'Y')
					AND (School_Master.Is_Deleted = 'N')
					AND (SchoolWise_Academic_Year_Master.Is_Deleted = 'N')
					AND (User_Master.Is_Deleted = 'N')
					AND (User_Master.User_Id = @UserID)
			END
			ELSE
				IF (@User_Role_Id = 3)
				BEGIN
					declare @Is10thStdStudent BIT = 0					       

					IF EXISTS
					(
						select TOP 1 1
						from vw_BaseStudentDetails bsd
						inner join YearWise_Student_Details ysd
						on bsd.SchoolWise_Student_Id = ysd.Student_Id
						inner join vw_standard_division vsd
						on ysd.Standard_Id = vsd.Standard_Id
						and ysd.Division_id = vsd.Division_Id
						INNER JOIN SchoolWise_Academic_Year_Master SAYM
						ON YSD.Academic_Year_ID = SAYM.Academic_Year_ID
						where user_id = @UserID						
						and ((vsd.className = '10-G' and ysd.School_Id = 18) OR (vsd.className = '10-B' and ysd.School_Id = 120) OR(ysd.School_Id = 122 AND vsd.className IN ('11 Sci-G','12 Sci-G','12 Com-G')))
						AND SAYM.School_Id = @School_Id
						AND SAYM.Is_Current_Year = 'Y'
						AND YSD.Is_Deleted = 'N'
					)
					BEGIN
						SET @Is10thStdStudent = 1
					END

					IF(@School_Id = 11)
						BEGIN

							IF EXISTS (
										SELECT TOP 1 1
										  FROM SchoolWise_Student_Master
										 WHERE School_Id = @School_Id
										   AND Is_Deleted = 'N'
										   AND SchoolLeft_Date IS NOT NULL
										   AND User_Id = @UserID
									  )
									BEGIN
										SET @EnableLoginForLeftStudent = 1
									END
									
						END
					
					SELECT User_Master.User_Role_Id
						,User_Master.School_Id
						,User_Master.User_Login
						,School_Master.School_Name
						,SchoolWise_Academic_Year_Master.Start_date
						,SchoolWise_Academic_Year_Master.End_Date
						,CAST(YEAR(SchoolWise_Academic_Year_Master.Start_date) AS VARCHAR) + '-' + CAST(YEAR(SchoolWise_Academic_Year_Master.End_Date) AS VARCHAR) AS year
						,SchoolWise_Academic_Year_Master.Academic_Year_ID AS year_id
						,User_Master.User_Id
						,User_Master.User_Password
						,User_Master.User_Login AS Expr1
						,User_Role_Master.User_Role_Name
						,YearWise_Student_Details.YearWise_Student_Id AS Student_Id
						,vw_BaseStudentDetails.Salutation_Name + ' ' + vw_BaseStudentDetails.First_Name AS First_Name
						,dbo.Udf_CheckIfStandardPrePrimary(SchoolWise_Standard_Division_Master.Standard_Id) AS Is_Std_Preprimary
						,SchoolWise_Standard_Division_Master.Standard_Id
						,SchoolWise_Standard_Division_Master.Division_Id
						,SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id
						,User_Master.Is_Locked
						,User_Master.User_Id AS Expr3
						,Standard_Master_1.Standard_Name + ' - ' + Division_Master_1.Division_Name AS studentClass
						,Standard_Master_1.Section
						,User_Master.TermsAccepted
						,vw_BaseStudentDetails.SchoolWise_Student_Id
						,(
							SELECT [dbo].[Udf_IsNewStudent](@School_Id, SchoolWise_Academic_Year_Master.Academic_Year_ID, YearWise_Student_Details.YearWise_Student_Id)
							) AS IsNewStudent
						,
						-- CASE DATEDIFF(DAY,User_Master.DOB,dbo.GetLocalDate(DEFAULT)) WHEN 0 THEN 'Y' ELSE 'N' END AS IsBirthday  
						-- CASE WHEN vw_BaseStudentDetails.DOB IS NULL THEN 'N' ELSE CASE WHEN MONTH(dbo.GetLocalDate(DEFAULT)) - MONTH(vw_BaseStudentDetails.DOB) = 0 AND DAY(dbo.GetLocalDate(DEFAULT)) - DAY(vw_BaseStudentDetails.DOB)=0 THEN 'Y' ELSE 'N' END END AS IsBirthday  
						[dbo].[Udf_IsLoginUsersBirthday](@School_Id, User_Master.User_Id, vw_BaseStudentDetails.DOB) AS IsBirthday
						,vw_BaseStudentDetails.DOB AS BirthDate
						,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
						,vw_BaseStudentDetails.Photo_file_Path_Image AS BinaryPhotoImage
						,@Is10thStdStudent as Is10thStudent,
						@EnableLoginForLeftStudent AS EnableLoginForLeftStudent
						,@ChangePassword as ChangePassword
					FROM Salutation_Master AS Salutation_Master_1
					RIGHT OUTER JOIN YearWise_Student_Details
					INNER JOIN vw_BaseStudentDetails ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
						AND YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id
					INNER JOIN Standard_Master AS Standard_Master_1 ON Standard_Master_1.Standard_Id = YearWise_Student_Details.Standard_Id
					INNER JOIN Division_Master AS Division_Master_1 ON Division_Master_1.Division_Id = YearWise_Student_Details.Division_id
					INNER JOIN SchoolWise_Standard_Division_Master ON YearWise_Student_Details.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id
						AND YearWise_Student_Details.Division_id = SchoolWise_Standard_Division_Master.Division_Id
					RIGHT OUTER JOIN User_Master
					INNER JOIN School_Master ON User_Master.School_Id = School_Master.School_Id
					INNER JOIN SchoolWise_Academic_Year_Master ON School_Master.School_Id = SchoolWise_Academic_Year_Master.School_Id
					INNER JOIN User_Role_Master ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id ON YearWise_Student_Details.Academic_Year_ID = SchoolWise_Academic_Year_Master.Academic_Year_ID
						AND vw_BaseStudentDetails.User_Id = User_Master.User_Id ON Salutation_Master_1.Salutation_Id = User_Master.Salutation_Id 
						LEFT OUTER JOIN Accounts.FinancialYearMaster ON Accounts.FinancialYearMaster.SchoolId = User_Master.School_Id AND Accounts.FinancialYearMaster.IsCurrent = 1 AND Accounts.FinancialYearMaster.IsDeleted = 0
						WHERE
						 ((SchoolWise_Academic_Year_Master.Is_Current_Year = 'Y' AND vw_BaseStudentDetails.Is_Dummy_Admission = 'N') OR
						 (SchoolWise_Academic_Year_Master.Is_Current_Year = 'N' and SchoolWise_Academic_Year_Master.School_Id IN (SELECT MidSchoolId FROM @TBLMidSchools) AND SchoolWise_Academic_Year_Master.Is_NewlyCreated = 'Y' AND vw_BaseStudentDetails.Is_Dummy_Admission = 'Y') OR
						 (SchoolWise_Academic_Year_Master.Is_Current_Year = 'N' and SchoolWise_Academic_Year_Master.School_Id IN (SELECT MidSchoolId FROM @TBLMidSchools) AND SchoolWise_Academic_Year_Master.Is_NewlyCreated = 'Y' AND vw_BaseStudentDetails.Is_Dummy_Admission = 'N' AND SchoolWise_Academic_Year_Master.Is_FinalYear_Generated = 'Y'))
						AND 
						(School_Master.Is_Deleted = 'N')
						AND (SchoolWise_Academic_Year_Master.Is_Deleted = 'N')
						AND (User_Master.Is_Deleted = 'N')
						AND (User_Master.User_Id = @UserID)
						and YearWise_Student_Details.Is_Deleted = 'N'
						END ELSE

					IF (@User_Role_Id = 6)
					BEGIN
						
						SELECT User_Master.User_Role_Id
							,User_Master.School_Id
							,User_Master.User_Login
							,User_Master.Email_Address
							,School_Master.School_Name
							,School_Master.Address
							,School_Master.School_Since_Date
							,School_Master.City
							,School_Master.Pincode
							,School_Master.State_Name
							,School_Master.Phone_Number
							,School_Master.School_Orgn_Name
							,School_Master.Registration_No
							,SchoolWise_Academic_Year_Master.Start_date
							,SchoolWise_Academic_Year_Master.End_Date
							,CAST(YEAR(SchoolWise_Academic_Year_Master.Start_date) AS VARCHAR) + '-' + CAST(YEAR(SchoolWise_Academic_Year_Master.End_Date) AS VARCHAR) AS year
							,SchoolWise_Academic_Year_Master.Academic_Year_ID AS year_id
							,User_Master.User_Id
							,User_Master.User_Password
							,User_Master.User_Login AS Expr1
							,User_Role_Master.User_Role_Name
							,User_Master.Is_Locked
							,User_Master.User_Id AS Expr3
							,ISNULL(Salutation_Master_1.Salutation_Name, '') + ' ' + User_Master.User_First_Name AS User_First_Name
							,User_Master.User_Middle_Name
							,User_Master.User_Last_Name
							,Salutation_Master.Salutation_Name + ' ' + SchoolWise_Supervisor_Master.Supervisor_First_Name AS Supervisor_FirstName
							,User_Master.TermsAccepted
							,SchoolWise_Supervisor_Master.IsAcademicYrApplicable
							,
							--CASE DATEDIFF(DAY,User_Master.DOB,dbo.GetLocalDate(DEFAULT)) WHEN 0 THEN 'Y' ELSE 'N' END AS IsBirthday  
							-- CASE WHEN User_Master.DOB IS NULL THEN 'N' ELSE CASE WHEN MONTH(dbo.GetLocalDate(DEFAULT)) - MONTH(User_Master.DOB) = 0 AND DAY(dbo.GetLocalDate(DEFAULT)) - DAY(User_Master.DOB)=0 THEN 'Y' ELSE 'N' END END AS IsBirthday  
							[dbo].[Udf_IsLoginUsersBirthday](@School_Id, User_Master.User_Id, User_Master.DOB) AS IsBirthday
							,User_Master.DOB AS BirthDate
							,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
							,SchoolWise_Supervisor_Master.IsFinancialYearApplicable
							,SchoolWise_Supervisor_Master.BinaryPhotoImage AS BinaryPhotoImage
							,0 as Is10thStudent,
							0 AS EnableLoginForLeftStudent
							,@ChangePassword as ChangePassword
						FROM Salutation_Master AS Salutation_Master_1
						RIGHT OUTER JOIN Salutation_Master
						INNER JOIN SchoolWise_Supervisor_Master ON Salutation_Master.Salutation_Id = SchoolWise_Supervisor_Master.Salutation_Id
						RIGHT OUTER JOIN User_Master
						INNER JOIN School_Master ON User_Master.School_Id = School_Master.School_Id
						INNER JOIN SchoolWise_Academic_Year_Master ON School_Master.School_Id = SchoolWise_Academic_Year_Master.School_Id
						INNER JOIN User_Role_Master ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id ON
							--      SchoolWise_Supervisor_Master.Academic_Year_Id = SchoolWise_Academic_Year_Master.Academic_Year_ID AND  
							SchoolWise_Supervisor_Master.User_Id = User_Master.User_Id ON Salutation_Master_1.Salutation_Id = User_Master.Salutation_Id 
							LEFT OUTER JOIN Accounts.FinancialYearMaster ON Accounts.FinancialYearMaster.SchoolId = User_Master.School_Id AND Accounts.FinancialYearMaster.IsCurrent = 1 AND Accounts.FinancialYearMaster.IsDeleted = 0
							WHERE (User_Role_Master.User_Role_Id = 6)
							AND (SchoolWise_Academic_Year_Master.Is_Current_Year = 'Y')
							AND (School_Master.Is_Deleted = 'N')
							AND (SchoolWise_Academic_Year_Master.Is_Deleted = 'N')
							AND (User_Master.Is_Deleted = 'N')
							AND (User_Master.User_Id = @UserID) END ELSE

						IF (@User_Role_Id = 7)
						BEGIN
							DECLARE @IsLoginEnabled BIT = 0

							SELECT @AcademicYearId = Academic_Year_Id
							FROM Schoolwise_Academic_Year_Master
							WHERE School_Id = @School_Id
								AND Is_Current_Year = 'Y'
								AND Is_Deleted = 'N'

							IF EXISTS (
									SELECT TOP 1 1
									FROM SchoolSettings
									WHERE IsDeleted = 0
										AND SchoolId = @School_Id
										AND NAME = 'EnableOtherStaffLogin'
										AND AcademicYearId = @AcademicYearId
										AND Value = 'true'
									)
							BEGIN
								SET @IsLoginEnabled = 1
							END

							SELECT User_Master.User_Role_Id
								,User_Master.School_Id
								,User_Master.User_Login
								,User_Master.Email_Address
								,School_Master.School_Name
								,School_Master.Address
								,School_Master.School_Since_Date
								,School_Master.City
								,School_Master.Pincode
								,School_Master.State_Name
								,School_Master.Phone_Number
								,School_Master.School_Orgn_Name
								,School_Master.Registration_No
								,SchoolWise_Academic_Year_Master.Start_date
								,SchoolWise_Academic_Year_Master.End_Date
								,CAST(YEAR(SchoolWise_Academic_Year_Master.Start_date) AS VARCHAR) + '-' + CAST(YEAR(SchoolWise_Academic_Year_Master.End_Date) AS VARCHAR) AS year
								,SchoolWise_Academic_Year_Master.Academic_Year_ID AS year_id
								,User_Master.User_Id
								,User_Master.User_Password
								,User_Master.User_Login AS Expr1
								,User_Role_Master.User_Role_Name
								,CASE 
									WHEN @IsLoginEnabled = 1
										THEN User_Master.Is_Locked
									ELSE 'Y'
									END AS Is_Locked
								,User_Master.User_Id AS Expr3
								,ISNULL(Salutation_Master_1.Salutation_Name, '') + ' ' + User_Master.User_First_Name AS User_First_Name
								,User_Master.User_Middle_Name
								,User_Master.User_Last_Name
								,Salutation_Master.Salutation_Name + ' ' + OtherStaff.FirstName AS Supervisor_FirstName
								,User_Master.TermsAccepted
								,0
								,[dbo].[Udf_IsLoginUsersBirthday](@School_Id, User_Master.User_Id, User_Master.DOB) AS IsBirthday
								,User_Master.DOB AS BirthDate
								,ISNULL(Accounts.FinancialYearMaster.FinancialYearId, 0) AS FinancialYearId
								,0
								,OtherStaff.BinaryPhotoImage AS BinaryPhotoImage
								,0 as Is10thStudent
								,0 AS EnableLoginForLeftStudent
								,@ChangePassword as ChangePassword
							FROM Salutation_Master AS Salutation_Master_1
							RIGHT OUTER JOIN Salutation_Master
							INNER JOIN OtherStaff ON Salutation_Master.Salutation_Id = OtherStaff.SalutationId
							RIGHT OUTER JOIN User_Master
							INNER JOIN School_Master ON User_Master.School_Id = School_Master.School_Id
							INNER JOIN SchoolWise_Academic_Year_Master ON School_Master.School_Id = SchoolWise_Academic_Year_Master.School_Id
							INNER JOIN User_Role_Master ON User_Master.User_Role_Id = User_Role_Master.User_Role_Id ON OtherStaff.UserId = User_Master.User_Id ON Salutation_Master_1.Salutation_Id = User_Master.Salutation_Id 
							LEFT OUTER JOIN Accounts.FinancialYearMaster ON Accounts.FinancialYearMaster.SchoolId = User_Master.School_Id AND Accounts.FinancialYearMaster.IsCurrent = 1 AND Accounts.FinancialYearMaster.IsDeleted = 0
							WHERE (User_Role_Master.User_Role_Id = 7)
								AND (SchoolWise_Academic_Year_Master.Is_Current_Year = 'Y')
								AND (School_Master.Is_Deleted = 'N')
								AND (SchoolWise_Academic_Year_Master.Is_Deleted = 'N')
								AND (User_Master.Is_Deleted = 'N')
								AND (User_Master.User_Id = @UserID) END
                             	
							-- Get all menus from database.
							DECLARE @StdDivId INT = 0

							IF (@User_Role_Id = 3)
								BEGIN
									SELECT TOP 1 
											@StdDivId = SWSDM.SchoolWise_Standard_Division_Id
									FROM YearWise_Student_Details YSD
									INNER JOIN SchoolWise_Standard_Division_Master SWSDM
										ON SWSDM.Standard_Id = YSD.Standard_Id
										AND SWSDM.Division_Id = YSD.Division_Id
								INNER JOIN SchoolWise_Student_Master SSM
										ON SSM.SchoolWise_Student_Id = YSD.Student_Id
									WHERE SSM.User_Id = @UserID
										AND YSD.Is_Deleted = 'N'
										AND YSD.Academic_Year_ID=@AcademicYearId
										AND YSD.School_Id=@School_Id
								 END
								ELSE
								BEGIN
									SET @StdDivId = 0
								END

							DECLARE @tblConfigureMenu AS TABLE (
								ConfigureMenuId INT
								,ConfigureMenuName VARCHAR(300)
								,Parent_Menu_Id INT
								,End_Date DATETIME
								,Priority INT
								,SubmenuCount INT
								,ApplyAllSubMenu BIT
								, ExcludeIt BIT
								,StdDivId   INT
								)

						IF (@User_Role_Id = 3)
						BEGIN
					       INSERT INTO @tblConfigureMenu
							SELECT DISTINCT
								   CM.ConfigureMenuId,
								   CM.ConfigureMenuName,
								   CM.Parent_Menu_Id,
								   CM.End_Date,
								   CM.Priority,
								   CM.SubMenuCount,
								   CM.ApplyAllSubMenu,
								   0,
								   VSD.SchoolWise_Standard_Division_Id
							FROM ConfigureMenu CM
							INNER JOIN UserRolewiseConfiguredMenuDetails URCMD
								ON CM.ConfigureMenuId = URCMD.ConfiguredMenuId
							INNER JOIN ConfigMenuAssociatedClasses CMAC
								ON CMAC.ConfigMenuId = CM.ConfigureMenuId
							INNER JOIN vw_standard_division VSD
							ON CMAC.OriginalStandardId = vsd.Original_Standard_Id
							and CMAC.OriginalDivisionId = vsd.Original_Division_Id
							WHERE CM.Is_Active = 'Y'
							  AND CM.IsDeleted = 0
							  AND URCMD.UserRoleId = @User_Role_Id
							  AND VSD.SchoolWise_Standard_Division_Id = @StdDivId
							  AND CMAC.IsDeleted = 0
						END
						ELSE
						BEGIN
							INSERT INTO @tblConfigureMenu
							SELECT DISTINCT
								   CM.ConfigureMenuId,
								   CM.ConfigureMenuName,
								   CM.Parent_Menu_Id,
								   CM.End_Date,
								   CM.Priority,
								   CM.SubMenuCount,
								   CM.ApplyAllSubMenu,
								   0,
								   0
							FROM ConfigureMenu CM
							INNER JOIN UserRolewiseConfiguredMenuDetails URCMD
								ON CM.ConfigureMenuId = URCMD.ConfiguredMenuId
							WHERE CM.Is_Active = 'Y'
							  AND CM.IsDeleted = 0
							  AND URCMD.UserRoleId = @User_Role_Id;
						END
							DECLARE @IsMediclaimExists INT = 0

							IF EXISTS (
									SELECT TOP 1 1
									FROM @tblConfigureMenu
									WHERE ConfigureMenuName = 'Mediclaim'
									)
							BEGIN
								SET @IsMediclaimExists = 1
							END
						
							UPDATE SS
							SET ExcludeIt = 1
							FROM @tblConfigureMenu SS
							INNER JOIN
							(
								SELECT S1.*,s2.TotalCount, ROW_NUMBER() OVER(PARTITION BY Parent_menu_id order by Priority asc) as RowNo
								FROM @tblConfigureMenu S1
								INNER JOIN
								(
									SELECT ConfigureMenuId,SubmenuCount AS TotalCount
									FROM @tblConfigureMenu
									WHERE Parent_Menu_Id = 0
									AND SubMenuCount <> 0
									and ApplyAllSubMenu = 0
									AND SubMenuCount IS NOT NULL
								)S2
								ON S1.Parent_Menu_Id = S2.ConfigureMenuId
							)S
							ON SS.ConfigureMenuId = S.ConfigureMenuId
							WHERE RowNo > TotalCount

							IF (
									@User_Role_Id = 3
									AND @IsMediclaimExists = 1
									)
							BEGIN							
								DELETE
								FROM @tblConfigureMenu
								WHERE ConfigureMenuName = 'Mediclaim'

								IF(@EnableLoginForLeftStudent = 1 AND @School_Id = 11)
									BEGIN
										DELETE FROM @tblConfigureMenu
									END
									

								SELECT *
								FROM @tblConfigureMenu
								WHERE ExcludeIt = 0
								ORDER BY Priority
							END
							ELSE
							BEGIN
								IF(@EnableLoginForLeftStudent = 1 AND @School_Id = 11)
									BEGIN
										DELETE FROM @tblConfigureMenu
									END

								SELECT *
								  FROM @tblConfigureMenu
								 WHERE ExcludeIt = 0
							  ORDER BY Priority
							END

							DECLARE @LoginCount INT = (
								SELECT COUNT(Login_Date) AS Count FROM User_Master INNER JOIN Login_History ON User_Master.User_Id = Login_History.User_Id WHERE User_Master.User_Id = @UserID
								AND Is_Deleted = 'N' GROUP BY Login_History.User_Id
								)
							
							-- Get user's last login detaiils  
							SELECT TOP 1 Login_History.User_Login
								,Login_History.IP_Address
								,convert(VARCHAR(20), Login_History.Login_Date, 113) AS LoginDate
								,@LoginCount AS Count
								,Login_History.User_Id
							FROM User_Master
							INNER JOIN Login_History ON User_Master.User_Id = Login_History.User_Id
							WHERE User_Master.User_Id = @UserID
							GROUP BY Login_History.User_Id
								,Login_History.User_Login
								,Login_History.IP_Address
								,Login_History.Login_Date
							ORDER BY Login_History.Login_Date DESC

							IF (@IPAddress <> '')
							BEGIN
								-- Insert into login history.  
								INSERT INTO Login_History (
									User_Id
									,User_Login
									,IP_Address
									)
								VALUES (
									@UserID
									,@User_Name
									,@IPAddress
									)
							END

							SELECT Configuration_Master.Configure_Id
								,UserScreenPermissions.Can_Edit
							FROM UserScreenPermissions
							INNER JOIN Configuration_Master ON UserScreenPermissions.Screen_Id = Configuration_Master.Configure_Id
							WHERE (Configuration_Master.Is_Deleted = 'N')
								AND (UserScreenPermissions.Is_Deleted = 0)
								AND (UserScreenPermissions.User_Id = @UserID)
							ORDER BY Configuration_Master.Parent_Id
								,Configuration_Master.Sort_Index

							DECLARE @BetaURL NVARCHAR(1000)

							SELECT @BetaURL = Value
							FROM SchoolSettings
							WHERE SchoolId = @School_Id
							AND AcademicYearId = @AcademicYearId
							AND IsDeleted = 0
							AND Name = 'BetaVersionURL'
							
							-- Return student has sibling flag   
							DECLARE @HasSibling INT = 0

							IF (@User_Role_Id = 3)
							BEGIN
								DECLARE @tblStudentSiblingDetails AS TABLE (
									YearwiseStudentId INT
									,RegistrationNo NVARCHAR(50)
									,StudentName NVARCHAR(100)
									,ClassName NVARCHAR(30)
									,DivisionName NVARCHAR(30)
									,IsLeftStudent BIT
									,StudentSiblingId INT
									)

								--Get Current Academic year Id and pass this to the usp which is used to get sibling details
								SELECT @AcademicYearId = Academic_Year_Id
								FROM Schoolwise_Academic_Year_Master
								WHERE School_Id = @School_Id
									AND Is_Current_Year = 'Y'
									AND Is_Deleted = 'N'

								SELECT @YearWiseStudentId = YearWise_Student_Details.YearWise_Student_Id
								FROM YearWise_Student_Details
								INNER JOIN SchoolWise_Student_Master ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id
								INNER JOIN User_Master ON User_Master.User_Id = SchoolWise_Student_Master.User_Id
								WHERE User_Master.User_Id = @UserID
									AND YearWise_Student_Details.Academic_Year_ID = @AcademicYearId
								AND YearWise_Student_Details.Is_Deleted = 'N'

								INSERT INTO @tblStudentSiblingDetails
								EXEC dbo.USP_GetEnteredStudentSiblingDetail @SchoolId = @School_Id
									,@Academic_Year_Id = @AcademicYearId
									,@StudentId = @YearWiseStudentId

								IF EXISTS (
										SELECT TOP 1 1
										FROM @tblStudentSiblingDetails
										)
								BEGIN
									SELECT @HasSibling = 1;
								END

								SELECT @HasSibling HasSibling
							END

							DECLARE @HasParentStaff BIT = 0
							
								IF ((@User_Role_Id = 3 AND
								EXISTS
								(
									select top 1 1
									from SwitchLoginDetails sld
									INNER JOIN vw_BaseStudentDetails BSD
									ON SLD.SchoolwiseStudentId = BSD.SchoolWise_Student_Id
									WHERE BSD.User_Id = @UserID
									AND SLD.IsDeleted = 0
									and ParentUserId <> 0
								 )) OR 
								 (@User_Role_Id <> 3 AND
								EXISTS
								(
									select top 1 1
									from SwitchLoginDetails
									WHERE ParentUserId = @UserID
									AND IsDeleted = 0
								 )))
								BEGIN
									SET @HasParentStaff = 1
								END

								SELECT @HasParentStaff HasParentStaff, @BetaURL BetaURL

						END
					END