/****** Object:  StoredProcedure [dbo].[usp_GetAllLeaveApprovalCatgories]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAllLeaveApprovalCatgories]	
    @SchoolId INT,
	@UserId int,
	@CategoryId int = 0,
	@SortExpression NVARCHAR(200),
	@StartIndex INT,
	@EndIndex INT,
	@ShowOldNonUpdated BIT,
	@ShowOnlyNonUpdated BIT,
	@AcademicYearId INT=0
AS
BEGIN
  
 -- DECLARE @FilterString NVARCHAR(1000)=''
	--IF @CategoryId <> ''
	--	SET @FilterString = ' AND (UserName LIKE ''%'+@CategoryId+'%'' ) '

	CREATE TABLE #tblLeaves
	(

		LeaveID iNT,
		StatusId INT
	)

	DECLARE @SalaryPublishDate DATE
	SELECT top 1 @SalaryPublishDate = EOMONTH(CAST(Year AS NVARCHAR(4))+'-'+CAST(MonthId AS NVARCHAR(4))+'-1')
	FROM SalaryPublishStatus
	WHERE Is_Deleted = 'N'
	AND IsPublished = 1
	ORDER BY Year DESC, MonthId DESC

IF @CategoryId = 2
	BEGIN
		INSERT INTO #tblLeaves
			 SELECT ULD.Id,
			        CASE WHEN LAD.StatusId IS NULL THEN 6 ELSE LAD.StatusId END
			   FROM LeaveApprovalConfigurationDetails LACD
		 INNER JOIN UserLeaveDetails ULD
			     ON LACD.UserId = uld.UserId
	LEFT OUTER JOIN LeaveApprovalDetails LAD
				 ON LAD.ReportingUserId = LACD.ReportingUserId
				AND LAD.SchoolId = LACD.SchoolId
				AND LAD.AcademicYearID = LACD.AcademicYearId
				AND ULD.Id = LAD.UserLeaveDetailsId
				AND LAD.IsDeleted=0
			  WHERE LACD.IsDeleted = 0
			    and LACD.schoolid = @SchoolId
			    and LACD.ReportingUserId = @UserId
			    and ULD.IsDeleted = 0
			    and uld.StatusId  = 1
				AND LACD.AcademicYearId = @AcademicYearId
				AND LAD.ReportingUserId IS NULL
				AND ULD.AcademicYearId = @AcademicYearId
				
   DELETE FROM #tblLeaves
			  WHERE LeaveID NOT IN (
									 SELECT Submitted.LeaveID
									   FROM (
												SELECT tblLeaves.LeaveID,
													   ULD.UserId, 
													   COUNT(1) AS SubmittedCount
												  FROM LeaveApprovalDetails LAD
										    INNER JOIN #tblLeaves tblLeaves
													ON LAD.UserLeaveDetailsId = tblLeaves.LeaveID
											INNER JOIN UserLeaveDetails ULD
													ON LAD.UserLeaveDetailsId = ULD.Id
												   AND LAD.SchoolId = ULD.SchoolId
												   where LAD.IsDeleted=0
											  GROUP BY ULD.UserId, tblLeaves.LeaveID
											) Submitted
								 INNER JOIN (
												SELECT LA.UserId,
													   COUNT(1) AS ReportingCount
												  FROM LeaveApprovalConfigurationDetails LA
											INNER JOIN (
															SELECT UserId, 
																   ApproverSortOrder 
															  FROM LeaveApprovalConfigurationDetails 
															 WHERE ReportingUserId = @UserId
															   AND IsDeleted = 0 
															   AND SchoolId = @SchoolId
															   AND AcademicYearId = @AcademicYearId
														)SS
													 ON SS.UserId = LA.UserId
													AND SS.ApproverSortOrder >= LA.ApproverSortOrder
												  WHERE IsDeleted = 0 
												    AND SchoolId = @SchoolId
													AND LA.AcademicYearId = @AcademicYearId
												    --AND LA.ReportingUserId <> LA.UserId
											   GROUP BY LA.UserId
											) Reporting
										 ON Submitted.UserId = Reporting.UserId
								        AND Submitted.SubmittedCount = Reporting.ReportingCount
									)		
	END
ELSE IF(@CategoryId = 1)
	BEGIN
		INSERT INTO #tblLeaves
		     SELECT ULD.Id,			 
			        ULD.StatusId
		       FROM UserLeaveDetails ULD
		      WHERE ULD.IsDeleted = 0
		        AND ULD.SchoolId = @SchoolId
				AND AcademicYearId = @AcademicYearId
		        AND USERID = @UserId	
			
	END
ELSE IF(@CategoryId = 3) -- Action Taken By me
	BEGIN	

	    INSERT INTO #tblLeaves
			 SELECT UserLeaveDetailsId,
			        StatusId
			   FROM LeaveApprovalDetails
			  WHERE IsDeleted = 0
			    AND SchoolId = @SchoolId
				AND ReportingUserId = @UserId
			    AND (Remark <> '' OR Remark <> NULL)
	END
ELSE IF(@CategoryId = 4) -- All approved
	BEGIN		
	    INSERT INTO #tblLeaves
			 SELECT UserLeaveDetailsId,
			        LAD.StatusId
			   FROM LeaveApprovalDetails LAD
			   INNER JOIN UserLeaveDetails ULD
			   ON LAD.UserLeaveDetailsId = ULD.Id
			   INNER JOIN LeaveApprovalConfigurationDetails LACD
			   ON LAD.ReportingUserId = LACD.ReportingUserId
			   AND ULD.UserId = LACD.UserId
			  WHERE LAD.IsDeleted = 0
			    AND LAD.SchoolId = @SchoolId
				and LAD.StatusId = 3 -- approved
				AND ULD.IsDeleted = 0
				AND LACD.IsDeleted = 0
				AND LACD.IsFinalApprover = 1
				AND LACD.AcademicYearId = @AcademicYearId
				AND ULD.AcademicYearId = @AcademicYearId
				AND ((@ShowOnlyNonUpdated = 1 AND ULD.IsLeaveUpdatedInPayroll = 0) OR @ShowOnlyNonUpdated = 0)
				and (@ShowOldNonUpdated = 1 OR (@ShowOldNonUpdated = 0 AND (EndDate > @SalaryPublishDate OR IsLeaveUpdatedInPayroll = 1)))				
	END
ELSE IF (@CategoryId = 5) -- ALL Leaves
	BEGIN
		INSERT INTO #tblLeaves (LeaveID, StatusId)
		SELECT 
				ULD.Id,
				ULD.StatusId
		FROM UserLeaveDetails ULD
		INNER JOIN 
		(
			SELECT ACD.UserId
			FROM LeaveApprovalConfigurationDetails ACD
			INNER JOIN (
					SELECT UserId, MAX(ApproverSortOrder) AS MaxSortOrder
					FROM LeaveApprovalConfigurationDetails
					WHERE IsDeleted = 0
					  AND SchoolId = @SchoolId
					  AND AcademicYearId = @AcademicYearId
					  AND IsFinalApprover=1
					GROUP BY UserId
				) M
				ON M.UserId = ACD.UserId
			   AND M.MaxSortOrder = ACD.ApproverSortOrder
			WHERE ACD.ReportingUserId = @UserId
			  AND ACD.IsDeleted = 0
			  AND ACD.SchoolId = @SchoolId
			  AND ACD.AcademicYearId = @AcademicYearId
			  AND IsFinalApprover=1
		)TU
		ON TU.UserId = ULD.UserId
		WHERE ULD.IsDeleted = 0
			AND ULD.SchoolId = @SchoolId
			AND ULD.AcademicYearId = @AcademicYearId;
	END
	CREATE TABLE #tempLeave
	(
		RowNo int,
		Id iNT,
		UserId int,
		LeaveId int,
		Status nvarchar(100),
		StartDate datetime,
		EndDate datetime,
		TotalDays DECIMAL(10,2),
		Description nvarchar(Max),
		StatusId int,
		UserName nvarchar(204),
		IsApprovedByApprover BIT,
		LeaveName NVARCHAR(50),
		LeaveBalance DECIMAL(10,2),
		IsLeaveUpdatedInPayroll BIT
	) 

	DECLARE @LeaveYear NVARCHAR(1000)
	
	SET @LeaveYear = [dbo].[udf_GetLeaveYearId](MONTH(dbo.GetLocalDate(default)),YEAR(dbo.GetLocalDate(default)))

	DECLARE @Sql NVARCHAR(max)
	 SET @Sql = 'INSERT INTO #tempLeave
 									SELECT ROW_NUMBER() OVER(ORDER BY '+@SortExpression+') as RowNo,
									ULD.Id,	
 									ULD.UserId, 
									ULD.LeaveId, 
									LS.Status, 
									ULD.StartDate, 
									ULD.EndDate,
									ULD.TotalDays, 
									ULD.Description, 
									ULD.StatusId, 
									APU.UserName + '' ('' + APU.Designation +'')'' as UserName,
									0,
									SL.ShortName,
									CASE  WHEN SL.IsUnPaidLeave = 1 THEN 0  ELSE ISNULL(ULYWC.LeaveBalance, 0)END AS LeaveBalance,
									ULD.IsLeaveUpdatedInPayroll									
							   FROM UserLeaveDetails ULD WITH(NOLOCK)						 
						 INNER JOIN vw_AllPayrollUsers APU WITH(NOLOCK)
								 ON ULD.UserId = APU.UserId						 
						 INNER JOIN #tblLeaves TL
							     ON ULD.Id = tl.LeaveID
						 INNER JOIN LeaveStatuses LS WITH(NOLOCK)
								 ON TL.StatusId = LS.Id
						 INNER JOIN StaffLeaves SL
								 ON ULD.LeaveId = SL.LeaveId
								AND ULD.SchoolId = Sl.SchoolId
					LEFT OUTER JOIN UserLeavesYearwiseConfiguration ULYWC
								 ON ULD.UserId = ULYWC.UserId
								AND ULD.LeaveId = ULYWC.LeaveId
								AND ULD.SchoolId = ULYWC.SchoolId
								AND ULYWC.Year = '+CAST(@LeaveYear AS NVARCHAR(10))+'
								and ULYWC.Is_Deleted = ''N''
				              WHERE ULD.SchoolId = '+CAST(@SchoolId AS NVARCHAR(5))+'	
							    AND ULD.AcademicYearId = '+CAST(@AcademicYearId AS NVARCHAR(5))+'
							    AND ULD.IsDeleted = 0
							
								AND (('+CAST(@ShowOnlyNonUpdated AS NVARCHAR(10))+' = 1 AND ULD.IsLeaveUpdatedInPayroll = 0) OR '+CAST(@ShowOnlyNonUpdated AS NVARCHAR(10))+' = 0)	
							    AND ('+CAST(@ShowOldNonUpdated AS NVARCHAR(10))+' = 1 OR '+CAST(@CategoryId AS NVARCHAR(10))+' = 1 OR ('+CAST(@ShowOldNonUpdated AS NVARCHAR(10))+' = 0 AND (EndDate >'''+CAST(@SalaryPublishDate AS NVARCHAR(10))+''' OR ULD.IsLeaveUpdatedInPayroll = 1)))									
							    AND LS.IsDeleted = 0'
								
	PRINT @Sql
	EXEC(@Sql)		   

	DECLARE @cnt INT
	SELECT @cnt = COUNT(1)
	FROM #tempLeave

	UPDATE tbl
	   SET IsApprovedByApprover = 1
	  FROM #tempLeave tbl
INNER JOIN (
				SELECT UserLeaveDetailsId
				  FROM LeaveApprovalDetails
				 WHERE IsDeleted = 0
				   AND SchoolId = @SchoolId
				   AND ReportingUserId <> @UserId
			  GROUP BY UserLeaveDetailsId
		   )SS
		ON SS.UserLeaveDetailsId = tbl.Id

	SELECT *, 
		   @cnt AS TotalRows
	  FROM #tempLeave
	 WHERE RowNo > @StartIndex 
	   AND RowNo <= @EndIndex

	DROP TABLE #tempLeave
	drop table #tblLeaves
END
GO
