/****** Object:  StoredProcedure [dbo].[usp_SaveObservationDetails]    Script Date: 25-02-2026 14:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================================
-- Author:		Sachin
-- Create date: 16-Sept-2015
-- Description:	This USP is used to save observation details.
-- ===============================================================
ALTER PROCEDURE [dbo].[usp_SaveObservationDetails]
	@TestId INT,
	@StdDivId INT,
	@SubjectId INT,
	@SchoolId INT,
	@AcademicYearId INT,
	@UpdatedById INT,
	@ObservationXml XML,
	@IsSummaryMode BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblObservationDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		StudentId INT,
		ParameterId INT,
		GradeId INT,
		Remark NVARCHAR(500)
	)
	
	INSERT INTO @tblObservationDetails
	SELECT T.C.value('./StudentId[1]','INT'),
		   T.C.value('./ParameterId[1]','INT'),
		   T.C.value('./GradeId[1]','INT'),
		   T.C.value('./Remark[1]','NVARCHAR(500)')
	  FROM @ObservationXml.nodes('ArrayOfObservationDetails/ObservationDetails') T(c)
	
	DECLARE @StudentId INT,
		    @ParameterId INT,
		    @GradeId INT,
		    @Id INT,
			@Remark NVARCHAR(500)
		    
	SET @Id = 1
	
	WHILE EXISTS
	(
		SELECT TOP 1 1
		  FROM @tblObservationDetails
		 WHERE Id = @Id
	)
	BEGIN
		SELECT TOP 1 @StudentId =StudentId, 
					 @ParameterId = ParameterId, 
					 @GradeId = GradeId,
					 @Remark = Remark
		  FROM @tblObservationDetails
		 WHERE Id = @Id
		
		IF @IsSummaryMode = 0
		BEGIN
				IF @GradeId <> 0
				BEGIN
						IF EXISTS
						(
						   SELECT TOP 1 1
							 FROM StudentObservationDetails
							WHERE SchoolId = @SchoolId
							  AND AcademicYearId = @AcademicYearId
							  AND IsDeleted = 0
							  AND TestId = @TestId
							  AND StudentId = @StudentId
							  AND ParameterId = @ParameterId
						)
						BEGIN
							 UPDATE StudentObservationDetails
								SET GradeId = @GradeId,
									Comment = @Remark,
									UpdatedById = @UpdatedById,
									UpdateDate = dbo.GetLocalDate(DEFAULT)
							  WHERE SchoolId = @SchoolId
								AND AcademicYearId = @AcademicYearId
								AND IsDeleted = 0
								AND TestId = @TestId
								AND StudentId = @StudentId
								AND ParameterId = @ParameterId
						END
						ELSE
						BEGIN
								INSERT INTO[dbo].[StudentObservationDetails]
								(
								   [TestId]
								   ,[StudentId]
								   ,[ParameterId]
								   ,[GradeId]
								   ,[Comment]
								   ,[SchoolId]
								   ,[AcademicYearId]
								   ,[IsDeleted]
								   ,[InsertedById]
								   ,[InsertDate]
								   ,[UpdatedById]
								   ,[UpdateDate]
								 )
								 SELECT @TestId,
										@StudentId,
										@ParameterId,
										@GradeId,
										@Remark,
										@SchoolId,
										@AcademicYearId,
										0,
										@UpdatedById,
										dbo.GetLocalDate(DEFAULT),
										@UpdatedById,
										dbo.GetLocalDate(DEFAULT)
								
						END
				END
				ELSE
				BEGIN
				 UPDATE StudentObservationDetails
					SET IsDeleted = 1,
						UpdatedById = @UpdatedById,
						UpdateDate = dbo.GetLocalDate(DEFAULT)
				  WHERE SchoolId = @SchoolId
					AND AcademicYearId = @AcademicYearId
					AND IsDeleted = 0
					AND TestId = @TestId
					AND StudentId = @StudentId
					AND ParameterId = @ParameterId
		END
		END
		ELSE
		BEGIN
			IF @GradeId <> 0
				BEGIN
						IF EXISTS
						(
						   SELECT TOP 1 1
							 FROM StudentObservationSummmaryRemarkDetails
							WHERE SchoolId = @SchoolId
							  AND AcademicYearId = @AcademicYearId
							  AND IsDeleted = 0							  
							  AND StudentId = @StudentId
							  AND ParameterId = @ParameterId
						)
						BEGIN
							 UPDATE StudentObservationSummmaryRemarkDetails
								SET GradeId = @GradeId,
									Comment = @Remark,
									UpdatedById = @UpdatedById,
									UpdateDate = dbo.GetLocalDate(DEFAULT)
							  WHERE SchoolId = @SchoolId
								AND AcademicYearId = @AcademicYearId
								AND IsDeleted = 0								
								AND StudentId = @StudentId
								AND ParameterId = @ParameterId
						END
						ELSE
						BEGIN
								INSERT INTO[dbo].[StudentObservationSummmaryRemarkDetails]
								(
								    [StudentId]
								   ,[ParameterId]
								   ,[GradeId]
								   ,[Comment]
								   ,[SchoolId]
								   ,[AcademicYearId]
								   ,[IsDeleted]
								   ,[InsertedById]
								   ,[InsertDate]
								   ,[UpdatedById]
								   ,[UpdateDate]
								 )
								 SELECT @StudentId,
										@ParameterId,
										@GradeId,
										@Remark,
										@SchoolId,
										@AcademicYearId,
										0,
										@UpdatedById,
										dbo.GetLocalDate(DEFAULT),
										@UpdatedById,
										dbo.GetLocalDate(DEFAULT)
								
						END
				END
				ELSE
				BEGIN
					 UPDATE StudentObservationSummmaryRemarkDetails
						SET IsDeleted = 1,
							UpdatedById = @UpdatedById,
							UpdateDate = dbo.GetLocalDate(DEFAULT)
					  WHERE SchoolId = @SchoolId
						AND AcademicYearId = @AcademicYearId
						AND IsDeleted = 0						
						AND StudentId = @StudentId
						AND ParameterId = @ParameterId
				END
		END

		DELETE FROM @tblObservationDetails
		 WHERE Id = @Id
		
		SET @Id = @Id + 1
	END
    
END