/****** Object:  StoredProcedure [dbo].[usp_SubmitObservationDetails]    Script Date: 25-02-2026 14:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================================
-- Author:		Sachin
-- Create date: 16-Sept-2015
-- Description:	This USP is sued to submit observation details.
-- ==================================================================
ALTER PROCEDURE [dbo].[usp_SubmitObservationDetails] 
	@TestId INT,
	@StdDivId INT,
	@SubjectId INT,
	@SchoolId INT,
	@AcademicYearId INT,
	@UpdatedById INT
	,@IsSubmitted INT,
	@IsSummaryMode BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	IF @IsSummaryMode = 0
	BEGIN
			IF NOT EXISTS
			(
				SELECT TOP 1 1
				FROM [ObservationSubmissionStatus]
				where TestId = @TestId
					and StdDivId = @StdDivId
					and SubjectId = @SubjectId
					and IsDeleted = 0
					and SchoolId = @SchoolId
					and AcademicYearId = @AcademicYearId
			)
			begin
				INSERT INTO [dbo].[ObservationSubmissionStatus]
				   (
					[TestId]
				   ,[StdDivId]
				   ,[SubjectId]
				   ,[IsSubmitted]
				   ,[SchoolId]
				   ,[AcademicYearId]
				   ,[IsDeleted]
				   ,[InsertedById]
				   ,[InsertDate]
				   ,[UpdatedById]
				   ,[UpdateDate]
				   )
				 SELECT @TestId,
						@StdDivId,
						@SubjectId,
						1,
						@SchoolId,
						@AcademicYearId,
						0,
						@UpdatedById,
						dbo.GetLocalDate(DEFAULT),
						@UpdatedById,
						dbo.GetLocalDate(DEFAULT)
			END
			else
			begin 
					UPDATE ObservationSubmissionStatus
					SET IsSubmitted = @IsSubmitted
					, UpdatedById = @UpdatedById
					, UpdateDate = dbo.GetLocalDate(default)
					where TestId = @TestId
					and StdDivId = @StdDivId
					and SubjectId = @SubjectId
					and IsDeleted = 0
					and SchoolId = @SchoolId
					and AcademicYearId = @AcademicYearId
			end

			IF @SchoolId = 122 AND @AcademicYearId >= 11 -- SNS
			BEGIN
					DECLARE @tblGradeCalculationDetails AS TABLE
					(
						Id INT IDENTITY(1,1),
						StudentId INT,
						ParameterId INT,
						FIrstTermGrade NVARCHAR(10),
						SecondTermGrade NVARCHAR(10),
						Average DECIMAL(10,2),
						FinalGradeId INT,
						FinalGradeName NVARCHAR(10)
					)

					;WITH StudentObservations AS
					(
						SELECT SOSRD.StudentId, 
							SOSRD.ParameterId, 
							SOSRD.GradeId,
							STM.Term_Id,
							OG.ShortName
						FROM StudentObservationDetails SOSRD WITH(NOLOCK)
				INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
						ON SOSRD.StudentId = YSD.Yearwise_student_Id
				INNER JOIN vw_Standard_Division VSD WITH(NOLOCK)
						ON YSD.Standard_Id = VSD.Standard_Id
						AND YSD.Division_Id = VSD.Division_Id
				INNER JOIN ObservationParameters OP
						ON SOSRD.ParameterId = OP.Id
						AND SOSRD.SchoolId = OP.SchoolId
						AND SOSRD.AcademicYearId = OP.AcademicYearId
				INNER JOIN ObservationSkills OS
						ON OP.SkillId = OS.Id
						AND OP.SchoolId = OS.SchoolId
						AND OP.AcademicYearId = OS.AcademicYearId
				INNER JOIN SchoolWise_Test_Master STM
						ON SOSRD.TestId = STM.SchoolWise_Test_Id
						AND SOSRD.AcademicYearId = STM.academic_year_id
				INNER JOIN ObservationGrades OG
					ON SOSRD.GradeId = OG.Id
						WHERE SOSRD.SchoolId = @SchoolId
						AND SOSRD.AcademicYearId = @AcademicYearId
						AND SOSRD.IsDeleted = 0
						AND OG.IsDeleted = 0
						AND STM.Is_Deleted = 'N'				
						AND OS.SubjectId = @SubjectId
						AND OP.IsSubmitted = 1
						AND VSD.Schoolwise_Standard_Division_Id = @StdDivId
					)
					INSERT INTO @tblGradeCalculationDetails
					select SO1.StudentId,SO1.ParameterId, SO1.ShortName,SO2.ShortName, ROUND((CONVERT(DECIMAL(5,2),SO1.ShortName) + CONVERT(INT,SO2.ShortName))/2,0), OSRG.Id as FinalGradeId, OSRG.ShortName
					from StudentObservations SO1
					INNER JOIN StudentObservations SO2
					ON SO1.StudentId = SO2.StudentId
					AND SO1.ParameterId = SO2.ParameterId
					INNER JOIN ObservationSummaryRemarkGrades OSRG
					ON (ROUND((CONVERT(DECIMAL(5,2),SO1.ShortName) + CONVERT(INT,SO2.ShortName))/2,0)) BETWEEN [StartFromRange] AND [EndToRange]
					WHERE SO1.Term_Id = 1
					AND SO2.Term_Id = 2
					AND OSRG.IsDeleted = 0

					UPDATE SOSRD
					SET GradeId = TGCD.FinalGradeId,
						UpdatedById = @UpdatedById,
						UpdateDate = dbo.GetLocalDate(DEFAULT)
					FROM @tblGradeCalculationDetails TGCD
					INNER JOIN StudentObservationSummmaryRemarkDetails SOSRD
					ON TGCD.StudentId = SOSRD.StudentId
					AND TGCD.ParameterId = SOSRD.ParameterId
					WHERE SOSRD.Schoolid = @SchoolId
					and SOSRD.AcademicYearId = @AcademicYearId
					AND SOSRD.IsDeleted = 0

					INSERT INTO StudentObservationSummmaryRemarkDetails
					select TGCD.StudentId,TGCD.ParameterId,TGCD.FinalGradeId,'',@SchoolId,@AcademicYearId,0,@UpdatedById,dbo.GetLocalDate(default),null,null
					FROM @tblGradeCalculationDetails TGCD
					LEFT OUTER JOIN StudentObservationSummmaryRemarkDetails SOSRD
					ON TGCD.StudentId = SOSRD.StudentId
					AND TGCD.ParameterId = SOSRD.ParameterId
					AND SOSRD.Schoolid = @SchoolId
					and SOSRD.AcademicYearId = @AcademicYearId
					AND SOSRD.IsDeleted = 0
					WHERE SOSRD.StudentId IS NULL
			END
	END
	ELSE
	BEGIN
			IF NOT EXISTS
			(
				SELECT TOP 1 1
				FROM [StudentObservationSummmaryRemarkSubmitStatus]
				where StdDivId = @StdDivId
					and SubjectId = @SubjectId
					and IsDeleted = 0
					and SchoolId = @SchoolId
					and AcademicYearId = @AcademicYearId
			)
			begin
				INSERT INTO [dbo].[StudentObservationSummmaryRemarkSubmitStatus]
				   (					
				    [StdDivId]
				   ,[SubjectId]
				   ,[IsSubmitted]
				   ,[SchoolId]
				   ,[AcademicYearId]
				   ,[IsDeleted]
				   ,[InsertedById]
				   ,[InsertDate]
				   ,[UpdatedById]
				   ,[UpdateDate]
				   )
				 SELECT @StdDivId,
						@SubjectId,
						1,
						@SchoolId,
						@AcademicYearId,
						0,
						@UpdatedById,
						dbo.GetLocalDate(DEFAULT),
						@UpdatedById,
						dbo.GetLocalDate(DEFAULT)
			END
			else
			begin 
				 UPDATE StudentObservationSummmaryRemarkSubmitStatus
					SET IsSubmitted = @IsSubmitted
					, UpdatedById = @UpdatedById
					, UpdateDate = dbo.GetLocalDate(default)
					where StdDivId = @StdDivId
					and SubjectId = @SubjectId
					and IsDeleted = 0
					and SchoolId = @SchoolId
					and AcademicYearId = @AcademicYearId
			end
	END
END