/****** Object:  StoredProcedure [dbo].[usp_GetSubjectTeachers]    Script Date: 28-02-2026 15:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================            
-- Author:              
-- Create date:       
-- Description: 
-- =============================================

ALTER PROCEDURE [dbo].[usp_GetSubjectTeachers] 
  @School_Id INT          
, @AcademicYear_ID INT          
, @TeacherId INT          
, @Test_Id INT
, @IsClassTeacher BIT
, @StdDivId INT
AS          
BEGIN          
 -- SET NOCOUNT ON added to prevent extra result sets from            
 SET NOCOUNT ON;          
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED  
 
-- IF(@IsClassTeacher = 0)
--	BEGIN
--		select VSD.ClassName as StandardDivision, TSA.Standard_Division_Id, VSD.Standard_Id, VSD.Division_Id, TSA.Subject_Id, SM.subject_Name, 0 AS IsPublished, 0 AS IsSubmitted,
--		VSD.Original_Standard_Id AS OrgStdId, vsd.Original_Division_Id AS OrgDivId
--		  from vw_Standard_Division VSD
--	INNER JOIN Teacher_Subject_Assignment TSA
--			ON VSD.Schoolwise_Standard_Division_Id = TSA.Standard_Division_Id
--	INNER JOIN Subject_Master SM
--			ON TSA.Subject_Id = SM.Subject_Id
--		--INNER JOIN SchoolWise_Standard_Division_Teacher_Assignment_Master SSD
--		--ON TSA.Teacher_Id = SSD.Teacher_Id
--		 WHERE VSD.School_Id = @School_Id
--		   and VSD.Academic_Year_Id = @AcademicYear_ID
--		 --and SSD.Is_Deleted = 'N'
--		   AND TSA.Is_Deleted = 'N'
--		   AND SM.Is_Deleted = 'N'
--		   AND TSA.Teacher_Id = @TeacherId
--	  ORDER BY VSD.Original_Standard_Id, 
--			   Original_Division_Id, 
--			   Original_subject_Id
--	END
--ELSE
--	BEGIN

DECLARE @IsClassTeacherOfClass BIT = 0

IF EXISTS
(
	SELECT TOP 1 1
	FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDTAM WITH(NOLOCK)
	INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
	ON SWSDTAM.Standard_Id = vwSD.Standard_Id
	AND SWSDTAM.Division_Id = vwSD.Division_Id
	WHERE Teacher_Id = @TeacherId
	AND SWSDTAM.School_Id = @School_Id
	AND SWSDTAM.Academic_Year_Id = @AcademicYear_ID
	AND Is_Deleted = 'N'
	AND Is_ClassTeacher = 'Y'
	and vwSD.SchoolWise_Standard_Division_Id = @StdDivId
)
BEGIN
	SET @IsClassTeacherOfClass = 1
END

DECLARE @tblSubjectDetails AS TABLE
(
	Id INT IDENTITY(1,1),	
	StandardDivision NVARCHAR(200),
	Standard_Division_Id INT,
	Standard_Id INT,
	Division_Id INT,
	Subject_Id INT,
	Subject_Name NVARCHAR(200),
	OrgStdId INT,
	OrgDivId INT,
	Sort_Order INT,
	IsSubjectTeacher BIT,
	IsCoCurricularSubject BIT
)

INSERT INTO @tblSubjectDetails
	 SELECT vwSD.className,
			vwSD.SchoolWise_Standard_Division_Id,
			vwSD.Standard_Id,
			vwSD.Division_Id,
	        SM.Subject_Id,
            SM.Subject_Name,
			vwSD.Original_Standard_Id,
			vwSD.Original_Division_Id,
			SSSM.Sort_Order,
			CASE WHEN SUB.Subject_Id IS NULL THEN 0 ELSE 1 END,
			SM.Is_CoCurricularActivity
	   FROM Schoolwise_Division_Subject_Master SWDSM
 INNER JOIN vw_standard_division vwSD
		 ON SWDSM.Standard_Division_Id = vwSD.SchoolWise_Standard_Division_Id
	    AND SWDSM.School_Id = vwSD.School_Id
	    AND SWDSM.academic_year_id = vwSD.academic_year_id
 INNER JOIN ObservationSkills OS
		 ON OS.StandardId = vwSD.Standard_Id
	    AND OS.SchoolId = vwSD.School_Id
	    AND OS.AcademicYearId = vwSD.academic_year_id
	    AND OS.SubjectId = SWDSM.Subject_Id
 INNER JOIN Subject_Master SM
		 ON SM.Subject_Id = OS.SubjectId
	    AND SM.School_Id = OS.SchoolId
	    AND SM.academic_Year_Id = OS.AcademicYearId
 INNER JOIN SchoolWise_Standard_Subject_Master SSSM
 ON vwSD.Standard_Id = SSSM.Standard_Id
 AND SM.Subject_Id = SSSM.Subject_Id
INNER JOIN
			(
				SELECT Subject_Id
				FROM Teacher_Subject_Assignment  TSA				
				WHERE School_Id = @School_Id
				AND Standard_Division_Id = @StdDivId
				AND Is_Deleted = 'N'
				AND (Teacher_Id = @TeacherId OR @IsClassTeacherOfClass = 1)
				group by Subject_Id
			)S
		ON SM.Subject_Id = S.Subject_Id	
LEFT OUTER JOIN
			(
				SELECT Subject_Id
				FROM Teacher_Subject_Assignment  TSA				
				WHERE School_Id = @School_Id
				AND Standard_Division_Id = @StdDivId
				AND Is_Deleted = 'N'
				AND (Teacher_Id = @TeacherId OR @IsClassTeacherOfClass = 1)
				group by Subject_Id
			)SUB
		ON SM.Subject_Id = SUB.Subject_Id	
	  WHERE SWDSM.academic_year_id = @AcademicYear_ID
	    AND SWDSM.School_Id = @School_Id
	    AND SWDSM.Is_Deleted = 'N'
	    AND Standard_Division_Id = @StdDivId
	    AND OS.IsDeleted = 0
	    AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
   GROUP BY vwSD.Original_Standard_Id,
			vwSD.Original_Division_Id,
			Sort_Order,
			vwSD.className,
			vwSD.SchoolWise_Standard_Division_Id,
			vwSD.Standard_Id,
			vwSD.Division_Id,
	        SM.Subject_Id,
            SM.Subject_Name,
			SUB.Subject_Id,
			SM.Is_CoCurricularActivity

		 SELECT StandardDivision,
				Standard_Division_Id,
				Standard_Id,
				Division_Id,
				Subject_Id,
				Subject_Name,
				ISNULL(OSS.IsSubmitted,0) AS IsSubmitted,
			    ISNULL(OPS.IsPublished,0) AS IsPublished,	
				OrgStdId,
				OrgDivId,
				Sort_Order,
				IsSubjectTeacher,
				IsCoCurricularSubject
		   FROM @tblSubjectDetails tbl
LEFT OUTER JOIN ObservationSubmissionStatus OSS WITH(NOLOCK)
			 ON OSS.SubjectId = tbl.Subject_Id			
			AND OSS.StdDivId = tbl.Standard_Division_Id
		    AND OSS.IsDeleted = 0
		    AND OSS.TestId = @Test_Id
			AND SchoolId = @School_Id
			AND AcademicYearId = @AcademicYear_ID
LEFT OUTER JOIN ObservationPublishStatus OPS
			 ON tbl.Standard_Division_Id = OPS.StdDivId
			AND OPS.TestId = @Test_Id
			AND OPS.SchoolId = @School_Id
			AND OPS.AcademicYearId = @AcademicYear_ID
			AND OPS.IsDeleted = 0
			order by OrgStdId, OrgDivId,Sort_Order	
	--	END
END