/****** Object:  StoredProcedure [dbo].[usp_GetFeeDetailsForVP]    Script Date: 30-07-2026 18:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 16 apr 2024
-- Description:	This USP is used to get fee details for VPMCPS.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFeeDetailsForVP]
@School_Id INT,
@Academic_Year_Id INT,
@Standard_Id NVARCHAR(500),
@Division_Id NVARCHAR(500),
@Student_Id INT,
@FromDate DATE = NULL,
@ToDate Date = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblStandardIds AS TABLE
	(
		StandardIds INT
	)

	IF @Standard_Id <> ''
	BEGIN
		INSERT INTO @tblStandardIds
		SELECT Ids
		FROM udf_GetTableFromList(@Standard_Id)
	END
	ELSE
	BEGIN
		INSERT INTO @tblStandardIds
		SELECT Standard_Id
		FROM Standard_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
	END

		DECLARE @tblDivisionIds AS TABLE
	(
		DivisionId INT
	)

	IF @Division_Id <> ''
	BEGIN
		INSERT INTO @tblDivisionIds
		SELECT Ids
		FROM udf_GetTableFromList(@Division_Id)
	END
	ELSE
	BEGIN
		INsert INTO @tblDivisionIds
		SELECT Division_Id
		FROM Division_Master
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		AND Is_Deleted = 'N'
	END	
		
    SELECT YearWise_Student_Id, Student_Id, Original_Standard_Id, Original_Division_Id, Roll_No, className, StudentName
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	INNER JOIN vw_BaseStudentDetails VBSD
	ON VBSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN @tblStandardIds tbls
	ON tbls.StandardIds = YSD.Standard_Id
	INNER JOIN @tblDivisionIds tbld
	ON tbld.DivisionId = VSD.Division_Id
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	--AND (YSD.Standard_Id = @Standard_Id OR @Standard_Id = 0)
	--AND (VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id OR @Schoolwise_Standard_Division_Id = 0)
	AND (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	AND YSD.Is_Deleted = 'N'
	AND VBSD.Is_Deleted = 'N'
	AND YSD.Is_RTE_Student = 0
	order by ysd.YearWise_Student_Id
   
	DECLARE @tblFeeDetials as table
	(
		ScStudentId INT,
		StudentId INT,
		PaidDate DATETIME,
		ReceiptNo NVARCHAR(20),
		FeeType NVARCHAR(50),
		Amount INT,
		TransactionNo NVARCHAR(50),
		PaymentMode NVARCHAR(20),
		ClearanceDate DATE
	)

	Insert into @tblFeeDetials	
	select YSD.Student_Id, SSFD.Student_Id, CONVERT(DATE,Paid_Date),Receipt_Number, Fee_Type, SUM(Amount), '','Cash',NULL
	from Schoolwise_Student_Fee_Details SSFD
	INNER JOIN YearWise_Student_Details YSD
	ON SSFD.Student_Id = YSD.YearWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	INNER JOIN @tblStandardIds tbls
	ON tbls.StandardIds = YSD.Standard_Id
	INNER JOIN @tblDivisionIds tbld
	ON tbld.DivisionId = VSD.Division_Id	
	where (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)
	--and (YSD.Standard_Id = @Standard_Id OR @Standard_Id = 0)
	--and (VSD.SchoolWise_Standard_Division_Id = @Schoolwise_Standard_Division_Id OR @Schoolwise_Standard_Division_Id = 0)
	and SSFD.Academic_Year_Id = @Academic_Year_Id
	and SSFD.School_Id = @School_Id
	and SSFD.Is_Deleted = 'N'
	and [Debit/Credit] = 'Credit'
	and Is_Cheque_Bounce = 'N'
	AND YSD.Is_RTE_Student = 0
	AND SSFD.Is_Concession_Fee = 'N'
	and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
	GROUP BY YSD.Student_Id, SSFD.Student_Id, CONVERT(DATE,Paid_Date), Receipt_Number, Fee_Type

	UPDATE TFD
	SET Amount = TFD.Amount - S.Amount
	FROM @tblFeeDetials TFD
	INNER JOIN
	(
		select SSFD.Student_Id, Receipt_Number, SSFD.Amount
		from Schoolwise_Student_Fee_Details SSFD
		INNER JOIN YearWise_Student_Details YSD
		ON SSFD.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		INNER JOIN @tblStandardIds tbls
		ON tbls.StandardIds = YSD.Standard_Id
		INNER JOIN @tblDivisionIds tbld
		ON tbld.DivisionId = VSD.Division_Id
		where (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)		
		and SSFD.Academic_Year_Id = @Academic_Year_Id
		and SSFD.School_Id = @School_Id
		and SSFD.Is_Deleted = 'N'
		and [Debit/Credit] = 'Credit'
		and Is_Cheque_Bounce = 'N'
		AND YSD.Is_RTE_Student = 0
		AND SSFD.Is_Concession_Fee = 'Y'
		and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
	)S
	ON TFD.StudentId = S.Student_Id
	AND TFD.ReceiptNo = S.Receipt_Number
	WHERE TFD.FeeType = 'Tuition Fees'

	UPDATE TFD
	SET Amount = TFD.Amount + S.Amount
	from @tblFeeDetials TFD
	inner join
	(
		select StudentId,ReceiptNo, Amount
		from @tblFeeDetials
		where Amount < 0
		AND FeeType = 'Tuition Fees'
	)S
	ON TFD.StudentId = S.StudentId
	AND TFD.ReceiptNo = S.ReceiptNo
	where FeeType = 'PTA Fee'

	UPDATE @tblFeeDetials
	SET Amount = 0
	WHERE Amount < 0
	AND FeeType = 'Tuition Fees'

	Insert into @tblFeeDetials
	select Schoolwise_Student_Id,YSD.YearWise_Student_Id,SCMD.Payment_Date,SCMD.Receipt_Number,'Refundable Deposit', 0,'','Cash',null
	from Student_Caution_Money_Details SCMD
	inner join YearWise_Student_Details YSD
	on SCMD.Schoolwise_Student_Id = YSD.Student_Id
	INNER JOIN @tblStandardIds tbls
	ON tbls.StandardIds = YSD.Standard_Id
	INNER JOIN @tblDivisionIds tbld
	ON tbld.DivisionId = YSD.Division_Id
	where SCMD.School_Id = @School_Id
	and YSD.Academic_Year_ID = @Academic_Year_Id
	and (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	and Paid_By_Student = 1
	and SCMD.Is_Deleted = 0
	and YSD.Is_Deleted = 'N'
	AND Schoolwise_Student_Id NOT IN
	(
		SELECT ScStudentId 
		FROM @tblFeeDetials
	)
	
	update @tblFeeDetials               ----Electronic
	set TransactionNo = TransactionNumber,
	PaymentMode = 'Electronic',
	ClearanceDate = SEP.ClearanceDate
	from StudentElectronicPayments SEP
	inner join Schoolwise_Student_Fee_Details SSFD
	on SEP.SchoolwiseStudentFeeId = SSFD.Schoolwise_Student_Fee_Id	
	inner join @tblFeeDetials tbl
	on tbl.ReceiptNo = SSFD.Receipt_Number
	and tbl.StudentId = SSFD.Student_Id
	where IsElectronicPayment = 1
	and School_Id = @School_Id
	and Academic_Year_Id = @Academic_Year_Id
	and (Student_Id = @Student_Id OR @Student_Id = 0)
	and SEP.IsDeleted = 0
	and SSFD.Is_Deleted = 'N'
	and SSFD.[Debit/Credit] = 'credit'
	and SEP.ClearanceDate between @FromDate and @ToDate
	
	update @tblFeeDetials               ----Cheque
	set TransactionNo = Cheque_Number,
	PaymentMode = 'Cheque',
	ClearanceDate = SSPDC.Cheque_Passed_Date
	from Schoolwise_Student_PostDatedCheques SSPDC
	inner join Schoolwise_Student_Fee_Details SSFD
	on SSPDC.Student_Id = SSFD.Student_Id
	INNER jOIN Student_Fee_PDC_Details SFPD
	ON SSPDC.PostDated_Cheque_Id = SFPD.PDC_Id
	AND SSFD.Schoolwise_Student_Fee_Id = SFPD.Schoolwise_Student_Fee_Id
	inner join @tblFeeDetials tbl
	on tbl.ReceiptNo = SSFD.Receipt_Number
	and tbl.StudentId = SSFD.Student_Id
	where SSPDC.Is_Cheque_Bounce = 'N'
	and SSPDC.School_Id = @School_Id
	and SSPDC.Academic_Year_Id = @Academic_Year_Id
	and (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)
	and SSPDC.Is_Deleted = 'N'
	and SSFD.Is_Deleted = 'N'
	AND SSFD.Is_Deleted = 'N'
	and SSFD.[Debit/Credit] = 'credit'
    and SSPDC.Cheque_Passed_Date between @FromDate and @ToDate
	
	update @tblFeeDetials               ----Card
	set TransactionNo = Swap_Number,
	PaymentMode = 'Card',
	ClearanceDate = SCPD.Passed_Date
	from StudentCardPaymentDetails SCPD
	inner join Schoolwise_Student_Fee_Details SSFD
	on SCPD.SchoolWise_Student_Fee_Id = SSFD.Schoolwise_Student_Fee_Id	
	inner join @tblFeeDetials tbl
	on tbl.ReceiptNo = SSFD.Receipt_Number
	and tbl.StudentId = SSFD.Student_Id
	where IsCardPayment = 1
	and SCPD.School_Id = @School_Id
	and SCPD.Academic_Year_Id = @Academic_Year_Id
	and (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)
	and SCPD.Is_Deleted = 0
	and SSFD.Is_Deleted = 'N'
	and SSFD.[Debit/Credit] = 'credit'
	and SCPD.Passed_Date between @FromDate and @ToDate

	update @tblFeeDetials               ----Netbanking
	set TransactionNo = TPSLTransactionID,
	PaymentMode = 'Netbanking',
	ClearanceDate = NBPT.ClearanceDate
	from NetBankingPaymentTransactions NBPT
	inner join Schoolwise_Student_Fee_Details SSFD
	on NBPT.NetBankingPaymentTransactionID = SSFD.NetBankingPaymentTransactionID
	inner join @tblFeeDetials tbl
	on tbl.ReceiptNo = SSFD.Receipt_Number
	and tbl.StudentId = SSFD.Student_Id
	where SSFD.School_Id = @School_Id
	and SSFD.Academic_Year_Id = @Academic_Year_Id
	and (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)
	and (NBPT.NetBankingPaymentTransactionID is not null AND NBPT.NetBankingPaymentTransactionID <> 0)
	and NBPT.Is_Deleted = 0
	and SSFD.Is_Deleted = 'N'
	and SSFD.[Debit/Credit] = 'credit'
	and NBPT.ClearanceDate  between @FromDate and @ToDate
	
	select StudentId,
		case when PaymentMode = 'Cash' then PaidDate else ClearanceDate end as PaidDate,
		ReceiptNo,
		FeeType,
		Amount,
		--SUM(Amount) AS Amount,
		TransactionNo,
		PaymentMode,
		ClearanceDate
	from @tblFeeDetials
	where (ClearanceDate is not null or (PaymentMode = 'Cash' and PaidDate between @FromDate and @ToDate))
	--group by StudentId,
	--	PaidDate,
	--	ReceiptNo,
	--	FeeType,		
	--	TransactionNo,
	--	PaymentMode,
	--	ClearanceDate

	DECLARE @tblCautionMoney AS TABLE
	(
		Schoolwise_Student_Id INT,
		Amount INT,
		Mode CHAR,
		IsCleared BIT
	)

	INSERT INTO @tblCautionMoney
	select Schoolwise_Student_Id, Amount,Payment_Mode,0
	from Student_Caution_Money_Details SCMD
	inner join YearWise_Student_Details YSD
	on SCMD.Schoolwise_Student_Id = YSD.Student_Id
	where SCMD.School_Id = @School_Id
	and YSD.Academic_Year_ID = @Academic_Year_Id
	and (YSD.YearWise_Student_Id = @Student_Id OR @Student_Id = 0)
	and Paid_By_Student = 1
	and SCMD.Is_Deleted = 0
	and YSD.Is_Deleted = 'N'

	UPDATE TCM
	SET IsCleared = 1
	FROM Student_Caution_Money_Cheque_Details SCMCD
	INNER JOIN Student_Caution_Money_Details SCMD
	ON SCMCD.Student_Caution_Money_Cheque_Id = SCMD.Payment_Cheque_Id
	INNER JOIN @tblCautionMoney TCM
	ON SCMD.Schoolwise_Student_Id = TCM.Schoolwise_Student_Id
	WHERE SCMCD.Is_Deleted = 0
	AND SCMD.Is_Deleted = 0
	AND SCMD.Paid_By_Student = 1
	AND SCMCD.ClearanceDate IS NOT NULL
	AND SCMD.Payment_Mode = 'Q'

	UPDATE TCM
	SET IsCleared = 1
	FROM StudentCautionMoneyElectronicPayments SCMEP
	INNER JOIN Student_Caution_Money_Details SCMD
	ON SCMEP.SchoolwiseStudentId = SCMD.Schoolwise_Student_Id
	INNER JOIN @tblCautionMoney TCM
	ON SCMD.Schoolwise_Student_Id = TCM.Schoolwise_Student_Id
	WHERE SCMEP.IsDeleted = 0
	AND SCMD.Is_Deleted = 0
	AND SCMEP.IsReturnRecord = 0
	AND SCMD.Paid_By_Student = 1
	AND SCMEP.ClearanceDate IS NOT NULL
	AND SCMD.Payment_Mode = 'E'

	UPDATE TCM
	SET IsCleared = 1
	FROM NetBankingPaymentTransactions NBPT
	INNER JOIN Student_Caution_Money_Details SCMD
	ON NBPT.NetBankingPaymentTransactionID = SCMD.NetBankingPaymentTransactionID
	INNER JOIN @tblCautionMoney TCM
	ON SCMD.Schoolwise_Student_Id = TCM.Schoolwise_Student_Id
	WHERE NBPT.Is_Deleted = 0
	AND SCMD.Is_Deleted = 0
	AND SCMD.Paid_By_Student = 1
	AND NBPT.ClearanceDate IS NOT NULL
	AND NBPT.TransactionStatus = 'Y'
	AND SCMD.Payment_Mode = 'N'
		
	SELECT Schoolwise_Student_Id,Amount
	FROM @tblCautionMoney
	WHERE Mode = 'C' OR IsCleared = 1
	
	select CASE S.FeeType WHEN 'Concession Fee' THEN 9999 
						  WHEN 'Late Fee' THEN 9998 
						  WHEN 'Caution Money Refundable Deposit' THEN 10000 
						  WHEN 'Excess Fee' THEN 9997 
						  WHEN 'Do Not Pay' THEN 9996
						  WHEN 'Do not pay fee' THEN 9995
						  WHEN 'fee' THEN 9994
						  WHEN 'Regular Fee' THEN 9993
						  ELSE Original_Fee_Type_Id END AS Original_Fee_Type_Id, S.FeeType AS Fee_Type
	from Schoolwise_Fee_Type_Configuration SFTC	
	RIGHT OUTER JOIN
	(
		select FeeType
		from @tblFeeDetials
		group by FeeType
	)S
	ON SFTC.Fee_Type = S.FeeType
	AND Academic_Year_Id = @Academic_Year_Id
	and School_Id = @School_Id
	and Is_Deleted = 'N'
	WHERE S.FeeType <> 'Refundable Deposit'
	ORDER BY Original_Fee_Type_Id
END