/****** Object:  StoredProcedure [dbo].[usp_ResetReceiptForm]    Script Date: 30-07-2026 17:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Author:		
-- Create date:
-- Description:	This USP will be used to 
-- =============================================
ALTER PROCEDURE [dbo].[usp_ResetReceiptForm]
	-- Add the parameters for the stored procedure here
	@SchoolId INT,
	@AcademicYearId INT, 
	@AccountHeaderId INT,
	@Date DATETIME = NULL,
	@OrderById INT,
	@IsInternalFee INT	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--BEGIN TRANSACTION
	--BEGIN TRY
	
	DECLARE @tblStudentDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		ReceiptNumber INT,
		StudentId INT,
		SerialNo INT,
		PaidDate DATETIME,
		AccountHeaderId INT
	)

	DECLARE @FinancialYearDate DATE

	SELECT @FinancialYearDate = StartDate
	  FROM Accounts.FinancialYearMaster
	 WHERE schoolid= @SchoolId
	   AND IsDeleted = 0
	   AND convert(date,StartDate)<= convert(date,@Date)
	   AND convert(date,@Date) <= convert(date,EndDate)

	  DECLARE @Id INT,
			  @ReceiptNumber INT,
			  @StudentId INT,
			  @PaidDate DATETIME,
			  @SerialNo INT,
			  @MaxReceipNo INT

IF(@IsInternalFee = 0)
	BEGIN
	IF @SchoolId = 122 -- SNS
	BEGIN
	   IF EXISTS(
					SELECT TOP 1 1
					      FROM Schoolwise_Student_Fee_Details
						 WHERE School_Id = @SchoolId
						   AND Academic_Year_Id = @AcademicYearId
						   AND [Debit/Credit] = 'Credit'
						   AND AccountHeaderId = @AccountHeaderId
						   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
						   AND Is_Deleted = 'N'
						   AND Is_Late_Fee = 'Y'
						   AND Is_Cheque_Bounce = 'N'
				)
			BEGIN
					UPDATE SWSFD
					   SET Receipt_Number = AA.Receipt_Number,
						   Update_Date = dbo.GetLocalDate(DEFAULT),
						   Serial_Number = AA.Serial_Number
					  FROM Schoolwise_Student_Fee_Details SWSFD
				INNER JOIN (
								SELECT SWSFD.Student_Id,
									   SWSFD.Receipt_Number,
									   CONVERT(DATE,SS.PaidDate) PaidDate,
									   Serial_Number
								  FROM Schoolwise_Student_Fee_Details SWSFD
							INNER JOIN (
												SELECT CONVERT(DATE,Paid_Date) AS PaidDate,
													   Student_Id
												  FROM Schoolwise_Student_Fee_Details
												 WHERE Is_Deleted = 'N'
												   AND Academic_Year_ID = @AcademicYearId
												   AND School_Id = @SchoolId
												   AND AccountHeaderId = @AccountHeaderId
												   AND Is_Late_Fee = 'Y'
												   AND Is_Cheque_Bounce = 'N'
												   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
												   AND [Debit/Credit] = 'Credit'				
										)SS
									ON SS.Student_Id = SWSFD.Student_Id
								   AND CONVERT(DATE,SS.PaidDate) = CONVERT(DATE,SWSFD.Paid_Date)
								 WHERE Is_Deleted = 'N'
								   AND Academic_Year_ID = @AcademicYearId
								   AND School_Id = @SchoolId
								   AND AccountHeaderId = @AccountHeaderId
								   AND Is_Late_Fee = 'N'
								   AND Is_Cheque_Bounce = 'N'
								   AND [Debit/Credit] = 'Credit'
								   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
							)AA
						 ON SWSFD.Student_Id = AA.Student_Id
						AND CONVERT(DATE,SWSFD.Paid_Date) = CONVERT(DATE,AA.PaidDate)
					  WHERE Is_Deleted = 'N'
						AND Academic_Year_ID = @AcademicYearId
						AND School_Id = @SchoolId
						AND AccountHeaderId = @AccountHeaderId
						AND Is_Late_Fee = 'Y'
						AND Is_Cheque_Bounce = 'N'
						AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
						AND [Debit/Credit] = 'Credit'
			END
	
		   INSERT INTO @tblStudentDetails
				SELECT CONVERT(INT,SSFD.Receipt_Number) AS ReceiptNo, 
					   SSFD.Student_Id,
					   Serial_Number,
					   CONVERT(DATE,Paid_Date) AS PaidDate,
					   AccountHeaderId
				  FROM Schoolwise_Student_Fee_Details SSFD
				  left outer join
				  (
						SELECT Student_Id, Receipt_Number
						FROM Schoolwise_Student_Fee_Details
						WHERE Is_Deleted = 'N'
						AND [Debit/Credit] = 'Credit'
						AND School_Id = @SchoolId
						--AND AccountHeaderId = @AccountHEaderId
						AND Is_Cheque_Bounce = 'N'
						AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
						AND Is_Concession_Fee = 'Y'						
				  )S
				  ON SSFD.Student_Id = S.Student_Id
				  AND SSFD.Receipt_Number = S.Receipt_Number
				 WHERE Is_Deleted = 'N'
				   AND Academic_Year_Id = @AcademicYearId
				   AND [Debit/Credit] = 'Credit'
				   AND School_Id = @SchoolId
				   AND AccountHeaderId = @AccountHEaderId
				   AND Is_Cheque_Bounce = 'N'
				   AND Is_Concession_Fee = 'N'
				   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
				   AND S.Student_Id IS NULL
				   --AND Receipt_Number NOT IN (
							--					SELECT Receipt_Number
							--					  FROM Schoolwise_Student_Fee_Details
							--					 WHERE Is_Deleted = 'N'
							--					   AND [Debit/Credit] = 'Credit'
							--					   AND School_Id = @SchoolId
							--					   AND AccountHeaderId = @AccountHEaderId
							--					   AND Is_Cheque_Bounce = 'N'
							--					   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@Date)
							--					   AND Is_Concession_Fee = 'Y'										   
							--				 )
			  GROUP BY CONVERT(DATE,Paid_Date),
					   SSFD.Student_Id,
					   SSFD.Receipt_Number, 			  
					   Serial_Number,
					   AccountHeaderId	   
			  ORDER BY CONVERT(DATE,Paid_Date),
				       Student_Id,
				       SSFD.Receipt_Number, 			  
				       Serial_Number,
				       AccountHeaderId		

					SELECT @MaxReceipNo = MAX(CONVERT(int,Receipt_Number))
					  FROM Schoolwise_Student_Fee_Details
					 WHERE Is_Deleted = 'N'
					   AND Academic_Year_Id = @AcademicYearId					    
					   AND [Debit/Credit] = 'Credit'
					   AND School_Id = @SchoolId
					   AND AccountHeaderId = @AccountHEaderId
					   AND Is_Cheque_Bounce = 'N'
					   AND Is_Concession_Fee = 'N'
					   AND CONVERT(DATE,Paid_Date) < CONVERT(DATE,@Date)
					   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@FinancialYearDate)

					--IF (@MaxReceipNo IS NULL AND @AccountHeaderId <> 10)
					--	SET @MaxReceipNo = 999
					--ELSE IF(@MaxReceipNo IS NULL AND @AccountHeaderId = 10)
					--	SET @MaxReceipNo = 0

					IF(@MaxReceipNo IS NULL)
						SET @MaxReceipNo = 1000

					--if((@AccountHeaderId = 4 OR @AccountHeaderId = 5) AND @MaxReceipNo = 4200)
					--	BEGIN						
					--		SELECT @MaxReceipNo = MAX(CONVERT(int,Receipt_Number))
					--		  FROM Schoolwise_Student_Fee_Details
					--		 WHERE Is_Deleted = 'N'
					--		   AND Academic_Year_Id = @AcademicYearId
					--		   AND [Debit/Credit] = 'Credit'
					--		   AND School_Id = @SchoolId
					--		   AND AccountHeaderId = @AccountHEaderId
					--		   AND Is_Cheque_Bounce = 'N'
					--		   AND Is_Concession_Fee = 'N'
					--		   AND CONVERT(INT,Receipt_Number) < 3000
					--		   AND CONVERT(DATE,Paid_Date) < CONVERT(DATE,@Date)
					--		   AND CONVERT(DATE,Paid_Date) >= CONVERT(DATE,@FinancialYearDate)
					--	END

				UPDATE SWSFD
				   SET Receipt_Number = dbo.udf_PadLeft((@MaxReceipNo + tbl.Id),4,'0')
				  FROM Schoolwise_Student_Fee_Details SWSFD
			INNER JOIN @tblStudentDetails tbl
					ON SWSFD.Student_Id = tbl.StudentId
				   AND SWSFD.Receipt_Number = tbl.ReceiptNumber	
				   AND CONVERT(DATE,SWSFD.Paid_Date) = CONVERT(DATE,tbl.PaidDate)
				   AND SWSFD.Serial_Number = tbl.SerialNo
				   AND SWSFD.AccountHeaderId = tbl.AccountHeaderId
				 WHERE School_Id = @SchoolId
				   AND Academic_Year_Id = @AcademicYearId
				   AND SWSFD.AccountHeaderId = @AccountHEaderId
				   AND Is_Deleted = 'N'			   
				   AND Is_Cheque_Bounce = 'N'
				   AND [Debit/Credit] = 'Credit'
			END
	ELSE IF @SchoolId = 166 -- VPMCPS
	BEGIN
			;WITH UniqueReceipts AS
			(
				SELECT
					SSFD.Student_Id,
					SSFD.Receipt_Number,
					SM.Is_PrePrimary,
					MIN(CONVERT(DATE, SSFD.Paid_Date)) AS Paid_Date
				FROM Schoolwise_Student_Fee_Details SSFD
				INNER JOIN YearWise_Student_Details YSD
					ON SSFD.Student_Id = YSD.YearWise_Student_Id
					AND YSD.Academic_Year_Id = @AcademicYearId
				INNER JOIN Standard_Master SM
					ON YSD.Standard_Id = SM.Standard_Id
				WHERE SSFD.School_Id = @SchoolId
				  AND SSFD.Academic_Year_Id = @AcademicYearId
				  AND SSFD.Is_Deleted = 'N'
				  AND SSFD.[Debit/Credit] = 'Credit'
				  AND SSFD.Is_Cheque_Bounce = 'N'
				  AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0)
				GROUP BY
					SSFD.Student_Id,
					SSFD.Receipt_Number,
					SM.Is_PrePrimary
			),
			NumberedReceipts AS
			(
				SELECT
					Student_Id,
					Receipt_Number,
					Is_PrePrimary,
					Paid_Date,
					ROW_NUMBER() OVER (
						PARTITION BY Is_PrePrimary
						ORDER BY Paid_Date, CONVERT(INT, Receipt_Number), Student_Id
					) AS SerialNo
				FROM UniqueReceipts
			)
			UPDATE SSFD
			SET Receipt_Number = CASE
									WHEN RCPT.Is_PrePrimary = 'Y' THEN 999
									ELSE 4999
								 END + RCPT.SerialNo
			FROM Schoolwise_Student_Fee_Details SSFD
			INNER JOIN NumberedReceipts RCPT
				ON SSFD.Student_Id = RCPT.Student_Id
				AND SSFD.Receipt_Number = RCPT.Receipt_Number
				AND CONVERT(DATE,SSFD.Paid_Date) = CONVERT(DATE,RCPT.Paid_Date)
			WHERE SSFD.School_Id = @SchoolId
			  AND SSFD.Academic_Year_Id = @AcademicYearId
			  AND SSFD.Is_Deleted = 'N'
			  AND SSFD.[Debit/Credit] = 'Credit'
			  AND SSFD.Is_Cheque_Bounce = 'N'
			  AND (SSFD.RefundFeeDetailsID IS NULL OR SSFD.RefundFeeDetailsID = 0);
			END
	END
ELSE IF(@IsInternalFee = 1)
	BEGIN	
	IF @SchoolId = 122 -- SNS
	BEGIN
			IF(@OrderById = 1)
				BEGIN
					INSERT INTO @tblStudentDetails
						(
							ReceiptNumber,
							StudentId,				
							PaidDate,
							AccountHeaderId
						)
					SELECT IFD.ReceiptNo,
						   IFD.Schoolwise_Student_Id,
						   IFD.PaidDate,
						   SWDEL.AccountHeaderId
					  FROM InternalFeeDetails IFD
				INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
						ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
					   AND IFD.SchoolId = SWDEL.School_Id
					   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
					 WHERE IFD.Is_Deleted = 0
					   AND SWDEL.Is_Deleted = 'N'
					   AND SWDEL.AccountHeaderId = @AccountHeaderId
					   AND IFD.SchoolId = @SchoolId
					   AND IFD.[Debit/Credit] = 'Credit'
					   AND IFD.AcademicYearId = @AcademicYearId
					   AND IFD.IsChequeBounced = 'N'
					   AND CONVERT(DATE,IFD.PaidDate) >= CONVERT(DATE,@Date)
				  GROUP BY IFD.ReceiptNo,
						   IFD.Schoolwise_Student_Id,
						   IFD.PaidDate,
						   SWDEL.AccountHeaderId
				  ORDER BY IFD.ReceiptNo,
						   IFD.Schoolwise_Student_Id,
						   SWDEL.AccountHeaderId
				END
			ELSE
				BEGIN
					INSERT INTO @tblStudentDetails
						(
							ReceiptNumber,
							StudentId,				
							PaidDate,
							AccountHeaderId
						)
					SELECT IFD.ReceiptNo,
						   IFD.Schoolwise_Student_Id,
						   IFD.PaidDate,
						   SWDEL.AccountHeaderId
					  FROM InternalFeeDetails IFD
				INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
						ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
					   AND IFD.SchoolId = SWDEL.School_Id
					   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
					 WHERE IFD.Is_Deleted = 0
					   AND SWDEL.Is_Deleted = 'N'
					   AND SWDEL.AccountHeaderId = @AccountHeaderId
					   AND IFD.SchoolId = @SchoolId
					   AND IFD.[Debit/Credit] = 'Credit'
					   AND IFD.AcademicYearId = @AcademicYearId
					   AND IFD.IsChequeBounced = 'N'
					   AND CONVERT(DATE,IFD.PaidDate) >= CONVERT(DATE,@Date)
				  GROUP BY IFD.ReceiptNo,
						   IFD.Schoolwise_Student_Id,
						   IFD.PaidDate,
						   SWDEL.AccountHeaderId
				  ORDER BY CONVERT(DATE,IFD.PaidDate),
						   IFD.Schoolwise_Student_Id,
						   SWDEL.AccountHeaderId
				END

			SELECT @MaxReceipNo = MAX(CONVERT(int,ReceiptNo))
			  FROM InternalFeeDetails IFD
		INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
				ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
			   AND IFD.SchoolId = SWDEL.School_Id
			   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
			 WHERE IFD.SchoolId = @SchoolId
			   AND IFD.AcademicYearId = @AcademicYearId
			   AND IFD.[Debit/Credit] = 'Credit'
			   AND SWDEL.AccountHeaderId = @AccountHeaderId 
			   AND IFD.IsChequeBounced = 'N'
			   AND CONVERT(DATE,IFD.PaidDate) < CONVERT(DATE,@Date)
			   AND CONVERT(DATE,IFD.PaidDate) >= CONVERT(DATE,@FinancialYearDate)

	IF @MaxReceipNo IS NULL
		SET @MaxReceipNo = 0

			UPDATE IFD
			   SET IFD.ReceiptNo = (@MaxReceipNo + tblStudent.Id),
				   IFD.UpdateDate = dbo.GetLocalDate(DEFAULT)
			  FROM InternalFeeDetails IFD
		INNER JOIN @tblStudentDetails tblStudent
				ON IFD.Schoolwise_Student_Id = tblStudent.StudentId
			   AND IFD.ReceiptNo = tblStudent.ReceiptNumber
		INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
				ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
			   AND IFD.SchoolId = SWDEL.School_Id
			   AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
			   AND SWDEL.AccountHeaderId = tblStudent.AccountHeaderId
			 WHERE IFD.SchoolId = @SchoolId
			   AND IFD.AcademicYearId = @AcademicYearId
			   AND IFD.[Debit/Credit] = 'Credit'
			   AND IFD.IsChequeBounced = 'N'
			   AND IFD.Is_Deleted = 0
			   AND SWDEL.AccountHeaderId = @AccountHeaderId   
	END
	ELSE IF @SchoolId = 166 -- VPMCPS
	BEGIN
			;WITH UniqueReceipts AS
			(
				SELECT
					IFD.Schoolwise_Student_Id,
					IFD.ReceiptNo,
					SM.Is_PrePrimary,
					MIN(CONVERT(DATE, IFD.PaidDate)) AS Paid_Date,
					IFD.AcademicYearId
				FROM InternalFeeDetails IFD
				INNER JOIN YearWise_Student_Details YSD
					ON IFD.Schoolwise_Student_Id = YSD.Student_Id
					and ifd.AcademicYearId = ysd.Academic_Year_ID
					AND YSD.Academic_Year_Id = @AcademicYearId
				INNER JOIN Standard_Master SM
					ON YSD.Standard_Id = SM.Standard_Id
				WHERE IFD.SchoolId = @SchoolId
				  AND IFD.AcademicYearId = @AcademicYearId
				  AND IFD.Is_Deleted = 'N'
				  AND IFD.[Debit/Credit] = 'Credit'
				  AND IFD.IsChequeBounced = 'N'				  
				GROUP BY
					IFD.Schoolwise_Student_Id,
					IFD.ReceiptNo,
					SM.Is_PrePrimary,
					IFD.AcademicYearId
			),
			NumberedReceipts AS
			(
				SELECT
					Schoolwise_Student_Id,
					ReceiptNo,
					Is_PrePrimary,
					Paid_Date,
					AcademicYearId,
					ROW_NUMBER() OVER (
						PARTITION BY Is_PrePrimary
						ORDER BY Paid_Date, CONVERT(INT, ReceiptNo), Schoolwise_Student_Id
					) AS SerialNo
				FROM UniqueReceipts
			)
			UPDATE IFD
			SET ReceiptNo = CASE
									WHEN RCPT.Is_PrePrimary = 'Y' THEN 999
									ELSE 4999
								 END + RCPT.SerialNo
			FROM InternalFeeDetails IFD
			INNER JOIN NumberedReceipts RCPT
				ON IFD.Schoolwise_Student_Id = RCPT.Schoolwise_Student_Id
				AND IFD.ReceiptNo = RCPT.ReceiptNo
				AND CONVERT(DATE,ifd.PaidDate) = CONVERT(DATE,RCPT.Paid_Date)
				and ifd.AcademicYearId = RCPT.AcademicYearId
			WHERE IFD.SchoolId = @SchoolId
			  AND IFD.AcademicYearId = @AcademicYearId
			  AND IFD.Is_Deleted = 'N'
			  AND IFD.[Debit/Credit] = 'Credit'
			  AND IFD.IsChequeBounced = 'N'
	END
	END
ELSE
	BEGIN
		DECLARE @tblExternalStudentFeeDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			ReceiptNumber INT,
			ExternalStudentFeeId INT,				
			PaidDate DATETIME,
			AccountHeaderId INT
		)

		IF(@OrderById = 1)
			BEGIN		
				INSERT INTO @tblExternalStudentFeeDetails
					 SELECT ESFPD.ReceiptNumber,
							ESFPD.Id,
							ESFPD.PaymentDate,
							EFD.AccountHeaderId
					   FROM ExternalStudentsFeePaymentDetails ESFPD
				 INNER JOIN ExternalFeeDetails EFD
						 ON ESFPD.FeeTypeId = EFD.ID
						AND ESFPD.SchoolId = EFD.SchoolID
						AND ESFPD.AcademicYearId = EFD.AcademicYearId
					  WHERE ESFPD.SchoolId = @SchoolId
						AND ESFPD.AcademicYearId = @AcademicYearId
						AND ESFPD.IsDeleted = 0
						AND EFD.AccountHeaderId = @AccountHeaderId
						AND CONVERT(DATE,ESFPD.PaymentDate) >= CONVERT(DATE,@Date)
				   ORDER BY ESFPD.ReceiptNumber
			END
		ELSE
			BEGIN
				INSERT INTO @tblExternalStudentFeeDetails
					 SELECT ESFPD.ReceiptNumber,
							ESFPD.Id,
							ESFPD.PaymentDate,
							EFD.AccountHeaderId
					   FROM ExternalStudentsFeePaymentDetails ESFPD
				 INNER JOIN ExternalFeeDetails EFD
						 ON ESFPD.FeeTypeId = EFD.ID
						AND ESFPD.SchoolId = EFD.SchoolID
						AND ESFPD.AcademicYearId = EFD.AcademicYearId
					  WHERE ESFPD.SchoolId = @SchoolId
						AND ESFPD.AcademicYearId = @AcademicYearId
						AND ESFPD.IsDeleted = 0
						AND EFD.AccountHeaderId = @AccountHeaderId
						AND CONVERT(DATE,ESFPD.PaymentDate) >= CONVERT(DATE,@Date)
				   ORDER BY CONVERT(DATE,ESFPD.PaymentDate)
			END

			SELECT @MaxReceipNo = MAX(ESFPD.ReceiptNumber)
			  FROM ExternalStudentsFeePaymentDetails ESFPD
		INNER JOIN ExternalFeeDetails EFD
			    ON ESFPD.FeeTypeId = EFD.ID
			   AND ESFPD.SchoolId = EFD.SchoolID
			   AND ESFPD.AcademicYearId = EFD.AcademicYearId
			 WHERE ESFPD.SchoolId = @SchoolId
			   AND ESFPD.AcademicYearId = @AcademicYearId
			   AND ESFPD.IsDeleted = 0
			   AND EFD.AccountHeaderId = @AccountHeaderId
			   AND CONVERT(DATE,ESFPD.PaymentDate) < CONVERT(DATE,@Date)
			   AND CONVERT(DATE,ESFPD.PaymentDate) >= CONVERT(DATE,@FinancialYearDate)

		IF @MaxReceipNo IS NULL
			SET @MaxReceipNo = 0

			UPDATE ESFPD
			   SET ReceiptNumber = (@MaxReceipNo + tblFeeDetails.Id)
			  FROM ExternalStudentsFeePaymentDetails ESFPD
		INNER JOIN ExternalFeeDetails EFD
				ON ESFPD.FeeTypeId = EFD.ID
			   AND ESFPD.SchoolId = EFD.SchoolID
			   AND ESFPD.AcademicYearId = EFD.AcademicYearId
		INNER JOIN @tblExternalStudentFeeDetails tblFeeDetails
				ON tblFeeDetails.ExternalStudentFeeId = ESFPD.Id
			   AND ESFPD.ReceiptNumber = tblFeeDetails.ReceiptNumber
			   AND EFD.AccountHeaderId = tblFeeDetails.AccountHeaderId
			 WHERE ESFPD.SchoolId = @SchoolId
			   AND ESFPD.AcademicYearId = @AcademicYearId
			   AND ESFPD.IsDeleted = 0
			   AND EFD.Is_Deleted = 0
			   AND EFD.AccountHeaderId = @AccountHeaderId

	END
--raiserror('Test Error',16,1)

 -- COMMIT TRANSACTION
 -- END TRY
 -- BEGIN CATCH
	--PRINT ERROR_MESSAGE()
	--ROLLBACK TRANSACTION
 -- END CATCH

END