/****** Object:  StoredProcedure [dbo].[usp_InsertFeeDetailsForStudent]    Script Date: 27-06-2026 18:00:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================================================
-- Author		: Anu
-- Create date	: 23 Sep 2008
-- Description	: This stored procedure is used to insert default fee records for one student.
--				  This includes fees added in configuration and internal fees.
-- -----------------------------------------
--	MODIFICATION LOG
--	##	Date		Author		Description
-- -----------------------------------------
--	01	25-Dec-12	Vishal		Updated logic as per new fee implementation (removed feetype
--								interval hardcoding, i.e. 12 entries for monthly, 4 enties for
--								quarterly etc.) - 31-Dec-2012 release.
-- ================================================================================================
ALTER PROCEDURE [dbo].[usp_InsertFeeDetailsForStudent]
	@SchoolId INT,
	@AcademicYrId INT,
	@StudentId INT,		-- 6112
	@IsNewStudent BIT,	-- Y
	@Rule_Id INT = NULL, -- 0
	@ExcludeStudentPayables INT = 0,
	@UpdatedById INT = 0,
	@ChallanNo INT = 0,
	@AdmissionAcademicYearId INT  = 0
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
BEGIN TRANSACTION
	BEGIN TRY
	--BEGIN TRY
	DECLARE @Fee_Type NVARCHAR(20),
			@Std_Fee_Type_Id INT,
			@Total_Fees INT,
			@Day INT,
			@Interval NVARCHAR(1),
			@Due_Date1 DATETIME,
			@Due_Date2 DATETIME,
			@Due_Date3 DATETIME,
			@Due_Date4 DATETIME,
			@AcademicYrStartDate DATETIME,
			@AcademicYrEndDate DATETIME,
			@JoininigDate DATETIME,
			@iJoiningMonth INT,
			@JoiningYear NVARCHAR(4)

	--Declare temp. table for fee details.
	DECLARE @tab_Fee AS TABLE
	(	
		PayableFor NVARCHAR(200),
		Std_FeeType_Id INT,
		FeeType NVARCHAR(50),
		Amount INT,
		PaidDate DATETIME,
		IntervalStartDate SMALLDATETIME,
		IntervalEndDate SMALLDATETIME
	)

	--declare temp. table for debit entry details.
	DECLARE @tab_Debit AS TABLE
	(
		PayableFor NVARCHAR(200),
		FeeType NVARCHAR(50),
		Amount INT,
		PaidDate DATETIME ,
		Serial_Number INT,
		Remarks NVARCHAR(1000),
		IsInternalFee BIT,
		Schoolwise_Debit__Entry_Id INT,
		ConsiderForOnlinePayment BIT
	)

	DECLARE @iStandardId INT,
			@DivisionId INT,
			@iStudentCnt INT,
			@AcademicYearStartDate DATE,
			@AcademicYearEndDate DATE,
			@SchoolwiseStudentId INT
			
	SELECT @AcademicYearStartDate = Start_date, 
		   @AcademicYearEndDate = End_Date
	  FROM Schoolwise_Academic_Year_Master
	 WHERE School_Id = @SchoolId
	   AND Academic_YEar_Id = @AcademicYrId
	   AND Is_Deleted = 'N'			
	
   DECLARE @IsRTEStudent BIT = 0

   SELECT @IsRTEStudent = Is_RTE_Student   
     FROM YearWise_Student_Details  
    WHERE YearWise_Student_Id = @StudentId  
      AND School_Id = @SchoolId  
      AND Academic_Year_ID = @AcademicYrId  
      AND Is_Deleted = N'N' 

	  if(@SchoolId = 122 AND @ChallanNo = 0) -- SNS school Only
		BEGIN
			  SELECT @ChallanNo = StudentChallanNo
				FROM SchoolWise_Student_Master SWSM
		  INNER JOIN YearWise_Student_Details YWSD
				  ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
				 AND SWSM.School_Id = YWSD.School_Id
			   WHERE SWSM.School_Id = @SchoolId
			     AND SWSM.Is_Deleted = 'N'
				 AND YWSD.School_Id = @SchoolId
				 AND YWSD.Academic_Year_ID = @AcademicYrId
				 AND YWSD.YearWise_Student_Id = @StudentId
		END
	--
	--SELECT   @StudentId= YearWise_Student_Id
	--FROM         YearWise_Student_Details
	--WHERE     (Student_Id = @StudentId) AND (Is_Deleted = 'N')

	--Get standard_Id, division_Id from given student_id.

	SELECT @iStandardId = YSD.Standard_Id
		  ,@DivisionId = YSD.Division_id
	  FROM dbo.YearWise_Student_Details YSD
	 WHERE YSD.YearWise_Student_Id = @StudentId
	   AND YSD.Is_Deleted = N'N'

	--Get student count of given student's class.
--	SELECT @iStudentCnt = COUNT(vSC.YearWise_Student_Id)
--	  FROM dbo.vw_GetStudentCount vSC
--	 WHERE vSC.Standard_Id = @iStandardId
--	   AND vSC.Division_Id = @DivisionId

DECLARE @AdmissionSectionId INT

	--Get joining date of given student.
	SELECT @JoininigDate = SSM.Joining_Date,
	       @AdmissionSectionId = ISNULL(SSM.AdmissionSectionId,0)
	  FROM dbo.YearWise_Student_Details YSD
INNER JOIN dbo.SchoolWise_Student_Master SSM
		ON YSD.Student_Id = SSM.SchoolWise_Student_Id
	   AND YSD.School_Id = SSM.School_Id
	 WHERE YSD.YearWise_Student_Id = @StudentId
	   AND YSD.Is_Deleted = N'N'

	--Get joining month and year from joining date.
	SET @iJoiningMonth = MONTH(@JoininigDate)
	SET @JoiningYear = DATENAME(YEAR, @JoininigDate)

	BEGIN TRANSACTION
/*
		--Declare cursor for fee type applicable for given student.
		DECLARE	Fee_cur CURSOR LOCAL FAST_FORWARD FOR
		SELECT SFTC.Fee_Type
			  ,SSFM.SchoolWise_Standard_FeeType_Id
			  ,[dbo].[UDF_GetTotalAmtForDefaultDebitEntry](SSFM.SchoolWise_Standard_FeeType_Id, @IsNewStudent, @Rule_Id) as TotalAmount
			  ,SSLDM.Day
			  ,SSLDM.Interval
			  ,SSLDM.Due_Date1
			  ,SSLDM.Due_Date2
			  ,SSLDM.Due_Date3
			  ,SSLDM.Due_Date4
			  ,SAYM.Start_date
			  ,SAYM.End_Date
		  FROM dbo.SchoolWise_Standard_LateFee_DueDates_Master SSLDM
	LEFT OUTER JOIN dbo.Standard_Master SM
		 INNER JOIN dbo.Schoolwise_Standard_Fee_Configuration_Master SSFCM
			ON SM.Standard_Id = SSFCM.Standard_Id
		   AND SM.School_Id = SSFCM.School_Id
		   AND SM.academic_Year_Id = SSFCM.academic_Year_Id
	INNER JOIN dbo.SchoolWise_Academic_Year_Master SAYM
			ON SM.academic_Year_Id = SAYM.Academic_Year_ID
	INNER JOIN dbo.Schoolwise_Standard_FeeType_Master SSFM
		 INNER JOIN dbo.Schoolwise_Fee_Type_Configuration SFTC
			ON SSFM.School_Id = SFTC.School_Id
		   AND SSFM.Fee_Type_Id = SFTC.Fee_Type_Id
		   AND SSFM.academic_Year_Id = SFTC.Academic_Year_Id
		    ON SAYM.School_Id = SFTC.School_Id
		   AND SSFCM.Fee_Type_Id = SSFM.Fee_Type_Id
		   AND SSFCM.Standard_Id = SSFM.Standard_Id
		   AND SSFCM.School_Id = SSFM.School_Id
		   AND SSFCM.academic_Year_Id = SSFM.academic_Year_Id
		    ON SSLDM.Standard_Id = SSFM.Standard_Id
		   AND SSLDM.Fee_Type_Id = SSFM.Fee_Type_Id
		   AND SSLDM.School_Id = SSFM.School_Id
		   AND SSLDM.Academic_Year_Id = SSFM.academic_Year_Id
		 WHERE SFTC.Is_Deleted = N'N'
		   AND SSFM.Is_Deleted = 'N'
		   AND SSFCM.Is_Deleted = 'N'
		   AND SSLDM.Is_Deleted = 'N'
		   AND SM.Is_Deleted = 'N'
		   AND SM.Standard_Id = @iStandardId
		   AND SAYM.Is_Deleted = 'N'
*/
			 
		IF(@SchoolID = 61)
		   INSERT INTO @tab_Fee
				SELECT SSLDD.IntervalName,
					   SFTM.SchoolWise_Standard_FeeType_Id,
					   SFTC.Fee_Type,
					   [dbo].[udf_GetTotalAmtForDefaultDebitEntry](SFTM.SchoolWise_Standard_FeeType_Id, @IsNewStudent, @Rule_Id),
					   SSLDD.DueDate,
					   SSLDD.StartDate,
					   SSLDD.EndDate
				  FROM dbo.Schoolwise_Fee_Type_Configuration SFTC
			INNER JOIN dbo.Schoolwise_Standard_FeeType_Master SFTM
					ON SFTC.Fee_Type_Id = sftm.Fee_Type_Id
				   AND SFTC.School_Id = sftm.School_Id
				   AND SFTC.Academic_Year_Id = sftm.academic_Year_Id
			INNER JOIN dbo.Standardwise_Academic_Year SAY
					ON SFTM.School_Id = SAY.School_Id
				   AND SFTM.academic_Year_Id = SAY.Academic_Year_Id
				   AND SFTM.Standard_Id = SAY.StandardId
			INNER JOIN dbo.SchoolWise_Standard_LateFee_DueDates_Master SSLDM
					ON SFTM.SchoolWise_Standard_FeeType_Id = ssldm.SchoolWise_Standard_FeeType_Id
				   AND SFTM.School_Id = SSLDM.School_Id
				   AND SFTM.Academic_Year_Id = SSLDM.academic_Year_Id
			INNER JOIN dbo.SchoolWise_Standard_LateFee_DueDates_Details SSLDD
					ON SSLDM.SchoolWise_Standard_LateFee_DueDates_Id = SSLDD.SchoolWise_Standard_LateFee_DueDates_Id
				 WHERE SFTC.School_Id = @SchoolId
				   AND SFTC.Academic_Year_Id = @AcademicYrId
				   AND SFTC.Is_Deleted = N'N'
				   AND SFTM.Standard_Id = @iStandardId
				   AND SFTM.Is_Deleted = N'N'
				   AND SAY.Is_Deleted = 0
				   AND SSLDM.Is_Deleted = N'N'
				   AND SSLDD.IsDeleted = 0
				   ELSE
				   BEGIN
			 INSERT INTO @tab_Fee
				  SELECT SSLDD.IntervalName,
					   SFTM.SchoolWise_Standard_FeeType_Id,
					   SFTC.Fee_Type,
					   [dbo].[udf_GetTotalAmtForDefaultDebitEntry](SFTM.SchoolWise_Standard_FeeType_Id, @IsNewStudent, @Rule_Id),
					   SSLDD.DueDate,
					   SSLDD.StartDate,
					   SSLDD.EndDate
				  FROM dbo.Schoolwise_Fee_Type_Configuration SFTC
			INNER JOIN dbo.Schoolwise_Standard_FeeType_Master SFTM
					ON SFTC.Fee_Type_Id = sftm.Fee_Type_Id
				   AND SFTC.School_Id = sftm.School_Id
				   AND SFTC.Academic_Year_Id = sftm.academic_Year_Id
			INNER JOIN dbo.Standardwise_Academic_Year SAY
					ON SFTM.School_Id = SAY.School_Id
				   AND SFTM.academic_Year_Id = SAY.Academic_Year_Id
				   AND SFTM.Standard_Id = SAY.StandardId
			INNER JOIN dbo.SchoolWise_Standard_LateFee_DueDates_Master SSLDM
					ON SFTM.SchoolWise_Standard_FeeType_Id = ssldm.SchoolWise_Standard_FeeType_Id
				   AND SFTM.School_Id = SSLDM.School_Id
				   AND SFTM.Academic_Year_Id = SSLDM.academic_Year_Id
			INNER JOIN dbo.SchoolWise_Standard_LateFee_DueDates_Details SSLDD
					ON SSLDM.SchoolWise_Standard_LateFee_DueDates_Id = SSLDD.SchoolWise_Standard_LateFee_DueDates_Id
				 WHERE SFTC.School_Id = @SchoolId
				   AND SFTC.Academic_Year_Id = @AcademicYrId
				   AND SFTC.Is_Deleted = N'N'
				   AND SFTM.Standard_Id = @iStandardId
				   AND SFTM.Is_Deleted = N'N'
				   AND SAY.Is_Deleted = 0
				   AND SSLDM.Is_Deleted = N'N'
				   AND SSLDD.IsDeleted = 0
				   AND (SSLDD.EndDate >= @JoininigDate OR @IsRTEStudent = 1 OR @SchoolId = 165) -- Add all instalments for Pioneer school
				   END

		IF(@SchoolId = 127 OR @SchoolId = 132 OR @SchoolId= 110 OR @SchoolId = 133 OR @SchoolId = 138)
			BEGIN			
				DECLARE @EnrolmentNo NVARCHAR(20),
				        @OriginalStdId INT,
						@OriginaldivId INT

				 SELECT @EnrolmentNo = SWSM.Enrolment_Number,
				        @OriginalStdId = vwSD.Original_Standard_Id,
						@OriginaldivId = vwSD.Original_Division_Id
				   FROM SchoolWise_Student_Master SWSM
			 INNER JOIN YearWise_Student_Details YWSD
					 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
					AND SWSM.School_Id = YWSD.School_Id
			 INNER JOIN vw_standard_division vwSD
					 ON vwSD.School_Id = YWSD.School_Id
					AND vwSD.academic_year_id = YWSD.Academic_Year_ID
					AND vwSD.Standard_Id = YWSD.Standard_Id
					AND vwSD.Division_Id = YWSD.Division_id
				  WHERE SWSM.Is_Deleted = 'N'
				    AND SWSM.School_Id = @SchoolId
					AND YWSD.School_Id = @SchoolId
					AND YWSD.Academic_Year_ID = @AcademicYrId
					AND YWSD.Is_Deleted = 'N'
					AND YWSD.YearWise_Student_Id = @StudentId	

					IF @AdmissionAcademicYearId = 0
						SET @AdmissionAcademicYearId = @AcademicYrId
			
					IF EXISTS(
					          SELECT TOP 1 1
					            FROM DivisionwiseStudentFeeDetails
							   WHERE OriginalStandardId = @OriginalStdId
							     AND OriginalDivisionId = @OriginaldivId
								 AND AcademicYearId = @AdmissionAcademicYearId
								 AND IsDeleted = 0
							 )
							BEGIN							
								IF @IsNewStudent = 1
								BEGIN	
										UPDATE tblFee 
										   SET Amount = DWSFD.NewAmount
										  FROM @tab_Fee tblFee
									INNER JOIN DivisionwiseStudentFeeDetails DWSFD
											ON tblFee.FeeType = DWSFD.FeeType
										   AND tblFee.PayableFor = DWSFD.PayableFor
										 WHERE OriginalDivisionId = @OriginaldivId 
										   AND OriginalStandardId = @OriginalStdId 
										   AND AcademicYearId = @AdmissionAcademicYearId
										   AND IsDeleted = 0							
								END
								ELSE
								BEGIN
										UPDATE tblFee 
										   SET Amount = DWSFD.OldAmount
										  FROM @tab_Fee tblFee
									INNER JOIN DivisionwiseStudentFeeDetails DWSFD
											ON tblFee.FeeType = DWSFD.FeeType
										   AND tblFee.PayableFor = DWSFD.PayableFor
										 WHERE OriginalDivisionId = @OriginaldivId 
										   AND OriginalStandardId = @OriginalStdId 
										   AND AcademicYearId = @AdmissionAcademicYearId
										   AND IsDeleted = 0	
								END
							END		

					IF EXISTS(
								SELECT TOP 1 1
								  FROM StandardwiseStudentFeeDetails
								 WHERE IsDeleted = 0
								   AND SchoolId = @SchoolId
								   AND AcademicYearId = @AdmissionAcademicYearId
								   AND StandardId = @iStandardId
							 )
						 BEGIN		

							IF @IsNewStudent = 1
								BEGIN	
									    UPDATE tblFee 
										   SET Amount = SWSFD.NewAmount
										  FROM @tab_Fee tblFee
									INNER JOIN StandardwiseStudentFeeDetails SWSFD
											ON tblFee.FeeType = SWSFD.FeeType
										   AND tblFee.PayableFor = SWSFD.PayableFor
										 WHERE StandardId = @iStandardId
										   AND AcademicYearId = @AdmissionAcademicYearId
										   AND IsDeleted = 0
										   AND SchoolId = @SchoolId
										   AND AdmissionSectionId = @AdmissionSectionId
								END
							ELSE
								BEGIN
									    UPDATE tblFee 
										   SET Amount = SWSFD.OldAmount
										  FROM @tab_Fee tblFee
									INNER JOIN StandardwiseStudentFeeDetails SWSFD
											ON tblFee.FeeType = SWSFD.FeeType
										   AND tblFee.PayableFor = SWSFD.PayableFor
										 WHERE StandardId = @iStandardId
										   AND AcademicYearId = @AdmissionAcademicYearId
										   AND IsDeleted = 0
										   AND SchoolId = @SchoolId
										   AND AdmissionSectionId = @AdmissionSectionId
								END
						 END
		
					IF @SchoolId = 132 -- SPS
					BEGIN
						DELETE FROM @tab_Fee
						WHERE FeeType NOT IN
						(
							SELECT FeeType
							FROM DivisionwiseStudentFeeDetails
							WHERE OriginalDivisionId = @OriginaldivId 
							AND OriginalStandardId = @OriginalStdId 
							AND AcademicYearId = @AdmissionAcademicYearId
							AND IsDeleted = 0
							AND SchoolId = @SchoolId
						)
					END	
					
					IF(@SchoolId = 133 OR @SchoolId = 138)
						BEGIN
							DELETE FROM @tab_Fee
							WHERE FeeType NOT IN 
							(
								SELECT FeeType
								  FROM StandardwiseStudentFeeDetails
								 WHERE StandardId = @iStandardId
								   AND AcademicYearId = @AdmissionAcademicYearId
								   AND IsDeleted = 0
								   AND SchoolId = @SchoolId 
								   AND AdmissionSectionId = @AdmissionSectionId
							)
						END		
			END	
/*
		-- Open Fee Cursor
		OPEN Fee_cur
		FETCH NEXT FROM Fee_cur
		INTO @Fee_Type ,@Std_Fee_Type_Id ,@Total_Fees ,@Day ,@Interval ,@Due_Date1 ,@Due_Date2,@Due_Date3,@Due_Date4,@AcademicYrStartDate,@AcademicYrEndDate

		WHILE @@FETCH_STATUS = 0
		BEGIN
			--if feetype is monthly then take 12 month number and create due date according to month number
			--and details into fee details temp. table.
			IF @Fee_Type = 'Monthly'
			BEGIN
				IF @SchoolId = 18 AND @AcademicYrId = 42
					BEGIN
						IF @iJoiningMonth >= 6  AND  @iJoiningMonth < 9
						BEGIN
							INSERT INTO @tab_Fee VALUES
							('June' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-06-10')
							INSERT INTO @tab_Fee VALUES
							('July' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-06-10')
							INSERT INTO @tab_Fee VALUES
							('August' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-06-10')

							INSERT INTO @tab_Fee VALUES
							('September' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')
							INSERT INTO @tab_Fee VALUES
							('October' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')
							INSERT INTO @tab_Fee VALUES
							('November' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')

							INSERT INTO @tab_Fee VALUES
							('December' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('January' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('February' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')

							INSERT INTO @tab_Fee VALUES
							('March' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('April' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('May' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
						END
						ELSE IF @iJoiningMonth >= 9  AND  @iJoiningMonth < 12
						BEGIN
							INSERT INTO @tab_Fee VALUES
							('September' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')
							INSERT INTO @tab_Fee VALUES
							('October' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')
							INSERT INTO @tab_Fee VALUES
							('November' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-09-10')

							INSERT INTO @tab_Fee VALUES
							('December' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('January' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('February' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')

							INSERT INTO @tab_Fee VALUES
							('March' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('April' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('May' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
						END
						ELSE IF @iJoiningMonth = 12  OR  @iJoiningMonth < 3
						BEGIN
							INSERT INTO @tab_Fee VALUES
							('December' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('January' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')
							INSERT INTO @tab_Fee VALUES
							('February' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2009-12-10')

							INSERT INTO @tab_Fee VALUES
							('March' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('April' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('May' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
						END
						ELSE
						BEGIN
							INSERT INTO @tab_Fee VALUES
							('March' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('April' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
							INSERT INTO @tab_Fee VALUES
							('May' ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,'2010-03-10')
						END
					END
				ELSE
					BEGIN
						DECLARE @CurrentDate DATETIME , @Year NVARCHAR(4),@iMonthCnt INT,@Month NVARCHAR(15),@PaidDate DATETIME,@iCnt INT

						DECLARE @iMonth INT
						SET @iMonth = 1
						--Take year and month from academic year start date.
						SET @Year = DATENAME(year,@AcademicYrStartDate)
						SET @iMonthCnt = MONTH(@AcademicYrStartDate)
						--print @Year
						--print @iMonthCnt
						SET @iCnt=1;
						--loop is for 12 months.
						WHILE(@iCnt<=12)
						BEGIN
							IF (@iMonthCnt<=12)
							BEGIN
								SET @CurrentDate = CAST((CAST(@iMonthCnt AS CHAR(2)) + '/' + CAST(@Day AS CHAR(2)) + '/' +CAST(@Year AS CHAR(4))) AS DATETIME )
								SET @Month = DATENAME(month, @CurrentDate)
								--Check created date with academic year start date.
								IF(@CurrentDate<@AcademicYrStartDate)
									SET @PaidDate = @AcademicYrStartDate
								ELSE
									SET @PaidDate = @CurrentDate
								SET @iMonthCnt = @iMonthCnt +1
							END
							ELSE
							BEGIN
								SET @Year = DATENAME(year,@AcademicYrEndDate)
								SET @CurrentDate = CAST((CAST(@iMonth AS CHAR(2)) + '/' + CAST(@Day AS CHAR(2)) + '/' +CAST(@Year AS CHAR(4))) AS DATETIME )
								SET @Month = DATENAME(month, @CurrentDate)
								SET @PaidDate = @CurrentDate
								SET @iMonth = @iMonth +1
							END
							--print @PaidDate
							DECLARE @PaidMonth INT , @PaidYear NVARCHAr(4)
							SET @PaidYear = DATENAME(year,@PaidDate)
							SET @PaidMonth = MONTH(@PaidDate)
							--Check due date with joining date. if joining date is grater than due date then
							--this fee_type is not applicable for this student.
							--print  CAST(@iJoiningMonth as char(2)) + ' ' + CAST(@PaidMonth as char(2)) + ' ' + CAST(@JoiningYear as char(4)) + ' ' + CAST(@PaidYear as char(4))

							IF (@JoiningYear<@Year)
							BEGIN
								--Insert fee details into temp. table.
								INSERT INTO @tab_Fee VALUES
								(@Month ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@PaidDate)
							END
							ELSE IF((@iJoiningMonth <= @PaidMonth AND @JoiningYear=@PaidYear) OR (@iJoiningMonth >= @PaidMonth AND @JoiningYear<@PaidYear))
							--ELSE IF(@iJoiningMonth <= @PaidMonth AND @JoiningYear >= @PaidYear)
							BEGIN
								--Insert fee details into temp. table.
								INSERT INTO @tab_Fee VALUES
								(@Month ,@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@PaidDate)
							END
							SET @iCnt = @iCnt +1
						END
				END
				 --select * from @tab_Fee
			END

			--for term fee type take duedate1 and duedate2. checking versus joining date add term-1 and term-2 into temp. table.
			ELSE IF @Fee_Type = 'Term'
			BEGIN
				IF(@JoininigDate <@Due_Date2)
				BEGIN
					INSERT INTO @tab_Fee VALUES
						('Term-I',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date1)
				END
				INSERT INTO @tab_Fee VALUES
					('Term-II',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date2)
			END
			--for quarterly fee type take duedate1 , duedate2,duedate3 and duedate4. checking versus joining date
			--add Quarterly-1 , Quarterly-2,Quarterly-3 and Quarterly-4 into temp. table.
			ELSE IF @Fee_Type = 'Quarterly' OR @Fee_Type = 'Tuition Fees'
			BEGIN
				IF(@JoininigDate <@Due_Date2)
				BEGIN
					INSERT INTO @tab_Fee VALUES
						('Quarterly-I',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date1)
				END
				IF(@JoininigDate <@Due_Date3)
				BEGIN
					INSERT INTO @tab_Fee VALUES
						('Quarterly-II',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date2)
				END
				IF(@JoininigDate <@Due_Date4)
				BEGIN
					INSERT INTO @tab_Fee VALUES
						('Quarterly-III',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date3)
				END
					INSERT INTO @tab_Fee VALUES
						('Quarterly-IV',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date4)
			END
			ELSE
			BEGIN
				--IF (@SchoolId = 18 AND @AcademicYrId <> 42)
					INSERT INTO @tab_Fee VALUES
						('Annual',@Std_Fee_Type_Id,@Fee_Type,@Total_Fees,@Due_Date1)
			END
		
		FETCH NEXT FROM Fee_cur
		INTO @Fee_Type ,@Std_Fee_Type_Id ,@Total_Fees ,@Day ,@Interval ,@Due_Date1 ,@Due_Date2,@Due_Date3,@Due_Date4,@AcademicYrStartDate,@AcademicYrEndDate
		END
		CLOSE Fee_cur
		DEALLOCATE Fee_cur
*/

	IF @SchoolId = 122 AND @AcademicYrId = 1 	
	BEGIN
	
		IF EXISTS
		(
			SELECT TOP 1 1
			  FROM YearWise_Student_Details 
		INNER JOIN Standard_Master 
		        ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
		       AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id
			 WHERE (Standard_Master.Is_Deleted = 'N') 
			   AND (YearWise_Student_Details.Academic_Year_ID = @AcademicYrId) 
			   AND (YearWise_Student_Details.School_Id = @SchoolId)
			   AND Standard_Name IN ('8','9','10')
			   AND YearWise_Student_Id = @StudentId
		)
		BEGIN
				UPDATE @tab_Fee
				SET Amount = 9000
				WHERE PayableFor = 'Install - IV'
		END
	END

	IF @SchoolId = 107 AND @AcademicYrId = 2 	-- PKIS
	BEGIN
	
		DECLARE @Standard_Name NVARCHAR(100)

		SELECT TOP 1 @Standard_Name = Standard_Name
			  FROM YearWise_Student_Details 
		INNER JOIN Standard_Master 
		        ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
		       AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id
			 WHERE (Standard_Master.Is_Deleted = 'N') 
			   AND (YearWise_Student_Details.Academic_Year_ID = @AcademicYrId) 
			   AND (YearWise_Student_Details.School_Id = @SchoolId)	
			   AND YearWise_Student_Id = @StudentId

				UPDATE @tab_Fee
				SET Amount = CASE WHEN  @Standard_Name  = 'Nursery' THEN 9000
							      WHEN  @Standard_Name  IN ('Junior KG','Senior KG') THEN 9500
								  WHEN  @Standard_Name  IN ('1','2','3','4') THEN 11000
								  WHEN  @Standard_Name  IN ('5','6','7') THEN 13000								  
								  WHEN  @Standard_Name  IN ('8','9') THEN 15000
							 END
				WHERE PayableFor = 'Tuition Fee II'
	END

	IF @SchoolId = 120 AND @AcademicYrId = 4 	-- BFS
	BEGIN
	
		DECLARE @StandardName NVARCHAR(100)

		SELECT TOP 1 @StandardName = Standard_Name
			  FROM YearWise_Student_Details 
		INNER JOIN Standard_Master 
		        ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
		       AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id
			 WHERE (Standard_Master.Is_Deleted = 'N') 
			   AND (YearWise_Student_Details.Academic_Year_ID = @AcademicYrId) 
			   AND (YearWise_Student_Details.School_Id = @SchoolId)	
			   AND YearWise_Student_Id = @StudentId

				UPDATE @tab_Fee
				SET Amount = CASE WHEN  @StandardName  IN ('Nursery','Junior KG','Senior KG') THEN 3000
				ELSE Amount
						END
				WHERE PayableFor = 'Tuition Fees III'
	END
	ELSE IF @SchoolId = 61 AND @AcademicYrId >= 12 -- MCPS
	BEGIN
			DECLARE @StdName NVARCHAR(100)
			SELECT @StdName = Standard_Name
			FROM Standard_Master
			WHERE School_Id = @SchoolId
			AND academic_Year_Id = @AcademicYrId
			AND Is_Deleted = 'N'
			AND Standard_Id = @iStandardId

			IF @StdName IN ('Nursery','Junior KG','Senior KG')
			BEGIN
				UPDATE @tab_Fee
				SET Amount = 300
				WHERE FeeType = 'Activity Fee'
				AND PayableFor = 'Activity Fee III'
			END
			ELSE IF @StdName IN ('1','2','3')
			BEGIN
				UPDATE @tab_Fee
				SET Amount = 200
				WHERE FeeType = 'Computer Fee'
				AND PayableFor = 'Computer Fee III'
			END
			ELSE IF @StdName IN ('4','5','6','7','8')
			BEGIN
				UPDATE @tab_Fee
				SET Amount = 600
				WHERE FeeType = 'Sports fee'
				AND PayableFor = 'Sports fee III'

				UPDATE @tab_Fee
				SET Amount = 100
				WHERE FeeType = 'Computer Fee'
				AND PayableFor = 'Computer Fee III'
			END
	END
	IF (@SchoolId = 110)	-- Only For JOS School
		BEGIN
		  DECLARE @OriginalStandardIs INT,
				  @OriginalDivisionIs INT

			SELECT @OriginalStandardIs = Original_Standard_Id
			  FROM Standard_MAster
			 WHERE Standard_Id = @iStandardId
			   AND academic_Year_Id = @AcademicYrId
			   AND Is_Deleted = 'N'

			SELECT @OriginalDivisionIs = Original_Division_Id
			  FROM Division_MAster
			 WHERE Division_ID = @DivisionId
			   AND academic_Year_Id = @AcademicYrId
			   AND Is_Deleted = 'N'


			IF(@OriginalStandardIs = 2 AND @OriginalDivisionIs IN(1,2,3,4))
				BEGIN	
					DELETE FROM @tab_Fee
						  WHERE FeeType = '3rd INSTALLMENT'
						    AND PayableFor = '3rd INSTALLMENT'
							AND Amount = 5000
							AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')	
				END
			ELSE IF(@OriginalStandardIs = 3 AND @OriginalDivisionIs IN(1,2,3))
				BEGIN
					DELETE FROM @tab_Fee
						  WHERE FeeType = '3rd INSTALLMENT'
						    AND PayableFor = '3rd INSTALLMENT'
							AND Amount = 5000
							AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')
				END
			ELSE IF(@OriginalStandardIs = 4 AND @OriginalDivisionIs IN(1,2,3))
				BEGIN
					DELETE FROM @tab_Fee
						  WHERE FeeType = '3rd INSTALLMENT'
						    AND PayableFor = '3rd INSTALLMENT'
							AND Amount = 5000
							AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')
				END

			IF (@OriginalStandardIs = 2 AND @OriginalDivisionIs IN(5,6))
				BEGIN
					UPDATE @tab_Fee
					   SET FeeType = '1st INSTALLMENT',
						   PayableFor = '1st INSTALLMENT',
						   PaidDate = '2017-04-10 00:00:00.000'
					 WHERE FeeType = '3rd INSTALLMENT'
					   AND PayableFor = '3rd INSTALLMENT'
					   AND Amount = 5000
					   AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')

					UPDATE @tab_Fee
					   SET FeeType = '2nd INSTALLMENT',
						   PayableFor = '2nd INSTALLMENT',
						   Amount = 4600
					 WHERE FeeType = '1st INSTALLMENT'
					   AND PayableFor = '1st INSTALLMENT'
					   AND Amount = 6000					   

					UPDATE @tab_Fee
					   SET FeeType = '3rd INSTALLMENT',
						   PayableFor = '3rd INSTALLMENT',
						   Amount = 4600
					 WHERE FeeType = '2nd INSTALLMENT'
					   AND PayableFor = '2nd INSTALLMENT'
					   AND Amount = 6000					   
				END

			IF (@OriginalStandardIs = 2 AND @OriginalDivisionIs IN(5,6))
				BEGIN
					UPDATE @tab_Fee
					   SET FeeType = '1st INSTALLMENT',
						   PayableFor = '1st INSTALLMENT',
						   PaidDate = '2017-04-10 00:00:00.000'
					 WHERE FeeType = '3rd INSTALLMENT'
					   AND PayableFor = '3rd INSTALLMENT'
					   AND Amount = 5000
					   AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')

					UPDATE @tab_Fee
					   SET FeeType = '2nd INSTALLMENT',
						   PayableFor = '2nd INSTALLMENT',
						   Amount = 5000
					 WHERE FeeType = '1st INSTALLMENT'
					   AND PayableFor = '1st INSTALLMENT'
					   AND Amount = 6500					   

					UPDATE @tab_Fee
					   SET FeeType = '3rd INSTALLMENT',
						   PayableFor = '3rd INSTALLMENT',
						   Amount = 5000
					 WHERE FeeType = '2nd INSTALLMENT'
					   AND PayableFor = '2nd INSTALLMENT'
					   AND Amount = 6500		
				END

			IF (@OriginalStandardIs = 4 AND @OriginalDivisionIs IN(5,6))
				BEGIN
					UPDATE @tab_Fee
					   SET FeeType = '1st INSTALLMENT',
						   PayableFor = '1st INSTALLMENT',
						   PaidDate = '2017-04-10 00:00:00.000'
					 WHERE FeeType = '3rd INSTALLMENT'
					   AND PayableFor = '3rd INSTALLMENT'
					   AND Amount = 5000
					   AND CONVERT(DATE,PaidDate) = CONVERT(DATE, '2017-11-10 00:00:00.000')

					UPDATE @tab_Fee
					   SET FeeType = '2nd INSTALLMENT',
						   PayableFor = '2nd INSTALLMENT',
						   Amount = 5000
					 WHERE FeeType = '1st INSTALLMENT'
					   AND PayableFor = '1st INSTALLMENT'
					   AND Amount = 6500					   

					UPDATE @tab_Fee
					   SET FeeType = '3rd INSTALLMENT',
						   PayableFor = '3rd INSTALLMENT',
						   Amount = 5000
					 WHERE FeeType = '2nd INSTALLMENT'
					   AND PayableFor = '2nd INSTALLMENT'
					   AND Amount = 6500	
				END
		END
	DECLARE @OriginalStandardID INT

	SELECT @OriginalStandardID = SM.Original_Standard_Id
	  FROM dbo.Standard_Master SM
	 WHERE SM.Standard_Id = @iStandardId

	IF (@SchoolId = 128 AND @OriginalStandardID = 8)	--CSNP School
		BEGIN		
			IF EXISTS(
						SELECT TOP 1 1
						     FROM YearWise_Student_Details
							WHERE YearWise_Student_Id = @StudentId
							  AND Is_Deleted = 'N'
							  AND School_Id = @SchoolId
							  AND Academic_Year_ID = @AcademicYrId
							  AND Is_New_Student = 0
					 )
					 BEGIN
						DELETE FROM @tab_Fee
						      WHERE PayableFor = 'Installment 3'
							    AND FeeType = 'Tuition Fees'
								AND PaidDate = '2018-01-31 00:00:00.000'
								AND Amount = 9750
					 END
		END

	IF @SchoolId = 126 AND @AcademicYrId = 1001  --EMTS School
		BEGIN
			if ( @iStandardId = 1011 AND @DivisionId = 1009)  -- 1st Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 7200
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 4800
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1012 AND @DivisionId = 1009)  --2nd Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 8400
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 5600
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1014 AND @DivisionId = 1009)  --4th Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 9000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 6000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

		 IF(@iStandardId = 1015 AND @DivisionId = 1009)  --5th Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 10800
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 7200
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			 IF(@iStandardId = 1016 AND (@DivisionId = 1009 OR @DivisionId = 1007 OR @DivisionId = 1008))  --6th Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 12000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 8000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1017 AND (@DivisionId = 1006 OR @DivisionId = 1007 OR  @DivisionId = 1008))  --7th Standard B,C,D Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 11400
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 7600
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1017 AND @DivisionId = 1009)  --7th Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 13200
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 8800
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1018 AND @DivisionId = 1006)  --8th Standard B Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 18000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 12000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1018 AND (@DivisionId = 1007 OR @DivisionId = 1008))  --8th Standard C,D Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 12000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 8000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1018 AND @DivisionId = 1009)  --8th Standard E Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 15000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 10000
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1019 AND (@DivisionId = 1006 OR @DivisionId = 1007))  --9th Standard B,C Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 13200
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 8800
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END

			IF(@iStandardId = 1020 AND @DivisionId = 1007)  --9th Standard B,C Division
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 19200
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - I'

					UPDATE @tab_Fee
					   SET Amount = 12800
					 WHERE PayableFor = 'Tuition Fees'
					   AND FeeType = 'Tuition Fees - II'
				END
		END	

	IF @SchoolId = 5 -- DPIS School
		BEGIN
			IF NOT EXISTS(
							 SELECT TOP 1 1
								   FROM YearWise_Student_Details
								  WHERE YearWise_Student_Id = @StudentId
									AND School_Id = @SchoolId
									AND Academic_Year_ID = @AcademicYrId
									AND Is_Deleted = 'N'
									AND IsForDayBoarding = 1
						 )
					BEGIN
					DELETE FROM @tab_Fee
					      WHERE FeeType IN (
											SELECT Fee_Type
											  FROM Schoolwise_Fee_Type_Configuration
											 WHERE School_Id = @SchoolId
											   AND Is_Deleted = 'N'
											   AND Academic_Year_Id = @AcademicYrId
											   AND CategoryId = 1
										  )
					END

		END

	IF @SchoolId = 122 AND @AcademicYrId = 5 -- SNS School
		BEGIN		
			IF(@iStandardId IN (1071,1072,1073,1074)) -- 1st to 4th Std
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 12000
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END
			ELSE IF(@iStandardId IN (1075,1076,1077)) -- 5 and 7 Std
				BEGIN							
					UPDATE @tab_Fee
					   SET Amount = 12500
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END				
			ELSE IF(@iStandardId IN(1078,1079,1080)) -- 8 to 10 Std
				BEGIN				
					UPDATE @tab_Fee
					   SET Amount = 14000
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END
			ELSE IF(@iStandardId IN(1081,1083)) -- 11 & 12 Science
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 18000
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END
			ELSE IF(@iStandardId IN(1082,1084,1085,1086)) -- 11 & 12 Com & Arts
				BEGIN
					UPDATE @tab_Fee
					   SET Amount = 14750
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END
		END

	IF @SchoolId = 122 AND @AcademicYrId = 6 -- SNS School
		BEGIN
			IF(@iStandardId IN (1094,1095,1096)) -- 5 and 7 Std
				BEGIN							
					UPDATE @tab_Fee
					   SET Amount = 15400
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END				
			ELSE IF(@iStandardId IN(1097,1098,1099)) -- 8 to 10 Std
				BEGIN				
					UPDATE @tab_Fee
					   SET Amount = 17200
					 WHERE PayableFor = 'Install - I'
					   AND FeeType = 'School Fees'
				END
			--ELSE IF(@iStandardId IN(1081,1083)) -- 11 & 12 Science
			--	BEGIN
			--		UPDATE @tab_Fee
			--		   SET Amount = 18000
			--		 WHERE PayableFor = 'Install - I'
			--		   AND FeeType = 'School Fees'
			--	END
			--ELSE IF(@iStandardId IN(1082,1084,1085,1086)) -- 11 & 12 Com & Arts
			--	BEGIN
			--		UPDATE @tab_Fee
			--		   SET Amount = 14750
			--		 WHERE PayableFor = 'Install - I'
			--		   AND FeeType = 'School Fees'
			--	END
		END
		ELSE IF @SchoolId = 122 AND @AcademicYrId = 7 -- SNS School
		BEGIN
			IF(@iStandardId IN (1113,1114,1115)) -- 5 to 7
				BEGIN							
					UPDATE @tab_Fee
					   SET Amount = 15400
					 WHERE PayableFor = 'Install - III'
					   AND FeeType = 'School Fees'
				END				
			ELSE IF(@iStandardId IN(1116,1117,1118)) -- 8 to 10 Std
				BEGIN				
					UPDATE @tab_Fee
					   SET Amount = 17200
					 WHERE PayableFor = 'Install - III'
					   AND FeeType = 'School Fees'
				END			
		END
		ELSE IF @SchoolId = 122 AND @AcademicYrId >= 8
		BEGIN
				UPDATE tblFee
				   SET Amount = SWFID.Amount
				  FROM @tab_Fee tblFee 
			INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
					ON tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
					ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
				   AND SWFTC.School_Id = SWSFTM.School_Id
				   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
			INNER JOIN StandardwiseFeeInstallmentDetails SWFID
					ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
				   AND SWFID.IntervalName = tblFee.PayableFor
				   AND SWFID.SchoolId = SWFTC.School_Id
				   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
				 WHERE SWSFTM.School_Id = @SchoolId
				   AND SWSFTM.academic_Year_Id = @AcademicYrId
				   AND SWSFTM.Is_Deleted = 'N'
				   AND SWFTC.Is_Deleted = 'N'
				   AND SWFID.IsDeleted = 0
				   AND SWFID.StandardId = @iStandardId
		END
		ELSE IF @SchoolId = 169 OR @SchoolId = 172
		BEGIN
				UPDATE tblFee
				   SET Amount = SWFID.Amount
				  FROM @tab_Fee tblFee 
			INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
					ON tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
					ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
				   AND SWFTC.School_Id = SWSFTM.School_Id
				   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
			INNER JOIN StandardwiseFeeInstallmentDetails SWFID
					ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
				   AND SWFID.IntervalName = tblFee.PayableFor
				   AND SWFID.SchoolId = SWFTC.School_Id
				   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
				 WHERE SWSFTM.School_Id = @SchoolId
				   AND SWSFTM.academic_Year_Id = @AcademicYrId
				   AND SWSFTM.Is_Deleted = 'N'
				   AND SWFTC.Is_Deleted = 'N'
				   AND SWFID.IsDeleted = 0
				   AND SWFID.StandardId = @iStandardId
		END

	
	DECLARE @IsAaryanSchool BIT = 0

	SELECT @IsAaryanSchool = CASE WHEN UPPER(Value) = 'TRUE' THEN 1 ELSE 0 END
	FROM SchoolSettings
	WHERE SchoolId = @SchoolId
	AND AcademicYearId = @AcademicYrId
	AND IsDeleted = 0
	AND Name ='IsAaryanSchool'

	IF(@IsAaryanSchool = 1 AND @AcademicYrId >= 2) -- Aaryan School's
		BEGIN
			DECLARE @FeeCategoryId INT = 0
			DECLARE @IsNewStud BIT = 0

			SELECT @FeeCategoryId = FeeCategoryDetailsId,
					@IsNewStud = Is_New_Student
			  FROM YearWise_Student_Details
			 WHERE School_Id = @SchoolId
			   AND Is_Deleted = 'N'
			   AND Academic_Year_ID = @AcademicYrId
			   AND YearWise_Student_Id = @StudentId	
			
		    DELETE tblFee 
			  FROM @tab_Fee tblFee
   LEFT OUTER JOIN (			   
						SELECT Fee_Type,
							   InstalmentName
						  FROM FeeCategoryDetails FCD
					INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
							ON FCD.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
						   AND FCD.SchoolId = SWFTC.School_Id
						   AND FCD.AcademicYearId = SWFTC.Academic_Year_Id
						 WHERE IsDeleted = 0
						   AND SchoolId = @SchoolId
						   AND AcademicYearId = @AcademicYrId
						   AND FeeCategoryId = @FeeCategoryId
					)SS
				 ON SS.Fee_Type = tblFee.FeeType
				AND SS.InstalmentName = tblFee.PayableFor
			  WHERE SS.InstalmentName IS NULL

	    DELETE FROM @tab_Fee
			  WHERE FeeType LIKE '%GPS Fees%'

		--IF (@FeeCategoryId IN (1,2))
		--	BEGIN
		--		DELETE FROM @tab_Fee
		--		      WHERE FeeType = 'Worksheet Fees'
		--	END

			   --DECLARE @IsNewStud BIT = 0

			   --IF @FeeCategoryId = 2
				  -- SET @IsNewStud = 1

				
				UPDATE tblFee
				   SET Amount = SWFID.Amount
				  FROM @tab_Fee tblFee 
			INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
					ON tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
					ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
				   AND SWFTC.School_Id = SWSFTM.School_Id
				   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
			INNER JOIN StandardwiseFeeInstallmentDetails SWFID
					ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
				   AND SWFID.IntervalName = tblFee.PayableFor
				   AND SWFID.SchoolId = SWFTC.School_Id
				   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
				 WHERE SWSFTM.School_Id = @SchoolId
				   AND SWSFTM.academic_Year_Id = @AcademicYrId
				   AND SWSFTM.Is_Deleted = 'N'
				   AND SWFTC.Is_Deleted = 'N'
				   AND SWFID.IsDeleted = 0
				   AND SWFID.StandardId = @iStandardId
				   AND SWFID.IsForNewStudent = @IsNewStud 
		END

		IF(@SchoolId = 165 AND @AcademicYrId >= 3)
	  	BEGIN
			    UPDATE tblFee
				   SET Amount = SWFID.Amount
				  FROM @tab_Fee tblFee 
			INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
					ON tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
					ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
				   AND SWFTC.School_Id = SWSFTM.School_Id
				   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
			INNER JOIN StandardwiseFeeInstallmentDetails SWFID
					ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
				   AND SWFID.IntervalName = tblFee.PayableFor
				   AND SWFID.SchoolId = SWFTC.School_Id
				   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
				 WHERE SWSFTM.School_Id = @SchoolId
				   AND SWSFTM.academic_Year_Id = @AcademicYrId
				   AND SWSFTM.Is_Deleted = 'N'
				   AND SWFTC.Is_Deleted = 'N'
				   AND SWFID.IsDeleted = 0
				   AND SWFID.StandardId = @iStandardId				   
	    END
		ELSE IF @SchoolId = 167 -- FKIS
		BEGIN		
				UPDATE tblFee
				   SET Amount = SWFID.Amount
				  FROM @tab_Fee tblFee 
			INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
					ON tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
					ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
				   AND SWFTC.School_Id = SWSFTM.School_Id
				   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
			INNER JOIN StandardwiseFeeInstallmentDetails SWFID
					ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
				   AND SWFID.IntervalName = tblFee.PayableFor
				   AND SWFID.SchoolId = SWFTC.School_Id
				   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
				 WHERE SWSFTM.School_Id = @SchoolId
				   AND SWSFTM.academic_Year_Id = @AcademicYrId
				   AND SWSFTM.Is_Deleted = 'N'
				   AND SWFTC.Is_Deleted = 'N'
				   AND SWFID.IsDeleted = 0
				   AND SWFID.StandardId = @iStandardId
		END

	--Insert all debit entries for given student into student_fee_details table.
	INSERT [dbo].[Schoolwise_Student_Fee_Details]
	(
		   [Payable_For]
		  ,[Std_FeeType_Id]
		  ,[Fee_Type]
		  ,[Amount]
		  ,[Paid_Date]
		  ,[IntervalStartDate]
		  ,[IntervalEndDate]
		  ,[Standard_Div_Id]
		  ,[Student_Id]
		  ,[School_Id]
		  ,[Academic_Year_Id]
		  ,[Debit/Credit]
		  ,[Inserted_By_Id]
		  ,[Insert_Date]
		  ,[AccountHeaderId]
		  ,[ChallanNo]
	)
	SELECT tblFee.*
		   ,SSDM.SchoolWise_Standard_Division_Id
		   ,YSD.YearWise_Student_Id
		   ,SSDM.School_Id
		   ,SSDM.academic_year_id
		   ,N'Debit'
		   ,@UpdatedById
		   ,dbo.GetLocalDate(DEFAULT)
		   ,ISNULL(BCD.AccountHeaderId,0)
		   ,@ChallanNo
	  FROM @tab_Fee tblFee
		  INNER JOIN dbo.YearWise_Student_Details YSD
		  ON YSD.YearWise_Student_Id = @StudentId
INNER JOIN dbo.SchoolWise_Standard_Division_Master SSDM
		ON YSD.Standard_Id = SSDM.Standard_Id
	   AND YSD.Division_id = SSDM.Division_Id
INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
        ON SSDM.Standard_Id = SWSFTM.Standard_Id
	   AND tblFee.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id	   
	   AND SWFTC.Academic_Year_Id =  SWSFTM.academic_Year_Id
	   AND SWFTC.School_Id = SWSFTM.School_Id
LEFT OUTER JOIN BankChallanDetails BCD
		ON SWFTC.Original_Fee_Type_Id = BCD.OriginalFeeTypeId
	   AND SWFTC.School_Id = BCD.SchoolId
	   AND SSDM.SchoolWise_Standard_Division_Id = BCD.StandardDivisionId
	   AND BCD.IsDeleted = 0	
LEFT OUTER JOIN AccountHeaderMaster ahm
		on BCD.AccountHeaderId = ahm.AccountHeaderId
		and ahm.IsDeleted = 0		
		AND AHM.IsForAdvanceFee = 0
	 WHERE SSDM.Is_Deleted = N'N'
	   AND YSD.Is_Deleted = N'N'
	   AND YSD.YearWise_Student_Id = @StudentId
	   AND tblFee.Amount <> 0
	   AND SWFTC.Is_Deleted = 'N'
	   AND SWFTC.Academic_Year_Id = @AcademicYrId
	   AND SWSFTM.Is_Deleted = 'N' 
	   AND SWSFTM.academic_Year_Id = @AcademicYrId
	   AND (@SchoolId <> 122 OR (@SchoolId = 122 AND ahm.AccountHeaderId IS NOT NULL))

	DECLARE @iSerialNo INT,
			@iStdId INT,
			@iDivID INT,
			@IsInternalFee BIT

	/**
	 *	This cursor is used to iterate over all fees added from the student payables screen and add them for the given student.
	 *	We read the Serial number of the fee, the StandardId and DivisionId.
	 *	If the fee is for complete school, both StandardId & DivisionId will be NULL.
	 *	If the fee is for a particular standard, only DivisionId will be NULL.
	 *	If the fee is for a particular class, none of them will be NULL.
	 *	If StandardId is NULL, DivisionId is assumed to be NULL (its not possible to specify a fee at Division level.)
	 */
	IF(@ExcludeStudentPayables = 0 )
	BEGIN 
	 
				DECLARE	Debit_Entry_Cur CURSOR LOCAL FAST_FORWARD FOR
				SELECT SDEL.Serial_Number
					  ,SDEL.Division_Id
					  ,SDEL.Standard_Id
				  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
				 WHERE SDEL.School_Id = @SchoolId
				   AND SDEL.Academic_Year_Id = @AcademicYrId
				   AND SDEL.Is_Deleted = N'N'
			--	   AND SDEL.Paid_Date >= @JoininigDate

				OPEN Debit_Entry_Cur
				FETCH NEXT FROM Debit_Entry_Cur
				INTO @iSerialNo, @iDivID, @iStdId

				/**
				 * TABLE [dbo].[NewStudentStandardForFee]
				 *		This table contains all those standards, for which even old students are considred as new students.
				 *		So if an OLD student is being admitted to standard which is present in this table,
				 *		even those fees will be applicable for him/her, which are actually only for NEW students (dbo.Schoolwise_Debit_Entry_Log.IsOnlyForNewStudent == 1)
				 */

				DECLARE @ConsiderAsNewStudent BIT

				SET @ConsiderAsNewStudent = 0

				-- As per the above comment for TABLE [dbo].[NewStudentStandardForFee], we set the ConsiderAsNewStudent flag.
				
				IF @IsNewStudent = 1 OR EXISTS (SELECT TOP 1 1
												  FROM dbo.NewStudentStandardForFee NSSFF
												 WHERE NSSFF.Original_Standard_ID = @OriginalStandardID
												   AND NSSFF.Is_Deleted = 0)
					SET @ConsiderAsNewStudent = 1

				WHILE @@FETCH_STATUS = 0
				BEGIN
					-- This means the current fee is applicable for entire school.
					IF @iStdId IS NULL
					BEGIN
						IF @ConsiderAsNewStudent = 0
							INSERT @tab_Debit
							SELECT TOP (1)
								   SDEL.Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
							   AND SDEL.IsOnlyForNewStudent = 0
						ELSE
							INSERT @tab_Debit
							SELECT TOP (1)
								   SDEL.Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
					END
					ELSE IF @iDivID IS NULL AND @iStandardId = @iStdId
					BEGIN
						IF @ConsiderAsNewStudent = 0
							INSERT @tab_Debit
							SELECT TOP (1)
								   SDEL.Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
							   AND SDEL.Standard_Id = @iStdId
							   AND SDEL.IsOnlyForNewStudent = 0
						ELSE
							INSERT @tab_Debit
							SELECT TOP (1) Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
							   AND SDEL.Standard_Id = @iStdId
					END
					ELSE IF @iStandardId = @iStdId AND @DivisionId = @iDivID
					BEGIN
						IF @ConsiderAsNewStudent = 0
							INSERT @tab_Debit
							SELECT TOP (1)
								   SDEL.Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
							   AND SDEL.Standard_Id = @iStdId
							   AND SDEL.Division_Id = @iDivID
							   AND SDEL.IsOnlyForNewStudent = 0
						ELSE
							INSERT @tab_Debit
							SELECT TOP (1)
								   SDEL.Payable_For
								  ,SDEL.Fee_Type
								  ,SDEL.Amount
								  ,SDEL.Paid_Date
								  ,@iSerialNo
								  ,SDEL.Remarks
								  ,SDEL.IsInternalFee
								  ,SDEL.Schoolwise_Debit__Entry_Id
								  ,SDEL.IsOnlinePaymentApplicable
							  FROM dbo.Schoolwise_Debit_Entry_Log SDEL
							 WHERE SDEL.Is_Deleted = N'N'
							   AND SDEL.Serial_Number = @iSerialNo
							   AND SDEL.Standard_Id = @iStdId
							   AND SDEL.Division_Id = @iDivID
					END

					FETCH NEXT FROM Debit_Entry_Cur
					INTO @iSerialNo, @iDivID, @iStdId
				END

				CLOSE Debit_Entry_Cur
				DEALLOCATE Debit_Entry_Cur
	END			

	--Insert all debit entries for given student into student_fee_details table.
	INSERT [dbo].[Schoolwise_Student_Fee_Details]
	(
		   [Payable_For]
		  ,[Fee_Type]
		  ,[Amount]
		  ,[Paid_Date]
		  ,[Serial_Number]
		  ,[Remarks]
		  ,[Standard_Div_Id]
		  ,[Student_Id]
		  ,[School_Id]
		  ,[Academic_Year_Id]
		  ,[Debit/Credit]
		  ,[Inserted_By_Id]
		  ,[Insert_Date]
		  ,[IntervalStartDate]
		  ,[IntervalEndDate]
		  ,[ChallanNo]
	)
	SELECT tab_Debit.PayableFor
		  ,tab_Debit.FeeType
		  ,tab_Debit.Amount
		  ,tab_Debit.PaidDate
		  ,tab_Debit.Serial_Number
		  ,tab_Debit.Remarks
		  ,SSDM.SchoolWise_Standard_Division_Id
		  ,YSD.YearWise_Student_Id
		  ,SSDM.School_Id
		  ,SSDM.academic_year_id
		  ,N'Debit'
		  ,@UpdatedById
		  ,dbo.GetLocalDate(DEFAULT)
		  ,@AcademicYearStartDate
		  ,@AcademicYearEndDate
		  ,@ChallanNo
	  FROM @tab_Debit tab_Debit
		  ,dbo.YearWise_Student_Details YSD
INNER JOIN dbo.SchoolWise_Standard_Division_Master SSDM
		ON YSD.Standard_Id = SSDM.Standard_Id
	   AND YSD.Division_id = SSDM.Division_Id
	 WHERE SSDM.Is_Deleted = N'N'
	   AND YSD.Is_Deleted = N'N'
	   AND YSD.YearWise_Student_Id = @StudentId
	   AND tab_Debit.IsInternalFee = 0

	--Insert all debit entries for given student into student_fee_details table.
	INSERT [dbo].[InternalFeeDetails]
	(
		   Payable_For
		  ,Fee_Type
		  ,Amount
		  ,PaidDate
		  ,InternalFeeMasterID
		  ,Remark
		  ,Standard_Div_Id
		  ,Schoolwise_Student_Id
		  ,SchoolId
		  ,AcademicYearId
		  ,[Debit/Credit]
		  ,InsertedById
		  ,InsertDate
		  ,UpdatedById
		  ,ReceiptNo
		  ,IsChequeBounced
		  ,IsConsiderForOnlinePayment
	)
	SELECT tab_Debit.PayableFor
		  ,tab_Debit.FeeType
		  ,tab_Debit.Amount
		  ,tab_Debit.PaidDate
		  ,tab_Debit.Schoolwise_Debit__Entry_Id
		  ,tab_Debit.Remarks
		  ,SSDM.SchoolWise_Standard_Division_Id
		  ,YSD.Student_Id
		  ,SSDM.School_Id
		  ,SSDM.academic_year_id
		  ,N'Debit'
		  ,1
		  ,dbo.GetLocalDate(DEFAULT)
		  ,1
		  ,0
		  ,'N'		 
		  ,tab_Debit.ConsiderForOnlinePayment 
	   FROM @tab_Debit tab_Debit
inner join dbo.YearWise_Student_Details YSD
on tab_Debit.IsInternalFee = 1
INNER JOIN dbo.SchoolWise_Standard_Division_Master SSDM
		ON YSD.Standard_Id = SSDM.Standard_Id
	   AND YSD.Division_id = SSDM.Division_Id
LEFT OUTER JOIN
(
	SELECT Schoolwise_Student_Id,Fee_Type,Payable_For,Amount
	FROM InternalFeeDetails
	WHERE SchoolId = @SchoolId
	AND AcademicYearId = @AcademicYrId
	AND Is_Deleted = 0
	and Schoolwise_Student_Id = (SELECT Student_Id FROM YearWise_Student_Details WHERE YearWise_Student_Id = @StudentId AND (School_Id = @SchoolId) AND (Academic_Year_Id = @AcademicYrId))
	and [Debit/Credit] = 'debit'
)FEE
ON YSD.Student_Id = fee.Schoolwise_Student_Id
 and tab_Debit.FeeType = fee.Fee_Type
and tab_Debit.PayableFor = fee.Payable_For
and tab_Debit.Amount = fee.Amount
	 WHERE SSDM.Is_Deleted = N'N'
	   AND YSD.Is_Deleted = N'N'
	   AND YSD.YearWise_Student_Id = @StudentId
	 and FEE.Schoolwise_Student_Id is null
	 and (tab_Debit.FeeType like '%PTA Fees%' or tab_Debit.PaidDate >= convert(date, @JoininigDate))

	   IF(@SchoolId = 122)	-- Only For SNS
		BEGIN
			SELECT @SchoolwiseStudentId = Student_Id
			  FROM YearWise_Student_Details
			 WHERE School_Id = @SchoolId
			   AND Academic_Year_ID = @AcademicYrId
			   AND Is_Deleted = 'N'
			   and YearWise_Student_Id = @StudentId

			EXEC usp_GenerateTransportFeeEntries @SchoolId, @AcademicYrId, @SchoolwiseStudentId, @UpdatedById
		END

		 DECLARE @ShowDueDateDayCount INT
		         
           Select  @ShowDueDateDayCount  = CONVERT(INT,Value)
		   from SchoolSettings
	       WHERE Name = 'DueDateDayCount'
			AND  SchoolId = @SchoolId
			AND AcademicYearId =@AcademicYrId
			AND IsDeleted = 0

IF @ShowDueDateDayCount>0
	BEGIN
		update SSFD
		set Paid_Date = DATEADD(DAY,@ShowDueDateDayCount, Joining_Date)
		FROM Schoolwise_Student_Fee_Details SSFD
		INNER JOIN YearWise_Student_Details YSD
		ON SSFD.Student_Id = YSD.YearWise_Student_Id
		AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID
		INNER JOIN vw_BaseStudentDetails BSD
		ON YSD.Student_Id = BSD.SchoolWise_Student_Id
		WHERE SSFD.Is_Deleted = 'N'
		AND SSFD.School_Id = @SchoolId
		AND SSFD.Academic_Year_Id = @AcademicYrId
		AND SSFD.Student_Id = @StudentId
		AND YSD.Is_Deleted = 'N'
		AND SSFD.[Debit/Credit] = 'Debit'
		and convert(date,SSFD.Paid_Date) <= CONVERT(date,bsd.Joining_Date)
	END

	--SELECT * FROM tab_Debit
--raiserror('Test Error',16,1)
	COMMIT TRANSACTION

--END TRY
--BEGIN CATCH
--	 IF (XACT_STATE())=-1 ROLLBACK TRANSACTION
--END CATCH

COMMIT TRANSACTION
  END TRY
  BEGIN CATCH
	PRINT ERROR_MESSAGE()
	ROLLBACK TRANSACTION
  END CATCH
END