/****** Object:  StoredProcedure [dbo].[usp_GetStudentwiseProgressReportDetailsFor9th_PPSH]    Script Date: 04-03-2026 15:15:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 20 Jan 2021
-- Description:	This usp is used to get studentwise progress report details for 9th standard for PPSH school.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentwiseProgressReportDetailsFor9th_PPSH]
	@School_Id INT,  
	@Academic_Year_Id INT,  
	@StudentId INT = NULL,  
	@Standard_Id INT,  
	@Division_Id INT,
	@IsFromStudentLogin BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @StudentId IS NULL
		SET @StudentId = 0

	DECLARE @ShowTermRecord BIT = 0
	IF @Academic_Year_Id > 10
		SET @ShowTermRecord = 1
				
DECLARE @AcademicYear NVARCHAR(15),
        @OriginalStandardId INT

		SELECT @OriginalStandardId = Original_Standard_Id
   FROM Standard_Master
  WHERE Standard_Id = @Standard_Id
	AND School_Id = @School_Id
	AND academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
 
 SELECT @AcademicYear=CAST(datepart(year,Start_date) AS VARCHAR) + '-' + CAST(datepart(year,Start_date) + 1 AS VARCHAR)   
   FROM SchoolWise_Academic_Year_Master  
  WHERE Is_Deleted = 'N'   
    AND School_Id = @School_Id  
    AND Academic_Year_ID = @Academic_Year_Id 

CREATE TABLE #StudentDetails   
 (  
	  StudentId INT,  
	  Roll_Num INT,  
	  StudentName NVARCHAR(100),
	  StudentAddress NVARCHAR(500),
	  PhoneNo NVARCHAR(20),
	  ClassName NVARCHAR(100),  
	  StandardNAme NVARCHAR(20),
	  DOB  datetime,   
	  Enrolment_Number NVARCHAR(50),
	  OriginalStandardId INT,
	  OriginalDivisionId INT,
	  SchoolId INT,
	  AadharCardNo NVARCHAR(50),
	  MotherName NVARCHAR(100),
	  FatherName NVARCHAR(100),
	  StudentPhoto IMAGE
 )  
 
INSERT INTO #StudentDetails  
     SELECT YWSD.YearWise_Student_Id,  
			YWSD.Roll_No,   
			vwBSD.StudentName,
            vwBSD.Address,
		    SWSM.Mobile_Number,
		    dbo.udf_ConvertIntToRoman(vwSD.Standard_Name) + ' - ' + CASE WHEN SWSDM.DisplayNameForDivision IS NULL OR SWSDM.DisplayNameForDivision = '' THEN vwSD.division_name ELSE SWSDM.DisplayNameForDivision END AS className,    
			dbo.udf_ConvertIntToRoman(vwSD.Standard_Name),        
            CONVERT(SMALLDATETIME,vwBSD.DOB),    
            SWSM.Enrolment_Number,
			vwSD.Original_Standard_Id,
			vwSD.Original_Division_Id,
			vwSD.School_Id,
			vwBSD.AadharCardNo,
			vwBSD.Mother_Name,
			vwBSD.Parent_Name,
		    SWSM.Photo_file_Path_Image
       FROM YearWise_Student_Details YWSD WITH(NOLOCK)			
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.Standard_Id=YWSD.Standard_Id  
        AND vwSD.Division_Id=YWSD.Division_id  
        AND vwSD.SchoolWise_Standard_Division_Id=@Division_Id  
        AND vwSD.academic_year_id = @Academic_Year_Id  
        AND vwSD.School_Id = @School_Id  
 INNER JOIN SchoolWise_Student_Master SWSM WITH(NOLOCK)
		 ON SWSM.SchoolWise_Student_Id=YWSD.Student_Id   
	    AND SWSM.School_Id = @School_Id  
        AND SWSM.Is_Deleted='N'  
 INNER JOIN vw_BaseStudentDetails vwBSD WITH(NOLOCK)   
		 ON vwBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id  
        AND vwBSD.School_Id = @School_Id  
 INNER JOIN dbo.Salutation_Master WITH(NOLOCK)  
	     ON SWSM.Salutation_Id = dbo.Salutation_Master.Salutation_Id 
 INNER JOIN SchoolWise_Standard_Division_Master SWSDM
		 ON SWSDM.Standard_Id = vwSD.Standard_Id
		AND SWSDM.Division_Id = vwSD.Division_Id
		AND SWSDM.School_Id = vwSD.School_Id
		AND SWSDM.academic_year_id = vwSD.academic_year_id  
      WHERE vwSD.Standard_Id = @Standard_Id
	    AND vwSD.School_Id = @School_Id
	    AND (vwSD.SchoolWise_Standard_Division_Id = @Division_Id OR @Division_Id = 0)  
		AND YWSD.Is_Deleted = 'N'
		AND (YWSD.YearWise_Student_Id = @StudentId OR @StudentId = 0)

    DECLARE @SchoolReopenDate DATETIME,
			@PromotedToClass NVARCHAR(100),
			@NextAcademicYearId INT,
			@NextStandarId INT

	 SELECT @NextAcademicYearId = Academic_Year_ID
	   FROM SchoolWise_Academic_Year_Master WITH(NOLOCK)
	  WHERE School_Id = @School_Id
		AND Is_Deleted = 'N'
		AND Is_NewlyCreated = 'Y'
		AND Academic_Year_ID <> @Academic_Year_Id
		
	 SELECT @NextStandarId = Standard_Id,
	        @PromotedToClass = Standard_Name
	   FROM Standard_Master WITH(NOLOCK)
	  WHERE Is_Deleted = 'N'
		AND School_Id = @School_Id
		AND academic_Year_Id = @NextAcademicYearId
		AND Original_Standard_Id = (		
										SELECt NextOriginalStandardId
										  FROM Standard_Master
										 WHERE School_Id = @School_Id
										   AND Is_Deleted = 'N'
										   AND academic_Year_Id = @Academic_Year_Id
										   AND Standard_Id = @Standard_Id
								   )

	 SELECT @SchoolReopenDate = SchoolReopeningDate
	   FROM Standardwise_Academic_Year WITH(NOLOCK)
	  WHERE StandardId = @NextStandarId
		AND Academic_Year_Id = @NextAcademicYearId
		AND School_Id = @School_Id
		AND Is_Deleted = 0

	declare @IsFinalExamPublished bit = 0,
			@ShowTerm2Report BIT = 0

	IF EXISTS
	(
		SELECT top 1 1
		FROM SchoolWise_AnnualResult_Publish
		WHERE School_Id = @School_Id
		AND Academic_Year_Id  =@Academic_Year_Id
		AND Is_Deleted = 'N'
		and Is_Published = 'Y'
		and Standard_Division_Id = @Division_Id
	)
	BEGIN
		SET @IsFinalExamPublished = 1
	END


	--if( @IsfromStudentLogin = 0 OR( @IsfromStudentLogin = 1 and @IsFinalExamPublished = 1) OR( @IsfromStudentLogin = 1 and @IsFinalExamPublished = 0 and swtm.Term_Id = 1))
	--begin
	--	SET @ShowTerm2Report = 1
	--end

	DECLARE @tblStudentMarkDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			StudentId INT,
			SubjectId INT,
			SubjectName NVARCHAR(100),
			TotalMarkScored DECIMAL(10,1),
			OutOfMarks INT,
			TestId INT,
			SchoolwiseTestName NVARCHAR(100),
			IsAbsent CHAR(1),
			TermId INT
		)

INSERT INTO @tblStudentMarkDetails
     SELECT SWSTM.Student_Id,
	        SM.Subject_Id,
		    SM.Subject_Name,
		    Total_Marks_Scored,		
		    Subject_Total_Marks,   
		    SWTM.SchoolWise_Test_Id,
		    SWTM.SchoolWise_Test_Name,
			SWSTM.Is_Absent,
			SWTM.Term_Id
       FROM SchoolWise_Student_Test_Marks SWSTM WITH(NOLOCK)
 INNER JOIN SchoolWise_Test_Subject_Marks_Master SWTSMM WITH(NOLOCK)
		 ON SWSTM.School_Id = SWTSMM.School_Id
	    AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
	    AND SWSTM.TestWise_Subject_Marks_Id = SWTSMM.TestWise_Subject_Marks_Id
 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
		 ON SWTSMM.SchoolWise_Test_Id = SWTM.SchoolWise_Test_Id
	    AND SWTSMM.School_Id = SWTM.School_Id
	    AND SWTSMM.Academic_Year_Id = SWTM.academic_year_id
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.SchoolWise_Standard_Division_Id = SWTSMM.Standard_Division_Id
	    AND vwSD.School_Id = SWTSMM.School_Id
	    AND vwSD.academic_year_id = SWTSMM.Academic_Year_Id
 INNER JOIN SchoolWise_Standard_Subject_Master SWSSM WITH(NOLOCK)
		 ON SWSSM.Standard_Id = vwSD.Standard_Id
	    AND SWSSM.Subject_Id = SWSTM.Subject_Id
	    AND SWSSM.School_Id = SWSTM.School_Id
	    AND SWSSM.academic_year_id = SWSTM.Academic_Year_Id
 INNER JOIN Subject_Master SM WITH(NOLOCK)
		 ON SWSSM.Subject_Id = SM.Subject_Id
	    AND SWSSM.School_Id = SM.School_Id
	    AND SWSSM.academic_year_id = SM.academic_Year_Id
 INNER JOIN #StudentDetails tblStudent
		 ON tblStudent.StudentId = SWSTM.Student_Id
      WHERE SWSTM.Academic_Year_Id = @Academic_Year_Id
	    AND SWSTM.Is_Deleted = 'N'
        AND SWSTM.School_Id = @School_Id
        AND (Student_Id = @StudentId OR @StudentId = 0)
	    AND SWTSMM.Is_Deleted = 'N'
	    AND SWTM.Is_Deleted = 'N'
	    AND SWSSM.Is_Deleted = 'N'
	    AND SM.Is_Deleted = 'N'
	    AND SM.School_Id = @School_Id
	    AND SM.academic_Year_Id = @Academic_Year_Id
	    AND SM.Is_CoCurricularActivity = 0
		AND vwSD.Standard_Id = @Standard_Id
		AND vwSD.SchoolWise_Standard_Division_Id = @Division_Id	 
		and ( @IsfromStudentLogin = 0 OR( @IsfromStudentLogin = 1 and @IsFinalExamPublished = 1) OR( @IsfromStudentLogin = 1 and @IsFinalExamPublished = 0 and swtm.Term_Id = 1))
   ORDER BY SWTM.Original_SchoolWise_Test_Id,
            SWSSM.Sort_Order

	DECLARE @tblPeriodicMarks AS TABLE
	(
		Id INT IDENTITY(1,1),
		SubjectId INT,
		StudentId INT,
		TotalMarksScored DECIMAL(10,1),
		OutOfMarks INT,
		RowNo INT,
		IsAbsent CHAR
	)
	
	IF @ShowTermRecord = 0
	BEGIN
		 UPDATE @tblStudentMarkDetails
			SET TotalMarkScored = ROUND((TotalMarkScored/OutOfMarks)*5,1),
				OutOfMarks = case when IsAbsent = 'N' OR EXISTS (SELECT TOP 1 1 FROM Schoolwise_Exam_Status WHERE ShortName = IsAbsent and SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')  then 5 else 0 end
		  WHERE SchoolwiseTestName IN ('Periodic Assessment I','Mid term Exam','Pre - Mid Term')

		   UPDATE @tblStudentMarkDetails
			SET TotalMarkScored = ROUND((TotalMarkScored/case when OutOfMarks = 0 then 1 else OutOfMarks end)*3,1),
				OutOfMarks = 3
		  WHERE SchoolwiseTestName  = 'Post Mid Term'

		  INSERT INTO @tblPeriodicMarks
		 SELECT SubjectId,
				StudentId,
				TotalMarkScored,
				OutOfMarks,
				ROW_NUMBER() OVER(PARTITION BY StudentId, SubjectId ORDER BY StudentId, SubjectId, TotalMarkScored DESC),
				IsAbsent 
		   FROM @tblStudentMarkDetails
		   WHERE SchoolwiseTestName IN ('Pre - Mid Term','Mid term Exam')

		   INSERT INTO @tblStudentMarkDetails
			     SELECT StudentId,
			            SubjectId,
						SM.Subject_Name,
					    ROUND((SUM(TotalMarksScored) / case when sum(OutofMarks) = 0 then 1 else sum(OutofMarks) end) * 3,1),
						3,
						1,
						'Periodic Test 1',
						IsAbsent,
						1
			       FROM @tblPeriodicMarks tblPeriodic
			 INNER JOIN Subject_Master SM
					 ON SM.Subject_Id = tblPeriodic.SubjectId
			      WHERE RowNo <= 2
			   GROUP BY StudentId,
			            SubjectId,
						SM.Subject_Name,
						IsAbsent

				 DELETE FROM @tblStudentMarkDetails
				 WHERE SchoolwiseTestName IN ('Pre - Mid Term','Mid term Exam')

				update @tblStudentMarkDetails
				set SchoolwiseTestName = 'Periodic Test 2'
				where SchoolwiseTestName = 'Post Mid Term'

				
			INSERT INTO @tblStudentMarkDetails
			     SELECT StudentId,
				        SubjectId,
						SubjectName,
						SUM(TotalMarkScored),
						SUM(OutOfMarks),
						888,
						'Marks Obtained',
						'N',
						TERMID
			       FROM @tblStudentMarkDetails
				   WHERE TERMID = 1
				   and (IsAbsent = 'N' OR EXISTS (SELECT TOP 1 1 FROM Schoolwise_Exam_Status WHERE ShortName = IsAbsent and SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y'))
			   GROUP BY StudentId,
				        SubjectId,
						SubjectName,
						TERMID


			INSERT INTO @tblStudentMarkDetails
			     SELECT StudentId,
				        SubjectId,
						SubjectName,
						SUM(TotalMarkScored),
						SUM(OutOfMarks),
						900,
						'Marks Obtained',
						'N',
						TERMID
			       FROM @tblStudentMarkDetails
				   WHERE TERMID = 2
				   and (IsAbsent = 'N' OR EXISTS (SELECT TOP 1 1 FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y'))
			   GROUP BY StudentId,
				        SubjectId,
						SubjectName,
						TERMID

	 END
	 ELSE
	 BEGIN
		  UPDATE @tblStudentMarkDetails
			SET TotalMarkScored = ROUND((TotalMarkScored/OutOfMarks)*5,1),
				OutOfMarks = case when IsAbsent = 'N' OR EXISTS (SELECT TOP 1 1 FROM Schoolwise_Exam_Status WHERE ShortName = IsAbsent and SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')  then 5 else 0 end
		  WHERE SchoolwiseTestName IN ('Post Mid Term','Mid term Exam','Pre - Mid Term')

		  
			INSERT INTO @tblPeriodicMarks
			SELECT SubjectId,
				StudentId,
				TotalMarkScored,
				OutOfMarks,
				ROW_NUMBER() OVER(PARTITION BY StudentId, SubjectId ORDER BY StudentId, SubjectId, TotalMarkScored DESC),
				IsAbsent 
			FROM @tblStudentMarkDetails
			WHERE SchoolwiseTestName IN ('Post Mid Term','Mid term Exam','Pre - Mid Term')

			
			INSERT INTO @tblStudentMarkDetails
			SELECT StudentId,
				SubjectId,
				SM.Subject_Name,
				ROUND((SUM(TotalMarksScored) / case when sum(OutofMarks) = 0 then 1 else sum(OutofMarks) end) * 5,1),
				5,
				1,
				'Periodic Test 1',
				IsAbsent,
				1
			FROM @tblPeriodicMarks tblPeriodic
		INNER JOIN Subject_Master SM
				ON SM.Subject_Id = tblPeriodic.SubjectId
			WHERE RowNo <= 2
		GROUP BY StudentId,
				SubjectId,
				SM.Subject_Name,
				IsAbsent

		 DELETE FROM @tblStudentMarkDetails
		 WHERE SchoolwiseTestName IN ('Post Mid Term','Pre - Mid Term','Mid term Exam')
	 END
	 	  
INSERT INTO @tblStudentMarkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			SUM(TotalMarkScored),
			SUM(OutOfMarks),
			999,
			'Marks Obtained',
			'N',
			3
       FROM @tblStudentMarkDetails
	   WHERE SchoolwiseTestName <> 'Marks Obtained'
	   and (IsAbsent = 'N' OR EXISTS (SELECT TOP 1 1 FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y'))
   GROUP BY StudentId,
	        SubjectId,
			SubjectName



DECLARE @tblMArkDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	SubjectId INT,
	SubjectName NVARCHAR(100),
	TotalMarkScored NVARCHAR(10),
	OutOfMarks INT,
	TestId INT,
	SchoolwiseTestName NVARCHAR(100),
	IsAbsent CHAR(1),
	Term_Id INT
)

INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,
			TotalMarkScored,
			OutOfMarks,
			TestId,
			SchoolwiseTestName,
			IsAbsent,
			TermId
	   FROM @tblStudentMarkDetails

INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,	
			MGCD.Grade_Name,
			0,		
			1100,
			'Grade',
			'N',
			TermId
       FROM @tblStudentMarkDetails tblStud
 INNER JOIN Marks_Grades_Configuration_Details MGCD WITH(NOLOCK)
		 ON ROUND((tblStud.TotalMarkScored / case when OutOfMarks = 0 then 1 else OutOfMarks end)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
 INNER JOIN Marks_Grades_Configuration MGC WITH(NOLOCK)
		 ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id		
      WHERE SchoolwiseTestName = 'Marks Obtained'	    
		AND MGCD.Is_Deleted = 'N'
		AND MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGC.Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id	
		and TermId = 1

INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,	
			MGCD.Grade_Name,
			0,		
			1200,
			'Grade',
			'N',
			TermId
       FROM @tblStudentMarkDetails tblStud
 INNER JOIN Marks_Grades_Configuration_Details MGCD WITH(NOLOCK)
		 ON ROUND((tblStud.TotalMarkScored / case when OutOfMarks = 0 then 1 else OutOfMarks end)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
 INNER JOIN Marks_Grades_Configuration MGC WITH(NOLOCK)
		 ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id		
      WHERE SchoolwiseTestName = 'Marks Obtained'	    
		AND MGCD.Is_Deleted = 'N'
		AND MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGC.Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id	
		and TermId = 2

INSERT INTO @tblMArkDetails
     SELECT StudentId,
	        SubjectId,
			SubjectName,	
			MGCD.Grade_Name,
			0,		
			1300,
			'Grade',
			'N',
			3
       FROM @tblStudentMarkDetails tblStud
 INNER JOIN Marks_Grades_Configuration_Details MGCD WITH(NOLOCK)
		ON ROUND((tblStud.TotalMarkScored / case when OutOfMarks = 0 then 1 else OutOfMarks end)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
 INNER JOIN Marks_Grades_Configuration MGC WITH(NOLOCK)
		 ON MGC.Marks_Grades_Configuration_Id = MGCD.Marks_Grades_Configuration_Id		
      WHERE SchoolwiseTestName = 'Marks Obtained'	    
		AND MGCD.Is_Deleted = 'N'
		AND MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.IsForCoCurricularSubjects = 0
		AND MGC.Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id	
		and TermId = 3

		IF @IsfromStudentLogin = 1 and @IsFinalExamPublished = 0
		BEGIN
			delete from @tblMArkDetails
			where Term_Id = 3
		END

	IF @ShowTermRecord = 0
	BEGIN
			  UPDATE @tblMArkDetails
				SET TestId = 1,
					SchoolwiseTestName = 'Periodic Test 1'
			  WHERE SchoolwiseTestName = 'Periodic Test 1'

				UPDATE @tblMArkDetails
				SET TestId = 2,
					SchoolwiseTestName = 'Multiple Assessment 1'
			  WHERE SchoolwiseTestName = 'Multiple Assessment 1'


			   UPDATE @tblMArkDetails
				SET TestId = 3,
					SchoolwiseTestName = 'Portfolio 1'
			  WHERE SchoolwiseTestName = 'Portfolio 1'

			   UPDATE @tblMArkDetails
				SET TestId = 4,
					SchoolwiseTestName = 'Subject Enrichment 1'
			  WHERE SchoolwiseTestName = 'Subject Enrichment 1'

				 UPDATE @tblMArkDetails
				SET TestId = 5		    
			  WHERE SchoolwiseTestName = 'Term-I Examination'

			  UPDATE @tblMArkDetails
				SET TestId = 6
			  WHERE SchoolwiseTestName =   'Marks Obtained'
			  AND Term_Id = 1


				UPDATE @tblMArkDetails
				SET TestId = 8,
					SchoolwiseTestName = 'Periodic Test 2'
			  WHERE SchoolwiseTestName = 'Periodic Test 2'

				UPDATE @tblMArkDetails
				SET TestId = 9,
					SchoolwiseTestName = 'Multiple Assessment 2'
			  WHERE SchoolwiseTestName = 'Multiple Assessment 2'
	  
			   UPDATE @tblMArkDetails
				SET TestId = 10,
					SchoolwiseTestName = 'Portfolio 2'
			  WHERE SchoolwiseTestName = 'Portfolio 2'

			   UPDATE @tblMArkDetails
				SET TestId = 11,
					SchoolwiseTestName = 'Subject Enrichment 2'
			  WHERE SchoolwiseTestName = 'Subject Enrichment 2'

				 UPDATE @tblMArkDetails
				SET TestId = 12,
				 SchoolwiseTestName  = 'Term-II Examination'	    
			  WHERE SchoolwiseTestName = 'Final Exam'
	  
			  UPDATE @tblMArkDetails
				SET TestId = 13
			  WHERE SchoolwiseTestName =   'Marks Obtained'
			  AND Term_Id = 2
	 END
	 ELSE
	 BEGIN
			  UPDATE @tblMArkDetails
				SET TestId = 1,
					SchoolwiseTestName = 'Periodic Test'
			  WHERE SchoolwiseTestName = 'Periodic Test 1'

			 UPDATE @tblMArkDetails
				SET TestId = 2,
					SchoolwiseTestName = 'Multiple Assessment'
			  WHERE SchoolwiseTestName = 'Multiple Assessment 1'
	  
		   --  UPDATE @tblMArkDetails
			  --  SET TestId = 3,
				 --   SchoolwiseTestName = 'Note Book'
			  --WHERE SchoolwiseTestName = 'Note Book 1'

			  UPDATE @tblMArkDetails
				SET TestId = 3,
					SchoolwiseTestName = 'Portfolio'
			  WHERE SchoolwiseTestName = 'Portfolio 1'
	  	
			 UPDATE @tblMArkDetails
				SET TestId = 4,
					SchoolwiseTestName = 'Subject Enrichment'
			  WHERE SchoolwiseTestName = 'Subject Enrichment 1'

			 UPDATE @tblMArkDetails
				SET TestId = 5,
					SchoolwiseTestName = 'Annual Examination'
			  WHERE SchoolwiseTestName = 'Final Exam'
	END
	
--DELETE FROM @tblMArkDetails
--	  WHERE SubjectId = 2307
--	    AND SubjectName = 'Computers'

DECLARE @ITSubjectName NVARCHAR(100) = ''
IF @ShowTermRecord = 0
	SET @ITSubjectName = 'Computers'
ELSE
	SET @ITSubjectName = 'IT'

DECLARE @tblITSubDetails AS TABLE
(
	YrStudentId INT,
	SubjectId INT
)

IF @Academic_Year_Id < 13
BEGIN
	  DELETE FROM @tblMArkDetails
	  WHERE SubjectName = @ITSubjectName
END
ELSE
BEGIN
		INSERT INTO @tblITSubDetails
		SELECT SOS.Student_Id,SOS.Subject_Id
		FROM StudentWiseOptionalSubjects SOS
		INNER JOIN Subject_Master SM
		ON SOS.Subject_Id = SM.Subject_Id
		WHERE SOS.School_Id = @School_Id
		AND SOS.Academic_Year_Id = @Academic_Year_Id
		AND SOS.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SM.Subject_Name in ('Physical Activity Trainer','IT')
		AND (SOS.Student_Id = @StudentId OR @StudentId = 0)

		DELETE FROM TMD
		from @tblMArkDetails TMD
		INNER JOIN @tblITSubDetails TISD
		ON TMD.StudentId = TISD.YrStudentId
		AND TMD.SubjectId = TISD.SubjectId
END

		declare @FinalExamId INT
		SELECT @FinalExamId = SchoolWise_Test_Id 
		FROM SchoolWise_Test_Master
		WHERE School_Id = @School_Id
		and academic_year_id = @Academic_Year_Id
		and Is_Deleted = 'N'
		and SchoolWise_Test_Name = 'Final Exam'

DECLARE @tblITSubjectMarks AS TABLE
(
	Id INT IDENTITY(1,1),
	YearwiseStudentId INT,
	ITSubjectName NVARCHAR(100),
	ITSubjectHeader NVARCHAR(50),
	ItSubjHeaderSortOrder INT,
	ItSubjectMarks NVARCHAR(50)
)

IF @Academic_Year_Id < 13
BEGIN
INSERT INTO @tblITSubjectMarks
     SELECT SWSTM.Student_Id,
	        SM.Subject_Name,
			'Practical',
			1,
	        SWSTMD.Marks_Scored
       FROM SchoolWise_Test_Subject_Marks_Master SWTSMM
 INNER JOIN SchoolWise_Student_Test_Marks SWSTM
		 ON SWTSMM.TestWise_Subject_Marks_Id = SWSTM.TestWise_Subject_Marks_Id
	    AND SWTSMM.School_Id = SWSTM.School_Id
	    AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
	    AND SWTSMM.Subject_Id = SWSTM.Subject_Id
 INNER JOIN SchoolWise_Student_Test_Marks_Detail SWSTMD
		 ON SWSTMD.SchoolWise_Student_Test_Marks_Id = SWSTM.SchoolWise_Student_Test_Marks_Id
 INNER JOIN Subject_Master SM
		 ON SM.Subject_Id = SWTSMM.Subject_Id
	    AND SM.School_Id = SWTSMM.School_Id
	    AND SM.academic_Year_Id = SWTSMM.Academic_Year_Id 
      WHERE SWTSMM.School_Id = @School_Id
	    AND SWTSMM.Academic_Year_Id = @Academic_Year_Id
	    AND SWTSMM.Standard_Division_Id = @Division_Id
	    AND SWTSMM.SchoolWise_Test_Id = @FinalExamId -- Final Exam
	    AND (SWSTM.Student_Id = @StudentId OR @StudentId = 0)
	    AND SWSTM.Is_Deleted = 'N'
	    AND SWSTMD.Is_Deleted = 'N'
	    AND SM.Is_Deleted = 'N'
	    AND SM.Subject_Name = @ITSubjectName
	    AND TestType_Id = 3 -- Practical

INSERT INTO @tblITSubjectMarks
     SELECT SWSTM.Student_Id,
	        SM.Subject_Name,
			'Writing',
			2,
	        SWSTMD.Marks_Scored
       FROM SchoolWise_Test_Subject_Marks_Master SWTSMM
 INNER JOIN SchoolWise_Student_Test_Marks SWSTM
		 ON SWTSMM.TestWise_Subject_Marks_Id = SWSTM.TestWise_Subject_Marks_Id
	    AND SWTSMM.School_Id = SWSTM.School_Id
	    AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
	    AND SWTSMM.Subject_Id = SWSTM.Subject_Id
 INNER JOIN SchoolWise_Student_Test_Marks_Detail SWSTMD
		 ON SWSTMD.SchoolWise_Student_Test_Marks_Id = SWSTM.SchoolWise_Student_Test_Marks_Id
 INNER JOIN Subject_Master SM
		 ON SM.Subject_Id = SWTSMM.Subject_Id
	    AND SM.School_Id = SWTSMM.School_Id
	    AND SM.academic_Year_Id = SWTSMM.Academic_Year_Id 
      WHERE SWTSMM.School_Id = @School_Id
	    AND SWTSMM.Academic_Year_Id = @Academic_Year_Id
	    AND SWTSMM.Standard_Division_Id = @Division_Id
	    AND SWTSMM.SchoolWise_Test_Id = @FinalExamId -- Final Exam
	    AND (SWSTM.Student_Id = @StudentId OR @StudentId = 0)
	    AND SWSTM.Is_Deleted = 'N'
	    AND SWSTMD.Is_Deleted = 'N'
	    AND SM.Is_Deleted = 'N'
	    AND SM.Subject_Name = @ITSubjectName
	    AND TestType_Id = 12 -- Writing 
END
ELSE
BEGIN
INSERT INTO @tblITSubjectMarks
     SELECT SWSTM.Student_Id,
	        SM.Subject_Name,
			'Writing',
			2,
	        SWSTMD.Marks_Scored
       FROM SchoolWise_Test_Subject_Marks_Master SWTSMM
 INNER JOIN SchoolWise_Student_Test_Marks SWSTM
		 ON SWTSMM.TestWise_Subject_Marks_Id = SWSTM.TestWise_Subject_Marks_Id
	    AND SWTSMM.School_Id = SWSTM.School_Id
	    AND SWSTM.Academic_Year_Id = SWTSMM.Academic_Year_Id
	    AND SWTSMM.Subject_Id = SWSTM.Subject_Id
 INNER JOIN SchoolWise_Student_Test_Marks_Detail SWSTMD
		 ON SWSTMD.SchoolWise_Student_Test_Marks_Id = SWSTM.SchoolWise_Student_Test_Marks_Id
 INNER JOIN Subject_Master SM
		 ON SM.Subject_Id = SWTSMM.Subject_Id
	    AND SM.School_Id = SWTSMM.School_Id
	    AND SM.academic_Year_Id = SWTSMM.Academic_Year_Id 
 INNER JOIN @tblITSubDetails TISD
	     ON SWSTM.Student_Id = TISD.YrStudentId
		AND SWSTM.Subject_Id = TISD.SubjectId
      WHERE SWTSMM.School_Id = @School_Id
	    AND SWTSMM.Academic_Year_Id = @Academic_Year_Id
	    AND SWTSMM.Standard_Division_Id = @Division_Id
	    AND SWTSMM.SchoolWise_Test_Id = @FinalExamId -- Final Exam
	    AND (SWSTM.Student_Id = @StudentId OR @StudentId = 0)
	    AND SWSTM.Is_Deleted = 'N'
	    AND SWSTMD.Is_Deleted = 'N'
	    AND SM.Is_Deleted = 'N'	   
	    AND TestType_Id = 1 -- Theory 
END
		
	DECLARE @ClassTeacherName NVARCHAR(200) = ''

	SELECT @ClassTeacherName = vwBTD.TeacherName
	  FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDTAS WITH(NOLOCK)
INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		ON SWSDTAS.Standard_Id = vwSD.Standard_Id
	   AND SWSDTAS.Division_Id = vwSD.Division_Id
	   AND SWSDTAS.School_Id = vwSD.School_Id
	   AND SWSDTAS.Academic_Year_Id = vwSD.academic_year_id
INNER JOIN vw_BaseTeacherDetails vwBTD WITH(NOLOCK)
		ON vwBTD.Teacher_Id = SWSDTAS.Teacher_Id
	   AND vwBTD.School_Id = SWSDTAS.School_Id
	   AND vwBTD.academic_year_id = SWSDTAS.Academic_Year_Id
	 WHERE SWSDTAS.School_Id = @School_Id
	   AND SWSDTAS.Academic_Year_Id = @Academic_Year_Id
	   AND SWSDTAS.Is_Deleted = 'N'
	   AND SWSDTAS.Standard_Id = @Standard_Id
	   AND SWSDTAS.Is_ClassTeacher = 'Y'
	   AND vwSD.SchoolWise_Standard_Division_Id = @Division_Id
	   AND vwBTD.Is_Deleted = 'N'
	   	   
		IF @Academic_Year_Id < 13
		BEGIN
			declare @ITFirstTermMarks NVARCHAR(10)
	
		   select @ITFirstTermMarks = TotalMarkScored
		   from @tblMArkDetails
		   where SubjectName  = @ITSubjectName
		   and SchoolwiseTestName = 'Term-I Examination'

		   INSERT INTO @tblITSubjectMarks
		   select YearwiseStudentId,ITSubjectName,'Term - I',1, @ITFirstTermMarks
		   from @tblITSubjectMarks
	   
		   IF @ShowTermRecord = 0
		   BEGIN
			   update @tblITSubjectMarks
			   set ITSubjectHeader = 'Term - II'
			   where ITSubjectHeader = 'Writing'
		   END
		   ELSE
		   BEGIN
			   update @tblITSubjectMarks
			   set ITSubjectHeader = 'Theory'
			   where ITSubjectHeader = 'Writing'
		   END
		   		   	   
			DELETE FROM @tblMArkDetails
			WHERE SubjectName = @ITSubjectName

	   END
	   ELSE
	   BEGIN
			   update @tblITSubjectMarks
			   set ITSubjectHeader = 'Marks Obtained'
			   where ITSubjectHeader = 'Writing'

			   DELETE FROM TMD
				from @tblMArkDetails TMD
				INNER JOIN @tblITSubDetails TISD
				ON TMD.StudentId = TISD.YrStudentId
				AND TMD.SubjectId = TISD.SubjectId

				UPDATE @tblITSubjectMarks
				SET ITSubjectName = ITSubjectName  +' (Code No. '+CASE WHEN ITSubjectName = 'IT' THEN '402' ELSE '418' END+')'
	   END

	   --INSERT INTO StudentFinalResultDetails

	   DECLARE @CatchPercentage BIT = 1
	   IF @CatchPercentage = 1
	   BEGIN
		   DECLARE @tblResult AS TABLE
		   (
				Student_Id INT,
				Percentage decimal(10,2)
		   )

		   INSERT INTO @tblResult
		   select ysd.Student_Id, convert(numeric(10,2),round((TotalMarkScored/OutOfMarks)*100,2))
		   from YearWise_Student_Details ysd
		   inner join
		   (
			   select StudentId, sum(convert(numeric(10,2),TotalMarkScored)) as TotalMarkScored,sum(OutOfMarks) as OutOfMarks
			   from @tblMArkDetails
			   where SchoolwiseTestName = 'Marks Obtained'
			   group by StudentId
		   )S
		   on ysd.YearWise_Student_Id = s.StudentId

		   UPDATE SFRD
		   SET Percentage = tr.Percentage
		   FROM @tblResult TR
		   INNER JOIN StudentFinalResultDetails SFRD
		   ON TR.Student_Id = SFRD.SchoolwiseStudentId
		   WHERE SFRD.SchoolId = @School_Id
		   AND SFRD.AcademicYearId = @Academic_Year_Id
		   AND SFRD.IsDeleted = 0

		   INSERT INTO StudentFinalResultDetails
		   select TR.Student_Id,TR.Percentage,@School_Id,@Academic_Year_Id,0
		   FROM @tblResult TR
		   LEFT OUTER JOIN StudentFinalResultDetails SFRD
		   ON TR.Student_Id = SFRD.SchoolwiseStudentId
		   AND SFRD.SchoolId = @School_Id
		   AND SFRD.AcademicYearId = @Academic_Year_Id
		   AND SFRD.IsDeleted = 0
		   WHERE SFRD.SchoolwiseStudentId IS NULL
		END

		DECLARE @tblFailStudents AS TABLE
		(
			studentid INT
		)
	   	
		INSERT INTO @tblFailStudents
	   select studentid
	   from @tblMArkDetails
	   where TestId = 999
	   AND CONVERT(NUMERIC(10,1),round((CONVERT(NUMERIC(10,1),TotalMarkScored)/OutOfMarks)*100,1)) <= 32.4 
	   
	   IF @Academic_Year_Id >= 13
	   BEGIN
		   update @tblMArkDetails
		   set TestId = 1
		   where SchoolwiseTestName = 'Periodic Test'

		   update @tblMArkDetails
		   set TestId = 2
		   where SchoolwiseTestName = 'Subject Enrichment 2'
	   	   
		   update @tblMArkDetails
		   set TestId = 3
		   where SchoolwiseTestName = 'Multiple Assessment 2'

		   update @tblMArkDetails
		   set TestId = 4
		   where SchoolwiseTestName = 'Portfolio 2'

		   update @tblMArkDetails
		   set TestId = 5
		   where SchoolwiseTestName = 'Annual Examination'
	   END

	SELECT tblStud.StudentId,
		   tblStud.Roll_Num,
		   @AcademicYear AS AcademicYear,
		   ClassName,
		   StandardNAme,
		   StudentName,
		   DOB,
		   Enrolment_Number,
		   StudentAddress,
		   tblStud.PhoneNo,
		   AadharCardNo,
		   MotherName,
		   FatherName,
		   tblStud.StudentPhoto,
		   tblStud.OriginalStandardId,
		   tblStud.OriginalDivisionId,	
		   @SchoolReopenDate SchoolReopenDate,
		   @PromotedToClass PromotedToClass,
		   tblMarks.SubjectId,
		   CASE WHEN SubjectName = 'English' THEN
			CASE WHEN @Academic_Year_Id < 10 THEN '<p>&nbsp;English Communicative</p>&nbsp;(Code No. 101)'
			ELSE '&nbsp;English Language & Literature&nbsp;(Code No. 184)' END
				WHEN SubjectName = 'Hindi' THEN '<p>&nbsp;Hindi Course B</p>&nbsp;(Code No. 085)'
				WHEN SubjectName = 'Mathematics' THEN '<p>&nbsp;Mathematics</p>&nbsp;(Code No. 041)'
				WHEN SubjectName = 'Science' THEN '<p>&nbsp;Science</p>&nbsp;(Code No. 086)'
				WHEN SubjectName = 'Marathi' THEN '<p>&nbsp;Marathi</p>&nbsp;(Code No. 009)'
				WHEN SubjectName = 'Sanskrit' THEN '<p>&nbsp;Sanskrit</p>&nbsp;(Code No. 122)'				
				WHEN SubjectName = 'Social Science' AND @Academic_Year_Id <= 13 THEN '<p>&nbsp;Social Studies</p>&nbsp;(Code No. 087)'
				WHEN SubjectName = 'Social Science' AND @Academic_Year_Id >= 14 THEN '<p>&nbsp;Social Science</p>&nbsp;(Code No. 087)'
			ELSE '<p>&nbsp;'+SubjectName+'</p>' END AS SubjectName,
		   --ELSE 'Additional or NSQF Sub.' END AS SubjectName,
		   TestId,
		   CASE		WHEN SchoolwiseTestName = 'Portfolio' THEN '                  '+SchoolwiseTestName + '             (' + CONVERT(NVARCHAR(10), OutOfMarks) + ')'
					WHEN SchoolwiseTestName = 'Periodic Test' THEN SchoolwiseTestName + '             (' + CONVERT(NVARCHAR(10), OutOfMarks) + ')'
					WHEN SchoolwiseTestName = 'Grade' THEN '                  '+SchoolwiseTestName
					WHEN TestId not in(1000,1100,1200,1300,6,13,999) THEN SchoolwiseTestName + ' (' + CONVERT(NVARCHAR(10), OutOfMarks) + ')'
					WHEN TestId IN (6,13) THEN SchoolwiseTestName + ' (50)'		
					WHEN TestId  = 999 THEN SchoolwiseTestName + ' (100)'
		   ELSE SchoolwiseTestName END AS SchoolwiseTestName,		   
		   CASE WHEN IsAbsent = 'Y' THEN 'Ab' WHEN IsAbsent = 'E' THEN 'Ex' ELSE TotalMarkScored END AS TotalMarkScored,
		   CAST(CASE WHEN @Academic_Year_Id< 13 THEN 'IT (Code No. 402)' ELSE tblIT.ITSubjectName END AS NVARCHAR(500)) AS ITSubjectName,	
		   tblIT.ITSubjectHeader + CASE WHEN @Academic_Year_Id < 13 THEN ' (50)' ELSE ' (100)' END AS ITSubjectHeader,
		   tblIT.ItSubjHeaderSortOrder,
		   tblIT.ItSubjectMarks,	  
		   Term_Id,
		   CASE WHEN Term_Id = 1 THEN 'Term - I' WHEN Term_Id = 2 THEN 'Term - II' ELSE '' END AS TermName,
		   sub.SubSortOrder,
		   cast(sub.SubSortOrder as nvarchar(10)) as SubjectSortOrder,
		   CASE WHEN TFS.studentid IS NULL THEN 0 ELSE 1 END AS IsResultFail,
		   @ClassTeacherName ClassTeacherName,		   
		   SM.School_Id,
		   SM.School_Orgn_Name,
		   SM.School_Name,
		   SM.Address,
		   SM.Address1,
		   SM.Address2,
		   SM.City,
		   SM.Pincode,
		   SM.Phone_Number,
		   SM.Phone_Number2,
		   SM.Email,
		   SM.WebSite,
		   SM.Logo
	  FROM #StudentDetails tblStud		
INNER JOIN @tblMArkDetails tblMarks
		ON tblMarks.StudentId = tblStud.StudentId
INNER JOIN @tblITSubjectMarks tblIT
		ON tblIT.YearwiseStudentId = tblStud.StudentId
	   AND tblIT.YearwiseStudentId = tblMarks.StudentId
INNER JOIN School_Master SM WITH(NOLOCK)
		ON SM.School_Id = tblStud.SchoolId
inner join (
		select SubjectId, ROW_NUMBER() OVER(order by SubjectId) as SubSortOrder
		from
		(
			select SubjectId
			from @tblMArkDetails
			group by SubjectId
		)s
)SUB
on tblMarks.SubjectId = sub.SubjectId
LEFT OUTER JOIN @tblFailStudents TFS
ON tblMarks.StudentId = TFS.studentid
	 WHERE SM.Is_Deleted = 'N'
	   AND School_Id = @School_Id
  ORDER BY tblStud.StudentId,           
		   SubjectId,
		   TestId


		   --------------------------------------------------------------------------------------------
	  -- DECLARE @tblPercentage AS TABLE
	  -- (
			--StudentId INT,
			--Percentage DECIMAL(10,2)
	  -- )
	  
	  --INSERT INTO @tblPercentage
	  -- select StudentId, round((TotalMarkScored/OutOfMarks)*100,2) as Percentage
	  -- from 
	  -- (
		 --  select StudentId, sum(convert(decimal(10,2),TotalMarkScored)) as TotalMarkScored, sum(OutOfMarks) as OutOfMarks
		 --  from @tblMArkDetails
		 --  where Term_Id = 3
		 --  and SchoolwiseTestName = 'Marks Obtained'
		 --  group by StudentId
	  -- )S

	  -- SELECT vsd.className, bsd.Enrolment_Number, ysd.Roll_No, bsd.StudentName, tp.Percentage
	  -- FROM @tblPercentage TP
	  -- INNER JOIN YearWise_Student_Details YSD
	  -- ON TP.StudentId = YSD.YearWise_Student_Id
	  -- INNER JOIN vw_BaseStudentDetails BSD
	  -- ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	  -- INNER JOIN vw_standard_division VSD
	  -- ON YSD.Standard_Id = VSD.Standard_Id
	  -- AND YSD.Division_id = VSD.Division_Id
	  -- WHERE YSD.Academic_Year_ID = @Academic_Year_Id
	  -- AND YSD.Is_Deleted ='N'
	  -- order by vsd.Original_Standard_Id, vsd.Original_Division_Id, ysd.Roll_No

	   -----------------------------------------------------------------------------------------------------------------
END