/****** Object:  StoredProcedure [dbo].[USP_StudentPendingFeesCount]    Script Date: 20-03-2026 14:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================   
-- Modified By:  Vipul A. Jadhav   
-- Create date: 5 Dec 2011   
-- Description: To get count of prnding fees for a student.
-- =============================================   
ALTER PROCEDURE [dbo].[USP_StudentPendingFeesCount]
	-- Add the parameters for the stored procedure here   
@SchoolId INT,
@AcadmicYearId INT,
@Student_Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra Result sets from   
	-- interfering with SELECT statements.   
	SET NOCOUNT ON;

	DECLARE @AcdId INT
	DECLARE @YRStudID INT

	DECLARE @Message NVARCHAR(200)
	IF @SchoolId = 71
	BEGIN
		SET @Message = 'Please contact the school office.'
	END
	ELSE
	BEGIN
		SET @Message = 'Your school fees are pending. Please pay the dues to view progress report.'
	END
	
	IF @SchoolId = 11 -- PPSH
	BEGIN	

	DECLARE @tblAcademicYearDetails AS TABLE
	(
		Id INT IDENTITY(1,1),
		AcademicYearId INT
	)
		
   INSERT INTO @tblAcademicYearDetails
		SELECT Academic_Year_ID
		  FROM SchoolWise_Academic_Year_Master SAYM
		  LEFT OUTER JOIN
		  (
			SELECT AcademicYearId, CASE WHEN LOWER(VALUE) = 'true' THEN 1 ELSE 0 END AS BlockReport
			FROM SchoolSettings
			WHERE NAME = 'BlockProgressReportIfFeesArePending'
			AND SchoolId = @SchoolId
			AND AcademicYearId = @AcadmicYearId
			AND IsDeleted = 0
		  )S
		  ON SAYM.Academic_Year_ID = S.AcademicYearId
		 WHERE School_Id = @SchoolId
		   AND Is_Deleted = 'N'	
		   AND SAYM.Academic_Year_ID = @AcadmicYearId
		   AND (S.BlockReport IS NULL OR S.BlockReport = 1)
	
   INSERT INTO @tblAcademicYearDetails
   select Academic_Year_ID
   from SchoolWise_Academic_Year_Master
   where Academic_Year_ID <
			(
				SELECT Academic_Year_ID
				  FROM SchoolWise_Academic_Year_Master
				 WHERE School_Id = @SchoolId
				   AND Is_Deleted = 'N'
				   AND Is_Current_Year = 'Y'
			)
	--AND Academic_Year_ID NOT IN (SELECT AcademicYearId FROM @tblAcademicYearDetails)
	--and Academic_Year_ID = @AcadmicYearId
   ORDER BY Academic_Year_ID DESC
   
		IF EXISTS(
					SELECT TOP 1 1
					      FROM @tblAcademicYearDetails
				 )
			BEGIN
				DECLARE @tblYearwiseStudentIds AS TABLE
				(
					Id INT IDENTITY,
					YearwiseStudentId INT,
					AcademicYearId INT
				)

		INSERT INTO @tblYearwiseStudentIds
			 SELECT YearWise_Student_Id,
			        Academic_Year_ID
			   FROM YearWise_Student_Details YWSD
		 INNER JOIN @tblAcademicYearDetails tblAcademic
				 ON YWSD.Academic_Year_ID = tblAcademic.AcademicYearId
			  WHERE Is_Deleted = 'N'			   
			    AND Is_Deleted = 'N'
			    AND Student_Id = 
					(
						SELECT TOP 1 Student_Id
						  FROM YearWise_Student_Details
						 WHERE Is_Deleted = 'N'
						   AND YearWise_Student_Id = @Student_Id
					)
			--	AND YearWise_Student_Id NOT IN (23771,23682,24911,24242,23756,23538,25042,23780)

			--IF @YRStudID IS NOT NULL AND @YRStudID <> 0
			--	SET @Student_Id = @YRStudID

					 SELECT COUNT(1) Count, @Message AS Message
					   FROM (
								SELECT Schoolwise_Student_Fee_Id,
									   Student_Fee_Id,
									   Paid_Date,
									   Amount
								  FROM Schoolwise_Student_Fee_Details SWSFD
							INNER JOIN @tblYearwiseStudentIds tblStud
									ON tblStud.YearwiseStudentId = SWSFD.Student_Id
								   AND tblStud.AcademicYearId = SWSFD.Academic_Year_Id
								 WHERE [Debit/Credit] = N'Debit'								   
								   AND School_Id = @SchoolId
								   AND Is_Deleted = N'N'
								   AND Amount <> 0
								   AND Fee_Type <> 'Late Fee'
								   AND Is_Cheque_Bounce=N'N'
								   and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
							)Debit
			LEFT OUTER JOIN (
								SELECT Schoolwise_Student_Fee_Id,
									   Student_Fee_Id,
									   Paid_Date 
								  FROM Schoolwise_Student_Fee_Details SWSFD
							INNER JOIN @tblYearwiseStudentIds tblStud
									ON tblStud.YearwiseStudentId = SWSFD.Student_Id
								   AND tblStud.AcademicYearId = SWSFD.Academic_Year_Id
								 WHERE [Debit/Credit] = N'Credit'								   
								   AND School_Id = @SchoolId
								   AND Is_Deleted = N'N'
								   AND Amount <> 0
								   AND Fee_Type <> 'Late Fee'
								   AND Is_Cheque_Bounce=N'N'
							)Credit
						 ON Debit.Schoolwise_Student_Fee_Id = Credit.Student_Fee_Id
					  WHERE Credit.Schoolwise_Student_Fee_Id IS NULL
						AND Debit.Paid_Date < CAST(CONVERT(nvarchar(10), dbo.GetLocalDate(DEFAULT), 126) AS DATETIME)
					having ((@AcadmicYearId = 11 AND sum(Debit.Amount) >= 17000) OR (@AcadmicYearId = 12 AND sum(Debit.Amount) >= 10000) OR (@AcadmicYearId = 14 AND SUM(Debit.Amount) >= 100) OR @AcadmicYearId NOT IN (11,12,14))
			END
			ELSE
			BEGIN
				SELECT 0 AS Count
			END
	END
	ELSE IF @SchoolId = 18 -- pp
	BEGIN
		--IF EXISTS
		--(
		--	SELECT TOP 1 1
		--	FROM YearWise_Student_Details YSD
		--	INNER JOIN Standard_Master SM
		--	ON YSD.Standard_Id = SM.Standard_Id
		--	WHERE YSD.School_Id = @SchoolId
		--	AND YSD.Academic_Year_ID = @AcadmicYearId
		--	AND YSD.Is_Deleted = 'N'
		--	AND SM.Is_Deleted = 'N'
		--	AND SM.Standard_Name IN ('3','4','5','6','7','8')
		--	AND YSD.YearWise_Student_Id = @Student_Id
		--)
		--BEGIN		

		DECLARE @TargetAcId INT = 0

		SELECT @TargetAcId = Academic_Year_ID
		FROM SchoolWise_Academic_Year_Master
		WHERE Is_Deleted = 'N'
		and School_Id = @SchoolId
		and year(Start_date) = 2015
		and year(End_Date) = 2016
				
		DECLARE @TblAcademicYearIds as table
		(
				AccYearId INT
		)

			INSERT INTO @TblAcademicYearIds
			SELECT Academic_Year_ID
			FROM SchoolWise_Academic_Year_Master
			WHERE School_Id = @SchoolId
			AND Is_Deleted = 'N'	

			and Academic_Year_ID >= @TargetAcId

			AND Academic_Year_ID <=
			(
				SELECT Academic_Year_ID
				FROM SchoolWise_Academic_Year_Master
				WHERE School_Id = @SchoolId
				AND Is_Deleted = 'N'
				AND Is_Current_Year = 'Y'
			)
			AND Academic_Year_ID <= @AcadmicYearId
			ORDER BY Academic_Year_ID DESC

			--IF @AcdId IS NOT NULL AND @AcdId <> 0
			--	SET @AcadmicYearId = @AcdId

			DECLARE @tblYrStudIds AS TABLE
			(
				YRStudId INT
			)

			INSERT INTO @tblYrStudIds
			SELECT YearWise_Student_Id
			FROM YearWise_Student_Details ysd
			INNER JOIN @TblAcademicYearIds yd
			on ysd.Academic_Year_ID = yd.AccYearId
			WHERE Is_Deleted = 'N'
			--AND Academic_Year_ID = @AcadmicYearId
			AND Is_Deleted = 'N'
			AND Student_Id = 
			(
				SELECT TOP 1 Student_Id
				FROM YearWise_Student_Details
				WHERE Is_Deleted = 'N'
				AND YearWise_Student_Id = @Student_Id
			)

			--IF @YRStudID IS NOT NULL AND @YRStudID <> 0
			--	SET @Student_Id = @YRStudID

			SELECT COUNT(1) Count, @Message AS Message
					   FROM (
								SELECT Schoolwise_Student_Fee_Id,
									   Student_Fee_Id,
									   Paid_Date,
									   Amount
								  FROM Schoolwise_Student_Fee_Details SSFD
								  INNER JOIN @tblYrStudIds YS
								  ON SSFD.Student_Id = YS.YRStudId
								 WHERE [Debit/Credit] = N'Debit'
							--	   AND Academic_Year_Id = @AcadmicYearId
								  -- AND Student_Id = @Student_Id
								   AND School_Id = @SchoolId
								   AND Is_Deleted = N'N'
								   AND Amount <> 0
								   AND Is_Cheque_Bounce=N'N'
								   and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
							)Debit
			LEFT OUTER JOIN (
								SELECT Schoolwise_Student_Fee_Id,
									   Student_Fee_Id,
									   Paid_Date 
								  FROM Schoolwise_Student_Fee_Details SSFD
								  INNER JOIN @tblYrStudIds YS
								  ON SSFD.Student_Id = YS.YRStudId
								  LEFT OUTER JOIN
								  (
										SELECT ssfd.Student_Id, ssfd.Receipt_Number, SSPC.Cheque_Passed_Date
										FROM Schoolwise_Student_Fee_Details SSFD
										INNER JOIN Schoolwise_Student_PostDatedCheques SSPC
										ON SSFD.Student_Id = SSPC.Student_Id
										INNER JOIN Student_Fee_PDC_Details SFPD
										ON SSPC.PostDated_Cheque_Id = SFPD.PDC_Id
										AND SSFD.Schoolwise_Student_Fee_Id = SFPD.Schoolwise_Student_Fee_Id
										INNER JOIN @tblYrStudIds YS
										ON SSFD.Student_Id = YS.YRStudId
										WHERE SSFD.Is_Deleted = 'N'
										and SSPC.Is_Deleted = 'N'
										and SFPD.Is_Deleted = 'N'
										and ssfd.Is_Cheque_Bounce = 'N'
										and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
										GROUP BY ssfd.Student_Id, ssfd.Receipt_Number, SSPC.Cheque_Passed_Date
								  )CLRD
								  ON SSFD.Student_Id = CLRD.Student_Id
								  and ssfd.Receipt_Number = clrd.Receipt_Number
								 WHERE [Debit/Credit] = N'Credit'								
								   AND School_Id = @SchoolId								
								   AND Is_Deleted = N'N'
								   AND Amount <> 0
								   AND Is_Cheque_Bounce=N'N'
								   and (CLRD.Student_Id IS NULL OR (clrd.Student_Id IS NOT NULL AND clrd.Cheque_Passed_Date IS NOT NULL))
							)Credit
						 ON Debit.Schoolwise_Student_Fee_Id = Credit.Student_Fee_Id
					  WHERE Credit.Schoolwise_Student_Fee_Id IS NULL
						AND Debit.Paid_Date < CAST(CONVERT(nvarchar(10), dbo.GetLocalDate(DEFAULT), 126) AS DATETIME)

		--END
		--ELSE
		--BEGIN
		--	SELECT 0 AS Count
		--END
	END
	ELSE
	BEGIN
		 SELECT COUNT(Debit.Schoolwise_Student_Fee_Id) Count, @Message AS Message
		   FROM (
					SELECT Schoolwise_Student_Fee_Id,
						   Student_Fee_Id,
						   Paid_Date
					  FROM Schoolwise_Student_Fee_Details
					 WHERE [Debit/Credit] = N'Debit'
					   AND Academic_Year_Id = @AcadmicYearId
					   AND Student_Id = @Student_Id
					   AND School_Id = @SchoolId
					   AND Is_Deleted = N'N'
					   AND Amount <> 0
					   AND Is_Cheque_Bounce=N'N'
					   and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)
			    )Debit
LEFT OUTER JOIN (
					SELECT Schoolwise_Student_Fee_Id,
						   Student_Fee_Id,
						   Paid_Date 
					  FROM Schoolwise_Student_Fee_Details
					 WHERE [Debit/Credit] = N'Credit'
					   AND Academic_Year_Id = @AcadmicYearId
					   AND School_Id = @SchoolId
					   AND Student_Id = @Student_Id
					   AND Is_Deleted = N'N'
					   AND Amount <> 0
					   AND Is_Cheque_Bounce=N'N'
				)Credit
			 ON Debit.Schoolwise_Student_Fee_Id = Credit.Student_Fee_Id
		  WHERE Credit.Schoolwise_Student_Fee_Id IS NULL
			AND Debit.Paid_Date < CAST(CONVERT(nvarchar(10), dbo.GetLocalDate(DEFAULT), 126) AS DATETIME)
	END
	
END