/****** Object:  StoredProcedure [dbo].[usp_GetBankChallanDetails]    Script Date: 05-11-2025 15:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Yogesh Karne
-- Create date: 18 May 2016
-- Description:	This usp is used to get Bank Challan Details.
-- =============================================
-- =============================================
-- Updated By :		Dnyaneshwar Shinde
-- Update date: 23 Mar 2017
-- Description:	This USP is Updated for Facility to Generate Challan In Mid Year for Next Year Fee Payment.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetBankChallanDetails] 
	-- Add the parameters for the stored procedure here
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT = NULL,
	@SchoolWise_Standard_Division_Id INT = NULL,
	@Student_Id INT = NULL,
	@Original_Fee_Type_Id INT = NULL,
	@Payable_For NVARCHAR(100) = NULL,
	@AcademicYearId INT,
	@IncludeLateFee NVARCHAR(10)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	--Here we are geting all debit entries in temp table.
	
	--Add Challan No into temp table for filtered parameters.
	
	BEGIN TRANSACTION
	BEGIN TRY	

	SET @Payable_For = REPLACE( REPLACE(@Payable_For,'#','('),'^',')')

	declare @CurrentId INT
	Declare @IsPlayGroup bit=0

	IF EXISTS
(
    SELECT 1
    FROM Standard_Master
    WHERE Standard_Id = @Standard_Id
    AND Academic_Year_Id = @Academic_Year_Id
    AND School_Id = @School_Id
    AND Is_Deleted = 'N'
    AND Standard_Name = 'Play Group'
)
AND @Original_Fee_Type_Id = -99999
AND @AcademicYearId=11
BEGIN
    SET @IsPlayGroup = 1;
END

	SET @CurrentId = @Academic_Year_Id

	IF @Payable_For IS NULL
		SET @Payable_For = ''

	IF @Student_Id IS NULL
		SET @Student_Id = 0

	DECLARE @ShowAdvanceVoucher BIT = 0,
			@SelAccYearId INT,
			@ExpectedTillDate DATE

	DECLARE @TblDates AS TABLE
	(
		AccYrId INT,
		Date DATE
	)

	insert into @TblDates
	SELECT 8, '2023-03-31' UNION
	SELECT 10, '2024-03-31' UNION
	SELECT 11, '2025-03-31' UNION
	SELECT 13, '2026-03-31'

	select @SelAccYearId = AccYrId,
		   @ExpectedTillDate = Date
	from @TblDates
	where AccYrId = @Academic_Year_Id

	 IF @Academic_Year_Id < @AcademicYearId
	 BEGIN
		select @ExpectedTillDate = Date
		from @TblDates
		where AccYrId = @AcademicYearId
	 END

	DECLARE @SpecialNote NVARCHAR(100) = ''
	--IF EXISTS
	--(
	--	SELECT TOP 1 1
	--	FROM Standard_Master
	--	WHERE academic_Year_Id = 8 -- hardcoded for now.
	--	AND Is_Deleted = 'N'
	--	AND Standard_Id = @Standard_Id
	--	AND Standard_Name = '1'
	--)
	--BEGIN
	--	SET @SpecialNote = 'This Challan is valid till 10 Mar 2023.'
	--	SET @ShowAdvanceVoucher = 1
	--END

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM Schoolwise_Academic_Year_Master
		WHERE School_Id = @School_Id
		and academic_Year_Id IN (@Academic_Year_Id, @AcademicYearId)
		and Is_Deleted = 'N'
		and Is_NewlyCreated = 'Y'
	)	
	BEGIN
		SET @SpecialNote = 'This challan is valid only for today.'

		--if @Academic_Year_Id <> @AcademicYearId
		if @Academic_Year_Id = @AcademicYearId
			SET @ShowAdvanceVoucher = 1
	END
	
	IF(@Academic_Year_Id < @AcademicYearId OR @IsPlayGroup = 1)
	BEGIN
		SET @SpecialNote = 'This Challan is valid till 30 Apr 2025.'		
	END
	
	DECLARE @tblStudentDetails AS TABLE
	(
		SchoolwiseStudentId INT,
		ChallanNo INT
	)

   DECLARE @tblStudentChallanDetails AS TABLE
	(
		SchoolwiseStudentId INT,
		ChallanNo INT
	)

	DECLARE @tblStudentFeeIds table
	(
		Id INT IDENTITY(1,1),
		SchoolwiseStudentFeeId INT,
		ChallanNo INT
	)

	DECLARE @tblGetStudentFeeDetails AS TABLE
	(
		Standard_Div_Id INT,
		Payable_For NVARCHAR(100),
		StudentFLName NVARCHAR(100),
		Enrolment_Number NVARCHAR(50),
		className NVARCHAR(100),
		BankName NVARCHAR(100),
		BankAddress NVARCHAR(100),
		SchoolCurrentAccountNumber NVARCHAR(20),
		PaidIntoCreditOf NVARCHAR(60),
		Amount Decimal(18,2),
		AmountInText NVARCHAR(60),
		ChallanNo INT,
		DueDate DATETIME,
		StudentId INT
	)
	DECLARE @DivisionId INT,
			@OldStandardId INT,
			@OldSchoolwiseStandardDivisionId INT,
			@ChallanNo INT,
			@SchoolwiseStudentId INT,
			@FeeType NVARCHAR(100),
			@FeeTypeId INT,
			@PayableFor NVARCHAR(100),
			@OldDivisionId INT,
			@StudentChallanNo INT,
			@DueDate DATETIME,
			@AmountIncludingLateFee INT = 0,
			@LateFeeAmount INT = 0

	IF @Original_Fee_Type_Id = -99999
	BEGIN
			
			IF exists
			(
				select top 1 1
				from Standard_Master
				where Is_Deleted = 'N'
				and academic_Year_Id = @Academic_YEar_Id
				and School_Id = @School_Id
				and Standard_Id = @Standard_Id
				and (Standard_Name like '%11%' or Standard_Name like '%12%')
			)						
			BEGIN
				SET @Payable_For = 'Caution Deposit Fee'
			END
			else IF exists
			(
				select top 1 1
				from Standard_Master
				where Is_Deleted = 'N'
				and academic_Year_Id = @Academic_YEar_Id
				and School_Id = @School_Id
				and Standard_Id = @Standard_Id
				and  Is_PrePrimary ='Y'
			)						
			BEGIN
				SET @Payable_For = 'Admission Fees'
			END
			ELSE
			BEGIN
				SET @Payable_For = 'Devlopment Fund Fee'
			END

			set @DueDate = DATEADD(day,-1, dbo.GetLocalDate(default))
			
			INSERT INTO @tblGetStudentFeeDetails
					SELECT	VSD.SchoolWise_Standard_Division_Id,
							--SSFD.Payable_For, 
							@Payable_For,
							--BSD.StudentFLName, 
							BSD.StudentName,
							BSD.Enrolment_Number, 
							 VSD.className, 
							AHM.BankName, 
							AHM.BankAddress, 
							BCD.SchoolCurrentAccountNumber, 
							AHM.AccountHeaderName AS PaidIntoCreditOf, 
							SCMD.Amount,
							dbo.udf_ConvertNumberToText(SCMD.AMOUNT) AS AmountInText,
							SCMD.ChallanNo,
							@DueDate,
							SCMD.SchoolWise_Student_Id 
					FROM Student_Caution_Money_Details SCMD
					INNER JOIN vw_BaseStudentDetails BSD
					ON SCMD.Schoolwise_Student_Id = BSD.SchoolWise_Student_Id
					INNER JOIN YearWise_Student_Details YSD
					ON BSD.SchoolWise_Student_Id = YSD.Student_Id
					INNER JOIN vw_standard_division VSD
					ON YSD.Standard_Id = VSD.Standard_Id
					AND YSD.Division_id = VSD.Division_Id
					INNER JOIN AccountHeaderMaster AHM
					ON AHM.AccountHeaderId = SCMD.AccountHeaderId
					INNER JOIN BankChallanDetails BCD
					ON AHM.AccountHeaderId = BCD.AccountHeaderId
					AND bcd.StandardDivisionId = VSD.SchoolWise_Standard_Division_Id
					WHERE SCMD.School_Id = @School_Id
					AND YSD.Is_New_Student = 1
					AND SCMD.Is_Deleted = 0
					AND ((VSD.SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) OR (@SchoolWise_Standard_Division_Id IS NULL))
					AND (YSD.Student_Id = @Student_Id OR @Student_Id  = 0)
					AND (VSD.Standard_Id = @Standard_Id OR @Standard_Id IS NULL)
					AND YSD.Is_Deleted = 'N'
					and AHM.IsDeleted = 0
					AND BCD.IsDeleted = 0
					--AND (@IncludeLateFee = 'Y' OR (@IncludeLateFee = 'N' AND BSD.SchoolLeft_Date IS NOT NULL))

	END
	ELSE IF @Academic_Year_Id <> @AcademicYearId
		BEGIN

				IF NOT EXISTS(
							SELECT TOP 1 1
								  FROM Schoolwise_Fee_Type_Configuration WITH(NOLOCK)
								 WHERE School_Id = @School_Id
								   AND Academic_Year_Id = @AcademicYearId
								   AND Is_Deleted = 'N'
								   AND Original_Fee_Type_Id = @Original_Fee_Type_Id
						 )
						 BEGIN								 
							SELECT @Original_Fee_Type_Id = Original_Fee_Type_Id
							  FROM Schoolwise_Fee_Type_Configuration WITH(NOLOCK)
							 WHERE School_Id = @School_Id
							   AND Academic_Year_Id = @AcademicYearId
							   AND Is_Deleted = 'N'
							   AND Fee_Type_Id = @Original_Fee_Type_Id
						END	

			  SELECT @OldStandardId = Standard_Id
				FROM Standard_Master WITH(NOLOCK)
			   WHERE School_Id = @School_Id
			     AND Is_Deleted = 'N'
				 AND academic_Year_Id = @Academic_Year_Id
				 AND NextOriginalStandardId = (
												SELECT Original_Standard_Id
												  FROM Standard_Master WITH(NOLOCK)
												 WHERE academic_Year_Id = @AcademicYearId
												   AND Is_Deleted = 'N'
												   AND School_Id = @School_Id
												   AND Standard_Id = @Standard_Id
											)

		      SELECT @DueDate = SWSLFDDD.DueDate,
			         @LateFeeAmount = LFC.Amount
			   FROM SchoolWise_Standard_LateFee_DueDates_Details SWSLFDDD
		 INNER JOIN SchoolWise_Standard_LateFee_DueDates_Master SWSLFDDM
				 ON SWSLFDDD.SchoolWise_Standard_LateFee_DueDates_Id = SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id
		 INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
				 ON SWSLFDDM.SchoolWise_Standard_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			    AND SWSFTM.academic_Year_Id = SWSLFDDM.Academic_Year_Id
			    AND SWSLFDDM.School_Id = SWSFTM.School_Id
    LEFT OUTER JOIN LateFeeCases LFC
				 ON SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id = LFC.LateFeeId
				AND LFC.IsDeleted = 0
			  WHERE SWSLFDDM.School_Id = @School_Id
			    AND SWSLFDDM.Academic_Year_Id = @AcademicYearId
			    AND SWSLFDDM.Is_Deleted = 'N'
			    AND SWSFTM.Standard_Id = @Standard_Id
			    AND SWSLFDDD.IntervalName = @Payable_For	

		DECLARE @tblDivisionDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			DivisionId INT
		)
		   INSERT INTO @tblDivisionDetails
				SELECT ISNULL(Division_Id,0)
				  FROM SchoolWise_Standard_Division_Master WITH(NOLOCK)
				 WHERE academic_year_id = @AcademicYearId
				   AND ((SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) OR (@SchoolWise_Standard_Division_Id IS NULL))
				   AND Is_Deleted = 'N'
			  GROUP BY Division_Id

		DECLARE @tblOldDivisionDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			OlDivisionId INT
		)
		      INSERT INTO @tblOldDivisionDetails
				   SELECT Division_Id
					 FROM Division_Master DM WITH(NOLOCK)
					WHERE academic_year_id = @Academic_Year_Id
					  AND School_Id = @School_Id
					  AND Is_Deleted = 'N'
					  AND Original_Division_Id IN (
													SELECT Original_Division_Id
													  FROM Division_Master WITH(NOLOCK)
													 WHERE academic_year_id = @AcademicYearId
													   AND School_Id = @School_Id
													   AND Division_Id IN (
																				SELECT DivisionId
																				  FROM @tblDivisionDetails
																		  )
												 )
		
		DECLARE @tblNewStdDivIds AS TABLE
		(
			StudentId INT,
			NewStdDivId INT
		)	   

	  INSERT INTO @tblNewStdDivIds
		   SELECT YSD.Student_Id,
		          S.SchoolWise_Standard_Division_Id
		     FROM YearWise_Student_Details YSD
	   INNER JOIN vw_standard_division VSD
			   ON YSD.Standard_Id = VSD.Standard_Id
			  AND YSD.Division_id = VSD.Division_Id
	  INNER JOIN Standard_Master SM
			  ON SM.Standard_Id = vSD.Standard_Id
			  AND SM.School_Id = VSD.School_Id
			  AND SM.academic_Year_Id = VSD.academic_year_id
	   INNER JOIN
		(
		   SELECT VWSD.Original_Standard_Id,
				  VWSD.Original_Division_Id,
				  VWSD.SchoolWise_Standard_Division_Id
			 FROM vw_standard_division VWSD
			WHERE VWSD.School_Id = @School_Id
			  AND VWSD.academic_year_id = @AcademicYearId			  
		)S
			   ON SM.NextOriginalStandardId = S.Original_Standard_Id
			  AND VSD.Original_Division_Id = S.Original_Division_Id
		    WHERE YSD.Academic_Year_ID = @Academic_Year_Id
		      AND YSD.Is_Deleted = 'N'
		      AND YSD.Standard_Id = @OldStandardId			
						   
		DECLARE @tblStandardDivisionDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			StandardDivisionIds INT
		)			   			   

		      INSERT INTO @tblStandardDivisionDetails
				   SELECT SchoolWise_Standard_Division_Id
				     FROM SchoolWise_Standard_Division_Master SWSDM WITH(NOLOCK)
			   INNER JOIN @tblOldDivisionDetails tblDivision
					   ON SWSDM.Division_Id = tblDivision.OlDivisionId
					WHERE academic_year_id = @Academic_Year_Id
					  AND Standard_Id = @OldStandardId
					  AND Is_Deleted = 'N'
					  AND School_Id = @School_Id
		
		DECLARE @tblNewClassDetails AS TABLE
		(
			Id INT IDENTITY(1,1),
			StudentId INT,
			NewClassName NVARCHAR(100)
		)

   INSERT INTO @tblNewClassDetails
		SELECT S1.Student_Id,
		       vwSD.className
		  FROM vw_standard_division vwSD			
	INNER JOIN (
					SELECT SM.NextOriginalStandardId,
					       Student_Id,
						   DM.Original_Division_Id
				      FROM YearWise_Student_Details YWSD
				INNER JOIN Standard_Master SM
						ON SM.Standard_Id = YWSD.Standard_Id
					   AND SM.School_Id = YWSD.School_Id
					   AND SM.academic_Year_Id = YWSD.Academic_Year_ID
				INNER JOIN Division_Master DM
						ON DM.Division_Id = YWSD.Division_id
					   AND DM.School_Id = YWSD.School_Id
					   AND DM.academic_year_id = YWSD.Academic_Year_ID
					 WHERE YWSD.School_Id = @School_Id
					   AND YWSD.Academic_Year_ID = @Academic_Year_Id
					   AND YWSD.Standard_Id = @OldStandardId
					   AND YWSD.Is_Deleted = 'N'
					   AND SM.Is_Deleted = 'N'
			   )S1
			ON S1.NextOriginalStandardId = vwSD.Original_Standard_Id	
	INNER JOIN Division_Master DM
			ON DM.Original_Division_Id = S1.Original_Division_Id
		   AND DM.Division_Id = vwSD.Division_Id
		   AND DM.academic_year_id = vwSD.academic_year_id
		   AND DM.School_Id = vwSD.School_Id
	INNER JOIN @tblDivisionDetails tblDivision
			ON vwSD.Division_Id = tblDivision.DivisionId
		 WHERE vwSD.School_Id = @School_Id
		   AND vwSD.academic_Year_Id = @AcademicYearId
		   AND vwSD.Standard_Id = @Standard_Id
		   AND DM.Is_Deleted = 'N'


				IF(@Student_Id <> 0)
					BEGIN					
						INSERT INTO @tblStudentDetails
							 SELECT SchoolWise_Student_Id,
							        StudentChallanNo 
							   FROM SchoolWise_Student_Master SWSM WITH(NOLOCK)
						 INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
								 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
								AND SWSM.School_Id = YWSD.School_Id
							  WHERE SWSM.School_Id = @School_Id
								AND SWSM.Is_Deleted = 'N'
								AND YWSD.School_Id = @School_Id
								AND YWSD.Academic_Year_ID = @Academic_Year_Id
								AND YWSD.Is_Deleted = 'N'
								AND SWSM.SchoolWise_Student_Id = @Student_Id	
								AND SWSM.SchoolLeft_Date IS NULL	
					END
				ELSE IF @Standard_Id IS NULL AND @SchoolWise_Standard_Division_Id IS NULL
					BEGIN
						INSERT INTO @tblStudentDetails
							 SELECT SchoolWise_Student_Id,
							        StudentChallanNo
							   FROM SchoolWise_Student_Master SWSM WITH(NOLOCK)
						 INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
								 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
								AND SWSM.School_Id = YWSD.School_Id
							  WHERE SWSM.School_Id = @School_Id
								AND SWSM.Is_Deleted = 'N'
								AND YWSD.School_Id = @School_Id
								AND YWSD.Academic_Year_ID = @Academic_Year_Id
								AND YWSD.Is_Deleted = 'N'
								AND SWSM.SchoolLeft_Date IS NULL
					END
				ELSE IF(@Standard_Id IS NOT NULL AND @SchoolWise_Standard_Division_Id IS NULL)
					BEGIN
						INSERT INTO @tblStudentDetails
							 SELECT SchoolWise_Student_Id,
							        StudentChallanNo
							   FROM SchoolWise_Student_Master SWSM WITH(NOLOCK)
						 INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
								 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
								AND SWSM.School_Id = YWSD.School_Id
							  WHERE SWSM.School_Id = @School_Id
								AND SWSM.Is_Deleted = 'N'
								AND YWSD.School_Id = @School_Id
								AND YWSD.Academic_Year_ID = @Academic_Year_Id
								AND YWSD.Is_Deleted = 'N'
								AND YWSD.Standard_Id = @OldStandardId
								AND SWSM.SchoolLeft_Date IS NULL
					END
				ELSE
					BEGIN												
						INSERT INTO @tblStudentDetails
							 SELECT SchoolWise_Student_Id,
							        StudentChallanNo
							   FROM SchoolWise_Student_Master SWSM WITH(NOLOCK)
						 INNER JOIN YearWise_Student_Details YWSD WITH(NOLOCK)
								 ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
								AND SWSM.School_Id = YWSD.School_Id
						 INNER JOIN SchoolWise_Standard_Division_Master SWSDM WITH(NOLOCK)
								 ON SWSDM.School_Id = YWSD.School_Id
								AND SWSDM.academic_year_id = YWSD.Academic_Year_ID
								AND SWSDM.Standard_Id = YWSD.Standard_Id
								AND SWSDM.Division_Id = YWSD.Division_id
						 INNER JOIN @tblStandardDivisionDetails tblStdDiv
								 ON SWSDM.SchoolWise_Standard_Division_Id = tblStdDiv.StandardDivisionIds
							  WHERE SWSM.School_Id = @School_Id
								AND SWSM.Is_Deleted = 'N'
								AND YWSD.School_Id = @School_Id								
								AND YWSD.Is_Deleted = 'N'
								AND YWSD.Standard_Id = @OldStandardId																
								AND SWSDM.Standard_Id = @OldStandardId
								AND SWSM.SchoolLeft_Date IS NULL
					END				

			INSERT INTO @tblStudentChallanDetails
				 SELECT * 
				   FROM @tblStudentDetails

					DECLARE @tblFeeDetails AS TABLE
					(
						Id INT IDENTITY(1,1),
						FeeTypeId INT,
						FeeType NVARCHAR(200),
						StdFeeTypeId INT,
						PayableFor NVARCHAR(200),
						Amount INT,
						OriginalFeeTypeId INT
					)

					DECLARE @tblStudentFeeDetails AS TABLE
					(
						StudentId INT,
						StandardFeeTypeId INT,
						FeeTypeId INT,
						FeeType NVARCHAR(100),
						PayableFor NVARCHAR(100),
						Amount INT,
						OriginalFeeTypeId INT,
						ChallanNo INT
					)							

					INSERT INTO @tblFeeDetails
						 SELECT SWSFTM.Fee_Type_Id,
						        SWFTC.Fee_Type,
								SWSFTM.SchoolWise_Standard_FeeType_Id,
						        SWSLFDDD.IntervalName,
								SWSFCD.Fee_AmountOld,
								SWFTC.Original_Fee_Type_Id
						   FROM SchoolWise_Standard_LateFee_DueDates_Details SWSLFDDD WITH(NOLOCK)
					 INNER JOIN SchoolWise_Standard_LateFee_DueDates_Master SWSLFDDM WITH(NOLOCK)
							 ON SWSLFDDD.SchoolWise_Standard_LateFee_DueDates_Id = SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id
					 INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM WITH(NOLOCK)
							 ON SWSLFDDM.SchoolWise_Standard_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
							AND SWSLFDDM.School_Id = SWSFTM.School_Id
							AND SWSLFDDM.Academic_Year_Id = SWSFTM.academic_Year_Id		
					 INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC WITH(NOLOCK)
							 ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
							AND SWSFTM.School_Id = SWFTC.School_Id
							AND SWSFTM.academic_Year_Id = SWFTC.Academic_Year_Id
					 INNER JOIN Schoolwise_Standard_Fee_Configuration_Master SWSFCM WITH(NOLOCK)
							 ON SWSFCM.Fee_Type_Id = SWFTC.Fee_Type_Id
							AND SWFTC.School_Id = SWSFCM.School_Id
							AND SWSFCM.academic_Year_Id = SWFTC.Academic_Year_Id
					 INNER JOIN Schoolwise_Standard_Fee_Configuration_Details SWSFCD WITH(NOLOCK)
							 ON SWSFCD.Schoolwise_Standard_Fee_Configuration_Id = SWSFCM.Schoolwise_Standard_Fee_Configuration_Id
							AND SWSFCM.School_Id = SWSFCD.School_Id
							AND SWSFCD.academic_Year_Id = SWSFCM.academic_Year_Id
						  WHERE SWSLFDDD.IsDeleted = 0
						    AND SWSLFDDM.School_Id = @School_Id
							AND SWSLFDDM.Academic_Year_Id = @AcademicYearId
							AND SWSLFDDM.Is_Deleted = 'N'
							AND SWSFTM.School_Id = @School_Id
							AND SWSFTM.academic_Year_Id = @AcademicYearId
							AND SWSFTM.Is_Deleted = 'N'
							AND (SWSFTM.Standard_Id = @Standard_Id OR @Standard_Id = 0)	
							AND (SWFTC.Original_Fee_Type_Id = @Original_Fee_Type_Id OR @Original_Fee_Type_Id = 0)
							AND (SWSFCM.Standard_Id = @Standard_Id OR @Standard_Id = 0)
							AND SWSFCM.School_Id = @School_Id
							AND SWSFCM.academic_Year_Id = @AcademicYearId
							AND SWSFCM.Is_Deleted = 'N'
							AND SWSFCD.Is_Deleted = 'N'
							AND (SWSLFDDD.IntervalName = @Payable_For OR @Payable_For = '')

							--IF @AcademicYearId <> @Academic_Year_Id
							--BEGIN
							--		DECLARE @StdId INT = 0
							
							--		select @StdId = Standard_Id
							--		from Standard_Master
							--		WHERE academic_Year_Id = @AcademicYearId
							--		AND Is_Deleted = 'N'
							--		and Original_Standard_Id = 
							--		(
							--			select NextOriginalStandardId
							--			from Standard_Master
							--			WHERE academic_Year_Id = @AcademicYearId
							--			AND Standard_Id = @Standard_Id
							--			AND Is_Deleted = 'N'
							--		)
									
							--		UPDATE TFD
							--		SET Amount = s1.OldStudent_TotalFee
							--		FROM @tblFeeDetails TFD
							--		INNER JOIN
							--		(
							--			select OldStudent_TotalFee, sftc.Fee_Type_Id
							--			from Schoolwise_Standard_Fee_Configuration_Master SSFCM
							--			INNER JOIN Schoolwise_Fee_Type_Configuration SFTC
							--			ON SSFCM.Fee_Type_Id = SFTC.Fee_Type_Id
							--			where SSFCM.academic_Year_Id = @AcademicYearId
							--			and SSFCM.Is_Deleted = 'N'
							--			and Standard_Id = @StdId
							--			AND SFTC.Original_Fee_Type_Id = @Original_Fee_Type_Id
							--			AND SFTC.Is_Deleted = 'N'
							--		)s1
							--		ON tfd.FeeTypeId = s1.Fee_Type_Id
							--END

							SELECT @ChallanNo = max(ChallanNo) 
							  from PrintedChallanDetails

							  DECLARE @ChallanNo1 INT
							
							IF EXISTS(
											SELECT TOP 1 1
											  FROM ChallanDetailsForNextYear WITH(NOLOCK)
											 WHERE AcademicYearId = @AcademicYearId
											   AND IsDeleted = 0
											   AND SchoolId = @School_Id
										 )										 
										BEGIN
											SELECT @ChallanNo1 = max(ChallanNo) 
											  from ChallanDetailsForNextYear
											 WHERE IsDeleted = 0
										END

							IF(@ChallanNo < @ChallanNo1)
								SET @ChallanNo = @ChallanNo1

							IF (@Original_Fee_Type_Id = 169) -- Only For Transport Fee
								BEGIN  --TFBegin1
									DECLARE @tblUserDetails AS TABLE
									(
										SchoolwiseStudentId INT,
										UserId INT
									)

									DECLARE @tblFeeTypeDetails AS TABLE
									(
										FeeTypeId INT,
										FeeType NVARCHAR(200),
										PayableFor NVARCHAR(200),
										OriginalFeeTypeId INT,
										StandardFeeTypeId INT 
									)

									DECLARE @tblTransportFeeDetails AS TABLE
									(
										SchoolwiseStudentId INT,
										Amount INT,
										StopId INT																			
									)

									DECLARE @tblAllTransportFeeDetails AS TABLE
										(		 
											RowNo INT,									
											SchoolwiseStudentId INT,
											FeeTypeId INT,
											FeeType NVARCHAR(200),
											StdFeeTypeId INT,
											PayableFor NVARCHAR(200),
											Amount INT,
											OriginalFeeTypeId INT
										)

									INSERT INTO @tblUserDetails
										 SELECT SchoolwiseStudentId,
												User_Id											
										   FROM vw_BaseStudentDetails vwBSD WITH(NOLOCK)
									 INNER JOIN @tblStudentDetails tblStudent 
											 ON vwBSD.SchoolWise_Student_Id = tblStudent.SchoolwiseStudentId
--SELECT * FROM @tblUserDetails

									INSERT INTO @tblTransportFeeDetails
									     SELECT DISTINCT tbl.SchoolwiseStudentId,
										        RWSC.Charges,
												TSM.StopId																																															
										   FROM @tblUserDetails tbl
									 INNER JOIN Transport.TravelerTransportDetails TTTD WITH(NOLOCK)
											 ON TTTD.UserId = tbl.UserId
									 INNER JOIN Transport.RouteShiftTimingDetails TRSTD WITH(NOLOCK)
											 ON TTTD.RouteTimingDetailsId = TRSTD.RouteTimingDetailsId
											AND TTTD.SchoolId = TRSTD.SchoolId
											AND TTTD.AcademicYearId = TRSTD.AcademicYearId
									 INNER JOIN Transport.RouteStopDetails TRSD WITH(NOLOCK)
											 ON TRSTD.RouteStopId = TRSD.RouteStopId
									 INNER JOIN Transport.StopMaster TSM WITH(NOLOCK)
											 ON TRSD.StopId = TSM.StopId
									 INNER JOIN StopwiseFeeAreaDetails SWFAD WITH(NOLOCK)
											 ON SWFAD.StopId = TSM.StopId
									 INNER JOIN StudentAdditionalDetails SAD WITH(NOLOCK)
											 ON SAD.FeeAreaName = SWFAD.FeeAreaId
											AND SAD.SchoolwiseStudentId = tbl.SchoolwiseStudentId
									 INNER JOIN RolewiseStopCharges RWSC WITH(NOLOCK)
											 ON TSM.StopId = RWSC.StopId
											AND TSM.SchoolId = RWSC.SchoolId
											AND TSM.Academic_Year_Id = RWSC.AcademicYearId
										  WHERE TTTD.Is_Deleted = 0
										    AND TTTD.SchoolId = @School_Id
											AND TTTD.AcademicYearId = @Academic_Year_Id
											AND TRSTD.Is_Deleted = 0
											AND TRSTD.SchoolId = @School_Id
											AND TRSTD.AcademicYearId = @Academic_Year_Id
											AND TRSD.Is_Deleted = 0
											AND TSM.SchoolId = @School_Id
											AND TSM.Academic_Year_Id = @Academic_Year_Id
											AND TSM.Is_Deleted = 0
											AND RWSC.SchoolId = @School_Id
											AND RWSC.AcademicYearId = @Academic_Year_Id
											AND RWSC.IsDeleted = 0
											AND RWSC.RoleId = 3


IF @AcademicYearId <> @Academic_Year_Id
BEGIN

IF EXISTS
(
	SELECT TOP 1 1
	from Standard_Master
	where School_Id = @School_Id
	and academic_Year_Id = @AcademicYearId
	and Standard_Id = @Standard_Id
	and Standard_Name in ('1')
)
BEGIN
	update tf
	set StopId = ss.NewStopId
	from @tblTransportFeeDetails tf
	inner join
	(
		SELECT s1.SchoolwiseStudentId,
		(select top 1 stopid from TRANSPORT.StopMaster where Is_Deleted = 0 and Academic_Year_Id = @Academic_Year_Id and StopName =  LTRIM(RTRIM( replace(sm.StopName,'(PP)','')))) as NewStopId
		--CASE sm.StopName WHEN 'City (PP)' then (select stopid from TRANSPORT.StopMaster where Is_Deleted = 0 and Academic_Year_Id = @Academic_Year_Id and StopName = 'City') else 0 end as NewStopId
		FROM @tblTransportFeeDetails S1
		INNER JOIN TRANSPORT.StopMaster SM
		ON S1.StopId = SM.StopId
		WHERE SM.Academic_Year_Id = @Academic_Year_Id
		AND SM.Is_Deleted = 0
	)ss
	on tf.SchoolwiseStudentId = ss.SchoolwiseStudentId
END

	IF EXISTS
(
	SELECT TOP 1 1
	from Standard_Master
	where School_Id = @School_Id
	and academic_Year_Id = @AcademicYearId
	and Standard_Id = @Standard_Id
	and LEFT(STANDARD_NAME,3) IN ('11 ')
)
BEGIN
	update tf
	set StopId = ss.NewStopId
	from @tblTransportFeeDetails tf
	inner join
	(
		SELECT s1.SchoolwiseStudentId,
		(select top 1 stopid from TRANSPORT.StopMaster where Is_Deleted = 0 and Academic_Year_Id = @Academic_Year_Id and StopName =  sm.StopName+' (SS)') as NewStopId
		FROM @tblTransportFeeDetails S1
		INNER JOIN TRANSPORT.StopMaster SM
		ON S1.StopId = SM.StopId
		WHERE SM.Academic_Year_Id = @Academic_Year_Id
		AND SM.Is_Deleted = 0
	)ss
	on tf.SchoolwiseStudentId = ss.SchoolwiseStudentId
END

	update tfd
	set Amount = ss3.Charges
	from @tblTransportFeeDetails tfd
	inner join
	(
		select ss1.SchoolwiseStudentId,ss1.StopId,ss2.Charges		
		from
		(
			select tfd.SchoolwiseStudentId, NextStop.StopId
			from Transport.StopMaster sm
			inner join @tblTransportFeeDetails tfd
			on sm.StopId = tfd.StopId
			inner join Transport.StopMaster NextStop
			on sm.StopName = NextStop.StopName
			where sm.Is_Deleted = 0
			and sm.Academic_Year_Id = @Academic_Year_Id
			and NextStop.Is_Deleted = 0
			and NextStop.Academic_Year_Id = @AcademicYearId
		)ss1
		inner join
		(
			SELECT RWSC.Charges,
				TSM.StopId																																															
			FROM Transport.RouteShiftTimingDetails TRSTD WITH(NOLOCK)	
			INNER JOIN Transport.RouteStopDetails TRSD WITH(NOLOCK)
				ON TRSTD.RouteStopId = TRSD.RouteStopId
			INNER JOIN Transport.StopMaster TSM WITH(NOLOCK)
				ON TRSD.StopId = TSM.StopId
			INNER JOIN StopwiseFeeAreaDetails SWFAD WITH(NOLOCK)
				ON SWFAD.StopId = TSM.StopId	
			INNER JOIN RolewiseStopCharges RWSC WITH(NOLOCK)
				ON TSM.StopId = RWSC.StopId
			AND TSM.SchoolId = RWSC.SchoolId
			AND TSM.Academic_Year_Id = RWSC.AcademicYearId
			WHERE 
			TRSTD.Is_Deleted = 0
			AND TRSTD.SchoolId = @School_Id
			AND TRSTD.AcademicYearId = @AcademicYearId
			AND TRSD.Is_Deleted = 0
			AND TSM.SchoolId = @School_Id
			AND TSM.Academic_Year_Id = @AcademicYearId
			AND TSM.Is_Deleted = 0
			AND RWSC.SchoolId = @School_Id
			AND RWSC.AcademicYearId = @AcademicYearId
			AND RWSC.IsDeleted = 0
			AND RWSC.RoleId = 3
			group by RWSC.Charges,
				TSM.StopId	
		)ss2
		on ss1.StopId = ss2.StopId
	)ss3
	on tfd.SchoolwiseStudentId = ss3.SchoolwiseStudentId
END


								IF EXISTS(
											SELECT TOP 1 1
											      FROM StandardWiseNextYearFeeAreaDetails WITH(NOLOCK)
												 WHERE AcademicYearId = @Academic_Year_Id
												   AND SchoolId = @School_Id
												   AND IsDeleted = 0
												   AND StandardId = @OldStandardId
										 )
										 BEGIN
											DECLARE @NewStopDetails AS TABLE
											(
											    OldStopId INT,
												NewStopId INT,
												SchoolwiseStudentId INT
											)

											INSERT INTO @NewStopDetails
											     SELECT Fee.StopId,
												        SWNYFAD.NextStopId,
												        Fee.SchoolwiseStudentId
												   FROM @tblTransportFeeDetails Fee
											 INNER JOIN StandardWiseNextYearFeeAreaDetails SWNYFAD WITH(NOLOCK)
													 ON Fee.StopId = SWNYFAD.CurrentStopId	
													AND StandardId = @OldStandardId
									 											 
												  UPDATE tblTransport
												     SET StopId = NewStop.NewStopId,
													     Amount = RWSC.Charges
													FROM @tblTransportFeeDetails tblTransport											  
											  INNER JOIN @NewStopDetails NewStop
													  ON tblTransport.StopId = NewStop.OldStopId
											  INNER JOIN RolewiseStopCharges RWSC WITH(NOLOCK)
													  ON RWSC.StopId = NewStop.NewStopId
												   WHERE RoleId = 3	
													 AND RWSC.SchoolId = @School_Id
													 AND RWSC.IsDeleted = 0												 								
										 END
	
								SET @Academic_Year_Id = @AcademicYearId

									    INSERT INTO @tblFeeTypeDetails									
											 SELECT DISTINCT SWSFTM.Fee_Type_Id,
													SWFTC.Fee_Type,													
													SWSLFDDD.IntervalName,																				
													SWFTC.Original_Fee_Type_Id,
													SWSFTM.SchoolWise_Standard_FeeType_Id
											   FROM SchoolWise_Standard_LateFee_DueDates_Details SWSLFDDD WITH(NOLOCK)
										 INNER JOIN SchoolWise_Standard_LateFee_DueDates_Master SWSLFDDM WITH(NOLOCK)
												 ON SWSLFDDD.SchoolWise_Standard_LateFee_DueDates_Id = SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id												
										 INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM WITH(NOLOCK)
												 ON SWSLFDDM.SchoolWise_Standard_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
												AND SWSLFDDM.School_Id = SWSFTM.School_Id
												AND SWSLFDDM.Academic_Year_Id = SWSFTM.academic_Year_Id													
										 INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC WITH(NOLOCK)
												 ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
												AND SWSFTM.School_Id = SWFTC.School_Id
												AND SWSFTM.academic_Year_Id = SWFTC.Academic_Year_Id
												AND SWFTC.ORiginal_Fee_Type_Id = @Original_Fee_Type_Id
											  WHERE SWSLFDDD.IsDeleted = 0
												AND SWSLFDDM.School_Id = @School_Id
												AND SWSLFDDM.Academic_Year_Id = @AcademicYearId
												AND SWSLFDDM.Is_Deleted = 'N'
												AND SWSFTM.School_Id = @School_Id
												AND SWSFTM.academic_Year_Id = @AcademicYearId
												AND SWSFTM.Is_Deleted = 'N'
												AND (SWSFTM.Standard_Id = @Standard_Id OR @Standard_Id = 0)											
												AND (SWFTC.Original_Fee_Type_Id = @Original_Fee_Type_Id OR @Original_Fee_Type_Id = 0)																
												AND (SWSLFDDD.IntervalName = @Payable_For OR @Payable_For = '')	


											
										INSERT INTO @tblAllTransportFeeDetails
											 SELECT ROW_NUMBER() OVER(ORDER BY SchoolwiseStudentId),
											        TransportFee.SchoolwiseStudentId,
											        FeeDetails.FeeTypeId,
											        FeeDetails.FeeType,
													FeeDetails.StandardFeeTypeId,
													FeeDetails.PayableFor,
													TransportFee.Amount,
													FeeDetails.OriginalFeeTypeId
											   FROM @tblTransportFeeDetails TransportFee
										 CROSS JOIN @tblFeeTypeDetails FeeDetails

										 -- Update amount for 1st Installment.



										IF @CurrentId = @Academic_Year_Id
										BEGIN
												UPDATE tblAllTransport
												   SET Amount = SWIA.Amount
												  FROM @tblAllTransportFeeDetails tblAllTransport
											INNER JOIN @tblTransportFeeDetails tblTransport
													ON tblAllTransport.SchoolwiseStudentId = tblTransport.SchoolwiseStudentId
											INNER JOIN Transport.StopwiseInstalmentAmount SWIA
													ON SWIA.StopId = tblTransport.StopId
												 WHERE FeeType = 'Transport Fees'
												    AND ((@AcademicYearId <= 7 and PayableFor = 'Transport Fees - I') or (@AcademicYearId >= 8 and PayableFor = 'Transport Fees - III'))
												   AND IsDeleted = 0
												   AND ((@AcademicYearId <= 7 and InstallmentNo = 1) or (@AcademicYearId >= 8 and InstallmentNo = 3))
										END
										ELSE
										BEGIN	  																														
												UPDATE s1
												   SET Amount = SWIA.Amount
												from @tblTransportFeeDetails s1
												inner join Transport.StopMaster sm
												on s1.StopId = sm.StopId
												inner join Transport.StopMaster sm1
												on sm.StopName = sm1.StopName
												inner join Transport.StopwiseInstalmentAmount SWIA
												ON SWIA.StopId = sm1.StopId
												INNER JOIN @tblAllTransportFeeDetails tblAllTransport
												ON tblAllTransport.SchoolwiseStudentId = S1.SchoolwiseStudentId
												where sm.Is_Deleted = 0
												and sm1.Is_Deleted = 0
												and sm1.Academic_Year_Id = @AcademicYearId
												 AND ((@AcademicYearId <= 7 and InstallmentNo = 1) or (@AcademicYearId >= 8 and InstallmentNo = 3))
												 AND FeeType = 'Transport Fees'
												  AND ((@AcademicYearId <= 7 and PayableFor = 'Transport Fees - I') or (@AcademicYearId >= 8 and PayableFor = 'Transport Fees - III'))
												  AND SWIA.IsDeleted = 0
										END


									     IF EXISTS(
														SELECT TOP 1 1
														      FROM @tblAllTransportFeeDetails
												  )
												  BEGIN	--TFBegin2																							
													IF NOT EXISTS(
																	SELECT TOP 1 1
																		  FROM PaidFeeDetailsOfNextYear WITH(NOLOCK)
																		 WHERE StudentID = @SchoolwiseStudentId
																		   AND Fee_Type = @FeeType														
																		   AND AcademicYearID = @AcademicYearId
																		   AND Payable_For = @PayableFor
																		   AND Is_Deleted = 0
																 )
																		BEGIN --TFBegin4																	
																			IF EXISTS(
																							SELECT TOP 1 1 
																							      FROM ChallanDetailsForNextYear CDFNY WITH(NOLOCK)
																						    INNER JOIN @tblAllTransportFeeDetails Fee
																									ON CDFNY.SchoolwiseStudentId = Fee.SchoolwiseStudentId
																								   AND CDFNY.StandardFeeTypeID = Fee.StdFeeTypeId
																								   AND CDFNY.FeeType = Fee.FeeType
																								   AND CDFNY.OriginalFeeTypeId = Fee.OriginalFeeTypeId
																								   AND CDFNY.PayableFor = Fee.PayableFor
																								 WHERE CDFNY.AcademicYearId = @AcademicYearId
																						           AND SchoolId = @School_Id
																						           AND IsDeleted = 0
																					 )
																					BEGIN
																							UPDATE CDFNY
																							   SET IsDeleted = 1,
																								   UpdateDate = dbo.GetLocalDate(DEFAULT),
																								   UpdatedById = 2
																							  FROM ChallanDetailsForNextYear CDFNY WITH(NOLOCK)
																						INNER JOIN @tblAllTransportFeeDetails Fee
																								ON CDFNY.SchoolwiseStudentId = Fee.SchoolwiseStudentId
																							   AND CDFNY.StandardFeeTypeID = Fee.StdFeeTypeId
																							   AND CDFNY.FeeType = Fee.FeeType
																							   AND CDFNY.OriginalFeeTypeId = Fee.OriginalFeeTypeId
																							   AND CDFNY.PayableFor = Fee.PayableFor
																						INNER JOIN @tblNewStdDivIds tblStd
																								ON tblStd.StudentId = CDFNY.SchoolwiseStudentId
																							   AND tblStd.NewStdDivId = CDFNY.StandardDivId
																							 WHERE CDFNY.AcademicYearId = @AcademicYearId
																							   AND SchoolId = @School_Id
																							   AND IsDeleted = 0	
																							   --AND ((CDFNY.StandardDivId = @SchoolWise_Standard_Division_Id) OR (@SchoolWise_Standard_Division_Id IS NULL))
																				    END																									   
																		
																					   SELECT @StudentChallanNo = SWSM.StudentChallanNo
																					     FROM @tblAllTransportFeeDetails tblTransport
																				   INNER JOIN SchoolWise_Student_Master SWSM
																						   ON tblTransport.SchoolwiseStudentId = SWSM.SchoolWise_Student_Id
																						  AND SWSM.School_Id = @School_Id
																						  AND SWSM.Is_Deleted = 'N'
																						  AND SWSM.SchoolLeft_Date IS NULL

																				        INSERT INTO [dbo].[ChallanDetailsForNextYear]
																								   ([SchoolwiseStudentId]
																								   ,[StandardFeeTypeID]
																								   ,[StandardDivId]
																								   ,[PayableFor]
																								   ,[FeeType]
								    															   ,[Amount]
																								   ,[ChallanNo]
																								   ,[OriginalFeeTypeId]
																								   ,[SchoolId]
																								   ,[AcademicYearId]
																								   ,[IsDeleted]
																								   ,[InsertDate]
																								   ,[InsertedById])
																							 SELECT SchoolwiseStudentId,
																									StdFeeTypeId,
																									S2.NewStdDivId,
																									--ISNULL(@SchoolWise_Standard_Division_Id,0),
																									PayableFor,
																									FeeType,
																									Amount,
																									@StudentChallanNo,
																									OriginalFeeTypeId,
																									@School_Id,
																									@AcademicYearId,
																									0,
																									dbo.GetLocalDate(DEFAULT),
																									2
																							   FROM @tblAllTransportFeeDetails S1
																							   INNER JOIN @tblNewStdDivIds S2
																							   ON S1.SchoolwiseStudentId = S2.StudentId
																			  END	--TFEnd4
												END ----TFEnd2
								END --TFEnd1
						ELSE
							BEGIN
								IF EXISTS(
											SELECT TOP 1 1
												  FROM @tblStudentDetails
										 )
										 BEGIN  --Begin1
											  WHILE EXISTS(
															SELECT TOP 1 1
																  FROM @tblStudentDetails
														  )
														  BEGIN		--Begin2
																SELECT TOP 1 @SchoolwiseStudentId = SchoolwiseStudentId,
																			 @StudentChallanNo = ChallanNo
																	    FROM @tblStudentDetails	

																	DECLARE @FeeDetailsId INT = 1	
																																															
																			WHILE EXISTS(
																								SELECT TOP 1 1
																									  FROM @tblFeeDetails
																									 WHERE Id = @FeeDetailsId
																						)
																						BEGIN	--Begin3
																								SELECT TOP 1 @PayableFor = PayableFor,
																											 @FeeType = FeeType
																										FROM @tblFeeDetails
																									   WHERE Id = @FeeDetailsId
																									   
																											IF NOT EXISTS(
																															SELECT TOP 1 1
																																  FROM PaidFeeDetailsOfNextYear WITH(NOLOCK)
																																 WHERE StudentID = @SchoolwiseStudentId
																																   AND Fee_Type = @FeeType														
																																   AND AcademicYearID = @AcademicYearId
																																   AND Payable_For = @PayableFor
																																   AND Is_Deleted = 0
																														 )
																														 BEGIN	--Begin4																														 
																															--SET @ChallanNo = @ChallanNo + 1

																															INSERT INTO @tblStudentFeeDetails
																																 SELECT @SchoolwiseStudentId,
																																		FeeDetails.StdFeeTypeId,
																																		FeeDetails.FeeTypeId,
																																		FeeDetails.FeeType,
																																		FeeDetails.PayableFor,
																																		FeeDetails.Amount,
																																		FeeDetails.OriginalFeeTypeId,
																																		@StudentChallanNo
																																   FROM @tblFeeDetails FeeDetails																																   
																																  WHERE PayableFor = @PayableFor
																																	AND Id = @FeeDetailsId
																														 END	--End4
																										SET @FeeDetailsId = @FeeDetailsId + 1
																						END	--End3
																			
																DELETE FROM @tblStudentDetails
																	  WHERE SchoolwiseStudentId = @SchoolwiseStudentId
																	    AND ChallanNo = @StudentChallanNo

														  END	--End2
														
														-- Update 1st installment amount
														  IF @School_Id = 122 AND @AcademicYearId = 6 -- SNS School
															BEGIN
																IF(@Standard_Id IN (1094,1095,1096)) -- 5 and 7 Std
																	BEGIN							
																		UPDATE @tblStudentFeeDetails												    
																		   SET Amount = 15400
																		 WHERE PayableFor = 'Install - I'
																		   AND FeeType = 'School Fees'
																	END				
																ELSE IF(@Standard_Id IN(1097,1098,1099)) -- 8 to 10 Std
																	BEGIN				
																		UPDATE @tblStudentFeeDetails
																		   SET Amount = 17200
																		 WHERE PayableFor = 'Install - I'
																		   AND FeeType = 'School Fees'
																	END
															END
															ELSE IF @School_Id = 122 AND @AcademicYearId = 7 -- SNS School
															BEGIN
																IF(@Standard_Id IN (1113,1114,1115)) -- 5 and 7 Std
																	BEGIN							
																		UPDATE @tblStudentFeeDetails												    
																		   SET Amount = 15400
																		 WHERE PayableFor = 'Install - I'
																		   AND FeeType = 'School Fees'
																	END				
																ELSE IF(@Standard_Id IN(1116,1117,1118)) -- 8 to 10 Std
																	BEGIN				
																		UPDATE @tblStudentFeeDetails
																		   SET Amount = 17200
																		 WHERE PayableFor = 'Install - I'
																		   AND FeeType = 'School Fees'
																	END
															END
															ELSE IF @School_Id = 122 AND @AcademicYearId >= 8
															BEGIN
																	UPDATE tblFee
																	   SET Amount = SWFID.Amount
																	  FROM @tblStudentFeeDetails tblFee 
																INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
																		ON tblFee.StandardFeeTypeId = SWSFTM.SchoolWise_Standard_FeeType_Id
																INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
																		ON SWFTC.Fee_Type_Id = SWSFTM.Fee_Type_Id
																	   AND SWFTC.School_Id = SWSFTM.School_Id
																	   AND SWFTC.Academic_Year_Id = SWSFTM.academic_Year_Id
																INNER JOIN StandardwiseFeeInstallmentDetails SWFID
																		ON SWFID.OriginalFeeTypeId = SWFTC.Original_Fee_Type_Id
																	   AND SWFID.IntervalName = tblFee.PayableFor
																	   AND SWFID.SchoolId = SWFTC.School_Id
																	   AND SWFID.AcademicYearId = SWFTC.Academic_Year_Id
																	 WHERE SWSFTM.School_Id = @School_Id
																	   AND SWSFTM.academic_Year_Id = @AcademicYearId
																	   AND SWSFTM.Is_Deleted = 'N'
																	   AND SWFTC.Is_Deleted = 'N'
																	   AND SWFID.IsDeleted = 0
																	   AND SWFID.StandardId = @Standard_Id
															END

														    UPDATE CDFNY
												    		   SET IsDeleted = 1,
												    		       UpdateDate = dbo.GetLocalDate(DEFAULT),
																   UpdatedById = 2
												    		  FROM ChallanDetailsForNextYear CDFNY WITH(NOLOCK)
												    	INNER JOIN @tblStudentFeeDetails Fee
												    			ON CDFNY.SchoolwiseStudentId = Fee.StudentId
												    		   AND CDFNY.StandardFeeTypeID = Fee.StandardFeeTypeId
												    		   AND CDFNY.FeeType = Fee.FeeType
												    		   AND CDFNY.OriginalFeeTypeId = Fee.OriginalFeeTypeId
												    		   AND CDFNY.PayableFor = Fee.PayableFor
															   --AND ((CDFNY.StandardDivId = @SchoolWise_Standard_Division_Id) OR (@SchoolWise_Standard_Division_Id IS NULL))
															 WHERE IsDeleted = 0
																
															INSERT INTO [dbo].[ChallanDetailsForNextYear]
																	   ([SchoolwiseStudentId]
																	   ,[StandardFeeTypeID]
																	   ,[StandardDivId]
																	   ,[PayableFor]
																	   ,[FeeType]
								    								   ,[Amount]
																	   ,[ChallanNo]
																	   ,[OriginalFeeTypeId]
																	   ,[SchoolId]
																	   ,[AcademicYearId]
																	   ,[IsDeleted]
																	   ,[InsertDate]
																	   ,[InsertedById])
																 SELECT S1.StudentId,
																		StandardFeeTypeId,
																		--ISNULL(@SchoolWise_Standard_Division_Id,0),
																		S2.NewStdDivId,
																		PayableFor,
																		FeeType,
																		Amount,
																		ChallanNo,
																		OriginalFeeTypeId,
																		@School_Id,
																		@AcademicYearId,
																		0,
																		dbo.GetLocalDate(DEFAULT),
																		2
																   FROM @tblStudentFeeDetails S1
																   INNER JOIN @tblNewStdDivIds S2
																   ON S1.StudentId = S2.StudentId












																   
										END	--End1										
						END
									INSERT INTO @tblGetStudentFeeDetails
										 SELECT tblStdDiv.NewStdDivId,
												CDFNY.PayableFor,
												--vwBSD.StudentFLName,
												vwBSD.StudentName,
												vwBSD.Enrolment_Number,												
												tblNewClass.NewClassName AS className,
												AHM.BankName,
												AHM.BankAddress,
												BCD.SchoolCurrentAccountNumber,
												AHM.AccountHeaderName AS  PaidIntoCreditof,
												CDFNY.Amount,
												dbo.udf_ConvertNumberToText(CDFNY.Amount) AS AmountInText,
												--CDFNY.ChallanNo,
												tblStudent.ChallanNo,
												@DueDate,
												vwBSD.SchoolWise_Student_Id							
										   FROM dbo.BankChallanDetails BCD WITH(NOLOCK)
									 INNER JOIN	dbo.AccountHeaderMaster AHM WITH(NOLOCK)
										     ON	BCD.AccountHeaderId = AHM.AccountHeaderId 
									 INNER JOIN vw_standard_division vwSD
											 ON vwSD.SchoolWise_Standard_Division_Id = BCD.StandardDivisionId
									 INNER JOIN	dbo.Schoolwise_Fee_Type_Configuration SFTC WITH(NOLOCK)										     
											 ON BCD.OriginalFeeTypeId = SFTC.Original_Fee_Type_Id
											AND vwSD.academic_year_id = SFTC.Academic_Year_Id
											AND vwSD.School_Id = SFTC.School_Id
								     INNER JOIN	dbo.Schoolwise_Standard_FeeType_Master SSFTM WITH(NOLOCK)
											 ON SSFTM.Standard_Id = vwSD.Standard_Id
											AND SFTC.Fee_Type_Id = SSFTM.Fee_Type_Id
											AND SSFTM.academic_Year_Id = vwSD.academic_year_id
											AND SSFTM.School_Id = vwSD.School_Id								     
									 INNER JOIN ChallanDetailsForNextYear CDFNY
											 ON SFTC.Original_Fee_Type_Id = CDFNY.OriginalFeeTypeId
											AND CDFNY.SchoolId = vwSD.School_Id
											AND CDFNY.AcademicYearId = vwSD.academic_year_id
											AND CDFNY.StandardDivId = vwSD.SchoolWise_Standard_Division_Id																					
									 INNER JOIN vw_BaseStudentDetails vwBSD
											 ON CDFNY.SchoolwiseStudentId = vwBSD.SchoolWise_Student_Id
											AND CDFNY.SchoolId = vwBSD.School_Id			
									 INNER JOIN @tblNewStdDivIds tblStdDiv
											 ON vwBSD.SchoolWise_Student_Id = tblStdDiv.StudentId
											AND CDFNY.SchoolwiseStudentId = tblStdDiv.StudentId		
									 INNER JOIN @tblNewClassDetails tblNewClass
											 On tblNewClass.StudentId = tblStdDiv.StudentId
											AND vwBSD.SchoolWise_Student_Id = tblNewClass.StudentId		
									 INNER JOIN @tblStudentChallanDetails tblStudent
											 ON tblStudent.SchoolwiseStudentId = CDFNY.SchoolwiseStudentId
											AND tblStudent.SchoolwiseStudentId = vwBSD.SchoolWise_Student_Id
											AND tblStudent.SchoolwiseStudentId = tblNewClass.StudentId	
											AND tblStudent.SchoolwiseStudentId = tblStdDiv.StudentId		
											--AND CDFNY.ChallanNo = tblStudent.ChallanNo 										 						 																		 
										  WHERE BCD.IsDeleted = 0
											AND BCD.OriginalFeeTypeId = @Original_Fee_Type_Id
										    AND AHM.IsDeleted = 0	
										    AND SSFTM.School_Id = @School_Id											 
										    AND SSFTM.Is_Deleted = 'N'
										    AND SFTC.School_Id = @School_Id
										    AND SFTC.Is_Deleted = 'N'	
											--AND SSFTM.Standard_Id = @Standard_Id
										    AND CDFNY.IsDeleted = 0
										    AND CDFNY.SchoolId = @School_Id
										    AND CDFNY.AcademicYearId = @AcademicYearId																						
											AND (CDFNY.SchoolwiseStudentId = @Student_Id OR @Student_Id = 0)
											and AHM.IsForAdvanceFee = CASE WHEN @AcademicYearId <> @CurrentId and CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) <= @ExpectedTillDate and SFTC.Fee_Type NOT IN ('E - Campus Fees','Software Development Fees') AND @ShowAdvanceVoucher = 1 THEN 1 ELSE 0 END
											--and AHM.IsForAdvanceFee = CASE WHEN @AcademicYearId <> @CurrentId and @Academic_Year_Id = @SelAccYearId AND CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) <= @ExpectedTillDate and SFTC.Fee_Type NOT IN ('E - Campus Fees','Software Development Fees') AND @ShowAdvanceVoucher = 1 THEN 1 ELSE 0 END
		END
	ELSE
		BEGIN			
		IF(@Student_Id <> 0)
			BEGIN
				SELECT @Student_Id = YearWise_Student_Id
				  FROM YearWise_Student_Details
				 WHERE Academic_Year_ID = @Academic_Year_Id
				   AND Is_Deleted= 'N'
				   AND Student_Id = @Student_Id
			END

			SELECT @DueDate = SWSLFDDD.DueDate,
			       @LateFeeAmount = LFC.Amount
			  FROM SchoolWise_Standard_LateFee_DueDates_Details SWSLFDDD
		INNER JOIN SchoolWise_Standard_LateFee_DueDates_Master SWSLFDDM
				ON SWSLFDDD.SchoolWise_Standard_LateFee_DueDates_Id = SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id
		INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
				ON SWSLFDDM.SchoolWise_Standard_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			   AND SWSFTM.academic_Year_Id = SWSLFDDM.Academic_Year_Id
			   AND SWSLFDDM.School_Id = SWSFTM.School_Id
		LEFT OUTER JOIN LateFeeCases LFC
				ON SWSLFDDM.SchoolWise_Standard_LateFee_DueDates_Id = LFC.LateFeeId
				 AND LFC.IsDeleted = 0
			 WHERE SWSLFDDM.School_Id = @School_Id
			   AND SWSLFDDM.Academic_Year_Id = @Academic_Year_Id
			   AND SWSLFDDM.Is_Deleted = 'N'
			   AND SWSFTM.Standard_Id = @Standard_Id
			   AND SWSLFDDD.IntervalName = @Payable_For	
	
			   IF(@DueDate < dbo.GetLocalDate(DEFAULT))
			       BEGIN
						DECLARE @DateDifference INT

						SELECT @DateDifference = DATEDIFF(DAY, @DueDate, dbo.GetLocalDate(DEFAULT))
						IF (@LateFeeAmount = 1)
							SET @AmountIncludingLateFee = @LateFeeAmount * @DateDifference							
				   END

			INSERT INTO @tblStudentFeeIds
				   SELECT   SSFD.Schoolwise_Student_Fee_Id,
				            SSFD.ChallanNo
					 FROM   dbo.BankChallanDetails BCD WITH(NOLOCK)
			   INNER JOIN	dbo.AccountHeaderMaster AHM WITH(NOLOCK)
					   ON	BCD.AccountHeaderId = AHM.AccountHeaderId 
			   INNER JOIN	dbo.Schoolwise_Standard_FeeType_Master SSFM WITH(NOLOCK)
			   INNER JOIN	dbo.Schoolwise_Fee_Type_Configuration SFTC WITH(NOLOCK)
					   ON	SSFM.Fee_Type_Id = SFTC.Fee_Type_Id 
			   INNER JOIN	dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
					   ON   SSFM.SchoolWise_Standard_FeeType_Id = SSFD.Std_FeeType_Id 
			  INNER JOIN	dbo.YearWise_Student_Details YSD WITH(NOLOCK)
					  ON	SSFD.Student_Id = YSD.YearWise_Student_Id
			  INNER JOIN	dbo.vw_BaseStudentDetails BSD WITH(NOLOCK)
					  ON	BSD.SchoolWise_Student_Id = YSD.Student_Id 
			   INNER JOIN	dbo.vw_standard_division SD WITH(NOLOCK)
					   ON	YSD.Standard_Id = SD.Standard_Id 
					  AND	YSD.Division_id = SD.Division_Id 
					   ON	BCD.OriginalFeeTypeId = SFTC.Original_Fee_Type_Id
					  AND	BCD.StandardDivisionId = SD.Schoolwise_Standard_division_Id
					WHERE	(SSFD.[Debit/Credit] = N'Debit') 
					  AND	(SSFD.Is_Deleted = 'N') 
					  AND	(YSD.Is_Deleted = 'N') 
					  AND	(SFTC.Is_Deleted = 'N')
					  AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
					  AND	((SD.Standard_Id = @Standard_Id)
					   OR	(@Standard_Id IS NULL)) 
					  AND	((SD.Schoolwise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) 
					   OR	(@SchoolWise_Standard_Division_Id IS NULL))
					  AND	((SFTC.Fee_Type_Id = @Original_Fee_Type_Id)
					   OR	(@Original_Fee_Type_Id IS NULL))
					  AND   ((YSD.YearWise_Student_Id = @Student_Id)
					   OR	(@Student_Id = 0))
					  AND	(SSFD.School_Id = @School_Id) 
					  AND	(SSFD.Academic_Year_Id = @AcademicYearId)
					  AND   RefundFeeDetailsID IS NULL
					  AND   SSFD.Schoolwise_Student_Fee_Id NOT IN
					  (
							SELECT Student_Fee_Id
							FROM Schoolwise_Student_Fee_Details SSFD
							INNER JOIN YearWise_Student_Details YSD
							ON SSFD.Student_Id = YSD.YearWise_Student_Id
							AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID
							INNER JOIN	dbo.vw_standard_division SD WITH(NOLOCK)
							ON	YSD.Standard_Id = SD.Standard_Id 
							AND	YSD.Division_id = SD.Division_Id 
							WHERE SSFD.School_Id = @School_Id
							AND SSFD.academic_year_id = @AcademicYearId
							AND SSFD.Is_Deleted = 'N'
							AND [Debit/Credit] = 'Credit'
							and Is_Cheque_Bounce = 'N'
							AND Student_Fee_Id IS NOT NULL
							AND   ((SSFD.Student_Id = @Student_Id) OR (@Student_Id = 0))
							AND	((YSD.Standard_Id = @Standard_Id) OR	(@Standard_Id IS NULL)) 
							 AND	((SD.Schoolwise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) OR	(@SchoolWise_Standard_Division_Id IS NULL))
							 AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
					  )
				 ORDER BY	
							SD.Schoolwise_Standard_Division_Id,
							BSD.First_Name,
							BSD.Middle_Name,
							BSD.Last_Name,
							SSFD.Schoolwise_Student_Fee_Id

			--SELECT * FROM @tblStudentFeeIds

				INSERT INTO @tblStudentFeeIds
				     SELECT SSFD.Schoolwise_Student_Fee_Id,
					        SSFD.ChallanNo
					   FROM Schoolwise_Student_Fee_Details SSFD
				INNER JOIN vw_standard_division VSD
				ON SSFD.Standard_Div_Id = VSD.SchoolWise_Standard_Division_Id
				WHERE SSFD.School_Id = @School_Id
				AND SSFD.Academic_Year_Id = @AcademicYearId
				AND Is_Deleted = 'N'
				AND (Std_FeeType_Id IS NULL OR Std_FeeType_Id = 0)
				AND (VSD.Standard_Id = @Standard_Id OR @Standard_Id IS NULL)
				AND (SSFD.Standard_Div_Id = @SchoolWise_Standard_Division_Id OR @SchoolWise_Standard_Division_Id IS NULL)
				AND (SSFD.Student_Id = @Student_Id OR @Student_Id = 0)
				AND (SSFD.Serial_Number = @Original_Fee_Type_Id OR @Original_Fee_Type_Id IS NULL)
				AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
				ORDER BY SSFD.Schoolwise_Student_Fee_Id	
--SELECT * FROM @tblStudentFeeIds	
				DECLARE @SchooliwiseStudentFeeId INT
				DECLARE @PrintedChallanId INT

				select @ChallanNo = max(ChallanNo) 
				  from PrintedChallanDetails
	
				if @ChallanNo is null
				set @ChallanNo = 0								
							
			--IF EXISTS(
			--			SELECT TOP 1 1
			--			  FROM ChallanDetailsForNextYear WITH(NOLOCK)
			--			 WHERE AcademicYearId = @AcademicYearId
			--			   AND IsDeleted = 0
			--			   AND SchoolId = @School_Id
			--		 )										 
			--		BEGIN
			--			SELECT @ChallanNo1 = max(ChallanNo) 
			--			  from ChallanDetailsForNextYear
			--			 WHERE IsDeleted = 0
			--		END

			--	IF(@ChallanNo < @ChallanNo1)
			--		SET @ChallanNo = @ChallanNo1

				UPDATE PBCD
				SET IsDeleted = 1
				from @tblStudentFeeIds TSFI
				INNER JOIN PrintedChallanDetails PBCD
				ON TSFI.SchoolwiseStudentFeeId = PBCD.SchoolwiseStudentFeeId
				WHERE PBCD.SchoolId = @School_Id
				AND PBCD.AcademicYearId = @AcademicYearId
				AND PBCD.IsDeleted = 0

				INSERT INTO [dbo].[PrintedChallanDetails]
						   ([SchoolwiseStudentFeeId]
						   ,[SchoolId]
						   ,[AcademicYearId]
						   ,[IsDeleted]
						   ,[UpdatedById]
						   ,[UpdateDate]
						   ,[InsertedById]
						   ,[InsertDate]
						   ,[ChallanNo])
					 SELECT
						   SchoolwiseStudentFeeId
						   ,@School_Id
						   ,@AcademicYearId
						   ,0
						   ,NULL
						   ,NULL
						   ,NULL
						   ,NULL
						   ,ChallanNo
					   FROM @tblStudentFeeIds

				--UPDATE SSFD
				--   SET [ChallanNo] = PBD.ChallanNo
				--FROM Schoolwise_Student_Fee_Details SSFD
				--INNER JOIN PrintedChallanDetails PBD
				--ON SSFD.Schoolwise_Student_Fee_Id = PBD.SchoolwiseStudentFeeId
				--AND SSFD.Academic_Year_Id = PBD.AcademicYearId
				--INNER JOIN @tblStudentFeeIds SFID
				--ON SSFD.Schoolwise_Student_Fee_Id = SFID.SchoolwiseStudentFeeId
				--WHERE SSFD.School_Id = @School_Id
				--AND PBD.IsDeleted = 0
				--AND SSFD.Is_Deleted = 'N'

				INSERT INTO @tblGetStudentFeeDetails
					SELECT	 SD.SchoolWise_Standard_Division_Id,
							SSFD.Payable_For, 
							--BSD.StudentFLName, 
							BSD.StudentName,
							BSD.Enrolment_Number, 
							SD.className, 
							AHM.BankName, 
							AHM.BankAddress, 
							BCD.SchoolCurrentAccountNumber, 
							AHM.AccountHeaderName AS PaidIntoCreditOf, 
							(SSFD.Amount + case when @IncludeLateFee = '1' then dbo.UDF_GetLateFeeAmt(SSFD.Std_FeeType_Id, SSFD.Paid_Date, dbo.GetLocalDate(DEFAULT)) else 0 end)  AS Amount, 
							dbo.udf_ConvertNumberToText((SSFD.Amount + dbo.UDF_GetLateFeeAmt(SSFD.Std_FeeType_Id, SSFD.Paid_Date, dbo.GetLocalDate(DEFAULT)))) AS AmountInText,
							SSFD.ChallanNo,
							--@DueDate,
							CASE WHEN YSD.Is_New_Student = 1 and ysd.Academic_Year_ID = @SelAccYearId AND CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) <= @ExpectedTillDate THEN DATEADD(DAY,-1,DBO.GetLocalDate(DEFAULT)) ELSE @DueDate END,
							BSD.SchoolWise_Student_Id 
					 FROM   dbo.BankChallanDetails BCD WITH(NOLOCK)
			   INNER JOIN	dbo.AccountHeaderMaster AHM WITH(NOLOCK)
					   ON	BCD.AccountHeaderId = AHM.AccountHeaderId 
			   INNER JOIN	dbo.Schoolwise_Standard_FeeType_Master SSFM WITH(NOLOCK)
			   INNER JOIN	dbo.Schoolwise_Fee_Type_Configuration SFTC WITH(NOLOCK)
					   ON	SSFM.Fee_Type_Id = SFTC.Fee_Type_Id 
			   INNER JOIN	dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
					   ON   SSFM.SchoolWise_Standard_FeeType_Id = SSFD.Std_FeeType_Id    
			   INNER JOIN	dbo.YearWise_Student_Details YSD WITH(NOLOCK)
					   ON	SSFD.Student_Id = YSD.YearWise_Student_Id
			   INNER JOIN	dbo.vw_BaseStudentDetails BSD WITH(NOLOCK)
					   ON	YSD.Student_Id = BSD.SchoolWise_Student_Id 
			   INNER JOIN	dbo.vw_standard_division SD WITH(NOLOCK)
					   ON	YSD.Standard_Id = SD.Standard_Id 
					  AND	YSD.Division_id = SD.Division_Id 
					   ON	BCD.OriginalFeeTypeId = SFTC.Original_Fee_Type_Id
					  AND	BCD.StandardDivisionId = SD.Schoolwise_Standard_division_Id
					WHERE	(SSFD.[Debit/Credit] = N'Debit') 
					  AND	(SSFD.Is_Deleted = 'N') 
					  AND	(YSD.Is_Deleted = 'N') 
					  AND	(SFTC.Is_Deleted = 'N')
					  AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
					  AND	((SD.Standard_Id = @Standard_Id)
					   OR	(@Standard_Id IS NULL)) 
					  AND    SSFD.Is_Cheque_Bounce = 'N'
					  AND	((SD.Schoolwise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) 
					   OR	(@SchoolWise_Standard_Division_Id IS NULL))
					  AND	((SFTC.Fee_Type_Id = @Original_Fee_Type_Id)
					   OR	(@Original_Fee_Type_Id IS NULL))
					  AND   ((YSD.YearWise_Student_Id = @Student_Id)
					   OR	(@Student_Id = 0))
					  AND	(SSFD.School_Id = @School_Id) 
					  AND	(SSFD.Academic_Year_Id = @AcademicYearId)
					  AND    RefundFeeDetailsID IS NULL					  					  
					  AND    AHM.IsForAdvanceFee = CASE WHEN YSD.Is_New_Student = 1 and ysd.Academic_Year_ID = @SelAccYearId AND CONVERT(DATE, DBO.GetLocalDate(DEFAULT)) <= @ExpectedTillDate and SFTC.Fee_Type NOT IN ('E - Campus Fees','Software Development Fees') AND @ShowAdvanceVoucher = 1 THEN 1 ELSE 0 END
					  AND   SSFD.Schoolwise_Student_Fee_Id NOT IN
					  (
							SELECT Student_Fee_Id
							FROM Schoolwise_Student_Fee_Details SSFD
							INNER JOIN YearWise_Student_Details YSD
							ON SSFD.Student_Id = YSD.YearWise_Student_Id
							AND SSFD.Academic_Year_Id = YSD.Academic_Year_ID
							INNER JOIN	dbo.vw_standard_division SD WITH(NOLOCK)
							ON	YSD.Standard_Id = SD.Standard_Id 
							AND	YSD.Division_id = SD.Division_Id 
							WHERE SSFD.School_Id = @School_Id
							AND SSFD.academic_year_id = @AcademicYearId
							AND SSFD.Is_Deleted = 'N'
							AND [Debit/Credit] = 'Credit'
							and Is_Cheque_Bounce = 'N'
							AND Student_Fee_Id IS NOT NULL
							AND   ((SSFD.Student_Id = @Student_Id)OR	(@Student_Id  = 0))				
							AND	((YSD.Standard_Id = @Standard_Id) OR	(@Standard_Id IS NULL)) 
							 AND	((SD.Schoolwise_Standard_Division_Id = @SchoolWise_Standard_Division_Id) OR	(@SchoolWise_Standard_Division_Id IS NULL))
							 AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
					  )
				 ORDER BY	
							SD.Schoolwise_Standard_Division_Id,
							BSD.First_Name,
							BSD.Middle_Name,
							BSD.Last_Name,
							SSFD.Payable_For
--select 'ttt'
					INSERT INTO @tblGetStudentFeeDetails
					SELECT	VSD.SchoolWise_Standard_Division_Id,
							SSFD.Payable_For, 
							--BSD.StudentFLName, 
							BSD.StudentName,
							BSD.Enrolment_Number, 
							VSD.className, 
							AHM.BankName, 
							AHM.BankAddress, 
							BCD.SchoolCurrentAccountNumber, 
							AHM.AccountHeaderName AS PaidIntoCreditOf, 
							(SSFD.Amount + case when @IncludeLateFee = '1' then dbo.UDF_GetLateFeeAmt(SSFD.Std_FeeType_Id, SSFD.Paid_Date, dbo.GetLocalDate(DEFAULT)) else 0 end) AS Amount, 
							dbo.udf_ConvertNumberToText((SSFD.Amount + dbo.UDF_GetLateFeeAmt(SSFD.Std_FeeType_Id, SSFD.Paid_Date, dbo.GetLocalDate(DEFAULT)))) AS AmountInText,
							SSFD.ChallanNo,
							@DueDate,
							SchoolWise_Student_Id 
					FROM Schoolwise_Student_Fee_Details SSFD
					INNER JOIN vw_standard_division VSD
					ON SSFD.Standard_Div_Id = VSD.SchoolWise_Standard_Division_Id
					INNER JOIN YearWise_Student_Details YSD
					ON SSFD.Student_Id = YSD.YearWise_Student_Id
					INNER JOIN vw_BaseStudentDetails BSD
					ON BSD.SchoolWise_Student_Id = YSD.Student_Id	
					INNER JOIN AccountHeaderMaster AHM
					ON AHM.AccountHeaderId = ssfd.AccountHeaderId
					INNER JOIN BankChallanDetails BCD
					ON AHM.AccountHeaderId = BCD.AccountHeaderId
					AND bcd.StandardDivisionId = SSFD.Standard_Div_Id
					WHERE SSFD.School_Id = @School_Id
					AND SSFD.Academic_Year_Id = @AcademicYearId
					AND SSFD.Is_Deleted = 'N'
					AND SSFD.Is_Cheque_Bounce = 'N'
					AND ((SSFD.Standard_Div_Id = @SchoolWise_Standard_Division_Id) OR (@SchoolWise_Standard_Division_Id IS NULL))
					AND (SSFD.Student_Id = @Student_Id OR @Student_Id  = 0)
					AND (SSFD.Std_FeeType_Id IS NULL OR SSFD.Std_FeeType_Id = 0)
					AND (SSFD.Serial_Number = @Original_Fee_Type_Id OR @Original_Fee_Type_Id IS NULL)
					AND (VSD.Standard_Id = @Standard_Id OR @Standard_Id IS NULL)
					AND YSD.Is_Deleted = 'N'
					and AHM.IsDeleted = 0
					AND BCD.IsDeleted = 0
					AND	(@IncludeLateFee='1' OR (@IncludeLateFee = '0' and ssfd.Is_Late_Fee = 'N'))
					

		END		

		IF @CurrentId <> @Academic_Year_Id
		BEGIN
				UPDATE S1
				SET Amount = S2.Amount
				from @tblGetStudentFeeDetails S1
				INNER JOIN @tblTransportFeeDetails S2
				ON S1.StudentId = S2.SchoolwiseStudentId
		END

				 SELECT  CASE  WHEN @AmountIncludingLateFee = 0 THEN Payable_For  ELSE  Payable_For + ', Late Fee' END AS Payable_For,
							StudentFLName,
							Enrolment_Number,
							CASE WHEN @IsPlayGroup = 1 THEN 'Nursery-A' ELSE className END AS className,
							BankName,
							BankAddress,
							SchoolCurrentAccountNumber,
							PaidIntoCreditOf,
							Amount,
							AmountInText,
							FORMAT(ChallanNo,'0000') AS ChallanNo,
							DueDate,
							dbo.GetLocalDate(DEFAULT) AS CurrentDate,
							@SpecialNote AS SpecialNote
					   FROM	@tblGetStudentFeeDetails 
					  WHERE (Payable_For = @Payable_For)	
  --raiserror('Test Error',16,1)

  COMMIT TRANSACTION
  END TRY
  BEGIN CATCH
	PRINT ERROR_MESSAGE()
	ROLLBACK TRANSACTION
  END CATCH
END
