/****** Object:  StoredProcedure [dbo].[usp_GetStudentObservationDetailsForReport_PPSH]    Script Date: 20-03-2026 12:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 06 Jan 2020
-- Description:	This USP is used to get students observation details for report for PPSH school.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStudentObservationDetailsForReport_PPSH]
	@School_Id INT,  
	@Academic_Year_Id INT,  
	@StudentId INT = NULL,  
	@Standard_Id INT,  
	@Division_Id INT,
	@Term_Id INT,
	@IsFromStudentLogin BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @ISEval2Publish char ,
            @IsEval3Publish char,
			@Show3rdEvalForAdmin CHAR = 'N'

			select @ISEval2Publish =  SSTM.Is_Published
			 from SchoolWise_StanderedDivision_Test_Master SSTM
			 inner join SchoolWise_Test_Master STM
			 on SSTM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
			 inner join vw_standard_division VSD
			 on VSD.SchoolWise_Standard_Division_Id = SSTM.Standerd_division_Id
			 where STM.School_Id = @School_Id
			 and STM.SchoolWise_Test_Name = 'Evaluation 2'
			 and STM.Is_Deleted = 'N'
			 and SSTM.Is_Deleted = 'N'
			 and STM.academic_year_id = @Academic_Year_Id
			 and SSTM.Academic_Year_ID = @Academic_Year_Id
			 and VSD.Standard_Id = @Standard_Id
			 and VSD.SchoolWise_Standard_Division_Id = @Division_Id

			 select @IsEval3Publish =  SSTM.Is_Published
			 from SchoolWise_StanderedDivision_Test_Master SSTM
			 inner join SchoolWise_Test_Master STM
			 on SSTM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
			 inner join vw_standard_division VSD
			 on VSD.SchoolWise_Standard_Division_Id = SSTM.Standerd_division_Id
			 where STM.School_Id = @School_Id
			 and STM.SchoolWise_Test_Name = 'Evaluation 3'
			 and STM.Is_Deleted = 'N'
			 and SSTM.Is_Deleted = 'N'
			 and STM.academic_year_id = @Academic_Year_Id
			 and SSTM.Academic_Year_ID = @Academic_Year_Id
			 and VSD.Standard_Id = @Standard_Id
			 and VSD.SchoolWise_Standard_Division_Id = @Division_Id

			 SET @Show3rdEvalForAdmin = @IsEval3Publish

		
			 IF NOT EXISTS
			 (
				 select top 1 1
				 from SchoolWise_AnnualResult_Publish
				 where School_Id = @School_Id
				 and Academic_Year_Id = @Academic_Year_Id
				 and Standard_Division_Id = @Division_Id
				 and Is_Deleted = 'N'
				 and Is_Published = 'Y'
			 )
			 AND @IsFromStudentLogin = 1
			 BEGIN
				SET @IsEval3Publish = 'N'
			 END


	IF @StudentId IS NULL
		SET @StudentId = 0

DECLARE @AcademicYear NVARCHAR(15),
        @OriginalStandardId INT

 SELECT @OriginalStandardId = Original_Standard_Id
   FROM Standard_Master
  WHERE Standard_Id = @Standard_Id
	AND School_Id = @School_Id
	AND academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
 
 SELECT @AcademicYear=CAST(datepart(year,Start_date) AS VARCHAR) + '-' + CAST(datepart(year,Start_date) + 1 AS VARCHAR)   
   FROM SchoolWise_Academic_Year_Master  
  WHERE Is_Deleted = 'N'   
    AND School_Id = @School_Id  
    AND Academic_Year_ID = @Academic_Year_Id 

CREATE TABLE #StudentDetails   
 (  
	  StudentId INT,  
	  Roll_Num INT,  
	  StudentName NVARCHAR(100),
	  StudentAddress NVARCHAR(500),
	  PhoneNo NVARCHAR(20),
	  ClassName NVARCHAR(100),  
	  StandardNAme NVARCHAR(20),
	  DivisionName NVARCHAR(50),
	  DOB  datetime,   
	  Enrolment_Number NVARCHAR(50),
	  OriginalStandardId INT,
	  OriginalDivisionId INT,
	  SchoolId INT,
	  StudentPhoto IMAGE
 )  
 
INSERT INTO #StudentDetails  
     SELECT YWSD.YearWise_Student_Id,  
			YWSD.Roll_No,   
			vwBSD.StudentName,
            vwBSD.Address,
		    SWSM.Residence_Phone_Number,
		    dbo.udf_ConvertIntToRoman(vwSD.Standard_Name) + ' - ' + CASE WHEN SWSDM.DisplayNameForDivision IS NULL OR SWSDM.DisplayNameForDivision = '' THEN vwSD.division_name ELSE SWSDM.DisplayNameForDivision END AS className,    
			vwSD.Standard_Name, 
			CASE WHEN SWSDM.DisplayNameForDivision IS NULL OR SWSDM.DisplayNameForDivision = '' THEN vwSD.division_name ELSE SWSDM.DisplayNameForDivision END,       
            CONVERT(SMALLDATETIME,vwBSD.DOB),    
            SWSM.Enrolment_Number,
			vwSD.Original_Standard_Id,
			vwSD.Original_Division_Id,
			vwSD.School_Id,
		    SWSM.Photo_file_Path_Image
       FROM YearWise_Student_Details YWSD WITH(NOLOCK)			
 INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		 ON vwSD.Standard_Id=YWSD.Standard_Id  
        AND vwSD.Division_Id=YWSD.Division_id  
        AND vwSD.SchoolWise_Standard_Division_Id=@Division_Id  
        AND vwSD.academic_year_id = @Academic_Year_Id  
        AND vwSD.School_Id = @School_Id  
 INNER JOIN SchoolWise_Student_Master SWSM WITH(NOLOCK)
		 ON SWSM.SchoolWise_Student_Id=YWSD.Student_Id   
	    AND SWSM.School_Id = @School_Id  
        AND SWSM.Is_Deleted='N'  
 INNER JOIN vw_BaseStudentDetails vwBSD WITH(NOLOCK)   
		 ON vwBSD.SchoolWise_Student_Id = SWSM.SchoolWise_Student_Id  
        AND vwBSD.School_Id = @School_Id  
 INNER JOIN dbo.Salutation_Master WITH(NOLOCK)  
	     ON SWSM.Salutation_Id = dbo.Salutation_Master.Salutation_Id  
 INNER JOIN SchoolWise_Standard_Division_Master SWSDM
		 ON SWSDM.Standard_Id = vwSD.Standard_Id
		AND SWSDM.Division_Id = vwSD.Division_Id
		AND SWSDM.School_Id = vwSD.School_Id
		AND SWSDM.academic_year_id = vwSD.academic_year_id
      WHERE vwSD.Standard_Id = @Standard_Id
	    AND vwSD.School_Id = @School_Id
	    AND (vwSD.SchoolWise_Standard_Division_Id = @Division_Id OR @Division_Id = 0)  
		AND YWSD.Is_Deleted = 'N'
		AND (YWSD.YearWise_Student_Id = @StudentId OR @StudentId = 0)
		AND SWSDM.Is_Deleted = 'N'

DECLARE @tblStudentObservationDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	SkillId INT,
	SkillName NVARCHAR(100),
	ParameterId INT,
	ParameterName NVARCHAR(200),
	SubjectId INT,
	SubjectName NVARCHAR(100),
	Evalution1 NVARCHAR(20),
	Evalution2 NVARCHAR(20),
	Evalution3 NVARCHAR(20)
)

INSERT INTO @tblStudentObservationDetails
	   (
			StudentId,
			SkillId,
			SkillName,
			ParameterId,
			ParameterName,
			SubjectId,
			SubjectName,
			Evalution1	
	   )
     SELECT SOD.StudentId,	        
			OS.Id,
			OS.Name,
			OP.Id,
			OP.Parameter,
			SM.Subject_Id,
			SM.Subject_Name,
			OG.Name
	   FROM StudentObservationDetails SOD WITH(NOLOCK)	     
 INNER JOIN ObservationParameters OP WITH(NOLOCK)
	     ON SOD.ParameterId = OP.Id
		AND SOD.SchoolId = OP.SchoolId
		AND SOD.AcademicYearId = OP.AcademicYearId
 INNER JOIN ObservationSkills OS WITH(NOLOCK)
		 ON OP.SkillId = OS.Id
		AND OP.SchoolId = OS.SchoolId
		AND OP.AcademicYearId = OS.AcademicYearId
 INNER JOIN ObservationGrades OG WITH(NOLOCK)
		 ON OG.Id = SOD.GradeId
		AND OG.SchoolId = SOD.SchoolId
		AND OG.AcademicYearId = SOD.AcademicYearId
 INNER JOIN Subject_Master SM WITH(NOLOCK)
	     ON SM.Subject_Id = OS.SubjectId
		AND SM.School_Id = OS.SchoolId
		AND SM.academic_Year_Id = OS.AcademicYearId 
 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
		 ON SWTM.SchoolWise_Test_Id = SOD.TestId
		AND SOD.SchoolId = SWTM.School_Id
		AND SOD.AcademicYearId = SWTM.academic_year_id
	  WHERE SOD.SchoolId = @School_Id
		AND SOD.AcademicYearId = @Academic_Year_Id
		AND OS.StandardId = @Standard_Id
		AND SOD.IsDeleted = 0
		AND OP.IsDeleted = 0
		AND OS.IsDeleted = 0
		AND OG.IsDeleted = 0
		AND SM.Is_Deleted = 'N'		
		AND SWTM.Is_Deleted = 'N'
		AND SWTM.Original_SchoolWise_Test_Id = 1 -- Evaluation 1
		AND SWTM.SchoolWise_Test_Name LIKE '%Evaluation%'
		AND (SOD.StudentId = @StudentId OR @StudentId = 0)

IF @ISEval2Publish = 'Y'
BEGIN

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM @tblStudentObservationDetails
	)
	BEGIN
			 UPDATE tblStudent
				SET Evalution2 = OG.Name
			   FROM @tblStudentObservationDetails tblStudent
		 INNER JOIN StudentObservationDetails SOD WITH(NOLOCK)
				 ON tblStudent.StudentId = SOD.StudentId 
				AND tblStudent.ParameterId = SOD.ParameterId
		 INNER JOIN ObservationGrades OG WITH(NOLOCK)
				 ON OG.Id = SOD.GradeId
				AND OG.SchoolId = SOD.SchoolId
				AND OG.AcademicYearId = SOD.AcademicYearId 
		 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
				 ON SWTM.SchoolWise_Test_Id = SOD.TestId
				AND SOD.SchoolId = SWTM.School_Id
				AND SOD.AcademicYearId = SWTM.academic_year_id
			  WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id		
				AND SOD.IsDeleted = 0
				AND OG.IsDeleted = 0	
				AND SWTM.Is_Deleted = 'N'
				AND SWTM.Original_SchoolWise_Test_Id = 8 -- Evaluation 2
				AND SWTM.SchoolWise_Test_Name LIKE '%Evaluation%'
				AND @Term_Id = 2
	END
	ELSE
	BEGIN
	
			INSERT INTO @tblStudentObservationDetails
		   (
				StudentId,
				SkillId,
				SkillName,
				ParameterId,
				ParameterName,
				SubjectId,
				SubjectName,
				Evalution2	
		   )
		 SELECT SOD.StudentId,	        
				OS.Id,
				OS.Name,
				OP.Id,
				OP.Parameter,
				SM.Subject_Id,
				SM.Subject_Name,
				OG.Name
		   FROM StudentObservationDetails SOD WITH(NOLOCK)	     
	 INNER JOIN ObservationParameters OP WITH(NOLOCK)
			 ON SOD.ParameterId = OP.Id
			AND SOD.SchoolId = OP.SchoolId
			AND SOD.AcademicYearId = OP.AcademicYearId
	 INNER JOIN ObservationSkills OS WITH(NOLOCK)
			 ON OP.SkillId = OS.Id
			AND OP.SchoolId = OS.SchoolId
			AND OP.AcademicYearId = OS.AcademicYearId
	 INNER JOIN ObservationGrades OG WITH(NOLOCK)
			 ON OG.Id = SOD.GradeId
			AND OG.SchoolId = SOD.SchoolId
			AND OG.AcademicYearId = SOD.AcademicYearId
	 INNER JOIN Subject_Master SM WITH(NOLOCK)
			 ON SM.Subject_Id = OS.SubjectId
			AND SM.School_Id = OS.SchoolId
			AND SM.academic_Year_Id = OS.AcademicYearId 
	 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
			 ON SWTM.SchoolWise_Test_Id = SOD.TestId
			AND SOD.SchoolId = SWTM.School_Id
			AND SOD.AcademicYearId = SWTM.academic_year_id
		  WHERE SOD.SchoolId = @School_Id
			AND SOD.AcademicYearId = @Academic_Year_Id
			AND OS.StandardId = @Standard_Id
			AND SOD.IsDeleted = 0
			AND OP.IsDeleted = 0
			AND OS.IsDeleted = 0
			AND OG.IsDeleted = 0
			AND SM.Is_Deleted = 'N'		
			AND SWTM.Is_Deleted = 'N'
			AND SWTM.Original_SchoolWise_Test_Id = 8 -- Evaluation 2
			AND SWTM.SchoolWise_Test_Name LIKE '%Evaluation%'
			AND (SOD.StudentId = @StudentId OR @StudentId = 0)
			AND @Term_Id = 2
	END
END

	 IF @IsEval3Publish = 'Y'
	 BEGIN
			IF EXISTS
			(
				SELECT TOP 1 1
				FROM @tblStudentObservationDetails
			)
			BEGIN
				 UPDATE tblStudent
					SET Evalution3 = OG.Name
				   FROM @tblStudentObservationDetails tblStudent
			 INNER JOIN StudentObservationDetails SOD WITH(NOLOCK)
					 ON tblStudent.StudentId = SOD.StudentId 
					AND tblStudent.ParameterId = SOD.ParameterId
			 INNER JOIN ObservationGrades OG WITH(NOLOCK)
					 ON OG.Id = SOD.GradeId
					AND OG.SchoolId = SOD.SchoolId
					AND OG.AcademicYearId = SOD.AcademicYearId 
			 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
					 ON SWTM.SchoolWise_Test_Id = SOD.TestId
					AND SOD.SchoolId = SWTM.School_Id
					AND SOD.AcademicYearId = SWTM.academic_year_id
				  WHERE SOD.SchoolId = @School_Id
					AND SOD.AcademicYearId = @Academic_Year_Id		
					AND SOD.IsDeleted = 0
					AND OG.IsDeleted = 0	
					AND SWTM.Is_Deleted = 'N'
					AND SWTM.Original_SchoolWise_Test_Id = 264 -- Evaluation 3
					AND SWTM.SchoolWise_Test_Name LIKE '%Evaluation%'
					AND @Term_Id = 2
			END
			ELSE
			BEGIN
					INSERT INTO @tblStudentObservationDetails
			   (
					StudentId,
					SkillId,
					SkillName,
					ParameterId,
					ParameterName,
					SubjectId,
					SubjectName,
					Evalution3
			   )
			 SELECT SOD.StudentId,	        
					OS.Id,
					OS.Name,
					OP.Id,
					OP.Parameter,
					SM.Subject_Id,
					SM.Subject_Name,
					OG.Name
			   FROM StudentObservationDetails SOD WITH(NOLOCK)	     
		 INNER JOIN ObservationParameters OP WITH(NOLOCK)
				 ON SOD.ParameterId = OP.Id
				AND SOD.SchoolId = OP.SchoolId
				AND SOD.AcademicYearId = OP.AcademicYearId
		 INNER JOIN ObservationSkills OS WITH(NOLOCK)
				 ON OP.SkillId = OS.Id
				AND OP.SchoolId = OS.SchoolId
				AND OP.AcademicYearId = OS.AcademicYearId
		 INNER JOIN ObservationGrades OG WITH(NOLOCK)
				 ON OG.Id = SOD.GradeId
				AND OG.SchoolId = SOD.SchoolId
				AND OG.AcademicYearId = SOD.AcademicYearId
		 INNER JOIN Subject_Master SM WITH(NOLOCK)
				 ON SM.Subject_Id = OS.SubjectId
				AND SM.School_Id = OS.SchoolId
				AND SM.academic_Year_Id = OS.AcademicYearId 
		 INNER JOIN SchoolWise_Test_Master SWTM WITH(NOLOCK)
				 ON SWTM.SchoolWise_Test_Id = SOD.TestId
				AND SOD.SchoolId = SWTM.School_Id
				AND SOD.AcademicYearId = SWTM.academic_year_id
			  WHERE SOD.SchoolId = @School_Id
				AND SOD.AcademicYearId = @Academic_Year_Id
				AND OS.StandardId = @Standard_Id
				AND SOD.IsDeleted = 0
				AND OP.IsDeleted = 0
				AND OS.IsDeleted = 0
				AND OG.IsDeleted = 0
				AND SM.Is_Deleted = 'N'		
				AND SWTM.Is_Deleted = 'N'
				AND SWTM.Original_SchoolWise_Test_Id = 264 -- Evaluation 3
				AND SWTM.SchoolWise_Test_Name LIKE '%Evaluation%'
				AND (SOD.StudentId = @StudentId OR @StudentId = 0)
				AND @Term_Id = 2
			END
		END

DECLARE @tblStudentAttendanceDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	Evalu1TotalDays INT,
	Evalu1PresentDays INT,
	Evalu2TotalDays INT,
	Evalu2PresentDays INT	
)

DECLARE @tblStudentHeightWeightDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	Term1Height DECIMAL(6,1),
	Term2Height DECIMAL(6,1),
	Term1Weight DECIMAL(6,1),
	Term2Weight DECIMAL(6,1)
)

INSERT INTO @tblStudentHeightWeightDetails
			(
				StudentId,
				Term1Height,
				Term1Weight
			)
     SELECT tblStudents.StudentId,
	        0,
			0
	   FROM #StudentDetails tblStudents
   GROUP BY tblStudents.StudentId
 --LEFT OUTER JOIN TermwiseStudentHeightWeightDetails TWSHWD
	--	 ON tblStudents.StudentId = TWSHWD.YearwiseStudentId
	--	AND TWSHWD.TermId = 1
 --LEFT OUTER JOIN vw_standard_division vwSD
	--	 ON vwSD.Original_Standard_Id = tblStudents.OriginalStandardId
	--	AND vwSD.Original_Division_Id = tblStudents.OriginalDivisionId
	--    AND vwSD.School_Id = TWSHWD.SchoolId
	--    AND vwSD.academic_year_id = TWSHWD.AcademicYearId
	--  WHERE vwSD.School_Id = @School_Id
	--    AND vwSD.academic_year_id = @Academic_Year_Id
	--    AND vwSD.Standard_Id = @Standard_Id
	--    AND (vwSD.SchoolWise_Standard_Division_Id = @Division_Id OR @Division_Id = 0)	    

	 UPDATE tblHeightWeight
	    SET Term1Height = TWSHWD.Height,
		    Term1Weight = TWSHWD.Weight
	   FROM @tblStudentHeightWeightDetails tblHeightWeight
 INNER JOIN TermwiseStudentHeightWeightDetails TWSHWD
		 ON tblHeightWeight.StudentId = TWSHWD.YearwiseStudentId
 INNER JOIN vw_standard_division vwSD
		 ON vwSD.SchoolWise_Standard_Division_Id = TWSHWD.StandardDivisionId
	    AND vwSD.School_Id = TWSHWD.SchoolId
	    AND vwSD.academic_year_id = TWSHWD.AcademicYearId
	  WHERE TWSHWD.SchoolId = @School_Id
	    AND TWSHWD.AcademicYearId = @Academic_Year_Id
	    AND vwSD.Standard_Id = @Standard_Id
	    AND (vwSD.SchoolWise_Standard_Division_Id = @Division_Id OR @Division_Id = 0)
	    AND TWSHWD.TermId = 1

	 UPDATE tblHeightWeight
	    SET Term2Height = TWSHWD.Height,
		    Term2Weight = TWSHWD.Weight
	   FROM @tblStudentHeightWeightDetails tblHeightWeight
 INNER JOIN TermwiseStudentHeightWeightDetails TWSHWD
		 ON tblHeightWeight.StudentId = TWSHWD.YearwiseStudentId
 INNER JOIN vw_standard_division vwSD
		 ON vwSD.SchoolWise_Standard_Division_Id = TWSHWD.StandardDivisionId
	    AND vwSD.School_Id = TWSHWD.SchoolId
	    AND vwSD.academic_year_id = TWSHWD.AcademicYearId
	  WHERE TWSHWD.SchoolId = @School_Id
	    AND TWSHWD.AcademicYearId = @Academic_Year_Id
	    AND vwSD.Standard_Id = @Standard_Id
	    AND (vwSD.SchoolWise_Standard_Division_Id = @Division_Id OR @Division_Id = 0)
	    AND TWSHWD.TermId = 2

DECLARE @Term1StartDate DATETIME,
        @Term2StartDate DATETIME,		
		@Term1EndDate DATETIME,
		@Term2EndDate DATETIME
		
		SELECT @Term1StartDate = STWTM.TermStartDate,
		       @Term1EndDate = STWTM.TermEndDate,
			   @Term2StartDate = SS.Term2StartDate,
			   @Term2EndDate = SS.Term2EndDate
		  FROM StudentTermwiseTestMaster STWTM WITH(NOLOCK)
	INNER JOIN (
					SELECT StandardId,
					       TermStartDate AS Term2StartDate,
						   TermEndDate AS Term2EndDate
					  FROM StudentTermwiseTestMaster WITH(NOLOCK)
					 WHERE Academic_Year_Id = @Academic_Year_Id
					   AND Is_Deleted = 0 
					   AND StandardId = @Standard_Id
					   AND School_Id = @School_Id
					   AND SchoolwiseTermId = 2 -- For Term 2
			   )SS
			ON SS.StandardId = STWTM.StandardId
		 WHERE Academic_Year_Id = @Academic_Year_Id
		   AND Is_Deleted = 0 
		   AND STWTM.StandardId = @Standard_Id
		   AND School_Id = @School_Id
		   AND SchoolwiseTermId = 1 -- For Term - 1

-- Evalution 1
INSERT INTO @tblStudentAttendanceDetails
		   (
			  StudentId,
			  Evalu1TotalDays,
			  Evalu1PresentDays
		   )
    SELECT vwAM.Student_Id,
	       COUNT(1) AS E1TotalDays,
		   SS.E1PresentDays
	  FROM #StudentDetails tblStud
INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
		ON tblStud.StudentId = vwAM.Student_Id
INNER JOIN (
				SELECT vwAM.Student_Id,
					   COUNT(1) AS E1PresentDays
				  FROM #StudentDetails tblStud
			INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
					ON tblStud.StudentId = vwAM.Student_Id
				 WHERE vwAM.School_Id = @School_Id
				   AND vwAM.Academic_YEar_Id = @Academic_Year_ID
				   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term1StartDate) AND CONVERT(date,@Term1EndDate)
				   AND Is_Present = 'true'				   
			  GROUP BY vwAM.Student_Id
		   )SS
		ON SS.Student_Id = vwAM.Student_Id
	 WHERE vwAM.School_Id = @School_Id
	   AND vwAM.Academic_YEar_Id = @Academic_Year_ID	   
	   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term1StartDate) AND CONVERT(date,@Term1EndDate)
  GROUP BY vwAM.Student_Id,
           SS.E1PresentDays
		   
IF @ISEval2Publish = 'Y'
BEGIN
-- Evaluation 2

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM @tblStudentAttendanceDetails
	)
	BEGIN

		UPDATE tblStudent
		   SET Evalu2TotalDays = AA.E2TotalDays,
			   Evalu2PresentDays = SS.E2PresentDays
		  FROM @tblStudentAttendanceDetails tblStudent
	INNER JOIN (
					SELECT vwAM.Student_Id,
						   COUNT(1) AS E2PresentDays
					  FROM #StudentDetails tblStud
				INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
						ON tblStud.StudentId = vwAM.Student_Id
					 WHERE vwAM.School_Id = @School_Id
					   AND vwAM.Academic_YEar_Id = @Academic_Year_ID
					   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(date,@Term2EndDate)
					   AND Is_Present = 'true'				   
				  GROUP BY vwAM.Student_Id
			   )SS
			ON SS.Student_Id = tblStudent.StudentId
	INNER JOIN (
					SELECT vwAM.Student_Id,
						   COUNT(1) AS E2TotalDays
					  FROM #StudentDetails tblStud
				INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
						ON tblStud.StudentId = vwAM.Student_Id
					 WHERE vwAM.School_Id = @School_Id
					   AND vwAM.Academic_YEar_Id = @Academic_Year_ID
					   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(date,@Term2EndDate)					   	   
				  GROUP BY vwAM.Student_Id
			   )AA
			ON tblStudent.StudentId = AA.Student_Id
		   AND SS.Student_Id = AA.Student_Id
	END
	ELSE
	BEGIN
			INSERT INTO @tblStudentAttendanceDetails
			   (
				  StudentId,
				  Evalu2TotalDays,
				  Evalu2PresentDays
			   )
		SELECT vwAM.Student_Id,
			   COUNT(1) AS E1TotalDays,
			   SS.E1PresentDays
		  FROM #StudentDetails tblStud
	INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
			ON tblStud.StudentId = vwAM.Student_Id
	INNER JOIN (
					SELECT vwAM.Student_Id,
						   COUNT(1) AS E1PresentDays
					  FROM #StudentDetails tblStud
				INNER JOIN vw_AttendanceMaster vwAM WITH(NOLOCK)
						ON tblStud.StudentId = vwAM.Student_Id
					 WHERE vwAM.School_Id = @School_Id
					   AND vwAM.Academic_YEar_Id = @Academic_Year_ID
					   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(date,@Term2EndDate)		
					   AND Is_Present = 'true'				   
				  GROUP BY vwAM.Student_Id
			   )SS
			ON SS.Student_Id = vwAM.Student_Id
		 WHERE vwAM.School_Id = @School_Id
		   AND vwAM.Academic_YEar_Id = @Academic_Year_ID	   
		   AND CONVERT(date,Attendance_Date) BETWEEN CONVERT(date,@Term2StartDate) AND CONVERT(date,@Term2EndDate)		
	  GROUP BY vwAM.Student_Id,
			   SS.E1PresentDays
	END
END

DECLARE @tblStudentObjectiveDetails AS TABLE
(
	Id INT IDENTITY,
	StudentId INT,
	SubjectId INT,
	SubjectName NVARCHAR(100),
	SkillId INT,
	SkillName NVARCHAR(100),
	ParameterId INT,
	ParameterName NVARCHAR(200),
	HeaderId INT,
	Header NVARCHAR(100),
	Evalution1 NVARCHAR(20),
	Evalution2 NVARCHAR(20),
	Evalution3 NVARCHAR(20),
	Evaluation1Attend NVARCHAR(50),
	Evaluation2Attend NVARCHAR(50),	
	Term1Height NVARCHAR(50),
	Term1Weight NVARCHAR(50),
	Term2Height NVARCHAR(50),
	Term2Weight NVARCHAR(50)	
)

IF(@OriginalStandardId IN (7,8,9)) -- If standard is 3rd, 4th and 5th
	BEGIN
	IF(@OriginalStandardId = 9) -- If Standard is 5th
		BEGIN
			DELETE FROM @tblStudentObservationDetails
				  WHERE SkillName IN ('Sanskrit Skill','General Knowledge')

			INSERT INTO @tblStudentObjectiveDetails
				 SELECT tblStud.StudentId,
						tblObservation.SubjectId,
						UPPER(CASE WHEN tblObservation.SubjectName = 'Hindi' THEN 'HINDI / MOTHER TONGUE' 
								   WHEN tblObservation.SubjectName = 'English' THEN 'ENGLISH'
								   WHEN tblObservation.SubjectName = 'Marathi' THEN 'MARATHI'
								   WHEN tblObservation.SubjectName = 'Personality development.' THEN 'Personal and Social Traits'
								   WHEN SkillName = 'Game Skill' THEN 'Games' 
								   WHEN SkillName = 'Music Skill' THEN 'Music'
								   WHEN SkillName = 'Art & Craft' THEN 'Art / Craft'
								   ELSE 'Aspects' END) AS SubjectName,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN tblObservation.SkillId ELSE 0 END AS SkillId,
						tblObservation.SkillName,
						tblObservation.ParameterId,
						tblObservation.ParameterName,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 1
							 WHEN SkillName = 'Mathematics Skill' THEN 2 
							 WHEN SkillName = 'Environmental science skill' THEN 3
							 WHEN SkillName = 'Science' THEN 4
							 WHEN SkillName = 'Computers Skill' THEN 5
							 WHEN SkillName = 'Sanskrit Skill' THEN 6
							 WHEN SkillName = 'General Knowledge' THEN 7
							 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill' THEN 8
							 WHEN SkillName = 'Social skills' THEN 9 
							 ELSE 999
							 END AS HeaderId,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 'A. LANGUAGES'
							 WHEN SkillName = 'Mathematics Skill' THEN 'B. MATHEMATICS'
							 WHEN SkillName = 'Environmental science skill' THEN 'C. ENVIRONMENTAL SCIENCE / SOCIAL SCIENCE'
							 WHEN SkillName = 'Science' THEN 'D. SCIENCE'
							 WHEN SkillName = 'Computers Skill' THEN 'E. COMPUTER'
							 --WHEN SkillName = 'Sanskrit Skill' THEN 'F. SANSKRIT'
							 --WHEN SkillName = 'General Knowledge' THEN 'G. GENERAL KNOWLEDGE'
							 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill'  THEN 'F. CO-CURRICULAR ACTIVITIES'
							 WHEN SkillName = 'Social skills' THEN 'G. PERSONALITY DEVELOPMENT'
							 ELSE ''
							 END AS Header,	
						tblObservation.Evalution1,
						tblObservation.Evalution2,
						tblObservation.Evalution3,											
						CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1TotalDays, 0)) AS Evaluation1Attend,
						CASE WHEN tblAttendance.Evalu2TotalDays IS NULL OR tblAttendance.Evalu2TotalDays = 0 THEN '' ELSE CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2TotalDays, 0)) END AS Evaluation2Attend,						
						--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') AS Term1Height,
						--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') AS Term1Weight,
						 case when @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' else ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') end AS Term1Height,
						CASE WHEN @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' ELSE ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') END AS Term1Weight,
						ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Height),'') AS Term2Height,
						ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Weight),'') AS Term2Weight				
				   FROM #StudentDetails tblStud
			 INNER JOIN @tblStudentObservationDetails tblObservation
					 ON tblStud.StudentId = tblObservation.StudentId	 
		LEFT OUTER JOIN @tblStudentAttendanceDetails tblAttendance
					 ON tblAttendance.StudentId = tblStud.StudentId
		LEFT OUTER JOIN @tblStudentHeightWeightDetails tblHeightWeight
					 ON tblHeightWeight.StudentId = tblStud.StudentId		  
			   ORDER BY tblStud.StudentId,
						HeaderId
		END
	ELSE
		BEGIN
			INSERT INTO @tblStudentObjectiveDetails
				 SELECT tblStud.StudentId,
						tblObservation.SubjectId,
						UPPER(CASE WHEN tblObservation.SubjectName = 'Hindi' THEN 'HINDI / MOTHER TONGUE' 
								   WHEN tblObservation.SubjectName = 'English' THEN 'ENGLISH'
								   WHEN tblObservation.SubjectName = 'Marathi' THEN 'MARATHI'
								   WHEN tblObservation.SubjectName = 'Personality development.' THEN 'Personal and Social Traits'
								   WHEN SkillName = 'Game Skill' THEN 'Games' 
								   WHEN SkillName = 'Music Skill' THEN 'Music'
								   WHEN SkillName = 'Art & Craft' THEN 'Art / Craft'
								   ELSE 'Aspects' END) AS SubjectName,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN tblObservation.SkillId ELSE 0 END AS SkillId,
						tblObservation.SkillName,
						tblObservation.ParameterId,
						tblObservation.ParameterName,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 1
							 WHEN SkillName = 'Mathematics Skill' THEN 2 
							 WHEN SkillName = 'Environmental science skill' THEN 3
							 WHEN SkillName = 'Science' THEN 4
							 WHEN SkillName = 'Computers Skill' THEN 5
							 WHEN SkillName = 'Sanskrit Skill' THEN 6
							 WHEN SkillName = 'General Knowledge' THEN 7
							 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill' THEN 8
							 WHEN SkillName = 'Social skills' THEN 9 
							 ELSE 999
							 END AS HeaderId,
						CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 'A. LANGUAGES'
							 WHEN SkillName = 'Mathematics Skill' THEN 'B. MATHEMATICS'
							 WHEN SkillName = 'Environmental science skill' THEN 'C. ENVIRONMENTAL SCIENCE / SOCIAL SCIENCE'							 
							 WHEN SkillName = 'Computers Skill' THEN 'D. COMPUTER'							 
							 WHEN SkillName = 'General Knowledge' THEN 'E. GENERAL KNOWLEDGE'
							 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill'  THEN 'F. CO-CURRICULAR ACTIVITIES'
							 WHEN SkillName = 'Social skills' THEN 'G. PERSONALITY DEVELOPMENT'
							 ELSE ''
							 END AS Header,	
						tblObservation.Evalution1,
						tblObservation.Evalution2,
						tblObservation.Evalution3,											
						CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1TotalDays, 0)) AS Evaluation1Attend,
						CASE WHEN tblAttendance.Evalu2TotalDays IS NULL OR tblAttendance.Evalu2TotalDays = 0 THEN '' ELSE CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2TotalDays, 0)) END AS Evaluation2Attend,						
						--CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2TotalDays, 0)) AS Evaluation2Attend,						
						--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') AS Term1Height,
						--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') AS Term1Weight,
						case when @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' else ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') end AS Term1Height,
						CASE WHEN @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' ELSE ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') END AS Term1Weight,
						ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Height),'') AS Term2Height,
						ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Weight),'') AS Term2Weight				
				   FROM #StudentDetails tblStud
			 INNER JOIN @tblStudentObservationDetails tblObservation
					 ON tblStud.StudentId = tblObservation.StudentId	 
		LEFT OUTER JOIN @tblStudentAttendanceDetails tblAttendance
					 ON tblAttendance.StudentId = tblStud.StudentId
		LEFT OUTER JOIN @tblStudentHeightWeightDetails tblHeightWeight
					 ON tblHeightWeight.StudentId = tblStud.StudentId		  
			   ORDER BY tblStud.StudentId,
						HeaderId
		END
	END
ELSE IF(@OriginalStandardId IN (5,6)) -- If standard is 1st and 2nd
	BEGIN

		INSERT INTO @tblStudentObjectiveDetails
			 SELECT tblStud.StudentId,		        
					tblObservation.SubjectId,
					UPPER(CASE WHEN tblObservation.SubjectName = 'Hindi' THEN 'HINDI / MOTHER TONGUE' 
							   WHEN tblObservation.SubjectName = 'English' THEN 'ENGLISH'
							   WHEN tblObservation.SubjectName = 'Marathi' THEN 'MARATHI'
							   WHEN tblObservation.SubjectName = 'Personality development.' THEN 'Personal and Social Traits'
							   WHEN SkillName = 'Game Skill' THEN 'Games' 
							   WHEN SkillName = 'Music Skill' THEN 'Music'
							   WHEN SkillName = 'Art & Craft' THEN 'Art / Craft'
							   ELSE 'Aspects' END) AS SubjectName,
					CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN tblObservation.SkillId ELSE 0 END AS SkillId,
					tblObservation.SkillName,
					tblObservation.ParameterId,
					tblObservation.ParameterName,
					CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 1
						 WHEN SkillName = 'Mathematics Skill' THEN 2 
						 WHEN SkillName = 'Environmental science skill' THEN 3
						 WHEN SkillName = 'Computers Skill' THEN 4
						 WHEN SkillName = 'General Skill' THEN 5
						 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill' THEN 6
						 WHEN SkillName = 'Social skills' THEN 9 
						 ELSE 999
						 END AS HeaderId,
					CASE WHEN SubjectName = 'English' OR SubjectName = 'Hindi' OR SubjectName = 'Marathi' THEN 'A. LANGUAGES'
						 WHEN SkillName = 'Mathematics Skill' THEN 'B. MATHEMATICS'
						 WHEN SkillName = 'Environmental science skill' THEN 'C. ENVIRONMENTAL SCIENCE / SOCIAL SCIENCE'
						 WHEN SkillName = 'Computers Skill' THEN 'D. COMPUTER'
						 WHEN SkillName = 'General Skill' THEN 'E. GENERAL KNOWLEDGE'
						 WHEN SkillName = 'Game Skill' OR SkillName = 'Art & Craft' OR SkillName = 'Music Skill'  THEN 'F. CO-CURRICULAR ACTIVITIES'
						 WHEN SkillName = 'Social skills' THEN 'G. PERSONALITY DEVELOPMENT'
						 ELSE ''
						 END AS Header,
					tblObservation.Evalution1,
					tblObservation.Evalution2,
					tblObservation.Evalution3,								
					CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu1TotalDays, 0)) AS Evaluation1Attend,
					CASE WHEN tblAttendance.Evalu2TotalDays IS NULL OR tblAttendance.Evalu2TotalDays = 0 THEN '' ELSE CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2TotalDays, 0)) END AS Evaluation2Attend,						
					--CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2PresentDays, 0)) + ' / ' + CONVERT(NVARCHAR(5),ISNULL(tblAttendance.Evalu2TotalDays, 0)) AS Evaluation2Attend,				
					--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') AS Term1Height,
					--ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') AS Term1Weight,
					case when @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' else ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Height),'') end AS Term1Height,
						CASE WHEN @School_Id = 11 and @Academic_Year_Id = 9 then 'NA' ELSE ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term1Weight),'') END AS Term1Weight,
					ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Height),'') AS Term2Height,
					ISNULL(CONVERT(NVARCHAR(10),tblHeightWeight.Term2Weight),'') AS Term2Weight
			   FROM #StudentDetails tblStud
		 INNER JOIN @tblStudentObservationDetails tblObservation
				 ON tblStud.StudentId = tblObservation.StudentId
	LEFT OUTER JOIN @tblStudentAttendanceDetails tblAttendance
				 ON tblAttendance.StudentId = tblStud.StudentId
	LEFT OUTER JOIN @tblStudentHeightWeightDetails tblHeightWeight
				 ON tblHeightWeight.StudentId = tblStud.StudentId
		   ORDER BY tblStud.StudentId,
					HeaderId
	END

DECLARE @tblSkillDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	SkillName NVARCHAR(100),
	SkillId INT,
	RowNo INT
)

--INSERT INTO @tblSkillDetails
	-- SELECT SkillName,
	--        SkillId,
	--		ROW_NUMBER() OVER(ORDER BY SkillId, OS.SubjectId)			
	--   FROM @tblStudentObjectiveDetails tbl
 --INNER JOIN ObservationSkills OS
	--	 ON tbl.SkillId = OS.Id
	--	AND tbl.SkillName = OS.Name
	--	AND tbl.SubjectId = OS.SubjectId
 --  GROUP BY SkillName,
 --           SkillId,
	--		OS.Id,
	--		os.SubjectId
 --  ORDER BY OS.Id

INSERT INTO @tblSkillDetails
	 SELECT SkillName,
		    SkillId,
		    ROW_NUMBER() OVER(PARTITION BY Os.SubjectId ORDER BY OS.Id)
	   FROM @tblStudentObjectiveDetails tbl
 INNER JOIN ObservationSkills OS
		 ON OS.Id = tbl.SkillId
	    AND OS.SubjectId = tbl.SubjectId
	    AND Os.Name = tbl.SkillName
   GROUP BY SkillName,
		    SkillId,
		    OS.SubjectId,
		    OS.Id
   ORDER BY OS.Id



UPDATE @tblStudentObjectiveDetails
   SET SubjectId = 99999
 WHERE SubjectId = 2303
   AND HeaderId = 1

DECLARE @ClassTeacherName NVARCHAR(200) = ''

	SELECT @ClassTeacherName = vwBTD.TeacherName
	  FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SWSDTAS WITH(NOLOCK)
INNER JOIN vw_standard_division vwSD WITH(NOLOCK)
		ON SWSDTAS.Standard_Id = vwSD.Standard_Id
	   AND SWSDTAS.Division_Id = vwSD.Division_Id
	   AND SWSDTAS.School_Id = vwSD.School_Id
	   AND SWSDTAS.Academic_Year_Id = vwSD.academic_year_id
INNER JOIN vw_BaseTeacherDetails vwBTD WITH(NOLOCK)
		ON vwBTD.Teacher_Id = SWSDTAS.Teacher_Id
	   AND vwBTD.School_Id = SWSDTAS.School_Id
	   AND vwBTD.academic_year_id = SWSDTAS.Academic_Year_Id
	 WHERE SWSDTAS.School_Id = @School_Id
	   AND SWSDTAS.Academic_Year_Id = @Academic_Year_Id
	   AND SWSDTAS.Is_Deleted = 'N'
	   AND SWSDTAS.Standard_Id = @Standard_Id
	   AND SWSDTAS.Is_ClassTeacher = 'Y'
	   AND vwSD.SchoolWise_Standard_Division_Id = @Division_Id
	   AND vwBTD.Is_Deleted = 'N'

	   UPDATE @tblStudentObjectiveDetails
	   SET Evalution1 = '-'
	   WHERE Evalution3 IS NOT NULL
	   AND Evalution1 IS NULL

	    UPDATE @tblStudentObjectiveDetails
	   SET Evalution2 = '-'
	   WHERE Evalution3 IS NOT NULL
	   AND Evalution2 IS NULL

	   IF @Term_Id = 1
	   BEGIN
			UPDATE @tblStudentObjectiveDetails
			SET Evalution2 = '-',
				Evalution3 = '-',
				Term2Height = '-',
				Term2Weight = '-',
				Evaluation2Attend = '-'
	   END

	SELECT tblSkill.RowNo AS RowNo,		   		   
	       tblStud.StudentId,
		   tblStud.Roll_Num,
		   @AcademicYear AS AcademicYear,
		   ClassName,
		   StandardNAme,
		   DivisionName,
		   StudentName,
		   DOB,
		   Enrolment_Number,
		  -- StudentAddress,
		   REPLACE(REPLACE(StudentAddress, CHAR(13), ''), CHAR(10), '') as StudentAddress,
		   tblStud.PhoneNo,
		   tblStud.StudentPhoto,
		   tblStud.OriginalStandardId,
		   tblStud.OriginalDivisionId,
		   tblObjective.SubjectId,
		   tblObjective.SubjectName,
		   tblObjective.SkillId,
		   tblObjective.SkillName,
		   ParameterId,
		   ParameterName,
		   HeaderId,
		   Header,
		   Evalution1,
		   Evalution2,
		   Evalution3,
		   Evaluation1Attend,
		   Evaluation2Attend,		   
		   Term1Height,
		   Term1Weight,
		   Term2Height,
		   Term2Weight,
		   @ClassTeacherName ClassTeacherName,
		   ISNULL(@ISEval2Publish,'N') as ISEval2Publish,
		   ISNULL(@IsEval3Publish,'N') as  IsEval3Publish,
		   ISNULL(@Show3rdEvalForAdmin,'N') as  Show3rdEvalForAdmin,
		   SM.School_Id,
		   SM.School_Orgn_Name,
		   SM.School_Name,
		   SM.Address,
		   SM.Address1,
		   SM.Address2,
		   SM.City,
		   SM.Pincode,
		   SM.Phone_Number,
		   SM.Phone_Number2,
		   SM.Email,
		   SM.WebSite,
		   SM.Logo
	  FROM @tblStudentObjectiveDetails tblObjective
INNER JOIN #StudentDetails tblStud
		ON tblObjective.StudentId = tblStud.StudentId
INNER JOIN School_Master SM WITH(NOLOCK)
		ON SM.School_Id = tblStud.SchoolId
LEFT OUTER JOIN @tblSkillDetails tblSkill
		ON tblSkill.SkillName = tblObjective.SkillName	
	   AND tblSkill.SkillId = tblObjective.SkillId
	 WHERE SM.Is_Deleted = 'N'
	   AND School_Id = @School_Id
  ORDER BY tblStud.StudentId,
		   Header

 DROP TABLE #StudentDetails

END