/****** Object:  StoredProcedure [dbo].[usp_IsTermExamPublished]    Script Date: 10-07-2026 18:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: This uSP is used to
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_IsTermExamPublished]
	@SchoolId INT,
	@AcademicYearId INT,
	@StandardDivisionId INT,
	@IsPublished BIT OUTPUT,
	@StandardName NVARCHAR(15) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @IsPublished = 0
	SET @StandardName = ''

	SELECT @StandardName = Standard_Name
	  FROM vw_standard_division
	 WHERE School_Id = @SchoolId
	   --AND academic_year_id = @AcademicYearId
	   AND SchoolWise_Standard_Division_Id = @StandardDivisionId	   

	--IF @SchoolId = 133 -- SVP
	--BEGIN
	--	IF EXISTS
	--	(
	--		SELECT TOP 1 1
	--		FROM SchoolWise_AnnualResult_Publish
	--		WHERE School_Id = @SchoolId
	--		AND Academic_Year_Id = @AcademicYearId
	--		AND Is_Deleted = 'N'
	--		AND Is_Published = 'Y'
	--		AND Standard_Division_Id = @StandardDivisionId
	--	)
	--	BEGIN
	--		SET @IsPublished = 1
	--	END
	--END
	--ELSE
	--BEGIN
		--IF(@SchoolId = 18) -- PPS School
		--	BEGIN
		--		DECLARE @OldAcademicYearId INT,
		--		        @OldStdDivId INT

		--		SELECT TOP 1 @OldAcademicYearId = Academic_Year_ID
		--		  FROM SchoolWise_Academic_Year_Master
		--		 WHERE Is_Deleted = 'N'
		--		   AND School_Id = @SchoolId
		--		   AND Academic_Year_ID <> @AcademicYearId
		--		   AND Is_Close_Year = 'Y'
		--	  ORDER BY Academic_Year_ID DESC

		--	    SELECT @OldStdDivId = vwSD.SchoolWise_Standard_Division_Id
		--          FROM vw_standard_division vwSD
		--	INNER JOIN (
		--					 SELECT SM.Standard_Id,
		--							SS.Original_Division_Id
		--					   FROM Standard_Master SM
		--				 INNER JOIN (			  
		--									  SELECT Original_Standard_Id,
		--											 Original_Division_Id
		--										FROM vw_standard_division
		--									   WHERE School_Id = @SchoolId
		--										 AND academic_year_id = @AcademicYearId
		--										 AND SchoolWise_Standard_Division_Id = @StandardDivisionId
		--							)SS
		--						 ON SS.Original_Standard_Id = SM.NextOriginalStandardId		 
		--					  WHERE SM.School_Id = @SchoolId
		--						AND SM.academic_year_id = @OldAcademicYearId
		--				 )SS
		--			ON SS.Standard_Id = vwSD.Standard_Id
		--		   AND SS.Original_Division_Id = vwSD.Original_Division_Id
		--		 WHERE School_Id = @SchoolId
		--		   AND academic_year_id = @OldAcademicYearId

		--	  IF EXISTS
		--		(
		--			select TOP 1 1
		--			from SchoolWise_StanderedDivision_Test_Master SSTM
		--			INNER JOIN SchoolWise_Test_Master STM
		--			on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
		--			WHERE SSTM.School_id = @SchoolId
		--			and SSTM.Academic_Year_ID = @OldAcademicYearId
		--			and SSTM.Is_Deleted = 'N'
		--			and STM.Is_Deleted = 'N'
		--			and Standerd_division_Id = @OldStdDivId
		--			and Is_Published = 'Y'
		--			and STM.Term_Id = 2
		--			and IsFinalExam = 1
		--		)
		--		BEGIN
		--			SET @IsPublished = 1
		--		END			  
		--	END
		--ELSE
		--	BEGIN
			IF @SchoolId = 18
				BEGIN

					IF EXISTS
					(
						select TOP 1 1
						from SchoolWise_StanderedDivision_Test_Master SSTM
						INNER JOIN SchoolWise_Test_Master STM
						on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
						WHERE SSTM.School_id = @SchoolId
						and SSTM.Academic_Year_ID = @AcademicYearId
						--and SSTM.Is_Deleted = 'N'
						and STM.Is_Deleted = 'N'
						and Standerd_division_Id = @StandardDivisionId
						and Is_Published = 'Y'
						and STM.Term_Id = 1
						and IsFinalExam = 1
					)
					BEGIN
						SET @IsPublished = 1
					END

					--IF(@StandardName = '9' OR @StandardName = '10')
					--	BEGIN
					--		SET @IsPublished = 0
					--	END
				END
				ELSE IF (@SchoolId =165)
				BEGIN
			         if exists (select top 1 1 
								from vw_standard_division
							   where (Is_PrePrimary = 'Y' or Standard_Name in ('1', '2'))
									and School_Id = @SchoolId
							--		and academic_year_id = @AcademicYearId
									and SchoolWise_Standard_Division_Id = @StandardDivisionId
							)
					 BEGIN
							IF EXISTS( SELECT TOP 1 1 from ObservationPublishStatus OPS
							  INNER JOIN SchoolWise_Test_Master STM
							  ON OPS.TestId =STM.SchoolWise_Test_Id 
							  WHERE  STM.Is_Deleted = 'N'
								AND OPS.IsDeleted=0
								AND IsPublished =1
								AND Term_Id =1
								AND IsFinalExam =1
								AND School_Id =@SchoolId
								AND OPS.StdDivId =@StandardDivisionId 
							--	AND academic_year_id =@AcademicYearId 
							   )
							BEGIN
								SET @IsPublished = 1
							END
					END
					ELSE
					BEGIN
							IF EXISTS (select TOP 1 1
							from SchoolWise_StanderedDivision_Test_Master SSTM
							INNER JOIN SchoolWise_Test_Master STM
							on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
							WHERE SSTM.School_id = @SchoolId
							--and SSTM.Academic_Year_ID = @AcademicYearId
							and SSTM.Is_Deleted = 'N'
							and STM.Is_Deleted = 'N'
							and Standerd_division_Id = @StandardDivisionId
							and Is_Published = 'Y'
							and STM.Term_Id = 1
							and IsFinalExam = 1
						)
						BEGIN
							SET @IsPublished = 1
						END
					END
				END
			ELSE IF (@SchoolId <> 18 AND @SchoolId <> 11)
				BEGIN				
					IF EXISTS
					(
						select TOP 1 1
						from SchoolWise_StanderedDivision_Test_Master SSTM
						INNER JOIN SchoolWise_Test_Master STM
						on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
						WHERE SSTM.School_id = @SchoolId
						and SSTM.Academic_Year_ID = @AcademicYearId
						and SSTM.Is_Deleted = 'N'
						and STM.Is_Deleted = 'N'
						and Standerd_division_Id = @StandardDivisionId
						and Is_Published = 'Y'
						and STM.Term_Id = 1
						and IsFinalExam = 1
					)
					BEGIN
						SET @IsPublished = 1
					END
				END
			ELSE IF(@SchoolId = 11)
				BEGIN
					IF(@StandardName IN ('1','2','3','4','5'))
						BEGIN
							IF((SELECT COUNT(1)
								  FROM ObservationPublishStatus WITH(NOLOCK)
								 WHERE SchoolId = @SchoolId
								   AND IsDeleted = 0
								   AND IsPublished = 1
								   AND AcademicYearId = @AcademicYearId
								   AND StdDivId = @StandardDivisionId
							  GROUP BY StdDivId) >=  (CASE WHEN @SchoolId = 11 and @AcademicYearId = 10 THEN 2
															WHEN @SchoolId = 11 and @AcademicYearId >= 11 THEN 1 ELSE 3 END) )
							BEGIN						
								SET @IsPublished = 1
							END
						END
					ELSE
						BEGIN
							IF EXISTS
							(
									select TOP 1 1
									  from SchoolWise_StanderedDivision_Test_Master SSTM WITH(NOLOCK)
								INNER JOIN SchoolWise_Test_Master STM WITH(NOLOCK)
										on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
									 WHERE SSTM.School_id = @SchoolId
									   and SSTM.Academic_Year_ID = @AcademicYearId
									   and SSTM.Is_Deleted = 'N'
									   and STM.Is_Deleted = 'N'
									   and Standerd_division_Id = @StandardDivisionId
									   and Is_Published = 'Y'
									   and STM.Term_Id = 1 --(CASE WHEN @SchoolId = 11 and @AcademicYearId = 10 THEN 1 ELSE 2 END)									   
									   and IsFinalExam = 1
							)
							BEGIN
								SET @IsPublished = 1
							END
						END
				END
			ELSE IF(@SchoolId = 133 AND @StandardName = '9')
				BEGIN
					IF EXISTS
					(
						select TOP 1 1
						from SchoolWise_StanderedDivision_Test_Master SSTM
						INNER JOIN SchoolWise_Test_Master STM
						on sstm.SchoolWise_Test_Id = stm.SchoolWise_Test_Id
						WHERE SSTM.School_id = @SchoolId
						and SSTM.Academic_Year_ID = @AcademicYearId
						and SSTM.Is_Deleted = 'N'
						and STM.Is_Deleted = 'N'
						and Standerd_division_Id = @StandardDivisionId
						and Is_Published = 'Y'				
						AND (SchoolWise_Test_Name = 'FIRST TERM' OR SchoolWise_Test_Name = 'ANNUAL EXAM')
					)
					BEGIN
						SET @IsPublished = 1
					END
				END
			--END
	--END
END