/****** Object:  StoredProcedure [dbo].[usp_IsFinalResultPublished]    Script Date: 11-07-2026 17:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 27 Oct 2017
-- Description:	This USP is used for Checking final exam is published or not for specific class,
-- =============================================
ALTER PROCEDURE [dbo].[usp_IsFinalResultPublished]
	@SchoolId INT,
	@AcademicYearId INT,
	@StandardDivisionId INT,
	@IsFinalPublished BIT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @IsFinalPublished = 0

	--IF(@SchoolId = 18) -- PPS School
	--		BEGIN
	--			DECLARE @OldAcademicYearId INT,
	--			        @OldStdDivId INT

	--			SELECT TOP 1 @OldAcademicYearId = Academic_Year_ID
	--			  FROM SchoolWise_Academic_Year_Master
	--			 WHERE Is_Deleted = 'N'
	--			   AND School_Id = @SchoolId
	--			   AND Academic_Year_ID <> @AcademicYearId
	--			   AND Is_Close_Year = 'Y'
	--		  ORDER BY Academic_Year_ID DESC

	--		    SELECT @OldStdDivId = vwSD.SchoolWise_Standard_Division_Id
	--	          FROM vw_standard_division vwSD
	--		INNER JOIN (
	--						 SELECT SM.Standard_Id,
	--								SS.Original_Division_Id
	--						   FROM Standard_Master SM
	--					 INNER JOIN (			  
	--										  SELECT Original_Standard_Id,
	--												 Original_Division_Id
	--											FROM vw_standard_division
	--										   WHERE School_Id = @SchoolId
	--											 AND academic_year_id = @AcademicYearId
	--											 AND SchoolWise_Standard_Division_Id = @StandardDivisionId
	--								)SS
	--							 ON SS.Original_Standard_Id = SM.NextOriginalStandardId		 
	--						  WHERE SM.School_Id = @SchoolId
	--							AND SM.academic_year_id = @OldAcademicYearId
	--					 )SS
	--				ON SS.Standard_Id = vwSD.Standard_Id
	--			   AND SS.Original_Division_Id = vwSD.Original_Division_Id
	--			 WHERE School_Id = @SchoolId
	--			   AND academic_year_id = @OldAcademicYearId

	--			   IF EXISTS
	--					(
	--						SELECT TOP 1 1
	--							  FROM SchoolWise_AnnualResult_Publish
	--							 WHERE School_Id = @SchoolId
	--							   AND Academic_Year_Id = @OldAcademicYearId
	--							   AND Standard_Division_Id = @OldStdDivId
	--							   AND Is_Deleted = 'N'
	--							   AND Is_Published = 'Y'
	--					)
	--				BEGIN
	--					SET @IsFinalPublished = 1
	--				END

	--		END
	--	ELSE
	--		BEGIN
         DECLARE @StandardName VARCHAR(50)

			SELECT @StandardName = Standard_Name
			FROM vw_standard_division
			WHERE SchoolWise_Standard_Division_Id = @StandardDivisionId
			AND School_Id = @SchoolId
			--AND Academic_Year_Id = @AcademicYearId

       IF ( @SchoolId = 165 AND @StandardName IN ('Nursery','LKG','HKG','1','2','Junior KG','Senior KG'))
	   BEGIN
            IF EXISTS(SELECT 1
						FROM ObservationPublishStatus OPS
						INNER JOIN Schoolwise_Standard_Test_Master STM
							ON OPS.TestId = STM.SchoolWise_Test_Id
						INNER JOIN SchoolWise_Test_Master SSM
							ON SSM.SchoolWise_Test_Id=OPS.TestId
						INNER JOIN vw_standard_division vsd
						ON VSD.SchoolWise_Standard_Division_Id=OPS.StdDivId
						WHERE OPS.SchoolId = @SchoolId
					--	AND OPS.AcademicYearId = @AcademicYearId
						AND OPS.StdDivId = @StandardDivisionId
						AND OPS.IsDeleted = 0
						AND OPS.IsPublished = 1
						AND STM.Is_Deleted='N'
						AND SSM.Is_Deleted='N'
						AND SSM.Term_Id = 2 ) 
			BEGIN
			 SET @IsFinalPublished = 1
			END
		END
			ELSE IF EXISTS
			(
				SELECT 1
				FROM SchoolWise_AnnualResult_Publish
				WHERE School_Id = @SchoolId
				AND Standard_Division_Id = @StandardDivisionId
				AND Is_Deleted = 'N'
				AND Is_Published = 'Y'
			)
			BEGIN
				SET @IsFinalPublished = 1
			END
			--END
			SELECT @IsFinalPublished IsFinalPublished
END