/****** Object:  StoredProcedure [dbo].[USP_GetIsPrePrimary]    Script Date: 11-07-2026 18:17:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GetIsPrePrimary] 
	@SchoolId INT,
	@AcademicYearId INT,
	@StandardId INT
AS
BEGIN
	IF @SchoolId = 165
	BEGIN
		SELECT 'N' AS Is_PrePrimary
		-- All standards of Pioneer school uses regular progress report. So to open proper report it is passed as 'N'
	END
	ELSE
	BEGIN
		SELECT	Is_PrePrimary 
		FROM Standard_Master
		WHERE School_Id = @SchoolId 
		AND academic_Year_Id = @AcademicYearId 
		AND Standard_Id = @StandardId 
		AND Is_Deleted = 'N'
	END
END