/****** Object:  StoredProcedure [dbo].[usp_UpdateResignedUserDetails]    Script Date: 6/16/2026 4:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================    
-- Author:  Vinod Bhoite    
-- Create date: 5 Oct 2011    
-- Description: This usp is used for updating all users whose Resigned date is due.    
-- =============================================    
ALTER PROCEDURE [dbo].[usp_UpdateResignedUserDetails]    
 @SchoolId INT    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
 DECLARE  @AcademicYearId INT , @TeacherUserRoleId INT = 2    
     
 --RAISERROR('Testing..',16,1)    


     
 SELECT @AcademicYearId  =Academic_Year_ID FROM SchoolWise_Academic_Year_Master WHERE School_Id = @SchoolId  AND Is_Current_Year = 'Y'    
    -- Insert statements for procedure here    
 
  ----Get all the users whose resignation date is today.    
   DECLARE @tblUserDetails AS TABLE    
 (    
  UserId INT,    
  DateOfResign DATETIME,
  UserRoleId INT  
 )    
 INSERT INTO @tblUserDetails    
 SELECT     
    User_Master.User_Id,    
    UBD.ResignationDate,
	User_Master.User_Role_Id   
 FROM  User_Master INNER JOIN UsersStaffGroupsAssociation    
    ON User_Master.User_Id =  UsersStaffGroupsAssociation.UserId    
   AND User_Master.School_Id=  UsersStaffGroupsAssociation.SchoolId
   INNER JOIN UserBasicDetails UBD
   ON	UBD.UserId = UsersStaffGroupsAssociation.UserId    
 WHERE User_Master.School_Id = @SchoolId     
   AND User_Master.Is_Locked = N'N'     
   AND User_Master.Is_Deleted=N'N'     
   AND UsersStaffGroupsAssociation.Is_Locked = 0    
   and UsersStaffGroupsAssociation.Is_Deleted = 'N'
   AND UBD.ResignationDate IS NOT NULL    
   AND User_Master.User_Role_Id <> @TeacherUserRoleId    
       
 INSERT INTO @tblUserDetails    
 SELECT     
    User_Master.User_Id,
    UBD.ResignationDate,
	User_Master.User_Role_Id    
         
 FROM  User_Master INNER JOIN UsersStaffGroupsAssociation    
    ON User_Master.User_Id =  UsersStaffGroupsAssociation.UserId    
   AND User_Master.School_Id=  UsersStaffGroupsAssociation.SchoolId
   INNER JOIN UserBasicDetails UBD
   ON	UBD.UserId = UsersStaffGroupsAssociation.UserId    
 WHERE User_Master.School_Id = @SchoolId     
   AND User_Master.Is_Locked = N'N'     
   AND User_Master.Is_Deleted=N'N'     
   AND UsersStaffGroupsAssociation.Is_Locked = 0   
   and UsersStaffGroupsAssociation.Is_Deleted = 'N' 
--   AND Academic_Year_Id = @AcademicYearId     
   AND UBD.ResignationDate IS NOT NULL    
   AND User_Master.User_Role_Id = @TeacherUserRoleId    
       
 ----Get all the users whose resignation date was previous month.    
 DECLARE @tblSalaryUserDetails AS TABLE    
 (    
  UserId INT,    
  DateOfResign DATETIME    
 )    
 INSERT INTO @tblSalaryUserDetails    
 SELECT     
    UBD.UserId,    
    UBD.ResignationDate     
 FROM  UsersStaffGroupsAssociation INNER JOIN User_Master    
   ON  UsersStaffGroupsAssociation.UserId = User_Master.User_Id    
   AND UsersStaffGroupsAssociation.SchoolId= User_Master.School_Id
   INNER JOIN UserBasicDetails UBD
   ON	UBD.UserId = UsersStaffGroupsAssociation.UserId     
 WHERE UsersStaffGroupsAssociation.SchoolId = @SchoolId     
--   AND Academic_Year_Id = @AcademicYearId     
   AND UsersStaffGroupsAssociation.Is_Locked = 0     
   AND UsersStaffGroupsAssociation.Is_Deleted=N'N'     
   AND UBD.ResignationDate IS NOT NULL AND User_Master.User_Role_Id = @TeacherUserRoleId    
       
  --For except Teacher User only     
 INSERT INTO @tblSalaryUserDetails    
 SELECT     
    UBD.UserId,    
    UBD.ResignationDate     
 FROM  UsersStaffGroupsAssociation INNER JOIN User_Master    
   ON  UsersStaffGroupsAssociation.UserId = User_Master.User_Id    
   AND UsersStaffGroupsAssociation.SchoolId= User_Master.School_Id
   INNER JOIN UserBasicDetails UBD
   ON	UBD.UserId = UsersStaffGroupsAssociation.UserId      
 WHERE UsersStaffGroupsAssociation.SchoolId = @SchoolId     
   AND UsersStaffGroupsAssociation.Is_Locked = 0     
   AND UsersStaffGroupsAssociation.Is_Deleted=N'N'     
   AND UBD.ResignationDate IS NOT NULL AND User_Master.User_Role_Id <> @TeacherUserRoleId    
      
  ---------------------------------------------------------------------------------------------------------------     
    ----------------Deactivate Users from System.----------------------------    
   DECLARE @Count INT = 0,@Cnt INT = 0, @User_Id INT, @DtOfResign DATETIME, @UserRoleId INT   
       
   SELECT @Count = COUNT(UserId) FROM @tblUserDetails    
       
   WHILE(@Count > 0)    
   BEGIN    
   SELECT TOP 1     
			@User_Id  = UserId,     
			@DtOfResign = DateOfResign,
			@UserRoleId = UserRoleId     
	   FROM @tblUserDetails       
      
   IF(DATEDIFF(D,@DtOfResign,dbo.GetLocalDate(DEFAULT)) >= 0 )    
   BEGIN    
     UPDATE User_Master    
        SET Is_Locked = N'Y',    
            IsConsideredForMessage = 0,    
			Deactivation_Reason = N'Due to Resignation.',    
			Update_Date = dbo.GetLocalDate(DEFAULT),
			Updated_By_Id = 1
       FROM @tblUserDetails tblUserDetails     
      WHERE User_Master.User_Id = @User_Id  
	 
		If(@UserRoleId = 2)
			BEGIN
				EXEC usp_RemoveTeacherAllReferances @User_Id = @User_Id
			END
   END    
       
   DELETE FROM @tblUserDetails 
		 WHERE UserId = @User_Id    

        SELECT @Count = COUNT(UserId) 
		  FROM @tblUserDetails    
   END

  ---------------------------------------------------------------------------------------------------------------       
  ----------------Deactivate Users from Payroll module----------------       
   SELECT @Cnt = COUNT(UserId) FROM @tblSalaryUserDetails    
       
   WHILE(@Cnt > 0)    
   BEGIN    
   SELECT TOP 1     
     @User_Id  = UserId,     
     @DtOfResign = DateOfResign     
   FROM @tblSalaryUserDetails    
       
   IF((DATEDIFF(M,@DtOfResign,dbo.GetLocalDate(DEFAULT))) >= 1)    
   BEGIN    
     UPDATE UsersStaffGroupsAssociation    
        SET Is_Locked = 1,    
         UpdateDate= dbo.GetLocalDate(DEFAULT),
         UpdatedById = 1    
       FROM @tblSalaryUserDetails tblSalaryUserDetails    
      WHERE UsersStaffGroupsAssociation.UserId = @User_Id   
	  and UsersStaffGroupsAssociation.Is_Deleted = 'N'  
         
     ---------UPDATE Salary History Table    
     EXEC dbo.usp_LockUnlockSalaryUser @SchoolId,@User_Id ,1, 1    
   END    
   DELETE FROM @tblSalaryUserDetails WHERE UserId = @User_Id    
   SELECT @Cnt = COUNT(UserId) FROM @tblSalaryUserDetails    
   END    
-------------------------------------------------------------------------------------------------------------- 
UPDATE User_Master    
   SET Is_Locked = N'Y',    
	   IsConsideredForMessage = 0,    
	   Deactivation_Reason = N'Due to Resignation.',    
	   Update_Date = dbo.GetLocalDate(DEFAULT),
	   Updated_By_Id = 1
 WHERE User_Id IN
	(	   
		SELECT UserId
		  FROM UserBasicDetails
		 WHERE SchoolId = @SchoolId
		   AND ResignationDate IS NOT NULL
		   AND CONVERT(DATE,ResignationDate) < CONVERT(DATE,dbo.GetLocalDate(DEFAULT))
	)
	AND Is_Locked = 'N'

	IF @SchoolId = 18
	begin
		UPDATE User_Master
		SET Is_Locked = 'N'
		WHERE User_Id IN (320)

		IF CONVERT(DATE,dbo.GetLocalDate(DEFAULT)) = '2019-08-16'
		BEGIN
			UPDATE UserScreenPermissions
			SET Is_Deleted = 1,
				Update_By_Id = 1,
				Update_Date = DBO.GetLocalDate(DEFAULT)
			WHERE Screen_Id = 240
		END
	end

	IF (@SchoolId = 71 OR @SchoolId = 18 OR @SchoolId = 11) AND CONVERT(DATE,dbo.GetLocalDate(DEFAULT)) = '2018-01-01'
	BEGIN
			UPDATE PCD
			SET PerTransactionAmountInRs = PCD.PerTransactionAmountInRs + 5
			FROM PayUChargesDetails PCD
			INNER JOIN NetBankingBanksDetails NBBD
			ON PCD.NetBankingBankId = NBBD.NetBankingBankId
			WHERE IsDeleted = 0
			AND PaymentGatewayId = 3
			AND PaymentTypeId = 1
	END
	  
 IF (@SchoolId = 11)
 BEGIN
		DECLARE @ReportingParameterUserId INT, @MessageDetailsId INT, @StudentList NVARCHAR(MAX),
				@Subject NVARCHAR(200),  @Body NVARCHAR(MAX),@ReceiversUserRoleId int , @DisplayText NVARCHAR(MAX),@SenderuserId int;

			select @SenderuserId=User_Id 
			from User_Master 
            where User_Role_Id=1
			AND IsSuperAdmin=0
			AND School_Id=@SchoolId
			AND Is_Deleted='N'
			AND Is_Locked='N'

		DECLARE @StudentDetails TABLE
		(
			Id INT IDENTITY(1,1),
			YearwiseStudentId INT,
			EnrolmentNo nvarchar(30),
			StudentName NVARCHAR(200)
		);

		INSERT INTO @StudentDetails (YearwiseStudentId, EnrolmentNo,StudentName)
		SELECT
	        YSD.YearWise_Student_Id,
			BSD.Enrolment_Number,
			BSD.StudentName
        FROM YearWise_Student_Details YSD
		INNER JOIN vw_BaseStudentDetails BSD
			ON YSD.Student_Id = BSD.SchoolWise_Student_Id
		INNER JOIN SwitchLoginDetails SLD
			ON SLD.SchoolwiseStudentId = BSD.SchoolWise_Student_Id
		INNER JOIN UserBasicDetails UBD
			ON UBD.UserId = SLD.ParentUserId
		WHERE YSD.School_Id = @SchoolId
		AND YSD.Academic_Year_ID = @AcademicYearId
		AND BSD.Is_Deleted = 'N'
		AND YSD.Is_Deleted = 'N'
		AND SLD.IsDeleted = 0
		AND UBD.IsDeleted = 0
		AND UBD.ResignationDate IS NOT NULL
		AND UBD.ResignationDate <= dbo.GetLocalDate(DEFAULT)
		AND (YSD.IsStaffKid = 1 Or YSD.Rule_Id <> 0);

		 UPDATE YSD
			SET Rule_Id = 0,
				IsStaffKid = 0
			from YearWise_Student_Details YSD
			Inner Join @StudentDetails SD
			ON SD.YearwiseStudentId=YSD.YearWise_Student_Id
		   WHERE Is_Deleted='N'
		   AND YSD.School_Id=@SchoolId
		   AND YSD.Academic_Year_ID=@AcademicYearId

			SELECT @StudentList=STUFF((
			SELECT '<br/>' + StudentName + ' (' + ISNULL(EnrolmentNo,'') + ')'
			FROM @StudentDetails
			ORDER BY Id
			FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,5,'');

		SELECT @DisplayText =STUFF(( SELECT ', ' + APU.UserName
									FROM ReportingUserDetails RUD
									INNER JOIN ReportingParameters RP
										ON RP.Id = RUD.ReportingTypeId
									INNER JOIN vw_AllPayrollUsers APU
										ON APU.UserId = RUD.Receiver_User_Id
									WHERE RP.Name = 'Staff Kid Removal Notifications'
										AND RP.IsDeleted = 0
										AND RP.SchoolId = @SchoolId
										AND RUD.Academic_Year_Id = @AcademicYearId
										AND RUD.Is_Deleted = 0
										AND APU.Is_Deleted = 'N'
								      FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),1,2,'');

   IF (@StudentList IS NOT NULL)
	  BEGIN
			SET @Subject = 'Staff Kid Facility Removed';
            SET @Body =
			'Hello,<br/><br/>' +
			'Due to the resignation of the associated staff member, the applicable concession rule and the "Is Staff Kid" option have been automatically removed for the following student(s):<br/><br/>' +
			@StudentList +
			'<br/><br/>' +
			'Please note: This is an automatically generated message. Please do not reply.';
			 INSERT INTO Message_Details (
							Subject,
							Message_Body,
							Display_Text,
							Is_DeletedFromUser,
							Is_Archive,
							Sender_User_Role_Id,
							Sender_User_Id,
							RequestReadReceipt,
							academic_Year_Id,
							Is_Deleted,
							Insert_Date,
							Inserted_By_Id )
					VALUES
					(   @Subject,
						@Body,
						@DisplayText,
						'N',
						'N',
						1,
						@SenderuserId,
						0,
						@AcademicYearId,
						'N',
						dbo.GetLocalDate(DEFAULT),
						@SenderuserId );

					SET @MessageDetailsId = SCOPE_IDENTITY();

				   INSERT INTO Message_Receiver_Details
					(
						Message_Details_Id,
						Read_Message_Flag,
						New_Message_Flag,
						Is_Archive,
						Is_DeletedFromReceiver,
						Receiver_User_Role_Id,
						Receiver_User_Id,
						IsReadRequestAccepted,
						ReadingDateTime,
						Is_Deleted,
						Insert_Date,
						Inserted_By_Id,
						Updated_Date,
						Updated_By_Id,
						IsCc,
						Reply_Forward_Flag
					)
					SELECT
						@MessageDetailsId,
						'N',                
						'Y',                  
						'N',                 
						'N',                    
						APU.UserRoleId,
						RUD.Receiver_User_Id,
						0,                   
						NULL,                  
						'N',                   
						dbo.GetLocalDate(DEFAULT),
						@SenderuserId,
						dbo.GetLocalDate(default),
						NULL,
						0,                      
						'N'                    
					FROM ReportingUserDetails RUD
					INNER JOIN ReportingParameters RP
						ON RP.Id = RUD.ReportingTypeId
					INNER JOIN vw_AllPayrollUsers APU
						ON APU.UserId = RUD.Receiver_User_Id
					WHERE RP.Name = 'Staff Kid Removal Notifications'
					  AND RP.IsDeleted = 0
					  AND RP.SchoolId = @SchoolId
					  AND RUD.Academic_Year_Id = @AcademicYearId
					  AND RUD.Is_Deleted = 0
				  AND APU.Is_Deleted = 'N';
       END;
   END
      EXECUTE usp_SendRetiremenStaffNotificationMail  @SchoolId
  END
go
