/****** Object:  StoredProcedure [dbo].[usp_TransferCertificate_PPSH]    Script Date: 8/25/2025 11:29:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- ===================================================================                  
-- Author: Dnyaneshwar Shinde           
-- Create date: 13 Dec 2017              
-- Description: This procedure is used to get Transfer Certificate details of a student                  
-- ===================================================================                  
ALTER PROCEDURE [dbo].[usp_TransferCertificate_PPSH]
 @School_Id INT,                  
 @Enrolment_Number NVARCHAR(50)=NULL,
 @PrintDate nvarchar(100)=NULL
AS                  
BEGIN                  
 -- SET NOCOUNT ON added to prevent extra result sets from                  
 -- interfering with SELECT statements.                  
 SET NOCOUNT ON;     
 
 DECLARE @AcademicYearID INT,
         @RollNo INT,
		 @StandardName NVARCHAR(15),
		 @StandardId INT,
		 @DivisionName NVARCHAR(20),
		 @AadharCardNo NVARCHAR(15) = '',
		 @StandardDivisionId INT,
		 @YearwiseStudentId INT,
		 @IsRTEStudent BIT = 0,
		 @RuleId INT = 0,
		 @IsPrePrimaryStudent CHAR(1)
		 
 
    SELECT TOP 1 @AcademicYearID = Academic_Year_ID
	  FROM SchoolWise_Student_Master SM
INNER JOIN SchoolWise_Academic_Year_Master SWAYM
		ON SM.School_Id = SWAYM.School_Id
	 WHERE SM.Enrolment_Number = @Enrolment_Number
	   AND SM.Is_Deleted = 'N'
	   AND SM.SchoolLeft_Date IS NOT NULL
	   AND SM.SchoolLeft_Date > SWAYM.Start_date
  ORDER BY SWAYM.Academic_Year_ID DESC

  IF @School_Id = 11 AND 
  EXISTS
  (
	  select top 1 1
	  from YearWise_Student_Details YSD
	  INNER JOIN vw_BaseStudentDetails BSD
	  ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	  INNER JOIN vw_standard_division VSD
	  ON YSD.Standard_Id = VSD.Standard_Id
	  AND YSD.Division_id = VSD.Division_Id
	  WHERE YSD.Academic_Year_ID = @AcademicYearID
	  AND YSD.School_Id = @School_Id
	  AND BSD.Enrolment_Number = @Enrolment_Number
	  AND YSD.Is_Deleted = 'N'
	  AND VSD.className = '10-G'
   )
   BEGIN
		SELECT TOP 1 @AcademicYearID = Academic_Year_ID
		FROM SchoolWise_Academic_Year_Master
		WHERE School_Id = @School_Id
		AND Is_Deleted = 'N'
		AND Academic_Year_ID < @AcademicYearID
		ORDER BY Academic_Year_ID DESC
   END

	  SELECT @RollNo = YWSD.Roll_No,
	         @StandardName = vwSD.Standard_Name,
			 @DivisionName = vwSD.Division_Name,
			 @AadharCardNo = SWSM.AadharCardNo,
			 @StandardDivisionId = vwSD.SchoolWise_Standard_Division_Id,
			 @YearwiseStudentId = YWSD.YearWise_Student_Id,
			 @IsRTEStudent = Is_RTE_Student,
			 @RuleId = Rule_Id,
			 @IsPrePrimaryStudent = SM.Is_PrePrimary
		FROM YearWise_Student_Details YWSD
  INNER JOIN SchoolWise_Student_Master SWSM
		  ON YWSD.Student_Id = SWSM.SchoolWise_Student_Id
		 AND YWSD.School_Id = SWSM.School_Id  
  INNER JOIN vw_standard_division vwSD
		  ON vwSD.Standard_Id = YWSD.Standard_Id
		 AND vwSD.Division_Id = YWSD.Division_id
		 AND vwSD.School_Id = YWSD.School_Id
		 AND vwSD.academic_year_id = YWSD.Academic_Year_ID
  INNER JOIN Standard_Master SM
		  ON SM.Standard_Id = vwSD.Standard_Id
		 AND SM.Original_Standard_Id = vwSD.Original_Standard_Id
		 AND SM.academic_Year_Id = vwSD.academic_year_id
		 AND SM.School_Id = YWSD.School_Id
	   WHERE SWSM.Enrolment_Number = @Enrolment_Number
	     AND YWSD.School_Id = @School_Id
		 AND YWSD.Academic_Year_ID = @AcademicYearID
		 AND YWSD.Is_Deleted = 'N'	
		 AND SM.Is_Deleted = 'N'	 

DECLARE @tblStudentLCDetails AS TABLE
(
    SrNo INT,
	StudentId INT,
	EnrolmentNo NVARCHAR(50),
	StudentFullName NVARCHAR(100),
	AadharCardNo NVARCHAR(15),
	FatherName NVARCHAR(50),
	SurName NVARCHAR(30),
	MotherName NVARCHAR(50),
	Nationality NVARCHAR(50),
	MotherTongue NVARCHAR(30),
	Religion NVARCHAR(30),
	CastAndSubCast NVARCHAR(30),
	Category NVARCHAR(30),
	BirthPlace NVARCHAR(100),
	BirthTaluka NVARCHAR(50),
	BirthDistrict NVARCHAR(50),
	State NVARCHAR(50),
	DOB NVARCHAR(50), 
	DateOfBirthInWorld NVARCHAR(50),
	LastSchoolNameAndClass NVARCHAR(200),
	DateOfAdmission NVARCHAR(50),
	AdmissionClass NVARCHAR(30),
	SchoolLeftDate DATETIME,
	SchoolLeftClass NVARCHAR(30),
	SchoolLeftClassInText NVARCHAR(500),
	Since NVARCHAR(100),
	ReasonOfLiving NVARCHAR(200),
	Remark NVARCHAR(100),
	SchoolId INT,
	CopyNo INT,
	SchoolMedium NVARCHAR(50),
	AcademicPerformance NVARCHAR(100),
	Behaviour NVARCHAR(100),
	Progress NVARCHAR(100),
	GeneralConduct NVARCHAR(150),
	AllDueseAreSetteled NVARCHAR(100),
	PramotedToNext BIT,
	IsFailed BIT,
	ExamStatus NVARCHAR(15),
	PramotedToNextClass NVARCHAR(15)
   ,StudentUDISENumber Nvarchar(100)
   ,AnnualExaminationResult Nvarchar(100)
   ,PenNo NVARCHAR(50)
   ,CreatedByUser NVARCHAR(100)
)
	

		INSERT INTO @tblStudentLCDetails
			 SELECT LCD.SerialNumber,
					vwBSD.SchoolWise_Student_Id,
					vwBSD.Enrolment_Number,					
			        CASE WHEN (@School_Id = 128 OR @School_Id = 129) THEN CASE WHEN LCD.StudentName LIKE '%Master%' THEN REPLACE(LCD.StudentName,'Master','')
						 WHEN LCD.StudentName LIKE '%Miss%' THEN REPLACE(LCD.StudentName,'Miss','')
						 ELSE LCD.StudentName END 
				    ELSE LCD.StudentName END AS StudentName,
					CASE WHEN LCD.AadharCardNo IS NOT NULL OR LCD.AadharCardNo <> '' THEN LCD.AadharCardNo ELSE  vwBSD.AadharCardNo END AS AadharCardNo,
					CASE WHEN LCD.Parent_Name IS NULL OR LCD.Parent_Name = '' THEN vwBSD.Middle_Name ELSE LCD.Parent_Name END,
					vwBSD.Last_Name,
					CASE WHEN LCD.Mother_Name IS NULL OR LCD.Mother_Name = '' THEN vwBSD.Mother_Name ELSE LCD.Mother_Name END,
					vwBSD.Nationality,
					CASE WHEN (LCD.MotherTongue IS NULL OR LCD.MotherTongue = '') THEN vwBSD.Mother_Tongue ELSE LCD.MotherTongue END,
					CASE WHEN LCD.Religion IS NOT NULL OR LCD.Religion <> '' THEN LCD.Religion ELSE SAD.Religion END,
					CASE WHEN LCD.CasteAndSubCaste IS NOT NULL OR LCD.CasteAndSubCaste <> '' THEN LCD.CasteAndSubCaste ELSE vwBSD.CasteAndSubCaste END,
					CM.Category_Name,
					CASE WHEN CONVERT(NVARCHAR(100),LCD.Birthplace) IS NOT NULL OR CONVERT(NVARCHAR(100),LCD.Birthplace) <> '' THEN CONVERT(NVARCHAR(100),LCD.Birthplace) ELSE vwBSD.Birth_Place END AS Birth_Place,
					CASE WHEN LCD.BirthTaluka IS NOT NULL OR LCD.BirthTaluka <> '' THEN LCD.BirthTaluka ELSE SAD.BirthTaluka END AS BirthTaluka,
					CASE WHEN LCD.BirthDistrict IS NOT NULL OR LCD.BirthDistrict <> '' THEN LCD.BirthDistrict ELSE SAD.BirthDistrict END AS BirthDistrict,
					vwBSD.State,
				    vwBSD.DOB,
					--vwBSD.DateOfBirthInText,
					[dbo].[udf_ConvertDateToText](vwBSD.DOB) AS DateOfBirthInText,
					CASE WHEN @School_Id = 127 THEN CASE WHEN CONVERT(NVARCHAR(100), LCD.Last_school_name) IS NULL OR CONVERT(NVARCHAR(100), LCD.Last_school_name) <> '' THEN CONVERT(NVARCHAR(500), LCD.Last_school_name) + ' (' + CONVERT(NVARCHAR(50), LCD.Last_School_Standard) + ') ' ELSE CONVERT(NVARCHAR(500), vwBSD.LastSchoolName) + ' (' + CONVERT(NVARCHAR(50), vwBSD.LastCompletedStd) + ') ' END ELSE CONVERT(NVARCHAR(500), LCD.Last_school_name) END,
					vwBSD.Admission_Date,
				    CASE WHEN LCD.AdmissionStandard IS NOT NULL OR LCD.AdmissionStandard <> '' THEN LCD.AdmissionStandard ELSE SAD.AddmissionStandard END,
			        vwBSD.SchoolLeft_Date,
					LCD.Class_Name_While_Leaving,
					CASE WHEN @IsPrePrimaryStudent = 'N' THEN dbo.udf_ConvertNumberToText(@StandardName) ELSE @StandardName END + ' - ' + @DivisionName,
					CONVERT(NVARCHAR(5), YEAR(vwBSD.Admission_Date)),
					LCD.Reason_Of_Leaving,
					LCD.Remarks,
					@School_Id,
					LCID.CopyNo,
					SMS.Medium,
					LCD.Conduct,
					LCD.Promotion,
					LCD.Progress_Details,
					LCD.Conduct,
				--	LCD.IsAllDueSettled,
				    CASE WHEN LCD.IsAllDueSettled = 1 THEN 'Yes'
						 WHEN LCD.IsAllDueSettled = 2 THEN 'No'
						 WHEN LCD.IsAllDueSettled = 3 THEN 'N/A'
						 ELSE '' END AS IsAllDueSettled,
					LCD.IsPromotedToHigherClass,
					LCD.IsFailed,
					CASE WHEN LCD.ExamStatusId = 1 THEN 'Yes'
						 WHEN LCD.ExamStatusId = 2 THEN 'No'
						 WHEN LCD.ExamStatusId = 3 THEN 'N/A'
						 WHEN LCD.ExamStatusId = 4 THEN ' '
						 ELSE '' END AS ExamStatus,
					CASE WHEN LCD.PramotedToNextStatusId = 1 THEN 'Yes'
						 WHEN LCD.PramotedToNextStatusId = 2 THEN 'No'
						 WHEN LCD.PramotedToNextStatusId = 3 THEN 'N/A'
						 WHEN LCD.PramotedToNextStatusId = 4 THEN ' '
						 ELSE '' END AS PramotedToNextStatus,
			             ISNULL(LCD.UDISENumber,SSM.UDISENumber),
						 lcd.AnnualExaminationResult,
						 LCD.PenNo,
						( select APU.UserName+ ' (' + APU.Designation + ')' from User_Master UM
						                inner join vw_AllPayrollUsers APU on UM.User_Id=APU.UserId where User_Id=LCD.Inserted_By_id )as CreatedByUser
			   FROM vw_BaseStudentDetails vwBSD
		 INNER JOIN LC_Details LCD
				 ON LCD.Enrolment_Number = vwBSD.Enrolment_Number
				AND LCD.School_Id = vwBSD.School_Id
    LEFT OUTER JOIN SchoolMediums SMS
				 ON LCD.SchoolMediumId = SMS.Id
    LEFT OUTER JOIN LC_Issue_Details LCID
				 ON LCID.LC_Details_Id = LCD.LC_Details_Id
				AND LCID.School_Id = LCD.School_Id
				AND LCID.Is_Deleted = 'N'
    LEFT OUTER JOIN StudentAdditionalDetails SAD	
				 ON SAD.SchoolwiseStudentId = vwBSD.SchoolWise_Student_Id
				AND SAD.SchoolId = vwBSD.School_Id
				AND SAD.IsDeleted = 0
		 INNER JOIN Category_Master CM
				 ON CM.Category_Id = vwBSD.Category_Id
		 INNER JOIN SchoolWise_Student_Master SSM
		         ON SSM.SchoolWise_Student_Id=vwBSD.SchoolWise_Student_Id
			  WHERE vwBSD.School_Id = @School_Id
			    AND vwBSD.Enrolment_Number = @Enrolment_Number
				AND vwBSD.Is_Deleted = 'N'

				
		DECLARE @TotalAttendanceDays INT = 0,
				@TotalPresentDays INT = 0


		   SELECT @TotalAttendanceDays = COUNT(1)
		     FROM 
				(
					SELECT Attendance_Date
					  FROM SchoolWise_Attendance_Details
					 WHERE School_Id = @School_Id
					   AND Academic_Year_Id = @AcademicYearID
					   AND Is_Deleted = 'N'
					   AND Standard_Division_Id = @StandardDivisionId
					   AND Student_Id = @YearwiseStudentId
				  GROUP BY Attendance_Date
				)SS		

				SELECT @TotalPresentDays = COUNT(1)
				  FROM
					 (
						SELECT Attendance_Date
						  FROM SchoolWise_Attendance_Details
						 WHERE School_Id = @School_Id
						   AND Academic_Year_Id = @AcademicYearID
						   AND Is_Deleted = 'N'
						   AND Standard_Division_Id = @StandardDivisionId
						   AND Student_Id = @YearwiseStudentId
						   AND Is_Present = 'Y'
					  GROUP BY Attendance_Date
					  )ASS

			SELECT tblStudent.SrNo,
				   tblStudent.StudentId,
			       tblStudent.CopyNo,
				   @RollNo AS RollNo,
				   tblStudent.EnrolmentNo,
				   tblStudent.StudentFullName,
				   CASE WHEN tblStudent.AadharCardNo IS NULL OR tblStudent.AadharCardNo = '' THEN '-' ELSE tblStudent.AadharCardNo END AS AadharCardNo,
				   tblStudent.FatherName,
				   SurName,
				   MotherName,
				   Nationality,
				   MotherTongue,
				   Religion,
				   CastAndSubCast,
				   BirthPlace,
				   BirthTaluka, 
				   BirthDistrict,
				   State,
				   DOB,
				   DateOfBirthInWorld,
				   LastSchoolNameAndClass,
				   DateOfAdmission,
				   AdmissionClass,
				   SchoolLeftDate,
				   SchoolLeftClass,
				   SchoolLeftClassInText,
				   Since,
				   ReasonOfLiving,
				   Remark,
				   Progress,				   
				   tblStudent.AcademicPerformance,
				   tblStudent.Behaviour,
				   GeneralConduct,			
				   @TotalAttendanceDays AS TotalAttendanceDays,
				   @TotalPresentDays AS TotalPresentDays,	
				   CASE WHEN @IsRTEStudent = 1 THEN 'Yes (RTE Student)'
						WHEN @RuleId <> 0 THEN 'Yes (Staff Kid)'
						ELSE 'No' END AS IsConcessionApplicable,
				   CASE WHEN PramotedToNext = 1 THEN 'Yes' ELSE 'No' END AS PramotedToNext, 
				   CASE WHEN IsFailed = 1 THEN 'Yes' ELSE 'No' END AS IsFailed,
				   --CASE WHEN AllDueseAreSetteled = 1 THEN 'Yes'  ELSE 'No' END AS AllDueseAreSetteled,
				    AllDueseAreSetteled,
				   CASE WHEN (Category = 'SC' OR Category = 'ST' OR Category = 'OBC') THEN 'Yes' ELSE 'No' END AS IsBackwordCategory,
				   Category,
				   CASE WHEN @PrintDate IS NULL OR @PrintDate = '' THEN dbo.GetLocalDate(DEFAULT) ELSE @PrintDate END AS PrintDate,
				   CASE WHEN @PrintDate IS NULL OR @PrintDate = '' THEN DATENAME(mm,dbo.GetLocalDate(DEFAULT)) ELSE DATENAME(MM,@PrintDate) END AS PrintMonth,
				   CASE WHEN @PrintDate IS NULL OR @PrintDate = '' THEN YEAR(dbo.GetLocalDate(DEFAULT)) ELSE YEAR(@PrintDate) END AS PrintYear,	
				   ExamStatus,			
				   PramotedToNextClass,
				   PenNo,
				   UPPER(SM.School_Name) School_Name,
				   UPPER(SM.School_Name) AS FooterSchoolName,
				   UPPER(SM.City) AS City,
				   UPPER(SM.School_Orgn_Name) School_Orgn_Name,
				   SM.Pincode,
				   SM.Phone_Number,
				   SM.Phone_Number2,				   
				   SM.Email,
				   SM.WebSite,
				   SM.Logo
				  ,tblStudent.StudentUDISENumber,
				  AnnualExaminationResult,
				  CreatedByUser
			  FROM @tblStudentLCDetails tblStudent
		INNER JOIN School_Master SM
				ON tblStudent.SchoolId = SM.School_Id
			 WHERE SM.School_Id = @School_Id
			   AND SM.Is_Deleted = 'N'
                  
END
GO
