/****** Object:  StoredProcedure [dbo].[usp_GetPrelimProgressReportForVP]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 22-Jan-2025
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetPrelimProgressReportForVP]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT,
	@Note NVARCHAR(1000) = '',
	@TermId INT,
	@IsFromReportScreen BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @TermId = 2

    DECLARE @TermStartDate DATE,
			@TermEndDate DATE,
			@TermHeader NVARCHAR(200)

	declare @TblExams AS TABLE
	(
		SchoolwiseTestId INT
	)

	INSERT INTO @TblExams
	SELECT SchoolWise_Test_Id
	FROM SchoolWise_Test_Master
	WHERE School_Id = @School_Id
	AND academic_year_id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	and SchoolWise_Test_Name in ('Preliminary Examination')

	select @TermStartDate = TermStartDate,
			@TermEndDate = TermEndDate
	from StudentTermwiseTestMaster
	where School_Id = @School_Id
	and Academic_Year_Id = @Academic_Year_Id
	and Is_Deleted = 0
	and SchoolwiseTermId = 2
	AND StandardId = @Standard_Id

	DECLARE @AttendanceEndDate DATE

	IF @Academic_Year_Id = 2
		SET @AttendanceEndDate = '2025-01-31'
	ELSE
		SET @AttendanceEndDate = NULL

	SELECT @TermHeader = ' ('+ CAST(YEAR(Start_date) AS NVARCHAR(4))+' - '+CAST(YEAR(End_Date) AS NVARCHAR(4))+')'
	FROM SchoolWise_Academic_Year_Master
	WHERE Academic_Year_ID  =@Academic_Year_Id
	AND School_Id = @School_Id
	AND Is_Deleted = 'N'

	DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id INT,
		StudentName NVARCHAR(150),
		Enrolment_Number  NVARCHAR(100),
		DOB DATE,
		Roll_No INT,
		ClassName  NVARCHAR(150),
		PresentDays DECIMAL(10,2),
		TotalDays DECIMAL(10,2),
		Remarks NVARCHAR(500),
		ThirdLanguageSubjectId INT,
		StudentPhoto IMAGE
	)
		
	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id,
		   BSD.StudentFLName,
		   BSD.Enrolment_Number,
		   BSD.DOB,
		   YSD.Roll_No,
		   VSD.className,
		   ISNULL(ATT.PresentDays,0) as PresentDays,
		   ISNULL(ATT.TotalDays,0) as TotalDays,
		   CASE WHEN @Note IS NOT NULL AND @Note <> '' THEN @Note ELSE ISNULL(REMARK.RemarkDetails,'') END AS Remarks,
		   sm.Subject_Id
		  ,BSD.Photo_file_Path_Image
	FROM YearWise_Student_Details YSD
	INNER JOIN vw_BaseStudentDetails BSD
	ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	LEFT OUTER JOIN Subject_Master SM
	ON YSD.ThirdLanguageSubjectId = SM.Original_Subject_Id
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.School_Id = @School_Id
	AND SM.Is_Deleted = 'N'
	LEFT OUTER JOIN
	(
		SELECT SAD.Student_Id, COUNT(1) AS TotalDays, SUM(CASE WHEN Is_Present = 'Y' THEN 1 ELSE 0 END) AS PresentDays
		FROM SchoolWise_Attendance_Details SAD
		INNER JOIN vw_standard_division VSD
		ON SAD.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
		AND SAD.Academic_Year_Id = VSD.academic_year_id
		WHERE VSD.Standard_Id = @Standard_Id
		AND VSD.School_Id = @School_Id
		AND VSD.Academic_Year_ID = @Academic_Year_Id
		and vsd.SchoolWise_Standard_Division_Id = @Division_Id
		and (SAD.Student_Id = @Student_Id or @Student_Id = 0)
		AND SAD.Is_Deleted = 'N'
		AND (CONVERT(DATE,sad.Attendance_Date) <= @AttendanceEndDate OR @AttendanceEndDate IS NULL)	
		GROUP BY SAD.Student_Id
	)ATT
	on ysd.YearWise_Student_Id = ATT.Student_Id
	LEFT OUTER JOIN
	(
		SELECT S1.YearwiseStudentId, S1.RemarkDetails
		FROM StudentwiseRemarkConfigDetails S1
		INNER JOIN TermWiseRemarksDetails S2
		ON S1.TermwiseRemarkDetailId = S2.TermWiseRemarksDetailsId
		WHERE S1.IsDeleted = 'N'
		AND S2.Is_Deleted = 'N'
		AND S2.Term_Id = 2
		AND S1.SchoolId = @School_Id
		AND S1.AcademicYearId = @Academic_Year_Id
		AND S1.StandardDivisionId = @Division_Id
	)REMARK
	ON YSD.YearWise_Student_Id = REMARK.YearwiseStudentId
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	and vsd.SchoolWise_Standard_Division_Id = @Division_Id
	and (ysd.YearWise_Student_Id = @Student_Id or @Student_Id = 0)
	
	declare @tblMarks AS TABLE
	(
		YearWise_Student_Id INT,
		Subject_Id INT,
		SubjectSortOrder INT, 
		Subject_Name NVARCHAR(100), 
		Schoolwise_Test_Id INT,
		TestSortOrder INT, 
		SchoolWise_Test_Name NVARCHAR(100),
		Total_Marks_Scored DECIMAL(10,2),
		Marks NVARCHAR(100),
		OutOfMarks DECIMAL(10,2),
		Is_Absent CHAR,
		AdjustedMarks DECIMAL(10,2),
		IsGradingSubject BIT
	)

	INSERT INTO @tblMarks
	select SSTM.Student_Id,SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, sm.Subject_Name,STM.SchoolWise_Test_Id, SSTMR.Sort_Order AS TestSortOrder, stm.SchoolWise_Test_Name,
	SSTM.Total_Marks_Scored,
	SSTM.Total_Marks_Scored,-- FOR MARKS
	CASE WHEN STSMM.OutOfMarks IS NOT NULL AND STSMM.OutOfMarks <> 0 THEN STSMM.OutOfMarks ELSE STSMM.Subject_Total_Marks END AS OutOfMarks,
	SSTM.Is_Absent,
	0,
	0
	from SchoolWise_Student_Test_Marks SSTM
	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	INNER JOIN Subject_Master SM
	ON STSMM.Subject_Id = SM.Subject_Id
	INNER JOIN YearWise_Student_Details YSD
	ON SSTM.Student_Id = YSD.YearWise_Student_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON YSD.Standard_Id = SSSM.Standard_Id
	AND SM.Subject_Id = SSSM.Subject_Id
	INNER JOIN Schoolwise_Standard_Test_Master SSTMR
	ON YSD.Standard_Id = SSTMR.Standard_Id
	AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
	LEFT OUTER JOIN SchoolWise_StanderedDivision_Test_Master SSDTM
	ON STSMM.Standard_Division_Id = SSDTM.Standerd_division_Id
	AND STSMM.SchoolWise_Test_Id = SSDTM.SchoolWise_Test_Id
	AND SSDTM.Is_Deleted = 'N'
	and SSDTM.Is_Published = 'Y'
	WHERE SSTM.Is_Deleted = 'N'
	AND STSMM.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND SM.Is_Deleted = 'N'
	AND SSSM.Is_Deleted = 'N'
	AND SSTMR.Is_Deleted = 'N'
	AND STSMM.School_Id = @School_Id
	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	AND STSMM.Standard_Division_Id = @Division_Id
	and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
	AND YSD.Is_Deleted = 'N'
	--AND STM.Term_Id = @TermId
	AND STM.SchoolWise_Test_Id IN (SELECT SchoolWiseTestId FROM @TblExams)
	AND STSMM.Grade_Or_Marks = 'M'
	AND STSMM.Is_Submitted = 'Y'
	AND (@IsFromReportScreen = 1 OR (@IsFromReportScreen = 0 AND SSDTM.Standerd_division_Id IS NOT NULL))

	UPDATE TM
	SET Total_Marks_Scored = TM.Total_Marks_Scored + S.Total_Marks_Scored,
		Marks = TM.Total_Marks_Scored + S.Total_Marks_Scored,
		OutOfMarks = TM.OutOfMarks + S.OutOfMarks
	FROM @tblMarks TM
	INNER JOIN
	(
		select sstm.Student_Id,
		sstm.Subject_Id,
		SSTM.Total_Marks_Scored,
		CASE WHEN STSMM.OutOfMarks IS NOT NULL AND STSMM.OutOfMarks <> 0 THEN STSMM.OutOfMarks ELSE STSMM.Subject_Total_Marks END AS OutOfMarks
		from SchoolWise_Student_Test_Marks SSTM
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Master STM
		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		INNER JOIN YearWise_Student_Details YSD
		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON YSD.Standard_Id = SSSM.Standard_Id
		AND SM.Subject_Id = SSSM.Subject_Id
		INNER JOIN Schoolwise_Standard_Test_Master SSTMR
		ON YSD.Standard_Id = SSTMR.Standard_Id
		AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
		LEFT OUTER JOIN SchoolWise_StanderedDivision_Test_Master SSDTM
		ON STSMM.Standard_Division_Id = SSDTM.Standerd_division_Id
		AND STSMM.SchoolWise_Test_Id = SSDTM.SchoolWise_Test_Id
		AND SSDTM.Is_Deleted = 'N'
		and SSDTM.Is_Published = 'Y'
		WHERE SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND SSTMR.Is_Deleted = 'N'
		AND STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Standard_Division_Id = @Division_Id
		and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
		AND YSD.Is_Deleted = 'N'
			and sstm.Subject_Id IN (SELECT Subject_Id FROM @tblMarks	WHERE OutOfMarks <> 100)
		AND STM.SchoolWise_Test_Name = 'First Term Examination'
		AND STSMM.Grade_Or_Marks = 'M'
		AND STSMM.Is_Submitted = 'Y'
		AND (@IsFromReportScreen = 1 OR (@IsFromReportScreen = 0 AND SSDTM.Standerd_division_Id IS NOT NULL))
	)S
	ON TM.YearWise_Student_Id = S.Student_Id
	AND TM.Subject_Id = S.Subject_Id
	WHERE TM.OutOfMarks <> 100

	update tm
	SET OutOfMarks = TM.OutOfMarks - S.TestType_Total_Marks
	from @tblMarks tm
	inner join
	(
		select sstm.Student_Id,STSMM.SchoolWise_Test_Id, sstm.Subject_Id, STSMD.TestType_Total_Marks
		from SchoolWise_Student_Test_Marks SSTM
		INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
		ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Test_Master STM
		ON STSMM.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
		INNER JOIN Subject_Master SM
		ON STSMM.Subject_Id = SM.Subject_Id
		INNER JOIN YearWise_Student_Details YSD
		ON SSTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN SchoolWise_Standard_Subject_Master SSSM
		ON YSD.Standard_Id = SSSM.Standard_Id
		AND SM.Subject_Id = SSSM.Subject_Id
		INNER JOIN Schoolwise_Standard_Test_Master SSTMR
		ON YSD.Standard_Id = SSTMR.Standard_Id
		AND STM.SchoolWise_Test_Id = SSTMR.SchoolWise_Test_Id
		INNER JOIN SchoolWise_Test_Subject_Marks_Details STSMD
		ON 	STSMM.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
		INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
		ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
		AND STSMD.TestType_Id = SSTMD.TestType_Id
		WHERE SSTM.Is_Deleted = 'N'
		AND STSMM.Is_Deleted = 'N'
		AND STM.Is_Deleted = 'N'
		AND SM.Is_Deleted = 'N'
		AND SSSM.Is_Deleted = 'N'
		AND SSTMR.Is_Deleted = 'N'
		AND STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Standard_Division_Id = @Division_Id
		and (SSTM.Student_Id = @Student_Id or @Student_Id = 0)
		AND YSD.Is_Deleted = 'N'
		--AND STM.Term_Id = @TermId
		AND STM.SchoolWise_Test_Id IN (SELECT SchoolWiseTestId FROM @TblExams)
		AND STSMM.Grade_Or_Marks = 'M'
		AND STSMM.Is_Submitted = 'Y'
		AND STSMD.Is_Deleted = 'N'
		AND SSTMD.Is_Deleted = 'N'
		AND SSTMD.Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SCHOOLID = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'N')
		and SSTM.Total_Marks_Scored <> 0
	)S
	ON TM.YearWise_Student_Id = S.Student_Id
	AND TM.Schoolwise_Test_Id = S.SchoolWise_Test_Id
	AND TM.Subject_Id = S.Subject_Id
	WHERE TM.OutOfMarks - S.TestType_Total_Marks > 0
	
	update @tblMarks
	set SubjectSortOrder = SubjectSortOrder * 10
	
	DECLARE @TblGroups AS TABLE
	(
		SubjectId INT,
		SubjectName NVARCHAR(100),
		OriginalSubjectId INT
	)
	
	INSERT INTO @TblGroups
	SELECT 8000, 'ENGLISH',6 UNION
	SELECT 8000, 'ENGLISH',7 UNION
	SELECT 8001, 'HCG',17 UNION
	SELECT 8001, 'HCG',20 UNION
	SELECT 8002, 'SCIENCE',13 UNION
	SELECT 8002, 'SCIENCE',14 UNION
	SELECT 8002, 'SCIENCE',15 

	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.SubjectId ,
		tm1.MaxSubjectSortOrder - 5 , 
		tm1.SubjectName, 
		tm2.Schoolwise_Test_Id,
		TM2.TestSortOrder , 
		tm2.SchoolWise_Test_Name,
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		0
	FROM
	(
			SELECT  YearWise_Student_Id ,
			   TG.SubjectId ,
			   MIN(SubjectSortOrder) AS MaxSubjectSortOrder , 
			   TG.SubjectName,
			   'N' as Is_Absent
		FROM @tblMarks TM1
		INNER JOIN Subject_Master SM
		ON TM1.Subject_Id = SM.Subject_Id
		INNER JOIN @TblGroups TG
		ON sm.Original_Subject_Id = TG.OriginalSubjectId
		AND SM.Is_Deleted = 'N'
		AND SM.academic_Year_Id = @Academic_Year_Id
		and sm.School_Id = @School_Id
		group by YearWise_Student_Id ,
			TG.SubjectId ,		
			TG.SubjectName
	)TM1
	INNER JOIN
	(
		SELECT YearWise_Student_Id,SubjectName, Schoolwise_Test_Id,TestSortOrder, SchoolWise_Test_Name,
		SUM(Total_Marks_Scored)/CASE WHEN SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) = 0 THEN 1 ELSE SUM(CASE WHEN ConsiderMarks = 0 THEN 0 ELSE 1 END) END AS Total_Marks_Scored, 
		--SUM(Total_Marks_Scored)/CASE WHEN SUM(CASE WHEN Total_Marks_Scored = 0 THEN 0 ELSE 1 END) = 0 THEN 1 ELSE SUM(CASE WHEN Total_Marks_Scored = 0 THEN 0 ELSE 1 END) END AS Total_Marks_Scored, 
		SUM(OutOfMarks)/count(1) AS OutOfMarks
		--SUM(Total_Marks_Scored)/count(1) AS Total_Marks_Scored, SUM(OutOfMarks)/count(1) AS OutOfMarks
		from
		(
			SELECT TM.YearWise_Student_Id,tg.SubjectName, tm.Schoolwise_Test_Id,tm.TestSortOrder,tm.SchoolWise_Test_Name,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')
				THEN Total_Marks_Scored ELSE 0 END as Total_Marks_Scored,
			--CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')
			--	THEN OutOfMarks ELSE 0 END as OutOfMarks
			OutOfMarks,
			CASE WHEN Is_Absent = 'N' OR Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y') THEN 1 ELSE 0 END AS ConsiderMarks
			FROM @tblMarks TM		
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON sm.Original_Subject_Id = TG.OriginalSubjectId
			WHERE 
			--(Is_Absent = 'N' OR (Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ConsiderInTotal = 'Y')))
			--AND 
			SM.Is_Deleted = 'N'
			AND SM.academic_Year_Id = @Academic_Year_Id
			and sm.School_Id = @School_Id
		)S
		group by YearWise_Student_Id,SubjectName,Schoolwise_Test_Id,TestSortOrder,SchoolWise_Test_Name
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	and tm1.SubjectName = tm2.SubjectName

	UPDATE @tblMarks
	SET Marks = case when Is_Absent = 'N' OR (Total_Marks_Scored IS NOT NULL AND Total_Marks_Scored <> 0) then CAST(Total_Marks_Scored AS NVARCHAR(10)) else (SELECT DisplayValue FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ShortName = Is_Absent) END
	
	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent NOT IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')

	UPDATE @tblMarks
	SET AdjustedMarks = Total_Marks_Scored
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	and Total_Marks_Scored <> 0

	UPDATE TM
	SET AdjustedMarks = ADJSTD.Marks
	FROM @tblMarks TM
	inner join Subject_Master SM
	ON TM.Subject_Id = SM.Subject_Id
	INNER JOIN @TblGroups TG
	ON SM.Original_Subject_Id = TG.OriginalSubjectId

	inner join
	(
		select TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, round((sum(Total_Marks_Scored)/sum(OutOfMarks))*SS1.ExOutOfMarks,2) as Marks
		from @TblGroups TTG
		INNER JOIN Subject_Master SM1
		ON TTG.OriginalSubjectId = SM1.Original_Subject_Id
		INNER JOIN @tblMarks TM
		ON SM1.Subject_Id = TM.Subject_Id
		LEFT OUTER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS
		ON TTG.SubjectId = SS.SubjectId	
		AND TTG.OriginalSubjectId = SS.OriginalSubjectId
		and TM.Schoolwise_Test_Id = SS.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS.YearWise_Student_Id
		INNER JOIN
		(
			select TM.YearWise_Student_Id, TG.SubjectId, tg.OriginalSubjectId, tm.Schoolwise_Test_Id, TM.OutOfMarks AS ExOutOfMarks
			FROM @tblMarks TM
			inner join Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)SS1
		ON TTG.SubjectId = SS1.SubjectId	
		and TM.Schoolwise_Test_Id = SS1.Schoolwise_Test_Id
		AND TM.YearWise_Student_Id = SS1.YearWise_Student_Id
		WHERE SM1.School_Id = @School_Id
		AND SM1.academic_Year_Id = @Academic_Year_Id
		AND SM1.Is_Deleted = 'N'
		AND SS.YearWise_Student_Id IS NULL
		group by SS1.ExOutOfMarks,TTG.SubjectId, ttg.SubjectName, tm.YearWise_Student_Id,tm.Schoolwise_Test_Id
	)ADJSTD
	ON TM.YearWise_Student_Id = ADJSTD.YearWise_Student_Id
	AND TM.Schoolwise_Test_Id = ADJSTD.Schoolwise_Test_Id
	AND TG.SubjectId = ADJSTD.SubjectId
	WHERE Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 and ConsiderInTotal = 'N')
	AND SM.academic_Year_Id = @Academic_Year_Id
	AND SM.Is_Deleted = 'N'
		
	update tm1
	set Is_Absent = 'E'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'E'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId
	
	update tm1
	set Is_Absent = 'J'
	from @tblMarks tm1
	inner join
	(
		select t2.YearWise_Student_Id,t2.Schoolwise_Test_Id,t2.SubjectId
		from
		(
			select SubjectId, count(1) as Cnt
			from @TblGroups
			group by SubjectId
		)t1
		inner join
		(
			select  tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId, count(1) as Cnt
			FROM @tblMarks TM	
			inner join Subject_Master sm
			on tm.Subject_Id = sm.Subject_Id	
			inner join @TblGroups tg
			on sm.Original_Subject_Id = tg.OriginalSubjectId
			where SchoolWise_Test_Name <> 'Total'
			and Is_Absent = 'J'
			--and Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			and sm.School_Id = @School_Id
			and sm.academic_Year_Id = @Academic_Year_Id
			and sm.Is_Deleted = 'N'
			group by tm.YearWise_Student_Id,tm.Schoolwise_Test_Id, tg.SubjectId
		)t2
		on t1.SubjectId = t2.SubjectId
		and t1.Cnt = t2.Cnt
	)tm2
	on tm1.YearWise_Student_Id = tm2.YearWise_Student_Id
	and tm1.Schoolwise_Test_Id = tm2.Schoolwise_Test_Id
	and tm1.Subject_Id = tm2.SubjectId

	INSERT INTO @tblMarks
	SELECT TM1.YearWise_Student_Id ,
		TM1.Subject_Id ,
		SubjectSortOrder , 
		Subject_Name , 
		8888,
		9999 , 
		'Total',
		TM2.Total_Marks_Scored,
		TM2.Total_Marks_Scored, -- FOR MARKS
		TM2.OutOfMarks,
		Is_Absent,
		0,
		0
	FROM
	(
		SELECT YearWise_Student_Id ,
			   Subject_Id ,
			   SubjectSortOrder , 
			   Subject_Name,
			   --Is_Absent ,
			   'N' as Is_Absent
		FROM @tblMarks TM1
		group by YearWise_Student_Id ,
			Subject_Id ,
			SubjectSortOrder , 
			Subject_Name
			--Is_Absent
	)TM1
	INNER JOIN
	(
		--SELECT YearWise_Student_Id,subject_id, SUM(AdjustedMarks) AS Total_Marks_Scored, SUM(OutOfMarks) AS OutOfMarks
		SELECT YearWise_Student_Id,subject_id, CONVERT(NUMERIC(10,2), ROUND((SUM(AdjustedMarks)/(CASE WHEN SUM(OutOfMarks) = 0 THEN 1 ELSE SUM(OutOfMarks) END))*100,2))  AS Total_Marks_Scored, 100 AS OutOfMarks
		from
		(
			select YearWise_Student_Id,subject_id, AdjustedMarks, 
			case when Is_Absent in (select ShortName from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N') then 0 else OutOfMarks end as OutOfMarks
			FROM @tblMarks TM		
			where SchoolWise_Test_Name <> 'Total'	
		)S
		group by YearWise_Student_Id,subject_id
	)TM2
	ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
	AND TM1.Subject_Id = TM2.Subject_Id

	update TM
	set Marks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		AdjustedMarks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		OutOfMarks = 100
	FROM @tblMarks TM
	LEFT OUTER JOIN
	(
		select sm.Subject_Id
		from @TblGroups tg
		inner join Subject_Master sm
		on tg.OriginalSubjectId = sm.Original_Subject_Id
		where sm.School_Id = @School_Id
		and sm.academic_Year_Id = @Academic_Year_Id
		and sm.Is_Deleted = 'N'
		group by sm.Subject_Id
	)SM
	ON TM.Subject_Id = SM.Subject_Id
	where SchoolWise_Test_Name = 'Total'
	and OutOfMarks <> 100
	and OutOfMarks <> 0
	AND SM.Subject_Id IS NULL

	UPDATE TM
	SET IsGradingSubject = 1,
		Marks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		AdjustedMarks = convert(decimal(10,2), round((Marks/(case when OutOfMarks = 0 then 1 else OutOfMarks end))*100,2)),
		OutOfMarks = 100
	from @tblMarks tm
	inner join Subject_Master sm
	on tm.Subject_Id = sm.Subject_Id
	where sm.School_Id  =@School_Id
	and sm.academic_Year_Id = @Academic_Year_Id
	and sm.Is_Deleted = 'N'
	and sm.Subject_Name in ('Marathi','PHYSICAL EDUCATION','S.U.P.W.')
	and Is_Absent = 'N'

	UPDATE TM
	SET IsGradingSubject = 1,	
		OutOfMarks = 100
	from @tblMarks tm
	inner join Subject_Master sm
	on tm.Subject_Id = sm.Subject_Id
	where sm.School_Id  =@School_Id
	and sm.academic_Year_Id = @Academic_Year_Id
	and sm.Is_Deleted = 'N'
	and sm.Subject_Name in ('Marathi','PHYSICAL EDUCATION','S.U.P.W.')
	and Is_Absent <>'N'

	UPDATE TM
	SET Is_Absent = S.Is_Absent
	FROM @tblMarks TM
	INNER JOIN
	(
		SELECT YearWise_Student_Id,Subject_Id, Is_Absent
		FROM @tblMarks
		WHERE IsGradingSubject = 1
		AND Is_Absent <> 'N'
	)S
	ON TM.YearWise_Student_Id = S.YearWise_Student_Id
	AND TM.Subject_Id = S.Subject_Id
	WHERE IsGradingSubject = 1
	AND SchoolWise_Test_Name LIKE '%Total%'
		
	SELECT tsd.*,tot.*,@TermHeader TermHeader, '' as StarLegend, @IsFromReportScreen IsFromReportScreen
	FROM @tblStudentDetails tsd
	INNER JOIN
		(
			SELECT YearWise_Student_Id AS TotalStudId,TotalMarks,OutOfMarksTotal, ROUND((TotalMarks/OutOfMarksTotal)*100,2) AS Percentage, MGCD.Grade_Name
			FROM
			(
				SELECT SS.YearWise_Student_Id,SUM(Total_Marks_Scored) AS TotalMarks, SUM(OutOfMarks) AS OutOfMarksTotal
				from
				(
					SELECT TM.Subject_Name, TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id,
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN Subject_Master SM
					ON TM.Subject_Id = SM.Subject_Id				
					LEFT OUTER JOIN @TblGroups TG
					ON sm.Original_Subject_Id= TG.OriginalSubjectId					
					where TestSortOrder = 9999						
					AND TG.SubjectId IS NULL
					AND TM.IsGradingSubject = 0
					UNION
					SELECT TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, 
					case when AdjustedMarks <> 0 then AdjustedMarks else Total_Marks_Scored end as Total_Marks_Scored,
					--Total_Marks_Scored, 
					OutOfMarks
					FROM @tblMarks TM	
					INNER JOIN @TblGroups TG
					ON TM.Subject_Name = TG.SubjectName
					where TestSortOrder = 9999
					AND TM.IsGradingSubject = 0
					--group by TM.Subject_Name,TM.YearWise_Student_Id,TM.Schoolwise_Test_Id,TM.Subject_Id, Total_Marks_Scored, OutOfMarks
				)SS
				LEFT OUTER JOIN @tblStudentDetails TSD
				ON SS.YearWise_Student_Id = TSD.YearWise_Student_Id
				AND SS.Subject_Id = TSD.ThirdLanguageSubjectId
				WHERE TSD.YearWise_Student_Id IS NULL	
				group by SS.YearWise_Student_Id
			)S
			INNER JOIN Marks_Grades_Configuration_Details MGCD
			ON ROUND((TotalMarks/OutOfMarksTotal)*100,2) BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
			INNER JOIN Marks_Grades_Configuration MGC
			ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
			WHERE MGCD.Is_Deleted = 'N'
			AND MGC.Is_Deleted = 'N'
			AND MGC.Standard_Id = @Standard_Id
			AND MGC.IsForCoCurricularSubjects = 0
		)TOT
		ON TSD.YearWise_Student_Id = TOT.TotalStudId

		UPDATE TM
		SET Marks = '-'
		from @tblMarks TM
		inner join
		(
			select YearWise_Student_Id, Subject_Id
			from @tblMarks
			where SchoolWise_Test_Name <>  'Total'
		--	and Is_Absent in (select ShortName from Schoolwise_Exam_Status where SchoolId = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and ConsiderInTotal = 'N')
			group by YearWise_Student_Id, Subject_Id
			having sum(Total_Marks_Scored) = 0
		)ss
		ON TM.YearWise_Student_Id = SS.YearWise_Student_Id
		AND TM.Subject_Id = SS.Subject_Id
		where SchoolWise_Test_Name =  'Total'

		--update tm
		--set Marks = 'Exemp.'
		--from @tblMarks tm
		--where Marks = 'Ex'

		UPDATE TM1
		SET Subject_Name = '<b>'+ UPPER(TM1.Subject_Name)+'</b>',
			Marks = '<b>'+ 			
			CASE WHEN PATINDEX('%.%',Marks) <> 0 THEN CAST(ROUND(CONVERT(DECIMAL(10,2),MARKS),0) AS NVARCHAR(10)) ELSE Marks END
			+'</b>',			
			TestSortOrder = 10010,
			Total_Marks_Scored = ROUND(Total_Marks_Scored,0),
			AdjustedMarks = ROUND(AdjustedMarks,0)
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id				
			LEFT OUTER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			where TestSortOrder = 9999						
			AND TG.SubjectId IS NULL
			UNION
			SELECT TM.Subject_Name
			FROM @tblMarks TM	
			INNER JOIN @TblGroups TG
			ON TM.Subject_Name = TG.SubjectName
			where TestSortOrder = 9999		
		)TM2
		ON TM1.Subject_Name = TM2.Subject_Name
		WHERE TM1.IsGradingSubject = 0

		update @tblMarks
		set Marks = Marks+'*'
		where SchoolWise_Test_Name = 'Preliminary Examination - I'
		and OutOfMarks = 100

		update @tblMarks
		set SchoolWise_Test_Name = 'Preliminary Examination'
		where SchoolWise_Test_Name = 'Preliminary Examination - I'
				
		update @tblMarks
		set OutOfMarks = 80
		where SchoolWise_Test_Name <> 'Total'
		and OutOfMarks = 100

		update TM1
		SET Marks = '-'
		FROM @tblMarks TM1
		INNER JOIN
		(
			SELECT YearWise_Student_Id,Subject_Id
			from @tblMarks tm
			where Is_Absent IN (SELECT ShortName FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND DisplayTotal = 'N')
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		AND TM1.TestSortOrder = 9999
				
		UPDATE TM1
		SET SchoolWise_Test_Name = case when TM1.SchoolWise_Test_Name = 'Total' then 'Percentage' else TM1.SchoolWise_Test_Name end 
		  + case when TM1.SchoolWise_Test_Name = 'Total' then'                       ' else '                              ' end+'('+CAST(CONVERT(INT,TM2.OutOfMarks) AS NVARCHAR(10))+')'
		FROM @tblMarks TM1
		inner join
		(
			SELECT YearWise_Student_Id, schoolwise_test_id, max(OutOfMarks) as OutOfMarks
			FROM @tblMarks
			GROUP BY YearWise_Student_Id, schoolwise_test_id
		)tm2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Schoolwise_Test_Id = TM2.Schoolwise_Test_Id

		UPDATE TM1
		SET Marks = '<b>' +TM2.Grade_Name +'</b>',
			TestSortOrder = 10010
		FROM @tblMarks TM1
		INNER JOIN
		(
			select tm.YearWise_Student_Id,tm.Schoolwise_Test_Id,tm.Subject_Id, mgcd.Grade_Name
			from @tblStudentDetails tsd
			inner join @tblMarks tm
			on tsd.YearWise_Student_Id = tm.YearWise_Student_Id
			and tsd.ThirdLanguageSubjectId = tm.Subject_Id
			inner join Marks_Grades_Configuration mgc
			on mgc.Standard_Id = @Standard_Id
			inner join Marks_Grades_Configuration_Details mgcd
			on mgc.Marks_Grades_Configuration_Id = mgcd.Marks_Grades_Configuration_Id
			and round((Total_Marks_Scored/CASE WHEN OutOfMarks = 0 THEN 1 ELSE OutOfMarks END)*100,2) between mgcd.Starting_Marks_Range and mgcd.Actual_Ending_Marks_Range
			where mgc.Is_Deleted = 'N'
			and mgcd.Is_Deleted = 'N'
			and mgc.Academic_Year_Id = @Academic_Year_Id
			and mgc.School_Id = @School_Id
			and mgc.IsForCoCurricularSubjects = 0
		)TM2
		ON TM1.YearWise_Student_Id = TM2.YearWise_Student_Id
		AND TM1.Subject_Id = TM2.Subject_Id
		AND TM1.Schoolwise_Test_Id = TM2.Schoolwise_Test_Id
		WHERE TM1.IsGradingSubject = 0

		DECLARE @tblMarkRange AS TABLE
		(
			StartingRange DECIMAL(10,2),
			EndingRange DECIMAL(10,2),
			Point INT
		)

		INSERT INTO @tblMarkRange
		SELECT 90,100,1 UNION
		SELECT 80,89.99,2 UNION
		SELECT 70, 79.99, 3 UNION
		SELECT 60, 69.99, 4 UNION
		SELECT 50, 59.99, 5 UNION
		SELECT 40, 49.99, 6 UNION
		SELECT 33, 39.99, 7 UNION
		SELECT 0, 32.99, 8
		
		INSERT INTO @tblMarks
		SELECT TM.YearWise_Student_Id,
			TM.Subject_Id,
			SubjectSortOrder,
			Subject_Name,
			10020,
			10020,
			'POINTS',
			Point,
			'<b>'+CAST(Point AS NVARCHAR(10))+'</b>',
			--CASE WHEN Is_Absent <> 'N' THEN '<b>-</b>' ELSE '<b>'+CAST(Point AS NVARCHAR(10))+'</b>' END,
			OutOfMarks,
			Is_Absent,
			AdjustedMarks,
			IsGradingSubject
		FROM @tblMarks TM
		INNER JOIN @tblMarkRange TMR
		ON TM.Total_Marks_Scored BETWEEN TMR.StartingRange AND TMR.EndingRange
		WHERE IsGradingSubject = 0
		AND SchoolWise_Test_Name LIKE '%PERCENT%'
		AND Marks LIKE '%<b>%'
		
		UPDATE TM
		SET Marks = '<b>'+DisplayValue+'</b>'
		from @tblMarks TM
		INNER JOIN
		(
			SELECT TM.YearWise_Student_Id, TG.SubjectId, SES.DisplayValue
			FROM @tblMarks TM
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			INNER JOIN Schoolwise_Exam_Status SES
			ON TM.Is_Absent = SES.ShortName
			AND SM.academic_Year_Id = SES.AcademicYearId
			WHERE Is_Absent <> 'N'
			AND Marks NOT LIKE '%<b>%'
			AND SM.School_Id = @School_Id
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
			AND SES.IsDeleted = 0
		)S
		ON TM.YearWise_Student_Id = S.YearWise_Student_Id
		AND TM.Subject_Id = S.SubjectId
		WHERE IsGradingSubject = 0
		AND SchoolWise_Test_Name LIKE '%Preliminary%'
		AND Marks LIKE '%<b>%'

		UPDATE TM
		SET Marks = '<b>-</b>'
		from @tblMarks TM
		INNER JOIN
		(
			SELECT TM.YearWise_Student_Id, TG.SubjectId
			FROM @tblMarks TM
			INNER JOIN Subject_Master SM
			ON TM.Subject_Id = SM.Subject_Id
			INNER JOIN @TblGroups TG
			ON SM.Original_Subject_Id = TG.OriginalSubjectId
			WHERE Is_Absent <> 'N'
			AND Marks NOT LIKE '%<b>%'
			AND SM.School_Id = @School_Id
			AND SM.academic_Year_Id = @Academic_Year_Id
			AND SM.Is_Deleted = 'N'
		)S
		ON TM.YearWise_Student_Id = S.YearWise_Student_Id
		AND TM.Subject_Id = S.SubjectId
		WHERE IsGradingSubject = 0
		AND SchoolWise_Test_Name LIKE '%POINT%'
		AND Marks LIKE '%<b>%'

		UPDATE TM
		SET Marks = '<b>'+S.DisplayValue+'</b>'
		from @tblMarks TM
		INNER JOIN
		(
			SELECT YearWise_Student_Id, Subject_Id, DisplayValue
			FROM @tblMarks TM
			INNER JOIN Schoolwise_Exam_Status SES
			ON TM.Is_Absent = SES.ShortName			
			WHERE Is_Absent <> 'N'
			AND Marks LIKE '%<b>%'
			AND SES.SchoolId = @School_Id
			AND SES.AcademicYearId = @Academic_Year_Id
			AND SES.IsDeleted = 0
		)S
		ON TM.YearWise_Student_Id = S.YearWise_Student_Id
		AND TM.Subject_Id = S.Subject_Id
		WHERE IsGradingSubject = 0
		AND SchoolWise_Test_Name LIKE '%Preliminary%'
		AND Marks LIKE '%<b>%'

		UPDATE TM
		SET Marks = '<b>-</b>'
		from @tblMarks TM
		INNER JOIN
		(
			SELECT YearWise_Student_Id, Subject_Id
			FROM @tblMarks
			WHERE Is_Absent <> 'N'
			AND Marks LIKE '%<b>%'
		)S
		ON TM.YearWise_Student_Id = S.YearWise_Student_Id
		AND TM.Subject_Id = S.Subject_Id
		WHERE IsGradingSubject = 0
		AND SchoolWise_Test_Name LIKE '%POINT%'
		AND Marks LIKE '%<b>%'
		
		UPDATE @tblMarks
		SET SchoolWise_Test_Name = 'MAX. MARKS:100    TOTAL MARKS'
		WHERE SchoolWise_Test_Name LIKE '%Preliminary Examination%'
		and Marks NOT LIKE '%<b>%'
								
		DELETE FROM @tblMarks
		WHERE SchoolWise_Test_Name LIKE '%PERCENTAGE%'
		and IsGradingSubject = 0
		
		update @tblMarks
		set SchoolWise_Test_Name = 'PERCENTAGE MARKS'			
		where Marks LIKE '%<b>%'
		and SchoolWise_Test_Name not like '%POINT%'
						
		UPDATE @tblMarks
		SET SchoolWise_Test_Name = 'GRADES'
		WHERE IsGradingSubject = 1

		SELECT --*,
		YearWise_Student_Id,
		Subject_Id,
		SubjectSortOrder,
		'&nbsp;&nbsp;'+UPPER(Subject_Name) AS Subject_Name,
		Schoolwise_Test_Id,
		TestSortOrder, 
		SchoolWise_Test_Name,
		Total_Marks_Scored,
		'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ case when Is_Absent = 'N' or (Total_Marks_Scored is not null and Total_Marks_Scored <> 0) then
		case when SchoolWise_Test_Name like '%Points%' then '&nbsp;&nbsp;&nbsp;&nbsp;' else '' end +
		REPLACE(Marks,'.00','') 
		when Is_Absent='E' then CASE WHEN PATINDEX('%<B>%',Marks) > 0 THEN '<b>Ex</b>' ELSE 'Ex' END else Marks
		 --(select DisplayValue from Schoolwise_Exam_Status where schoolid = @School_Id and AcademicYearId = @Academic_Year_Id and IsDeleted = 0 and Is_Absent = ShortName) 
		 end as Marks,
		OutOfMarks,
		Is_Absent ,
		 CASE LEN(SubjectSortOrder) WHEN 1 THEN '00' WHEN 2 THEN '0' ELSE '' END+CAST(SubjectSortOrder AS NVARCHAR(10)) AS NewSubjectSortOrder		 
		FROM @tblMarks
		WHERE IsGradingSubject = 0
		
		SELECT --*,
		YearWise_Student_Id,
		Subject_Id,
		SubjectSortOrder,
		'  '+UPPER(Subject_Name) AS Subject_Name,
		Schoolwise_Test_Id,
		TestSortOrder, 
		SchoolWise_Test_Name,
		CASE WHEN Is_Absent <> 'N' THEN (SELECT DisplayValue FROM Schoolwise_Exam_Status WHERE SCHOOLID = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ShortName = Is_Absent) ELSE MGCD.Grade_Name END as Grade_Name
		FROM @tblMarks TM
		INNER JOIN Marks_Grades_Configuration_Details MGCD
		ON TM.AdjustedMarks BETWEEN MGCD.Starting_Marks_Range AND MGCD.Actual_Ending_Marks_Range
		INNER JOIN Marks_Grades_Configuration MGC
		ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
		where IsGradingSubject = 1
		and TestSortOrder = 9999
		AND MGC.School_Id = @School_Id
		AND MGC.Academic_Year_Id = @Academic_Year_Id
		AND MGC.Is_Deleted = 'N'
		AND MGCD.Is_Deleted = 'N'
		AND MGC.IsForCoCurricularSubjects = 1
		AND MGC.Standard_Id = @Standard_Id

		DECLARE @ClassTeacherName NVARCHAR(100) = '',
				@PrincipalName NVARCHAR(100) = '',
				@ClassStrength INT = 0,
				@Conduct NVARCHAR(100) = '',
				@Punctuality NVARCHAR(100) = '',
				@Result NVARCHAR(100) = ''

		SELECT @ClassTeacherName = BTD.TeacherName
		FROM SchoolWise_Standard_Division_Teacher_Assignment_Master SSDTAM
		INNER JOIN vw_BaseTeacherDetails BTD
		ON SSDTAM.Teacher_Id = BTD.Teacher_Id
		AND SSDTAM.Academic_Year_Id = BTD.academic_year_id
		INNER JOIN vw_standard_division VSD
		ON SSDTAM.Standard_Id = VSD.Standard_Id
		AND SSDTAM.Division_Id = VSD.Division_Id
		WHERE SSDTAM.School_Id = @School_Id
		AND SSDTAM.Academic_Year_Id = @Academic_Year_Id
		AND SSDTAM.Is_Deleted = 'N'
		and VSD.Standard_Id = @Standard_Id
		and VSD.SchoolWise_Standard_Division_Id= @Division_Id
		and Is_ClassTeacher = 'Y'
		AND BTD.Is_Deleted = 'N'

		SELECT @PrincipalName = TeacherName
		FROM vw_BaseTeacherDetails
		WHERE School_Id = @School_Id
		AND academic_year_id  =@Academic_Year_Id
		AND Is_Deleted = 'N'
		AND Designation_Id = 10 -- PRINCIPAL

		select @ClassStrength = COUNT(1)
		from vw_standard_division VSD
		INNER JOIN YearWise_Student_Details YSD
		ON VSD.Standard_Id = YSD.Standard_Id
		AND VSD.Division_Id = YSD.Division_id
		where VSD.School_Id = @School_Id
		and VSD.academic_year_id = @Academic_Year_Id
		and VSD.Standard_Id = @Standard_Id
		and SchoolWise_Standard_Division_Id = @Division_Id
		AND YSD.Is_Deleted = 'N'

		select YSD.YearWise_Student_Id, 
	           CASE WHEN @School_Id = 166  AND @Academic_Year_Id = 3  THEN 'Good' ELSE ISNULL(SRD.Conduct, '')END AS Conduct,
			   SRD.Punctuality, 
			   SRD.Result,
			   @ClassTeacherName AS ClassTeacherName,
			   @PrincipalName AS PrincipalName,
			   @ClassStrength AS ClassStrength
		from StudentResultDetails SRD
		INNER JOIN YearWise_Student_Details YSD
		ON SRD.YearwiseStudentId = YSD.YearWise_Student_Id
		INNER JOIN vw_standard_division VSD
		ON VSD.Standard_Id = YSD.Standard_Id
		AND VSD.Division_Id = YSD.Division_id
		where SchoolId = @School_Id
		and AcademicYearId = @Academic_Year_Id
		and IsDeleted = 0
		and (YearwiseStudentId = @Student_Id OR @Student_Id = 0)
		AND TermId = 2
		AND VSD.Standard_Id = @Standard_Id
		AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
END
GO
