/****** Object:  StoredProcedure [dbo].[usp_GetFinalProgressReportSNS11_12]    Script Date: 04-02-2026 15:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 24-Jan-2025
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetFinalProgressReportSNS11_12]
	@School_Id INT,
	@Academic_Year_Id INT,@Standard_Id INT,
	@Division_Id INT,
	@StudentId INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @StudentId IS NULL
		SET @StudentId = 0

    DECLARE @tblStudentDetails AS TABLE
	(
		YearWise_Student_Id INT,
		Roll_No INT,
		StudentName NVARCHAR(100),
		ClassName NVARCHAR(100),
		OriginalStdId INT,
		OriginalDivId INT
	)

	INSERT INTO @tblStudentDetails
	SELECT YSD.YearWise_Student_Id, YSD.Roll_No, UPPER(BSD.StudentName), VSD.className, VSD.Original_Standard_Id, VSD.Original_Division_Id
	FROM vw_BaseStudentDetails BSD
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	WHERE YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID  =@Academic_Year_Id
	AND YSD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND (ysd.YearWise_Student_Id = @StudentId OR @StudentId = 0)
	
	DECLARE @tblMarks AS TABLE
	(
		YrStudentId INT,
		SubjectSortOrder INT,
		SubjectId INT,
		Subject_Name NVARCHAR(100),
		TestSortOrder INT,
		SchoolWise_Test_Id INT,
		SchoolWise_Test_Name NVARCHAR(100),
		Total_Marks_Scored DECIMAL(10,2),
		Is_Absent CHAR,
		OutOfMarks INT
	)
	
	INSERT INTO @tblMarks
	select sstm.Student_Id, SSSM.Sort_Order AS SubjectSortOrder, SM.Subject_Id, SM.Subject_Name, ssttm.Sort_Order as TestSortOrder,STM.SchoolWise_Test_Id,
	STM.SchoolWise_Test_Name, SSTM.Total_Marks_Scored, sstm.Is_Absent, CASE WHEN stsmm.OutOfMarks IS NOT NULL AND stsmm.OutOfMarks <> 0 THEN stsmm.OutOfMarks ELSE stsmm.Subject_Total_Marks END AS OutOfMarks
	from SchoolWise_Student_Test_Marks sstm
	inner join SchoolWise_Test_Subject_Marks_Master stsmm
	on sstm.TestWise_Subject_Marks_Id = stsmm.TestWise_Subject_Marks_Id
	inner join YearWise_Student_Details ysd
	on sstm.Student_Id = ysd.YearWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	INNER JOIN Subject_Master SM
	ON STSMM.Subject_Id = SM.Subject_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON stsmm.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON VSD.Standard_Id = SSSM.Standard_Id
	AND SM.Subject_Id = SSSM.Subject_Id
	INNER JOIN Schoolwise_Standard_Test_Master SSTTM
	ON VSD.Standard_Id = SSTTM.Standard_Id
	and stm.SchoolWise_Test_Id = ssttm.SchoolWise_Test_Id
	where sstm.Is_Deleted = 'N'
	and stsmm.Is_Deleted = 'N'
	AND STSMM.School_Id = @School_Id
	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	AND VSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND SM.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND STSMM.Is_Submitted = 'Y'
	AND SSSM.Is_Deleted = 'N'
	and SSTTM.Is_Deleted = 'N'
	AND STSMM.Grade_Or_Marks = 'M'
	AND (ysd.YearWise_Student_Id = @StudentId OR @StudentId = 0)
	and SchoolWise_Test_Name NOT LIKE '%Weekly Test%'
		
	IF @Academic_Year_Id = 11
	AND EXISTS
	(
		SELECT TOP 1 1
		FROM vw_standard_division
		WHERE School_Id = @School_Id
		AND academic_year_id = @Academic_Year_Id
		and SchoolWise_Standard_Division_Id = @Division_Id
		and Standard_Id = @Standard_Id
		and className = '11 Sci-B'
	)
	BEGIN	
			DELETE FROM @tblMarks			
			WHERE SchoolWise_Test_Name IN ('PA - I','PA - II')
			
			UPDATE @tblMarks
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*30,0),
				OutOfMarks = 30
			WHERE SchoolWise_Test_Name IN ('SA-I')

			UPDATE @tblMarks
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*70,0),
				OutOfMarks = 70
			WHERE SchoolWise_Test_Name IN ('SA-II')
	END
	ELSE
	BEGIN
			UPDATE @tblMarks
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*10,0),
				OutOfMarks = 10
			WHERE SchoolWise_Test_Name IN ('PA - I','PA - II')

			UPDATE @tblMarks
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*30,0),
				OutOfMarks = 30
			WHERE SchoolWise_Test_Name IN ('SA-I')

			UPDATE @tblMarks
			SET Total_Marks_Scored = ROUND((Total_Marks_Scored/OutOfMarks)*50,0),
				OutOfMarks = 50
			WHERE SchoolWise_Test_Name IN ('SA-II')
	END

	--UPDATE TM
	--SET SchoolWise_Test_Name = 'Weekly Test',
	--	SchoolWise_Test_Id = 99999,
	--	TestSortOrder = 1,
	--	OutOfMarks = 10,
	--	Total_Marks_Scored = AvgMarks.Marks
	--from @tblMarks TM
	--INNER JOIN
	--(
	--	SELECT YrStudentId,SubjectId, MIN(TestSortOrder) AS MinTestSortOrder
	--	FROM @tblMarks
	--	where SchoolWise_Test_Name like '%Weekly test%'
	--	group by YrStudentId,SubjectId
	--)MinRecord
	--ON TM.YrStudentId = MinRecord.YrStudentId
	--AND TM.SubjectId = MinRecord.SubjectId
	--AND TM.TestSortOrder = MinRecord.MinTestSortOrder
	--INNER JOIN
	--(
	--	SELECT YrStudentId,SubjectId, ROUND((Total_Marks_Scored/OutOfMarks)*10,0) AS Marks
	--	FROM
	--	(
	--		SELECT YrStudentId,SubjectId, sum(Total_Marks_Scored) as Total_Marks_Scored, sum(OutOfMarks) AS OutOfMarks
	--		FROM @tblMarks
	--		where SchoolWise_Test_Name like '%Weekly test%'
	--		group by YrStudentId,SubjectId
	--	)S
	--)AvgMarks
	--ON TM.YrStudentId = AvgMarks.YrStudentId
	--AND TM.SubjectId = AvgMarks.SubjectId
	--where SchoolWise_Test_Name like '%Weekly test%'

	--delete from @tblMarks
	--where SchoolWise_Test_Name like '%Weekly test%'
	--and SchoolWise_Test_Id <> 99999

	DECLARE @tblStudentMarks AS TABLE
	(
		YrStudentId INT,
		SubjectId INT,
		SubjectSortOrder INT,
		Subject_Name NVARCHAR(100),
		Total_Marks_Scored INT,
		OutOfMarks INT,
		SubjectCode NVARCHAR(50),
		GradeName NVARCHAR(10),
		SectionId INT
	)

	INSERT INTO @tblStudentMarks
	SELECT YrStudentId,SubjectId,SubjectSortOrder,Subject_Name, SUM(Total_Marks_Scored) AS Total_Marks_Scored, SUM(OutOfMarks) AS OutOfMarks,'','',1 -- Marking
	FROM @tblMarks
	GROUP BY YrStudentId,SubjectId,SubjectSortOrder,Subject_Name

	UPDATE @tblStudentMarks
	SET SubjectCode = CASE Subject_Name -- Sci
										WHEN 'Mathematics' THEN '041'
										WHEN 'Physics' THEN '042'
										WHEN 'Chemistry' THEN '043'
										WHEN 'Biology' THEN '044'
										WHEN 'Physical Education' THEN '048'									
										WHEN 'Computer Science' THEN '083'
										WHEN 'English Core' THEN '301'

										--Comm
										WHEN 'Accountancy' THEN '055'
										WHEN 'Business Studies' THEN '054'
										WHEN 'Economics' THEN '030'
										WHEN 'Applied Mathematics' THEN '241'

										-- Arts
										WHEN 'History' THEN '027'
										WHEN 'Psychology' THEN '037'
										WHEN 'Legal Studies' THEN '074'
					  END

	INSERT INTO @tblStudentMarks
	select sstm.Student_Id, SM.Subject_Id, SSSM.Sort_Order AS SubjectSortOrder, SM.Subject_Name, 
	SSTM.Total_Marks_Scored, CASE WHEN stsmm.OutOfMarks IS NOT NULL AND stsmm.OutOfMarks <> 0 THEN stsmm.OutOfMarks ELSE stsmm.Subject_Total_Marks END AS OutOfMarks,
	'',
	CASE WHEN sstm.Is_Absent = 'N'  THEN MGCD.Grade_Name ELSE (SELECT DisplayValue FROM Schoolwise_Exam_Status WHERE SchoolId = @School_Id AND AcademicYearId = @Academic_Year_Id AND IsDeleted = 0 AND ShortName = SSTM.Is_Absent) END,
	2
	from SchoolWise_Student_Test_Marks sstm
	inner join SchoolWise_Test_Subject_Marks_Master stsmm
	on sstm.TestWise_Subject_Marks_Id = stsmm.TestWise_Subject_Marks_Id
	inner join YearWise_Student_Details ysd
	on sstm.Student_Id = ysd.YearWise_Student_Id
	INNER JOIN vw_standard_division VSD
	ON YSD.Standard_Id = VSD.Standard_Id
	AND YSD.Division_id = VSD.Division_Id
	INNER JOIN Subject_Master SM
	ON STSMM.Subject_Id = SM.Subject_Id
	INNER JOIN SchoolWise_Test_Master STM
	ON stsmm.SchoolWise_Test_Id = STM.SchoolWise_Test_Id
	INNER JOIN SchoolWise_Standard_Subject_Master SSSM
	ON VSD.Standard_Id = SSSM.Standard_Id
	AND SM.Subject_Id = SSSM.Subject_Id
	INNER JOIN Schoolwise_Standard_Test_Master SSTTM
	ON VSD.Standard_Id = SSTTM.Standard_Id
	and stm.SchoolWise_Test_Id = ssttm.SchoolWise_Test_Id
	INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
	ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
	INNER JOIN Marks_Grades_Configuration_Details MGCD
	ON SSTMD.Assigned_Grade_Id = MGCD.Marks_Grades_Configuration_Detail_ID
	INNER JOIN Marks_Grades_Configuration MGC
	ON MGCD.Marks_Grades_Configuration_Id = MGC.Marks_Grades_Configuration_Id
	where sstm.Is_Deleted = 'N'
	and stsmm.Is_Deleted = 'N'
	AND STSMM.School_Id = @School_Id
	AND STSMM.Academic_Year_Id = @Academic_Year_Id
	AND VSD.Standard_Id = @Standard_Id
	AND VSD.SchoolWise_Standard_Division_Id = @Division_Id
	AND SM.Is_Deleted = 'N'
	AND STM.Is_Deleted = 'N'
	AND STSMM.Is_Submitted = 'Y'
	AND SSSM.Is_Deleted = 'N'
	and SSTTM.Is_Deleted = 'N'
	AND STSMM.Grade_Or_Marks = 'G'
	AND (ysd.YearWise_Student_Id = @StudentId OR @StudentId = 0)
	AND SSTMD.Is_Deleted = 'N'
	AND MGCD.Is_Deleted = 'N'
	AND MGC.Is_Deleted = 'N'
	AND MGC.Standard_Id = @Standard_Id

	DECLARE @StandardName NVARCHAR(100) = ''
	SELECT @StandardName = Standard_Name
	FROM Standard_Master
	WHERE School_Id = @School_Id
	AND academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND Standard_Id = @Standard_Id
	
	DECLARE @tblResult AS TABLE
	(
		YrStudentId INT,
		TotaScoredMarks INT,
		TotalOutOfMarks INT,
		Percentage DECIMAL(10,2),
		Result NVARCHAR(100)
	)

	INSERT INTO @tblResult
	SELECT YrStudentId, TotaScoredMarks, TotalOutOfMarks, CONVERT(DECIMAL(10,2),ROUND((CONVERT(DECIMAL(10,2),TotaScoredMarks)/TotalOutOfMarks)*100,2)) AS Percentage, CASE WHEN patindex('%11 %',@StandardName)> 0 THEN 'PASSED & PROMOTED TO CLASS XII' ELSE 'PASSED' END AS Result
		FROM
	(
		SELECT YrStudentId, SUM(Total_Marks_Scored) AS TotaScoredMarks, SUM(OutOfMarks) as TotalOutOfMarks
		FROM @tblStudentMarks
		WHERE SectionId = 1
		GROUP BY YrStudentId
	)S

	UPDATE TR
	SET Result = 'FAIL'
	FROM @tblResult TR
	INNER JOIN
	(
		SELECT YrStudentId
		FROM @tblStudentMarks
		WHERE SectionId = 1
		AND Total_Marks_Scored < 33
		GROUP BY YrStudentId
	)S
	ON TR.YrStudentId = S.YrStudentId
	
	DECLARE @AcademicYear NVARCHAR(50) = ''
	SELECT @AcademicYear = CAST(YEAR(Start_date) AS NVARCHAR(4)) + ' - '+ CAST(YEAR(End_Date) AS NVARCHAR(4))
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_ID  = @Academic_Year_Id
	AND Is_Deleted = 'N'
	
	SELECT SAD.YearWise_Student_Id,
		   SAD.Roll_No,
		   SAD.StudentName,
		   SAD.ClassName,
		   SAD.OriginalStdId,
		   SAD.OriginalDivId,	   
		   @AcademicYear AS AcademicYear,
		   TSM.SubjectSortOrder,
		   UPPER(TSM.Subject_Name) AS Subject_Name,
		   TSM.Total_Marks_Scored,
		   TSM.OutOfMarks,
		   TSM.SubjectCode,
	   TSM.GradeName,
	   TSM.SectionId,
	   TR.TotaScoredMarks,
	   TR.TotalOutOfMarks,
	   TR.Percentage,
	   TR.Result,
	   SR.SrNo
FROM @tblStudentDetails SAD
INNER JOIN @tblStudentMarks TSM
ON SAD.YearWise_Student_Id = TSM.YrStudentId
INNER JOIN @tblResult TR
ON SAD.YearWise_Student_Id = TR.YrStudentId
INNER JOIN
(
	select YrStudentId,SubjectId , row_number() over (partition by YrStudentId,SectionId ORDER BY SubjectSortOrder) AS SrNo
	from @tblStudentMarks
)SR
ON TSM.YrStudentId = SR.YrStudentId
and tsm.SubjectId = sr.SubjectId
END