/****** Object:  StoredProcedure [Transport].[usp_GetCountStopMaster]    Script Date: 05-05-2026 11:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <05-JUL-2010>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [Transport].[usp_GetCountStopMaster]
  @SchoolId INT
 , @AcademicYearId INT
 , @StopName NVARCHAR(50)
, @Cnt INT OUT
AS

BEGIN
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @sQuery nvarchar(500)
	set @sQuery = N'SELECT DISTINCT [Transport].[StopMaster].StopId 
					  FROM     [Transport].[StopMaster]
					  INNER JOIN RolewiseStopCharges RSC
					  ON [Transport].[StopMaster].StopId = RSC.StopId
					  WHERE    ([Transport].[StopMaster].SchoolId = '+CAST(@SchoolId AS NVARCHAR(5))+')
							   AND ([Transport].[StopMaster].Is_Deleted =0'+')'+
							   ' AND RSC.IsDeleted = 0 '+
							   'AND ([Transport].[StopMaster].Academic_Year_Id = '+CAST(@AcademicYearId AS NVARCHAR(5))+')'+
							   'AND ([Transport].[StopMaster].StopName LIKE ''%'+ @StopName + '%'')'
					print @sQuery

	EXECUTE sp_executesql  @sQuery
	SET @Cnt = @@ROWCOUNT
	  
END
--GO
--declare @p3 int
--set @p3=NULL
--exec [Transport].[usp_GetCountStopMaster] @SchoolId=18,@AcademicYearId=41,@Cnt=@p3 output
--select @p3