/****** Object:  StoredProcedure [dbo].[usp_InsertStopCharges]    Script Date: 05-05-2026 15:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================================================================
-- Author:		Akshay
-- Create date: 25-Nov-2013
-- Description:	This stored procedure is used to Insert Stop charges.
-- ===========================================================================
ALTER PROCEDURE [dbo].[usp_InsertStopCharges]	
@StopDetailsXML XML,
@SchoolId INT,
@AcademicYearId INT,
@InsertedById INT 
AS

BEGIN
   BEGIN TRY
   BEGIN TRANSACTION	
	
   DECLARE  @InsertedRowId INT , 
            @COUNT INT , 
            @RoleId INT, 
            @Charges Nvarchar(100), 
            @OneWayCharges Nvarchar(100),
            @TotalCount INT , 
            @NewRoleId INT,
            @StopName Nvarchar(100),
            @StopId INT = 0,
            @Roles NVARCHAR(50)
  
   SELECT  @StopName = a.b.value('StopName[1]','Nvarchar(100)'),
           @StopId = a.b.value('StopId[1]','Nvarchar(100)')
     FROM  @StopDetailsXML.nodes('StopDetails') a(b)
     
   DECLARE  @StopChargesDetails AS TABLE 
   ( 
     Charges int ,
     OneWayCharges int,
     RoleId int  
   )
    INSERT  @StopChargesDetails
   (		 
    Charges,
    OneWayCharges,
    RoleId			 
   )	   
   SELECT			
	      a.b.value('Charges[1]','Int'),
		  a.b.value('OneWayCharges[1]','Int'),
		  a.b.value('RoleId[1]','Int')
    FROM  @StopDetailsXML.nodes('StopDetails/lstStopCharges/StopCharge') a(b)

 IF  @StopId IS NULL OR @StopId = 0      
 BEGIN
    INSERT  INTO Transport.StopMaster
    SELECT
	        @StopName,
			0,
		    @SchoolId,
		    @AcademicYearId,
		    0,
		    dbo.GetLocalDate(DEFAULT),
		    @InsertedById,
		    dbo.GetLocalDate(DEFAULT),
		    @InsertedById
	     	   
    SELECT  @InsertedRowId = @@Identity   
    SELECT  @COUNT =  COUNT(1) 
	  FROM  @StopChargesDetails
	  
 WHILE @COUNT > 0
 BEGIN
    SELECT  TOP 1 @RoleId = RoleId,
            @Charges = Charges,
            @OneWayCharges = OneWayCharges 
      FROM  @StopChargesDetails
      
    INSERT  INTO RolewiseStopCharges
    SELECT
            @InsertedRowId,
            @RoleId,
            @Charges,
            @OneWayCharges,
            @SchoolId,
            @AcademicYearId,
            0,
            @InsertedById,
            dbo.GetLocalDate(DEFAULT),
            @InsertedById,
            dbo.GetLocalDate(DEFAULT)
	    	  
    DELETE  
      FROM  @StopChargesDetails 
     WHERE  RoleId = @RoleId 		  
       SET  @COUNT -= 1  
 END   
 END
    ELSE IF @StopId <> 0 OR @StopId IS NOT NULL
 BEGIN 
    UPDATE  Transport.StopMaster 
       SET  StopName = @StopName
     WHERE  StopId = @StopId 	
   
    SELECT  @TotalCount = COUNT(1) 
      FROM  @StopChargesDetails
 
 DECLARE @IsAmountDeducted BIT = 0

 WHILE @TotalCount > 0
 BEGIN
    SELECT  TOP 1 @NewRoleId = RoleId,
			@Charges = Charges,
			@OneWayCharges = OneWayCharges 
      FROM  @StopChargesDetails    
    
    IF EXISTS(SELECT TOP 1 1
				FROM Transport.TransportFeeDetails TFD
		  INNER JOIN User_Master UM
				  ON TFD.UserId = UM.User_Id
		  INNER JOIN User_Role_Master URM
				  ON URM.User_Role_Id = UM.User_Role_Id
		  INNER JOIN RolewiseStopCharges RSC
				  ON RSC.RoleId = URM.User_Role_Id
		  INNER JOIN Transport.TravelerTransportDetails TTD
				  ON TFD.UserId = TTD.UserId
				 AND TFD.AcademicYearId = TTD.AcademicYearId
		  INNER JOIN Transport.RouteShiftTimingDetails RSTD
				  ON RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
				 AND RSTD.AcademicYearId = TTD.AcademicYearId
		  INNER JOIN Transport.RouteStopDetails RSD
				  ON RSD.RouteStopId = RSTD.RouteStopId				 
			   WHERE TFD.IsDeleted = 0
			     AND RSC.RoleId = @NewRoleId
			     AND TFD.IsDeleted = 0
			     AND DebitCredit = N'Debit'
			     AND RSC.StopId =@StopId
			     AND TTD.Is_Deleted = 0
			     AND RSD.StopId = @StopId	  
    )
    BEGIN
		IF EXISTS(SELECT TOP 1 1
				   FROM RolewiseStopCharges WITH(NOLOCK)
				  WHERE SchoolId=@SchoolId 
					AND AcademicYearId = @AcademicYearId 
					AND IsDeleted = 0
					AND StopId = @StopId
					AND RoleId = @NewRoleId
					AND (Charges >  @Charges OR OneWayPercentage > @OneWayCharges)
			)    
		BEGIN
		
			DECLARE @Role1 NVARCHAR(50)
			SELECT @Role1 = User_Role_Name 
			  FROM User_Role_Master	
			 WHERE User_Role_Id = @NewRoleId	
			 IF(@Roles IS NULL OR @Roles=N'')		 
				SET @Roles = @Role1
			 ELSE
				SET @Roles = @Roles + ', '+@Role1			
			
		END    
    END 

	IF EXISTS
	(
			SELECT TOP 1 1
			FROM RolewiseStopCharges WITH(NOLOCK)
			WHERE SchoolId=@SchoolId 
			AND AcademicYearId = @AcademicYearId 
			AND IsDeleted = 0
			AND StopId = @StopId
			AND RoleId = @NewRoleId
			AND (Charges >  @Charges OR OneWayPercentage > @OneWayCharges)
	)
	BEGIN
		SET @IsAmountDeducted = 1
	END
    
    IF(@Roles IS NULL OR @Roles=N'')		   
    BEGIN
    UPDATE  RolewiseStopCharges       
	   SET  Charges = @Charges,
		    OneWayPercentage = @OneWayCharges
     WHERE  StopId = @StopId
       AND  RoleId = @NewRoleId
    END
     
    DELETE  
      FROM  @StopChargesDetails 
     WHERE  RoleId = @NewRoleId 		  
       SET  @TotalCount -= 1  
 END 
 END
 
IF @SchoolId = 122 -- SNS
BEGIN
		IF EXISTS
		(
			SELECT TOP 1 1
			FROM Schoolwise_Student_Fee_Details
			WHERE Academic_Year_Id = @AcademicYearId
			AND Is_Deleted = 'N'
			AND School_Id = @SchoolId
			AND Fee_Type = 'Transport Fees'
			AND [Debit/Credit] = 'Debit'
			AND Schoolwise_Student_Fee_Id IN
			(
				SELECT Student_Fee_Id
				FROM Schoolwise_Student_Fee_Details
				WHERE Academic_Year_Id = @AcademicYearId
				AND Is_Deleted = 'N'
				AND School_Id = @SchoolId
				AND [Debit/Credit] = 'Credit'
				AND Fee_Type = 'Transport Fees'
			)
		)
		AND @IsAmountDeducted = 1
		BEGIN
			RAISERROR('You can not deduct the charges since debit entries are already generated for student(s).',16,1) 
		END
		ELSE
		BEGIN
			EXEC [Transport].[usp_UpdateTransportDebitEntries] @SchoolId = @SchoolId, @AcademicYearId = @AcademicYearId, @StopId = @StopId, @InsertedById = @InsertedById
			--EXEC [dbo].[usp_AddDebitEntriesForTransportFees] 	@SchoolId = @SchoolId, @AcademicYearId = @AcademicYearId, @UserId = @UserId, @EffectiveFromDate =  @EffectiveFromDate
		END
END

 IF(@Roles IS NOT NULL AND @Roles<> N'')
 BEGIN
		DECLARE @ERRORMSG NVARCHAR(500)		
		SET @ERRORMSG = 'You can not deduct the charges since debit entries for role(s) '+ @Roles +' are already generated'
		RAISERROR(@ERRORMSG,16,1)  
 END
 

 --RAISERROR('Test error.',16,1)
 COMMIT TRANSACTION
 END TRY
 BEGIN CATCH
	ROLLBACK TRANSACTION 
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
	RAISERROR(@ErrorMessage,16,1)
 END CATCH 
END