/****** Object:  StoredProcedure [Transport].[usp_UpdateTransportDebitEntries]    Script Date: 05-05-2026 15:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================================
-- Author:		Sachin
-- Create date: 12-Aug-2016
-- Description:	This USP is used to update charges details.
-- ==========================================================
ALTER PROCEDURE [Transport].[usp_UpdateTransportDebitEntries]
	@SchoolId INT,
	@AcademicYearId INT,
	@StopId INT,
	@InsertedById INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DECLARE @tblUserDetails AS TABLE
	(
		UserId INT
	)

	INSERT INTO @tblUserDetails
    SELECT DISTINCT um.user_Id
	  FROM Transport.TravelerTransportDetails TTD WITH(NOLOCK)
INNER JOIN Transport.RouteShiftTimingDetails RST WITH(NOLOCK)
		ON TTD.SchoolId = RST.SchoolId
	   AND TTD.AcademicYearId = RST.AcademicYearId
	   AND TTD.RouteTimingDetailsId = RST.RouteTimingDetailsId
INNER JOIN Transport.RouteStopDetails RSD WITH(NOLOCK)
		ON RST.RouteStopId = RSD.RouteStopId
INNER JOIN Transport.StopMaster SM WITH(NOLOCK)
		ON SM.SchoolId = TTD.SchoolId
	   AND SM.Academic_Year_Id = TTD.AcademicYearId
	   AND RSD.StopId = SM.StopId
INNER JOIN User_Master UM WITH(NOLOCK)
		ON UM.User_Id = TTD.UserId
INNER JOIN RolewiseStopCharges RSC WITH(NOLOCK)
		ON RSC.StopId = SM.StopId
	   AND RSC.AcademicYearId = SM.Academic_Year_Id
	   AND RSC.RoleId = UM.User_Role_Id
	 WHERE TTD.SchoolId = @SchoolId
	   AND TTD.AcademicYearId = @AcademicYearId
	   AND TTD.Is_Deleted = 0	   
	   AND RSD.Is_Deleted = 0
	   AND SM.Is_Deleted = 0
	   AND SM.StopId = @StopId

	DECLARE @UserId INT,
			@trStartDate DATE,
			@trEndDate DATE,
			@trEffStartDate DATE,
			@trEffEndDate DATE

	SELECT @trStartDate = StartDate,
		   @trEndDate = EndDate
	  FROM TransportServiceDates
	 WHERE SchoolId = @SchoolId
	   AND AcademicYearId = @AcademicYearId
	   AND IsDeleted = 0

	WHILE EXISTS
	(
		SELECT TOP 1 1
		FROM @tblUserDetails
	)
	BEGIN
		SELECT TOP 1 @UserId = UserId
		FROM @tblUserDetails
		ORDER BY UserId

		select @trEffStartDate = EffectiveFromDate, @trEffEndDate = EffectiveToDate
		from TransportServicePeriodDetails
		WHERE schoolId = @SchoolId
		AND AcademicYearId = @AcademicYearId
		AND IsDeleted = 0
		AND UserId = @UserId

		IF @trEffStartDate IS NULL
			SET @trEffStartDate = @trStartDate

		IF @trEffEndDate IS NULL
			SET @trEffEndDate = @trEndDate

		EXEC [dbo].[usp_AddDebitEntriesForTransportFees] 	@SchoolId = @SchoolId, @AcademicYearId = @AcademicYearId, @UserId = @UserId, @EffectiveFromDate =  @trEffStartDate, @TransportEndDate = @trEffEndDate, @InsertedById = @InsertedById

		SET @trEffStartDate = NULL
		SET @trEffEndDate = NULL

		DELETE FROM @tblUserDetails
		WHERE UserId = @UserId
	END

END