/****** Object:  StoredProcedure [dbo].[usp_AnnualConsolidationReportNew]    Script Date: 04-09-2026 12:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	Shankar
-- Create date: 14 Apr 2009
-- Description:	This store procedure is used to retrive student's cosolidate marks for all test to display report.
-- steps 
--	1. get standard division id of given class
--	2. get applicable subjects of the class.
--	3. Mark subjects if they are part of subject group assign their parent subject id
--	4. retriving marks for the subjects not part of group and internal tests only
--	5. retriving marks for the subjects not part of group and not internal tests (terminal and annual exams only)
--	6. retriving marks for the subjects having part of group and internal tests only
--	7. retriving marks for the subjects having part of group and not internal tests (terminal and annual exams only)
--  8. Now cosolidate all marks together with student name , test name and curresponding marks.
-- =============================================

CREATE PROCEDURE [dbo].[usp_AnnualConsolidationReportNew] 
	-- Add the parameters for the stored procedure here
	@School_Id int  , 	
	@Academic_Year_Id int  ,
	@Standard_Id INT,
	@Division_Id INT,
	@Showgrade NVARCHAR =N'N',--This flage is used to show report with marks or grade.
	@SchoolwiseTestId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	
	DECLARE @Standard_Division_Id INT
	--Id for debugging single student
	--Declare @YearWise_Student_Id INT
	--SET @YearWise_Student_Id =574

	--To get SchoolWise_Standard_Division_Id for given standard and division IDs
	SELECT     @Standard_Division_Id=SchoolWise_Standard_Division_Id
	FROM         SchoolWise_Standard_Division_Master
	WHERE     (Standard_Id = @Standard_Id) AND (Division_Id = @Division_Id) 
	AND (School_Id = @School_Id) 
	AND (academic_year_id = @Academic_Year_Id)

	DECLARE @ConsiderActualMarks BIT = 0,
			@TestNameHeader NVARCHAR(100),
			@AcademicYear NVARCHAR(50),
			@ExamName NVARCHAR(100) = ''

	 SELECT @AcademicYear = StartYear + ' - ' + EndYear
	   FROM vw_SchoolwiseAcademicYearInfo
	  WHERE School_Id = @School_Id
	    AND Academic_Year_ID = @Academic_Year_Id
		AND Is_Deleted = 'N'


	SELECT @TestNameHeader = CASE WHEN SchoolWise_Test_Name = 'PA - II' THEN 'P.A. II'
								  WHEN SchoolWise_Test_Name = 'PA - I' THEN 'P.A. I'	
								  WHEN (SchoolWise_Test_Name = 'Annual Exam' OR SchoolWise_Test_Name = 'Half Yearly - II') THEN 'Annual Assessment'	
								  WHEN SchoolWise_Test_Name  = 'Half Yearly - I' THEN 'HALF YEARLY'								  						   
								  ELSE SchoolWise_Test_Name END + ' ' + @AcademicYear,
		  @ExamName = SchoolWise_Test_Name
	FROM SchoolWise_Test_Master
	WHERE School_Id = @School_Id
	AND academic_year_id = @Academic_Year_Id
	AND Is_Deleted = 'N'		
	AND SchoolWise_Test_Id = @SchoolwiseTestId

	--IF EXISTS
	--(
	--	SELECT TOP 1 1
	--	FROM SchoolWise_Test_Master
	--	WHERE School_Id = @School_Id
	--	AND academic_year_id = @Academic_Year_Id
	--	AND Is_Deleted = 'N'
	--	AND IsFinalExam = 1
	--	AND SchoolWise_Test_Id = @SchoolwiseTestId
	--)
	--BEGIN
	--	SET @ConsiderActualMarks = 1
	--END

	DECLARE @tblExams AS TABLE
	(
		SchoolwiseTestID INT
	)

	INSERT INTO @tblExams
	SELECT @SchoolwiseTestId

	DECLARE @StudThridLang TABLE  
	(  
		YearwiseStudentId INT,  
		SubjectId INT  
	)  

	--IF EXISTS(SELECT TOP 1 1 FROM Standard_Master WHERE Standard_Id = @Standard_Id and School_Id = @School_Id AND Academic_Year_Id = @Academic_Year_Id AND Is_Deleted = 'N' AND Standard_Name IN ('5','6','7','8'))
	--BEGIN
	--		INSERT @StudThridLang
	--		(
	--			YearwiseStudentId,
	--			SubjectId
	--		)
	--		SELECT YearWise_Student_Id,
	--			   ThirdLanguageSubjectId
	--	   FROM YearWise_Student_Details 
	--		WHERE School_Id = @School_Id  
	--		AND Academic_Year_ID = @Academic_Year_Id  
	--		AND Standard_Id = @Standard_Id   
	--		AND Division_id = @Division_Id  
	--		ORDER BY YearWise_Student_Id
 --   END
    

	--Temp table to collect student test wise marks together from  all categories
	--(i.e Unit and monthly tests, subjects with/without group)
	DECLARE @tblTestWiseMarks AS TABLE
	(
		Subject_Id INT, 
		SchoolWise_Test_Id INT,
		SchoolWise_Test_Name NVARCHAR(50),
		Marks_Scored DECIMAL(4,1),
		TotalMarks INT,
		Is_Absent CHAR(1),
		Student_Id INT,
		TestSortOrder INT,
		ActualMarks DECIMAL(4,1),
		ActualOutOfMarks INT
	)
	/*********************************************************************************************************/

	DECLARE @SkillSubjectId INT = 0
	SELECT @SkillSubjectId = Subject_Id
	FROM Subject_Master
	WHERE School_Id = @School_Id
	AND academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND Subject_Name = 'Skill IT/AI'

	--This table is used to get applicable subjects and marking them if they are part of subject group for this class
	DECLARE @tblSubject AS TABLE
	(
		Subject_Id  INT,
		Parent_Subject_Id INT,
		Sort_Order INT,
		Subject_Name NVARCHAR(50)
	)

	--	get distict subjects for given class
	INSERT INTO @tblSubject
	SELECT DISTINCT 
		SchoolWise_Test_Subject_Marks_Master.Subject_Id, CONVERT(INT, N'0') AS Parent_Subject_Id, SchoolWise_Standard_Subject_Master.Sort_Order, 
		Subject_Master.Subject_Name
	FROM         SchoolWise_Test_Subject_Marks_Master INNER JOIN
		Schoolwise_Division_Subject_Master ON 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id AND 
		SchoolWise_Test_Subject_Marks_Master.School_Id = Schoolwise_Division_Subject_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Schoolwise_Division_Subject_Master.academic_year_id AND 
		SchoolWise_Test_Subject_Marks_Master.Subject_Id = Schoolwise_Division_Subject_Master.Subject_Id INNER JOIN
		SchoolWise_Standard_Division_Master ON 
		SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id AND 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id AND 
		Schoolwise_Division_Subject_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id INNER JOIN
		SchoolWise_Standard_Subject_Master ON 
		SchoolWise_Standard_Division_Master.academic_year_id = SchoolWise_Standard_Subject_Master.academic_year_id AND 
		SchoolWise_Standard_Division_Master.Standard_Id = SchoolWise_Standard_Subject_Master.Standard_Id AND 
		SchoolWise_Standard_Division_Master.School_Id = SchoolWise_Standard_Subject_Master.School_Id AND 
		Schoolwise_Division_Subject_Master.Subject_Id = SchoolWise_Standard_Subject_Master.Subject_Id INNER JOIN
		Subject_Master ON SchoolWise_Test_Subject_Marks_Master.Subject_Id = Subject_Master.Subject_Id AND 
		SchoolWise_Test_Subject_Marks_Master.School_Id = Subject_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Subject_Master.academic_Year_Id
	WHERE     (SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id) AND 
		(Schoolwise_Division_Subject_Master.Total_Consideration = N'Y' OR Subject_Master.Subject_Id = @SkillSubjectId)

	/*********************************************************************************************************
		Define the subject group table, itearate through subject groups defined for the school 
		and tests configured for this class,
		Check for the groups applicable for the tests, if it is then update subject temp table
	*********************************************************************************************************/
	--Use Cursor and mark subject for their group
	DECLARE @parent_Subject_id INT
	DECLARE @parent_Group_id INT
	DECLARE @Count INT
	DECLARE @Test_Id INT

	DECLARE	Test_cursor CURSOR LOCAL FAST_FORWARD  FOR
	SELECT DISTINCT SchoolWise_Test_Id AS Test_Id
	FROM         SchoolWise_Test_Subject_Marks_Master
	WHERE     (Standard_Division_Id = @Standard_Division_Id) 
	AND (Academic_Year_Id = @Academic_Year_Id) 
	AND (School_Id = @School_Id)
	and SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)

	DECLARE	SubjectGroup_cursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT DISTINCT   parent_Subject_id  , parent_Group_id 
		FROM  vw_SubjectGroup  WHERE  School_id = @School_Id AND is_deleted = N'N' 
		AND academic_year_Id = @Academic_Year_Id 

	OPEN Test_cursor

	FETCH NEXT FROM Test_cursor
	INTO @Test_Id	
	
	WHILE @@FETCH_STATUS = 0
	BEGIN		
		
		OPEN SubjectGroup_cursor

		FETCH NEXT FROM SubjectGroup_cursor
		INTO @parent_Subject_id, @parent_Group_id

			-- Check @@FETCH_STATUS to see if there are any more rows to fetch.
			WHILE @@FETCH_STATUS = 0
			BEGIN
				SELECT    @Count= COUNT (*) 
				FROM dbo.Subject_Master INNER JOIN
					dbo.Subject_Groups ON dbo.Subject_Master.Subject_Id = dbo.Subject_Groups.Subject_Id AND 
					dbo.Subject_Master.School_Id = dbo.Subject_Groups.School_Id
				WHERE   Subject_master.School_id = Subject_Groups.School_id  
						AND (dbo.Subject_Master.Is_Deleted = N'N') 
						AND Subject_Groups.academic_Year_Id = @Academic_Year_Id
						AND Subject_Groups.parent_group_id = @parent_Group_id 
						AND Subject_Groups.parent_Subject_id = @parent_Subject_id 	 				 	
						AND Subject_Groups.Subject_Id NOT IN
						(SELECT DISTINCT Subject_Id
							FROM         SchoolWise_Test_Subject_Marks_Master
							WHERE     (SchoolWise_Test_Id = @Test_Id) 
							AND (Standard_Division_Id = @Standard_Division_Id) 
							AND (School_Id = @School_Id) 
							AND (Academic_Year_Id = @Academic_Year_Id))
				IF @Count= 0 
				BEGIN
					--update subejct temp table for the parent subject id so that later we can identify them
					UPDATE @tblSubject
					SET Parent_Subject_Id = @parent_Subject_id
					WHERE Subject_Id  IN (
						SELECT   dbo.Subject_Groups.Subject_Id
						FROM dbo.Subject_Master INNER JOIN
							dbo.Subject_Groups ON dbo.Subject_Master.Subject_Id = dbo.Subject_Groups.Subject_Id AND 
							dbo.Subject_Master.School_Id = dbo.Subject_Groups.School_Id
						WHERE   Subject_master.School_id = Subject_Groups.School_id  
								AND (dbo.Subject_Master.Is_Deleted = N'N') 
								AND Subject_Groups.academic_Year_Id = @Academic_Year_Id 
								AND Subject_Groups.parent_group_id = @parent_Group_id 
								AND Subject_Groups.parent_Subject_id = @parent_Subject_id 	 				 	
					)					
					
				END
				
				FETCH NEXT FROM SubjectGroup_cursor
				INTO @parent_Subject_id, @parent_Group_id
			END
			CLOSE SubjectGroup_cursor

			FETCH NEXT FROM Test_cursor
			INTO @Test_Id
		END
	--Close the cursore and free the resourcese by deallocating it.
	CLOSE Test_cursor
	DEALLOCATE Test_cursor
	DEALLOCATE SubjectGroup_cursor

	/*********************************************************************************************************/
	--	Now start retriving marks for the 
	--	subjects not having part of group and tests are internal tests only(Worksheet/Unit Tests)
	--  also set student is present or not.
	/*********************************************************************************************************/
	
	

	INSERT INTO @tblTestWiseMarks
	SELECT    Schoolwise_Division_Subject_Master.Subject_Id,SchoolWise_Test_Master.SchoolWise_Test_Id,Schoolwise_Test_Master.SchoolWise_Test_Name,
			  SUM(SchoolWise_Student_Test_Marks.Total_Marks_Scored)Total_Marks_Scored,
			  SUM(CASE WHEN SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> 0 AND SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
					   THEN  SchoolWise_Test_Subject_Marks_Master.OutOfMarks
					   WHEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks <> 0
					   THEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks
				  ELSE SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
				  END) Subject_Total_Marks,			  
			  SchoolWise_Student_Test_Marks.Is_Absent, 
			  SchoolWise_Student_Test_Marks.Student_Id,
			  Schoolwise_Standard_Test_Master.Sort_Order TestSortOrder,
			  0,
			  0
	FROM         SchoolWise_Test_Subject_Marks_Master INNER JOIN
			  SchoolWise_Student_Test_Marks ON 
			  SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = SchoolWise_Student_Test_Marks.TestWise_Subject_Marks_Id INNER JOIN
			  --SchoolWise_StanderedDivision_Test_Master ON 
			  --SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_StanderedDivision_Test_Master.School_id AND 
			  --SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_StanderedDivision_Test_Master.Academic_Year_ID AND 
			  --SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_StanderedDivision_Test_Master.Standerd_division_Id AND 
			  --SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_StanderedDivision_Test_Master.SchoolWise_Test_Id INNER JOIN
			  Schoolwise_Division_Subject_Master ON SchoolWise_Test_Subject_Marks_Master.School_Id = Schoolwise_Division_Subject_Master.School_Id AND 
			  SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Schoolwise_Division_Subject_Master.academic_year_id AND 
			  SchoolWise_Test_Subject_Marks_Master.Subject_Id = Schoolwise_Division_Subject_Master.Subject_Id AND 
			  SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id INNER JOIN
			  Schoolwise_Standard_Test_Master ON 
			  SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = Schoolwise_Standard_Test_Master.SchoolWise_Test_Id AND 
			  SchoolWise_Student_Test_Marks.School_Id = Schoolwise_Standard_Test_Master.School_Id AND 
			  SchoolWise_Student_Test_Marks.Academic_Year_Id = Schoolwise_Standard_Test_Master.academic_Year_Id INNER JOIN
			  SchoolWise_Standard_Division_Master ON Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
			  Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id AND 
			  Schoolwise_Standard_Test_Master.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id AND 
			  SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id AND 
			  SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
			  SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id INNER JOIN
			  SchoolWise_Test_Master ON SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
			  Schoolwise_Standard_Test_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
			  Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Test_Master.School_Id AND 
			  Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Test_Master.academic_year_id INNER JOIN 
			  Test_Type ON SchoolWise_Test_Master.Original_SchoolWise_Test_Id=Test_Type.OriginalTestId 
			  AND SchoolWise_Test_Master.School_Id=Test_Type.SchoolId AND
			  SchoolWise_Test_Master.academic_year_id=Test_Type.Academic_Year_Id
			  INNER JOIN @tblSubject tblSubject ON
			  tblSubject.Subject_Id  =Schoolwise_Division_Subject_Master.Subject_Id AND 
			  Parent_Subject_Id =0 
			  LEFT OUTER JOIN (SELECT TestWise_Subject_Marks_Id,SUM(OutOfMarks) AS TestTypeOutOfMarks
											   FROM SchoolWise_Test_Subject_Marks_Details
											   GROUP BY TestWise_Subject_Marks_Id)SchoolWise_Test_Subject_Marks_Details
							  ON SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	WHERE     (SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id) AND 
			  (SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id) AND 
			  (SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id) AND 
			  --(SchoolWise_StanderedDivision_Test_Master.Is_Published = N'Y') AND 
			  --(SchoolWise_StanderedDivision_Test_Master.Is_Deleted = 'N') AND 
			  SchoolWise_Test_Subject_Marks_Master.Is_Submitted = N'Y' AND
			  (SchoolWise_Student_Test_Marks.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Is_Deleted = N'N') AND 
			  (Schoolwise_Division_Subject_Master.Is_Deleted = 'N') AND (SchoolWise_Test_Subject_Marks_Master.Grade_Or_Marks = N'M') AND 
			  (Schoolwise_Division_Subject_Master.Total_Consideration = N'Y' OR tblSubject.Subject_Id = @SkillSubjectId) 
				AND (SchoolWise_Test_Master.Is_Internal_Test = N'Y')		
				and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY  Schoolwise_Test_Master.SchoolWise_Test_Name, Schoolwise_Division_Subject_Master.Subject_Id,
			  SchoolWise_Student_Test_Marks.Student_Id,
			  SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks,
			  SchoolWise_Student_Test_Marks.Is_Absent,SchoolWise_Test_Master.SchoolWise_Test_Id,
			  Schoolwise_Standard_Test_Master.Sort_Order


	/*********************************************************************************************************/
		--Now start retriving marks for the 
		--subjects not part of group and tests are not internal tests (terminal and annual exams only)
		-- also set student is present or not.
		
	/*********************************************************************************************************/

				INSERT INTO @tblTestWiseMarks	
				     SELECT Schoolwise_Division_Subject_Master.Subject_Id,
							SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,
							SchoolWise_Test_Master.SchoolWise_Test_Name,
							SUM(SchoolWise_Student_Test_Marks_Detail.Marks_Scored) Total_Marks_Scored
							--,SUM(CASE WHEN SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks <> 0 AND SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks <> SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
							--	      THEN  SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
							--	      WHEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks <> 0
							--	      THEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks
							--          ELSE SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks END)Subject_Total_Marks
						   ,SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
						   ,SchoolWise_Student_Test_Marks.Is_Absent
						   ,SchoolWise_Student_Test_Marks.Student_Id,
						   Schoolwise_Standard_Test_Master.Sort_Order TestSortOrder,
						   0,
						   0
				      FROM SchoolWise_Test_Subject_Marks_Master 
                INNER JOIN SchoolWise_Student_Test_Marks 
                	    ON SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = SchoolWise_Student_Test_Marks.TestWise_Subject_Marks_Id
                INNER JOIN SchoolWise_Student_Test_Marks_Detail
                	    ON SchoolWise_Student_Test_Marks_Detail.SchoolWise_Student_Test_Marks_Id = SchoolWise_Student_Test_Marks.SchoolWise_Student_Test_Marks_Id
                INNER JOIN Schoolwise_Division_Subject_Master 
                	    ON SchoolWise_Test_Subject_Marks_Master.School_Id = Schoolwise_Division_Subject_Master.School_Id 
                	   AND SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Schoolwise_Division_Subject_Master.academic_year_id 
                	   AND SchoolWise_Test_Subject_Marks_Master.Subject_Id = Schoolwise_Division_Subject_Master.Subject_Id 
                	   AND SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id 
                INNER JOIN Schoolwise_Standard_Test_Master 
                	    ON SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = Schoolwise_Standard_Test_Master.SchoolWise_Test_Id 
                	   AND SchoolWise_Student_Test_Marks.School_Id = Schoolwise_Standard_Test_Master.School_Id 
                	   AND SchoolWise_Student_Test_Marks.Academic_Year_Id = Schoolwise_Standard_Test_Master.academic_Year_Id 
                INNER JOIN SchoolWise_Standard_Division_Master 
                	    ON Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id 
                	   AND Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id 
                	   AND Schoolwise_Standard_Test_Master.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id 
                	   AND SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id 
                	   AND SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id 
                	   AND SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id 
                INNER JOIN SchoolWise_Test_Master 
                	    ON SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id 
                	   AND Schoolwise_Standard_Test_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id 
                	   AND Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Test_Master.School_Id 
                	   AND Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Test_Master.academic_year_id
                INNER JOIN @tblSubject tblSubject 
                	    ON tblSubject.Subject_Id  =Schoolwise_Division_Subject_Master.Subject_Id 
                	   AND Parent_Subject_Id =0
           LEFT OUTER JOIN (SELECT TestWise_Subject_Marks_Id,
								 SUM(OutOfMarks) AS TestTypeOutOfMarks
							FROM SchoolWise_Test_Subject_Marks_Details
						GROUP BY TestWise_Subject_Marks_Id
						)SchoolWise_Test_Subject_Marks_Details
						  ON SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	WHERE     (SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id) AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Published = N'Y') AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Deleted = 'N') AND 
		SchoolWise_Test_Subject_Marks_Master.Is_Submitted = N'Y' AND
		(SchoolWise_Student_Test_Marks.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Is_Deleted = N'N') AND 
		(Schoolwise_Division_Subject_Master.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Grade_Or_Marks = 'M') AND 
		(Schoolwise_Division_Subject_Master.Total_Consideration = N'Y' OR tblSubject.Subject_Id = @SkillSubjectId) 
		AND (SchoolWise_Test_Master.Is_Internal_Test = N'N')
		and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY  Schoolwise_Division_Subject_Master.Subject_Id,
		SchoolWise_Student_Test_Marks.Student_Id,
		SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,
		SchoolWise_Test_Master.SchoolWise_Test_Name,
		SchoolWise_Student_Test_Marks.Is_Absent
		,SchoolWise_Test_Subject_Marks_Master.OutOfMarks,SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks,SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks,
			  Schoolwise_Standard_Test_Master.Sort_Order

--SELECT * FROM @tblTestWiseMarks

	/*********************************************************************************************************/
	--	Now start retriving marks for the 
	--	subjects having part of group and tests are internal tests only(Worksheet/Unit Tests)
	--  also set student is present or not.
	/*********************************************************************************************************/

	INSERT INTO @tblTestWiseMarks	
	SELECT    tblSubject.Subject_Id,SchoolWise_Test_Master.SchoolWise_Test_Id,Schoolwise_Test_Master.SchoolWise_Test_Name,
		      SUM(SchoolWise_Student_Test_Marks.Total_Marks_Scored) Total_Marks_Scored,
		     SUM(CASE WHEN SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> 0 AND SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
					   THEN  SchoolWise_Test_Subject_Marks_Master.OutOfMarks
					   WHEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks <> 0
					   THEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks
				  ELSE SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
				  END) Subject_Total_Marks
		    , SchoolWise_Student_Test_Marks.Is_Absent, 
		    SchoolWise_Student_Test_Marks.Student_Id,
			  Schoolwise_Standard_Test_Master.Sort_Order TestSortOrder,
			  0,
			  0
	FROM         SchoolWise_Test_Subject_Marks_Master INNER JOIN
		SchoolWise_Student_Test_Marks ON 
		SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = SchoolWise_Student_Test_Marks.TestWise_Subject_Marks_Id INNER JOIN
		--SchoolWise_StanderedDivision_Test_Master ON 
		--SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_StanderedDivision_Test_Master.School_id AND 
		--SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_StanderedDivision_Test_Master.Academic_Year_ID AND 
		--SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_StanderedDivision_Test_Master.Standerd_division_Id AND 
		--SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_StanderedDivision_Test_Master.SchoolWise_Test_Id INNER JOIN
		Schoolwise_Division_Subject_Master ON SchoolWise_Test_Subject_Marks_Master.School_Id = Schoolwise_Division_Subject_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Schoolwise_Division_Subject_Master.academic_year_id AND 
		SchoolWise_Test_Subject_Marks_Master.Subject_Id = Schoolwise_Division_Subject_Master.Subject_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id INNER JOIN
		Schoolwise_Standard_Test_Master ON 
		SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = Schoolwise_Standard_Test_Master.SchoolWise_Test_Id AND 
		SchoolWise_Student_Test_Marks.School_Id = Schoolwise_Standard_Test_Master.School_Id AND 
		SchoolWise_Student_Test_Marks.Academic_Year_Id = Schoolwise_Standard_Test_Master.academic_Year_Id INNER JOIN
		SchoolWise_Standard_Division_Master ON Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
		Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id AND 
		Schoolwise_Standard_Test_Master.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id AND 
		SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id INNER JOIN
		SchoolWise_Test_Master ON SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
		Schoolwise_Standard_Test_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
		Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Test_Master.School_Id AND 
		Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Test_Master.academic_year_id INNER JOIN 
		Test_Type ON SchoolWise_Test_Master.Original_SchoolWise_Test_Id=Test_Type.OriginalTestId
		AND SchoolWise_Test_Master.School_Id=Test_Type.SchoolId AND
		SchoolWise_Test_Master.academic_year_id=Test_Type.Academic_Year_Id
		INNER JOIN @tblSubject tblSubject ON
		tblSubject.Subject_Id  =Schoolwise_Division_Subject_Master.Subject_Id AND 
		Parent_Subject_Id <>0
		LEFT OUTER JOIN (SELECT TestWise_Subject_Marks_Id,SUM(OutOfMarks) AS TestTypeOutOfMarks
					     FROM SchoolWise_Test_Subject_Marks_Details
		 			     GROUP BY TestWise_Subject_Marks_Id)SchoolWise_Test_Subject_Marks_Details
		ON SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	WHERE     (SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id) AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Published = N'Y') AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Deleted = N'N') AND 
		SchoolWise_Test_Subject_Marks_Master.Is_Submitted = N'Y' AND
		(SchoolWise_Student_Test_Marks.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Is_Deleted = N'N') AND 
		(Schoolwise_Division_Subject_Master.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Grade_Or_Marks = 'M') AND 
		(Schoolwise_Division_Subject_Master.Total_Consideration = N'Y' OR tblSubject.Subject_Id = @SkillSubjectId) 
		AND (SchoolWise_Test_Master.Is_Internal_Test = N'Y')
		and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY Schoolwise_Test_Master.SchoolWise_Test_Name,tblSubject.Subject_Id,
		SchoolWise_Student_Test_Marks.Student_Id,
		SchoolWise_Student_Test_Marks.Is_Absent,SchoolWise_Test_Master.SchoolWise_Test_Id,
			  Schoolwise_Standard_Test_Master.Sort_Order
--SELECT * FROM @tblTestWiseMarks	
	/*********************************************************************************************************/
	--	Now start retriving marks for the 
	--	subjects having part of group and tests are not internal tests (terminal and annual exams only)
	--  also set student is present or not.
	/*********************************************************************************************************/
	
	INSERT INTO @tblTestWiseMarks	
	SELECT    tblSubject.Subject_Id,SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,SchoolWise_Test_Master.SchoolWise_Test_Name,
		      SUM(SchoolWise_Student_Test_Marks.Total_Marks_Scored)Total_Marks_Scored,
		     SUM(CASE WHEN SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> 0 AND SchoolWise_Test_Subject_Marks_Master.OutOfMarks <> SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
					   THEN  SchoolWise_Test_Subject_Marks_Master.OutOfMarks
					   WHEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks <> 0
					   THEN SchoolWise_Test_Subject_Marks_Details.TestTypeOutOfMarks
				  ELSE SchoolWise_Test_Subject_Marks_Master.Subject_Total_Marks
				  END) Subject_Total_Marks
		     ,SchoolWise_Student_Test_Marks.Is_Absent, 
		     SchoolWise_Student_Test_Marks.Student_Id,
			  Schoolwise_Standard_Test_Master.Sort_Order TestSortOrder,
			  0,
			  0
	FROM         SchoolWise_Test_Subject_Marks_Master INNER JOIN
		SchoolWise_Student_Test_Marks ON 
		SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id = SchoolWise_Student_Test_Marks.TestWise_Subject_Marks_Id INNER JOIN
		--SchoolWise_StanderedDivision_Test_Master ON 
		--SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_StanderedDivision_Test_Master.School_id AND 
		--SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_StanderedDivision_Test_Master.Academic_Year_ID AND 
		--SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_StanderedDivision_Test_Master.Standerd_division_Id AND 
		--SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_StanderedDivision_Test_Master.SchoolWise_Test_Id INNER JOIN
		Schoolwise_Division_Subject_Master ON SchoolWise_Test_Subject_Marks_Master.School_Id = Schoolwise_Division_Subject_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = Schoolwise_Division_Subject_Master.academic_year_id AND 
		SchoolWise_Test_Subject_Marks_Master.Subject_Id = Schoolwise_Division_Subject_Master.Subject_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = Schoolwise_Division_Subject_Master.Standard_Division_Id INNER JOIN
		Schoolwise_Standard_Test_Master ON 
		SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = Schoolwise_Standard_Test_Master.SchoolWise_Test_Id AND 
		SchoolWise_Student_Test_Marks.School_Id = Schoolwise_Standard_Test_Master.School_Id AND 
		SchoolWise_Student_Test_Marks.Academic_Year_Id = Schoolwise_Standard_Test_Master.academic_Year_Id INNER JOIN
		SchoolWise_Standard_Division_Master ON Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
		Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id AND 
		Schoolwise_Standard_Test_Master.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id AND 
		SchoolWise_Test_Subject_Marks_Master.School_Id = SchoolWise_Standard_Division_Master.School_Id AND 
		SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = SchoolWise_Standard_Division_Master.academic_year_id INNER JOIN
		SchoolWise_Test_Master ON SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
		Schoolwise_Standard_Test_Master.SchoolWise_Test_Id = SchoolWise_Test_Master.SchoolWise_Test_Id AND 
		Schoolwise_Standard_Test_Master.School_Id = SchoolWise_Test_Master.School_Id AND 
		Schoolwise_Standard_Test_Master.academic_Year_Id = SchoolWise_Test_Master.academic_year_id
		INNER JOIN @tblSubject tblSubject ON
		tblSubject.Subject_Id  =Schoolwise_Division_Subject_Master.Subject_Id AND 
		Parent_Subject_Id <>0
		LEFT OUTER JOIN (SELECT TestWise_Subject_Marks_Id,SUM(OutOfMarks) AS TestTypeOutOfMarks
					     FROM SchoolWise_Test_Subject_Marks_Details
		 			     GROUP BY TestWise_Subject_Marks_Id)SchoolWise_Test_Subject_Marks_Details
		ON SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	WHERE     (SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id) AND 
		(SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id) AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Published = N'Y') AND 
		--(SchoolWise_StanderedDivision_Test_Master.Is_Deleted = N'N') AND 
		SchoolWise_Test_Subject_Marks_Master.Is_Submitted = N'Y' AND
		(SchoolWise_Student_Test_Marks.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Is_Deleted = N'N') AND 
		(Schoolwise_Division_Subject_Master.Is_Deleted = N'N') AND (SchoolWise_Test_Subject_Marks_Master.Grade_Or_Marks = N'M') AND 
		(Schoolwise_Division_Subject_Master.Total_Consideration = N'Y' OR tblSubject.Subject_Id = @SkillSubjectId) 
		AND (SchoolWise_Test_Master.Is_Internal_Test = N'N')
		and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY  tblSubject.Subject_Id,
		SchoolWise_Student_Test_Marks.Student_Id,
		SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,
		SchoolWise_Test_Master.SchoolWise_Test_Name,
		SchoolWise_Student_Test_Marks.Is_Absent,
		Schoolwise_Standard_Test_Master.Sort_Order


		UPDATE TTM
		SET ActualMarks = S.Marks_Scored
		FROM @tblTestWiseMarks TTM
		INNER JOIN
		(
			SELECT STSMM.Subject_Id, STSMM.SchoolWise_Test_Id, SSTM.Student_Id, SUM(SSTMD.Marks_Scored) AS Marks_Scored
			FROM SchoolWise_Test_Subject_Marks_Master STSMM
			INNER JOIN SchoolWise_Student_Test_Marks SSTM
			ON STSMM.TestWise_Subject_Marks_Id = SSTM.TestWise_Subject_Marks_Id
			INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
			ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
			WHERE STSMM.Academic_Year_Id = @Academic_Year_Id
			AND STSMM.Is_Deleted = 'N'
			AND SSTM.Is_Deleted = 'N'
			AND SSTMD.Is_Deleted = 'N'		
			AND STSMM.Grade_Or_Marks = 'M'
			AND STSMM.Is_Submitted = 'Y'
			GROUP BY SSTM.Student_Id,STSMM.SchoolWise_Test_Id,STSMM.Subject_Id
		)S
		ON TTM.Student_Id = S.Student_Id
		AND TTM.Subject_Id = S.Subject_Id
		AND TTM.SchoolWise_Test_Id = S.SchoolWise_Test_Id

		UPDATE TTM
		SET ActualOutOfMarks = S.Subject_Total_Marks
		FROM @tblTestWiseMarks TTM
		INNER JOIN YearWise_Student_Details YSD
		ON TTM.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN
		(
			SELECT Standard_Division_Id, Subject_Id, SchoolWise_Test_Id, Subject_Total_Marks, VSD.Standard_Id, VSD.Division_Id
			FROM SchoolWise_Test_Subject_Marks_Master STSMM
			INNER JOIN vw_standard_division VSD
			ON STSMM.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
			AND STSMM.Academic_Year_Id = VSD.academic_year_id
			WHERE STSMM.Academic_Year_Id = @Academic_Year_Id
			AND STSMM.Is_Deleted = 'N'
			AND STSMM.Grade_Or_Marks = 'M'
			AND STSMM.Is_Submitted = 'Y'
		)S
		ON YSD.Standard_Id = S.Standard_Id
		AND YSD.Division_id = S.Division_Id
		AND TTM.Subject_Id = S.Subject_Id
		AND TTM.SchoolWise_Test_Id = S.SchoolWise_Test_Id
		
	--SELECT * FROM @tblTestWiseMarks
	DECLARE @tblTestWiseTesTypeCount AS TABLE
	(
		SchoolWise_Test_Id INT,
		Subject_Id INT,
		TestTypeCount INT
	)
	
	INSERT INTO @tblTestWiseTesTypeCount
	SELECT SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,SchoolWise_Test_Subject_Marks_Master.Subject_Id, COUNT(SchoolWise_Test_Subject_Marks_Details.TestType_Id) 
	FROM SchoolWise_Test_Subject_Marks_Master
	INNER JOIN SchoolWise_Test_Subject_Marks_Details
	ON SchoolWise_Test_Subject_Marks_Details.TestWise_Subject_Marks_Id = SchoolWise_Test_Subject_Marks_Master.TestWise_Subject_Marks_Id
	AND SchoolWise_Test_Subject_Marks_Master.Standard_Division_Id = @Standard_Division_Id
	AND SchoolWise_Test_Subject_Marks_Master.Academic_Year_Id = @Academic_Year_Id
	AND SchoolWise_Test_Subject_Marks_Master.School_Id = @School_Id
	and SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY SchoolWise_Test_Subject_Marks_Master.SchoolWise_Test_Id,SchoolWise_Test_Subject_Marks_Master.Subject_Id
	

--SELECT *
--FROM @tblTestWiseTesTypeCount

	DECLARE @tblStudentTestWiseMarks AS TABLE
	(
		Roll_No INT, 
		Student_Id INT,
		StudentName NVARCHAR(100),
		Marks_Scored DECIMAL(5,1),		
		Test_Name NVARCHAR(50),
		TotalMarks INT,
		Subject_Name NVARCHAR(50),
		Subject_Id INT,
		Is_Absent CHAR(1),		
		Sort_Order INT,		
		TeacherName NVARCHAR(100),
		Standard_Name NVARCHAR(100),
		Division_Name NVARCHAR(100),
		Principle NVARCHAR(100),
		SchoolWise_Test_Id INT,
		TestSortOrder INT,
		IsTotalMark BIT,
		IsTestTypeEntry BIT
	)

DECLARE @ClassTeacherName NVARCHAR(50), 
		@Standard_Name NVARCHAR(15), 
		@Division_Name NVARCHAR(15)

IF @School_Id <> 122
BEGIN
	SELECT  @ClassTeacherName = COALESCE(@ClassTeacherName + ' / ','') + TeacherName,
			@Standard_Name = CASE WHEN Is_PrePrimary = 'Y' THEN Standard_Name ELSE dbo.udf_ConvertIntToRoman(CONVERT(int, Standard_Name)) END,
			@Division_Name = Division_Name
	FROM vw_ClassTeacher
	WHERE  SchoolWise_Standard_Division_Id = @Standard_Division_Id
END
ELSE
BEGIN
	SELECT  TOP 1 @ClassTeacherName = TeacherName,
			@Standard_Name = CASE WHEN Is_PrePrimary = 'Y' OR PATINDEX('%SCI%',Standard_Name) <> 0 OR PATINDEX('%COM%',Standard_Name) <> 0 OR PATINDEX('%ART%',Standard_Name) <> 0  THEN Standard_Name ELSE dbo.udf_ConvertIntToRoman(CONVERT(int, Standard_Name)) END,
			@Division_Name = Division_Name
	FROM vw_ClassTeacher
	WHERE  SchoolWise_Standard_Division_Id = @Standard_Division_Id
END

	---Now retrive marks from temp table tblTestWiseMarks with their curresponding test names and student name from db
	-- Here SUM of marks is still need because there are multiple records for the group subjects( for some test group might not applicable
	-- and parent subjects marks are the actual groups marks)
	INSERT INTO @tblStudentTestWiseMarks
	SELECT 	
		YearWise_Student_Details.Roll_No
		, tblTestWiseMarks.Student_Id
		,  '  ' + vw_BaseStudentDetails.StudentName as StudentName
		, SUM(tblTestWiseMarks.Marks_Scored)  Marks
		, ISNULL(tblTestWiseMarks.SchoolWise_Test_Name , N'Work Sheets') AS Test_Name 
		, SUM(TotalMarks) TotalMarks
		, tblSubject.Subject_Name
		, tblTestWiseMarks.Subject_Id 
		,tblTestWiseMarks.Is_Absent
		, tblSubject.Sort_Order 
		, @ClassTeacherName
		, @Standard_Name
		, @Division_Name
		, vw_Get_Principle.Principle
		, tblTestWiseMarks.SchoolWise_Test_Id
		, tblTestWiseMarks.TestSortOrder
		,0
		,0
	FROM @tblTestWiseMarks   tblTestWiseMarks 
		INNER JOIN @tblSubject tblSubject ON
		tblSubject.Subject_Id  = tblTestWiseMarks.Subject_Id 
		LEFT OUTER JOIN SchoolWise_Test_Master ON
		SchoolWise_Test_Master.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
		INNER JOIN
		YearWise_Student_Details ON
		YearWise_Student_Details.YearWise_Student_Id = tblTestWiseMarks.Student_Id INNER JOIN
		vw_BaseStudentDetails ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id AND 
		YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id INNER JOIN
		vw_Get_Principle ON vw_Get_Principle.academic_year_id = @Academic_Year_Id
		AND vw_Get_Principle.School_Id = @School_Id
		INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
		ON tblTestWiseTesTypeCount.Subject_Id = tblTestWiseMarks.Subject_Id
		AND tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
		
	WHERE     (SchoolWise_Test_Master.School_Id = @School_Id OR SchoolWise_Test_Master.School_Id  IS NULL ) 
		AND (SchoolWise_Test_Master.academic_year_id = @Academic_Year_Id OR SchoolWise_Test_Master.academic_year_id IS NULL)
		AND (YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id) 
		and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)	
		and ((YearWise_Student_Details.YearWise_Student_Id <> 31698 and @School_Id = 122) OR @School_Id <> 122)
	GROUP BY 
		 tblTestWiseMarks.Subject_Id 
		, tblTestWiseMarks.Student_Id 
		, tblSubject.Subject_Name
		, tblTestWiseMarks.SchoolWise_Test_Name
		, YearWise_Student_Details.Roll_No
		, vw_BaseStudentDetails.StudentName
		, tblSubject.Sort_Order
		, vw_Get_Principle.Principle
		, tblTestWiseMarks.SchoolWise_Test_Id
        , tblTestWiseMarks.Is_Absent
        , tblTestWiseMarks.TestSortOrder

		
IF @ConsiderActualMarks = 1
BEGIN

	DECLARE @tblTestTypeMarks AS TABLE
	(
		Student_Id INT,
		Subject_Id INT,
		SchoolWise_Test_Id INT,
		Is_Absent CHAR,
		TestType_Id INT,
		Marks_Scored DECIMAL(5,2),
		TestType_Total_Marks INT,
		TestTypeSortOrder INT
	)

	INSERT INTO @tblTestTypeMarks
	SELECT SSTM.Student_Id, SSTM.Subject_Id, STSMM.SchoolWise_Test_Id,SSTMD.Is_Absent,SSTMD.TestType_Id,SSTMD.Marks_Scored, 0, 0
	FROM SchoolWise_Student_Test_Marks SSTM
	INNER JOIN SchoolWise_Test_Subject_Marks_Master STSMM
	ON SSTM.TestWise_Subject_Marks_Id = STSMM.TestWise_Subject_Marks_Id
	INNER JOIN SchoolWise_Student_Test_Marks_Detail SSTMD
	ON SSTM.SchoolWise_Student_Test_Marks_Id = SSTMD.SchoolWise_Student_Test_Marks_Id
	INNER JOIN YearWise_Student_Details YSD
	ON SSTM.Student_Id = YSD.Student_Id
	INNER JOIN @tblTestWiseTesTypeCount TTWTTC
	ON STSMM.SchoolWise_Test_Id = TTWTTC.SchoolWise_Test_Id
	AND SSTM.Subject_Id = TTWTTC.Subject_Id
	WHERE SSTM.School_Id = @School_Id
	and SSTM.Academic_Year_Id = @Academic_Year_Id
	and SSTM.Is_Deleted = 'N'
	AND STSMM.Is_Deleted = 'N'
	AND STSMM.Grade_Or_Marks = 'M'
	AND Is_Submitted = 'Y'
	AND SSTMD.Is_Deleted = 'N'
	AND YSD.Standard_Id = @Standard_Id
	AND YSD.Division_id = @Division_Id
	AND TTWTTC.TestTypeCount > 1


	UPDATE TTYM
	SET TestType_Total_Marks = S.TestType_Total_Marks,
		TestTypeSortOrder = S.RowNo
	FROM @tblTestTypeMarks TTYM
	INNER JOIN
	(
		SELECT ROW_NUMBER() OVER(ORDER BY STSMM.Subject_Id,STSMD.TestType_Id) AS RowNo, STSMM.SchoolWise_Test_Id, STSMM.Subject_Id,STSMD.TestType_Id, STSMD.TestType_Total_Marks
		FROM SchoolWise_Test_Subject_Marks_Master STSMM
		INNER JOIN SchoolWise_Test_Subject_Marks_Details STSMD
		ON STSMM.TestWise_Subject_Marks_Id = STSMD.TestWise_Subject_Marks_Id
		INNER JOIN vw_standard_division VSD
		ON STSMM.Standard_Division_Id = VSD.SchoolWise_Standard_Division_Id
		AND STSMM.Academic_Year_Id = VSD.academic_year_id
		WHERE STSMM.School_Id = @School_Id
		AND STSMM.Academic_Year_Id = @Academic_Year_Id
		AND STSMM.Is_Deleted = 'N'
		AND STSMM.Grade_Or_Marks = 'M'
		AND STSMM.Is_Submitted= 'Y'
		AND STSMD.Is_Deleted = 'N'
		AND VSD.Standard_Id = @Standard_Id
		AND VSD.Division_Id = @Division_Id
	)S
	ON TTYM.SchoolWise_Test_Id = S.SchoolWise_Test_Id
	AND TTYM.Subject_Id = S.Subject_Id
	AND TTYM.TestType_Id = S.TestType_Id


	--	INSERT INTO @tblStudentTestWiseMarks
	--		SELECT 	
	--			YearWise_Student_Details.Roll_No
	--			, tblTestWiseMarks.Student_Id
	--			,  '  ' + vw_BaseStudentDetails.StudentName as StudentName
	--			, SUM(tblTestWiseMarks.ActualMarks)  Marks
	--			, ISNULL(tblTestWiseMarks.SchoolWise_Test_Name , N'Work Sheets') AS Test_Name 
	--			, SUM(ActualOutOfMarks) TotalMarks
	--			, tblSubject.Subject_Name
	--			, tblTestWiseMarks.Subject_Id 
	--			,tblTestWiseMarks.Is_Absent
	--			, tblSubject.Sort_Order
	--			, @ClassTeacherName
	--			, @Standard_Name
	--			, @Division_Name
	--			, vw_Get_Principle.Principle
	--			, tblTestWiseMarks.SchoolWise_Test_Id
	--			, tblTestWiseMarks.TestSortOrder + 5
	--			,1
	--			,0
	--		FROM @tblTestWiseMarks tblTestWiseMarks 
	--  INNER JOIN @tblSubject tblSubject 
	--		  ON tblSubject.Subject_Id  = tblTestWiseMarks.Subject_Id 
 --LEFT OUTER JOIN SchoolWise_Test_Master 
	--		  ON SchoolWise_Test_Master.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
	--  INNER JOIN YearWise_Student_Details 
	--		  ON YearWise_Student_Details.YearWise_Student_Id = tblTestWiseMarks.Student_Id 
	--  INNER JOIN vw_BaseStudentDetails 
	--		  ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
	--		 AND YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id 
	--  INNER JOIN vw_Get_Principle 
	--		  ON vw_Get_Principle.academic_year_id = @Academic_Year_Id
	--		 AND vw_Get_Principle.School_Id = @School_Id
	--  INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
	--		  ON tblTestWiseTesTypeCount.Subject_Id = tblTestWiseMarks.Subject_Id
	--		 AND tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
	--	   WHERE (SchoolWise_Test_Master.School_Id = @School_Id OR SchoolWise_Test_Master.School_Id  IS NULL ) 
	--		 AND (SchoolWise_Test_Master.academic_year_id = @Academic_Year_Id OR SchoolWise_Test_Master.academic_year_id IS NULL)
	--		 AND (YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id) 
	--		 and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	--	GROUP BY tblTestWiseMarks.Subject_Id 
	--			, tblTestWiseMarks.Student_Id 
	--			, tblSubject.Subject_Name
	--			, tblTestWiseMarks.SchoolWise_Test_Name
	--			, YearWise_Student_Details.Roll_No
	--			, vw_BaseStudentDetails.StudentName
	--			, tblSubject.Sort_Order
	--			, vw_Get_Principle.Principle
	--			, tblTestWiseMarks.SchoolWise_Test_Id
	--			, tblTestWiseMarks.Is_Absent
	--			, tblTestWiseMarks.TestSortOrder


			INSERT INTO @tblStudentTestWiseMarks
			SELECT 	
				YearWise_Student_Details.Roll_No
				, tblTestWiseMarks.Student_Id
				,  '  ' + vw_BaseStudentDetails.StudentName as StudentName				
				,tblTestWiseMarks.Marks_Scored				
				,CAST(tblTestWiseMarks.TestType_Total_Marks AS NVARCHAR(50))				
				,tblTestWiseMarks.TestType_Total_Marks
				, tblSubject.Subject_Name
				, tblTestWiseMarks.Subject_Id 
				,tblTestWiseMarks.Is_Absent
				, tblSubject.Sort_Order
				, @ClassTeacherName
				, @Standard_Name
				, @Division_Name
				, vw_Get_Principle.Principle
				, tblTestWiseMarks.SchoolWise_Test_Id
				,TestTypeSortOrder
				,0
				,1
			FROM @tblTestTypeMarks   tblTestWiseMarks 
				INNER JOIN @tblSubject tblSubject ON
				tblSubject.Subject_Id  = tblTestWiseMarks.Subject_Id 
				LEFT OUTER JOIN SchoolWise_Test_Master ON
				SchoolWise_Test_Master.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
				INNER JOIN
				YearWise_Student_Details ON
				YearWise_Student_Details.YearWise_Student_Id = tblTestWiseMarks.Student_Id INNER JOIN
				vw_BaseStudentDetails ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id AND 
				YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id INNER JOIN
				vw_Get_Principle ON vw_Get_Principle.academic_year_id = @Academic_Year_Id
				AND vw_Get_Principle.School_Id = @School_Id
				INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
				ON tblTestWiseTesTypeCount.Subject_Id = tblTestWiseMarks.Subject_Id
				AND tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
			WHERE     (SchoolWise_Test_Master.School_Id = @School_Id OR SchoolWise_Test_Master.School_Id  IS NULL ) 
				AND (SchoolWise_Test_Master.academic_year_id = @Academic_Year_Id OR SchoolWise_Test_Master.academic_year_id IS NULL)
				AND (YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id) 
				and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)					
END
--ELSE
--BEGIN

----SELECT * FROM @tblStudentTestWiseMarks WHERE Subject_Name = 'English' AND Student_Id = 2473

--		INSERT INTO @tblStudentTestWiseMarks
--		SELECT 	
--			YearWise_Student_Details.Roll_No
--			, tblTestWiseMarks.Student_Id
--			,  '  ' + vw_BaseStudentDetails.StudentName as StudentName
--			, SUM(tblTestWiseMarks.Marks_Scored)  Marks
--			, ISNULL(tblTestWiseMarks.SchoolWise_Test_Name , N'Work Sheets') AS Test_Name 
--			, SUM(TotalMarks) TotalMarks
--			, tblSubject.Subject_Name
--			, tblTestWiseMarks.Subject_Id 
--			,tblTestWiseMarks.Is_Absent
--			, tblSubject.Sort_Order 
--			, @ClassTeacherName
--			, @Standard_Name
--			, @Division_Name
--			, vw_Get_Principle.Principle
--			, tblTestWiseMarks.SchoolWise_Test_Id
--			, tblTestWiseMarks.TestSortOrder + 5
--			,1
--			,0
--		FROM @tblTestWiseMarks   tblTestWiseMarks 
--			INNER JOIN @tblSubject tblSubject ON
--			tblSubject.Subject_Id  = tblTestWiseMarks.Subject_Id 
--			LEFT OUTER JOIN SchoolWise_Test_Master ON
--			SchoolWise_Test_Master.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
--			INNER JOIN
--			YearWise_Student_Details ON
--			YearWise_Student_Details.YearWise_Student_Id = tblTestWiseMarks.Student_Id INNER JOIN
--			vw_BaseStudentDetails ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id AND 
--			YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id INNER JOIN
--			vw_Get_Principle ON vw_Get_Principle.academic_year_id = @Academic_Year_Id
--			AND vw_Get_Principle.School_Id = @School_Id
--			INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
--			ON tblTestWiseTesTypeCount.Subject_Id = tblTestWiseMarks.Subject_Id
--			AND tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
--		WHERE     (SchoolWise_Test_Master.School_Id = @School_Id OR SchoolWise_Test_Master.School_Id  IS NULL ) 
--			AND (SchoolWise_Test_Master.academic_year_id = @Academic_Year_Id OR SchoolWise_Test_Master.academic_year_id IS NULL)
--			AND (YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id) 
--			and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
--		GROUP BY 
--			 tblTestWiseMarks.Subject_Id 
--			, tblTestWiseMarks.Student_Id 
--			, tblSubject.Subject_Name
--			, tblTestWiseMarks.SchoolWise_Test_Name
--			, YearWise_Student_Details.Roll_No
--			, vw_BaseStudentDetails.StudentName
--			, tblSubject.Sort_Order
--			, vw_Get_Principle.Principle
--			, tblTestWiseMarks.SchoolWise_Test_Id
--			, tblTestWiseMarks.Is_Absent
--			, tblTestWiseMarks.TestSortOrder
--END


        
INSERT INTO @tblStudentTestWiseMarks
	SELECT 	
		YearWise_Student_Details.Roll_No
		, tblTestWiseMarks.Student_Id
		,  '  ' + vw_BaseStudentDetails.StudentName as StudentName
		, SUM(tblTestWiseMarks.Marks_Scored)  Marks
		, ISNULL(tblTestWiseMarks.SchoolWise_Test_Name , N'Work Sheets') AS Test_Name 
		, SUM(TotalMarks) TotalMarks
		, tblSubject.Subject_Name
		, tblTestWiseMarks.Subject_Id 
		,tblTestWiseMarks.Is_Absent
		, tblSubject.Sort_Order 
		, @ClassTeacherName
		, @Standard_Name
		, @Division_Name
		, vw_Get_Principle.Principle
		, tblTestWiseMarks.SchoolWise_Test_Id
		, tblTestWiseMarks.TestSortOrder
		,0
		,0
		
	FROM @tblTestWiseMarks   tblTestWiseMarks 
		INNER JOIN @tblSubject tblSubject ON
		tblSubject.Parent_Subject_Id  = tblTestWiseMarks.Subject_Id 
		LEFT OUTER JOIN SchoolWise_Test_Master ON
		SchoolWise_Test_Master.SchoolWise_Test_Id = tblTestWiseMarks.SchoolWise_Test_Id
		INNER JOIN
		YearWise_Student_Details ON
		YearWise_Student_Details.YearWise_Student_Id = tblTestWiseMarks.Student_Id INNER JOIN
		vw_BaseStudentDetails ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id AND 
		YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id INNER JOIN
		vw_Get_Principle ON vw_Get_Principle.academic_year_id = @Academic_Year_Id
		AND vw_Get_Principle.School_Id = @School_Id
		
	WHERE     (SchoolWise_Test_Master.School_Id = @School_Id OR SchoolWise_Test_Master.School_Id  IS NULL ) 
		AND (SchoolWise_Test_Master.academic_year_id = @Academic_Year_Id OR SchoolWise_Test_Master.academic_year_id IS NULL)
		AND (YearWise_Student_Details.Academic_Year_ID = @Academic_Year_Id) 
		and SchoolWise_Test_Master.SchoolWise_Test_Id IN (SELECT SchoolwiseTestID FROM @tblExams)		
	GROUP BY 
		 tblTestWiseMarks.Subject_Id 
		, tblTestWiseMarks.Student_Id 
		, tblSubject.Subject_Name
		, tblTestWiseMarks.SchoolWise_Test_Name
		, YearWise_Student_Details.Roll_No
		, vw_BaseStudentDetails.StudentName
		, tblSubject.Sort_Order
		, vw_Get_Principle.Principle
		, tblTestWiseMarks.SchoolWise_Test_Id
        , tblTestWiseMarks.Is_Absent
        , tblTestWiseMarks.TestSortOrder
		
	-- Now we select total marks for published exams by using follwing script.
	UPDATE @tblStudentTestWiseMarks 
	SET TotalMarks = A.MaxTotalMarks
	FROm @tblStudentTestWiseMarks tblStudentTestWiseMarks
	INNER JOIN 
	(
		SELECT MAX(TotalMarks) MaxTotalMarks,tblStudentTestWiseMarks.Subject_Id
		, tblStudentTestWiseMarks.SchoolWise_Test_Id,tblStudentTestWiseMarks.Test_Name,	tblStudentTestWiseMarks.Student_Id	
		FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
		WHERE (tblStudentTestWiseMarks.Is_Absent IN (
					SELECT ShortName 
					FROM Schoolwise_Exam_Status 
					WHERE IsDeleted = 0 
					AND ConsiderInTotal = N'Y'
					AND SchoolId = @School_Id
					AND AcademicYearId = @Academic_Year_Id
				) OR tblStudentTestWiseMarks.Is_Absent = N'N')
		AND IsTotalMark = 0
		GROUP BY tblStudentTestWiseMarks.Subject_Id
		, tblStudentTestWiseMarks.SchoolWise_Test_Id,
		tblStudentTestWiseMarks.Test_Name,tblStudentTestWiseMarks.Student_Id	
			
	)A
	ON A.Subject_Id=tblStudentTestWiseMarks.Subject_Id
		AND A.SchoolWise_Test_Id=tblStudentTestWiseMarks.SchoolWise_Test_Id
		AND A.Test_Name = tblStudentTestWiseMarks.Test_Name
		AND A.Student_Id=tblStudentTestWiseMarks.Student_Id
	WHERE IsTotalMark = 0
	
	-- We are showing each exam type as group eg.WorksheetI,WorksheetII as Worksheet,so for 
	-- case that student might be present for singal test and absent for other, delete entries 
	-- of absent exams and consider present only.
	--SELECT * FROM @tblStudentTestWiseMarks WHERE Is_Absent <> N'N'
	DELETE @tblStudentTestWiseMarks 
	FROm @tblStudentTestWiseMarks tblStudentTestWiseMarks
	INNER JOIN 
	(
		SELECT tblStudentTestWiseMarks.Subject_Id,tblStudentTestWiseMarks.Student_Id
		, tblStudentTestWiseMarks.SchoolWise_Test_Id,tblStudentTestWiseMarks.Test_Name		
		FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks
		WHERE (tblStudentTestWiseMarks.Is_Absent IN (
					SELECT ShortName 
					FROM Schoolwise_Exam_Status
					WHERE IsDeleted = 0 
					AND ConsiderInTotal = N'Y'
					AND SchoolId = @School_Id
					AND AcademicYearId = @Academic_Year_Id
				) OR tblStudentTestWiseMarks.Is_Absent = N'N')
	)A
	ON A.Subject_Id=tblStudentTestWiseMarks.Subject_Id
		AND A.SchoolWise_Test_Id=tblStudentTestWiseMarks.SchoolWise_Test_Id
		AND A.Test_Name = tblStudentTestWiseMarks.Test_Name
		AND A.Student_Id = tblStudentTestWiseMarks.Student_Id
	--WHERE tblStudentTestWiseMarks.Is_Absent = N'Y'
	WHERE tblStudentTestWiseMarks.Is_Absent IN (
				SELECT ShortName 
				FROM Schoolwise_Exam_Status 
				WHERE IsDeleted = 0 
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND ConsiderInTotal = N'N'
			)


	--Following script calculate total subject marks and marks scored by student per subject.
	DECLARE @tblSubjectTotalGrade AS TABLE
	(
		StudentId INT,
		Subject_Id INT,
		SubjectName NVARCHAR(50),
		Subject_Marks_Scored DECIMAL(5,1),
		Subject_Total_Marks INT
	)
	INSERT INTO @tblSubjectTotalGrade
	SELECT Student_Id,tblStudentTestWiseMarks.Subject_Id,Subject_Name ,SUM(Marks_Scored),SUM(TotalMarks)
	FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks
	INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
	ON tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblStudentTestWiseMarks.SchoolWise_Test_Id
	AND tblTestWiseTesTypeCount.Subject_Id = tblStudentTestWiseMarks.Subject_Id
	WHERE (Is_Absent IN (
				SELECT ShortName 
				FROM Schoolwise_Exam_Status
				WHERE IsDeleted = 0 
				AND ConsiderInTotal = N'Y'
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
			) OR tblStudentTestWiseMarks.Is_Absent = N'N')
	GROUP BY tblStudentTestWiseMarks.Subject_Id,Student_Id,Subject_Name 

	INSERT INTO @tblSubjectTotalGrade
	SELECT A.Student_Id,
		   A.Subject_Id, 
		   A.Subject_Name, 
		   0, 
		   0
	  FROM (	
				SELECT DISTINCT 
					   Student_Id, 
					   Subject_Id,
					   Subject_Name
				  FROM @tblStudentTestWiseMarks
		   )A
		   LEFT OUTER JOIN
		   (
		    	SELECT DISTINCT 
					   StudentId, 
					   Subject_Id,
					   ROW_NUMBER() OVER(ORDER BY StudentId, Subject_Id) id
				  FROM @tblSubjectTotalGrade
		   )B
		ON A.Student_Id = B.StudentId
	   AND A.Subject_Id = B.Subject_Id
	 WHERE id IS NULL
	--Following script calculate total marks of Exam and total marks scored by student for all exams.
		
	DECLARE @tblStudentTotalGrade AS Table
	(
		StudentId INT,
		Student_Name NVARCHAR(150),
		StudentTotalMarksScored DECIMAL(5,1),
		TotalExamMarks INT
	)
--SELECT * FROM @tblStudentTestWiseMarks
--SELECT Student_Id,
--		StudentName,
--		SUM(Marks_Scored),
--		SUM(TotalMarks)
--      FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks
--INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
--	 ON tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblStudentTestWiseMarks.SchoolWise_Test_Id
--	AND tblTestWiseTesTypeCount.Subject_Id = tblStudentTestWiseMarks.Subject_Id	
-- WHERE (Is_Absent IN (
--						SELECT ShortName 
--						  FROM Schoolwise_Exam_Status 
--						 WHERE IsDeleted = 0 
--						   AND ConsiderInTotal = N'Y'
--						   AND SchoolId = @School_Id
--						   AND AcademicYearId = @Academic_Year_Id
--					 ) OR tblStudentTestWiseMarks.Is_Absent = N'N'
--	   )
--   --AND IsTotalMark = @ConsiderActualMarks
-- GROUP BY Student_Id,
--	   StudentName



	INSERT INTO @tblStudentTotalGrade
		 SELECT Student_Id,
				StudentName,
				SUM(Marks_Scored),
				SUM(TotalMarks)
	       FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks
	 INNER JOIN @tblTestWiseTesTypeCount tblTestWiseTesTypeCount
			 ON tblTestWiseTesTypeCount.SchoolWise_Test_Id = tblStudentTestWiseMarks.SchoolWise_Test_Id
			AND tblTestWiseTesTypeCount.Subject_Id = tblStudentTestWiseMarks.Subject_Id	
LEFT OUTER JOIN 	
			(
				SELECT STL.YearwiseStudentId, 
					   SM.Subject_Id
				  FROM @StudThridLang STL		
			INNER JOIN Subject_Master SM	   
					ON STL.SubjectId = SM.Original_Subject_Id
				   AND SM.Academic_year_id = @Academic_Year_Id
				   AND SM.School_Id = @School_Id
				   AND Is_Deleted = 'N'    
			)S
			ON tblStudentTestWiseMarks.Student_Id = S.YearwiseStudentId
		   AND tblStudentTestWiseMarks.Subject_Id = S.Subject_Id	
		 WHERE (Is_Absent IN (
								SELECT ShortName 
								  FROM Schoolwise_Exam_Status 
								 WHERE IsDeleted = 0 
								   AND ConsiderInTotal = N'Y'
								   AND SchoolId = @School_Id
								   AND AcademicYearId = @Academic_Year_Id
							 ) OR tblStudentTestWiseMarks.Is_Absent = N'N'
			   )
		   AND S.Subject_Id IS NULL
		   AND IsTotalMark = @ConsiderActualMarks
	  GROUP BY Student_Id,
			   StudentName

--SELECT * FROM @tblStudentTestWiseMarks
	
	INSERT INTO @tblStudentTotalGrade
	SELECT DISTINCT
		   Student_Id,
		   StudentName,
		   0,
		   0
	  FROM @tblStudentTestWiseMarks
	 WHERE Student_Id
	NOT IN (
				SELECT StudentId
				  FROM @tblStudentTotalGrade
		   )
	 

	DECLARE @tblSubjectTotalMarks AS TABLE
	(
		Studentid INT,
		SubjectId INT,
		TotalMarks INT
	)
	
	INSERT INTO @tblSubjectTotalMarks
	select student_id, subject_id, sum(TotalMarks)
	from @tblStudentTestWiseMarks
	group by student_id, subject_id
	
	DECLARE @tblAnnualData AS TABLE
	(
		Roll_No INT, 
		Student_Id INT ,
		StudentName NVARCHAR (100) ,
	    Marks NVARCHAR (10) ,		
		Test_Name NVARCHAR (50),
		Subject_Name NVARCHAR (50) ,
	    std_div_id INT,
		Subject_Id INT ,		
		Sort_Order INT,		
		TeacherName NVARCHAR (100),
		Standard_Name NVARCHAR (100),
		Division_Name NVARCHAR (100) ,
		Principle NVARCHAR (100),
		TestSortName NVARCHAR (100),
		TestSortOrder INT,
		IsTotalMark BIT,
		IsTestTypeEntry BIT
	)

SET @Showgrade  = 'Y'

	--Now we show report with grade or marks.
	IF @Showgrade=N'N'
	BEGIN
		--select marks scored per exam/per subject total marks and total marks.

		INSERT INTO @tblAnnualData
		SELECT 
		Roll_No , 
		Student_Id ,
		StudentName ,
		CASE WHEN Is_Absent <> N'N' THEN (
				SELECT DisplayValue 
				FROM Schoolwise_Exam_Status 
				WHERE IsDeleted = 0 
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND ShortName = Is_Absent)
		--ELSE CONVERT(NVARCHAR,Marks_Scored) END Marks ,
		ELSE CONVERT(NVARCHAR,CAST(CAST(Marks_Scored AS DECIMAL(5,1))AS FLOAT)) END Marks ,
		Test_Name  Test_Name,
		Subject_Name ,
		@Standard_Division_Id std_div_id,
		Subject_Id ,		
		Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		Test_Name  TestSortName,
		TestSortOrder,
		IsTotalMark,
		IsTestTypeEntry
		FROM @tblStudentTestWiseMarks
		 
		
		--UNION
		--SELECT DISTINCT
		--Roll_No , 
		--Student_Id ,
		--StudentName ,		
	 --   CASE WHEN Is_Absent <> N'N' AND Subject_Marks_Scored = 0 THEN (
		--		SELECT DisplayValue 
		--		FROM Schoolwise_Exam_Status 
		--		WHERE IsDeleted = 0
		--		AND SchoolId = @School_Id
		--		AND AcademicYearId = @Academic_Year_Id
		--		AND ShortName = Is_Absent)
	 --   ELSE CONVERT(NVARCHAR,CAST(CAST(Subject_Marks_Scored AS DECIMAL(5,1)) AS FLOAT)) END   Marks ,
		--N'Total Subject Marks'  Test_Name,
		----CAST(TSTM.TotalMarks AS NVARCHAR(50))+'%' AS Test_Name,
		--Subject_Name ,
		--@Standard_Division_Id std_div_id,
		--tblStudentTestWiseMarks.Subject_Id ,		
		--Sort_Order ,		
		--TeacherName,
		--Standard_Name ,
		--Division_Name ,
		--Principle,
		--N'zzzzzzz' TestSortName,
		--6666668 TestSortOrder,
		--0
		--FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
		--INNER JOIN @tblSubjectTotalGrade tblSubjectTotalGrade 
		--ON tblStudentTestWiseMarks.Student_Id=tblSubjectTotalGrade.StudentId 
		--AND tblStudentTestWiseMarks.Subject_Id=tblSubjectTotalGrade.Subject_Id
		--INNER JOIN @tblSubjectTotalMarks TSTM
		--ON tblStudentTestWiseMarks.Student_Id=TSTM.StudentId 
		--AND tblStudentTestWiseMarks.Subject_Id=TSTM.SubjectId

		--UNION
		--SELECT DISTINCT
		--Roll_No , 
		--Student_Id ,
		--StudentName ,		
	 --   CASE WHEN Is_Absent <> N'N' AND Subject_Marks_Scored = 0 THEN (
		--		SELECT DisplayValue 
		--		FROM Schoolwise_Exam_Status 
		--		WHERE IsDeleted = 0
		--		AND SchoolId = @School_Id
		--		AND AcademicYearId = @Academic_Year_Id
		--		AND ShortName = Is_Absent)
	 --   ELSE CONVERT(NVARCHAR,CAST(CAST(Subject_Marks_Scored AS DECIMAL(5,1)) AS FLOAT)) END   Marks ,
		----N'Total Subject Marks'  Test_Name,
		--CAST(TSTM.TotalMarks AS NVARCHAR(50))+'%' AS Test_Name,
		--Subject_Name ,
		--@Standard_Division_Id std_div_id,
		--tblStudentTestWiseMarks.Subject_Id ,		
		--Sort_Order ,		
		--TeacherName,
		--Standard_Name ,
		--Division_Name ,
		--Principle,
		--N'zzzzzzz' TestSortName,
		--6666669 TestSortOrder
		--FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
		--INNER JOIN @tblSubjectTotalGrade tblSubjectTotalGrade 
		--ON tblStudentTestWiseMarks.Student_Id=tblSubjectTotalGrade.StudentId 
		--AND tblStudentTestWiseMarks.Subject_Id=tblSubjectTotalGrade.Subject_Id
		--INNER JOIN @tblSubjectTotalMarks TSTM
		--ON tblStudentTestWiseMarks.Student_Id=TSTM.StudentId 
		--AND tblStudentTestWiseMarks.Subject_Id=TSTM.SubjectId

UNION
		SELECT DISTINCT
		Roll_No , 
		Student_Id ,
		StudentName ,		
	  CASE WHEN Is_Absent <> N'N' THEN (
					SELECT DisplayValue 
					FROM Schoolwise_Exam_Status 
					WHERE IsDeleted = 0 
					AND ShortName = Is_Absent
					AND SchoolId = @School_Id
					AND AcademicYearId = @Academic_Year_Id
				)
	    ELSE [dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(Marks_Scored*100)/TotalMarks,tblStudentTestWiseMarks.Subject_Id) END  Marks,
		N'G'  Test_Name,
		Subject_Name ,
		@Standard_Division_Id std_div_id,
		tblStudentTestWiseMarks.Subject_Id ,		
		Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		N'zzzzzzz1' TestSortName,
		6666670 TestSortOrder,
		0,
		0
		FROM @tblStudentTestWiseMarks 	tblStudentTestWiseMarks 
		INNER JOIN @tblSubjectTotalGrade tblSubjectTotalGrade 
		ON tblStudentTestWiseMarks.Student_Id=tblSubjectTotalGrade.StudentId 
		AND tblStudentTestWiseMarks.Subject_Id=tblSubjectTotalGrade.Subject_Id
		

	
		UNION
	    SELECT DISTINCT
		Roll_No , 
		Student_Id ,
		StudentName ,		  
		CASE WHEN Is_Absent <> N'N' AND StudentTotalMarksScored = 0 THEN (
				SELECT DisplayValue 
				FROM Schoolwise_Exam_Status 
				WHERE IsDeleted = 0 
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND ShortName = Is_Absent)
		ELSE CONVERT(NVARCHAR,CAST(CAST(StudentTotalMarksScored AS DECIMAL(5,1)) AS FLOAT)) END  Marks ,				
		N'Total'  Test_Name,
		N'' as Subject_Name,
		@Standard_Division_Id std_div_id,
		0 as Subject_Id,
		99 as Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		'' TestSortName,
		6666669 TestSortOrder,
		0,
		0
		FROM @tblStudentTestWiseMarks 
	    tblStudentTestWiseMarks 
	    INNER JOIN @tblStudentTotalGrade tblStudentTotalGrade 
	    ON tblStudentTestWiseMarks.Student_Id=tblStudentTotalGrade.StudentId	 
		WHERE IsTotalMark = 0

		UNION
	    SELECT DISTINCT
		Roll_No , 
		Student_Id ,
		StudentName ,		  
		CASE WHEN Is_Absent <> N'N' AND StudentTotalMarksScored = 0 THEN (
				SELECT DisplayValue 
				FROM Schoolwise_Exam_Status 
				WHERE IsDeleted = 0 
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND ShortName = Is_Absent)
		ELSE CONVERT(NVARCHAR,CAST(CAST(StudentTotalMarksScored AS DECIMAL(5,1))*100/ 
			CASE WHEN EXISTS(SELECT TOP 1 1 FROM SchoolWise_Test_Master WHERE School_Id = @School_Id AND academic_year_id = @Academic_Year_Id AND Is_Deleted = 'N' AND IsFinalExam = 1 AND Schoolwise_Test_Id = @SchoolwiseTestId) THEN
			TotalExamMarks
			ELSE
			200 END
		AS DECIMAL(5,2))) END  Marks ,				
		N'%'  Test_Name,
		N'' as Subject_Name,
		@Standard_Division_Id std_div_id,
		0 as Subject_Id,
		99 as Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		'' TestSortName,
		6666671 TestSortOrder,
		0,
		0
		FROM @tblStudentTestWiseMarks 
	    tblStudentTestWiseMarks 
	    INNER JOIN @tblStudentTotalGrade tblStudentTotalGrade 
	    ON tblStudentTestWiseMarks.Student_Id=tblStudentTotalGrade.StudentId
		WHERE IsTotalMark = 0
		ORDER BY Roll_No,Sort_Order

		IF @ConsiderActualMarks = 1
		BEGIN
				INSERT INTO @tblAnnualData
				SELECT DISTINCT
				Roll_No , 
				Student_Id ,
				StudentName ,		  
				CASE WHEN Is_Absent <> N'N' AND StudentTotalMarksScored = 0 THEN (
						SELECT DisplayValue 
						FROM Schoolwise_Exam_Status 
						WHERE IsDeleted = 0 
						AND SchoolId = @School_Id
						AND AcademicYearId = @Academic_Year_Id
						AND ShortName = Is_Absent)
				ELSE
					[dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(StudentTotalMarksScored*100)/
			
					CASE WHEN EXISTS(SELECT TOP 1 1 FROM SchoolWise_Test_Master WHERE School_Id = @School_Id AND academic_year_id = @Academic_Year_Id AND Is_Deleted = 'N' AND IsFinalExam = 1 AND Schoolwise_Test_Id = @SchoolwiseTestId) THEN
						TotalExamMarks
					ELSE
						200 
					END
			
					,tblStudentTestWiseMarks.Subject_Id)
				 END  Marks ,
				--[dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(Marks_Scored*100)/TotalMarks,tblStudentTestWiseMarks.Subject_Id)
				N'G'  Test_Name,
				N'' as Subject_Name,
				@Standard_Division_Id std_div_id,
				0 as Subject_Id,
				99 as Sort_Order ,		
				TeacherName,
				Standard_Name ,
				Division_Name ,
				Principle,
				'' TestSortName,
				6666672 TestSortOrder,
				0,
				0
				FROM @tblStudentTestWiseMarks 
				tblStudentTestWiseMarks 
				INNER JOIN @tblStudentTotalGrade tblStudentTotalGrade 
				ON tblStudentTestWiseMarks.Student_Id=tblStudentTotalGrade.StudentId
				WHERE IsTotalMark = 0
				ORDER BY Roll_No,Sort_Order
		END
	    
	    
	END
	ELSE
	BEGIN	
	
	DECLARE @TotalMaxMarks INT = 0

	SELECT @TotalMaxMarks = MAX(TotalMarks)
	FROM
	(
		SELECT SUM(TotalMarks) AS TotalMarks
		FROM @tblStudentTestWiseMarks
		GROUP BY Student_Id
	)S

--SELECT * FROM @tblStudentTestWiseMarks WHERE Student_Id = 2473 AND Subject_Id = 1991
--SELECT * FROM @tblStudentTotalGrade WHERE StudentId = 2473
	  --select grade scored per exam/per subject total grades and total grades.
	  INSERT INTO @tblAnnualData
	    SELECT 
		Roll_No , 
		Student_Id ,
		StudentName ,
	    CASE WHEN Is_Absent <> N'N' THEN (
					SELECT DisplayValue 
					FROM Schoolwise_Exam_Status 
					WHERE IsDeleted = 0 
					AND ShortName = Is_Absent
					AND SchoolId = @School_Id
					AND AcademicYearId = @Academic_Year_Id
				)
	    --ELSE [dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(Marks_Scored*100)/TotalMarks,Subject_Id) END  Marks ,	
		ELSE CONVERT(NVARCHAR(10), Marks_Scored) END  Marks,	
		Test_Name  Test_Name,
		Subject_Name ,
		@Standard_Division_Id std_div_id,
		Subject_Id ,		
		Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		Test_Name  TestSortName,
		TestSortOrder,
		IsTotalMark,
		IsTestTypeEntry
		FROM @tblStudentTestWiseMarks 
	--UNION
	--    SELECT DISTINCT
	--	Roll_No , 
	--	Student_Id ,
	--	StudentName ,		
 --       CASE WHEN Is_Absent <> N'N' AND Subject_Marks_Scored = 0 THEN (
	--			SELECT DisplayValue 
	--			FROM Schoolwise_Exam_Status 
	--			WHERE IsDeleted = 0 
	--			AND SchoolId = @School_Id
	--			AND AcademicYearId = @Academic_Year_Id
	--			AND ShortName = Is_Absent)
 --       ELSE [dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(Subject_Marks_Scored*100)/Subject_Total_Marks,-99)END  ,		
	--	N'Total Subject Marks'  Test_Name,
	--	Subject_Name ,
	--	@Standard_Division_Id std_div_id,
	--	tblStudentTestWiseMarks.Subject_Id ,		
	--	Sort_Order ,		
	--	TeacherName,
	--	Standard_Name ,
	--	Division_Name ,
	--	Principle,
	--	N'zzzzzzz' TestSortName,
	--	6666668 TestSortOrder,
	--	0,
	--	0
	--    FROM @tblStudentTestWiseMarks 
	--	tblStudentTestWiseMarks INNER JOIN @tblSubjectTotalGrade tblSubjectTotalGrade 
	--	ON tblStudentTestWiseMarks.Student_Id=tblSubjectTotalGrade.StudentId 
	--	AND tblStudentTestWiseMarks.Subject_Id=tblSubjectTotalGrade.Subject_Id		
	UNION
		SELECT DISTINCT
		Roll_No , 
		Student_Id ,
		StudentName ,		  
		CASE WHEN Is_Absent <> N'N' AND StudentTotalMarksScored = 0 THEN (
				SELECT DisplayValue 
				FROM Schoolwise_Exam_Status 
				WHERE IsDeleted = 0 
				AND SchoolId = @School_Id
				AND AcademicYearId = @Academic_Year_Id
				AND ShortName = Is_Absent)
		--ELSE  [dbo].[Udf_GetGrade](@School_Id,@Academic_Year_Id,@Standard_Id,(StudentTotalMarksScored*100)/TotalExamMarks,-99) END ,				
		ELSE CONVERT(NVARCHAR(10), StudentTotalMarksScored) END  Marks,
		N'('+CAST(@TotalMaxMarks AS NVARCHAR(10))+')'  Test_Name,
		N'Total' as Subject_Name,
		@Standard_Division_Id std_div_id,
		0 as Subject_Id,
		99 as Sort_Order ,		
		TeacherName,
		Standard_Name ,
		Division_Name ,
		Principle,
		'' TestSortName,
		6666669 TestSortOrder,
		0,
		0
		FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
  INNER JOIN @tblStudentTotalGrade tblStudentTotalGrade 
		  ON tblStudentTestWiseMarks.Student_Id=tblStudentTotalGrade.StudentId		
	ORDER BY Roll_No,Sort_Order
	END

	--UPDATE @tblAnnualData
	--SET Test_Name = tblAnnualData.Test_Name + ' ('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')',
	--	TestSortName = tblAnnualData.Test_Name + ' ('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')'
	--FROM  @tblAnnualData tblAnnualData
	--INNER JOIN 
	--(
	--	SELECT MAX(TotalMarks) MaxTotalMarks
	--	, tblStudentTestWiseMarks.SchoolWise_Test_Id,tblStudentTestWiseMarks.Test_Name,	tblStudentTestWiseMarks.Student_Id, tblStudentTestWiseMarks.Subject_Id	
	--	FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
	--	WHERE (Is_Absent IN (
	--			SELECT ShortName 
	--			FROM Schoolwise_Exam_Status 
	--			WHERE IsDeleted = 0 
	--			AND ConsiderInTotal = N'Y'
	--			AND SchoolId = @School_Id
	--			AND AcademicYearId = @Academic_Year_Id
	--		) OR tblStudentTestWiseMarks.Is_Absent = N'N')
	--	GROUP BY 
	--	tblStudentTestWiseMarks.SchoolWise_Test_Id,
	--	tblStudentTestWiseMarks.Test_Name,
	--	tblStudentTestWiseMarks.Student_Id,
	--	tblStudentTestWiseMarks.Subject_Id
	--)A
	--ON A.Test_Name = tblAnnualData.Test_Name
	--AND A.Subject_Id = tblAnnualData.Subject_Id

	UPDATE @tblAnnualData
	SET --Test_Name = CONVERT(NVARCHAR(5),MaxTotalMarks)+'%' ,
	    Test_Name = CASE WHEN tblAnnualData.Test_Name = 'Annual Exam' THEN '' 
						 WHEN tblAnnualData.Test_Name = 'PA - II' THEN ''
						 WHEN tblAnnualData.Test_Name = 'PA - I' THEN ''
						 WHEN tblAnnualData.Test_Name = 'PA - III' THEN ''
						 WHEN tblAnnualData.Test_Name = 'PS - III' THEN ''
						 WHEN (tblAnnualData.Test_Name = 'Half Yearly - I' OR tblAnnualData.Test_Name= 'Half Yearly - II') THEN ''
						 WHEN tblAnnualData.Test_Name = 'Note Book - I' THEN ''
						 WHEN tblAnnualData.Test_Name = 'Note Book' THEN ''
						 WHEN tblAnnualData.Test_Name = 'Note Book - II' THEN ''
						 WHEN tblAnnualData.Test_Name LIKE '%Sub Enrichment%' OR tblAnnualData.Test_Name LIKE '%PRELIM%' THEN ''
						 WHEN @Academic_Year_Id >= 10 THEN ''
						 ELSE tblAnnualData.Test_Name END + ' (' + CONVERT(NVARCHAR(5), MaxTotalMarks) + ')',
		--TestSortName =  tblAnnualData.Test_Name  + ' ('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')',
		TestSortName =  '('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')',
		TestSortOrder = 6666669
	FROM  @tblAnnualData tblAnnualData
	INNER JOIN 
	(
		SELECT MAX(TotalMarks) MaxTotalMarks
			   ,tblStudentTestWiseMarks.SchoolWise_Test_Id
			   ,tblStudentTestWiseMarks.Test_Name
			   ,tblStudentTestWiseMarks.Student_Id
			   ,tblStudentTestWiseMarks.Subject_Id	
		  FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
		 WHERE (Is_Absent IN (
								SELECT ShortName 
								  FROM Schoolwise_Exam_Status 
								 WHERE IsDeleted = 0 
								   AND ConsiderInTotal = N'Y'
								   AND SchoolId = @School_Id
								   AND AcademicYearId = @Academic_Year_Id
							  ) OR tblStudentTestWiseMarks.Is_Absent = N'N'
				)
		AND IsTotalMark = 0
		AND IsTestTypeEntry = 0
		GROUP BY 
		tblStudentTestWiseMarks.SchoolWise_Test_Id,
		tblStudentTestWiseMarks.Test_Name,
		tblStudentTestWiseMarks.Student_Id,
		tblStudentTestWiseMarks.Subject_Id
	)A
	ON A.Test_Name = tblAnnualData.Test_Name
	AND A.Subject_Id = tblAnnualData.Subject_Id
	WHERE IsTotalMark = 0
	AND IsTestTypeEntry = 0
	
	UPDATE @tblAnnualData
	SET Test_Name = CONVERT(NVARCHAR(5),MaxTotalMarks),
		TestSortName = '('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')'
		--TestSortName = tblAnnualData.Test_Name + ' ('+ CONVERT(NVARCHAR(5),MaxTotalMarks) + ')'		
	FROM  @tblAnnualData tblAnnualData
	INNER JOIN 
	(
		SELECT MAX(TotalMarks) MaxTotalMarks
			  ,tblStudentTestWiseMarks.SchoolWise_Test_Id
			  ,tblStudentTestWiseMarks.Test_Name
			  ,tblStudentTestWiseMarks.Student_Id
			  ,tblStudentTestWiseMarks.Subject_Id	
		 FROM @tblStudentTestWiseMarks tblStudentTestWiseMarks 
		WHERE (
				Is_Absent IN (
								SELECT ShortName 
								  FROM Schoolwise_Exam_Status 
								 WHERE IsDeleted = 0 
								   AND ConsiderInTotal = N'Y'
								   AND SchoolId = @School_Id
								   AND AcademicYearId = @Academic_Year_Id
							 ) OR tblStudentTestWiseMarks.Is_Absent = N'N'
			)
		AND IsTotalMark = 1
		AND IsTestTypeEntry = 0
   GROUP BY tblStudentTestWiseMarks.SchoolWise_Test_Id,
		    tblStudentTestWiseMarks.Test_Name,
		    tblStudentTestWiseMarks.Student_Id,
		    tblStudentTestWiseMarks.Subject_Id
	)A
	 ON A.Test_Name = tblAnnualData.Test_Name
	AND A.Subject_Id = tblAnnualData.Subject_Id
  WHERE IsTotalMark = 1
	AND IsTestTypeEntry = 0
	
	UPDATE TAD
	SET Sort_Order = 100,
		TestSortORder = 6666670 + S.TestSortOrder
	FROM @tblAnnualData TAD
	INNER JOIN 
	(
		SELECT YearwiseStudentId, AD.Subject_Id,AD.Test_Name, AD.TestSortOrder
		FROM @StudThridLang STL
		INNER JOIN Subject_Master SM	 
		ON SM.Academic_year_id = @Academic_Year_Id
		AND SM.School_Id = @School_Id
		AND Is_Deleted = 'N'
		AND STL.SubjectId = SM.Original_Subject_Id
		INNER JOIN @tblAnnualData AD
		ON AD.Student_Id = STL.YearwiseStudentId
		AND AD.Subject_Id = SM.Subject_Id
	)S
	ON TAD.Student_Id = S.YearwiseStudentId
	AND TAD.Subject_Id = S.Subject_Id
	AND TAD.Test_Name = S.Test_Name	

	--INSERT INTO @tblAnnualData
	--SELECT 9999,999999,'Failure count',1,'30%','English',36,1940,1,'Mrs. Aditi S. Bankapur','9','A','Mrs.  Jayashree N. Jadhav','Test',6666669,0,0

	DECLARE @tblOptionalSubjects AS TABLE
	(
		Subject_Id INT
	)

	INSERT INTO @tblOptionalSubjects
	select s1.Subject_Id
	from
	(
		select Subject_Name, Subject_Id 
		from @tblAnnualData
		group by Subject_Name,Subject_Id
	)s1
	inner join
	(
		select Subject_Id
		from OptionalSubjects_Settings
		where School_Id = @School_Id
		and Academic_Year_Id = @Academic_Year_Id
		and Is_Deleted = 'N'
		and Standard_Division_Id = @Standard_Division_Id
	)s2
	on s1.Subject_Id =s2.Subject_Id

	DECLARE @OptSubjectId INT

	WHILE EXISTS
	(
		SELECT TOP 1 1
		FROM @tblOptionalSubjects
	)
	BEGIN
		SELECT TOP 1 @OptSubjectId = Subject_Id
		FROM @tblOptionalSubjects
		ORDER BY Subject_Id

		INSERT INTO @tblAnnualData
		select Roll_No,Student_Id,StudentName,'-',Test_Name,Subject_Name, std_div_id,Subject_Id,Sort_Order,TeacherName,Standard_Name,Division_Name,Principle,TestSortName,TestSortOrder,IsTotalMark,IsTestTypeEntry
		from
		(
			select Roll_No,Student_Id,StudentName
			from @tblAnnualData
			where Student_Id not in
			(
				select Student_Id
				from @tblAnnualData
				where Subject_Id = @OptSubjectId
				group by Student_Id
			)
			group by Roll_No,Student_Id,StudentName
		)SS1
		CROSS JOIN
		(
			select top 1 Test_Name,Subject_Name, std_div_id,Subject_Id,Sort_Order,TeacherName,Standard_Name,Division_Name,Principle,TestSortName,TestSortOrder,IsTotalMark,IsTestTypeEntry
			from @tblAnnualData
			where Subject_Id = @OptSubjectId
		)SS2

		DELETE FROM @tblOptionalSubjects
		WHERE Subject_Id = @OptSubjectId
	END
	
	DECLARE @Is11thOr12th BIT = 0

	IF EXISTS
	(
		SELECT TOP 1 1
		FROM Standard_Master
		WHERE School_Id = @School_Id
		AND academic_Year_Id = @Academic_Year_Id
		AND Is_Deleted = 'N'
		AND Standard_Id = @Standard_Id
		AND (Standard_Name LIKE '11 %' OR Standard_Name LIKE '12 %')
	)
	BEGIN
		SET @Is11thOr12th = 1
	END


	SELECT 
		Roll_No , 
		Student_Id  ,
		StudentName  ,
	    Marks  ,		
		Test_Name ,
		--Subject_Name  ,
		CASE WHEN @Is11thOr12th = 1 THEN '' ELSE '                           ' END + Subject_Name as Subject_Name,
	    std_div_id ,
		Subject_Id  ,		
		Sort_Order ,		
		TeacherName ,
		Standard_Name ,
		Division_Name  ,
		Principle ,
		TestSortName ,
		TestSortOrder ,
		IsTotalMark ,
		IsTestTypeEntry,
		@TestNameHeader AS TestNameHeader,
		@AcademicYear AS AcademicYear,
		@ExamName AS ExamName,
		Logo
		FROM @tblAnnualData 
		INNER JOIN School_Master SM
		ON SM.School_Id = @School_Id
  ORDER BY Student_Id
		  ,Sort_Order
		  ,TestSortName	
	
/*********************************************************************************************************/
END

