/****** Object:  View [dbo].[vw_StudentCautionMoneyDetails]    Script Date: 8/19/2026 4:04:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[vw_StudentCautionMoneyDetails]
AS
SELECT  A.Schoolwise_Student_Id, A.Paid_By_Student, A.Payment_Date, A.Returned_By_School, A.Return_Date, A.Payment_Mode,
        Y.Cheque_Number, Y.Cheque_Date, X.Cheque_Number AS Return_Cheque_Number,
        X.Cheque_Date AS Return_Cheque_Date, X.Remarks AS Return_Remarks, Y.Remarks, F.Bank_Name, D.Bank_Name AS Return_Bank_Name, A.Return_Mode, A.Payment_Cheque_Id, A.Return_Cheque_Id,
        Y.Bank_Id, X.Bank_Id AS Return_Bank_Id, A.Amount, A.School_Id,
        CASE C.Sex WHEN 'M' THEN 'Master' + ' ' + C.First_Name + ' ' + CASE WHEN B.Middle_Name <> '' THEN B.Middle_Name ELSE '' END + ' ' + B.Last_Name ELSE 'Miss' + ' ' + B.First_Name + ' ' + CASE WHEN B.Middle_Name <> '' THEN B.Middle_Name ELSE '' END + ' ' + B.Last_Name END AS FullName,
        B.Enrolment_Number, C.First_Name, B.Middle_Name, B.Last_Name, A.Receipt_Number,
        Y.DepositBankId AS PaymentDepositBankId, X.DepositBankId AS ReturnDepositBankId, Y.ClearanceDate, SCMEP.TransactionNumber, EPT.Type AS PaymentType, SCMEP.TypeId AS PaymentTypeId,
        SCMEP.BankId, SCMEP.DepositedBankId AS ElectronicPaymetBankId, SWBM.Bank_Name AS ElectronicPaymentBank, A.Remarks AS CRemark, A.PaidByName, NBPT.ClearanceDate AS OnlineClearanceDate,
        NBPT.TransactionDateTime, NBBD.RegisterdBankName, NBPT.TPSLTransactionID, SCMEP.ClearanceDate AS EClearance,
        ConcessionAmount
        , SCMEPRet.TransactionNumber AS ReturnETxnNo
        , SCMEPRet.BankId AS ReturnEBankId
        , SCMEPRet.DepositedBankId AS ReturnEDepositedBankId
        , SCMEPRet.TypeId AS ReturnETypeId
        , A.ReturnRemark
        , A.ReturnAmount
        , A.AttachmentFileName
FROM    dbo.Student_Caution_Money_Details AS A INNER JOIN
        dbo.SchoolWise_Student_Master AS B ON A.Schoolwise_Student_Id = B.SchoolWise_Student_Id INNER JOIN
        dbo.SchoolWise_Student_Master AS C ON A.Schoolwise_Student_Id = C.SchoolWise_Student_Id LEFT OUTER JOIN
        dbo.Student_Caution_Money_Cheque_Details AS X ON A.Return_Cheque_Id = X.Student_Caution_Money_Cheque_Id LEFT OUTER JOIN
        dbo.Schoolwise_Bank_Master AS D ON D.Schoolwise_Bank_Id = X.Bank_Id LEFT OUTER JOIN
        dbo.Student_Caution_Money_Cheque_Details AS Y ON A.Payment_Cheque_Id = Y.Student_Caution_Money_Cheque_Id AND Y.Is_Deleted = 0 LEFT OUTER JOIN
        dbo.Schoolwise_Bank_Master AS F ON F.Schoolwise_Bank_Id = Y.Bank_Id

        LEFT OUTER JOIN dbo.StudentCautionMoneyElectronicPayments AS SCMEP ON A.Schoolwise_Student_Id = SCMEP.SchoolwiseStudentId AND SCMEP.IsDeleted = 0 AND SCMEP.IsReturnRecord = 0
        LEFT OUTER JOIN dbo.ElectronicPaymentTypes AS EPT ON SCMEP.TypeId = EPT.Id AND SCMEP.SchoolId = EPT.SchoolId
        LEFT OUTER JOIN dbo.Schoolwise_Bank_Master AS SWBM ON SWBM.Schoolwise_Bank_Id = SCMEP.BankId

        LEFT OUTER JOIN dbo.StudentCautionMoneyElectronicPayments AS SCMEPRet ON A.Schoolwise_Student_Id = SCMEPRet.SchoolwiseStudentId AND SCMEPRet.IsDeleted = 0 AND SCMEPRet.IsReturnRecord = 1
        LEFT OUTER JOIN dbo.ElectronicPaymentTypes AS EPTRet ON SCMEPRet.TypeId = EPTRet.Id AND SCMEPRet.SchoolId = EPTRet.SchoolId
        LEFT OUTER JOIN dbo.Schoolwise_Bank_Master AS SWBMRet ON SWBMRet.Schoolwise_Bank_Id = SCMEPRet.BankId

        LEFT OUTER JOIN dbo.NetBankingPaymentTransactions AS NBPT ON A.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID AND NBPT.TransactionStatus = 'Y' LEFT OUTER JOIN
        dbo.NetBankingBanksDetails AS NBBD ON NBPT.TransactionBankID = NBBD.RegisteredBankID
        AND NBPT.GatewayId = NBBD.PaymentGatewayId AND NBBD.Is_Deleted = 0
WHERE   (A.Is_Deleted = 0) AND (D.Is_Deleted IS NULL OR
        D.Is_Deleted = 'N') AND (X.Is_Deleted IS NULL OR
        X.Is_Deleted = 0) AND (F.Is_Deleted IS NULL OR
        F.Is_Deleted = 'N')

GO
