/*
   04 September 202611:03:34
   User: sa
   Server: Synergy-SVR007.rit.com\schoolSmoke
   Database: PPSN
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ObservationSkills
	DROP CONSTRAINT DF_ObservationSkills_IsDeleted
GO
CREATE TABLE dbo.Tmp_ObservationSkills
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(500) NOT NULL,
	OriginalSkillId int NULL,
	DisplayOnReport bit NOT NULL,
	SortOrder int NOT NULL,
	StandardId int NOT NULL,
	SubjectId int NOT NULL,
	SchoolId int NOT NULL,
	AcademicYearId int NOT NULL,
	IsDeleted bit NOT NULL,
	InsertedById int NOT NULL,
	InsertDate datetime NOT NULL,
	UpdatedById int NULL,
	UpdateDate datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_ObservationSkills SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_ObservationSkills ADD CONSTRAINT
	DF_ObservationSkills_IsDeleted DEFAULT ((0)) FOR IsDeleted
GO
SET IDENTITY_INSERT dbo.Tmp_ObservationSkills ON
GO
IF EXISTS(SELECT * FROM dbo.ObservationSkills)
	 EXEC('INSERT INTO dbo.Tmp_ObservationSkills (Id, Name, OriginalSkillId, DisplayOnReport, SortOrder, StandardId, SubjectId, SchoolId, AcademicYearId, IsDeleted, InsertedById, InsertDate, UpdatedById, UpdateDate)
		SELECT Id, Name, OriginalSkillId, DisplayOnReport, SortOrder, StandardId, SubjectId, SchoolId, AcademicYearId, IsDeleted, InsertedById, InsertDate, UpdatedById, UpdateDate FROM dbo.ObservationSkills WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_ObservationSkills OFF
GO
DROP TABLE dbo.ObservationSkills
GO
EXECUTE sp_rename N'dbo.Tmp_ObservationSkills', N'ObservationSkills', 'OBJECT' 
GO
ALTER TABLE dbo.ObservationSkills ADD CONSTRAINT
	PK_ObservationSkills PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.ObservationSkills', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ObservationSkills', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ObservationSkills', 'Object', 'CONTROL') as Contr_Per 