/****** Object:  StoredProcedure [dbo].[usp_AllowSelfAssessmentscreen]    Script Date: 8/19/2026 4:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 25-Feb-2025
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_AllowSelfAssessmentscreen]
	@SchoolId INT,
	@AcademicYearId INT,
	@LoginUserId INT,
	@AllowSelfAssessmentscreen BIT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS
	(
		select TOP 1 1
		from ObservationSkills OS
		INNER JOIN YearWise_Student_Details YSD
		ON OS.StandardId = YSD.Standard_Id
		INNER JOIN vw_BaseStudentDetails BSD
		ON YSD.Student_Id = BSD.SchoolWise_Student_Id
		WHERE YSD.School_Id = @SchoolId
		AND YSD.Academic_Year_ID = @AcademicYearId
		AND OS.IsDeleted = 0
		AND YSD.Is_Deleted = 'N'
		AND BSD.User_Id = @LoginUserId
		AND OS.Name IN ('Self Assessment','Peer Assessment','Parent Feedback','Peer Feedback')
	)
	BEGIN
		SET @AllowSelfAssessmentscreen = 1
	END
	ELSE
	BEGIN
		SET @AllowSelfAssessmentscreen = 0
	END
END
GO

