/****** Object:  StoredProcedure [dbo].[usp_GetDetailsOfStudentAssessment]    Script Date: 8/19/2026 4:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 16 oct 2024
-- Description:	This USP is used to fill listview of student assessment.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDetailsOfStudentAssessment]
@SchoolId INT,
@AcademicYearId INT,
@StandardId INT,
@CategoryId INT,
@StudentId INT,
@TestId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		  SELECT 
		        OP.Id AS ParameterId,
				 Parameter as Aspect,
				 ISNULL(SOD.GradeId,0) as GradeId
		   FROM ObservationSkills OS
	 INNER JOIN ObservationParameters OP
			 ON OS.Id = OP.SkillId
	INNER JOIN vw_StudentAssessmentCategories VwSAC
			ON OS.Name = VwSAC.AssessmentCategory
LEFT OUTER JOIN StudentObservationDetails SOD
		     ON op.Id = sod.ParameterId
			AND SOD.IsDeleted = 0
			AND SOD.StudentId = @StudentId
			AND SOD.TestId = @TestId
LEFT OUTER JOIN	ObservationGrades OG
		 	 ON OG.Id = SOD.GradeId
			AND OG.IsDeleted = 0
LEFT OUTER JOIN StandardWiseGradeMaster SGM
	        ON OG.Id=SGM.GradeId
			AND SGM.IsDeleted=0
           AND SGM.StandardId=@StandardId
         WHERE OS.SchoolId = @SchoolId
			AND OS.AcademicYearId = @AcademicYearId
			AND OS.StandardId = @StandardId
			AND ControltypeId = 1
			AND VwSAC.AssessmentCategoryId = @CategoryId
			
			--AND OS.Name = case @CategoryId 
			--			  when 1 then 'Self Assessment' 
			--			  when 2 then 
			--						CASE WHEN @SchoolId = 71 THEN 'Peer Assessment' 
			--						ELSE 'Peer Feedback' 
			--						END 
			--			  ELSE 'Parent Feedback' 
			--			  END				
			AND OS.IsDeleted = 0
			AND OP.IsDeleted = 0
            
			DECLARE @IsSaved BIT = 0,
				@IsSubmitted BIT = 0

	     IF EXISTS
		 (
			SELECT TOP 1 1
			FROM StudentObservationDetails SOD
			INNER JOIN ObservationParameters OP
			ON SOD.ParameterId = OP.Id
			INNER JOIN ObservationSkills OS
			ON OP.SkillId = OS.Id
			INNER JOIN vw_StudentAssessmentCategories VwSAC
			ON OS.Name = VwSAC.AssessmentCategory
			WHERE SOD.SchoolId = @SchoolId
			  AND SOD.AcademicYearId = @AcademicYearId
			  AND StudentId = @StudentId
			  AND VwSAC.AssessmentCategoryId = @CategoryId
			  AND SOD.TestId = @TestId
			  AND SOD.IsDeleted = 0
			  AND OP.IsDeleted = 0
			  AND OS.IsDeleted = 0
			)
			BEGIN
				SET @IsSaved = 1
			END


			IF EXISTS
			(
				SELECT TOP 1 1
				FROM SubmitStudentAssessmentDetails SSAD
				INNER JOIN ObservationSkills OS
				ON SSAD.SkillId = OS.Id
				INNER JOIN vw_StudentAssessmentCategories VwSAC
				ON OS.Name = VwSAC.AssessmentCategory
				WHERE SSAD.SchoolId = @SchoolId
				  AND SSAD.AcademicYearId = @AcademicYearId
				  AND YearwiseStudentId = @StudentId
				  AND VwSAC.AssessmentCategoryId = @CategoryId
				  AND TestId = @TestId
				  AND SSAD.IsDeleted = 0
				  and OS.IsDeleted = 0
				  and SSAD.IsSubmitted = 1
			)
			BEGIN
				SET @IsSubmitted = 1
			END

			SELECT @IsSaved AS IsSaved, @IsSubmitted AS IsSubmitted

			SELECT OP.Id AS ParameterId,
				   Parameter,
				   Comment
			 FROM ObservationSkills OS
	   INNER JOIN ObservationParameters OP
			   on OS.Id = OP.SkillId
  LEFT OUTER JOIN StudentObservationDetails SOD
			   ON OP.Id = SOD.ParameterId
			  AND SOD.IsDeleted = 0
			  AND SOD.StudentId = @StudentId
			  AND SOD.TestId = @TestId
	INNER JOIN vw_StudentAssessmentCategories VwSAC
			ON OS.Name = VwSAC.AssessmentCategory
			WHERE OS.SchoolId = @SchoolId
			  AND OS.AcademicYearId = @AcademicYearId
			  AND OS.StandardId = @StandardId
			  AND VwSAC.AssessmentCategoryId = @CategoryId
			  --AND OS.Name = case @CategoryId 
					--	  when 1 then 'Self Assessment' 
					--	  when 2 then 
					--				CASE WHEN @SchoolId = 71 THEN 'Peer Assessment' 
					--				ELSE 'Peer Feedback' 
					--				END 
					--	  ELSE 'Parent Feedback' 
					--	  END
			  --AND Name in ('Peer Assessment','Parent Feedback')
			  AND ControltypeId = 2
			  AND OS.IsDeleted = 0
			  AND OP.IsDeleted = 0
END
GO

