/****** Object:  StoredProcedure [dbo].[usp_GetBankStatement]    Script Date: 8/25/2025 11:29:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Deepak
-- Create date: 27-Nov-2009
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetBankStatement]
	@School_Id INT,
	@Academic_Year_Id INT,	
	@Month INT,
	@Year INT,
	@StaffGroupsId INT = 0 
AS
BEGIN


	DECLARE @tblExcludeStaffGroup TABLE
	(
		ExcludeStaffGroupsId INT
	);

	INSERT INTO @tblExcludeStaffGroup (ExcludeStaffGroupsId)
	SELECT StaffGroupsId
	FROM dbo.udf_GetExcludedStaffGroups(@School_Id);

	DECLARE  @tblStaffSalary AS TABLE
	(
		 UserId INT,
		 AccountNo NVARCHAR(20),
		 NetSalary DECIMAL(10,2),
		 Year INT,
		 Month INT,
		 ChequeNo NVARCHAR(15),
		 ChequeDate DATETIME,
		 SchoolId INT
	)
	
	DECLARE @tblStaffName AS TABLE
	(
		UserId INT,
		UserName NVARCHAR(150),
		DesignationId INT,
		FirstName NVARCHAR(50),
		MiddleName NVARCHAR(50),
		LastName NVARCHAR(50),
		SortOrder INT 
	)
	
	INSERT INTO @tblStaffSalary(UserId,AccountNo,NetSalary,Year,Month,ChequeNo,SchoolId,ChequeDate)
	SELECT     UsersStaffGroupsAssociation.UserId, USG.AccountNo, SalaryDetails.NetSalary, SalaryDetails.Year, SalaryDetails.MonthId, 
				 SalaryDetails.ChequeNo, @School_Id AS Expr1, SalaryDetails.ChequeDate
	FROM        UsersStaffGroupsAssociation INNER JOIN SalaryDetails 
				ON UsersStaffGroupsAssociation.UserId = SalaryDetails.UserId
				AND UsersStaffGroupsAssociation.SchoolId = SalaryDetails.SchoolId
				INNER JOIN dbo.udf_GetUserStafGroups(@School_Id,@Month,@Year) as USG
			    ON SalaryDetails.UserId = USG.UserId		
	WHERE     (SalaryDetails.SchoolId = @School_Id) 
			   AND (UsersStaffGroupsAssociation.Is_Deleted = N'N') 
			   AND (SalaryDetails.Year = @Year) 
			   AND (SalaryDetails.MonthId = @Month)
			   AND UsersStaffGroupsAssociation.SchoolId = @School_Id
			   AND SalaryDetails.Is_Deleted =N'N'
	           AND ( ((@StaffGroupsId IS NULL OR @StaffGroupsId = 0)
               AND NOT EXISTS (
						SELECT 1
						FROM @tblExcludeStaffGroup 
						WHERE ExcludeStaffGroupsId = UsersStaffGroupsAssociation.StaffGroupsId ) )
                OR (@StaffGroupsId > 0 AND UsersStaffGroupsAssociation.StaffGroupsId = @StaffGroupsId))

    INSERT INTO @tblStaffName		
  	SELECT User_Id,SupervisorName AS UserName,Designation_Id,Supervisor_First_Name,Supervisor_Middle_Name,Supervisor_Last_Name,SortOrder From vw_BaseSupervisorDetails
	UNION
	SELECT User_Id,Admin_Name AS UserName,Teacher_Designation_Id,User_First_Name,User_Middle_Name,User_Last_Name,1 From vw_BaseAdminDetails
	UNION
	SELECT UserId,UserName,DesignationId,FirstName,MiddleName,LastName ,DesignationSortOrder
	From vw_AllPayrollUsers
	where UserRoleId = 2
	UNION
	SELECT UserId,OtherStaffName AS UserName,DesignationId,FirstName,MiddleName,LastName,SortOrder From vw_BaseOtherStaffDetails
	
	
	DECLARE @AmountSum DECIMAL(10,2),
			@ChequeAmount DECIMAL(10,2)
			
	SET @AmountSum = 0
	SET @ChequeAmount = 0	
	
	SELECT    @AmountSum = SUM(NetSalary), @ChequeAmount = ChequeAmount
	FROM       SalaryDetails
	WHERE     (MonthId = @Month) 
			  AND (Year = @Year) 
			  AND (SchoolId = @School_Id) 
			  AND (Is_Deleted = N'N')
			  AND (UserId <> -9999)
	GROUP BY ChequeAmount

	IF(@ChequeAmount > @AmountSum)
	BEGIN
			INSERT INTO @tblStaffName(UserName,UserId,DesignationId)
			SELECT School_Name,-9999,999 from School_Master
			where School_Id = @School_Id
		
			DECLARE @AccountNo NVARCHAR(20)
			SET @AccountNo = 0
			
			SELECT @AccountNo = SchoolwiseBankAccountDetails.AccountNo
			FROM SalaryPublishStatus INNER JOIN SchoolwiseBankAccountDetails
			ON SalaryPublishStatus.SchoolwiseBankAccountDetailsId = SchoolwiseBankAccountDetails.SchoolwiseBankAccountDetailsId
			WHERE MonthId = @Month
			AND Year = @Year
			AND SalaryPublishStatus.IsPublished = 1
			and SalaryPublishStatus.Is_Deleted = N'N'
			AND SchoolwiseBankAccountDetails.Is_Deleted = N'N'
			
			INSERT INTO @tblStaffSalary(UserId,AccountNo,NetSalary,Year,Month,ChequeNo,SchoolId,ChequeDate)
			SELECT DISTINCT  -9999, @AccountNo, (@ChequeAmount - @AmountSum), SalaryDetails.Year, SalaryDetails.MonthId, 
						 SalaryDetails.ChequeNo, @School_Id AS Expr1, SalaryDetails.ChequeDate
			FROM        SalaryDetails							
			WHERE     (SalaryDetails.SchoolId = @School_Id) 
					   AND (SalaryDetails.Is_Deleted = N'N') 
					   AND (SalaryDetails.Year = @Year) 
					   AND (SalaryDetails.MonthId = @Month)
	END

    SELECT ROW_NUMBER() OVER (ORDER BY SortOrder,DesignationId,FirstName,MiddleName,LastName)AS SrNo
	, tblStaffName.UserId,
	case when @School_Id=11 then tblStaffName.FirstName+' '+tblStaffName.MiddleName+' '+tblStaffName.LastName else tblStaffName.UserName end as UserName,
	tblStaffSalary.AccountNo,tblStaffSalary.NetSalary,tblStaffSalary.Year,tblStaffSalary.Month,tblStaffSalary.ChequeNo,tblStaffSalary.ChequeDate,SchoolId
    ,@Academic_Year_Id as AcademicYearId,datename(mm,cast((N'2009/'+CAST(@Month AS NVARCHAR(2))+N'/01') AS DATETIME))AS MonthName,
    School_Master.School_Name,School_Master.Address1,School_Master.Address2,School_Master.City,School_Master.Pincode,School_Master.Phone_Number,School_Master.FaxNumber,School_Master.WebSite,School_Master.Email,School_Master.Logo
    
    FROM @tblStaffName AS tblStaffName INNER JOIN @tblStaffSalary AS tblStaffSalary
    ON  tblStaffSalary.UserId = tblStaffName.UserId
    INNER JOIN School_Master
    ON tblStaffSalary.SchoolId = School_Master.School_Id
    ORDER BY SortOrder,DesignationId,FirstName,MiddleName,LastName
    
END
GO


