/*
   09 June 202614:26:35
   User: sa
   Server: synergy-svr007.rit.com\schoolsmoke
   Database: PPSH
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserAppointmentDetails ADD
	LetterNoPostfix nvarchar(20) NULL
GO
ALTER TABLE dbo.UserAppointmentDetails SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
