/****** Object:  StoredProcedure [dbo].[usp_GetAppointmentDetails]    Script Date: 09-06-2026 14:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================================
-- Author:		Sachin
-- Create date: 8-Jan-2013
-- Description:	This USP is used to return appointment details of given appointment Id.
-- =============================================================================================
ALTER PROCEDURE [dbo].[usp_GetAppointmentDetails]
	@SchoolId INT,
	@AppointmentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    	SELECT  Id, 
    			Name, 
    			Address,     			
    			JoiningDate, 
    			PaymentStartDate, 
    			JobStatusId, 
    			AgreementDate,     			
			    DesignationId,
			    Teacher_Designation_Name as Designation,
			    STM.StaffStatusId as StatusId,
			    STM.StatusName,
			    UAD.SalutationId,
			    UAD.PaymentGroupId,
				ISNULL(UAD.EmployeeNo,'') AS EmployeeNo,
				ISNULL(LetterNoPostfix,'') AS LetterNoPostfix
		  FROM  UserAppointmentDetails UAD
	INNER JOIN  Teacher_designation_master TDM
		    ON	UAD.DesignationId = TDM.Teacher_Designation_Id
	INNER JOIN StaffStatusMaster STM
		    ON UAD.JobStatusId = STM.StaffStatusId		
		 WHERE UAD.SchoolId = @SchoolId
		   AND UAD.IsDeleted = 0
		   AND TDM.Is_Deleted = 'N'  
		   AND UAD.Id = @AppointmentId
		   AND STM.Is_Deleted = 'N'
					
		SELECT Id,
			   EarningDeductionId,
			   Amount
		  FROM paymentGroupDetails
		 WHERE IsDeleted = 0
		   AND AppointmentId = @AppointmentId
END