/****** Object:  StoredProcedure [dbo].[usp_GetAppointmentDetailsForReport]    Script Date: 09-06-2026 14:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===========================================================================
-- Author:		Sachin
-- Create date: 23-Jan-2014
-- Description:	This USP is used to return appointment details for report.
-- ===========================================================================
ALTER PROCEDURE [dbo].[usp_GetAppointmentDetailsForReport]
	@School_Id INT,
	@Academic_Year_Id INT,
	@AppointmentId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SchoolName NVARCHAR(100),
			@PrincipalName NVARCHAR(150)

		DECLARE @SchoolShortName NVARCHAR(10) = ''
		
		IF @School_Id = 18 OR @School_Id = 11 OR @School_Id = 71
			SET @SchoolShortName = 'PPS'
		
		--IF @School_Id = 18
		--	SET @SchoolShortName = 'PPS'
		--ELSE IF @School_Id = 11
		--	SET @SchoolShortName = 'PPSH'
		--ELSE IF @School_Id = 71
		--	SET @SchoolShortName = 'PPSN'
		
		SELECT @SchoolName = School_Name
		FROM School_Master
		WHERE School_Id = @School_Id

		SELECT     @PrincipalName = vw_BaseTeacherDetails.TeacherName
		FROM         vw_BaseTeacherDetails 
		INNER JOIN Teacher_Designation_Master 
		ON vw_BaseTeacherDetails.Designation_Id = Teacher_Designation_Master.Teacher_Designation_Id
		WHERE     (vw_BaseTeacherDetails.School_Id = @School_Id) 
		AND (vw_BaseTeacherDetails.academic_year_id = @Academic_Year_Id) 
		AND (vw_BaseTeacherDetails.Is_Deleted = 'N') 
		AND (Teacher_Designation_Master.Teacher_Designation_Name = N'Principal') 
		AND (Teacher_Designation_Master.Is_Deleted = 'N')
					
		DECLARE @tblEarningDeductions as TABLE
		(
			AppointmentId INT,
			EarningDeductionId INT,
			ShortName NVARCHAR(50),
			Amount NUMERIC(18,0),
			IsEarning BIT,
			IsBasic BIT
		)			
		
		INSERT INTO @tblEarningDeductions
		SELECT  @AppointmentId, PaymentGroupDetails.EarningDeductionId,EarningsDeductions.ShortName, PaymentGroupDetails.Amount, EarningsDeductions.IsEarning, IsBasic                      
		FROM       PaymentGroupDetails
		INNER JOIN EarningsDeductions 
		ON PaymentGroupDetails.EarningDeductionId = EarningsDeductions.EarningsDeductionsId
		WHERE     (PaymentGroupDetails.AppointmentId = @AppointmentId)
		 AND (PaymentGroupDetails.IsDeleted = 0)
		  AND (EarningsDeductions.Is_Deleted = N'N') 
		  AND (EarningsDeductions.SchoolId = @School_Id)
		  AND PaymentGroupDetails.Amount <> 0
		ORDER BY EarningsDeductions.OriginalEarningsDeductionsId

		DECLARE @GrossSalary NUMERIC(18,0),
				@TotalDeduction NUMERIC(18,0),
				@NetSalary NUMERIC(18,0),
				@BasicSalary NUMERIC(18,0)
		
		SELECT @GrossSalary = SUM(Amount) 
		FROM @tblEarningDeductions
		WHERE IsEarning = 1
		
		SELECT @TotalDeduction = SUM(Amount) 
		FROM @tblEarningDeductions
		WHERE IsEarning = 0
		
		SELECT @BasicSalary = Amount
		FROM @tblEarningDeductions
		WHERE IsBasic = 1
		
		DECLARE @JoiningYear INT,
				@RowNo INT = 0
		
		SELECT @JoiningYear = YEAR(JoiningDate)
		FROM UserAppointmentDetails
		WHERE Id = @AppointmentId
		AND IsDeleted = 0
		
		SELECT @RowNo = S.RowNo
		FROM UserAppointmentDetails UAD
		INNER JOIN
		(
			SELECT ROW_NUMBER() OVER(ORDER BY Id) RowNo, Id
			FROM UserAppointmentDetails
			WHERE YEAR(JoiningDate) = @JoiningYear
		)S
		ON UAD.Id = S.Id
		
		
		SET @NetSalary = ISNULL(@GrossSalary,0) - ISNULL(@TotalDeduction,0)
		
				SELECT					
						LTRIM(RTRIM(SM.Salutation_Name + ' ' +replace(replace(UAD.Name,char(10),''),char(13),''))) as Name,
						LTRIM(RTRIM(replace(replace(UAD.Address,char(10),''),char(13),''))) AS Address,
						TDM.Teacher_Designation_Name as Designation,								
						CAST(DAY(JoiningDate) AS NVARCHAR(2)) +' '+ LEFT(DATENAME(MONTH,JoiningDate),3)+', '+CAST(YEAR(JoiningDate) AS NVARCHAR(4)) as JoiningDate,
						CAST(DAY(PaymentStartDate) AS NVARCHAR(2)) +' '+ LEFT(DATENAME(MONTH,PaymentStartDate),3)+', '+CAST(YEAR(PaymentStartDate) AS NVARCHAR(4)) as PaymentStartDate,
						--CAST(DAY(dbo.GetLocalDate(DEFAULT)) AS NVARCHAR(2)) +' '+ LEFT(DATENAME(MONTH,dbo.GetLocalDate(DEFAULT)),3)+', '+CAST(YEAR(dbo.GetLocalDate(DEFAULT)) AS NVARCHAR(4)) as CurrentDate,
						UAD.AgreementDate,
						SSM.StatusName,
						@SchoolName SchoolName,
						@PrincipalName PrincipalName,
						@NetSalary AS TotalSalary,
						@BasicSalary AS BasicSalary,
						EarningDeductionId,
						ShortName,
						Amount,
						IsEarning,						
						'/- (Rupees '+dbo.udf_ConvertNumberToText(@NetSalary)+' Only)' AS AmountInWord,
						--@SchoolShortName + '/'+ CAST(RIGHT(YEAR(JoiningDate),2) AS NVARCHAR(5)) + '/'+ CAST(@RowNo AS NVARCHAR(5)) LetterNo
						--@SchoolShortName + ' /     /    ' as LetterNo,
						CAST(ISNULL(EmployeeNo,'')+ISNULL(LetterNoPostfix,'') AS NVARCHAR(100)) as LetterNo
				  FROM UserAppointmentDetails UAD
			INNER JOIN Salutation_Master SM
					ON UAD.SalutationId = SM.Salutation_Id 
			INNER JOIN Teacher_Designation_Master TDM
					ON UAD.DesignationId = TDM.Teacher_Designation_Id 
			INNER JOIN StaffStatusMaster SSM
					ON UAD.JobStatusId = SSM.StaffStatusId	   
			INNER JOIN @tblEarningDeductions ED
					ON UAD.Id = ED.AppointmentId
				 WHERE (UAD.SchoolId = @School_Id) 
				   AND (UAD.IsDeleted = 0)
				   AND (SM.Is_Deleted = 'N')
				   AND (TDM.Is_Deleted = 'N')
				   AND (SSM.Is_Deleted = N'N')
				   AND UAD.Id = @AppointmentId
			  ORDER BY IsEarning DESC
END