/****** Object:  StoredProcedure [dbo].[usp_GetPagedAppointmentDetails]    Script Date: 09-06-2026 14:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================================
-- Author:		Sachin
-- Create date: 9-Jan-2014
-- Description:	This USP is used to return appointment details.
-- ===================================================================
ALTER PROCEDURE [dbo].[usp_GetPagedAppointmentDetails] 
	@SchoolId INT,
	@SortExpression NVARCHAR(50),
	@StartIndex INT,
	@EndIndex INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @SqlQuery NVARCHAR(1500)

	SET @SqlQuery = ' SELECT * FROM
					  (
					    SELECT ROW_NUMBER() OVER ( ORDER BY '+@SortExpression+') AS RowNumber,
							   Id,
							   SM.Salutation_Name + '' '' +Name AS Name,
							   Address, 
							   DesignationId,
							   Teacher_Designation_Name as Designation,
							   AgreementDate,
							   JoiningDate,
							   PaymentStartDate,
							   SSM.StaffStatusId as StatusId,
							   SSM.StatusName,
							   UAD.SalutationId,
							   UAD.PaymentGroupId,
							   ISNULL(UAD.EmployeeNo,'''') AS EmployeeNo,
							   ISNULL(LetterNoPostfix,'''') AS LetterNoPostfix
						  FROM UserAppointmentDetails UAD WITH(NOLOCK)
					INNER JOIN Teacher_designation_master TDM WITH(NOLOCK)
							ON UAD.DesignationId = TDM.Teacher_Designation_Id
					INNER JOIN StaffStatusMaster SSM WITH(NOLOCK)
						    ON UAD.JobStatusId = SSM.StaffStatusId
					INNER JOIN Salutation_Master SM WITH(NOLOCK)
							ON UAD.SalutationId = SM.Salutation_Id
						 WHERE UAD.SchoolId = '+ CAST(@SchoolId AS NVARCHAR(5)) + 
						 ' AND UAD.IsDeleted = 0
						   AND TDM.Is_Deleted = ''N''
						   AND SSM.Is_Deleted = ''N''
						   AND SM.Is_Deleted = ''N''
					  )A
					  WHERE A.RowNumber > '+CAST(@StartIndex as nvarchar(5)) +' AND A.RowNumber <= '+ CAST(@EndIndex as nvarchar(5))
					  
	print @SqlQuery
	EXEC(@SqlQuery)		
END

--GO
--	exec usp_GetPagedAppointmentDetails @SchoolId=71,@SortExpression=N'Name',@StartIndex=0,@EndIndex=5
--GO