/****** Object:  StoredProcedure [dbo].[usp_SaveUserAppointmentDetails]    Script Date: 09-06-2026 14:25:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================
-- Author:		Sachin
-- Create date: 8-Jan-2014
-- Description:	This USP is used to save user appointment details.
-- =====================================================================
ALTER PROCEDURE [dbo].[usp_SaveUserAppointmentDetails]
	@SchoolId INT,
	@UpdatedById INT,	
	@AppointmentId INT,
	@Name NVARCHAR(50),
	@Address NVARCHAR(300),
	@DesignationId INT,
	@JobStatusId INT,
	@JoiningDate DATETIME,
	@PaymentStartdate DATETIME,
	@AgreementDate DATETIME,
	@ParameterXmL XML,
	@SalutationId INT,
	@PaymentGroupId INT,
	@EmployeeNo NVARCHAR(20),
	@LetterNoPostfix NVARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @tblGroupParameters as TABLE
	(
		Id INT,		
		EarningDeductionId INT,
		Amount NUMERIC(18,0)
	)	
	
	INSERT INTO @tblGroupParameters
	SELECT T.c.value('./Id[1]','INT'),	  	   
	  	   T.c.value('./EarningDeductionId[1]','INT'),
	  	   T.c.value('./Amount[1]','NUMERIC(18,0)')
	FROM @ParameterXmL.nodes('ArrayOfEarningDeductionGroup/EarningDeductionGroup') T(c)
		
	IF @AppointmentId = 0
	BEGIN
		INSERT INTO [dbo].[UserAppointmentDetails]
           ([Name]
           ,[Address]
           ,[DesignationId]
           ,[JoiningDate]
           ,[PaymentStartDate]
           ,[JobStatusId]
           ,[AgreementDate]
           ,[SalutationId]
           ,[SchoolId]           
           ,[InsertedById]
           ,[InsertDate] 
           ,[PaymentGroupId]
		   ,[EmployeeNo]
		   ,[LetterNoPostfix]
         )
     VALUES
           (
			@Name
           ,@Address
           ,@DesignationId
           ,@JoiningDate
           ,@PaymentStartdate
           ,@JobStatusId
           ,@AgreementDate
           ,@SalutationId
           ,@SchoolId         
           ,@UpdatedById
           ,dbo.GetLocalDate(DEFAULT)
           ,@PaymentGroupId
		   ,@EmployeeNo
		   ,@LetterNoPostfix
           )			
		
		SELECT @AppointmentId = SCOPE_IDENTITY()	
		
		INSERT INTO PaymentGroupDetails
		(	
			AppointmentId,
			EarningDeductionId,
			Amount
		)
		SELECT @AppointmentId,
			   EarningDeductionId,
			   Amount
		FROM @tblGroupParameters		
	END
	ELSE
	BEGIN
		UPDATE UserAppointmentDetails
		   SET Name = @Name
		      ,Address = @Address
              ,DesignationId = @DesignationId
              ,JoiningDate = @JoiningDate
              ,PaymentStartDate = @PaymentStartdate
              ,JobStatusId = @JobStatusId
              ,AgreementDate = @AgreementDate
              ,SalutationId = @SalutationId
              ,PaymentGroupId = @PaymentGroupId
			  ,EmployeeNo = @EmployeeNo
			  ,LetterNoPostfix = @LetterNoPostfix
              ,UpdatedBYId = @UpdatedById
              ,UpdateDate = dbo.GetLocalDate(DEFAULT)              
		WHERE SchoolId = @SchoolId
			  AND IsDeleted = 0
			  AND Id = @AppointmentId
		
		UPDATE PaymentGroupDetails
		   SET Amount = GP.Amount
		  FROM PaymentGroupDetails PGD
	INNER JOIN @tblGroupParameters GP
		    ON PGD.EarningDeductionId = GP.EarningDeductionId		
		 WHERE PGD.AppointmentId = @AppointmentId	
		
		UPDATE PaymentGroupDetails
		   SET IsDeleted = 1
		 WHERE AppointmentId = @AppointmentId
		   AND EarningDeductionId NOT IN 
			(
				SELECT EarningDeductionId
				FROM @tblGroupParameters
			)	
		
		INSERT INTO PaymentGroupDetails
		(	
			AppointmentId,
			EarningDeductionId,
			Amount
		)
		SELECT @AppointmentId,
			   EarningDeductionId,
			   Amount
		FROM @tblGroupParameters
		WHERE EarningDeductionId NOT IN 
			 (
				SELECT EarningDeductionId
				FROM PaymentGroupDetails
				WHERE AppointmentId = @AppointmentId
				AND IsDeleted = 0
			 )		
	END    
END