/****** Object:  StoredProcedure [dbo].[usp_UpdateLeaveRecordInPayroll]    Script Date: 8/25/2025 11:29:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 1-Jun-2023
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_UpdateLeaveRecordInPayroll]
	@SchoolId INT,
	@AcademicYearId INT,
	@UpdatedById INT,
	@LeaveConfigId INT,
	@LeaveTypeId INT,
	@StartDate DATE,
	@EndDate DATE,
	@TotalDays DECIMAL(10,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ODLeaveId INT

	SELECT @ODLeaveId = LeaveId
	FROM StaffLeaves
	WHERE SchoolId = @SchoolId
	AND Is_Deleted = 'N'
	AND LeaveName = 'On Duty'
	DECLARE @UserId INT
			,@TotalDaysCount DECIMAL(10,2)

	SET @TotalDaysCount = @TotalDays

	SELECT @UserId = UserId
	FROM UserLeaveDetails
	WHERE iD = @LeaveConfigId
	AND SchoolId = @SchoolId
	AND IsDeleted = 0

	DECLARE @tblDates AS TABLE
	(
		Date DATE
	)

	INSERT INTO @tblDates
	SELECT Date
	FROM DBO.udf_GetDatesOfRange(@StartDate, @EndDate)

	declare @PublishedYear INT, @PublishedMonthId INT
	SELECT @PublishedYear = Year, 
		   @PublishedMonthId = MonthId
	FROM SalaryPublishStatus
	WHERE SchoolId = @SchoolId
	AND Is_Deleted = 'N'
	and IsPublished = 1

	IF @PublishedMonthId = 12
	BEGIN
		SET @PublishedMonthId = 1
		SET @PublishedYear = @PublishedYear + 1
	END
	ELSE
	BEGIN
		SET @PublishedMonthId = @PublishedMonthId + 1
	END
	
	DELETE FROM @tblDates
	WHERE YEAR(Date) > @PublishedYear
	OR MONTH(Date) > @PublishedMonthId

	DECLARE @TotalLeaveDays DECIMAL(10,2) = 0
	select @TotalLeaveDays = count(1)
	from @tblDates

	IF @TotalDays > @TotalLeaveDays
		SET @TotalDays = @TotalLeaveDays

	DECLARE @LeaveYear INT
	SELECT @LeaveYear = DBO.udf_GetLeaveYearId(@PublishedMonthId, @PublishedYear)

	declare @IterationDate DATE,
			@ExistingLeaveId INT,
			@LeaveCount DECIMAL(10,2) = 1,
			@TotalDaysOfMonth INT,
			@ConsiderFirstLeaveAsHalfLeave BIT = 0

	IF @TotalDays + 1 = @TotalLeaveDays
		SET @ConsiderFirstLeaveAsHalfLeave = 1		

	SET @TotalDaysOfMonth = datediff(day, @StartDate, dateadd(month, 1, @StartDate))

	WHILE EXISTS
	(
		select top 1 1
		from @tblDates
	)
	BEGIN
		select top 1 @IterationDate = Date
		from @tblDates
		ORDER BY Date

		IF @TotalDays < 1 OR @ConsiderFirstLeaveAsHalfLeave = 1
			SET @LeaveCount = 0.5
		ELSE
			SET @LeaveCount = 1

		SET @ExistingLeaveId = 0

		SELECT @ExistingLeaveId = LeaveId
		FROM DatewiseStaffLeaves
		WHERE SchoolId = @SchoolId
		AND Is_Deleted = 'N'
		AND UserId = @UserId
		AND CONVERT(DATE,Date) = CONVERT(DATE,@IterationDate)

		IF @ExistingLeaveId IS NOT NULL AND @ExistingLeaveId <> 0  
		BEGIN
			IF @ExistingLeaveId <> @LeaveTypeId
			BEGIN
					update sld
					set Days = sld.Days  - @LeaveCount,
						UpdateDate = DBO.GetLocalDate(DEFAULT),
						UpdatedById = @UpdatedById 
					from StaffLeaveDetails sld
					inner join StaffAttendance sa
					on sld.StaffAttendanceId = sa.StaffAttendanceId
					where sld.Is_Deleted = 'N'
					AND SA.Is_Deleted = 'N'
					AND SA.UserId = @UserId
					AND SA.Year = @PublishedYear
					AND SA.MonthId = @PublishedMonthId
					and sld.LeaveId = @ExistingLeaveId

					UPDATE UserLeavesYearwiseConfiguration
					SET LeaveBalance = LeaveBalance + @LeaveCount
					WHERE SchoolId = @SchoolId
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND Year = @LeaveYear
					AND LeaveId = @ExistingLeaveId
					AND LeaveId<>@ODLeaveId


					-----------------------------------------

					UPDATE DatewiseStaffLeaves
					SET LeaveId = @LeaveTypeId,
						IsHalfLeave = case when @LeaveCount = 0.5 then 1 else 0 end
					WHERE SchoolId = @SchoolId
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND CONVERT(DATE,Date) = CONVERT(DATE,@IterationDate)

					update sld
					set Days = sld.Days + @LeaveCount,
						UpdateDate = DBO.GetLocalDate(DEFAULT),
						UpdatedById = @UpdatedById 
					from StaffLeaveDetails sld
					inner join StaffAttendance sa
					on sld.StaffAttendanceId = sa.StaffAttendanceId
					where sld.Is_Deleted = 'N'
					AND SA.Is_Deleted = 'N'
					AND SA.UserId = @UserId
					AND SA.Year = @PublishedYear
					AND SA.MonthId = @PublishedMonthId
					and sld.LeaveId = @LeaveTypeId

					UPDATE UserLeavesYearwiseConfiguration
					SET LeaveBalance = LeaveBalance - @LeaveCount
					WHERE SchoolId = @SchoolId
					AND Is_Deleted = 'N'
					AND UserId = @UserId
					AND Year = @LeaveYear
					AND LeaveId = @LeaveTypeId
					AND LeaveId<>@ODLeaveId

			END
		END
		ELSE
			BEGIN				
				INSERT INTO DatewiseStaffLeaves
				SELECT @UserId,@LeaveTypeId,@IterationDate,CASE WHEN @LeaveCount = 0.5 THEN 1 ELSE 0 END, 0,0,@SchoolId,'N',DBO.GetLocalDate(DEFAULT),@UpdatedById, DBO.GetLocalDate(DEFAULT),@UpdatedById
							
				DECLARE @StaffAttendanceId INT
				
				IF NOT EXISTS
				(
					select top 1 1
					from StaffAttendance
					where SchoolId = @SchoolId
					and Is_Deleted = 'N'
					and Year = @PublishedYear
					and MonthId = @PublishedMonthId
					and userid = @UserId
				)
				BEGIN
					INSERT INTO StaffAttendance
					SELECT @PublishedMonthId,@PublishedYear,@UserId,@TotalDaysOfMonth -@LeaveCount ,@SchoolId,@AcademicYearId,'N',dbo.getlocaldate(default),@UpdatedById, dbo.getlocaldate(default),@UpdatedById

					SELECT @StaffAttendanceId = SCOPE_IDENTITY()

					INSERT INTO StaffLeaveDetails
					select @StaffAttendanceId, LeaveId, CASE WHEN LeaveId = @LeaveTypeId THEN @LeaveCount ELSE 0 END,@SchoolId,@AcademicYearId,'N',dbo.getlocaldate(default),@UpdatedById, dbo.getlocaldate(default),@UpdatedById
					from StaffLeaves
					where SchoolId = @SchoolId
					and Is_Deleted = 'N'
				END
				ELSE
				BEGIN
					update sld
					set Days = sld.Days + @LeaveCount,
						UpdateDate = DBO.GetLocalDate(DEFAULT),
						UpdatedById = @UpdatedById 
					from StaffLeaveDetails sld
					inner join StaffAttendance sa
					on sld.StaffAttendanceId = sa.StaffAttendanceId
					where sld.Is_Deleted = 'N'
					AND SA.Is_Deleted = 'N'
					AND SA.UserId = @UserId
					AND SA.Year = @PublishedYear
					AND SA.MonthId = @PublishedMonthId
					and sld.LeaveId = @LeaveTypeId

					update sa
					set PresentDays = PresentDays - @LeaveCount,
						UpdateDate = DBO.GetLocalDate(DEFAULT),
						UpdatedById = @UpdatedById 
					from StaffAttendance sa
					where SA.Is_Deleted = 'N'
					AND SA.UserId = @UserId
					AND SA.Year = @PublishedYear
					AND SA.MonthId = @PublishedMonthId
				END
				
				UPDATE UserLeavesYearwiseConfiguration
				SET LeaveBalance = LeaveBalance - @LeaveCount
				WHERE SchoolId = @SchoolId
				AND Is_Deleted = 'N'
				AND UserId = @UserId
				AND Year = @LeaveYear
				AND LeaveId = @LeaveTypeId
				AND LeaveId<>@ODLeaveId

			END

		SET @StaffAttendanceId = 0
		SET @ConsiderFirstLeaveAsHalfLeave = 0

		SET @TotalDays = @TotalDays - @LeaveCount

		DELETE FROM @tblDates
		WHERE Date = @IterationDate
	END

	declare @OldLeaveId INT,
			@OldStartDate DATE,
			@OldEndDate DATE,
			@OldTotalDays DECIMAL(10,2)

	SELECT @OldLeaveId = LeaveId,
			@OldStartDate = StartDate,
			@OldEndDate = EndDate,
			@OldTotalDays = TotalDays
	FROM UserLeaveDetails
	WHERE SchoolId = @SchoolId
	AND IsDeleted = 0
	AND ID = @LeaveConfigId

	update UserLeaveDetails
	SET LeaveId = @LeaveTypeId,
		IsLeaveUpdatedInPayroll = 1,
		StartDate = @StartDate,
		EndDate = @EndDate,
		TotalDays = @TotalDaysCount,
		UpdatedById = @UpdatedById,
		UpdatedDate = DBO.GetLocalDate(DEFAULT)
	WHERE SchoolId = @SchoolId
	AND IsDeleted = 0
	AND ID = @LeaveConfigId

	IF @OldLeaveId <> @LeaveTypeId OR @OldStartDate <> @StartDate OR @OldEndDate <> @EndDate OR @OldTotalDays <> @TotalDays
	BEGIN
	 EXEC usp_SendMessageregardingUserLeave @SchoolId, @AcademicYearId, @UpdatedById, @UserId, @LeaveConfigId, 0, 0, 1, @OldLeaveId,@OldStartDate,@OldEndDate,@OldTotalDays
	END
	--raiserror('test err!',16,1)
END


GO
