/****** Object:  StoredProcedure [dbo].[usp_PayLateFee]    Script Date: 8/25/2025 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================================================================
-- Author:		Pravin Shinde
-- Create date: 17-Jul-2013
-- Description:	This procedure is used to pay student late fee & will be called from usp_PayStudentFee
-- ========================================================================================================
ALTER PROCEDURE [dbo].[usp_PayLateFee]
@StudentPayFeeXML XML,	
@ReceiptNumber INT,
@SchoolId INT,
@AcademicYearId INT,
@InsertedById INT,
@PaymentType INT,
@MaxSerialNumber INT,
@LastInsertedStudentFeeId INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- Payment Types :: CashPayment = ~0, ChequePayment = 1, PDC = 2, Swapcard = 3, Electronic = 4		
	DECLARE @StudentId INT,
			@TotalAmountToBePaid INT,
			@TotalActualAmount INT,
			@Remarks NVARCHAR(1000),
			@PaymentDate DATETIME,			
			@SchoolwiseStudentFeeId INT,
			@ActualLateFeeAmount INT,
			@IsDirectlyDeposited NVARCHAR(10),
			@BankId INT,
			@DepositeBankId INT,			
			@ChallanNumber NVARCHAR(50),
			@TotalLateFeeAmount INT,
			@LateFeeDescription NVARCHAR(1000),	
			@SerialNumber INT,
			@ManipulatedLateFee DECIMAL(10, 2),			
			@LastInsertedLateFeeId INT,
			@LateFee INT, -- will be refered as local variable for this function.
			@ActualFeeToBePaid INT ,
			@IsCardPayment INT=0,	
			@IsElectronicPayment INT =0,		
			@Id INT=0		
			
			IF(@PaymentType = 3) -- Swipecard payment
				SET @IsCardPayment = 1			
			
			IF(@PaymentType = 4) -- Electronic payment
				SET @IsElectronicPayment = 1			
				
	SET @SchoolwiseStudentFeeId = 0
	
	-- This table is used to collect all the fees selected to pay.		
	DECLARE @tblPayFeeDetails AS TABLE
	(
		 Id INT IDENTITY(1, 1),
		 SchoolwiseStudentFeeId INT,
		 PaybleAmount INT,
		 ActualAmount INT,
		 LateFee INT
	)

	SELECT @StudentId = T.c.value('(StudentId)[1]','INT')
		  ,@TotalAmountToBePaid = T.c.value('(AmountToBePaid)[1]','INT')
		  ,@TotalActualAmount = T.c.value('(ActualAmount)[1]','INT')
		  ,@Remarks	= T.c.value('(Remarks)[1]','NVARCHAR(1000)')
		  ,@PaymentDate	= T.c.value('(PaymentDate)[1]','DATETIME')		  
		  ,@ActualLateFeeAmount = T.c.value('(ActualLateFeeAmount)[1]','INT')
		  ,@IsDirectlyDeposited = T.c.value('(IsDirectlyDeposited)[1]','NVARCHAR(10)')
		  ,@BankId = T.c.value('(BankId)[1]','INT')
		  ,@DepositeBankId = T.c.value('(DepositeBankId)[1]','INT')		  
		  ,@ChallanNumber = T.c.value('(ChallanNumber)[1]','NVARCHAR(50)')
	  FROM @StudentPayFeeXML.nodes('StudentPayFeeDetails') T(c)

	SELECT @TotalLateFeeAmount = T.c.value('(TotalLateFeeAmount)[1]','INT')
		  ,@LateFeeDescription = T.c.value('(LateFeeDescription)[1]','NVARCHAR(1000)')
	  FROM @StudentPayFeeXML.nodes('StudentPayFeeDetails/oLateFeeDetails') T(c)

	INSERT INTO @tblPayFeeDetails
	SELECT T.c.value('(StudentFeeId)[1]','INT')
		  ,T.c.value('(PaybleAmount)[1]','INT')
		  ,T.c.value('(ActualAmount)[1]','INT')
		  ,T.c.value('(LateFee)[1]','INT')
	  FROM @StudentPayFeeXML.nodes('StudentPayFeeDetails/lstStudentFeeList/StudentFeeDetails') T(c)


	IF(@IsDirectlyDeposited = 'false')
		SET @IsDirectlyDeposited = N'N'
	ELSE
		SET @IsDirectlyDeposited = N'Y'
	
	IF(@PaymentType <> 0 AND @PaymentType <> 2) --cash payment,PDC
	BEGIN
		SET @DepositeBankId = NULL
		SET @IsDirectlyDeposited = N'N'
	END

	--Here if admin modified the total late fee to be paid then we will devide the new late fee amount into all fee types to be paid.
	IF(@TotalLateFeeAmount <> @ActualLateFeeAmount)
	BEGIN
		DECLARE @Cnt INT
		SELECT @Cnt = COUNT(1) FROM @tblPayFeeDetails
		SET @ManipulatedLateFee = CONVERT(DECIMAL(10, 2), CONVERT(DECIMAL(10, 2), @ActualLateFeeAmount) / CONVERT(DECIMAL(10, 2), @Cnt))
	END

	SELECT TOP 1 @SchoolwiseStudentFeeId = SchoolwiseStudentFeeId
	  FROM @tblPayFeeDetails

	SET @LateFee = @TotalLateFeeAmount

	--If late fee amount is greater than actual amount to be paid then we will assign actual amount value to the late fee.
	IF (@LateFee > @TotalAmountToBePaid AND @TotalAmountToBePaid <> 0)
		SET @LateFee = @TotalAmountToBePaid
	SET @ActualFeeToBePaid = @TotalAmountToBePaid

	IF(@SchoolId = 11 AND @TotalLateFeeAmount = 0 AND @ActualLateFeeAmount > 0)
	BEGIN
		INSERT INTO dbo.Schoolwise_Student_Fee_Details
		(
			Student_Id,
			Payable_For,
			Standard_Div_Id,
			Fee_Type,
			Amount,
			[Debit/Credit],
			Paid_Date,
			Remarks,
			School_Id,
			Academic_Year_Id,
			Is_Late_Fee,
			Serial_Number,
			Inserted_By_id,
			Insert_Date,
			Updated_By_Id,
			Update_Date,
			IntervalStartDate,
			IntervalEndDate,
			AccountHeaderId
		)
		SELECT Student_Id,
			   CASE WHEN @LateFeeDescription = ''
					THEN Payable_For
					ELSE @LateFeeDescription
			   END,
			   Standard_Div_Id,
			   'Late Fee',
			   @ActualLateFeeAmount,
			   'Debit',
			   @PaymentDate,
			   @LateFeeDescription,
			   School_Id,
			   Academic_Year_Id,
			   N'Y',
			   @MaxSerialNumber,
			   @InsertedById,
			   dbo.GetLocalDate(DEFAULT),
			   @InsertedById,
			   dbo.GetLocalDate(DEFAULT),
			   IntervalStartDate,
			   IntervalEndDate,
			   AccountHeaderId
		FROM Schoolwise_Student_Fee_Details WITH(NOLOCK)
		WHERE Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId
		  AND School_Id = @SchoolId
		  AND Academic_Year_Id = @AcademicYearId
	END


	--One debit entry is inserted for late fee.  
	IF(@LateFee > 0)
	BEGIN
		INSERT INTO dbo.Schoolwise_Student_Fee_Details
		(
			Student_Id,
			Payable_For,
			Standard_Div_Id,
			Fee_Type,
			Amount,
			[Debit/Credit],
			Paid_Date,
			Remarks,
			School_Id,
			Academic_Year_Id,
			Is_Late_Fee,
			Serial_Number,
			Inserted_By_id,
			Insert_Date,
			Updated_By_Id,
			Update_Date,
			IntervalStartDate,
			IntervalEndDate,
			AccountHeaderId
		)
		SELECT Student_Id,
			   CASE
					WHEN @LateFeeDescription = ''
					THEN Payable_For
					ELSE @LateFeeDescription
			   END,
			   Standard_Div_Id,
			   'Late Fee',
			   @LateFee,
			   'Debit',
			   @PaymentDate,
			   @LateFeeDescription,
			   School_Id,
			   Academic_Year_Id,
			   N'Y',
			   @MaxSerialNumber,
			   @InsertedById,
			   dbo.GetLocalDate(DEFAULT),
			   @InsertedById,
			   dbo.GetLocalDate(DEFAULT),
			   IntervalStartDate,
			   IntervalEndDate,
			   AccountHeaderId
		  FROM Schoolwise_Student_Fee_Details  WITH(NOLOCK)   
		 WHERE Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId		 
		   AND School_Id = @SchoolId
		   AND Academic_Year_Id = @AcademicYearId 

	DECLARE @iLateFeeId INT
	SELECT @iLateFeeId = SCOPE_IDENTITY()
	
	--One credit entry is inserted for above debit entry.  
	INSERT dbo.Schoolwise_Student_Fee_Details
	(
		Student_Id,
		Payable_For,
		Standard_Div_Id,
		Fee_Type,
		Amount,
		[Debit/Credit],
		Paid_Date,
		Receipt_Number,
		Remarks,
		School_Id,
		Academic_Year_Id,
		Is_Late_Fee,
		Student_Fee_Id,
		Serial_Number,
		Is_Directly_Deposited,
		Bank_Id,
		DepositBankId,
		Inserted_By_id,
		Updated_By_Id,
		ChallanNo,
		IntervalStartDate,
		IntervalEndDate,
		IsCardPayment,
		IsElectronicPayment,
		AccountHeaderId
	)
	SELECT Student_Id,
		   CASE
				WHEN @LateFeeDescription = ''
				THEN Payable_For
				ELSE @LateFeeDescription
		   END,
		   Standard_Div_Id,
		   'Late Fee',
		   @LateFee,
		   'Credit',
		   @PaymentDate,
		   @ReceiptNumber,
		   @LateFeeDescription,
		   School_Id,
		   Academic_Year_Id,
		   N'Y',
		   @iLateFeeId,
		   @MaxSerialNumber,
		   @IsDirectlyDeposited,
		   @BankId,
		   @DepositeBankId,
		   @InsertedById,
		   @InsertedById,
		   @ChallanNumber,
		   IntervalStartDate,
		   IntervalEndDate,
		   @IsCardPayment,
		   @IsElectronicPayment,
		   AccountHeaderId
	  FROM Schoolwise_Student_Fee_Details  WITH(NOLOCK)   
	 WHERE Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId
	   AND School_Id = @SchoolId
	   AND Academic_Year_Id = @AcademicYearId

	SELECT @LastInsertedLateFeeId = SCOPE_IDENTITY()


	INSERT INTO  FeeUpdationTrackingDetails
	SELECT Student_Id,'I','Late Fee','Late Fee',@LateFee,@ReceiptNumber,@SchoolId,@AcademicYearId,@InsertedById,dbo.GetLocalDate(DEFAULT),'R','Insert student regular late fee'
	FROM Schoolwise_Student_Fee_Details  WITH(NOLOCK)   
	 WHERE Schoolwise_Student_Fee_Id = @SchoolwiseStudentFeeId
	   AND School_Id = @SchoolId
	   AND Academic_Year_Id = @AcademicYearId

	SET @TotalActualAmount = @TotalActualAmount - @LateFee
	SET @TotalAmountToBePaid = @TotalAmountToBePaid - @LateFee
	END

	-- Here we are inserting late fee as per the individual feee payment.
	SET @Id=1				
	WHILE((SELECT COUNT(1) FROM @tblPayFeeDetails WHERE Id=@Id) > 0)		
	BEGIN		
	SELECT @SchoolwiseStudentFeeId=SchoolwiseStudentFeeId,
		   @LateFee=LateFee  
	  FROM @tblPayFeeDetails
	 WHERE Id=@Id	

		IF(@TotalActualAmount > 0)
		BEGIN		
			IF(@LateFee = @ActualLateFeeAmount)
			BEGIN
				-- here we compare the late fee and actual amount. If late fee is less than actual fee then we will
				-- insert the late feee else we will insert the actul fee amount

				IF(@LateFee <= @ActualFeeToBePaid AND @LateFee > 0)
				BEGIN
					INSERT INTO Schoolwise_Late_Fee_Details
					(
						Student_Fee_Id,
						Late_Fee_Amt,
						School_Id,
						Academic_Year_Id
					)
						 VALUES
					(
						@SchoolwiseStudentFeeId,
						@LateFee,
						@SchoolId,
						@AcademicYearId
					)
					SET @ActualFeeToBePaid = @ActualFeeToBePaid - @LateFee
				END
				ELSE
				BEGIN
					INSERT INTO Schoolwise_Late_Fee_Details
					(
						Student_Fee_Id,
						Late_Fee_Amt,
						School_Id,
						Academic_Year_Id
					)
						 VALUES
					(
						@SchoolwiseStudentFeeId,
						@ActualFeeToBePaid,
						@SchoolId,
						@AcademicYearId
					)
					SET @ActualFeeToBePaid = 0
				END
			END
			ELSE
			BEGIN
				-- Following code will execute if user have modified the late fee amount. 
				-- here we compare the actual fee and manipulated late fee amount. If late fee is less than actual fee then we will
				-- insert the late feee else we will insert the actul fee amount
				IF (@ManipulatedLateFee <= @ActualFeeToBePaid)
				BEGIN
					INSERT INTO [dbo].[Schoolwise_Late_Fee_Details]
					(
						Student_Fee_Id,
						Late_Fee_Amt,
						School_Id,
						Academic_Year_Id
					)
						 VALUES
					(
						@SchoolwiseStudentFeeId,
						@ManipulatedLateFee,
						@SchoolId,
						@AcademicYearId
					)
					SET @ActualFeeToBePaid = @ActualFeeToBePaid - @ManipulatedLateFee
				END
				ELSE
				BEGIN
					INSERT INTO [dbo].[Schoolwise_Late_Fee_Details]
					(
						Student_Fee_Id,
						Late_Fee_Amt,
						School_Id,
						Academic_Year_Id
					)
						 VALUES
					(
						@SchoolwiseStudentFeeId,
						@ActualLateFeeAmount,
						@SchoolId,
						@AcademicYearId
					)
					SET @ActualFeeToBePaid = 0
				END
			END
		END

		SET @Id= @Id + 1
	END -- End of @ActualAmount > 0				
		
END
GO
