/****** Object:  StoredProcedure [dbo].[usp_GetDetailsForAdjustingCautionMoney]    Script Date: 12-09-2025 12:08:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vishakha
-- Create date: 10 aug 2023
-- Description: This usp is used to get details for adjusting caution money ampunt.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetDetailsForAdjustingCautionMoney]
@School_Id int,
@Academic_Year_Id int,
@Student_Id int,
@Standard_Id int,
@Division_Id int,
@TypeId INT
AS
BEGIN
	
	DECLARE @tblreport AS TABLE
	(
		Id INT Identity(1,1),
		Academic_Year_ID INT,
		Academic_Year_Name VARCHAR(10)
	)


	INSERT INTO @tblreport
	SELECT Academic_Year_ID,
		   CAST(YEAR(start_date) as nvarchar(4))+'-'+  CAST(right(YEAR(End_Date),2) as NVARCHAR(4))
	  FROM SchoolWise_Academic_Year_Master
	 WHERE School_Id = @School_Id
	   AND Is_Deleted = 'N'
	   AND Is_NewlyCreated = 'N'
  ORDER BY Academic_Year_ID DESC

  DECLARE @CautionMoneyNonRefundAmount  INT = 0
  IF @School_Id = 11
  BEGIN
		IF EXISTS
		(
			SELECT top 1 1
			FROM YearWise_Student_Details
			WHERE Is_Deleted = 'N'
			AND YearWise_Student_Id = @Student_Id
			AND Is_New_Student = 1
			and Academic_Year_ID >= 14 -- Hardcode is required to allow it from academic year id 14.
		)
		BEGIN
			SET @CautionMoneyNonRefundAmount = 15000
		END
  END
	

	DECLARE @tblStudDetails AS TABLE
	(
		Student_Id INT
	)

	INSERT INTO @tblStudDetails
		 SELECT Student_Id
	       FROM YearWise_Student_Details ys
	 INNER JOIN vw_standard_division vsd
			 ON ys.Standard_Id = vsd.Standard_Id
		    AND ys.Division_id = vsd.Division_Id
		  WHERE (YearWise_Student_Id = @Student_Id or @Student_Id = 0)
			AND Is_Deleted = 'N'
			AND (vsd.Standard_Id = @Standard_Id or @Standard_Id = 0)
			AND (vsd.SchoolWise_Standard_Division_Id = @Division_Id or @Division_Id = 0)
	   GROUP BY Student_Id

	DECLARE @tblFeeDetails  AS TABLE
	(
		Student_Id INT,
		Academic_Year_Name NVARCHAR(100),
		Academic_Year_ID INT,
		Amount INT,
		LateFeeAmount INT		
	)
	
	INSERT INTO @tblFeeDetails
	SELECT YearWise_Student_Id, Academic_Year_Name,Academic_Year_ID, SUM(amount), SUM(LateFeeAmt)
	FROM
	(
       SELECT YSD.YearWise_Student_Id, TMP.Academic_Year_Name,TMP.Academic_Year_ID,
	   CASE WHEN SSFD.Is_Late_Fee = 'Y' THEN 0 ELSE SSFD.Amount END AS Amount,
       CASE WHEN SSFD.Is_Late_Fee = 'Y' THEN SSFD.Amount 
	   ELSE ISNULL(dbo.udf_GetLateFeeAmt( SSFD.Std_FeeType_Id, SSFD.Paid_Date, dbo.GetLocalDate(DEFAULT) ),0)END AS LateFeeAmt		  
		FROM Schoolwise_Student_Fee_Details SSFD
	INNER JOIN YearWise_Student_Details YSD
		    ON SSFD.Student_Id = YSD.YearWise_Student_Id
	INNER JOIN @tblreport TMP
			ON SSFD.Academic_Year_Id = TMP.Academic_Year_ID
	INNER JOIN @tblStudDetails STUD		
			ON (ysd.Student_Id = stud.Student_Id)
LEFT OUTER JOIN
		(
			SELECT Student_Fee_Id
			  FROM Schoolwise_Student_Fee_Details SSFD
		INNER JOIN YearWise_Student_Details YSD
				ON SSFD.Student_Id = YSD.YearWise_Student_Id
		INNER JOIN @tblStudDetails TSD
				ON YSD.Student_Id = TSD.Student_Id
		INNER JOIN @tblreport TMP
				ON SSFD.Academic_Year_Id = TMP.Academic_Year_ID
			 WHERE SSFD.School_Id = @School_Id
			   AND [Debit/Credit] = 'Credit'
			   AND SSFD.Is_Deleted = 'N'
			   AND Student_Fee_Id <> 0
			   AND Student_Fee_Id IS NOT NULL
		)ss
		on SSFD.Schoolwise_Student_Fee_Id = ss.Student_Fee_Id
	 WHERE SSFD.School_Id = @School_Id
	   AND [Debit/Credit] = 'Debit'
       AND SSFD.Is_Deleted = 'N'
	   AND ss.Student_Fee_Id IS NULL
	   AND ssfd.Paid_Date <= dbo.GetLocalDate(default)
	)S
  GROUP BY YearWise_Student_Id, Academic_Year_Name, Academic_Year_ID
    HAVING (SUM(amount) + Sum(LateFeeAmt)) > 0

	DECLARE @TotalPendingAmount INT = 0
	SELECT @TotalPendingAmount = SUM(Amount+LateFeeAmount)
	FROM @tblFeeDetails
	
	DECLARE @LeavingCertificateAmount INT

	SELECT @LeavingCertificateAmount = Value
	  FROM SchoolSettings
	 WHERE Name = 'AdmissionCancellationFormFee'
	   AND SchoolId = @School_Id
	   AND AcademicYearId = @Academic_Year_Id
	   AND IsDeleted = 0

		SELECT VBSD.SchoolWise_Student_Id
			  ,TFD.Academic_Year_ID
			  ,TFD.Academic_Year_Name
			  ,TFD.Amount 
			  ,TFD.LateFeeAmount
			  ,(TFD.Amount + TFD.LateFeeAmount) as Total
			  ,ISNULL(@TotalPendingAmount,0) as TotalPendingAmount
			  ,STUD.ClassName
			  ,StudentName
			  ,'Mrs.' +Mother_Name as Mother_Name
			  ,'Mr. '+Parent_Name as Parent_Name
			  ,SCMD.Amount as CautionMoneyAmount
			  ,@LeavingCertificateAmount as LeavingCertificateAmount
			  ,STUD.Original_Standard_Id
			  ,STUD.Original_Division_Id
			  ,STUD.Roll_No
			  ,STUD.Standard_Name
			  ,STUD.Division_Name
			  ,@CautionMoneyNonRefundAmount AS CautionMoneyNonRefundAmount
		 FROM vw_BaseStudentDetails VBSD
   INNER JOIN YearWise_Student_Details YSD
		   ON VBSD.SchoolWise_Student_Id = YSD.Student_Id
   LEFT OUTER JOIN @tblFeeDetails TFD
		   ON YSD.YearWise_Student_Id = TFD.Student_Id
   --INNER JOIN vw_standard_division VSD
		 --  ON VSD.Division_Id = YSD.Division_id
		 -- AND VSD.Standard_Id = YSD.Standard_Id
   INNER JOIN Student_Caution_Money_Details SCMD
		   ON VBSD.SchoolWise_Student_Id = SCMD.Schoolwise_Student_Id
	INNER JOIN
	(
		SELECT YSD.Student_Id, YSD.Roll_No, VSD.Original_Standard_Id, VSD.Original_Division_Id, VSD.className, vsd.Standard_Name, vsd.Division_Name
		FROM YearWise_Student_Details YSD
		INNER JOIN vw_standard_division VSD
		ON YSD.Standard_Id = VSD.Standard_Id
		AND YSD.Division_id = VSD.Division_Id
		WHERE YSD.Is_Deleted = 'N'
		AND YSD.YearWise_Student_Id = @Student_Id
	)STUD
	ON VBSD.SchoolWise_Student_Id = STUD.Student_Id
		WHERE VBSD.Is_Deleted = 'N'
		  --AND YSD.Is_Deleted = 'N'
		  AND SCMD.Is_Deleted = 0
		  and ((@TotalPendingAmount IS NULL AND YSD.Academic_Year_Id = @Academic_Year_Id) OR (@TotalPendingAmount IS NOT NULL AND TFD.Amount is not null))
		  AND ((@TypeId = 1 AND (SCMD.Amount - ISNULL(@TotalPendingAmount,0) - ISNULL(@LeavingCertificateAmount,0) > 0)) OR
		  (@TypeId = 2 AND ((SCMD.Amount - ISNULL(@TotalPendingAmount,0) - ISNULL(@LeavingCertificateAmount,0))*-1) > 0))
END