/****** Object:  StoredProcedure [dbo].[usp_PendingFeeStudentList]    Script Date: 8/25/2025 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---- =============================================              
---- Author:  MILIND              
---- Start date: 2 May 2009              
---- END date  :  ?              
---- Description: This store procedure is used to show students list whose due date is passed.              
---- Modified By Date  Description            
---- Rohini    8 Nov 2012 Can search by percentage.            
---- =============================================              
ALTER PROCEDURE [dbo].[usp_PendingFeeStudentList]              
 -- Add the parameters for the stored procedure here              
 @iSchoolId int  ,                  
 @AcadmicYearId int,                  
 @Due_Date DATETIME,                  
 @sFilterRegAndName nvarchar(500)=N'',                  
 @sStdDivFilter nvarchar(500)=N'',                   
 @sAmountFilter nvarchar(500),                  
 @FeeTypeId INT,                  
 @IsIgnorePDCStudent  NVARCHAR(10) = N'N',                  
 @sortExp nvarchar(500)=N'Std_Div_ID',                
 @StartIndex int,                  
 @PercentFilter nvarchar(30)=N'',                
 @PazeSize int      ,            
 @Oprater NVARCHAR(3),
 @PayableFor NVARCHAR(100)
 AS                  
 BEGIN                    
 SET NOCOUNT ON;                
  IF @sFilterRegAndName is null                 
 SET @sFilterRegAndName=N''        
 
	 DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	CREATE TABLE #tblFeePayables
	(
		PayableFor NVARCHAR(100)
	)

	insert into #tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@iSchoolId,@AcadmicYearId)

	IF exists(select top 1 1 from #tblFeePayables)
	BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
	END


 --IF(@Due_Date IS NOT NULL)      
	--SET @Due_Date = @Due_Date+1

	CREATE TABLE #tblStdFeeTypes
	(
		StdFeeTypeId INT,
		Original_Fee_Type_Id INT
	)

	DECLARE @FeeTypeTable NVARCHAR(1000) = ''

	IF @FeeTypeId > 0
	BEGIN	
	
	SELECT @FeeTypeId = SWFTC.Original_Fee_Type_Id
      FROM Schoolwise_Standard_FeeType_Master SWSFTM
INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
	   AND SWSFTM.School_Id = SWFTC.School_Id
	   AND SWSFTM.academic_Year_Id = SWFTC.Academic_Year_Id
	 WHERE SWSFTM.School_Id = @iSchoolId
	   AND SWSFTM.academic_Year_Id = @AcadmicYearId
	   AND SWSFTM.SchoolWise_Standard_FeeType_Id = @FeeTypeId
	   AND SWSFTM.Is_Deleted = 'N'
	   AND SWFTC.Is_Deleted = 'N'
	 
		
		INSERT INTO #tblStdFeeTypes
		select SSFM.SchoolWise_Standard_FeeType_Id,Original_Fee_Type_Id
		from Schoolwise_Standard_FeeType_Master SSFM
		INNER JOIN Schoolwise_Fee_Type_Configuration SFTM
		ON SSFM.Fee_Type_Id = SFTM.Fee_Type_Id
		where SSFM.School_Id = @iSchoolId
		and SSFM.academic_Year_Id = @AcadmicYearId
		and SSFM.Is_Deleted = 'N'
		and SFTM.Is_Deleted = 'N'
		AND SFTM.Original_Fee_Type_Id = @FeeTypeId

		--AND SSFM.SchoolWise_Standard_FeeType_Id = @FeeTypeId
	
		SET @FeeTypeTable = ' INNER JOIN #tblStdFeeTypes SFT ON vw_Student_Debit_Details.Std_FeeType_Id = SFT.StdFeeTypeId'
	END

    CREATE TABLE #TemptblFeeDetails              
      (              
       Schoolwise_Student_Fee_Id INT,              
       Payable_For NVARCHAR(200) ,              
       Amount INT ,              
       Paid_Date DATETIME ,               
       Fee_Type NVARCHAR(50) ,              
       Amount_Paid INT,              
       [D/C] NVARCHAR(10),              
       Serial_Number INT ,              
       Is_Cheque_Bounce NVARCHAR(1),              
       Std_Fee_Type_Id INT,              
       Late_Fee_Amt INT,              
       Is_Concession NVARCHAR(1),              
       Student_Id int,              
       School_Id int,              
       Academic_Year_ID int,              
       Std_Div_ID int ,            
       Percentage INT,            
       FeesApplicable INT              
      )              
   DECLARE @filter NVARCHAR(200), @FilterPercentage nvarchar(200)  

   IF @FeeTypeId=0              
   SET @filter= N''              
   ELSE IF @FeeTypeId= -1              
	SET @filter= N' AND (vw_Student_Debit_Details.Std_FeeType_Id='+CAST (@FeeTypeId as NVARCHAR(200))+N' OR vw_Student_Debit_Details.Std_FeeType_Id IS NULL OR vw_Student_Debit_Details.Std_FeeType_Id=0)'              
   ELSE              
	SET @filter= N' AND (SFT.Original_Fee_Type_Id='+CAST (@FeeTypeId as NVARCHAR(200)) +') '  

	IF @PayableFor != '-- All --'
	       SET @filter=  @filter + ' AND vw_Student_Debit_Details.Payable_For='''+@PayableFor+''''

  IF @PercentFilter<>'' AND @PercentFilter IS NOT NULL                
  BEGIN                
   SET @FilterPercentage=  N'AND TemptblFeeDetails.Percentage'+@Oprater+CAST(@PercentFilter as nvarchar(50))+N' AND TemptblFeeDetails.Percentage>0'                
         SET @sAmountFilter=N''                
  END                
              --select @filter
  --  IF @sStdDivFilter<> '' AND @sStdDivFilter IS NOT NULL                
  --SET @sStdDivFilter='AND '+@sStdDivFilter                
 
    IF @sAmountFilter<> N'' AND @sAmountFilter <>0               
  begin            
  SET @sAmountFilter=N'AND Amount'+@Oprater+@sAmountFilter                
  SET @FilterPercentage=''            
  end            
    ELSE            
  SET @sAmountFilter=N'AND Amount>0'            
     --select @sAmountFilter            
     IF @sortExp=N''            
  SET @sortExp= N'Std_Div_ID'            
  SET @sortExp=N'Order By '+@sortExp              
 
   IF @IsIgnorePDCStudent = N'N'              
    BEGIN              
          
  DECLARE @Insertsql1 NVARCHAR(4000)              
   SET @Insertsql1 = N'SELECT Schoolwise_Student_Fee_Id,   
       Payable_For,   
       Amount,   
       Paid_Date,   
       Fee_Type, ISNULL    
       ((SELECT     Amount    
       FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d    
       WHERE     (Student_Fee_Id = vw_Student_Debit_Details.Schoolwise_Student_Fee_Id)    
       --UNION    
       --SELECT     Amount    
       --FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d    
       --WHERE     (Receipt_Number = vw_Student_Debit_Details.Receipt_Number)    
       -- AND (Is_Concession_Fee = vw_Student_Debit_Details.Is_Concession_Fee) AND (Student_Fee_Id IS NULL)
        
        ), 0) AS Amount_Paid,     
        [Debit/Credit] AS Debit    
        , Serial_Number  
        , Is_Cheque_Bounce  
        , Std_FeeType_Id    
       -- , dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''') AS LateFeeAmt,   


	   ,CASE WHEN '+cast(@AllowLateFeeAtQuarterLevel as nvarchar(10))+' = 1 THEN 
			CASE WHEN Payable_For IN (select PayableFor from #tblFeePayables) THEN dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''')
			ELSE 0 
			END 
		ELSE
			dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''')	
		END AS LateFeeAmt,

        Is_Concession_Fee  
        , Student_Id  
        ,School_Id  
        ,Academic_Year_ID  
        ,Standard_Div_Id  ,  
        0 as Percentage,            
        0 AS FeesApplicable   
        FROM    vw_Student_Debit_Details    '+@FeeTypeTable+'
        WHERE     ((Student_Fee_Id = 0) OR    
               (Student_Fee_Id IS NULL)) AND Paid_Date <= '''+CAST(@Due_Date as NVARCHAR(20))+''' AND [Debit/Credit] = ''Debit'' AND School_Id ='+CAST(@iSchoolId as NVARCHAR(6))+'      
            AND Academic_Year_ID ='+CAST(@AcadmicYearId as NVARCHAR(6))+' '+CAST (@filter as NVARCHAR(250))            
   --Insert fee details into temp. table and also get late fee amount against given date.              
  
  PRINT @Insertsql1              
        INSERT INTO #TemptblFeeDetails                      
  EXEC sp_executesql @Insertsql1                  
   END              
  ELSE              
    BEGIN   	

 DECLARE @Insertsql2 NVARCHAR(4000)    
   SET @Insertsql2 =N'SELECT Schoolwise_Student_Fee_Id,   
       Payable_For,   
       Amount,   
       Paid_Date,   
       Fee_Type, ISNULL    
       ((SELECT     Amount    
       FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d    
       WHERE     (Student_Fee_Id = vw_Student_Debit_Details.Schoolwise_Student_Fee_Id)    
       --UNION    
       --SELECT     Amount    
       --FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d    
       --WHERE     (Receipt_Number = vw_Student_Debit_Details.Receipt_Number)    
       -- AND (Is_Concession_Fee = vw_Student_Debit_Details.Is_Concession_Fee) AND (Student_Fee_Id IS NULL)
        
        ), 0) AS Amount_Paid,     
        [Debit/Credit] AS Debit    
        , Serial_Number  
        , Is_Cheque_Bounce  
        , Std_FeeType_Id    
        --, dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''') AS LateFeeAmt,   

		, CASE WHEN '+cast(@AllowLateFeeAtQuarterLevel as nvarchar(10))+' = 1 THEN 
			CASE WHEN Payable_For IN (select PayableFor from #tblFeePayables) THEN dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''')
			ELSE 0 
			END 
		ELSE
			dbo.UDF_GetLateFeeAmt(Std_FeeType_Id, Paid_Date,'''+ CAST(@Due_Date as NVARCHAR(20))+''')	
		END AS LateFeeAmt,

        Is_Concession_Fee  
        , Student_Id  
        ,School_Id  
        ,Academic_Year_ID  
        ,Standard_Div_Id  ,  
        0 as Percentage,            
        0 AS FeesApplicable   
        FROM    vw_Student_Debit_Details    '+@FeeTypeTable+'
        WHERE     ((Student_Fee_Id = 0) OR    
               (Student_Fee_Id IS NULL)) AND Paid_Date <= '''+CAST(@Due_Date as NVARCHAR(20))+''' AND [Debit/Credit] = ''Debit'' AND School_Id ='+CAST(@iSchoolId as NVARCHAR(6))+'      
            AND Academic_Year_ID ='+CAST(@AcadmicYearId as NVARCHAR(6))+' '+CAST (@filter as NVARCHAR(250))+ '    
            AND Student_Id NOT IN (SELECT     Schoolwise_Student_PostDatedCheques.Student_Id    
        FROM  Schoolwise_Student_PostDatedCheques 
        INNER JOIN  YearWise_Student_Details ON Schoolwise_Student_PostDatedCheques.Student_Id = YearWise_Student_Details.YearWise_Student_Id 
        INNER JOIN  SchoolWise_Student_Master ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id    
        WHERE (Schoolwise_Student_PostDatedCheques.Is_PDC = N''Y'') 
		  AND (Schoolwise_Student_PostDatedCheques.Is_Deleted = N''N'') 
		  AND Schoolwise_Student_PostDatedCheques.Is_Cheque_Bounce = N''N''    
          AND Schoolwise_Student_PostDatedCheques.Student_Id NOT IN     
                 (SELECT Schoolwise_Student_PostDatedCheques.Student_Id    
                    FROM Schoolwise_Student_Fee_Details 
                   INNER JOIN   Student_Fee_PDC_Details INNER JOIN    
                     Schoolwise_Student_PostDatedCheques ON Student_Fee_PDC_Details.PDC_Id = Schoolwise_Student_PostDatedCheques.PostDated_Cheque_Id ON     
                     Schoolwise_Student_Fee_Details.Schoolwise_Student_Fee_Id = Student_Fee_PDC_Details.Schoolwise_Student_Fee_Id    
                  WHERE     (Schoolwise_Student_PostDatedCheques.Is_PDC = N''Y'') AND (Student_Fee_PDC_Details.Is_Deleted = N''N'') AND     
                     (Schoolwise_Student_PostDatedCheques.Is_Deleted = N''N'') 
                     AND (Schoolwise_Student_Fee_Details.Is_Deleted = N''N'') 
                     AND (Schoolwise_Student_PostDatedCheques.Is_Cheque_Bounce = N''N'')))'    

   PRINT @Insertsql2    
   INSERT INTO #TemptblFeeDetails    
   EXEC sp_executesql @Insertsql2    
    END               

     --select * from #TemptblFeeDetails
	 
	  IF(@iSchoolId = 11 AND @AcadmicYearId = 8) -- IF School Is PPSH And Academic YEar is 2019-20.
		BEGIN
			DELETE FROM #TemptblFeeDetails
			      WHERE Fee_Type NOT IN ('Tuition Fees','Laboratory Fees & Other Fees','Term Fees')
		END
			    
   --------------------------------Rohini----------------------------------------------                
   ---Calculate percentage of unpaid fee            
  CREATE TABLE #tblTotalAmount             
   (                
   amount FLOAT,                
   StudId INT,                
   SdtDivId INT                
   )                    
               
   DECLARE @tblPaidAmount TABLE                
  (                
   amount FLOAT,                
   StudId INT,                
   SdtDivId INT                
  )             
 DECLARE @sQueryPaidFee nvarchar(MAX), @sQueryTotalFee nvarchar(MAX), @sFilterFeeId nvarchar(500)=''            
             
  IF @FeeTypeId=N'-1'            
  SET @sFilterFeeId=N' AND (Std_FeeType_Id is null OR Is_Late_Fee=N''Y'')'            
  ELSE             
 IF @FeeTypeId<>0        
  SET @sFilterFeeId=N'AND Std_FeeType_Id='+CAST (@FeeTypeId as nvarchar(10))           

  SET @sQueryTotalFee=N' SELECT SUM(Amount) Amount,Student_Id,Standard_Div_Id                 
       FROM Schoolwise_Student_Fee_Details SSFD                 
         WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+'            
        AND [Debit/Credit]=N''debit'' 
        AND Is_Cheque_Bounce=N''N''                 
        AND Is_Deleted=N''N''                
        AND Paid_Date<='''+CAST(@Due_Date as nvarchar(20))+''''+ @sFilterFeeId+'                   
         GROUP BY Student_Id,Standard_Div_Id '            
   
  --       SET @sQueryPaidFee=N' SELECT SUM(Amount)Amount,                
  --       Student_Id,                
  --       Standard_Div_Id                 
  --     FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)                
  --    WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
  --      AND [Debit/Credit]=N''Credit''                
  --      AND Is_Deleted=N''N''                   
  --      AND Is_Cheque_Bounce=N''N''  
  --    GROUP BY Student_Id,Standard_Div_Id            
  --   UNION                
  --    SELECT 0 as Amount,                
  --        SSFD.Student_Id,                
  --        SSFD.Standard_Div_Id                 
  --      FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
  --      LEFT OUTER JOIN Schoolwise_Student_Fee_Details SSFD1 WITH(NOLOCK)
  --      ON SSFD.Student_Id = SSFD1.Student_Id
  --      AND SSFD1.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'
  --      AND SSFD1.[Debit/Credit]=''Credit''
  --      AND SSFD1.Is_Cheque_Bounce=N''N'' 		                
		--AND SSFD1.Is_Deleted=N''N''  
  --     WHERE SSFD.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+ @sFilterFeeId+'                  
		--	   AND SSFD.Is_Cheque_Bounce=N''N''              
  --             AND SSFD.[Debit/Credit]=N''debit''            
  --             AND SSFD.Is_Deleted=N''N''            
  --             AND SSFD.Paid_Date<'''+CAST(@Due_Date as nvarchar(20))+'''               
  --             AND SSFD1.Student_Id IS NULL                          
  --     GROUP BY SSFD.Student_Id,SSFD.Standard_Div_Id'    
  
  
  SET @sQueryPaidFee=N' SELECT SUM(Amount)Amount,                
         Student_Id,                
         Standard_Div_Id                 
       FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)                
      WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
        AND [Debit/Credit]=N''Credit''                
        AND Is_Deleted=N''N''                   
        AND Is_Cheque_Bounce=N''N''  
      GROUP BY Student_Id,Standard_Div_Id            
     UNION                
      SELECT 0 as Amount,                
          SSFD.Student_Id,                
          SSFD.Standard_Div_Id                 
        FROM 
        (
		  SELECT DISTINCT 0 as Amount,                
				 Student_Id,                
				 Standard_Div_Id     
		   FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
		   WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'                 
			   AND Is_Cheque_Bounce=N''N''              
               AND [Debit/Credit]=N''debit''            
               AND Is_Deleted=N''N''
               AND Paid_Date<='''+CAST(@Due_Date as nvarchar(20))+'''
        )SSFD
        LEFT OUTER JOIN 
        (
			SELECT DISTINCT Student_Id
			FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)             
			WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'  
			AND [Debit/Credit]=''Credit''
			AND Is_Cheque_Bounce=N''N'' 		                
			AND Is_Deleted=N''N''  
		)S
		ON SSFD.Student_Id = S.Student_Id
        WHERE S.Student_Id IS NULL' 
 
  
  print 315
  --SET @sQueryPaidFee=N' SELECT SUM(Amount)Amount,                
  --       Student_Id,                
  --       Standard_Div_Id                 
  --     FROM Schoolwise_Student_Fee_Details SSFD                 
  --    WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
  --      AND [Debit/Credit]=N''Credit''                
  --      AND Is_Deleted=N''N''                   
  --      AND Is_Cheque_Bounce=N''N''  
  --    GROUP BY Student_Id,Standard_Div_Id            
  --   UNION                
  --    SELECT 0 as Amount,                
  --        Student_Id,                
  --        Standard_Div_Id                 
  --      FROM Schoolwise_Student_Fee_Details SSFD                 
  --     WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+ @sFilterFeeId+'               
  --        AND Student_Id NOT IN 
  --        (  
		--	  SELECT    
		--		Student_Id                 
		--		 FROM Schoolwise_Student_Fee_Details SSFD                 
		--		WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
		--	   AND [Debit/Credit]=''Credit''
		--	   and Is_Cheque_Bounce=N''N'' 		                
		--	   AND Is_Deleted=N''N''                    
  --        )                    
		--	   AND Is_Cheque_Bounce=N''N''              
  --             AND [Debit/Credit]=N''debit''            
  --             AND Is_Deleted=N''N''            
  --             AND Paid_Date<'''+CAST(@Due_Date as nvarchar(20))+''' 
                          
  --     GROUP BY Student_Id,Standard_Div_Id '                   
                    
 --    AND Student_Id NOT IN ( SELECT Student_Id                    
              --FROM #tblTotalAmount )      
  INSERT INTO #tblTotalAmount                
  EXEC sp_executesql @sQueryTotalFee            
      print'-------'    
      print @sQueryPaidFee    
 print'-------'    
  INSERT INTO @tblPaidAmount                
  EXEC sp_executesql @sQueryPaidFee                 
    PRINT 361          
   --select * from  @tblPaidAmount where StudId=6830
   --select * from  #tblTotalAmount where StudId=6830       
       --SELECT               
--     CASE WHEN ROUND(t1.amount/t2.amount*100,0)=100 THEN 0 ELSE 100- ROUND(t1.amount/t2.amount*100,0) end Percentage,                
--     t1.StudId,            
--     t1.SdtDivId,                 
--      t2.amount,
--      t1.amount                  
--     FROM @tblPaidAmount t1                 
--       INNER JOIN #tblTotalAmount t2                
--       ON t1.SdtDivId=t2.SdtDivId                
--AND t1.StudId=t2.StudId
--where t1.StudId=6830

   UPDATE #TemptblFeeDetails                
   SET Percentage=A.Percentage,FeesApplicable=A.amount            
   FROM   #TemptblFeeDetails temp                
   INNER JOIN (SELECT               
     CASE WHEN ROUND(t1.amount/t2.amount*100,0)=100 THEN 0 ELSE 100- ROUND(t1.amount/t2.amount*100,0) end Percentage,                
     t1.StudId,            
     t1.SdtDivId,                 
      t2.amount                  
     FROM @tblPaidAmount t1                 
       INNER JOIN #tblTotalAmount t2                
       ON t1.SdtDivId=t2.SdtDivId                
AND t1.StudId=t2.StudId
WHERE t2.amount <> 0
) as A                
  ON A.StudId=temp.Student_Id                
   AND A.SdtDivId=temp.Std_Div_ID      
         
   --AND a.Percentage>0            
       
 --  SELECT               
 --     ROUND(t1.amount/t2.amount*100,0) Percentage,                
 --    t1.StudId,            
 --    t1.SdtDivId,            
 --    t1.amount,    
 --     t2.amount                  
 --    FROM @tblPaidAmount t1                 
 --      INNER JOIN #tblTotalAmount t2                
 --      ON t1.SdtDivId=t2.SdtDivId                
 -- AND t1.StudId=t2.StudId    
 --and t1.StudId=6268    
   --select * from  #tblTotalAmount where StudId=6268    
   --select * from  @tblPaidAmount where StudId=6268       
   --select * from #TemptblFeeDetails  where Student_Id=6268      
DROP TABLE #tblTotalAmount            
  --------------------------------------------------------------------------------------                
   PRINT 488           
      --IF amount paid is greater than zero then set [D/C] as 'credit' and late fee amount to 0.              
      UPDATE #TemptblFeeDetails              
      SET [D/C] = N'Credit',Late_Fee_Amt=0              
     WHERE Amount_Paid>0              
              
      --Set late fee amount to 0 IF studentfeeid's entry into Schoolwise_Late_Fee_Details table.              
      UPDATE #TemptblFeeDetails              
      SET Late_Fee_Amt=0              
      WHERE Schoolwise_Student_Fee_Id IN(SELECT Student_Fee_Id              
      FROM         Schoolwise_Late_Fee_Details              
      WHERE     (Is_Deleted = N'N') AND Late_Fee_Amt<>0.00 )              
              
      DECLARE @tblStudentFeeDetails AS TABLE
	  (
		Student_Id INT,
		Fee_Type NVARCHAR(100),
		Amount INT
	  )
	
		INSERT INTO @tblStudentFeeDetails		---2nd result set
		select Student_Id, Fee_Type,sum(Amount)
		from #TemptblFeeDetails
		where [D/C] = N'Debit' 
		and Paid_Date <= @Due_Date 
		GROUP BY Student_Id, Fee_Type

      --Set total amount pending.  
		    UPDATE #TemptblFeeDetails SET Amount = A.AMOUNT ,          
            Late_Fee_Amt = A.Late_Fee_Amt              
         FROM #TemptblFeeDetails TemptblFeeDetails3 INNER JOIN              
    (SELECT SUM(TemptblFeeDetails2.Amount)AS AMOUNT, SUM(TemptblFeeDetails2.Late_Fee_Amt)AS Late_Fee_Amt,TemptblFeeDetails2.Student_Id FROM               
                #TemptblFeeDetails TemptblFeeDetails2 WHERE [D/C] = N'Debit' and Paid_Date < @Due_Date              
                GROUP BY TemptblFeeDetails2.Student_Id)A  
			ON A.Student_Id = TemptblFeeDetails3.Student_Id                               

   CREATE TABLE #TemptblPendingFeeStudentList              
     (              
       Enrolment_Number NVARCHAR(50),              
       StudentName NVARCHAR(200) ,              
       Roll_No INT ,              
       Mobile_Number NVARCHAR(11),              
       Class NVARCHAR(50) ,              
       Amount INT,              
       Division_Id INT,              
       Standard_Id INT,                      
       [D/C] NVARCHAR(10),         Late_Fee_Amt INT,              
       Student_Id INT,              
       User_Id INT,              
       SMSName NVARCHAR(200),              
       Std_Div_ID INT,              
       First_Name NVARCHAR(50),              
       TotalAmount INT,              
       SchoolLeft_Date  DATETIME,              
       Percentage INT,        
       FeesApplicable INT,
	   Name NVARCHAR(50)
     )              
   DECLARE @sql NVARCHAR(4000)              
 print 449             
   SET @sql = N'SELECT DISTINCT vw_BaseStudentDetails.Enrolment_Number,            
          vw_BaseStudentDetails.StudentName              
         ,YearWise_Student_Details.Roll_No            
         ,vw_BaseStudentDetails.Mobile_Number              
         ,vwSD.ClassName
         ,Amount        
         ,Division_Master.Division_Id        
         ,Standard_Master.Standard_Id              
         ,TemptblFeeDetails.[D/C]              
         ,TemptblFeeDetails.Late_Fee_Amt              
         ,TemptblFeeDetails.Student_Id,        
         vw_BaseStudentDetails.User_Id              
         ,vw_BaseStudentDetails.StudentFLName +'' ('' + Standard_Master.Standard_Name+ '' -'' + Division_Master.Division_Name +'' - ''+ vw_BaseStudentDetails.Enrolment_Number +'')'' as SMSName               
         ,TemptblFeeDetails.Std_Div_ID,vw_BaseStudentDetails.First_Name            
         ,0            
         ,vw_BaseStudentDetails.SchoolLeft_Date                       
         ,TemptblFeeDetails.Percentage            
         ,case when TemptblFeeDetails.FeesApplicable=0 then Amount else TemptblFeeDetails.FeesApplicable end as FeesApplicable
		 ,ISNULL(RT.Name,'''') AS Name
      FROM  Division_Master             
     INNER JOIN  YearWise_Student_Details             
        ON Division_Master.Division_Id = YearWise_Student_Details.Division_id             
       AND Division_Master.School_Id = YearWise_Student_Details.School_Id             
       AND Division_Master.academic_year_id = YearWise_Student_Details.Academic_Year_ID             
     INNER JOIN Standard_Master         
        ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id             
       AND YearWise_Student_Details.School_Id = Standard_Master.School_Id             
       AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id             
     INNER JOIN #TemptblFeeDetails  TemptblFeeDetails             
        ON YearWise_Student_Details.School_Id = TemptblFeeDetails.School_Id             
       AND YearWise_Student_Details.Academic_Year_ID = TemptblFeeDetails.Academic_Year_Id             
       AND YearWise_Student_Details.YearWise_Student_Id = TemptblFeeDetails.Student_Id             
     INNER JOIN vw_BaseStudentDetails              
        ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id             
       AND YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id 
	  INNER JOIN vw_Standard_Division vwSD
	  ON vwSD.Standard_Id = YearWise_Student_Details.Standard_Id
	  AND vwSD.Division_Id = YearWise_Student_Details.Division_id
	  AND vwSD.Academic_Year_Id = YearWise_Student_Details.Academic_Year_ID  
	  AND vwSD.School_Id = YearWise_Student_Details.School_Id
	INNER JOIN StudentAdditionalDetails SAD
	   ON SAD.SchoolwiseStudentId = vw_BaseStudentDetails.SchoolWise_Student_Id
	LEFT OUTER JOIN ResidenceTypes RT
	   ON RT.ResidenceTypeId = SAD.ResidenceTypeId  
	   AND (RT.Is_Deleted = N''N'')
     WHERE (vw_BaseStudentDetails.Is_Deleted = N''N'')             
       AND (YearWise_Student_Details.Is_Deleted = N''N'')             
       AND (Standard_Master.Is_Deleted = N''N'')             
       AND (Division_Master.Is_Deleted = N''N'')             
       AND (TemptblFeeDetails.[D/C] = N''Debit'')
	   AND (YearWise_Student_Details.Is_RTE_Student<>1)
	   AND SAD.IsDeleted = 0	   
       AND  TemptblFeeDetails.Academic_Year_Id ='+ CAST(@AcadmicYearId  AS NVARCHAR(80))+ ' and TemptblFeeDetails.School_Id='+ CAST(@iSchoolId  AS NVARCHAR(80)) +              
     ' AND ((vw_BaseStudentDetails.StudentFMLName LIKE ''%''+N''' + CAST(@sFilterRegAndName  AS NVARCHAR(80))  +'''+''%'') OR (vw_BaseStudentDetails.Enrolment_Number LIKE ''%''+''' + CAST(@sFilterRegAndName  AS NVARCHAR(80)) + '''+''%''))'               
 
       + CAST(@sStdDivFilter  AS NVARCHAR(500))+ ' AND TemptblFeeDetails.Std_Div_ID IS NOT NULL              
       '+ISNULL(@FilterPercentage,'')+'            
       ORDER BY TemptblFeeDetails.Student_Id'               
   PRINT @Sql   
        
   --Insert fee details and student details according to provided filter(@sFilterRegAndName,@sStdDivFilter)               
   --into temp table so we can get payble for each student                 
   INSERT INTO #TemptblPendingFeeStudentList              
     EXEC sp_executesql @Sql      
	         
                 
    DECLARE @TotalAmount  AS TABLE               
    (              
    TotalAmount INT              
    )              
   DECLARE @UpdateSql NVARCHAR(200)              
             
  SET @UpdateSql= N'SELECT SUM(Amount) + SUM(Late_Fee_Amt)               
      FROM  #TemptblPendingFeeStudentList              
     WHERE Amount > 0'+ CAST(@sAmountFilter AS NVARCHAR(35))          
              
                 
  PRINT @UpdateSql               
  INSERT INTO @TotalAmount  EXEC sp_executesql @UpdateSql               
  UPDATE  #TemptblPendingFeeStudentList              
  SET TotalAmount=tblTotalAmount.TotalAmount              
  FROM @TotalAmount as tblTotalAmount                           
              
 print 518             
   DECLARE @Sql1 NVARCHAR(4000)                
   IF(@PazeSize > 0)              
   BEGIN              
    IF(@sortExp <>'')              
    BEGIN              
                   
     IF @FeeTypeId<>0              
     SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) +')) * from              
    (              
     SELECT               
     RowID=ROW_NUMBER() OVER ('+ @sortExp +'),               
     TotalRows=Count(*) OVER()              
     ,  * ,[dbo].[Udf_GetFilteredPayable_For_Student](Student_Id, ''' + CAST(@Due_Date AS NVARCHAR(200)) + ''','+CAST(@FeeTypeId AS NVARCHAR(200))+             
     ','''',0) as PaybleFor FROM #TemptblPendingFeeStudentList WHERE Amount > 0'+ CAST(@sAmountFilter AS NVARCHAR(35)) +'                      
    ) A              
    WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15))+ ' '+ CAST(@sAmountFilter AS NVARCHAR(35))+N' And Amount > 0 '               
     ELSE              
     SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) +N')) * from              
    (              
     Select               
     RowID=ROW_NUMBER() OVER ('+ @sortExp +'),               
     TotalRows=Count(*) OVER()              
     ,  * ,[dbo].[Udf_GetPayable_For_Student](Student_Id, ''' + CAST(@Due_Date AS NVARCHAR(200)) + ''') as PaybleFor 
     FROM #TemptblPendingFeeStudentList               
     WHERE Amount > 0 '+ CAST(@sAmountFilter AS NVARCHAR(35))+'              
                
    ) A              
    WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15))                         
    END              
    ELSE              
    BEGIN             
     SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) + N')) * FROM              
    (              
     SELECT               
     RowID=ROW_NUMBER() OVER (ORDER BY Student_Id),               
     TotalRows=Count(*) OVER()              
     ,  *  FROM #TemptblPendingFeeStudentList WHERE Amount > 0 '+ CAST(@sAmountFilter AS NVARCHAR(35))+'              
                
    ) A              
    WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15))+ ' '                
    END              
   END              
   ELSE               
    BEGIN              
     SET @Sql1 =N'SELECT Student_Id,User_Id,SMSName FROM #TemptblPendingFeeStudentList WHERE  Amount > 0 ' +CAST(@sAmountFilter AS NVARCHAR(35))+ N' ORDER BY User_Id'+ ' '               
    END  

    print '----lst--'            
   PRINT @Sql1              
     EXEC sp_executesql @Sql1              

	select s1.Student_Id, s1.Fee_Type, s1.Amount
	from @tblStudentFeeDetails s1
	inner join #TemptblPendingFeeStudentList s2
	on s1.Student_Id = s2.Student_Id	
	order by s1.Student_Id
		
	select 'Tuition fees'  as FeeType, 1 as SortOrder union
	select 'Term Fees' as FeeType, 2 as SortOrder
	from @tblStudentFeeDetails
	   

	 SELECT YSD.YearWise_Student_Id, SM.TransportShiftName
	   FROM Transport.TravelerTransportDetails TTD
		INNER JOIN vw_BaseStudentDetails BSD ON TTD.UserId = BSD.User_Id 
		INNER JOIN YearWise_Student_Details YSD ON YSD.Student_Id = BSD.SchoolWise_Student_Id 
		AND YSD.Academic_Year_ID = TTD.AcademicYearId
		INNER JOIN Transport.RouteShiftTimingDetails RSTD ON RSTD.RouteTimingDetailsId = TTD.RouteTimingDetailsId
		INNER JOIN Transport.RouteShiftVehicleDetails RSVD ON RSVD.RouteShiftVehicleDetailsId = RSTD.RouteShiftVehicleDetailsId
		INNER JOIN Transport.ShiftMaster SM ON SM.TransportShiftId = RSVD.TransportShiftId  
		INNER JOIN #TemptblPendingFeeStudentList S ON S.Student_Id = YSD.YearWise_Student_Id
		WHERE 
			TTD.Is_Deleted = 0
			AND BSD.Is_Deleted = 'N'
			AND RSTD.Is_Deleted = 0
			AND RSVD.Is_Deleted = 0    
			AND SM.Is_Deleted = 0
			AND YSD.School_Id = @iSchoolId
			AND YSD.Academic_Year_ID = @AcadmicYearId
			AND TTD.TravelerTypeId = 1


   drop table #tblFeePayables
   DROP TABLE #TemptblFeeDetails              
   DROP TABLE #TemptblPendingFeeStudentList  
   DROP TABLE #tblStdFeeTypes            
 END

 --go
 --exec usp_PendingFeeStudentList @iSchoolId=122,@AcadmicYearId=11,@Due_Date='2025-06-23 00:00:00',@sFilterRegAndName=N'',@sStdDivFilter=N'and SchoolLeft_Date IS NULL and Standard_Master.Standard_Id=1182',@sAmountFilter=N'0',@FeeTypeId=0,@IsIgnorePDCStudent='Y',@sortExp=N'Std_Div_ID',@StartIndex=0,@PazeSize=3000,@Oprater=N'--Select--',@PayableFor=N'-- All --'
 --go
GO
