/****** Object:  UserDefinedFunction [dbo].[Udf_GetPayable_For_Student]    Script Date: 8/25/2025 11:31:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- =============================================
---- Author:		MILIND
---- date:	5 May 2009
---- Description:	This function is used to return student payble_for seperated by ','
---- of fee type(s) which is(are) pending.
---- =============================================
ALTER FUNCTION [dbo].[Udf_GetPayable_For_Student]
(@studID int, 
 @Due_Date datetime
 )
RETURNS VARCHAR(2000)
 AS  
BEGIN 
			DECLARE @TemptblFeeDetails  AS TABLE
			(
				Schoolwise_Student_Fee_Id INT,
				Payable_For NVARCHAR(200) ,
				Paid_Date DATETIME ,
				Amount_Paid INT ,
				[D/C] NVARCHAR(10),				
				Std_Fee_Type_Id INT,				
				Student_Id int
			)			
			
			--Insert fee details into temp. table and also get late fee amount against given date.
			INSERT INTO @TemptblFeeDetails		
			SELECT Schoolwise_Student_Fee_Id,
				   Payable_For,Paid_Date,
				   ISNULL((
						   SELECT vw_Student_Debit_Details_d.Amount
							 FROM vw_Student_Debit_Details AS vw_Student_Debit_Details_d WITH(NOLOCK)
					   INNER JOIN vw_Student_Debit_Details a WITH(NOLOCK)
								ON a.Schoolwise_Student_Fee_Id = vw_Student_Debit_Details_d.Student_Fee_Id	
							   AND A.Academic_Year_Id = vw_Student_Debit_Details_d.Academic_Year_Id							   
						    WHERE vw_Student_Debit_Details_d.Student_Fee_Id = vw_Student_Debit_Details.Schoolwise_Student_Fee_Id						  
						    
						UNION
							SELECT vw_Student_Debit_Details_d.Amount
							  FROM vw_Student_Debit_Details AS vw_Student_Debit_Details_d WITH(NOLOCK)
					    INNER JOIN vw_Student_Debit_Details a WITH(NOLOCK)
								ON a.Schoolwise_Student_Fee_Id = vw_Student_Debit_Details_d.Student_Fee_Id
							   AND a.Receipt_Number = vw_Student_Debit_Details_d.Receipt_Number									 	
						     WHERE vw_Student_Debit_Details_d.Receipt_Number = vw_Student_Debit_Details.Receipt_Number  							     						   
							   AND vw_Student_Debit_Details_d.Is_Concession_Fee = vw_Student_Debit_Details.Is_Concession_Fee   							   
							   AND vw_Student_Debit_Details_d.Student_Fee_Id IS NULL
							   ), 0)							   							   
				   AS Amount_Paid, 
				  [Debit/Credit] AS Debit, 
				  Std_FeeType_Id,Student_Id
			 FROM vw_Student_Debit_Details WITH(NOLOCK)
			WHERE (Student_Fee_Id = 0 OR Student_Fee_Id IS NULL) 
			  AND Paid_Date <= @Due_Date  
			  and Student_Id = @studID
			
			--if amount paid is greater than zero then set [D/C] as 'credit' and late fee amount to 0.
			UPDATE @TemptblFeeDetails
			SET [D/C] = 'Credit'
			WHERE Amount_Paid>0

DECLARE @SchoolId INT,
        @AcademicYearId INT

		SELECT @SchoolId = School_Id,
		       @AcademicYearId = Academic_Year_ID
		  FROM YearWise_Student_Details 
		 WHERE YearWise_Student_Id = @studID

		 IF(@SchoolId = 11 AND @AcademicYearId = 8) -- IF School Is PPSH And Academic YEar is 2019-20
			BEGIN
				DELETE FROM @TemptblFeeDetails
				      WHERE Payable_For LIKE '%Bounced Ch%'
			END

			DECLARE @PayableFor VARCHAR(700)

			SELECT  @PayableFor =  COALESCE(@PayableFor + ', ' , '') + Payable_For
						FROM    @TemptblFeeDetails  WHERE [D/C] = 'Debit' 						
						ORDER BY Schoolwise_Student_Fee_Id
								

return  @PayableFor



END
GO
