/****** Object:  StoredProcedure [dbo].[usp_PendingFeeStudents]    Script Date: 4/1/2026 3:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- ========================================================================================              
---- Author:  Pravin              
---- Created date: 22 Oct 2013              
---- Description: This store procedure is used to show students list of pending fee students whose due date is passed.              
---- ===================================================================================================              
ALTER PROCEDURE [dbo].[usp_PendingFeeStudents]               
 -- Add the parameters for the stored procedure here              
 @iSchoolId INT  ,                  
 @AcadmicYearId INT,                  
 @Due_Date DATETIME,                  
 @sFilterRegAndName NVARCHAR(500)=N'',                                    
 @StandardId INT=0,
 @DivisionId INT=0,
 @IncludeLeftStudent INT,
 @sAmountFilter NVARCHAR(500),                  
 @FeeTypeId INT,  
 @PayableFor NVARCHAR(50) = '',          
 @IsIgnorePDCStudent  NVARCHAR(10) = N'N',                  
 @sortExp NVARCHAR(500)=N' Std_Div_ID',                
 @StartIndex INT,                  
 @PercentFilter NVARCHAR(30)=N'',                
 @PazeSize INT      ,            
 @Oprater NVARCHAR(3)            
 AS                  
 BEGIN                    
 SET NOCOUNT ON;                

	DECLARE @AllowLateFeeAtQuarterLevel BIT = 0

	CREATE TABLE #tblFeePayables
	(
		PayableFor NVARCHAR(100)
	)

	insert into #tblFeePayables
	select PayableFor
	from [dbo].[udf_GetFeePayablesForLateFee] (@iSchoolId,@AcadmicYearId)

	IF exists(select top 1 1 from #tblFeePayables)
	BEGIN
		SET @AllowLateFeeAtQuarterLevel = 1
	END
	  
 IF @sFilterRegAndName is null                 
	SET @sFilterRegAndName=N''        
 
 --IF(@Due_Date IS NOT NULL)      
	--SET @Due_Date = @Due_Date+1

    CREATE TABLE #TemptblFeeDetails              
      (              
       Schoolwise_Student_Fee_Id INT,              
       Payable_For NVARCHAR(200) ,              
       Amount INT ,              
       Paid_Date DATETIME ,               
       Fee_Type NVARCHAR(50) ,              
       Amount_Paid INT,              
       [D/C] NVARCHAR(10),              
       Serial_Number INT ,              
       Is_Cheque_Bounce NVARCHAR(1),              
       Std_Fee_Type_Id INT,              
       Late_Fee_Amt INT,              
       Is_Concession NVARCHAR(1),              
       Student_Id int,              
       School_Id int,              
       Academic_Year_ID int,              
       Std_Div_ID int ,            
       Percentage INT,            
       FeesApplicable INT              
      )              
   DECLARE @filter NVARCHAR(200), 
		   @FilterPercentage nvarchar(200) 
		   
		   
		   
	CREATE TABLE #TemptblStdFeeTypeDetails
	  (		
		StdFeeTypeId INT,
		LateFeeAmount INT,
		DueDate DATETIME
	  )

	  INSERT INTO #TemptblStdFeeTypeDetails
	       SELECT StdFeeTypeId,
				  Amount,
				  DueDate
		     FROM [dbo].[udf_GetFeeTypeWiseLateFee](@iSchoolId, @AcadmicYearId, @Due_Date)   

IF(@StandardId = 0 OR @StandardId IS NULL)
	BEGIN 
   IF @FeeTypeId=0              
		SET @filter= N''              
   ELSE IF @FeeTypeId= -1              
		SET @filter= N' AND (SWFTC.Original_Fee_Type_Id ='+CAST (@FeeTypeId as NVARCHAR(200))+N' OR SWFTC.Original_Fee_Type_Id IS NULL OR SWFTC.Original_Fee_Type_Id = 0)'              
   ELSE   
		IF(@PayableFor <> '')           
			SET @filter= N' AND (SWFTC.Original_Fee_Type_Id ='+CAST (@FeeTypeId as NVARCHAR(200)) +') AND (Payable_For ='''+ CAST(@PayableFor AS NVARCHAR(50))+''')'
		else
			SET @filter= N' AND (SWFTC.Original_Fee_Type_Id ='+CAST (@FeeTypeId as NVARCHAR(200)) +')'
	END
ELSE
	BEGIN
		IF @FeeTypeId=0              
		   SET @filter= N''              
		ELSE IF @FeeTypeId= -1              
		   SET @filter= N' AND (vw_Student_Debit_Details.Std_FeeType_Id='+CAST (@FeeTypeId as NVARCHAR(200))+N' OR vw_Student_Debit_Details.Std_FeeType_Id IS NULL OR vw_Student_Debit_Details.Std_FeeType_Id=0)'              
		ELSE      
		IF(@PayableFor <> '')   
			 SET @filter= N' AND (Std_FeeType_Id='+CAST (@FeeTypeId as NVARCHAR(200)) +') AND (Payable_For ='''+ CAST(@PayableFor AS NVARCHAR(50))+''')' 
		ELSE        
		 SET @filter= N' AND (Std_FeeType_Id='+CAST (@FeeTypeId as NVARCHAR(200)) +') '  
	END

  IF @PercentFilter<>'' AND @PercentFilter IS NOT NULL                
  BEGIN                
   SET @FilterPercentage=  N' AND TemptblFeeDetails.Percentage'+@Oprater+CAST(@PercentFilter as nvarchar(50))+N' AND TemptblFeeDetails.Percentage>0'                
         SET @sAmountFilter=N''                
  END         
 
  DECLARE @StandardDivisionFilter NVARCHAR(200),
		  @LeftStudents NVARCHAR(200)
  IF(@StandardId <> 0 AND @DivisionId = 0)
	SET @StandardDivisionFilter = N' AND Standard_Master.Standard_Id = '+CAST (@StandardId as NVARCHAR(200))
  ELSE IF(@StandardId <> 0 AND @DivisionId <> 0)
  	SET @StandardDivisionFilter = N' AND Standard_Master.Standard_Id = '+CAST (@StandardId as NVARCHAR(5)) + N' AND Division_Master.Division_Id = '+CAST (@DivisionId as NVARCHAR(5)) 
 
  IF(@IncludeLeftStudent = 1)
	SET @LeftStudents = N' AND SchoolLeft_Date IS NULL '
                  
  IF @sAmountFilter<> N'' AND @sAmountFilter <>0               
  BEGIN            
	  SET @sAmountFilter=N'AND Amount'+@Oprater+@sAmountFilter                
	  SET @FilterPercentage=''            
  END            
    ELSE            
SET @sAmountFilter=N'AND (Amount>0 OR Late_Fee_Amt>0)'          
     --select @sAmountFilter            
     IF @sortExp=N''            
		 SET @sortExp= N'Std_Div_ID'            
  SET @sortExp=N'Order By '+@sortExp              

   IF @IsIgnorePDCStudent = N'N'              
    BEGIN              
          
  DECLARE @Insertsql1 NVARCHAR(4000)              
   SET @Insertsql1 = N'SELECT Schoolwise_Student_Fee_Id,   
       Payable_For,   
       Amount,   
       Paid_Date,   
       Fee_Type, ISNULL    
       ((SELECT     Amount    
       FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d  WITH(NOLOCK)  
       WHERE     (Student_Fee_Id = vw_Student_Debit_Details.Schoolwise_Student_Fee_Id)  
	   AND  vw_Student_Debit_Details_d.Is_Deleted = ''N'' 
       --UNION    
       --SELECT     Amount    
       --FROM         vw_Student_Debit_Details AS vw_Student_Debit_Details_d WITH(NOLOCK)   
       --WHERE     (Receipt_Number = vw_Student_Debit_Details.Receipt_Number)    
       -- AND (Is_Concession_Fee = vw_Student_Debit_Details.Is_Concession_Fee) AND (Student_Fee_Id IS NULL)
        
        ), 0) AS Amount_Paid,     
        [Debit/Credit] AS Debit    
        , Serial_Number  
        , Is_Cheque_Bounce  
        , Std_FeeType_Id    
        , CASE WHEN Std_FeeType_Id IS NOT NULL AND Std_FeeType_Id <> 0  THEN 
		
		CASE WHEN '+CAST(@AllowLateFeeAtQuarterLevel as nvarchar(10))+' = 1 THEN 
			CASE WHEN Payable_For IN (select PayableFor from #tblFeePayables) THEN ISNULL(tblStdFeeType.LateFeeAmount,0) 
			ELSE 0 
			END 
		ELSE
			ISNULL(tblStdFeeType.LateFeeAmount,0) 		
		END
		
		
		
		
		ELSE 0 END    
        AS LateFeeAmt,   
        Is_Concession_Fee  
        , Student_Id  
        ,School_Id  
        ,Academic_Year_ID  
        ,Standard_Div_Id  ,  
        0 as Percentage,            
        0 AS FeesApplicable   
        FROM    vw_Student_Debit_Details  WITH(NOLOCK)
		LEFT OUTER JOIN #TemptblStdFeeTypeDetails tblStdFeeType  
		ON tblStdFeeType.StdFeeTypeId  = vw_Student_Debit_Details.Std_FeeType_Id
		AND CONVERT(DATE,vw_Student_Debit_Details.Paid_Date) = CONVERT(DATE,tblStdFeeType.DueDate)
        WHERE     ((Student_Fee_Id = 0) OR    
               (Student_Fee_Id IS NULL)) AND vw_Student_Debit_Details.Is_Deleted = ''N'' AND Paid_Date <= '''+CAST(@Due_Date as NVARCHAR(20))+''' AND [Debit/Credit] = ''Debit'' AND School_Id ='+CAST(@iSchoolId as NVARCHAR(6))+'      
            AND Academic_Year_ID ='+CAST(@AcadmicYearId as NVARCHAR(6))+' '+CAST (@filter as NVARCHAR(250))         

                    
   --Insert fee details into temp. table and also get late fee amount against given date.              
  PRINT @Insertsql1              
        INSERT INTO #TemptblFeeDetails                      
  EXEC sp_executesql @Insertsql1 
 
  IF (@iSchoolId = 18 AND @AcadmicYearId = 52)
	BEGIN
		DELETE FROM #TemptblFeeDetails
			  WHERE Student_Id IN (
										SELECT YearWise_Student_Id
										  FROM YearWise_Student_Details
										 WHERE School_Id = @iSchoolId
										   AND Academic_Year_ID = @AcadmicYearId
										   AND Is_Deleted = 'N'
										   AND Standard_Id = 1045
										   AND Division_id = 1279
								  )
	END

   END              
  ELSE              
    BEGIN    


 DECLARE @Insertsql2 NVARCHAR(4000)    
   SET @Insertsql2 =N'SELECT Schoolwise_Student_Fee_Id,Payable_For,Amount,Paid_Date,vw_Student_Debit_Details.Fee_Type,ISNULL((SELECT Amount FROM vw_Student_Debit_Details AS vw_Student_Debit_Details_d WITH(NOLOCK) WHERE (Student_Fee_Id = vw_Student_Debit_Details.Schoolwise_Student_Fee_Id) AND vw_Student_Debit_Details_d.Is_Deleted = ''N''
--UNION  
--SELECT Amount 
--FROM vw_Student_Debit_Details AS vw_Student_Debit_Details_d WITH(NOLOCK)
--WHERE (Receipt_Number = vw_Student_Debit_Details.Receipt_Number)    
--AND (Is_Concession_Fee = vw_Student_Debit_Details.Is_Concession_Fee) AND (Student_Fee_Id IS NULL)
),0) AS Amount_Paid,[Debit/Credit] AS Debit,Serial_Number,Is_Cheque_Bounce,vw_Student_Debit_Details.Std_FeeType_Id,
CASE WHEN Std_FeeType_Id IS NOT NULL AND Std_FeeType_Id <> 0  THEN 

CASE WHEN '+CAST(@AllowLateFeeAtQuarterLevel as nvarchar(10))+' = 1 THEN 
			CASE WHEN Payable_For IN (select PayableFor from #tblFeePayables) THEN ISNULL(tblStdFeeType.LateFeeAmount,0) 
			ELSE 0 
			END 
		ELSE
			ISNULL(tblStdFeeType.LateFeeAmount,0) 		
		END


 ELSE 0 END AS LateFeeAmt,
Is_Concession_Fee,Student_Id,vw_Student_Debit_Details.School_Id,vw_Student_Debit_Details.Academic_Year_ID,Standard_Div_Id,0 as Percentage,0 AS FeesApplicable
 FROM vw_Student_Debit_Details WITH(NOLOCK) LEFT OUTER JOIN Schoolwise_Standard_FeeType_Master SWSFTM ON vw_Student_Debit_Details.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id AND vw_Student_Debit_Details.Academic_Year_ID = SWSFTM.academic_Year_Id AND vw_Student_Debit_Details.School_Id = SWSFTM.School_Id 
  LEFT OUTER JOIN Schoolwise_Fee_Type_Configuration SWFTC ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id AND SWFTC.Academic_Year_ID = SWSFTM.Academic_Year_ID AND SWSFTM.School_Id = SWFTC.School_Id 
  LEFT OUTER JOIN #TemptblStdFeeTypeDetails tblStdFeeType ON tblStdFeeType.StdFeeTypeId  = vw_Student_Debit_Details.Std_FeeType_Id AND CONVERT(DATE,vw_Student_Debit_Details.Paid_Date) = CONVERT(DATE,tblStdFeeType.DueDate) 
  WHERE ((Student_Fee_Id = 0 OR Student_Fee_Id IS NULL)) AND vw_Student_Debit_Details.Is_Deleted = ''N''
			AND Paid_Date <= '''+CAST(@Due_Date as NVARCHAR(20))+''' AND [Debit/Credit] = ''Debit'' AND vw_Student_Debit_Details.School_Id ='+CAST(@iSchoolId as NVARCHAR(6))+'      
            AND vw_Student_Debit_Details.Academic_Year_ID ='+CAST(@AcadmicYearId as NVARCHAR(6))+' '+CAST (@filter as NVARCHAR(250))+ '    
            AND Student_Id NOT IN (SELECT Schoolwise_Student_PostDatedCheques.Student_Id    
									 FROM  Schoolwise_Student_PostDatedCheques WITH(NOLOCK)
								INNER JOIN YearWise_Student_Details WITH(NOLOCK)
								        ON Schoolwise_Student_PostDatedCheques.Student_Id = YearWise_Student_Details.YearWise_Student_Id 
								INNER JOIN SchoolWise_Student_Master WITH(NOLOCK)
										ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id    
									 WHERE Schoolwise_Student_PostDatedCheques.Is_PDC = N''Y'' 
									   AND Schoolwise_Student_PostDatedCheques.Is_Deleted = N''N'' 
									   AND Schoolwise_Student_PostDatedCheques.Is_Cheque_Bounce = N''N''    
									   AND Schoolwise_Student_PostDatedCheques.Student_Id NOT IN     
																						 (SELECT SSPDC.Student_Id    
																							FROM Schoolwise_Student_Fee_Details SSFD_PDC WITH(NOLOCK)
																					  INNER JOIN Student_Fee_PDC_Details SFPDC WITH(NOLOCK)
																							  ON SSFD_PDC.Schoolwise_Student_Fee_Id = SFPDC.Schoolwise_Student_Fee_Id
																					  INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC WITH(NOLOCK)
																							  ON SFPDC.PDC_Id = SSPDC.PostDated_Cheque_Id 
																						   WHERE SSPDC.Is_PDC = N''Y'' 
																						     AND SFPDC.Is_Deleted = N''N'' 
																						     AND SSPDC.Is_Deleted = N''N'' 
																							 AND SSFD_PDC.Is_Deleted = N''N'' 
																							 AND SSPDC.Is_Cheque_Bounce = N''N''))'   
   
   PRINT @Insertsql2    
   INSERT INTO #TemptblFeeDetails    
   EXEC sp_executesql @Insertsql2

   IF (@iSchoolId = 18 AND @AcadmicYearId = 52)
	BEGIN
		DELETE FROM #TemptblFeeDetails
			  WHERE Student_Id IN (
										SELECT YearWise_Student_Id
										  FROM YearWise_Student_Details
										 WHERE School_Id = @iSchoolId
										   AND Academic_Year_ID = @AcadmicYearId
										   AND Is_Deleted = 'N'
										   AND Standard_Id = 1045
										   AND Division_id = 1279
								  )
	END

    END            
 
      
   --------------------------------Rohini----------------------------------------------                
   ---Calculate percentage of unpaid fee            
  CREATE TABLE #tblTotalAmount             
   (                
   amount FLOAT,                
   StudId INT,                
   SdtDivId INT                
   )                    
               
   DECLARE @tblPaidAmount TABLE                
  (                
   amount FLOAT,                
   StudId INT,                
   SdtDivId INT                
  )             
 DECLARE @sQueryPaidFee nvarchar(MAX), @sQueryTotalFee nvarchar(MAX), @sFilterFeeId nvarchar(500)='',@FeeFilter nvarchar(500)=''          
 
  IF @FeeTypeId=N'-1'         
  BEGIN   
	SET @sFilterFeeId=N' AND (SSFD.Std_FeeType_Id is null OR SSFD.Is_Late_Fee=N''Y'')'            
	SET @FeeFilter = N' AND (SSFD.Std_FeeType_Id is null OR SSFD.Is_Late_Fee=N''Y'')'            
  END
  ELSE             
  
 IF @FeeTypeId<>0        
  SET @sFilterFeeId=N'AND SWFTC.Original_Fee_Type_Id ='+CAST (@FeeTypeId as nvarchar(10))       
 
  SET @sQueryTotalFee=N' SELECT SUM(Amount) Amount,Student_Id,Standard_Div_Id                 
       FROM Schoolwise_Student_Fee_Details SSFD                 
 INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
		 ON SSFD.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
	    AND SSFD.Academic_Year_ID = SWSFTM.academic_Year_Id
	    AND SSFD.School_Id = SWSFTM.School_Id
 INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		 ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
	    AND SWFTC.Academic_Year_ID = SWSFTM.Academic_Year_ID
	    AND SWSFTM.School_Id = SWFTC.School_Id
      WHERE SSFD.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+'            
        AND [Debit/Credit]=N''debit'' 
        AND Is_Cheque_Bounce=N''N''                 
        AND SSFD.Is_Deleted=N''N''                
        AND Paid_Date<'''+CAST(@Due_Date as nvarchar(20))+''''+ @sFilterFeeId+'                   
         GROUP BY Student_Id,Standard_Div_Id '            
        
  --       SET @sQueryPaidFee=N' SELECT SUM(Amount)Amount,                
  --       Student_Id,                
  --       Standard_Div_Id                 
  --     FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)                
  --    WHERE Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
  --      AND [Debit/Credit]=N''Credit''                
  --      AND Is_Deleted=N''N''                   
  --      AND Is_Cheque_Bounce=N''N''  
  --    GROUP BY Student_Id,Standard_Div_Id            
  --   UNION                
  --    SELECT 0 as Amount,                
  --        SSFD.Student_Id,                
  --        SSFD.Standard_Div_Id                 
  --      FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
  --      LEFT OUTER JOIN Schoolwise_Student_Fee_Details SSFD1 WITH(NOLOCK)
  --      ON SSFD.Student_Id = SSFD1.Student_Id
  --      AND SSFD1.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'
  --      AND SSFD1.[Debit/Credit]=''Credit''
  --      AND SSFD1.Is_Cheque_Bounce=N''N'' 		                
		--AND SSFD1.Is_Deleted=N''N''  
  --     WHERE SSFD.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+ @sFilterFeeId+'                  
		--	   AND SSFD.Is_Cheque_Bounce=N''N''              
  --             AND SSFD.[Debit/Credit]=N''debit''            
  --             AND SSFD.Is_Deleted=N''N''            
  --             AND SSFD.Paid_Date<'''+CAST(@Due_Date as nvarchar(20))+'''               
  --             AND SSFD1.Student_Id IS NULL                          
  --     GROUP BY SSFD.Student_Id,SSFD.Standard_Div_Id'    

  SET @sQueryPaidFee=N' SELECT SUM(Amount)Amount,                
           Student_Id,                
           Standard_Div_Id                 
      FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)     
INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
		 ON SSFD.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
	    AND SSFD.Academic_Year_ID = SWSFTM.academic_Year_Id
	    AND SSFD.School_Id = SWSFTM.School_Id
 INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		 ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
	    AND SWFTC.Academic_Year_ID = SWSFTM.Academic_Year_ID
	    AND SWSFTM.School_Id = SWFTC.School_Id           
      WHERE SSFD.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'            
        AND [Debit/Credit]=N''Credit''                
        AND SSFD.Is_Deleted=N''N''                   
        AND Is_Cheque_Bounce=N''N''  
      GROUP BY Student_Id,Standard_Div_Id            
     UNION                
      SELECT 0 as Amount,                
          SSFD.Student_Id,                
          SSFD.Standard_Div_Id                 
        FROM 
        (
		  SELECT DISTINCT 0 as Amount,                
				 Student_Id,                
				 Standard_Div_Id     
		   FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
	 INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
			 ON SSFD.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
			AND SSFD.Academic_Year_ID = SWSFTM.academic_Year_Id
			AND SSFD.School_Id = SWSFTM.School_Id
	 INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
			 ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
			AND SWFTC.Academic_Year_ID = SWSFTM.Academic_Year_ID
			AND SWSFTM.School_Id = SWFTC.School_Id      
		  WHERE SSFD.Academic_Year_Id='+cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'                 
			AND Is_Cheque_Bounce=N''N''              
            AND [Debit/Credit]=N''debit''            
            AND SSFD.Is_Deleted=N''N''
            AND Paid_Date<'''+CAST(@Due_Date as nvarchar(20))+'''
        )SSFD
		LEFT OUTER JOIN 
        (
			SELECT Student_Id
			  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)  	           
			 WHERE SSFD.Academic_Year_Id='+ cast(@AcadmicYearId as nvarchar(10))+@FeeFilter +'  
			   AND [Debit/Credit]=''Credit''
			   AND Is_Cheque_Bounce=N''N'' 
			   GROUP BY Student_Id
		)S

  --      LEFT OUTER JOIN 
  --      (
		--	SELECT DISTINCT Student_Id
		--	  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)  
		--INNER JOIN Schoolwise_Standard_FeeType_Master SWSFTM
		--		ON SSFD.Std_FeeType_Id = SWSFTM.SchoolWise_Standard_FeeType_Id
		--	   AND SSFD.Academic_Year_ID = SWSFTM.academic_Year_Id
		--	   AND SSFD.School_Id = SWSFTM.School_Id
		--INNER JOIN Schoolwise_Fee_Type_Configuration SWFTC
		--		ON SWSFTM.Fee_Type_Id = SWFTC.Fee_Type_Id
		--	   AND SWFTC.Academic_Year_ID = SWSFTM.Academic_Year_ID
		--	   AND SWSFTM.School_Id = SWFTC.School_Id                 
		--	 WHERE SSFD.Academic_Year_Id='+ cast(@AcadmicYearId as nvarchar(10))+@sFilterFeeId +'  
		--	   AND [Debit/Credit]=''Credit''
		--	   AND Is_Cheque_Bounce=N''N'' 		                
		--	   AND SSFD.Is_Deleted=N''N''  
		--)S
		ON SSFD.Student_Id = S.Student_Id
        WHERE S.Student_Id IS NULL'   

  INSERT INTO #tblTotalAmount                
  EXEC sp_executesql @sQueryTotalFee            
  
  INSERT INTO @tblPaidAmount                
  EXEC sp_executesql @sQueryPaidFee
              

	   UPDATE #TemptblFeeDetails                
		  SET Percentage=A.Percentage,
			  FeesApplicable=A.amount            
		 FROM #TemptblFeeDetails temp                
   INNER JOIN (SELECT CASE WHEN ROUND(t1.amount/t2.amount*100,0)=100 THEN 0 ELSE 100- ROUND(t1.amount/t2.amount*100,0) end Percentage,                
					  t1.StudId,            
				      t1.SdtDivId,                 
					  t2.amount                  
				 FROM @tblPaidAmount t1                 
           INNER JOIN #tblTotalAmount t2                
				   ON t1.SdtDivId=t2.SdtDivId                
			      AND t1.StudId=t2.StudId
			  ) as A                
		   ON A.StudId=temp.Student_Id                
		  AND A.SdtDivId=temp.Std_Div_ID            
       
  --------------------------------------------------------------------------------------                
      --IF amount paid is greater than zero then set [D/C] as 'credit' and late fee amount to 0.  
	  
	     UPDATE #TemptblFeeDetails              
         SET [D/C] = N'Credit',
		     Late_Fee_Amt=0              
       WHERE Amount_Paid > 0              
   
	  --Set late fee amount to 0 IF studentfeeid's entry into Schoolwise_Late_Fee_Details table.              
      UPDATE #TemptblFeeDetails              
         SET Late_Fee_Amt = 0              
       WHERE Schoolwise_Student_Fee_Id IN(
											SELECT Student_Fee_Id              
											  FROM Schoolwise_Late_Fee_Details              
											 WHERE (Is_Deleted = N'N') 
											   AND Late_Fee_Amt<>0.00 
										 )                            
              
-- #TemptblFeeDetails

     --   Set total amount pending.   
		  UPDATE #TemptblFeeDetails 
	      SET Amount = A.AMOUNT ,          
              Late_Fee_Amt = A.Late_Fee_Amt              
         FROM #TemptblFeeDetails TemptblFeeDetails3 
		 INNER JOIN(SELECT SUM( CASE   WHEN ISNULL(TemptblFeeDetails2.Fee_Type,'') <> 'Late Fee'
                                        THEN TemptblFeeDetails2.Amount
                                         ELSE 0 END ) AS AMOUNT,
				   SUM(TemptblFeeDetails2.Late_Fee_Amt) + ISNULL((
						SELECT SUM(SSFD.Amount)
						FROM Schoolwise_Student_Fee_Details SSFD
						WHERE SSFD.Student_Id = TemptblFeeDetails2.Student_Id
						  AND SSFD.Is_Late_Fee = 'Y'
						  AND SSFD.[Debit/Credit] = 'Debit'
						  AND SSFD.Is_Deleted = 'N'
				   ),0) AS Late_Fee_Amt,
				   TemptblFeeDetails2.Student_Id
			FROM #TemptblFeeDetails TemptblFeeDetails2
			WHERE [D/C] = N'Debit'
			  AND Paid_Date <= @Due_Date
			GROUP BY TemptblFeeDetails2.Student_Id
		) A
		ON A.Student_Id = TemptblFeeDetails3.Student_Id      
   --INNER JOIN (
			--	SELECT SUM(TemptblFeeDetails2.Amount)AS AMOUNT, 
			--		   SUM(TemptblFeeDetails2.Late_Fee_Amt)AS Late_Fee_Amt,
			--		   TemptblFeeDetails2.Student_Id 
			--	   FROM #TemptblFeeDetails TemptblFeeDetails2 
			--	  WHERE [D/C] = N'Debit' and Paid_Date < @Due_Date              
   --            GROUP BY TemptblFeeDetails2.Student_Id
			--   )A              
   --         ON A.Student_Id = TemptblFeeDetails3.Student_Id                 

	CREATE TABLE #TemptblPendingFeeStudentList              
     (              
       Enrolment_Number NVARCHAR(50),              
       StudentName NVARCHAR(200) ,              
       Roll_No INT ,              
       Mobile_Number NVARCHAR(11),
	   Mobile_Number2 NVARCHAR(11),               
       Class NVARCHAR(50) ,              
       Amount INT,              
       Division_Id INT,              
       Standard_Id INT,                      
       [D/C] NVARCHAR(10),         
	   Late_Fee_Amt INT,              
       Student_Id INT,              
       User_Id INT,              
       SMSName NVARCHAR(200),              
       Std_Div_ID INT,              
       First_Name NVARCHAR(50),              
       TotalAmount INT,              
       SchoolLeft_Date  DATETIME,              
       Percentage INT,        
       FeesApplicable INT        
     )            
	   
   DECLARE @sql NVARCHAR(4000)   

   IF @StandardDivisionFilter IS NULL
		SET @StandardDivisionFilter = ''

   IF(@LeftStudents IS NULL)
		SET @LeftStudents = ''

IF(@iSchoolId = 11 AND @AcadmicYearId = 8) -- If School is PPSH And Academic Year is 2019-20
	BEGIN		
	   DELETE FROM #TemptblFeeDetails
	         WHERE Fee_Type NOT IN ('Tuition Fees','Laboratory Fees & Other Fees','Term Fees')
	END

   SET @sql = N'SELECT DISTINCT vw_BaseStudentDetails.Enrolment_Number,            
          vw_BaseStudentDetails.StudentName              
         ,YearWise_Student_Details.Roll_No            
         ,vw_BaseStudentDetails.Mobile_Number
		 ,vw_BaseStudentDetails.Mobile_Number2              
         ,Standard_Master.Standard_Name+''-''+Division_Master.Division_Name AS Class              
         ,Amount        
         ,Division_Master.Division_Id        
         ,Standard_Master.Standard_Id              
         ,TemptblFeeDetails.[D/C]              
         ,TemptblFeeDetails.Late_Fee_Amt              
         ,TemptblFeeDetails.Student_Id,        
         vw_BaseStudentDetails.User_Id              
         ,vw_BaseStudentDetails.StudentFLName +'' ('' + Standard_Master.Standard_Name+ '' -'' + Division_Master.Division_Name +'' - ''+ vw_BaseStudentDetails.Enrolment_Number +'')'' as SMSName               
         ,TemptblFeeDetails.Std_Div_ID,vw_BaseStudentDetails.First_Name            
         ,0            
         ,vw_BaseStudentDetails.SchoolLeft_Date                       
         ,TemptblFeeDetails.Percentage            
         ,case when TemptblFeeDetails.FeesApplicable=0 then Amount else TemptblFeeDetails.FeesApplicable end as FeesApplicable		 
      FROM  Division_Master WITH(NOLOCK)            
     INNER JOIN  YearWise_Student_Details  WITH(NOLOCK)           
        ON Division_Master.Division_Id = YearWise_Student_Details.Division_id             
       AND Division_Master.School_Id = YearWise_Student_Details.School_Id             
       AND Division_Master.academic_year_id = YearWise_Student_Details.Academic_Year_ID             
     INNER JOIN Standard_Master  WITH(NOLOCK)       
        ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id             
       AND YearWise_Student_Details.School_Id = Standard_Master.School_Id             
       AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id             
     INNER JOIN #TemptblFeeDetails  TemptblFeeDetails             
        ON YearWise_Student_Details.School_Id = TemptblFeeDetails.School_Id             
       AND YearWise_Student_Details.Academic_Year_ID = TemptblFeeDetails.Academic_Year_Id             
       AND YearWise_Student_Details.YearWise_Student_Id = TemptblFeeDetails.Student_Id             
     INNER JOIN vw_BaseStudentDetails WITH(NOLOCK)             
        ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id             
       AND YearWise_Student_Details.School_Id = vw_BaseStudentDetails.School_Id 
  INNER JOIN User_Master 
        ON User_Master.User_Id=vw_BaseStudentDetails.User_Id             
     WHERE (vw_BaseStudentDetails.Is_Deleted = N''N'')             
       AND (YearWise_Student_Details.Is_Deleted = N''N'')             
       AND (Standard_Master.Is_Deleted = N''N'')             
       AND (Division_Master.Is_Deleted = N''N'')             
       AND (TemptblFeeDetails.[D/C] = N''Debit'')      
       AND User_Master.Is_Deleted=''N''
       --AND User_Master.Is_Locked=''N''
       --AND User_Master.IsConsideredForMessage=1        
	   and YearWise_Student_Details.Is_RTE_Student <> 1
       AND  TemptblFeeDetails.Academic_Year_Id ='+ CAST(@AcadmicYearId  AS NVARCHAR(80))+ ' and TemptblFeeDetails.School_Id='+ CAST(@iSchoolId  AS NVARCHAR(80)) +              
     ' AND ((vw_BaseStudentDetails.StudentFMLName LIKE ''%''+N''' + CAST(@sFilterRegAndName  AS NVARCHAR(80))  +'''+''%'') OR (vw_BaseStudentDetails.Enrolment_Number LIKE ''%''+''' + CAST(@sFilterRegAndName  AS NVARCHAR(80)) + '''+''%''))'               
	   + CAST(@LeftStudents  AS NVARCHAR(100))+ 
       + CAST(@StandardDivisionFilter  AS NVARCHAR(500))+ ' AND TemptblFeeDetails.Std_Div_ID IS NOT NULL              
       '+ISNULL(@FilterPercentage,'')+'            
       ORDER BY TemptblFeeDetails.Student_Id'       

   PRINT @Sql              
   --Insert fee details and student details according to provided filter(@sFilterRegAndName,@sStdDivFilter)               
   --into temp table so we can get payble for each student                 
   INSERT INTO #TemptblPendingFeeStudentList              
     EXEC sp_executesql @Sql   
	
   DECLARE @TotalAmount  AS TABLE               
    (              
		TotalAmount INT              
    )              
   DECLARE @UpdateSql NVARCHAR(200)              
             
  SET @UpdateSql= N'SELECT SUM(Amount) + SUM(Late_Fee_Amt)               
      FROM  #TemptblPendingFeeStudentList              
     WHERE (Amount > 0 OR Late_Fee_Amt > 0)'+ CAST(@sAmountFilter AS NVARCHAR(35))  
                          
  INSERT INTO @TotalAmount  
         EXEC sp_executesql @UpdateSql               

   UPDATE #TemptblPendingFeeStudentList              
	  SET TotalAmount=tblTotalAmount.TotalAmount              
     FROM @TotalAmount as tblTotalAmount                           
        
   DECLARE @Sql1 NVARCHAR(4000) 
 
   IF(@StandardId = '' OR @StandardId IS NULL)
		SET @StandardId = 0	

   IF(@PazeSize > 0)              
	BEGIN	
		IF(@sortExp <>'')              
			BEGIN   	
			
				 IF @FeeTypeId<>0              
					 SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) +')) * from              
					(              
					 SELECT               
					 RowID=ROW_NUMBER() OVER ('+ @sortExp +'),               
					 TotalRows=Count(*) OVER()              
					 ,  * ,[dbo].[Udf_GetFilteredPayable_For_Student](Student_Id, ''' + CAST(@Due_Date AS NVARCHAR(200)) + ''','+CAST(@FeeTypeId AS NVARCHAR(200))+',' +'''' + @PayableFor + '''' + ',' + CAST(@StandardId AS NVARCHAR(10)) +            
					 ') as PaybleFor FROM #TemptblPendingFeeStudentList WHERE (Amount > 0 OR Late_Fee_Amt > 0)'+ CAST(@sAmountFilter AS NVARCHAR(35)) +'                      
					) A              
					WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15))+ ' '+ CAST(@sAmountFilter AS NVARCHAR(35))+N' And (Amount > 0 OR Late_Fee_Amt > 0) '               
				 ELSE              
					 SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) +N')) * from              
					(              
					 Select               
					 RowID=ROW_NUMBER() OVER ('+ @sortExp +'),               
					 TotalRows=Count(*) OVER()              
					 ,  * ,[dbo].[Udf_GetPayable_For_Student](Student_Id, ''' + CAST(@Due_Date AS NVARCHAR(200)) + ''') as PaybleFor 
					 FROM #TemptblPendingFeeStudentList               
					 WHERE (Amount > 0 OR Late_Fee_Amt > 0 )'+ CAST(@sAmountFilter AS NVARCHAR(35))+'              
                
					) A              
					WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15)) 					
			END              
		ELSE              
			BEGIN             
				 SET @Sql1 = N'SELECT Top( CONVERT(INT,'+ CAST(@PazeSize AS NVARCHAR(15)) + N')) * FROM              
				(              
				 SELECT               
				 RowID=ROW_NUMBER() OVER (ORDER BY Student_Id),               
				 TotalRows=Count(*) OVER()              
				 ,  *  FROM #TemptblPendingFeeStudentList WHERE ( Amount > 0 OR Late_Fee_Amt > 0)'+ CAST(@sAmountFilter AS NVARCHAR(35))+'              
                
				) A              
				WHERE A.RowId > ' + CAST(@StartIndex AS NVARCHAR(15))+ ' '                
			END              
	   END              
   ELSE               
		BEGIN              
			SET @Sql1 =N'SELECT Student_Id,User_Id,SMSName FROM #TemptblPendingFeeStudentList WHERE (Amount > 0 OR Late_Fee_Amt > 0 )' +CAST(@sAmountFilter AS NVARCHAR(35))+ N' ORDER BY User_Id'+ ' '               
		END        		
		     
    print '----lst--'            
   PRINT @Sql1    
  -- select '1'     
     EXEC sp_executesql @Sql1              
   
 -- select '1'         
  
  --SELECT @Due_Date Due_Date
  drop table #tblFeePayables
   DROP TABLE #TemptblFeeDetails              
   DROP TABLE #TemptblPendingFeeStudentList        
   DROP TABLE #TemptblStdFeeTypeDetails
      
 END