/****** Object:  StoredProcedure [dbo].[usp_GetInternalFeeDetails]    Script Date: 23-06-2026 17:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Pravin Shinde
-- Create date: 23-Jan-2013
-- Description:	This procedure is used to get Internal Fee Details of a selected student.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetInternalFeeDetails] 
@SchoolId INT,
@AcademicYearId INT,
@StudentId INT,
@IsNextYearFeePayment INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @tblDebitDetails AS TABLE
(
	FeeType NVARCHAR(50), 
	PayableFor NVARCHAR(200), 
	Amount INT, 
	DebitCredit NVARCHAR(10), 
	PaidDate DATETIME, 
	Remarks NVARCHAR(1500), 
	StandardDivId INT ,
	InternalFeeDetailsId INT, 		
	FeeDetailsId INT,
	SerialNumber INT,
	SchoolId INT ,
	StandardId INT,
	DivisionId INT,
	ReceiptNo INT,
	InternalFeeMasterId INT,
	IsLastCredit INT,
	IsCleared INT,
	FrequentlyUsedBankId INT,
	IsChequeBounced NVARCHAR(1),
	IsDueDateApplicable BIT,
	IsPartialPAyment BIT,
	NetBankingPaymentTransactionId INT,
	NextAcademicYearId INT,
	AccountHeaderId INT,
	PaymentDoneDate DATE,
	PaidAmount INT,
	FeePaidDate DATE
)

IF @IsNextYearFeePayment = 0
BEGIN
		INSERT INTO @tblDebitDetails
		SELECT InternalFeeDetails.Fee_Type,
			   InternalFeeDetails.Payable_For,
			   InternalFeeDetails.Amount,
			   [Debit/Credit],
			   Paid_Date,
			   Remark,
			   Standard_Div_Id,
			   InternalFeeDetailsId,
			   FeeDetailsID,
			   Serial_Number,
			   @SchoolId,
			   Schoolwise_Debit_Entry_Log.Standard_Id,
			   Schoolwise_Debit_Entry_Log.Division_Id,
			   CASE WHEN ReceiptNo=0 THEN 999999 ELSE ReceiptNo END,
			   InternalFeeMasterID,
			   0,
			   CASE WHEN PaymentTypeId = 1 THEN 1 ELSE 0 END,
			   0,
			   IsChequeBounced,
			   IsDueDateApplicable,
			   0,
			   InternalFeeDetails.NetBankingPaymentTransactionID,
			   0,			   
			   Schoolwise_Debit_Entry_Log.AccountHeaderId,
			   InternalFeeDetails.PaidDate,
			   0,
			   NULL
		  FROM InternalFeeDetails
	INNER JOIN Schoolwise_Debit_Entry_Log
			ON InternalFeeDetails.InternalFeeMasterID=Schoolwise_Debit_Entry_Log.Schoolwise_Debit__Entry_Id
		   AND InternalFeeDetails.SchoolId=Schoolwise_Debit_Entry_Log.School_Id
		   AND InternalFeeDetails.AcademicYearId=Schoolwise_Debit_Entry_Log.Academic_Year_Id
	INNER JOIN vw_BaseStudentDetails
			ON vw_BaseStudentDetails.SchoolWise_Student_Id=InternalFeeDetails.Schoolwise_Student_Id
		   AND vw_BaseStudentDetails.School_Id=InternalFeeDetails.SchoolId	
		 WHERE InternalFeeDetails.Schoolwise_Student_Id=@StudentId
		   AND InternalFeeDetails.SchoolId=@SchoolId
		   AND InternalFeeDetails.AcademicYearId=@AcademicYearId
		   AND InternalFeeDetails.Is_Deleted=0
		   AND Schoolwise_Debit_Entry_Log.Is_Deleted=N'N'
		   AND Schoolwise_Debit_Entry_Log.IsInternalFee=1
		   AND InternalFeeDetailsId NOT IN( SELECT FeeDetailsID			   
											  FROM InternalFeeDetails	
											 WHERE InternalFeeDetails.Schoolwise_Student_Id=@StudentId
											   AND InternalFeeDetails.SchoolId=@SchoolId
											   AND InternalFeeDetails.AcademicYearId=@AcademicYearId
											   AND InternalFeeDetails.Is_Deleted=0										   
											   AND [Debit/Credit]=N'Credit'
										   )

									
		INSERT INTO @tblDebitDetails
		SELECT InternalFeeDetails.Fee_Type,
			   InternalFeeDetails.Payable_For,
			   InternalFeeDetails.Amount,
			   [Debit/Credit],
			   PaidDate,
			   Remark,
			   NULL,
			   InternalFeeDetailsId,
			   FeeDetailsID,
			   0,
			   @SchoolId,
			   NULL,
			   NULL,
			   CASE WHEN ReceiptNo=0 THEN 999999 ELSE ReceiptNo END,
			   InternalFeeMasterID,
			   0,
			   CASE WHEN PaymentTypeId = 1 THEN 1 ELSE 0 END,
			   0,
			   IsChequeBounced,
			   1,
			   0,
			   InternalFeeDetails.NetBankingPaymentTransactionID,
			   0,
			   AccountHeaderId,
			   PaidDate,
			   0,
			   NULL
		  FROM InternalFeeDetails	
	INNER JOIN vw_BaseStudentDetails
			ON vw_BaseStudentDetails.SchoolWise_Student_Id=InternalFeeDetails.Schoolwise_Student_Id
		   AND vw_BaseStudentDetails.School_Id=InternalFeeDetails.SchoolId
		 WHERE InternalFeeDetails.Schoolwise_Student_Id=@StudentId
		   AND InternalFeeDetails.SchoolId=@SchoolId
		   AND InternalFeeDetails.AcademicYearId=@AcademicYearId
		   AND InternalFeeDetails.Is_Deleted=0
		   AND InternalFeeMasterID IS NULL
		   AND InternalFeeDetailsId NOT IN( SELECT FeeDetailsID			   
											  FROM InternalFeeDetails	
											 WHERE InternalFeeDetails.Schoolwise_Student_Id=@StudentId
											   AND InternalFeeDetails.SchoolId=@SchoolId
											   AND InternalFeeDetails.AcademicYearId=@AcademicYearId
											   AND InternalFeeDetails.Is_Deleted=0										   
											   AND [Debit/Credit]=N'Credit'
										   )									   
									
	UPDATE @tblDebitDetails SET IsLastCredit=1
	 WHERE InternalFeeDetailsId =( SELECT MAX(InternalFeeDetailsId) FROM @tblDebitDetails
	                               WHERE DebitCredit=N'Credit'
	                               AND IsChequeBounced = 'N'
	                               ) 
                               
	UPDATE TDD
	SET IsCleared = 1
	FROM @tblDebitDetails TDD
	INNER JOIN
	(
		SELECT InternalFeeId
		FROM InternalFeeChequeDetails IFCD	
		INNER JOIN InternalFeePDCDetails IFPD
		ON IFCD.Id = IFPD.PDCId
		AND IFCD.SchoolId = IFPD.SchoolId
		AND IFCD.AcademicYearId = IFPD.AcademicYearId
		WHERE IFCD.SchoolId = @SchoolId
		AND IFCD.AcademicYearId = @AcademicYearId
		AND IFCD.IsDeleted = 0
		AND IFPD.IsDeleted = 0
		AND IFCD.SchoolwiseStudentId=@StudentId
		AND IFCD.ChequePassedDate IS NOT NULL
	)S
	ON TDD.InternalFeeDetailsId = S.InternalFeeId

    UPDATE TDD
       SET IsCleared = 1
      FROM @tblDebitDetails TDD
INNER JOIN NetBankingPaymentTransactions NBPT
		ON TDD.NetBankingPaymentTransactionId = NBPT.NetBankingPaymentTransactionID
	 WHERE NBPT.Is_Deleted = 0
	   AND NBPT.ClearanceDate IS NOT NULL
	   AND NBPT.TransactionStatus = 'Y'

	UPDATE TDD
	   SET IsCleared = 1
	  FROM @tblDebitDetails TDD
INNER JOIN InternalFeeElectronicPayments IFEP
		ON TDD.InternalFeeDetailsId = IFEP.InternalFeeDetailsId
	 WHERE IFEP.SchoolId = @SchoolId
	   AND IFEP.IsDeleted = 0
	   AND IFEP.ClearanceDate IS NOT NULL
	
	DECLARE @FrequentlyUsedBankId INT
	SET @FrequentlyUsedBankId = 0
	
	SELECT TOP 1 @FrequentlyUsedBankId = BankId
	FROM
	(
		SELECT BankId, COUNT(1) AS Count
		FROM InternalFeeChequeDetails
		WHERE SchoolId = @SchoolId
		AND AcademicYearId = @AcademicYearId	
		and IsDeleted = 0
		AND SchoolwiseStudentId = @StudentId
		GROUP BY BankId
	)S
	ORDER BY Count DESC
	
	UPDATE @tblDebitDetails
	SET FrequentlyUsedBankId = @FrequentlyUsedBankId
END
ELSE
BEGIN
	DECLARE @NextAcademicYearId INT,
			@NextStdDivId INT,
			@NextOriginalStandardId INT,
			@DivisionName NVARCHAR(100),
			@NextStandardID INT,
			@NExtDivisionID INT

	SELECT @NextAcademicYearId = Academic_Year_ID
	FROM SchoolWise_Academic_Year_Master SAYM
	WHERE School_Id = @SchoolId
	AND Is_Deleted = 'N'
	AND Is_NewlyCreated = 'Y'

	SELECT @NextOriginalStandardId = SM.NextOriginalStandardId, @DivisionName = DM.Division_Name
	FROM YearWise_Student_Details YSD
	INNER JOIN Standard_Master SM
	ON YSD.Standard_Id = SM.Standard_Id
	INNER JOIN Division_Master DM
	ON YSD.Division_id = DM.Division_Id
	WHERE YSD.School_Id = @SchoolId
	AND YSD.academic_year_id = @AcademicYearId
	AND YSD.Student_Id = @StudentId
	AND SM.Is_Deleted = 'N'
	AND DM.Is_Deleted = 'N'

	SELECT @NextStandardID = Standard_Id
	FROM Standard_Master
	WHERE School_Id = @SchoolId
	AND Is_Deleted = 'N'
	AND academic_Year_Id = @NextAcademicYearId
	AND Original_Standard_Id = @NextOriginalStandardId

	SELECT @NextDivisionID = Division_Id
	FROM Division_Master
	WHERE School_Id = @SchoolId
	AND Is_Deleted = 'N'
	AND academic_Year_Id = @NextAcademicYearId
	AND Division_Name = @DivisionName

	IF NOT EXISTS
	(
		SELECT TOP 1 1
		FROM vw_standard_division
		WHERE School_Id = @SchoolId
		AND academic_year_id = @NextAcademicYearId
		AND Standard_Id = @NextStandardID
		AND Division_Id = @NExtDivisionID
	)
	BEGIN
		SELECT @NextDivisionID = Division_Id
		FROM Division_Master
		WHERE School_Id = @SchoolId
		AND Is_Deleted = 'N'
		AND academic_Year_Id = @NextAcademicYearId
		AND Division_Name = 'A'
	END

	SELECT @NextStdDivId = SchoolWise_Standard_Division_Id
	FROM vw_standard_division
	WHERE School_Id = @SchoolId
	AND academic_year_id = @NextAcademicYearId
	AND Standard_Id = @NextStandardID
	AND Division_Id = @NExtDivisionID

	DECLARE @tblNextYearPayment AS TABLE
	(
		DebitLogId INT, 
		PayableFor NVARCHAR(100), 
		FeeType NVARCHAR(100),
		Amount INT
	)

	INSERT INTO @tblNextYearPayment
	select DebitLogId, PayableFor, FeeType,SUM(Amount)
	from PaidInternalFeeDetailsOfNextYear
	where schoolid = @SchoolId
	and AcademicYearID = @NextAcademicYearId
	and IsDeleted = 0
	and SchoolwiseStudentId = @StudentId
	GROUP BY DebitLogId, PayableFor, FeeType

	INSERT INTO @tblDebitDetails
	SELECT     Fee_Type,
			   Payable_For,
			   Amount,
			   'Debit',
			   Paid_Date,
			   '' as Remark,
			   @NextStdDivId,
			   Schoolwise_Debit__Entry_Id,
			   0,
			   0,
			   @SchoolId,
			   @NextStandardID,
			   @NExtDivisionID,
			   999999,
			   Schoolwise_Debit__Entry_Id,
			   0,
			   0,
			   0,
			   'N' AS IsChequeBounced,
			   IsDueDateApplicable,
			   0,
			   0,
			   @NextAcademicYearId,			   
			   AccountHeaderId,
			   null,
			   0,
			   NULL
		  FROM Schoolwise_Debit_Entry_Log
		 WHERE Is_Deleted=N'N'
		   AND IsInternalFee=1
		   AND (Standard_Id = @NextStandardID OR Standard_Id IS NULL)
		   AND (Division_Id = @NExtDivisionID OR Division_Id IS NULL)
		   AND Academic_Year_Id = @NextAcademicYearId
		   

		--INSERT INTO @tblDebitDetails
	 --   SELECT SDEL.Fee_Type,
		--	   SDEL.Payable_For,
		--	   PIFD.Amount,
		--	   'Credit',
		--	   PIFD.PaidDate,
		--	   PIFD.Remarks,
		--	   @NextStdDivId,
		--	   0,
		--	   Schoolwise_Debit__Entry_Id,
		--	   0,
		--	   @SchoolId,
		--	   @NextStandardID,
		--	   @NExtDivisionID,
		--	   999999,
		--	   Schoolwise_Debit__Entry_Id,
		--	   0,
		--	   0,
		--	   0,
		--	   'N' AS IsChequeBounced,
		--	   IsDueDateApplicable
		--  FROM Schoolwise_Debit_Entry_Log SDEL
		--  INNER JOIN PaidInternalFeeDetailsOfNextYear PIFD
		--  ON SDEL.Schoolwise_Debit__Entry_Id = PIFD.DebitLogId
		-- WHERE Is_Deleted=N'N'
		--   AND IsInternalFee=1
		--   AND (Standard_Id = @NextStandardID OR Standard_Id IS NULL)
		--   AND (Division_Id = @NExtDivisionID OR Division_Id IS NULL)
		--   AND Academic_Year_Id = @NextAcademicYearId
		--   AND PIFD.IsDeleted = 0
		--   AND PIFD.SchoolwiseStudentID = @StudentId


		 UPDATE TDD
		 SET InternalFeeDetailsId = PIFD.Id,
			 FeeDetailsId = SDEL.Schoolwise_Debit__Entry_Id,
			 DebitCredit = 'Credit',
			 ReceiptNo = 0,
			 IsCleared = CASE WHEN PIFD.ChequeDetails IS NULL THEN 1 ELSE 0 END,
			 IsPartialPAyment = CASE WHEN TDD.Amount > TNYP.Amount THEN 1 ELSE 0 END,
			 SerialNumber = pifd.SerialNo,
			 PayableFor = pifd.PayableFor,
			 PaidAmount = PIFD.Amount,
			 FeePaidDate = PIFD.PaidDate
		  FROM @tblDebitDetails TDD
		  INNER JOIN Schoolwise_Debit_Entry_Log SDEL
		  ON TDD.InternalFeeMasterId = SDEL.Schoolwise_Debit__Entry_Id
		  INNER JOIN PaidInternalFeeDetailsOfNextYear PIFD
		  ON SDEL.Schoolwise_Debit__Entry_Id = PIFD.DebitLogId
		  INNER JOIN @tblNextYearPayment TNYP
		  ON SDEL.Schoolwise_Debit__Entry_Id = TNYP.DebitLogId
		  AND TDD.FeeType = TNYP.FeeType
		  AND TDD.PayableFor = REPLACE(TNYP.PayableFor,'-Partial','')
		 WHERE Is_Deleted=N'N'
		   AND IsInternalFee=1
		   AND (Standard_Id = @NextStandardID OR Standard_Id IS NULL)
		   AND (Division_Id = @NExtDivisionID OR Division_Id IS NULL)
		   AND Academic_Year_Id = @NextAcademicYearId
		   AND PIFD.IsDeleted = 0
		   AND PIFD.SchoolwiseStudentID = @StudentId
		   AND SDEL.Academic_Year_Id = @NextAcademicYearId
		   AND SDEL.Is_Deleted = 'N'

		   INSERT INTO @tblDebitDetails
		   SELECT     TDD.FeeType,
					   TDD.PayableFor+'-Unpaid',
					   TDD.Amount - PIFD.Amount,
					   'Debit',
					   TDD.PaidDate,
					   '' as Remark,
					   @NextStdDivId,
					   Schoolwise_Debit__Entry_Id,
					   0,
					   0,
					   @SchoolId,
					   @NextStandardID,
					   @NExtDivisionID,
					   888888,
					   Schoolwise_Debit__Entry_Id,
					   0,
					   0,
					   0,
					   'N' AS IsChequeBounced,
					   SDEL.IsDueDateApplicable,
					   0,
					   TDD.NetBankingPaymentTransactionId,
					   @NextAcademicYearId,					   
					   SDEL.AccountHeaderId,
					   TDD.PaymentDoneDate,
					   0,
					   NULL
		   FROM @tblDebitDetails TDD
		  INNER JOIN Schoolwise_Debit_Entry_Log SDEL
		  ON TDD.InternalFeeMasterId = SDEL.Schoolwise_Debit__Entry_Id
		  INNER JOIN PaidInternalFeeDetailsOfNextYear PIFD
		  ON SDEL.Schoolwise_Debit__Entry_Id = PIFD.DebitLogId
		 WHERE Is_Deleted=N'N'
		   AND IsInternalFee=1
		   AND (Standard_Id = @NextStandardID OR Standard_Id IS NULL)
		   AND (Division_Id = @NExtDivisionID OR Division_Id IS NULL)
		   AND Academic_Year_Id = @NextAcademicYearId
		   AND PIFD.IsDeleted = 0
		   AND PIFD.SchoolwiseStudentID = @StudentId
		   AND SDEL.Academic_Year_Id = @NextAcademicYearId
		   AND SDEL.Is_Deleted = 'N'
		   AND TDD.IsPartialPAyment = 1

		   update @tblDebitDetails
		   set Amount = PaidAmount
		   WHERE DebitCredit = 'credit'

		 --UPDATE TDD
		 --SET Amount = PIFD.Amount,
			-- PayableFor = TDD.PayableFor +'-Partial'
		 --FROM @tblDebitDetails TDD
		 -- INNER JOIN Schoolwise_Debit_Entry_Log SDEL
		 -- ON TDD.InternalFeeMasterId = SDEL.Schoolwise_Debit__Entry_Id
		 -- INNER JOIN PaidInternalFeeDetailsOfNextYear PIFD
		 -- ON SDEL.Schoolwise_Debit__Entry_Id = PIFD.DebitLogId
		 --WHERE Is_Deleted=N'N'
		 --  AND IsInternalFee=1
		 --  AND (Standard_Id = @NextStandardID OR Standard_Id IS NULL)
		 --  AND (Division_Id = @NExtDivisionID OR Division_Id IS NULL)
		 --  AND Academic_Year_Id = @NextAcademicYearId
		 --  AND PIFD.IsDeleted = 0
		 --  AND PIFD.SchoolwiseStudentID = @StudentId
		 --  AND SDEL.Academic_Year_Id = @NextAcademicYearId
		 --  AND SDEL.Is_Deleted = 'N'
		 --  AND TDD.IsPartialPAyment = 1


	 UPDATE @tblDebitDetails SET IsLastCredit=1
	 WHERE InternalFeeDetailsId =( SELECT MAX(InternalFeeDetailsId) FROM @tblDebitDetails
	                               WHERE DebitCredit=N'Credit'
	                               AND IsChequeBounced = 'N'
	                               ) 

END

	DECLARE @MaxDate DATE

	select @MaxDate = DATEADD(MONTH,1,MAX(PaidDate))
	from @tblDebitDetails

	select * from @tblDebitDetails
	Order by CASE WHEN IsDueDateApplicable = 1 THEN PaidDate ELSE @MaxDate END, InternalFeeDetailsId
	    
END