/****** Object:  StoredProcedure [dbo].[usp_GetInternalFeeReceiptForReport]    Script Date: 23-06-2026 17:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Dnyaneshwar Shinde
-- Create date: 05 Jun 2017
-- Description:	This USP is used to get the Internal Fee Receipt Details For Display As a bulk receipt.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetInternalFeeReceiptForReport]
	@school_id INT,
	@academic_Year_Id INT,
	@FromDate DATETIME,
	@ToDate DATETIME,
	@AccountHeaderId INT,
	@Standard_Id NVARCHAR(500),
	@ReceiptNumber INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;    

	DECLARE @tblStandards AS TABLE
	(
		StandardId INT
	)

	IF @Standard_Id <> ''
		BEGIN
			INSERT INTO @tblStandards
			     SELECT * 
				   FROM dbo.udf_GetTableFromList(@Standard_Id)
		END
	ELSE
		BEGIN
			INSERT INTO @tblStandards
				 SELECT Standard_Id 
				   FROM Standard_Master WITH(NOLOCK)
				  WHERE academic_Year_Id = @Academic_Year_Id
					AND Is_Deleted = 'N'
					AND School_Id = @School_Id		
		END	

DECLARE @tblStudentDetails AS TABLE
(
	Id INT IDENTITY(1,1),
	StudentId INT,
	ReceiptNo INT,
	TotalAMount INT,
	PayableFor NVARCHAR(1000)
)

DECLARE @StudentId INT,
		@ReceiptNo INT,
		@Id INT

	 INSERT INTO @tblStudentDetails
	 SELECT IFD.Schoolwise_Student_Id,
			CONVERT(int,IFD.ReceiptNo),
			SUM(IFD.Amount) AS TotalAMount,
			(
				STUFF((select ','+ IFD1.Payable_For
				from InternalFeeDetails IFD1
					WHERE IFD1.SchoolId = @school_id
					AND IFD1.AcademicYearId = @academic_Year_Id
					AND IFD1.[Debit/Credit] = 'Credit'
					AND IFD1.Is_Deleted = 0
					AND CONVERT(date,IFD1.PaidDate) >= CONVERT(date,@FromDate)
					AND CONVERT(date,IFD1.PaidDate) <= CONVERT(DATE,@ToDate)	
					and IFD1.Schoolwise_Student_Id = ifd.Schoolwise_Student_Id
					and ifd1.ReceiptNo = ifd.ReceiptNo
				FOR XML PATH('')
				 ),1,1,'')
			)			
	   FROM InternalFeeDetails IFD
 INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
		 ON IFD.InternalFeeMasterID = SWDEL.Schoolwise_Debit__Entry_Id
		AND IFD.SchoolId = SWDEL.School_Id
		AND IFD.AcademicYearId = SWDEL.Academic_Year_Id
 INNER JOIN YearWise_Student_Details YWSD
		 ON IFD.Schoolwise_Student_Id = YWSD.Student_Id
		AND IFD.SchoolId = YWSD.School_Id
		AND IFD.AcademicYearId = YWSD.Academic_Year_ID
 INNER JOIN @tblStandards tblStandard
		 ON YWSD.Standard_Id = tblStandard.StandardId		
	  WHERE IFD.SchoolId = @school_id
		AND IFD.AcademicYearId = @academic_Year_Id
		AND IFD.[Debit/Credit] = 'Credit'
		AND IFD.Is_Deleted = 0
		AND CONVERT(date,IFD.PaidDate) >= CONVERT(date,@FromDate)
		AND CONVERT(date,IFD.PaidDate) <= CONVERT(DATE,@ToDate)	
		AND SWDEL.AccountHeaderId = @AccountHeaderId
		AND (IFD.ReceiptNo = @ReceiptNumber OR @ReceiptNumber = 0)
		GROUP BY IFD.Schoolwise_Student_Id,IFD.ReceiptNo

	 INSERT INTO @tblStudentDetails
	 SELECT IFD.Schoolwise_Student_Id,
			CONVERT(int,IFD.ReceiptNo),
			SUM(IFD.Amount) AS TotalAMount,
			(
				STUFF((select ','+ IFD1.Payable_For
				from InternalFeeDetails IFD1
					WHERE IFD1.SchoolId = @school_id
					AND IFD1.AcademicYearId = @academic_Year_Id
					AND IFD1.[Debit/Credit] = 'Credit'
					AND IFD1.Is_Deleted = 0
					AND CONVERT(date,IFD1.PaidDate) >= CONVERT(date,@FromDate)
					AND CONVERT(date,IFD1.PaidDate) <= CONVERT(DATE,@ToDate)	
					and IFD1.Schoolwise_Student_Id = ifd.Schoolwise_Student_Id
					and ifd1.ReceiptNo = ifd.ReceiptNo
				FOR XML PATH('')
				 ),1,1,'')
			)			
	   FROM InternalFeeDetails IFD 
 INNER JOIN YearWise_Student_Details YWSD
		 ON IFD.Schoolwise_Student_Id = YWSD.Student_Id
		AND IFD.SchoolId = YWSD.School_Id
		AND IFD.AcademicYearId = YWSD.Academic_Year_ID
 INNER JOIN @tblStandards tblStandard
		 ON YWSD.Standard_Id = tblStandard.StandardId		
	  WHERE IFD.SchoolId = @school_id
		AND IFD.AcademicYearId = @academic_Year_Id
		AND IFD.[Debit/Credit] = 'Credit'
		AND IFD.Is_Deleted = 0
		AND CONVERT(date,IFD.PaidDate) >= CONVERT(date,@FromDate)
		AND CONVERT(date,IFD.PaidDate) <= CONVERT(DATE,@ToDate)	
		AND IFD.AccountHeaderId = @AccountHeaderId
		AND (IFD.ReceiptNo = @ReceiptNumber OR @ReceiptNumber = 0)
		and (IFD.InternalFeeMasterID is null OR IFD.InternalFeeMasterID = 0)
		GROUP BY IFD.Schoolwise_Student_Id,IFD.ReceiptNo

DECLARE @tblStudentFeeDetails AS TABLE
(
		 ReceiptNumber                  NVARCHAR(50),
		 SchoolName                     NVARCHAR(1000),
		 Organization                   NVARCHAR(1000),
		 Address                        NVARCHAR(max),
		 PhoneNo1                       NVARCHAR(30),
		 PhoneNo2                       NVARCHAR(30),
		 RegNo                          NVARCHAR(100),		 
		 Salutation                     NVARCHAR(100),
		 StudentName                    NVARCHAR(1000),
		 Class                          NVARCHAR(200),
		 EnrollmentNo					NVARCHAR(100),
		 AmountPaid                     INT,
		 RollNo                         INT,
		 AmountInWords                  NVARCHAR(1000),
		 Remarks                        NVARCHAR(4000),
		 DebitOrCredit                  NVARCHAR(100),
		 PayableFor                     NVARCHAR(1000),
		 PaidDate                       SMALLDATETIME,
		 sex                            CHAR(1),
		 AcademicYear                   NVARCHAR(20),
		 ChequeNumber                   NVARCHAR(100),
		 Cheque_Date                    DATETIME,
		 Bank_Name                      NVARCHAR(1000),
		 Cheque_Amount                  INT,
		 ChequeRemarks                  NVARCHAR(1000), 	
		 Generator                      NVARCHAR(100),
		 SchoolId						INT,
		 AccountHeaderId				INT,
		 AccountHeaderName				NVARCHAR(1000),		 
		 PaymentType				    INT,
		 StudentId						INT,
		 BankId							INT,
		 UserId							INT
)	

DECLARE @AcademicYear NVARCHAR(15),
		@Generator NVARCHAR(100),
		@CreatorUserId INT,
		@PayableFor NVARCHAR(500),
		@FeeType NVARCHAR(500),
		@TotalAmount INT			

SELECT @AcademicYear = CAST(DATEPART(YEAR, Start_date) AS NVARCHAR) + N'-' + SUBSTRING(CAST(DATEPART(YEAR, Start_date) + 1 AS NVARCHAR), 3, 2)							   
  FROM SchoolWise_Academic_Year_Master WITH(NOLOCK)
 WHERE Is_Deleted = N'N'
   AND Academic_Year_ID = @Academic_Year_Id			

WHILE EXISTS(
				SELECT TOP 1 1
				      FROM @tblStudentDetails
			)
			BEGIN
				SELECT TOP 1 @StudentId = StudentId,
				             @ReceiptNo = ReceiptNo,
							 @Id = Id,
							 @PayableFor = PayableFor,
							 @TotalAmount = TotalAmount
				        FROM @tblStudentDetails

						   IF LEFT(@PayableFor, 1) = ','
								SET @PayableFor = STUFF(@PayableFor,1,1,'') 

				INSERT INTO @tblStudentFeeDetails
					 SELECT dbo.udf_GetPrefixString(4,'0',@ReceiptNo) AS ReceiptNo,
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',
							@TotalAmount,						
							0,
							CASE WHEN (@TotalAmount > 0) THEN N'Rupees '+ (SELECT [dbo].udf_ConvertNumberToText(@TotalAmount))+ N'' + N'Only'
														ELSE N'-' END,
							IFD.Remark,
							IFD.[Debit/Credit],
							@PayableFor,
							IFD.PaidDate,						
							'',
							@AcademicYear,
							CASE IFD.PaymentTypeId WHEN  5 THEN IFEP.TransactionNumber WHEN 2 THEN IFCD.ChequeNumber ELSE '' END AS ChequeNumber,
							--IFCD.ChequeDate,					
							CASE IFD.PaymentTypeId WHEN 5 THEN IFD.PaidDate WHEN 2 THEN IFCD.ChequeDate END AS ChequeDate,
							'',
							CASE IFD.PaymentTypeId WHEN 5 THEN IFEP.Amount WHEN 2 THEN IFCD.ChequeAmount ELSE 0 END AS ChequeAmount,
							--IFCD.ChequeAmount,
							IFCD.Remarks,					
							'',
							@school_id,
							AHM.AccountHeaderId,
							AHM.AccountHeaderName,
							IFD.PaymentTypeId,
							IFD.Schoolwise_Student_Id,
							CASE IFD.PaymentTypeId WHEN 5 THEN ISNULL(IFEP.BankId,0) WHEN 2 THEN ISNULL(IFCD.BankId,0) ELSE 0 END AS BankId,
							IFD.InsertedById
					  FROM dbo.InternalFeeDetails IFD				
		        INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
						ON SWDEL.Schoolwise_Debit__Entry_Id = IFD.InternalFeeMasterID
					   AND SWDEL.School_Id = IFD.SchoolId
					   AND SWDEL.Academic_Year_Id = IFD.AcademicYearId
			    INNER JOIN AccountHeaderMaster AHM
						ON AHM.AccountHeaderId = SWDEL.AccountHeaderId
					   AND AHM.SchoolId = SWDEL.School_Id 
		   LEFT OUTER JOIN InternalFeePDCDetails IFPDC
						ON IFD.InternalFeeDetailsId = IFPDC.InternalFeeId
					   AND IFD.SchoolId = IFPDC.SchoolId
					   AND IFD.AcademicYearId = IFPDC.AcademicYearId
		   LEFT OUTER JOIN InternalFeeChequeDetails IFCD
						ON IFCD.SchoolwiseStudentId = IFD.Schoolwise_Student_Id
					   AND IFPDC.PDCId = IFCD.Id
					   AND IFCD.SchoolId = IFPDC.SchoolId
					   AND IFCD.AcademicYearId = IFPDC.AcademicYearId
					   AND IFCD.IsDeleted = 0		   
		   LEFT OUTER JOIN InternalFeeElectronicPayments IFEP
					    ON IFD.InternalFeeDetailsId = IFEP.InternalFeeDetailsId
					   AND IFEP.IsDeleted = 0
					 WHERE IFD.SchoolId = @school_id
					   AND IFD.AcademicYearId = @academic_Year_Id
					   AND IFD.ReceiptNo = @ReceiptNo
					   AND IFD.IsChequeBounced = 'N'
					   AND IFD.Schoolwise_Student_Id = @StudentId
					   AND AHM.IsForInternalFee = 1
					   AND AHM.IsDeleted = 0
					   and IFD.Is_Deleted = 0
					   AND CONVERT(date,IFD.PaidDate) >= CONVERT(date,@FromDate)
					   AND CONVERT(date,IFD.PaidDate) <= CONVERT(DATE,@ToDate)	
					   AND SWDEL.AccountHeaderId = @AccountHeaderId
				  GROUP BY IFD.Schoolwise_Student_Id
						  ,IFD.PaidDate
						  ,IFD.Remark						  
						  ,IFD.PaymentTypeId
						  ,AHM.AccountHeaderName						  
						  ,IFD.[Debit/Credit]
						  ,IFCD.ChequeNumber
						  ,IFCD.ChequeDate						
						  ,IFCD.ChequeAmount
						  ,IFCD.Remarks						
						  ,AHM.AccountHeaderId		
						  ,IFCD.BankId
						  ,IFD.InsertedById
						  ,IFEP.TransactionNumber
						  ,IFEP.Amount
						  ,IFEP.BankId

						  INSERT INTO @tblStudentFeeDetails
					 SELECT dbo.udf_GetPrefixString(4,'0',@ReceiptNo) AS ReceiptNo,
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',						
							'',
							@TotalAmount,						
							0,
							CASE WHEN (@TotalAmount > 0) THEN N'Rupees '+ (SELECT [dbo].udf_ConvertNumberToText(@TotalAmount))+ N'' + N'Only'
														ELSE N'-' END,
							IFD.Remark,
							IFD.[Debit/Credit],
							@PayableFor,
							IFD.PaidDate,						
							'',
							@AcademicYear,
							CASE IFD.PaymentTypeId WHEN  5 THEN IFEP.TransactionNumber WHEN 2 THEN IFCD.ChequeNumber ELSE '' END AS ChequeNumber,
							--IFCD.ChequeDate,					
							CASE IFD.PaymentTypeId WHEN 5 THEN IFD.PaidDate WHEN 2 THEN IFCD.ChequeDate END AS ChequeDate,
							'',
							CASE IFD.PaymentTypeId WHEN 5 THEN IFEP.Amount WHEN 2 THEN IFCD.ChequeAmount ELSE 0 END AS ChequeAmount,
							--IFCD.ChequeAmount,
							IFCD.Remarks,					
							'',
							@school_id,
							AHM.AccountHeaderId,
							AHM.AccountHeaderName,
							IFD.PaymentTypeId,
							IFD.Schoolwise_Student_Id,
							CASE IFD.PaymentTypeId WHEN 5 THEN ISNULL(IFEP.BankId,0) WHEN 2 THEN ISNULL(IFCD.BankId,0) ELSE 0 END AS BankId,
							IFD.InsertedById
					  FROM dbo.InternalFeeDetails IFD				
		    --    INNER JOIN Schoolwise_Debit_Entry_Log SWDEL
						--ON SWDEL.Schoolwise_Debit__Entry_Id = IFD.InternalFeeMasterID
					 --  AND SWDEL.School_Id = IFD.SchoolId
					 --  AND SWDEL.Academic_Year_Id = IFD.AcademicYearId
			    INNER JOIN AccountHeaderMaster AHM
						ON AHM.AccountHeaderId = IFD.AccountHeaderId
					   AND AHM.SchoolId = IFD.SchoolId 
		   LEFT OUTER JOIN InternalFeePDCDetails IFPDC
						ON IFD.InternalFeeDetailsId = IFPDC.InternalFeeId
					   AND IFD.SchoolId = IFPDC.SchoolId
					   AND IFD.AcademicYearId = IFPDC.AcademicYearId
		   LEFT OUTER JOIN InternalFeeChequeDetails IFCD
						ON IFCD.SchoolwiseStudentId = IFD.Schoolwise_Student_Id
					   AND IFPDC.PDCId = IFCD.Id
					   AND IFCD.SchoolId = IFPDC.SchoolId
					   AND IFCD.AcademicYearId = IFPDC.AcademicYearId
					   AND IFCD.IsDeleted = 0		   
		   LEFT OUTER JOIN InternalFeeElectronicPayments IFEP
					    ON IFD.InternalFeeDetailsId = IFEP.InternalFeeDetailsId
					   AND IFEP.IsDeleted = 0
					 WHERE IFD.SchoolId = @school_id
					   AND IFD.AcademicYearId = @academic_Year_Id
					   AND IFD.ReceiptNo = @ReceiptNo
					   AND IFD.IsChequeBounced = 'N'
					   AND IFD.Schoolwise_Student_Id = @StudentId
					   AND AHM.IsForInternalFee = 1
					   AND AHM.IsDeleted = 0
					   and IFD.Is_Deleted = 0
					   AND CONVERT(date,IFD.PaidDate) >= CONVERT(date,@FromDate)
					   AND CONVERT(date,IFD.PaidDate) <= CONVERT(DATE,@ToDate)	
					   AND IFD.AccountHeaderId = @AccountHeaderId
					   AND (IFD.InternalFeeMasterID IS NULL OR IFD.InternalFeeMasterID = 0)
				  GROUP BY IFD.Schoolwise_Student_Id
						  ,IFD.PaidDate
						  ,IFD.Remark						  
						  ,IFD.PaymentTypeId
						  ,AHM.AccountHeaderName						  
						  ,IFD.[Debit/Credit]
						  ,IFCD.ChequeNumber
						  ,IFCD.ChequeDate						
						  ,IFCD.ChequeAmount
						  ,IFCD.Remarks						
						  ,AHM.AccountHeaderId		
						  ,IFCD.BankId
						  ,IFD.InsertedById
						  ,IFEP.TransactionNumber
						  ,IFEP.Amount
						  ,IFEP.BankId


						SET @PayableFor = ''
						SET @FeeType = ''
						SET @TotalAmount = 0		  

				   DELETE FROM @tblStudentDetails
						 WHERE Id = @Id
						   AND ReceiptNo = @ReceiptNo
						   AND StudentId = @StudentId
			END

			UPDATE SFD
			SET  SchoolName = SM.School_Name,
				 Organization= SM.School_Orgn_Name,
				 Address= SM.Address,
				 PhoneNo1= SM.Phone_Number,
				 PhoneNo2= SM.Phone_Number2,
				 RegNo   = sm.Registration_No,
				 Salutation  = Salutation_Name,
				 StudentName     = BSD.StudentFMLName,
				 Class         = vsd.ClassName,
				 EnrollmentNo	 = BSD.Enrolment_NUmber,
				 RollNo = ysd.Roll_No,
				 sex = bsd.Sex,
				 Bank_Name = ISNULL(SWBM.Bank_Name,''),
				 Generator = ISNULL(vwAPU.UserName,'')
			from @tblStudentFeeDetails SFD
			INNER JOIN vw_BaseStudentDetails BSD
			ON SFD.StudentId = BSD.Schoolwise_Student_Id
			INNER JOIN yearwise_Student_Details YSD
			ON BSD.Schoolwise_Student_Id = YSD.student_Id
			inner join vw_Standard_Division VSD
			ON ysd.Standard_id = VSD.Standard_id
			and ysd.Division_Id = VSD.Division_Id
			INNER JOIN SCHOOL_MASTER SM
			ON SM.School_Id = @school_id
			LEFT OUTER JOIN Schoolwise_Bank_Master SWBM
						ON SFD.BankId = SWBM.Schoolwise_Bank_Id
					   AND SWBM.Is_Deleted = 'N'
		   LEFT OUTER JOIN vw_AllPayrollUsers vwAPU WITH(NOLOCK)
						ON SFD.UserId = vwAPU.UserId					   
					   AND vwAPU.Is_Deleted = 'N'
			where YSD.Academic_Year_id = @academic_Year_Id
			AND YSD.IS_DELETED = 'N'
			and SM.IS_DELETED = 'N'

		SELECT *,
			   ROW_NUMBER() OVER(ORDER BY CONVERT(int, ReceiptNumber)) AS SrNumber 
		  FROM @tblStudentFeeDetails
	  ORDER BY ReceiptNumber
END