/****** Object:  StoredProcedure [dbo].[usp_GetXseedProgressReport]    Script Date: 06-10-2025 14:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ===========================================================================================================
-- Author:		Sachin
-- Create date: 22-June-2011
-- Description:	This stored procedure is used to return xseed progress report details to display on report.
-- ===========================================================================================================
ALTER PROCEDURE [dbo].[usp_GetXseedProgressReport]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT = NULL,
	@SchoolWise_Standard_Division_Id INT,
	@YearwiseStudentId INT = NULL,
	@AssessmentId INT,
	@IsFromReportScreen BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		


	DECLARE @tblHeadings AS TABLE
	(
		HeadingId INT IDENTITY(1,1),
		Name NVARCHAR(30),
		SubHeader NVARCHAR(30)
	)

	INSERT INTO @tblHeadings(Name,SubHeader)
	SELECT N' Curricular Subjects','Learning Outcomes'

	INSERT INTO @tblHeadings(Name,SubHeader)
	SELECT N'Non  Curricular Subjects','Subject'

	INSERT INTO @tblHeadings(Name,SubHeader)
	SELECT N'Co-Curricular Subjects','Subject'

	--	SELECT * FROM @tblHeadings

--Collect Promoted To and Reopening Date
	--IF EXISTS(SELECT TOP 1 1 FROM schoolwise_academic_year_master WHERE school_id = 18 AND is_deleted = 'N' AND Is_NewlyCreated = 'Y')
	--BEGIN
	
	DECLARE @NextYearAcademicYearId INT
	DECLARE @OriginalStandardId INT
	DECLARE @NextStandardId INT
	DECLARE @SchoolReOpeningDate Date
	DECLARE @NextStandardName NVARCHAR(30)
	
	SELECT @NextYearAcademicYearId = Academic_Year_ID 
	from schoolwise_academic_year_master 
	where school_id = @School_Id 
	and is_deleted = 'N' 
	and Is_NewlyCreated = 'Y'
	
--	SELECT	@OriginalStandardId = dbo.vw_standard_division.Original_Standard_Id + 1 
--      FROM  dbo.vw_standard_division 
--INNER JOIN  dbo.YearWise_Student_Details ON dbo.vw_standard_division.Standard_Id = dbo.YearWise_Student_Details.Standard_Id 
--       AND  dbo.vw_standard_division.Division_Id = dbo.YearWise_Student_Details.Division_id
--     WHERE  (dbo.vw_standard_division.School_Id = @School_Id) 
--       AND  (dbo.vw_standard_division.academic_year_id = @Academic_Year_Id) 
--       AND  (dbo.YearWise_Student_Details.YearWise_Student_Id = @YearwiseStudentId)

	DECLARE @CurrentOriginalStandardId INT

	SELECT	@CurrentOriginalStandardId = Original_Standard_Id
		  FROM  Standard_Master SM
		 WHERE  (SM.School_Id = @School_Id) 
		   AND  (SM.academic_year_id = @Academic_Year_Id) 
		   AND Standard_Id = @Standard_Id		   
		   AND SM.Is_Deleted = 'N'

   
	SELECT TOP 1 @OriginalStandardId = Original_Standard_Id
	FROM Standard_Master
   WHERE  (School_Id = @School_Id) 
     AND  (academic_year_id = @NextYearAcademicYearId) 
     AND Is_Deleted = 'N'
	AND Original_Standard_Id > 
	(
		SELECT	Original_Standard_Id
		  FROM  Standard_Master SM
		 WHERE  (SM.School_Id = @School_Id) 
		   AND  (SM.academic_year_id = @Academic_Year_Id) 
		   AND Standard_Id = @Standard_Id		   
		   AND SM.Is_Deleted = 'N'
     )
     ORDER BY Original_Standard_Id
    
    --SELECT TOP 1 @NextStandardName = Standard_Name 
    --      FROM vw_standard_division 
    --     WHERE Academic_year_id = @NextYearAcademicYearId 
    --       AND school_id = @School_Id 
    --       AND original_Standard_id = @OriginalStandardId
                      
    --SELECT TOP 1  @NextStandardId = Standard_Id 
    --      FROM vw_standard_division 
    --     WHERE Academic_year_id = @NextYearAcademicYearId 
    --       AND school_id = @School_Id 
    --       AND original_Standard_id = @OriginalStandardId
    

    
     SELECT @NextStandardName = Standard_Name, @NextStandardId = Standard_Id  
          FROM Standard_Master
         WHERE Academic_year_id = @NextYearAcademicYearId 
           AND school_id = @School_Id 
           AND original_Standard_id = @OriginalStandardId
                      
        SELECT @SchoolReOpeningDate = SchoolReopeningDate 
          FROM Standardwise_Academic_Year 
         WHERE academic_year_id = @NextYearAcademicYearId 
           AND StandardId = @NextStandardId
	--END

	DECLARE @tblProgressReport AS TABLE
	(
		SchoolWise_Standard_Division_Id INT,
		YearWise_Student_Id INT,
		StudentName NVARCHAR(203),
		ClassName NVARCHAR(31),
		Roll_No INT,
		Subject_Id INT,
		Original_Subject_Id INT,
		Subject_Name NVARCHAR(50),
		SubjectSectionConfigurationId INT,
		SubjectSectionSortOrder INT,
		SubjectSectionName NVARCHAR(50),
		LearningOutcomeConfigId INT,
		LearningOutcomeSortOrder INT,
		LearningOutcome NVARCHAR(1000),
		GradeId INT,
		ShortName NVARCHAR(10),
		Observation NVARCHAR(1000),
		IsCoCurricularActivity BIT,
		HeaderId INT,
		SubjectSectionHeading NVARCHAR(150),
		Remark NVARCHAR(1000),
		SchoolReopeningDate DateTime,
		PromotedTo NVARCHAR(600)
	) 

	DECLARE @AssessmentName NVARCHAR(100)
	SELECT @AssessmentName = Name 
	FROM XSEED.AssessmentMaster
	WHERE SchoolId = @School_Id
	AND Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	AND AssessmentId = @AssessmentId
	

	-- Xseed applicable subjects
	INSERT INTO @tblProgressReport
	SELECT 
	SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id,
	YearWise_Student_Details.YearWise_Student_Id,
	vw_BaseStudentDetails.StudentName,
	vw_standard_division.className,
	YearWise_Student_Details.Roll_No,
	Subject_Master.Subject_Id,
	Subject_Master.Original_Subject_Id,
	Subject_Master.Subject_Name,
	Xseed.SubjectSectionConfigurationMaster.SubjectSectionConfigurationId, 
	Xseed.SubjectSectionConfigurationMaster.SortOrder,
	Xseed.SubjectSectionConfigurationMaster.SubjectSectionName,
	Xseed.LearningOutcomesGrade.LearningOutcomeConfigId, 
	Xseed.LearningOutcomeConfigMaster.SortOrder,
	Xseed.LearningOutcomeConfigMaster.LearningOutcome,
	Xseed.LearningOutcomesGrade.GradeId,
	Xseed.GradeMaster.ShortName,
	N'',
	0 AS IsCoCurricularActivity,
	1 AS HeaderId,
	--Subject_Master.Subject_Name + N' - ' +
	 Xseed.SubjectSectionConfigurationMaster.SubjectSectionName,
	'',
	@SchoolReOpeningDate,
	CASE WHEN @NextStandardName = '1' THEN UPPER('Promoted To Standard ' + @NextStandardName) ELSE UPPER('Promoted To ' + @NextStandardName) END
	FROM Xseed.LearningOutcomesGrade INNER JOIN YearWise_Student_Details
	ON Xseed.LearningOutcomesGrade.YearwiseStudentId = YearWise_Student_Details.YearWise_Student_Id
	
	INNER JOIN vw_BaseStudentDetails 
	ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
	
	INNER JOIN SchoolWise_Standard_Division_Master
	ON YearWise_Student_Details.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id
	AND YearWise_Student_Details.Division_id= SchoolWise_Standard_Division_Master.Division_Id
	
	INNER JOIN vw_standard_division
	ON SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id = vw_standard_division.SchoolWise_Standard_Division_Id
	
	INNER JOIN Xseed.GradeMaster
	ON Xseed.LearningOutcomesGrade.GradeId = Xseed.GradeMaster.GradeId
	
	INNER JOIN Xseed.LearningOutcomeConfigMaster
	ON Xseed.LearningOutcomesGrade.LearningOutcomeConfigId = Xseed.LearningOutcomeConfigMaster.LearningOutcomeConfigId
	
	INNER JOIN Xseed.SubjectSectionConfigurationMaster
	ON Xseed.LearningOutcomeConfigMaster.SubjectSectionConfigId = Xseed.SubjectSectionConfigurationMaster.SubjectSectionConfigurationId
	
	INNER JOIN SchoolWise_Standard_Subject_Master
	ON Xseed.SubjectSectionConfigurationMaster.StandardwiseSubjectId = SchoolWise_Standard_Subject_Master.SchoolWise_Standard_Subject_Id
	
	INNER JOIN Subject_Master
	ON SchoolWise_Standard_Subject_Master.Subject_Id = Subject_Master.Subject_Id
	
	INNER JOIN Xseed.StandardwiseAssessmentMaster
	ON Xseed.LearningOutcomeConfigMaster.StandardwiseAssessmentId = Xseed.StandardwiseAssessmentMaster.StandardwiseAssessmentId
		
	WHERE Xseed.LearningOutcomesGrade.SchoolId = @School_Id AND Xseed.LearningOutcomesGrade.Academic_Year_Id =@Academic_Year_Id AND Xseed.LearningOutcomesGrade.Is_Deleted = N'N'
	AND (Xseed.LearningOutcomesGrade.YearwiseStudentId = @YearwiseStudentId OR @YearwiseStudentId IS NULL)
	AND YearWise_Student_Details.Is_Deleted = N'N'
	AND SchoolWise_Standard_Division_Master.Is_Deleted = N'N'
	AND Xseed.GradeMaster.Is_Deleted = N'N'
	AND Xseed.LearningOutcomesGrade.Is_Deleted = 'N'
	AND Xseed.LearningOutcomeConfigMaster.Is_Deleted = N'N'
	AND Xseed.SubjectSectionConfigurationMaster.Is_Deleted = N'N'
	AND SchoolWise_Standard_Subject_Master.Is_Deleted = N'N'
	AND Subject_Master.Is_Deleted = N'N'
	AND Xseed.StandardwiseAssessmentMaster.Is_Deleted = N'N'
	AND Xseed.StandardwiseAssessmentMaster.AssessmentId = @AssessmentId
	AND SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id
    AND (@AssessmentName = 'Term 1' OR (@AssessmentName = 'Term 2' AND vw_BaseStudentDetails.SchoolLeft_Date IS NULL))
	ORDER BY YearWise_Student_Details.Roll_No, Subject_Master.Original_Subject_Id, Xseed.SubjectSectionConfigurationMaster.SortOrder,Xseed.LearningOutcomeConfigMaster.SortOrder
	

	UPDATE @tblProgressReport
	SET Observation = Xseed.LearningOutcomesObservation.Observation
	FROM @tblProgressReport tblProgressReport INNER JOIN Xseed.LearningOutcomesObservation
	ON tblProgressReport.SubjectSectionConfigurationId = Xseed.LearningOutcomesObservation.SubjectSectionConfigurationId
	AND tblProgressReport.YearWise_Student_Id = Xseed.LearningOutcomesObservation.YearWiseStudentId	
	WHERE SchoolId = @School_Id
	AND Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = N'N'
	AND Xseed.LearningOutcomesObservation.AssessmentId = @AssessmentId
	--AND Xseed.LearningOutcomesObservation.YearwiseStudentId = @YearwiseStudentId
	
	-- Non xseed subjects
	
	INSERT INTO @tblProgressReport
	SELECT 
	SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id,
	YearWise_Student_Details.YearWise_Student_Id,
	vw_BaseStudentDetails.StudentName,
	vw_standard_division.className,
	YearWise_Student_Details.Roll_No,
	Subject_Master.Subject_Id,
	Subject_Master.Original_Subject_Id * 1000,
	Subject_Master.Subject_Name,
	0, 
	0,
	Subject_Master.Subject_Name,
	0, 
	0,
	Subject_Master.Subject_Name,
	Xseed.NonXseedSubjectGardes.GradeId,
	Xseed.GradeMaster.ShortName,
	Xseed.NonXseedSubjectGardes.Observation,
	Subject_Master.Is_CoCurricularActivity,
	CASE Subject_Master.Is_CoCurricularActivity WHEN 0 THEN 2 ELSE 3 END AS HeaderId,
	CASE WHEN Subject_Master.Subject_Name = 'P. E. (Sports)' THEN 'Physical Education' ELSE Subject_Master.Subject_Name END Subject_Name,
	'',
	@SchoolReOpeningDate,
	--UPPER('Promoted To Standard ' + @NextStandardName)
	CASE WHEN @NextStandardName = '1' THEN UPPER('Promoted To Standard ' + @NextStandardName) ELSE UPPER('Promoted To ' + @NextStandardName) END
 	FROM Xseed.NonXseedSubjectGardes INNER JOIN YearWise_Student_Details
	ON Xseed.NonXseedSubjectGardes.YearwiseStudentId = YearWise_Student_Details.YearWise_Student_Id
	
	INNER JOIN vw_BaseStudentDetails 
	ON YearWise_Student_Details.Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id
	
	INNER JOIN SchoolWise_Standard_Division_Master
	ON YearWise_Student_Details.Standard_Id = SchoolWise_Standard_Division_Master.Standard_Id
	AND YearWise_Student_Details.Division_id= SchoolWise_Standard_Division_Master.Division_Id
	
	INNER JOIN vw_standard_division
	ON SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id = vw_standard_division.SchoolWise_Standard_Division_Id
	
	INNER JOIN Xseed.GradeMaster
	ON Xseed.NonXseedSubjectGardes.GradeId = Xseed.GradeMaster.GradeId
	
	INNER JOIN Subject_Master
	ON Xseed.NonXseedSubjectGardes.SubjectId = Subject_Master.Subject_Id
	
	WHERE
	 Xseed.NonXseedSubjectGardes.SchoolId = @School_Id AND Xseed.NonXseedSubjectGardes.Academic_Year_Id =@Academic_Year_Id AND Xseed.NonXseedSubjectGardes.Is_Deleted = N'N'
	AND (Xseed.NonXseedSubjectGardes.YearwiseStudentId = @YearwiseStudentId OR @YearwiseStudentId IS NULL)
	AND YearWise_Student_Details.Is_Deleted = N'N'
	AND SchoolWise_Standard_Division_Master.Is_Deleted = N'N'
	AND Xseed.GradeMaster.Is_Deleted = N'N'	
	AND Subject_Master.Is_Deleted = N'N'	
	AND Xseed.NonXseedSubjectGardes.AssessmentId = @AssessmentId
	AND SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id = @SchoolWise_Standard_Division_Id
	AND (@AssessmentName = 'Term 1'  OR (@AssessmentName = 'Term 2'  AND vw_BaseStudentDetails.SchoolLeft_Date IS NULL))
		
	ORDER BY YearWise_Student_Details.Roll_No, Subject_Master.Original_Subject_Id, Subject_Master.Is_CoCurricularActivity	
	
	UPDATE TPR
	SET Remark = XR.Remark
	FROM @tblProgressReport TPR
	INNER JOIN [Xseed].[XseedRemarks] XR
	ON TPR.Yearwise_student_Id = XR.YearwiseStudentId
	WHERE XR.IsDeleted = 0
	AND XR.AssessmentId = @AssessmentId
	
	update @tblProgressReport
	set ShortName = 'Exemp.'
	where ShortName = 'Ex'

	SELECT 
	tblProgressReport.*,	
	tblHeadings.Name,
	tblHeadings.SubHeader,
	@AssessmentName AssessmentName,
	@IsFromReportScreen IsFromReportScreen,
	@CurrentOriginalStandardId CurrentOriginalStandardId,
	case when @School_Id = 18 and @Academic_Year_Id >= 53 then BSD.Photo_file_Path_Image else null end as Photo_file_Path_Image,
	BI.Image,
	'' as Separator,
	SM.SignPathImage
	FROM @tblProgressReport tblProgressReport 
	INNER JOIN YearWise_Student_Details YSD
	ON tblProgressReport.YearWise_Student_Id = YSD.YearWise_Student_Id
	INNER JOIN vw_BaseStudentDetails BSD
	ON YSD.Student_Id = BSD.SchoolWise_Student_Id
	INNER JOIN @tblHeadings tblHeadings
	ON tblProgressReport.HeaderId = tblHeadings.HeadingId
	INNER JOIN School_Master SM
	ON YSD.School_Id = SM.School_Id
	LEFT OUTER JOIN BinaryImages BI
	ON BI.Id = 6
	where (@AssessmentName = 'Term 1'  OR (@AssessmentName = 'Term 2'  AND BSD.SchoolLeft_Date IS NULL))
	ORDER BY Roll_No, Original_Subject_Id, SubjectSectionSortOrder, LearningOutcomeSortOrder
	
END
