/****** Object:  StoredProcedure [dbo].[usp_GetCancellationFormDetails]    Script Date: 3/11/2026 4:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin
-- Create date: 26-May-2023
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetCancellationFormDetails]
	@School_Id INT,
	@Academic_Year_Id INT,
	@Standard_Id INT,
	@Division_Id INT,
	@Student_Id INT,
	@SubmittedBy INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    DECLARE @AdmissionCancellationFormFee INT  = 0
	SELECT @AdmissionCancellationFormFee = CONVERT(INT, Value)
	FROM SchoolSettings
	WHERE SchoolId = @School_Id
	AND AcademicYearId = @Academic_Year_Id
	AND IsDeleted = 0
	AND Name = 'AdmissionCancellationFormFee'

	declare @SchoolwiseStudentId INT
	select @SchoolwiseStudentId = Student_Id
	from YearWise_Student_Details
	where School_Id = @School_Id
	and Academic_Year_ID = @Academic_Year_Id
	and Is_Deleted = 'N'
	and YearWise_Student_Id = @Student_Id

	declare @Receipt_Number int,
			@Payment_Date date,
			@TxnNo NVARCHAR(100),
			@CautionMoneyAmount INT,
			@Payment_Mode CHAR,
			@BankName NVARCHAR(150),
			@ClearanceDate DATE,
			@AdmissionCancellationFormNo INT

	select @AdmissionCancellationFormNo = CancellationFormNumber
	from AdmissionCancellationFormNoDetails
	where SchoolId = @School_Id
	and SchoolwiseStudentId = @SchoolwiseStudentId
	and IsDeleted = 0

	IF @AdmissionCancellationFormNo IS NULL OR @AdmissionCancellationFormNo = 0
	BEGIN		
		SELECT @AdmissionCancellationFormNo = MAX(CancellationFormNumber)
		from AdmissionCancellationFormNoDetails
		where SchoolId = @School_Id
		and IsDeleted = 0

		IF @AdmissionCancellationFormNo IS NULL OR @AdmissionCancellationFormNo = 0
		BEGIN
			SET @AdmissionCancellationFormNo = 2000
		END

		SET @AdmissionCancellationFormNo = @AdmissionCancellationFormNo + 1

		if @School_Id is not null
		begin
			insert into AdmissionCancellationFormNoDetails
			select @SchoolwiseStudentId,@AdmissionCancellationFormNo,@School_Id,0
		end
	END
	
	select @Receipt_Number = Receipt_Number,
		   @Payment_Date = Payment_Date,
		   @CautionMoneyAmount = Amount,
		   @Payment_Mode = Payment_Mode
	from Student_Caution_Money_Details
	where Is_Deleted = 0
	and School_Id = @School_Id
	and Schoolwise_Student_Id = @SchoolwiseStudentId

	IF @Payment_Mode = 'N'
	BEGIN	
		SELECT @TxnNo = NBPT.TPSLTransactionID,
			   @BankName = NBBD.RegisterdBankName,
			   @ClearanceDate = NBPT.ClearanceDate
		from Student_Caution_Money_Details SCMD
		inner join NetBankingPaymentTransactions NBPT
		on scmd.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
		INNER JOIN NetBankingBanksDetails NBBD
		ON NBPT.TransactionBankID = NBBD.RegisteredBankID
		where SCMD.Is_Deleted = 0
		and NBPT.TransactionStatus = 'Y'
		and nbpt.Is_Deleted = 0
		and SCMD.School_Id = @School_Id
		AND NBBD.Is_Deleted = 0
		and Schoolwise_Student_Id = @SchoolwiseStudentId		
	END
	ELSE IF @Payment_Mode = 'Q'
	BEGIN	
		SELECT @TxnNo = SCMCD.Cheque_Number,
			   @BankName = SBM.Bank_Name,
			   @ClearanceDate = SCMCD.ClearanceDate
		from Student_Caution_Money_Details SCMD
		inner join Student_Caution_Money_Cheque_Details SCMCD
		on SCMD.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
		INNER JOIN Schoolwise_Bank_Master SBM
		ON SCMCD.Bank_Id = SBM.Schoolwise_Bank_Id
		where SCMD.Is_Deleted = 0	
		and SCMCD.Is_Deleted = 0
		and SCMD.School_Id = @School_Id
		AND SBM.Is_Deleted = 'N'
		and Schoolwise_Student_Id = @SchoolwiseStudentId
	END
	ELSE IF @Payment_Mode = 'E'
	BEGIN

		SELECT @TxnNo = SCMEP.TransactionNumber,
			   @BankName = SBM.Bank_Name,
			   @ClearanceDate = SCMEP.ClearanceDate
		from Student_Caution_Money_Details SCMD
		inner join StudentCautionMoneyElectronicPayments SCMEP
		on SCMD.Schoolwise_Student_Id = SCMEP.SchoolwiseStudentId
		INNER JOIN Schoolwise_Bank_Master SBM
		ON SCMEP.BankId = SBM.Schoolwise_Bank_Id
		where SCMD.Is_Deleted = 0	
		and SCMEP.IsDeleted = 0
		and SCMEP.IsReturnRecord = 0
		and SCMD.School_Id = @School_Id
		AND SBM.Is_Deleted = 'N'
		and Schoolwise_Student_Id = @SchoolwiseStudentId

	END
	ELSE IF @Payment_Mode = 'C'
	BEGIN
		SET @TxnNo = '-'
		set @BankName = '-'
		set @ClearanceDate = NULL
	END

	declare @FeeType nvarchar(100) = 'LC Fee' 

	DECLARE @LCFeeAmount INT,
			@LCFeePaidDate DATE,
			@LCFeeReceiptNumber NVARCHAR(100)

	select @LCFeeAmount = Amount, 
		@LCFeePaidDate = Paid_Date, 
		@LCFeeReceiptNumber = Receipt_Number
	from Schoolwise_Student_Fee_Details ssfd
	inner join vw_standard_division vsd
	on ssfd.Standard_Div_Id = vsd.SchoolWise_Standard_Division_Id
	where ssfd.School_Id = @School_Id
	and ssfd.Academic_Year_Id = @Academic_Year_Id
	AND Is_Deleted = 'N'
	and Fee_Type = @FeeType
	and Student_Id = @Student_Id
	and [Debit/Credit] = 'credit'
	and Is_Cheque_Bounce = 'N'
	and vsd.Standard_Id = @Standard_Id
	and vsd.Division_Id = @Division_Id
	and (RefundFeeDetailsID is null or RefundFeeDetailsID = 0)

	select YSD.YearWise_Student_Id, vsd.Standard_Id, vsd.SchoolWise_Standard_Division_Id, ysd.YearWise_Student_Id,
	 bsd.StudentName, 
	 bsd.Parent_Name, 
	vsd.Standard_Name, vsd.Division_Name, ysd.Roll_No, bsd.Admission_Date, ISNULL(FormNumber, '') AS FormNumber,
	BSD.Address, Mobile_Number, SAD.FatherEmail, 
	--Mother_Name, 
	CASE WHEN PATINDEX('%'+Last_Name+'%',Mother_Name) = 0 THEN Mother_Name + ' '+Last_Name ELSE Mother_Name END AS Mother_Name,
	--Middle_Name ,
	CASE WHEN PATINDEX('%'+Last_Name+'%',Middle_Name) = 0 THEN Middle_Name + ' '+Last_Name ELSE Middle_Name END AS Middle_Name,
	case when sm.Is_PrePrimary = 'Y' then 'No' else 'Yes and Rs. '+cast(@AdmissionCancellationFormFee as nvarchar(10))+' to be paid.' end as LCRequired, 
	case when sm.Is_PrePrimary = 'Y' then 0 else @AdmissionCancellationFormFee end as AdmissionCancellationFormFee,
	@Receipt_Number as Receipt_Number,
	@Payment_Date as Payment_Date,
	@CautionMoneyAmount AS CautionMoneyAmount,
	@TxnNo as TxnNo,
	@BankName as BankName,
	@ClearanceDate as ClearanceDate,
	@LCFeeAmount AS LCFeeAmount,
	@LCFeePaidDate AS LCFeePaidDate,
	@LCFeeReceiptNumber AS LCFeeReceiptNumber,
	'CF'+CAST(@AdmissionCancellationFormNo AS NVARCHAR(20)) AS AdmissionCancellationFormNo,
	SCM.School_Name,
	SCM.Address1 AS SchoolAddress,
	scm.City as SchoolCity,
	SCM.Pincode as SchoolPinCode,
	scm.Phone_Number as SchoolPhone1,
	scm.Phone_Number2 as SchoolPhone2,
	scm.Email as SchoolEmail,
	scm.WebSite as SchoolWebsite,
	scm.Logo as SchoolLogo,
	Reason,
	RefundChequeInFavourOf,
	Cell
	from vw_BaseStudentDetails BSD
	INNER JOIN YearWise_Student_Details YSD
	ON BSD.SchoolWise_Student_Id = YSD.Student_Id
	inner join vw_standard_division vsd
	on ysd.Standard_Id = vsd.Standard_Id
	and ysd.Division_id = vsd.Division_Id
	inner join StudentAdditionalDetails SAD
	on BSD.SchoolWise_Student_Id = SAD.SchoolwiseStudentId
	inner join Standard_Master sm
	on vsd.Standard_Id = sm.Standard_Id
	and vsd.academic_year_id = sm.academic_Year_Id
	INNER JOIN School_Master SCM
	on bsd.School_Id = SCM.School_Id
	LEFT OUTER JOIN CancellationFormDetails CFD
	on CFD.SchoolwiseStudentId = YSD.Student_Id
	AND CFD.IsDeleted = 0
	WHERE BSD.School_Id = @School_Id
	AND BSD.Is_Deleted = 'N'
	AND YSD.School_Id = @School_Id
	AND YSD.Academic_Year_ID = @Academic_Year_Id
	and ysd.YearWise_Student_Id = @Student_Id
	AND SAD.IsDeleted = 0
	and sm.Is_Deleted = 'N'
	and vsd.Standard_Id = @Standard_Id
	and vsd.Division_Id = @Division_Id
	AND SCM.Is_Deleted = 'N'	
END