/****** Object:  StoredProcedure [dbo].[usp_GetRestrictedModulesForUser]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================================
-- Author		: Vishal B. Shah
-- Create date	: 07-May-2012
-- Description	: Fetches the modules which are restricted for the given user.
-- ============================================================================
ALTER PROCEDURE [dbo].[usp_GetRestrictedModulesForUser]
	@UserId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UserRoleId INT

  SELECT @UserRoleId = UserRoleId
	FROM vw_AllPayrollUsers
	WHERE UserId = @UserId
	AND Is_Deleted='N'


	SELECT DISTINCT SM.SchoolModulesId
	  FROM dbo.Configuration_Master CM
INNER JOIN dbo.SchoolModules SM
		ON CM.SchoolModulesId = SM.SchoolModulesId
	 WHERE SM.IsScreenAccessRestricted = 1
	   AND CM.Is_Deleted = N'N'
	  AND 
	  (
		@UserRoleId <> 1
         AND SM.SchoolModulesId NOT IN  (SELECT RSAM.SchoolModuleId
										FROM dbo.UsersForRestrictedScreenAccessModules RSAM
									   WHERE RSAM.SchoolModuleId = SM.SchoolModulesId
									     AND RSAM.UserId = @UserId
									     AND RSAM.IsDeleted = 0))
END


