/****** Object:  StoredProcedure [dbo].[usp_GetAllBlackListedStudents]    Script Date: 28-02-2026 18:16:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rutuja
-- Create date: 18 sep 2023
-- Description:	This USP used to get all black listed students.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAllBlackListedStudents]
@SchoolId INT,
@StudentName NVARCHAR(100)='', 
@ShowAllLeft BIT,
@SortExpression NVARCHAR(100), 
@StartRowIndex INT, 
@EndRowIndex INT=20

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @LeftFilter NVARCHAR(500) = ''
	IF @ShowAllLeft = 1
		SET @LeftFilter = ''
	ELSE
		SET @LeftFilter = ' AND BLSD.SchoolwiseStudentId IS NOT NULL'

	IF PATINDEX('%StudentName%',@SortExpression) > 0
	BEGIN
		IF PATINDEX('%DESC%',@SortExpression) > 0
			SET @SortExpression = 'First_Name DESC, Middle_Name DESC, Last_Name DESC'
		ELSE
			SET @SortExpression = 'First_Name ASC, Middle_Name ASC, Last_Name ASC'
	END
	
				create table #tblcount
				(
					cnt int
				)

		DECLARE @CountQuery NVARCHAR(1000)
	SET @CountQuery = 
			'INSERT INTO #tblcount
			SELECT count(1)
			FROM vw_BaseStudentDetails VBSD
			LEFT OUTER JOIN BlackListStudentDetails BLSD
			ON VBSD.SchoolWise_Student_Id = BLSD.SchoolwiseStudentId	
			AND BLSD.IsDeleted = 0		
			WHERE VBSD.School_Id = '+CAST(@SchoolId AS NVARCHAR(10))+			
			' AND (VBSD.SchoolLeft_Date IS NOT NULL)
			AND (VBSD.StudentName LIKE ''%'+@StudentName+'%'' OR VBSD.Enrolment_Number LIKE ''%'+@StudentName+'%'')'+@LeftFilter

			EXEC(@CountQuery)

		DECLARE @TotalRows INT

		SELECT @TotalRows = Cnt
		FROM #tblCount
	

	SET @SortExpression = 'ORDER BY '+@SortExpression
	DECLARE @Query NVARCHAR(1000)
	SET @Query = 
	'SELECT *
		FROM
			
		(
			SELECT VBSD.SchoolLeft_Date,
								ROW_NUMBER() OVER('+@SortExpression+') AS RowNo,
								ISNULL(BLSD.Id,0) AS Id,
								VBSD.Enrolment_Number,
								VBSD.StudentName,
								ISNULL(BLSD.Comment,'''') as Comment,
								VBSD.Schoolwise_Student_Id as SchoolwiseStudentId,
								'+CAST(@TotalRows AS NVARCHAR(10))+' AS TotalRows
			FROM vw_BaseStudentDetails VBSD
			LEFT OUTER JOIN BlackListStudentDetails BLSD
			ON VBSD.SchoolWise_Student_Id = BLSD.SchoolwiseStudentId	
			AND BLSD.IsDeleted = 0			
			WHERE VBSD.School_Id = '+CAST(@SchoolId AS NVARCHAR(10))+
			'AND (VBSD.SchoolLeft_Date IS NOT NULL)	
			AND (VBSD.StudentName LIKE ''%'+@StudentName+'%'' OR VBSD.Enrolment_Number LIKE ''%'+@StudentName+'%'')'+@LeftFilter+'
		)S
	WHERE S.RowNo > '+CAST(@StartRowIndex as nvarchar(10)) +' AND S.RowNo <= '+CAST(@EndRowIndex as nvarchar(10))

	PRINT @Query
	EXEC(@Query)
	
	DROP TABLE #tblCount
END