/****** Object:  StoredProcedure [dbo].[usp_GetAllPanAttachmentDetails]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yogesh
-- Create date: 26 Aug 2014
-- Description:	This procedure displays all user names for PAN attatchment
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAllPanAttachmentDetails]
	-- Add the parameters for the stored procedure here
	@School_id INT,
	@AcademicYearId INT,	
	@UserRoleId INT = 0,
	@NameFilter NVARCHAR(40),
	@ShowAllDetails BIT = 0,
	@SortDirection NVARCHAR(50),
	@StartRowIndex INT,
	@EndRowIndex INT,
	@CategoryId INT,
	@StdDivId INT,
	@SortExpression NVARCHAR(100),
	@IncludeLeftStudents BIT
AS
BEGIN
	SET NOCOUNT ON;
		IF @SortDirection IS NULL OR @SortDirection = ''
			SET @SortDirection = 'ASC'
 DECLARE @Query NVARCHAR(4000)

 CREATE TABLE #tblStaffDetails
 (
	UserId INT,
	Name NVARCHAR(200),
	PanNo NVARCHAR(100),
	PanAttachment NVARCHAR(100),
	Roll_No INT,
	ClassName NVARCHAR(100),
	IsLeftStudent bit
 )

 IF @UserRoleId <> 0
 BEGIN
		 IF @UserRoleId = 3
		 BEGIN 
				IF @SortExpression = 'Name'
				BEGIN
					SET @SortExpression = ' SSM.First_Name '+@SortDirection+', SSM.Middle_Name '+@SortDirection+', SSM.Last_Name '+@SortDirection
				END
				ELSE IF @SortExpression = 'ClassName'
				BEGIN
					SET @SortExpression = ' VSD.Original_Standard_Id '+@SortDirection+', VSD.Original_Division_Id '+@SortDirection+', Roll_No '+@SortDirection
				END
				ELSE
					SET @SortExpression = 'Roll_No '+' '+@SortDirection
		  END

		IF @CategoryId = 1
		BEGIN
		 SET @Query = 
					'INSERT INTO #tblStaffDetails
					SELECT UserId, Name, PanNo, PanAttachment, Roll_No, ClassName,IsLeftStudent
					   FROM
						   (
					SELECT 
					ROW_NUMBER() 
					OVER 
					(
					ORDER BY
								UserRoleId '+@SortDirection+', 
								DesignationId '+@SortDirection+', 
								FirstName '+@SortDirection+', 
								MiddleName '+@SortDirection+', 
								LastName '+@SortDirection+') AS RowNo,
								S.UserId , 
								UserName +'' ('' + Designation + '')'' 	AS Name,
								UBD.PanNo, 
								UBD.PanAttachment, 
								S.Designation,
								S.FirstName,
								S.MiddleName,
								S.LastName,
								0 as Roll_No,
								''-'' as ClassName,
								0 AS IsLeftStudent
								
						FROM(
					SELECT		UserRoleId,
								--APU.DesignationId,
								VTD.DesignationSortOrder as DesignationId,
								FirstName,
								MiddleName,
								LastName,
								Designation,
								UserName,
								schoolid,
								academicyearid,
								APU.is_deleted,
								userid,
								0 AS IsLeftStudent
						FROM	vw_AllPayrollUsers AS	APU WITH(NOLOCK) '+
				       'INNER JOIN	dbo.User_Master WITH(NOLOCK)  
						  ON	APU.UserId = dbo.User_Master.User_Id  '+
				      'LEFT OUTER JOIN vw_TeacherDesignations VTD
										ON APU.DesignationId = VTD.Teacher_Designation_Id
					   WHERE 	APU.userroleid = 2 
					    AND		IsInternalUser = 0
						 AND    dbo.User_Master.IsInternalUser = 0
						 AND	APU.schoolid = 	'+CAST(@School_id AS NVARCHAR(5)) +
						' AND	APU.academicyearid = '+CAST(@AcademicYearId AS NVARCHAR(5)) +
						' AND	APU.is_deleted = ''N''
						  AND dbo.User_Master.Is_Locked = ''N''
						UNION
					   SELECT	UserRoleId,
								vw_AllPayrollUsers.DesignationId,
								FirstName,
								MiddleName,
								LastName,
								Designation,
								UserName,
								schoolid,
								academicyearid,
								vw_AllPayrollUsers.is_deleted,
								userid,
								0 AS IsLeftStudent
						FROM	vw_AllPayrollUsers WITH(NOLOCK)  
				  INNER JOIN	dbo.User_Master 
						  ON	dbo.vw_AllPayrollUsers.UserId = dbo.User_Master.User_Id
					   WHERE	userroleid <> 2
					     AND	IsInternalUser = 0
						 AND	vw_AllPayrollUsers.schoolid = 	'+CAST(@School_id AS NVARCHAR(5)) +
						 'AND	vw_AllPayrollUsers.is_deleted = ''N''
						 AND    dbo.User_Master.IsInternalUser = 0
						 AND dbo.User_Master.Is_Locked = ''N''
					)S 
					LEFT JOIN	UserBasicDetails AS	UBD WITH(NOLOCK)
						   ON	S.userid = UBD.UserId 
						WHERE	S.UserName LIKE ''%'+@NameFilter+'%''
						  AND	((UBD.PanAttachment IS NOT NULL 
						  AND	UBD.PanAttachment <> '''') 
						  OR	'+CAST(@ShowAllDetails AS CHAR(1))+'= 1)	
						  AND	(S.UserRoleId = '+CAST(@UserRoleId AS NVARCHAR(5))+' 
						   OR	'+CAST(@UserRoleId AS NVARCHAR(5))+'= 0)
						   )A	
						WHERE	RowNo >='+CAST(@StartRowIndex as NVARCHAR(3))+' 
						AND		RowNo <'+CAST(@EndRowIndex as NVARCHAR(3))
			END
			ELSE
			BEGIN
					IF @UserRoleId = 3
					BEGIN	
							SET @Query = '
							INSERT INTO #tblStaffDetails
							SELECT UserId, Name, PanNo, PanAttachment, Roll_No, ClassName,IsLeftStudent
							FROM
							(
								SELECT ROW_NUMBER() OVER(ORDER BY '+@SortExpression +'
								) AS RowNo, SSM.User_Id AS UserId,  SSM.StudentName AS Name, AadharCardNo AS PanNo,AadharCard_Photo_Copy_Path AS PanAttachment, NameonAadharCard,
								YSD.Roll_No,
								VSD.ClassName,
							CASE   WHEN ssm.SchoolLeft_Date IS NULL THEN 0  ELSE 1 END AS IsLeftStudent
								FROM vw_BaseStudentDetails SSM
								INNER JOIN YearWise_Student_Details YSD
								ON SSM.SchoolWise_Student_Id = YSD.Student_Id
								INNER JOIN vw_standard_division VSD
								ON YSD.Standard_Id = VSD.Standard_Id
								AND YSD.Division_id = VSD.Division_Id
								AND YSD.Academic_Year_ID = VSD.academic_year_id
								WHERE YSD.Is_Deleted = ''N''								
								 AND	((AadharCard_Photo_Copy_Path IS NOT NULL AND AadharCard_Photo_Copy_Path <> '''') OR	'+CAST(@ShowAllDetails AS CHAR(1))+'= 1)
								AND (VSD.Schoolwise_Standard_Division_Id = '+ CAST(@StdDivId AS NVARCHAR(100))+' OR '+ CAST(@StdDivId AS NVARCHAR(100))+'=0)
								AND YSD.Academic_Year_ID = '+CAST(@AcademicYearId AS NVARCHAR(10))+'
								AND YSD.School_Id = '+CAST(@School_id AS NVARCHAR(10))+'
								and ssm.StudentName like ''%'+@NameFilter+'%''
								AND ((ssm.SchoolLeft_Date IS NULL AND '+CAST(@IncludeLeftStudents AS NVARCHAR(10))+'=0) OR '+CAST(@IncludeLeftStudents AS NVARCHAR(10))+'=1)
							)S
							WHERE	RowNo >='+CAST(@StartRowIndex as NVARCHAR(3))+' 
							AND		RowNo <'+CAST(@EndRowIndex as NVARCHAR(3))
					END
					ELSE
					BEGIN
						 SET @Query = 
								'INSERT INTO #tblStaffDetails
								 SELECT UserId, Name, PanNo, PanAttachment, Roll_No, ClassName,IsLeftStudent
								   FROM
									   (
								SELECT 
								ROW_NUMBER() 
								OVER 
								(
								ORDER BY
											UserRoleId '+@SortDirection+', 
											S.DesignationId '+@SortDirection+', 
											FirstName '+@SortDirection+', 
											MiddleName '+@SortDirection+', 
											LastName '+@SortDirection+') AS RowNo,
											S.UserId , 
											UserName +'' ('' + Designation + '')'' 	AS Name,
											UBD.AadharCardNo as PanNo, 
											UBD.AadharCardPhotoCopyPath as PanAttachment, 
											UBD.NameonAadharCard,
											S.Designation,
											S.FirstName,
											S.MiddleName,
											S.LastName,
											0 as Roll_No,
											''-'' as ClassName,
											0 AS IsLeftStudent
									FROM(
								SELECT		UserRoleId,
											--APU.DesignationId,
											VTD.DesignationSortOrder as DesignationId,
											FirstName,
											MiddleName,
											LastName,
											Designation,
											UserName,
											schoolid,
											academicyearid,
											APU.is_deleted,
											userid,
											0 AS IsLeftStudent
									FROM	vw_AllPayrollUsers AS	APU WITH(NOLOCK) 
							  INNER JOIN	dbo.User_Master WITH(NOLOCK)  
									  ON	APU.UserId = dbo.User_Master.User_Id
							LEFT OUTER JOIN vw_TeacherDesignations VTD
										ON APU.DesignationId = VTD.Teacher_Designation_Id
								   WHERE 	APU.userroleid = 2 
								    AND		IsInternalUser = 0
									 AND    dbo.User_Master.IsInternalUser = 0
									 AND	APU.schoolid = 	'+CAST(@School_id AS NVARCHAR(5)) +
									' AND	APU.academicyearid = '+CAST(@AcademicYearId AS NVARCHAR(5)) +
									' AND	APU.is_deleted = ''N''
									  AND dbo.User_Master.Is_Locked = ''N''
									UNION
								   SELECT	UserRoleId,
											vw_AllPayrollUsers.DesignationId,
											FirstName,
											MiddleName,
											LastName,
											Designation,
											UserName,
											schoolid,
											academicyearid,
											vw_AllPayrollUsers.is_deleted,
											userid,
											0 AS IsLeftStudent
									FROM	vw_AllPayrollUsers WITH(NOLOCK)  
							  INNER JOIN	dbo.User_Master 
									  ON	dbo.vw_AllPayrollUsers.UserId = dbo.User_Master.User_Id
								   WHERE	userroleid <> 2
								     AND    IsInternalUser = 0
									 AND	vw_AllPayrollUsers.schoolid = 	'+CAST(@School_id AS NVARCHAR(5)) +
									 'AND	vw_AllPayrollUsers.is_deleted = ''N''
									 AND    dbo.User_Master.IsInternalUser = 0
									 AND dbo.User_Master.Is_Locked = ''N''
								)S 
								LEFT JOIN	User_Master AS	UBD WITH(NOLOCK)
									   ON	S.userid = UBD.User_Id 
									WHERE	S.UserName LIKE ''%'+@NameFilter+'%''
									  AND	((UBD.AadharCardPhotoCopyPath IS NOT NULL 
									  AND	UBD.AadharCardPhotoCopyPath <> '''') 
									  OR	'+CAST(@ShowAllDetails AS CHAR(1))+'= 1)	
									  AND	(S.UserRoleId = '+CAST(@UserRoleId AS NVARCHAR(5))+' 
									   OR	'+CAST(@UserRoleId AS NVARCHAR(5))+'= 0)
									   )A	
									WHERE	RowNo >='+CAST(@StartRowIndex as NVARCHAR(3))+' 
									AND		RowNo <'+CAST(@EndRowIndex as NVARCHAR(3))
					END
			END
		PRINT @Query
		EXEC(@Query)
	END
	
	SELECT * 
	FROM #tblStaffDetails

   DROP TABLE #tblStaffDetails
END

GO


