/****** Object:  StoredProcedure [dbo].[usp_GetStandrdwiseHolidayDetails]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pravin
-- Create date: 20 Aug 2012
-- Description:	This procedure is used to get the holiday details.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStandrdwiseHolidayDetails]
@HolidayId INT,
@SchoolId INT,
@AcademicYearId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @AssociatedStandards NVARCHAR(MAX)
	DECLARE @tblStandards AS TABLE
	(
	StandardId INT
	)
	
	INSERT INTO @tblStandards
	SELECT StandardId 
	  FROM StandardwiseHoidaysMaster
	 WHERE HolidayId=@HolidayId
	   AND SchoolId=@SchoolId
	   AND AcedemicYearId=@AcademicYearId
	   AND Is_Deleted=0
	   
	SELECT @AssociatedStandards=COALESCE(@AssociatedStandards + ',', '') + CAST(StandardId AS nvarchar(5))
	  FROM @tblStandards
	
	SELECT Holiday_Id,
		   Holiday_Name,
		   Holiday_Start_Date,
		   Holiday_End_Date,
		   @AssociatedStandards AS AssociatedStandard,
		   Remarks,
		   Is_Deleted,
		   AllowOverLapping
	  FROM Holidays_Master
	 WHERE Holiday_Id=@HolidayId
	   AND School_Id=@SchoolId
	   AND Academic_Year_Id=@AcademicYearId
	   AND Is_Deleted=N'N'
	
END
GO
