/****** Object:  StoredProcedure [dbo].[usp_InsertHolidays]    Script Date: 8/25/2025 11:29:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pravin
-- Create date: 20 Aug 2012
-- Description:	This procedure is used to insert holiday data.
-- =============================================
ALTER PROCEDURE [dbo].[usp_InsertHolidays] 
@HolidayName NVARCHAR(50),
@Remarks NVARCHAR(200),
@StartDate DATETIME,
@EndDate DATETIME,
@SchoolId INT,
@AcademicYearId INT,
@InsertedById INT,
@AssociatedStandard NVARCHAR(2000),
@HolidaysId INT=0,
@AllowOverLapping bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @HolidayId INT
	SET @AssociatedStandard=LEFT(@AssociatedStandard, LEN(@AssociatedStandard) - 1)
	
	DECLARE @tblId as TABLE
	(
	Id INT
	)
	
	INSERT INTO @tblId
	SELECT Ids
	  FROM udf_GetTableFromList(@AssociatedStandard)

	IF(@HolidaysId=0)
	BEGIN
		INSERT INTO Holidays_Master
					(
					Holiday_Name,
					Holiday_Start_Date,
					Holiday_End_Date,
					School_Id,
					Academic_Year_Id,
					Remarks,
					Is_Deleted,
					Insert_Date,
					Update_Date,
					AllowOverLapping
					)
			 VALUES (
					@HolidayName,
					@StartDate,
					@EndDate,
					@SchoolId,
					@AcademicYearId,
					@Remarks,
					N'N',
					dbo.GetLocalDate(DEFAULT),
					dbo.GetLocalDate(DEFAULT),
					@AllowOverLapping
				    )
		
		SELECT @HolidayId=SCOPE_IDENTITY()
		
		INSERT INTO StandardwiseHoidaysMaster
						(
						HolidayId,
						StandardId,
						SchoolId,
						AcedemicYearId,
						Is_Deleted,
						UpdateDate,
						UpdatedById
						)
				 SELECT 
						@HolidayId,
						Id,
						@SchoolId,
						@AcademicYearId,
						0,
						dbo.GetLocalDate(DEFAULT),
						@InsertedById
				   FROM  @tblId			
		 
	END
	
	ELSE IF(@HolidaysId<>0)
	BEGIN
	
	--select @HolidayName,@StartDate,@EndDate,@Remarks
		UPDATE  Holidays_Master
		   SET	Holiday_Name=@HolidayName,
				Holiday_Start_Date=@StartDate,
				Holiday_End_Date=@EndDate,				
				Remarks=@Remarks,				
				Update_Date=dbo.GetLocalDate(DEFAULT),
				AllowOverLapping=@AllowOverLapping				
		 WHERE  Holiday_Id=@HolidaysId
		   AND  School_Id=@SchoolId
		   AND  Academic_Year_Id=@AcademicYearId
		   AND  Is_Deleted=N'N'
		
		UPDATE StandardwiseHoidaysMaster
			   SET Is_Deleted=1
			 WHERE HolidayId=@HolidaysId
			   AND SchoolId=@SchoolId
			   AND AcedemicYearId=@AcademicYearId
			   AND Is_Deleted=0
			   
		 INSERT INTO StandardwiseHoidaysMaster
				(
				HolidayId,
				StandardId,
				SchoolId,
				AcedemicYearId,
				Is_Deleted,
				UpdateDate,
				UpdatedById
				)
		 SELECT 
				@HolidaysId,
				Id,
				@SchoolId,
				@AcademicYearId,
				0,
				dbo.GetLocalDate(DEFAULT),
				@InsertedById
		   FROM  @tblId			
	END	
    
END
GO
