/****** Object:  StoredProcedure [dbo].[usp_GetTransactionDetails]    Script Date: 20-05-2026 11:35:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=======================================================================
-- Author:		Sachin
-- Create date: 21-May-2026
-- Description:	This USP is used to return transaction details
=========================================================================*/
CREATE PROCEDURE [dbo].[usp_GetTransactionDetails]
    @SchoolId INT,
	@FinancialYearId INT,
    @TxnIds   XML
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE @DepositedBankId INT

	select @DepositedBankId = LedgerId
	from accounts.BankAccountDetails
	where FinancialYearId = @FinancialYearId
	and IsForOnlineTransactions = 1
	and IsDeleted = 0
	and SchoolId = @SchoolId

    ;WITH TxnIdList AS
    (
        SELECT DISTINCT
            T.c.value('@NetBankingPaymentTransactionID', 'INT') AS NetBankingPaymentTransactionID
        FROM @TxnIds.nodes('/TransactionIdList/Transaction') AS T(c)
        WHERE T.c.value('@NetBankingPaymentTransactionID', 'INT') IS NOT NULL
    )
    SELECT
        NBT.NetBankingPaymentTransactionID,
        NBT.TPSLTransactionID,
		@DepositedBankId AS DepositedBankId,
		PGM.MerchantId,
		CONVERT(INT,NBT.TransactionAMT) AS Amount 
    FROM dbo.NetBankingPaymentTransactions NBT
	INNER JOIN PaymentGatewayMaster PGM
	ON NBT.GatewayId = PGM.Id
    INNER JOIN TxnIdList T
        ON NBT.NetBankingPaymentTransactionID = T.NetBankingPaymentTransactionID
    WHERE NBT.TransactionStatus = 'Y'
      AND NBT.Is_Deleted = 0
	  AND NBT.ClearanceDate IS NULL
	  AND PGM.IsActive = 1
END
