/****** Object:  StoredProcedure [dbo].[usp_GetAllCautionMoneyDetails]    Script Date: 8/25/2025 11:29:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Pallavi
-- Create date: 31 Dec. 2008
-- Description:	Get all details related to caution money.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetAllCautionMoneyDetails]
@School_Id INT,
@RegNumber nvarchar(203),
@IncludePaid bit,
@IncludeReturned bit,
@StartIndex INT, 
@EndIndex INT ,
@SortExp NVARCHAR(1000),
@ChequeNumber NVARCHAR(10),
@FromDate DATETIME,
@ToDate DATETIME,
@AcademicYearId INT,
@ReturnStartDate DATE = NULL,
@ReturnEndDate DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	CREATE TABLE #tblStudents 
	(
		UserId INT,
		EnrollmentNo NUMERIC(18,0)
	)
	
	INSERT INTO #tblStudents
	SELECT UserId,RegNo
	  FROM dbo.udf_GetNumericRegNo(@School_Id,null)

	CREATE TABLE #tblRTEDetails
	(
		SchoolwiseStudentID INT
	)

	INSERT INTO #tblRTEDetails
	SELECT Student_Id
	FROM YearWise_Student_Details
	where School_Id = @School_Id
	and Academic_Year_ID = @AcademicYearId
	and Is_RTE_Student = 1
	and RTECategoryId <> 0

	DECLARE	@sSQL nvarchar(MAX)
	SET @EndIndex = @EndIndex + @StartIndex	
	SET @SortExp=REPLACE(@SortExp,N'Enrolment_Number',N'ISNULL(#tblStudents.EnrollmentNo,-1)')
	
	IF @SortExp = N'' 
		SET @SortExp = N' ORDER BY ISNULL(#tblStudents.EnrollmentNo,-1)' 

	if (@IncludeReturned = 1)
		BEGIN
				SET @sSQL = N'SELECT Student_Caution_Money_Id
                                    ,Enrolment_Number
				                    ,StudentName
									,Amount
									,Payment_Cheque_Id
									,Return_Cheque_Id
									,Schoolwise_Student_Id
									,DOB
									,Payment_Date
									,Return_Date
									,Paid_By_Student
									,Returned_By_School
									,SchoolLeft_Date
									,Admission_Date
									,RowNo
									,Last_Name
									,ElectronicPaymentId
									,0 AS NetBankingPaymentTransactionID
									,Is_RTE_Student
									,TotalRows
									,ReceiptNumber
									, FormNumber
							FROM (
										SELECT Student_Caution_Money_Details.Student_Caution_Money_Id,
                                               vw_BaseStudentDetails.Enrolment_Number,
											   vw_BaseStudentDetails.StudentName, 
											   Student_Caution_Money_Details.Amount, 
											   Student_Caution_Money_Details.Payment_Cheque_Id, 
											   Student_Caution_Money_Details.Return_Cheque_Id, 
											   Student_Caution_Money_Details.Schoolwise_Student_Id, 
											   vw_BaseStudentDetails.DOB,
											   Student_Caution_Money_Details.Payment_Date, 
											   CASE WHEN TRD.SchoolwiseStudentID IS NULL THEN 0 ELSE 1 END AS Is_RTE_Student,
											   Student_Caution_Money_Details.Return_Date,
											   Student_Caution_Money_Details.Paid_By_Student,
											   Student_Caution_Money_Details.Returned_By_School, 
											   vw_BaseStudentDetails.SchoolLeft_Date, 
											   vw_BaseStudentDetails.Admission_Date,
											   vw_BaseStudentDetails.Last_Name,
											   StudentCautionMoneyElectronicPayments.Id AS ElectronicPaymentId,
											   ROW_NUMBER() OVER (' + @SortExp + ') as RowNo,
											   COUNT(1) OVER() AS TotalRows,
											   Student_Caution_Money_Details.Receipt_Number AS ReceiptNumber,
											   vw_BaseStudentDetails.FormNumber
									      FROM Student_Caution_Money_Details
							   LEFT OUTER JOIN #tblRTEDetails TRD ON
											   Student_Caution_Money_Details.Schoolwise_Student_Id = TRD.SchoolwiseStudentId 
									INNER JOIN vw_BaseStudentDetails ON 
											   Student_Caution_Money_Details.SchoolWise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
							   LEFT OUTER JOIN #tblStudents ON 
											   vw_BaseStudentDetails.User_Id=#tblStudents.UserId
							   LEFT OUTER JOIN Student_Caution_Money_Cheque_Details ON 
											   (Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id)
							   LEFT OUTER JOIN StudentCautionMoneyElectronicPayments
										    ON Student_Caution_Money_Details.Schoolwise_Student_ID = StudentCautionMoneyElectronicPayments.SchoolwiseStudentId
											and StudentCautionMoneyElectronicPayments.IsReturnrecord = '+CAST(CASE WHEN @IncludeReturned = 1 THEN 1 ELSE 0 END AS NVARCHAR(10))+'
											and StudentCautionMoneyElectronicPayments.IsDeleted = 0
									     WHERE (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
										   AND (Student_Caution_Money_Details.Is_Deleted = 0) 
										   AND (vw_BaseStudentDetails.Is_Deleted = ''N'')											
										   AND vw_BaseStudentDetails.School_Id = ' +  CAST(@School_Id as NVARCHAR(4)
							) 
		END
	ELSE
		BEGIN
			SET @sSQL = N'SELECT Student_Caution_Money_Id
                                ,Enrolment_Number
								,StudentName
								,Amount
								,Payment_Cheque_Id
								,Return_Cheque_Id
								,Schoolwise_Student_Id
								,DOB
								,Payment_Date
								,Return_Date
								,Paid_By_Student
								,Returned_By_School
								,SchoolLeft_Date
								,Admission_Date
								,RowNo
								,Last_Name
								,ElectronicPaymentId
								,ISNULL(NetBankingPaymentTransactionID,0) AS NetBankingPaymentTransactionID
								,Is_RTE_Student
								,TotalRows
								,ReceiptNumber
								, FormNumber
						FROM (
									SELECT 
											Student_Caution_Money_Details.Student_Caution_Money_Id,
											vw_BaseStudentDetails.Enrolment_Number,
											vw_BaseStudentDetails.StudentName, 
											Student_Caution_Money_Details.Amount, 
											Student_Caution_Money_Details.Payment_Cheque_Id, 
											Student_Caution_Money_Details.Return_Cheque_Id,
											Student_Caution_Money_Details.Schoolwise_Student_Id, 
											vw_BaseStudentDetails.DOB, 
											Student_Caution_Money_Details.Payment_Date, 
											CASE WHEN TRD.SchoolwiseStudentID IS NULL THEN 0 ELSE 1 END AS Is_RTE_Student,
											Student_Caution_Money_Details.Return_Date,
											Student_Caution_Money_Details.Paid_By_Student,
											Student_Caution_Money_Details.Returned_By_School, 
											vw_BaseStudentDetails.SchoolLeft_Date, 
											vw_BaseStudentDetails.Admission_Date,
											vw_BaseStudentDetails.Last_Name,
											StudentCautionMoneyElectronicPayments.Id AS ElectronicPaymentId,
											NetBankingPaymentTransactions.NetBankingPaymentTransactionID,
											ROW_NUMBER() OVER (' + @SortExp + ') as RowNo,
											COUNT(1) OVER() AS TotalRows,
											Student_Caution_Money_Details.Receipt_Number AS ReceiptNumber,
											vw_BaseStudentDetails.FormNumber
								FROM        Student_Caution_Money_Details 
							LEFT OUTER JOIN #tblRTEDetails TRD ON
											Student_Caution_Money_Details.Schoolwise_Student_Id = TRD.SchoolwiseStudentId 
								 INNER JOIN vw_BaseStudentDetails ON 
											Student_Caution_Money_Details.SchoolWise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 
						    LEFT OUTER JOIN #tblStudents ON 
							                vw_BaseStudentDetails.User_Id=#tblStudents.UserId
							LEFT OUTER JOIN Student_Caution_Money_Cheque_Details ON 
											(Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id)
							LEFT OUTER JOIN StudentCautionMoneyElectronicPayments
										 ON Student_Caution_Money_Details.Schoolwise_Student_ID = StudentCautionMoneyElectronicPayments.SchoolwiseStudentId
										 and StudentCautionMoneyElectronicPayments.IsReturnrecord = '+CAST(CASE WHEN @IncludeReturned = 1 THEN 1 ELSE 0 END AS NVARCHAR(10))+'
										 and StudentCautionMoneyElectronicPayments.IsDeleted = 0
							LEFT OUTER JOIN NetBankingPaymentTransactions
										 ON Student_Caution_Money_Details.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID
								WHERE       (Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR
											 Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
										 AND (Student_Caution_Money_Details.Is_Deleted = 0) 
										 AND (vw_BaseStudentDetails.Is_Deleted = ''N'') 										  
										 AND vw_BaseStudentDetails.School_Id = ' +  CAST(@School_Id as NVARCHAR(4)) 
		
		END

	IF @IncludePaid = 0 AND @IncludeReturned = 0 
	SET @sSQL = @sSQL +  N' AND Paid_By_Student = 0 and Returned_By_School = 0'
	IF @IncludePaid = 0 AND @IncludeReturned = 0  and @School_Id = 71
		SET @sSQL = @sSQL +  N' AND Paid_By_Student = 0 and Returned_By_School = 0 and Student_Caution_Money_Details.Schoolwise_Student_Id not in (1403, 1538, 1845, 876, 875, 345, 342, 3377, 3436)' 

	IF @IncludePaid = 1 
		SET @sSQL = @sSQL +  N' AND Paid_By_Student = 1 '

	IF @IncludeReturned = 1 
		SET @sSQL = @sSQL +  N' AND Returned_By_School = 1 '

	DECLARE @sFilter nvarchar(2000)
	set @sFilter =N''

	IF @RegNumber <> N'' 
		SET @sFilter  = N' AND ( vw_BaseStudentDetails.Enrolment_Number like N''%' + @RegNumber + N'%'' OR StudentName like N''%' + @RegNumber + N'%'')'
	ELSE IF @ChequeNumber <> N''
		SET @sFilter = N' AND Student_Caution_Money_Cheque_Details.Cheque_Number like N''%' + @ChequeNumber + N'%'''
	ELSE IF @FromDate <> N'' OR @ToDate <> N'' 
		SET @sFilter = N' AND (Student_Caution_Money_Details.Payment_Date BETWEEN '''+ CAST(@FromDate as NVARCHAR)  +''' AND ''' +  CAST(@ToDate as NVARCHAR) +''')'
	ELSE IF @ReturnStartDate IS NOT NULL OR @ReturnEndDate IS NOT NULL
	BEGIN
			IF @ReturnStartDate IS NOT NULL AND @ReturnEndDate IS NOT NULL
				SET @sFilter = N' AND (Student_Caution_Money_Details.Return_Date BETWEEN '''+ CAST(@ReturnStartDate as NVARCHAR)  +''' AND ''' +  CAST(@ReturnEndDate as NVARCHAR) +''')'
			ELSE IF @ReturnStartDate IS NOT NULL AND @ReturnEndDate IS NULL
				SET @sFilter = N' AND (Student_Caution_Money_Details.Return_Date >= '''+ CAST(@ReturnStartDate as NVARCHAR)  +''')'
			IF @ReturnStartDate IS NULL AND @ReturnEndDate IS NOT NULL
				SET @sFilter = N' AND (Student_Caution_Money_Details.Return_Date <= ''' +  CAST(@ReturnEndDate as NVARCHAR) +''')'
	END

	SET @sSQL = @sSQL + @sFilter + N') as A'
	SET @sSQL = @sSQL + N' WHERE RowNo > ' +   CAST(@StartIndex as NVARCHAR)+ ' AND RowNo <= ' + CAST(@EndIndex as NVARCHAR)

	print @sSQL
	EXECUTE sp_executesql @sSQL	

	DROP TABLE #tblRTEDetails
END
GO
