/****** Object:  StoredProcedure [dbo].[usp_GetCautionMoneyDetails]    Script Date: 8/25/2025 11:29:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Pravin Shinde
-- Create date: 12 Mar 2013
-- Description:	This procedure is used to get Caution money details for selected student.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetCautionMoneyDetails]
@School_Id INT=null,
@FromReceiptNo INT=null,
@ToReceiptNo INT=null
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @TempReceipt INT
	IF(@FromReceiptNo>@ToReceiptNo)
	BEGIN
		SET @TempReceipt=@FromReceiptNo
		SET @FromReceiptNo=@ToReceiptNo
		SET @ToReceiptNo=@TempReceipt
	END

	DECLARE @AcademicYearId INT

	SELECT @AcademicYearId = Academic_Year_ID
	  FROM SchoolWise_Academic_Year_Master
	 WHERE School_Id = @School_Id
	   AND Is_Deleted = 'N'
	   AND Is_Current_Year = 'Y'
	   AND Is_Close_Year = 'N'
	   AND Is_NewlyCreated = 'N'
	
	DECLARE @tblCautionMoney AS TABLE
	(
		RegistrationNo NVARCHAR(20),
		Name NVARCHAR(100),
		ReceiptNo INT,				
		Schoolwise_Student_Id INT,
		SchoolId INT,
		ClassName NVARCHAR(20),
		PaymentDate DATETIME		
	)
	
	DECLARE @tblAllStudent AS TABLE
	(
		Id INT,
		ReceiptNumber  NVARCHAR(20),
		ChequeNo NVARCHAR(20),
		Mode NVARCHAR(2),
		ChequeDate DATETIME,
		BankName NVARCHAR(50),
		CLDate DATETIME,		
		Amount INT,				
		Schoolwise_Student_Id INT,
		SchoolId INT,
		InFavorOf NVARCHAR(50),
		ReturnChequeNo NVARCHAR(20),
		ReturnChequeDate DATETIME,
		ReturnBankName NVARCHAR(50),
		ReturnCLDate DATETIME,
		NetbankingPaymentTransactionId INT
	)
	
	DECLARE @tblReturnedBySchool AS TABLE
	(
		Id INT,
		InFavorOf NVARCHAR(50),
		ReturnChequeNo NVARCHAR(20),
		ReturnChequeDate DATETIME,
		ReturnBankName NVARCHAR(50),
		ReturnCLDate DATETIME,		
		Schoolwise_Student_Id INT		
	)
	
		INSERT INTO @tblCautionMoney
		SELECT vw_BaseStudentDetails.Enrolment_Number, 
			   vw_BaseStudentDetails.StudentName, 										
			   Receipt_Number,	   							
			   vw_BaseStudentDetails.Schoolwise_Student_Id,
			   @School_Id,
			   vwSD.className,
			   Student_Caution_Money_Details.Payment_Date			   							
		  FROM vw_BaseStudentDetails 	 	
    INNER JOIN Student_Caution_Money_Details
			ON Student_Caution_Money_Details.Schoolwise_Student_Id=vw_BaseStudentDetails.SchoolWise_Student_Id
	INNER JOIN YearWise_Student_Details YWSD
			ON vw_BaseStudentDetails.SchoolWise_Student_Id = YWSD.Student_Id
		   AND vw_BaseStudentDetails.School_Id = YWSD.School_Id
	INNER JOIN vw_standard_division vwSD
			ON YWSD.Standard_Id = vwSD.Standard_Id
		   AND YWSD.Division_id = vwSD.Division_Id
		   AND YWSD.School_Id = vwSD.School_Id
		   AND YWSD.Academic_Year_ID = vwSD.academic_year_id
		 WHERE vw_BaseStudentDetails.Is_Deleted = N'N'     						  		   	
		   AND Student_Caution_Money_Details.Is_Deleted=0
		   AND Student_Caution_Money_Details.School_Id=@School_Id	
		   AND YWSD.Academic_Year_ID = @AcademicYearId	   	  	
		
			 INSERT INTO @tblAllStudent
			 SELECT Student_Caution_Money_Details.Payment_Cheque_Id, 
			         Student_Caution_Money_Details.Receipt_Number,
					ISNULL(Student_Caution_Money_Cheque_Details.Cheque_Number,'-'),
					Student_Caution_Money_Details.Payment_Mode,
					Student_Caution_Money_Cheque_Details.Cheque_Date, 
					Bank_Name,
					Student_Caution_Money_Cheque_Details.ClearanceDate,					
					Student_Caution_Money_Details.Amount,				
					vw_BaseStudentDetails.SchoolWise_Student_Id	,
					@School_Id,null,null,null,null,null		,
					NetBankingPaymentTransactionID			
			   FROM Student_Caution_Money_Details 
		 INNER JOIN	vw_BaseStudentDetails
				 ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 			
	LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
				 ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
	LEFT OUTER JOIN Schoolwise_Bank_Master
				 ON Student_Caution_Money_Cheque_Details.Bank_Id=Schoolwise_Bank_Master.Schoolwise_Bank_Id
			  WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
				AND Student_Caution_Money_Details.Is_Deleted = 0
				AND vw_BaseStudentDetails.Is_Deleted = N'N'     			
				AND Paid_By_Student=1				
				AND Returned_By_School=0

		

		UPDATE TAS
		SET ChequeNo = NetBankingPaymentTransactions.TPSLTransactionID,
			ChequeDate = NetBankingPaymentTransactions.TransactionDateTime,
			BankName = NetBankingBanksDetails.RegisterdBankName,
			CLDate = NetBankingPaymentTransactions.ClearanceDate
		FROM @tblAllStudent TAS
		INNER JOIN NetBankingPaymentTransactions 
		ON TAS.NetBankingPaymentTransactionID = NetBankingPaymentTransactions.NetBankingPaymentTransactionID
		INNER JOIN NetBankingBanksDetails
		ON NetBankingPaymentTransactions.TransactionBankID=NetBankingBanksDetails.RegisteredBankID
		WHERE  NetBankingPaymentTransactions.Is_Deleted = 0
		AND NetBankingPaymentTransactions.TransactionStatus = 'Y'
		and NetBankingBanksDetails.Is_Deleted = 0
		AND TAS.NetbankingPaymentTransactionId IS NOT NULL
		AND TAS.NetbankingPaymentTransactionId <> 0
				 
		
			INSERT INTO @tblReturnedBySchool
			SELECT Student_Caution_Money_Details.Return_Cheque_Id,N'',
				   Student_Caution_Money_Cheque_Details.Cheque_Number,					   
				   Student_Caution_Money_Cheque_Details.Cheque_Date, 
				   Bank_Name,
				   Student_Caution_Money_Cheque_Details.ClearanceDate, 								   
				   vw_BaseStudentDetails.SchoolWise_Student_Id								
			   FROM Student_Caution_Money_Details 
		 INNER JOIN	vw_BaseStudentDetails 
				 ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 			
	LEFT OUTER JOIN Student_Caution_Money_Cheque_Details 
				 ON Student_Caution_Money_Details.Return_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
	LEFT OUTER JOIN Schoolwise_Bank_Master
				 ON Student_Caution_Money_Cheque_Details.Bank_Id=Schoolwise_Bank_Master.Schoolwise_Bank_Id	
			  WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
				AND Student_Caution_Money_Details.Is_Deleted = 0
				AND vw_BaseStudentDetails.Is_Deleted = N'N'     						
				AND Returned_By_School=1
				AND Paid_By_Student=1								
			
		
			 INSERT INTO @tblAllStudent
			 SELECT Student_Caution_Money_Details.Payment_Cheque_Id, 
			       Student_Caution_Money_Details.Receipt_Number,
					ISNULL(Student_Caution_Money_Cheque_Details.Cheque_Number,'-'),
					Student_Caution_Money_Details.Payment_Mode,
					Student_Caution_Money_Cheque_Details.Cheque_Date, 
					Bank_Name,
					Student_Caution_Money_Cheque_Details.ClearanceDate,					
					Student_Caution_Money_Details.Amount,				
					vw_BaseStudentDetails.SchoolWise_Student_Id	,
					@School_Id,N'',
					Returned.ReturnChequeNo,
					Returned.ReturnChequeDate,
					Returned.ReturnBankName,
					Returned.ReturnCLDate,
					NetBankingPaymentTransactionID					
			   FROM @tblReturnedBySchool Returned
		 INNER JOIN	vw_BaseStudentDetails 
				 ON Returned.Schoolwise_Student_Id=vw_BaseStudentDetails.SchoolWise_Student_Id				 
		 INNER JOIN Student_Caution_Money_Details 	
				 ON Student_Caution_Money_Details.Schoolwise_Student_Id = vw_BaseStudentDetails.SchoolWise_Student_Id 			
		 INNER JOIN Student_Caution_Money_Cheque_Details 
				 ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details.Student_Caution_Money_Cheque_Id
		 INNER JOIN Schoolwise_Bank_Master
				 ON Student_Caution_Money_Cheque_Details.Bank_Id=Schoolwise_Bank_Master.Schoolwise_Bank_Id		 
			  WHERE	(Student_Caution_Money_Cheque_Details.Is_Deleted = 0 OR Student_Caution_Money_Cheque_Details.Is_Deleted IS NULL) 
				AND Student_Caution_Money_Details.Is_Deleted = 0
				AND vw_BaseStudentDetails.Is_Deleted = N'N'     			
				AND Paid_By_Student=1				
				AND Returned_By_School=1	
								   


		IF(@School_Id = 122) -- SNS School Only
			BEGIN
    				SELECT Students.RegistrationNo,
    					   Students.Name,
    					   ReceiptNo,
    					   A.ChequeNo,
						   A.Mode,
						   A.ChequeDate,
						   A.BankName,
						   A.CLDate,
						   A.InFavorOf,
						   A.ReturnChequeNo,
						   A.ReturnChequeDate,
						   A.ReturnBankName ,
						   A.ReturnCLDate ,
						   A.Amount,
						   Students.PaymentDate,
						   CASE WHEN  A.ReturnChequeNo IS NULL OR A.ReturnChequeDate IS NULL OR A.ReturnBankName IS NULL OR  A.ReturnCLDate IS NULL 
								THEN 'No' ELSE 'Yes' 
								 END AS IsReturned,
						   Students.ReceiptNo,
						   Students.ClassName,			
						   @School_Id AS SchoolId,					
						   School_Name,
						   Address1,
						   Address2,
						   City,
						   Pincode,
						   Phone_Number,
						   FaxNumber,
						   WebSite,
						   Email,
						   Logo
					  FROM @tblCautionMoney Students
				INNER JOIN School_Master
						ON Students.SchoolId= School_Master.School_Id		  
		   LEFT OUTER JOIN @tblAllStudent A
						ON a.Schoolwise_Student_Id=Students.Schoolwise_Student_Id 
					 WHERE School_Master.School_Id=@School_Id
					   AND School_Master.Is_Deleted=N'N'		
					   AND (ReceiptNo BETWEEN @FromReceiptNo AND @ToReceiptNo)
					   AND (CONVERT(DATE,Students.PaymentDate) >= CONVERT(date,'2017-04-01 00:00:00.000'))
				  ORDER BY Students.ReceiptNo,A.ChequeDate 
			END
		ELSE
			BEGIN
					SELECT Students.RegistrationNo,
    					   Students.Name,
    					   ReceiptNo,
    					   A.ChequeNo,
						   A.Mode,
						   A.ChequeDate,
						   A.BankName,
						   A.CLDate,
						   A.InFavorOf,
						   A.ReturnChequeNo,
						   A.ReturnChequeDate,
						   A.ReturnBankName ,
						   A.ReturnCLDate ,
						   A.Amount,
						   Students.PaymentDate,
						   CASE WHEN  A.ReturnChequeNo IS NULL OR A.ReturnChequeDate IS NULL OR A.ReturnBankName IS NULL OR  A.ReturnCLDate IS NULL 
								THEN 'No' ELSE 'Yes' 
								 END AS IsReturned,
						   Students.ReceiptNo,
						   Students.ClassName,			
						   @School_Id AS SchoolId,					
						   School_Name,
						   Address1,
						   Address2,
						   City,
						   Pincode,
						   Phone_Number,
						   FaxNumber,
						   WebSite,
						   Email,
						   Logo
					  FROM @tblCautionMoney Students
				INNER JOIN School_Master
						ON Students.SchoolId= School_Master.School_Id		  
			LEFT OUTER JOIN @tblAllStudent A
		                 ON A.Schoolwise_Student_Id = Students.Schoolwise_Student_Id
		                 AND A.ReceiptNumber = Students.ReceiptNo 
					 WHERE School_Master.School_Id=@School_Id
					   AND School_Master.Is_Deleted=N'N'		
					   AND (ReceiptNo BETWEEN @FromReceiptNo AND @ToReceiptNo)					   
				  ORDER BY Students.ReceiptNo,A.ChequeDate 
			END
END
GO
