/****** Object:  StoredProcedure [dbo].[usp_GetCautionMoneyReciept]    Script Date: 16-10-2025 14:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Milind
-- Create date: 2 Oct 2009
-- Description:	To get student caution money receipt.
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetCautionMoneyReciept]
@SchoolId int,
@StudentId int,
@IsReturnMode BIT,
@StudentCautionMoneyId int
--//iSchoolId iAcadmicYearId iStandardId iYearwiseStudentId iInsertedByid

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    ---------------------------------------------------------------------------------------------------------
	DECLARE 
	@CreatorUserId INT,
	@UpdatedUserId INT,
	@Creator NVARCHAR(70),
	@Updator NVARCHAR(70),
	@Generator NVARCHAR(150)		
	 SELECT TOP 1 @CreatorUserId=Inserted_By_id  
		  FROM Student_Caution_Money_Details 
		 WHERE Schoolwise_Student_Id=@StudentId

	  SELECT @Creator=  dbo.Udf_GetReceiptGeneratorName(@CreatorUserId)

		 SELECT TOP 1 @UpdatedUserId=Updated_By_Id  
		  FROM Student_Caution_Money_Details 
		 WHERE Schoolwise_Student_Id=@StudentId

		  SELECT @Updator=  dbo.Udf_GetReceiptGeneratorName(@UpdatedUserId)

		  IF(@CreatorUserId=@UpdatedUserId)
		  BEGIN
				SET @Generator=@Creator
		  END
		  --ELSE IF (@Creator=N'Online Fee Payment')
		  --BEGIN
		  --SET @Generator=@Creator
		  --END
		  ELSE
		  BEGIN
		  SET @Generator=@Updator
		  END

		  DECLARE @AcademicYearId INT,
				  @RefundNote NVARCHAR(200) = 'TOWARDS REFUNDABLE'
		  
		  SELECT TOP (1) @AcademicYearId = YearWise_Student_Details_1.Academic_Year_ID,
						 @RefundNote = CASE WHEN @SchoolId = 122 AND SM.Standard_Name NOT LIKE '11 %' AND SM.Standard_Name NOT LIKE '12 %' THEN 'TOWARDS NON-REFUNDABLE' ELSE 'TOWARDS REFUNDABLE' END
			FROM YearWise_Student_Details AS YearWise_Student_Details_1
			INNER JOIN Standard_Master SM
			ON YearWise_Student_Details_1.Standard_Id = SM.Standard_Id
			WHERE (Student_Id = @StudentId)
			AND SM.Is_Deleted = 'N'
			AND YearWise_Student_Details_1.Is_Deleted = 'N'
		ORDER BY YearWise_Student_Details_1.Academic_Year_ID

		  DECLARE @ReceiptNoDigits NVARCHAR(30)
		  SELECT @ReceiptNoDigits = value 
		  from SchoolSettings
		  where Name = 'ReceiptMinimumDigits'
		  and AcademicYearId = @AcademicYearId
		  and SchoolId = @SchoolId
		  and IsDeleted = 0
		  and SchoolId = @SchoolId
		  AND AcademicYearId = @AcademicYearId
		  
		  DECLARE @WasRTEStudent BIT = 0
		  IF EXISTS
		  (
			  select top 1 1
			  from YearWise_Student_Details ysd
			  inner join vw_standard_division vsd
			  on ysd.Standard_Id = vsd.Standard_Id
			  and ysd.Division_id = vsd.Division_Id
			  where ysd.Is_Deleted = 'N'
			  and ysd.Is_RTE_Student = 1
			  and vsd.Standard_Name = '8'
			  and ysd.Student_Id = @StudentId
		  )
		  BEGIN
				SET @WasRTEStudent = 1
		  END

		  DECLARE @Note NVARCHAR(200)
		  IF @SchoolId = 11 AND @AcademicYearId >= 14
		  BEGIN
			SET @Note = 'The total amount for the CMD is Rs. 70,000, which is broken down as : Rs. 55,000 - Refundable, Rs.15,000 - Non-refundable.'
		  END
		  ELSE
		  BEGIN
			SET @Note = ''
		  END
		  
	---------------------------------------------------------------------------------------------------------

		   SELECT Salutation_Master.Salutation_Name + N' ' + SchoolWise_Student_Master.First_Name + N' ' + SchoolWise_Student_Master.Middle_Name + N' ' + SchoolWise_Student_Master.Last_Name AS StudentName, 
				  CASE WHEN @IsReturnMode = 0 THEN Student_Caution_Money_Details.Receipt_Number ELSE Student_Caution_Money_Details.ReturnReceiptNo END AS Receipt_Number , 
				  CASE WHEN @IsReturnMode = 0 THEN Student_Caution_Money_Details.Payment_Date ELSE Student_Caution_Money_Details.Return_Date END AS Payment_Date, 
				  Student_Caution_Money_Details.Payment_Cheque_Id, 
				  Student_Caution_Money_Details.Payment_Mode, 
				  CASE WHEN @WasRTEStudent  =1 THEN '9' ELSE Standard_Master.Standard_Name END AS Standard_Name, 
				  
				  CASE WHEN @IsReturnMode = 0 THEN
					  CASE WHEN Student_Caution_Money_Details.Payment_Mode = 'E' THEN Student_Caution_Money_Details.Payment_Date 
						   WHEN Student_Caution_Money_Details.Payment_Mode = 'N' THEN NBPT.TransactionDateTime
						   ELSE Student_Caution_Money_Cheque_Details_1.Cheque_Date END 
					ELSE
						case when Student_Caution_Money_Details.Return_Mode = 'Q' then
							ChequeReturn.Cheque_Date
						else
						Student_Caution_Money_Details.Return_Date
						end
					END
				   AS Cheque_Date,

				   Student_Caution_Money_Cheque_Details_1.Remarks,
				  
				  CASE WHEN @IsReturnMode = 0 THEN Schoolwise_Bank_Master.Bank_Name else BankReturn.Bank_Name end as Bank_Name, 

				  Student_Caution_Money_Details.Remarks as PaymentRemark,
				  Student_Caution_Money_Details.PaidByName,
				  UPPER(School_Master.School_Name) as School_Name, 				  
				  School_Master.Address + N', ' + School_Master.City + N' - ' + School_Master.Pincode + N'<br/>' + N'Ph.: ' + School_Master.Phone_Number + N'  Fax : ' + CASE WHEN School_Master.FaxNumber <> N'' THEN School_Master.FaxNumber 
																																																				  ELSE N'-' END + N' Website : ' + CASE WHEN School_Master.WebSite <> N'' THEN School_Master.WebSite
																																																														ELSE N'-' END AS SchoolAddress, 
				  CASE WHEN @IsReturnMode = 0 THEN Student_Caution_Money_Cheque_Details_1.Cheque_Number else ChequeReturn.Cheque_Number end as Cheque_Number, 

				  CASE WHEN @IsReturnMode = 0 THEN SCMEP.TransactionNumber +' (' + EPD.Type + ')' ELSE SCMEPRet.TransactionNumber +' (' + EPDRet.Type + ')' END AS Electronic_Payment_TranNo,
				  CASE WHEN @IsReturnMode = 0 THEN SBM.Bank_Name ELSE SBMRet.Bank_Name END  AS Electronic_Payment_Bank,

				  NBPT.TPSLTransactionID AS NetBankingPaymentTransactionID,
				  SS.RegisterdBankName,
				  SchoolWise_Student_Master.AdmissionFormNo, 
				  --Student_Caution_Money_Details.Amount, 
				  CASE WHEN @IsReturnMode = 0 THEN Student_Caution_Money_Details.Amount ELSE Student_Caution_Money_Details.ReturnAmount END AS Amount,
				  School_Master.FaxNumber, 
				  School_Master.WebSite, 
				  School_Master.City, 
				  School_Master.ICardLogo, 
				  School_Master.LogoPath,
				  CASE WHEN  Student_Admissions.Form_Number IS NOT NULL THEN Student_Admissions.Form_Number 
					   ELSE SchoolWise_Student_Master.FormNumber END AS Form_Number,
				 @Generator AS Generator,
				 ISNULL(Student_Caution_Money_Details.ConcessionAmount,0) AS ConcessionAmount,
				 Student_Caution_Money_Details.ReturnRemark,
				 Student_Caution_Money_Details.Return_Mode,
				 dbo.udf_ConvertNumberToText(Student_Caution_Money_Details.Amount) as AmountInText,
				 CASE WHEN @ReceiptNoDigits = '0' OR @ReceiptNoDigits = '' THEN cast(Student_Caution_Money_Details.Receipt_Number as nvarchar(10)) ELSE dbo.udf_PadLeft(Student_Caution_Money_Details.Receipt_Number, @ReceiptNoDigits, N'0') END AS ReceiptNumberInFormat,
				 School_Master.Address1 as SchoolAddress1,
				 School_Master.Address2 as SchoolAddress2,
				 School_Master.Pincode as SchoolPincode,
				 School_Master.Phone_Number as SchoolPhoneNumber,
				 School_Master.Email as SchoolEmail,
				 School_Master.Logo as SchoolLogo,
				 @Note AS NewNote,
				 @RefundNote RefundNote
			FROM School_Master 
	  INNER JOIN Student_Caution_Money_Details 
	  INNER JOIN SchoolWise_Student_Master 
			  ON Student_Caution_Money_Details.Schoolwise_Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id 
			 AND Student_Caution_Money_Details.School_Id = SchoolWise_Student_Master.School_Id 
	  INNER JOIN YearWise_Student_Details 
			  ON SchoolWise_Student_Master.SchoolWise_Student_Id = YearWise_Student_Details.Student_Id 
			 AND SchoolWise_Student_Master.School_Id = YearWise_Student_Details.School_Id 
	  INNER JOIN Standard_Master 
			  ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
			 AND YearWise_Student_Details.School_Id = Standard_Master.School_Id 
			 AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
	  INNER JOIN Salutation_Master 
			  ON SchoolWise_Student_Master.Salutation_Id = Salutation_Master.Salutation_Id 
			  ON School_Master.School_Id = Student_Caution_Money_Details.School_Id 
 LEFT OUTER JOIN Student_Admissions 
			  ON SchoolWise_Student_Master.AdmissionFormNo = Student_Admissions.Student_Admission_Id 
			 AND SchoolWise_Student_Master.School_Id = Student_Admissions.School_Id 
 LEFT OUTER JOIN Student_Caution_Money_Cheque_Details AS Student_Caution_Money_Cheque_Details_1 
	  INNER JOIN Schoolwise_Bank_Master 
			  ON Student_Caution_Money_Cheque_Details_1.Bank_Id = Schoolwise_Bank_Master.Schoolwise_Bank_Id 
			  ON Student_Caution_Money_Details.Payment_Cheque_Id = Student_Caution_Money_Cheque_Details_1.Student_Caution_Money_Cheque_Id

LEFT OUTER JOIN Student_Caution_Money_Cheque_Details AS ChequeReturn 
	  left OUTER JOIN Schoolwise_Bank_Master BankReturn
			  ON ChequeReturn.Bank_Id = BankReturn.Schoolwise_Bank_Id 
			  ON Student_Caution_Money_Details.Return_Cheque_Id = ChequeReturn.Student_Caution_Money_Cheque_Id

 LEFT OUTER JOIN StudentCautionMoneyElectronicPayments SCMEP
			  ON SCMEP.SchoolwiseStudentId = Student_Caution_Money_Details.Schoolwise_Student_Id
			 AND Student_Caution_Money_Details.School_Id = SCMEP.SchoolId		
			 AND SCMEP.IsDeleted = 0		 
			 AND SCMEP.IsReturnRecord = 0
 LEFT OUTER JOIN Schoolwise_Bank_Master SBM
			  ON SCMEP.BankId = SBM.Schoolwise_Bank_Id
			 AND SCMEP.SchoolId = SBM.School_Id
			 AND SBM.Is_Deleted = 'N'
 LEFT OUTER JOIN ElectronicPaymentTypes EPD
			  ON SCMEP.TypeId = EPD.Id
			 AND SCMEP.SchoolId = EPD.SchoolId 

LEFT OUTER JOIN StudentCautionMoneyElectronicPayments SCMEPRet
              ON SCMEPRet.SchoolwiseStudentId = Student_Caution_Money_Details.Schoolwise_Student_Id
			 AND Student_Caution_Money_Details.School_Id = SCMEPRet.SchoolId		
			 AND SCMEPRet.IsDeleted = 0		 
			 AND SCMEPRet.IsReturnRecord =1
 LEFT OUTER JOIN Schoolwise_Bank_Master SBMRet
			  ON SCMEPRet.BankId = SBMRet.Schoolwise_Bank_Id
			 AND SCMEPRet.SchoolId = SBMRet.School_Id
			 AND SBMRet.Is_Deleted = 'N'
 LEFT OUTER JOIN ElectronicPaymentTypes EPDRet
			  ON SCMEPRet.TypeId = EPDRet.Id
			 AND SCMEPRet.SchoolId = EPDRet.SchoolId

 LEFT OUTER JOIN NetBankingPaymentTransactions NBPT
			  ON NBPT.NetBankingPaymentTransactionID = Student_Caution_Money_Details.NetBankingPaymentTransactionID
 LEFT OUTER JOIN (
					SELECT NBBD.RegisteredBankID,
					       NBBD.RegisterdBankName
					  FROM NetBankingBanksDetails NBBD
				INNER JOIN PaymentGatewayMaster PGM
						ON PGM.Id = NBBD.PaymentGatewayId
					 WHERE PGM.IsActive = 1
					   AND PGM.SchoolId = @SchoolId
					   AND NBBD.Is_Deleted = 0
				 )SS	
			  ON SS.RegisteredBankID = 	NBPT.TransactionBankID
		   WHERE (Student_Caution_Money_Details.Is_Deleted = 0) 
             AND (@StudentCautionMoneyId IS NULL OR @StudentCautionMoneyId = 0 OR Student_Caution_Money_Details.Student_Caution_Money_Id = @StudentCautionMoneyId )			 
		     AND (Student_Caution_Money_Details.Payment_Date IS NOT NULL) 
			 AND (Student_Caution_Money_Details.Schoolwise_Student_Id = @StudentId) 
			 AND (YearWise_Student_Details.Academic_Year_ID = (
																SELECT TOP (1) Academic_Year_ID
																  FROM YearWise_Student_Details AS YearWise_Student_Details_1
																 WHERE (Student_Id = @StudentId)
															  ORDER BY Academic_Year_ID)
															  ) 
			 AND (Salutation_Master.Is_Deleted = N'N') 
			 AND (Student_Caution_Money_Details.School_Id = @SchoolId)

END
