/****** Object:  StoredProcedure [dbo].[usp_GetCautionMoneyDepositDetailsForReport]    Script Date: 8/25/2025 11:29:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetCautionMoneyDepositDetailsForReport]

@School_Id INT,
--@Academic_Year_Id INT,
@SelectedAcademicYearId INT=0
	
AS
BEGIN

	IF @SelectedAcademicYearId IS NULL
		SET @SelectedAcademicYearId = 0
	
	declare @StartDate DATE,
			@EndDate DATE

	SELECT @StartDate = Start_date,
		   @EndDate = End_Date
	FROM SchoolWise_Academic_Year_Master
	WHERE School_Id = @School_Id
	AND Academic_Year_ID = @SelectedAcademicYearId
	AND Is_Deleted = 'N'

	DECLARE @tblCautionMoneyDetails AS TABLE
	(
		SchoolwiseStudentId INT,
		JoiningDate DATE,
		Student_Caution_Money_Id INT,
		EnrolmentNumber NVARCHAR(50),
		StudentName NVARCHAR(300),
		ClassOfEnrolment NVARCHAR(50),
		PaymentDate SMALLDATETIME,
		PaymentMode VARCHAR(50),
		SchoolLeftDate SMALLDATETIME,
		Amount INT,
		YearOfEnrolment NVARCHAR(50),		
		TxnNo NVARCHAR(50),
		BankName NVARCHAR(100),
		ClearanceDate date,
		SelectedAcademicYearId INT
	)
	INSERT INTO @tblCautionMoneyDetails
	 SELECT VBSD.SchoolWise_Student_Id,
			VBSD.Joining_Date,
			Student_Caution_Money_Id,
			Enrolment_Number, 
			StudentName, 
			'',
			--ClassName as ClassOfEnrolment,
			Payment_Date,
			CASE Payment_Mode WHEN 'Q' THEN 'Cheque' WHEN 'E' THEN 'Electronic' when 'N' THEN 'Netbanking' ELSE 'Cash' END,
			SchoolLeft_Date,
			Amount,
			NULL,
			NULL,
			NULL,
			NULL,
			@SelectedAcademicYearId
	   FROM vw_BaseStudentDetails VBSD
 INNER JOIN Student_Caution_Money_Details SCMD
         ON VBSD.SchoolWise_Student_Id = SCMD.Schoolwise_Student_Id
 --INNER JOIN YearWise_Student_Details YSD
 --        ON YSD.Student_Id = VBSD.SchoolWise_Student_Id
 --INNER JOIN vw_standard_division VSD
	--	 ON VSD.Division_Id = YSD.Division_id
	--	AND VSD.Standard_Id = YSD.Standard_Id
	  WHERE 
	  --VSD.academic_year_id = @Academic_Year_Id
	  --  AND 
		VBSD.Is_Deleted = 'N'
		AND SCMD.Is_Deleted = 0
	
		--AND YSD.Is_Deleted = 'N'
		and VBSD.School_Id = @School_Id
		and SCMD.Payment_Mode IS NOT NULL
		AND SCMD.Payment_Mode <> ''
		and (convert(date,vbsd.Joining_Date) between CONVERT(dATE,@StartDate) AND CONVERT(dATE,@EndDate) OR @SelectedAcademicYearId = 0)
				
		UPDATE CMD
		SET ClassOfEnrolment = vsd.className,
			YearOfEnrolment = CAST(YEAR(saym.Start_date) AS NVARCHAR(4)) + ' - '+ CAST(YEAR(saym.End_Date) AS NVARCHAR(4))
		FROM @tblCautionMoneyDetails CMD
		INNER JOIN YearWise_Student_Details YSD
		ON CMD.SchoolwiseStudentId = YSD.Student_Id	
		inner join
		(
			SELECT cmd.SchoolwiseStudentId, min(ysd.Academic_Year_ID) as MinAcademicYearId
			FROM @tblCautionMoneyDetails CMD
			INNER JOIN YearWise_Student_Details YSD
			ON CMD.SchoolwiseStudentId = YSD.Student_Id		
			WHERE YSD.Is_Deleted = 'N'
			GROUP BY cmd.SchoolwiseStudentId
		)s
		on ysd.Student_Id = s.SchoolwiseStudentId
		and ysd.Academic_Year_ID = s.MinAcademicYearId
		inner join SchoolWise_Academic_Year_Master SAYM
		ON YSD.Academic_Year_ID = SAYM.Academic_Year_ID		
		inner join vw_standard_division vsd
		on ysd.Standard_Id = vsd.Standard_Id
		and ysd.Division_id = vsd.Division_Id
		WHERE YSD.Is_Deleted = 'N'

	UPDATE CMD
	SET TxnNo = SCMCD.Cheque_Number,
		BankName = SBM.Bank_Name,
		ClearanceDate = SCMCD.ClearanceDate
	   FROM @tblCautionMoneyDetails CMD
	INNER JOIN Student_Caution_Money_Details SCMD
	ON CMD.Student_Caution_Money_Id = SCMD.Student_Caution_Money_Id	   
    INNER JOIN Student_Caution_Money_Cheque_Details SCMCD
	ON	SCMD.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
 INNER JOIN Schoolwise_Bank_Master SBM
		 ON SBM.Schoolwise_Bank_Id = SCMCD.Bank_Id
	WHERE SCMCD.Is_Deleted = 0
		AND SBM.Is_Deleted = 'N'

	UPDATE CMD
	SET TxnNo = SCMEP.TransactionNumber,
		BankName = SBM.Bank_Name,
		ClearanceDate = SCMEP.ClearanceDate
	   FROM StudentCautionMoneyElectronicPayments SCMEP
 INNER JOIN @tblCautionMoneyDetails CMD
	     ON SCMEP.SchoolwiseStudentId = CMD.SchoolwiseStudentId
 INNER JOIN Schoolwise_Bank_Master SBM
         ON SBM.Schoolwise_Bank_Id = SCMEP.BankId
	  WHERE (IsReturnRecord is null or IsReturnRecord = 0) 
		AND SCMEP.IsDeleted = 0
		AND SBM.Is_Deleted = 'N'
		 AND CMD.PaymentMode = 'Electronic'
		
		SELECT SchoolwiseStudentId ,
		JoiningDate ,
		Student_Caution_Money_Id ,
		EnrolmentNumber ,
		StudentName ,
		ClassOfEnrolment ,
		PaymentDate ,
		PaymentMode ,
		SchoolLeftDate ,
		Amount ,
		YearOfEnrolment ,		
		case when TxnNo is null or TxnNo = '' then '-' else TxnNo end as TxnNo ,
		case when BankName is null or BankName = '' then '-' else BankName end as BankName ,
		ClearanceDate,
		CAST(case when SchoolLeftDate is null then '-' else REPLACE(CONVERT(NVARCHAR, SchoolLeftDate, 106), ' ', '-') end AS NVARCHAR(50)) as NewSchoolLeftDate,
		CAST(case when ClearanceDate is null then '-' else REPLACE(CONVERT(NVARCHAR, ClearanceDate, 106), ' ', '-') end AS NVARCHAR(50)) as NewClearanceDate
		FROM @tblCautionMoneyDetails
		ORDER BY JoiningDate desc, SchoolwiseStudentId desc

END

GO
