/****** Object:  StoredProcedure [Accounts].[usp_GetFeeVoucherDetails]    Script Date: 8/25/2025 11:29:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================================================
-- Author		: Vishal B. Shah
-- Create date	: 24-Nov-2011
-- Description	: Returns student and payment details for specified voucher and ledger.
-- ------------------------------------------------------------------------------------------------
-- MODIFICATION LOG
-- ##	Date		Author		Description
-- ------------------------------------------------------------------------------------------------
-- 01	2-Feb-2012	Vishal		Modified to include Caution money details.
-- 02	19-Feb-2012 Poonam		Procedure is modifed for performance improvement
--								Most of the Queries are removed from while loop 
--								for performance improvement.
--
-- 03	26-Mar-13	Vishal		#6343. Updated as per changes in udf_GetParticularsForFeeVoucher.
-- ================================================================================================
ALTER PROCEDURE [Accounts].[usp_GetFeeVoucherDetails]
	@SchoolId INT,
	@AcademicYearId INT,
	@FinancialYearId INT,
	@VoucherId INT,
	@LedgerId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @StudentDetails AS TABLE
	(
		SrNo INT IDENTITY,
		StudentId INT,
		ReceiptNo NVARCHAR(50),
		PaymentMode INT,
		IsCautionMoney BIT,
		IsDirectlyDeposited BIT,
		CautionAmount DECIMAL(18,2),
		Amount DECIMAL(18,2),
		PaymentDetails NVARCHAR(300),
		DepositedLedgerId INT,
		DepositedLedgerName NVARCHAR(100),
		Remarks NVARCHAR(MAX),
		TransactionNumber NVARCHAR(25)
	)
	
	DECLARE @Result AS TABLE
	(
		Id INT IDENTITY(1,1),
		RegNo NVARCHAR(50),
		StudentName NVARCHAR(200),
		Class NVARCHAR(50),
		PaymentMode INT,
		PaymentDetails NVARCHAR(300),
		Amount DECIMAL(18,2),
		PayableFor NVARCHAR(MAX),
		DepositedLedgerId INT,
		DepositedLedgerName NVARCHAR(100),
		AcademicYear NVARCHAR(9),
		ReceiptNumbers NVARCHAR(30),
		TransactionNumber NVARCHAR(25)
	)

	INSERT @StudentDetails
	SELECT FVD.StudentId
		  ,FVD.ReceiptNumber
		  ,FVD.PaymentMode
		  ,FVD.IsCautionMoney
		  ,0
		  ,0
		  ,0
		  ,''
		  ,NULL
		  ,''
		  ,''
		  ,''
	 FROM Accounts.FeeVoucherDetails FVD WITH(NOLOCK)
--INNER JOIN Accounts.VoucherDetails VD
	--	ON FVD.VoucherId = VD.Id
	WHERE FVD.VoucherId = @VoucherId
	   AND FVD.IsDeleted = 0
	   AND FVD.SchoolId = @SchoolId
	   AND FVD.FinancialYearId = @FinancialYearId	   
	--   AND VD.SchoolId = @SchoolId
	--   AND VD.FinancialYearId = @FinancialYearId
  GROUP BY FVD.StudentId
		  ,FVD.ReceiptNumber
		  ,FVD.PaymentMode
		  ,FVD.IsCautionMoney

	UPDATE @StudentDetails
	SET TransactionNumber = SSPDC.Cheque_Number
	FROM @StudentDetails SD
	INNER JOIN Schoolwise_Student_Fee_Details SSFD
	ON SD.StudentId = SSFD.Student_Id
	and sd.ReceiptNo = ssfd.Receipt_Number
	INNER JOIN Schoolwise_Student_PostDatedCheques SSPDC
	ON SSFD.Student_Id = SSPDC.Student_Id
	INNER JOIN Student_Fee_PDC_Details SFPD
	ON SSPDC.PostDated_Cheque_Id = SFPD.PDC_Id
	AND SSFD.Schoolwise_Student_Fee_Id = SFPD.Schoolwise_Student_Fee_Id
	WHERE SSFD.Is_Deleted = 'N'
	AND SSPDC.Is_Deleted = 'N'
	AND SSFD.Is_Deleted = 'N'
	AND SFPD.Is_Deleted = 'N'

    UPDATE @StudentDetails
	SET TransactionNumber = SCPD.Swap_Number
	FROM @StudentDetails SD
	INNER JOIN Schoolwise_Student_Fee_Details SSFD
	ON SD.StudentId = SSFD.Student_Id
	AND SD.ReceiptNo = SSFD.Receipt_Number
	INNER JOIN StudentCardPaymentDetails SCPD
	ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id
	WHERE SSFD.Is_Deleted = 'N'
	AND SCPD.Is_Deleted = 0

	UPDATE @StudentDetails
	SET TransactionNumber = SEP.TransactionNumber
	FROM @StudentDetails SD
	INNER JOIN Schoolwise_Student_Fee_Details SSFD
	ON SD.StudentId = SSFD.Student_Id
	AND SD.ReceiptNo = SSFD.Receipt_Number
	INNER JOIN StudentElectronicPayments SEP
	ON SSFD.Schoolwise_Student_Fee_Id = SEP.SchoolwiseStudentFeeId
	WHERE SSFD.Is_Deleted = 'N'
	AND SEP.IsDeleted = 0

	UPDATE @StudentDetails
	SET TransactionNumber = NBPT.TPSLTransactionID
	FROM @StudentDetails SD
	INNER JOIN Schoolwise_Student_Fee_Details SSFD
	ON SD.StudentId = SSFD.Student_Id
	AND SD.ReceiptNo = SSFD.Receipt_Number
	INNER JOIN NetBankingPaymentTransactions NBPT
	ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
	WHERE SSFD.Is_Deleted = 'N'
	AND NBPT.Is_Deleted = 0
	AND NBPT.TransactionStatus = 'Y'

	IF EXISTS (SELECT 1 FROM @StudentDetails WHERE IsCautionMoney = 1)
	BEGIN
		DECLARE @CautionMoneyLedgerId INT
		DECLARE @CashLedgerId INT
		
		SET @CashLedgerId = Accounts.udf_GetCashLedgerId(@SchoolId, @FinancialYearId,0,'')

		SELECT @CautionMoneyLedgerId = LM.Id
		  FROM Accounts.LedgerMaster LM WITH(NOLOCK)
		 WHERE LM.SchoolId = @SchoolId
		   AND LM.FinancialYearId = @FinancialYearId
		   AND LM.Name = N'Caution Money'
		   AND LM.IsDeleted = 0	

		-- If it's caution money, we fetch the amount accordingly.
		-- We check if @LedgerId is for Cash Ledger or Caution Money ledger. We proceed only if it is one of them.
		-- The reason for checking this is becuase we need not return any records if 

		
		IF (@LedgerId = @CashLedgerId OR @LedgerId = @CautionMoneyLedgerId)
			UPDATE @StudentDetails
			   SET CautionAmount =  SCMD.Amount
			  FROM dbo.Student_Caution_Money_Details SCMD
			 WHERE SCMD.School_Id = @SchoolId
			   AND SCMD.Schoolwise_Student_Id = StudentId
			   AND SCMD.Paid_By_Student = 1
			   AND SCMD.Is_Deleted = 0
			   AND IsCautionMoney = 1
			   AND PaymentMode = 1

			UPDATE @StudentDetails
			   SET CautionAmount =  SCMD.Amount,
			       TransactionNumber = SCMCD.Cheque_Number
			  FROM dbo.Student_Caution_Money_Details SCMD
		INNER JOIN dbo.Student_Caution_Money_Cheque_Details SCMCD
				ON SCMD.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
			 WHERE SCMD.School_Id = @SchoolId
			   AND SCMD.Schoolwise_Student_Id = StudentId
			   AND SCMD.Paid_By_Student = 1
			   AND SCMD.Is_Deleted = 0
			   AND (SCMCD.DepositBankId = @LedgerId OR @LedgerId = @CautionMoneyLedgerId)
			   AND SCMCD.Is_Deleted = 0
			   AND IsCautionMoney = 1
			   AND PaymentMode <> 1

			UPDATE @StudentDetails
			   SET CautionAmount =  SCMD.Amount,
				   TransactionNumber = SCMEP.TransactionNumber
			  FROM dbo.Student_Caution_Money_Details SCMD
		INNER JOIN dbo.StudentCautionMoneyElectronicPayments SCMEP
				ON SCMD.Schoolwise_Student_Id = SCMEP.SchoolwiseStudentId
			 WHERE SCMD.School_Id = @SchoolId
			 AND (SCMEP.DepositedBankId = @LedgerId OR @LedgerId = @CautionMoneyLedgerId)
			   AND SCMEP.IsDeleted = 0
			   AND SCMD.Schoolwise_Student_Id = StudentId
			   AND SCMD.Paid_By_Student = 1
			   AND SCMD.Is_Deleted = 0			   			   
			   AND IsCautionMoney = 1
			   AND PaymentMode = 5
			   AND SCMD.Payment_Mode = 'E'

			UPDATE @StudentDetails
			   SET CautionAmount =  SCMD.Amount,
				   TransactionNumber = NBPT.TPSLTransactionID
			  FROM dbo.Student_Caution_Money_Details SCMD
        INNER JOIN dbo.NetBankingPaymentTransactions NBPT
				ON (NBPT.DepositBankId = @LedgerId OR @LedgerId = @CautionMoneyLedgerId)			   
			 WHERE SCMD.School_Id = @SchoolId
			   AND SCMD.Schoolwise_Student_Id = StudentId
			   AND SCMD.Paid_By_Student = 1
			   AND SCMD.Is_Deleted = 0			   			   
			   AND IsCautionMoney = 1
			   AND PaymentMode = 4
	END
	PRINT 'S333'
	
	IF EXISTS (SELECT 1 FROM @StudentDetails WHERE IsCautionMoney = 0)
	  BEGIN
		-- If the PaymentMode is Cash, we check to see if it was directly deposited in the bank (DepositBankId will not be null)
		--	IF @PaymentMode = 1 AND @IsCautionMoney = 0
		UPDATE @StudentDetails
		   SET IsDirectlyDeposited = ISNULL ( SSFD.DepositBankId , 0 )
		  FROM dbo.Schoolwise_Student_Fee_Details SSFD
		 WHERE SSFD.School_Id = @SchoolId
	--	   AND SSFD.Academic_Year_Id = @AcademicYearId
		   AND SSFD.Student_Id = StudentId
		   AND SSFD.Receipt_Number = ReceiptNo
		   AND SSFD.Is_Deleted = N'N'
		   AND PaymentMode = 1 
		   AND IsCautionMoney = 0    

		DECLARE @StudentId INT,
				@ReceiptNo NVARCHAR(50),
				@PaymentMode INT,
				@IsCautionMoney BIT,
				@SrNo INT
	
		DECLARE @Count INT = 0
		
		SELECT @Count = COUNT(StudentId)
		  FROM @StudentDetails
		 WHERE IsCautionMoney = 0
		DECLARE @IsDirectlyDeposited BIT
		
		SELECT TOP(1)
				    @StudentId = StudentId
				   ,@ReceiptNo = ReceiptNo
				   ,@PaymentMode = PaymentMode
				   ,@IsCautionMoney = IsCautionMoney
				   ,@IsDirectlyDeposited = IsDirectlyDeposited
				   ,@SrNo = SrNo
			  FROM @StudentDetails
			 WHERE IsCautionMoney = 0
		  ORDER BY SrNo

		WHILE @Count > 0
		  BEGIN
	
			DECLARE	@Amount DECIMAL(18,2)
			-- We reset the amount to 0 becuase if we don't and the following query to fetch amount for the given studentid and receipt no returns null,
			-- then the @Amount variable retains it's last value (value that was fetched in the previous loop).
			SET @Amount = 0	
PRINT 'S5'
			IF @IsCautionMoney = 0
				BEGIN			
					-- If IsDirectlyDeposited = 1, we pass PaymentMode as 5, which will indicate the udf that
					-- payment was done by cash deposited directly at the bank, and will fetch details accordingly.
					IF @IsDirectlyDeposited <> 0				
						SELECT @Amount = Amount
						  FROM Accounts.udf_GetParticularsForFeeVoucher(@SchoolId, @FinancialYearId, @StudentId, @ReceiptNo, 6)
						 WHERE LedgerId = @LedgerId
						   AND IsAdvanceFee = 0		-- #03				
					ELSE					
					begin		
					--select @SchoolId, @FinancialYearId, @StudentId, @ReceiptNo, @PaymentMode
						SELECT @Amount = Amount
						  FROM Accounts.udf_GetParticularsForFeeVoucher(@SchoolId, @FinancialYearId, @StudentId, @ReceiptNo, @PaymentMode)
						 WHERE LedgerId = @LedgerId
						   AND IsAdvanceFee = 0		-- #03	
					end
				END
	PRINT 'S6'
				IF @Amount > 0 
					UPDATE @StudentDetails
					   SET CautionAmount = @Amount
					 WHERE SrNo = @SrNo
				ELSE 
					DELETE FROM @StudentDetails
					 WHERE SrNo = @SrNo
		
			   DECLARE @OldSrNo INT
			   SET @OldSrNo  = @SrNo
			
				SELECT @Count = COUNT(StudentId)
				  FROM @StudentDetails
				 WHERE SrNo > @OldSrNo
				   AND IsCautionMoney = 0
				
				SELECT TOP(1)
						@StudentId = StudentId
					  ,@ReceiptNo = ReceiptNo
					  ,@PaymentMode = PaymentMode
					  ,@IsCautionMoney = IsCautionMoney
					  ,@IsDirectlyDeposited = IsDirectlyDeposited
					  ,@SrNo = SrNo
				  FROM @StudentDetails 
				 WHERE SrNo > @OldSrNo
				   AND IsCautionMoney = 0
			  ORDER BY SrNo
		END
	END
	PRINT 'S3444'

	-- We delete any student whose amount = 0, since it shouldn't be returned in the result set.
	DELETE FROM @StudentDetails
	 WHERE CautionAmount = 0
	
	--SELECT * FROM @StudentDetails
	
	BEGIN	
		-- CASH PAYMENTS
		-- If it is direclty deposited in bank, we get the Ledger id and name of the bank it was deposited in.
					-- (IsCautionMoney = 0 check is added because it could be possible that it's cautionmoney, and currently there is no option in the system
					--  to specify that caution money paid in cash is directly deposited in bank.)
		UPDATE @StudentDetails
		   SET PaymentDetails = N'Directly deposited in bank.'
			  ,DepositedLedgerId = LM.Id
			  ,DepositedLedgerName = LM.Name
			  ,Remarks = SSFD.Remarks
		  FROM dbo.Schoolwise_Student_Fee_Details SSFD
	INNER JOIN Accounts.LedgerMaster LM
			ON SSFD.DepositBankId = LM.Id
		 WHERE SSFD.School_Id = @SchoolId
	--	   AND SSFD.Academic_Year_Id = @AcademicYearId
		   AND SSFD.Student_Id = StudentId
		   AND SSFD.Receipt_Number = ReceiptNo
		   AND SSFD.Is_Deleted = N'N'
		   AND LM.SchoolId = @SchoolId
		   AND LM.FinancialYearId = FinancialYearId
		   AND LM.IsDeleted = 0
		   AND PaymentMode = 1
		   AND IsDirectlyDeposited <> 0
		   AND IsCautionMoney = 0

		UPDATE @StudentDetails
		   SET Remarks = SSFD.Remarks 
		  FROM dbo.Schoolwise_Student_Fee_Details SSFD
		 WHERE SSFD.School_Id = @SchoolId
	--	   AND SSFD.Academic_Year_Id = @AcademicYearId
		   AND SSFD.Student_Id = StudentId
		   AND SSFD.Receipt_Number = ReceiptNo
		   AND SSFD.Is_Deleted = N'N'
		   AND NOT (IsDirectlyDeposited <> 0  AND IsCautionMoney = 0)
		   AND PaymentMode = 1
		
		UPDATE @StudentDetails
		   SET PaymentDetails = N'-'
			  , DepositedLedgerId  = LM.Id
			  ,DepositedLedgerName = LM.Name  
		  FROM Accounts.LedgerMaster LM
		 WHERE LM.Id = Accounts.udf_GetCashLedgerId(@SchoolId, @FinancialYearId,StudentId,ReceiptNo)
		   AND NOT (IsDirectlyDeposited <> 0  AND IsCautionMoney = 0)
		   AND PaymentMode = 1
		   
		  -- select * from @StudentDetails
	END
	
	-- CHEQUE PAYMENTS
	BEGIN
		UPDATE @StudentDetails
		   SET PaymentDetails = SBM.Bank_Name + N' (Chq No. ' + SCMCD.Cheque_Number + ')'
			  ,DepositedLedgerId = LM.Id
			  ,DepositedLedgerName = LM.Name
		  FROM dbo.Student_Caution_Money_Details SCMD
	INNER JOIN dbo.Student_Caution_Money_Cheque_Details SCMCD
			ON SCMD.Payment_Cheque_Id = SCMCD.Student_Caution_Money_Cheque_Id
	INNER JOIN dbo.Schoolwise_Bank_Master SBM
			ON SCMCD.Bank_Id = SBM.Schoolwise_Bank_Id
	INNER JOIN Accounts.LedgerMaster LM
			ON SCMCD.DepositBankId = LM.Id
		 WHERE SCMD.School_Id = @SchoolId
		   AND SCMD.Schoolwise_Student_Id = StudentId
		   AND SCMD.Paid_By_Student = 1
		   AND SCMD.Is_Deleted = 0
		   AND SCMCD.Is_Deleted = 0
		   AND SBM.School_Id = @SchoolId
		   AND SBM.Is_Deleted = N'N'
		   AND LM.SchoolId = @SchoolId
		   AND LM.FinancialYearId = @FinancialYearId
		   AND LM.IsDeleted = 0
		   AND PaymentMode = 2
		   AND IsCautionMoney = 1
		
		UPDATE @StudentDetails
		   SET PaymentDetails = a.PaymentDetails1 -- SBM.Bank_Name + ' (Chq No. ' + SSPDC.Cheque_Number + ')'
			  ,DepositedLedgerId = A.DepositLedgerId1 -- LM.Id
			  ,DepositedLedgerName = A.DepositLedgerName1-- LM.Name
			  ,Remarks = Remarks1
		  FROM (SELECT SBM.Bank_Name + N' (Chq No. ' + SSPDC.Cheque_Number + ')' AS PaymentDetails1 
					  ,LM.Id AS DepositLedgerId1
					  ,LM.Name AS DepositLedgerName1
					  ,SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SSFD.Remarks AS Remarks1
				  FROM @StudentDetails S
			INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
					ON S.StuDentID = SSFD.Student_Id
				   AND S.ReceiptNo = SSFD.Receipt_Number
			INNER JOIN dbo.Student_Fee_PDC_Details SFPCD WITH(NOLOCK)
					ON SSFD.Schoolwise_Student_Fee_Id = SFPCD.Schoolwise_Student_Fee_Id
			INNER JOIN dbo.Schoolwise_Student_PostDatedCheques SSPDC WITH(NOLOCK)
					ON SFPCD.PDC_Id = SSPDC.PostDated_Cheque_Id
			INNER JOIN dbo.Schoolwise_Bank_Master SBM WITH(NOLOCK)
					ON SSPDC.Bank_Id = SBM.Schoolwise_Bank_Id
			INNER JOIN Accounts.LedgerMaster LM WITH(NOLOCK)
					ON SSPDC.DepositBankId = LM.Id
				 WHERE SSFD.School_Id = @SchoolId
			--	   AND SSFD.Academic_Year_Id = @AcademicYearId
				   AND SSFD.Is_Deleted = N'N'
				   AND SSFD.Is_Late_Fee = N'N'
				   AND SFPCD.Is_Deleted = N'N'
				   AND SSPDC.Is_Cheque_Bounce = N'N'
				   AND SSPDC.Is_Deleted = N'N'
				   AND SBM.School_Id = @SchoolId
				   AND LM.IsDeleted = 0
			  GROUP BY SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SSPDC.Cheque_Number
					  ,SBM.Bank_Name
					  ,LM.Id
					  ,LM.Name
					  ,SSFD.Remarks) A
		 WHERE A.Student_Id = StudentId
		   AND A.Receipt_Number = ReceiptNo
		   AND PaymentMode = 2
		   AND IsCautionMoney = 0 
	END
	-- CARD PAYMENTS
	--PaymentMode = 3
	BEGIN
		UPDATE @StudentDetails
		   SET PaymentDetails = A.PaymentDetails1 -- SBM.Bank_Name + ' (Chq No. ' + SSPDC.Cheque_Number + ')'
			  ,DepositedLedgerId = A.DepositedLedgerId1 -- LM.Id
			  ,DepositedLedgerName = A.DepositedLedgerName1
			  ,Remarks = Remarks1
		  FROM (SELECT SBM.Bank_Name + N' (Swap No. ' + SCPD.Swap_Number + ')' AS PaymentDetails1 
					  ,LM.Id AS DepositedLedgerId1
					  ,LM.Name AS DepositedLedgerName1
					  ,SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SSFD.Remarks AS Remarks1
				  FROM @StudentDetails AS S
			INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
					ON S.StuDentID = SSFD.Student_Id
				   AND S.ReceiptNo = SSFD.Receipt_Number
			INNER JOIN dbo.StudentCardPaymentDetails SCPD WITH(NOLOCK)
					ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolWise_Student_Fee_Id
			INNER JOIN dbo.Schoolwise_Bank_Master SBM WITH(NOLOCK)
					ON SCPD.Bank_Id = SBM.Schoolwise_Bank_Id
			INNER JOIN Accounts.LedgerMaster LM WITH(NOLOCK)
					ON SCPD.DepositBankId = LM.Id
				 WHERE SSFD.School_Id = @SchoolId
			--	   AND SSFD.Academic_Year_Id = @AcademicYearId
				   AND SSFD.Is_Deleted = N'N'
				   AND SSFD.Is_Late_Fee = N'N'
				   AND SCPD.Is_Deleted = 0
				   AND SCPD.School_Id = @SchoolId
			--	   AND SCPD.Academic_Year_Id = @AcademicYearId
				   AND SBM.School_Id = @SchoolId
				   AND SBM.Is_Deleted = N'N'
				   AND LM.IsDeleted = 0
			  GROUP BY SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SCPD.Swap_Number
					  ,SBM.Bank_Name
					  ,LM.Id
					  ,LM.Name
					  ,SSFD.Remarks) AS A
		 WHERE A.Student_Id = StudentId
		   AND A.Receipt_Number = ReceiptNo
		   AND PaymentMode = 3
	END
	
	-- Electronic
	BEGIN	
		UPDATE @StudentDetails
		   SET PaymentDetails = SBM.Bank_Name + N' (Trans No. ' + SCMEP.TransactionNumber + ')'
			  ,DepositedLedgerId = LM.Id
			  ,DepositedLedgerName = LM.Name
		  FROM dbo.Student_Caution_Money_Details SCMD
LEFT OUTER JOIN dbo.StudentCautionMoneyElectronicPayments SCMEP
			ON SCMD.Schoolwise_Student_Id = SCMEP.SchoolwiseStudentId
		   AND SCMEP.IsDeleted = 0
		   AND SCMD.Payment_Mode = 'E'
	INNER JOIN dbo.Schoolwise_Bank_Master SBM
			ON SCMEP.BankId = SBM.Schoolwise_Bank_Id
	INNER JOIN Accounts.LedgerMaster LM
			ON SCMEP.DepositedBankId = LM.Id
		 WHERE SCMD.School_Id = @SchoolId
		   AND SCMD.Schoolwise_Student_Id = StudentId
		   AND SCMD.Paid_By_Student = 1
		   AND SCMD.Is_Deleted = 0		   
		   AND SBM.School_Id = @SchoolId
		   AND SBM.Is_Deleted = N'N'
		   AND LM.SchoolId = @SchoolId
		   AND LM.FinancialYearId = @FinancialYearId
		   AND LM.IsDeleted = 0
		   AND PaymentMode = 5
		   AND IsCautionMoney = 1
		
		UPDATE @StudentDetails
		   SET PaymentDetails = A.PaymentDetails1 -- SBM.Bank_Name + ' (Chq No. ' + SSPDC.Cheque_Number + ')'
			  ,DepositedLedgerId = A.DepositedLedgerId1 -- LM.Id
			  ,DepositedLedgerName = A.DepositedLedgerName1
			  ,Remarks = Remarks1
		  FROM (SELECT SBM.Bank_Name + N' (Txn No. ' + SCPD.TransactionNumber + ')' AS PaymentDetails1 
					  ,LM.Id AS DepositedLedgerId1
					  ,LM.Name AS DepositedLedgerName1
					  ,SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SSFD.Remarks AS Remarks1
				  FROM @StudentDetails AS S
			INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
					ON S.StuDentID = SSFD.Student_Id
				   AND S.ReceiptNo = SSFD.Receipt_Number
			INNER JOIN dbo.StudentElectronicPayments SCPD WITH(NOLOCK)
					ON SSFD.Schoolwise_Student_Fee_Id = SCPD.SchoolwiseStudentFeeId
			INNER JOIN dbo.Schoolwise_Bank_Master SBM WITH(NOLOCK)
					ON SCPD.BankId = SBM.Schoolwise_Bank_Id
			INNER JOIN Accounts.LedgerMaster LM WITH(NOLOCK)
					ON SCPD.DepositedBankId = LM.Id
				 WHERE SSFD.School_Id = @SchoolId
			--	   AND SSFD.Academic_Year_Id = @AcademicYearId
				   AND SSFD.Is_Deleted = N'N'
				   AND SSFD.Is_Late_Fee = N'N'
				   AND SCPD.IsDeleted= 0
				   AND SCPD.SchoolId = @SchoolId
			--	   AND SCPD.Academic_Year_Id = @AcademicYearId
				   AND SBM.School_Id = @SchoolId
				   AND SBM.Is_Deleted = N'N'
				   AND LM.IsDeleted = 0
			  GROUP BY SSFD.Student_Id
					  ,SSFD.Receipt_Number
					  ,SCPD.TransactionNumber
					  ,SBM.Bank_Name
					  ,LM.Id
					  ,LM.Name
					  ,SSFD.Remarks) AS A
		 WHERE A.Student_Id = StudentId
		   AND A.Receipt_Number = ReceiptNo
		   AND PaymentMode = 5
	END
						
	-- ONLINE PAYMENTS
	BEGIN
 
	UPDATE @StudentDetails
	   SET PaymentDetails = A.PaymentDetails1 
		  ,DepositedLedgerId = A.DepositedLedgerId1 
		  ,DepositedLedgerName = A.DepositedLedgerName1
		  ,Remarks = Remarks1
	  FROM (SELECT  NBBD.RegisterdBankName + N' (Trans Id. ' + NBPT.TPSLTransactionID + ')' AS PaymentDetails1
				   ,LM.Id AS DepositedLedgerId1 
				   ,LM.Name AS DepositedLedgerName1
				   ,SSFD.Student_Id 
			       ,SSFD.Receipt_Number
			       ,SSFD.Remarks as Remarks1
			  FROM @StudentDetails AS S
			 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
			    ON S.StuDentID = SSFD.Student_Id
			   AND S.ReceiptNo = SSFD.Receipt_Number
		INNER JOIN dbo.NetBankingPaymentTransactions NBPT WITH(NOLOCK)
				ON SSFD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
		INNER JOIN dbo.NetBankingBanksDetails NBBD WITH(NOLOCK)
				ON NBPT.TransactionBankID = NBBD.StudentFeeRegisteredBankId
		INNER JOIN Accounts.LedgerMaster LM WITH(NOLOCK)
				ON NBPT.DepositBankId = LM.Id
			 WHERE SSFD.School_Id = @SchoolId
		--	   AND SSFD.Academic_Year_Id = @AcademicYearId
			   AND SSFD.Is_Deleted = N'N'
			   AND SSFD.Is_Late_Fee = N'N'
			   AND NBPT.Is_Deleted = 0
			   AND NBBD.Is_Deleted = 0
			   AND LM.IsDeleted = 0
		  GROUP BY SSFD.Student_Id
				  ,SSFD.Receipt_Number
				  ,NBPT.TPSLTransactionID
				  ,NBBD.RegisterdBankName
				  ,LM.Id
				  ,LM.Name
				  ,SSFD.Remarks ) AS A
	 WHERE A.Student_Id = StudentId
	   AND A.Receipt_Number = ReceiptNo
	   AND PaymentMode NOT IN (1,2,3,5)
	END

	 --JOURNAL VOUCHER PAYMENTS
	BEGIN
 
	UPDATE @StudentDetails
	   SET PaymentDetails = A.PaymentDetails1 
		  ,DepositedLedgerId = A.DepositedLedgerId1 
		  ,DepositedLedgerName = A.DepositedLedgerName1
		  ,Remarks = Remarks1
	  FROM (SELECT  '-' AS PaymentDetails1
				   ,LM.Id AS DepositedLedgerId1 
				   ,LM.Name AS DepositedLedgerName1
				   ,SSFD.Student_Id 
			       ,SSFD.Receipt_Number
			       ,SSFD.Remarks as Remarks1
			  FROM @StudentDetails AS S
			 INNER JOIN dbo.Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
			    ON S.StuDentID = SSFD.Student_Id
			   AND S.ReceiptNo = SSFD.Receipt_Number
		INNER JOIN dbo.StudentJournalVoucherPayments SJVP WITH(NOLOCK)
				ON SSFD.Student_Id = SJVP.StudentId
				AND SSFD.Receipt_Number = SJVP.ReceiptNumber
		INNER JOIN Accounts.LedgerMaster LM WITH(NOLOCK)
				ON SJVP.LedgerId = LM.Id
			 WHERE SSFD.School_Id = @SchoolId
		--	   AND SSFD.Academic_Year_Id = @AcademicYearId
			   AND SSFD.Is_Deleted = N'N'
			   AND SSFD.Is_Late_Fee = N'N'
			   AND SJVP.IsDeleted = 0
			   AND LM.IsDeleted = 0
		  GROUP BY SSFD.Student_Id
				  ,SSFD.Receipt_Number
				  --,NBPT.TPSLTransactionID
				  --,NBBD.RegisterdBankName
				  ,LM.Id
				  ,LM.Name
				  ,SSFD.Remarks ) AS A
	 WHERE A.Student_Id = StudentId
	   AND A.Receipt_Number = ReceiptNo
	   AND PaymentMode  = 7
	END

	-- Payment Mode = 4
	-- Online Payment For Caution Money
	BEGIN				
		 UPDATE @StudentDetails
		    SET PaymentDetails = NBBD.RegisterdBankName + N' (Trans Id. ' + NBPT.TPSLTransactionID + ')'
			   ,DepositedLedgerId = LM.Id
			   ,DepositedLedgerName = LM.Name
		   FROM dbo.Student_Caution_Money_Details SCMD
LEFT OUTER JOIN dbo.NetBankingPaymentTransactions NBPT
			 ON SCMD.NetBankingPaymentTransactionID = NBPT.NetBankingPaymentTransactionID
		    AND SCMD.Is_Deleted = 0
	 INNER JOIN dbo.NetBankingBanksDetails NBBD
			 ON NBPT.TransactionBankID = NBBD.StudentFeeRegisteredBankId
	 INNER JOIN Accounts.LedgerMaster LM
			 ON NBPT.DepositBankId = LM.Id
		  WHERE SCMD.School_Id = @SchoolId
		    AND SCMD.Schoolwise_Student_Id = StudentId
		    AND SCMD.Paid_By_Student = 1
		    AND SCMD.Is_Deleted = 0		   
		    AND LM.SchoolId = @SchoolId
		    AND LM.FinancialYearId = @FinancialYearId
		    AND LM.IsDeleted = 0
		    AND PaymentMode = 4			
		    AND IsCautionMoney = 1
	END	
				-- If it's CautionMoney, we fetch @PayableFor & Student details accordingly.
				--	IF @IsCautionMoney = 1
	DECLARE @PayableFor NVARCHAR(300)
	BEGIN	
		SELECT @PayableFor = N'Caution Money.'
		   	   	
		INSERT @Result
		SELECT SWSM.Enrolment_Number
			  ,SM.Salutation_Name + ' ' +
			   SWSM.First_Name + ' ' +
			   CASE WHEN SWSM.Middle_Name IS NULL OR SWSM.Middle_Name = ''
					THEN ''
					ELSE SWSM.Middle_Name + ' '
				END + SWSM.Last_Name
			  ,'-'
			  ,PaymentMode
			  ,PaymentDetails
			  ,CautionAmount
			  ,@PayableFor
			  ,DepositedLedgerId
			  ,DepositedLedgerName
			  ,'-'
			  ,S.ReceiptNo
			  ,TransactionNumber
		  FROM @StudentDetails AS S 
		 INNER JOIN  dbo.SchoolWise_Student_Master SWSM WITH(NOLOCK)
			ON S.StudentId = SWSM.SchoolWise_Student_Id
		 INNER JOIN dbo.Salutation_Master SM WITH(NOLOCK)
			ON SWSM.Salutation_Id = SM.Salutation_Id
		 WHERE SWSM.School_Id = @SchoolId
		   AND SWSM.Is_Deleted = N'N'
		   AND SM.Is_Deleted = N'N'
		   and (DepositedLedgerId = @LedgerId OR @LedgerId = @CautionMoneyLedgerId)
		   AND IsCautionMoney = 1
	END
	BEGIN
		
		-- Finally we insert all the collected info into the @Result table along with student info.
		INSERT @Result
		SELECT SWSM.Enrolment_Number
			  ,SLM.Salutation_Name + ' ' +
			   SWSM.First_Name + ' ' +
			   CASE WHEN SWSM.Middle_Name IS NULL OR SWSM.Middle_Name = ''
					THEN ''
					ELSE SWSM.Middle_Name + ' '
				END + SWSM.Last_Name
			  ,SM.Standard_Name + ' - ' + DM.Division_Name
			  ,S.PaymentMode
			  ,S.PaymentDetails
			  ,S.CautionAmount
			  ,S.Remarks
			  ,S.DepositedLedgerId
			  ,S.DepositedLedgerName
			  ,CAST(DATEPART(yy, SAYM.Start_date) AS NVARCHAR(4)) + '-' + CAST(DATEPART(yy, SAYM.End_Date) AS NVARCHAR(4))
			  ,S.ReceiptNo
			  ,TransactionNumber
		  FROM @StudentDetails AS S 
		 INNER JOIN dbo.YearWise_Student_Details YWSD WITH(NOLOCK)
			ON S.StudentId = YWSD.YearWise_Student_Id
		 INNER JOIN dbo.SchoolWise_Student_Master SWSM WITH(NOLOCK)
		    ON SWSM.SchoolWise_Student_Id = YWSD.Student_Id
		 INNER JOIN dbo.Standard_Master SM WITH(NOLOCK)
			ON YWSD.Standard_Id = SM.Standard_Id
		 INNER JOIN dbo.Division_Master DM WITH(NOLOCK)
			ON YWSD.Division_id = DM.Division_Id
		 INNER JOIN dbo.Salutation_Master SLM WITH(NOLOCK)
			ON SWSM.Salutation_Id = SLM.Salutation_Id
		 INNER JOIN dbo.SchoolWise_Academic_Year_Master SAYM WITH(NOLOCK)
			ON YWSD.Academic_Year_ID = SAYM.Academic_Year_ID
		 WHERE 
		 --YWSD.Is_Deleted = N'N'
		 --  AND 
		   SWSM.Is_Deleted = N'N'
		   AND SM.Is_Deleted = N'N'
		   AND DM.Is_Deleted = N'N'
		   AND YWSD.School_Id = @SchoolId
		--   AND YWSD.Academic_Year_ID = @AcademicYearId
		   AND IsCautionMoney = 0
		END

print 's12'
	SELECT RegNo ,
		   StudentName ,
		   Class ,
		   PaymentMode ,
		   PaymentDetails ,
		   Amount,
		   PayableFor,
		   DepositedLedgerId ,
		   DepositedLedgerName ,
		   AcademicYear ,
		   ReceiptNumbers as ReceiptNumber ,
		   CASE WHEN TransactionNumber IS NULL OR TransactionNumber = '' THEN '-' ELSE TransactionNumber END AS TransactionNumber

	  FROM @Result
	  
	DECLARE @tblFeeTypes AS TABLE
	(
		FeeType NVARCHAR(100),
		Amount INT,
		ReceiptNumber NVARCHAR(20)
	)

	DECLARE @Identity INT = 1 , 
			@ReceiptNumber INT,
			@EnrollmentNumber NVARCHAR(50)
			
	WHILE((SELECT COUNT(1) FROM @Result WHERE Id = @Identity) > 0)
	BEGIN	
		SELECT TOP 1 @EnrollmentNumber = RegNo,
				@ReceiptNumber = ReceiptNumbers
		  FROM @Result WHERE Id = @Identity
		
		INSERT INTO @tblFeeTypes
		SELECT SSFD.Fee_Type+' - '+SSFD.Payable_For,SSFD.Amount,SSFD.Receipt_Number
		  FROM Schoolwise_Student_Fee_Details SSFD WITH(NOLOCK)
	INNER JOIN Yearwise_Student_Details YSD WITH(NOLOCK)
			ON YSD.Yearwise_Student_Id = SSFD.Student_Id
	INNER JOIN Schoolwise_Student_Master SSM WITH(NOLOCK)
			ON SSM.Schoolwise_Student_Id = YSD.Student_Id
	INNER JOIN @StudentDetails SD
			ON SSFD.Student_Id = SD.StudentId
		   AND SSFD.Receipt_Number = SD.ReceiptNo
		 WHERE SSM.Enrolment_Number = @EnrollmentNumber
		   AND SSFD.Receipt_Number  = @ReceiptNumber
		   AND SSFD.Is_Deleted = N'N'
		   --AND SSFD.Academic_Year_Id = @AcademicYearId
		   
		   SET @Identity = @Identity + 1
		   SET @EnrollmentNumber = ''
		   SET @ReceiptNumber = 0
	END 	 
	 
	SELECT * FROM @tblFeeTypes	 
	
END
GO
