/****** Object:  View [dbo].[vw_GetAllStudentsForStandardDivision]    Script Date: 8/25/2025 11:31:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER VIEW [dbo].[vw_GetAllStudentsForStandardDivision]
AS
SELECT        dbo.vw_BaseStudentDetails.StudentName AS Name, 
                         dbo.vw_BaseStudentDetails.Salutation_Name + ' ' + dbo.vw_BaseStudentDetails.Last_Name + ' ' + dbo.vw_BaseStudentDetails.First_Name + ' ' + dbo.vw_BaseStudentDetails.Middle_Name AS StudentName, 
                         dbo.YearWise_Student_Details.Roll_No, dbo.SchoolWise_Standard_Division_Master.SchoolWise_Standard_Division_Id, dbo.YearWise_Student_Details.School_Id, dbo.YearWise_Student_Details.Academic_Year_ID, 
                         dbo.YearWise_Student_Details.Standard_Id, dbo.YearWise_Student_Details.Division_id, dbo.YearWise_Student_Details.YearWise_Student_Id AS Student_Id, dbo.vw_BaseStudentDetails.School_Id AS Expr1, 
                         dbo.vw_BaseStudentDetails.Enrolment_Number, dbo.vw_BaseStudentDetails.Admission_Date, dbo.vw_BaseStudentDetails.First_Name, dbo.vw_BaseStudentDetails.Middle_Name, dbo.vw_BaseStudentDetails.Last_Name, 
                         dbo.vw_BaseStudentDetails.Mother_Name, dbo.vw_BaseStudentDetails.DOB, dbo.vw_BaseStudentDetails.Birth_Place, dbo.vw_BaseStudentDetails.Nationality, dbo.vw_BaseStudentDetails.Sex, 
                         dbo.vw_BaseStudentDetails.Parent_Name, dbo.vw_BaseStudentDetails.Parent_Occupation, dbo.vw_BaseStudentDetails.Address, dbo.vw_BaseStudentDetails.City, dbo.vw_BaseStudentDetails.Pincode, 
                         dbo.vw_BaseStudentDetails.State, dbo.vw_BaseStudentDetails.Residence_Phone_Number, dbo.vw_BaseStudentDetails.Mobile_Number, dbo.vw_BaseStudentDetails.Category_Id, 
                         dbo.vw_BaseStudentDetails.CasteAndSubCaste, dbo.vw_BaseStudentDetails.User_Id, dbo.vw_BaseStudentDetails.SchoolWise_Student_Id, dbo.vw_BaseStudentDetails.Is_Deleted, 
                         dbo.Standard_Master.Standard_Name + ' - ' + CASE WHEN dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision IS NULL OR
                         dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision = '' THEN dbo.Division_Master.Division_Name ELSE dbo.SchoolWise_Standard_Division_Master.DisplayNameForDivision END AS Standard_Division_Name,
                          dbo.vw_BaseStudentDetails.Is_Leave, dbo.vw_BaseStudentDetails.Photo_file_Path, dbo.vw_BaseStudentDetails.Salutation_Name, dbo.Standard_Master.Original_Standard_Id, dbo.Division_Master.Original_Division_Id, 
                         dbo.User_Master.User_Role_Id, dbo.User_Master.User_Login, dbo.User_Master.Email_Address, dbo.User_Master.Is_Locked, dbo.Standard_Master.Standard_Name, dbo.vw_BaseStudentDetails.Joining_Date, 
                         dbo.vw_BaseStudentDetails.SchoolLeft_Date, 						 
						 dbo.vw_BaseStudentDetails.Blood_Group,
						 dbo.vw_BaseStudentDetails.Other_Occupation, dbo.Category_Master.Category_Name, dbo.Standard_Master.Is_PrePrimary, 
                         dbo.Standard_Master.Reg_No_Prefix, dbo.YearWise_Student_Details.Is_New_Student, dbo.YearWise_Student_Details.Rule_Id, dbo.vw_BaseStudentDetails.Optional_Subject_Id, dbo.vw_BaseStudentDetails.Mobile_Number2, 
                         dbo.vw_BaseStudentDetails.CancellationFormNo, dbo.User_Master.Deactivation_Reason, dbo.vw_BaseStudentDetails.Neighbour_Number, dbo.vw_BaseStudentDetails.Office_Number, dbo.YearWise_Student_Details.Height, 
                         dbo.YearWise_Student_Details.Weight, dbo.vw_BaseStudentDetails.Mother_Tongue, dbo.YearWise_Student_Details.Is_RTE_Student, dbo.YearWise_Student_Details.RTECategoryId, 
                         dbo.vw_BaseStudentDetails.LastSchoolName, dbo.vw_BaseStudentDetails.LastCompletedStd, dbo.vw_BaseStudentDetails.LastCompletedBoard, dbo.vw_BaseStudentDetails.IsRecognisedBoard, 
                         dbo.vw_BaseStudentDetails.Photo_file_Path_Image, dbo.vw_BaseStudentDetails.Salutation_Id, dbo.vw_BaseStudentDetails.AadharCardNo, ISNULL(dbo.YearWise_Student_Details.SecondLanguageSubjectId, 0) 
                         AS SecondLanguageSubjectId, ISNULL(dbo.YearWise_Student_Details.ThirdLanguageSubjectId, 0) AS ThirdLanguageSubjectId, ISNULL(dbo.StudentAdditionalDetails.Religion, '') AS Religion, 
                         dbo.vw_BaseStudentDetails.LastSchoolAddress, dbo.vw_BaseStudentDetails.LastSchoolUDISENo, dbo.vw_BaseStudentDetails.UDISENumber, dbo.vw_BaseStudentDetails.AadharCard_Photo_Copy_Path, 
                         dbo.vw_BaseStudentDetails.BoardRegistrationNo, dbo.vw_BaseStudentDetails.IsRiseAndShine, dbo.vw_BaseStudentDetails.Family_Photo_Copy_Path, ISNULL(HCM.Name, '') AS HouseNames, 
                         ISNULL(dbo.SchoolWise_Student_Master.UDISENumber, '') AS StudentUDISENumber, ISNULL(dbo.School_Master.UDISENumber, '') AS SchoolUDISENumber, ISNULL(dbo.SchoolWise_Student_Master.AdmissionSectionId, 0) 
                         AS AdmissionSectionId, ISNULL(dbo.SchoolWise_Student_Master.GRNumber, '') AS GRNumber, ISNULL(dbo.SchoolWise_Student_Master.StudentUniqueNo, '') AS StudentUniqueNo, 
                         ISNULL(dbo.YearWise_Student_Details.IsForDayBoarding, 0) AS IsForDayBoarding, ISNULL(dbo.vw_BaseStudentDetails.StudentEmailAddress, '') AS StudentEmail, 
                         ISNULL(dbo.YearWise_Student_Details.FeeCategoryDetailsId, 0) AS FeeCategoryDetailsId, ISNULL(FC.Name, '') AS FeeCategory,
						 dbo.SchoolWise_Student_Master.SaralNo, dbo.SchoolWise_Student_Master.IsOnlyChild, dbo.SchoolWise_Student_Master.Minority,dbo.YearWise_Student_Details.RTEApplicationFormNo
						  , Age1 
                               , Institution1 
                               , StandardName1 
                               , Name2 
                               , Age2 
                               , Institution2 
                               , StandardName2 
							   ,name1
							   ,dbo.YearWise_Student_Details.IsStaffKid
							   ,dbo.StudentAdditionalDetails.ResidenceTypeId
							   ,dbo.ResidenceTypes.Name AS ResidenceName
							   ,  dbo.YearWise_Student_Details.AnnualIncome
							   ,ISNULL(StudentAdditionalDetails.RFID,'') as RFID 
							   ,ISNULL(vw_BaseStudentDetails.NameOnAadharCard,'') as NameOnAadharCard 
							   ,dbo.SchoolWise_Student_Master.PrePrimaryEnrolmentNumber
							   ,ISNULL(StudentAdditionalDetails.BirthCertificateScanCopyFileName,'') AS BirthCertificateScanCopyFileName
							   ,ISNULL(SchoolWise_Student_Master.CasteCertificate_Photo_Copy_Path,'') AS CasteCertificate_Photo_Copy_Path
							   ,StudentAdditionalDetails.City As BusPickupCity
FROM            dbo.YearWise_Student_Details INNER JOIN
                         dbo.vw_BaseStudentDetails ON dbo.YearWise_Student_Details.Student_Id = dbo.vw_BaseStudentDetails.SchoolWise_Student_Id INNER JOIN
                         dbo.SchoolWise_Standard_Division_Master ON dbo.YearWise_Student_Details.School_Id = dbo.SchoolWise_Standard_Division_Master.School_Id AND 
                         dbo.YearWise_Student_Details.Standard_Id = dbo.SchoolWise_Standard_Division_Master.Standard_Id AND dbo.YearWise_Student_Details.Division_id = dbo.SchoolWise_Standard_Division_Master.Division_Id AND 
                         dbo.YearWise_Student_Details.Academic_Year_ID = dbo.SchoolWise_Standard_Division_Master.academic_year_id INNER JOIN
                         dbo.Division_Master ON dbo.YearWise_Student_Details.Division_id = dbo.Division_Master.Division_Id INNER JOIN
                         dbo.Standard_Master ON dbo.YearWise_Student_Details.Standard_Id = dbo.Standard_Master.Standard_Id INNER JOIN
                         dbo.User_Master ON dbo.vw_BaseStudentDetails.User_Id = dbo.User_Master.User_Id INNER JOIN
                         dbo.Category_Master ON dbo.vw_BaseStudentDetails.Category_Id = dbo.Category_Master.Category_Id INNER JOIN
                         dbo.School_Master ON dbo.YearWise_Student_Details.School_Id = dbo.School_Master.School_Id INNER JOIN
                         dbo.SchoolWise_Student_Master ON dbo.YearWise_Student_Details.Student_Id = dbo.SchoolWise_Student_Master.SchoolWise_Student_Id LEFT OUTER JOIN
                         dbo.StudentAdditionalDetails ON dbo.vw_BaseStudentDetails.SchoolWise_Student_Id = dbo.StudentAdditionalDetails.SchoolwiseStudentId AND dbo.StudentAdditionalDetails.IsDeleted = 0 LEFT OUTER JOIN
                         dbo.HouseConfigurationMaster AS HCM ON dbo.YearWise_Student_Details.HouseId = HCM.Id AND dbo.YearWise_Student_Details.School_Id = HCM.SchoolId AND 
                         dbo.YearWise_Student_Details.Academic_Year_ID = HCM.AcademicYearId AND HCM.IsDeleted = 0 LEFT OUTER JOIN
                         dbo.FeeCategories AS FC ON dbo.YearWise_Student_Details.FeeCategoryDetailsId = FC.Id AND FC.IsDeleted = 0
						 LEFT OUTER JOIN BloodGroups ON dbo.SchoolWise_Student_Master.Blood_Group = BloodGroups.Id LEFT OUTER JOIN
                         dbo.ResidenceTypes ON dbo.ResidenceTypes.ResidenceTypeId = dbo.StudentAdditionalDetails.ResidenceTypeId
WHERE        (dbo.SchoolWise_Standard_Division_Master.Is_Deleted = 'N') AND (dbo.YearWise_Student_Details.Is_Deleted = 'N') AND (dbo.vw_BaseStudentDetails.Is_Deleted = 'N') AND (dbo.Category_Master.Is_Deleted = 'N')
GO
