/****** Object:  StoredProcedure [dbo].[usp_GetSingleStudentDetails]    Script Date: 8/25/2025 11:29:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================================================================    
-- Author  : Vinod    
-- Create date : 7 Nov 2011    
-- Description : To get single student details.    
-------------------------------------------    
-- MODIFICATION LOG    
-- ## Date  Author  Description    
-------------------------------------------    
-- 01 16-Jul-12 Vishal  Added code to account for possibility of NO Mid academic year in    
--        the system.    s
-- ================================================================================================    
ALTER PROCEDURE [dbo].[usp_GetSingleStudentDetails]    
 @School_Id					INT,    
 @Academic_Year_ID			INT,    
 @SchoolWise_Student_Id		INT    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
     
 --------Get all Sibling Student Name---------------     
 DECLARE @SiblingStudentName NVARCHAR(MAX),    
   @YearwiseStudentId INT    
    
 --------------------In MID Academic Year, Current year student should be visible------------------    
 DECLARE @Curr_AcademicYearId  INT,    
      @MidAcademicYearId INT,    
      @Is_NewlyCreated CHAR(1),    
      @FinalYearGenerated CHAR(1)    
     
 SELECT @Is_NewlyCreated = SAYM.Is_NewlyCreated,    
     @MidAcademicYearId = SAYM.Academic_Year_ID,    
        @FinalYearGenerated = SAYM.Is_FinalYear_Generated     
   FROM dbo.SchoolWise_Academic_Year_Master SAYM    
  WHERE SAYM.School_Id = @School_Id    
    AND SAYM.Is_Deleted = N'N'    
  ORDER BY SAYM.Academic_Year_ID -- #01 - Added ORDER BY Clause to ensure that values from the last record are selected.    
     
  IF @Is_NewlyCreated = N'Y' AND @FinalYearGenerated =N'N'    
  SET @Curr_AcademicYearId = (SELECT SAYM.Academic_Year_ID    
           FROM dbo.SchoolWise_Academic_Year_Master SAYM    
          WHERE SAYM.School_Id = @School_Id    
            AND SAYM.Is_Deleted = N'N'    
            AND SAYM.Is_Current_Year = N'Y')    
  ELSE -- #01 - Added ELSE clause to account for possibility of NO Mid academic year in the system.    
  SET @Curr_AcademicYearId = @Academic_Year_ID    
 -----------------------------------------------------------------------------------------------------     
    
 SELECT DISTINCT     
     @YearwiseStudentId = YSD.YearWise_Student_Id     
   FROM dbo.YearWise_Student_Details YSD    
  WHERE YSD.Student_Id = @SchoolWise_Student_Id      
    AND YSD.School_Id = @School_Id     
    AND YSD.Academic_Year_ID = @Academic_Year_ID     
    AND YSD.Is_Deleted = N'N'       
  
     
 DECLARE @StudentSiblingDetails AS TABLE    
 (     
  YearwiseStudentId			INT,    
  RegistrationNo			NVARCHAR(50),    
  StudentName				NVARCHAR(100),    
  StandardName				NVARCHAR(30),    
  DivisionName				NVARCHAR(30),    
  IsLeftStudent				BIT,    
  StudentSiblingId			INT     
 )    
     
     
 INSERT INTO @StudentSiblingDetails    
   EXEC dbo.USP_GetEnteredStudentSiblingDetail @SchoolId = @School_Id,    
              @Academic_Year_Id = @Curr_AcademicYearId,    
              @StudentId = @YearwiseStudentId    
            
 SELECT @SiblingStudentName = COALESCE(@SiblingStudentName + ', ', '') + StudentName     
   FROM @StudentSiblingDetails    
       
 ------------------------------------------------    
  IF NOT EXISTS (SELECT TOP 1 1     
      FROM YearWise_Student_Details     
     WHERE School_Id = @School_Id     
       AND Academic_Year_ID = @Academic_Year_ID     
       AND Student_Id = @SchoolWise_Student_Id    
       AND Is_Deleted = N'N')        
  SET @Academic_Year_ID = @Curr_AcademicYearId   
  
  
  DECLARE @IsDayBoardingFeePaid BIT = 0
  
  
  IF(@School_Id = 5) -- DPIS School Only
	BEGIN
		IF EXISTS (
						SELECT TOP 1 1
						  FROM Schoolwise_Student_Fee_Details
						 WHERE Academic_Year_Id = @Academic_Year_ID
						   AND School_Id = @School_Id
						   AND Is_Deleted = 'N'
						   AND [Debit/Credit] = 'Credit'
						   AND Is_Cheque_Bounce = 'N'
						   AND Is_Late_Fee = 'N'
						   AND Student_Id = @YearwiseStudentId
						   AND Fee_Type IN (
												SELECT Fee_Type
												  FROM Schoolwise_Fee_Type_Configuration
												 WHERE School_Id = @School_Id
												   AND Academic_Year_Id = @Academic_Year_ID
												   AND Is_Deleted = 'N'
												   AND CategoryId = 1
											)
				)
			BEGIN			
				SET @IsDayBoardingFeePaid = 1
			END
	END  
       
 SELECT vSTUDSD.SchoolWise_Student_Id    
    ,vSTUDSD.User_Login    
    ,vSTUDSD.First_Name    
    ,vSTUDSD.Middle_Name    
    ,vSTUDSD.Last_Name    
    ,vSTUDSD.Mother_Name    
    ,vSTUDSD.Name    
    ,vSTUDSD.Blood_Group    
    ,vSTUDSD.DOB    
    ,vSTUDSD.Birth_Place    
    ,vSTUDSD.Nationality    
    ,vSTUDSD.Enrolment_Number    
    ,vSTUDSD.Parent_Name    
    ,vSTUDSD.Address    
    ,vSTUDSD.Sex    
    ,vSTUDSD.Admission_date    
    ,vSTUDSD.Joining_Date    
    ,vSTUDSD.Enrolment_Number    
    ,vSTUDSD.Parent_Occupation    
    ,vSTUDSD.Other_Occupation    
    ,vSTUDSD.City    
    ,vSTUDSD.Pincode    
    ,vSTUDSD.Roll_No    
    ,vSTUDSD.Standard_Id    
    ,vSTUDSD.Standard_Division_Name    
    ,vSTUDSD.State    
    ,vSTUDSD.Residence_Phone_Number    
    ,vSTUDSD.Mobile_Number    
    ,vSTUDSD.Mobile_Number2    
    ,vSTUDSD.Office_Number    
    ,vSTUDSD.Neighbour_Number    
    ,vSTUDSD.Category_Id 
	,vSTUDSD.Category_Name 
	,vSTUDSD.Religion
    ,vSTUDSD.CasteAndSubCaste    
    ,vSTUDSD.Student_Id    
    ,vSTUDSD.Is_Leave    
    ,vSTUDSD.Salutation_Name    
    ,vSTUDSD.Photo_File_Path    
    ,vSTUDSD.User_Id
	,vSTUDSD.User_Role_Id    
    ,vSTUDSD.Standard_Name    
    ,vSTUDSD.SchoolLeft_Date    
    ,vSTUDSD.Is_New_Student    
    ,vSTUDSD.Is_RTE_Student    
    ,vSTUDSD.RTECategoryId    
    ,vSTUDSD.Rule_Id    
	,vSTUDSD.IsStaffKid
    ,vSTUDSD.Optional_Subject_Id    
    ,@SiblingStudentName as SiblingStudentName    
    ,vSTUDSD.Height    
    ,vSTUDSD.Weight    
    ,vSTUDSD.Mother_Tongue    
    ,vSTUDSD.LastSchoolName  
	,vSTUDSD.LastSchoolAddress
    ,vSTUDSD.LastCompletedStd 
	,vSTUDSD.LastSchoolUDISENo   
    ,vSTUDSD.LastCompletedBoard    
    ,vSTUDSD.IsRecognisedBoard    
    ,vSTUDSD.Photo_file_Path_Image  
    ,vSTUDSD.Division_id
    ,vSTUDSD.Email_Address    
	,vSTUDSD.AadharCardNo
	,vSTUDSD.AadharCard_Photo_Copy_Path
	,ISNULL(vSTUDSD.UDISENumber, '') AS UDISENumber
	,ISNULL(vSTUDSD.BoardRegistrationNo,'') AS BoardRegistrationNo
	,SecondLanguageSubjectId
	,ThirdLanguageSubjectId
	,vSTUDSD.CancellationFormNo
	,vSTUDSD.IsRiseAndShine	
	,UM.User_Password
	,CASE WHEN vSTUDSD.Family_Photo_Copy_Path = '' THEN NULL ELSE vSTUDSD.Family_Photo_Copy_Path END AS Family_Photo_Copy_Path,
	vSTUDSD.AdmissionSectionId AS AdmissionForId,
  ISNULL(vSTUDSD.GRNumber,'')As GRNumber,
	ISNULL(vSTUDSD.StudentUniqueNo,'')As StudentUniqueNo,
	[dbo].[udf_GetConfirmedByName](@YearwiseStudentId) AS ConfirmedByText,
	IsForDayBoarding,
	@IsDayBoardingFeePaid IsDayBoardingFeePaid,
	FeeCategoryDetailsId,
	vSTUDSD.SaralNo, vSTUDSD.IsOnlyChild, vSTUDSD.Minority,vSTUDSD.RTEApplicationFormNo
	,[dbo].[udf_GetUpdatedByText](vSTUDSD.Student_Id) as UpdatedByText
	,ISNULL(SLD.ParentUserId,0) AS ParentUserId
	,ISNULL(UM1.User_Role_Id,0) AS ParentUserRoleId
	,vSTUDSD.IsStaffKid
	,vSTUDSD.ResidenceTypeId
	,vSTUDSD.ResidenceName
	, (select top 1 sm.Standard_Name
	   from  Standard_Master sm
		where sm.Is_Deleted='N'
		  AND sm.Standard_Id  In
	     ( 
		     SELECT    min(Standard_Id)
                            FROM   YearWise_Student_Details
                            WHERE  Is_Deleted = 'N'
			AND    Student_Id =@SchoolWise_Student_Id
		  )		
	) as AdmissionStandard
	,vSTUDSD.AnnualIncome
	,ISNULL(vSTUDSD.NameOnAadharCard,'') AS NameOnAadharCard
	,vSTUDSD.Is_PrePrimary
	,vSTUDSD.PrePrimaryEnrolmentNumber
	,vSTUDSD.CasteCertificate_Photo_Copy_Path
	,vSTUDSD.BusPickupCity
   FROM dbo.vw_GetAllStudentsForStandardDivision vSTUDSD  
 INNER JOIN User_Master UM
		 ON UM.User_Id = vSTUDSD.User_Id
		AND UM.School_Id = vSTUDSD.School_Id  
LEFT OUTER JOIN SwitchLoginDetails SLD
ON vSTUDSD.SchoolWise_Student_Id = SLD.SchoolwiseStudentId
AND SLD.IsDeleted = 0
LEFT OUTER JOIN User_Master UM1
ON SLD.ParentUserId = UM1.User_Id
  WHERE vSTUDSD.Is_Deleted= N'N'      
    AND vSTUDSD.SchoolWise_Student_Id = @SchoolWise_Student_Id     
    AND vSTUDSD.School_Id = @School_Id     
    AND vSTUDSD.Academic_Year_ID=@Academic_Year_ID 
END
GO
