/****** Object:  StoredProcedure [dbo].[usp_GetStopwiseStudentTransportDetails]    Script Date: 8/25/2025 11:29:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yogesh
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetStopwiseStudentTransportDetails]	
	@SchoolId INT,
	@AcademicYearId INT,
	@StandardId  INT = NULL , 
	@DivisionId INT = NULL,
	@RouteId INT,
	@Criteria NVARCHAR(200),	
	@StopId INT,
	@ShiftId INT,
	@IncludeNotAssociated BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
 --   --Pickup
	CREATE TABLE #tblTransportDetails
	(
		User_Id INT,
		Name NVARCHAR(200),
		Pickup_Route_No NVARCHAR(200),
		Pickup_Stop NVARCHAR(200),
		PickupShift NVARCHAR(200),
		Pickup_Time NVARCHAR(200),
		Drop_Route_No NVARCHAR(200),
		Drop_Stop NVARCHAR(200),
		DropShift NVARCHAR(200),
		Drop_Time NVARCHAR(200),
		ClassName NVARCHAR(100)
	)

	CREATE TABLE #tblUsersDetails 
	(
		UserId INT,
		Name NVARCHAR(150),
		DesignationId INT,
		SortOrder INT,
		ClassName nvarchar(100) DEFAULT('-')
	)
	
	DECLARE @sInsertForUserRoleId3  NVARCHAR(MAX)
			
	SET @sInsertForUserRoleId3 =N' SELECT BSD.User_Id, 
										BSD.StudentName, 
										ROW_NUMBER() OVER (ORDER BY BSD.First_Name, BSD.Middle_Name, BSD.Last_Name),0,
										VSD.ClassName
								   FROM vw_BaseStudentDetails BSD WITH(NOLOCK)
							 INNER JOIN YearWise_Student_Details YSD WITH(NOLOCK)
									 ON BSD.SchoolWise_Student_Id=YSD.Student_Id
							 INNER JOIN User_Master UM WITH(NOLOCK)
									 ON BSD.User_Id=UM.User_Id
							 INNER JOIN Standard_Master SM WITH(NOLOCK)
									 ON SM.Standard_Id = YSD.Standard_Id
									AND SM.academic_Year_Id = YSD.Academic_Year_ID
							 INNER JOIN Division_Master DM WITH(NOLOCK)
									 ON DM.Division_Id = YSD.Division_id
									AND DM.academic_year_id = YSD.Academic_Year_ID
							INNER JOIN VW_STANDARD_DIVISION VSD
									ON YSD.Standard_Id = VSD.Standard_Id
									AND YSD.Division_id = VSD.Division_id
								  WHERE BSD.School_Id =' + CAST(@SchoolId AS NVARCHAR) + '  
								    AND BSD.Is_Deleted = N''N'' 
								    AND BSD.SchoolLeft_Date IS NULL 
								    AND YSD.Academic_Year_ID = ' + CAST(@AcademicYearId AS NVARCHAR) + ' 								    
									AND UM.Is_Locked = N''N''
									 AND SM.Is_Deleted=N''N''																		
								    AND BSD.User_Id NOT IN ( SELECT UserId 
								                               FROM [Transport].PrivateTransportDetails WITH(NOLOCK)
								                              WHERE SchoolId=' + CAST(@SchoolId AS NVARCHAR) + ' 
								                                AND AcademicYearId=' + CAST(@AcademicYearId AS NVARCHAR) + '
																AND Is_Deleted=0)'
									
	IF(@StandardId IS NOT NULL AND @StandardId <> 0)		
		SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + ' AND SM.Standard_Id =' + CAST(@StandardId as NVARCHAR(5)) 
	
	IF(@DivisionId IS NOT NULL AND @DivisionId <> 0)	
		SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + ' AND DM.Division_Id =' + CAST(@DivisionId as NVARCHAR(5)) 	
	
	IF @Criteria IS NOT NULL
	BEGIN
		SET @Criteria=REPLACE(@Criteria,N'''',N'''''')
	END
		
	IF NOT @Criteria IS NULL
	BEGIN
		SET @sInsertForUserRoleId3 = @sInsertForUserRoleId3 + N'AND (First_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
															  Middle_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
															  Last_Name LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
															  Enrolment_Number LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'' OR 
															  Enrolment_Number +'' - ''+ BSD.StudentName LIKE N''%' + CAST(@Criteria AS NVARCHAR) + '%'')'	
	END
	
	INSERT INTO #tblUsersDetails(UserId,Name,DesignationId,SortOrder,ClassName)
	EXECUTE sp_executesql @sInsertForUserRoleId3 
		
	IF(@IncludeNotAssociated = 1)
	BEGIN
		DELETE FROM #tblUsersDetails
		 WHERE UserId IN(SELECT UserId 
		                   FROM Transport.TravelerTransportDetails TTD WITH(NOLOCK)
		                  WHERE TTD.AcademicYearId = @AcademicYearId
		                    AND TTD.SchoolId = @SchoolId
		                    AND TTD.Is_Deleted = 0
		                   )
	
	END

     DECLARE @sFilter NVARCHAR(MAX)
     DECLARE @sAllFilter NVARCHAR(MAX),
		 @FilterForStudent NVARCHAR(MAX)
 
	 SET @sFilter=N' '
	 SET @sAllFilter=N' '
	 SET @FilterForStudent = ''
	 
	 IF @RouteId <>0
	 BEGIN
		  SET @sFilter= @sFilter+N' AND RouteId='+CAST(@RouteId AS NVARCHAR(5))+' OR RouteId IS NULL OR RouteId1='+CAST(@RouteId AS NVARCHAR(5))+' OR RouteId1 IS NULL '
		  SET @sAllFilter=@sAllFilter +N'AND (RouteId='+CAST(@RouteId as NVARCHAR(4))+' OR '+' RouteId1= '+CAST(@RouteId as NVARCHAR(4))+' )'
		  SET @FilterForStudent = N' WHERE (TP.RouteId='+CAST(@RouteId as NVARCHAR(4))+' OR '+' TD.RouteId= '+CAST(@RouteId as NVARCHAR(4))+')'
	 END
	 
	 IF @StopId <>0
	 BEGIN
		  SET @sFilter= @sFilter+N' AND StopId='+CAST(@StopId AS NVARCHAR(5)) + N' OR StopId1='+CAST(@StopId AS NVARCHAR(5))
		  SET @sAllFilter=@sAllFilter +N'AND (StopId='+CAST(@StopId as NVARCHAR(4))+' OR StopId1='+CAST(@StopId as NVARCHAR(4))+' )'
		  SET @FilterForStudent = CASE WHEN @FilterForStudent = '' THEN ' WHERE ' ELSE @FilterForStudent + ' AND ' END + N' (TP.StopId='+CAST(@StopId as NVARCHAR(4))+' OR '+' TD.StopId= '+CAST(@StopId as NVARCHAR(4))+')'
	 END
	 
	 IF @ShiftId <>0
	 BEGIN
		  SET @sFilter= @sFilter+N' AND TransportShiftId='+CAST(@ShiftId AS NVARCHAR(5))	
		  SET @sAllFilter=@sAllFilter +N'AND (TransportShiftId='+CAST(@ShiftId as NVARCHAR(4))+' OR TransportShiftId1 = '+CAST(@ShiftId as NVARCHAR(4))+ ' )'
		  SET @FilterForStudent = CASE WHEN @FilterForStudent = '' THEN ' WHERE ' ELSE @FilterForStudent +' AND ' END + N' (TP.TransportShiftId='+CAST(@ShiftId as NVARCHAR(4))+' OR '+' TD.TransportShiftId= '+CAST(@ShiftId as NVARCHAR(4))+')'
	 END

	DECLARE @sQuery AS NVARCHAR(MAX)
	CREATE TABLE #tblTravelerPickup 
	(	
		UserId INT,
		Name NVARCHAR(500),	
		PickupTime NVARCHAR(100),
		DropTime NVARCHAR(100),
		TransportShiftId INT,
		TransportShiftName NVARCHAR(100),
		StopId INT,
		StopName NVARCHAR(100),
		RouteId INT,
		RouteName NVARCHAR(100),
		ClassName nvarchar(100)
	)	

	CREATE TABLE #tblTravelerDrop 
	(	
		UserId INT,
		Name NVARCHAR(500),	
		PickupTime NVARCHAR(100),
		DropTime NVARCHAR(100),
		TransportShiftId INT,
		TransportShiftName NVARCHAR(100),
		StopId INT,
		StopName NVARCHAR(100),
		RouteId INT,
		RouteName NVARCHAR(100),
		ClassName nvarchar(100)
	)	
 
	IF @IncludeNotAssociated = 1
	BEGIN
				SET	@sQuery =N'SELECT 							    
								ISNULL(tblUsersDetails.UserId,0)UserId,
								IsNULL(Name,N'''')as Name,																
								'''',
								'''',
								'''',
								'''',
								'''',
								'''',
								'''',
								'''',
								ClassName		
						   FROM #tblUsersDetails tblUsersDetails
						   WHERE	tblUsersDetails.UserId
						   NOT IN 
						   (
						   SELECT UserId 
						   FROM Transport.TravelerTransportDetails
						   WHERE SchoolId='+CAST(@SchoolId as NVARCHAR(5))+' 
						   AND AcademicYearId = '+CAST(@SchoolId as NVARCHAR(5))+' 
						   AND Is_Deleted = 0
						  )'  				
				 
	END
	ELSE
	BEGIN
	SET	@sQuery =N' SELECT 
						   ISNULL(tblUsersDetails.UserId,0)UserId,
						   IsNULL(Name,N'''')as Name,						  
						   ISNULL(RSTD.PickupTime,'''')as PickupTime,
						   ISNULL(RSTD.DropTime,'''')as DropTime,
						   ISNULL(SM.TransportShiftId,0)as TransportShiftId ,
						   ISNULL(SM.TransportShiftName,'''') as TransportShiftName,
						   ISNULL(SM1.StopId,0) as StopId,
						   ISNULL(SM1.StopName,N'''')as StopName,
						   ISNULL(RM.RouteId,0)as RouteId,
						   ISNULL(RM.RouteName,N'''') as RouteName,
						   tblUsersDetails.ClassName
			          FROM #tblUsersDetails  tblUsersDetails 
				INNER JOIN Transport.TravelerTransportDetails TTD WITH(NOLOCK)
						ON TTD.UserId=tblUsersDetails.UserId
				INNER JOIN Transport.RouteShiftTimingDetails RSTD WITH(NOLOCK)
						ON TTD.RouteTimingDetailsId=RSTD.RouteTimingDetailsId
				INNER JOIN  Transport.RouteShiftVehicleDetails RSVD WITH(NOLOCK)
						ON RSTD.RouteShiftVehicleDetailsId=RSVD.RouteShiftVehicleDetailsId
				INNER JOIN  Transport.ShiftMaster SM WITH(NOLOCK)
						ON RSVD.TransportShiftId=SM.TransportShiftId 
				INNER JOIN  Transport.VehicleMaster VM WITH(NOLOCK)
						ON RSVD.VehicleId=VM.VehicleId
				INNER JOIN Transport.RouteStopDetails RSD WITH(NOLOCK)
						ON RSVD.RouteStopId=RSD.RouteStopId
				INNER JOIN Transport.RouteMaster RM WITH(NOLOCK)
						ON RSD.RouteId=RM.RouteId
				INNER JOIN Transport.StopMaster SM1 WITH(NOLOCK)
						ON RSD.StopId=SM1.StopId 
					   AND TTD.Is_Deleted=0			 
			WHERE ( TTD.SchoolId IS NULL OR TTD.SchoolId='+CAST(@SchoolId as NVARCHAR(5))+')'+
			'AND  ( TTD.AcademicYearId IS NULL OR TTD.AcademicYearId='+CAST(@AcademicYearId as NVARCHAR(5))+')'+
			' AND TravelerTypeId = ''1'' '
						
			INSERT INTO #tblTravelerPickup	
			EXECUTE sp_executesql @sQuery				
			
			SET	@sQuery =N' SELECT 
				   
						   ISNULL(tblUsersDetails.UserId,0)UserId,
						   IsNULL(Name,N'''')as Name,				
						   ISNULL(RSTD.PickupTime,'''')as PickupTime,
						   ISNULL(RSTD.DropTime,'''')as DropTime,
						   ISNULL(SM.TransportShiftId,0)as TransportShiftId ,
						   ISNULL(SM.TransportShiftName,'''') as TransportShiftName,
						   ISNULL(SM1.StopId,0) as StopId,
						   ISNULL(SM1.StopName,N'''')as StopName,
						   ISNULL(RM.RouteId,0)as RouteId,
						   ISNULL(RM.RouteName,N'''') as RouteName,
						   tblUsersDetails.ClassName
			          FROM #tblUsersDetails  tblUsersDetails 
				INNER JOIN Transport.TravelerTransportDetails TTD WITH(NOLOCK)
						ON TTD.UserId=tblUsersDetails.UserId
				INNER JOIN Transport.RouteShiftTimingDetails RSTD WITH(NOLOCK)
						ON TTD.RouteTimingDetailsId=RSTD.RouteTimingDetailsId
				INNER JOIN Transport.RouteShiftVehicleDetails RSVD WITH(NOLOCK)
						ON RSTD.RouteShiftVehicleDetailsId=RSVD.RouteShiftVehicleDetailsId
				INNER JOIN Transport.ShiftMaster SM WITH(NOLOCK)
						ON RSVD.TransportShiftId=SM.TransportShiftId 
				INNER JOIN Transport.VehicleMaster VM WITH(NOLOCK)
						ON RSVD.VehicleId=VM.VehicleId
				INNER JOIN Transport.RouteStopDetails RSD WITH(NOLOCK)
						ON RSVD.RouteStopId=RSD.RouteStopId
				INNER JOIN Transport.RouteMaster RM WITH(NOLOCK)
						ON RSD.RouteId=RM.RouteId
				INNER JOIN Transport.StopMaster SM1 WITH(NOLOCK)
						ON RSD.StopId=SM1.StopId 
						AND TTD.Is_Deleted=0			 
			WHERE ( TTD.SchoolId IS NULL OR TTD.SchoolId='+CAST(@SchoolId as NVARCHAR(5))+')'+
			'AND  ( TTD.AcademicYearId IS NULL OR TTD.AcademicYearId='+CAST(@AcademicYearId as NVARCHAR(5))+')'+
			' AND TravelerTypeId = ''2'' '																
			
			INSERT INTO #tblTravelerDrop	
			EXECUTE sp_executesql @sQuery	
				
				SET	@sQuery =N'
				SELECT 				
						   CASE WHEN TP.UserId = 0 OR TP.UserId IS NULL THEN TD.UserId ELSE TP.UserId END as UserId,
						   CASE WHEN TP.Name = N'''' OR TP.Name IS NULL THEN TD.Name ELSE TP.Name END as Name,
						   ISNULL(TP.RouteName,N'''') as PickupRouteName,
						   ISNULL(TP.StopName,N'''') as PickupStopName,
						   ISNULL(TP.TransportShiftName,N'''') as PickupShiftName,
						   ISNULL(TP.PickupTime,'''')as PickupTime,
						   ISNULL(TD.RouteName,N'''')  as DropRouteName,
						   ISNULL(TD.StopName,N'''') as DropStopName,
						   ISNULL(TD.TransportShiftName,N'''') as DropShiftName,
						   CASE WHEN ISNULL(TD.StopName,N'''') = '''' THEN '''' ELSE ISNULL(TP.DropTime,'''') END as DropTime,
						   TP.ClassName
					  FROM #tblTravelerPickup TP			     
		   FULL OUTER JOIN #tblTravelerDrop TD
						ON TP.UserId = TD.UserId'+
						@FilterForStudent
	END					
		
	INSERT INTO #tblTransportDetails
	EXECUTE sp_executesql @sQuery	

    DECLARE @sQueryFinal  NVARCHAR(4000)
    
	SET @sQueryFinal = 'SELECT ROW_NUMBER() OVER (ORDER BY SSM.First_Name,SSM.Middle_Name,SSM.Last_Name) AS [Sr.No],		
								bsd.StudentName as [Student Name],
								SSM.Parent_Name as  [Parent F Name], 								
								SSM.Last_Name as [Parent L Name], 
								UM.Email_Address AS [Email Id], 
								SSM.Mobile_Number AS [Mob. No], 
								SSM.Mobile_Number2 AS [Alt Mob No], 
							    COALESCE(NULLIF(SAD.[HouseNo/PlotNo], '''') + '', '', '''') +
                                COALESCE(NULLIF(SAD.Landmark, '''') + '', '', '''') +
                                COALESCE(NULLIF(SAD.MainArea, '''') + '', '', '''') +
								COALESCE(NULLIF(SAD.SubareaName, '''') + '', '', '''') +
                                COALESCE(NULLIF(SAD.City, '''') + '', '', '''') +
                                COALESCE(NULLIF(SAD.Taluka, '''') + '', '', '''') +
                                COALESCE(NULLIF(SAD.District, ''''), '''') AS [Address - Line 1],
								'''' AS [Address - Area], 
								SSM.City, 
								SSM.Pincode AS [Pin code],	
								SSM.First_Name as [Student F Name], 							
								SD.Standard_Name AS Class, 
								SD.Division_Name AS Div, 
								YSD.Roll_No AS [Roll No], 
								SSM.Blood_Group AS [Blood Group], 
								TD.Pickup_Route_No AS [Pickup Route No], 
								TD.Pickup_Stop as [Pickup Stop],
								TD.PickupShift as [Pickup Shift],
								TD.Pickup_Time AS [Pickup Time],
								TD.Drop_Route_No AS [Drop Route No], 
								TD.Drop_Stop as [Drop Stop],
								TD.DropShift as [Drop Shift],
								TD.Drop_Time AS [Drop Time],
								SD.ClassName as [Class Name],
								FORMAT(SSM.Admission_Date,''dd-MMM-yyyy'') as [Admission Date]
						FROM    dbo.YearWise_Student_Details YSD
				  INNER JOIN	dbo.SchoolWise_Student_Master SSM 
						  ON    YSD.Student_Id = SSM.SchoolWise_Student_Id 
					INNER JOIN vW_bASEsTUDENTdETAILS bsd
							on ssm.Schoolwise_Student_Id = bsd.Schoolwise_Student_Id
					INNER JOIN StudentAdditionalDetails SAD
                            ON SAD.SchoolwiseStudentId=BSD.SchoolWise_Student_Id
				     INNER JOIN	dbo.vw_standard_division SD
					      ON    YSD.Standard_Id = SD.Standard_Id 
				         AND    YSD.Division_id = SD.Division_Id 
				  INNER JOIN    #tblTransportDetails TD 
				          ON    SSM.User_Id = TD.User_Id 
				  INNER JOIN    user_master UM
						  ON    SSM.User_Id = UM.User_Id
				       WHERE    (YSD.School_Id ='+ CAST(@SchoolId as NVARCHAR(5)) + ') 
				         AND	(YSD.Academic_Year_ID ='+ CAST(@AcademicYearId as NVARCHAR(5)) +') 
				         AND    (SSM.Is_Deleted = ''N'') 
				         AND    (YSD.Is_Deleted = ''N'') 
						  AND    (SAD.IsDeleted = 0) 
				         AND    (SSM.SchoolLeft_Date IS NULL)'
                      
                      
        --Optional Filters              
        IF(@StandardId IS NOT NULL AND @StandardId <> 0)		
			SET @sQueryFinal = @sQueryFinal + ' AND (SD.Standard_Id =' + CAST(@StandardId as NVARCHAR(5))+ ')'
		
		IF(@DivisionId IS NOT NULL AND @DivisionId <> 0)	
			SET @sQueryFinal = @sQueryFinal + ' AND (SD.Division_Id =' + CAST(@DivisionId as NVARCHAR(5))+ ')'
		
		IF(NOT @Criteria IS NULL OR @Criteria <> '')
			SET @sQueryFinal = @sQueryFinal +  + N' AND (SSM.First_Name LIKE N''%'+@Criteria+'%'' OR SSM.Middle_Name LIKE N''%'+@Criteria+'%'' OR SSM.Last_Name LIKE N''%'+@Criteria+'%'' OR SSM.Enrolment_Number LIKE N''%'+@Criteria+'%'')'
  
        EXECUTE sp_executesql @sQueryFinal
  
        DROP TABLE #tblTransportDetails              	
	
		DROP TABLE #tblUsersDetails
		DROP TABLE #tblTravelerPickup
		DROP TABLE #tblTravelerDrop	    
END
GO
