/****** Object:  StoredProcedure [dbo].[usp_InsertStudentsDetails]    Script Date: 8/25/2025 11:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  -- =============================================    
-- Author:  Sachin    
-- Create date: 20-Nov-2009    
-- Description: <Description,,>    
-- =============================================    
 -- =============================================    
-- Author:  RIT    
-- Create date: 29-Sep-2016   
-- Description: To add addditional details.   
-- =============================================    
ALTER PROCEDURE [dbo].[usp_InsertStudentsDetails]  
 @School_Id					INT,    
 @Academic_Year_Id			INT,    
 @Inserted_By_Id			INT,    
 @Standard_Id				INT,
 @DivisionId				INT,   
 @UserRoleId				INT = NULL,    
 @StudentDetails			XML,
 @AdmissionForCurrentYear	NVARCHAR,
 @IsStudentLocked			CHAR(1) = N'N',
 @KeyValue					BIT
 
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
 DECLARE @docHandle INT    
 DECLARE @IsNewlyCreated NVARCHAR=N'Y'

     BEGIN TRANSACTION
	BEGIN TRY

	--select @KeyValue = convert(bit, Value)
	--from SchoolSettings
	--where SchoolId = @School_Id
	--and AcademicYearId = @Academic_Year_Id
	--and IsDeleted = 0
	--and lower(Name) = 'autocalculateenrolmentno'
 
 IF(@IsStudentLocked = '')
	SET @IsStudentLocked = N'N'
	
 IF(@AdmissionForCurrentYear=N'Y')
	SET @IsNewlyCreated=N'N'
     
 SET @docHandle = 0    
    
 DECLARE @tblFormNumbers AS TABLE    
 (    
  Form_Number				NVARCHAR(50),    
  School_Id					INT,    
  Academic_Year_Id			INT,    
  Standard_Id				INT,      
  Inserted_By_Id			INT,    
  Updated_By_Id				INT,    
  User_Login				NVARCHAR(50),    
  User_Password				NVARCHAR(200)    
 )    
     
 --exec sp_xml_preparedocument @docHandle OUTPUT,@StudentDetails    
     
 INSERT INTO @tblFormNumbers    
    (    
		  Form_Number,    
		  School_Id,    
		  Academic_Year_Id,    
		  Standard_Id,     
		  Inserted_By_Id,    
		  Updated_By_Id,    
		  User_Login,    
		  User_Password    
    )    
    SELECT T.c.value('./@Form_Number','NVARCHAR(50)'),    
		   @School_Id ,    
		   @Academic_Year_Id ,    
		   @Standard_Id ,    
		   @Inserted_By_Id,    
		   @Inserted_By_Id,    
		   T.c.value('./@User_Login','NVARCHAR(50)'),    
		   T.c.value('./@User_Password','NVARCHAR(200)')    
      FROM @StudentDetails.nodes('StudentDetails/StudentDetails') T(c)         
      
 
   --SELECT * FROM @tblFormNumbers    
        
 DECLARE @tblSMS AS TABLE    
 (    
  StudentId			INT,    
  UserId			INT,    
  MobileNo			NVARCHAR(20),    
  DisplayText		NVARCHAR(100),    
  UserLogin			NVARCHAR(50),    
  UserPassword		NVARCHAR(200),
  Enrolment_Number  NVARCHAR(200),
  BirthCertificateScanCopyFileName NVARCHAR(200) 
    
 )          
        
    DECLARE @MaxRegNo NVARCHAR(50),    
            @Prefix NVARCHAR(50),    
			@MaxRollNo INT,    
			@StudentIdForYearwiseDetails INT,    
			@SchoolWise_Student_Id INT ,
			@EnrolmentPrefix NVARCHAR(100) = ''
        
    SET @MaxRegNo = 0    
    SET @MaxRollNo = 0    
    SET @StudentIdForYearwiseDetails = 0    
    SET @Prefix = N''  

	IF(@School_Id = 127) -- Shakuntal School Only
		BEGIN  

		SET @EnrolmentPrefix = ''

		SELECT TOP 1 @EnrolmentPrefix = ISNULL(RegNoPrefix,'')
			  FROM DivisionwisePrefixPostfix DW
		INNER JOIN Standard_Master SM
				ON DW.OriginalStandardId = SM.Original_Standard_Id
			   AND DW.SchoolId = SM.School_Id
			   AND DW.AcademicYearId = SM.academic_Year_Id
		INNER JOIN Division_Master DM
				ON DW.OriginalDivisionId = DM.Original_Division_Id
			   AND DW.SchoolId = DM.School_Id
			   AND DW.AcademicYearId = DM.academic_year_id
			 WHERE SchoolId = @School_Id
			   AND AcademicYearId = @Academic_Year_Id
			   AND IsDeleted = 0					   
			   AND Sm.academic_Year_Id = @Academic_Year_Id
			   AND SM.Is_Deleted = 'N'
			   AND SM.Standard_Id = @Standard_Id  
			   AND DM.Is_Deleted = 'N'
			   AND DM.Division_Id = @DivisionId  


			   IF(@EnrolmentPrefix <> '')
					BEGIN		
						 SELECT @Prefix = ISNULL(RegNos.Reg_No_Prefix,N''),
							    @MaxRegNo = RegNos.Reg_No 
						   FROM DivisionwisePrefixPostfix   
					 INNER JOIN Standard_Master SM
							 ON Sm.Original_Standard_Id = DivisionwisePrefixPostfix.OriginalStandardId
							AND SM.School_Id = DivisionwisePrefixPostfix.SchoolId
							AND SM.academic_Year_Id = DivisionwisePrefixPostfix.AcademicYearId 
					 INNER JOIN    
							(    
								SELECT ISNULL(DivisionwisePrefixPostfix.RegNoPrefix,'') AS Reg_No_Prefix,   
									   MAX(CONVERT(int, LTRIM(RTRIM(REPLACE(SchoolWise_Student_Master.Enrolment_Number, @EnrolmentPrefix,''))))) AS Reg_No    
								  FROM YearWise_Student_Details 
							INNER JOIN SchoolWise_Student_Master 
									ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id     
								   AND YearWise_Student_Details.School_Id = SchoolWise_Student_Master.School_Id 
							INNER JOIN Standard_Master 
									ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
								   AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
							INNER JOIN Division_Master 
									ON YearWise_Student_Details.Division_id = Division_Master.Division_Id 
							INNER JOIN DivisionwisePrefixPostfix
									ON Standard_Master.Original_Standard_Id = DivisionwisePrefixPostfix.OriginalStandardId
								   AND DivisionwisePrefixPostfix.OriginalDivisionId = Division_Master.Original_Division_Id
								   AND Division_Master.School_Id = DivisionwisePrefixPostfix.SchoolId
								   AND Division_Master.academic_year_id = DivisionwisePrefixPostfix.AcademicYearId
								   AND Standard_Master.School_Id = DivisionwisePrefixPostfix.SchoolId
								   AND Standard_Master.academic_year_id = DivisionwisePrefixPostfix.AcademicYearId
								 WHERE (YearWise_Student_Details.School_Id = @School_Id)  
								   AND SchoolWise_Student_Master.Enrolment_Number LIKE '%'+ @EnrolmentPrefix +'%'    
							  GROUP BY DivisionwisePrefixPostfix.RegNoPrefix        
							) AS RegNos          
					      ON ISNULL(DivisionwisePrefixPostfix.RegNoPrefix,N'') = ISNULL(RegNos.Reg_No_Prefix,N'')    
					     AND SM.Standard_Id = @Standard_Id
					     AND ISNULL(DivisionwisePrefixPostfix.RegNoPrefix,'') LIKE '%'+ @EnrolmentPrefix +'%' 

				END
			ELSE
				BEGIN	

							SELECT TOP 1 @EnrolmentPrefix = ISNULL(RegNoPrefix,'')
								  FROM DivisionwisePrefixPostfix
								 WHERE SchoolId = @School_Id
								   AND AcademicYearId = @Academic_Year_Id
								   AND IsDeleted = 0

																	   	
					  SELECT @Prefix = ISNULL(RegNos.Reg_No_Prefix,N''),
							 @MaxRegNo = RegNos.Reg_No 
						FROM Standard_Master    
								INNER JOIN    
								   (    
										SELECT ISNULL(Standard_Master.Reg_No_Prefix,'') AS Reg_No_Prefix,   
											   MAX(CONVERT(int, SchoolWise_Student_Master.Enrolment_Number)) AS Reg_No    
										  FROM YearWise_Student_Details 
													INNER JOIN SchoolWise_Student_Master 
														ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id     
														AND YearWise_Student_Details.School_Id = SchoolWise_Student_Master.School_Id 
													INNER JOIN Standard_Master 
														ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
														AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
													INNER JOIN Division_Master 
														ON YearWise_Student_Details.Division_id = Division_Master.Division_Id    
										 WHERE (YearWise_Student_Details.School_Id = @School_Id)  
										   AND SchoolWise_Student_Master.Enrolment_Number NOT LIKE '%'+ @EnrolmentPrefix +'%'    
									  GROUP BY Standard_Master.Reg_No_Prefix        
								   ) AS RegNos          
									ON ISNULL(Standard_Master.Reg_No_Prefix,N'') = ISNULL(RegNos.Reg_No_Prefix,N'')    
								   AND Standard_Id = @Standard_Id
								   AND ISNULL(Standard_Master.Reg_No_Prefix,'') NOT LIKE '%'+ @EnrolmentPrefix +'%' 
				END
		END
	ELSE
		BEGIN
			SELECT @EnrolmentPrefix = ISNULL(Reg_No_Prefix,'')
			  FROM Standard_Master
			 WHERE Standard_Id = @Standard_Id
			   AND Is_Deleted = 'N'	


		 IF @School_Id <> 18 OR (@School_Id = 18 AND @EnrolmentPrefix <> '' AND @EnrolmentPrefix IS NOT NULL)
		 BEGIN		 
			IF(@School_Id <> 132 AND @School_Id <> 133 AND @School_Id <> 138) --Except SPS School
				BEGIN
					  SELECT @Prefix = ISNULL(RegNos.Reg_No_Prefix,N''),
							 @MaxRegNo = RegNos.Reg_No 
						FROM Standard_Master    
								INNER JOIN    
								   (    
										SELECT ISNULL(Standard_Master.Reg_No_Prefix,'') AS Reg_No_Prefix,   
											   MAX(CONVERT(NUMERIC(18,2), LTRIM(RTRIM(REPLACE(SchoolWise_Student_Master.Enrolment_Number, @EnrolmentPrefix,''))))) AS Reg_No    
										  FROM YearWise_Student_Details 
									INNER JOIN SchoolWise_Student_Master
											ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id     
										   AND YearWise_Student_Details.School_Id = SchoolWise_Student_Master.School_Id 
									INNER JOIN Standard_Master 
											ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
										   AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
									INNER JOIN Division_Master 
											ON YearWise_Student_Details.Division_id = Division_Master.Division_Id    
										 WHERE (YearWise_Student_Details.School_Id = @School_Id)  
										   --AND SchoolWise_Student_Master.Enrolment_Number LIKE '%'+ @EnrolmentPrefix +'%' 
										   AND ((@EnrolmentPrefix <> '' and SchoolWise_Student_Master.Enrolment_Number LIKE '%'+ @EnrolmentPrefix +'%') or (@EnrolmentPrefix = '' and SchoolWise_Student_Master.Enrolment_Number NOT LIKE 'PP%' and SchoolWise_Student_Master.Enrolment_Number NOT LIKE 'SS%') )
										   AND SchoolWise_Student_Master.Enrolment_Number <> ''   
									  GROUP BY Standard_Master.Reg_No_Prefix        
								   ) AS RegNos          
									ON ISNULL(Standard_Master.Reg_No_Prefix,N'') = ISNULL(RegNos.Reg_No_Prefix,N'')    
								   AND Standard_Id = @Standard_Id
								   AND ISNULL(Standard_Master.Reg_No_Prefix,'') LIKE '%'+ @EnrolmentPrefix +'%' 
					END
				ELSE
					BEGIN
					  SELECT @Prefix = ISNULL(RegNos.Reg_No_Prefix,N''),
							 @MaxRegNo = RegNos.Reg_No 
						FROM Standard_Master    
								INNER JOIN    
								   (    
										SELECT ISNULL(Standard_Master.Reg_No_Prefix,'') AS Reg_No_Prefix,   
											   MAX(CONVERT(int, LTRIM(RTRIM(REPLACE(SchoolWise_Student_Master.Enrolment_Number, @EnrolmentPrefix,''))))) AS Reg_No    
										  FROM YearWise_Student_Details 
									INNER JOIN SchoolWise_Student_Master
											ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id     
										   AND YearWise_Student_Details.School_Id = SchoolWise_Student_Master.School_Id 
									INNER JOIN Standard_Master 
											ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
										   AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
									INNER JOIN Division_Master 
											ON YearWise_Student_Details.Division_id = Division_Master.Division_Id    
										 WHERE (YearWise_Student_Details.School_Id = @School_Id)  
										   AND SchoolWise_Student_Master.Enrolment_Number LIKE '%'+ @EnrolmentPrefix +'%'    
									  GROUP BY Standard_Master.Reg_No_Prefix        
								   ) AS RegNos          
									ON ISNULL(Standard_Master.Reg_No_Prefix,N'') = ISNULL(RegNos.Reg_No_Prefix,N'')    
								   AND Standard_Id = @Standard_Id
								   AND ISNULL(Standard_Master.Reg_No_Prefix,'') LIKE '%'+ @EnrolmentPrefix +'%' 
					END
			END
			ELSE
			BEGIN

				SELECT @Prefix = ISNULL(RegNos.Reg_No_Prefix,N''),
					 @MaxRegNo = RegNos.Reg_No 
				FROM Standard_Master    
						INNER JOIN    
						   (    
								SELECT ISNULL(Standard_Master.Reg_No_Prefix,'') AS Reg_No_Prefix,   
									   MAX(CONVERT(numeric(38,0), LTRIM(RTRIM(REPLACE(SchoolWise_Student_Master.Enrolment_Number, @EnrolmentPrefix,''))))) AS Reg_No    
								  FROM YearWise_Student_Details 
											INNER JOIN SchoolWise_Student_Master 
												ON YearWise_Student_Details.Student_Id = SchoolWise_Student_Master.SchoolWise_Student_Id     
												AND YearWise_Student_Details.School_Id = SchoolWise_Student_Master.School_Id 
											INNER JOIN Standard_Master 
												ON YearWise_Student_Details.Standard_Id = Standard_Master.Standard_Id 
												AND YearWise_Student_Details.Academic_Year_ID = Standard_Master.academic_Year_Id 
											INNER JOIN Division_Master 
												ON YearWise_Student_Details.Division_id = Division_Master.Division_Id    
								 WHERE (YearWise_Student_Details.School_Id = @School_Id)  
								 AND SchoolWise_Student_Master.SchoolLeft_Date IS NULL
								   AND SchoolWise_Student_Master.Enrolment_Number LIKE '%'+ @EnrolmentPrefix +'%'    
								   AND SchoolWise_Student_Master.Enrolment_Number NOT LIKE '%PP%'    
								   AND SchoolWise_Student_Master.Enrolment_Number <> ''
							  GROUP BY Standard_Master.Reg_No_Prefix        
						   ) AS RegNos          
							ON ISNULL(Standard_Master.Reg_No_Prefix,N'') = ISNULL(RegNos.Reg_No_Prefix,N'')    
						   AND Standard_Id = @Standard_Id
						   AND ISNULL(Standard_Master.Reg_No_Prefix,'') LIKE '%'+ @EnrolmentPrefix +'%' 
			END
	

			SET @MaxRegNo = REPLACE(@MaxRegNo,@Prefix,'')

			
			IF @School_Id = 71 -- PPSN
			BEGIN
				IF LTRIM(RTRIM(@EnrolmentPrefix)) = '' AND @MaxRegNo LIKE '%PP%'
				BEGIN
					SET @MaxRegNo = REPLACE(@MaxRegNo,'PP','')
				END
			END

		END	    

		
  DECLARE @User_Login			NVARCHAR(50),    
		  @User_Password		NVARCHAR(200),
          @EmailAddress			NVARCHAR(50) ,
	      @StudentAdmissionID	INT    
    
 
  SELECT @MaxRollNo = CASE WHEN MAX(Roll_No) IS NULL THEN 0 ELSE MAX(Roll_No) END  
    FROM YearWise_Student_Details 
   WHERE (School_Id = @School_Id) 
     AND (Academic_Year_ID = @Academic_Year_Id) 
	 AND (Standard_Id = @Standard_Id) 
	 AND (Division_id = @DivisionId) 
	 AND (Is_Deleted = 'N')      
      
   DECLARE @IsCurrentYear  NVARCHAR=N'Y'
	DECLARE @StartingDate DATETIME
	 
	select @IsNewlyCreated=Is_NewlyCreated,@IsCurrentYear=Is_Current_Year 
	  from SchoolWise_Academic_Year_Master 
	  WHERE (Academic_Year_ID = @Academic_Year_Id) AND (School_Id = @School_Id) AND (Is_Deleted = N'N')

	if (@IsNewlyCreated='Y')
			begin 
			   SELECT @StartingDate = StartDate   
				 FROM Standardwise_Academic_Year    
				WHERE (Academic_Year_ID = @Academic_Year_Id) AND (School_Id = @School_Id) AND (Is_Deleted = 0) AND (StandardId = @Standard_Id) 
			  end
    
   if (@IsCurrentYear='Y') 
		   begin
			  SELECT @StartingDate = dbo.GetLocalDate(default)  
			 FROM SchoolWise_Academic_Year_Master    
			WHERE (Academic_Year_ID = @Academic_Year_Id) AND (School_Id = @School_Id) AND (Is_Deleted = N'N') AND (Is_Current_Year =@IsCurrentYear)    
		  end


    DECLARE Student_Cursor CURSOR LOCAL FAST_FORWARD FOR        
    SELECT Form_Number, User_Login, User_Password FROM @tblFormNumbers    
        
    DECLARE @Form_Number NVARCHAR(50)    
	DECLARE @IdentityValue INT    
	DECLARE @MotherName NVARCHAR(50)        
    DECLARE @ParentName NVARCHAR(50)    
    DECLARE @ParentOccupation INT        
    DECLARE @OccupationDetails NVARCHAR(50)
	DECLARE @MaxChallanNo INT = 0
	DECLARE @IsForDayBoarding BIT = 0

	CREATE TABLE #AdmissionAdditnlDetailsforFather
	(
		StudentAdmissionID	INT,
		FatherOccupation	NVARCHAR(100),
		FatherQualification NVARCHAR(100),
		FatherEmail			NVARCHAR(100),
		FatherOfficeName	NVARCHAR(100),
		FatherAnnualIncome  DECIMAL(10,2),
		FatherAadharCardNo  NVARCHAR(50)
	)  

	 CREATE TABLE #AdmissionAdditnlDetailsforMother
	(
		StudentAdmissionID	INT,
		MotherOccupation	NVARCHAR(100),
		MotherQualification NVARCHAR(100),
		MotherEmail			NVARCHAR(100),
		MotherOfficeName	NVARCHAR(100),
		MotherAnnualIncome  DECIMAL(10,2),
		MotherAadharCardNo  NVARCHAR(50)
	)  

	DECLARE @RegNo NVARCHAR(100)

    OPEN Student_Cursor    
    FETCH NEXT FROM Student_Cursor    
    INTO @Form_Number,@User_Login,@User_Password    
   
      WHILE @@FETCH_STATUS = 0    
		BEGIN


	IF @KeyValue = 1
		BEGIN		
			SET @MaxRegNo = dbo.udf_GetAutoIncrementedEnrolmentNo(@School_Id,@Standard_Id)		
			SET @RegNo = @MaxRegNo
		END
	ELSE
		BEGIN

			SET @MaxRegNo = @MaxRegNo + convert(numeric(38,0),1)

			SET @RegNo = @Prefix+CAST(@MaxRegNo AS NVARCHAR(15))
		END 

	SET @MaxRollNo = @MaxRollNo  + 1 

	if @School_Id = 122
		BEGIN
			SELECT @MaxChallanNo = MAX(StudentChallanNo)
			  FROM SchoolWise_Student_Master
			 WHERE School_Id = @School_Id
			   AND Is_Deleted = 'N'
			   AND SchoolLeft_Date IS NULL
			   
			   SET @MaxChallanNo = @MaxChallanNo + 1	
		END
 
	SELECT @EmailAddress = EmailAddress,
	       @IsForDayBoarding = IsForDayBoarding
	  FROM Student_Admissions WITH(NOLOCK)
	 WHERE Student_Admissions.Form_Number = @Form_Number
	   AND (Student_Admissions.For_Standard = @Standard_Id) 
	   AND (Student_Admissions.Acedemic_Year_Id = @Academic_Year_Id) 
	   AND (Student_Admissions.School_Id = @School_Id)	
	   AND (Student_Admissions.Is_Deleted = 0)

	SELECT @StudentAdmissionID = Student_Admission_Id
	  FROM Student_Admissions WITH(NOLOCK)
	 WHERE Student_Admissions.Form_Number = @Form_Number
	   AND (Student_Admissions.For_Standard = @Standard_Id) 
	   AND (Student_Admissions.Acedemic_Year_Id = @Academic_Year_Id) 
	   AND (Student_Admissions.School_Id = @School_Id)	
	   AND (Student_Admissions.Is_Deleted = 0)
     
    SELECT @MotherName = Student_Admissions_Parent_Details.First_Name   
      FROM Student_Admissions 
				INNER JOIN Student_Admissions_Parent_Details 
					ON Student_Admissions.Student_Admission_Id = Student_Admissions_Parent_Details.Student_Admission_Id    
     WHERE (Student_Admissions_Parent_Details.Is_Deleted = N'N') 
	   AND (Student_Admissions.Is_Deleted = 0) AND (Student_Admissions.Form_Number = @Form_Number)     
       AND (Student_Admissions.For_Standard = @Standard_Id) 
	   AND (Student_Admissions.Acedemic_Year_Id = @Academic_Year_Id) AND (Student_Admissions.School_Id = @School_Id) 
	   AND (Student_Admissions_Parent_Details.Father_Or_Mother = N'M')    

 SELECT @ParentName = Student_Admissions_Parent_Details.First_Name+' '+Student_Admissions_Parent_Details.Middle_Name+' '+Student_Admissions_Parent_Details.Last_Name,    
		@ParentOccupation = Student_Admissions_Parent_Details.Occupation,     
        @OccupationDetails = Student_Admissions_Parent_Details.Occupation_Details    
   FROM Student_Admissions 
			INNER JOIN Student_Admissions_Parent_Details 
				ON Student_Admissions.Student_Admission_Id = Student_Admissions_Parent_Details.Student_Admission_Id    
  WHERE (Student_Admissions_Parent_Details.Is_Deleted = N'N') AND (Student_Admissions.Is_Deleted = 0) AND     
        (Student_Admissions.Form_Number = @Form_Number) AND (Student_Admissions.For_Standard = @Standard_Id) AND     
        (Student_Admissions.Acedemic_Year_Id = @Academic_Year_Id) AND (Student_Admissions.School_Id = @School_Id) AND     
        (Student_Admissions_Parent_Details.Father_Or_Mother = N'F')           
       
   INSERT INTO User_Master    
             (    
				[School_Id],    
				[User_Role_Id],                 
				[User_First_Name],    
				[User_Middle_Name],    
				[User_Last_Name],    
				[Email_Address],           
				[User_Login],           
				[User_Password],                 
				[Inserted_By_id],               
				[Updated_By_Id],
				[Is_Locked]    
             )      
   SELECT @School_Id,    
          @UserRoleId,          
          N'',    
          N'',    
          N'',   
          @EmailAddress,    
          @User_Login,     
          @User_Password,         
          @Inserted_By_Id,    
          @Inserted_By_Id,       
          @IsStudentLocked
      
  SELECT @IdentityValue = Scope_Identity()   

  IF @School_Id = 132 -- For SPS School only
  BEGIN
		DECLARE @No INT
		SELECT @No = MAX(CONVERT(INT,ENROLMENT_NUMBER))
		FROM SchoolWise_Student_Master
		WHERE School_Id = @School_Id

		IF @No IS NOT NULL AND @No >= 100000
		BEGIN
			SET @RegNo = @No + 1
		END
		ELSE
		BEGIN
			SET @RegNo = 100000
		END
  END

   IF @School_Id = 71 -- For PPSN School only
 
	BEGIN
			SET @RegNo = ''
		END
		

	DECLARE @IsDummyAdmission CHAR = 'N'
	IF EXISTS
	(
		SELECT TOP 1 1
		FROM SchoolWise_Academic_Year_Master WITH(NOLOCK) 
		WHERE SCHOOL_ID = @School_Id
		AND Is_Deleted = 'N'
		AND Is_FinalYear_Generated = 'Y'
		AND Is_NewlyCreated = 'N'
		AND Is_Current_Year = 'N'
		and Is_Close_Year = 'N'
	)
	BEGIN
		SET @IsDummyAdmission = 'N'
	END
	ELSE
	BEGIN
		IF @AdmissionForCurrentYear='N'
			SET @IsDummyAdmission = 'Y' 
	END

 IF (@School_Id <> 132 AND @School_Id <> 133 AND @School_Id <> 138 )
	BEGIN
		  INSERT INTO SchoolWise_Student_Master    
		  (    
				   AdmissionFormNo,    
				   Enrolment_Number,    
				   Salutation_Id,    
				   First_Name,    
				   Middle_Name,    
				   Last_Name,    
				   Mother_Name,    
				   User_Id,    
				   Sex,    
				   DOB,
				   Birth_Place,
				   Nationality,    
				   DateOfBirthInText,    
				   Parent_Name,    
				   Parent_Occupation,    
				   Other_Occupation,    
				   Address,    
				   City,    
				   Pincode,    
				   State,    
				   Residence_Phone_Number,    
				   Mobile_Number,    
				   Mobile_Number2,
				   Office_Number,    
				   Inserted_By_id,    
				   Updated_By_Id,    
				   CasteAndSubCaste,    
				   School_Id,    
				   Category_Id,    
				   Admission_Date, 
				   Joining_Date,  
				   Is_Dummy_Admission,    
				   Mother_Tongue,
				   LastSchoolName,
				   LastCompletedStd,
				   LastCompletedBoard,
				   IsRecognisedBoard ,
				   AadharCardNo,
				   NameOnAadharCard,
				   AadharCard_Photo_Copy_Path,
				   FormNumber,
				   StudentChallanNo ,
				    GRNumber,
                 StudentUniqueNo,
				 SaralNo,
				 IsOnlyChild,
				 Minority,
				 Blood_Group,
				 Photo_file_Path_Image,
				 PrePrimaryEnrolmentNumber,
				 CasteCertificate_Photo_Copy_Path
		  )      
			  SELECT Student_Admissions.Student_Admission_Id,    
					 @RegNo,       
					 Student_Admissions.Salutation_Id,    
					 Student_Admissions.First_Name,     
					 Student_Admissions.Middle_Name,     
					 Student_Admissions.Last_Name,    
					 @MotherName,    
					 @IdentityValue,    
					 Student_Admissions.Sex,    
					 Student_Admissions.DOB,
					 Student_Admissions.BirthPlace,
					 Student_Admissions.Nationality,
					 Student_Admissions.DOBInText,      
					 @ParentName,    
					 @ParentOccupation,    
					 N'',    
					 Student_Admissions.Address,    
					 Student_Admissions.City,    
					 Student_Admissions.Pincode,     
					 Student_Admissions.State,    
					 Student_Admissions.ResidancePhoneNumber,    
					 Student_Admissions.MobileNumber,    
					 MobileNumber2,    
					 Student_Admissions.OfficePhoneNumber,
					 @Inserted_By_Id,    
					 @Inserted_By_Id,          
					 Student_Admissions.Caste_Subcaste,    
					 @School_Id as School_Id,    
					 CASE WHEN @School_Id = 122 AND Student_Admissions.Category_Id IS NULL THEN 9 ELSE Student_Admissions.Category_Id END,    
					 dbo.GetLocalDate(DEFAULT),
					 @StartingDate, 
					 @IsDummyAdmission,
					 Student_Admissions.Mother_Tongue,
					 Student_Admissions.LastSchoolName,
					 Student_Admissions.LastCompletedStd,
					 Student_Admissions.LastCompletedBoard,
					 Student_Admissions.IsRecognisedBoard,
					 Student_Admissions.AadharCardNo,
					 Student_Admissions.NameAsPerAadharCard,
					 Student_Admissions.AadharCardScanCopy,
					 @Form_Number,
					 @MaxChallanNo,
					 '',
					 '',
					 SaralNo,
					 OnlyChild,
					 Minority,
					 BG.BloodGroup,
					 Student_Admissions.StudentPhotoImage,
					 NULL,
					 Student_Admissions.CasteCertScanCopy
				FROM Student_Admissions WITH(NOLOCK)    
	 LEFT OUTER JOIN BloodGroups BG
				  ON Student_Admissions.Blood_Group = BG.Id
				 AND BG.IsDeleted = 0
			   WHERE (Student_Admissions.School_Id = @School_Id) 
			     AND (Student_Admissions.Is_Deleted = 0)     
				 AND (Student_Admissions.Acedemic_Year_Id = @Academic_Year_Id)     
				 AND (Student_Admissions.For_Standard = @Standard_Id)    
				 AND (Student_Admissions.Form_Number = @Form_Number) 
		END
	
	ELSE
		BEGIN
			INSERT INTO SchoolWise_Student_Master    
			  (      
					   Enrolment_Number,    
					   Salutation_Id,    
					   First_Name,    
					   Middle_Name,    
					   Last_Name,    
					   Mother_Name,    
					   User_Id,    
					   Sex,    
					   DOB,
					   Birth_Place,
					   Nationality,    
					   DateOfBirthInText,    
					   Parent_Name,    
					   Parent_Occupation,    
					   Other_Occupation,    
					   Address,    
					   City,    
					   Pincode,    
					   State,    
					   Residence_Phone_Number,    
					   Mobile_Number,    
					   Mobile_Number2,
					   Office_Number,    
					   Inserted_By_id,    
					   Updated_By_Id,    
					   CasteAndSubCaste,    
					   School_Id,    
					   Category_Id,    
					   Admission_Date,    
					   Joining_Date,    
					   Is_Dummy_Admission,    
					   Mother_Tongue,
					   LastSchoolName,
					   LastCompletedStd,
					   LastCompletedBoard,
					   IsRecognisedBoard ,
					   AadharCardNo,
					   NameOnAadharCard,
					   AadharCard_Photo_Copy_Path,
					   FormNumber,
					   StudentChallanNo,
					   AdmissionSectionId,
					   GRNumber,
                       StudentUniqueNo,
					   PrePrimaryEnrolmentNumber
			  )
		SELECT @RegNo,
		       SalutationId,
			   Stu_First_Name,
			   Stu_Middle_Name,
			   Stu_Last_Name,
			   Mother_Fst_Name,
			   @IdentityValue,
			   Gender,
			   DOB,
			   '',
			   Nationality,
			   '',
			   Father_Fst_Name,
			   FatherOccupationId,
			   '',
			   Address,
			   '',
			   0,
			   '',
			   ResidencePhoneNo,
			   Father_Mob_No_1,
			   Mother_Mob_No_1,
			   OfficePhoneNo,
			   @Inserted_By_Id,
			   @Inserted_By_Id,
			   '',
			   @School_Id,
			   CategoryId,
			   dbo.GetLocalDate(DEFAULT),
			   dbo.GetLocalDate(DEFAULT),
			   'N',
			   '',
			   Current_School_Name,
			   '',
			   '',
			   0,
			   '',
			   '',
			   NULL,
			   '',
			   0,
			   AdmissionFor,
			   '',
			   '',
			   NULL
		  FROM SchoolEnquiryDetails WITH(NOLOCK)
		 WHERE SchoolId = @School_Id
		   AND Academic_Year_Id = @Academic_Year_Id 
		   AND Enquiry_No = @Form_Number
		END  
      
  SET @IdentityValue = 0    
  SELECT @IdentityValue = Scope_Identity()    
     SET @SchoolWise_Student_Id = @IdentityValue    
  
  IF @IdentityValue  IS NOT NULL    
  BEGIN 
     declare @SecondLanguageSubjectId INT, 
			 @ThirdLanguageSubjectId INT

	 select @SecondLanguageSubjectId = SecondLanguageSubjectId,
		 	@ThirdLanguageSubjectId =  ThirdLanguageSubjectId
    FROM Student_Admissions WITH(NOLOCK)    	
	WHERE (School_Id = @School_Id) 
		AND (Is_Deleted = 0)     
		AND (Acedemic_Year_Id = @Academic_Year_Id)     
		AND (For_Standard = @Standard_Id)    
		AND (Form_Number = @Form_Number) 

    INSERT INTO YearWise_Student_Details    
       (    
             [Student_Id],    
			 [School_Id],    
			 [Academic_Year_ID],    
			 [Standard_Id],    
			 [Roll_No],    
			 [Division_id],    
			 [Is_New_Student],    
			 [Rule_Id],       
			 [Inserted_By_id],          
			 [Updated_By_id],
			 [IsForDayBoarding],
			 [IsStaffKid],
			 SecondLanguageSubjectId,
			 ThirdLanguageSubjectId    
       )               
    SELECT @IdentityValue,    
           @School_Id,    
           @Academic_Year_Id,    
           @Standard_Id,    
           @MaxRollNo,    
           @DivisionId,    
           1,    
           0,    
           @Inserted_By_Id,    
           @Inserted_By_Id,
		   @IsForDayBoarding,
		   0 ,
		   @SecondLanguageSubjectId,
		   @ThirdLanguageSubjectId
        
    SELECT @StudentIdForYearwiseDetails = Scope_Identity()      
       
    INSERT INTO @tblSMS        
         SELECT @StudentIdForYearwiseDetails AS Student_Id, 
		        vw_GetAllStudentsForStandardDivision.User_Id,     
				vw_GetAllStudentsForStandardDivision.Mobile_Number,     
				vw_GetAllStudentsForStandardDivision.Name + N' (' + vw_GetAllStudentsForStandardDivision.Standard_Division_Name + N' - ' + vw_GetAllStudentsForStandardDivision.Enrolment_Number    
                + N')' AS DisplayText, User_Master.User_Login, User_Master.User_Password, vw_GetAllStudentsForStandardDivision.Enrolment_Number
				,vw_GetAllStudentsForStandardDivision.BirthCertificateScanCopyFileName   
		   FROM vw_GetAllStudentsForStandardDivision 
					INNER JOIN User_Master 
						ON vw_GetAllStudentsForStandardDivision.User_Id = User_Master.User_Id    
          WHERE (vw_GetAllStudentsForStandardDivision.SchoolWise_Student_Id = @SchoolWise_Student_Id) AND     
                (vw_GetAllStudentsForStandardDivision.Is_Deleted = N'N') AND (vw_GetAllStudentsForStandardDivision.School_Id = @School_Id) AND     
                (vw_GetAllStudentsForStandardDivision.Academic_Year_ID = @Academic_Year_Id) AND (User_Master.Is_Deleted = N'N')         
      
    --IF @IdentityValue IS NOT NULL    
    --BEGIN    
    --  EXEC USP_InsertFeeDetailsForStudent @SchoolId = @School_Id,@AcademicYrId = @Academic_Year_Id,@StudentId = @StudentIdForYearwiseDetails,@IsNewStudent = 1,@Rule_Id =0, @UpdatedById = @Inserted_By_Id          
    --  EXEC usp_InsertCautionMoneyDetails @iSchoolId = @School_Id,@iAcadmicYearId = @Academic_Year_Id, @iStandardId = @Standard_Id,@iYearwiseStudentId = @StudentIdForYearwiseDetails,@iInsertedByid = @Inserted_By_Id  
    --END    
IF(@School_Id <> 132 AND @School_Id <> 133 AND @School_Id <> 138)	-- Except SPS, SVP,SVNP School
	BEGIN
		UPDATE Student_Admissions    
		   SET IsConfirmed = 1    
         WHERE (School_Id = @School_Id) 
		   AND (Acedemic_Year_Id = @Academic_Year_Id) 
		   AND (Is_Deleted = 0) 
		   AND (Form_Number = @Form_Number)    
           AND (For_Standard = @Standard_Id) 
		      	
	END
ELSE
	BEGIN	
		UPDATE SchoolEnquiryDetails
		   SET IsConfirmed = 1
		 WHERE (SchoolId = @School_Id) 
		   AND (Academic_Year_Id = @Academic_Year_Id) 
		   AND (Is_Deleted = 'N') 
		   AND (Enquiry_No = @Form_Number)    
           AND (For_std = @Standard_Id)     
	END




	INSERT INTO #AdmissionAdditnlDetailsforFather
		 SELECT DISTINCT @StudentAdmissionID, 
				Ocupation_Master.Ocupation_Name, 
				Educational_Qualification, 
				EmailAddress, 
				Company_Name,
				AnnualIncome,
				AadharCardNumber
		   FROM Student_Admissions_Parent_Details 
LEFT OUTER JOIN Ocupation_Master 
             ON Student_Admissions_Parent_Details.Occupation = Ocupation_Master.Ocupation_Id
		  WHERE Student_Admissions_Parent_Details.Father_Or_Mother = 'F' 
		    AND Student_Admissions_Parent_Details.Student_Admission_Id = @StudentAdmissionID 
		    AND Student_Admissions_Parent_Details.Is_Deleted =N'N' 	

	INSERT INTO #AdmissionAdditnlDetailsforMother
		 SELECT DISTINCT @StudentAdmissionID, 
				Ocupation_Master.Ocupation_Name, 
				Educational_Qualification, 
				EmailAddress, 
				Company_Name,
				AnnualIncome,
				AadharCardNumber
		   FROM Student_Admissions_Parent_Details WITH(NOLOCK)
					LEFT OUTER JOIN Ocupation_Master 
						ON Student_Admissions_Parent_Details.Occupation = Ocupation_Master.Ocupation_Id
		  WHERE Student_Admissions_Parent_Details.Father_Or_Mother = 'M' AND Student_Admissions_Parent_Details.Student_Admission_Id = @StudentAdmissionID 
			AND Student_Admissions_Parent_Details.Is_Deleted =N'N'

	IF(@School_Id <> 132 AND @School_Id <> 133 AND @School_Id <> 138)	-- Except SPS, SVP,SVNP School
		BEGIN
			  INSERT INTO StudentAdditionalDetails
			  (
					  SchoolwiseStudentId,
					  Status,
					  AddmissionAcademicYear,
					  AddmissionStandard,
					  SchoolId,
					  IsHandicapped,
					  PreviousMarksObtained,
					  PreviousMarksOutOff,
					  PreviousYearOfPassing,
					  SubjectNames,
					  UpdatedById,
					  UpdateDate,
					  InsertedById,
					  InsertDate,
					  IsDeleted,
					  Religion,
					  BirthTaluka,
					  BirthDistrict,
					  [HouseNo/PlotNo],
					  MainArea,
					  SubareaName,
					  Landmark,
					  Taluka,
					  District,
					  FeeAreaName,
					  FatherOccupation,
					  FatherQualification,
					  FatherEmail,
					  FatherOfficeName,
					  FatherOfficeAddress,
					  MotherOccupation,
					  MotherQualification,
					  MotherEmail,
					  MotherOfficeName,
					  MotherOfficeAddress,
					  FatherAnnualIncome,
					  MotherAnnualIncome,
					  BirthState,
					  FatherAdharcardNo,
					  MotherAadharCardNo,
					  Name1,
					  Age1,
					  Institution1,
					  StandardName1,
					  Name2,
					  Age2,
					  Institution2,
					  StandardName2
					  ,ResidenceTypeId
					  ,PenNo
					  ,BirthCertificateScanCopyFileName
					  ,FatherAadharCardScanCopy
					  ,MotherAadharCardScanCopy
					   ,City
			  )
			SELECT @SchoolWise_Student_Id,
				   3,
				   @Academic_Year_Id,
				   SM.Standard_Name,
				   @School_Id,
				   0,
				   0,
				   0,
				   '',
				   '',
				   @Inserted_By_Id,
				   null,
				   @Inserted_By_Id,
				   dbo.GetLocalDate(DEFAULT),
				   0,
				   RLGM.Religion_Name,
				   StudentAdmissionAddtnlDetails.BirthTaluka,
				   StudentAdmissionAddtnlDetails.BirthDistrict,
				   House_Plot_Name,
				   MainAreaName,
				   SubAreaName,
				   LandMark,
				   Taluka,
				   District ,
				   FeeAreaName,
				   ADF.FatherOccupation,
				   ADF.FatherQualification,
				   ADF.FatherEmail,
				   ADF.FatherOfficeName,
				   Father_Offc_Addr,
				   ADM.MotherOccupation,
				   ADM.MotherQualification,
				   ADM.MotherEmail,
				   ADM.MotherOfficeName,
				   Mother_Offc_Addr,
				   ADF.FatherAnnualIncome,
				   ADM.MotherAnnualIncome,
				   BirthState,
				   ADF.FatherAadharCardNo,
				   ADM.MotherAadharCardNo,
				   SABASD.Name1,
				   SABASD.Age1,
				   SABASD.Institution1,
				   SABASD.StandardName1,
				   SABASD.Name2,
				   SABASD.Age2,
				   SABASD.Institution2,
				   SABASD.StandardName2,
				   STA.ResidenceTypeId,
				   STA.PenNo,
				   BirthCertificateScanCopyFileName ,
				   STA.FatherAadharCardScanCopy,
				   STA.MotherAadharCardScanCopy,
                   STA.City
			  FROM StudentAdmissionAddtnlDetails WITH(NOLOCK)
		INNER JOIN Student_Admissions AS STA 
				ON StudentAdmissionAddtnlDetails.StudentAdmissionId = STA.Student_Admission_Id
   LEFT OUTER JOIN #AdmissionAdditnlDetailsforFather AS ADF 
				ON STA.Student_Admission_Id = ADF.StudentAdmissionID
   LEFT OUTER JOIN #AdmissionAdditnlDetailsforMother AS ADM 
				ON STA.Student_Admission_Id = ADM.StudentAdmissionID
   LEFT OUTER JOIN Religion_Master AS RLGM 
				ON RLGM.Religion_Id = STA.Religion
   LEFT OUTER JOIN Standard_Master AS SM 
				ON STA.For_Standard = SM.Standard_Id
   LEFT OUTER JOIN StudentAdmissionBrotherAndSisterDetails SABASD
				ON SABASD.StudentAdmissionId = STA.Student_Admission_Id
			   AND SABASD.SchoolId = STA.School_Id
			 WHERE StudentAdmissionAddtnlDetails.StudentAdmissionId = @StudentAdmissionID
			   AND StudentAdmissionAddtnlDetails.SchoolId = @School_Id
			   AND StudentAdmissionAddtnlDetails.Academic_Year_Id = @Academic_Year_Id
			   AND STA.Is_Deleted = 0
		END
	ELSE
		BEGIN
			INSERT INTO StudentAdditionalDetails
			  (
					  SchoolwiseStudentId,
					  Status,
					  AddmissionAcademicYear,
					  AddmissionStandard,
					  SchoolId,
					  IsHandicapped,					  
					  UpdatedById,
					  UpdateDate,
					  InsertedById,
					  InsertDate,
					  IsDeleted,					  
					  FatherOccupation,					  
					  FatherEmail,					  
					  MotherOccupation,
					  MotherEmail,
					  MotherOfficeName,
					  MotherOfficeAddress
			  )
			SELECT @SchoolWise_Student_Id,
				   3,
				   @Academic_Year_Id,
				   SM.Standard_Name,
				   @School_Id,
				   0,				   
				   @Inserted_By_Id,
				   dbo.GetLocalDate(DEFAULT),
				   @Inserted_By_Id,
				   dbo.GetLocalDate(DEFAULT),
				   0,
				   '',
				   Email_Address,				   
				   '',
				   Email_Address,
				   '',
				   ''
			  FROM SchoolEnquiryDetails SED WITH(NOLOCK)
		INNER JOIN Standard_Master SM
				ON SED.For_std = SM.Standard_Id
			   AND SED.Academic_Year_Id = SM.academic_Year_Id
			   AND SED.SchoolId = SM.School_Id
		     WHERE SM.School_Id = @School_Id
			   AND SM.academic_Year_Id = @Academic_Year_Id
			   AND SM.Is_Deleted = 'N'
			   AND SED.Enquiry_No = @Form_Number
		END

	IF @IdentityValue IS NOT NULL    
		BEGIN    				
		  EXEC USP_InsertFeeDetailsForStudent @SchoolId = @School_Id,@AcademicYrId = @Academic_Year_Id,@StudentId = @StudentIdForYearwiseDetails,@IsNewStudent = 1,@Rule_Id =0, @UpdatedById = @Inserted_By_Id, @ChallanNo = @MaxChallanNo
		  EXEC usp_InsertCautionMoneyDetails @iSchoolId = @School_Id,@iAcadmicYearId = @Academic_Year_Id, @iStandardId = @Standard_Id,@iYearwiseStudentId = @StudentIdForYearwiseDetails,@iInsertedByid = @Inserted_By_Id  

		  IF @School_Id = 122
		  BEGIN
					EXEC dbo.[usp_UpdateStudentStreamDetails] @SchoolId = @School_Id, @AcademicYearID = @Academic_Year_Id, @FormNumber = @Form_Number, @YrStudentID = @StudentIdForYearwiseDetails
		  END

		END   
  END
      
   IF @School_Id = 18 AND EXISTS(
			Select Top 1 1 
				    from Student_Admissions SA
		      Inner join SchoolWise_Student_Master SSM
					on SA.Form_Number=SSM.FormNumber 
					where SA.Is_Deleted=0
					and SSM.Is_Deleted='N'
					and Acedemic_Year_Id=@Academic_Year_Id 
					and SA.School_Id=@School_Id
					And LivingLocationId=20
					and SSM.SchoolWise_Student_Id=@SchoolWise_Student_Id )
    BEGIN	              
		exec dbo.[usp_SaveRTEStudents] @SchoolId=@School_Id,@AcademicYearId=@Academic_Year_Id,@UpdatedById=@Inserted_By_Id,@StudentId=@SchoolWise_Student_Id,@Is_RTE_Student=0
    END

  DELETE FROM #AdmissionAdditnlDetailsforFather   
  DELETE FROM #AdmissionAdditnlDetailsforMother
  FETCH NEXT FROM Student_Cursor    
  INTO @Form_Number,@User_Login,@User_Password    
 END      
     
 CLOSE Student_Cursor    
 DEALLOCATE Student_Cursor

 
 TRUNCATE TABLE #AdmissionAdditnlDetailsforFather
 TRUNCATE TABLE #AdmissionAdditnlDetailsforMother
     
SELECT * 
  FROM @tblSMS
 

--raiserror('Test Error',16,1)

  COMMIT TRANSACTION
  END TRY
  BEGIN CATCH
	PRINT ERROR_MESSAGE()
	ROLLBACK TRANSACTION
  END CATCH
END

GO
